[2022-08-09 15:03] bobmatyas commented on #3991
I could replicate this on self-hosted, it isn't limited to just Atomic.

[2022-08-09 15:06] jamiepalatnik commented on #5602
Another report: 3547318-hc

Shared CSS workaround.

[2022-08-09 16:23] Robertght commented on #199
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I tested this with an iPhone 13 and Chrome, Firefox and Safari and I couldn't replicate it.
- As there have been no further reports since Dec 2019, I'm closing this. Please reopen if reocurrs.

📌 ACTIONS
- Closed as could not replicate, please reopen t

[2022-08-09 16:23] #199 closed

[2022-08-09 16:44] Robertght commented on #6351
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - no

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the issue happened as described. The key things to make sure you can replica is to have a sidebar and a wide alignmnent.
- Might be related to this https://github.com/Automattic/themes/issues/2059

📌 ACTIONS
- Transferred to XYZ external

[2022-08-09 16:48] Robertght commented on #6352
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Moved to themes as it's already in review: https://github.com/Automattic/themes/pull/6344

📌 ACTIONS
- Transferred to XYZ external repo: https://github.com/Automattic/themes/issues

[2022-08-09 16:53] dragstor opened #6353 "Baskerville 2: Buttons Block Transparent in the Editor"
## Steps to replicate

### Environment:
- Theme: `Baskerville 2`
- Simple site
- No additional (or relevant) CSS used
- Chrome 104.0.5112.79 (Official Build) (arm64)

### Steps
1. Add a new post
2. Add a Buttons block
3. Add some text to the button
4. Hover the mouse over it
5. Save Draft (or publish, it doesn't matter)
6. Check the preview/published post → the button is ok.

<br>

![image](https:

[2022-08-09 17:12] Robertght commented on #6355
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this on simple and AT sites, however, it's an issue with Seedlet as well as Spearhead is a child theme.

📌 ACTIONS
- Transferred to XYZ https://github.com/Automattic/themes/issues/

[2022-08-09 17:23] Robertght commented on #6356
Thank you @Jaykame !

[2022-08-09 17:27] pbking commented on #5809
The change for this can be found here: D85662-code

I looked at all of the themes changed in #4805 and only Zoologist and Quadrat seemed to need adjusting.

I have modified only the `en.json` version.  Do all languages need to be changed?

[2022-08-09 17:30] pbking commented on #6243
I rather think we should just close this one.  I don't think we have an option to NOT use shorthand in a few places, at least not without/until a Gutenberg change.  If anything this should be opened there I think (though I'm not sure exactly what the change should be... maybe including text-decoration-thickness as a Global Styles-able attribute?)

[2022-08-09 17:41] bobmatyas commented on #4904
@kathrynwp Did you try to replicate this one? I tested on a self-hosted site and Atomic and it appears resolved:

<img width="1420" alt="Screenshot on 2022-08-09 at 13-36-58" src="https://user-images.githubusercontent.com/45246438/183722751-948709bb-5571-469b-80e0-cada120c19ea.png">

[2022-08-09 17:42] #6323 closed, assigned to nobody

[2022-08-09 17:43] KirkwallDay opened #6376 "Archeo: Navigation Block can't add submenus if menu is more then one row"
### Quick summary

On the Archeo theme, if you have a navigation block that is more than one row, and then try to add a submenu option, the menu will not add, the + sign to add an item is non-responsive. Only happens on Atomic.

### Steps to reproduce

1. Have a site with the Archeo theme active.
2. Create a menu that uses atleast 2 rows.
3. Try to create a submenu from one of the menu items.
4. H

[2022-08-09 17:53] kathrynwp commented on #4904
@bobmatyas I did not try to replicate, I only added the missing tags when I happened to notice them while working on another project. :)

I just tested now on a Simple site, and it's fixed there as well. Since you already tested Atomic & self-hosted, I'll go ahead and close this now. Thanks!

[2022-08-09 17:53] #4904 closed, assigned to nobody

[2022-08-09 20:33] ChrisBocay commented on #6329
Hello,

I have now conducted a test to see if I could manually "override" this problem by using a custom HTML block instead of an Image block.

And that test worked well, as seen in the following screenshot, where the top image is produced by my custom HTML block, and where the bottom image is produced by WP's Image block.

![TwoImagesWithCaptions_LivePage](https://user-images.githubusercontent.co

[2022-08-10 08:11] edwinho89 commented on #6376
I see one easier workaround be to switch menu navigation into mobile, then add submenus which is working as expected.

<img width="1664" alt="image" src="https://user-images.githubusercontent.com/34882260/183848559-30db28cd-06db-4e59-a1d7-38db65564764.png">

[2022-08-10 09:05] beafialho commented on #6228
Sure @matiasbenedetto:

Both its styles and spacing form an edgy aesthetic perfect for those looking to build a quirky website.

![Club Screenshot](https://user-images.githubusercontent.com/65220155/183861828-f505014a-3a4e-43f4-8e4c-cc68242a46c3.png)

[2022-08-10 09:15] beafialho commented on #6220
We still don't have any style variations for Club. Maybe we can add them after the theme has launched?

[2022-08-10 11:30] kavyagokul commented on #6066
ANother one in 36410499-hc

Theme: Heiwa

[2022-08-10 11:46] matiasbenedetto commented on #6228
Thanks @beafialho!

[2022-08-10 12:48] galakhyati opened #6406 "Publication: Placement of the Featured image of the post using Blog Post block isn't considered"
### Quick summary

1. Activate the Publication theme
2. On a page add a Blog post block and show posts in a list view and image set up to 'Show media on top'.
3. View the page. It shows the image on right instead of on the top.

Editor screenshot:

![Markup on 2022-08-10 at 18:13:57](https://user-images.githubusercontent.com/7382505/183904322-90d82ea2-ed32-4673-a2f5-f56fe25a0cbf.png)

Screenshot:

[2022-08-10 13:01] ariel-maidana opened #6407 "[Theme] Alonso: Footer Credit reflects Customizer for AT sites, Site Editor for Simple sites"
### Quick summary

Changing the footer credit type from **Appearance ---> Customize ---> Footer credit** has no effect on simple sites with the Alonso theme.

### Steps to reproduce

1. Activate Alonso on a simple site.
2. Go to **Appearance ---> Customize ---> Footer credit** and change the footer credit type. For example, select the "WordPress.com logo", and save the settings.
3. Check the live

[2022-08-10 14:27] KirkwallDay opened #6408 "[Theme] Quadrat and variants - On AT sites, theme displays Site Title in UPPERCASE within the editor but as written on live site"
### Quick summary

Happens on Atomic only: Quadrat shows the site title in uppercase in the editor but not on the live site.

### Steps to reproduce

1. Have an atomic site using the Quadrat theme.
2. Check your site title in the editor, it will be in uppercase, even though the site title is not written that way in Settings > General
3. Check your site live.

### What you expected to happen

The s

[2022-08-10 15:39] #6228 closed, assigned to nobody

[2022-08-10 18:58] bobmatyas commented on #6249
@arunsathiya -

It seems like this is a design choice in Skatepark:

<img width="1492" alt="Screenshot on 2022-08-10 at 14-52-54" src="https://user-images.githubusercontent.com/45246438/183994263-7797b394-c2c9-4f47-8517-94676bbb0902.png">

The preview matches the frontend of the site. I think if a user wanted the to adjust the case, a CSS adjustment would be the way to go:

[code]

I couldn't repr

[2022-08-10 20:50] Gustavo-Hilario opened #6412 "Pendant: Specific category and tag pages are displaying all posts"
### Quick summary

When visiting a specific category or tag page like `domain.com/category/wordpress`, all posts are listed instead of only posts with this specific category: `WordPress`. The page below is an example:

https://costarica.groovytestsite.blog/category/block/ (test site)

### Steps to reproduce

1. Activate the`Pendant` theme.
2. Create a few posts with different tags and categories.

[2022-08-11 06:20] Elguayabero74 opened #6368 "Aprender"

[2022-08-11 06:31] alaczek opened #6369 "Blockbase: Space Mono font not loading on the front end"
## Steps to replicate
1. On a site running Blockbase, create a new post and add a heading.
2. In the typography settings select Space Mono as the font family.
3. Add a button below, and also select Space Mono as the font family.
4. The editor should properly apply the font.
5. Save and preview the post. On the front end, the heading and button are using the default font.
6. Switch to a different t

[2022-08-11 06:48] alaczek opened #6370 "Vivre: Button styles look off"
## Steps to replicate
1. On a site with Vivre theme add Buttons block to a post.
2. Inside create two buttons - one using the Fill style and one using the Outline style.
3. Note the button with Fill style doesn't have a background by default, which I expected based on the name.
4. The Outline style also looks off, because it has no padding between text and border.

## Expected

I expected the butt

[2022-08-11 12:55] madhusudhand opened #6374 "Club: issues tracker"
## list of issues

- [x] Button hover style and outline button are not working as expected.
![club-buttons](https://user-images.githubusercontent.com/1935113/184134512-8fef506c-8ea3-483f-b695-d8b8c57e251b.gif)

- [x] Post title should reduce one size (right now it has h1 size, design suggests h2 size)
- [ ] Navigation font is matching the designs, but when all pages added it wraps into multiple li

[2022-08-11 13:21] matiasbenedetto commented on #6374
In my opinion, reducing the font size would allow adding more items to the navigation block but it will not avoid the wrapping if the quantity of menu items grows too much. I think we would need @beafialho input here.

[2022-08-11 13:57] jamiepalatnik commented on #6376
📌 SCRUBBING
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested this with a long menu on an AT site. I noticed that the submenu dropdown has a black background so the + button was not visible, but it did still work. Here's a screenshot:

<img width="1137" alt="Submenu" src="https://user-images.githubusercontent.com/30788962/184150128-def94c7d-83db-47a6-982e-8adde13503ef.png">

This is a differ

[2022-08-11 15:03] beafialho opened #6377 "Club: Header improvements"
A few comments regarding the navigation items styling:

- Should be lowercase by default
- Should have `letter-spacing: -0.04em`
- Can we customize the arrow icon? It plays a role in making this theme rather different

| Test Site      | Mockups |
| ----------- | ----------- |
|  <img width="1512" alt="Captura de ecrã 2022-08-11, às 15 58 12" src="https://user-images.githubusercontent.com/652201

[2022-08-11 15:10] beafialho opened #6378 "Club: text decoration too thick"
Currently, the links underline is much thicker than the mockups. It would be nice if it's the same thickness, probably `1px`. This is important because the typography is already quirky, which defies readability so we should minimize elements that can add noise.

|   Theme    | Mockups |
| ----------- | ----------- |
|   <img width="1017" alt="Captura de ecrã 2022-08-11, às 16 05 18" src="https:/

[2022-08-11 15:28] beafialho opened #6379 "Club: Quote blocks improvements"
1. Currently, the pull quote is looking way too big. I added a mockup [here](https://www.figma.com/file/VtkA1u4mt9sWbZagxqhn93/Club?node-id=709%3A132) of how it should look instead.

| Theme      | Intended |
| ----------- | ----------- |
|  <img width="1478" alt="Captura de ecrã 2022-08-11, às 16 25 04" src="https://user-images.githubusercontent.com/65220155/184170355-67c21ab5-13f6-46eb-abab-90

[2022-08-11 15:51] matiasbenedetto commented on #6374
Most of the fixes for these issues are in: https://github.com/Automattic/themes/pull/6366
The fix around the buttons is in: https://github.com/Automattic/themes/pull/6380

[2022-08-11 16:16] pbking commented on #6374
I agree with @matiasbenedetto here.  4 or 5 navigation items fit pretty well and is more likely a scenario than what we test with. I don't think we should compromise the design for that unless there's grumbling about it.

[2022-08-11 16:32] #6261 closed, assigned to nobody

[2022-08-11 17:45] ktyfuller604 opened #6386 "Bantry Theme: Navigation Block lost padding between elements"
### Quick summary

Approximately a week ago the navigation block added to a page in the Bantry theme lost all padding between menu items.

### Steps to reproduce

1. Activate the Bantry theme
2. Edit a Page
3. Add a Navigation block to the page and choose a menu (classic or new, I did not see a difference)
4. Preview or View the page

### What you expected to happen

There should be spacing betwee

[2022-08-11 21:29] #6274 closed, assigned to nobody

[2022-08-12 02:50] #6368 closed

[2022-08-12 05:21] dev-sabbir opened #6383 "Argent: More button under Appearance > Customize > Colors & Backgrounds doesn't work"
## Steps to replicate
- Activate the Argent theme on a site with the Business plan and above.
- Navigate to Appearance > Customize > Colors & Backgrounds
- Click the More button to see more palettes

## Result
- Notice that the more button disappears, and there are no new palettes
- Also, `Pick a Background Pattern` section is not available
![Screen Capture on 2022-08-12 at 11-18-29 (1)](https://u

[2022-08-12 10:44] matiasbenedetto commented on #6243
I updated the title because I can confirm that isn't working with other WebKit browsers either.

![Screenshot from 2022-08-12 12-43-32](https://user-images.githubusercontent.com/1310626/184338783-0efad0ef-9853-454c-bb79-6a694abcedd1.png)

[2022-08-12 10:55] matiasbenedetto commented on #6378
I can confirm that this is happening in WebKit browsers (Safari and others) but not on Chrome or Firefox.

[2022-08-12 10:58] matiasbenedetto commented on #6243
I took this approach for Disco: https://github.com/Automattic/themes/pull/6384

[2022-08-12 11:36] matiasbenedetto commented on #6374
Resolved at https://github.com/Automattic/themes/pull/6366 and https://github.com/Automattic/themes/pull/6380

[2022-08-12 11:36] #6374 closed, assigned to matiasbenedetto

[2022-08-12 12:28] Robertght commented on #6386
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the no spacing part. From my investigation, it seems that the gap that inherits the gap value is "normal" on their site, but it used to be 8px before.

![image](https://user-images.githubusercontent.com/6737345/184354242-603f9731-eb89-4c

[2022-08-12 13:38] mikachan commented on #5809
Closing this as D85662-code has been deployed 🎉

[2022-08-12 13:38] #5809 closed, assigned to nobody

[2022-08-12 13:49] bobmatyas commented on #5189
This is an issue with the underlying Varia theme.

[2022-08-12 14:38] beafialho commented on #6378
You're right @matiasbenedetto, I saw that on Safari but not Chrome and Firefox.

[2022-08-12 14:49] #6378 closed, assigned to matiasbenedetto

[2022-08-12 17:49] bobmatyas commented on #3321
Can't reproduce this on self-hosted version of the theme.

[2022-08-12 18:01] bobmatyas commented on #5409
@Robertght This doesn't seem to be an issue anymore:

<img width="1284" alt="Screenshot on 2022-08-12 at 14-00-06" src="https://user-images.githubusercontent.com/45246438/184416854-28809bd7-bd9d-4484-bd94-e04347f431af.png">

I tested both on self-hosted and a simple site and could not reproduce. I think we can likely close this issue.

[2022-08-12 18:20] kerrynicl opened #6823 "[Block] Quote - Twenty Twenty One theme stylizes quote block with unexpected quotation mark icon"
### Quick summary

When adding a quote block to the twentytwentyone theme, an additional quotation mark is generated and is not editable
![Screen Capture on 2022-08-12 at 13-12-58](https://user-images.githubusercontent.com/83325600/184419224-11136763-4fb3-4aea-937d-e655f35f23fb.gif)

### Steps to reproduce

Switch to Twentytwentyone theme
Try adding a quote block to a page

### What you expected t

[2022-08-12 18:53] helenaartmann commented on #5606
Another report with the Pendand theme: 5474633-zd - the workaround above didn't work.

[2022-08-12 19:08] bobmatyas commented on #2437
@mrfoxtalbot I don't believe this one still needs fixing.

I tested on Varia, the original source of the issue, and it appears fine:

<img width="820" alt="Screenshot on 2022-08-12 at 15-04-38" src="https://user-images.githubusercontent.com/45246438/184426658-42c4e9f6-5c1d-44eb-b60b-2d84dd1753d3.png">

The Varia child theme Maywood was mentioned in the issue but that is also now working fine:

<im

[2022-08-12 20:51] #6377 closed, assigned to matiasbenedetto

[2022-08-12 21:20] jeffikus commented on #6276
#6359 has been merged and deployed. Closing this, if the button issue persists @vcanales please open up a separate issue. Thank you!

[2022-08-12 21:20] #6276 closed, assigned to vcanales

[2022-08-13 00:18] jamiepalatnik commented on #6195
Another report: 36434347-hc
User would like a follow-up: 5472612-zd-woothemes

[2022-08-13 14:44] csonnek opened #6391 "Quadrat White: Button Outline not affected by custom colors"
## Steps to replicate

Change the button colors in the full site editor but the default button styles persist.

<img src="https://d.pr/i/Xxxj9K+.jpg">

## Expected

User expected to have a dark blue button with no black outline or hover.

* User report: https://wordpress.com/forums/topic/button-elements-changed/?view=all

[2022-08-13 22:28] NoHopeRadio commented on #4826
This issue came up again and comes up not often, but occasionally. Enough that I've noticed it and gotten it mixed up with other Varia child theme color problems. I'm pretty sure the issue is that the primary color gets updated but the primary hover color does not. The code for the primary colors in the `_config-child-theme-deep.scss` is:

[code]

I was unable to find where in the code the primary

[2022-08-15 01:50] donalirl commented on #6195
Occurred in 36470426-hc and solved with this CSS:

[code]

Used `inherit` rather than declaring a specific color, to allow for different colors to be used in different Navigation blocks.

[2022-08-15 01:50] donalirl commented on #6195
Occurred in 36470426-hc and solved with this CSS:

[code]

Used `inherit` rather than declaring a specific color, to allow for different colors to be used in different Navigation blocks.

[2022-08-15 17:38] jeffikus opened #6393 "Club: Pre-launch: Demo Site"
Create the demo site on wordpress.com.

[2022-08-15 17:40] jeffikus opened #6394 "Disco: Pre-launch: Headstart Annotation"
Create Headstart Annotation.

@matiasbenedetto please pair with me on this.
@madhusudhand I'll try work out an overlapping time to pair on this with you as well.

[2022-08-15 17:42] jeffikus opened #6395 "Disco: Pre-launch: Showcase Entry"
@matiasbenedetto I'm happy to pair with you on this as well.

@beafialho would you be able to provide a devices mockup for Club for its showcase entry?

[2022-08-15 17:49] jeffikus commented on #6393
@beafialho do you have capacity to work on this this week?

[2022-08-15 18:21] jffng commented on #6393
I am happy to get it set up and then maybe @beafialho can review / edit the content as needed.

[2022-08-15 18:56] Thelmachido opened #6397 "Suggestions to make FSE better"
I am adding this on behalf of [audunmb](https://wordpress.org/support/users/audunmb/) from the review they shared on WP.og forums.

The main drawback of FSE is the missing responsive design options depending on the screen size. For example having different design options for mobile, tablet, or desktop mode like with other editors.

Additionally, it is a bit confusing or hard to realize how one can

[2022-08-15 18:58] Thelmachido opened #6398 "Suggestions to make FSE better"
I am adding this on behalf of [audunmb](https://wordpress.org/support/users/audunmb/) from the review they shared on WP.og forums.

The main drawback of FSE is the missing responsive design options depending on the screen size. For example having different design options for mobile, tablet, or desktop mode like with other editors.

Additionally, it is a bit confusing or hard to realize how one can

[2022-08-15 18:58] jffng commented on #6220
@jeffikus should we move this out of the to-do column, as there are no variations to create for now?

[2022-08-15 19:05] jeffikus commented on #6220
Yes, this is the ideal thing for the post launch tasks! Thanks for flagging this @jffng !

[2022-08-16 08:14] beafialho commented on #6395
Sure @jeffikus, here it is:

![club_devices](https://user-images.githubusercontent.com/65220155/184831280-44a104fb-87d7-49e5-81ca-122daf0cafe6.jpg)

[2022-08-16 08:15] beafialho commented on #6393
Yes, I can work on it. Thanks @jffng for the help!

[2022-08-16 10:40] #6379 closed, assigned to matiasbenedetto

[2022-08-16 14:00] i11za commented on #5345
One more report here: 5479054-zd-woothemes
Theme: Plane
User the workaround CSS.

[2022-08-16 14:29] beafialho opened #6404 "Club: Make post navigation lowercase"
Post navigation should be lowercase, as shown in the mockups and should say "previous post" and "next post".

| Demo Site      | Figma |
| ----------- | ----------- |
|    <img width="1355" alt="Captura de ecrã 2022-08-16, às 15 25 27" src="https://user-images.githubusercontent.com/65220155/184904715-52acd53b-499b-4c7f-a6f0-369831dea3ea.png">  |   <img width="1397" alt="Captura de ecrã 2022-08-16

[2022-08-16 14:40] mikeicode opened #6418 "Meraki: Footer text gets deleted with Attempt Block Recovery error"
### Quick summary

Meraki has a footer pattern which can be edited with FSE. This content gets deleted after a "Attempt Block Recovery" error appears after you edit other parts of the site.

### Steps to reproduce

- Activate Meraki on a simple site
- Edit the left and right column footer text using FSE:

![Screen Shot on 2022-08-16 at 10:18:54](https://user-images.githubusercontent.com/10353785/1

[2022-08-16 16:11] kathrynwp commented on #5409
Thanks, @bobmatyas, I re-tested and am not seeing this anymore either. Going ahead and closing it out.

[2022-08-16 16:11] #5409 closed, assigned to nobody

[2022-08-16 16:24] mikeicode commented on #5991
I'm going to reopen this since it's still happening for me (simple site). pdEkSe-106-p2

[2022-08-16 16:27] Joshgrygiel commented on #6406
📌 SCRUBBING
- Tested on P2 ❌
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm that on both Simple and AT sites the Featured Image of the Blog Posts Block continues to float to the right, regardless of where the image is set to appear:

![TopImageFloatsRight](https://user-images.githubusercontent.com/88345647/184

[2022-08-16 18:28] cuemarie commented on #6407
📌 SCRUBBING
- Tested on Simple ✴️
- Tested on AT ✴️
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- From my tests, it appears the Footer Credit is editable only by using the **Site Editor** on a simple test site (but not the Customizer), and only by using the **Customizer** on AT sites, and not the Site Editor.

**AT SITE**

On my AT site, I cannot see **Appearance > Customize**, but nav

[2022-08-16 18:47] cuemarie commented on #6408
📌 SCRUBBING
- Tested on Simple ✴️
- Tested on AT ✴️
- Tested on Self-hosted  ✴️
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Tested in AT, Simple, and Self-Hosted to compare results. I'm not sure what exactly here is intended behavior vs unexpected.
     - **Simple Site**: the editor and the live site default to UPPERCASE, making it impossible to have a site title with mixed case (as

[2022-08-16 23:22] supernovia commented on #5606
We have another report with Pendant here. Does this need a separate issue because it's a different theme, @mikachan ?
https://wordpress.com/forums/topic/categories-block-not-working-all-posts-showing/

[2022-08-17 10:00] dolgelukkig commented on #6066
Another report: 5482345-zd
Theme: Attar

Shared CSS as a workaround

[code]

[2022-08-17 11:21] mikachan commented on #5606
Yes, it would be best to have another issue for Pendant. We can use the same description, as it seems to be the same issue with the archive template.

[2022-08-17 14:24] beafialho commented on #6393
**Update:** The [demo site](https://clubdemo.wordpress.com) is ready.

[2022-08-17 14:25] #6393 closed, assigned to nobody

[2022-08-17 19:49] supernovia commented on #5606
Thanks! I've made a new issue here: https://github.com/Automattic/wp-calypso/issues/66659 (using the proper bug tools / procedures)

[2022-08-17 20:57] mikachan commented on #6246
These issues should all be addressed by https://github.com/Automattic/themes/pull/6284.

[2022-08-17 20:57] #6246 closed, assigned to nobody

[2022-08-17 20:57] pbking opened #6411 "Enable all wpcom themes to opt-in to `appearanceTools`"
Does a new `add_theme_support` need to be created to support this?

Can this be accomplished with a mu-plugin?

Can we limit this to Varia/Seedlet?

[2022-08-17 21:56] pbking commented on #6411
I started working on this by allowing [appearanceTools to be enabled via a theme support](https://github.com/WordPress/gutenberg/pull/43337).  With that in place we could then probably simply `add_theme_support( 'appearance-tools' );` in a mu-plugin or perhaps more carefully per-theme (adding it to Varia would cover a lot of ground).

[2022-08-18 04:58] Greatdane commented on #6412
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed, all posts show regardless of the category

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to Themes repo

[2022-08-18 08:10] mikachan commented on #6411
Thank you for working on this!

This is also what I was thinking (but doesn't mean it's the best way..) Looking at adding it to specific themes sounds like a good plan too, especially for submitting to dotorg.

[2022-08-18 13:20] jeffikus commented on #6411
Thanks for taking the initiative on this.

Could we not do a blanket mu-plugin approach for dotcom and then opt out on themes that report issues? We could still add the support for themes we ship to dotorg as well.

[2022-08-18 13:43] beafialho opened #6414 "Club: Rename theme screenshot and other images"
**Theme Screenshot**

![Disco Screenshot](https://user-images.githubusercontent.com/65220155/185409545-b7d16818-edf0-4e13-9aa2-71720ff3cf60.png)

**Showcase devices mockup**

![Disco](https://user-images.githubusercontent.com/65220155/185409838-f4b5a7ee-393a-418c-821d-95e12b16f9d2.jpg)

**Description**

_Disco is a funky, vibrant, opinionated theme with a monospaced font.
Both its styles and spaci

[2022-08-18 15:48] pbking commented on #6411
Yea.  My 'druthers would be to start with Varia themes and if there are no side effects ship the mu-plugin to update all the rest.  This way at least those Varia classic themes would be a public example of how to take advantage of the feature and give us a little time between "some known smallish number of themes" and "all the themes".

[2022-08-18 19:09] #6414 closed, assigned to matiasbenedetto

[2022-08-18 19:09] #6404 closed, assigned to matiasbenedetto

[2022-08-18 21:32] zachspears commented on #6823
I was able to successfully recreate this on both a Simple and Atomic site. Moving bug report forward.

[2022-08-19 01:55] happychait commented on #6194
Pendant theme doesn't have the option to set featured images for pages, but allows featured images for posts.

- [ ] 36530753-zen

[2022-08-19 04:16] jamiepalatnik commented on #6418
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate part of this issue—in my tests, multiple Attempt Block Recovery errors appeared in the footer on simple, AT, and self-hosted sites with Meraki installed and active even before I made any changes. But clicking Attempt Block Recovery did not d

[2022-08-19 08:59] miksansegundo opened #6419 "Misplaced closing HTML tag </main> in the homepage of Livro"
## Steps to identify

- Open the [homepage file](https://github.com/Automattic/themes/blob/e45c29a58ff57f4365509f0d1f78c45e9ef3ed04/livro/templates/home.html#L14) of the theme `Livro`
- Check that the closing HTML tag `</main>` is misplaced

## Result

[code]

## Expected

[code]

[2022-08-19 12:38] mikachan opened #6421 "Rainfall: Pre-launch Tasks"
These are the tasks required to launch Rainfall on wpcom:

- [x] Demo Site
- [x] Showcase Entry
- [x] Headstart Annotation (D91175-code)

[2022-08-19 15:36] #2437 closed

[2022-08-20 16:23] lizswafford commented on #6295
Related to this, (5485427-zen) there is the recommendation to change the wording Customizer > Additional CSS > Media Width to the following:

_Set a different media width for full-size images.
Default media width is 736 px.

To align your media perfectly with your text columns,
use a value of 756 px or greater._

[2022-08-21 02:22] danradigan commented on #658
Still see this issue as of 2022-08-19.  My image keeps getting cropped down to 144o which doesn't look great on widescreen montiors.

[2022-08-21 20:04] ccwalburn commented on #6295
Adding clarification that the recommendation from 5485427-zen was not specific to Baskerville 2. It is recommended for the verbiage for any theme that has the Media Width field on the Additional CSS screen in the Customizer.

See the ticket conversation for details on the confusion the current verbiage causes.

[2022-08-22 09:29] beafialho commented on #6421
Theme description:

_Rainfall is a clean, objective blogging theme strongly inspired by Swiss Design.
Its minimalist functionality is balanced by a strong accent color, beautiful photography and post templates with sidebars._

[2022-08-22 17:14] #6085 closed, assigned to nobody

[2022-08-22 17:14] #6419 closed, assigned to nobody

[2022-08-22 18:07] darnelldibbles commented on #6376
Another report here: https://wordpress.com/forums/topic/cant-add-navigation-submenus-on-archeo-theme/?view=all#post-3855624

[2022-08-22 18:24] bobmatyas commented on #5709
This doesn't appear to be an issue any longer. I tested using the steps provided above on WordPress.com and got the following result:

<img width="882" alt="Screenshot on 2022-08-22 at 14-22-49" src="https://user-images.githubusercontent.com/45246438/185992020-a77c7d09-5163-4740-8771-6ee5ceafd1d6.png">

I also confirmed that it doesn't happen on a self-hosted version of the theme.

I'm going to cl

[2022-08-22 18:24] #5709 closed, assigned to nobody

[2022-08-22 19:22] coder-karen opened #6427 "Oxford: Call to jetpack_has_site_logo causing occasional errors"
### Quick summary

Despite being a retired theme, periodically since January this year there have been some errors that may be coming from this theme. Only the most recent error alert was able to be investigated so it isn't clear if the previous alerts are related to the theme.

The line causing an error is line 444 of `/inc/logo.php`: `if ( ! jetpack_has_site_logo)() ) {`. This is within the `pri

[2022-08-22 20:14] KirkwallDay commented on #5693
[] - 3403165-hc another instance here. I fixed it with the following code:

[code]

[2022-08-23 05:42] hacchism commented on #6023
Another report: 36349207-hc

One thing I noticed is that this issue happens only when the custom width is set through the width setting:

![Screen Shot on 2022-08-23 at 14:40:34](https://user-images.githubusercontent.com/32432463/186078864-b0211b4c-f2b4-4ac5-a8f5-8a3b322b70d3.png)

[2022-08-23 09:46] beafialho opened #6430 "Rainfall: Add Front Page template"
In addition to Index, Rainfall should have a "Home" or "Front Page" template that [looks like the one on Figma](https://www.figma.com/file/oz0a2czNn0UNt9onrh8T5a/Rainfall?node-id=29%3A153):

I've attempted to create it but ran into some bugs and difficulties:

**1. Post titles seem to be offset everywhere. This should only happen in post templates and in the header.**

<img width="1372" alt="Captu

[2022-08-23 09:48] beafialho opened #6431 "Rainfall: "Menu" term should be the same size has site title"
Currently:

<img width="578" alt="Captura de ecrã 2022-08-23, às 10 46 58" src="https://user-images.githubusercontent.com/65220155/186127695-ad7cff29-0b86-4adb-88ec-40d388a1431e.png">

Intended:

<img width="437" alt="Captura de ecrã 2022-08-23, às 10 47 47" src="https://user-images.githubusercontent.com/65220155/186127802-9875dd51-0356-48b5-bff6-4503b41c1ca7.png">

[2022-08-23 09:51] beafialho opened #6432 "Rainfall: Quotes not looking like the design"
This is what a quote is looking like now:

<img width="664" alt="Captura de ecrã 2022-08-23, às 10 49 23" src="https://user-images.githubusercontent.com/65220155/186128129-10de02f8-bed5-4264-ae1b-acbf254e1821.png">

This is what it should look like:

<img width="645" alt="Captura de ecrã 2022-08-23, às 10 51 08" src="https://user-images.githubusercontent.com/65220155/186128586-08fb0265-df7a-41

[2022-08-23 09:58] beafialho opened #6433 "Rainfall: Featured Image shouldn't be full width on Single Post template"
Currently:
<img width="1332" alt="Captura de ecrã 2022-08-23, às 10 57 16" src="https://user-images.githubusercontent.com/65220155/186129829-18fe3656-4db7-4de8-924b-37da15b6f52b.png">

Intended:

<img width="1046" alt="Captura de ecrã 2022-08-23, às 10 57 24" src="https://user-images.githubusercontent.com/65220155/186129925-e86c26a0-c074-4e56-b986-b359245b791a.png">

It would be great if the f

[2022-08-23 13:11] Robertght commented on #6141
I can confirm this happens with Antonia and Russell as well. My guess is that it might also be related to the global styles and how they are defined on atomic, but I cannot confirm this.

My case is in 5494098-zen

@jeffikus @pbking can we prioritize this in the near future?

@cometgrrl sorry for the late reply here and thank you for bringing this up. Having a "Themes" option helps!

[2022-08-23 14:19] sharonlaker19 opened #6440 "Rockfield Theme: Button block getting a border that matches the text color"
### Quick summary

The Rockfield theme is automatically adding a border to the Buttons block.

![rockfield button](https://user-images.githubusercontent.com/71630911/186180432-e1d1f187-25d5-45c8-b025-4435c1d45d03.jpg)

### Steps to reproduce

1. Switch to the Rockfield theme.
2. Create a new page and add the Buttons block to it.

### What you expected to happen

I expected the Buttons block to hav

[2022-08-24 10:11] onuro commented on #6369
I'm having the same issue for almost any custom font families applied to headings.

[2022-08-24 10:51] csabarakasz opened #6447 "Pique - Border on the Social Icon block in the widget area"
### Quick summary

When adding a The Social Icons block and icon on the Pique theme, it automatically adds a border to it.
![J5FkNH6SK9JzjCmDwbF33OWZHJ6byrnVfkD83sXw.jpg](https://user-images.githubusercontent.com/84539773/186398949-9c4600d8-eaff-4db0-9c10-6a6fb11030e5.jpg)

This could be removed with CSS, but for free or Personal plans there is no workaround

When I add other blocks, the border is

[2022-08-24 11:30] simison opened #6436 "[Bug]: Lettre theme subscription input poor look at mobile"
### Quick summary

Subscription block doesn't render nicely on mobile view:

![Screenshot 2022-08-24 at 14 06 07](https://user-images.githubusercontent.com/87168/186407533-2d61c168-c3b3-41d2-9717-686c2b2b1e19.png)

### Steps to reproduce

1. Create site via https://horizon.wordpress.com/setup/?flow=newsletter
2. Observe mobile preview of theme at final step

### What you expected to happen

Render

[2022-08-24 13:56] jffng commented on #6436
Potential fix here: D86479-code

[2022-08-24 23:16] jerrysarcastic opened #6439 "Slideshow block does not display when added to templates in the site editor"
### Quick summary

Slideshow block displays correctly in the site editor (when editing theme templates) but is broken on the front end of the site when published.

### Steps to reproduce

- Edit page template in site editor to add slideshow block
- Observe that the block and slideshow images do display correctly in the editor view
- Publish the changes and view the template on the front end of the

[2022-08-24 23:30] jerrysarcastic commented on #5699
Also reported in https://wordpress.com/forums/topic/post-carousel-not-displaying-featured-images-2/

To add some detail, this is a simple site (not atomic) so there is no lazy load setting involved.  Here is how the carousel appears on the site:

<img width="1062" alt="Screenshot on 2022-08-24 at 16-28-06" src="https://user-images.githubusercontent.com/1967448/186541103-3898830d-117e-4977-9585-b01

[2022-08-25 01:14] noahtallen commented on #6194
The root cause is that the way theme support for this feature is added by core WordPress is incompatible with the way our public-api setup works. (Hence the problem only happens on simple sites, where the public-api exists.) For some context, `post-thumbnails` support is automatically added by core WordPress for any block-based theme as part of the `setup-theme` action.

More info here as we explo

[2022-08-25 05:57] Robertght commented on #6440
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - no

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted  - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm this happens however, it's unclear if this is a design decision or a bug.
**- Also, on Atomic sites, the color option doesn't seem to be respected.**

📌 ACTIONS

- Added to 'Themes' projec

[2022-08-25 08:51] yashitamittal11 commented on #6433
I started working on this issue. I made change to the rainfall/single.html template to test the fix on my localhost.

**Required changes**
This is the existing block markup for the Post Featured Image block -
``

I edited the markup to change the alignment to wide and moved the block markup inside the wp:group  tag so the layout CSS for wide width applies to the post featured image block.

Layout

[2022-08-25 09:46] sharonlaker19 commented on #6407
The ticket 5468239-zen came out of hold. I've recommended a few similar themes for their review.

[2022-08-25 10:12] mikachan commented on #6433
Hey @yashitamittal11, thanks so much for looking into this!

Looking at this issue, I believe we just need to replace the featured image markup with the 'align wide' version:

[code]

If we also move the image into the group block, the image does not align with the post title or date:

![image](https://user-images.githubusercontent.com/1645628/186637867-0a42b3a7-4d8f-4acd-af6d-5772eb1a2023.png)

T

[2022-08-25 11:01] yashitamittal11 commented on #6433
Thanks @mikachan, initially I tested by replacing the featured image markup with the 'align wide' version, but it didn't work for me.

![rainfall-debug](https://user-images.githubusercontent.com/21078987/186647625-995dfdf8-6094-4775-a542-bbd0fc55a8dc.png)

This is the first time I am working on the block theme code. Do let me know if I am missing anything. Thank you!

[2022-08-25 12:35] ClassicRKR27 opened #6448 "Varia[Exford, Alves, Shoreditch, etc]: Secondary Color option changes navigation colors in Page Editor"
### Quick summary

A customer reported that it was difficult to see some of the menu options in the page editor; after some testing, I found that this seems to be an issue with only `AT sites` using the `Exford` theme (I tried some of the other `Varia` themes but couldn't replicate the issue on those).

### Steps to reproduce

1. Set the theme of an AT site to Exford
2. Change the secondary color

[2022-08-25 15:24] Jaccuse commented on #155
Another case in 35851604-hc, turning off lazy loading removed the duplicate images

[2022-08-25 17:57] ClassicRKR27 commented on #5602
Another report for Skatepark: 36629405-hc

CSS workaround did the trick, user was happy with the result

[2022-08-25 18:54] jeffikus commented on #6395
I've updated the showcase entry with the above image.

[2022-08-26 05:29] #6351 closed, assigned to nobody

[2022-08-26 05:30] #5242 closed, assigned to nobody

[2022-08-26 10:13] mikachan commented on #6433
Hmm, it would be good to get to the bottom of this, and perhaps find out why you couldn't see the align wide version.

I think you're in a good place to learn! 🎉 For things like this issue, I'd suggest opening a PR in this repo with your proposed changes. That way, it's easier for us to comment on specific lines of code and hopefully see where you may be having issues on your side.

[2022-08-26 22:10] noahtallen commented on #6194
This issue should be resolved in production 👍 (Fix: D86721-code)

[2022-08-26 22:10] #6194 closed, assigned to nobody

[2022-08-27 15:42] csonnek commented on #6433
We have a user in the forums having the exact same issue with the Russell theme: https://wordpress.com/forums/topic/how-can-i-make-the-featured-photo-in-russell-theme-smaller-size-i-upload/?view=all

They post portrait photos and on the single post template the images are enormous:

Example: https://jadenicolebeals.com/2022/08/26/a-new-song-in-my-ears-sketching-til-noon-i-raised-the-chandelier/

L

[2022-08-27 17:51] jamiepalatnik commented on #6386
I can reproduce this for some other themes as well, including Alves and Exford.

User report: 5508103-zd-woothemes

Suggested CSS (upgrade required) or switching to a different theme as a workaround.

[2022-08-28 05:40] kuropixel commented on #2888
5496428-zd

Encountered this on a non-homepage page.

[2022-08-28 11:25] kspilarski opened #6449 "Gazette Theme: Sidebar shows a blank space even there are no widgets"
### Quick summary

Using the Gazette theme, even there are no widgets in the sidebar, the sidebar remains and displays a blank space.

### Steps to reproduce

1. Activate Gazette theme.
2. Add a widget in the sidebar and save.
3. Open a post - the sidebar widget will appear.
4. Remove the sidebar widget and save.
5. Open the post again, the sidebar widget will be removed but the sidebar space rema

[2022-08-29 08:33] tommusrhodus opened #6446 "[Bug]: `shoreditch_background_image()` throws a notice if image not found"
### Quick summary

This is a little bit of an edge case, but only requires a small amount of error handling to resolve. On line:

https://github.com/Automattic/themes/blob/bbbc50e415a1fd60802f02380d6c356136f37ec9/shoreditch/inc/extras.php#L60

A notice is thrown if the image has not returned an array. This function call is generally wrapped in checks for `the_post_thumbnail()`, but I'm seeing this

[2022-08-29 12:16] Robertght commented on #6447
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - no

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate this.
- Moving this to themes

📌 ACTIONS
- Marked as Themes
- Transferred to XYZ external repo: https://github.com/Automattic/themes/

[2022-08-29 12:33] Robertght commented on #6448
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - yes, but couldn't replicate

📌 FINDINGS/SCREENSHOTS/VIDEO
- Alves has the same issue.
- Varia on the other hand uses the Link color option to highlight the buttons from the dashboard and others like Shoreditch use the Headers and Links one.

[2022-08-29 13:10] Robertght commented on #6449
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the behavior and couldn't find a workaround except by using CSS code.

📌 ACTIONS
- Added to 'Themes' project board
- Transferred to https://github.com/Automattic/themes

[2022-08-29 13:45] jffng commented on #6395
This is done.

[2022-08-29 13:45] #6395 closed, assigned to nobody

[2022-08-29 15:08] jp-imagines opened #6496 "Homestore theme: Below Header widgets overlap breadcrumb links"
### Quick summary

The Homestore theme (and possibly Storefront or its other child themes) displays the "Below Header" widget area widgets just above _and on top of_ the breadcrumb trail. This makes it impossible to click on the breadcrumb links to navigate through relevant shop pages.

### Steps to reproduce

1. Activate _Homestore_ on your site.
2. Add a widget to the "Below Header" area at _App

[2022-08-29 16:27] metabreakr opened #6497 "Stewart: Query loop "Make title a link" post title block does not respect font and heading sizes"
### Quick summary

When using the Stewart theme, the post title block's font size cannot be changed when it is hyperlinked.

https://user-images.githubusercontent.com/39252765/187250194-c1bde337-7a80-4819-9f2f-04db6e4ade6d.mp4

This might be vaguely related to https://github.com/Automattic/themes/pull/5614

### Steps to reproduce

1. Activate the Stewart theme
2. Visit Appearance → Editor and sele

[2022-08-30 09:27] kavyagokul commented on #151
Also reported in 36685565-hc

Theme: Toujours
Language: zh-tw
Workaround: CSS

[code]

[2022-08-30 09:36] madhusudhand opened #6451 "Pixel: Block Patterns"
Add following block patterns:

- [ ] Posts list (used in index, archive and search templates)

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi
<img width="414" alt="image" src="https://user-images.githubusercontent.com/1935113/187416334-4197a7f2-c8bb-4f8b-83af-6bb228aa9d46.png">

[2022-08-30 09:36] madhusudhand opened #6452 "Pixel: Create Base Theme"

[2022-08-30 09:36] madhusudhand opened #6453 "Pixel: Styles: Colors"
Match theme colors.

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="1088" alt="image" src="https://user-images.githubusercontent.com/1935113/187414614-3224d9bb-58de-477d-831d-2634d6b4505e.png">

[2022-08-30 09:36] madhusudhand opened #6454 "Pixel: Styles: Typography — Sizes & Weights"
Update Typography settings:

Scope:
* Font Weight
* Font Size (Fluid typography)

Blocks:
* Paragraphs
* Headdings
* Site-title
* Post-title

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="997" alt="image" src="https://user-images.githubusercontent.com/1935113/187415270-28a408b8-89d4-40e7-8aa1-35c4b0be26e4.png">

[2022-08-30 09:36] madhusudhand opened #6455 "Pixel: Styles: Typography — Letter Spacing & Line Height"
Update following typography settings.

* Letter spacing
* Line height

**For**
* Headings
* Paragraphs
* Site-title
* Post-title

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

[2022-08-30 09:36] madhusudhand opened #6456 "Pixel: Styles: Links"
Update link styles.

Blocks:
* links
* site-title
* post-title

States:
* default
* hover
* focus
* active

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="985" alt="image" src="https://user-images.githubusercontent.com/1935113/187423776-f776639f-5769-4caf-a9b3-46ae7fb1158c.png">

[2022-08-30 09:36] madhusudhand opened #6457 "Pixel: Styles: Buttons"
Update button styles.

Button double borders (box-shadow) can be configured in theme.json. Related GB feature: https://github.com/WordPress/gutenberg/pull/41972

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="954" alt="image" src="https://user-images.githubusercontent.com/1935113/187423494-2bd4c6cb-3e8b-4abc-991a-8d74749c32fb.png">

[2022-08-30 09:36] madhusudhand opened #6458 "Pixel: Styles: Layout"
Update spacing and layout styles.

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

[2022-08-30 09:37] madhusudhand opened #6459 "Pixl: Styles: Comments"
Update comments block styles.

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="704" alt="image" src="https://user-images.githubusercontent.com/1935113/187422199-da9b8513-ba20-43c5-a9d0-8cecf843e3f9.png">

And update the font settings of the comments block.

Current state:
<img width="698" alt="image" src="https://user-images.githubusercontent.com/1935113/188449764-6fe70da9-abbb-414c-99f1-4a9366c575

[2022-08-30 09:37] madhusudhand opened #6460 "Pixel: Styles: Navigation"
Match Navigation menu with designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

* Large screens
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/1935113/187419679-4bf9afd5-dcce-4ee4-8cfa-b38026bbf1ea.png">

* Small and medium screens
<img width="266" alt="image" src="https://user-images.githubusercontent.com/1935113/187419748-a94edac7-494c-4b57-9d48-95c77ca0a71f.png">

[2022-08-30 09:37] madhusudhand opened #6461 "Pixel: Styles: Quote"
Update quote pattern.

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="472" alt="image" src="https://user-images.githubusercontent.com/1935113/187421927-a35ce70f-aa1a-4a69-8f27-b2fba6038641.png">

[2022-08-30 09:37] madhusudhand opened #6462 "Pixl: Styles: Variations"
- [x] Yellow
- [x] Lime
- [x] Pink
- [x] Red
- [x] Blue
- [x] Magenta

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="954" alt="image" src="https://user-images.githubusercontent.com/1935113/187422857-767012b3-a0bf-4df4-bacc-dc3066b27d2c.png">

[2022-08-30 09:37] madhusudhand opened #6463 "Pixel: Templates: Search, Category, Tag"
Update Search and Archive templates.

Use the posts-list pattern from here: #6451

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

![image](https://user-images.githubusercontent.com/1935113/187421523-d53b8f1e-0359-484e-b63e-edd323fda9e7.png)

[2022-08-30 09:37] madhusudhand opened #6464 "Pixel: Templates: 404"
Update 404 template pattern.

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

![image](https://user-images.githubusercontent.com/1935113/187421259-f6e8eded-7b85-40de-93aa-d3c261d7630b.png)

[2022-08-30 09:37] madhusudhand opened #6465 "Pixel: Templates: Single"
Update single page template.
Comments block styles will be done here #6459

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

![image](https://user-images.githubusercontent.com/1935113/187420654-caf21417-5b57-42da-b20c-6c6b262fd7d3.png)

[2022-08-30 09:37] madhusudhand opened #6466 "Pixel: Templates: Page"
Update page template.

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

![image](https://user-images.githubusercontent.com/1935113/187420974-9d88883c-cbf6-40de-826e-e9a0b0f1e032.png)

[2022-08-30 09:37] madhusudhand opened #6467 "Pixel: Templates: Index"
Update index template.

Use the Posts list pattern from #6451

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

![image](https://user-images.githubusercontent.com/1935113/187420234-a9521a4b-b89e-4f69-8f05-02637845c2e7.png)

[2022-08-30 09:37] madhusudhand opened #6468 "Pixel: Templates: Header template part"
Update header template.

Design: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="629" alt="image" src="https://user-images.githubusercontent.com/1935113/187417100-a88ef045-f352-49d1-b20c-0fc16accdecc.png">

[2022-08-30 09:37] madhusudhand opened #6469 "Pixel: Templates: Footer template part"
Update Footer template.

Designs: Cm51iCQSPu8Ar1qufDTeOQ-fi

<img width="1025" alt="image" src="https://user-images.githubusercontent.com/1935113/187417363-f6ec2509-c684-4fd1-a240-fd8ee6b8a575.png">

[2022-08-30 09:37] madhusudhand opened #6470 "Pixl: Pre-launch: Screenshot, readme.txt & description"

[2022-08-30 09:40] madhusudhand opened #6471 "Pixl: Pre-launch: Demo Site"

[2022-08-30 09:40] madhusudhand opened #6472 "Pixl: Pre-launch: Showcase Entry"

[2022-08-30 09:40] madhusudhand opened #6473 "Pixl: Pre-launch: Headstart Annotation"
Review: D89021-code

[2022-08-30 10:25] #6452 closed, assigned to madhusudhand

[2022-08-30 12:14] madhusudhand opened #6476 "[Bug]: Gardening task is failing when there is no content in the issue"
### Quick summary

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/1935113/187433446-6303c727-c65a-4b41-baad-055dc1bd3124.png">

### Steps to reproduce

Create an issue without content. Observe that task is failing.

### What you expected to happen

Task should run without errors.

### What actually happened

Task failed with error.
gather-support-references: Getting r

[2022-08-30 16:55] mikachan opened #6477 "Consider updating all block themes to use new layout setting"
### Quick summary

Now that https://github.com/WordPress/gutenberg/pull/42763 has been merged, we should consider updating all block themes to use the new layout setting.

The templates should be updated to use the new layout setting for container blocks:

- `"layout":{"type":"constrained"}`: Inner blocks have wide and full width options. Replaces `layout":{"inherit":true}`
- `"layout":{"type":"de

[2022-08-30 18:16] #6468 closed, assigned to madhusudhand

[2022-08-30 21:15] pbking commented on #6477
How long would the "old format" be supported?  Does leaving older themes alone make sense?

Does changing the configuration change the user experience in any way?

This would have to be a post-6.1 change right?

If the above checks out I suggest instead we target specific themes (Block Canvas for sure, Blockbase, and perhaps any theme made in the last couple of months).

[2022-08-30 21:17] #155 closed

[2022-08-30 21:24] #4430 closed, assigned to nobody

[2022-08-30 21:32] #5989 closed, assigned to nobody

[2022-08-30 21:45] #3813 closed, assigned to nobody

[2022-08-30 21:54] #6406 closed, assigned to nobody

[2022-08-30 21:57] #6453 closed, assigned to nobody

[2022-08-31 04:26] hirakujira opened #6482 "[Bug]: Cannot overwrite margin-left and margin-right for cover block"
### Quick summary

Can't overwrite css of the cover block. Tested in Geologist theme

### Steps to reproduce

1. Install the Geologist theme
2. Add a cover block
3. Try to custom global css of `margin-left` or `margin-right`
4. It doesn't work

The reason is that the `polyfill.css` set these two attributes as `!important` and loads after the global css

[code]

### What you expected to happen

I c

[2022-08-31 14:12] Robertght opened #6485 "Pendant: Search template showing up results due to "Inherit query from template" being OFF by default"
### Quick summary

_No response_

### Steps to reproduce

1. Activate Pendant
2. Check the Search template

### What you expected to happen

When I search for something to receive the relevant results

### What actually happened

The "Inherit query from template" is OFF by default, so we ended up with the same Query Loop content

### Context

5504362-zen

### Platform (Simple, Atomic, or both?)

S

[2022-08-31 14:36] matiasbenedetto commented on #6108
In a conversation with @MaggieCabrera and @pbking we decided to remove this from the board until the [pseudo selector feature](https://github.com/WordPress/gutenberg/pull/41786) lands WordPress core for two main reasons:
- If we remove the CSS and the theme user doesn't have the Gutenberg plugin activated the link behavior will change and the link interactivity will no longer work.
- If the user h

[2022-08-31 16:19] #5017 closed, assigned to nobody

[2022-08-31 16:40] mikachan commented on #6433
Hi @csonnek. Please open a separate issue for Russell. This issue is for another theme that hasn't been released, and the issue in question is more of a 'doesn't match the design' issue rather than a bug. Thank you!

[2022-08-31 22:05] Columbo199X commented on #5110
Thanks everyone who contributed. The issue has been solved.

[2022-08-31 22:05] #5110 closed, assigned to nobody

[2022-09-01 09:06] simison opened #6492 "[Bug]: Lettre (newsletter theme) — long single word titles get cut easily"
### Quick summary

Even a bit longer single word texts get cut out easily, and not split to multiple lines due lack of spaces:

![image](https://user-images.githubusercontent.com/87168/187874697-7aab7ee6-bfe2-4f43-9c81-1d0f64fd37c3.png)

<img width="410" alt="image" src="https://user-images.githubusercontent.com/87168/187876197-c69e58d5-4351-48b5-a9f7-52d5e9f2cc25.png">

Might not happen in Englis

[2022-09-01 09:17] simison commented on #6492
Matías noted:

[2022-09-01 09:34] simison commented on #6492
Similar issue with newsletter archive post titles on homepage:

<img width="404" alt="image" src="https://user-images.githubusercontent.com/87168/187882072-ec87523c-06ba-45b1-86d5-4140400c8ed4.png">

The mobile viewport width in examples is kinda extreme 320px, while higher end phones are wider than that. But still!

[2022-09-01 09:37] madhusudhand opened #6493 "Update/test fluid typography in block themes"
This issue is to update and test the fluid typography in different block themes before the feature goes live in WP 6.1

Following are the list of themes uses clamp typography.

- [ ] Archeo https://github.com/Automattic/themes/pull/6046
- [x] Block-canvas https://github.com/Automattic/themes/pull/6507
- [x] Disco
- [ ] Heiwa
- [x] Lettre https://github.com/Automattic/themes/issues/6492
- [ ] Livro

[2022-09-01 10:26] yashitamittal11 commented on #6433
I got busy and didn't get time to work on this issue. Thanks for helping @mikachan

[2022-09-01 10:34] mikachan commented on #6433
No worries, although please feel free to contribute to this theme or any other issues/themes that you'd like to work on!

[2022-09-01 11:30] mikachan commented on #6477
I think it's good practice for us to keep all our block themes up to date, but I realise this is a lot of maintenance, especially with the speed of Gutenberg changes. Updating Block Canvas as a priority sounds good to me.

I don't believe the configuration changes the end-user experience, and as far as I know it's backward compatible.

Yes, this would need to be post-6.1 (this change was in GB 14)

[2022-09-01 12:10] simison commented on #6411
Just asked the same about Lettre https://github.com/Automattic/themes/issues/6492#issuecomment-1233999159

And same could be done for Lynx (link-in-bio) theme, cc @alaczek

[2022-09-01 14:40] mikachan commented on #6243
Closing with https://github.com/Automattic/themes/pull/6490.

[2022-09-01 14:40] #6243 closed, assigned to nobody

[2022-09-01 14:53] mikachan commented on #6431
This should be fixed as part of https://github.com/Automattic/themes/pull/6417.

[2022-09-01 15:35] pbking commented on #6493
Considering that these themes already express dynamic font sizing for configured font sizes the only change I think is necessary is to **enable** fluid typography which would allow user-assigned font values to scale and leave the current configuration as-is until/unless changing it would bring further power to the user.

Does that sound like a reasonable compromise?

[2022-09-01 16:06] pbking commented on #6411
I suggest holding off a couple of days @simison.  I just deployed the change to provide this feature to all of the Varia themes and don't expect any issues.  I'm working on a separate mu-plugins solution that we should probably deploy early next week which would cover any remaining themes (both classic and block).

[2022-09-01 16:45] pbking commented on #6411
The mu-plugins implementation is here: D87048-code

[2022-09-01 17:15] jamiepalatnik commented on #6496
📌 SCRUBBING : RESULT
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate the issue on my AT site and self-hosted site with the Homestore theme active. Here's a screenshot:
<img width="593" alt="Below Header + breadcrumbs" src="https://user-images.githubusercontent.com/30788962/187971011-6ef56309-616f-4b08-9e10-

[2022-09-01 18:00] jamiepalatnik commented on #6497
📌 SCRUBBING : RESULT
- Tested on P2 - Replicated
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can only recreate this issue for the heading level. In my test, different than in the initial report, I can change the font size whether or not the post title is a link, but changing the headin

[2022-09-01 18:43] jffng opened #6499 "Pixel: format theme.json"
The theme.json is a mix of tabs and spaces right now, we should convert to all spaces to match the WP standard for json.

[2022-09-02 01:31] freelylovinglife commented on #6412
I have another report here ZD-5525918

[2022-09-02 05:11] #6469 closed, assigned to nobody

[2022-09-02 05:12] #6454 closed, assigned to nobody

[2022-09-02 05:36] #6455 closed, assigned to nobody

[2022-09-02 05:49] madhusudhand commented on #6476
Also repo shows the following warning, and its not true.

<img width="909" alt="image" src="https://user-images.githubusercontent.com/1935113/188067565-659fabce-a548-4aed-a4b9-62ce299dc71a.png">

[2022-09-02 07:42] yashitamittal11 commented on #6433
@csonnek I have created an issue for Russell theme here- https://github.com/Automattic/wp-calypso/issues/67300

[2022-09-02 08:25] mikachan commented on #6476
@jeherve 👋 Pinging you on this issue as it looks like this is specifically related to the `gatherSupportReferences` task, which seems to come from `automattic/action-repo-gardening`. I'm not sure we can fix this directly in our repo, unless we removed this task I guess.

[2022-09-02 08:32] mikachan commented on #6476
This notice doesn't seem to be showing for me in this repo. Which page were you on?

[2022-09-02 09:39] jeherve commented on #6476
Yep, this needs to be fixed in the action. I'll move this issue to the Jetpack repo, where the action is developed.

[2022-09-02 09:41] jeherve commented on #6476
This is a different issue, currently discussed here:
p1662095866154779-slack-C01UW7SB411

[2022-09-02 14:54] #6457 closed, assigned to nobody

[2022-09-02 15:49] simison commented on #6493
Could we have these on top of the list, unless any other reasons to have something else first?

Lettre / Lynx are themes for the Newsletters & Link-in-Bio flows we're working on. We've observed issues related to typography that would get solved by this. (e.g. https://github.com/Automattic/themes/issues/6492)

Livro is our default theme for bloggers on WP.com so heaps of customers get it by default

[2022-09-02 22:40] ha-un opened #6516 "Varia(and some child themes): Search Block Border Radius Not Reflecting on Mobile"
### Quick summary

On the **Exford** theme, the border-radius on the [Search Block](https://wordpress.com/support/wordpress-editor/blocks/search-block/) doesn't reflect the setting set in Gutenberg.

border-radius

### Steps to reproduce

1. Create a new site
2. Activate the Exford theme
3. Insert the `Search` block on a page
4. Change the border-radius to `0`
5. View site on mobile (does not repr

[2022-09-03 11:03] Gustavo-Hilario commented on #6516
I have been testing this issue, but I could only reproduce it on Simple sites, maybe because my test AT sites aren't new. After further investigation, I noticed the CSS and `-webkit-appearance` property is causing this issue on the WebKit browser engine. The code comes from the theme's `style.css` file.

So, the CSS below should fix that:

[code]

[2022-09-03 17:52] jamiepalatnik commented on #5947
Another report: 5501405-zd-woothemes

Suggested unselecting Blog as the posts page and using a Blog Posts block instead or switching to another theme.

[2022-09-04 01:38] candy02058912 commented on #6141
Was trying things around this issue and here are my observations (since I'm not sure what's the cause codewise, but hopefully it could help narrow down the issue a little bit):

Testing was done with the default twentytwentytwo theme (only atomic sites have this issue, simple sites and self-hosted sites don't). As @pbking  mentioned, this might be a problem outside of themes.

Steps:
* Create a te

[2022-09-04 19:26] NoHopeRadio commented on #5699
Another case in 36772367-hc on Exford theme, turned off lazy-load

[2022-09-05 09:16] #6433 closed, assigned to nobody

[2022-09-05 09:30] #6432 closed, assigned to nobody

[2022-09-05 21:57] cometgrrl commented on #6508
@Robertght should this be moved to themes?

[2022-09-06 07:29] Robertght commented on #6508
Thank you @cometgrrl !

I can confirm this is still an issue on Simple sites only.

Self-hosted sites work as intended.

[2022-09-06 07:34] #6458 closed, assigned to madhusudhand

[2022-09-06 12:21] mikachan commented on #6492
I've created a potential fix for this here: D87131-code

[2022-09-06 13:15] madhusudhand opened #6511 "Pixl: rename Pixel to Pixl"
A theme with name Pixel already exists in .org themes. Rename to a different existing name before publishing.

- [x] Rename theme name
- [ ] Update theme description
- [x] Update css classes to new name prefix
- [x] Update pattern translations
- [ ] Update theme screenshot

[2022-09-06 14:43] jffng opened #6512 "Lettre: update link colors and add fluid typography"
Lettre needs some updates:

- [x] Links should not be set to the primary color by default: pNEWy-fia-p2#comment-54984
- [x] Implement fluid typography: pdtkmj-pL-p2#comment-851

[2022-09-06 14:48] mikachan commented on #6512
Fluid typography is hopefully covered with this diff: D87131-code

[2022-09-06 15:19] #6466 closed, assigned to madhusudhand

[2022-09-06 16:14] jffng commented on #6499
Closed by #6501.

[2022-09-06 16:14] #6499 closed, assigned to nobody

[2022-09-06 16:15] jffng commented on #6467
Should be solved by #6481

[2022-09-06 18:47] dcoleonline opened #6521 "Blank Canvas: FSE Link Style Doesn't Match Page Editor Style"
### Quick summary

Links are underlined in the Site Editor. In the Page editor, links are not underlined. The live view of the site does not underline links unless they are hovered.

### Steps to reproduce

1. Add a link to the home page editor. Notice that it is not underlined.
2. View the home page through the site editor. The link will be underlined.

<img width="1186" alt="image" src="https://

[2022-09-06 21:13] jp-imagines commented on #6198
Another report from the closed duplicate issue above: 5517970-zd-woothemes

Adding the `align center` video to a _Group_ block was another workaround found for that case, but also confirmed that deactivating _Page Optimize_ worked.

[2022-09-06 22:26] supernovia opened #6514 "Varia Themes: Extra space between list items, only in the editor"
## Steps to replicate
- Create a post with a bulleted list using a theme that is not Varia-based. Note the spacing is fine.
- Publish the post. Note the spacing is still fine.
- Switch to a Varia theme; view published post. Spacing still looks fine.
- Edit the post. Note the funny spacing there. It's fine on the site itself, just not in the editor, but ONLY with Varia.

## Result
You'll notice the

[2022-09-07 04:38] #6451 closed, assigned to vcanales

[2022-09-07 04:38] #6467 closed, assigned to nobody

[2022-09-07 04:42] #6464 closed, assigned to madhusudhand

[2022-09-07 07:38] Robertght commented on #6496
I created a replica of this report in the Homestore theme repository and I'm closing this one for now.

cc @jamiepalatnik

[2022-09-07 07:38] #6496 closed, assigned to nobody

[2022-09-07 07:40] #5276 closed, assigned to nobody

[2022-09-07 07:41] #6436 closed, assigned to nobody

[2022-09-07 07:59] Robertght commented on #6516
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this with Varia, Rockfield, Hever, Alves, Maywood and Exford, but not with Shoreditch for example.
- This doesn't occur on self-hosted

📌 ACTIONS
- Marked as Themes
- Added to 'Themes' project board
- Transferr

[2022-09-07 08:25] Robertght commented on #6439
Thank you @jerrysarcastic !

This is a known issue with the Slideshow block and it's not fully compatible with the Site editor right now.

in the future, please open the issues using Bugomattic. :)

Closing in favor of this: https://github.com/Automattic/jetpack/issues/22834

[2022-09-07 08:25] #6439 closed, assigned to nobody

[2022-09-07 08:48] Robertght commented on #6521
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate this with all FSE themes I've tested, on Simple, AT and Self-hosted sites.

📌 ACTIONS
- Added to 'HE Cross-repo Watchlist' project board
- Added to 'Cylon'
- Transferred to Gutenberg:

[2022-09-07 10:14] mikachan commented on #3365
@yashitamittal11 Using `:not(.has-text-color)` looks like a good approach to me. I'd suggest opening up a PR with these changes 👍

[2022-09-07 10:45] #6245 closed, assigned to nobody

[2022-09-07 10:45] #6431 closed, assigned to nobody

[2022-09-07 13:49] #6460 closed, assigned to madhusudhand

[2022-09-07 14:13] jffng opened #6519 "Pixel: featured image on pages"
Should the page template include the featured image block? If so, what should its placement be?

I assume same as the single template, but want to confirm, and if so we need to adjust the page.html.

cc @beafialho @henriqueiamarino

[2022-09-07 15:34] #6463 closed, assigned to madhusudhand

[2022-09-07 16:21] KirkwallDay commented on #6386
This happens on the old Blank Canvas theme too (The non-FSE one).

- [ ] 36818977-hc

[2022-09-07 20:38] pbking commented on #6411
The above diff has been abandoned.  A better solution is to enable this either in wpcomsh or ETK would be better than the previous change as it only encompasses simple sites.

However, determining if it should be enabled is still ongoing.

[2022-09-07 21:04] jp-imagines commented on #3531
Had a user that was very confused by this issue in 36822353-hc.
Adding a Gallery _block_ just forces the images to appear in full size, left aligned, at the top of the project. Switching to a Classic block gallery resolves things, but there's no way to know that's a requirement (and ideally the Classic block shouldn't _be_ a requirement these days).

[2022-09-07 21:19] sophiegyo commented on #6514
Another report in 36815941-hc / follow-up: 5540557-zen

[2022-09-08 04:27] #6461 closed, assigned to nobody

[2022-09-08 04:27] #6465 closed, assigned to nobody

[2022-09-08 04:28] Robertght commented on #6521
Actually, I re-tested this and I could only replicate with Blank Canvas.

Previously, I was comparing the results with the frontend, not the page editor.

Moving to themes.

[2022-09-08 10:14] henriqueiamarino commented on #6519
Yes @jffng it is the same we have on the single template.

[2022-09-08 14:23] #6456 closed, assigned to madhusudhand

[2022-09-08 17:26] #6519 closed, assigned to nobody

[2022-09-08 18:43] mikachan commented on #6492
Closing as D87131-code has been deployed.

[2022-09-08 18:43] #6492 closed, assigned to mikachan

[2022-09-08 19:44] masperber opened #6532 "Social Icons in Sidebar are Misaligned on Certain Themes"
### Quick summary

On certain Classic and Hybrid theme, the first Social Icon in a Social Icons Block will be misalgined with the other. So far, this has been identified and reproduced on themes Independent Publisher 2 and Baskerville 2

### Steps to reproduce

1. Create a site with one of the affected themes.
2. Add a Social Icons Block to the Sidebar and add at least 2 Social Icons to the block.

[2022-09-08 19:46] mikachan opened #6526 "Rainfall: Improve CTA pattern"
### Quick summary

We should improve the CTA pattern for Rainfall as it doesn't look great at smaller resolutions:

![image](https://user-images.githubusercontent.com/1645628/189211953-47736bd7-5941-4a2f-886d-099eebbbd802.png)

### Steps to reproduce

n/a

### What you expected to happen

n/a

### What actually happened

n/a

### Browser

_No response_

### Context

_No response_

### Platform (Si

[2022-09-08 20:03] masperber commented on #6532
- [ ] 5543483-zen for followup

[2022-09-08 20:17] #6430 closed, assigned to nobody

[2022-09-09 06:24] Robertght commented on #197
I cannot replicate this anymore. Closing

[2022-09-09 06:24] #197 closed

[2022-09-09 06:43] Robertght opened #6528 "Argent: Carousel block doesn't work with the Gallery or Tiled Gallery block"
### Quick summary

This is a follow-up on this one: https://github.com/Automattic/themes/issues/3531

When add a Gallery or a Tiled Mosaic block, the carousel won't show up as when creating a gallery with a tiled mosaic setup through the Classic block.

### Steps to reproduce

1. Create a project
2. Add a Classic block and create a gallery with a tiled mosaic. Check the results - there should be a

[2022-09-09 06:45] Robertght commented on #3531
For now, I've updated the guide to say it needs to be used with the Classic block, as I don't know when/if this will be fixed.

Opened a new issue here: https://github.com/Automattic/themes/issues/6528

[2022-09-09 06:45] #3531 closed, assigned to nobody

[2022-09-09 07:03] #6459 closed, assigned to nobody

[2022-09-09 07:17] #6511 closed, assigned to nobody

[2022-09-09 12:07] Robertght commented on #6532
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No(this varies because not all themes are on WordPress.org)

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm these classic themes mentioned above have this problem.
- I tried replicating with others, such as Dara, Karuna or Ixion, but no dice
-

[2022-09-09 12:21] Robertght commented on #1799
Cannot replicate this anymore. Closing.

[2022-09-09 12:21] #1799 closed

[2022-09-09 12:27] Robertght commented on #1915
This is no longer an issue from my testing.

[2022-09-09 12:27] #1915 closed

[2022-09-09 12:46] Robertght commented on #1755
I can confirm the line height is smaller on L and XL font sizes, by a few pixels, but the users can now adjust their line-height manually as well.

[2022-09-09 12:54] csonnek commented on #6433
@yashitamittal11 thank you! I was on vacation and was following up with GitHub notifications.

[2022-09-09 13:27] madhusudhand opened #6534 "Pixl: Theme review comments"
Following are the comments from theme review.

* Add a reverse state for outline button on hover.

| Default | Hover |
| - | - |
| <img width="189" alt="image" src="https://user-images.githubusercontent.com/1935113/189359183-0d3360b6-80db-4e49-a48a-1c4dba016523.png"> | <img width="189" alt="image" src="https://user-images.githubusercontent.com/1935113/189360580-f0144b29-2f99-4beb-aade-56c2bf486c4b

[2022-09-09 17:12] #6534 closed, assigned to nobody

[2022-09-09 19:07] tellisbethel commented on #5947
Another case here: 5545536-zd-woothemes
Suggested using Blog posts block on static home page or trying a different theme.

[2022-09-10 08:17] Robertght commented on #1773
Hey! I've been tracking an issue regarding this and I'm unsure if this is related or not.

Whenever the Blog posts block is grouped and the Blog posts block has a wide or a full-width alignment, the Group block content/wide options are ignored. Example:

![tKdgma.png](https://user-images.githubusercontent.com/6737345/189475060-bed66807-3db1-4e69-8047-aaf17e572d5d.png)

If I removed the alignment o

[2022-09-10 10:49] mtias commented on #6492
Thanks @mikachan !

[2022-09-12 09:12] beafialho opened #6536 "Pixl: Spacing looking off in comments section"
| Currently      | Intended |
| ----------- | ----------- |
|  <img width="680" alt="Captura de ecrã 2022-09-12, às 10 02 07" src="https://user-images.githubusercontent.com/65220155/189615785-4fd36b77-ef53-4a72-9dd1-40936a6a8f43.png"> |  <img width="857" alt="Captura de ecrã 2022-09-12, às 10 10 19" src="https://user-images.githubusercontent.com/65220155/189616253-ea672f91-a089-4b8c-ac45-54985

[2022-09-12 09:20] beafialho opened #6537 "Pixl: Site logo image not being cropped on the front end"
If I resize the site logo, it looks as intended in the editor but not in the front end:

| Editor      | Front End |
| ----------- | ----------- |
|   <img width="292" alt="Captura de ecrã 2022-09-12, às 10 17 37" src="https://user-images.githubusercontent.com/65220155/189618300-6dd89712-b84a-4eff-a168-85ed4c2c80b9.png">  |    <img width="323" alt="Captura de ecrã 2022-09-12, às 10 17 26" src=

[2022-09-12 11:25] simison commented on #6493
Marked Lettre done as per https://github.com/Automattic/themes/issues/6492#issuecomment-1241093228

Looking forward to Lynx theme. :-)

[2022-09-12 12:52] cecilearkay opened #6538 "Sidespied: huge margin"
## Steps to replicate

Activate Sidespied on any site.

## Result

`.site` is set to `width:60%;` instead of I'm guessing +80%, which means you get a huge margin on the right, instead of the narrow one seen on the theme's thumbnail.

<img width="1506" alt="Screenshot 2022-09-12 at 14 18 06" src="https://user-images.githubusercontent.com/16645645/189651449-6eb8da32-dfb9-4484-b65f-1ed38514bddd.png">

[2022-09-13 06:55] gyurmey2 opened #6539 "Archeo: Missing outer spacing on the frontend"
### Quick summary

Editor:

![editor](https://user-images.githubusercontent.com/113413673/189828498-e93daea7-2aec-4697-83a3-fe1181f45b2e.jpg)

Frontend:

![frontend](https://user-images.githubusercontent.com/113413673/189828511-a36919d2-aaca-4674-9ecd-d05877341391.jpg)

Gutenberg version: 14.03 and latest Nightly.

### Steps to reproduce

1. Add a group block.
2. Add a image blocks with content an

[2022-09-13 10:16] mxhassani opened #6541 "Some Blockbase child themes: Links missing the underlining in live view"
### Quick summary

The underlining of links is showing in front end, but not in editor.
Theme: Zoologist and Geologist

This may be related to a previous fix (the opposite was happening, underlines appearing in backend but not front end):
Report: 6085-gh-Automattic/themes
Fix: 6382-gh-Automattic/themes

### Steps to reproduce

1.  Set theme to Zoologist
2.  To a page add text in a paragraph block.

[2022-09-13 10:34] csabarakasz commented on #2299
I found a similar issue at 5550584-zd-woothemes , but turning off the Infinite Scroll option seemed to solve the issue.

[2022-09-13 12:36] Robertght commented on #6514
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2  - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm this is an issue with the self-hosted sites as well. @pbking could this be a thing related to the last Varia updates?

📌 ACTIONS
- Marked as Themes

[2022-09-13 13:01] Robertght commented on #6541
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- The issue is present only in Geologist, Zoologist, Quadrat
- The underline is ok in Skatepark, Russell, Blockbase
- The behavior is present on self-hosted sites

📌 ACTIONS
- Marked as Themes
- Transferred

[2022-09-13 13:24] Robertght commented on #679
I tried to replicate this on Simple and Atomic sites, but the most consistent behavior I got was on Atomic sites.

I can confirm disabling the Lazy Loading for images helped.

Rebalance is currently active on at least 308,940 sites.

[2022-09-13 13:38] Robertght commented on #1294
Orvis is being used by at least 196,945 websites. cc @jeffikus

I can replicate this consistently on Simple and Atomic sites.

[2022-09-13 14:47] pbking opened #6543 "Loudness: Misc Block Patterns"
These patterns don't have a template to go in but are included in the design:
(should a place to feature the pattern in one of the templates be considered?)

<img width="457" alt="image" src="https://user-images.githubusercontent.com/146530/189987864-6310a1dd-4f6d-4e47-81ae-633cc1c54407.png">

[Note] I have removed a number of patterns from the design that aren't used in any of the sample content.

[2022-09-13 14:47] pbking opened #6544 "Decibel: Create Base Theme"
Just make it exist and give us a place to do the good work.

Added here with some reasonable defaults to start with.  Nothing set it stone.

[2022-09-13 14:47] pbking opened #6545 "Decibel: Styles: Colors"
<img width="301" alt="image" src="https://user-images.githubusercontent.com/146530/189936512-b28a3e9f-8664-4c67-a67c-25ce1a59ad73.png">

Please reference the figma rather than the above image; the HEX values shown don't match the colors.

Figma: 1aQcwsAAmZOUOQqmdqP7kR-fi

[2022-09-13 14:47] pbking opened #6546 "Decibel: Styles: Typography — Fonts & Weights & Sizes & Line heights"
Bring in all the necessary font resources to style the theme.  (A very rough start was initally added but more work needs to be done for sure).

Configure the weights.
Configure the sizes (note the variable sizes for 3 headings and 2 text fonts, the rest should be static sizes)

Rubik is used for Headings (all sizes)
DM Mono is used for text

Rubik is available as a variable-weight font but I'm no

[2022-09-13 14:47] pbking opened #6547 "Decibel: Styles: Typography — Sizes & Line Height"

[2022-09-13 14:47] pbking opened #6548 "Decibel: Styles: Links"
Style the link elements including the state selectors.

Inside Content Area:

<img width="468" alt="image" src="https://user-images.githubusercontent.com/146530/189940229-8fa062f0-411d-474d-b01b-dfe6ac7e9e87.png">

Links OUTSIDE of the content area shouldn't have an underline text decoration in the default state but should show one on :hover.

[2022-09-13 14:47] pbking opened #6549 "Decibel: Styles: Buttons"
Style 'em buttons.

Just the `element`, not the block.

Default         |         Hover             |      Focus         |             Active
![image](https://user-images.githubusercontent.com/1157901/190444359-b0879300-e007-41e5-a1ca-c124c47086a2.png)
There are TWO buttons styles in the design.

Neither of them are "outline" style.  Should we include one anyway?  Should we just call the second st

[2022-09-13 14:47] pbking opened #6550 "Decibel: Styles: Layout & Padding"
Ensure the following matches the design:

The content width and wide width values
the root padding gap (variable sized)
   Ensure responsive navigation matches.

Update (if necessary) spacing sizes so they can be used for padding values instead of explicit values.

Build a "spacing content example" might be some good content to have to quickly/easily see the values calculated and demonstrated and

[2022-09-13 14:47] pbking opened #6551 "Loudness: Styles: Comments"
There are no designs for comments.

The "default" (Block Canvas) comments template was cleaned up in #6563 for this.

This is what it looks like unmodified.  Are there any design changes we should make?

<img width="691" alt="image" src="https://user-images.githubusercontent.com/146530/190220874-0a363098-7380-48a3-861d-8d36fea8e23a.png">

<img width="681" alt="image" src="https://user-images.githu

[2022-09-13 14:47] pbking opened #6552 "Decibel: Styles: Navigation"
Here's the goal:

<img width="473" alt="image" src="https://user-images.githubusercontent.com/146530/190007828-2adf4406-f9a7-487d-9928-b057c9dd4a27.png">

I wonder if/how we could style a navigation link to look like our standard button.  Does that make sense as a Block Style option?

Also we do not currently have a design for the responsive menu.

[2022-09-13 14:48] pbking opened #6553 "Loudness: Styles: Quote"
No Quote/Pullquote styles in design.  I believe we need some input:

By default:

Pullquote:
<img width="654" alt="image" src="https://user-images.githubusercontent.com/146530/189986242-f0d8f3f0-e1a9-449b-82dd-62cd33933fe8.png">

Quote:
<img width="662" alt="image" src="https://user-images.githubusercontent.com/146530/189986285-9d69ade0-bc81-4f2b-9248-329c848d115f.png">

[2022-09-13 14:48] pbking opened #6554 "Decibel: Styles: Variations"
There are some color experiments in the figma but no variation styles.  We should add some (I think lots of color variations for this theme could be extra-ordinary!)

[2022-09-13 14:48] pbking opened #6555 "Decibel: Templates: Search, Category, Tag"
Default search page:
<img width="1480" alt="image" src="https://user-images.githubusercontent.com/146530/190450951-1586a1da-ca7c-4928-9318-97d55682de1a.png">

Categories:
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/146530/190451086-0be775f1-f02a-4a50-8254-f22a133d3b6b.png">

[2022-09-13 14:48] pbking opened #6556 "Decibel: Templates: 404"
There were no comps in the figma for 404 page so I was planning to just roll the default and see how that shook out in the design review. However the default was looking a mite crowded so instead of making a new template I updated the Block Canvas template.

See #6565 for details

[2022-09-13 14:48] pbking opened #6557 "Decibel: Templates: Single"
There are currently no designs for this.  At the moment a featured image is full width with the following page heading:

<img width="1202" alt="image" src="https://user-images.githubusercontent.com/146530/190005875-3f7b315e-4721-4c46-90a9-7be46be18772.png">
<img width="1201" alt="image" src="https://user-images.githubusercontent.com/146530/190006047-f07335e9-3ce4-4c66-adad-5b35ba66ba49.png">

We n

[2022-09-13 14:48] pbking opened #6558 "Loudness: Templates: Page"
Just as Single (posts?) needs design direction, so too does this page.  They currently look the same.

https://github.com/Automattic/themes/issues/6557

[2022-09-13 14:48] pbking opened #6559 "Decibel: Templates: Index"
Let's use the following design for the query loop in the index template:

<img width="535" alt="image" src="https://user-images.githubusercontent.com/146530/191282837-a7073cbe-1395-4ef9-8020-9f7a474de9ea.png">

There's no explicit design but we can use this and keep it pretty light and see how it lands.

[2022-09-13 14:48] pbking opened #6560 "Decibel: Templates: Header template part"
Here's the goal:

<img width="1246" alt="image" src="https://user-images.githubusercontent.com/146530/190008160-ed82661a-71f8-4d29-8d81-843e1de52061.png">

<img width="231" alt="image" src="https://user-images.githubusercontent.com/146530/190008561-e263b983-54f1-4659-940a-8a711a4db572.png">

Ignore everything related to the navigation; it's handled in #6552

Configure
* site title and tagline font

[2022-09-13 14:48] pbking opened #6561 "Decibel: Templates: Footer template part"
<img width="729" alt="image" src="https://user-images.githubusercontent.com/146530/189950476-5bfaa6cd-d843-431d-b91a-78b9bed11967.png">

Pretty ding dang simple.  Uses the Rubik font and upcaps the letters.  Otherwise I think it's pretty much the default footer template.

[2022-09-13 14:48] pbking opened #6562 "Loudness: Pre-launch: Screenshot, readme.txt & description"

[2022-09-13 15:25] #6544 closed, assigned to nobody

[2022-09-13 15:59] pbking opened #6563 "Blank Canvas: Integrate Pixl's Comment Changes"
See [this comment](https://github.com/Automattic/themes/pull/6542#pullrequestreview-1105976788).

These would be good changes to have.  I'm not sure if/how much of the included CSS should be brought over.  My 'druthers is to keep that out if possible even if that means not all of the improvements come through.

If further adjustments need to be made via CSS that should probably go in the cloned th

[2022-09-13 16:07] jffng commented on #6545
Figma is not loading for me so removing my assignment until it does...

[2022-09-13 17:06] vcanales commented on #6545
The colors in the [current theme.json file](https://github.com/Automattic/themes/pull/6542/files#diff-c39a668465c7bbedc7caf7d523e7f8d7c38a812d21e420c5dc9be03bf7bd40e8R8-R30) already match those in Figma, so this was done in #6542.

[2022-09-13 17:06] #6545 closed, assigned to vcanales

[2022-09-13 17:39] beafialho commented on #6526
I tried to improve the pattern in the editor and I think it looks better. Here's the markup:

[code]

[2022-09-13 18:11] #6561 closed, assigned to vcanales

[2022-09-13 18:38] pbking opened #6566 "Decibel: (Block Canvas) Style table borders"
<img width="730" alt="image" src="https://user-images.githubusercontent.com/146530/189983243-3edb81e8-aba0-433e-b9b1-75deb7d70fa2.png">

The table that comes out of **Block Canvas** has unstyled (or otherwise invisible) cell borders.  We need a reasonable default here.  Hopefully nothing further from Decibel.

[2022-09-13 19:57] ariel-maidana opened #6581 "Cubic: Slideshow blocks shows images zoomed in"
### Quick summary

Regardless of the Alignment settings, the Slideshow block is showing images zoomed in on simple sites with the Cubic theme.
Related issue: https://github.com/Automattic/jetpack/issues/12178

p1658354400641829-slack-CB0B2G43X

### Steps to reproduce

1. Activate the Cubic theme in a simple site.
2. Create a post.
3. Create a slideshow.
4. Add some images with different aspect rat

[2022-09-13 20:33] pbking opened #6568 "Decibel: Patterns: Illustrations"
each of these illustrations should be available as a pattern (probably in a category 'Decibel Illustrations' and 'Decibel Illustrations (square)' or something like that:

Illustrations
<img width="425" alt="image" src="https://user-images.githubusercontent.com/146530/189987594-0375bfd4-f477-40ed-af1b-19778f19e016.png">

Illustrations (square)
<img width="857" alt="image" src="https://user-images.g

[2022-09-13 20:37] pbking opened #6569 "Loudness: Home Page Patterns"
Patterns to complete for the "Home" template:
- [ ] Pricing Table:

<img width="958" alt="image" src="https://user-images.githubusercontent.com/146530/189986934-1b876068-6b92-4926-aa30-7587b7048134.png">

- [ ] Guest Performers:
<img width="839" alt="image" src="https://user-images.githubusercontent.com/146530/189987045-cdf53f09-717b-41de-ab6f-462000e10ac0.png">

- [ ] Instructors:
<img width="530

[2022-09-13 20:47] vcanales commented on #6548
@pbking Does this mean that we'd set the default link style to not have an underline, and then add an underline to links within post content? I can't seem to find this definition in the Figma doc.

[2022-09-13 21:26] aisajib commented on #6528
Looks similar to https://github.com/Automattic/themes/issues/5846

[2022-09-13 21:27] aisajib commented on #5846
Reported in 5554231-zd-woothemes as well. Asking them to use a Tiled Gallery block instead.

[2022-09-14 06:12] Robertght commented on #6528
Thank you @aisajib ! You're right. Closing this now.

[2022-09-14 06:12] #6528 closed, assigned to nobody

[2022-09-14 07:37] #6352 closed, assigned to nobody

[2022-09-14 08:52] csabarakasz commented on #214
Another report of this here: #6710396-hc

The menu is collapsed as default, so the double tap makes no sense. Although it is a retired theme so I am suggesting switching themes.

[2022-09-14 14:01] daledupreez commented on #4339
Note that we're trying to move towards removing custom styles from Jetpack Comment forms on WPCOM Simple sites, as tracked in https://github.com/Automattic/wp-calypso/issues/67212.

Also, we intentionally do not show the Jetpack Comments form on mobile, so we may need to clarify what behaviour you want for this issue, as it may be that there is something we can for the theme itself to improve the

[2022-09-14 15:48] jffng commented on #6550
Decibel does not specify a specific spacing scale, can we just go with the Gutenberg provided scale? Or were you thinking we should make a new fluid scale, like [TT3 does](https://github.com/WordPress/twentytwentythree/blob/trunk/theme.json#L83).

Good idea, I added something here: https://theamdemo.wordpress.com/2022/09/14/spacing-presets/ — is that what you meant?

[2022-09-14 15:55] #6546 closed, assigned to nobody

[2022-09-14 16:01] pbking commented on #6548
I can't point to a conversation but I believe that different type of link style is common.

However, for the moment (especially since it's not noted anywhere but also because it's the fastest way to a useful change) let's just style the default link behavior to match the design.  If we need to limit the scope of that behavior to just the elements in `post-content` then we can refactor that down th

[2022-09-14 16:28] #6556 closed, assigned to nobody

[2022-09-14 17:18] #6563 closed, assigned to jffng

[2022-09-14 23:29] ha-un opened #6578 "[Bug]: Baskerville 2: Site Title Showing Default Font Before Switching"
### Quick summary

When a font is changed in the Customizer, the site still shows the default font for the Site Title momentarily before switching to the one set in the customizer.

### Steps to reproduce

1. Create a new site
2. Activate Baskerville 2 theme
3. Change Headings font (any font)
4. Publish changes & refresh the homepage

### What you expected to happen

For the Site Title to immediat

[2022-09-15 00:27] alaczek commented on #6493
Lynx has a PR open here: https://github.com/Automattic/themes/pull/6572

[2022-09-15 00:56] thekingsprojects commented on #6249
I just had a case of this reported for Meraki:

- [ ] 5558284-zen

I can confirm this happens on a test site, using Meraki and also Pendant (I just tried grabbing another random theme that looked like it had all-caps button text; Marl also seems to default to all-caps but the Letter case setting works for it).

Not sure if this is maybe also a deliberate design choice for Meraki and Pendant? If it

[2022-09-15 06:21] kavyagokul opened #6604 "Twenty Ten (up to Twenty Sixteen): sub-lists are not shown as indented"
### Quick summary

With the theme **Twenty Eleven**, adding a list block and making sub-lists in the block editor shows all list items at the same level

### Steps to reproduce

1. Start with a site on the Twenty Eleven theme
2. Edit or create a page in the block editor. Insert a list.
3. Insert sub-list items, and/or sub-sub list items

### What you expected to happen

The sub--list is indented a

[2022-09-15 10:11] csabarakasz commented on #6147
- [ ] 36938742-hc

Another report. Provided CSS workaround:
[code]

[2022-09-15 15:11] pbking commented on #6549
I actually don't see the 'default' button state used anywhere in the designs, only the darker version.

Let's drop that "default" state for now and instead implement the "alternate" as the default.  I think the stock outline button fits well; We don't need to wait for design approval to move ahead; there will be an opportunity to change it if needed later.

For now let's also lose the `focus` stat

[2022-09-15 15:17] vcanales commented on #6549
This is in progress [here](https://github.com/Automattic/themes/pull/6567). Focus styles were applied to the buttons with theme.json; no extra CSS needed.

Yeah, it's a close match. Henrique updated Figma, and the button should be filled with the primary color on hover; that and the focus style would be the only differences. I'm don't know if `:focus` can be applied to outline buttons through them

[2022-09-15 15:18] pbking commented on #6550
Yes exactly!  Thank you.

[2022-09-15 15:22] pbking commented on #6550
Decibel does not specify a specific spacing scale, can we just go with the Gutenberg provided scale? Or were you thinking we should make a new fluid scale, like [TT3 does](https://github.com/WordPress/twentytwentythree/blob/trunk/theme.json#L83).

If the spacing designed doesn't line up with the defaults we should change those like TT3 does we should change those to suit.  I haven't looked deeply

[2022-09-15 15:38] jffng commented on #6550
I think this one needs some design input as well, should we add the tag here? Particularly:

- What are the default and wide widths
- What is the global padding value
- What is the spacing scale (if different from the Gutenberg default)

[2022-09-15 15:42] jffng commented on #6555
I think this one also needs to be visited by design, it is basically the Archive template.

[2022-09-15 15:45] mikeicode opened #6605 "Thriving Artist: Sidebar WooCommerce cart doesn't display products"
### Quick summary

The Thriving Artist theme has a cart icon in the menu. If you add a product to the cart and open the menu the products aren't visible in the cart.

### Steps to reproduce

1. Visit a [product page](https://thrivingartistdemo.wpcomstaging.com/product/product-art-poster-4/) of the demo
2. Add a product to cart
3. Open sidebar cart from menu

<img width="577" alt="Screen Shot 2022-

[2022-09-15 15:55] jamiepalatnik commented on #6581
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on Self-hosted - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was able to replicate this on a simple and self-hosted test site.
- In my tests this was only happening on the Cubic theme, not when I tested on another theme like Pendant.
- It seems like it is not affecting all images, but some images are zoomed and some of the next image is

[2022-09-15 16:16] marcuswisecaesar commented on #630
Experienced this here - 36943138-hc (follow-up 5560046-zen)

Found this GH issue, tested un-setting, then reset the static front page. Nothing happened.  Clicked on Appearance → Menus and was shown the Food Menu item in the WP Admin menu.

[2022-09-15 18:10] pbking commented on #6550
...

I agree.  Let's bring in what we have but leave this issue open for review by design.  I'll illustrate the question better shortly.

[2022-09-15 19:17] pbking commented on #6548
I remember why now. :)

The `link` styles target the site header and page links wheras we usually don't want that behavior.  Targeting only the elements in `post-content` allows those to be styled to our liking.

[2022-09-15 19:24] #6549 closed, assigned to vcanales

[2022-09-15 19:25] #6548 closed, assigned to vcanales

[2022-09-15 19:51] edequalsawesome commented on #1645
Reported in 5559875-zen

CSS should fix the issue

[2022-09-15 19:51] pbking commented on #6550
Reopening for design review.

This picture illustrates the different width values we have configured.

Normal, wide and full.

<img width="1791" alt="image" src="https://user-images.githubusercontent.com/146530/190495451-e191252b-8959-403c-bbcd-80be9f570e32.png">

It was difficult to ascertain from the comps WHY some things were as wide as they were.  Were the sizes intended to convey how far from

[2022-09-15 20:40] jp-imagines commented on #2299
Regarding the report above (5550584-zd-woothemes): disabling Infinite Scroll did **not** resolve the issue. The issue persisted even with Infinite Scroll disabled.

In that case:

* The user had 10 sticky posts, interspersed among 7 non-sticky posts.
* Site is set to display 10 posts per page.
* The homepage displayed _all 10_ sticky posts and three non-sticky posts (a total of 13, for some reason

[2022-09-16 07:00] #6470 closed, assigned to nobody

[2022-09-16 08:35] henriqueiamarino commented on #6551
Hey @pbking as I'm not sure about the spacing units that we are using I am fixing it as done in Pixl. It worked just fine! Let's set these spacing as related... layout, type and colors are good enough to go!

![response-feedback_decibel](https://user-images.githubusercontent.com/103748085/190594469-8d2232cd-3ec3-48a3-aacf-9a9fe13c37eb.png)

![response-feedback_figma](https://user-images.githubuser

[2022-09-16 08:58] henriqueiamarino commented on #6558
@pbking I gathered some elements and patterns from the file and defined a Page design in Figma. Also created a Single, slightly different.

<img width="1440" alt="decibel_Page" src="https://user-images.githubusercontent.com/103748085/190599350-f98de915-71fa-40ba-b995-ebccbd69de4f.png">

[2022-09-16 09:00] henriqueiamarino commented on #6557
Single post design on Figma, as shown below with comments block.

<img width="1440" alt="decibel_Single" src="https://user-images.githubusercontent.com/103748085/190599830-91c6ee63-1ca9-48a3-9ce2-0c4250c267e6.png">

[2022-09-16 09:29] henriqueiamarino commented on #6553
This default quotes are not bad at all @pbking. Anyway I create some following the style on patterns. All on Figma.

**Pullquote**
![decibel_Pullquote](https://user-images.githubusercontent.com/103748085/190605587-5fb713bf-b9a0-4b02-bd30-bb37f09eff69.png)
**Default**
![decibel_Default Quote](https://user-images.githubusercontent.com/103748085/190605614-834a37ac-1263-46ad-918a-009a357a8c61.png)
**L

[2022-09-16 09:50] henriqueiamarino commented on #6554
I believe those variations didn't make into the final theme as they are marked as Drafts. Just checked it with Bea and that's it. We can move on with no variations on Decibel.

[2022-09-16 10:06] henriqueiamarino commented on #6552
@pbking not sure if I got it right but I tried to style a navigation link just as our standard button. Also tested some responsive menu options, default and large sizes

![decibel_NavAlt](https://user-images.githubusercontent.com/103748085/190614674-b1738989-58e6-4e09-8712-c8727b0b141a.png)
![decibel_NavAlt_MobDefaultLarge](https://user-images.githubusercontent.com/103748085/190614912-040be15f-37f

[2022-09-16 10:21] henriqueiamarino commented on #6550
@pbking @jffng Maybe I'll need to check a test site later but by these image above it looks fine to me.

[2022-09-16 13:13] pbking commented on #6552
Oh that responsive menu looks great!  That's what we were looking for.  Not sure how sub-menu items will work there, if you have any ideas then please throw those up too.  Otherwise we'll do what looks good without too much customization and see how you like it.

Regarding the button I have been hoping to style the "Buy Tickets" button/link as was in the original design, but I'm not yet sure how t

[2022-09-16 13:15] pbking commented on #6550
Ok, I hope to have a demo site setup early next week, or you can test locally if you want to see it sooner.  The repo is pretty up-to-date.

I'll close this and we can create new issues if something doesn't work.

This confusion has shown us the need for some detailed "very wide" comps in our theme designs though to eliminate the ambiguity!

[2022-09-16 13:15] #6550 closed, assigned to jffng

[2022-09-16 13:30] Gustavo-Hilario opened #6612 "Penscratch 2 > List Block: Multi-levels lists don't have a cascading style on the editor"
### Quick summary

When creating multi-level lists on Penscratch 2 page/post editor, it shows list items at the same level on the editor.

### Steps to reproduce

1. Activate the `Penscratch 2` theme.
2. Create a new page or post.
3. Add a `List block` with nested menu items. Check the screenshot below.
4. Check the published page. You will notice that this issue only happens in the editor.

<img

[2022-09-16 13:37] henriqueiamarino commented on #6555
@pbking @jffng lollowing an existing pattern I created an **Archive** page. I hope it can solve some of these problems. Design in Figma too.

![decibel_Archive](https://user-images.githubusercontent.com/103748085/190651859-add518f8-4902-4a23-93d8-089a8cc6fff0.png)

[2022-09-16 16:57] #6560 closed, assigned to nobody

[2022-09-16 20:20] pbking commented on #6568
See #6585 for details.

We decided to reduce this to just the illustrations being used in the design.

[2022-09-17 04:15] kavyagokul opened #6655 "Twenty seventeen: Setting a dark site background makes form fields unreadable in the block editor"
### Quick summary

When setting a drak background color with the Twenty seventeen theme, form fields in the block editor sidebar inherit that dark background and become unreadable.

### Steps to reproduce

1. Start with a site on the Twenty seventeen theme
2. Go to the customizer > Colors and Backgrounds
3. Set a dark color for the site background.
4. Save and go to Pages or Posts, and enter the e

[2022-09-17 17:20] eduardozulian commented on #1458
Another report in 5556243-zen

[2022-09-19 02:43] donalirl opened #6589 "[Bug]: Munchies - Site Title Color does not change"
### Quick summary

The Site Title block's color settings have no effect on this theme.

### Steps to reproduce

1. Activate the Munchies theme
2. Go to Appearance → Editor
3. Click on the Site Title block
4. Change Text color and/or Link color in block settings
5. Click Save
6. Observe the site title's color has not changed on the live site

I also tried changing the colors in Styles, but it did n

[2022-09-19 03:24] donalirl opened #6590 "[Bug]: Munchies: Footer Credit Coded Incorrectly"
### Quick summary

Simple sites with the Munchies theme show the footer credit as "Proudly powered by WordPress" and does not respond to changing this in the footer credit settings.

Atomic sites show "Blog at WordPress.com." Removing the footer credit in the Site Editor does not remove the credit from the live site.

### Steps to reproduce

### Simple Site

1. Activate the Munchies theme and obse

[2022-09-19 09:52] alaczek commented on #6605
This seems to be a problem on the demo site only - I could not reproduce it on another site using Thriving Artist.
I encountered this while developing the theme, and chatted with Woo devs, but we didn't dig too deeply at the time.
Slack convo here: p1659592767525439-slack-C02SGH7JBGS

[2022-09-19 13:39] mikeicode commented on #6605
@alaczek I tried on an AT site and the cart does work for me, although it appears to have some styling issues.

![Screen Shot on 2022-09-19 at 09:34:09](https://user-images.githubusercontent.com/10353785/191030662-17511cd6-d0b5-4508-8434-07e02848e269.png)

[2022-09-19 13:46] #6526 closed, assigned to matiasbenedetto

[2022-09-19 15:50] beafialho opened #6592 "Design improvement suggestions to Block Canvas"
In order to improve Block Canvas as a starting point to build themes, there are a few improvements I suggest.

The first one is the theme links states. Here's a comparison between Blockbase and Block Canvas' hover states, Blockbase being what I consider to be ideal:

**Blockbase:**

https://user-images.githubusercontent.com/65220155/191051561-3ce6e70f-196b-4c27-914a-b1e76e189ded.mp4

**Block Canva

[2022-09-19 16:19] #6552 closed, assigned to nobody

[2022-09-19 16:31] #6568 closed, assigned to nobody

[2022-09-19 16:45] #6557 closed, assigned to jffng

[2022-09-19 17:08] #6566 closed, assigned to nobody

[2022-09-19 17:38] pbking commented on #6551
I'm not sure how much control of some of the above spacing we (easily) have.  Gonna leave it as-is with this work as TBD and we'll see if we can tackle some of the spacing concerns you have down the road a bit.

[2022-09-20 10:25] madhusudhand commented on #6440
Just to clarify, do you expect the inner border to stay always white or to be some other color?

For example, when the text color is set to red and background is green, do you expect the following?

![image](https://user-images.githubusercontent.com/1935113/191233932-e036de3f-fd26-4094-ad15-2ccb9ade780c.png)

[2022-09-20 10:38] #6462 closed, assigned to nobody

[2022-09-20 12:46] ClassicRKR27 commented on #3957
I have another report of this here: 36474823-hc

Screenshot: ![HtKrkW.png](https://user-images.githubusercontent.com/51870544/191261201-f6db287a-a062-4688-89c0-5cd46aa2ec02.png)

[2022-09-20 14:23] pbking commented on #6558
Looks like a super-simple page template.

The patterns we'll make to go into a page in the demo (in another issue), and the template we can just copy the existing `single.html` and pull out the comments portion and call it done.

[2022-09-20 18:40] ccwalburn opened #6602 "Munchies: Navigation Block Text Color not recognized in Site Editor"
## Steps to replicate

1. Change Header Row background color to white
2. Change Navigation Block Text color to black

## Result

Background color changest to white
Navigation Block Text color remains white so you can't see the menu items in the site Editor:

![screenshot](https://d.pr/i/973WT9+)
Image URL: https://d.pr/i/973WT9

The front end of the site shows the black text color, though:

![scre

[2022-09-20 23:01] thekingsprojects commented on #679
Another report here: 37009575-hc (Atomic)

Turning off lazy load helped.

[2022-09-20 23:10] deancroyal commented on #2945
Another report in #31057107-zd

Used CSS as temporary workaround.

[2022-09-21 00:14] cuemarie commented on #6066
Reports from https://github.com/Automattic/wp-calypso/issues/65344

---

5356004-zd-woothemes

- Theme: Byrne
**CSS Workaround provided:**

[code]

---

5467273-zd-woothemes

- Theme: Heiwa
**CSS Workaround provided:**

[code]

[2022-09-21 00:25] cuemarie commented on #6604
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**
- Replicable on Core? **Yes**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated the issue in all environments - seems Twenty Eleven is not responding to the nested list block

*Examples*

**AT**
![Markup on 2022-09-20 at 17:21:52](https://user-images.githubusercontent.com/2724980

[2022-09-21 00:33] cuemarie commented on #6605
📌 SCRUBBING : RESULT
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I activated **Thriving Artist** on my WooCommerce test site, added a product to the cart on the site, and selected the Cart icon, and this replicated the issue as described in the report:

**After adding product to cart**

![Markup on 2022-09-20 at 17:30:05](https://user-images.githubusercontent.com/27249804/191388

[2022-09-21 03:25] yashitamittal11 commented on #3365
the user has selected custom text color, then
custom text color does not show.

This [PR](https://github.com/Automattic/themes/pull/6523) fixes the 2nd problem in the Varia theme. I am reopening this issue as the first problem requires a fix.

[2022-09-21 13:33] #6555 closed, assigned to nobody

[2022-09-21 13:33] #6559 closed, assigned to nobody

[2022-09-21 14:13] pbking commented on #6554
Going to close this one now.

There are no variations planned for Decibel.  We'll open up a new issue should that change.

[2022-09-21 14:13] #6554 closed, assigned to nobody

[2022-09-21 17:04] jeffikus opened #6609 "Loudness: Rename Decibel to Loudness."
- [ ] Change folder name from Decibel to Loudness
- [x] Change Issue Label from Decibel to Loudness
- [x] Change Project board from Decibel to Loudness
- [x] Change existing issue titles

[2022-09-21 17:20] jeffikus commented on #6609
@pbking @vcanales @jffng only thing I haven't managed to do is change the folder name. Also updated the Milestone name.

[2022-09-21 21:51] #6609 closed, assigned to nobody

[2022-09-22 01:56] thekingsprojects opened #6611 "Illustratr, Toujours, other themes: No margins between Image blocks on live site"
### Quick summary

On Illustratr and several other themes, when a page or post has two or more Image blocks one above another, there is normally a space between those images in the block editor. On a live site (and assuming the Image blocks do not have captions), those margins disappear, and the images touch directly.

A short list of themes I found that are affected by this; I haven't checked all

[2022-09-22 05:53] Greatdane commented on #6612
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- A8C theme, affects both simple and atomic.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to theme repo

[2022-09-22 14:48] matiasbenedetto commented on #6421
@beafialho Could you upload the showcase image for Rainfall, please?

[2022-09-22 15:06] beafialho commented on #6421
@matiasbenedetto is that the one with 1200 x 900px or a full page screenshot?

[2022-09-22 15:28] #6558 closed, assigned to nobody

[2022-09-22 15:33] matiasbenedetto commented on #6421
@beafialho is this type of image: https://theme.files.wordpress.com/2022/08/disco-showcase.jpg

[2022-09-22 15:41] beafialho commented on #6421
Oh, that's right! I totally forgot this one 😄 Here it is:

![rainfall](https://user-images.githubusercontent.com/65220155/191791810-70003133-c536-4a37-877e-f808159651c0.png)

Here's one showing the patterns to include in the showcase entry:

![Rainfall Patterns](https://user-images.githubusercontent.com/65220155/191791751-da7f3d89-805d-4383-97de-f5e19fd9cba1.png)

[2022-09-22 15:53] mikachan commented on #6512
Looks like the link colour issue has been handled with D87616-code, so I'm going to close this. Please re-open if I've misunderstood!

[2022-09-22 15:53] #6512 closed, assigned to nobody

[2022-09-22 23:36] macmanx2 commented on #6611
I can confirm that this issue affects the Editor theme too:

![SCR-20220922-mz5](https://user-images.githubusercontent.com/4856235/191868943-d4209bd1-ef64-4ff9-9567-273e5a0a53b5.jpeg)

The recommended CSS workaround above does fix the issue, but similarly, the user does not have a paid plan to implement this.

Regarding https://wordpress.com/forums/topic/what-is-up-with-the-spacing/?view=all

[2022-09-25 10:13] csabarakasz commented on #3246
Same issue: ![xvdCRFcx2CSGhRvJGWk24cHZilz7UWOOmUqmlQgM.jpg](https://user-images.githubusercontent.com/84539773/192138433-ee3b875f-b938-46ca-9aae-79ba45a4e899.jpg)

- [ ] 34388400-hc

[2022-09-26 13:53] beafialho opened #6624 "Loudness: Replace theme credit"
Replace `Proudly Powered by WordPress` with `Designed with WordPress`.

Also, as a suggestion from @pablohoneyhoney, it would be nice to use this in every new theme from now on 🙂

cc: @henriqueiamarino

[2022-09-26 14:25] brinbliss opened #6625 "Shoreditch: Missing Dimension Settings for Column Blocks"
### Quick summary

For Column Blocks, there are additional settings that pop up to manage the padding, border, and radius of the entire Column Block or individual columns, within the "Dimensions" tab. However, the Shoreditch theme does not show these options within the Editor.

### Steps to reproduce

1. With any other theme applied, such as Dorna (FSE) or Coutoire (Classic), create a new page wit

[2022-09-26 17:04] #6624 closed, assigned to vcanales

[2022-09-26 18:07] bobmatyas commented on #2945
@silvio-meter and @ivan-ottinger I looked into this one and I couldn't reproduce it.

When adding a Tiled Gallery in Illustratr I get the expected results without the margin:
<img width="912" alt="Screenshot on 2022-09-26 at 14-06-48" src="https://user-images.githubusercontent.com/45246438/192348929-0e44b8bf-cd6b-41c8-bba5-469bcd087087.png">

I'm wondering if this has been resolved since the issue

[2022-09-26 18:59] bobmatyas commented on #6612
This also happens on simple sites if Gutenberg 14.1 is activated.

A `classic.css` file is added with:

[code]

That overwrites the theme's editor styles. I couldn't figure out an override here that would work to prevent this.

[2022-09-26 19:10] ariel-maidana commented on #6611
Applied the workaround. We will want to remove that CSS code once the issue is fixed.

5586567-zd-woothemes

[2022-09-26 19:14] JessBoctor commented on #6037
I checked the Twenty-Twenty theme now that WP 6.1 has been released. This font alignment looks to be resolved, so I am closing this issue. 😁

<img width="1499" alt="GH6037-Resolved" src="https://user-images.githubusercontent.com/12505355/192360771-3deb8c5b-4b16-4c15-b90a-d766da0f4087.png">

[2022-09-26 19:14] #6037 closed, assigned to nobody

[2022-09-27 05:25] rw-ye commented on #5584
Another report here: 5583870-zd-woothemes

[2022-09-27 05:28] inaikem commented on #6611
User report (Illustratr). I shared the CSS workaround:

5584984-zd-woothemes

[2022-09-27 06:30] jordesign opened #6634 "[Bug]: Cultivate: Default Navigation block state shows 'Cannot Retrieve Pages' when there are no pages in the site"
### Quick summary

Noticed in testing with Cultivate theme - I found this happened through onboarding - so it was the default state when I landed in the Site Editor for the first time. When that happened the default state of the Navigation Block was not as expected.

### Steps to reproduce

1a. Go through onboarding with the Cultivate theme, or
1b. Make sure you have no pages in your site, and act

[2022-09-27 08:53] simison opened #6635 "[Bug]: Disco theme missing spacing from sides"
### Quick summary

Disco theme missing spacing from sides

### Steps to reproduce

When creating a new site on .com, pick Disco theme and see how it's missing spacing styles:

<img width="1707" alt="Screenshot 2022-09-27 at 11 49 40" src="https://user-images.githubusercontent.com/87168/192480087-8f0e8613-4cee-4cd8-b17c-5b47418dd638.png">
<img width="1706" alt="Screenshot 2022-09-27 at 11 49 36" sr

[2022-09-27 09:15] candy02058912 commented on #6141
Update: This issue seems to have been fixed when I checked out the test site I was using today with the latest Gutenberg version.

[2022-09-27 10:42] madhusudhand commented on #6472
@beafialho can you attach screenshots for showcase entry here.

[2022-09-27 13:50] ivan-ottinger commented on #2945
Thanks for the ping, Bob!

That's right, I couldn't reproduce the issue anymore either. I think we can close this issue. 👍🏼

[2022-09-27 13:50] #2945 closed, assigned to nobody

[2022-09-27 14:37] beafialho commented on #6472
Sure @madhusudhand, here it is:

![Pixl](https://user-images.githubusercontent.com/65220155/192556705-6d732bb8-9836-4bbe-99d7-1a0e704fefb0.png)

[2022-09-27 14:39] beafialho commented on #6472
The [demo site](https://pixldemo.wordpress.com) has been updated too.

[2022-09-27 17:28] jamiepalatnik commented on #5947
Another report: 37027549-hc

Suggested unselecting Blog as the posts page and using a Blog Posts block instead or switching to another theme.

[2022-09-27 18:12] danielbachhuber commented on #6581
Created a patch D88642-code

[2022-09-27 18:44] #6553 closed, assigned to vcanales

[2022-09-27 18:55] jeffikus commented on #6581
Reviewed, changes suggested in diff patch.

[2022-09-27 19:15] #6569 closed, assigned to nobody

[2022-09-28 14:35] nellofn opened #6639 "Arbutus: Load more posts button style is not applied live"
## Steps to replicate

- Add a Blog Posts block
- Enable Show "Load more posts" Button
- Set when to show more posts; e.g.: 2 or more posts
- Ensure your site has at least 3 blog posts

## Result

No style is applied to the **Load more posts (Show more)** post button style when the site is viewed live. It only works correctly in edit mode.

In edit mode:
<img width="332" alt="Screen Shot 2022-09-2

[2022-09-28 15:18] #6543 closed, assigned to nobody

[2022-09-29 06:39] madhusudhand commented on #6471
created [pixldemo.wordpress.com](https://pixldemo.wordpress.com)

[2022-09-29 06:39] #6471 closed, assigned to nobody

[2022-09-29 07:52] madhusudhand commented on #6592
@beafialho In addition to links, do you want the theme to have all the updates from figma such as botton styles, spacing, colors etc...?

[2022-09-29 08:09] beafialho commented on #6592
@madhusudhand yes, that would be great!

[2022-09-29 12:32] pbking commented on #6551
I looked into the differences between Pixl and Loudness (and also Block Canvas).

While all of the templating and relevant style opinion seems to be the same between the themes the differences illustrated above still seem to persist and I can't quite figure out why.  There are different margins throughout and ¯\_(ツ)_/¯

More research is needed.  However I hoping that perhaps the existing layout is

[2022-09-29 14:46] bobmatyas opened #6642 "[Bug]: Pique: Social Links Hover Style Incorrect in Widgets"
### Quick summary

Hover styles for the social media widget always show as solid squares:

<img width="494" alt="Screenshot on 2022-09-29 at 10-44-19" src="https://user-images.githubusercontent.com/45246438/193063033-d0d2f171-63d8-430e-abab-36abc16e741f.png">

### Steps to reproduce

1. Add a social links widget to the widget area
2. Hover over a link and observe that the background is a dark gray

[2022-09-29 18:02] bobmatyas commented on #5699
I spent some time looking into this and it does appear related to the Blog Carousel block rather than being theme specific. I could reproduce on Apostrophe 2 and Balsana.

I found a similar issue in the Newspack repo: https://github.com/Automattic/newspack-blocks/issues/1063

It doesn't seem there is anything we can do in the theme to fix it.

[2022-09-30 13:22] bobmatyas commented on #4798
I'm going to close this since it can't be replicated. If the issue comes up again, feel free to reopen with specifics on how to reproduce it.

[2022-09-30 14:01] bobmatyas commented on #667
@katinthehatsite I tested this on Ixion and could no longer reproduce the issue:

<img width="885" alt="Screenshot on 2022-09-30 at 10-00-31" src="https://user-images.githubusercontent.com/45246438/193286683-44759795-4843-44d8-b684-713e642101c3.png">

Can you still reproduce this?

[2022-09-30 14:05] bobmatyas opened #6648 "Independent Publisher 2: Table Block Border Surrounds Caption"
### Quick summary

Border on the Table block extends beyond table element and surrounds the caption:

<img width="740" alt="Screenshot on 2022-09-30 at 09-59-51" src="https://user-images.githubusercontent.com/45246438/193287572-26e659d2-3094-4a49-87e8-13eef57c9a39.png">

### Steps to reproduce

1. Add a table block
2. Observe that left border extends beyond table and onto caption line

### What yo

[2022-09-30 14:49] bobmatyas commented on #4902
@adelineyaw I couldn't reproduce this issue. Only the Navigation Menu widget is an option and the styling is consistent:

<img width="975" alt="Screenshot on 2022-09-30 at 10-45-15" src="https://user-images.githubusercontent.com/45246438/193296508-f72c0416-dfc8-496d-82e2-59234f3e4848.png">

Let me know if I'm misunderstanding how to reproduce this but if not I think we can close this out.

[2022-09-30 15:21] bobmatyas commented on #6193
I thought the border controls might be enabled by opting into `appearance-tools` in `functions.php` as [described in the documentation](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#appearance-tools) but unfortunately, that didn't fix the issue.

[2022-09-30 20:03] mikachan opened #6653 "Loudness: Instructors pattern not rendering correctly"
### Quick summary

The Instructors pattern in Loudness doesn't seem to render correctly on wpcom. The preview looks normal, but the actual pattern looks strange.

![image](https://user-images.githubusercontent.com/1645628/193347311-65ce280c-0f15-4d34-b9c3-088f9c982222.png)

![image](https://user-images.githubusercontent.com/1645628/193347331-9d3166fa-27bd-441d-a757-4e6192fa3e5e.png)

### Steps to

[2022-10-01 22:13] anuguywp opened #6659 "Twenty Twenty-One: Site branding and navigation overlapping ads on mobile"
### Quick summary

![siteheaderads](https://user-images.githubusercontent.com/92202095/193429807-9a5fa6e9-9131-41a8-bb3e-65db54383fd8.png)

You will notice in the image that the site logo and menu on mobile is rending in front of the ad at the top of the site. This is because of an absolute positioning that gets added under 481px width

### Steps to reproduce

1. View site on actual mobile device.

[2022-10-01 22:14] anuguywp commented on #6659
5598698-zen

[2022-10-02 02:46] edwinho89 commented on #2262
5597194-zd-woothemes

[2022-10-02 02:46] edwinho89 commented on #1294
5597194-zd-woothemes

In conjunction to the above, user also experienced spacer block being ignored on https://github.com/Automattic/themes/issues/2262

[2022-10-02 03:39] tanjoymor opened #6660 "Homepage switching not working on select themes"
### Quick summary

When switching to some of the "Hybrid" themes, we're not presenting the choice to retain the Homepage vs load the theme's Homepage and instead we are by default moving the existing Homepage to drafts and pulling in the theme's demo Homepage.

This happens with **Stratford**, **Balasana**, **Mayland**, **Dalston**, and **Leven**. All other themes here: https://wordpress.com/theme

[2022-10-02 04:00] tanjoymor opened #6661 "Classic View theme preview not working"
### Quick summary

When you have a Hybrid or Classic theme active, the Preview feature under the "Classic View" doesn't work on Block themes.

### Steps to reproduce

1. In a Simple Site, activate any [Hybrid](https://wordpress.com/themes/filter/hybrid-themes) or [Classic](https://wordpress.com/themes/filter/classic-theme) theme
2. Switch the Theme's page view from Default to Classic (top right co

[2022-10-03 06:04] #6642 closed, assigned to nobody

[2022-10-03 06:05] #6447 closed, assigned to nobody

[2022-10-03 15:48] csonnek commented on #5602
Another report for Twenty Twenty-Two (Pink): https://wordpress.com/forums/topic/no-colour-on-images/?view=all

[2022-10-04 10:09] madhusudhand commented on #6472
Created the showcase entry https://theme.wordpress.com/themes/pixl/

[2022-10-04 10:09] #6472 closed, assigned to nobody

[2022-10-04 12:04] kavyagokul commented on #6655
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted -  Could Not Replicate
- Replicable on Core - No

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Moved to themes repo

[2022-10-04 13:47] ebinnion opened #6656 "Lettre Theme: Fonts feel a bit imbalanced (compared to editor fonts, and against the column size)"
### Quick summary

See pbAok1-3fI-ps#comment-5563

The feedback here seems to be that the fonts, and column size, within the editor differs from what is displayed on the frontend. Ideally, it should be identical or look very, very similar.

See p2 post for figma, screenshots, etc.

### Steps to reproduce

1. Start at wordpress.com logged-out
2. Click Newsletter tile
3. Go through Newsletter use ca

[2022-10-04 13:51] ebinnion opened #6657 "Lettre Theme: We might not need the author"
### Quick summary

See pbAok1-3fI-p2#comment-5563 for more detail, figma, etc.

Since the site already has an icon and a site title, it's thought that on the Lettre theme, that we shouldn't display the author field.

### Steps to reproduce

1. Go to wordpress.com logged-out
2. Click on Newsletter tile and work through Newsletter use case
3. Get to end of flow
4. Publish post
5. Verify author is di

[2022-10-04 13:54] ebinnion opened #6658 "Lettre Theme: “Leave a reply” why is it in italics?"
### Quick summary

See pbAok1-3fI-p2#comment-5563 for more details, screenshots, figma, etc.

The figma calls for "Leave a reply" to not be italic. But, it is.

### Steps to reproduce

1. Start at wordpress.com logged-out
2. Click Newsletter tile and work through use case
3. At the end of the flow, publish a post and view frontend of site
4. Verify that "Leave a reply" is in italic

### What you e

[2022-10-04 15:27] jamiepalatnik commented on #6659
📌 SCRUBBING : RESULT
- Tested on AT - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue on my test site using the Twenty Twenty-One theme, but in my test the ad was only overlapping with the menu, not the site title.
- Screenshot:

![Ads on Twenty Twenty-One](https://user-images.githubusercontent.com/30788962/193860683-f5ac5181-d247-48e3-9fd4-c8554602f124.PNG)

- From w

[2022-10-04 15:36] #6592 closed, assigned to madhusudhand

[2022-10-04 15:38] jamiepalatnik commented on #6660
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this on all of the listed themes, as well as on the theme Varia.
- I tested a few other themes from the hybrid themes filter and saw the modal with an option to choose if I wanted to use the theme homepage or not.
- I would also expect the experience to be consistent for these themes.

📌 AC

[2022-10-04 15:57] jamiepalatnik commented on #6661
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- On a simple site, I activated the Varia theme and switched to classic view, then tested preview for several themes.
- I was able to replicate the blank grey screen in the Customizer with the following themes: Appleton, Twenty Twenty-Two, Russell, Vivre, Zoologist
- With Varia active, when I tried Mayland, Barnsbur

[2022-10-04 23:19] roundhill opened #6662 "[Bug]: Videomaker White Theme: Incorrect Font"
### Quick summary

When switching to the Videomaker white theme, it appears to not have the same font that the dark version uses (Looks like it should be `Inter`). Instead you get a generic serif font:

<img width="716" alt="Screen Shot 2022-10-04 at 5 14 32 PM" src="https://user-images.githubusercontent.com/789137/193947823-66a45a94-ea1f-4032-a1c4-85637e13cb01.png">

### Steps to reproduce

1. Ad

[2022-10-05 00:39] connorhipps commented on #5052
Another report here as well: 5605998-zd-woothemes

[2022-10-05 11:09] getdave commented on #6195
Please see https://github.com/WordPress/gutenberg/issues/41146#issuecomment-1172231277.

Also a patch fix has landed in https://github.com/WordPress/gutenberg/pull/44578.

[2022-10-05 19:12] jp-imagines commented on #2753
Came across this in 5603255-zd-woothemes

This user's site was only affected on some landscape-oriented tablet devices (confirmed in browser inspector's device preview). Any content with the `.alignwide` class was subject to this CSS, which I think is coming from Karuna's `blocks.css` file:

[code]

Setting all blocks to `none` width fixes this, but also changes the appearance on desktop devices (

[2022-10-06 11:48] annbingle commented on #6590
Another report here 37268273-hc I gave them a CSS Workaround below. I tested that the code works fine in other pages too.

`/* Hides the WPCOM Footer Credit in Munchies | 37268273-hc (AB) */
body > div.wp-site-blocks > div > p > a {
 display: none;
}`

[2022-10-07 10:52] madhusudhand commented on #6473
Changes landed.

[2022-10-07 10:52] #6473 closed, assigned to nobody

[2022-10-07 18:03] masperber opened #6666 "[Bug]: Skatepark: Missing accessible name for <SVG>"
### Quick summary

https://www.boia.org/ report:

"Missing accessible name for <SVG> Tag in <svg width="25" height="24" viewbox="0 0 ... fill="#FFFFFF"></rect> </g> </svg>. SVG structure did not contain a child title tag nor aria-label or aria-labelledby attributes.".

This element is contained within <div class="jp-swiper-button-prev swiper-button-prev">

### Steps to reproduce

Create a site wit

[2022-10-07 18:27] masperber opened #6667 "[Bug]: Accessibility: Empty <ul> tag .jp-carousel-image-exif"
### Quick summary

https://www.boia.org/ report:

List container <UL> Tag should only contain proper child items

The tag `<ul class="jp-carousel-image-exif" style="display: none;"></ul>` lacks any proper child items.

### Steps to reproduce

Create any site with Jetpack Carousel Image module active.

### What you expected to happen

Since this tag is used for presentation, a non-list tag should b

[2022-10-08 00:37] tanjoymor commented on #6660
These 5 themes are missing the "Theme Feature" tag of "Auto Loading Homepage"

Dalston example:
![mKbsWq.png](https://user-images.githubusercontent.com/42655541/194678636-287554dc-23ac-4b27-a0ce-f3f8ba6dfdd4.png)

Rockfield example:
![DihKo8.png](https://user-images.githubusercontent.com/42655541/194678644-28ae692d-4e4a-46b9-afaf-6c83a5fcb7a4.png)

Does it break something if that tag is added to t

[2022-10-09 20:32] happychait commented on #5736
Another report in 5616057-zen

[2022-10-10 11:29] danielbachhuber commented on #6581
@jeffikus Unassigning this from myself. Feel free to ping me if you need any further testing, etc.

[2022-10-10 15:07] #5353 closed, assigned to nobody

[2022-10-10 16:06] jffng opened #6668 "Revisit navigation typography CSS in block themes"
We should revisit and remove the navigation CSS where possible, specifically since more typography control has been added to navigation blocks and submenu links.  This CSS will conflict if users set custom sizes for their submenus.

- [ ] Disco
- [ ] Pendant
- [ ] Vivre

Maybe more.

[2022-10-10 17:06] pbking commented on #6653
This seems to have been caused by missing alignment classes which were added/corrected after Gutenberg 14.0

With Gutenberg 14.2 this is no longer happening and this can be closed.

[2022-10-10 17:06] #6653 closed, assigned to nobody

[2022-10-10 17:07] #6547 closed, assigned to nobody

[2022-10-11 20:24] hngdny commented on #6197
Also happening on Baskerville 2
User reported on 37369570-hc and created follow-up 5623884-zd-woothemes as requested.

[2022-10-12 07:32] zdenys commented on #6639
Related:
- https://github.com/Automattic/themes/issues/5739
- https://github.com/Automattic/newspack-blocks/issues/357

The CSS workaround from the above reports:

[code]

[2022-10-12 15:56] Gustavo-Hilario commented on #5584
I tested this issue on WordPress.com and local sites using `Balasana` and `Apostrophe 2` themes, but I couldn't reproduce it. Maybe I'm not testing this correctly, but I thought I should leave a note here in case somewhere decide to investigate this further 😃

[2022-10-12 20:34] ccwalburn opened #6671 "[Blockbase] FSE Navigation Block: Page List doesn't show unless a change to the header is saved"
### Quick summary

If the Navigation block uses the Page List block in a Header Template, it sometimes shows all of the pages correctly when you look at it in the site Editor, but it doesn't show them on the front end. Re-saving the template in the site Editor fixes it.

### Steps to reproduce

I could only reproduce this on a brand new site.

1. Create new site with Winkel
2. Add an About and Con

[2022-10-12 21:15] ha-un opened #6672 "Varia and child themes: Theme overrides photo border color"
### Quick summary

When an image has a set border color and width on a page, it is not reflected on the live view and displays the theme's set colors.

### Steps to reproduce

1. Create a new site
2. Activate the **Hever** theme
3. Insert a new image block in a page & upload an image
4. Set a border color
5. Update page

### What you expected to happen

To show the border color selected on the pag

[2022-10-13 09:46] aleone89 commented on #2460
I'm come across this bug in the theme forums here: https://wordpress.org/support/topic/customizing-navigation-etc-colors-in-espied/page/2/

I don't think this is theme specific but perhaps editor specific as the the theme in use is Espied. The alignment of the YouTube embed block didn't seem to want to stick.

I suggested the code which might work:

[code]

[2022-10-13 10:05] kavyagokul commented on #3892
Core bug filed for this issue
https://github.com/WordPress/gutenberg/issues/44924

[2022-10-13 15:04] metabreakr commented on #5011
Also ran into this issue for a Built By Express build: pdEkSe-1iF-p2

[2022-10-14 05:01] Robertght opened #6674 "Syntax: images without captions do not have a margin bottom"
### Quick summary

If there's a paragraph after an image without a caption, there will be no gap between the two

### Steps to reproduce

1. Activate the Syntax theem
2. Add an image and a paragraph after
3. Publish and check results

### What you expected to happen

To see a gap between the two as in the editor.

### What actually happened

![qKey3U.png](https://user-images.githubusercontent.com/

[2022-10-14 05:36] Robertght commented on #6485
Another case where the Archive page has this disabled therefore the categories weren't showing up correctly.

5628397-zen

[2022-10-14 13:34] csonnek commented on #1901
Another report here: https://wordpress.com/forums/topic/rossies-go-roaming-title-moves-with-text-on-tablet/?view=all

[2022-10-14 17:15] Gustavo-Hilario commented on #3306
I couldn't reproduce this issue on local sites and WordPress.com. I'm closing this report for now.

[2022-10-14 17:15] #3306 closed, assigned to nobody

[2022-10-14 17:25] Gustavo-Hilario commented on #1719
I couldn't reproduce this issue on local sites and WordPress.com. I tested it with Baskerville 2 and Dara. I'm closing this issue for now.

[2022-10-14 17:25] #1719 closed

[2022-10-14 17:43] Gustavo-Hilario commented on #2626
I couldn't reproduce this issue on local sites and WordPress.com using Exford and Varia themes. I'm closing this issue for now.

[2022-10-14 17:43] #2626 closed

[2022-10-14 21:26] Gustavo-Hilario commented on #2892
I couldn't reproduce this issue. The input and button layout seems okay to me:

![Markup on 2022-10-14 at 16:25:15](https://user-images.githubusercontent.com/50875131/195946574-bf2dc3b0-09f8-42f8-ad02-7db1e69afe3c.png)

I'm closing this issue for now.

[2022-10-14 21:26] #2892 closed, assigned to nobody

[2022-10-15 07:44] scruffian commented on #1901
We looked into this and it would be too difficult to maintain backwards compatibility. Let's close as wontfix.

[2022-10-15 07:44] #1901 closed

[2022-10-15 15:10] ariel-maidana commented on #6611
User report (Tonal). Applied CSS workaround.
5616066-zd-woothemes

[2022-10-15 15:13] Gustavo-Hilario opened #7409 "FSE Themes: Long words with big font sizes are not displaying correctly on smaller screens"
### Quick summary

The text on the `Paragraph` and `Heading` blocks are not breaking into new lines when words are longer (or the font size is too big) than the screen width.

### Steps to reproduce

1. Activate a block-based theme. I could reproduce it with Munchies and Meraki.
2. On the Site or Page Editor, add either a `Paragraph` or `Heading` block.
3. Add some text and make sure some words ar

[2022-10-16 10:36] mdtanjid0 commented on #6066
Another one 5634347-zd

Theme: byrne ( child of blockbase-premium ).

[2022-10-17 02:00] retnonindya opened #6682 "Theme Masu: Missing post content (Query Loop Block) on template Archive"
### Quick summary

Missing Query Loop Block on the template Archive in theme Masu, causing the category page, no matter which category, to display the latest blog post instead of the posts based on the category/tag/any archive format.

Also, the theme Masu looks BEAUTIFUL. Kudos to whoever made it.

### Steps to reproduce

1. Make sure the website/blog has enough categories/tags. This won't work o

[2022-10-17 08:01] kspilarski commented on #5602
Same case in 14062091-hc , Twenty Twenty Two Mint, free plan.

[2022-10-17 11:08] ariel-maidana commented on #6035
Another case: 5635357-zd-woothemes

[2022-10-17 11:44] ariel-maidana commented on #2753
Another report: 5635357-zd-woothemes
The Group block has two columns and background color. If Group block alignment is set to "None" the contents overflow the background.

[2022-10-17 13:31] donnapep opened #6989 "Course List Filter - Make UI consistent between editor and front-end"
The filter dropdowns currently look like this in the editor with the Sensei theme enabled:

![Screen Shot 2022-10-17 at 9 25 54 AM](https://user-images.githubusercontent.com/1190420/196189006-fd5294d5-f3c8-4aeb-8ecd-03f478d1814d.jpg)

But it looks like this on the front-end:

![Screen Shot 2022-10-17 at 9 25 33 AM](https://user-images.githubusercontent.com/1190420/196188914-43ac6d92-0cad-4ba5-ace6

[2022-10-17 15:28] donnapep opened #6988 "Course List - Style tweaks to course title and post author name"
Tweak the course title and post author name so that they match the [design](nf4oV51c1JBxJKXshMe7cd-fi-20020078%3A3018). This is applicable for both grid and list view.

## Screenshot
![Screen Shot 2022-10-17 at 11 22 22 AM](https://user-images.githubusercontent.com/1190420/196217806-b3f676b0-b863-42ba-bcfd-0702d8bf4f7e.jpg)

## Acceptance Criteria
#### Scenario: Course List - Editor
**Given** The

[2022-10-17 17:20] mikeicode commented on #6418
Another  pdEkSe-1ts-p2

[2022-10-17 22:21] hngdny opened #6683 "Escutcheon: Only excerpts are showing in blog feed despite Full Text selected in Blog Reading Settings"
### Quick summary

User reports that their site was previously always showing 'Full text' on their home page blog posts feed. Toggling the option to 'Excerpt' and back to 'Full text' does not force full text to appear.

### Steps to reproduce

1. Create Simple site with Escutcheon theme
2. Add test post with a few paragraph of text
3. Go to Settings > Reading and select 'Full Text'

### What you e

[2022-10-18 08:19] csabarakasz commented on #489
Another report here:

- [ ] 498528-hc

It is sad this is a won't wix.

[2022-10-18 12:55] kavyagokul commented on #6671
📌 SCRUBBING : RESULT
- Tested on P2 - n/a
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
Steps to repro
1. On a simple or atomic site, switch the Blockbase, or any child theme
2. After switching, view the site. The navigation created by the page list block would be missing.
3. Launch the site

[2022-10-18 13:14] kavyagokul commented on #6672
📌 SCRUBBING : RESULT
- Tested on P2 - n/a
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Issue with all Varia child themes
- Only reproducible with the colors showing in the palette. Custom colors work

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes

[2022-10-18 15:54] jorpdesigns commented on #2451
Reported in 37484501-hc

No follow-up needed.

[2022-10-18 20:39] pbking opened #6673 "[Bug]: Archeo: The 'Layered images with headline' pattern has block errors on wpcom"
### Quick summary

The pattern included in Archeo named "Layered images with headline" has a block error on wpcom.

<img width="318" alt="image" src="https://user-images.githubusercontent.com/146530/196539736-189651e4-d283-4443-8ca3-20ceb8cc3beb.png">

This pattern is included in the "Home" page so when a user replaces their homepage with the theme content this markup is included.

The pattern is

[2022-10-18 21:56] cuemarie commented on #6674
📌 SCRUBBING : RESULT
- Tested on AT: Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- Issue reproduces exactly as described above

*Example*

Editor:
![Markup on 2022-10-18 at 14:54:08](https://user-images.githubusercontent.com/27249804/196552279-78ba3056-0c37-4bf0-8dc2-52910c0a36dc.png)

Live site:
![Markup on 2022-10-18 at 14:54:37](https://user-images.githubusercontent.com/27249804/196552307-eacaf3a6

[2022-10-19 07:20] mriyazuddin commented on #1780
Another one reported here: 5641897-zd

I was able to fix it using the below CSS:

@media screen and (min-width: 960px) {
.entry-header-wrapper {
    position: relative;
}
}

[2022-10-19 09:58] #5724 closed, assigned to nobody

[2022-10-19 09:59] #5249 closed, assigned to nobody

[2022-10-19 09:59] #6612 closed, assigned to nobody

[2022-10-19 10:58] mikachan commented on #6673
When I click 'attempt block recovery' or when I headstart Archeo, and then copy the paragraph from this pattern, I see a double paragraph element, like this:

[code]

I'm wondering if the editor wants this to be two paragraphs instead of one for some reason, maybe in order to apply the styles/settings?

This doesn't explain why it doesn't error like this locally, but thought this might help trigge

[2022-10-19 17:01] daria2303 commented on #6581
User is asking for an update. It is not clear to me if this is being solved. Could you share some more details?

[2022-10-19 19:06] NoHopeRadio commented on #5589
I was taking a look at this, and I know this isn't the best solution, but I did notice looking at the `.has-tertiary-background-color` and other predefined color options in the Quadrat theme, they all get around an issue here two ways, and one is by having an `!important` after the defined color variations. I did just test this, and adding `!important` for the built-in color classes in the `/block

[2022-10-20 02:20] zachspears commented on #7409
Able to reproduce with the Meraki theme.

[2022-10-20 10:09] mriyazuddin commented on #3246
- [ ] Another one reported here: #5645266-zd

[2022-10-20 11:10] kavyagokul commented on #1236
Also reported in 37481336-hc

This only happens when lazy loading for images is on. Turning lazy loading fixes this.

[2022-10-20 12:51] pbking opened #6678 "Fail wporg deploy action when it doesn't deploy due to an old password"
Consider recent [deploy runs](https://github.com/Automattic/themes/actions/workflows/dotorg-deploy.yml) to dotorg, and we don’t have a reporting condition for when deploy-dotorg.sh fails that I can see.

[The job](https://github.com/Automattic/themes/actions/runs/3282931071/jobs/5406994716#step:3:928) runs “successfully” but the authentication fails for committing to SVN. So when committing to tru

[2022-10-20 14:23] 5AMsan opened #6680 "[Bug]: BlockBase theme.json file throwing error"
### Quick summary

button declaration in elements (line #749) throw error :
`Warning:  Undefined array key "button" in [...]/wp-includes/class-wp-theme-json.php on line 1482`

### Steps to reproduce

Activate debug display
Activate BlockBase theme on a blog over network

### What you expected to happen

No error output

### What actually happened

![image](https://user-images.githubusercontent.com

[2022-10-20 16:51] NoHopeRadio commented on #5589
A little further research:

It seems that Varia and children use the default Gutenberg rules for the Navigation block, and one potential fix might be to add rules for this. I suspect that the changes made in the thread below may need some refinement for Varia's theme color rules:

https://github.com/WordPress/gutenberg/pull/35725

[2022-10-20 19:36] jamiepalatnik commented on #6682
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this issue, but in my tests it does look like the Query block is there, it just doesn't have the Inherit query from template enabled, so it shows all posts instead of posts from the selected category.

📌 ACTIONS
- Marked as Tri

[2022-10-20 19:49] jamiepalatnik commented on #6683
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this. Only an excerpt shows whether Full text or Excerpt is selected in Reading Settings.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes repo

[2022-10-20 19:58] danielbachhuber commented on #6581
@daria2303 I'm not sure where this lives in the Theme team's set of priorities.

You can share this CSS with the user so they can fix it for their site.

[code]

[2022-10-20 20:54] kraftbj opened #6684 "Pixl: Images can bleed out of the post content"
## Steps to replicate

On the main template, replace Post Excerpt with Post Content.
Add a classic block with this content:
[code]

On this site, I'm using Press This, which still uses the Classic block to bring in its content.

## Result

In the Editor, it looks fine.

![2022-10-20 at 3 46 PM](https://user-images.githubusercontent.com/88897/197054724-3c08d584-eeb0-4d55-9ff0-5cf7885c09ae.png)

On

[2022-10-20 21:24] edequalsawesome opened #6694 "Canard: List block displaying incorrectly in the editor, but fine on the published site"
### Quick summary

When adding a List block with the Canard theme active, the list is displaying incorrectly in the editor.

### Steps to reproduce

1. Set your site's theme to Canard
2. Create a new post or page
3. Add a List block to the page

### What you expected to happen

The List block would display the content the way it's shown on the published page:

![Canard - List Block - Published](ht

[2022-10-20 23:02] cuemarie commented on #6161
I was able to replicate this in other themes beyond Stewart. Closing in favor of https://github.com/Automattic/wp-calypso/issues/69306

[2022-10-20 23:02] #6161 closed, assigned to nobody

[2022-10-21 03:50] alaczek opened #6685 "Thriving Artist: Improve header layout."
### Quick summary

Thriving Artist uses three column layout in the header. Originally a row block was used for this, but this creates an issue where the middle column will not be centered if the other two columns aren't equal in width (and there's no way to set an item width inside the row block). This issue is to discuss alternative solutions.

The issue:
<img width="799" alt="image" src="https:/

[2022-10-21 10:43] Robertght commented on #3877
another case in 5647540-zen

[2022-10-21 13:34] mikeicode commented on #6685
How about disabling "Stack on mobile" on the Columns block?

![Screen Shot on 2022-10-21 at 09:23:41](https://user-images.githubusercontent.com/10353785/197206381-95742b65-9983-4b54-b254-4187369c16b6.png)

IMO this is better than the current layout with the uncentered menu. It'd be easy enough for the user to add some text to the right column, or Social icons like the Munchies theme has by default

[2022-10-21 15:14] beafialho opened #6687 "Block Canvas: Change default credit line"
It would be nice to make the default credit line of Block Canvas **"Designed with WordPress"** instead of **"Proudly powered by WordPress"**. We've been using this in all the new themes, so it would be better to optimize it so we don't have to change it every time.

[2022-10-21 19:50] tvolpert commented on #2064
I ran into this today in 36838731-hc

I didn't think to look for a bug first, so I provided a different CSS workaround, basically just undoing the code from the theme that causes this:

[code]

[2022-10-22 00:55] metabreakr opened #6703 "Varia: colors & backgrounds in Customizer label overlays swatch colors"
### Quick summary

When selecting a custom color & background in Appearance → Customize using a Varia-based theme (e.g. Morden), the label for the color overlays the swatches.

<img width="705" alt="Markup 2022-10-21 at 14 50 41" src="https://user-images.githubusercontent.com/39252765/197309151-4e4abcac-3bea-4b01-86f5-df66f709208f.png">

### Steps to reproduce

1. Activate a Varia theme, such as M

[2022-10-23 11:43] rw-ye commented on #5202
Another report: 5642921-zd-woothemes

[2022-10-23 22:46] jerrysarcastic commented on #5846
Also reported in https://wordpress.com/forums/topic/double-images-4

I have given them the tiled gallery workaround as a suggestion.

[2022-10-23 23:40] alaczek commented on #6685
I tried not stacking the columns on mobile - it results in the nav menu being awkwardly placed in the middle, but then the stacked option looks awkward as well ¯\_(ツ)_/¯ I think I'll go with the non-stacked in the end.

<img width="391" alt="image" src="https://user-images.githubusercontent.com/4550351/197423931-695bdadb-a15c-4876-8f31-2b10d82719be.png">

Yeah, ok. That makes sense! I'll proceed w

[2022-10-24 07:55] devNigel commented on #6581
@danielbachhuber  This does not work for the vertical images in the gallery block as seen in this case: 5645307-zd-woothemes

Could you please check?

[2022-10-24 09:12] pauljacobson opened #6709 "Cols theme: Image Block captions not kept with image on column breaks"
### Quick summary

One of our customers reported that captions added to Image Blocks are not displayed below the image consistently. Instead, where there is a column break while using the Cols theme, the caption can be displayed in a separate column on the page when viewed on devices like the iPad.

For example, in portrait orientation the caption is displayed below the image as expected, here:

!

[2022-10-24 09:38] #6673 closed, assigned to nobody

[2022-10-24 20:18] ianstewart opened #6689 "Publication: Patterns inserted into pages are pushed off screen"
[Example report from user in forums](https://wordpress.com/forums/topic/pattern-shifts-content-off-web-browser/?view=all#post-3878154):

I think it's an issue with .alignfull in this theme and grouped patterns.

![image](https://user-images.githubusercontent.com/545779/197622280-e900ed74-5d19-4607-84bf-c88da1b65468.png)

[2022-10-24 21:44] pbking opened #6690 "Refactor Variant Themes to Theme Variations"
The following themes have variants.  These should be refactored to instead be Theme Variations so that the Variants can be retired.

Quadrat
Geologist
~~TwentyTwentyTwo (a core theme, the change will be different than Quadrat/Geologist)~~
Videomaker (a premium theme. should this be included?)

NOTE:  There are currently a few blockers preventing SOME of these themes from being retired.  That conve

[2022-10-24 23:18] jerrysarcastic commented on #6689
Also reported in https://wordpress.com/forums/topic/pattern-shifts-content-off-web-browser

Theme:  Publication

Screenshot:
<img width="1638" alt="Screen Shot 2022-10-24 at 4 17 36 PM" src="https://user-images.githubusercontent.com/1967448/197647779-1a2a9b5e-0318-4ba8-9aff-63da88e0c64f.png">

For now I've let the user know they can consider a newer theme as a workaround

[2022-10-25 06:50] syhussaini opened #6712 "Resonar: Post Carousel block cuts off the image in live view"
### Quick summary

The **Post Carousel** block in the **Resonar** theme cuts off the image in the live view.

![image](https://user-images.githubusercontent.com/8070771/197701391-b7edd777-5f8e-4d18-8cdc-120958b739c8.png)

![image](https://user-images.githubusercontent.com/8070771/197701467-66729f0d-3437-43f6-8083-3ab2e873305a.png)

Please see this image for the recorded GIF: https://d.pr/i/VXfjTk

[2022-10-25 06:51] druesome opened #6691 "Twenty Ten (up to Twenty Sixteen): Multi-level list blocks don't cascade in editor"
### Quick summary

Multi-level list blocks created on the following themes appear on the same level in the editor.  Moreover, there is no differentiation of bullets between each level, making it more difficult to work with this type of list.

- Twenty Ten
- Twenty Eleven
-  Twenty Twelve
- Twenty Thirteen
- Twenty Fourteen
- Twenty Fifteen
- Twenty Sixteen

<img width="678" alt="image" src="https:

[2022-10-25 08:21] #3957 closed, assigned to nobody

[2022-10-25 09:39] madhusudhand opened #6692 "Pixl: Add Link in Bio pattern"
![image](https://user-images.githubusercontent.com/1935113/197739863-23779c9a-5f9f-4757-8d6a-758aaa9e8d6f.png)

[2022-10-25 13:54] #6678 closed, assigned to jffng

[2022-10-25 14:51] marianearchimbaud commented on #3850
I see the same issue on Baskerville 2 theme.
The issue was reported here: 36947902-zd

I shared this code with them to solve this in the meantime:

[code]

[2022-10-25 17:07] masperber opened #6713 "Lingonberry Theme: Captions appear as regular text"
### Quick summary

Customer reports that Lingonberry theme suddenly treats image captions as regular text.

### Steps to reproduce

1. Activate Lingonberry on any site
2. Add an Image with a caption

### What you expected to happen

The caption should be centered with smaller text

### What actually happened

The caption is left aligned and is the same size as regular text

### Context

Customer r

[2022-10-26 01:40] cuemarie commented on #6694
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- Replicated as described on AT and Simple sites
- Tried a couple other themes around that age (`Gazette` and `Twenty Fifteen`) but the issue did not present in those themes

*Example*

![Markup on 2022-10-25 at 18:39:28](https://user-images.githubusercontent.com/27249804/197914348-

[2022-10-26 18:30] donnapep opened #6987 "Tweak typography settings"
Adjust the line heights of some elements to match the design:

## Paragraph

### Desktop
- Line height - `130%` (`31px`)
- Letter spacing - `-0.01em`
- Font size - `24px`

### Mobile
- Line height - `140%` (`29px`)
- Letter spacing - Default (or `normal`)
- Font size - `21px`

## Headings

### Heading 1
- Line height -`100%`
- Letter spacing - `0.01em`

### Heading 2
- Font family - System font
-

[2022-10-26 20:03] donnapep opened #6986 "Cover block does not span full width of page"
### Steps to Reproduce
- Add a cover block to a page. I used [this image asset](https://s.w.org/images/core/5.8/forest.jpg).
- Set it to _Full Width_.
- View it on the frontend.
- The image does not span the width of the page in either the editor or the frontend.
- Switch to the Twenty Twenty Two theme and view the page again. Notice the image is full width in both the editor and on the frontend.

[2022-10-26 23:07] cuemarie commented on #5019
+1 for this! User was looking for this option here: 37637642-hc

I noticed that the paid extension https://woocommerce.com/document/storefront-blog-customiser/ also does not add this feature.

[2022-10-27 12:22] donnapep opened #6984 "Tweak Quote block color"
### Steps to Reproduce
1. Add the Quote block to a page with some text and a citation.
2. Ensure the Quote block is selected and change the color of the text.
3. Note that the color of the vertical bar does not change.

### What I Expected
The color of the vertical bar to change with the text, as it does on the Twenty Twenty-Two theme.

### What Happened Instead
The color of the vertical bar staye

[2022-10-27 17:07] jamiepalatnik commented on #4429
While testing [another issue](https://github.com/Automattic/themes/issues/6703) I was able to replicate this layout issue with the theme Morden.

[2022-10-27 17:15] jamiepalatnik commented on #6703
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Uncertain
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Was able to replicate this on my simple site, but not on AT. Tested with Varia and Morden themes.
- Tried to test on self-hosted but Colors & Backgrounds did not appear in the Customizer with these themes active.

📌

[2022-10-27 18:20] khristiansnyder commented on #6485
Encountered this today in #37576670-hc

Had to edit the Search template ➤ Query Loop block to `Inherit query from template` so that it actually filters posts by the search query.

[2022-10-28 14:08] danielbachhuber commented on #6581
@devNigel Sorry for the delay! I was tied up in another project.

Here's some CSS they can use to have the vertical images display fully:

[code]

<img width="763" alt="image" src="https://user-images.githubusercontent.com/36432/198633644-8dae1470-c40d-4ce4-ae62-b093cf263774.png">

[2022-10-28 14:27] #6562 closed, assigned to nobody

[2022-10-28 14:28] pbking commented on #6551
Loudness is going to use the default spacing in the comments block so I'm going to close this issue.

[2022-10-28 14:28] #6551 closed, assigned to nobody

[2022-10-28 14:44] beafialho commented on #6692
Thank you for creating this @madhusudhand!

Here's the correct markup with correct text. (The screenshot above was merely an example).

[code]

[2022-10-28 17:20] pbking commented on #6690
I looks like when Blockbase was upgraded to v3 (removing the Customizer palette colors) Quadrat had customizer palettes that were converted to Theme Variations.

Cool.

However, there are ALSO Quadrat Theme Variants that have the same names...

black, green, red, white, yellow
blue, dark-blue, green, light-blue, light-green, light-pink, yellow

The only one that seems to overlap is RED

The Quadra

[2022-10-28 17:41] pbking commented on #6690
The TwentyTwentyTwo theme variations are a different animal than the rest.  They have different templates (headers that re-arrange which colors go where) and just dropping in the color (or other theme.json values) into a theme variation wouldn't yield exactly the same results. Additionally those theme variants weren't managed in the same way as the others.  Thus these have been excluded from this

[2022-10-29 17:22] wynwin commented on #5022
Another case with the Livro theme here 4079526-hc

[2022-10-30 07:14] sharonlaker19 commented on #5202
- [ ] 5669300-zen

[2022-10-31 09:49] aleone89 commented on #4798
I've encountered a similar issue here: https://wordpress.com/forums/topic/stow-theme-button-color-after-clicking/?view=all#post-3881428

It looks like the hover colour was picking up what was in the CSS.

I've overwritten this with this CSS:

[code]

[2022-10-31 13:11] filipanoscampos commented on #6712
Another case, here: 5655527-zd-woothemes

[2022-10-31 14:53] ClassicRKR27 commented on #5022
- [ ] Another report here: 24515621-hc

Switching to `7.4` resolved the issue.

[2022-10-31 16:19] Jaykame commented on #6694
Replicated on 5671371-zen.
Theme: Canard
Follow-up with user when the issue is resolved.

[2022-11-01 09:09] kavyagokul commented on #6691
📌 SCRUBBING : RESULT
- Tested on Simple: Replicated
- Tested on AT: Replicated
- Tested on Self-hosted: Replicated
- Replicable on Core? Yes

📌 ACTIONS
- Closed as duplicate of https://github.com/Automattic/themes/issues/6604

📌 Message to Author
@druesome Thanks for the additional details and testing on other themes. I'm closing this and adding details from here on the existing report

[2022-11-01 09:09] #6691 closed, assigned to nobody

[2022-11-01 09:11] kavyagokul commented on #6604
Adding details from the other reported bug here
https://github.com/Automattic/themes/issues/6691

Multi-level list blocks created on the following themes appear on the same level in the editor. Moreover, there is no differentiation of bullets between each level, making it more difficult to work with this type of list.

- Twenty Ten
- Twenty Eleven
- Twenty Twelve
- Twenty Thirteen
- Twenty Fourtee

[2022-11-01 09:33] kavyagokul commented on #6604
Adding from another bug report for Twenty Fifteen.

Context:
- 5650181-zen

[2022-11-01 09:58] kavyagokul commented on #6709
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- Only replicated on Chrome/webkit/Blink browsers
-
📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to Themes:  https://github.com/Automattic/themes/issues/6709

[2022-11-01 10:24] kavyagokul commented on #6709
Adding here that something like this can potentially fix this issue

[code]

[2022-11-01 19:27] upwardmomentum84 commented on #5624
Encountered here: 36615294-hc

Provided CSS code workaround.

[2022-11-02 03:39] danielk-am commented on #6589
Another report is 5675527-zen. Applying the above CSS worked.

[2022-11-02 18:20] the-misha commented on #1780
Another user report: 5677959-zd-woothemes

[2022-11-02 19:50] jerrysarcastic opened #6720 "Marl: Editor style for aligncenter missing for image blocks"
### Quick summary

When adding image blocks in Gutenberg and setting them to aligncenter, the image is shown in the editor as left aligned, and does not correctly preview the block setting.  The image is correctly aligned on the published page/post, so this affects the view within the editor only.

Screenshot shows view on the site front end (left) and the editor (right) with image alignment shown

[2022-11-03 23:39] jamiepalatnik commented on #6712
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this on my simple site.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes repo

[2022-11-04 00:06] jamiepalatnik commented on #6713
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate this, but I'm not familiar with the expected caption style for this theme.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes repo

[2022-11-04 10:55] mikachan commented on #6421
All these tasks are now complete 🎉

[2022-11-04 10:55] #6421 closed, assigned to nobody

[2022-11-05 01:06] hacchism opened #6722 "Business Theme: No "Fonts" option in Customizer"
### Quick summary

There is no Fonts option in the Customizer although [The theme Business](https://wordpress.com/theme/business/) doesn't support Site Editor nor Global Styles.

### Steps to reproduce

1. Activate the theme Business.
2. Go to **_Appearance > Customize_**.

### What you expected to happen

You should be able to find the Fonts option in the Customizer to change fonts.

### What act

[2022-11-06 06:30] masperber opened #6728 "Nucleare Theme: Posts in Image Format do not display images in excerpt"
### Quick summary

The Nucleare theme includes several different post formats. If the Image post format is chosen, then any images in the post do not display in the post excerpt/preview

### Steps to reproduce

1. Create a site with the Nucleare theme
2. Set the home page to latest posts
3. Create a post with some text and an image. Set it's format to Image and publish the post.

### What you expe

[2022-11-06 17:40] gwensmithx commented on #6605
I ran into this issue today but I also wasn't able to replicate on my test site, however I can repro consistently on another user's site.

#5679456-zen

[2022-11-06 17:45] gwensmithx commented on #6605
UPDATE: It seems deactivating Page Optimize fixes this issue on the user site, but activating Page Optimize on my test site didn't replicate the issue. But I can consistently repro when Page Optimize is activated on the user site and deactivating always solves it. Strange.

[2022-11-06 19:49] csabarakasz commented on #1780
Same issue:

- [ ] 5688122-zd-woothemes

The CSS suggestion [here](https://github.com/Automattic/themes/issues/1780#issuecomment-1283546317) worked!

[code]

[2022-11-07 15:20] ariel-maidana commented on #6639
Another case, with Appleton theme: 5689301-zd-woothemes
Please notify the user once it's fixed.

[2022-11-08 00:18] edwinho89 commented on #5097
- [ ] 5692804-zd-woothemes

[2022-11-08 11:31] kavyagokul commented on #3515
From a duplicate bug—
- 5664186-zd-woothemes

[2022-11-09 07:04] vinnykaur commented on #6611
Another one at zd-5695869

Theme: Toujours

Cannot apply the CSS workaround as they have a Personal plan.

[2022-11-10 00:26] NoHopeRadio commented on #6694
I'm going to open a separate issue soon, but there seem to be a lot of issues in Canard's editor, particularly in regards to theme customizations. It seems that any custom colors or fonts selected in the customizer are not reflected in the editor.

[2022-11-10 00:31] #3259 closed, assigned to nobody

[2022-11-10 00:31] pbking commented on #4052
This has since been synced.

[2022-11-10 00:31] #4052 closed, assigned to nobody

[2022-11-10 00:34] #5157 closed, assigned to nobody

[2022-11-10 00:35] pbking commented on #5013
This has been completed and is now automated.

[2022-11-10 00:35] #5013 closed, assigned to nobody

[2022-11-10 00:36] pbking commented on #5211
Videomake is the only theme in this situation.  It may some day be transitioned out but for now this larger issue can be closed.

[2022-11-10 00:36] #5211 closed, assigned to nobody

[2022-11-10 00:43] pbking commented on #6171
Closing this as I no longer believe we need a standard way to communicate this and "latest" should be assumed enough.

[2022-11-10 00:43] #6171 closed, assigned to nobody

[2022-11-10 00:43] #6411 closed, assigned to nobody

[2022-11-10 01:59] jerrysarcastic opened #6719 "TextBook Theme: Page template setting missing from Page Settings Panel"
### Quick summary

The TextBook theme [supports a full page template option](P7JQvD-2G-p2), but in Gutenberg there is no option to switch page templates from within the page settings panel.  See screenshot:

<img width="2034" alt="Screen Shot 2022-11-09 at 5 38 29 PM" src="https://user-images.githubusercontent.com/1967448/200981352-56de2c0d-d4b6-4ec4-8305-9b4f90afd37c.png">

This seems to be an is

[2022-11-10 03:29] supernovia commented on #6682
On my test the query loop block was already there, and just needed that setting toggled:

https://user-images.githubusercontent.com/3476361/200993829-25ffcd52-0175-448b-92a1-50ca82017a40.mov

[2022-11-10 11:58] kavyagokul commented on #6719
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- This is expected behavior for this theme, since the theme doesn't have any custom templates to choose from.
- The [full width page in the theme demo](P7JQvD-2G-p2) has been created by using widget visibility
![image](https:

[2022-11-10 12:38] kavyagokul commented on #6197
Additional ticket from a closed duplicate

- 5691088-zen

[2022-11-10 15:02] simison commented on #6411
Was it enabled and what was the technique at the end?

[2022-11-10 17:21] jerrysarcastic commented on #6719
Wow, widget visibility.  :facepalm:

Good find!  \o/

[2022-11-10 18:06] iamtakashi opened #6721 "Blank Canvas 3: Reconsider the Font Scale"
### Quick summary

Hi, this is not a bug report but more of a suggestion.

We could give a little more contrast in sizes in Blank Canvas 3. Especially between `small` and `medium`. https://github.com/Automattic/themes/blob/c98ca110e779c0f496e70a7d8fa813c79de54deb/blank-canvas-3/theme.json#L95

**Context:** @alaczek and I noticed a pattern using the Pattern Assembler doesn't quite have a good contr

[2022-11-10 18:07] iamtakashi commented on #6721
Forgot ping. @onuro

[2022-11-11 00:29] cuemarie commented on #6722
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
Replicated in all environments - no Font options in Customizer for theme **Business**, and no Global Styles options within the editor.

- The info page for the theme doesn't advertise any fonts options, so this may be by design.
- That said, o

[2022-11-11 15:11] donnapep opened #6983 "Button text not visible after clicking outline style button in editor"
- Add an outline style button to a page.
- Click on the button to edit the text.
- The button text is not visible because it's the same color as the button.

When clicked, the outline button should be styled the same as its default state:

![Screenshot 2023-06-20 at 1 50 42 PM](https://github.com/Automattic/themes/assets/1190420/15d1554a-7386-40cf-8426-cef537a93ec8)

The default button style isn't

[2022-11-11 15:51] donnapep opened #6982 "Mobile menu items are too small"
The mobile menu items for the default variation should be `64px` as per the [design](nf4oV51c1JBxJKXshMe7cd-fi-20020116%3A2958). They are currently set to `48px`.

[2022-11-11 16:50] donnapep opened #6981 "Social icons in sidebar should be sticky when scrolling"
For a post, currently only the newsletter is sticky in the sidebar. The social icons should be sticky as well.

[2022-11-14 15:41] ivan-ottinger opened #8578 "[Bug]: Dalston: Form block style inconsistency"
### Quick summary

The Form block styling is different in the editor vs saved page:

| Editor | Saved Page |
| ------------- | ------------- |
| ![Markup on 2022-11-14 at 14:13:58](https://user-images.githubusercontent.com/25105483/201672681-d52b3574-c8ce-49ec-a6c3-45d5bf510fd0.png) | ![Markup on 2022-11-14 at 14:14:17](https://user-images.githubusercontent.com/25105483/201672683-55ee8f52-b9c4-47d

[2022-11-14 16:44] jffng opened #6724 "Pixl: font size differences in environments"
Font sizes are larger on wpcom then they are self-hosted:

wpcom | self-hosted
--- | ---
![wpcom](https://user-images.githubusercontent.com/5375500/201716520-fb2fc457-0009-4654-8d9a-7712531b8c36.png) | ![self-hosted](https://user-images.githubusercontent.com/5375500/201716556-e73a1efc-2759-431c-8fe4-6adf6f5f412a.png)

[2022-11-14 17:12] pbking commented on #6411
There were issues with some sites when this was enabled at a smaller scale (only Varia themes).  We weren't able to fully resolve those and the best scenario seems to be enabling "appearanceTools" on a per-theme basis for now.  Which is a different (and large) beast itself.

[2022-11-14 19:45] Joshgrygiel commented on #5359
Another report here: 37345575-hc on the Barnsbury theme

[2022-11-15 00:07] cuemarie commented on #6720
Reported here as well: 37813193-hc // 5711996-zd-woothemes

Theme: Russell

[2022-11-15 05:14] madhusudhand commented on #6724
Fixed by https://github.com/WordPress/gutenberg/pull/45536

[2022-11-15 12:04] iamtakashi opened #6727 "Masu: Site title font size differences in enviroments"
### Quick summary

I've noticed that the site title is larger than how it should be in Masu on WP.com.

On a self-hosted site with a Gutenberg trunk, the fluid font size is determined by: (Correct)
[code]
But this is how it's been done on a WP.com site: (Wrong)
[code]

| Localhost | WP.com |
| ----------- | ----------- |
| ![iamtakashi jurassic tube_ (1)](https://user-images.githubusercontent.com/

[2022-11-15 12:07] iamtakashi commented on #6724
@madhusudhand Is #6727 also caused by the same reason?

[2022-11-15 13:36] Robertght commented on #6532
More on this, Lovecraft has a similar issue as well. A temporary fix is to use this CSS code:

[code]

[2022-11-15 14:28] jffng commented on #6724
Thanks @madhusudhand! Yes @iamtakashi it looks to be the same issue. We'll keep these open until the change lands on wpcom, which should be next week.

[2022-11-15 21:09] onuro commented on #6721
@iamtakashi I agree. The medium and small sizes are copied from TT3 being unchanged. I'm testing 2 options:

### 1. Medium max(fluid) font size to be _1.25rem_ instead of 1.125:
<img width="769" alt="image" src="https://user-images.githubusercontent.com/645713/202024553-9adb62c1-62eb-4e90-abbf-6564ee098292.png">
In the BC3 the default text size is also medium.

### 2. Medium font size to be unchan

[2022-11-15 22:36] #3991 closed, assigned to nobody

[2022-11-16 01:51] cuemarie commented on #6728
📌 SCRUBBING : RESULT
- Tested on Simple: **Replicated**
- Tested on AT: **Replicated**
- Tested on Self-hosted: **Replicated**

📌 FINDINGS/SCREENSHOTS/VIDEO
- I am able to replicate that the "Image" post format does not display images added into the content of the post on the latest posts page.

I'd guess this post format likely relies on the **Featured Image** of the post, which does appear on th

[2022-11-16 10:02] iamtakashi commented on #6721
What's the max size of small in this case?

[2022-11-16 10:41] #6086 closed, assigned to nobody

[2022-11-16 17:46] pbking commented on #6690
I'm going to re-open this issue to track the remaining steps to retire the effected themes.  It was closed when the changes were merged but there are some additional steps to track.

[2022-11-17 07:54] onuro commented on #6721
Min 0.875rem and max 1rem

[2022-11-17 16:51] edwinho89 opened #6733 "TextBook: Featured content area displays 3 featured posts instead of 4"
### Quick summary

Fourth featured content post is missing from post page.

Under "Customizer > Featured Content", we mentioned displaying up to 4 featured posts.

[code]

### Steps to reproduce

1. Activate Textbook theme
2. Publish at least 4 posts
3. Assigned 4 published posts with "featured" tag
4. Under "Customizer > Featured Content", add "featured" tag, toggle off `Also display tagged posts

[2022-11-17 19:37] ianstewart opened #6732 "Retire Older Themes"
# Description
I've made a list of themes that I believe we should retire with more context at pNEWy-fui-p2.

## Retire

- [x] Varia
- [x] Isola
- [x] Editor
- [x] Sidekick
- [x] Sequential
- [x] Twenty Thirteen
- [x] Celsius
- [x] Capoverso
- [x] Syntax
- [x] Singl
- [x] Circa
- [x] Quadra
- [x] Eighties
- [x] Together
- [x] Cols
- [x] Ames
- [x] Quadrat Black
- [x] Quadrat Yellow
- [x] TT2 Pink
-

[2022-11-17 22:07] Gustavo-Hilario commented on #2791
Another report:

- [ ] 5720770-zen

[2022-11-17 23:42] jamiepalatnik commented on #6733
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this. The TextBook theme only displays three posts in the featured content area.
- It seems a solution would be to make sure that the message in the Customizer is accurate by changing "Your theme supports up to 4 posts in its featured content area." to "Your theme supports up to 3 posts in

[2022-11-18 04:24] rakshitwesley commented on #1294
Another user reported the issue here: 37046127-hc

Ticket: 5721682-zd-woothemes

[2022-11-18 07:46] madhusudhand commented on #6493
Removing it from the board for now, as the fluid typography tested well with multiple themes and moving all the themes to fluid doesn't bring much value to the users.

[2022-11-18 10:40] beafialho opened #6736 "Rainfall: Replace offensive demo text in patterns"
There's some unfortunate demo text in Rainfall's patterns, let's please replace them with the following.

**Testimonials:**
[code]

**Media & Text:**

[code]

[2022-11-18 15:25] pbking opened #6738 "Eliminate __unstableLocation"
Some themes (namely Blockbase and children) leverage the `__unstableLocation` attribute of the navigation block.

This was initially done when Blockbase was considered a "universal" theme which allowed people to leverage the customizer to edit navigation.  Blockbase has left its universal roots behind and needs to transition to be a simpler parent block theme.  This has already happened with color

[2022-11-18 16:46] #6736 closed, assigned to mikachan

[2022-11-18 18:53] eduardozulian commented on #4
A similar case in 38019835-hc but with `de` locale instead.

[2022-11-20 13:14] sophiegyo opened #6744 "Multiple themes: Align image & paragraph blocks for wrapping - no margin between image & text"
### Quick summary

When left- or right- aligning an image to have a paragraph block wrap around it, the text sits flush against the image. There is no padding or margin around the image.

Found so far in:

* Masu
* Rainfall
* Stewart

### Steps to reproduce

1. Start at any Simple site
2. Ensure theme is active: Masu, Rainfall, or Stewart
3. Create post/page with an image aligned to the left or ri

[2022-11-21 17:43] pbking opened #6739 "Launch Loudness on wpcom"
## Steps to complete

- [X] Create Demo ([done](https://loudnessthemedemo.wordpress.com/))
- [X] Create glotpress files (done: D92856-code)
- [x] Create showcase (ready to go [reviewed](https://theme.wordpress.com/wp-admin/post.php?post=41955&action=edit) - [preview](https://theme.wordpress.com/?post_type=showcase_theme&p=41955&preview=true))
- [x] Generate Headstart resources (needs review: D9304

[2022-11-21 17:45] pbking commented on #6739
We need the showcase image for loudness.  Does the second screenshot that's currently there work OK?

<img width="365" alt="image" src="https://user-images.githubusercontent.com/146530/203124675-f5b6d165-a11e-4c96-b366-c577cd7d36e8.png">

[2022-11-21 17:55] kelasante commented on #2053
Another user report in 5717404-zd. The latest Post block on Canard theme does not limit character count when you set a specific maximum of words in the excerpt. In the Editor, it looks like it has properly set the word count; however, on the live page, it just shows the maximum amount of words in the excerpt.

[2022-11-21 17:56] beafialho commented on #6739
Here's the screenshot for Loudness:

![Loudness](https://user-images.githubusercontent.com/65220155/203126602-dd06b132-e1ac-4a20-9a13-beb0c54c81eb.png)

[2022-11-21 19:24] #679 closed

[2022-11-22 10:33] filipanoscampos opened #6742 "Hari theme: changes to Primary color not updating on live site"
### Quick summary

When users change the Hari theme's primary color, the change is shown in the Editor, but not on the website.
To make matters worse after the elements were set to use that primary color, it could no longer be changed.

### Steps to reproduce

1. Install and activate the Hari theme
2. Navigate to Appearance → Editor
3. Set the color of any element to use the palette's Primary Colo

[2022-11-22 11:49] dsas opened #6741 "[Bug]: Meraki download link in showcase doesn't tell self-hosters they need blockbase-wpcom"
### Quick summary

_No response_

### Steps to reproduce

1. Go to WordPress.com/theme/meraki
2. Follow the download links
3. Upload the zip to your self-hosted blog
4. Get a message saying the "blockbase-wpcom" parent theme is missing so the theme won't work

For bonus confusion, install blockbase from wporg which won't solve the problem.

### What you expected to happen

The download box to say

[2022-11-22 14:39] kavyagokul commented on #6742
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes

[2022-11-22 14:45] kavyagokul commented on #6197
Additional ticket from closed duplicate
- 5723215-zen

[2022-11-22 23:21] jamiepalatnik commented on #6744
📌 SCRUBBING : RESULT
- Tested on Simple - Replicated

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate the issue on all the themes mentioned in the report: Masu, Rainfall, Stewart
- I tested on a simple site, Chrome browser.
- Screenshot:

<img width="804" alt="image wrap" src="https://user-images.githubusercontent.com/30788962/203440735-a0f0b812-7066-4193-833a-b59400704e68.png">

📌 ACTIONS

[2022-11-23 09:37] pauljacobson opened #7241 "Comments Block: Social icons displayed as full width when Comments Form viewed on Archive page"
### Quick summary

Our customer reported that social icons associated with a [Comments Block](https://wordpress.com/en/support/site-editing/theme-blocks/comments-block/) are displayed full width in the content area when viewing an Archive page on the site, like this:

![Capture_2022-11-23 at 11 12 54](https://user-images.githubusercontent.com/2912202/203509396-3a7eaedc-7a9f-479b-8a95-747c4b20ccdc.

[2022-11-23 10:17] DavidSaladu commented on #6412
Other reports here from HC's:
5584262-zen
5700501-zen

[2022-11-23 14:21] Gustavo-Hilario opened #6747 "Varia themes: Add Content Options support so users could disable author bio on single posts"
### What

The user on 37530469-hc wanted to be able to disable author descriptions on single posts while using the Rockfield theme. That seems to be possible through `Content Options` settings on Customizer on some other themes:

https://wordpress.com/support/customizer/content-options/#author-bio

### Why

That would give users more customization options on this classic theme.

### How

I think t

[2022-11-24 08:15] zdenys commented on #5287
Another case in 5734121-zd-woothemes where we provided a CSS fix via Custom Design upgrade.

[2022-11-24 14:15] BogdanUngureanu opened #6746 "[Bug]: Rebalance - Jetpack Instant Search conflict"
### Quick summary

The Rebalance theme (https://wordpress.com/theme/rebalance) currently conflicts with Jetpack Instant Search.

A white screen is displayed when a user tries to search a term from the front-end instead of the actual search results modal.
This behavior can also be observed for Jetpack search categories.

After doing some debugging, it looks like the problem comes from the fade-in e

[2022-11-24 16:01] kavyagokul commented on #7241
📌 SCRUBBING : RESULT
- Tested on P2 -  Uncertain
- Tested on Simple - Replicated
- Tested on AT - Could Not Replicate
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- It looks like this only happens if the comments or comments form block is added to at least two posts
- I also feel that this block is not expected to be used in such a way, but

[2022-11-24 16:10] mdtanjid0 commented on #6746
- [ ] The user 5727789-zd-woothemes needs to be followed up when the issue is fixed.

[2022-11-24 16:20] kavyagokul commented on #6747
📌 SCRUBBING : RESULT
- Tested on P2 - Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Replicated
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- This is a Varia child theme, so this would make sense to be added in Varia

📌 ACTIONS
- Transferred to Themes
- Feature request kept

[2022-11-25 03:13] edwinho89 commented on #6589
38246434-hc

This is the CSS code applied that works for me:

[code]

[2022-11-25 07:03] madhusudhand commented on #6724
@iamtakashi changes Landed. Pixl is now working good on dotcom. Can you verify other issues.

[2022-11-25 10:14] iamtakashi commented on #6724
@madhusudhand Yes, I can confirm the issue with Masu is resolved 👍

[2022-11-25 10:14] #6724 closed, assigned to nobody

[2022-11-25 10:15] iamtakashi commented on #6727
This is fixed by https://github.com/WordPress/gutenberg/pull/45536, and it landed on WP.com.

[2022-11-25 10:15] #6727 closed, assigned to nobody

[2022-11-25 16:19] donnapep opened #6980 "Footer's site title in the editor is not the same size as on the frontend"
The footer's site title in the editor is not the same size as on the frontend. The frontend is the correct size and the editor should be updated to match.

### Screenshots

_Editor_

![Screenshot 2022-11-25 at 11 18 20 AM](https://user-images.githubusercontent.com/1190420/204024092-ce21e6a6-49fd-4cec-b2ee-258dfc32fc7f.jpg)

_Frontend_

![Screenshot 2022-11-25 at 11 19 33 AM](https://user-images.gi

[2022-11-27 22:39] jerrysarcastic opened #6808 "Dyad 2: list block content not displayed in excerpt"
### Quick summary

On sites using the Dyad 2 theme, if the post contains a list, that list text is not rendered in the excerpt that is generated automatically in WordPress.

### Steps to reproduce

1. create test post with list block
2. publish post
3. view published post on any archive page (index page, archive page, search results, etc)

### What you expected to happen

I expect the HTML formatt

[2022-11-28 16:17] donnapep opened #6979 "No whitespace between content and browser edge in editor at smaller resolutions"
There is no whitespace between the content and the edge of the browser when drafting a new post or page at smaller resolutions.

### Screenshot
![Screenshot 2022-11-28 at 11 16 58 AM](https://user-images.githubusercontent.com/1190420/204327726-67bf1f6b-7961-465c-b281-726ef46632ac.jpg)

[2022-11-28 16:27] donnapep opened #6978 "Audit theme to ensure it meets accessibility requirements"
Check to ensure that the theme meets WordPress.org's [accessibility requirements](https://make.wordpress.org/themes/handbook/review/accessibility/required/).

[2022-11-28 16:45] donnapep opened #6977 "Fix comment styles"
The comment styles on some post types look better than on others, but none of them match the design on [desktop](https://www.figma.com/file/nf4oV51c1JBxJKXshMe7cd/New-Sensei-Theme?type=design&node-id=20020065-1078&t=w4heqOhmBBU9luEY-0) or on [mobile](https://www.figma.com/file/nf4oV51c1JBxJKXshMe7cd/New-Sensei-Theme?type=design&node-id=20020126-4278&t=w4heqOhmBBU9luEY-0). Lesson comments (when Lea

[2022-11-28 16:49] donnapep opened #6976 "Post content isn't full width on mobile"
The Post content doesn’t take the full width of the screen at smaller resolutions as it does on a page.

### Screenshot
![Screenshot 2022-11-28 at 11 48 36 AM](https://user-images.githubusercontent.com/1190420/204335040-ae39ce3e-0ae2-4062-b5b2-103c0ecf8bbe.jpg)

[2022-11-28 19:26] jp-imagines commented on #6407
Replicated in 5717155-zd-woothemes with the _Russell_ theme as well (simple site). Some changes can be made in the Site Editor, but the `W` logo option is **completely unavailable** on simple sites using themes affected by this.

Also noteworthy that the default footer credits on these themes (and likely others) link to WordPress.org rather than `https://wordpress.com/?ref=footer_custom_powered` l

[2022-11-28 23:34] alaczek opened #6750 "Zaino: WooCommerce theme (dark)"
Initial design (Nov 21): https://wp.me/p9Jlb4-5WD

[2022-11-28 23:35] #6750 closed, assigned to alaczek

[2022-11-29 03:23] kavyagokul commented on #3980
Another one in #37493076-hc

[2022-11-29 11:13] pauljacobson commented on #6742
I believe that I found the cause of the issue here. It seems that there was a custom color matching the color that the Group Block was using in Styles, either in the general color options in Styles or in the color options for the Group Block like this:

![Capture_2022-11-29 at 12 59 47](https://user-images.githubusercontent.com/2912202/204514462-0916cb09-642c-4786-b993-0a70ac5341b3.gif)

In this c

[2022-11-29 11:15] #6742 closed, assigned to nobody

[2022-11-29 12:19] kavyagokul commented on #6589
📌 SCRUBBING : RESULT
- Tested on P2 -  Uncertain
- Tested on Simple - Replicated
- Tested on AT - Replicated
- Tested on Self-hosted - Could Not Replicate
- Replicable on Core - No

📌 ACTIONS
- Marked as Triaged for Quality Squad review

[2022-11-30 14:49] mikachan commented on #6739
I've just added a featured image and a couple of feature tags to the showcase, but otherwise, this is looking good 👍