[2021-08-17 06:03] Robertght commented on #4423
Thank you for reporting this @mikeicode !

I've moved this to the themes repository for now.

[2021-08-17 06:46] Robertght commented on #4424
I can confirm this is an issue on my end as well and the Full-width alignment appears to behave the same.

[2021-08-17 08:24] formosattic commented on #4425
Thanks for the report @ChrissiePollock.
I've updated the issue, noting that CSS can be used to remove any extra elements.

That said, I wasn't able to reproduce the issue. The user's page with the form looks ok now, without any custom CSS, so looks like they managed to tweak the form.

Closing this for now. Please feel free to re-open if you have further findings to add.
(As it sounds like this on

[2021-08-17 08:24] #4425 closed, assigned to nobody

[2021-08-17 10:10] liviopv opened #4430 "Stow: Color annotations - link color is the same as base text color"
### Steps to Reproduce

1. Apply the Stow theme to a site
2. Open the editor and create an hyperlink in a paragraph block

### What I expected to happen

The linked text should have a different style than the base text to indicate it's a link

### What actually happened

The linked text and the base text look the same. Screenshot https://d.pr/i/vY8aRA

### Context

Customer report #31170486-hc

##

[2021-08-17 10:14] Nic-Sevic commented on #4370
User asking to be updated when resolved: 4185315-zen

[2021-08-17 13:25] kjellr opened #4426 "Skatepark: Group blocks with "Inherit default layout" set are not properly aligned on the front end"
## Steps to replicate

1. Add a group block, set it to "Inherit default layout".
2. View on the front end:

## Screenshots

Editor|Front End
---|---
<img width="1440" alt="Screen Shot 2021-08-17 at 9 13 01 AM" src="https://user-images.githubusercontent.com/1202812/129733042-b14902a8-0af7-4868-9d38-da12fb01e96e.png">|<img width="1440" alt="Screen Shot 2021-08-17 at 9 13 32 AM" src="https://user-ima

[2021-08-17 13:29] kjellr opened #4427 "Skatepark: Header template part appears stacked in the site editor"
The site header appears stacked in the site editor, not side-by-side as it does on the front end:

Editor|Front End
---|---
 <img width="1440" alt="Screen Shot 2021-08-17 at 9 13 32 AM" src="https://user-images.githubusercontent.com/1202812/129734091-1b13c82e-48ad-40e6-8d75-8901690c4897.png">|<img width="1440" alt="Screen Shot 2021-08-17 at 9 05 31 AM" src="https://user-images.githubusercontent.co

[2021-08-17 13:36] kjellr opened #4428 "Skatepark: Singular template always shows a comments message"
## Steps to replicate

1. Add a new page, let it use the singular template.
2. In Page > Discussion settings, ensure that "Allow comments" is unchecked (this is the default for pages).
3. Publish & visit the front-end.
4. Note that a "Comments are closed." message appears just above the footer.

## Expected

If comments were never on for the post, there should be no message that appears. (This may

[2021-08-17 14:26] synora commented on #4429
Triaged. Can replicate.

[2021-08-17 14:35] synora commented on #4430
I'm able to replicate this experience but I can change the link color in the Paragraph Block settings.

![Annotation on 2021-08-17 at 10-31-59](https://user-images.githubusercontent.com/10015451/129745928-3ee6ddde-0a9c-4991-8f33-7afc7e9f10d7.png)

Front end view:
<img width="372" alt="Screen Shot on 2021-08-17 at 10-32-05" src="https://user-images.githubusercontent.com/10015451/129745995-a8265ebd-

[2021-08-17 14:38] kjellr commented on #4419
I think it's a little weird to have the logo/title appear below the menu/social nav on mobile — while it's nice to have the menu button in the actual top left, this also swaps the hierarchy from what it is on desktop. Have you tried it the other way?

[2021-08-17 14:42] synora commented on #4431
Triaged. Can replicate this issue. Moving to Themes repo.

[2021-08-17 14:46] synora commented on #4432
Triaged. Can replicate but the CSS above is a good workaround.

[2021-08-17 15:10] synora commented on #4433
Triaged. Can replicate.

[2021-08-17 15:35] mikachan commented on #4404
Thanks for reporting this @jerrysarcastic!

I've just tried to replicate this and I can't see which element is being covered by the marketing bar. I've disabled this custom CSS:

[code]

And this is what I can see:

![Screenshot 2021-08-17 at 16 25 54](https://user-images.githubusercontent.com/1645628/129755173-e5a65574-9e1a-44d9-932a-b6cf4d331971.png)

The bar does cover the top of the header ima

[2021-08-17 17:27] pbking opened #4434 "Add User-Configurable Duotone option to Customizer"
So that a user can control the Global Duotone options they should be presented with an option to enable/disable the duotone usage on all of the images.

* Enabling it applies the primary/background colors to the duotone attribute of all relevant blocks.
* Disabling it removes all colors from the duotone attribute of all relevant blocks.
* When a user changes Primary/Background colors using the cus

[2021-08-17 17:32] pbking commented on #4434
This will MOST LIKELY be accomplished by adjusting the User Theme JSON block styles of all of the image blocks to have the same values of `color.duotone` as `primary` and `background`.

[2021-08-17 17:57] pbking commented on #4329
Added this to track [allowing a user to control the application of duotone](https://github.com/Automattic/themes/issues/4434) to all blocks.

[2021-08-17 19:51] jeyip opened #4435 "Blockbase: Ponyfill css overrides block-level global styles for Button block"
## Description

I'm seeing an issue with block-level global styling being overridden in the dotcom site editor and frontend (atomic + simple sites), and it looks like it has to do with the [ponyfill.css](https://github.com/Automattic/themes/blob/trunk/blockbase/assets/ponyfill.css) file in `blockbase`. When I remove `ponyfill.css`, per block global styles work as expected.

**List of affected bloc

[2021-08-17 20:00] pbking commented on #4435
The button portion of the related ponyfill is [here](https://github.com/Automattic/themes/blob/trunk/blockbase/sass/blocks/_button.scss).  That relates to the video shown but it's not the only place where this is happening.

This is happening because many of Blockbase's selectors have a higher specificity than the styles generated by Global Styles.  This is especially obvious with the button which

[2021-08-17 23:20] supernovia commented on #2098
Another case: https://wordpress.com/forums/topic/gateway-image-captions-still-not-centred/

[2021-08-18 01:02] gwensmithx opened #4451 "Cover Block Does Not Go Full Width on Storefront Theme"
### Steps to Reproduce

Using Storefront theme, a full width cover block using a full width page does not go full width.

1. Activate Storefront theme
2. Create a New page and select the full width template
3. Add a cover block and add an image - make the image full width.
4. You will notice the image does not go full width. Instead it goes to the left and there's a large space to the right
5. If

[2021-08-18 02:10] tarunvijwani commented on #4451
Another one:  31120427-hc

[2021-08-18 06:50] xatzikidhs commented on #4430
### **There are many ways to fix this bug. Try one of the following:**

_**1st Solution**_

**HTML**
`<a href="www.google.com" class="link">This is a link</a>`

**CSS**
[code]

_**2nd Solution**_

**HTML**
[code]

[2021-08-18 08:38] #4420 closed, assigned to nobody

[2021-08-18 10:46] MaggieCabrera commented on #4434
I'm totally onboard with Global Styles booleans, wish we could have them! This looks like a good approach to me

[2021-08-18 14:52] jffng commented on #4435
I believe this affects the editor and the view slightly differently.

In the case of the button (ignoring the hover states issue), we could theoretically solve the issue by remove the wrapping selector `.wp-block-button` and the global styles customizations win because they load later in the cascade. @mikachan and I tested this and it works in the editor.

However, in the view, the theme CSS is lo

[2021-08-18 16:04] mikachan commented on #4435
I had a quick look at this in Gutenberg and then in Blockbase. I couldn't change the order of `global-styles-inline-css` in Gutenberg other than moving it above `wp-block-library-css`. I did this in [this file](https://github.com/WordPress/gutenberg/blob/trunk/lib/global-styles.php#L337) by changing the priority like so:

[code]

I did manage to force the order via Blockbase, by again changing the

[2021-08-18 16:04] daria2303 opened #4440 "Edin theme: images in checkout page display very small and not consistent"
### Steps to Reproduce

1. Add product to the cart
2. Proceed to checkout
3. See the image https://snipboard.io/nWQHxO.jpg it is very small
4. Not reacting to CSS, seems limited by table

### What I expected to happen

Image is bigger, resonable size, all images are the same size in checkout page.

### What actually happened

Images are very small and have different sizes
https://snipboard.io/nWQH

[2021-08-18 16:59] creativecoder commented on #4435
Thanks for investigating @mikachan !

It looks like [WP 5.8 is registering the 'global-styles' stylesheet](https://github.com/wordpress/wordpress-develop/blob/5.8/src/wp-includes/script-loader.php#L2321) as well, which is taking precedence over Gutenberg's enqueue calls. But Gutenberg should be able to unregister and reregister the asset to work around this. I'll spin up a Gutenberg PR.

[2021-08-18 19:26] creativecoder commented on #4435
Potential fix for this at https://github.com/WordPress/gutenberg/pull/34147. As pointed out earlier, Blockbase styles will still need to be updated to have a css selector specificity equal or below Global Styles css.

[2021-08-19 00:47] jeyip commented on #4435
It looks like issues with global styles and the cover block can be attributed to specificity problems in core Gutenberg, and not from themes. https://github.com/WordPress/gutenberg/issues/34150. I'll be taking a closer look tomorrow.

[2021-08-19 01:10] synora commented on #4451
It's working as expected using Storefront version 3.8.1. No white space seen while I tested.

<img width="1577" alt="Screen Shot on 2021-08-18 at 21-04-45" src="https://user-images.githubusercontent.com/10015451/129991620-bbda0534-9241-46ad-9fca-12eb5410e3aa.png">

Were these users on Storefront v 3.8.1?

[2021-08-19 01:40] synora commented on #4440
Triaged. In testing my thumbnails aren't as small as yours but the are still pretty tiny:

<img width="543" alt="Screen Shot on 2021-08-18 at 21-39-54" src="https://user-images.githubusercontent.com/10015451/129994094-bd596e51-40f5-463f-a881-dfef7bb6276a.png">

[2021-08-19 08:09] MaggieCabrera opened #4441 "Skatepark: Screenshot"
@melchoyce we need to add a screenshot of the theme, do you have a mockup for this?

[2021-08-19 08:14] MaggieCabrera commented on #4428
Yes, this was a bug, but it's fixed via https://github.com/Automattic/themes/pull/4438

[2021-08-19 11:02] MaggieCabrera commented on #4320
@melchoyce I deployed yesterday all of our latest changes and updated the demo site. We are still missing a couple of important things such as the [single/page templates](https://github.com/Automattic/themes/pull/4438) (pending review) and [some of the block patterns](https://github.com/Automattic/themes/issues/4308) but I think we can start working on adding content to the demo site. I've gone ah

[2021-08-19 12:23] kjellr commented on #4441
Here's one we can use:

![screenshot](https://user-images.githubusercontent.com/1202812/130067650-4aab486c-fd38-4655-a49f-383608b6ff3c.jpg)

[2021-08-19 13:58] MaggieCabrera commented on #4320
Just a suggestion: the design is not including a "blog" link on the menu so there's no direct way to check the list of posts, maybe we should add one

[2021-08-19 16:11] melchoyce opened #4445 "Skatepark: Make text-indent the default for first paragraphs"
Right now, the text-indent is a block style on the paragraph block. This works, but I wonder if there's a way we could make it the default, where all first paragraphs in a container would be indented. Ideally, it would be something you can toggle on/off in the Global Styles panel. Since that isn't possible yet, maybe we could make it a customizer setting?

[ ] Indent all first paragraphs

Open to

[2021-08-19 16:17] kjellr commented on #4445
This seems like a better approach to me — if the indent is applied consistently by default, it'll be less perplexing to the user.

[2021-08-19 20:36] peterbutler commented on #2224
Another report: 31217249-hc

[2021-08-20 08:33] MaggieCabrera commented on #4445
Right now we have two different classes for text indent, mainly because on the designs the amount indented in relation to the width of the paragraph looks different when the width of the paragraph is much bigger:

<img width="388" alt="Screenshot 2021-08-20 at 10 30 31" src="https://user-images.githubusercontent.com/3593343/130204748-23c6a615-938a-4554-9a62-af1c44714198.png">
<img width="1066" alt

[2021-08-20 08:49] #4322 closed, assigned to mikachan

[2021-08-20 09:04] retnonindya opened #4462 "Ovation: "Like" text on comment section stays in dark color despite the background color"
### Steps to Reproduce

1. On AT site, activate theme Ovation
2. Edit the colors and background on Customize. Choose dark-colored background
2. Check comments on blog posts (if there is no comment, try add one.)
3. Notice the 'Like' text on the comment in dark color (screenshot below)

<img width="656" alt="Screenshot 2021-08-20 at 4 58 18 PM" src="https://user-images.githubusercontent.com/4472623

[2021-08-20 09:53] jeyip commented on #4435
Issues with global styles and the site title block are caused by CSS specificity conflicts with `seedlet-blocks`, not `blockbase`.

- Block level global styles are being applied to the site title through `.wp-block-site-title a`
- The Seedlet blocks theme has a competing declaration via `.is-root-container a:not(.wp-block-button__link):not([download])`

https://github.com/Automattic/themes/blob/00

[2021-08-20 10:06] jeyip opened #4447 "Seedlet Blocks: Block-level global styling being overridden for site title block"
## Description
I'm seeing an issue where block-level global styles for the site title block are being overridden in the dotcom site editor and frontend (atomic + simple sites). It appears to be caused by CSS specificity conflicts with `seedlet-blocks`.

- Block level global styles are being applied to the site title block through `.wp-block-site-title a`
- The Seedlet blocks theme has a competing

[2021-08-20 12:50] kjellr commented on #4445
Yeah, it's worth a try.

Maybe this would be a good opportunity to try out a container query? It won't be widely supported, but it could be a good enhancement for the future.

[2021-08-20 13:02] Robertght commented on #4440
Increasing the width of the content container should help here:

[code]

I've suggested this to the case above for now.

[2021-08-20 13:26] liviopv commented on #3637
Another user request where I had to provide custom CSS: #31229471-hc

[2021-08-20 14:17] ersatzpenguin commented on #4462
Looked at this as part of a CSS Request. It seems the issue is that the comment like link is actually loaded through an iframe:
![Annotation on 2021-08-20 at 09-14-53](https://user-images.githubusercontent.com/10101587/130247053-42a75159-a424-42c9-9552-79498ef10af4.png)

We can't work around this with Custom CSS due to that, so we'd need to determine how the color is being determined/set in the fi

[2021-08-20 16:10] #4441 closed, assigned to nobody

[2021-08-20 16:18] #4387 closed, assigned to MaggieCabrera

[2021-08-20 16:18] #4428 closed, assigned to nobody

[2021-08-20 18:34] jffng commented on #4451
👋 The storefront theme is maintained over here https://github.com/woocommerce/storefront/issues

I think it would make sense to move it over there so those folks can properly triage the issue.

[2021-08-20 19:21] katiebethbrown commented on #2384
Another report: 31233095-hc

Shared the image size workaround.

[2021-08-20 20:54] villanovachile opened #4452 "Promenade: Changing Headings Color in Customizer affects Labels in Editor"
## Steps to replicate

1. Open Customizer> Colors
2. Change the Headings Color
![image](https://user-images.githubusercontent.com/65082164/130291887-5e56da98-7ce5-448c-8b70-747ed60033e2.png)

3. Open a Page or Post in the Editor

4. Open the Page/Post Settings panel

## Result

you'll see various labels now match the color set in the customizer. If a user chooses white or light colored headings, t

[2021-08-21 11:26] creativecoder commented on #4435
I found an additional conflict with Blockbase and block specific Global Styles, right/left padding on the Group and Cover blocks are being overridden by Blockbase.

(Global Styles css on the bottom, Blockbase css on the top in both images)

**Cover block**

<img width="437" alt="Screen Shot 2021-08-21 at 06 18 47" src="https://user-images.githubusercontent.com/1699996/130320234-329f55df-9829-432b-

[2021-08-23 09:31] MaggieCabrera opened #4453 "Skatepark: RTL support"
We need to check that the theme provides proper RTL support. The main case where this is a problem so far is on the query block pattern/index template, the read more link has an arrow that needs to rotate for RTL. We should look into how Varia + Seedlet do RTL support as a reference for this.

<img width="389" alt="Screenshot 2021-08-23 at 11 29 30" src="https://user-images.githubusercontent.com/3

[2021-08-23 14:01] pbking commented on #4435
Thanks @creativecoder.  That (slightly separate) issue is being dealt with in either [this PR ](https://github.com/Automattic/themes/pull/4448)or maybe [this one](https://github.com/Automattic/themes/pull/4454).

[2021-08-23 14:51] MaggieCabrera commented on #4416
Closed via https://github.com/Automattic/themes/pull/4438

[2021-08-23 14:51] #4416 closed, assigned to nobody

[2021-08-23 15:31] pbking opened #4456 "Refactor Blockbase Alignments"
Due to recent changes in Gutenberg that brought the 'container-' class to all containers this can no longer be leveraged to help control Blockbase alignments.

How blockbase is configuring and managing alignment state needs to be revisited.

# Related:
#4435 (noted alignment + Global Styles clobbering issues with Cover and Group blocks)
#4448 (a potential fix to the issue that was causing pain in

[2021-08-23 15:31] pbking commented on #4435
I think that everything Button-related that CAN be solved has been via #4439 (with the known exceptions of hover state and outline variation).

Blockbase alignment issues are being looked at this week in #4456

Going to close this one as complete.  Please reopen if anything not tracked elsewhere continues to be an issue.

[2021-08-23 15:31] #4435 closed, assigned to nobody

[2021-08-23 15:40] pbking opened #4457 "Build Alignment Test Case page for Theamdemo"
We test alignments in our themes a lot, especially as we work through things like #4456.
While unit tests would be coolest at a minimum we should document and have an example of all of the alignment scenarios that need to be evaluated for correctness.

Adding a page on Theamdemo with all of those expectations outlined would be immensely helpful.

Long ago I [started on a page ](https://wordpress.c

[2021-08-23 15:55] RavanH opened #4458 "Blockbase: invalid Google Fonts API call when System Font selected"
## Steps to replicate

In the Customizer, select "System Font" for both the Body and Header fonts.

## Result

The page head will include `<link rel='stylesheet' id='blockbase-fonts-css'  href='https://fonts.googleapis.com/css2?display=swap' type='text/css' media='all' />` which will generate a 404 response from Google.

## Expected

No blockbase-fonts-css stylesheet at all.

[2021-08-23 16:04] MaggieCabrera commented on #4321
I made screenshots of every block on Theamdemo:

![Screenshot 2021-08-23 at 17-51-09 Gutenberg Archives](https://user-images.githubusercontent.com/3593343/130479867-55d69459-844e-4fd6-90b7-4762c41e8727.jpg)
![Screenshot 2021-08-23 at 17-51-22 Gutenberg Audio](https://user-images.githubusercontent.com/3593343/130479869-540a4518-f1f3-41b2-b782-61814690830a.jpg)
![Screenshot 2021-08-23 at 17-51-30 Gu

[2021-08-23 16:05] MaggieCabrera commented on #4321
@kjellr @melchoyce in case you see something you think we've got to change (theamdemo.wordpress.com is the url of the demo site with all the blocks)

[2021-08-23 16:45] scruffian commented on #4445
What about using ch units?

[2021-08-23 16:45] melek commented on #4409
Added a Bug and priority label to this one to help contextualize the issue. Chose 'Normal' priority, but this does appear to affect any Woo store using this theme.

[2021-08-23 16:46] MaggieCabrera commented on #4445
I tried that, it's the same problem, it's not the same amount of characters in the design for both widths of text.

[2021-08-23 21:53] RavanH opened #4460 "Blockbase: undefined variable location in wp-customize-fonts.php"
## Steps to replicate

Creating a child theme, setting typography fontFamily to `var(--wp--preset--font-family--spartan)` (a font not present in the default Google font list)

## Result

`Undefined variable: location in /xxx/xxx/wp-content/themes/blockbase/inc/customizer/wp-customize-fonts.php on line 321`

## Expected

Unused $location variable should not cause a notice.

[2021-08-24 00:45] #4447 closed, assigned to jeyip

[2021-08-24 06:27] inaikem commented on #4462
@ersatzpenguin is correct. Following the internal investigation here (p9cu9o-2Zf-p2), I'm bumping this up the chain to be prioritised for further investigation.

[2021-08-24 08:16] sophiegyo commented on #1504
Another report in 23283042-hc - user left chat, but I had provided the CSS workaround above before they left.

[2021-08-24 10:59] LauraSWP commented on #4266
This happens with other themes too: Canard, Button 2. 4230577-zen

[2021-08-24 14:36] MaggieCabrera opened #4463 "Blockbase + children: header and post meta items need to use the new flex layout"
After https://github.com/WordPress/gutenberg/pull/33812 was merged, there's a new css rule being applied to the default layout support: `$selector > * + * { margin-top: var( --wp--style--block-gap ); margin-bottom: 0; }` This is adding a margin top to every children of the container except the first, causing the post meta groups to break:

Quadrat:
<img width="669" alt="Screenshot 2021-08-24 at 16

[2021-08-24 15:48] jffng commented on #4463
I took at the issue in [that last screenshot](https://user-images.githubusercontent.com/3593343/130636431-e3b6c5eb-a29e-4df8-9cc8-a4f85ac0572d.png) of Skatepark's header, and that group is already defining flex support via the block: https://github.com/Automattic/themes/blob/trunk/skatepark/block-template-parts/header.html#L1

The cause of the issue is actually our alignment rules 😅 , so let's dou

[2021-08-24 15:49] MaggieCabrera commented on #4463
Doh!

[2021-08-24 17:26] pbking commented on #4456
Completed in #4459.

[2021-08-24 17:26] #4456 closed, assigned to nobody

[2021-08-24 18:50] #4407 closed, assigned to jffng

[2021-08-24 19:27] kspilarski commented on #3372
Same case in 4246073-zen.

[2021-08-25 07:00] MaggieCabrera commented on #4426
Closed via https://github.com/Automattic/themes/pull/4459

[2021-08-25 07:00] #4426 closed, assigned to MaggieCabrera

[2021-08-25 07:13] MaggieCabrera commented on #4457
Can we close this one, @pbking ?

[2021-08-25 07:45] MaggieCabrera commented on #4427
I think this one has been fixed via https://github.com/Automattic/themes/pull/4459

I don't see this happening anymore.

[2021-08-25 07:45] #4427 closed, assigned to nobody

[2021-08-25 08:27] scruffian commented on #4320
Done.

[2021-08-25 08:27] #4320 closed, assigned to nobody

[2021-08-25 08:33] Greatdane commented on #2923
I have just experienced this bug on a third-party theme called 'Aperitive' - it is active and available to users.

Providing CSS like the following or turning off Resize for Smaller Devices fixed the issue.

See: p1629685347257100-slack-C03TY6J1A and 4241326-zd-woothemes

[2021-08-25 12:53] pbking commented on #4457
Yup.  The page reflects at least most of what I think we were looking fore re: alignments.
Hopefully it will get added to as we find additional cases to review (columns, flex, etc) but it's done for now.

[2021-08-25 12:53] #4457 closed, assigned to pbking

[2021-08-25 13:42] MaggieCabrera commented on #4419
hey @melchoyce should we do the logo below or on top of the menu on mobile? In case it helps, this is how Quadrat does it:

<img width="391" alt="Screenshot 2021-08-25 at 15 42 08" src="https://user-images.githubusercontent.com/3593343/130801593-98e97b8e-2649-4423-8a4f-2ac85fb022ac.png">

[2021-08-25 16:31] melchoyce commented on #4419
Let's try above, per @kjellr's suggestion 👍

[2021-08-26 07:28] Greatdane opened #4470 "Aperitive: Youtube Block has 'embed-responsive' white space above video"
## Steps to replicate
1. Create a new page.
2. Add a Youtube Block and link a Video.
3. Make sure 'Resize for smaller devices' is turned **ON** in the Media settings on the block.
4. Publish
5. Check the site on Chrome

<img width="1872" alt="Markup 2021-08-26 at 16 20 37" src="https://user-images.githubusercontent.com/5075840/130919105-129d75c2-1d2d-4f7b-871c-bc0a170544d7.png">

## Result

You ge

[2021-08-26 11:34] jordesign opened #4473 "Varia Themes: Full width column blocks not respected in editor when containing a single column"
## Steps to replicate

1. Have a site on a Varia and add a new page.
2. Make a new column block containing a single column in the editor and make it full width.

## Result

The column will not expand to full width in the editor, in preview it will look fine, however.

![](https://user-images.githubusercontent.com/49131029/130847601-881d4e87-affe-425d-93e4-3ce2f6e7bc6b.png)
[link to image](https://

[2021-08-26 13:54] mikeicode commented on #3328
4250361-zd-woothemes

[2021-08-27 08:02] scruffian commented on #4412
I think this can now be closed.

[2021-08-27 08:02] #4412 closed, assigned to nobody

[2021-08-27 08:37] openfist opened #4512 "Fortune: Button Block unintentionally enlarges when changing Background color"
### Steps to Reproduce

1 - go to post editor https://erpandfriends.se/wp-admin/post.php?post=3303&action=edit&calypsoify=1
2 - click on Button
<img width="545" alt="Markup 2021-08-27 at 16 26 39" src="https://user-images.githubusercontent.com/11617249/131097462-89a68cb7-9ba3-4687-927c-a55d96adc884.png">
3 - change button background color to any color other than current
<img width="1638" alt="Mark

[2021-08-27 10:48] #4378 closed, assigned to MaggieCabrera

[2021-08-27 13:54] MaggieCabrera commented on #4308
I'm closing this since all patterns have been merged. Thank you all for your hard work!

[2021-08-27 13:54] #4308 closed, assigned to nobody

[2021-08-27 15:23] pdharris commented on #679
Another report: #4252254-zen

[2021-08-27 15:42] DavidSaladu opened #4519 "Social icons block on sidebar under Penscratch 2 Theme, shows narrowed Icons"
### Steps to Reproduce

1. Site needs Penscratch 2 theme
2. Under Customize - Widgets, enter the sidebar and create a Social Icons blocks
3. The icons won't appear circular (as expected) but rather deformed / narrowed

### What I expected to happen

Social icons should appear circular.
(See expected on the left, what happens at the right - https://d.pr/i/jwiu5U/bNV5xSecXf)

![image](https://user-i

[2021-08-27 15:47] DavidSaladu commented on #4519
Notify customer 4252867-zd-woothemes when solved. Thanks!

[2021-08-27 15:49] #4417 closed, assigned to mikachan

[2021-08-28 15:12] RavanH opened #4485 "Blockbase: multiple issues with custom font in child theme"
## Steps to replicate

Create a child theme that depends on a Google font that is not in the default list, like "Spartan" for example. Use `"var(--wp--preset--font-family--spartan)"` for various elements in the theme.json and add
[code]
to typography > fontFamilies in theme.json

This will cause the following: inc/wp-customize-fonts.php class GlobalStylesFontsCustomizer method get_font_family will

[2021-08-28 17:15] villanovachile opened #4486 "Penscratch 2: Clicking widget edit button in Customizer is unresponsive"
## Steps to replicate

1. Open Customizer
2. Click on the blue pencil icon in widget area of preview section, the button is unresponsive
![image](https://user-images.githubusercontent.com/65082164/131225583-39cb58ed-d9a5-4e19-b0bc-1a57fc3e09ae.png)

Other thoughts: This may be related to the changes in widgets becoming block based

## Result

Nothing happens

## Expected

Clicking the blue pencil

[2021-08-29 12:40] #4485 closed, assigned to nobody

[2021-08-29 12:45] RavanH commented on #4485
Closed this because it occurred to me it all works a bit different than I assumed. Still learning, sorry ;)

That said: the use of custom > fontsToLoadFromGoogle in theme.json seems a bit hacky to me. I wonder if there is not a more elegant way to allow adding custom fonts in a child theme. Will be experimenting and learning further...

[2021-08-29 14:11] RavanH opened #4487 "Blockbase: Child theme custom Google font always loaded"
## Steps to replicate

Create a child theme with custom Google font set in the theme.json with a "google" attribute. Par example Mayland Blocks, see [mayland-blocks/theme.json](https://github.com/Automattic/themes/blob/e4fd001134863ab16246fbaf47dee42a687372fb/mayland-blocks/theme.json#L342) or [skatepark/theme.json](https://github.com/Automattic/themes/blob/e4fd001134863ab16246fbaf47dee42a687372fb

[2021-08-29 14:26] RavanH opened #4488 "Blockbase: duplicate font in Google fonts URL"
## Steps to replicate

In the Customizer, select both for Body and Header fonts the same Google font and save settings.

## Result

In the page source, the URL parameters in the call to https://fonts.googleapis.com/css2 will contain the same font twice.

## Expected

One font in the URL.

Please note: this does not change the response from Google so it is not a defect, just something that can be f

[2021-08-29 16:45] RavanH opened #4490 "Blockbase: changing one Google font will drop the other"
## Steps to replicate

From Blockbase with the default fonts, go to Customizer > Fonts and set both Body and Header fonts to "Arvo" (for example) and Publish. Then hit browser Reload (F5) and go back to Fonts. The Body and Header settings will be as expected. Now, change only the Body font to "Cabin" (for example) and Publish. Now Reload the browser and move into Fonts again. The Body font will no

[2021-08-30 00:40] katiebethbrown commented on #3601
Another report:

31360180-hc

[2021-08-31 05:01] alaczek commented on #3635
I wanted to reopen this issue as it's happening again. I was just updating Mayland Blocks demo and starter sites to use Columns + Images instead of Coblocks Masonry Gallery, and this is what I'm seeing:

* https://maylandblockstarter.wordpress.com/
* https://maylandblocksdemo.wordpress.com/

![image](https://user-images.githubusercontent.com/4550351/131444574-6fe7706f-f3f7-4bc2-b548-0c64a8f6ae40.p

[2021-08-31 06:23] Robertght commented on #4512
I can confirm this is an issue indeed with this particular theme.

[2021-08-31 06:32] Robertght commented on #3723
Another case in https://github.com/Automattic/wp-calypso/issues/55790 - it looks like the footer credit isn't translating regardless of the language selected.

[2021-08-31 06:49] goblinartificer opened #4553 "Wanderer: Jetpack carousel width non-responsive on mobile"
### Steps to Reproduce

1. On a simple Premium site, activate Wanderer.
2. Set up a Gallery block on any page or post. Publish it.
3. View the page on mobile (or in a browser simulating mobile), and click on an image to bring up the lightbox.

### What I expected to happen

The carousel/lightbox should work like it does on mobile - both arrows visible, etc.

### What actually happened

Only part o

[2021-08-31 07:14] Robertght commented on #3060
I can see another report came in and I'm wondering where is this being tracked at the moment as I can't find it.

Also, is it ok to keep this open and report the incoming cases here?  cc @scruffian

#4257632-zen

[2021-08-31 07:19] Robertght commented on #3060
Ignore. I meant to comment on another issue.

[2021-08-31 07:19] #3060 closed, assigned to nobody

[2021-08-31 07:19] Robertght commented on #3067
I can see another report came in and I'm wondering where is this being tracked at the moment as I can't find it.

Also, is it ok to keep this open and report the incoming cases here? cc @scruffian

#4257632-zen

[2021-08-31 07:32] #4419 closed, assigned to MaggieCabrera

[2021-08-31 08:39] scruffian commented on #3067
cc @jeffikus

[2021-08-31 10:14] sophiegyo opened #4513 "Morden: social icons invisble on hover"
## Steps to replicate

1. Head to https://mordendemo.wordpress.com
2. Hover on a social icon

Screenshot:
![invisible](https://user-images.githubusercontent.com/36608681/131483627-dfcbfe7c-696e-4d89-a8e4-8449e4c2266a.png)

Video:
https://user-images.githubusercontent.com/36608681/131477806-b58a6e95-80e8-429b-8013-d1d3905a3c22.mp4

## Result

The icon becomes invisible against the background

## Ex

[2021-08-31 10:36] AlexanderMonsanto commented on #733
Another report for WP.com Simple - 4260114-zd

[2021-08-31 11:19] #4490 closed, assigned to nobody

[2021-08-31 16:07] kjellr opened #4515 "Blockbase: Refine comments styling"
The current comments styling in Blockbase looks quite unfinished:

<img width="715" alt="Screen Shot 2021-08-31 at 11 54 37 AM" src="https://user-images.githubusercontent.com/1202812/131536952-f3156d57-6ce9-45bd-be1e-6e80df88154b.png">

This effects all of the child themes (Quadrat, Skatepark, etc.). I'd like to suggest a few minor CSS updates so we can get this into a more workable state:

<img w

[2021-08-31 16:19] hngdny commented on #2906
New request for Simple Site : 4259965-zen

[2021-08-31 18:47] isocialtish opened #4559 "Full Site Editing on Dotcom: When editing Header Menu, buttons overlay and unable to edit"
### Steps to Reproduce

1. In Site Editor
2. Click on Header-Footer only Layout.
3. In the Header, click on the navigational menu block.
4. Note how buttons were overlaying on the menu, so I can't even navigate how to edit the menu
<img width="1409" alt="Screen Shot on 2021-08-31 at 08-33-10" src="https://user-images.githubusercontent.com/6664819/131558707-553e8c00-5d6d-4364-a483-9a5be2fa102e.png"

[2021-09-01 01:32] tanjoymor opened #4516 "Carmack: Author Bio not displaying on posts"
## Steps to replicate

Activate the Carmack theme
Turn on the Author Bio setting in the Customizer under Content Options - save

## Result

Nothing:
<img width="1412" alt="Screenshot on 2021-08-31 at 19-15-15" src="https://user-images.githubusercontent.com/42655541/131743261-08e09793-ca30-44ac-85ab-aa38d0ae6dbd.png">

The author bio doesn't display on single post pages the way it should.
There's C

[2021-09-01 03:20] Greatdane commented on #3067
Re: 4257632-zd-woothemes

On this particular report, the menus don't work on any mobile device, including Android.

[2021-09-01 17:03] susanjanec opened #4517 "Gema Theme Sharing Buttons Have Dashes Within Sharing Buttons"
## Steps to replicate

A user reported in 4247240-zen that the sharing buttons on the Gema theme appear to have some weird lines that looks like this isn't correctly displaying.

<img width="503" alt="Screenshot on 2021-08-27 at 07-35-31 (1)" src="https://user-images.githubusercontent.com/16828966/131712666-6a0fe1d9-37a7-422b-ac02-e5159d663fa7.png">

## Result
Changing the different button options

[2021-09-01 19:07] #4445 closed, assigned to nobody

[2021-09-01 21:08] kjellr opened #4518 "Skatepark: Header design adjustments"
Following the changes in https://github.com/Automattic/themes/pull/4471, @melchoyce and I had another look at the Skatepark header. Some of the spacing and placement of items was feeling a little weird on mobile, so we decided to readjust.

The following mockups represent our preferred state for all the various combinations of site title, site tagline, site logo, menu, and social links. I'm includ

[2021-09-02 00:08] synora commented on #4519
Triaged. I can get the Social Icons to appear on the left like in your screenshot. However, even after saving these changes, they aren't appearing at all for me on my test site. Tested on both simple and Atomic.

[2021-09-02 10:53] RavanH opened #4521 "Blockbase: Reading setting "Blog pages show at most" is ignored"
## Steps to replicate

Go to Settings > Reading and change the "Blog pages show at most" setting to anything other than 10.

## Result

10 latest posts on the blog (or home) page.

## Expected

The number of posts set on Settings > Reading.

This is caused by the perPage in `,"query":{"perPage":10,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":""

[2021-09-02 11:08] RavanH commented on #4521
Note that removing the `"query"` parameters (or at least setting the "perPage" value to null) will prevent 3 extra database queries. Removing the `"queryID"` parameter will shave off even more DB queries, according to my tests with Query Monitor.

[2021-09-02 13:49] RavanH opened #4522 "Blockbase: remove unused post meta styling"
## Proposal

There are several style rules and files that are aimed at a block with class `.post-meta`. There is no such block used in Blockbase. However, these styles are used in child themes Mayland Blocks and Skatepark. I would argue that these style belong there, not in the parent theme.

Files involved are:
sass/post/_meta.scss
sass/ponyfill.scss (last import)
assets/svg/post-author.svg
asset

[2021-09-02 16:09] kjellr opened #4523 "Blockbase children: Site editor crashes on launch in Safari"
## Steps to replicate

1. Activate the Gutenberg plugin, v11.4.0
2. Activate a blockbase child theme (Quadrat, Skatepark, etc.)
3. Using Safari, try to open the site editor.
4. Note the error.

## Result

<img width="1285" alt="Screen Shot 2021-09-02 at 12 06 25 PM" src="https://user-images.githubusercontent.com/1202812/131878562-04543750-fea8-4df1-ac4a-c7968f26957b.png">

## Expected

I expected

[2021-09-02 17:46] jffng commented on #4523
Hey there — I was unable to replicate this. Tested the following scenarios / combinations:

- Gutenberg latest plugin release (11.4.0) and trunk
- Skatepark, Quadrat, and Seedlet Blocks
- Chrome, Safari, Firefox

The site editor loaded in all combinations of those.

[2021-09-02 18:42] pbking commented on #4523
I HAVE reproduced this locally.

Doesn’t repo on Firefox or Safari for me.
Only in Chrome.
(which I think is the opposite for others experiencing it)

Happens with the plugin or a build.
Doesn’t happen on .com (with 11.4.0)

I’m at a loss as to even what to point at that might be broke.

Removing the top-level `fontWeight` from `styles.typography` in theme.json makes the error go away.

Error seem

[2021-09-02 19:26] serabi opened #4524 "Wanderer: Verse block formatting does not display correctly"
## Steps to replicate

With the Wanderer theme set as the site's theme, add a verse block to the page. The block looks fine in the editor, but then once published, the formatting disappears:

![image](https://user-images.githubusercontent.com/30205248/131904308-60682d94-2a4c-47da-8223-e56bb6e068a2.png)

As a patch, we provided the user with this CSS:

[code]

* User report: 31355881-hc
* Follow-up

[2021-09-02 19:49] pbking commented on #4523
Reported here on Gutenberg: https://github.com/WordPress/gutenberg/issues/34483
Closing this as it's not a theme issue and can be tracked there.

[2021-09-02 19:49] #4523 closed, assigned to nobody

[2021-09-03 08:31] davoraltman opened #4568 "More Block: Read More link points to the part of the post where the block was added"
### Steps to Reproduce

1. Add a More block to a post
2. Go to the main Posts page and click on the Read More link
3. You'll arrive at the post but not at its beginning, but rather at the very place where the More block was added

Video of the issue: https://d.pr/i/bazYJs/AKSxUOQeqd

### What I expected to happen

The link should take me to the beginning of the post instead.

### What actually hap

[2021-09-03 09:31] scruffian commented on #4463
This was fixed by #4468

[2021-09-03 09:31] #4463 closed, assigned to scruffian

[2021-09-03 11:37] scruffian commented on #4522
I think I'd prefer to add post meta to blockbase :)

[2021-09-03 11:39] MaggieCabrera commented on #4522
Thanks for this PR, I totally agree that if the css is not used by the theme it shouldn't be there, but since all the children use it, I think it makes a compelling argument that Blockbase should include it too, since it's a pattern that's widely used all over. @kjellr do you think we should add this to Blockbase? This is how it looks like in Seedlet blocks:

<img width="671" alt="Screenshot 2021-

[2021-09-03 12:33] aleone89 commented on #4486
Another report in the forums here https://wordpress.com/forums/topic/cant-update-my-widget/

[2021-09-03 14:23] MaggieCabrera commented on #4458
Closed via #4489

[2021-09-03 14:23] #4458 closed, assigned to nobody

[2021-09-03 14:41] MaggieCabrera commented on #4488
Closed via #4489

[2021-09-03 14:41] #4488 closed, assigned to nobody

[2021-09-03 14:41] MaggieCabrera commented on #4487
Closed via #4489

[2021-09-03 14:41] #4487 closed, assigned to nobody

[2021-09-03 14:48] MaggieCabrera commented on #4259
Closing this as I can't reproduce on dotcom anymore

[2021-09-03 14:48] #4259 closed, assigned to nobody

[2021-09-03 14:56] MaggieCabrera opened #4526 "Quadrat: Fix Episode pattern"
On dotcom the Episode pattern is giving a validation error:

<img width="704" alt="Screenshot 2021-09-03 at 16 55 53" src="https://user-images.githubusercontent.com/3593343/132025935-6cef1ef5-5920-4716-8aa9-9eec64aeb37b.png">

[2021-09-03 15:56] kjellr opened #4527 "Quadrat: Mobile header spacing bug"
The Quadrat header appears incorrectly placed on mobile viewports:

Current|Intended
---|---
![current](https://user-images.githubusercontent.com/1202812/132033909-9890f486-c9cb-4aa5-a4d5-ca997aa6d5a7.png)|![new](https://user-images.githubusercontent.com/1202812/132033911-d8f23560-13c9-451f-81b1-81c3a91a176d.png)

The issue is both the spacing on top of the title/menu button, and also the spacing

[2021-09-03 16:40] kjellr opened #4528 "Skatepark: Post/page editor text appears closer to the divider than it does on the front end"
Editor|Front End
---|---
<img width="1324" alt="Screen Shot 2021-09-03 at 12 37 36 PM" src="https://user-images.githubusercontent.com/1202812/132039646-2a09ce5a-1ed2-4599-88e3-1eb19755d05a.png">|<img width="1325" alt="Screen Shot 2021-09-03 at 12 37 18 PM" src="https://user-images.githubusercontent.com/1202812/132039645-3cb316c0-45ad-4d39-89c4-7545551d490b.png">

The title and line area also not w

[2021-09-03 16:46] beafialho opened #4529 "Quadrat: Layouts misaligned in different occasions"
Not sure if this is a bug from the theme or from Gutenberg, but I was hoping someone could look into it. While testing Quadrat on my [test site](https://testinginthewind.mystagingwebsite.com/), in which I was trying to customize as much as I could, I found some issues.

When I click "Inherit default template" in the Query Loop, this is what it looks like:

| Editor      | Site |
| ----------- | --

[2021-09-03 17:33] tinjure20 commented on #4529
Hello team! I am also experiencing similar to @beafialho after Gutenberg 11.4 update. In my very quick tests, all three Blockbase child themes (Quadrat, seedlet block and mayland block) behave similarly but not the Blockbase (screenshot below below).
I didn't report the other day when I tested wondering whether it was proper place to report. In one of my personal site that I use Quadrat - I revert

[2021-09-03 18:18] kjellr commented on #4522
Yeah, I think it makes sense to add it to blockbase — even if it just houses the post date to start.

[2021-09-04 02:50] kosiew commented on #1421
Another report in #4261626-zen

[2021-09-04 18:54] nickpagz commented on #4568
Is this possibly a version issue, or only atomic sites? I use the More block regularly on a personal site (Simple site) and it works as expected.
https://onepercent.blog/

I haven't done any more testing tbh, but in my configuration it works, at least up to the latest post on August 17th.

[2021-09-05 15:29] sbathompson-he opened #4530 "Dynamic News: Load More Posts"
## Steps to replicate

Transferred into this chat, but it seems that the user themes infinite scroll is not working correctly
When going to load more posts, it does not load any new posts and results in a 404 error
The user has 21 posts, only showing 10 at a time
the other issue is that that load more posts is not in the correct language like the rest of the site

https://user-images.githubusercon

[2021-09-05 16:11] msilbers commented on #4016
reported in #4255694-zen

[2021-09-06 05:41] davoraltman commented on #4568
The video I added was from a Simple site and this can also be reproduced on an Atomic site - https://testingat957860922.wpcomstaging.com/blog/

It seems that there's a combination of specific themes/more block that causes this issue. Ixion theme is one of them.

[2021-09-06 14:55] nickpagz commented on #4568
Yep, I did another test and I was able to replicate on Ixion as well, but Balasana was ok, so definitely a compatibility issue with some themes.

[2021-09-06 15:18] MaggieCabrera opened #4531 "Geologist: enhancements and code quality"
After a bit of discussion on slack with @scruffian there's a few things we can polish for Geologist. Right now the theme is directly duplicating Quadrat's css and that could be improved. There's three immediate areas we could work on:

- The header styling could live in Blockbase by [unifying these themes header styles](https://github.com/Automattic/themes/pull/4482).
- The buttons styles for Skat

[2021-09-06 16:09] masperber opened #4594 "Twenty Twenty-One: Background Image Stretch Behavior - iPhone vs Android"
### Steps to Reproduce

1. Set a site background image with Preset Fill Screen and Image Position Center. (User is using theme Twenty Twenty-One. Not sure if that is relevant.)
2. Create several pages with differing heights, at least some of which exceed the height of the background image.
3. Background image

### What I expected to happen

The background image should have the same behavior on all

[2021-09-06 16:17] mikeicode opened #4595 "Varia: Mobile menu toggle hamburg icon and text options"
### What

It’d be helpful to have an option to use the hamburg menu icon instead of the + icon on the mobile menu toggle. It’d also be nice to be able to customize or hide the “Menu” text.

### Why

Editing/hiding this text and using a Hamburg icon are somewhat common requests.

Barnsbury: https://href.li/?4263727-zd-woothemes

### How

[Twenty Twenty One](PcHIRZ-46-p2) uses a hamburg icon. An opt

[2021-09-06 17:12] mikeicode commented on #3703
This is also an issue for the parent theme Seedlet. 31446929-hc

[2021-09-06 18:45] lizswafford commented on #772
27121111-hc

[2021-09-06 21:53] thesacredpath commented on #772
There is another related issue to this. When the CSS is added to force the fancy-cornered image to be centered, it first loads left-aligned and then centers. Not sure if after the fix on this if this will be the case or not.

Screencast: https://d.pr/v/9y1hoY

Ticket: 4277480-zen

[2021-09-07 08:17] MaggieCabrera commented on #4515
Mmmh, I'm not seeing the same as you with the latest from trunk for both the theme and GB:

<img width="625" alt="Screenshot 2021-09-07 at 10 15 34" src="https://user-images.githubusercontent.com/3593343/132309793-fbfaa136-0dad-4b10-9d72-778419f6bc1e.png">

Also, both Quadrat and Skatepark comment figma designs featured a button instead of a link for the reply link, just a wanted to confirm that w

[2021-09-07 09:49] MaggieCabrera commented on #4515
As to the spacing between paragraphs, the thing is if the user only presses enter, the HTML generated is one paragraph with <br> for each linebreak. If the user writes actual HTML, then the paragraphs have proper separation:

<img width="397" alt="Screenshot 2021-09-07 at 11 48 17" src="https://user-images.githubusercontent.com/3593343/132324070-2cc614c5-5bbb-4789-8f2b-7f14752a2a31.png">

[2021-09-07 10:13] MaggieCabrera opened #4533 "Seedlet blocks: button styles"
The Button block styles are not working on the frontend:

Editor:
<img width="701" alt="Screenshot 2021-09-07 at 12 12 57" src="https://user-images.githubusercontent.com/3593343/132327861-21ab4a07-99f6-4bd4-943f-89516abe4297.png">

Frontend:

<img width="758" alt="Screenshot 2021-09-07 at 12 13 02" src="https://user-images.githubusercontent.com/3593343/132327860-be982d6a-76e9-4656-a752-0f159394fcd

[2021-09-07 11:25] kjellr commented on #4531
It probably will, but we haven't designed them yet. I'll add it to my todo list. 👍

[2021-09-07 13:40] #4521 closed, assigned to mikachan

[2021-09-07 13:51] kspilarski opened #4538 "Site Creation: Theme chosen from Choose a Design changes after site is created"
## Steps to replicate

- create a new site
- follow the site creation process until it asks you to 'Choose a Design'. Themes suggested were: Overton, Cassel, Mayland, etc.
- choose any theme like Overton, Cassel, Fredrickson, Brice, Edison, Balan, Bowen, Easley, Camdem, Vesta or Gibbs
- finish creating the site
- go to Appearance  > Themes, the theme you chose before has changed to something else.

[2021-09-07 14:05] danieldudzic commented on #4074
Twenty Twenty registers one Social Menu in functions.php: `'social'   => __( 'Social Menu', 'twentytwenty' ),` and the second one seems to be coming from Jetpack.

It's a bit odd, because 2020 doesn't add support for the Jetpack Social menu `add_theme_support( 'jetpack-social-menu' );` anywhere.

I found that Headstart files are adding: `"jetpack-social-menu": "social-links-menu",` in `theme_mods`

[2021-09-07 14:27] mikeicode opened #4539 "Patch: YouTube block size issues"
YouTube videos embedded with the YouTube or Video block are the wrong size. With "Resize for smaller devices" enabled they are not tall enough, with "Resize for smaller devices" disabled they are too tall.

## Steps to replicate

Add a YouTube video to a page, try with "Resize for smaller devices" enabled and disabled, view the published page.

## Result

They are both the incorrect size.

![Scree

[2021-09-07 14:36] melchoyce commented on #4528
How does 90px above and below the divider feel?

![image](https://user-images.githubusercontent.com/2846578/132363361-87a1f6df-d968-4677-b9ca-5e85899109eb.png)

[2021-09-07 14:45] #4413 closed, assigned to mikachan

[2021-09-07 15:29] kjellr commented on #4528
That looks comfortable to me!

[2021-09-07 15:34] MaggieCabrera opened #4541 "Blockbase: Fira sans font family not loading"
Seedlet blocks' body font-family is not loading at all and it's falling back to a sans-serif system font:

<img width="1295" alt="Screenshot 2021-09-07 at 17 33 13" src="https://user-images.githubusercontent.com/3593343/132372277-e6c3ebc4-aa69-46cf-8da3-43841e0777e4.png">

I think this has to do with the shorthand format for the google font import not working for this font in particular, though I

[2021-09-07 15:37] kathrynwp commented on #3372
We encountered this during team empathy testing today.

It appears that the theme intentionally hides the tagline by default, with no way to display it other than a CSS override. This is very confusing, as mentioned above, since checking the Site Identity box will _never_ display the tagline.

[2021-09-07 15:44] mikeicode opened #4607 "Pique: Front panel H2 heading centering issue"
### Steps to Reproduce

H2 centered headings on interior pages that are set to be a featured page on the homepage aren't centered on the front page. Other headings are correctly centered.

* Create an interior page with H2 headings set to center alignment & default / wide / full widths
* Set this page as a featured page in the Customizer
* View homepage

### What I expected to happen

Headings sho

[2021-09-07 16:36] mikeicode commented on #4355
Stow (we used CSS to add an icon) 31159608-hc

[2021-09-07 17:40] danieldudzic commented on #4074
Actually, it seems that it's also coming from within Jetpack: https://github.com/Automattic/jetpack/blob/ba2dd6c30be137baad96aafb2466d0aed7e182e5/projects/plugins/jetpack/modules/theme-tools/compat/twentytwenty.php#L55

[2021-09-07 17:46] danieldudzic commented on #4074
I have now reported this in Jetpack: https://github.com/Automattic/jetpack/issues/20991

[2021-09-07 17:54] kathrynwp commented on #4538
This is because only some of the "Designs" shown in that screen are "real" themes. The others are just pattern variations of existing themes. i.e. Easley has a specific set of dummy content, but the theme is always Maywood. Agree, it's confusing.

There has been a project to convert some of those "Designs" to real themes over the last few months, but not all have been done and I'm not sure if it's

[2021-09-08 07:36] #4515 closed, assigned to MaggieCabrera

[2021-09-08 07:38] #4518 closed, assigned to MaggieCabrera

[2021-09-08 07:49] MaggieCabrera commented on #4541
So I found the reason why not all fonts were accepting the shorthand format and it's because not all fonts support v2 of the API. This is the list of fonts that supports it for future reference: https://fonts.google.com/variablefonts

/cc @scruffian because I know you've encountered this too

[2021-09-08 08:25] donalirl opened #4544 "Small Typo in Shawburn Demo Content"
In the quote block on the homepage, it says:

Can we add the word "be" before "happier"? Please note that the same typo exists in a number of areas:

### Page Template
When a user creates a new page and uses this Page Template:
![New Page ‹ Brock's Rock Album — WordPress 2021-09-08 at 6 22 47 PM com - Google Chrome](https://user-images.githubusercontent.com/30727666/132473609-6da3eb8c-e84d-47dd-ac

[2021-09-08 09:13] aleone89 commented on #679
Another report in the theme support  here:  https://wordpress.org/support/topic/homepage-entry-overlap-lazy-loading-off/

[2021-09-08 11:00] #4541 closed, assigned to MaggieCabrera

[2021-09-08 13:31] #4526 closed, assigned to nobody

[2021-09-08 13:40] MaggieCabrera opened #4550 "Geologist: style.css tags"
Geologist doesn't have any tags on it's style.css file. I think it's safe to copy the ones from Quadrat.

[2021-09-08 13:55] MaggieCabrera commented on #3590
Closed via https://github.com/Automattic/themes/pull/4535

[2021-09-08 13:55] #3590 closed, assigned to nobody

[2021-09-08 13:56] MaggieCabrera commented on #3635
The demo site for Mayland blocks was not loading the theme correctly. I don't know about the started one, but after changing themes and going back to Mayland blocks, it fixed the image issue and some other problems that the site had. I'm closing this, feel free to reopen if it's still happening to you

[2021-09-08 13:56] #3635 closed, assigned to nobody

[2021-09-08 13:59] MaggieCabrera commented on #3379
I think these are all solved now, we removed the smiley icon for all themes, changed the credits for all block themes as well and I don't see the sharing buttons any more but I believe it's something you can deactivate on Jetpack.

[2021-09-08 13:59] #3379 closed, assigned to nobody

[2021-09-08 14:01] MaggieCabrera commented on #3390
I don't see this happening anymore on the linked site, feel free to reopen if needed!:

<img width="695" alt="Screenshot 2021-09-08 at 16 01 20" src="https://user-images.githubusercontent.com/3593343/132523892-92640080-600e-4552-a56f-dccc0d38fe88.png">

[2021-09-08 14:01] #3390 closed, assigned to nobody

[2021-09-08 14:03] MaggieCabrera commented on #3374
This one has been fixed from Blockbase

[2021-09-08 14:03] #3374 closed, assigned to nobody

[2021-09-08 14:04] MaggieCabrera commented on #2882
Is this still relevant or did you mean it for Seedlet instead?

[2021-09-08 14:06] MaggieCabrera commented on #2880
The current wide width is 790px, now with Seedlet blocks. How big should it be? /cc @kjellr

[2021-09-08 14:08] MaggieCabrera commented on #2679
This is fixed via Blockbase, we have a "blank" template that we can use if we don't want the header and footer to show on a per post/page basis

[2021-09-08 14:08] #2679 closed

[2021-09-08 14:11] MaggieCabrera commented on #2274
There was a conversation about this link and [the consensus](https://github.com/WordPress/gutenberg/issues/22724#issuecomment-782353923) was that it's not something we need or want to replicate

[2021-09-08 14:11] #2274 closed

[2021-09-08 14:12] MaggieCabrera commented on #2272
With the latest changes to both the navigation block and the theme (and Blockbase in this case) I think this is not relevant anymore.

[2021-09-08 14:12] #2272 closed

[2021-09-08 14:13] MaggieCabrera commented on #2271
We fixed this directly in the credits plugin for all block themes

[2021-09-08 14:13] #2271 closed

[2021-09-08 14:22] MaggieCabrera commented on #4529
I think the latest version doesn't have these issues, we will update the dotorg version soon

[2021-09-08 14:26] MaggieCabrera opened #4552 "Geologist: Header and post meta alignments"
Looks like the header is broken and the post meta is left aligned:

<img width="1654" alt="Screenshot 2021-09-08 at 16 25 29" src="https://user-images.githubusercontent.com/3593343/132527996-4dc84470-6b5b-40e8-a89f-874f3b9891f2.png">

[2021-09-08 14:31] #4321 closed, assigned to nobody

[2021-09-08 14:31] #4311 closed, assigned to nobody

[2021-09-08 14:49] scruffian commented on #2882
I'm pretty sure it was meant for Seedlet. Let's close it and see if anyone asks again :)

[2021-09-08 14:49] #2882 closed, assigned to nobody

[2021-09-08 15:31] MaggieCabrera opened #4554 "Geologist: demo site"
I created a demo site for Geologist, I'm creating this issue to keep track of adding content to it: Pdmli5-2-p2

[2021-09-08 15:32] pbking commented on #4533
Currently working OK for me:
![image](https://user-images.githubusercontent.com/146530/132539595-42d39100-694e-4392-b74c-927c198720fb.png)
![image](https://user-images.githubusercontent.com/146530/132539624-1769418e-1010-4219-95eb-8461f1e6d4bb.png)

[2021-09-08 15:37] MaggieCabrera commented on #4533
Yep, must have been my env, it works fine now!

[2021-09-08 15:37] #4533 closed, assigned to nobody

[2021-09-08 16:27] deancroyal opened #4555 "Singl: Update "child page" link in documentation"
## Steps to replicate

1. Visit Theme's documentation on WordPress.com: https://wordpress.com/theme/singl/
2. Scroll down to "Set up your site like Singl‘s demo"
3. The last sentence within the first step: "We also added a child page (“The Deep Web Tour”)."

## Result

"child page" from that sentence links to the following support guide: https://wordpress.com/support/pages/#create-sub-pages-page-o

[2021-09-08 17:09] MaggieCabrera commented on #4531
I'm closing this, since the only thing left is the header issue and that is being tracked already

[2021-09-08 17:09] #4531 closed, assigned to MaggieCabrera

[2021-09-08 19:16] melchoyce opened #4558 "Skatepark: Remove border between post title and excerpt on blog list"
## Steps to replicate

Add a new post that doesn't contain any content that would be output into an excerpt to see the issue at its worst.

## Result

![image](https://user-images.githubusercontent.com/2846578/132570484-7e417d5a-cb8e-48c0-a64a-9f94d41cf4ae.png)

## Expected

Any way to remove the border that appears between the title and excerpt, and move the content closer to the post title? For

[2021-09-08 19:41] ash1eygrace commented on #3703
Ran into this here: 31563677-hc

[2021-09-09 01:58] hacchism opened #4567 "Radcliffe 2: Mispositioning of post/page titles in editor"
### Quick summary

_No response_

### Steps to reproduce

1. Activate "Radcliffe 2" theme
2. Open an editor for posts or pages

### What you expected to happen

Post/Page title should align with the content box below.

![Screen Shot on 2021-09-09 at 10:50:43](https://user-images.githubusercontent.com/32432463/132608913-9f11f8bb-6f98-472e-a760-f320bd0c7e80.png)

### What actually happened

Post/Pag

[2021-09-09 04:55] kosiew commented on #4559
Hi @isocialtish ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a AT site with Mayland Blocks. Blockbase.
Here is what I see when I checked with Seedlet (Blocks)-

![image](https://user-images.githubusercontent.com/29057562/132624987-54007fbd-18fc-4b33-a6d8-c0329b27937d.png)

In other words, this is a theme issue.
Moving to the theme repo.

[2021-09-09 07:15] MaggieCabrera opened #4560 "Skatepark: Page title margin bottom is missing"
There's no longer a space between the page title and the content:

Trunk | Design
--- | ---
![image](https://user-images.githubusercontent.com/3593343/132640259-19fb9d57-7481-45f6-84c8-b038afb7ed38.png) | <img width="993" alt="Screenshot 2021-09-09 at 09 14 22" src="https://user-images.githubusercontent.com/3593343/132640218-a7c1021e-8f5e-4284-84ee-f29560bac15d.png">

[2021-09-09 07:21] MaggieCabrera commented on #4559
I think this is more of an issue with how the editor works when a group has flex content, which is something very new. That's why the problem is not happening on Seedlet blocks, where the layout is vertical instead of horizontal

[2021-09-09 10:46] danieldudzic commented on #4558
#4561 addresses this ✅

[2021-09-09 11:38] kjellr commented on #2880
@ianstewart is this still an issue you think we should solve? We can make it wider if necessary, but we'd probably only do it for Seedlet Blocks so as to not upset the folks using Seedlet already.

[2021-09-09 12:16] retnonindya opened #4566 "Theme Gema: Theme conflict with Jetpack Search (upgrade)"
### Quick summary

When a website has these two conditions:
- Theme Gema active, and...
- It has a Jetpack Search subscription active

Jetpack Search will NOT work.

### Steps to reproduce

1. Activate theme Gema/ensure theme Gema is ACTIVE on the website (Simple Site)
2. Ensure the website has paid Jetpack Search subscription

**Search result when using regular Search widget** will yield blank sc

[2021-09-09 12:29] synora commented on #4568
I'm able to reproduce this on Ixion, Hemingway Rewritten, Coutoire, and Independent Publisher 2. Works as expected on Balasana, Dalston, Maywood, and Stratford.

[2021-09-09 13:55] synora commented on #4568
I'm able to reproduce this on Ixion, Hemingway Rewritten, Coutoire, and Independent Publisher 2. Works as expected on Balasana, Dalston, Maywood, and Stratford.

[2021-09-09 17:53] nickpagz commented on #4568
It works as expected on Nucleare as well.

[2021-09-09 18:45] supernovia commented on #4022
I'm gonna request a review on that PR, since I see another instance of this today. :)
https://wordpress.com/forums/topic/site-header-moving/

[2021-09-09 23:08] supernovia commented on #3168
@Columbo199X  I'm sorry I missed this. Are you still having trouble?

[2021-09-09 23:31] paxblueribbon opened #4569 "Image captions not centered on mobile."
## Steps to replicate
Pull up https://danradigan.com/2021/09/06/revisiting-yosemite/ in mobile or mobile emulator.

https://d.pr/i/5OZI5A

## Result

See that caption is aligned-left not aligned center.

## Expected

Caption should be aligned center

* User report: HC-31585850* Follow-up ticket: 4286961-ZEN

[2021-09-10 07:29] isocialtish commented on #1979
Received another report of this in #31167561-hc

[2021-09-10 08:32] #4558 closed, assigned to nobody

[2021-09-10 08:32] #4560 closed, assigned to MaggieCabrera

[2021-09-10 18:21] mikeicode commented on #4018
Ran into this. 30569972-hc

As @RafaelFunchal mentioned the `height: auto;` on

[code]

Overrides the image height set on the Cover block:

[code]

<img width="348" alt="Screen Shot 2021-09-10 at 14 10 09" src="https://user-images.githubusercontent.com/10353785/132899445-a32e01ae-bf73-4707-91c8-bb522c076750.png">

Result:

<img width="1055" alt="Screen Shot 2021-09-10 at 14 16 27" src="https://use

[2021-09-10 20:54] ash1eygrace commented on #2753
Experienced this in 31602092-hc.

[2021-09-11 01:54] devNigel commented on #3540
Was able to reproduce with Radcliffe 2 as well.

Ticket: 4286161-zen

[2021-09-11 07:25] formosattic commented on #3609
I couldn't replicate either. And Floral is a now a retired Premium theme. Seems safe to close this?

[2021-09-11 07:27] formosattic commented on #2073
+1 4287980-zd-woothemes

Related issue and CSS fix at https://github.com/Automattic/themes/issues/2220#issuecomment-653601130

[code]

[2021-09-11 14:36] daria2303 commented on #3669
another one: 4290018-zd-woothemes

workaround:

.wp-block-separator {
      height: 0;
      border-bottom: 0;
}

[2021-09-13 01:33] donalirl commented on #1411
Seen again at #31304133-hc

[2021-09-13 15:36] #4552 closed, assigned to mikachan

[2021-09-13 21:14] TheSteveK opened #4579 "Karuna theme. Text in title in Gutenberg editor transformed to uppercase"
### Quick summary

A user reported that recently (about a week ago) the titles in the editor on their site are all being displayed as upper case, no matter what case they're actually written in.

![Screen Shot 2021-09-13 at 5 09 18 PM](https://user-images.githubusercontent.com/12895386/133156888-066baeaf-5795-4668-abe8-a1f1cb4499aa.png)

### Steps to reproduce

1. Activate Karuna
2. if you have mi

[2021-09-14 06:24] goblinartificer opened #4578 "Morden: allow spacer block height to be set on mobile"
### What

Right now, all spacer blocks with custom heights are being set to 16px on mobile. Flexibility would be better.

### Why

In 31631444-hc today, a WordPress.com user said that their site wasn't respecting their spacer heights on mobile. Looking into it, this appears to be in Morden's style.css:

[code]

### How

This could be removed or replaced with something more flexible! I understand t

[2021-09-14 11:57] poojashetty18 opened #4580 "Multiple Themes: Buttons in sidebar no longer apply correct colours since Block Widget Editor introduced."
## Steps to replicate

- Activate the Canard theme.
- Add the Follow blog widget.
- Update the theme colors from Colors and Background.

![Screen Capture on 2021-09-14 at 15-08-29](https://user-images.githubusercontent.com/44837596/133253348-5a212283-1c99-4a29-b07c-ad7cfbf9dc5f.gif)

## Result
The follow blog widget color does not update.

## Expected

The theme color should be reflected correctly

[2021-09-14 17:10] kjellr opened #4583 "Geologist: Add Block Patterns"
Block patterns have been added to the Geologist figma file. These need to be built into the theme next:

<img width="543" alt="Screen Shot 2021-09-14 at 1 08 14 PM" src="https://user-images.githubusercontent.com/1202812/133302791-d4ba017b-429b-4b8c-8838-593fd7e06f17.png">

[2021-09-14 17:12] kjellr opened #4584 "Geologist: Add alternate color palettes"
Geologist has a set of alternate color palettes designed. These should be added to the theme. More details in the Figma file.

<img width="7600" alt="Alternate Colors" src="https://user-images.githubusercontent.com/1202812/133302995-5b9886eb-004e-4a5b-9238-6d226518a890.png">

[2021-09-14 18:02] kjellr opened #4585 "Skatepark: Header does not have intended top margin"
The margin above the header is incorrect on [the WP.com demo site](https://skateparkdemo.wordpress.com).

Current|Intended
---|---
<img width="989" alt="Screen Shot 2021-09-14 at 2 00 01 PM" src="https://user-images.githubusercontent.com/1202812/133309649-a73ca5f6-fef5-4461-9b1f-141bebaa9ed3.png">|<img width="989" alt="Screen Shot 2021-09-14 at 1 59 42 PM" src="https://user-images.githubuserconten

[2021-09-14 18:07] kjellr opened #4586 "Skatepark: Submenu background color is incorrect"
<img width="301" alt="Screen Shot 2021-09-14 at 2 05 15 PM" src="https://user-images.githubusercontent.com/1202812/133310375-d3efeff1-f1d8-4e58-9ce5-9196a7462e37.png">

The background color here should be the same as the page background. Also, all menu items are missing hover states. I believe these should just receive an underline, but @melchoyce can you confirm?

[2021-09-14 18:09] kjellr opened #4587 "Skatepark: Mobile menu appears underneath the admin bar when expanded"
When this happens, the close button is unreachable behind the admin bar:

![mobile](https://user-images.githubusercontent.com/1202812/133310774-e6b79de5-cf2a-4632-939a-95466f020611.gif)

[2021-09-14 18:09] melchoyce commented on #4585
30px seems okay 👍

[2021-09-14 18:13] kjellr opened #4588 "Skatepark: Default posts template is not as wide as the page header"
These should have an identical max-width:

<img width="1366" alt="Screen Shot 2021-09-14 at 2 11 43 PM" src="https://user-images.githubusercontent.com/1202812/133311298-244c1f2f-b479-45e8-9098-d0920990c26e.png">

[2021-09-14 18:17] kjellr opened #4589 "Skatepark: Default posts template gap is incorrect"
The gap between individual posts in the default posts template is much wider than in the original mockups. Please reconsult the Figma file for this one:

Development|Mockup
---|---
<img width="647" alt="Screen Shot 2021-09-14 at 2 15 38 PM" src="https://user-images.githubusercontent.com/1202812/133311843-ac7a33ad-738a-45ab-b4d7-e64551504ace.png">|<img width="515" alt="Screen Shot 2021-09-14 at 2 1

[2021-09-14 18:25] kjellr opened #4590 "Skatepark: Social Links navigation is not properly aligned on desktop"
It's a little too high, and a little off to the right.

---

Current:

<img width="884" alt="Screen Shot 2021-09-14 at 2 24 47 PM" src="https://user-images.githubusercontent.com/1202812/133312884-a59c7224-1a9a-48e0-8386-34bd3927a5cf.png">

Intended:

<img width="880" alt="Screen Shot 2021-09-14 at 2 24 29 PM" src="https://user-images.githubusercontent.com/1202812/133312899-700d0c2b-8353-43a2-8081-

[2021-09-14 18:33] kjellr opened #4591 "Skatepark: Mobile spacing around social menu is incorrect"
Current|Intended
---|---
![current](https://user-images.githubusercontent.com/1202812/133313655-be11e739-f06f-4bc7-b759-4c93a8782255.png)|![iPhone 8 - 19](https://user-images.githubusercontent.com/1202812/133313665-9eb11ee1-b71c-4ee5-8388-74d11986ce5f.png)

Intended margins:

![iPhone 8 - 19](https://user-images.githubusercontent.com/1202812/133313976-18cf17b4-3c50-4b8c-b198-8279292b6f0b.png)

[2021-09-14 18:41] kjellr opened #4592 "Quadrat: If a post has no title, we should collapse the space that the title would usually take up"
Before|After
---|---
<img width="745" alt="Screen Shot 2021-09-14 at 2 40 03 PM" src="https://user-images.githubusercontent.com/1202812/133315224-ac075c3d-9611-480a-81cd-14bfc369b202.png">|<img width="700" alt="Screen Shot 2021-09-14 at 2 41 11 PM" src="https://user-images.githubusercontent.com/1202812/133315264-d0dbc255-f73f-47dd-b5c6-91407179b165.png">

[2021-09-14 18:45] kjellr opened #4593 "Quadrat: The background shape at the bottom of the page doesn't quite reach the bottom"
Current:

<img width="1126" alt="Screen Shot 2021-09-14 at 2 42 48 PM" src="https://user-images.githubusercontent.com/1202812/133315580-639f23c5-7a24-4241-ae69-2e6ee144e59a.png">

Intended:

<img width="1126" alt="Screen Shot 2021-09-14 at 2 45 24 PM" src="https://user-images.githubusercontent.com/1202812/133315911-7c60b119-227f-435b-8351-333929855b27.png">

[2021-09-14 18:50] synora commented on #4594
Triaged. I'm able to replicate this using an iPhone 11 v 14.7.1.

[2021-09-14 18:57] kjellr opened #4596 "Quadrat: Placeholder text color/size is incorrect"
This is happening on two blocks that I've found:

---

## Jetpack Subscribe Block

1. Add a Jetpack/WP.com "subscribe" block.
2. Note that the text color is gray. It should be our standard pink color.

<img width="578" alt="Screen Shot 2021-09-14 at 2 51 59 PM" src="https://user-images.githubusercontent.com/1202812/133317508-e5aacc97-e3e1-4138-942e-cf0e5aeafe7f.png">

---

## Search Block

1. Add

[2021-09-14 19:05] kjellr opened #4597 "Quadrat: Site Logo right margin should match spacing between title & tagline"
On desktop, the right margin on the site logo should match the spacing between the title and tagline (20px).

Before|After
---|---
<img width="519" alt="Screen Shot 2021-09-14 at 3 04 37 PM" src="https://user-images.githubusercontent.com/1202812/133318643-a296b76e-d97c-4352-b3bd-e468d2a13558.png">|<img width="496" alt="Screen Shot 2021-09-14 at 3 04 29 PM" src="https://user-images.githubuserconten

[2021-09-14 19:10] kjellr opened #4598 "Quadrat: On mobile, site logo bottom margin is incorrect"
On mobile, the site logo bottom margin should match entire spacing between site logo and top of site.

Before|After
---|---
<img width="319" alt="Screen Shot 2021-09-14 at 3 06 43 PM" src="https://user-images.githubusercontent.com/1202812/133319092-28ccda7a-2cb1-4054-a96b-ebdd63c52d55.png">|<img width="317" alt="Screen Shot 2021-09-14 at 3 07 37 PM" src="https://user-images.githubusercontent.com/1

[2021-09-14 19:29] melchoyce commented on #4586
How's this?

![image](https://user-images.githubusercontent.com/2846578/133321726-80633746-fe3e-4cc3-a399-2fe710da8f99.png)

[2021-09-14 19:58] dolgelukkig opened #4599 "Adventure, black area visible above content when switching page"
## Steps to replicate

When visiting the site the user noticed a black box above the content when they switched pages. It's visible on all pages but the biggest on the homepage.
You can see a video (made by the user) here: https://videos.files.wordpress.com/gES1tz47/img_6598_mov_hd.mp4
Me and another HE were able to replicate the issue.

* User report: 30532679-hc
* Follow-up ticket: 4297300-zen

[2021-09-14 20:59] xpurichan opened #4600 "Natural theme: Translation missing for "continue reading" button on category pages"
### Quick summary

When we change a website's language it changes text that is automatically generated by the site, such as "Published by" "Continue Reading", "Comments", footer credits, and more. In this case the Natural theme isn't translating the "Continue Reading" button on category pages, the text remains in English.

### Steps to reproduce

1. Activate the Natural theme (an Atomic or simple

[2021-09-15 09:41] beafialho opened #4602 "Quadrat: Buttons Hover and Colors Incorrect in Several Occasions"
In the WP.com demo site, some buttons aren't looking as intended:

- The "Learn More" button has the correct hover effect, but the default text is white
- The "Subscribe" button has an incorrect hover effect, it should turn into an outline button

https://user-images.githubusercontent.com/65220155/133407456-407bc632-75e7-4d7f-bf64-034c18b16813.mov

- In the contact form, the "Send Message" button

[2021-09-15 09:50] beafialho opened #4603 "Quadrat: Feedback Button Block Placeholder Text"
Can we make the placeholder text be in the same font as the rest of the site (in this case, DM Sans)?

Currently:
<img width="423" alt="Captura de ecrã 2021-09-15, às 10 44 20" src="https://user-images.githubusercontent.com/65220155/133410820-56913a90-cceb-4f61-8e36-2ccd8108f389.png">

Ideal:
![feedbbutton](https://user-images.githubusercontent.com/65220155/133411562-492ddc75-dabe-4929-a502-adebc5

[2021-09-15 09:55] beafialho opened #4604 "Quadrat: Menu links have no spacing in Safari"
Here's how they look:

<img width="229" alt="Captura de ecrã 2021-09-15, às 10 52 39" src="https://user-images.githubusercontent.com/65220155/133412403-cf1b91a8-f830-4286-8226-131d5607a893.png">

<img width="330" alt="Captura de ecrã 2021-09-16, às 17 48 34" src="https://user-images.githubusercontent.com/65220155/133652785-52a8a098-e3cf-4d66-a18e-471fe7dea90b.png">

[2021-09-15 10:03] beafialho opened #4605 "Quadrat: Remove folder icon from post meta"
We should remove the folder icon from the post date and separate the date and categories with a dot `·`

| Currently      | Intended |
| ----------- | ----------- |
| <img width="360" alt="Captura de ecrã 2021-09-15, às 10 58 14" src="https://user-images.githubusercontent.com/65220155/133413317-4271b3ed-d0db-4d70-8647-051badef7f14.png">  | <img width="540" alt="Captura de ecrã 2021-09-15, às 10 58

[2021-09-15 10:23] beafialho opened #4606 "Quadrat: Add padding to Post Meta"
Currently, Post Meta is too close to the Post Title which makes the layout feel more constrained.

Adding 50px padding to the post meta area feels reasonable and more comfortable.

<img width="1031" alt="Captura de ecrã 2021-09-15, às 11 16 43" src="https://user-images.githubusercontent.com/65220155/133416361-33696edb-7f67-42ce-82ac-b8b825bddd56.png">

| Current      | Intended |
| ----------- | -

[2021-09-15 11:38] kjellr commented on #4586
Looks great. 👍

[2021-09-15 12:26] synora commented on #4607
Can replicate.

Here's a screenshot of what the Heading Blocks look like in the editor:

<img width="1289" alt="Screen Shot on 2021-09-15 at 08-23-25" src="https://user-images.githubusercontent.com/10015451/133432888-bf10d303-a23f-44b3-a0e2-c085f3c4c0bc.png">

And on the homepage when the page is set as a Featured Page:
<img width="1146" alt="Screen Shot on 2021-09-15 at 08-22-59" src="https://use

[2021-09-15 13:18] mikeicode commented on #4580
The issue appears to be that this button now has the class `wp-block-button__link`. This apparently unintentionally changes the style of the buttons on this block.

<img width="1328" alt="Screen Shot 2021-09-14 at 07 21 10" src="https://user-images.githubusercontent.com/10353785/133440377-0f95643c-416c-47c2-b61c-6384699e8377.png">

I've also run into this issue on another theme Maxwell (retired th

[2021-09-15 13:56] mikachan opened #4609 "Blockbase: Image caption font size is too big"
## Steps to replicate

Caption font size should be smaller than main content size:

![image](https://user-images.githubusercontent.com/1645628/133446616-385df850-8c85-4765-ae71-f68f2ef719a0.png)

Example block markup:

[code]

[2021-09-15 14:09] mikachan opened #4610 "Blockbase: Left/right aligned buttons are not aligned correctly"
## Steps to replicate

These buttons currently expand beyond the default width and appear in the gutter:

![image](https://user-images.githubusercontent.com/1645628/133448455-c15d4972-5553-4325-a29c-708443961f58.png)

Example block markup:

[code]

[2021-09-15 14:21] mikachan opened #4611 "Blockbase: Sub-menu can flow off screen"
## Steps to replicate

When you add a third menu level, it flows off the edge of the screen:

![image](https://user-images.githubusercontent.com/1645628/133465581-ef3c5c12-4acb-4d16-92ba-13bd5282a50a.png)

This is how Seedlet handles the same menu:

![image](https://user-images.githubusercontent.com/1645628/133450546-ef104a64-fd6b-4d53-b471-2f01af82c2b2.png)

[2021-09-15 14:25] mikachan opened #4612 "Blockbase: Missing spacing on left-aligned cover block"
## Steps to replicate

There is no spacing between the text and the cover block when the cover block is left-aligned:

![image](https://user-images.githubusercontent.com/1645628/133451677-d8250b82-5033-496d-8196-37bd415f29cb.png)

Example block markup:

[code]

[2021-09-15 14:33] mikachan opened #4613 "Blockbase: Gallery/Cover block alignment spacing issues"
## Steps to replicate

### The gallery caption has no spacing/margin below it:

![image](https://user-images.githubusercontent.com/1645628/133452603-2b2aa8ae-ab10-44a0-a9ff-ba950e79b17a.png)

Example block markup:

[code]
### The aligned gallery has no spacing to the side:

![Screenshot 2021-09-15 at 15 36 56](https://user-images.githubusercontent.com/1645628/133454212-f1d66411-87a0-41d0-9817-966b

[2021-09-15 15:21] mikachan opened #4614 "Skatepark/Quadrat: Comments are not displaying on page with comments"
## Steps to replicate

The comments are not displayed on a page that has comments. I can see this happening on both Skatepark and Quadrat but I haven't checked any other child themes, so it's probably worth checking the others as well. It works fine on Blockbase.

![image](https://user-images.githubusercontent.com/1645628/133461813-309f3d0c-bdab-4d50-9acf-73bee3d24439.png)

[2021-09-15 15:37] mikachan opened #4616 "Blockbase: Unexpected formatting colours"
## Steps to replicate

The code block has an unexpected grey border in the editor and no border on the front end:

| Editor      | Front end |
| ----------- | ----------- |
| ![image](https://user-images.githubusercontent.com/1645628/133463986-9e4ea0ac-e64e-49c0-8252-68f566dd8954.png)  | ![image](https://user-images.githubusercontent.com/1645628/133464042-51663086-d8e6-43bd-a36d-2e7fdb5fc377.png)

[2021-09-15 15:57] mikachan opened #4617 "Blockbase: Group block padding"
## Steps to replicate

The Group block seems to be missing padding when it has a background colour:

![image](https://user-images.githubusercontent.com/1645628/133467085-1cdcc890-c05d-4d07-aab3-41bdbf4f9de5.png)

Example markup:

[code]

[2021-09-15 16:24] mikachan opened #4618 "Blockbase: Missing overflow styles on pre tag (classic editor)"
## Steps to replicate

A long line of text in a `<pre>` tag flows off the edge of the screen:

![image](https://user-images.githubusercontent.com/1645628/133471750-077ea076-3d89-4b3f-8850-fbc322a6130f.png)

Example markup (classic editor):

[code]

[2021-09-15 16:28] mikachan opened #4619 "Blockbase: Missing centered image alignment (classic editor)"
## Steps to replicate

This image appears on the left instead of correctly being centered:

![image](https://user-images.githubusercontent.com/1645628/133472371-4c66fd64-cddb-4f43-8967-3bbddc57448f.png)

Example markup (classic editor):

[code]

[2021-09-15 16:36] mikachan opened #4620 "Blockbase: Left/right aligned image is not aligned correctly (classic editor)"
## Steps to replicate

A left or right aligned image with a caption sits outside of the main content:

![image](https://user-images.githubusercontent.com/1645628/133473313-90cf673a-0d01-4194-bd64-eba40f4b0366.png)

![image](https://user-images.githubusercontent.com/1645628/133473892-53672321-bf98-419b-b530-4bfa9f38cdf2.png)

Example markup for left alignment (classic editor):

[code]

Example mark

[2021-09-15 16:42] mikachan commented on #4609
Just tested this again and I don't think there's actually a problem with the font size, so closing this issue for now.

[2021-09-15 16:42] #4609 closed, assigned to nobody

[2021-09-15 23:51] dcoleonline opened #4622 "Twenty Twenty One: Block Pattern "Alternating images with titles" doesn't apply custom link colors from the editor"
## Steps to replicate

1. Apply the Twenty Twenty One theme to a simple site on WordPress.com
2. Create a blank page
3. Add the `Alternating images with titles` block pattern to the page
4. In one of the Header blocks that comes with the pattern, add a link to some text.
5. In that Header block's settings, set a custom link color
6. In the editor, you'll see the link color applied
7. Publish the p

[2021-09-16 07:01] kuropixel commented on #4513
4301571-zd
This bug seems to have come back.
Able to reproduce on user's site as well as https://mordendemo.wordpress.com
The social icons disappear on hover.

[2021-09-16 14:21] devNigel opened #4639 "Cover Block has a dark overlay despite selecting white overlay color in the block settings"
### Quick summary

The overlay color of the Cover Block is acting odd with the theme Coutoire. If you select any other Secondary color other than the default one set by the theme, the Cover block has a dark overlay.

This dark overlay stays despite applying a white `#ffffff` overlay in the Block settings.

I tried reproducing with other themes, but could not identify any pattern to it.

### Steps

[2021-09-16 16:44] beafialho opened #4625 "Quadrat: Text unreadable in Code Block while editing"
Though it shows up correctly on the front end, in the editor the text is currently looking too dark. It should be pink to pass contrast.

<img width="839" alt="Captura de ecrã 2021-09-16, às 15 27 17" src="https://user-images.githubusercontent.com/65220155/133649611-860f7734-ce45-448a-84a5-db054ad78203.png">

[2021-09-16 16:47] beafialho opened #4626 "Quadrat: Change Timeline Block default background color"
In the Timeline Block, the current default background color is grey, which makes text unreadable. I suggest we replace that default background color with the theme's tertiary (darker shade of blue).

<img width="872" alt="Captura de ecrã 2021-09-16, às 15 41 33" src="https://user-images.githubusercontent.com/65220155/133652448-74d64b4a-e3b3-4730-bef5-2e4d2b420a89.png">

[2021-09-16 21:01] #3999 closed, assigned to nobody

[2021-09-16 21:02] #4415 closed, assigned to nobody

[2021-09-16 22:39] glendaviesnz opened #4628 "Pique theme is not adding the default color palette css to the editor"
## Steps to replicate

- Add an image block with the Pique theme activated.
- Try to set the font colour of the image caption using the theme palette - notice that the colour is not shown in the editor, but does show in the front end.

![theme-issue](https://user-images.githubusercontent.com/3629020/133694557-1b73464c-9b40-48e2-969a-7ecdab587b09.png)

## Result

Colours applied from theme default

[2021-09-17 00:56] danieldudzic commented on #4616
I can't replicate this one

<img width="1707" alt="can_t_replicate" src="https://user-images.githubusercontent.com/905781/133706936-1762647d-f1fc-4893-9338-8fdfbe5865b7.png">
:

[2021-09-17 05:59] retnonindya commented on #2609
Another report:
4304371-zd-woothemes

[2021-09-17 09:21] sophiegyo commented on #4513
It looks like the original theme CSS is back in https://github.com/Automattic/themes/blob/trunk/morden/style.css

[2021-09-17 10:56] scruffian commented on #4513
@sophiegyo I see what the problem is here - you made the fix in the theme's CSS file, which is built from a SASS file. You need to make the change to the SASS file and rebuild. Let me know if you need help with that.

[2021-09-17 10:58] danieldudzic commented on #4613
I have created a PR that resolves the first issue, but the second one is tricky. This bug occurs in pretty much all our themes - I'm wondering whether it's caused by a Gutenberg update.

Also, these inline styles seem to be overriding any margin styles I try to implement 🤷 :
[code]

[2021-09-17 13:07] daria2303 opened #4638 "Cubic theme: product page displays black block in place of featured image"
### Quick summary

When Cubic theme is active product page displays black block on the top, on the place of the featured image. It should rather display Product image or be hidden. It is also not possible to hide it in Customizer.

### Steps to reproduce

1. Install Cubic theme on Atomic site with Woo
2. Create product if doesn't have
3. Visit Product page

### What you expected to happen

Header,

[2021-09-17 13:18] danieldudzic commented on #4612
I believe this is the same issue, as: https://github.com/Automattic/themes/issues/4613

[2021-09-17 13:28] DavidSaladu commented on #4580
I've put the ticket on hold for now, in this case, should this be corrected at the theme level? (the customer is under personal plan so we can't patch it with CSS)

[2021-09-17 15:38] danieldudzic commented on #4592
<img width="890" alt="spacer" src="https://user-images.githubusercontent.com/905781/133814867-68158863-d3d9-44f6-bbfe-43d01442f974.png">

There's a spacer in the `single.html` template which accounts for the majority of this space. I'm wondering if there's a way to target an empty title via CSS - I can't think of one. Can't use a PHP check in the template either.

The only thing that comes to my m

[2021-09-17 20:25] #4584 closed, assigned to nobody

[2021-09-17 23:39] danieldudzic commented on #4598
@kjellr Since Quadrat is already styling this via CSS, do you think we can keep this approach?

[2021-09-18 04:07] Robertght commented on #4580
I remember from @sixhours there's a core issue regarding widget updating, but I'm not sure if it's related to this.

[2021-09-18 05:30] Robertght opened #4636 "Anemone: base font missing on the list items"
## Steps to replicate

Create a list and check the font family.

## Result

On my end it was Droid.

## Expected

To have the same base font

* User report: #4306862-zen

Workaround:

[code]

I used the above code to target the majority of the elements.

[2021-09-18 15:04] Robertght commented on #4470
I'm not able to replicate this, but I found a similar case where this code was used:

[code]

Similar to the one above, using the 0 value will ultimately make the YouTube blocks not render anymore.

@Greatdane I can see the youtube embeds on your case working correctly. Is this specific to some videos or browsers?

My tests were done in Chrome 93.

For now, if we encounter this issue again, I woul

[2021-09-18 15:36] kspilarski commented on #1765
I had a user with the same issue, and I was also able to replicate the issue on my test site.

[2021-09-19 05:42] kuropixel commented on #2892
Had a user come in with this issue for MailChimp, but for Promenade theme. CSS was given to fix the issue. 31750623-hc

[2021-09-19 07:16] edwinho89 opened #4637 "Paxton: Menu on Mobile does not Work with AMP: Standard and Transitional Mode"
## Steps to replicate

1.  Under AMP Settings on https://yourdomain.com/wp-admin/admin.php?page=amp-options , switch AMP to either Standard or Transitional Mode.
2.  Visit site on mobile, toggle menu.
3.  Go back to AMP Settings, switch to "Reader Mode"
4.  Repeat step 2.

## Result

Menu button on mobile does not work if AMP is either Standard or Transitional Mode.

## Expected

Menu button works

[2021-09-20 08:51] #4522 closed, assigned to mikachan

[2021-09-20 12:49] scruffian opened #4640 "videomaker: theme.json: Color palette"

[2021-09-20 12:49] scruffian opened #4641 "videomaker: theme.json: Margin/spacing settings + content layout"

[2021-09-20 12:49] scruffian opened #4642 "videomaker: Templates: Page templates - 404"
@beafialho does this look OK for a 404 page?
<img width="1440" alt="Screenshot 2021-09-20 at 16 51 09" src="https://user-images.githubusercontent.com/275961/134033153-25ce7fd1-51a8-4026-ba87-ca34632a5361.png">

[2021-09-20 12:49] scruffian opened #4643 "videomaker: Create a demo site on dotcom"

[2021-09-20 12:49] scruffian opened #4644 "videomaker: Create base theme from boilerplate"

[2021-09-20 12:49] scruffian opened #4645 "videomaker: theme.json: Typography settings"
We should use Inter as a font for the theme.

[2021-09-20 12:49] scruffian opened #4646 "videomaker: Comment form styles (dotcom and dotorg) (if needed)"
@beafialho how is this for the comment form
![localhost_4759__p=1](https://user-images.githubusercontent.com/275961/134036091-1ba565ab-0042-43d0-a03a-686295c9ff67.png)
?

[2021-09-20 12:49] scruffian opened #4647 "videomaker: Templates: Page templates - Index"
<img width="615" alt="Screenshot 2021-09-21 at 10 55 30" src="https://user-images.githubusercontent.com/275961/134150892-72d7f0bf-d391-4ea8-88d8-5033953bd1f8.png">

[2021-09-20 12:49] scruffian opened #4648 "videomaker: Pre-launch: screenshot.png"

[2021-09-20 12:49] scruffian opened #4649 "videomaker: Templates: Page templates - Search"
@beafialho how's this for the search template?
<img width="858" alt="Screenshot 2021-09-20 at 17 05 52" src="https://user-images.githubusercontent.com/275961/134035594-1d308f3c-0ed4-4bdc-a567-d9b4c9f52f3f.png">

[2021-09-20 12:49] scruffian opened #4650 "videomaker: Templates: Page templates - Archive"
WIll be fixed by https://github.com/Automattic/themes/pull/4878

[2021-09-20 12:49] scruffian opened #4651 "videomaker: Templates: Header template part (including mobile)"
The videomaker nav should look like this:
<img width="265" alt="Screenshot 2021-10-14 at 19 16 30" src="https://user-images.githubusercontent.com/275961/137373470-52b05c04-472b-4b5d-857c-ee67b4ed71b1.png">
<img width="385" alt="Screenshot 2021-10-19 at 15 24 10" src="https://user-images.githubusercontent.com/275961/137930284-4e37cb84-1927-4acb-a81e-18f4061fd454.png">

Also the navigation in the he

[2021-09-20 12:49] scruffian opened #4652 "videomaker: Core block settings (if needed)"
Button styles need some tweaks:
<img width="786" alt="Screenshot 2021-09-20 at 14 58 06" src="https://user-images.githubusercontent.com/275961/134015042-89caba2b-96e4-479f-bab4-f1f193625af3.png">

[2021-09-20 12:49] scruffian opened #4653 "videomaker: Pre-launch: readme.txt"

[2021-09-20 12:49] scruffian opened #4654 "videomaker: theme.json: Alternative color palettes"

[2021-09-20 12:49] scruffian opened #4655 "videomaker: Pre-launch: style.css tags"
I guess this should just be the same as the other Blockbase themes.

[2021-09-20 12:49] scruffian opened #4656 "videomaker: Navigation (if needed)"
The Videomaker navigation looks like this:
<img width="280" alt="Screenshot 2021-09-22 at 14 29 04" src="https://user-images.githubusercontent.com/275961/134352737-0866d059-fb99-445e-948d-da873f1a3177.png">

<img width="441" alt="Screenshot 2021-09-22 at 14 29 18" src="https://user-images.githubusercontent.com/275961/134352733-a1d5f2ab-81c1-408e-a672-854ea9812f11.png">

We need to wait for https:/

[2021-09-20 12:49] scruffian opened #4657 "videomaker: Block styles (if needed)"

[2021-09-20 12:49] scruffian opened #4658 "videomaker: Third party block settings (Jetpack, Woo, etc.) (if needed)"
@beafialho do we need any changes made the video blocks as part of this theme?

[2021-09-20 12:49] scruffian opened #4659 "videomaker: Block patterns (if needed)"
See PdmazJ-2-p2

[2021-09-20 12:49] scruffian opened #4660 "videomaker: Templates: Footer template part (including mobile)"

[2021-09-20 17:09] danieldudzic commented on #4587
I'm unable to replicate

![4NgCY692IR](https://user-images.githubusercontent.com/905781/134044308-4a6bf2fa-c7be-48fa-b7ea-1b70761edb2a.gif)

[2021-09-20 18:34] pbking commented on #4610
I'm not sure that the desired behavior CAN exist outside of the button container, at least not with the new alignment functionality from Gutenberg.  This is the same behavior as any block-based theme I have tested with (not just Blockbase-based).

The below code achieves the desired layout.

[code]

I DO SEE that Varia (and likely most other themes that aren't using the block-based alignment strat

[2021-09-20 18:57] RavanH opened #4666 "Blockbase: needs ponyfill for blockGap and Spacer Block"
## Steps to replicate

Add two paragraph blocks and set their background color to make the gap between them apparent. It should be 24px as set by the default Gutenberg blockGap, which translates to inline style rules for all inherited theme template parts like

[code]

Now add a default (100px) spacer block between the two.

## Result

The two paragraphs will now be separated by 148 pixels.

## Ex

[2021-09-20 18:58] pbking commented on #4587
I'm unable to reproduce this one:
![image](https://user-images.githubusercontent.com/146530/134058932-810827f1-8086-4b5c-bcc9-92d6a1e1473b.png)

though my admin bar looks different so maybe I'm not testing the same thing...:
![image](https://user-images.githubusercontent.com/146530/134058981-33b2f8ad-b6b1-4f44-912d-48469ed358e5.png)

[2021-09-20 19:05] RavanH commented on #4666
In fact, I would argue for adding one extra rule, which takes care of another (related) inconsistency in expected block gaps: the first block top margin (which is not addressed by the `> * + *` rule) will many times depend on either the custom vertical margin (different value) or an unexpected browser default. This needs a small reset as proposed on https://github.com/WordPress/gutenberg/pull/3381

[2021-09-20 19:09] pbking commented on #4589
I believe this has been addressed in #4665

[2021-09-20 19:13] pbking commented on #4593
This is not reproducing for me (either on wpcom or locally).
I've seen this in the past; I think it was related to the `:-)` for tracking.  I see that in the screenshot above though there was a recent change to hide that by default (without theme-specific styling).  I suspect it's related.

[2021-09-20 20:33] danieldudzic commented on #4587
Wasn't able to replicate locally, but you can replicate on WP.com.

Same thing happens in Blockbase - will push a PR now.

[2021-09-20 20:43] marianearchimbaud commented on #3754
Another report here: 31545210-hc
Theme Baskerville 2

I was able to reproduce this issue on Chrome: https://d.pr/v/C57Dh1

[2021-09-21 00:04] cuemarie opened #4678 "Theme: Edin leaves blank space above menu when " Display Site Title and Tagline" is off"
### Quick summary

In the Edin theme, using the classic menu style and hiding Site Title and Tagline results in an empty blank space above the menu and under the header image, only visible on the front end.  Customizer preview doesn't show the same result:

### Steps to reproduce

1. Install theme Edin
2. In Customize: Add a header image, at least 1 primary navigation menu item, and set homepage t

[2021-09-21 00:32] Greatdane commented on #4470
@Robertght for 30549035-hc, the page seems to be working for me, and I can see the 3 Youtube blocks (so the code looks to have worked again).

Also using Chrome 93.

Maybe the best solution, for the time being, is to ask the user to turn off 'Resize for smaller devices' in the block settings

[2021-09-21 01:05] danieldudzic commented on #4587
Please review D67129-code

[2021-09-21 02:27] danieldudzic commented on #4591
I don't want to add a CSS fix, as this calls for a `theme.json` setting. Hoever, I can't find one. I'm not even sure how to target the Social Icons menu. It's not the `Social Links` block, right?

[2021-09-21 03:03] retnonindya commented on #4567
Nothing to add other than a user contacted us and informed us about this:
22419689-hc

And I can replicate it too on my test site 👍

[2021-09-21 07:06] zdenys opened #4671 "Bantry: Some Coming Soon Block Patterns Have Missing Images"
## Steps to replicate

1. Activate the theme
2. Go into any Post or Page
3. Click the + at the top left
4. Click Patterns
5. Choose Coming soon in the drop-down list
6. Click either `Coming Soon: Solid Color` or `Coming Soon: App`

https://user-images.githubusercontent.com/39308239/134126496-f9a4ae1b-d375-4d78-a8f3-f7a3c195ac31.mov

## Result

The block pattern has missing images:

- https://s0.wp

[2021-09-21 08:37] syds87 opened #4679 "Blask theme - Cookies consent banner widget not displayed on Portfolio template"
### Quick summary

If we add a Cookies & Consents Banner widget to a website using the Blask theme, it will be displayed on all pages, except for the ones using a Portfolio template.

### Steps to reproduce

1. Install the Blask theme
2. Add a Cookies & Consents Banner to the footer area of your website (I have tested both Footer areas 1 & 2)
3. Check the website now: you should see the banner on

[2021-09-21 11:17] scruffian commented on #4587
Deployed in r232057-wpcom

[2021-09-21 11:17] #4587 closed, assigned to nobody

[2021-09-21 11:31] kjellr commented on #4593
I can see this on the theme demo: https://quadratdemo.wordpress.com

[2021-09-21 12:21] scruffian commented on #4610
In that case we should open and issue there and close this :)

[2021-09-21 12:33] scruffian commented on #4589
Is that the right PR? I still see the same issue in #4665

[2021-09-21 12:36] danieldudzic commented on #4611
@kjellr Would mind providing some guidance on this. Do you think we need to support more than 1 level of depth for submenus?

[2021-09-21 12:55] jeffikus commented on #4580
@danieldudzic @mikachan can either of you confirm this is theme related please?

[2021-09-21 13:03] mikachan commented on #4616
Hey @kjellr. For the second issue mentioned here about striped table colors, it looks like Gutenberg doesn't support custom colors for this style of table yet, only the default style. There's an ongoing issue for table block enhancements: https://github.com/WordPress/gutenberg/issues/31261

Can you think of a bandaid solution that would make sense here, or should we wait for the final fix?

[2021-09-21 13:05] RavanH commented on #4666
Never mind, this seems fixed with the latest Gutenberg release :)

[2021-09-21 13:05] #4666 closed, assigned to nobody

[2021-09-21 14:19] pbking commented on #4654
Completed in #4661

[2021-09-21 14:20] pbking commented on #4640
👍 in #4661

[2021-09-21 14:22] pbking commented on #4645
Figma seems to outline SF Pro Text as the typeface for the theme.  That change doesn't appear to cover that.

[2021-09-21 14:28] pbking commented on #4652
Focus style doesn't match:
![image](https://user-images.githubusercontent.com/146530/134189192-7c398630-db05-47f1-81b7-cee81fb98a55.png)

I think all the buttons need is a 700 font weight to match.

[2021-09-21 14:59] mikachan commented on #4580
I've just taken a look at this and I can see what you're seeing, @mikeicode, where the `wp-block-button__link` class is being applied and overriding the correct/current button color. I've tried a few different themes and I can see the same issue in each one, where the theme colors aren't applied to the Follow button.

I would guess this means it's not theme related, although I'm struggling to find

[2021-09-21 15:08] pbking commented on #4619
🤔
I don't think we have much tested or considered non-block markup like this.  Definitely valid, but it's mixing block layout techniques with non-block content.  (The above being an image tag rather an image block whos markup would instead look like this:

[code]

As far as I know we have pretty good coverage of BLOCKS on [themedemo](crugM-p2), however there isn't a good representation of content

[2021-09-21 15:24] mikachan commented on #4619
Yes exactly... I wasn't sure how common/normal or important this was. This issue was raised as part of the recent call for testing on Skatepark and Quadrat, and was spotted by running through the content from the [Theme Unit Test](https://codex.wordpress.org/Theme_Unit_Test).

There's a couple of other issues from the same round of testing that are marked with 'classic editor' in the title. We cou

[2021-09-21 16:01] scruffian commented on #4652
@kjellr @beafialho should we try to modify the user-agent default for focus styles?

[2021-09-21 18:41] kjellr commented on #4606
In addition, the category icon shouldn't be there. Instead, we should have a little dot divider when there are categories. Here's an example from the comps:

<img width="324" alt="Screen Shot 2021-09-21 at 2 39 55 PM" src="https://user-images.githubusercontent.com/1202812/134228797-bd5bf5d3-eead-4844-a293-8aaa59ae880c.png">

EDIT: Tracked here: https://github.com/Automattic/themes/issues/4605

[2021-09-21 21:18] beafialho commented on #4606
@kjellr also mentioned that here: #4605

[2021-09-21 21:37] metabreakr commented on #4242
I believe that I am experiencing a similar issue in 31213407-hc with the post carousel block:

Editor:
<img width="922" alt="Screenshot on 2021-09-21 at 15-35-35" src="https://user-images.githubusercontent.com/39252765/134251047-a04a509a-0216-4c5c-bbd6-a70137e8651e.png">

Rendered:

<img width="1575" alt="Markup 2021-09-21 at 15 34 58" src="https://user-images.githubusercontent.com/39252765/134251

[2021-09-21 23:06] alaczek commented on #4671
I was able to replicate this in Baker as well.
This one is interesting, as patterns are removed from the generated themes, and the [pattern on our source site](https://dotcompatterns.wordpress.com/2021/05/20/coming-soon-8/) uses a different image source.

[2021-09-22 05:51] Greatdane commented on #4678
Confirmed on Simple, Atomic, Self-hosted

The following HTML is what is causing the blank space.

[code]

[2021-09-22 05:55] inaikem commented on #4678
I was able to replicate this, too.

On sites with no logo set and with "_Display Site Title and Tagline_" under "_Site Identity_" unchecked in the Customiser, `.site-logo-link` and `.site-title` are still respecting a min-height set in CSS:

[code]

[2021-09-22 06:11] Greatdane commented on #4679
Reproduced. Any portfolio/project page will not display the widget, as well as any default page you use 'Portfolio template' on.

[2021-09-22 10:19] #4586 closed, assigned to nobody

[2021-09-22 10:20] #4644 closed, assigned to nobody

[2021-09-22 10:20] #4260 closed, assigned to nobody

[2021-09-22 10:26] #4588 closed, assigned to nobody

[2021-09-22 10:26] scruffian commented on #4589
This wasn't fixed by #4665

[2021-09-22 10:27] #4617 closed, assigned to nobody

[2021-09-22 10:52] #4654 closed, assigned to nobody

[2021-09-22 10:52] #4640 closed, assigned to nobody

[2021-09-22 10:53] #4583 closed, assigned to nobody

[2021-09-22 11:06] kjellr commented on #4652
For the button styles, or in general? In general, we want to match the same focus styles as Quadrat here.

[2021-09-22 11:08] kjellr commented on #4611
We should, but this seems like a Gutenberg problem (after all, the menu here is just the standard Navigation block), and I'm not sure it makes sense to build in too many theme-specific overrides in Blockbase. We should fix directly in Gutenberg.

[2021-09-22 11:09] kjellr commented on #4606
Ah thanks, I missed that one.

[2021-09-22 11:19] kjellr commented on #4616
This is low priority, so I'm happy to wait for new functionality in Gutenberg.

[2021-09-22 13:20] scruffian opened #4681 "Blockbase: Menu editing preview broken"
## Steps to replicate
When you edit menus in Blockbase or any child theme, the preview in the customizer doesn't show the changes, although they do appear in the frontend.

## Expected
The customizer preview should match the menus you select.

[2021-09-22 14:10] kjellr opened #4682 "Blockbase Children: Editing menus in the customizer breaks site colors"
## Steps to replicate

1. Start a fresh site.
2. Install Blockbase + either Skatepark or Quadrat from `trunk`.
3. Activate Skatepark or Quadrat.
4. In the customizer, add a new menu, with new items.
5. Publish the changes.

If that doesn't do it, try adding a social nav as well.

## Result

The site's colors disappear, and the following errors are shown:

[code]

## Video

https://user-images.gith

[2021-09-22 14:18] kjellr commented on #4590
Following [my comments in the PR](https://github.com/Automattic/themes/pull/4635#issuecomment-924932762), I'm going to reopen this until we can confirm that it's fixed.

[2021-09-22 17:03] kjellr commented on #4604
I can't reproduce this. Is it still an issue?

[2021-09-22 17:27] danieldudzic commented on #4606
@kjellr Does this apply to other meta as well? I'm assuming we want dots to replace all the Blockbase icons?

<img width="1260" alt="tags" src="https://user-images.githubusercontent.com/905781/134392057-153421f5-55c8-4dfb-beae-7a78c90df329.png">

Sidenote: the font-size doesn't look correct :)

[2021-09-22 17:51] danieldudzic commented on #4606
All of the extra meta need additional styling. They probably have slipped through the cracks as they are not present in the default template, but can be added via FSE.
<img width="899" alt="Button_–_themes" src="https://user-images.githubusercontent.com/905781/134395567-252b353a-4ae8-420b-bb82-8453238130a2.png">

[2021-09-22 18:01] kjellr commented on #4606
Quadrat's templates are not designed to display the tags or author blocks at all, so those should not appear by default.

If users add those blocks manually, we should make sure they display correctly though.

[2021-09-22 18:20] kjellr opened #4686 "Geologist: Site Logo option is missing from the customizer."
Geologist is missing the ability to customize the site logo. This should be there, identical to how it works for Quadrat.

<img width="926" alt="Screen Shot 2021-09-22 at 2 19 15 PM" src="https://user-images.githubusercontent.com/1202812/134399798-c940c271-5837-4b9a-8f42-7405fc89863b.png">

Quadrat, for comparison:

<img width="683" alt="Screen Shot 2021-09-22 at 2 21 21 PM" src="https://user-imag

[2021-09-22 18:37] kjellr opened #4687 "Geologist: Use identical spacing above and to the left/right of the header."
**The padding on the top, left, and right of the header should always be identical.**
Right now there's more space on the top than there is on the sides. This has come up for multiple themes — I think this might be an issue with Blockbase.

On desktop, please use the larger measurement here (`min(30px, 5vw)`). On small screens you can use the smaller measurement (`min(20px, 5vw)`). The left/right

[2021-09-22 18:46] kjellr opened #4688 "Geologist: Tidy up mobile spacing between site header and site description"
The vertical spacing between the site header and the site description should be decreased to match Quadrat:

Geologist|Quadrat
---|---
<img width="319" alt="Screen Shot 2021-09-22 at 2 44 11 PM" src="https://user-images.githubusercontent.com/1202812/134403397-81743b02-c586-4f8b-94e7-50f4cb5ec9b7.png">|<img width="413" alt="Screen Shot 2021-09-22 at 2 45 05 PM" src="https://user-images.githubuserco

[2021-09-22 20:16] jeffikus opened #4689 "Skatepark: Extra Large Font Size smaller than expected."
## Steps to replicate

I was testing my changes in #4683 and I noticed that Skatepark extra large font size seems wrong. You can see this here https://theamdemo.wordpress.com/2019/06/24/gutenberg-paragraph/ (Skatepark is currently active).

## Result

<img width="958" alt="Screenshot 2021-09-22 at 22 08 13" src="https://user-images.githubusercontent.com/937325/134414664-b24aa94a-1043-4ebe-ae01-ba4

[2021-09-22 22:10] macmanx2 opened #4690 "Ryu: Two title Tags"
## Steps to replicate

View source on any site using Ryu, even the demo site: https://wp-themes.com/ryu/

## Result

There are two sets of `<title>[blah]</title>` tags.

## Expected

Only one set of `<title>[blah]</title>` tags.

## Quoting from user report

When I activate Ryu, I see two `<title>` tags in the source of my website.

I believe this is because Ryu declares `title-tag` theme support

[2021-09-23 08:34] beafialho commented on #4604
Yeah, I've tried in other devices and still seeing this.

[2021-09-23 08:38] beafialho commented on #4606
That's right.

Dots should replace the icons and separate all the extra meta eventually added by a user. Every meta should be in the same font size as the date and categories.

[2021-09-23 09:55] kriskorn opened #4694 "Floral: Global Styles overwriting Paragraph block font sizes"
## Steps to replicate

1. Activate Floral theme on your site
2. Add a Paragraph block and write into the _Custom_ box 18 and the _Font size_ will change to **Large**.
3. The font size in the editor will look correct.
4. On the front-end it will be double the size - 36px.

## Result

**Editor**
![floral-paragraph-text-size-editor](https://user-images.githubusercontent.com/12064241/134487454-2bc6980

[2021-09-23 11:27] kjellr commented on #4604
Are you seeing this in the editor or in the front end?

[2021-09-23 11:41] arunsathiya commented on #3392
I see a similar issue when `Load more posts as the reader scrolls down` is chosen as well. In this case, scrolling down does not show more products. 4319877-zen.

[2021-09-23 12:41] scruffian commented on #4652
Focus styles were added in https://github.com/Automattic/themes/pull/4684

[2021-09-23 14:26] pbking commented on #4593
Do you have the demo sandboxed and your sandbox fully up-to-date?
I'm fairly certain the `:-)` issue caused it and has been addressed in wordpress (not the theme).  I checked again and both not sandboxing and sandboxing fully up-to-date the issue isn't happening for me on the demo site:

![image](https://user-images.githubusercontent.com/146530/134525432-79fa0ff4-852a-4e9e-85bf-694d67dfb186.png)

[2021-09-23 16:58] kjellr commented on #4593
I'm not sandboxed — I see it there on the currently live, non-sandboxed demo. I see it in Chrome, Firefox, and Safari.
![error](https://user-images.githubusercontent.com/1202812/134551177-ecd5dd9b-5785-4e35-9367-fd03c7b620ea.gif)

[2021-09-23 22:44] alaczek commented on #4671
I found the issue - the patterns are defined in the wpcom.php file. This means all the generated themes to date would be affected. I'm going to take care of updating the lot.
In the future, the theme gen script will need to be updated to remove those.

[2021-09-23 23:00] tanjoymor commented on #739
Ran into another case of this during a Quick Start session, follow up ticket #4321989-zen. But it happened in a Chrome based browser. However, after going to another page within the site it started working for me on all pages and was then working in other browsers. For the customer it didn't start working until after the third page they went to, and then it worked on all pages. Haven't had the opp

[2021-09-24 07:27] fstath opened #4700 "Nucleare: Color in selected text is not displayed in Block editor"
## Steps to replicate

Highlight a word and apply text color from the "More Options" menu

## Result

The highlighted text doesn't change color. The text color is only shown in the preview or the published post/page.

![Screenshot 2021-09-24 at 10 19 48](https://user-images.githubusercontent.com/32326882/134635178-13a795d5-b00f-4a09-b7be-a94c575036bd.png)

## Expected

Expected to see the color ch

[2021-09-24 11:28] dougaitken opened #4702 "[Cubic] Add WooCommerce Support / Search results squashed"
Logging so that this is known rather than for a fix.

When using the Cubic theme with WooCommerce active, the WooCommerce core product search results page doesn't work.

Cubic doesn't declare WooCommerce support and the theme doesn't have the `store` tag on the theme features, and the [WooCommerce Status Report](https://docs.woocommerce.com/document/understanding-the-woocommerce-system-status-repo

[2021-09-24 13:26] #4618 closed, assigned to nobody

[2021-09-24 13:27] #4598 closed, assigned to nobody

[2021-09-24 13:28] #4619 closed, assigned to nobody

[2021-09-24 13:28] #4528 closed, assigned to mikachan

[2021-09-24 13:37] #4606 closed, assigned to nobody

[2021-09-24 13:42] mikachan commented on #4605
This was fixed with https://github.com/Automattic/themes/pull/4695 so I'm going to close this issue.

[2021-09-24 13:42] #4605 closed, assigned to nobody

[2021-09-24 18:37] thekingsprojects commented on #4130
Another case in 31857134-hc , Dara theme (and several others they've tried previously). Happens in multiple browsers, on different computers. I couldn't replicate personally on the user's site, and other HEs have also gotten around it before, but they're experiencing this error/inability to crop (or skip cropping) regularly.

[2021-09-24 18:42] scruffian opened #4703 "Blockbase + children: Simplify parent/child code now that we have GB support"
Since https://github.com/WordPress/gutenberg/pull/34354 merged we will have support for child themes in Gutenberg (maybe 11.6). We can probably simplify our child themes quite a bit and remove some code which will be inherited from Blockbase. We can also simplify the scripts for creating new themes.

[2021-09-24 19:25] edequalsawesome commented on #3488
Came across the same issue in #4307639-zd -- disabling Lazy Load resolved the problem

[2021-09-24 19:46] pbking opened #4704 "Separate Blockbase "opinion" from "ponyfill""
There are a number of things Blockbase is doing that are opinion rather than polyfill.

This issue covers the idea of extracting and leveraging that opinion in the best way.

See: https://github.com/Automattic/themes/pull/4692#issuecomment-926833152

[2021-09-24 19:55] ghost commented on #4682
I was having a similar problem with a custom child theme - same errors, but couldn’t track it to my menus. (I didn’t have a problem with any of the pre-built child themes)
What I finally found was a trailing comma in my theme.json that was breaking my site.

[2021-09-24 19:56] #4660 closed, assigned to jffng

[2021-09-24 19:57] #4585 closed, assigned to nobody

[2021-09-24 20:13] danieldudzic commented on #4611
This seems to be potentially related: https://github.com/WordPress/gutenberg/pull/35077

[2021-09-24 21:14] danieldudzic commented on #4689
Is it necessary to include a "Huge" size?

[2021-09-25 03:59] danieldudzic commented on #4688
I believe this has been fixed now in https://github.com/Automattic/themes/commit/946394db41364c5aa9cb1fe43802d51deb20b1ca

<img width="498" alt="geologist" src="https://user-images.githubusercontent.com/905781/134757105-d76338d9-1765-4f5a-b534-2fc2a6ed28dd.png">

[2021-09-25 03:59] #4688 closed, assigned to nobody

[2021-09-25 04:35] danieldudzic commented on #4687
The current setting for the `padding-top` is `min(30px, 5vw)`. Making spacing identical above and to the left/right of the header would require changing the left and right padding. Is this the correct way of approaching this?

[2021-09-25 06:14] Robertght commented on #4566
Same with Rebalance 4325012-zen

The theme has this:

[code]

After using opacity: 1, the search results showed up.

[2021-09-25 10:56] davoraltman opened #4706 "[Apostrophe 2] Have the social menu moved to the left on RTL sites"
## Steps to replicate

Activate Apostrophe 2 on any site using RTL.

## Result

On RTL sites, this is how the social menu looks like:

<img width="1090" alt="Screen Shot 2021-09-25 at 12 54 43 PM" src="https://user-images.githubusercontent.com/10340370/134768955-a09e6262-f2a4-44d1-a179-4305dc63cc8f.png">

## Expected

I'd expect it to be on the left.

* User report: 25285796-hc

[2021-09-25 14:06] DavidSaladu opened #4707 "OBSIDIAN THEME Color & background settings affect backend."
## Steps to replicate

Change the color through _Apperance\Customize_ and then _Colors & Backgrounds_ . Select white for text color.
![image](https://user-images.githubusercontent.com/79575219/134774263-76960680-5e45-4831-9ab1-e61ed83612b3.png)

## Result

Check the sidebar on post/page editor. Certain texts are in white, and therefore invisible unless selected.

![image](https://user-images.githu

[2021-09-25 14:07] DavidSaladu commented on #4707
Contact user through ticket _4325970-zd-woothemes_ upon resolution.

[2021-09-25 15:51] MaxPhilip commented on #3669
Another case in #4325977-ZD

[2021-09-26 07:30] aisajib commented on #3669
I was able to replicate this on my test site (Simple site, free plan) after a user reported this in the [forums](https://wordpress.com/forums/topic/separator-lines-are-doubled/).

[2021-09-26 08:00] daria2303 opened #4719 "Twenty Twelve: social icons block gets spacing on live page"
### Quick summary

In Twenty Twelve theme if you use social icons block the icons get wide spacing on live page. In editor and in preview it looks fine.

### Steps to reproduce

1. Install Twenty Twelve
2. Use Social icons bloc, add few icons
3. Publish page
4. Visit the live version

### What you expected to happen

Icons look the same as in the editor and in preview
<img width="335" alt="Screens

[2021-09-26 08:24] inaikem commented on #3669
Internal discussion: p1632641528276700-slack-C01UW7SB411

[2021-09-26 20:53] kathrynwp commented on #2367
Ran into this issue in a Quick Start session today with Barnsbury. User selected a background colour in the Customizer, but it was not reflected either in the Customizer's preview pane, nor in the editor. The colour was visible only on the front end. I have a video recording available if it's useful.

[2021-09-27 04:16] alaczek opened #4710 "Blockbase: Separator block height issue"
I noticed that when I use a custom color on the separator block its height increases significantly.

## Steps to replicate
1. On a site using Blockbase theme (on WordPress.com) add the separator block to a post or a page content.
2. Note the separator height - it's 1px tall (although in the style picker preview it is much thicker).
3. Go to the settings panel and change the color to any custom col

[2021-09-27 06:49] devNigel opened #4728 "Lodestar: Wide width Columns block content in a Full Width Group block is over flowing"
### Quick summary

With the Lodestar theme, when the Columns block in a Full Width Group block is set to Wide Width, the content inside Columns block overflows.

### Steps to reproduce

1. Switch to Lodestar theme.
2. Make sure there are no sidebar widgets on the site.
3. Create a new template with the default template.
4. Add a Group block, set it to Full Width.
5. Add a Columns block with 1 or m

[2021-09-27 07:44] MaggieCabrera commented on #4704
We already have something like this with the button styling. We provide a Blockbase base and an alternative option (the outline version that Quadrat, Skatepark, Geologist, and I believe Videomaker are using). In the case of the button styles, we have an extra sass partial that is added by the theme that needs it on top of the base styles that Blockbase provides but it's not being added by Blockbas

[2021-09-27 08:57] scruffian commented on #4641
I think we can close this with #4697 merged.

[2021-09-27 08:57] #4641 closed, assigned to nobody

[2021-09-27 11:27] mikachan commented on #4610
There's a related issue and discussion for this over on GB here: https://github.com/WordPress/gutenberg/issues/33385

Should we close this in favour of the GB one?

[2021-09-27 11:39] scruffian commented on #4610
I think that makes sense

[2021-09-27 12:08] kjellr commented on #4687
Yes! On small breakpoints though, we should continue to use `min(20px, 5vw)` like we do now, but also apply that to the top.

[2021-09-27 12:35] mikachan commented on #4610
Closing in favour of https://github.com/WordPress/gutenberg/issues/33385

[2021-09-27 12:35] #4610 closed, assigned to nobody

[2021-09-27 12:45] mikachan commented on #4620
Closing in favour of https://github.com/WordPress/gutenberg/issues/33385

[2021-09-27 12:45] #4620 closed, assigned to nobody

[2021-09-27 13:19] mikachan commented on #4612
Closing in favour of https://github.com/Automattic/themes/issues/4613

[2021-09-27 13:19] #4612 closed, assigned to nobody

[2021-09-27 13:45] jeffikus commented on #4710
@danieldudzic looks like @mikachan approved, I've moved it into the Reviewer Approved column.

[2021-09-27 13:53] MaggieCabrera commented on #4611
+1, this should be addressed on the editor

[2021-09-27 14:00] MaggieCabrera commented on #4613
Looks to me like the gallery issue was solved by https://github.com/Automattic/themes/pull/4631 and the gap PR in GB.

The issue with left/right alignment looks like a Gutenberg issue to me too.

[2021-09-27 15:46] scruffian commented on #4681
I spent a long time looking into this. Menus use something called "selective refresh" which is meant to update only that portion of the page when a menu item changes. You can read more about that here: https://make.wordpress.org/core/2015/07/29/fast-previewing-changes-to-menus-in-the-customizer/

I think we should be able to opt out of selective refresh by setting the "transport" property of the n

[2021-09-27 18:32] #4686 closed, assigned to nobody

[2021-09-27 18:37] pbking commented on #4597
This was addressed successfully in #4692

[2021-09-27 18:37] #4597 closed, assigned to nobody

[2021-09-27 21:00] ClassicRKR27 opened #4716 "Blask: Title does not scale properly on desktop"
## Steps to replicate

- Place long title in Site Identity
- Check site and see that the title is wrapped until it is in a mobile screen size

[GIF Screencapture](https://d.pr/i/M0zlQq)

## Result

Name gets cut off/wraps around on all desktop browsers

## Expected

The user says that this did not use to be an issue with the theme, has only appeared sometime within the past month but there have be

[2021-09-27 23:24] alaczek opened #4718 "Blockbase: Transparent background on input elements"
## Steps to replicate
1. Insert a group block and pick a background color.
2. Inside the group block add a contact form block.
3. Save & preview. Note that both in the editor and in preview the form input elements have a transparent background and depending on background color can be barely visible.

## Result
Preview:
![image](https://user-images.githubusercontent.com/4550351/134998230-ee517bf2-b

[2021-09-28 09:40] inaikem commented on #4719
Thanks for submitting the bug report, Daria!

With the Twenty Thirteen theme active, the following CSS is affecting the positioning of each `<li>` in the social icons block.

[code]

Moving to the themes repo now.

[2021-09-28 10:50] danieldudzic commented on #4611
Closing this in favor of the Gutenberg issue: https://github.com/WordPress/gutenberg/pull/35077

[2021-09-28 10:50] #4611 closed, assigned to nobody

[2021-09-28 12:18] mikachan commented on #4613
Closing in favour of https://github.com/WordPress/gutenberg/issues/35186

[2021-09-28 12:18] #4613 closed, assigned to nobody

[2021-09-28 13:00] scruffian commented on #4593
I can't replicate either :(

[2021-09-28 13:27] kjellr opened #4721 "Blockbase: Navigation is left-aligned in Safari, correct in other browsers"
This is what I'm seeing on [the demo site](https://blockbasedemo.wordpress.com).

Safari:
<img width="1379" alt="Screen Shot 2021-09-28 at 9 21 08 AM" src="https://user-images.githubusercontent.com/1202812/135095825-0fb094ad-08dc-42e6-a6d2-9bceaa987a4d.png">

Firefox/Chrome:
<img width="1440" alt="Screen Shot 2021-09-28 at 9 21 02 AM" src="https://user-images.githubusercontent.com/1202812/13509585

[2021-09-28 13:39] beafialho commented on #4642
Sorry I missed this one.

It looks ok. Can the _"Oops! That page can't be found"_ be in a larger size, for instance with the Extra Large Paragraph?

[2021-09-28 13:47] kjellr opened #4722 "Blockbase: Under-header margin is incorrect"
The spacing between a the site header and the page/post title (when there is one title) should be 80px. When you click through from the first post in a blog feed to the post itself, the title should remain in the same place.

Blog/Archive:

Current|Intended
---|---
![Screen Shot 2021-09-28 at 09 44 04](https://user-images.githubusercontent.com/1202812/135099251-4c1c8a11-c666-4118-ac36-0eac9824cbe4

[2021-09-28 13:50] beafialho commented on #4604
I'm seeing this in the front end. It seems to happen in a lot of sites, Blockbase too. I wonder if this has to do with my browser.

<img width="608" alt="Captura de ecrã 2021-09-28, às 14 48 54" src="https://user-images.githubusercontent.com/65220155/135100076-22e50457-7cc9-4ce8-aff0-9a392ef3741a.png">

[2021-09-28 14:26] #4460 closed, assigned to nobody

[2021-09-28 14:26] #4682 closed, assigned to nobody

[2021-09-28 15:48] bobmatyas commented on #4595
Requested here: https://a8c.slack.com/archives/C03TY6J1A/p1632843632033700

[2021-09-28 15:50] bobmatyas commented on #4595
p1632843632033700-slack-C03TY6J1A

[2021-09-28 16:19] beafialho opened #4725 "Blockbase: Remove Author, Date and Comments from pages"
Author Name, Date and the Comments section are appearing in every page right now when they should appear only in the post pages.

<img width="919" alt="Captura de ecrã 2021-09-28, às 17 17 33" src="https://user-images.githubusercontent.com/65220155/135126077-774ad950-fe5e-469c-b1ea-f454254816c6.png">

[2021-09-28 16:49] #4721 closed, assigned to MaggieCabrera

[2021-09-28 16:58] kjellr opened #4727 "Blockbase: Titles have too much bottom margin on single posts/pages"
The space between the post title and the post content should match the space between the post content and the meta footer.

(It looks like this post title/content spacing is correct on the archive pages).

---

Current|(With Guides)
---|---
![Screen-Shot-2021-09-28-at-12 47 32-PM](https://user-images.githubusercontent.com/1202812/135132022-e6b43695-c7e8-4023-b707-616e1e4c1425.png)|![example-01](ht

[2021-09-28 17:04] ChrissiePollock opened #4754 "Color Edits in the Colinear Theme Don't Show in Editor"
### Quick summary

The customer came in saying _when I change the color of certain text, it doesn't show in editing mode, but does appear when I preview the page._

They are using the Colinear theme. I was able to replicate on my test site.

### Steps to reproduce

1. Use a theme that is not Colinear.
2. Add a paragraph in the editor.
3. Highlight a word and change the color of the word.
4. Notice

[2021-09-28 17:17] synora commented on #4729
Triaged. I tested this using the theme based on the report (Plane). I'm able to replicate this but the widget helper buttons don't appear at all for me.

I tried this with another theme, Dara, and they do. When clicked on, their respective block widget "bounces". I'm assuming that's to let you know where that widget area is located.

[2021-09-28 17:17] synora commented on #4729
I tested this using the theme based on the report (Plane). I'm able to replicate this but the widget helper buttons don't appear at all for me.

I tried this with another theme, Dara, and they do. When clicked on, their respective block widget "bounces". I'm assuming that's to let you know where that widget area is located.

[2021-09-28 17:34] silvio-meter opened #4730 "Canard - Blog Posts Block background and height"
## Steps to replicate

1. Activate the Canard theme
2. Create a new page and add a Blog Posts Block (grid view).

## Result

The post excerpt shows the black background and there's a height issue as well.

Screenshot:

![Optional alternative text if image doesn't load](https://groovytestingsite.files.wordpress.com/2021/09/annotation-on-2021-09-28-at-19-28-55.png)
--

##Expected

There shouldn't be

[2021-09-28 18:34] jffng opened #4731 "Update template references to query-loop"
Some templates still reference the "query-loop" block. We should update them to reference its new name "post-template" as well as respective CSS classes:

<img width="348" alt="Screen Shot 2021-09-28 at 2 35 38 PM" src="https://user-images.githubusercontent.com/5375500/135145844-5a0f1e81-47ef-4cba-89af-db3fa5c10133.png">

[2021-09-28 20:30] #4725 closed, assigned to danieldudzic

[2021-09-28 20:43] #4727 closed, assigned to jffng

[2021-09-28 20:46] #4681 closed, assigned to nobody

[2021-09-28 23:54] donalirl commented on #2338
Seen as well in Cubic #11968619-hc

[2021-09-28 23:57] donalirl commented on #2384
Seen as well in #11968619-hc

[2021-09-29 07:34] MaggieCabrera opened #4735 "Quadrat: episode pattern regression"
The episode pattern now shows an extra padding that shouldn't be there:

<img width="1170" alt="Screenshot 2021-09-29 at 09 31 39" src="https://user-images.githubusercontent.com/3593343/135223245-601208ac-886c-4094-8e81-ec2f39d335d8.png">

This is being caused by this rule:

[code]

I don't know if I agree that everything with background color needs a padding. And if some blocks do, shouldn't this

[2021-09-29 08:05] MaggieCabrera opened #4736 "Quadrat: latest episodes pattern margin"
With the introduction of gap between blocks, this pattern is now showing a space between the image and the text block:
<img width="1168" alt="Screenshot 2021-09-29 at 10 04 17" src="https://user-images.githubusercontent.com/3593343/135228330-20a43b39-1093-4333-96fe-056b1248d23d.png">

[2021-09-29 12:23] scruffian commented on #4593
This is caused by the `:-)` on the page which is now hidden.

[2021-09-29 12:23] #4593 closed, assigned to nobody

[2021-09-29 12:51] scruffian commented on #4735
There's a GB issue abut this: https://github.com/WordPress/gutenberg/issues/34588

The code was added in https://github.com/Automattic/themes/pull/4629

I'm not 100% sure I like the approach though, and this issue does show some of the problems with it. I'd be happy to remove those lines altogether but I'd be interested to hear from others...

[2021-09-29 13:04] MaggieCabrera commented on #4735
I'd either remove the lines or add them only to the offending block (in this case group). But I'm more in favor of removing it myself and working something out directly in GB.

[2021-09-29 13:19] kjellr commented on #4722
I'm still seeing a vertical jump in the page title position when I visit a single post vs. the archive page. Then title should be in the same spot in both places. (I believe the spacing on the single post page looks more correct to me)

![jump](https://user-images.githubusercontent.com/1202812/135276050-0e11e8f0-eb19-4a99-aca0-5f2b28f37006.gif)

[2021-09-29 13:47] scruffian commented on #4642
How's this?

<img width="1440" alt="Screenshot 2021-09-29 at 14 47 23" src="https://user-images.githubusercontent.com/275961/135281283-325277f5-cc36-4949-a759-4dcc0b4d9273.png">

[2021-09-29 14:14] bobmatyas commented on #2525
Another case on Cubic:

p1632667229384400-slack-C03TY6J1A

The CSS from this issue fixes it:

https://github.com/Automattic/newspack-blocks/issues/711

[2021-09-29 14:14] beafialho commented on #4604
I have solved this by updating Safari!

[2021-09-29 14:14] #4604 closed, assigned to nobody

[2021-09-29 14:25] beafialho commented on #4642
Looks good to me 👍

[2021-09-29 14:44] zdenys commented on #3484
If I understand correctly, the responsible CSS may be this one:

[code]

When I remove it, the Quote Block appears aligned as expected:

https://user-images.githubusercontent.com/39308239/135291951-1a890f8d-2199-41b6-b5ec-f4d5495c7ea4.mov

[2021-09-29 14:53] jeffikus commented on #4626
This mostly needs to be fixed in the block rather than the theme.

[2021-09-29 14:57] jeffikus commented on #4529
Lets retest this one, and close if necessary.

[2021-09-29 14:58] jeffikus commented on #4527
@pbking can we close this?

[2021-09-29 14:59] jeffikus commented on #4268
This needs retesting.

[2021-09-29 15:00] jeffikus commented on #4081
This needs a retest otherwise close it.

[2021-09-29 15:02] jeffikus commented on #3653
Tested this with @MaggieCabrera - marking as closed.

[2021-09-29 15:02] #3653 closed, assigned to nobody

[2021-09-29 15:36] MaggieCabrera opened #4741 "Skatepark: Gallery captions"
After the latest changes to the Gallery block on Gutenberg the captions for the images are showing the styles for the image with the border. We should apply the default block styles for images inside the gallery.
<img width="1233" alt="Screenshot 2021-09-29 at 17 34 10" src="https://user-images.githubusercontent.com/3593343/135301708-fcc67fe1-7712-4d3e-86f2-726b4565d5d7.png">

[2021-09-29 16:26] danieldudzic commented on #4625
I can't replicate, seems to be working fine for me :)
![87jhtcvrHy](https://user-images.githubusercontent.com/905781/135309866-8883bdb1-4173-4d22-a607-c41e1688430a.gif)

[2021-09-29 21:18] #4735 closed, assigned to nobody

[2021-09-29 21:29] danieldudzic commented on #4625
I was able to replicate on WordPress.com

[2021-09-29 21:34] jordesign commented on #4081
Just re-tested and this is working as expected now (yay). Thanks folks!

[2021-09-29 21:34] #4081 closed, assigned to nobody

[2021-09-29 21:39] scruffian commented on #4617
Noting here that this fix was reverted so the behaviour above will come back. This is expected - users can add padding to these blocks if they want it :)

[2021-09-29 21:49] scruffian commented on #4652
This has now been done.

[2021-09-29 21:49] #4652 closed, assigned to nobody

[2021-09-29 22:59] danieldudzic commented on #4602
I believe the above issues are caused by Jetpack styles.

@scruffian has opened an issue related to this: https://github.com/Automattic/jetpack/issues/15227

The problem with the Contact Form button is that the styles are getting overwritten by:
_wp-content/mu-plugins/grunion-contact-form/css/grunion.css_
[code]

[2021-09-29 23:19] danieldudzic commented on #4529
I've tested this with the latest version but wasn't able to replicate.

[2021-09-30 02:32] arinoch opened #4746 "Balasana: Unlabeled button not properly read by screen readers."
## Steps to replicate

1: Install and activate the Balasana theme.

2: Turn on a screen reader.

3: Use its navigational commands to move about the page, starting from the top.

## Result

A button that is used to visually collapse/expand the menu in this theme is unlabeled, and screen readers are unable to properly identify it.

## Expected

That button should either 1: say what it's intended to

[2021-09-30 06:19] aisajib opened #4786 "Twenty Sixteen: Media attachment page displays the image as a site logo if no logo is set"
### Quick summary

If you visit an image attachment page on Twenty Sixteen, the image itself shows up as the Site Logo at the top left, even when there are no Site Logos set on the site.

### Steps to reproduce

1. Activate Twenty Sixteen on a Simple site.
2. Navigate to the Media (`/wp-admin/upload.php`)
3. Click on an image and then click the View attachment page
4. Wait for the attachment page

[2021-09-30 07:51] MaggieCabrera commented on #4529
Can confirm this has been fixed, we will update the dotorg version of the theme asap

[2021-09-30 07:51] #4529 closed, assigned to nobody

[2021-09-30 07:58] poeticabdul commented on #1761
Experienced same issue with Broadsheet theme

User report: 31177823-hc
Follow-up: 4333260-zd-woothemes

Bug report https://github.com/Automattic/themes/issues/4747

[2021-09-30 08:19] poeticabdul opened #4747 "Broadsheet: duplicate sharing, like buttons"
## Steps to replicate

1. On an atomic site activate Broadsheet
2. Go to Tools > Marketing > Sharing buttons
3. Make sure to tick Show like and sharing buttons on Front Page, Archive Pages, and Search Results

<img width="910" alt="Screenshot at Sep 30 08-15-57" src="https://user-images.githubusercontent.com/4719037/135414440-4292793e-048f-44c8-987f-6995d99505d0.png">

## Result

On category list

[2021-09-30 08:56] beafialho commented on #4646
I think this looks good, the only thing looking weird is the spacing between the tick square and the "Save my name". Maybe make it closer to the square.

[2021-09-30 09:01] beafialho commented on #4649
Can we increase the spacing between the header and the content and make it the same as in post pages? Let's try 170px.

<img width="1166" alt="Captura de ecrã 2021-09-30, às 10 00 50" src="https://user-images.githubusercontent.com/65220155/135421969-819f955e-3fe4-4b42-ab80-a89e6bdac39c.png">

[2021-09-30 11:27] beafialho commented on #4658
I don't think so, I believe the video blocks in this theme will all have the new Videopress player design.

[2021-09-30 11:37] beafialho opened #4748 "Quadrat: Slight offset in tagline and post meta"
I was checking Quadrat on mobile and there's a slight offset in tagline and post meta.

The spacing is also too tight between post meta and the post title.

<img width="362" alt="Captura de ecrã 2021-09-30, às 12 34 59" src="https://user-images.githubusercontent.com/65220155/135448274-71a7a3de-5d43-4c72-90a1-0414123aa297.png">

The misalignment is also happening in larger screens:

<img width="1

[2021-09-30 11:43] beafialho opened #4749 "Blockbase: Latest Posts block fonts and spacing"
In the [Latest Posts](https://testingblockbase.wordpress.com) block, categories look particularly small, especially on mobile, and overall the elements lack some spacing between them.

1. Can we increase the categories size to be the same as the post date?
2. Let's add some spacing between categories, post title and post excerpt, maybe 20px.

![IMG_C8C2682FF9D5-1](https://user-images.githubusercon

[2021-09-30 12:03] beafialho opened #4750 "Quadrat: Showing "Comments are closed" in pages where it isn't supposed to"
Right now, if comments are turned off and there are no comments it displays “comments are closed” anyway. Can we remove it?

<img width="1270" alt="Captura de ecrã 2021-09-30, às 13 02 54" src="https://user-images.githubusercontent.com/65220155/135451574-0cd53b32-5330-4ea7-984d-2811bbe7a753.png">

<img width="870" alt="Captura de ecrã 2021-09-30, às 13 02 35" src="https://user-images.githubuse

[2021-09-30 12:30] scruffian commented on #4658
Thanks, in this case we can close this I think.

[2021-09-30 12:30] #4658 closed, assigned to nobody

[2021-09-30 12:52] mikachan commented on #4750
I think we've previously fixed this in other themes by removing the comments block from the page template altogether, but then I can see we added them back to fix another issue which was requesting comments to show on a page: https://github.com/Automattic/themes/pull/4632

I think the best thing is to fix this in Gutenberg. The only way I can think for hiding them now is to remove comments from al

[2021-09-30 13:00] danieldudzic commented on #4750
I would vote against hacks :) and hiding it using `.nocomments` - this should be fixed in WordPress, imho.

[2021-09-30 13:16] #4736 closed, assigned to jffng

[2021-09-30 13:25] #4731 closed, assigned to nobody

[2021-09-30 13:39] beafialho opened #4751 "Quadrat: Post Date shouldn't be a link"
Can we make the post date not be a link? Only the post Category, Title and Read More should be clickable.

https://user-images.githubusercontent.com/65220155/135452274-2e5d4d10-95ef-4479-bd76-b07205d50d2b.mp4

[2021-09-30 13:56] jffng commented on #4748
Regarding the meta misalignment: it looks like the theme.css (which shouldn't be enqueued but is on wpcom) is overriding the mask.

<img width="358" alt="Screen Shot 2021-09-30 at 9 55 17 AM" src="https://user-images.githubusercontent.com/5375500/135468860-d973c542-f3a0-4ba1-85af-9610fda5fb42.png">

@beafialho do we want the post date icon to appear like this?

<img width="765" alt="Screen Shot 20

[2021-09-30 14:01] beafialho commented on #4748
@jffng the post date shouldn't have an icon.

[2021-09-30 14:02] jffng commented on #4748
I see, then the pseudoelement can just be hidden via CSS cc @danieldudzic.

[2021-09-30 14:14] danieldudzic commented on #4748
Committing now.

[2021-09-30 15:12] #4750 closed, assigned to jffng

[2021-09-30 15:40] scruffian commented on #4748
The gap should be fixed by D67673-code

[2021-09-30 15:40] scruffian commented on #4625
This is fixed by D67673-code

[2021-09-30 15:41] #4625 closed, assigned to danieldudzic

[2021-10-01 07:53] #4748 closed, assigned to danieldudzic

[2021-10-01 07:55] #4751 closed, assigned to jffng

[2021-10-01 08:21] aleone89 commented on #2716
Another report of this here: https://wordpress.com/forums/topic/menu-209/?view=all

I added this CSS for the user as a temp fix:

`
/* Fix Marketing Bar bug GH-2716 AL */

#marketingbar.marketing-bar {
    display: none;
}

.admin-bar.has-marketing-bar {
    margin-top: 0px;
}

.admin-bar.has-marketing-bar .menu-toggle {
    top: 0px;
}

.admin-bar.has-marketing-bar .slide-menu {
    top: 0px;
}
`

[2021-10-01 09:03] scruffian commented on #4722
Closed by #4738.

[2021-10-01 09:03] #4722 closed, assigned to nobody

[2021-10-01 13:20] kjellr opened #4757 "Quadrat: Vertical position of the post meta + title should be consistent"
When navigating from the main blog page to a single post, the vertical position of the first title + post meta should be identical. Currently, it is not. The title on single post pages should align to this same vertical position as well. \

The spacing on the single post page is the correct spacing to use in all three cases.

## Screenshots of the issue currently:

Blog Index:
<img width="1293" al

[2021-10-01 13:26] kjellr opened #4758 "Geologist: Vertical position of the post title should be consistent"
When navigating from the main blog page to a single post, the vertical position of the first title should be identical. This position should also be the same as the position of a page's title. Currently, these appear in three different vertical positions. The spacing on the blog index is the correct spacing.

## Screenshots of the issue currently:

Blog Index:

<img width="1293" alt="Screen Shot 2

[2021-10-01 13:39] kjellr commented on #4527
I'm now seeing this issue on the demo site:

<img width="374" alt="Screen Shot 2021-10-01 at 9 39 25 AM" src="https://user-images.githubusercontent.com/1202812/135629633-5ee246a7-ed99-4db8-a80f-c2f833036ef1.png">

[2021-10-01 14:45] #4642 closed, assigned to nobody

[2021-10-01 20:35] jeffikus opened #4761 "Canard: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-918663564

1. Confirm that the issue exists with Canard as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-918663564
https://github.com/Automattic/themes/pull/4756

[2021-10-01 20:37] jeffikus opened #4762 "Aquene: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-924462853

1. Confirm that the issue exists with Aquene as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-924462853
https://github.com/Automattic/themes/pull/4756

[2021-10-01 20:37] jeffikus opened #4763 "Affinity: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-925353089

1. Confirm that the issue exists with Affinity as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-925353089
https://github.com/Automattic/themes/pull/4756

[2021-10-01 20:38] jeffikus opened #4764 "Gateway: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-927963963

1. Confirm that the issue exists with Gateway as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-927963963
https://github.com/Automattic/themes/pull/4756

[2021-10-01 20:39] jeffikus opened #4765 "Isola: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-930478814

1. Confirm that the issue exists with Isola as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-930478814
https://github.com/Automattic/themes/pull/4756

[2021-10-01 20:39] jeffikus opened #4766 "Lovecraft: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-930541164

1. Confirm that the issue exists with Lovecraft as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-930541164
https://github.com/Automattic/themes/pull/4756

[2021-10-01 20:40] jeffikus opened #4767 "Baskerville 2: Add block CSS to the editor so that colors work as expected"
## Steps to replicate

Details of the issue in https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-930612799

1. Confirm that the issue exists with Baskerville 2 as well.
2. Apply the Rebalance fix and see if that solves the issue.

## Related Issues:

https://github.com/Automattic/wp-calypso/issues/54990#issuecomment-930612799
https://github.com/Automattic/themes/pull/4756

[2021-10-01 21:24] jeffikus commented on #3484
I've added this one to the board for next week. I'll reassess the items listed [here](https://github.com/Automattic/themes/milestone/112) as well. Perhaps we need to do a bug scrub again on these items.

[2021-10-02 03:56] hacchism commented on #4030
Another report: 4341078-zen

[2021-10-02 20:58] RavanH opened #4768 "Blockbase: fatal error previewing theme without Gutenberg"
## Steps to replicate

On an install with default theme and Gutenberg disabled (or not installed); activate the Blockbase live preview.

## Result

A fatal error:
[code]

## Expected

Empty preview or maybe a visual message "Error: This theme (Blockbase) uses Full Site Editing, which requires the Gutenberg plugin to be activated." as is shown when a block theme is immediately activated without Gut

[2021-10-03 05:25] aisajib commented on #1742
Also reported here: https://wordpress.com/forums/topic/blank-space-on-top-of-page/?view=all

[2021-10-03 09:22] kspilarski opened #4789 "Themes: More block not displaying"
### Quick summary

More block can be added in the post editor, but it's not displaying in the  Blog / Posts page.

### Steps to reproduce

1. use any of these themes
- Twenty Twenty
- Twenty Twenty One
- Twenty Nineteen
- Barnsbury
- Alves
- Mayland
- Seedlet
- Maywood
- Balasana
- Baker
- Pollard
- Spearhead
- Dalston
- Rivington
- Storefront
- Astra

2. Create or edit post
3. add More block
4. U

[2021-10-03 14:46] philnick206 opened #4770 "Moka: "0" shown on featured content slider when there are 10 or more posts featured"
## Steps to replicate

Tag 10 or more posts with the featured tag to shown in the featured content area

## Result

A "0" is displayed at the end of the row of circles indicating the number of featured posts in the slider

<img width="1401" alt="Markup 2021-10-03 at 15 45 01" src="https://user-images.githubusercontent.com/51966986/135759066-285ebd87-2dd6-4095-8d41-a293fbe07844.png">

## Expected

[2021-10-03 18:33] kathrynwp commented on #3202
@scruffian Thanks for fixing this issue! I can't seem to find the Global Styles option on an Atomic site running Twenty Twenty One, has this change been merged into Atomic sites running this theme?

User in 4343666-zen would need to be notified. I will suggest they use a Google Fonts plugin in the meantime.

[2021-10-04 06:32] aisajib commented on #1901
Another request here: https://wordpress.com/forums/topic/making-a-heading-unsticky/?view=all

[2021-10-04 10:52] aleone89 commented on #1639
Another report here: https://wordpress.com/forums/topic/how-do-i-set-blog-post-images-to-thumbnail-size-in-lodestar/?view=all

[2021-10-04 11:46] mikeicode commented on #4595
Mayland hamburg menu request: 4343854-zd-woothemes

[2021-10-04 11:47] MaggieCabrera opened #4772 "Seedlet + Mayland blocks: Make the next/prev post a link"
After https://github.com/WordPress/gutenberg/pull/34952 got merged we can now apply this to our themes. I believe Seedlet and Mayland have this on their original classic iterations. We can discuss if we want to add it to the other themes as well.

[2021-10-04 12:25] kspilarski opened #4775 "Themes: Pinterest.co.uk shows as link icon"
### Quick summary

In social menu, .co.uk Pinterest link like `https://www.pinterest.co.uk/username1` shows as a link icon instead of Pinterest icon.

 If it's .com Pinterest link like `https://www.pinterest.com/username2`, it will show the Pinterest icon:

<img width="1253" alt="Screen Shot 2021-10-04 at 2 13 07 PM" src="https://user-images.githubusercontent.com/36863633/135849590-cdd0a4d4-569c-4

[2021-10-04 12:34] Robertght commented on #4775
It looks like this was fixed in the past(https://github.com/Automattic/themes/pull/681), but it's acting up again. cc @danieldudzic

Should we move this to the themes repo?

[2021-10-04 12:48] kjellr commented on #4527
Today the demo site looks a little different, but still not as intended:

<img width="573" alt="Screen Shot 2021-10-04 at 8 47 29 AM" src="https://user-images.githubusercontent.com/1202812/135854096-d4066a97-4cd1-4960-912d-f49f2ad57ae0.png">

[2021-10-04 14:20] MaggieCabrera commented on #4757
Make this change to Geologist too :D

[2021-10-04 15:41] RavanH opened #4776 "Blockbase: paragraph custom link color ignored"
## Steps to replicate

Create a paragraph block with a custom text color, and set a custom link color too.

## Result

Link color is forced to either --wp--style--color--link or --wp--custom--color--primary by ponyfill.css

## Expected

The selected custom link color to be used...

[2021-10-04 17:05] IoanaAMuresan commented on #4393
Just had another reporting of this - chat transcript: 30800848-hc - same theme (Shoreditch). User explained the text in the editor felt 'crammed' ever since a recent update (a few months ago), with no repercussions on the live site (issue just in the editor, tiring on the eyes when writing often, and aesthetically unpleasing).

<img width="853" alt="Screenshot 2021-10-04 at 15 34 42" src="https://

[2021-10-04 17:17] mikeicode opened #4790 "Quadrat: More control needed for spacing under page titles"
### What

There are 2 Spacer blocks under page titles, resulting in a large gap. Ideally we would have a way to adjust these without custom CSS. Even using custom CSS is tricky since the HTML structure of this area doesn’t have many uniques classes to target.

### Why

The gap is large and may result in a decent amount of CSS Requests.

![Screen Shot on 2021-10-04 at 13:09:26](https://user-images.

[2021-10-04 17:53] mikeicode opened #4782 "Maxwell: Follow blog widget button styles"
The button within the Follow blog widget now has the class **wp-block-button__link**, this results in the button styles on the block being changed, the text is now illegible.

I'm not sure if this class being added was intentional, if it was the theme should have CSS updated for this button.

Related issue on another theme:

https://github.com/Automattic/themes/issues/4580

## Steps to replicate

[2021-10-04 19:15] Robertght commented on #222
While this is not the same behavior, we have another theme affected by AMP here: https://github.com/Automattic/wp-calypso/issues/56740

Another one: https://github.com/Automattic/themes/issues/4637

Should we gather all related cases in one report or keep them separate? cc @scruffian @jeffikus

[2021-10-05 05:24] inaikem opened #4792 "Theme: Twenty Twenty not respecting custom font-sizes in Paragraph Block"
### Quick summary

- This appears to be a theme-related bug for Twenty Twenty on Simple sites only.
- When setting a custom font size in a paragraph block on the above theme, setting the theme to a "small" font such as 18px results in the font rendering as 13px on previewed/live content.
- On Atomic/self-hosted sites, the font size set in the editor is respected.

### Steps to reproduce

1. Create

[2021-10-05 07:16] formosattic opened #4784 "Dyad 2: Featured Image not updated if Front page is also a WooCommerce Shop page"
### Quick summary

_No response_

### Steps to reproduce

1. Create page X, with a featured image
2. Under `WooCommerce > Settings > Products`, set X as the `Shop page`
3. Set X as the `Front page`, and check the featured image showing
4. Change the featured image of page X

### What you expected to happen

Front page should update with the new featured image set on page X.

### What actually happ

[2021-10-05 09:05] formosattic commented on #4786
I was able to reproduce on WordPress.com, but not on a self-hosted WordPress.org site.

Note that if a site logo is set, it will stay as expected.

![troubleshooting](https://user-images.githubusercontent.com/15944096/135993771-a9840ee3-78e4-4067-8553-20d1f6cf0506.gif)

[2021-10-05 10:22] MaggieCabrera commented on #4554
@kjellr it looks like the demo site has the correct content, shall we close this issue?

[2021-10-05 10:58] scruffian commented on #4646
Done in https://github.com/Automattic/themes/pull/4788

[2021-10-05 10:59] scruffian commented on #3202
This fix should also be there on Atomic, so I'm not sure why the user can't see it, sorry.

[2021-10-05 11:33] RavanH commented on #4776
The exact style rule in question is:

[code]

But when is the style variable --wp--style--color--link ever created? What mystical theme.json node could be responsible for that? I have not found it... So maybe the whole rule makes no sense?

[2021-10-05 11:42] kjellr commented on #4554
Yes! This is all set.

[2021-10-05 11:42] #4554 closed, assigned to nobody

[2021-10-05 13:43] mikeicode commented on #4539
Using the YouTube shortcode appears to work well as a solution, it may require CSS to center the embed.

[code]

[2021-10-05 13:57] poeticabdul commented on #4539
User report 4325491-zd-woothemes

[2021-10-05 14:08] synora commented on #4789
Triaged. Can also replicate with the Sigler theme.

[2021-10-05 14:22] kathrynwp commented on #3534
@liviopv Both screenshots seem to be not working, would you mind embedding directly into this ticket? Thanks!

[2021-10-05 15:24] #4550 closed, assigned to nobody

[2021-10-05 15:46] MaggieCabrera commented on #4790
Mmmh, I wouldn't say this is a bug, more like a design decision. As soon as the FSE is ready to use, users will be able to adapt the spacer height on their own for this theme and make it 0 if they so chose. If we add a customizer option for this, that will conflict with the ability to make those changes in the FSE when that's available. I'd say the custom CSS is an ok solution in the interim.

[2021-10-05 17:46] mikeicode opened #4852 "Blockbase & Child themes: Logo size option"
### What

Ideally there would be a way to increase the logo size which is set at `64px`.

### Why

Blockbase (parent theme), Quadrat (child theme), and potentially future Blockbase child themes set the logo height to 64px. This could be considered small, some users may want larger logos.

### How

Perhaps a Customizer option.

For Blockbase & Quadrat CSS can be used for now.

[code]

Before:

![lo

[2021-10-05 19:48] freelylovinglife commented on #4053
Came across another report 4349646-Zen

[2021-10-06 07:48] MaggieCabrera opened #4791 "Skatepark: Title border on post template and spacing on page template"
I found that the space between the title border on a post on Skatepark and its content was very small but when looking at the design, I see no border for posts, just for pages:

Site: | Design:
--- | ---
<img width="1293" alt="Screenshot 2021-10-06 at 09 42 40" src="https://user-images.githubusercontent.com/3593343/136161080-fccffc42-e924-4fc0-b330-02d0338517c2.png"> | <img width="887" alt="Screen

[2021-10-06 09:30] daria2303 opened #5002 "Seedlet: green background stripe visible in demo isn't visible on the site"
### Quick summary

Seedlet theme: green background stripe visible in demo in homepage isn't visible on the site, even when the same blocks used.

### Steps to reproduce

1. Instal Seedlet
2. Add blocks: Group > Columns > Images (like in the theme setup)
3. Check preview - there is no green stripe like in theme's demo: https://wordpress.com/theme/seedlet, my test:
4. This works in Atomic, not on si

[2021-10-06 11:33] rastrau commented on #2901
Will this update be available any time soon for self-hosted WP instances through the WordPress theme repo? It seems only version 1.0.8 is available there.

[2021-10-06 12:48] #4646 closed, assigned to nobody

[2021-10-06 12:52] #4768 closed, assigned to nobody

[2021-10-06 12:53] mikachan commented on #4757
Fixed with https://github.com/Automattic/themes/pull/4783.

[2021-10-06 12:53] #4757 closed, assigned to mikachan

[2021-10-06 13:09] RavanH commented on #4718
Hi, is that a Jetpack form? Blockbase itself sets `background: var(--wp--custom--form--color--background);` for input fields globally (in ponyfill.css) but a form plugin may override that with its own styling.

Try a Search block inside a group with background color for example...

[2021-10-06 13:14] #4687 closed, assigned to nobody

[2021-10-06 13:20] scruffian commented on #4527
This is what I see on the demo site after the latest round of changes, so closing this.
<img width="514" alt="Screenshot 2021-10-06 at 14 19 10" src="https://user-images.githubusercontent.com/275961/136210173-cb0666c6-c058-4e0a-bafe-c6a864c4ea23.png">

Feel free to reopen if that's not correct still :)

[2021-10-06 13:20] #4527 closed, assigned to nobody

[2021-10-06 16:28] IoanaAMuresan commented on #3481
I am not sure if this is the right place to signal this but had a similar issue in a ticket today (4355650-zen).

Plan: Business | Theme: Rebalance

User could not remove the credit via the settings (Appearance -> Customize -> Site Identity -> Footer credit -> Hide). I could replicate that on their site but NOT on my test site (same plan, same theme).

Finally fixed using a CSS snippet (p163353506

[2021-10-06 20:42] ClassicRKR27 opened #4798 "Stow: Buttons with "Fill" style disappear on hover"
## Steps to replicate
1. Change site to Stow theme
2. Add a button with the "Fill" style anywhere on a page
3. Hover over it to see it disappear
4. Switch to "Outline" and you'll see the button works properly
5. Set the button to specific text and background colors and the issue goes away

[Here is a GIF for reference](https://d.pr/i/K14xxi)

## Result

Button disappears if no other values are set

[2021-10-06 21:11] kathrynwp opened #4825 "Varia: Styling off on Submit button in Contact Form"
### Quick summary

When adding a form block to Alves, the Submit button looks OK in the editor, but not OK when previewing or publishing the page.

### Steps to reproduce

1. Add new page
2. Select one of the "Contact" layouts that includes a contact form (OR use a blank layout and choose the Form block from the editor, then Contact Form)
3. Look at the button in the editor, and compare to the but

[2021-10-06 21:54] CodeAllNightNDay commented on #3855
The same issue came up for the site referenced in the opening post.
30653171-hc
Tweet was cut off again for one that had more height.

.post .wp-block-embed-twitter iframe {
    min-height: 800px;
}
.post .wp-block-embed-twitter .wp-block-embed__wrapper {
    padding-top: 0;
}

It seems that the CSS that sets the iframe height with an !important should be removed/made not !important.

[2021-10-07 04:12] inaikem opened #4826 "Exford: Mobile menu toggle hover not respecting "Colors & Backgrounds" in the Custommizer."
### Quick summary

When viewed on small screens, Exford's mobile menu is not respecting the link/button hover colour set in "Colors & Backgrounds" in the Customizer.

### Steps to reproduce

1. Set a custom colours in "Colors & Backgrounds" in the Customizer.
2. Veiw the site on a small screen (menu toggle should be active)
3. The toggle's up state appears as expected.
4. The toggle's hover state

[2021-10-07 05:02] aisajib commented on #4242
I'm not 100% sure if it's the same, but the Post Carousel block also has image issues as reported [here](https://wordpress.com/forums/topic/post-carousel-4/?view=all). See the screenshot from my test site.

<img width="767" alt="Screen Shot 2021-10-07 at 11 01 29 AM" src="https://user-images.githubusercontent.com/2541844/136323069-46ee496e-0255-4cee-a724-80a97d9f1542.png">

Let me know if that sou

[2021-10-07 06:00] danieldudzic commented on #4763
Hmm, I can't seem to replicate the issue in Affinity 🤔

[2021-10-07 06:22] danieldudzic commented on #4766
For some reason I can't access the **Text Color** setting when testing with Lovecraft - and I can't replicate the issue when using the 'Highlight' or 'Color' block setting.

[2021-10-07 08:39] #4596 closed, assigned to nobody

[2021-10-07 10:19] mrsjaved opened #4827 "Varia: Text formatting is not working for form fields"
### Quick summary

The text formatting for example bold, italic is not being applied on the field labels from the editor to preview. It works in Editor but on live site, theme CSS overrides the formatting.

### Steps to reproduce

1. Add a contact form.
2. Change the field label styling to italic and remove the bold effect.
3. Preview the page.

### What you expected to happen

It should apply Ita

[2021-10-07 10:37] MaggieCabrera opened #4800 "Blockbase: simplify or remove Query pagination CSS"
The CSS for the pagination is breaking the block alignment behavior causing a lot of unexpected interactions. The CSS was originally needed to achieve the current design and overcome this issue: https://github.com/WordPress/gutenberg/issues/34997

![image](https://user-images.githubusercontent.com/3593343/136368710-1c9a8f77-1149-4e7f-bf62-588f1c8ce7cb.png)

We should either simplify the CSS so tha

[2021-10-07 13:16] danieldudzic commented on #4765
I'm missing the **Text color** option when Isola is active - and I can't replicate the issue.

<img width="790" alt="Edit_Page_‹_This_is_a_site_title_super_long_—_WordPress_com" src="https://user-images.githubusercontent.com/905781/136391419-aecd837e-f07a-4930-bcfe-de43425d16c5.png">

[2021-10-07 16:34] scruffian commented on #4268
This is waiting for GB on dotcom to be updated.

[2021-10-07 17:00] mikachan commented on #4763
I can replicate this, but I can't see which stylesheet the colours are coming from. They're not in `blocks.css`, they're in the inline `global-styles-inline-css`.  Do these inline styles need to be copied into the editor stylesheet (or maybe just the ones for colours)?

[2021-10-07 20:44] danieldudzic commented on #4718
Hi @RavanH,

I have tested this, and I believe this is not due to an overwrite, but rather, it's Blockbase not handling it gracefully. The padding is off too.

Blockbase explicitly sets the form background to transparent:

<img width="1125" alt="theme_json_-__com_Sandbox" src="https://user-images.githubusercontent.com/905781/136459084-60c3897a-8e2d-43df-a7b0-f3c1150df8e5.png">

2021 has the follow

[2021-10-08 01:31] danieldudzic commented on #4716
Hi @ClassicRKR27,

I'm struggling to understand what would the desired behavior for the title be. The title wraps on desktop due to insufficient space in the container, if we change that, the title would extend beyond the container or an alternative solution would be to modify the font size of the title - but that's more in the realm of customizations.

What was the behavior prior to the change in

[2021-10-08 10:44] RavanH commented on #4718
@danieldudzic you are right, setting the background to transparent while fixing the foreground and border colors is not very graceful. A form over a black background becomes unusable when the theme foreground color is set to black too.

Setting either `"background": "var(--wp--custom--color--background)"` or `"text": "inherit"` would make more sense. In the last case, maybe also `"border": { "colo

[2021-10-08 11:19] MaggieCabrera commented on #4718
I'm more inclined to go with `"background": "var(--wp--custom--color--background)"` since we know it's always going to contrast with the foreground color on the text

[2021-10-08 11:56] mikeicode opened #4828 "Quadrat: Option to reduce space under header"
### What

Quadrat uses inline CSS to add space under the header, resulting in a large gap on desktop and mobile. Ideally this would be adjustable.

### Why

I assume this was a design decision but not having this setting as adjustable results in the need for custom CSS for users who would like to reduce the space.

Desktop:

![Screen Shot on 2021-10-08 at 07:43:12](https://user-images.githubuserco

[2021-10-08 13:22] danieldudzic commented on #4764
Same as with Isola, I'm missing the **Text color** option when Gateway is active - and I can't replicate the issue.

<img width="790" alt="Edit_Page_‹_This_is_a_site_title_super_long_—_WordPress_com" src="https://user-images.githubusercontent.com/905781/136391419-aecd837e-f07a-4930-bcfe-de43425d16c5.png">

[2021-10-08 13:26] RavanH commented on #4718
Yes, while `"text": "inherit"` is more in line with the form label text color (also inherited) and depends on the user setting a contrasting text color to go with the custom background color on the parent element... Or a semi-transparent background maybe? ;)

[2021-10-08 13:41] mikeicode opened #4829 "Sigler: Vimeo video size / centering mobile issue"
### Quick summary

Sigler uses a Vimeo video on the homepage. On smaller mobile screens the video appears off centered.

### Steps to reproduce

View the [Sigler homepage demo](PdnlTu-2-p2) on a small mobile screen.

### What you expected to happen

Video should be sized correctly and centered.

### What actually happened

It's too large or not centered.

![Screen Shot on 2021-10-08 at 09:29:01](h

[2021-10-08 18:07] nicolynramos commented on #1421
Another report here: 4361861-zd
I was able to reproduce on testsep16.wordpress.com on iPad Air 4th gen on OS 15.1

[2021-10-08 18:17] kimerlin81 opened #4810 "Rockfield Theme Conflict with Elementor Pro Elements"
Issue: When logged in to WordPress or on a proxied browser, the site displays fine. When logged out/un-proxied, several elements appear differently. I can reproduce.

Example 1:
When logged in/proxied, the text animation (CIRCUIT FASTER LONGER HIGHER) changes as shown here:
https://user-images.githubusercontent.com/83732167/136603262-ae7eba51-9d87-4847-b626-9e2dfe165701.mp4

When logged out/un-pro

[2021-10-08 21:19] cuemarie commented on #1421
Just following up as user replied; they'd like to be notified when a fix is in place.  @nicolynramos set expectations. 👍 Closing this ticket.

[2021-10-10 12:56] SvajkaJ opened #4811 "Stratford: Issue with primary menu on mobile screen"
When I open menu on mobile, the first element of the menu is covering the button that closes the menu when pressed. So I am unable to press button that closes the menu.

![Screenshot_2021-10-10-14-45-34-471_com android chrome](https://user-images.githubusercontent.com/89418254/136696426-970f5fc3-dd0c-4c73-86b9-8e2b6b0a7e26.jpg)

So when I try to close the menu I am actually clicking the first elem

[2021-10-11 07:55] MaggieCabrera opened #4812 "Geologist: .org submission issues"
This is the .org feedback:

Keyboard Navigation

    Theme authors must provide visual keyboard focus highlighting in navigation menus and for form fields, submit buttons, and text links.
    Some resources to help you: Information on the requirement
    Video help for Modals, Links, Forms, Menus
    Check TwentyTwenty using tab and shift+tab as an example

Mobile menu is not accessible using keyb

[2021-10-11 07:55] MaggieCabrera commented on #4812
The trac ticket: https://themes.trac.wordpress.org/ticket/106674

[2021-10-11 10:18] escapemanuele opened #4813 "Quadrat: open in a new tab not working for menu links"
## Steps to replicate

- Checked “Link Target” in advanced menu properties in the Customizer: https://d.pr/i/tqgq4Z

![image](https://user-images.githubusercontent.com/52076348/136774354-d8dfbda2-7c36-4ae1-89c5-362667a08947.png)

- Checked “Open link in a new tab” in the menu element: https://d.pr/i/8qxhI5

![image](https://user-images.githubusercontent.com/52076348/136774374-e36a0815-70a7-411a-a2

[2021-10-11 10:35] mikachan commented on #4649
I can see the 170px gap locally on my search results page:

![image](https://user-images.githubusercontent.com/1645628/136775109-be20fc78-ed42-4de2-b754-489d1e99d240.png)

There's some additional space (`--wp--style--block-gap` at 30px) above the main content coming from GB:

![image](https://user-images.githubusercontent.com/1645628/136775797-dfd16ea7-c397-4fd8-be19-f9b407210c75.png)

I don't kno

[2021-10-11 15:22] danieldudzic commented on #4776
Hi @RavanH,

Thanks for flagging this. It seems that this rule was present to overwrite some core styles. I believe it's no longer necessary, so I've removed it.

[2021-10-11 15:47] danieldudzic commented on #3484
PR: D68212-code

Co-authored-by: @mikachan

[2021-10-11 19:40] pbking commented on #4776
The `--wp--style--color--link` variable was created by Gutenberg based on the link color settings in `theme.json` but the links are now colored (and configured) a different way so you're right @danieldudzic  this is no longer relevant.  That bit was in place because paragraphs with a custom color would overwrite the link color with the custom color in earlier versions.

This change LGTM, thank's y

[2021-10-11 19:47] pbking opened #4815 "Geologist: Allow long titles to wrap the same way on post pages and on the index"
Quadrat has[ had a change](https://github.com/Automattic/themes/pull/4796) to address long titles and other spacing issues.

The same should be replicated for Geologist.

[2021-10-11 19:55] adelineyaw commented on #4324
Another report: 32119462-hc (Theme: Heart and Style)
Follow up: 32119462-zen

[2021-10-11 20:04] #4776 closed, assigned to danieldudzic

[2021-10-11 22:32] the-misha commented on #4267
User reports this issue for their Exford theme in 32073217-hc, and got back to us today requesting followup in 32073492-hc and 4368245-zd-woothemes.

[2021-10-12 08:58] edwinho89 opened #4830 "Stratford theme: Displaying header Wordads Causes Menu fixed Center of site"
### Quick summary

With header WordAds displaying on top, the fixed menu stays in the middle of site as we scroll down.

### Steps to reproduce

1. Activate Stratford theme
2. Enable WordAds
3. Display additional WordAds placement in header
4. Visit website, scroll down site with static menu and WordAds displaying on header.

### What you expected to happen

Static menu naturally scrolls up then s

[2021-10-12 09:17] scruffian commented on #3484
Fix looks good. Do we need to push it back up to core too?

[2021-10-12 09:30] kosiew commented on #4852
Hi @mikeicode ,

Thanks for reporting this and the detailed steps.
Triaging for developers' further investigation.

[2021-10-12 10:15] scruffian commented on #4649
The title on the search page matches the index, so I think that's fine, I'm going to close this.

[2021-10-12 10:15] #4649 closed, assigned to nobody

[2021-10-12 13:44] scruffian commented on #4590
This should be fixed by https://github.com/Automattic/themes/pull/4482

[2021-10-12 14:20] pbking opened #4821 "Blockbase & Co: Submenu color is incorrect."
This seems to have been caused by changes to the structure and classes of the navigation block.

Populate menus with submenus and note their style on desktop:

<img src="https://user-images.githubusercontent.com/146530/136972353-37b8f699-7b9a-4819-9a81-97a6dd12e4d4.png" width="300">

The colors for the responsive version of the menu are correct, however the layout no longer matches the design targ

[2021-10-12 17:08] pbking commented on #4590
Confirmed that #4482 does address this.

![image](https://user-images.githubusercontent.com/146530/136999686-d8f3e788-7e58-4a27-bd3d-eeb1982357a7.png)

Closing.

[2021-10-12 17:46] melchoyce commented on #4590
Seeing the opposite problem now, where the menu has extra space on the right:

![image](https://user-images.githubusercontent.com/2846578/137004431-a363b4be-25a5-4c3e-9858-e03cf87b5541.png)

[2021-10-12 21:05] Gustavo-Hilario commented on #4694
I encountered the same issue using `theFour` theme on 4371801-zen

When using this theme, if you select the `Large` font size, the same CSS code shown in the screenshot overrides the user preference, and the font becomes too big. However, if they use a custom font size or select another option instead of `Large`, the issue disappears.

[2021-10-12 22:42] scruffian commented on #4763
I believe this will be fixed by https://github.com/WordPress/gutenberg/pull/35514.

[2021-10-12 22:42] #4763 closed, assigned to nobody

[2021-10-12 22:42] scruffian commented on #4762
I believe this will be fixed by https://github.com/WordPress/gutenberg/pull/35514.

[2021-10-12 22:42] #4762 closed, assigned to nobody

[2021-10-12 22:42] scruffian commented on #4764
I believe this will be fixed by https://github.com/WordPress/gutenberg/pull/35514.

[2021-10-12 22:42] #4764 closed, assigned to nobody

[2021-10-12 22:43] scruffian commented on #4765
I believe this will be fixed by https://github.com/WordPress/gutenberg/pull/35514.

[2021-10-12 22:43] #4765 closed, assigned to nobody

[2021-10-12 22:43] scruffian commented on #4767
I believe this will be fixed by https://github.com/WordPress/gutenberg/pull/35514.

[2021-10-12 22:43] #4767 closed, assigned to danieldudzic

[2021-10-12 22:43] scruffian commented on #4766
I believe this will be fixed by https://github.com/WordPress/gutenberg/pull/35514.

[2021-10-12 22:43] #4766 closed, assigned to nobody

[2021-10-12 22:44] scruffian commented on #4812
Did these come up with Quadrat? Should we make the fixes there anyway?

[2021-10-12 23:27] mikachan commented on #4813
I can replicate this in Blockbase & Co and I think it's a Gutenberg issue, but I don't know Gutenberg well enough to know how to debug this properly.

The menu in the header template doesn't render with a `target="_blank"` or a `title`:

![image](https://user-images.githubusercontent.com/1645628/137041242-da264f69-b358-4b21-a782-af0e644a76c2.png)

However, if I add a Navigation block through the e

[2021-10-13 00:09] tanjoymor opened #4831 "Hemingway Rewritten: inline text color changes don't display in editor"
### Quick summary

When you add a paragraph block, highlight a word and change the color of that word inline, it doesn't show the color change in the editor, but it does reflect in the preview.

https://user-images.githubusercontent.com/42655541/137045046-5b16beab-9d97-464b-a3c6-f4aa453b43e0.mov

### Steps to reproduce

1. Add a paragraph block with some text
2. Select a word within that text
3. U

[2021-10-13 00:10] jordesign commented on #5002
Hey @daria2303  - thanks for checking on this.

The background which shows in this particular pattern is set by a Background gradient which is *part* of the pattern (not automatically added to Group > Columns > Images

<img width="1359" alt="Screen Shot 2021-10-13 at 11 06 14 am" src="https://user-images.githubusercontent.com/1842363/137045372-7a2a3471-1c64-450b-ad0c-d56547551b80.png">

In order t

[2021-10-13 00:14] Greatdane commented on #4825
I can also reproduce this. Seems to only affect the button on the Contact Form block.

From what I can see in inspector, the theme padding/styling is being overwritten by another class;
`.wp-block-jetpack-button button`

Moving to themes.

[2021-10-13 00:21] jordesign commented on #4826
Confirming this behavior is on the Hover state. CSS being applied is.

[code]

[2021-10-13 00:22] Greatdane commented on #4825
I also noticed this happening on the Barnsbury theme - it could be a Jetpack-related issue happening on many themes?

[2021-10-13 00:27] Greatdane commented on #4827
Reproduced and moved to themes repo.

[2021-10-13 00:38] jordesign commented on #4828
Scrubbed and confirm this inline style. It looks to be coming from the way the block theme is set up (I can edit it in the Site Editor when FSE is enabled).

<img width="1752" alt="Screen Shot 2021-10-13 at 11 37 18 am" src="https://user-images.githubusercontent.com/1842363/137047435-9d7f0ad5-529b-4476-a448-a357325b8055.png">

Popping this over into the Themes repo to be looked at.

[2021-10-13 00:46] Greatdane commented on #4829
This is one of many new themes released recently; p7DVsv-cHN-p2
Not sure if affects all seedlet/Blank Canvas related themes.

[2021-10-13 01:25] DeepthiGoguri commented on #4579
Can you please fix this issue for God sake. I cannot type my title in mixed mode using capital and small letters. All I have to use now is all capitals in my post title which looks terrible.

[2021-10-13 01:27] jordesign commented on #4831
I've been able to confirm this behaviour - and it seems to be inline text color for *any* element.
(updated issue title to reflect that).

<img width="611" alt="Screen Shot 2021-10-13 at 12 25 10 pm" src="https://user-images.githubusercontent.com/1842363/137050837-74af06cd-b699-4d58-a067-50cb6ac2c48b.png">
<img width="511" alt="Screen Shot 2021-10-13 at 12 25 14 pm" src="https://user-images.github

[2021-10-13 07:24] danieldudzic commented on #4813
@mikachan I have tested this with [Tove](https://wordpress.org/themes/tove/) and the blank target link works fine. I have no idea what in Blockbase might be causing this, though.

[2021-10-13 07:33] MaggieCabrera commented on #4812
I don't think they came for Quadrat, no. And some, like the keyboard navigation, are not even directly related to the child, are they? I'm not sure what we should do here.

[2021-10-13 08:22] MaggieCabrera commented on #4815
I don't think we need it for geologist, since its singular template doesn't have a wide aligned featured image like quadrant does.

[2021-10-13 09:18] mikachan commented on #4813
Ah OK. I've just tried with Tove too but it looks like that theme doesn't register any menu locations. This means when you go to add the menu to the header, you have to manually add the menu items in the block editor, which means it adds each navigation-link block individually with the `opensInNewTab` etc attributes as above (with individual `wp:navigation-link` blocks with all the required attrib

[2021-10-13 11:04] scruffian commented on #4812
Fix them in Blockbase if we can I suppose.

[2021-10-13 11:55] #4761 closed, assigned to nobody

[2021-10-13 12:18] mikeicode commented on #3403
Another 4370889-zd-woothemes

![Screen Shot on 2021-10-13 at 08:15:41](https://user-images.githubusercontent.com/10353785/137130529-e3a9db97-b72c-4cd4-b459-d17ca594e42a.png)

Used this to resolve:

[code]

![Screen Shot on 2021-10-13 at 08:15:54](https://user-images.githubusercontent.com/10353785/137130559-6fb73443-66c7-42a4-897d-089b029c5e3e.png)

**Note**

This theme has a lot of related issues

[2021-10-13 15:34] radtechgh opened #4833 "Blockbase: Calendly block won't load on front end"
### Quick summary

Calendly block does not load the calendar preview on the front end when they choose the inline style. The link version works though
Example: https://share.getcloudapp.com/jkuE7reG
Seems to be an issue with Quadrat theme.

### Steps to reproduce

1. https://sheetaljairth.com/thank-you-for-your-purchase/
2. Works on test site: Pdrz4c-5-p2
3. Embedded okay on test site with 2021 th

[2021-10-13 17:34] pbking commented on #4828
That's correct @jordesign the FSE is the only (non CSS) way to adjust that gap and is the intended mechanism.  There are no plans to make that adjustable outside of that.

Closing this as expected behavior.

[2021-10-13 17:34] #4828 closed, assigned to nobody

[2021-10-13 17:36] pbking commented on #4815
Cool, I didn't realize there was a difference there but I see what you mean.  Thanks @MaggieCabrera .

[2021-10-13 17:36] #4815 closed, assigned to nobody

[2021-10-14 00:15] jordesign commented on #4833
Scrubbing this and can recreate in Quadrat - and also going back to Blockbase.

It looks as though this is an issue with the way Blockbase (and its child themes) handle the Calendly embed. The space for them embed is there - but nothing is inserted.
Pdrz4c-5-p2?theme=pub/blockbase

** Steps to Reproduce **

1. Activate Blockbase or child theme
2. Insert a calendly embed (example url: https://calen

[2021-10-14 04:40] Greatdane commented on #1780
Another report here; 30991392-hc

[2021-10-14 06:11] KokkieH commented on #1673
Another report for Hemingway Rewritten in https://wordpress.com/forums/topic/image-caption-not-aligning-center/?view=all

[2021-10-14 11:23] #4659 closed, assigned to nobody

[2021-10-14 13:16] darnelldibbles commented on #3114
Another user has reported this issue here: https://wordpress.com/forums/topic/problems-with-header-5/?view=all#post-3748311

[2021-10-14 14:19] daria2303 commented on #5002
@jordesign thanks for checking but this is still not working for me, when I add pattern on simple site there is no background like on your screenshots and even if I try to set it the shape is not a stripe: https://d.pr/v/PFRbgH
Could you have a look again?

[2021-10-14 15:34] pbking commented on #4812
I went through Geologist (and blockbase) and found that I was able to navigation with the keyboard (both in desktop and responsive sizes) as well as I had expected.  I'm not sure what else is expected there.  There certainly don't seem to be any restrictions in Geologist that aren't in Blockbase, so I agree if something is found it should be fixed there.  I just don't know what that would be.  I d

[2021-10-14 15:57] pbking commented on #4812
With the three (very minor) PR's noted above I think I have fixed everything addressable from the TRAC ticket.  With those changes I believe we can/should resubmit this.

[2021-10-14 16:13] pbking commented on #4657
@scruffian or @beafialho are there any block styles needed for this theme?
I perused the figma but didn't really come across anything that seemed to require alternative block styles.

[2021-10-14 17:02] beafialho commented on #4657
I don't think so, unless this is considered a block style:

<img width="967" alt="Captura de ecrã 2021-10-14, às 18 00 18" src="https://user-images.githubusercontent.com/65220155/137363335-e605ec48-5104-4e16-82b7-5a777d8c64f0.png">

I think I've mentioned this somewhere but can't remember where.

[2021-10-14 17:02] beafialho commented on #4645
I've updated the styles in Figma to Inter.

[2021-10-14 17:47] scruffian commented on #4645
We are using on Inter on the demo now, I think we can close this.

[2021-10-14 17:47] #4645 closed, assigned to nobody

[2021-10-14 17:47] scruffian commented on #4657
No block styles needed, we can close this.

[2021-10-14 17:47] #4657 closed, assigned to nobody

[2021-10-14 17:52] scruffian opened #4842 "Blockbase: Broken margins for buttons in a group."
## Steps to replicate
When buttons are in a group block their alignment is off:
<img width="544" alt="Screenshot 2021-10-14 at 18 49 59" src="https://user-images.githubusercontent.com/275961/137370153-a2036c9c-6ba5-4afc-9d2a-be17befdd6c6.png">

This is probably caused by this line:
[code]

This might not be needed since we added block gap fixes to Gutenberg.

[2021-10-14 17:53] scruffian opened #4843 "Blockbase: Search in navigation alignment"
## Steps to replicate
When adding a search form to the navigation block, the alignment is off:

<img width="473" alt="Screenshot 2021-10-14 at 18 50 08" src="https://user-images.githubusercontent.com/275961/137370343-84391ee0-8733-4814-a40f-d4a9c2e3c102.png">

[2021-10-14 18:15] scruffian opened #4844 "Videomaker: Update tag styles"
Tags in Videomaker should look like this:
<img width="205" alt="Captura de ecrã 2021-10-12, às 15 00 50" src="https://user-images.githubusercontent.com/275961/137373270-d82f4ee2-6c89-4294-a20d-3326a7aa7f83.png">

They should appear wherever the post-meta template is used.

[2021-10-14 18:18] scruffian commented on #4653
@beafialho do we have a description for Videomaker?

[2021-10-14 18:19] scruffian commented on #4643
The demo site has already been created: PdomoO-2-p2

@beafialho, now the patterns have been merged would you be able to update the demo site?

[2021-10-14 19:07] pbking commented on #4842
Seems to only be a thing in the editor...

<img src="https://user-images.githubusercontent.com/146530/137379012-ee30867b-d9b3-421d-93df-9ce491ee9195.png" width=200>

<img src="https://user-images.githubusercontent.com/146530/137379083-572c934f-8b86-4449-96da-900efca67a30.png" width=200>

and removing it fixes things there:

<img src="https://user-images.githubusercontent.com/146530/137380087-9cca6

[2021-10-14 19:25] pbking commented on #4842
Actually I wasn't on the lastest Gutenberg.  Updating and I no longer see the issue (with the `margin-top` still in place).  Though I do still see a discrepancy between editor and view...

Editor:
<img src="https://user-images.githubusercontent.com/146530/137381008-72477905-93a5-42d1-806c-d5f963b931e6.png" width=200>

View:
<img src="https://user-images.githubusercontent.com/146530/137381043-dae9c

[2021-10-14 19:28] pbking commented on #4842
This is with NONE of the styles for paragraphs in _text.scss and seems to be the correctest to me...

<img src="https://user-images.githubusercontent.com/146530/137382983-84ba0884-1243-4779-a198-7b349fb6959e.png" width=200>

[2021-10-14 19:36] scruffian commented on #4842
I also don't see it on the latest GB. My preference would also be to remove the extra styles if they aren't needed.

[2021-10-14 19:51] pbking commented on #4843
Removing the top padding [here](https://github.com/Automattic/themes/blob/trunk/blockbase/sass/blocks/_search.scss#L4) brings it into alignment.  (I'm not sure why that padding was there to begin with so that's probably a good removal).

![image](https://user-images.githubusercontent.com/146530/137385840-4f9524d9-b313-45a9-821e-17ab32fe6259.png)

But it only works if there's no label.  What should

[2021-10-14 19:53] scruffian commented on #4843
I think that's good enough for now...

[2021-10-14 20:28] kathrynwp opened #4850 "Blog subscription form widget has padding/margin issues in some themes"
### Quick summary

When adding a blog subscription form widget to sites built with Alves, there wasn't enough padding/margin around the input field, and the same field was way too long when only one widget was in the footer.

### Steps to reproduce

1. Under Appearance > Customize > Widgets, add a Follow Blog widget

### What you expected to happen

The padding in the input field should match the

[2021-10-15 07:06] jeffikus commented on #3202
@scruffian yes, is this a problem between the version that's loaded on Atomic sites and on wpcom perhaps?

[2021-10-15 07:14] KokkieH commented on #1601
Another in https://wordpress.com/forums/topic/pictures-do-not-display-completely/?view=all

[2021-10-15 07:24] #4842 closed, assigned to nobody

[2021-10-15 07:26] #4843 closed, assigned to nobody

[2021-10-15 07:27] #4821 closed, assigned to pbking

[2021-10-15 09:52] zdenys commented on #3481
Another case in 32208200-hc with Canard theme on AT site.

[2021-10-15 10:22] Robertght commented on #4850
Thank you for reporting this @kathrynwp !

As the component appears to be theme dependent, I'm moving this to the themes repo for further investigation.

[2021-10-15 12:06] RavanH opened #4851 "Blockbase: ponyfill p margins rules create unexpected behavior"
The following rule in ponyfill.css which creates unexpected top margins for paragraphs:
[code]

## Steps to replicate

Create a new post with Title and three paragraphs. Then place one of the paragraphs inside a group block and move it to different positions in respect to the other two paragraphs.

## Result

When the group block is in position two or three, the margins are different from when in

[2021-10-15 12:31] RavanH commented on #4851
Another example of unexpected behavior caused by these rules:
Add a column block with two columns and a title in each column. Now place a 10px spacer above the title in the second column. You'd expect the difference between the two titles to be 10px, but it is much more than that: 10px + var(--wp--custom--gap--vertical) = 40px.

With ponyfill rule `.wp-block-column :first-child, .wp-block-group :f

[2021-10-15 13:19] scruffian commented on #4851
We removed this code so I think we can close this. Thanks for reporting.

[2021-10-15 15:06] RavanH commented on #4851
Ah ok... I had not verified the latest dev version. Great :)

[2021-10-15 15:14] RavanH commented on #4851
Ah no, hang on...

The rule
[code]
is still there in trunk. This one is responsible for the effect in the first example...

I've updated the original report (title and content) to reflect the remaining issue.

[2021-10-15 18:32] davipontesblog commented on #3280
@chad1008 this has come up with another user today in chat, this is what they see in the editor:

<img width="740" alt="Screen Shot 2021-10-15 at 2 29 42 PM" src="https://user-images.githubusercontent.com/31009008/137535748-2a0a3761-ac19-4691-bc5d-50c053fb2f1d.png">

and this is what they see on front end:

<img width="640" alt="Screen Shot 2021-10-15 at 2 29 24 PM" src="https://user-images.github

[2021-10-15 22:29] supernovia commented on #4539
We had a case here too:
https://wordpress.com/forums/topic/videos-are-blocking-the-text-beneath-them/

[2021-10-16 13:21] zdenys opened #4854 "Apostrophe 2: Youtube videos have issue with `Resize for smaller devices` on and off"
## Steps to replicate

1. Paste a youtube video and add a caption below it and some text further below that
2. Toggle on `Resize for smaller devices`
3. Preview the page/post
4. See how the caption and the text are partially covered

![image](https://user-images.githubusercontent.com/39308239/137589065-f8e32a86-3651-4978-b8b0-34f74a776ab2.png)

5. Now toggle off `Resize for smaller devices`
6. Pre

[2021-10-16 14:01] ChrissiePollock commented on #3365
Another case - 4380483-zen.

The odd thing is that when I use my test site on the Business plan and set it up so it has the same theme and plugins as the person in that issue, then I copy the code from their site and try it on my page, it publishes properly. Screenshot in response to that customer.

[2021-10-17 13:39] kspilarski commented on #4789
4362387-zd, Twenty Nineteen theme.

[2021-10-17 18:12] kathrynwp commented on #2072
Came up again in 4383409-zen

[2021-10-17 20:32] nicolynramos commented on #3280
Another report of this on simple site: 4382863-zd
Theme: Independent Publisher 2

[2021-10-18 02:34] goblinartificer opened #4914 "Shoreditch: Group blocks don't align text with the right padding"
### Quick summary

On Shoreditch, Group blocks with colored backgrounds have text go all the way to the edges of the block. The block itself is aligned with non-grouped text in the same width (full width or otherwise), so that adding padding would make it out of line with non-grouped text.

In the editor, there's padding (though the text is not aligned with non-grouped text, which is also fine):

[2021-10-18 05:44] hacchism opened #4915 "Twenty Sixteen: Custom color setting for Buttons Block in widgets doesn't work"
### Quick summary

Buttons Block doesn't respect custom color settings(text and background) at all when the block is in widgets.

### Steps to reproduce

1. Activate "Twenty Sixteen"
2. Go to https://example.wordpress.com/wp-admin/widgets.php and add a Buttons Block into Sidebar
3. Set a custom text/background color by selecting one from some recommended colors(The issue can't be replicated when h

[2021-10-18 06:50] formosattic commented on #3280
+1 4383731-zd-woothemes
Theme: Independent Publisher 2

User reported issue back in February, seems like was fixed for some time, but has popped back.

[2021-10-18 15:03] beafialho commented on #4643
Yes, I'll update it

[2021-10-18 15:53] scruffian opened #4858 "Videomaker: Post Meta template part"
## Steps to replicate
On WordPress.com, the block patterns have an error because they try to use the template part block, which isn't supported in WordPress.com yet. We'll need to find a different solution for now.

[2021-10-18 16:47] pbking commented on #4851
Related to [comments](https://github.com/Automattic/themes/pull/4845#issuecomment-943776207) on [this](https://github.com/Automattic/themes/pull/4845#issuecomment-944300092) issue.

[2021-10-18 16:56] beafialho opened #4859 "Videomaker: Additional Block Patterns"
In the meantime, after development started, we created a few more block patterns [in Figma here](https://www.figma.com/file/XnDSyzD9cBG5kbDaVZn9yG/Videomaker?node-id=183%3A563):

<img width="706" alt="Captura de ecrã 2021-10-18, às 16 28 40" src="https://user-images.githubusercontent.com/65220155/137774004-1ae81642-93e2-42d4-a05e-0d2f7f23e097.png">

I've built them in the editor. Here's the code

[2021-10-18 16:59] pbking opened #4860 "Blockbase header layout gathers to the left."
Many of the Blockbase headers layout seems off.

Quadrat:
![image](https://user-images.githubusercontent.com/146530/137775401-f1b18797-ccdc-4114-90ed-9a0ab585a232.png)

Blockbase:
![image](https://user-images.githubusercontent.com/146530/137775464-16a9d86e-2c23-4dff-a0c5-3fb416d25d23.png)

This seems to be caused by the addition of `width: 100%` [here](https://github.com/WordPress/gutenberg/blame/

[2021-10-18 20:05] tinjure20 commented on #4860
In my Quadrat testing, I reproduced what @pbking described above.  In addition to header, I also notice pagination layout problem on index page too but not on single page layout. These problems appeared immediately after I updated GB to recent v11.7.

Quadrat:
![screenshot-quadrat](https://user-images.githubusercontent.com/59660253/137799059-2a1a24cd-f25b-49de-8365-c93e603b339c.png)

[2021-10-18 23:35] supernovia commented on #2935
We have another case here:
https://wordpress.com/forums/topic/bug-in-spearhead-theme/

[2021-10-19 03:55] formosattic commented on #3280
Theme: Apostrophe 2

+1 32272678-hc

[2021-10-19 05:24] formosattic commented on #3280
Looks like this issue re-appearing is actually https://github.com/Automattic/wp-calypso/issues/57043

I'll let the Theme team triage or close this.

[2021-10-19 12:39] kimerlin81 opened #4867 "Twenty Seventeen: Masonry Block Renders Images With Preset Width of 525 and Restricts Size of Lightshow Images"
## Steps to replicate
When the Twenty Seventeen theme is activated, images are rendered to a width of 525. Initially, I was able to see the parameter ".jpg?w=525" appended to image links, but this reduction in size occurs whether that parameter is set within the code editor or not. Also, when the theme is switched from any other theme back to Twenty Seventeen, the resizing issue occurs.

Shown in

[2021-10-19 14:32] #4844 closed, assigned to nobody

[2021-10-19 14:52] beafialho opened #4871 "Videomaker: Header bottom padding for pages without titles"
While editing the [demo site](https://videomakerdemo.wordpress.com) and recreating the homepage, I noticed the spacing in the `header-footer-only` template is the same as in other pages (170px).

In this template though, can we have less spacing (50px) to make it identical to the Figma mockup?

| Demo Site      | Figma |
| ----------- | ----------- |
|   <img width="1531" alt="Captura de ecrã 2021

[2021-10-19 14:57] jackiejade commented on #155
32283363-hc

[2021-10-19 15:24] beafialho commented on #4653
Here it is:

[2021-10-19 15:31] supernovia opened #4872 "Spearhead: Option to show tags and categories on post"
## Expected
User is hoping for clickable tags and categories to appear on the posts page, as many themes have that on single posts; sometimes even on the list of posts. AFAIK there is not a block / content options /  FSE setting for that, so, I'll file this request!

* User report: https://wordpress.com/forums/topic/bug-in-spearhead-theme/

[2021-10-19 17:51] isocialtish opened #4873 "Morden: Add Tiktok icon to Social Icons"
**Steps to replicate**

- Open the Customizer and create a social menu
- Add a TikTok link to the menu

**Result**
A generic link icon appears in the menu instead of the TikTok logo

**Expected**
For the TikTok logo to appear - support for that logo was added to Jetpack social menus in https://github.com/Automattic/jetpack/pull/18563, and it works as expected in TwentyTwenty, for example. But acco

[2021-10-19 19:18] #4858 closed, assigned to nobody

[2021-10-19 19:26] jshwlkr opened #4875 "Blockbase: npm run create:child throwing error"
## Steps to replicate

On OSX 10.15.7
After grabbing the theme folder from the repo I try to run `npm run create:child themetest`.

## Result

It appears something about `node-sass` is causing the process to error. Not sure if this is on my end or not, I can't tell what I'm looking at anymore.
[2021-10-19T19_19_27_070Z-debug.log](https://github.com/Automattic/themes/files/7376151/2021-10-19T19_19_

[2021-10-20 01:43] danieldudzic commented on #3484
@scruffian Thanks for the reminder.

It seems that the Core version doesn't need this, as it doesn't specify the left and right margins at all:
[code]

[2021-10-20 08:17] scruffian commented on #4860
The pagination issue is solved by https://github.com/Automattic/themes/pull/4805

[2021-10-20 08:48] #4791 closed, assigned to MaggieCabrera

[2021-10-20 09:44] jeffikus commented on #4812
@pbking it looks like our TRAC ticket has been closed, would we need to resubmit a new ticket?

[2021-10-20 09:57] MaggieCabrera commented on #4812
New trac ticket: https://themes.trac.wordpress.org/ticket/107158

[2021-10-20 10:49] KokkieH commented on #3280
Another report in https://wordpress.com/forums/topic/very-small-font-size-again-in-the-editor/?view=all

Theme: Button 2

[2021-10-20 11:30] MaggieCabrera commented on #4812
I submitted that one but I think we should submit blockbase at least too, since we did the index.php change there...