[2021-12-16 14:54] apload-gmbh commented on #4880
The reason was finally another Plugin for AMP and not your Theme Hever.

[2021-12-16 16:55] pbking opened #5215 "Remove Kerr and Payton from /pub"
Kerr and Payton are being removed from the github repo [here](https://github.com/Automattic/themes/pull/5142).

Additionally they must also be removed from the deployment repository.  They are currently in BOTH /pub and /premium but should be removed from /pub.

Due to those themes using a parent in another repository (blockbase) we are waiting to complete that transition until that situation is b

[2021-12-16 17:00] pbking commented on #5215
Duplicate.
Also already done.
(oops)

Closing.

[2021-12-16 17:00] #5215 closed, assigned to nobody

[2021-12-16 18:54] #5146 closed, assigned to matiasbenedetto

[2021-12-16 18:55] #4978 closed, assigned to MaggieCabrera

[2021-12-16 20:17] kjellr opened #5216 "[Livre] Design and implement drop-cap"
Drop caps are currently turned off for Livre. That's just a remnant of some Twenty Twenty-Two code though. I need to work on re-enabling that and ensuring that drop caps appear as intended.

[2021-12-16 20:19] kjellr opened #5217 "[Livre] Look into using small caps instead of italics"
Look into opportunities to use small caps in Livre.

[2021-12-17 01:05] jeyip opened #5219 "Blank Canvas 2: Rename to Blank Canvas Blocks"
Per our discussions in P2s and slack, we want to settle on a common slug for all FSE versions of themes. We've decided to add a trailing `-blocks` suffix. Because of this, we should rename `blank-canvas-2` to `blank-canvas-blocks`.

- pNEWy-exw-p2#comment-53986
- p1639648911155000/1639573034.112300-slack-C029FM1EH

[2021-12-17 01:44] danieldudzic commented on #1263
This seems to be not correct. A valid content will display correctly, even if the sidebar is not present.

If you look at the content added on the user's site: https://kcmpdwordpresscom.wordpress.com/2019/08/15/importance-of-independence-day-2019/ - it's a mess of HTML markup.

I would have been surprised if it _didn't_ break anything.

I'd recommend to the user, to use Gutenberg blocks and avoid

[2021-12-17 01:44] #1263 closed

[2021-12-17 03:19] sarahcada commented on #3703
Another report: 33247697-hc
Using Bantry (Seedlet child theme). The workaround helped!

[2021-12-17 12:52] carinapilar opened #5242 "TextBook: Invisible Post Titles on Blog Posts Block Inside Posts"
### Quick summary

When you add the Blog Posts block inside a post, the post titles aren't visible.

### Steps to reproduce

1. Activate the TextBook theme on your site.
2. Create a new post.
3. Add the Blog Posts block on it - you would want to have a couple of published posts that would show on the block.
4. Publish the post and check the post on the live site.

### What you expected to happen

[2021-12-17 15:37] zdenys commented on #3279
Another case: 4617470-zd-woothemes

[2021-12-17 16:04] mikachan commented on #4831
I think this must've been fixed by https://github.com/WordPress/gutenberg/pull/35514, as the text color changes seem to be working now. We looked at some similar issues around that time that were all fixed by this issue, and this also looks very similar.

Here is what I'm currently seeing on Hemingway Rewritten:

https://user-images.githubusercontent.com/1645628/146572826-e88fab2a-ac5d-4892-9bfd-5

[2021-12-17 16:04] #4831 closed, assigned to nobody

[2021-12-17 20:14] masperber opened #5257 "Custom font is shown in the editor but not on the live site"
### Quick summary

In 7188885-hc, this user has set their font to Overpass in their customizer. On the live site and in the customizer preview, the font is not shown, but it is shown in the editor.

User is using the Russell theme. I switched the site to the Quadrat theme and the site could once again set custom fonts. After switch back to Russell, the issue came back.

On my test site, I could no

[2021-12-17 21:45] #5219 closed, assigned to jeyip, zaguiini

[2021-12-17 22:07] Nyiriland opened #5225 "Blank Canvas: post comment block styling issues"
## Steps to replicate

- Blank canvas theme
- Add Comments block in page content, publish
- Look at the site's frontend

## Result

See demo site https://nyiriland.wordpress.com/

1. Alignment in comment block is different from default page comments (comment body text should not be indented).
2. Additionally, the text size is much smaller; should this be happening?

![image](https://user-images.gi

[2021-12-17 22:15] simison commented on #5146
Thanks for the quick fix! Note that this caused some follow-up needs described in https://github.com/Automattic/themes/issues/5225 🙂

[2021-12-17 23:53] jeyip opened #5226 "Kingsley: Global Styles Background Color Doesn't Work"
## Steps to replicate

The Global styles background color doesn’t appear to apply properly in Kingsley

### Frontend
<img width="1496" alt="Screen Shot 2021-12-17 at 3 45 35 PM" src="https://user-images.githubusercontent.com/5414230/146620139-c580d445-1e7e-4849-b174-e837d2f49430.png">

### Editor
<img width="1496" alt="Screen Shot 2021-12-17 at 3 45 07 PM" src="https://user-images.githubuserconten

[2021-12-18 00:04] creativecoder commented on #3202
`full-site-editing` is still the [plugin slug for the Editing Toolkit Plugin](https://wordpress.org/plugins/full-site-editing/). There should be an up to date version of the plugin on every Atomic site, but it may not be activated, particularly for older sites.

<img width="954" alt="image" src="https://user-images.githubusercontent.com/1699996/146621030-bc870163-63cb-4bdd-b5cf-7c6e4ad3df72.png">

[2021-12-18 01:46] creativecoder commented on #5226
Right now it looks like the text and background colors of the main content are controlled by individual block styles, rather than global styles. I tried removing all of the block text and background styles, but the cover block has styles that override the global styles settings.

If a group block with padding is used, rather than a cover block, along with removing block styles, the text and backgr

[2021-12-18 03:26] danieldudzic commented on #5018
Fix: D71937-code

[2021-12-18 03:57] danieldudzic commented on #5170
This doesn't seem to be a very poignant issue to me. That's just how Canard styles buttons. It's also an old theme. What would make sense imho is to include in Gutenberg support for setting a custom border-color for the Poll button (in addition to already existing controls for Text and Background).

[2021-12-18 05:12] nagpai commented on #3279
Related to this?
https://github.com/Automattic/themes/issues/4789

[2021-12-18 06:59] zdenys commented on #3279
Seems like it. Thanks for linking!

[2021-12-18 14:27] rosepajaroja commented on #2806
I encountered the same issue today.

With Rowling theme:

![Alt text](https://d.pr/i/oHRy0n/wUzoIGpwls+)

With Twenty Twenty theme:

![Alt text](https://d.pr/i/bEylUL/WZJpFJ5oun+)

In the meantime, I shared CSS from Nagesh (thank you! 😊 ).

ZD-4622805

[2021-12-18 18:08] creativecoder commented on #5219
@jeyip @zaguiini I think only the slug was supposed to change to `blank-canvas-blocks`, and the theme name should be the same as the previous one, "Blank Canvas". This theme will be available to non-FSE beta sites, so I think having "Blocks" in the name will be quite confusing for those users.

@scruffian @jeffikus  @kjellr for confirmation.

[2021-12-18 18:17] AtrumGeost opened #5243 "Donations block "is-selected" class not grabbing the right color variable on Varia themes"
### Quick summary

When having a Varia theme active, the donations block won't provide visual feedback about the selected amount

### Steps to reproduce

1. Activate a Varia-child theme like Morden or Shawburn
2. Add a Donations block to a page or post
3. View the page
4. Notice selecting a donation amount doesn't provide any visual feedback

Notice the CSS code:

![Screen Shot on 2021-12-18 at 13

[2021-12-18 23:47] simison opened #5276 "Black Canvas: Link in bio template shows up with white heading"
### Quick summary

When adding "Antonio Miller" page template (or pattern), it shows up with a transparent heading in Blank canvas theme:

![image](https://user-images.githubusercontent.com/87168/146657837-f1b77c27-326b-4a8f-aafa-2d6c83c6fead.png)

### Steps to reproduce

- A site with blank canvas theme (non-blockbase version)
- Add new page
- From templates, pick "Antonio Miller"
- Note transpar

[2021-12-19 02:37] hacchism opened #5244 "Active tab color for Donation Block"
### Quick summary

On some themes(like Radcliffe 2, Independent Publisher 2), if you choose white as site background, an active tab for Donation Block gets invisible as both background and text color become white.

### Steps to reproduce

1. Activate Radcliffe 2 or Independent Publisher 2.
2. Create a new page and set up a Donation Block.
3. Go to `Customize > Color & Backgrounds` and make sure to

[2021-12-19 23:13] scruffian commented on #3202
I think we can close this. If a site doesn't have Jetpack Global Styles you can enable it by enabling the WordPress.com Editing Toolkit plugin.

[2021-12-20 02:24] creativecoder opened #5227 "Blockbase: add additional block-based footer layouts"
Blockbase has only one footer layout, and needs additional footer layouts.

When there are multiple options for a template part, the Template Part block toolbar will show a replace button, making it easy to replace the default layout with another one.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/1699996/146702647-e1ba31aa-8ab9-4085-81e0-49939edb5fbb.png">

However,

[2021-12-20 08:01] kriskorn commented on #3202
@scruffian I think I may not have been very clear above.

I have just reset my Atomic test site. It has Twenty Twenty One symlinked and all the default plugins installed. The **WordPress.com Editing Toolkit** is installed, but that does not do anything. This plugin has a slug of `full-site-editing`.

However, on your test site, I can see a plugin with a slug of `editing-toolkit` is active, but `fu

[2021-12-20 08:06] MaggieCabrera commented on #5227
This is a good idea, I think we could bring Skatepark's footer to Blockbase too as a 3 column example. Keen to hear design ideas @kjellr and @beafialho

[2021-12-20 08:56] MaggieCabrera opened #5228 "Videomaker: check Blockgap usage after GB change"
After https://github.com/WordPress/gutenberg/pull/37459 was merged there are a few instances where we are overriding the theme's blockGap that won't work anymore:

Before | After
--- | ---
<img width="1759" alt="Screenshot 2021-12-20 at 09 56 11" src="https://user-images.githubusercontent.com/3593343/146739990-93e0635b-3364-4f58-97cc-9d3451bc749a.png"> | <img width="1479" alt="Screenshot 2021-12-2

[2021-12-20 09:05] #4591 closed, assigned to scruffian

[2021-12-20 09:05] #4964 closed, assigned to scruffian

[2021-12-20 09:05] #4965 closed, assigned to scruffian

[2021-12-20 09:22] scruffian commented on #5219
Done here: https://github.com/Automattic/themes/pull/5230

[2021-12-20 09:23] MaggieCabrera opened #5231 "Skatepark: search page bugs"
Looks like at some point we lost the separation between header and content in the search.html template:

<img width="1291" alt="Screenshot 2021-12-20 at 10 19 45" src="https://user-images.githubusercontent.com/3593343/146743391-143181f3-baa3-4842-9023-9f9fbee2060d.png">

Looks like there's no design for this page, since the index.html of Skatepark shows the posts on a grid. I think we should alter

[2021-12-20 09:28] MaggieCabrera opened #5232 "Skatepark: Navigation menus text color"
When using one of our custom palettes, the color of the submenu isn't the primary one:

<img width="387" alt="Screenshot 2021-12-20 at 09 59 06" src="https://user-images.githubusercontent.com/3593343/146744469-4c09c5e1-fddd-4286-9168-2bb5817250cb.png">

[2021-12-20 09:31] #4355 closed, assigned to mikachan

[2021-12-20 09:32] #5182 closed, assigned to scruffian

[2021-12-20 09:32] scruffian commented on #4993
This should have been fixed by #5212

[2021-12-20 10:00] #4993 closed, assigned to nobody

[2021-12-20 11:19] simison opened #5236 "Arbutus: "header spacer" is confusing"
In the header there's this empty "header spacer" template part that shows up in the editor as plus-button:

<img width="1364" alt="Screenshot 2021-12-20 at 13 15 39" src="https://user-images.githubusercontent.com/87168/146759070-a53c8959-1324-4e00-9598-62b230a305a9.png">
<img width="1816" alt="Screenshot 2021-12-20 at 13 14 50" src="https://user-images.githubusercontent.com/87168/146759080-48d81a3

[2021-12-20 11:28] MaggieCabrera commented on #5228
Related to the patterns that use the Columns block: https://github.com/WordPress/gutenberg/pull/37436

[2021-12-20 14:45] aleone89 opened #5237 "All block first themes:: Jetpack Portfolio post type is unsupported"
## Steps to replicate

Users looking to use the block editor and full site editing with a Jetpack Portfolio are currently unable to do so.

1. Go to WordPress.com > Appearance > Themes > activate a block first theme.
2. Go to Portfolio ( https://wordpress.com/support/portfolios/ )
3. Add a new portfolio item

## Result

Portfolios are currently not activated.

## Expected

To be able to create a n

[2021-12-20 21:22] danieldudzic commented on #5112
This is a Jetpack issue. I was able to replicate it with other themes too.

Themes add support for SVG icons via:
[code]

Ideally, Jetpack should only output SVG code for icons that are present.

[2021-12-21 08:55] #1843 closed

[2021-12-21 11:20] simison commented on #5236
Convo https://github.com/WordPress/gutenberg/issues/37529

[2021-12-21 11:21] MaggieCabrera commented on #5236
Possible solution here https://github.com/Automattic/themes/pull/5238

[2021-12-21 11:32] zdenys commented on #433
This user was surprised to find no way to change fonts globally 4628384-zd-woothemes

[2021-12-21 16:11] MaggieCabrera opened #5240 "Blockbase: rename Gutenberg functions"
In 12.2 some functions were renamed as per https://github.com/WordPress/gutenberg/issues/37379

This will break our customizer scripts on Blockbase from that version onwards.

I'm getting the following error locally when I try to change colors on Skatepark:

[code]

[2021-12-21 18:44] cometgrrl commented on #5761
@Automattic/flow-patrol-create is this something that you would work on? Or should it go somewhere else?

[2021-12-21 19:48] jordesign commented on #4607
Confirmed this behaviour

[2021-12-21 20:03] jordesign commented on #5203
Scrubbed and confirmed this - but I'm seeing it happening in Blockbase (and other child themes) - so that makes it a lot higher priority.

[2021-12-21 20:10] jordesign commented on #5202
OK - confirmed this happens in both BlockBase and Varia themes - with slight differences.

### Varia

* Hover effect no longer works with custom background color set
* Hover effect *does* still work when custom text color set

### Blockbase

* Hover effect no longer works if *either* custom background or custom text color set.

[2021-12-21 20:12] jordesign commented on #4374
Closing in favour of #5202 3991

[2021-12-21 20:13] #4374 closed, assigned to nobody

[2021-12-21 20:28] jordesign commented on #4622
Interestingly - for me the same issue occured in the editor as well - regardless of the color selected as the 'Link color' of the heading block - it showed as black

<img width="1236" alt="Screen Shot 2021-12-22 at 7 27 12 am" src="https://user-images.githubusercontent.com/1842363/146993380-b9160817-c61a-4b5e-b4fc-363cb1a480b2.png">

[2021-12-21 22:26] danieldudzic commented on #437
Fix: D72122-code

[2021-12-22 00:20] Greatdane commented on #5257
I can only reproduce on the user's site. Weirdly, the CSS shows Overpass as the font, but it doesn't load that 🤷

<img width="523" alt="Markup 2021-12-22 at 09 17 01" src="https://user-images.githubusercontent.com/5075840/147014202-71d20ff5-d5d0-44f7-b5da-c7341fc30fac.png">

[2021-12-22 00:55] Greatdane commented on #5244
@jordesign this is similar to https://github.com/Automattic/themes/issues/5243 - not sure if you want to merge them.

[2021-12-22 09:35] scruffian commented on #4022
We looked at this and decided that it would be too big a change to the theme, so closing this as wontfix, sorry :(

[2021-12-22 09:35] #4022 closed, assigned to nobody

[2021-12-22 10:26] alshakero commented on #5761
Hi @mikejolley! Sorry for the random ping, need your help a bit.

I did some debugging and I think the faulty line behind this bug is this [line](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/legacy/css/woocommerce.scss#L117). I would send a PR, but I'd need to set up a local env for this single line change. This line seems to cover all the themes that don't specificall

[2021-12-22 11:42] mikejolley commented on #5761
@alshakero Any change to that line is going to impact other themes that inherit the style, and as evident in the screenshots, not all themes using this style appear to be impacted.

Why is it not ideal to style WooCommerce components if there is a conflict?

FYI I'm not on the team looking after Woo core, that would be @Automattic/proton. Issues would need to be logged here: https://github.com/woo

[2021-12-22 11:55] jorpdesigns opened #5249 "Can't disable "Read More" link in the Blog Posts block when using the Barnsbury theme."
### Quick summary

When using the Barnsbury theme, the Blog Posts block shows the "Read More" link when this setting has been disabled.

The link doesn't show in the Editor but you can see it in the front end.

### Steps to reproduce

1. Activate the Barnsbury theme.
2. Ensure you have a couple of posts added with minimum 50 words (to trigger "Read More" link).
3. Add a Blog Posts block and disabl

[2021-12-22 12:44] danieldudzic commented on #5016
Fix: D72136-code

[2021-12-22 12:51] mikeicode commented on #5761
@mikejolley

I meant it's not ideal to rely on support to provide custom CSS to resolve this issue.

I assume CSS _would_ need to be used to fix the issue within the theme.

[2021-12-22 13:09] mikachan commented on #4208
This will be fixed with WordPress/gutenberg#37412, which is due to go into GB 12.3, so I think this can be closed.

[2021-12-22 13:09] #4208 closed, assigned to mikachan

[2021-12-22 15:49] scruffian commented on #4622
The problem is that the link color is also being set on the group at a higher level. I think it would be good to improve the pattern so that the text color is set on the group rather than on the heading block. The specific issue mentioned here is a Gutenberg issue - I created an issue for it in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/37582.

I have also updated the patter

[2021-12-22 15:49] #4622 closed, assigned to nobody

[2021-12-22 16:35] #5232 closed, assigned to nobody

[2021-12-22 16:37] #4191 closed, assigned to pbking, matiasbenedetto

[2021-12-22 16:38] #3684 closed, assigned to mikachan

[2021-12-22 20:02] jordesign opened #5247 "Baskerville 2: Grey background color added to Horizontal Rules"
### Quick summary

The CSS for Baskerville 2 now seems to add a grey background color to HRs. This is effecting other elements/ blocks like the CoBlocks 'Dynamic HR' block.

### Steps to reproduce

1. Activate Baskerville 2 theme.
2. Create a page/post with a 'Dynamic HR' block. Confirm it appears with no background in the editor

<img width="732" alt="Screen Shot 2021-12-23 at 6 50 07 am" src="ht

[2021-12-22 20:06] jordesign commented on #5247
This seems to be the offending code in the Baskerville 2 stylesheet

[code]

Also noting it seems to effect the 'Separator' block (which also uses an HR) - but it is less obvious

[2021-12-22 23:12] danieldudzic commented on #5247
Fix: D72197-code

[2021-12-22 23:20] #5240 closed, assigned to nobody

[2021-12-23 00:58] Greatdane commented on #5249
Something weird is going on with this block and theme yes;

<img width="1032" alt="Markup 2021-12-23 at 09 54 45" src="https://user-images.githubusercontent.com/5075840/147171721-14f0b91e-d50c-46f7-877e-82f4adab246a.png">

With 'Read More' disabled you get still get 'Continue Reading', and with it enabled, you get both!

[2021-12-23 07:48] mriyazuddin commented on #5018
Another issue here: 4555627-zen

[2021-12-23 15:33] i11za opened #5258 "Posting Spaceless Text Results in Longer Excerpt/Preview Text and/or Disables "Read More" Link/Button"
### Quick summary

When spaceless text of any length is used in a post, post excerpts/preview text character limit is not respected, the entire post is displayed on the posts page, and no 'Read more' links or buttons are enabled in themes where this feature is available.

This applies to both new as well as edited posts. Adding spacing only in the first paragraph doesn't change this, seems like an

[2021-12-23 16:22] base-creme opened #5252 "Add one more font to customizer with a blockbase child theme"
Hi !

I want to add one more font to customizer with my blockbase child theme
Test with Lato (Google font)

## Test directly in the parent theme (blockbase)

I saw the font list in folder inc/customizer/wp-customize-fonts.php
I tested the following code in the parent theme (blockbase) :

`'lato' => array(
			'fontFamily' => '"Lato", serif',
			'slug'       => 'lato',
			'name'       => 'Lato',

[2021-12-23 18:57] sstabrizi opened #5259 "Duotone: Overlay not showing as expected on the front end."
### Quick summary

Duotone is working properly when added to a cover block in the editor. However, when looking at the cover block on a live site duo tone is not applied at all.

### Steps to reproduce

1. Add Cover block.
2. Add Duotone of choice.
3. Update the page.
4. View the page live and see that Duotone isn't applied.

### What you expected to happen

Duotone settings should be the same on

[2021-12-23 18:59] sstabrizi commented on #5259
This is likely related to this issue as well: https://github.com/wpcomvip/2u-v2/issues/1782

[2021-12-23 20:30] darnelldibbles commented on #4700
This sounds like it may be a related issue: https://wordpress.com/forums/topic/links-in-galleries-not-colored-anymore/?view=all

[2021-12-24 02:22] Greatdane commented on #5259
Replicated on mentioned themes, but it is not present on all (for example, Quadrant applies the Duotone correctly).

[2021-12-24 03:21] jordesign commented on #4161
Confirmed thia behaviour is present.

[2021-12-24 03:28] jordesign commented on #4177
Appetite is retired now and only has 1,336 active installs. Based on a single report, with a relatively easy workaround (and no further reports in ~6 months) I'm proposing to close this. Happy to discuss opening again if it seems needed.

[2021-12-24 03:28] #4177 closed, assigned to nobody

[2021-12-24 03:30] jordesign commented on #4196
This theme is now retired and has only 2,593 active installs. Based on the severity of the issue, and no further reports in ~6 months I'm going to close this for now. Happy to discuss and re-open it if it seems needed.

[2021-12-24 03:30] #4196 closed, assigned to nobody

[2021-12-24 03:33] jordesign commented on #4203
Looking through old issues - and wondering if this is a bug or just a theme decision?

@formosattic I know this was a long time ago - but do you have any idea of the actual severity of this? The theme is now retired and has less than 2000 installs. This will likely remain very low priority - and I'd be inclined to close it unless you think otherwise?

[2021-12-24 03:38] jordesign commented on #4204
This theme is now retired (and has ~2000 active installs). With no further report in ~6 months this is likely to remain very low priority. If this particular user contacts us again - the best course of action would be for them to change to a non-retired theme.

I'm going to close this - but am happy to discuss and re-open if it seems needed.

[2021-12-24 03:38] #4204 closed, assigned to nobody

[2021-12-24 03:42] jordesign commented on #4567
confirmed this behavior. With ~2m installs - this would be a nice thing to get fixed quickly.

[2021-12-24 03:53] jordesign commented on #4179
I can no longer recreate this issue - but it seems to have been replaced by another one with custom button colors:
https://github.com/Automattic/themes/issues/5202

Closing this now.

[2021-12-24 03:53] #4179 closed, assigned to nobody

[2021-12-26 23:41] brittanygray902 opened #5255 "Theme: Zoologist--- Menu can not be removed without CSS"
## Steps to replicate

1. Activated Zoologist as theme
2. Created pages
3. Viewed customizer

## Result
-menu populated on its own:
1. https://d.pr/i/Ax6kCC
2. https://d.pr/i/R5fM6b

This happened even with no menu created ^

##Temporary Workaround

I did find a work around with CSS, although this is temporary:

/*hide menu in site header | 32679987-hc*/
.site-header .wp-block-navigation {
display

[2021-12-27 01:51] jerrysarcastic opened #5256 "Sequential: Byline is not shown in entry meta."
## Steps to replicate
No need to replicate this can be observed by visiting the [theme demo site](P5ePuv-1H-p2) and loading any blog post.  If you examine the source code the byline info is shown, but it not visible on the site:

<img width="990" alt="Markup 2021-12-26 at 17 46 04" src="https://user-images.githubusercontent.com/1967448/147426268-2ad92a2e-358e-4dba-af4a-50005b8db093.png">

Does not

[2021-12-27 02:56] formosattic commented on #4430
+1 33256877-hc

Shared CSS as temporary fix.

[2021-12-27 07:16] formosattic commented on #4203
@jordesign user has followed-up on this again, there hasn't be other report, so it looks safe to close.

[2021-12-27 22:24] supernovia commented on #5256
Jennifer pointed out this may be one of those themes that hides the author if there's only one on the site. I think she's right, as I can see the author name in my testing.

[2021-12-28 00:39] kelasante opened #5263 "Photos Theme: Unable To Scroll Down to Bottom of Dropdown Menu in Resized Browser Windows"
### Quick summary

On a site that has the Photos Theme with a drop-down menu with a lot of menu items (> 10), you are unable to scroll to the bottom of the menu if the browser window has been resized.

### Steps to reproduce

1. Activate the Photos theme on a site and create a drop-down menu that has more than 10 items. eg. https://colotestrodeo1345again.com/
2. Resize your browser window by reduc

[2021-12-28 07:39] formosattic commented on #5257
Can't reproduce either on my test site.

Looks like all the user's post are using the Classic bock, but I tested with it on my own site, and the custom font was still applied.

User noted that it was working a couple of weeks ago and then randomly the font changed and won't switch back.

User is satisfied with the CSS fix, no follow-up needed.

Transferring to Themes repo for a closer look.

[2021-12-28 20:46] metabreakr commented on #16
Re-opening this issue, as a user in 4643284-zen is unable to see a specific post when clicking on "older posts" in a certain category. They are not able to activate infinite scroll, as they have footer widgets active.

[2021-12-29 00:21] supernovia commented on #5259
I'm seeing the same thing on images.  Tested by applying a Duotone filter to one of the images on the default page with Twenty Twenty-one. It shows up fine in the editor, but on the site itself the filter isn't there at all.

Arbutus: works
Bingley: doesn't work
Zoologist: works

This user has Blank Canvas and might be complaining of the same issue.
https://wordpress.com/forums/topic/color-and-fil

[2021-12-29 08:04] kosiew commented on #5189
#4644387-zen reports the same issue for `Morden` too.

[2021-12-29 13:33] ClassicRKR27 commented on #155
Another report here: 4644512-zd-woothemes

[2021-12-29 18:34] msilbers commented on #5259
reported in 33405784-hc by a customer
theme: Blank Canvas
Atomic site

[2021-12-29 19:38] archcort commented on #5001
Hello there, I'm experiencing the same problem even with php8.0. Can't save changes in the color scheme.
<img width="1008" alt="Screenshot 2021-12-29 at 22 28 52" src="https://user-images.githubusercontent.com/7091354/147696977-ff1effa1-b6d7-4229-9bd1-57808ec39333.png">

[2021-12-29 19:56] connorhipps commented on #5259
I'm getting another report of this in the following ticket: [4644527-zd-woothemes](4644527-zd-woothemes)

The domain is [https://refine-artpsych.com/](https://refine-artpsych.com/) and the theme is Hever. Images appear with the Duotone filter on the backend but appear differently when published.

[2021-12-30 00:02] dcoleonline commented on #5259
I found a CSS workaround for a user in 4634686-zen but only for cover blocks. Here are the relevant parts of the code I shared with them:

[code]

It probably would need to be tweaked on a per-site basis and it isn't 100% the same as the duotone effect, but it was close enough to hold them over until we have a proper fix.

[2021-12-30 00:11] dcoleonline commented on #5259
I attempted to provide a CSS fix for 4644527-zen, as they wanted duotone on image blocks.
I tested some code from cssduotone.com and I was able to adjust it to this:

[code]

I can't get this code to work on a simple site. I think some of the code, specifically this part below, isn't being allowed:
[code]

The code does work for me on Atomic sites though. It just requires that the duotone effect i

[2021-12-30 11:52] zdenys commented on #5259
Another case 4636226-zd-woothemes

[2021-12-30 12:37] poojashetty18 opened #5264 "Geologist: Related posts are not visible"
### Quick summary

A user came on chat(33337894-hc) mentioning that the related posts are not visible on their existing themes i.e Geologist, Zoologist, Blockbase themes.

I could recreate the issue on my test site

### Steps to reproduce

1. Activate any of the new block-editor themes ( I tested Geologist, Zoologist, Blockbase)
2. Have a few posts published with related content( categories, etc)

[2021-12-30 13:18] NatzJoy opened #5260 "Exford: unexpected behavior in Global Styles with color editing"
### Quick summary

A ticket has been logged this user 4644213-zen

When navigating to _Appearance →Customizer →Colors & Backgrounds_ and selecting the option to edit the Background color in the first circle, nothing happens. When clicking it again and the color dropper appears, if you change the color to any random color it only proceeds to change the background to white, distorting the page as sh

[2021-12-30 14:57] kylemcph commented on #2938
Another report via 29883060-hc.

What I found was the image captions only displayed incorrectly when the image was set as to "Align center". When we changed alignment to "None", the captions displayed correctly.

We also found that the images were displayed correctly via Firefox, but incorrectly via Chrome and Safari.

[2021-12-30 14:59] kylemcph commented on #3850
Looks like this is a duplicate of issue #2938, which has been closed and moved to Trac.

[2021-12-30 15:01] kylemcph commented on #3850
User report: 29883060-hc
Theme: Natural

What I found was the image captions only displayed incorrectly when the image was set as to "Align center". When we changed alignment to "None", the captions displayed correctly.

We also found that the images were displayed correctly via Firefox, but incorrectly via Chrome and Safari.

Provided workaround to set image alignment to "None".

[2021-12-30 15:01] kylemcph commented on #3850
Looks like this is a duplicate of issue Automattic/themes#2938, which has been closed and moved to Trac.

[2021-12-30 21:01] ClassicRKR27 commented on #1639
I've got another report here: 33420356-hc
Will provide temporary fix.

Follow-up ticket: 4648441-zd-woothemes

[2021-12-31 07:24] kosiew commented on #5258
Hi @i11za,

Thanks for reporting this and the detailed steps.

Transferring to themes repo for further action.

[2021-12-31 07:29] kosiew commented on #5259
Moving the themes repo.

[2022-01-02 16:35] ChrissiePollock opened #5305 "Latex Displays Wrong on Button 2 Theme"
### Quick summary

When adding  LaTeX within a post, the final result shows the equal sign at the same level as denominators using the Button 2 theme. It shows properly with other themes.

### Steps to reproduce

1. Set your site to the Button 2 theme.
2. Create a post.
3. Add the code: `A = $latex \bf\displaystyle\frac{1}{2}$ × $latex \bf\displaystyle\frac{1}{4}$ = $latex \bf\displaystyle\frac{1}

[2022-01-02 17:45] lizkarkoski commented on #5259
Another  instance of duotone failing to display outside of the editor. Site is using seedlet theme.
https://wordpress.com/forums/topic/duotone-now-not-working-on-my-site-suddenly/?view=all#post-3773186

[2022-01-03 17:02] kjellr commented on #5227
Yeah — we should add more. We can probably borrow from Twenty Twenty-Two as well. But I think they should actually be patterns, not template parts.

[2022-01-03 19:15] KirkwallDay commented on #1997
Another report here: 4655792-zen

Disabling Lazy Load fixed the issue with one exception:

Posts that have a video embedded in them will still show the gap, even with Lazy Loading disabled. Disabling Asset CDN and Image CDN did not help with this.

[2022-01-03 19:15] pbking opened #5261 "Blockbase: Site Editor WSOD due to malformed USER JSON"
When customizing customized fonts in a Blockbase theme the USER JSON becomes malformed and causes a WSOD in the Site Editor.

## Steps to replicate

Using an older version of both Gutenberg (12.1.0) and Blockbase (2.0.6 using tag/v1.0.43) set custom fonts via the Customizer.

Note the USER JSON:

[code]

Upgrade Gutenberg to 12.2.0 and Blockbase to 2.0.9 (tag/v1.0.46)

Attempt to customize the fon

[2022-01-03 19:27] pbking commented on #5261
[This](https://github.com/Automattic/themes/pull/4980) change seems related as does [this](https://github.com/Automattic/themes/pull/5251) one.

[2022-01-03 22:05] connorhipps opened #5287 "Dalston: Cover Block Color Overlay Working Unexpectedly"
### Quick summary

The user's Cover Blocks are working differently than they once were. Previously, when the Cover Blocks were set to "Hover Reveal" under Styles, the image would only dim and overlay a color when hovered over. Now, there is a constant color overlay, whether hovered over or not. https://cln.sh/oZBAYr

### Steps to reproduce

1. Start at https://wordpress.com/pages/littlefinchdesign

[2022-01-04 02:56] kosiew commented on #5244
#5243 pertains to the amount section.

This issue relates to the frequency tab and is different.

[2022-01-04 08:44] formosattic commented on #5263
Thanks for the report.

Transferring to Themes repo.

[2022-01-04 09:53] zdenys commented on #501
Another case in 4655173-zd-woothemes

Frontend | Customizer
--- | ---
![image](https://user-images.githubusercontent.com/39308239/148041016-d8626cac-a59f-47ac-95c0-89460264fef2.png) |  ![image](https://user-images.githubusercontent.com/39308239/148041165-da23c2ac-f4c3-42c5-88e6-7fb645e1713c.png)

[2022-01-04 09:53] formosattic commented on #5264
Able to reproduce with Quadrat themes.
![image1](https://user-images.githubusercontent.com/15944096/148041150-1098b0d5-6bee-4db5-b478-44fcdc9a0ee9.png)

Transferring to Themes repo.

[2022-01-04 11:32] rickmgithub commented on #5287
User replied with more screenshots - 4656698-zen

They pointed out it works in the editor but not on the published site.

[2022-01-04 13:03] renata-franco opened #5306 "Button 2: Fancy Cornered images on sidebar do not get fancy at the bottom"
### Quick summary

Theme Button 2 has a bug when using Fancy borders on the sidebar for an image, the borders only get fancy at the top, not the bottom of the images.

### Steps to reproduce

1. Activate Button 2 theme.
2. Go to My Site → Appearance → Widgets → Sidebar.
3. Add an Image Block.
4. Select "Fancy" Style for the image.
5. Update Sidebar.
6. Check the homepage.

### What you expected to

[2022-01-04 13:35] dolgelukkig opened #5288 "Cubic: Media in Media & text block overlaps text"
### Quick summary

When adding the Media and Text block to a post or page the image overlaps the text. It happens whether the image is aligned to the left or to the right but it's worse with the left alignment.  It looks alright in the editor.
![Markup on 2022-01-04 at 14:23:24](https://user-images.githubusercontent.com/5507879/148066998-41f8e73a-9514-4be7-8c34-88850d52242b.png)

This is when the

[2022-01-04 14:18] carladoria opened #5301 "Blank Canvas: Underlined on post titles don't show on mobile view"
### Quick summary

Post titles are underlined on desktop but not on mobile view.

### Steps to reproduce

1. Activate Blank Canvas
2. Set homepage to show latest posts
3. Review how post titles show on desktop. They show an underline. REview how this show on mobile view.

### What you expected to happen

Posts should also show underline on mobile view as in desktop

### What actually happened

Pos

[2022-01-04 14:37] eduardozulian commented on #4374
For the sake of cross-posting things, #3991, the second number is the right issue!

[2022-01-04 15:27] #5029 closed, assigned to nobody

[2022-01-04 16:18] zdenys commented on #5259
Another case: 4652083-zd-woothemes with theme Illustrar.

[2022-01-04 19:16] kjellr opened #5267 "[Livre] Revise default button style"
Buttons in Livre currently look like this:

<img width="240" alt="Screen Shot 2022-01-04 at 2 15 27 PM" src="https://user-images.githubusercontent.com/1202812/148111777-74cd19ce-011d-4e7a-b991-31b2c4440683.png">

This doesn't match up well with the sophisticated quality of the rest of the theme. We should revise.

[2022-01-04 19:22] kjellr commented on #5217
I tried out a few options here, and I think using all caps for _just_ the site title seems like the best route:

Current|🌟 Recommended
---|---
![Screen Shot 2022-01-04 at 14 10 56](https://user-images.githubusercontent.com/1202812/148111389-3a896d70-3fc5-472d-a153-dbce57174637.png)|![Screen Shot 2022-01-04 at 14 06 53](https://user-images.githubusercontent.com/1202812/148111402-f6773071-f18f-42c5-

[2022-01-04 19:27] beafialho commented on #5217
I agree, changing just the site title looks elegant. Everywhere else I really like how italics look 👍

[2022-01-04 19:58] darnelldibbles commented on #1777
Related issue reported here: https://wordpress.com/forums/topic/change-site-header-size/?view=all#post-3774100

Will let the user know that there may or may not be a fix coming

[2022-01-04 20:15] matiasbenedetto commented on #1738
I'm not able to reproduce this issue.
I add a video showing my changes to widgets using Twenty Twenty with WP 5.8.2 and the current Gutenberg dev version:
https://user-images.githubusercontent.com/1310626/148117932-39671bbf-7881-4141-842a-82acdc4b9f98.mp4

[2022-01-05 00:38] tanjoymor commented on #5244
Ran into another case of this with both the top active tabs AND the amount tabs not coloring properly. User report: 33485098-hc

CSS to override it that worked:

[code]

[2022-01-05 03:41] danieldudzic commented on #5203
This is caused by https://github.com/Automattic/woocommerce/blob/75c341494c318f79695fe8a2247737eb329d67a7/plugins/woocommerce/assets/css/woocommerce.scss#L117

I'm not 100% sure, but since it affects multiple themes, perhaps it should be fixed in WooCommerce core?

(They also seem to be legacy styles)

[2022-01-05 04:29] danieldudzic commented on #4391
This seems to be super low priority.

I'd close this as `wontfix`

[2022-01-05 06:40] KokkieH opened #5270 "Huntt theme: Archive pages don't load when pressing Back button in Safari"
### Quick summary

In the Huntt premium theme (retired), when clicking Back in the browser to return to the archive page after viewing a single post or portfolio project, the archive page sometimes just doesn't load, and a refresh is needed to have it load again.

### Steps to reproduce

1. View any archive page, i.e. the posts page or the `/portfolio` page
2. Click through to view a specific post

[2022-01-05 06:47] Robertght opened #5269 "Huntt: using the back button in Safari displays an empty page"
## Steps to replicate

1. Access the main page.
2. Go to the portfolio archive
3. Access a project page
4. Click on the Back button on the browser
5. Check the results(it should be an empty page)

## Result

Nothing displayed.

## Expected

To get the previous page.

As a workaround, I had to refresh the page.

* User report: 4656933-zen
* Follow-up ticket: 4656933-zen

[2022-01-05 06:55] Robertght commented on #5269
I'm closing mine in favor of this: https://github.com/Automattic/themes/issues/5270

[2022-01-05 06:55] #5269 closed, assigned to nobody

[2022-01-05 06:56] Robertght commented on #5270
I have transferred this to the themes repo and closed mine: https://github.com/Automattic/themes/issues/5269

[2022-01-05 07:27] essleeung commented on #5288
User wrote back and noted the same behavior in the Boardwalk theme as well.

[2022-01-05 10:36] poeticabdul opened #5271 "Hever: Drop-down menus not visible when a light primary color is selected"
## Steps to replicate

Seems that when choosing a light primary color the hover background color for sub menu items is set to white and the text is then no longer visible.

1- Make a drop-down menu
2- Choose a light primary color for the theme. For example `#ffb302`

![Screenshot at Jan 05 10-33-54](https://user-images.githubusercontent.com/4719037/148203314-49870198-5413-4f06-8580-1d6bc85e8554.pn

[2022-01-05 12:58] mikachan commented on #4580
Possible fix for Twenty Sixteen here: D72519-code

[2022-01-05 15:43] matiasbenedetto commented on #1738
Potential fix: https://code.a8c.com/D72543

[2022-01-05 15:52] devNigel opened #5302 "Cover Block: The image is not shown on Firefox when Duotone filter is applied."
### Quick summary

The cover block image does not load in the Firefox browser after you apply the Duotone filter on it.

### Steps to reproduce

1. Add Cover block to a page or a post.
2. Apply Duotone filter and publish the page.
3. Observe the page on Firefox and Chrome.
4. You will notice that the image is loading on Chrome, but not in Firefox.

Screenshot from Chrome:

![image](https://user-im

[2022-01-05 16:03] matiasbenedetto commented on #1738
~Possible fix here: D72543-code~

[2022-01-05 16:34] KirkwallDay opened #5274 "Label Theme doesn't show Pay With Paypal block in sidebar."
## Steps to replicate

Have a site with the Label Theme active, and then put a Pay With Paypal block in the sidebar widget area.

Widget Settings:
![Screen Shot 2022-01-05 at 9 31 46 AM](https://user-images.githubusercontent.com/49131029/148253864-b3311b58-e3f6-42b0-bcc4-30b6504149c3.png)

Live site:
![Screen Shot 2022-01-05 at 9 32 44 AM](https://user-images.githubusercontent.com/49131029/1482538

[2022-01-05 17:19] matiasbenedetto commented on #3625
I tested this today: January 5th, 2022. I was not able to reproduce the issue.

[2022-01-05 19:14] matiasbenedetto commented on #3625
I'm closing the ticket but feel free to re-open it if you are able to replicate the problem.

@katiebethbrown @AtrumGeost are you still able to reproduce this issue? Could you bring more details, please?

[2022-01-05 20:58] brinbliss opened #5275 "Quadrat: Header anchors do not properly close or jump to anchor on mobile menu"
## Steps to replicate

On Quadrat, add a menu entry on the homepage as an `#anchor` heading within the homepage.

![Screen Shot 2022-01-05 at 3 46 41 PM](https://user-images.githubusercontent.com/91641320/148287467-f95e2c7d-725e-49c1-8de2-9f7d29534165.png)

## Result

On the desktop site, the page will jump to the the appropriate heading when a menu link is clicked. On the mobile menu, clicking on

[2022-01-05 21:25] kathrynwp commented on #5257
User is running into this same problem with Russell in 4658802-zen. They only have a Personal plan so CSS workaround isn't an option.

They say it had been working fine until one day they clicked on "Reset to default" and after that, their font selections were no longer being reflected on the front end.

I cannot replicate on a test site either.

[2022-01-05 21:54] tavilla61 opened #5359 "Button Block visible in Editor, but not in Preview or on the live site"
### Quick summary

The Button Block is within a Media & Text Block, and is visible in the editor, but not when previewing or visiting the live site. It seems to be taking on the background color of the Media & Text Block.

<img width="1927" alt="Screen Shot on 2022-01-05 at 14-02-09" src="https://user-images.githubusercontent.com/33466168/148295227-ec585e31-0097-4277-805d-9b294612eb21.png">
<img w

[2022-01-05 23:56] cuemarie opened #5494 "Blockbase on Non-FSE Sites: Link Previews prioritize image on page over Site Icon when no featured image is set"
### Quick summary

Not sure if this is a bug or intended behavior, but it doesn't quite match our documentation, so I wanted to report it.

On a non beta-editor site with a Blockbase theme installed, the theme seems to recommend images added to the page rather than the site icon for link previews, when no featured image is added to the homepage.

### Steps to reproduce

1. Activate a Blockbase the

[2022-01-06 00:02] devNigel commented on #733
Another report for an AT site: 4662336-zen

[2022-01-06 00:35] katiebethbrown commented on #3625
@matiasbenedetto - I can still repro the original issue on an Atomic site. It works as expected on a simple site.

You can see it happening on my test site here:

https://kbbatomicbusiness.wpcomstaging.com/test/

With settings as follows:
- Excerpt Setting: Summary
- Content Options: Full Post

Let me know if you need more detail. 👍

[2022-01-06 04:10] jerrysarcastic opened #5277 "Libre 2: Pre-defined "default" font size missing in paragraph block settings"
When adding a new paragraph block the text defaults to the "default" font size set by the theme.  However that size is not visible in the predefined sizes in the block settings (small, medium, large, etc.) under this theme.  If you experiment with other font sizes, there is no way to get back to the default, other than to set 16px as a custom font size.

## Steps to replicate

1. Add new paragraph

[2022-01-06 08:17] zdenys commented on #5259
The core issue is here: https://github.com/WordPress/gutenberg/issues/37598

[2022-01-06 11:46] mikachan commented on #5247
I can't seem to replicate this on my sandbox, for some reason the coblocks CSS is slightly different for me. Here's what I can see on the front end:

![image](https://user-images.githubusercontent.com/1645628/148374068-d7e1eca2-d003-400e-97e3-bfbe8db5ecb6.png)

This is a Dynamic HR and then a Separator block. The background on the Dynamic HR is being overwritten by the coblocks CSS because of the

[2022-01-06 19:44] jordesign commented on #5259
As this isn't a core issue - I'm closing it in favour of the WP-Calypso issue we'll use to track the core issue
https://github.com/Automattic/wp-calypso/issues/59787

[2022-01-06 19:47] #5259 closed, assigned to nobody

[2022-01-06 20:50] sajmes opened #5337 "Arbutus menu locations not functioning as expected"
### Quick summary

A user reported not being able to hide their primary menu which was being displayed in the footer (social menu location) of their simple site using Arbutus despite not being set to do so.

When the no menu is set to display in the primary menu location, the menu still displays there as well.

I could replicate on my own site.

### Steps to reproduce

1. Set a primary menu and to

[2022-01-06 21:43] metabreakr opened #5372 "Libre 2: Drop-down menus don't scroll on some viewport/screen sizes"
### Quick summary

Depending on the size of a user's browser window, a drop-down submenu cannot be scrolled if the menu items aren't visible outside the viewport. This seems to be an issue with the ratio of the screen size, though that's conjecture on my part.

Here's a screencast:

![Screen Capture on 2022-01-06 at 14-32-27 (3)](https://user-images.githubusercontent.com/39252765/148456170-2660738

[2022-01-07 00:28] courtneyr-dev commented on #5131
I had the same experience today with 5.9 RC1, Blockbase Version: 2.0.4, Gutenberg Nightlies Version 12.4.20220105

[2022-01-07 00:32] bph commented on #5131
It also happens with
WordPress 5.9 RC1
Gutenberg 12.3 plugin installed

[2022-01-07 00:46] courtneyr-dev commented on #5131
I just noticed the differences in the links to Editor (beta).

1. wp-admin/site-editor.php
2. wp-admin/themes.php?page=gutenberg-edit-site

[2022-01-07 01:10] danieldudzic commented on #4830
I'm struggling to activate the header ads on https://adtestsite.me.

Could you please provide additional guidance regarding the location of this setting?

Thank you! 🙏

[2022-01-07 09:27] #5231 closed, assigned to nobody

[2022-01-07 09:27] #5216 closed, assigned to kjellr

[2022-01-07 09:31] #5267 closed, assigned to kjellr

[2022-01-07 09:37] #5217 closed, assigned to kjellr

[2022-01-07 13:53] zdenys commented on #5337
Another case 33187676-hc

[2022-01-07 13:58] mriyazuddin commented on #4638
Another one here: 4652021-zen

[2022-01-07 15:58] sajmes opened #5384 "Shoreditch: An 'About' Block Pattern using layout grid appears incorrectly"
### Quick summary

The Block Pattern shown in the screenshot displays incorrectly when used with Shoreditch (and possibly other themes).

The content overlaps horizontally.

<img width="1920" alt="Screenshot on 2022-01-07 at 10-54-17" src="https://user-images.githubusercontent.com/76757079/148569898-1aa26f4b-2661-4d52-99a0-531a0690be84.png">

### Steps to reproduce

1. Use the Block Picker to add

[2022-01-08 02:37] formosattic commented on #3991
+1 33429033-hc

[2022-01-08 02:58] brookewp opened #5673 "FSE themes have generic social icon for social navigation menu"
### Quick summary

New FSE themes only show a generic social icon for all links. For FSE, social icons can be added through the site editor but there are some customers who don't have it enabled and only have the customizer option.

<img width="786" alt="Screen Shot 2022-01-07 at 11 29 38 AM" src="https://user-images.githubusercontent.com/35543432/148628967-4e085a1c-6bf7-405f-b332-bc5df095e135.png

[2022-01-09 08:09] formosattic opened #5286 "Various themes, Form block: outline of submit button is missing."
### Quick summary

Issues happens with certain theme.

Outline missing with Karuna (user report), Baskerville 2.
Outline shows fine with Twenty Twenty-One, Quadra, Barnsbury.
I just tested a few themes, so the issue might happens with others.

User says it looked ok as of a month ago, so this appears to be related to some recent updates.

### Steps to reproduce

1. Add a Form block
2. Set submit b

[2022-01-10 00:58] happychait commented on #4080
Another report in 33569409-hc

[2022-01-10 14:25] pbking commented on #4080
Checked this again prompted from the HC report.  Found it to still be working as-expected:

![image](https://user-images.githubusercontent.com/146530/148781720-55885d75-1cdb-4b20-8758-bc24db5169b4.png)

![image](https://user-images.githubusercontent.com/146530/148781786-4e8cdc7f-dce1-406a-8a67-bb358591d3ff.png)

![image](https://user-images.githubusercontent.com/146530/148781807-0be999d9-9d72-47e9

[2022-01-10 14:52] kerrynicl commented on #5286
Observed issue on Twenty Twenty Theme

[2022-01-10 16:16] kerrynicl commented on #5288
Could replicate on both Boardwalk and Cubic themes

[2022-01-10 17:20] i11za commented on #5257
User is running into a similar issue with Quadrat in 33579160-hc / 4674912-zen.

Additionally, it's possible to change the font for `body` in Customizer on a static page, but it doesn't work with headings, or on pages where content is displayed via Blog Posts block, for instance.

They're on a Premium plan, so going to suggest the CSS workaround.

Resetting to default doesn't help.

I'm unable to

[2022-01-10 18:57] matiasbenedetto commented on #1738
Possible fix here: D72771-code

[2022-01-10 19:09] ClassicRKR27 commented on #5761
Another report here: 33462327-hc

This is using the Russell theme.

[2022-01-10 21:14] AtrumGeost commented on #4730
Got another report here:

33586519-hc

[2022-01-10 22:57] freelylovinglife opened #5292 "Twenty Thirteen: Color changes in Customizer are not reflected on Gutenberg Editor"
### Steps to reproduce
1. Go to Appearance > Customizer > Colors & Backgrounds
2.  Choose a color for content links, video and audio
3.  You will notice that all colors do not take affect when changing the color.
### What you expected to happen
Link color should change based on color selected in customizer
### What actually happened
All colors do not change
### Context
e.g. Customer report, detail

[2022-01-10 23:04] scruffian commented on #5261
This was reverted so it needs reopening

[2022-01-11 14:29] ghost commented on #5274
User report: 28214520-hc
We checked with TwentyTwentyOne and Shawburn too and the block does not show up both for the user's site and my test site too.

Suggesting workaround: There is another way user can add PayPal payments to their sidebar and footer. If they're comfortable copying and pasting a bit of code from PayPal's website, they can use the method outlined here: https://wordpress.com/supp

[2022-01-11 17:10] NoHopeRadio commented on #631
Just reporting another iteration of this, several years later: #33602178-hc

Although in this case, the cropped version isn't loading at all.

[2022-01-11 17:43] metabreakr opened #5373 "Blockbase: social menu links do not open in new tab even if link target is set"
### Quick summary

Once a social menu has been set, and the link target has been set to "Open link in a new tab", the menu links still open in the same browser tab.

### Steps to reproduce

1. Create a new social menu
2. Add custom links to Facebook, Twitter, etc.
3. Ensure that the links are set to "Open link in a new tab"
4. Visit site and click the links
5. Observe that the links do not open in

[2022-01-11 18:22] NoHopeRadio commented on #2438
Another case in #4670884-zen

#p9cu9o-3a2-p2

[2022-01-11 20:12] masperber commented on #5011
Another report here: 32361806-hc

I made a workaround with the following CSS:
[code]

[2022-01-11 21:46] creativecoder commented on #5227
For me, the important part is that the flow for changing the existing template part is easily discoverable, like the screenshot with the replace button in the issue description. I don't think patterns get us that discoverability right now, but I haven't tested.

[2022-01-12 05:44] Greatdane commented on #5301
It looks to be more of an iOS thing. It also does not underline on Safari on desktop

[2022-01-12 05:56] Greatdane commented on #5302
I am going to move this to themes, as I tested our recommended block-based themes and they all worked, but some older themes (tested Hemmingway and Twenty Twenty) and they did not work.

[2022-01-12 05:57] Greatdane commented on #5302
@devNigel could you let us know which theme you tested it on?

[2022-01-12 06:06] devNigel commented on #5302
I tested on the following themes:

-  Radcliffe 2
- Twenty Twenty-One

[2022-01-12 09:02] #5261 closed, assigned to nobody

[2022-01-12 09:12] KokkieH commented on #5373
I've confirmed this is happening on Zoologist as well, so our Blockbase child themes are also affected.

[2022-01-12 11:20] vinnykaur commented on #4833
Also reported with Zoologist on 4668180-zen and 4635990-zen

[2022-01-12 13:13] courtneyr-dev commented on #5131
Tested with WP 5.9 RC2 and Gutenberg Nightlies Version 12.4.20220111. There is now only one instances of Editor and it uses the link wp-admin/themes.php?page=gutenberg-edit-site.

![image](https://user-images.githubusercontent.com/5519705/149146918-c00d8630-2e05-476c-bf31-377ca9d83199.png)

[2022-01-12 13:22] Robertght commented on #5257
Another case #4679105-zen

[2022-01-12 13:22] kjellr commented on #5227
Yeah, pattern discovery at the moment is limited. But there are already explorations to try and improve that: https://github.com/WordPress/gutenberg/issues/31747#issuecomment-948601592

[2022-01-12 13:49] pbking commented on #5257
This issue MAY be addressed by [this change](https://github.com/Automattic/themes/pull/5295) which was recently deployed.  If anyone is able to validate the cases noted above with this recent change perhaps we can close this.  Otherwise I will try to delve deeper to find the cause.

[2022-01-12 15:34] Lazza commented on #1794
I assume there is no intention in pursuing a simple CSS fix here, right? Can I open a PR and hope it will get checked by someone?

[2022-01-12 16:21] brinbliss commented on #5257
I checked this new change on 4679105-ZD, but the font family is still showing as "undefined" inside of Inspect and the theme will not accept any updates to the font.

edit: I did remove the custom CSS workaround before testing this change.

[2022-01-12 18:57] wpshellbelle commented on #4030
Another report at 33603108-hc

[2022-01-13 02:17] joweber123 opened #5390 "Theme Kerr - Subscribe Block Font Color"
### Quick summary

On the homepage demo of the Kerr theme, the subscribe block, the font is black and stays black even when inserting text.  This makes it hard to read.

![Markup on 2022-01-13 at 11:11:24](https://user-images.githubusercontent.com/24914028/149253474-44125b05-154e-41a7-8e17-642ba2305e8b.png)

### Steps to reproduce

1. Go to kerrdemo.wordpress.com and scroll down to the subscriber

[2022-01-13 04:21] edwinho89 opened #5347 "Blockbase theme: Multiple Levels of Submenu Appearing behind First Level Submenu"
### Quick summary

When creating multiple levels of submenus under Blockbase theme, the first submenu displays under parent menu as expected.

However, subsequent level of submenus appear behind submenus instead. Meaning, Submenus of submenus appearing on the left hand of first submenu.

https://user-images.githubusercontent.com/34882260/149257049-58712a9e-4a58-4924-bf75-77183b5373c7.mp4

### Step

[2022-01-13 05:21] Greatdane commented on #5305
Confirmed, moved to themes!

[2022-01-13 05:26] Greatdane commented on #5306
Adding it in the footer only gives you fancy on the top left side of the image!

<img width="1039" alt="Markup 2022-01-13 at 14 25 12" src="https://user-images.githubusercontent.com/5075840/149270903-101fe291-a3f1-46c3-9389-6ccebb827cd1.png">

[2022-01-13 07:39] arunsathiya opened #5397 "Gazette: Sale price is not visible because it's white on a background of white"
### Quick summary

When a WooCommerce site is using Gazette theme, the sale price is not visible because it appears in white with a background of white.

### Steps to reproduce

- Start with an Atomic site.
- Install WooCommerce.
- Add a product with actual price and sale price.
- Use Gazette theme.

### What you expected to happen

Sale price is visible.

### What actually happened

Sale price is

[2022-01-13 07:56] arunsathiya opened #5398 "Hever: When WooCommerce's "Store notice" is enabled, footer menu is not visible"
### Quick summary

On a site with Hever theme, enabling WooCommerce's "Store notice" hides the footer menu.

### Steps to reproduce

- Start with an Atomic site.
- Install WooCommerce and add a product.
- Activate Hever theme.
- Setup footer menu.
- Enable "store notice" on the Customizer.

### What you expected to happen

Footer menu is visible.

### What actually happened

Footer menu is hidden.

[2022-01-13 09:58] scruffian opened #5308 "Blockbase: Use the Global Styles rest API in the customizer"
In  https://github.com/WordPress/gutenberg/pull/35801 a Global Styles API was introduced. We should reconsider the implementation of our Customizer/Global Styles bridge, to take advantage of this new API.

Alternatively we could just use the new style switcher in Gutenberg.

From https://github.com/Automattic/themes/pull/5307

[2022-01-13 10:03] arunsathiya commented on #5398
Of that note, not all themes show the store notice at the bottom. Geologist, for example (p1642061689270900/1642060858.259700-slack-C03TY6J1A), shows it at the top.

[2022-01-13 11:20] ivan-ottinger commented on #2566
Hey folks! We run into this issue while adding Link color support to some of the Jetpack blocks as a part of this project: pdDOJh-6-p2.

When the Background and/or Text color is set, the Link color is overridden (in both - backend and frontend).

The following example is using the core Paragraph block (Seedlet theme). The block-based Seedlet theme is working correctly.

Backend:
![Markup on 2022-0

[2022-01-13 12:51] ivan-ottinger commented on #5016
Just noting that it is possible to reproduce the issue with other blocks as well, e.g. Heading block. The CSS is overridden:

![Markup on 2022-01-13 at 13:49:11](https://user-images.githubusercontent.com/25105483/149333329-4ddd895a-65b0-4f6b-a155-415ac3a4dbcb.png)
(similar as Ben shared above)

[2022-01-13 15:33] cintacks commented on #3279
There's a similar user report here here: 4670884-zd
They're using [Getty image embeds](https://wordpress.com/support/images/getty-images/#embedding-an-image-with-an-embed-code) instead of the assumed way of adding images to each post. The height calculation is thus incorrect as the Getty embed is inserted _after_ the post height is set so you end up with overlapping posts.

To replicate:
- Add a f

[2022-01-13 16:22] #5131 closed, assigned to nobody

[2022-01-13 16:27] #5025 closed, assigned to nobody

[2022-01-13 16:38] #5105 closed, assigned to matiasbenedetto

[2022-01-13 17:38] enthusemarc opened #5313 "Blockbase: Forum pages for bbpress not loading content"
guys,

I've come back to WP after a decade away, and set up a local test site under MAMP. All good.

I've installed blockbase, and built a child theme, to learn the new editing conventions. Mostly fine.

Now, I'd like the live site to contain a forum, so I've installed **bbpress**, and created a couple of test forums. Fine as far as the back end is concerned, but all the **view links give me a bla

[2022-01-13 18:56] AtrumGeost opened #5740 "FSE Beta: Custom palette colors go away when saving a change in the Customizer"
### Quick summary

The custom palette disappears when saving a change in the Customizer

### Steps to reproduce

1. Set a custom color inside FSE using the **"Styles" > Colors > Palette > Custom** option
2. Assign the color
3. Save the changes
4. Preview the site. All good!
5. Go to the Customizer and make a change, like the font, and save changes
6. Notice the custom color is gone

https://user-i

[2022-01-13 22:12] KirkwallDay commented on #5274
Another one here with the Arcane theme: 4679630-zen.

[2022-01-13 23:37] jordesign opened #5321 "TwentySeventeen: Unable to use 'highlight' text color on links"
### Quick summary

When using the TwentySeventeen - the inline 'Highlight' tool will not change the color links in paragraphs or headings. Background 'highlight' color works - but not the text color itself.

### Steps to reproduce

1. Activate TwentySeventeen
2. Add a new page and insert a paragraph or heading - and then link some of the text.
3. Use the inline 'Highlight' tool to set a custom tex

[2022-01-13 23:40] jordesign commented on #5321
It looks like the dynamic CSS for the link color is being over-written for some reason:

HTML

[code]

Screenshot of CSS in browser inspector

<img width="1356" alt="Screen Shot 2022-01-14 at 10 40 14 am" src="https://user-images.githubusercontent.com/1842363/149425997-4453dd9d-d2b8-45cc-b719-4e40e5248ec0.png">

[2022-01-14 06:43] Greatdane commented on #5392
@eoinsav I am able to close the menu even on free sites (using blank canvas)?

See:

https://user-images.githubusercontent.com/5075840/149463343-a4ef409f-45e1-4f25-b9cf-f8ea7ae8e2b3.mp4

Closing for now, but let me know if it still happens for you (and in the case, what browser, device etc please!)

[2022-01-14 11:21] Robertght commented on #2064
Another case in 4683437-zen but this seems to be influenced by the current layout, mostly the full-width block which contains the wide columns. I've used the same workaround for now.

[2022-01-14 12:31] jeffikus commented on #2488
Closing this as the PR's are merged.

[2022-01-14 12:31] #2488 closed

[2022-01-14 13:44] marianearchimbaud commented on #222
I run into this same issue with a user using Dara theme: 33568199-hc
I asked them to please deactivate the AMP plugin, and the menu started working on mobile devices.

[2022-01-14 14:28] #5209 closed, assigned to matiasbenedetto

[2022-01-14 16:24] kjellr opened #5327 "[Livro] Wide/full items do not appear as intended on archive/index templates"
Wide/full items within post content do not actually go wide/full on the home and archive page templates. They should do that.

Index/Archive Template (No wide/full)|Single Post (Working fine)
---|---
<img width="1152" alt="Screen Shot 2022-01-14 at 11 22 59 AM" src="https://user-images.githubusercontent.com/1202812/149549638-5ad4760a-52d7-4589-a46a-acb8bb1e28d0.png">|<img width="1152" alt="Screen

[2022-01-14 16:25] kjellr commented on #5327
I took a brief look at this, but got lost in nested `"layout":{"inherit":true}` settings. 😕 If someone else has a little time to help investigate that would be great. Seems like it's probably something small that's missing.

[2022-01-14 17:26] carinapilar opened #5343 "Arbutus: Submenus on Dropdown Showing on Left Side"
### What

When you create a submenu inside another one, the items are expanding to the left, not to the right as they usually do.

### Why

The arrow on the submenu also indicates that it would open to the right, but the menu shows the left:

![LeftSubmenuMenu](https://user-images.githubusercontent.com/16104522/149558499-c0f1d87d-cfd4-49be-8567-3d75f7231da8.jpg)

### How

Not sure if this is expec

[2022-01-14 18:19] carinapilar opened #5349 "Apostrophe 2: Cookie Banner Showing in Front of Content"
### Quick summary

The cookie banner on a site with Apostrophe 2 is showing in front of the content.

### Steps to reproduce

1. Activate the Apostrophe 2 theme on a free site.
2. Check the live site.

### What you expected to happen

That the cookie banner would show on the bottom.

### What actually happened

The cookie banner is showing in front of the content.

### Context

It's the default ba

[2022-01-14 22:46] metabreakr commented on #5349
https://wordpress.com/forums/topic/gray-horizontal-line/

[2022-01-15 01:08] cuemarie opened #5348 "Twenty Twenty One: Post Carousel block won't display images at full-width"
### Quick summary

On sites with Twenty Twenty One theme installed, the Post Carousel block will not display images at full-width.

They seem to max out at a certain width and appear aligned left, leaving empty space on the right (more noticeable the wider your display gets)

### Steps to reproduce

1. Activate Twenty Twenty One on a site with at least one published post (with a featured image, if

[2022-01-15 07:39] emilijamurdzoska commented on #5349
Two other members are running into this exact issue. One uses the Apostrophe 2 theme and one uses the twenty-sixteen theme. It's possible this to be affecting other themes

https://wordpress.com/forums/topic/horizontal-line-appears-on-blog/

[2022-01-15 11:14] emilijamurdzoska commented on #5349
Members are reporting the same issue for different themes as well:

https://wordpress.com/forums/topic/canape-theme-4/#post-3777661
https://wordpress.com/forums/topic/widget_eu_cookie_law_widget-displayed-line-in-post/

[2022-01-15 16:21] emilijamurdzoska commented on #5349
Another member with the twentysixteen theme experiencing the same issue
https://wordpress.com/forums/topic/dark-horizontal-line/

[2022-01-15 20:12] ChrissiePollock commented on #5171
In #33675975-zen it was reported that Quadrat Black did not show anything when in Try & Customize mode. I was able to replicate.

[2022-01-16 01:25] courtneyr-dev opened #5336 "Blockbase: Styles > Colors > Links is empty"
## Steps to replicate

Using the Blockbase theme, Styles > Colors > Links is empty. Text and other color options are defined. I would expect a default color assigned to links.

https://user-images.githubusercontent.com/5519705/149643742-a730398a-3ac4-49be-80a7-a5a40766e83c.mp4

## Result

Colors > links is empty.

## Expected

A default color to be assigned for links.

* User report:
* Follow-up t

[2022-01-16 09:59] i11za opened #5345 "Various themes: Social icon block padding issue"
### Quick summary

Icons in Social Icons Block appear distorted when added to footer widgets area.

### Steps to reproduce

1. Activate Twenty Seventeen (although got a similar result on Twenty Nineteen) on either a Simple or Atomic site. If on Premium plan and higher make sure there's no Additional CSS related to Social Icons block.
2. Add a **Social Icons** block under *Appearance → Widgets → Fo

[2022-01-16 15:21] yoavf opened #5338 "Toujours: quote block missing margins in the editor"
## Steps to replicate

On a site with the Toujours theme, add a Quote block

## Result

The quote block will be missing the right margin in the editor.

Example:

<img width="500" alt="Screen Shot 2022-01-16 at 17 15 10" src="https://user-images.githubusercontent.com/844866/149666082-3f93a8d9-9b84-473a-bd04-e425d9ee7858.png">

## Expected

The quote block is aligned the same way as the rest of the

[2022-01-16 16:05] courtneyr-dev commented on #5336
Using Gutenberg seems to provide the Styles > Colors > Links as expected, and also restores Customizer. Without Gutenberg, this still breaks.

https://user-images.githubusercontent.com/5519705/149667705-87e28a5a-13cd-459f-adb8-a0ec8499f4b2.mp4

[2022-01-16 21:09] kathrynwp opened #5351 "Shawburn: When setting Primary colour in Customizer, button hover turns white"
### Quick summary

When setting a Primary colour in Shawburn in the Customizer, hovering over any buttons turns the background white

### Steps to reproduce

1. Activate Shawburn on a Simple or Atomic site
2. Go to Appearance > Customize > Colors & Backgrunds
3. Choose a colour under Primary:
![Customize__Global_Styles_Demo_–_An_awesome_tagline](https://user-images.githubusercontent.com/7662449/14

[2022-01-17 03:32] happychait commented on #1601
The issue with Slideshow block, in 33232812-hc

[2022-01-17 06:57] thesacredpath opened #5339 "Blask: Widgets not showing in some locations and only one widget area showing in Customizer"
## Steps to replicate

User asking why widgets are now showing on their pages, with the exception of the blog and single post pages.

According to the info page for Blask, it has two footer widget areas, and those will be displayed in the following locations.

* All pages except projects and portfolio archives.

What is observed on the user's site and my test site is that static pages do not show

[2022-01-17 07:46] KokkieH opened #5340 "Twenty Sixteen: Cookie notice displays border"
## Steps to replicate

* Enable Twenty Sixteen on a free site
* Make sure site is set to public, and not hidden from search engines.
* View site in an incognito browser tab (just to make sure the cookie notice appears)

## Result

A thick black border appears about half a centimetre above the cookie notice, making it appear that a random line is being drawn across the site. Disappears when the not

[2022-01-17 09:50] mxhassani commented on #5345
Similar issue in 4691175-zen
   * Theme: Argent

   ![image](https://user-images.githubusercontent.com/81776920/149743347-a0c3b214-0d1a-4255-a227-216cfc23a420.png)

* Similar report but for Penscratch 2: 4519-gh-Automattic/themes

* The workaround applies. Having a narrower selector on the CSS would be advised:

[code]

[2022-01-17 10:41] mriyazuddin opened #5341 "Adaption theme: Hamburger menu on mobile devices doesn't respond"
## Steps to replicate

* Its a retired theme but I'm still submitting this bug report here as I believe its a major issue with menu not working on a website using this theme.
* Open this site for example that is using Adaption theme currently: ccc-hk.live or t-mr-personal1.com (my test site) on a mobile device or simulator.
* The hamburger menu appears on upper-left hand side. Try clicking/tapping

[2022-01-17 10:48] fresatomica opened #5342 "Quadrat: Outdated version in the .org repository"
## Steps to replicate

Download the theme version from the .org repository.
On a test site, use a non-Latin (Cyrillic) alphabet in the menu.

## Result

The Cyrillic does not display, letters are replaced by other signs.
When downloading the theme from the WordPress.com library, everything works as expected.

## Expected

On .org you can download the v 1.1.31 of the theme, while on .com 1.1.33 is

[2022-01-17 11:20] peterfabian commented on #5761
Is there a reason to not change the CSS in the Blockbase theme? I don't see us doing any `!important` magic or anything else that would be strange in Woo core, so it seems preferable to me to change the styling in the theme itself?

[2022-01-17 11:35] devNigel opened #5344 "Twenty(15,16,17): Alignment issue for the List block on some themes"
### Quick summary

The list block is outdented on the following themes and it looks odd.

* Twenty Fifteen
* Twenty Sixteen
* Twenty Seventeen

### Steps to reproduce

1. Activate the theme on a simple or AT site.
2. Create a page and add the List block between Paragraph blocks.
3. You will notice that List block item bullets are outdented.

### What you expected to happen

The list block should a

[2022-01-17 11:47] alshakero commented on #5761
@peterfabian that would work, but it also means the base styles will keep this bug, and another theme will probably be bitten by it. Personally, I think it makes more sense to fix the root cause, but I never worked on Woo, so take me with a grain of salt.

[2022-01-17 12:41] sophiegyo commented on #4324
Report in #5022296-hc

I suggested the workaround of checking "display on single pages" in Content Options, or suggested switching to another theme in the meantime.

[2022-01-17 13:26] kerrynicl commented on #5351
@kathrynwp Hi There, I'm not able to replicate this on either a simple or AT site. Could you confirm if this is still happens on your end?
![Screen Capture on 2022-01-17 at 08-22-44 (1)](https://user-images.githubusercontent.com/83325600/149777156-6cd425fc-b40d-470f-9c1d-b1999a459802.gif)

![Screen Capture on 2022-01-17 at 08-16-28 (1)](https://user-images.githubusercontent.com/83325600/149776173-

[2022-01-17 13:55] scruffian commented on #5342
We should automate this: https://github.com/Automattic/themes/issues/5013

cc @pbking

[2022-01-17 14:03] kerrynicl commented on #5347
Other report [here: #5343 ](https://github.com/Automattic/themes/issues/5343)

[2022-01-17 14:04] kerrynicl commented on #5343
closing in favor of #5347

[2022-01-17 14:04] #5343 closed, assigned to nobody

[2022-01-17 15:37] kathrynwp commented on #5351
@kerrynicl Yes, it's still happening. Please check out the "Portfolio" button on my test site here: P2xeYC-1th-p2 (will try to keep this running Shawburn until you can take a look!)

[2022-01-17 16:19] kerrynicl commented on #5351
After testing with @kathrynwp on this one, the bug starts when the theme is "Default" first then with primary colour customized. Theme also seems to be caching previous colour settings when activated and not loading theme default settings
![Screen Capture on 2022-01-17 at 11-14-47](https://user-images.githubusercontent.com/83325600/149805120-57811f96-9b06-4c11-b430-5a0243c4d8ce.gif)
.

[2022-01-17 17:48] TPilgs opened #5352 "Boardwalk Theme: Customizer accent color on Atomic sites"
## Steps to replicate
1. Start from an Atomic site
2. Install the Boardwalk theme
3. Change "Accent Color" under Customizer > Colors and Backgrounds.
4. Go to a page editor and check the styles of the buttons on Hover.
In addition, through the Classic editor when you click on Add Media the tab for Upload Files won't show properly.

https://d.pr/i/acctnM

## Result

The background of the buttons ch

[2022-01-17 17:57] Gustavo-Hilario commented on #5244
Another report here: 4685108-zd-woothemes

I shared the above CSS code as a workaround for now.

[2022-01-17 22:31] supernovia opened #5353 "Blockbase & Fam: No space between menu items in Safari 14.0.x"
## Steps to replicate
- View a site with a menu using an older browser, like Safari 14.0.1 (circa fall 2020)

## Result
Menu in the upper right has no space between items due to poor flex support in older browsers

## Expected
Space between menu items, even on slightly older systems

* User report: https://wordpress.org/support/topic/menu-borked-on-osx-safari/
* Follow-up ticket: n/a

![blockbase

[2022-01-17 22:34] jerrysarcastic commented on #5349
Also reported in
https://wordpress.com/forums/topic/display-error-black-line-over-text/
https://wordpress.com/forums/topic/a-line-appears-in-the-middle-of-the-screen/

[2022-01-17 22:35] jerrysarcastic commented on #5349
Also noted here:  https://github.com/Automattic/themes/issues/5340

[2022-01-18 01:20] jerrysarcastic commented on #5349
This appears to have been fixed in D73234-code so I'm closing this but feel free to re-open if there are more reports

I've confirmed all user sites seem to be working correctly and have let them know.  @carinapilar I have not let your user know since they will probably prefer to hear it in Portuguese but their site appears to be fine as well, thanks!

[2022-01-18 01:20] #5349 closed, assigned to nobody

[2022-01-18 01:23] jerrysarcastic commented on #5340
This appears to have been fixed in #5349 so closing this issue.

[2022-01-18 01:23] #5340 closed, assigned to nobody

[2022-01-18 07:43] Robertght commented on #5345
I found another case with Lodestar. #4695996-zen

I'm not sure this is theme-specific anymore.

CC @jeffikus for a second look ( or @chad1008 in case this is more widespread)

[2022-01-18 08:52] MaggieCabrera commented on #5353
I believe this is a Gutenberg issue, not specific to the theme. It's the block that does the spacing.

[2022-01-18 09:23] peterfabian commented on #5761
Hm, I see what you're saying, but the base styles are used by many other themes and we don't know which override this and which don't. If there are themes that don't, then we'd break them. The question is, is the set of themes that rely on this behavior smaller or larger than the set of themes that are broken by this CSS rule? I don't think we can easily tell, but I'd err on the side of caution an

[2022-01-18 09:36] danielk-am commented on #4267
Encountered a similar issue on 4696803-zen.

Screen shots below:

![Annotation on 2022-01-18 at 17-26-43](https://user-images.githubusercontent.com/92185881/149909663-11594baf-9190-4d46-8ebb-48df0e866e6c.png)

![Annotation on 2022-01-18 at 17-28-05](https://user-images.githubusercontent.com/92185881/149909727-3bf62c73-277e-4e82-a2c7-2c3f079e78e2.png)

Current workaround:

[code]

The above targets

[2022-01-18 10:15] alshakero commented on #5761
Hi @peterfabian! Thanks for your elaboration and patience. I dug deeper, and it seems the fault is entirely on Blockbase's end. I thought it was in Woo because the base styles locked the field's width to `3.631em`(50px), the field has a total padding of `20px`, `box-sizing: border-box`, and it has spin buttons, meaning the content has `0px` left for it.

Upon further digging, it seems the padding

[2022-01-18 11:55] alshakero commented on #5761
PR here https://github.com/Automattic/themes/pull/5354

[2022-01-18 12:13] chad1008 commented on #5345
Thanks for the report. In my testing (specifically on Twenty Seventeen) I found a few things:

- The distortion appears in the front end, but not the Customizer.
- I'm only able to reproduce the vertical distortion, at no point could I reproduce the horizontal distortion shown above, but I can see how it'd be dependent on an individual theme's styling
- This also happens locally in vanilla WP, it'

[2022-01-18 12:30] kriskorn opened #5358 "[Bug]: Theme translations missing when site goes Atomic"
### Quick summary

On WordPress.com we use translations from the main WordPress.com project if translations are not available for a given theme, but when the site goes Atomic these no longer work. For example, a Simple site using the Geologist theme and set to Polish shows the translated version of "Leave a Comment" while it is Simple, but returns to English when it goes Atomic.

### Steps to repr

[2022-01-18 13:11] sguzovskaia opened #5356 "Various themes: Spacer Block height is set to 16px on mobile"
## Quick summary

Spacer Block with custom heights is being set to 16px on mobile.

## Steps to replicate

1. Activate Balasana or Morden on either a Simple or Atomic site.
2. Add a Spacer Block between any of the blocks, for example, between an Image and a Cover block.
3. Set a custom height for the Spacer Block.
4. Check the page on mobile view.

## Result

The theme is overwriting the Spacer bl

[2022-01-18 14:55] LauraSWP commented on #5359
Another user here: 33723172-hc

[2022-01-18 17:25] AtrumGeost opened #5362 "Twenty Sixteen: Background color affects/changes Text and Link colors"
## Steps to replicate

1. Go to **"My Site" > Appearance > Customize > Backgrounds & Colors**
2. Change the colors of the text and links
3. Notice the selected colors in the preview are changed based on the background color you select

https://user-images.githubusercontent.com/3696121/149987150-8c29876d-c301-48af-a662-bd4275081034.mp4

I wonder if this could be a contrast/accessibility feature.

#

[2022-01-18 20:05] mikachan opened #5365 "Videomaker: add black laurels to white variation"
## Steps to replicate

In the Awards pattern when using Videomaker White, it looks like we're using the white laurels which then don't show up against the white background:

![image](https://user-images.githubusercontent.com/1645628/150009686-af53ed01-86a1-4ce7-b55a-2e1d90b4cf1c.png)

We should add black versions of these pngs:

/assets/images/laurel_left.png
/assets/images/laurel_right.png

[2022-01-18 22:05] metabreakr commented on #5353
I went looking for the issue and found it here: https://github.com/WordPress/gutenberg/issues/37673

[2022-01-18 22:12] metabreakr commented on #4812
In Blockbase (and themes like Geologist), the navigation shows a focus in Safari 15 when clicked on:

![ucgfxy](https://user-images.githubusercontent.com/39252765/150026752-c465d69d-cd92-4880-b50b-02b008c6bbdf.png)

Is there a way for users to turn this off? Reference: https://wordpress.org/support/topic/menu-borked-on-osx-safari/

EDIT: I could only find this issue in Github, though opened this o

[2022-01-18 22:12] supernovia commented on #5353
Ah thanks, @MaggieCabrera  and @metabreakr. I'd searched our bugs first but couldn't find it.

[2022-01-18 22:25] metabreakr opened #5369 "Geologist/Blockbase child themes: Navigation block items displays outline on click"
### Quick summary

In Blockbase, and its child themes (e.g. Geologist), Safari 15 displays an outline around the navigation block, presumably for accessibility. This differs from the focus appearance in other browsers, such as Chrome.

Chrome:
![lBXMxT](https://user-images.githubusercontent.com/39252765/150028192-7385c266-83db-4ade-9cc5-9d7bf0eb6d33.png)

Safari:
![ucgfxy](https://user-images.gith

[2022-01-19 13:00] Robertght commented on #4707
This theme has been retired. I've marked it for low priority for now, but feel free to add any future reports here.

[2022-01-19 13:18] Robertght commented on #5494
I'm checking this further with @cuemarie async. Will follow up here.

[2022-01-19 15:18] jartes commented on #1607
Another case on 30772294-hc

[2022-01-19 15:30] zdenys opened #5378 "Quadrat and its child themes: Header triangle image looks different in the editor vs frontend"
### Quick summary

The header triangle image of the Quadrat theme looks different in the editor vs frontend. It's confusing and not clear how to customize it.

![image](https://user-images.githubusercontent.com/39308239/150162172-650281bb-5ac5-4ed6-9087-57dedb7d483a.png)

### Steps to reproduce

1. Activate a Quadrat (or any of its child themes like Quadrat Green etc.)
2. Open the Site Editor
3. L

[2022-01-19 16:17] Robertght commented on #5372
This might happen more often with menus setups that are quite long because it reduces the chance of moving the cursor outside the submenu area.

[2022-01-19 16:49] Robertght commented on #5673
I tested this with and without FSE and in both cases, social icons did render correctly:

![image](https://user-images.githubusercontent.com/6737345/150176317-4df05d84-3311-4527-8cf5-95879701b556.png)

I'm going to close this for now as I cannot replicate it, but please reopen it if there are more reports

[2022-01-19 17:12] Robertght commented on #5494
I'm not sure if we do something specific with these themes, but after checking the [Images in Link Shares](https://developers.facebook.com/docs/sharing/webmasters/images/)  this appears to be the default behavior.

cc @jeffikus for a second opinion

[2022-01-19 22:20] tavilla61 commented on #4833
Another instance with Radiant Theme on 4702600-zen

[2022-01-20 02:13] freelylovinglife commented on #5292
**Updated Information:** On the screenshot, I am pointing to the light blue color choice.  This color change affects the text "Click for Membership Form" The change is not happening.  I know this is the same color as the background, so that may be a reason there is no change.  This is also happening and is the case for some other colors.

[2022-01-20 06:30] essleeung commented on #1645
Another case- 33753431-hc

[2022-01-20 13:03] peterfabian commented on #5761
Thanks, makes sense. 👍

[2022-01-20 13:43] Sandkorner opened #5379 "Seedlet & Varia: The error message displayed on the posts page has incorrect text"
## Steps to replicate

Issue was raised here with a description: pd4QKa-r4-p2

Short version: We seem to have a slight issue in the /blog-feed page error showing in the wording of the error. As it is not a homepage, but rather something else.

The issue seems to be only connected to the Varia and Seedlet themes and their child themes as well.

[2022-01-20 14:10] ivan-ottinger opened #5380 "Blockbase: The Dimensions (Spacing/Padding) block setting is missing"
## Steps to replicate

1. Create a new page
2. Add any block that supports the Spacing/Padding feature (e.g. Group block)
3. Observe that the `Dimensions` tab is missing from the block sidebar and Padding cannot be changed

It looks like the issue could have been introduced with the recent theme update. The child themes are also affected (Geologist, Quadrat, ...).

I was able to reproduce on a sel

[2022-01-20 14:32] scruffian commented on #5342
This seems to be fixed now

[2022-01-20 14:32] #5342 closed, assigned to nobody

[2022-01-20 14:54] ivan-ottinger commented on #5380
My apologies. Turns out my Gutenberg wasn't updated. → Closing this issue.

[2022-01-20 14:54] #5380 closed, assigned to nobody

[2022-01-20 16:20] Robertght commented on #5384
I have tested this and it happens with this "About" pattern indeed when added on a blank page:

![image](https://user-images.githubusercontent.com/6737345/150378732-6bdfefaf-5f1b-4f13-be23-ee57fc6c99d7.png)

I couldn't replicate it with the newer themes though.

[2022-01-21 10:01] MaggieCabrera opened #5387 "Blockbase + co: Global styles colors are lost after changing settings in the customizer"
Related conversation: p1642735935059000-slack-C01DF571R5Y

Let's check that any color changes done via GS are not wiped out when changing any other settings in the customizer

[2022-01-21 12:42] kjellr opened #5388 "[Videomaker] Use locally-hosted version of Inter instead of Google Fonts"
The Google Fonts version of Inter doesn't include italics:

https://fonts.google.com/specimen/Inter

As a result, italic text will be faked by the browser by slanting the letters. It's not an elegant solution. Instead of sticking with this older version, we should switch to using the variable version from here, which we would bundle with the theme:

https://github.com/rsms/inter/

[2022-01-21 15:55] Robertght commented on #5390
Sharing my findings.

This seems to be because the demo doesn't have a color set on the Text settings of the Group, but once I set it, the form color updates as well.

[2022-01-21 16:09] supernovia commented on #5387
Thank you!

[2022-01-21 18:08] eoinsav commented on #5392
Hey @Greatdane. I am still experiencing it on my site here: https://getconnectedto.wordpress.com/

<img width="400" alt="Screen Capture on 2022-01-21 at 10-06-42" src="https://user-images.githubusercontent.com/35590156/150578044-3b8bb112-b2ca-43ca-897d-ede7469b3b84.gif">

[2022-01-22 07:11] Greatdane commented on #5392
Thanks @eoinsav, I can also reproduce it on that example site.

Moving to themes as it seems to be a Blank Canvas only issue.

[2022-01-22 14:48] eduardozulian commented on #5181
Also reported in 4687419-zen

@jordesign It seems like we're getting several issues that overlap so I'd like to understand if setting a high priority here would make sense. :)

[2022-01-22 15:27] jartes opened #5394 "Twenty Fifteen: Empty space displayed on left when a site is in Coming Soon mode"
### Quick summary

When using the Twenty Fifteen theme and the Coming Soon mode, an "empty" sidebar is being displayed on the Coming Soon page:

![Screenshot on 2022-01-22 at 16-18-32](https://user-images.githubusercontent.com/1046943/150644485-4554c532-b72b-40f2-b216-e57c9989ce30.png)

### Steps to reproduce

1. In a Simple or Atomic site, activate the Twenty Fifteen Theme.
2. In Settings → Gener

[2022-01-23 00:08] rw-ye commented on #151
Report: 4711338-zd-woothemes

Atomic site.
Language: Spanish
Theme: Lodestar

CSS provided:

[code]

For their custom text:

[code]

[2022-01-23 09:22] inaikem commented on #4432
@jeffikus, @Robertght 👋 Would it be possible to get an idea of if/when we'll be able to look at this? It's a retired 3rd party theme, and the block is provided by a 3rd party plugin (Coblocks). Any input would be appreciated!

[2022-01-23 17:39] philnick206 commented on #785
Almost exact same issue reported with Blog Posts block in #4711112-zen

[2022-01-24 12:57] formosattic commented on #5181
Other reports from https://github.com/Automattic/wp-calypso/issues/60272:
* 4702178-zd-woothemes
* 33772054-hc 4706374-zen

[2022-01-24 14:40] pbking commented on #5387
I believe that with recent versions of Gutenberg the structure of where the "user palette" information has changed, however the location that the customizer uses continues to also work, (in that colors saved via the customizer show up).  Because they are different though we aren't "pulling" from the "new" location and any color customizations made in the Global Styles panel are lost.

Digging deep

[2022-01-24 15:45] jackiejade commented on #3525
Another user report in 4713499-zen

[2022-01-24 16:12] davipontesblog commented on #785
@Robertght could you do a quick analysis of customer impact (number of sites using this Theme) on this one for wpcom please? @jordesign can lend a hand if you need any assistance.
Then we can probably prioritize accordingly with the Themes team once we have a better idea of customer impact here. Thanks!

[2022-01-24 17:43] pbking commented on #5387
I see that the 'User JSON' that is stored by the Global Styles panel in the FSE looks like this (or at least is presented like this via `WP_Theme_JSON_Resolver_Gutenberg::get_merged_data()-get_raw_data()`):

[code]

Whereas the Customizer stores the same information:
[code]

[2022-01-24 19:10] jp-imagines opened #5584 "Alt text field inheriting theme color from the Customizer"
### Quick summary

The "Alt text (alternative text)" setting on image-type blocks (Image, Gallery, Cover, etc.) should display in the default black text. However, on some themes, it seems to be "inheriting" one of the colors set at My Site > Appearance > Customize > Colors & Backgrounds.

### Steps to reproduce

1. Activate Apostrophe 2 or Balasana. Unsure which other themes may also be affected.

[2022-01-24 20:53] Robertght commented on #785
It looks like Baskerville 2 has 647,947 active installations at the moment and there are 26 open issues [open](https://github.com/Automattic/themes/milestone/44).

[2022-01-24 21:02] timnicholson commented on #5252
I would like this too. At first I was thinking we should add a filter so that we can hook into the font list, but actually it would be way better if the font customizer just read the fonts out of the theme.json file. There is already support for specifying a header and body font as well as additional font families for the theme. So we just need the font customizer to use the values from there if t

[2022-01-24 22:19] adelineyaw commented on #4144
Another report here: pd4QKa-ny-p2 via [4564449-zen ](https://href.li/?4564449-zd-woothemes) - except on the Twenty Twenty-One Theme and tested on Zoologist with the same results.

[2022-01-24 22:24] ezebecke opened #5899 "Twenty-Twenty & Radcliffe 2: Set Dimensions on blocks "Columns" "Group""
### Quick summary

The Dimensions panel doesn't seem available on some themes. Tested on "Twenty Twenty" and “Radcliffe 2". This might be a thing of older themes not supporting it. [This GH comment](https://github.com/WordPress/gutenberg/issues/28356#issuecomment-946458689) might suggest that.

### Steps to reproduce

1- Activate  "Twenty Twenty" or “Radcliffe 2"
2- Add a Column block and look for

[2022-01-25 10:16] MaggieCabrera commented on #5308
I agree. Skatepark could have different variations with and without duotone and avoid the customizer route altogether

[2022-01-25 11:08] kylemcph commented on #4432
Another report in 4712135-zen.

[2022-01-25 15:22] davipontesblog commented on #785
Thanks @Robertght !

@jordesign I added the `Pri:High` label here, could you help bring this to Themes attention to prioritize in upcoming bug maintenance run?

[2022-01-25 16:56] kspilarski opened #5454 "FSE: (block-based themes) Latest Instagram Posts Block - preview not visible in the editor"
### Quick summary

Using a block-based theme, the Latest Instagram Posts block doesn't show the preview when changing the number of columns and image spacing. However, on a live page or post, the settings of Latest Instagram Posts block display correctly.

### Steps to reproduce

1. In Themes, search for Block Editor Styles `feature:block-editor-styles`
2. Select a theme and activate.
3. In a page

[2022-01-25 19:18] eduardozulian commented on #5024
@scruffian during some team testing at p7DVsv-dCW-p2 I was able to still reproduce this when starting a new template or working with a Page template:

<img width="1563" alt="Captura de Tela 2022-01-25 às 16 08 40" src="https://user-images.githubusercontent.com/1136160/151043002-8f7f5476-41f7-41d1-b392-7a59885250bc.png">

Further context in p7BLOB-4mD-p2#comment-5295

[2022-01-26 07:20] Columbo199X commented on #5110
Any update on this?

[2022-01-26 09:11] Robertght commented on #785
I pinged here: p1643188298169000-slack-C029FM1EH

[2022-01-26 09:26] Robertght commented on #5181
I'd like to point out that in the above case the fonts were not applied either.

[2022-01-26 09:48] Robertght commented on #5398
I think the behavior is to cover part of the footer by default and dismissing the notice is the expected CTA here.

cc @jeffikus for a second opinion.

[2022-01-26 11:39] KokkieH opened #5399 "Blank Canvas Blocks: PHP error in self-hosted version of theme"
## Steps to replicate

* Install Blockbase 2.0.15 and Blank Canvas Blocks 0.0.4 on a self-hosted WordPress site - can use either the WordPress.com themes showcase via Jetpack, or download and install manually on a non-Jetpack site.
* Activate Blank Canvas

## Result

A PHP error appears in both the dashboard and the front end of the site. When I first encountered it, it also gave me a critical err

[2022-01-26 14:10] scruffian commented on #5024
I think this is the expected behaviour. Content will only have full and wide alignment options when the container has inherit default layout which can be set by the "inherit default layout" control. This isn’t set on the videomaker template, so wide and full alignments aren’t available in the query templates. You can still use them within posts, and you can also set that control on the group block

[2022-01-26 14:10] #5024 closed, assigned to scruffian

[2022-01-26 16:30] scruffian opened #5401 "Deploy: Bump version numbers for variations"
When running the variations script, the old version numbers are used. We should find a way to use the latest version number for each variation.

[2022-01-26 19:13] ChrissiePollock opened #5540 "FSE themes: "is-style-circle-mask" causes the images to not render"
### Quick summary

The image appears in the Editor, but not on a published page.

### Steps to reproduce (EDITED)

1. Create a new page and do not skip the templates modal
2. Choose the About examples
3. Select the "Resume with contact and social links" template
4. Publish the page and see the results
OR

1. Create a new page and add an image block
2. Add an image block and add this class in Addit

[2022-01-26 19:14] kathleenjross opened #5403 "Block-Based Themes: Search Results Archive Page is limited to 10 results, no pagination"
### Quick summary

User reached out in 33876389-hc, pointing out that the search results page was limited to 10 results, even though their search term yielded 16 results in their Posts area. I was able to confirm this issue on my test site, using their theme, Geologist (Cream), but I also tested with several other block-based themes.

### Steps to reproduce

1. Test on site that has more than 10 p

[2022-01-26 19:20] kathleenjross commented on #5403
Confirmed that this is not true for Category archive pages. These have pagination along the bottom:

<img width="1297" alt="Screen Shot 2022-01-26 at 2 20 35 PM" src="https://user-images.githubusercontent.com/14097527/151231730-7f7de86a-aab3-4a5d-9404-c738adce3d55.png">

[2022-01-26 19:24] tvolpert commented on #5540
I briefly played into this ticket at the same time as Chrissie somehow, and discovered that it has something to do with the circle mask on the image. If you remove the class `is-style-circle-mask` from the `figure` element in dev tools, the picture shows up. I couldn't find any CSS rules relating to that class, so I'm not sure how it's hiding the image.

[2022-01-26 19:46] jp-imagines opened #5404 "Shoreditch: Headers & Links color inherited by editor elements"
### Quick summary

If you set a custom "Headers & Links" color on the Shoreditch theme, various elements of the block editor inherit or reflect this color selection:
* Top settings button backgrounds (undo, redo, list view, Jetpack menu, etc.) on hover
* Right-side settings pane accordion headers on hover
* Right-side settings pane text
* Block toolbar button backgrounds on hover
* Empty "layout"

[2022-01-26 20:12] kathrynwp opened #5409 "Stewart - Sidebar content not aligned properly in the editor"
### Quick summary

After activating Stewart on a Simple WordPress.com site, the sidebar content is aligned at the bottom, instead of the top on desktop. Other overlapping occurs in both mobile & tablet previews.

### Steps to reproduce

1. Activate Stewart on a Simple site
2. Choose the option to replace the homepage content with the demo content

### What you expected to happen

At this point I w

[2022-01-27 00:06] alaczek commented on #5390
I fixed this by setting text color on the parent block (group) to white, border color on the Subscription block (also to white) on the demo site. Applying these manually to the customer site should fix it. I also regenerated headstart annotations so that this doesn't happen going forward.

[2022-01-27 00:06] #5390 closed, assigned to nobody

[2022-01-27 08:48] Robertght commented on #5454
Hey @kspilarski ! thank you for reporting this!

I tried to replicate this behavior but I wasn't able to. Could you share the theme(s) used in the process and if you can still replicate this after the recent updates?

[2022-01-27 09:19] Robertght commented on #5403
Thank you for reporting this @kathleenjross !

I can also confirm the only workaround at the moment would be to increase the number of blog post per page and turning off the infinite scroll behavior does not help.

cc @jeffikus i this can be looked into the near future.

[2022-01-27 13:15] philnick206 commented on #3365
Another case here with Barnsbury: #4725327-zen

[2022-01-27 13:52] jartes commented on #3877
Another report on: 4722209-zd-woothemes. Suggested to set their background color to white (the default from the theme) so then the opacity is removed.

[2022-01-27 17:40] sixhours opened #5405 "Payton: Spacing/margins off on right side of first block"
## Steps to replicate

Visit the Payton demo site at PduEgO-18-p2, check out the first row of blocks; note the next row overhangs the first by a bit.

## Result

There's extra horizontal space to the right of the first block.

<img width="1332" alt="Screen Shot 2022-01-27 at 12 35 21 PM" src="https://user-images.githubusercontent.com/2124984/151413425-2a864801-54a1-4000-89e6-71001717f3f8.png">

/c

[2022-01-27 23:46] DavidSaladu opened #5545 "Multiple themes won't allow comments in the homepage"
### Quick summary

The twenty seventeen theme doesn't display the comments section on the home page, even if the "allow comments" check box is ticked.

This only seems to affect the home page as the rest of the pages will display the comments area as expected (if the checkbox is enabled). Other themes (twenty fifteen seem to allow that as well.)

Screencast: https://d.pr/i/advfH0/2bzSn6D6im

### S

[2022-01-28 08:07] marutim opened #5530 "Twenty Twenty-One: Missing link color option in paragraph block"
### Quick summary

The option to choose a color for the link with paragraph block is missing with themes like twenty twenty-one and stow. The option is available with themes like Bryne.

### Steps to reproduce

1. Activate the twenty twentyone or Stow theme
2. Go to a page/post. This can be replicated by adding a new page/post or editing an existing one.
3. Select the text and add the link
4. Go t

[2022-01-28 08:12] marutim commented on #5530
Issue reported: 4724468-zd

[2022-01-28 09:35] Robertght commented on #5530
Asked here: p1643357420150959-slack-C029FM1EH

Tested with Twenty Twenty-Two and Quadrat and the Link color option is present.

[2022-01-28 09:36] KokkieH opened #5407 "Seedlet [Blocks]: No infinite scroll on posts page"
## Steps to replicate

* In the Customizer ->Homepage settings, set the front page to display latest posts, or set a posts page
* Select any of the Infinite Scroll settings at Settings ->Writing in Calypso (if the site is using Jetpack)
* View the posts page

## Result

The posts page loads the x most recent posts, depending on the number specified in Settings >Writing (Calypso) or Settings >Readi

[2022-01-28 12:50] louinel commented on #5337
Another case here: zk-woothemes-4727532

[2022-01-28 13:11] jeffikus commented on #2449
@ianstewart is this still an issue? If not let's close this out.

[2022-01-28 13:12] jeffikus commented on #2277
@jordesign is this still an issue? If not let's close this out.

[2022-01-28 13:46] jeffikus commented on #5228
Let's try;
- Regenerate Videomaker Headstart from the demo.
- Regenerate Videomaker White Headstart from the demo.

[2022-01-28 13:51] jeffikus commented on #5337
Possibly a Blockbase issue.

[2022-01-28 14:11] jeffikus commented on #5336
@courtneyr-dev I can't seem to replicate this one, can you try again since 5.9 has been released please?

[2022-01-28 15:59] kingsleyinfo commented on #4833
Another issue here 33909387-hc Byrne theme

[2022-01-28 16:57] enthusemarc commented on #5313
Update on the above. Installed WP5.9 and the Twenty Twenty Two theme a couple of days ago. BBPress doesn't work with the new default theme, either. Blank page. (Twenty Twenty One works fine).

[2022-01-28 17:52] ariel-maidana commented on #1287
Another report on 4567802-zen, Hever Theme.

[2022-01-28 17:57] zandyring opened #5410 "2022: New Post action shows Template: 404 on WP.com"
## Steps to replicate

1. Go to a WP.com site that has 2022 enabled.
2. Posts > Add New.
3. See the Template in Post Settings.
<img width="282" alt="Screen Shot 2022-01-28 at 12 53 35 PM" src="https://user-images.githubusercontent.com/7304712/151597266-e5e458f5-8ab0-4a11-9c32-c68dbafb1c80.png">

4. After posting, the template shows up properly.
<img width="292" alt="Screen Shot 2022-01-28 at 12 45

[2022-01-29 06:44] essleeung commented on #5530
Found this here as well: 33335748-hc

Ended up giving the user CSS to change the link for Hever header.

Tested on my test site and link color doesn't work for Hever (headers/paragraphs), but does for Byrne.

Screenshot of Hever header below:
<img width="1617" alt="Screenshot 2022-01-29 at 2 43 43 PM" src="https://user-images.githubusercontent.com/39225086/151650762-e136ad9c-e191-45bb-a286-e6354fc

[2022-01-29 08:28] kspilarski commented on #5454
- Those themes I've tested where Latest Instagram Posts block does not show the preview in the editor (when changing number of columns and image spacing) were:
_Zoologist, Farrow, Calvin, Franklin, Ames, Bennett._

- I tested this again in my two simple sites and Latest Instagram Posts block also does not show the preview in the editor using these themes:
_Barnett, Kingsley, Jackson, Arbutus, Russ

[2022-01-30 10:11] adelineyaw commented on #4614
It looks like the comments field doesn't appear on Pages for Blockbase and Blank Canvas ('Allow comments' has been selected). This was originally reported here: pd4QKa-sk-p2

User reports:
- 4711319-zd-woothemes
- 4717621-zd-woothemes

[2022-01-30 10:12] tellisbethel commented on #5530
Another user report here: 4730572-zd-woothemes

In testing I found that though the link was the wrong colour (grey) in the editor, it was the colour they wanted (white) in the preview. I've asked them to confirm since this my be okay with them until there's a resolution. (Note: The on-hover is still grey for these links.)

[2022-01-30 16:59] philnick206 opened #5548 "Edda theme: Music player widget does not show player controls"
### Quick summary

The Music player widget is missing the player controls on Edda:

![CleanShot 2022-01-30 at 16 52 25](https://user-images.githubusercontent.com/51966986/151709160-fcd8028e-42c4-44c6-8f01-80380631f141.jpeg)

Here is what the same widget looks like on Twenty Twenty One:

![CleanShot 2022-01-30 at 16 56 44](https://user-images.githubusercontent.com/51966986/151709182-53084568-5bd8-4

[2022-01-30 19:31] cuemarie commented on #4579
Another report here! 33940490-hc

[2022-01-30 19:46] macmanx2 opened #5411 "Stewart: Archive Views (date, tag, and category) Show all Posts Instead of the Desired View"
## Steps to replicate

View any date, tag, or category archive under Stewart, and it will simply load all posts.

## Result

For example, from the .org demo site, the Boat tag: https://wp-themes.com/stewart/?tag=boat

## Expected

Date archives will be date archives, tags will be tags, and categories will be categories, not a full posts list.

* User report: self-reported

[2022-01-31 00:40] jordesign commented on #2277
Thanks for checking @jeffikus  - confirming this is _no longer an issue_ - I'll close it out.

[2022-01-31 00:40] #2277 closed

[2022-01-31 07:41] sophiegyo commented on #5292
The report 4670163-zd is still active - should we keep it on hold or let the user know (again) it's still in progress?

[2022-01-31 09:30] i11za commented on #5345
Another report here (they reached out regarding something else): 4734838-zen
Theme: Storefront
Workaround CSS didn't work.

[2022-01-31 09:48] aleone89 opened #5413 "Dalston: Unicode Character ” (U+201D) (closing speech tags) turns white when used"
## Steps to replicate

1. Install Dalston theme
2.  Go to Posts/Pages > Add new
3.  Add a title using - Unicode Character ” (U+201D) (closing speech tags) in the title, and in the post/page content

## Result

Character shows white and outlined, and only one speech mark shows

## Expected

Character to show as black, and double, much like the opening speech tags Unicode Character “ (U+201C)

Repli

[2022-01-31 11:05] MaxPhilip commented on #5373
Another report ZD-4733499

User also mentioned that social icons sometimes don't render with the proper icons

[2022-01-31 11:54] MaggieCabrera opened #5414 "Skatepark: Regression on font sizes"
Looks like some change to font sizes on Blockbase has affected Skatepark:

Figma | Site
--- | ---
<img width="862" alt="Screenshot 2022-01-31 at 12 53 39" src="https://user-images.githubusercontent.com/3593343/151789402-c8a81852-2dcc-41b6-93b9-166c553def09.png"> | <img width="1469" alt="Screenshot 2022-01-31 at 12 53 03" src="https://user-images.githubusercontent.com/3593343/151789341-164c3c98-156

[2022-01-31 16:37] #5401 closed, assigned to nobody

[2022-01-31 17:07] Addison-Stavlo opened #5417 "Quadrat themes - post date block text color does not change with Global Styles."
## Steps to replicate

Using one of the quadrat themes in the site editor, navigate to the single-post template or insert a post date block onto the main template somewhere.

Using the global styles sidebar, adjust the text color options and notice the color of the text in the post date block does not change.

## Result

![Screen Shot 2022-01-31 at 12 03 52 PM](https://user-images.githubuserconten

[2022-01-31 17:16] jffng commented on #785
Patch is ready for review in D74087-code.

[2022-01-31 20:15] pbking commented on #785
Made a change in the patch to include `wp-block-button__link` class and pick up block buttons.

Before:
<img src="https://user-images.githubusercontent.com/146530/151866038-d53d3c02-b9f4-467c-a7c5-23a920fa6918.png" width=300>

After:
<img src="https://user-images.githubusercontent.com/146530/151865877-47c2bb10-fb3a-4b61-b8bf-46d7a0ec1caf.png" width=300>

[2022-02-01 01:16] mikeicode commented on #1938
Ran into this building a DIFM-L site.

[2022-02-01 01:17] mikeicode commented on #4018
Ran into this building a DIFM-L site.

[2022-02-01 12:03] #5414 closed, assigned to nobody

[2022-02-01 13:42] mikachan opened #5420 "Archeo: Create a demo site on dotcom"

[2022-02-01 13:42] mikachan opened #5421 "Archeo: theme.json: Margin/spacing settings + content layout"

[2022-02-01 13:42] mikachan opened #5422 "Archeo: theme.json: Alternative color palettes"

[2022-02-01 13:42] mikachan opened #5423 "Archeo: Templates: Post templates - Single"
With featured image:

![image](https://user-images.githubusercontent.com/1645628/151997273-88d8263c-f938-48bf-9953-d334699c3b19.png)

Without featured image:

![image](https://user-images.githubusercontent.com/1645628/151997660-f87d93c3-5011-41e4-b97d-a66de53ebdf4.png)

[2022-02-01 13:42] mikachan opened #5424 "Archeo: Templates: Page templates - Index"

[2022-02-01 13:42] mikachan opened #5425 "Archeo: Templates: Page templates - Search"

[2022-02-01 13:42] mikachan opened #5426 "Archeo: Templates: Page templates - 404"

[2022-02-01 13:42] mikachan opened #5427 "Archeo: Templates: Page templates - Archive"

[2022-02-01 13:42] mikachan opened #5428 "Archeo: Pre-launch: readme.txt"

[2022-02-01 13:42] mikachan opened #5429 "Archeo: Block patterns"
- [x] 1. Headline over dark image: https://github.com/Automattic/themes/pull/5464

![image](https://user-images.githubusercontent.com/1645628/152005776-f3af2644-4ff4-42cc-af9f-d1e05d24ca1b.png)

- [x] 2. Image with headline and description: https://github.com/Automattic/themes/pull/5467

![image](https://user-images.githubusercontent.com/1645628/152006096-347a0016-bb0c-4065-8e36-8b3446105535.png)

[2022-02-01 13:42] mikachan opened #5430 "Archeo: Comment form styles (dotcom and dotorg)"
![image](https://user-images.githubusercontent.com/1645628/152151135-2e8d8d30-bbb9-4d47-a629-018112753fb5.png)

[2022-02-01 13:42] mikachan opened #5431 "Archeo: Navigation (if needed)"

[2022-02-01 13:42] mikachan opened #5432 "Archeo: Pre-launch: style.css tags"

[2022-02-01 13:42] mikachan opened #5433 "Archeo: Pre-launch: screenshot.png"
@kjellr / @beafialho - do you have a screenshot for Archeo we can use?

[2022-02-01 13:42] mikachan opened #5434 "Archeo: Core block settings"
- [x] Pullquote
- [x] Comments
- [x] Separator

[2022-02-01 14:18] #5403 closed, assigned to matiasbenedetto

[2022-02-01 14:35] radtechgh opened #5437 "Radcliffe 2: Gutenberg Search gives broken search results for WooCommerce products"
### Impacted plugin

None / Other

### Steps to Reproduce

1. AT site with WooCommerce and products
2. Radcliffe 2 theme
3. Gutenberg Search block
4. search terms (any)

### A clear and concise description of what you expected to happen.

Searching should provide a list of products with links to product, and featured image.

### What actually happened

First product in search shows title doubled i

[2022-02-01 15:32] sdixon194 commented on #5437
Thanks for the report! It seems the error is coming from the default WordPress search functionality and not the additional search functionality added by Jetpack. I'm able to reproduce on a self hosted site with Jetpack disabled and adding a few products with WooCommerce. Likely something related to the CSS of the theme. I've transferred the issue over to the theme repo.

Also in the event the link

[2022-02-01 20:44] TPilgs opened #5456 "Customizer accent color on Atomic sites with Boardwalk theme"
### Quick summary

Changing accent color on Boardwalk theme on AT sites can make the background of the customizer buttons hard to read or completely unreadable.

### Steps to reproduce

1. Start from an Atomic site
2. Install the Boardwalk theme
3. Change "Accent Color" under Customizer > Colors and Backgrounds.
4. Go to a page editor and check the styles of the buttons on Hover.

In addition, thr

[2022-02-01 21:01] TPilgs commented on #5352
Opened this up incorrectly, closing out as the new one is here: Automattic/themes#5456

[2022-02-01 21:01] #5352 closed, assigned to nobody

[2022-02-01 21:26] sstabrizi commented on #5244
Another report here: 33687757-hc - I also shared CSS to fix the issue.

[2022-02-02 05:58] Greatdane commented on #5740
Closing this now as Customizer is no longer accessible on FSE sites.

[2022-02-02 10:01] #5388 closed, assigned to matiasbenedetto

[2022-02-02 10:05] csabarakasz commented on #5181
I wanted to leave a comment here that this 4706374-zd-woothemes ticket was most likely not a bug, but a custom CSS that was added by the user and we didn't know about it, until now.

[2022-02-02 15:19] Gustavo-Hilario opened #5455 "Twenty-Eleven > Quote Block: unable to italicize words"
### Quick summary

With a `Twenty-Eleven` theme, if we add a `Quote block` and set it to use any appearance on the block settings, we won't be able to italicize words or sentences.

### Steps to reproduce

1. Add a `Quote` block to a page or post.
2. In the block settings, set `Appearance` to use any style except *italic*.
3. Try to italicize some words or sentences using the block toolbar or ⌘ +

[2022-02-02 15:44] liviopv commented on #4030
4740250-zen

[2022-02-02 16:23] poeticabdul opened #5445 "Baskerville 2: Wordads not showing fully on homepage on mobile"
## Steps to replicate

1. Activate the Baskerville 2 theme on a site with Wordads active
2. Set the homepage to display latest posts
2. Check the site on mobile
3. Notice some of the ads on the homepage are not showing fully

![ads-mobile](https://user-images.githubusercontent.com/4719037/152193834-5a1582c3-7a5e-4a47-b5ee-8aab8dc3862e.png)

![Screenshot_20220202-145006_Chrome](https://user-images.

[2022-02-02 16:49] pbking commented on #5387
I think I see what's going on here.

Recent changes to Gutenberg eliminated our ability to see what values came from the THEME.JSON and what values came from CUSTOMIZATIONS from GLOBAL STYLES.

This seems to be a bug in Gutenberg, and perhaps related to this issue: https://github.com/WordPress/gutenberg/issues/38185

Because of this the code used to "clear out customizations" when the user sets th

[2022-02-02 18:47] pbking opened #5448 "Blockbase Color customizations show as new "custom palette""
## Steps to replicate

Using WP 5.9 and Gutenberg /trunk
Activate a Blockbase theme
Customize the colors using the Customizer
Load the FSE and view the GS color palette.
Note that the colors edited in the customizer are represented as CUSTOM.

<img src="https://user-images.githubusercontent.com/146530/152217906-abdaa115-4d0b-4efa-86bf-a403812ac708.png" width=300>

Originally they changed the color

[2022-02-02 21:15] #5387 closed, assigned to nobody

[2022-02-02 23:14] happychait commented on #5345
33992968-hc

Used the workaround CSS.

[2022-02-03 06:57] jordesign commented on #5450
Moving this to the Themes repo - as it seems specific to Hever theme (we should test on Varia - to see if it is all child themes).

[2022-02-03 08:02] Robertght commented on #5397
Another case in #4725820-zen

[2022-02-03 09:11] aleone89 opened #5451 "Classic block: Can not order images in gallery in the Classic Editor"
## Steps to replicate

1. Go to My Sites > Pages > select Classic View from screen options
2. On a page that's already created > edit with Classic editor
3. Add Media > Create Gallery
4. Select images > Add to gallery
5. Click and "Drag and drop to reorder media files."

## Result

It's possible to click and move images, but they will not slot into the order.

## Expected

Expected to "Drag and dr

[2022-02-03 09:40] MaggieCabrera commented on #5429
@beafialho @kjellr can we get some names for these? Also some alt texts and file names for the images will be needed too. Thank you!

[2022-02-03 09:56] marutim commented on #5530
Another report here: 33787195-hc with the Hever theme

[2022-02-03 14:53] jffng commented on #785
Committed in D74087-code, thanks everyone for reporting and triaging.

[2022-02-03 14:53] #785 closed

[2022-02-03 15:17] Robertght commented on #5454
Thank you for confirming! It appears this only happens on sites with FSE.

[2022-02-03 15:36] Robertght commented on #5455
Thank you for reporting this Gustavo!

The issue is that the italic styling is not applied when we select it through the editor, and the quote text is italicized by default.

I have reported this to Trac as I could replicate it on a self-hosted site as well:

https://core.trac.wordpress.org/ticket/55063#ticket

[2022-02-03 15:36] #5455 closed, assigned to nobody

[2022-02-03 16:30] Robertght commented on #5456
Thank you for reporting this @TPilgs ! It looks quite similar to this one: https://github.com/Automattic/themes/issues/5404

I've noticed this with other themes, but couldn't figure out a pattern yet.

Also, it appears that setting the accent color to default through the Customizer > Colors & Background helps.

I believe this might be more widespread, but testing with Karuna and Dara didn't reveal

[2022-02-03 17:03] MaggieCabrera commented on #5429
Opened https://github.com/WordPress/gutenberg/issues/38498 for Pattern 5, we can do that with CSS pretty easily and I don't think the GB issue will get a fast solution since it's not something properly built-in at the moment. I'll keep a close eye on it though.

[2022-02-03 17:25] metabreakr commented on #5259
https://wordpress.com/forums/topic/duo-tone-image-setting-doesnt-show-on-front-end/

[2022-02-03 17:34] KirkwallDay commented on #3851
Another instance here: 4732376-zen

Used a workaround involving changing the border color of the block to a non-theme default. Also used this CSS to remove the line that shows up in the block:

[code]

[2022-02-03 18:14] Gustavo-Hilario commented on #5451
Another report here: 4744278-zen

They are using a third-party theme. I could also reproduce this issue using themes that we own, so I don't think this is related to a specific theme.

[2022-02-03 21:43] Gustavo-Hilario opened #5524 "Shoreditch: Paragraph block, Highlight preset color isn't showing in the editor"
### Quick summary

Changes aren't being applied when highlighting text in the `Paragraph` block. However, if we preview the page/post, we will see the color was set correctly.

### Steps to reproduce

1. Activate the `Shoreditch` theme.
2. Add a new page or post.
3. Add a `Paragraph` block and text.
4. Select a portion of this text and apply Highlight by selecting one of the preset color.
5. Chang

[2022-02-04 08:04] fresatomica commented on #2609
Another report in https://wordpress.com/forums/topic/blog-post-block-does-not-work-with-intergalatic-2-theme/?view=all

[2022-02-04 10:10] #5421 closed, assigned to nobody

[2022-02-04 10:51] carinapilar opened #5531 "Ippo: Broken Layout on Archive Pages with Hidden Widgets"
### Quick summary

On an Archive page, when you load more posts it starts showing in one column, instead of 3 or 4.

### Steps to reproduce

1. Activate the Ippo theme on a site with at least 5 posts, all with the same category
2. Set to show content in 3 columns, from Customize > Theme Options > Layout Settings
3. Add a widget on the Sidebar area, with a visibility rule to show the widget only on

[2022-02-04 11:05] scruffian commented on #5228
I don't see any issues here. Please could you confirm?

[2022-02-04 11:14] Robertght commented on #5292
I noticed the theme has a color option for Links and Content links. They do update accordingly while checking the preview of the website and in the live version, however, with some colors, they'll be slightly different if the background color is the same to favor the right contrast.

Please correct me if I'm wrong on this one @jeffikus.

Adding this for reference as we never heard back: p164166890

[2022-02-04 12:14] scruffian commented on #5422
@kjellr @beafialho I don't think we have these in the Figma.

[2022-02-04 12:15] scruffian commented on #5422
Actually given that this is going to be a block theme, not a blockbase child I don't think we should do this.

[2022-02-04 12:15] #5422 closed, assigned to nobody

[2022-02-04 12:48] scruffian commented on #5434
@kjellr @beafialho is there anything specific we need for this? For example is this how quote blocks should always look?
<img width="817" alt="Screenshot 2022-02-04 at 12 48 11" src="https://user-images.githubusercontent.com/275961/152531788-034344fa-d4b9-4bde-b985-b34d9cfd401a.png">

[2022-02-04 13:12] kjellr commented on #5422
+1, we can leave these out for now.

[2022-02-04 13:17] kjellr commented on #5434
The standard Quote block can look just like it does by default, but let's use this design target for a left-aligned Pullquote. I'm not sure we'll be able to get 100% of the way there, but it's worth a shot.

[2022-02-04 13:47] kjellr commented on #5429
Here are some titles. Feel free to adjust as you see fit:

1. Headline over dark image
2. Image with headline and description
3. Image with headline and separate description
4. Image with description
5. Simple list of posts
6. Image with description and right-aligned headline
7. Image with headline on dark background
8. Layout with two images and text.
9. Layered images with headline.

[2022-02-04 17:07] Gustavo-Hilario opened #5549 "Baskerville 2 > Buttons: styles aren't working properly (outline)"
### Quick summary

If we set a button with an outline style, the outline will disappear when previewing or saving. Other different strange behaviors happen if we can try other styles.

### Steps to reproduce

1. Enable `Baskerville 2` Theme.
2. Create a new post or page and add a `Button` block.
3. Set the style to `Outline`.
4. Publish or check the preview.

Note: Other styles aren't working corr

[2022-02-04 19:20] #5431 closed, assigned to nobody

[2022-02-04 19:21] #4614 closed, assigned to nobody

[2022-02-04 19:24] #5384 closed, assigned to scruffian

[2022-02-04 19:25] #4579 closed, assigned to nobody

[2022-02-04 19:54] cphilleo commented on #5445
This issue is caused by the ads loading _after_ the Masonry library has run the layout on the posts container.

A call to `jQuery( '.posts' ).masonry( 'layout' );` will fix the layout and expand the ads. Maybe this can be added to the page load event to fire after ads have finished loading.

[2022-02-05 02:01] adelineyaw opened #5550 "Pique Theme - Compare block has a higher z-index than the menu on mobile"
### Quick summary

Compare block has a higher z-index than the menu using the Pique theme.

### Steps to reproduce

1). Activate the [Pique theme](https://wordpress.com/theme/pique/).
2). Add a primary menu with submenu items.
3). Add a page and insert the Compare block as first block.
4). Open on mobile the created page and click on the menu to see the submenu items

### What you expected to happ

[2022-02-05 09:54] nagpai commented on #5292
User has replied and says the issue is

1. The links look blue, as desired, on front end (this is set via Customizer)
2. The editor however shows a red color for links

It looks like the global link colors set through Customizer is not syncing with Gutenberg edtior.

[2022-02-05 13:14] KokkieH commented on #5399
New user report in https://wordpress.com/forums/topic/theme-errors-2/

[2022-02-05 13:23] zdenys commented on #5445
@cphilleo you mean this can be done by someone from our theme team, right? The user is on a Simple Site, so no plugins or scripts can be added to their site.

[2022-02-05 13:54] annbingle commented on #3543
Hi there!

Has the same issue for this 4747868-zd. The user has Libre 2 theme.

[2022-02-05 17:05] kspilarski opened #5552 "Byrne Theme: Related Posts not Displaying Categories or Tags"
### Quick summary

Byrne theme: In Reading Settings, even _"Show context (category or tag)"_ is selected, related posts do not show categories or themes.

### Steps to reproduce

1. Activate Byrne theme
2. Go to Settings > Reading
3. Scroll down to Related Posts and select _"Show context (category or tag)"_
4. Save
5. View a post and check the related posts below.

### What you expected to happen

[2022-02-05 20:12] carinapilar commented on #4155
It seems that the footer shape is gone, I can only see now on the example shown on the theme's page here:

https://wordpress.com/theme/quadrat-green

But it's not showing on the site anymore when activating the theme, you can see the issue on the demonstration page too:

PdBqzv-9-p2

User asked for it on 4752691-zd-woothemes.

[2022-02-06 14:48] kspilarski opened #5554 "Twenty Twenty: Fonts set in the Customizer not the same in Editor"
### Quick summary

Using Twenty Twenty theme, the fonts set in Customize > Fonts appear correctly in the live page, but shows a different font in the page editor.

### Steps to reproduce

1. activate Twenty Twenty theme
2. go to Appearance > Customize > Fonts
3. set fonts for Heading and Base font
4. visit the site to see how it looks on the live page - it shows the correct font set in the Customi

[2022-02-07 00:05] rw-ye commented on #5451
I've closed 4744278-zd-woothemes for now. Please follow up when a fix has been deployed or when we have more information to share with the user.

[2022-02-07 03:25] syedshaon commented on #3851
Another Issue: 4752134

[2022-02-07 08:28] retnonindya opened #5546 "Blockbase: Social Menu does not display correct social icons"
### Quick summary

When using theme Blockbase -- and FSE is *OFF*, Social Menu is not behaving as expected. The menu will display Share icon (something like this `<`) instead of the intended icon.

### Steps to reproduce

1. Activate theme Blockbase
2. Now, make sure FSE is OFF
3. Create a menu, give it a title "Social" and assign it as Social Navigation menu/Social menu
4. Add menu item using cus

[2022-02-07 08:45] retnonindya commented on #5546
Another report here:
4755744-zd-woothemes

[2022-02-07 10:29] MaggieCabrera commented on #5228
yeah I don't see the issues, we can close this

[2022-02-07 10:29] #5228 closed, assigned to nobody

[2022-02-07 13:44] rickmgithub opened #5581 "Barnsbury Quote block wrong font size"
### Quick summary

The font size controls have no influence over the text size in the quote block on Barnsbury theme.

### Steps to reproduce

Using Barnsbury on a business plan
Add a quote block
Try to change the font size.
It changes how it looks in the editor but still shows as a large font on the published page.

editor view:
<img width="1598" alt="Markup 2022-02-07 at 13 40 57" src="https://u

[2022-02-07 16:48] mikachan commented on #5018
The fix (D71937-code) has now been deployed to live.

[2022-02-07 16:48] #5018 closed, assigned to nobody

[2022-02-07 16:51] MaggieCabrera opened #5471 "Skatepark: Final issues"
After a call with @kjellr this is the list of what Skatepark needs to be ready to launch:

- Changing colors in the customizer on dotcom is not applying to duotone in the frontend. If we can't solve this easily, the consensus is that we just remove the customizer stuff from the theme altogether.
- Kjell is going to work on the home template and we'll include that to the theme instead of having a s

[2022-02-07 16:52] mikachan commented on #437
The fix (D72122-code) has now been deployed to live.

[2022-02-07 16:52] #437 closed

[2022-02-07 17:33] #4434 closed, assigned to MaggieCabrera

[2022-02-07 17:35] #4329 closed, assigned to nobody

[2022-02-07 19:41] cphilleo commented on #5445
Correct. It would need to be added by the theme team. Just pointing out a potential fix to save whoever ends up working on this a little debugging time.

[2022-02-08 00:21] scruffian commented on #5018
Does this need to be pushed back to core?

[2022-02-08 00:22] scruffian commented on #1738
Does this fix need to be pushed back to core?

[2022-02-08 09:40] mikachan commented on #5018
Ah yeah good shout, this probably does need adding to core as well.

[2022-02-08 10:54] aleone89 commented on #5274
Hello, there's another report here:  zen-4755526 with the natural theme.

I also stumbled across this GH too: https://github.com/Automattic/wp-calypso/issues/58535

Are these the same issue:

[2022-02-08 12:00] #5327 closed, assigned to nobody

[2022-02-08 14:06] mikachan opened #5477 "Archeo: Update all images in patterns"
Once all the Archeo patterns have been merged (https://github.com/Automattic/themes/issues/5429), we should see if we can compress/optimize any of the included images.

[2022-02-08 15:42] mikachan opened #5478 "Archeo: Can we improve the Chivo font weights?"
There are several differences between the Chivo font weights in the Archeo comps compared to the browser. We did a lot of work on this [here](https://github.com/Automattic/themes/pull/5452), but we're still seeing some differences.

An example can be seen in [this pattern](https://github.com/Automattic/themes/pull/5468), but we should run through each pattern and font style to see if we can improv

[2022-02-08 15:45] kylemcph commented on #5345
Another report here: 4757850-zen

Used the workaround CSS.

[2022-02-08 15:45] MaggieCabrera commented on #5478
There's a 100 weight [here](https://www.omnibus-type.com/fonts/chivo/). I had the same questions when I worked on that.

[2022-02-08 16:11] mikachan commented on #5478
Oh thanks! I'll take a look.

[2022-02-08 16:49] i11za commented on #5345
Another report here: 34090325-hc and follow up 4761736-zen

Theme: Twenty Seventeen

Workaround above didn't work, also they wanted to use 'Logo only' style, the CSS below seems to work:

[code]

[2022-02-08 18:13] syedshaon commented on #5359
Another issue: 4760069

The workaround I found to work is setting the text color for the button block to something other than the theme-specific ones.
https://snipboard.io/u7h92n.jpg

[2022-02-08 18:21] syedshaon commented on #5359
Related issue: https://github.com/Automattic/themes/issues/3851

[2022-02-08 22:19] #5478 closed, assigned to nobody

[2022-02-08 22:53] tvolpert opened #5483 "Twenty Twenty-Two (Mint) turns all images black and white"
## Steps to replicate
Activate the Twenty Twenty-Two (Mint) theme on the site, and add an image or gallery block to any page or post. None of the other flavors of Twenty Twenty-Two seem to be affected.

https://d.pr/i/KWKD1X

## Result

All images display with a Black and White duotone filter. Hitting "clear" from the Duotone button on the block toolbar does nothing.

Checking in dev tools, I can

[2022-02-09 09:29] mikachan opened #5484 "Archeo: Update all text in patterns"
Once all patterns (https://github.com/Automattic/themes/issues/5429) have been merged, replace all the text with English and ensure the text is consistently matched to the images across all patterns.

[2022-02-09 09:29] scruffian opened #5485 "Archeo: Replace French strings with English strings in patterns"
We shouldn't have foreign strings inside translation calls, so we need to replace our French strings.

[2022-02-09 09:31] scruffian commented on #5485
Closing in favour of https://github.com/Automattic/themes/issues/5484

[2022-02-09 09:31] #5485 closed, assigned to nobody

[2022-02-09 13:34] zdenys opened #5488 "Twenty Twenty One: If Blog Posts Block is nested within the Group Block, the `Load more posts` button text is invisible"
## Steps to replicate

1. Add [Group Block](https://wordpress.com/en/support/wordpress-editor/blocks/group-block/) to a page
2. Add [Blog Posts Block](https://wordpress.com/en/support/wordpress-editor/blocks/blog-posts-block/) within it
3. Activate `Load more posts` button in the right-side panel
![image](https://user-images.githubusercontent.com/39308239/153211032-66936ad8-ddd9-410a-a59b-75de0d0e

[2022-02-09 13:47] tommusrhodus commented on #5011
Another report of this here: 4764110-zd

[2022-02-09 14:17] sajmes commented on #5899
34087699-hc twenty twenty

[2022-02-09 14:39] scruffian commented on #5420
@kjellr I started the demo site here: https://archeodemo.wordpress.com/

We can circle back to this when the patterns are done.

[2022-02-09 18:32] cuemarie opened #5582 "Blockbase/Byrne Theme: Separator Block with "Dots" style appears misaligned in editor"
### Quick summary

Dots style separator displays the 3 dots on 2 lines instead of all parallel in the editor:

<img width="1383" alt="Markup 2022-02-09 at 09 35 53" src="https://user-images.githubusercontent.com/27249804/153265419-7dacca07-d3a7-443b-9f49-aff4c715cff7.png">

Dots appear fine on live site.

### Steps to reproduce

1. Activate Theme Byrne on a simple site
2. Add Separator Block to pa

[2022-02-10 04:26] nagpai opened #5601 "Lyretail : Blog posts block showing White blocks instead of titles"
### Quick summary

Issue specific to Lyretail theme.
Blog Posts block with image set as background, shows white blocks instead of title.

### Steps to reproduce

1. Install Lyretail on any test site
2. Make sure you have a few posts with featured images added
3. Add a blog posts block on any page, and select the option to show featured image behind content.

### What you expected to happen

Titles

[2022-02-10 07:07] jordesign commented on #5494
This is Blockbase specific - so I'll move it to the themes repo

[2022-02-10 12:31] MaggieCabrera opened #5496 "Remote: Create a demo site on dotcom"
https://remotedemo.wordpress.com/

[2022-02-10 12:31] MaggieCabrera opened #5497 "Remote: Templates: Page templates - Index"
We don't have a design for this. @kjellr I suppose for this one we want the post lists block pattern with pagination and for the archive the same but with the archive title block on top?

[2022-02-10 12:31] MaggieCabrera opened #5498 "Remote: Templates: Footer template part (including mobile)"
The subscribe block is replaced by the tags one. @kjellr do we want the tags and categories to be part of the footer template part or just on the home page and single templates?

<img width="842" alt="Screenshot 2022-02-10 at 13 51 11" src="https://user-images.githubusercontent.com/3593343/153412061-c48fe9ff-30c8-4990-a3ce-a00225d2fc57.png">

[2022-02-10 12:31] MaggieCabrera opened #5499 "Remote: theme.json: Margin/spacing settings + content layout"
Let's review that the spacings (blockgap, layout widths, etc) are in line with the design

[2022-02-10 12:31] MaggieCabrera opened #5500 "Remote: theme.json: Alternative color palettes"

[2022-02-10 12:31] MaggieCabrera opened #5501 "Remote: Comment form styles (dotcom and dotorg) (if needed)"
@kjellr @beafialho the form is currently looking like this:
![image](https://user-images.githubusercontent.com/1310626/155189203-7638124c-ac44-45dd-9c7d-fda8a1d1aeca.png)

[2022-02-10 12:31] MaggieCabrera opened #5502 "Remote: Pre-launch: screenshot.png"
@kjellr @beafialho I don't think we have a screenshot for Remote

[2022-02-10 12:31] MaggieCabrera opened #5503 "Remote: theme.json: Color palette"

[2022-02-10 12:31] MaggieCabrera opened #5504 "Remote: Block patterns (if needed)"
- [x] Introduction https://github.com/Automattic/themes/pull/5553

![Block Pattern_ Introduction](https://user-images.githubusercontent.com/3593343/153411039-27174290-c9c7-4f12-8dda-74ada10d1f9f.jpg)

- [x] Posts list

![Block Pattern_ Posts List](https://user-images.githubusercontent.com/3593343/153411038-dd2f5d8f-66c4-498f-9344-d5b1e7af9d19.jpg)

- [x] Posts Grid https://github.com/Automattic/th

[2022-02-10 12:31] MaggieCabrera opened #5505 "Remote: Templates: Page templates - 404"

[2022-02-10 12:31] MaggieCabrera opened #5506 "Remote: Navigation (if needed)"

[2022-02-10 12:31] MaggieCabrera opened #5507 "Remote: Templates: Page templates - Single"
The subscribe block is replaced by the tags one. @kjellr do we want the tags and categories to be part of the footer template part or just on the home page and single templates?

<img width="842" alt="Screenshot 2022-02-10 at 13 51 11" src="https://user-images.githubusercontent.com/3593343/153412061-c48fe9ff-30c8-4990-a3ce-a00225d2fc57.png">

[2022-02-10 12:31] MaggieCabrera opened #5508 "Remote: Templates: Header template part (including mobile)"
<img width="1200" alt="Screenshot 2022-02-10 at 13 49 54" src="https://user-images.githubusercontent.com/3593343/153411876-7b23be7b-6cf7-4667-ace5-9026b178023f.png">

@kjellr should we add the tagline or the site logo to the template part? Or leave that for users to do?

[2022-02-10 12:31] MaggieCabrera opened #5509 "Remote: Core block settings (if needed)"

[2022-02-10 12:31] MaggieCabrera opened #5510 "Remote: theme.json: Typography settings"
Figma: S382KokJxg0G043wsNoFQj-fi-331%3A1

![Styles](https://user-images.githubusercontent.com/3593343/153410673-2eb6fe6e-0a89-41c7-91a1-0533b3a4b0c3.jpg)

[2022-02-10 12:31] MaggieCabrera opened #5511 "Remote: Pre-launch: readme.txt"
We need to include any licensing information to the readme file as well as adding the changelog. We also need a theme description @kjellr @beafialho

[2022-02-10 12:31] MaggieCabrera opened #5512 "Remote: Templates: Page templates - Search"

[2022-02-10 12:31] MaggieCabrera opened #5513 "Remote: Create base theme from boilerplate"

[2022-02-10 12:31] MaggieCabrera opened #5514 "Remote: Pre-launch: style.css tags"
We need to review the tags and see if we are missing any https://make.wordpress.org/themes/handbook/review/required/theme-tags/

[2022-02-10 12:34] MaggieCabrera opened #5515 "Remote: Templates: Page templates - Home"
Figma: S382KokJxg0G043wsNoFQj-fi-326%3A160

The text is a block pattern. We need to add pagination to the query block (no numbers).

The Subscription block is replaced by a tags cloud block similar to the categories one.

![Home](https://user-images.githubusercontent.com/3593343/153409918-eb1704a7-b0b7-450f-8889-ff6f689bc776.jpg)

[2022-02-10 12:49] MaggieCabrera commented on #5506
Closing this one, it will be included in https://github.com/Automattic/themes/issues/5508

[2022-02-10 12:49] #5506 closed, assigned to nobody

[2022-02-10 12:54] MaggieCabrera opened #5516 "Remote: Templates: Page templates - Page"
Same as the single page but without the comments block, right @kjellr?

[2022-02-10 13:59] carladoria commented on #4055
Not sure if this is related, but user in [34127447-hc](34127447-hc) has changed the color of the background in first button at the media text block in PdzXlE-t-p2 and color options in the Customizer of Barnsbury are overriding this.

[2022-02-10 14:04] #5423 closed, assigned to jffng

[2022-02-10 14:52] zdenys opened #5520 "Zoologist: Next Page within Pagination Block has the overlapping arrow in the Editor"
## Steps to replicate

Create a free plan site with Zoologist theme at https://wordpress.com/start and observe the

## Result

The right arrow that should appear after the words `Next Page` appears overlapped over the word `Next` instead. This happens only in the Editor, not on the frontend.

![image](https://user-images.githubusercontent.com/39308239/153432401-790626b4-ff83-421a-b11b-c6b7ebb7af17

[2022-02-10 16:23] kjellr commented on #5516
Yep!

[2022-02-10 16:24] kjellr commented on #5497
Yes, exactly. Thanks!

[2022-02-10 17:40] #5425 closed, assigned to scruffian

[2022-02-10 17:49] mikachan commented on #5424
Closed with https://github.com/Automattic/themes/pull/5489.

[2022-02-10 17:49] #5424 closed, assigned to scruffian

[2022-02-10 17:50] mikachan commented on #5427
Closed with https://github.com/Automattic/themes/pull/5489.

[2022-02-10 17:50] #5427 closed, assigned to scruffian

[2022-02-10 17:53] #5430 closed, assigned to scruffian

[2022-02-10 17:57] jffng commented on #5426
Closed by #5490

[2022-02-10 17:57] #5426 closed, assigned to scruffian

[2022-02-10 19:01] benchilcote commented on #2753
Reporting another case 4768014-zen
- Setting visibility settings so the sidebar widgets do not appear on the specific page is a workaround that I found

[2022-02-10 20:24] tvolpert opened #5602 "Twenty Twenty-Two (Mint) theme shows all images in black and white"
### Quick summary

Any image added to a site using the Twenty Twenty-Two (Mint) theme has a black and white duotone filter applied. None of the other flavors of Twenty Twenty-Two seem to be affected.

IMPORTANT NOTE: This is NOT a bug of the theme, but rather an issue with Gutenberg.  See [this comment](https://github.com/Automattic/themes/issues/5602#issuecomment-1076072599) below.

This issue wi

[2022-02-10 20:25] tvolpert commented on #5483
I submitted this through the wrong workflow by accident! It has been moved to: Automattic/themes#5602

[2022-02-10 20:25] #5483 closed, assigned to nobody

[2022-02-10 20:35] sajmes commented on #4055
I think another instance here: 22949142-hc

[2022-02-10 21:47] eduardozulian commented on #3129
Also happening with Exford. Reproduced after a report in 33098548-hc

A full-width cover block inside a full-width group block produced the following:

<img width="1279" alt="Captura de Tela 2022-02-10 às 18 46 30" src="https://user-images.githubusercontent.com/1136160/153501917-b06bfac1-0943-49b9-85f3-bd9911c6d4ba.png">

[2022-02-11 03:13] edwinho89 opened #5603 "Twenty Twenty-Two and Twenty Twenty-Two (Swiss) Themes max-width Differences"
### Quick summary

While browsing through themes, I noticed Twenty Twenty-Two and Twenty Twenty-Two (Swiss) themes having different `max-width` values as below:

Twenty Twenty-Two : 1000px

![image](https://user-images.githubusercontent.com/34882260/153531225-414a1d7b-4a0d-4310-a008-3399ad5af8de.png)

Twenty Twenty-Two (Swiss) : 1060px

![image](https://user-images.githubusercontent.com/34882260/1

[2022-02-11 04:47] marutim commented on #3980
Reported another issue here: 2925787-hc

[2022-02-11 08:46] #5503 closed, assigned to nobody

[2022-02-11 08:46] #5513 closed, assigned to nobody

[2022-02-11 13:59] zdenys commented on #4789
Another case in 4767663-zd-woothemes. Theme Ryu. I also tested this on my site and Twenty Twenty Two is affected as well.

[2022-02-12 10:31] aleone89 commented on #5451
Another report here: zen-4746097 , this time with the Sketch theme.

[2022-02-12 10:36] aleone89 commented on #5451
Closing this in favour of: https://github.com/Automattic/themes/issues/5451

[2022-02-12 10:36] #5451 closed, assigned to nobody

[2022-02-12 21:13] the-misha commented on #6508
Another user report: 33267670-hc / 4774293-zd-woothemes

Gradient is showing in both the editor and on the live site. Solid colors are showing neither place.

[2022-02-13 06:12] formosattic commented on #5524
Updated the initial report with some screenshots.

Transferring to Themes.

[2022-02-14 09:41] scruffian commented on #4789
Given that this is an issue for so many themes, its probably a gutenberg issue rather than a theme issue.

[2022-02-14 09:46] scruffian commented on #5448
I pushed a fix for this to https://github.com/Automattic/themes/pull/5492 - we now save the colors on the theme key.

[2022-02-14 10:22] base-creme commented on #5252
Anything new here for that issue ? :)
It would be great to have a way to add or override the wp-customize-fonts.php of the blockbase theme in a child theme.
Thanks !

[2022-02-14 10:32] #5429 closed, assigned to nobody

[2022-02-14 13:28] pbking commented on #5252
I'm interested to know how Gutenberg intends to offer this kind of functionality.  Ideally Blockbase would offer that functionality in the same way to polyfill the expected functionality.  "Filling the gaps of what will eventually be" has been one of Blockbase's primary purposes, more so than as a convenient parent theme.

[2022-02-14 13:29] MaggieCabrera commented on #5252
Looks like it's going this way: https://github.com/WordPress/gutenberg/pull/37140

[2022-02-14 13:35] MaggieCabrera commented on #5252
I think at some point we had logic to insert a font family that is not loaded by the parent, does this not work for you on your child theme's json file (under settings/typography/fontFamilies)?

[code]

[2022-02-14 14:39] jeherve commented on #5183
I ran into the same issue today when trying to install Geologist – Cream to a self-hosted site using Jetpack, via the WordPress.com themes interface.

It installed version 1.0.23 of the theme, which seems to be [the latest version](https://github.com/Automattic/themes/blob/be49195b94b318efd1174a456f30b8ad535de266/geologist-cream/style.css#L10), but the opening PHP tag was missing from the theme's

[2022-02-14 16:08] JoshuaGoode commented on #5183
Looks like the opening tag was present in the v1.0.20 build of `Geologist - Cream` but then removed in the 1.0.23 build -- which is then served to Jetpack sites.

WoA sites, if the theme gets installed properly, utilize a symlinked version that looks proper at this time.

[2022-02-14 17:19] scruffian opened #5527 "Archeo: Consolidate patterns images"
In Archeo we have some similar images in patterns:

uxmal.jpg:
![uxmal](https://user-images.githubusercontent.com/275961/153913647-f70b0b89-3b94-4dab-9666-9eb39a86ab9e.jpg)

palais-du-gouverneur.png:
![palais-du-gouverneur](https://user-images.githubusercontent.com/275961/153913661-521526a9-c8c1-4b17-95bc-dda1d25e6e52.png)

palais-du-cirque-bg.png:
![palais-du-cirque-bg](https://user-images.github

[2022-02-14 17:48] scruffian commented on #4786
Since this appears to be a Jetpack bug I think we should close this issue.

[2022-02-14 17:48] #4786 closed, assigned to nobody

[2022-02-14 21:15] kathrynwp commented on #5451
@aleone89 Your link above seems to link back to this same ticket?

[2022-02-15 02:41] hacchism opened #5567 "Alves: Issue with link color in page editor in conjunction with Group Block"
### Quick summary

When a parent Group Block has a custom background color, links within the Group Block always show up with white in the page editor. But on the live page, they show up with the default site-wide link color or the custom text color set to individual blocks that contain the links.

### Steps to reproduce

1. Activate Alves theme.
2. Go `Customize > Colors & Backgrounds > Colors` an

[2022-02-15 06:55] retnonindya commented on #5530
I found something about theme Stow -- and I guess, with Varia-based themes (which means, Hever, Leven, Stow, and friends.)

The theme does not have a Link Color feature on the Block Editor because the theme's color settings are set from Customize > Colors & Backgrounds. For theme Stow, it's using Primary Color.

So if they want to change the link color, they need to do so from here:
![Screenshot 2

[2022-02-15 07:23] formosattic commented on #5530
Thanks @retnonindya for sharing workaround.

Transferring to Theme repo.

More details in internal convo: p1643358912391089/1643357420.150959-slack-C029FM1EH

[2022-02-15 08:48] formosattic commented on #5567
I wonder what I'm doing differently, as I can't reproduce this.
When I pick some custom background colors, the text and links switches to white automatically, and is reflected on the live page as well. 🤔

@hacchism : were you using the default colors in Customize?

| Editor  | Live Page |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/154023960-17d

[2022-02-15 09:12] formosattic commented on #5531
Thanks for the detailed steps @carinapilar.

Confirming this is reproducible. Transferring to Theme repo.

https://user-images.githubusercontent.com/15944096/154029870-f42e0e4e-5ad7-40dd-89d4-c87881c77609.mov

[2022-02-15 11:12] #5432 closed, assigned to nobody

[2022-02-15 11:16] mikachan commented on #4580
Closing this as D72519-code has been deployed.

[2022-02-15 11:16] #4580 closed, assigned to mikachan

[2022-02-15 11:27] #5434 closed, assigned to mikachan

[2022-02-15 11:56] fstath commented on #5451
Reported in the Greek forum as well:
https://wordpress.com/el/forums/topic/drag-and-arrange-images/

[2022-02-15 14:29] pbking commented on #5247
Confirmed @mikachan's observations and tested their solution.  I was able to reproduce both the original issue and the HR issue noted.  Diff for that change which fixes with no side effects can be found here: D74996-code

I believe that is ready to ship.

[2022-02-15 15:23] pbking commented on #5016
I don't see that twentytwentyone has the ability to style link colors.  I walked back through the theme history and I don't see that it ever did...

If this is a change that should be made it's large-ish and should be instead made in core first.

I'm not sure how the UX came to allow the selection of a link color for the paragraph block but from what I can tell this capability is now gone.

I beli

[2022-02-15 15:26] pbking commented on #5448
That fix was [removed](https://github.com/Automattic/themes/pull/5492#issuecomment-1039440192) from #5492.  Moving this back to "TODO" for another solution.

[2022-02-15 15:41] pbking commented on #5520
This is also happening in Geologist (and its variations)

[2022-02-15 18:04] ivan-ottinger commented on #5016
Hmm. That's odd. I don't see the Link color option anymore.

[2022-02-15 19:47] kjellr commented on #5527
- Let's remove `uxmal.jpg` and use `palais-du-gouverneur.png` in place of it. I don't think that should have any significant impact on the appearance of the pattern(s) that use it.
- We should also have no need to include `palais-du-cirque-bg.jpg`. We can re-use the foreground image for the background too there, and implement an overlay color.

If you folks wouldn't mind making those changes to th

[2022-02-15 20:15] #5308 closed, assigned to matiasbenedetto

[2022-02-15 20:27] ccwalburn commented on #4833
Another report here 34211680-hc / 4782765-zen
Russell theme

[2022-02-15 23:31] vipulpradhan commented on #5602
User report: 4782455-zen

Was able to reproduce this issue on 'Pink' version as well. Tested and confirmed that the main 'Twenty Twenty-Two' theme does not have the grayscale duotone effect as default.

Because the user is on Personal plan, I advised switching to the main 'Twenty Twenty-Two' theme while preserving their homepage content.

[2022-02-16 02:44] formosattic commented on #932
This came up again with Shoreditch (4783531-zd-woothemes).

Tested and noticed it happening with Karuna, Dyad 2, Rockfield, and possibly others.

Related bugs:
* https://github.com/Automattic/themes/issues/5372
* https://github.com/Automattic/themes/issues/5263

[2022-02-16 05:56] formosattic commented on #5602
+1 4780109-zd-woothemes
Sent CSS workaround.

[2022-02-16 11:48] Robertght commented on #696
Another case here: 4784536-zen

[2022-02-16 15:01] #5520 closed, assigned to nobody

[2022-02-16 15:05] #5527 closed, assigned to kjellr, mikachan

[2022-02-16 15:06] #5471 closed, assigned to MaggieCabrera

[2022-02-16 16:01] Robertght commented on #5540
Thank you for reporting this!

I can confirm this is an issue with the Quadrat themes, however, the issue appears to be with `is-style-circle-mask` which comes from the About Me page template. If we use the "Rounded" option instead, we get the `is-style-rounded`.

![image](https://user-images.githubusercontent.com/6737345/154303496-4ab7b742-a3d2-40dd-a90c-a807bd012c37.png)

I have tested this with

[2022-02-16 20:13] Robertght commented on #5545
I have raised a ticket here: https://core.trac.wordpress.org/ticket/55180#ticket

[2022-02-17 05:11] Greatdane commented on #5097
This should have now been fixed in core; https://github.com/WordPress/gutenberg/issues/17162#issuecomment-938419533

However, I can still reproduce on WordPress.com (Maywood).

Any thoughts @MaggieCabrera ?

[2022-02-17 05:47] Greatdane commented on #5546
Weirdly, on a self-hosted site, this seems to cause a critical error.

[2022-02-17 08:02] MaggieCabrera commented on #5097
It may very well be that Maywood has extra CSS added, so a fix for that specific theme would be needed

[2022-02-17 09:31] #5516 closed, assigned to MaggieCabrera

[2022-02-17 09:31] #5507 closed, assigned to MaggieCabrera

[2022-02-17 11:28] jartes commented on #679
Another one on 32263220-hc

They already have the content options to show the except, and they were experiencing the issue.

[2022-02-17 11:29] #5433 closed, assigned to nobody

[2022-02-17 11:29] #5477 closed, assigned to kjellr

[2022-02-17 11:29] Robertght commented on #5548
Thank you for reporting this @philnick206 !

I can confirm this happens with at least 2 media files. Using only one displays the controls.

[2022-02-17 12:02] vindl opened #6077 "Blockbase: social icons menu disappears if header template part is edited"
1. Setup main and social menus in Customizer
2. Use Site Editor to resize logo
3. Social menu no longer works

@mikeicode

More context in this post: pdh1Xd-Bb-p2

[2022-02-17 12:05] vindl commented on #6077
One idea from @simison:

[2022-02-17 12:10] Robertght commented on #5550
Thank you for this report @adelineyaw !

One addition, it appears the overlap happens with longer submenus or if the page doesn't have a title and there's one submenu item.

[2022-02-17 12:36] mikeicode commented on #6077
If I understand this correctly the idea is to leave things the way they are but have a message when you visit FSE to resize the logo that your social menu will no longer work.

This isn't a great user experience and the problem will still exist. With Blockbase users are forced to use FSE to resize their logo (details on the P2 post). A message doesn't solve that issue or resolve the confusion with

[2022-02-17 12:39] Robertght commented on #5552
I can confirm both issues appear to be happening on my end as well.

1. The related posts do not show up on either Simple or Atomic sites
2. The categories/tags do not show up on the user's site: https://ericarobbin.com/roasted-tomato-and-garlic-soup/

The first one also appears to be related to this issue: https://github.com/Automattic/themes/issues/5264

However, I'm not entirely sure I understa

[2022-02-17 12:56] Robertght commented on #5554
While testing, I noticed other inconsistencies as well and those lead me to these ones:

https://github.com/Automattic/themes/issues/3589

https://github.com/Automattic/themes/issues/2563

The theme is being used on 281,973 sites at the moment. I wonder if we can take a look at this set of related issues in the near future @jeffikus ?

[2022-02-17 15:08] jeherve commented on #5264
Are you able to add the Related Posts Block to the single post template? Does it help?

[2022-02-17 15:09] kingsleyinfo commented on #5451
Here is another report 33889631-hc

[2022-02-17 15:11] jeherve commented on #5552
When using a block theme, you would have to add a Related Posts Block to the single post template if you wanted the related posts to be displayed there.

Can you tell what the block settings are on that specific site? Is the block set to display context (categories / tags)? That toggle is not checked by default, so it could be that the site owner did not check it yet?

[2022-02-17 16:37] beafialho commented on #5484
I took a close look at the images and their descriptions and translated the patterns to English - they can be found translated [here](https://www.figma.com/file/28iXII44cLy2oKwyHLgTdi/Archeo?node-id=817%3A1626).

![Pattern-8](https://user-images.githubusercontent.com/65220155/154527047-08a0f496-5e79-4ae0-9497-9633fe3cb791.jpg)

![Pattern-7](https://user-images.githubusercontent.com/65220155/154527

[2022-02-17 16:56] mikachan commented on #5484
Thanks so much @beafialho! I can pick this up from here 👍

[2022-02-17 21:17] pbking commented on #1738
I don't think so since the font customizations on offer are those we've added for wpcom.

[2022-02-17 21:22] pbking commented on #1738
Deployed

[2022-02-17 21:22] #1738 closed

[2022-02-17 21:25] dcoleonline commented on #2755
I ran into this issue today in 34162922-chat

[2022-02-17 21:26] pbking commented on #5247
Deployed

[2022-02-17 21:26] #5247 closed, assigned to nobody

[2022-02-17 21:27] #5181 closed, assigned to nobody

[2022-02-17 22:56] hacchism commented on #5567
@formosattic Thanks for testing this and pointing out this.

I reset the color settings in Customizer by hitting the Default button and tested this again. And then, I could not reproduce it. So it seems like we need to set custom color in Customizer(at least one) to reproduce the issue. So I've edited my original post and added this to "**Steps to reproduce**".

![Screen Shot on 2022-02-18 at 07:5

[2022-02-18 02:25] edwinho89 commented on #5180
34251960-hc

User experienced the above, and thought the contents they edit on site to be on full width.

Provided CSS as workaround:

[code]

[2022-02-18 03:38] KokkieH commented on #5351
Another report in https://wordpress.com/forums/topic/hever-too-old-or-still-updated/?view=all

This also affects the Form block submit button, and the button in the cookie notice. Those don't allow for an explicit background color to be set, so the workaround doesn't work for those.

[2022-02-18 14:58] matiasbenedetto commented on #5500
Moving back to pending following @kjellr 's suggestion: "I don’t think that’s critical for launch — I’m not confident launching alternate theme.json palettes yet, until the feature is more developed."

[2022-02-18 15:07] zdenys opened #5565 "Karuna: Social Icons Block misalignment and distortion if added in the footer widget"
## Steps to replicate

Add [Social Icons Block](https://wordpress.com/en/support/wordpress-editor/blocks/social-links-block/) to the Footer widget area with at least a few icons

## Result

Icons are distorted or misaligned

![image](https://user-images.githubusercontent.com/39308239/154707811-98fdd1e4-f406-4c23-97e3-60e593bad22a.png)

## Expected

See the icons normally as in the editor

## CSS w

[2022-02-18 15:08] zdenys commented on #5565
User report: 34263528-hc

![image](https://user-images.githubusercontent.com/39308239/154708667-7fd5fd5f-95be-4313-a492-df2f008e30c8.png)

[2022-02-18 15:24] zdenys commented on #4519
This is affecting various other themes:
- https://github.com/Automattic/themes/issues/2806
- https://github.com/Automattic/themes/issues/5565

[2022-02-18 17:57] jffng opened #5566 "Alignments in post content not respected in block themes"
## Steps to replicate

- Run Gutenberg trunk (after [this PR](https://github.com/WordPress/gutenberg/pull/38613) has been merged), activate a block theme that contains this [alignment CSS](https://github.com/Automattic/themes/blob/trunk/blockbase/sass/base/_alignment.scss#L35-L72) (Blockbase, TT2, Livro, Archeo...)
- Visit to the [alignments post](https://gist.github.com/MaggieCabrera/799d09c81961

[2022-02-19 11:40] kspilarski commented on #5074
Mobile menu is not clickable when setting AMP to Standard or Transitional. But the mobile menu is clickable with Reader.

User case: 4794039-zd

[2022-02-19 13:29] eduardozulian opened #5604 "Lovecraft Theme: Items missing from entry meta on small screens"
### Quick summary

On Lovecraft, we always hide the 3rd element from the post meta section if the screen size is smaller than 600px. Checking the theme demo, the 3rd element is always a category, if categories are added to a post.

<img width="771" alt="Screen Shot 2022-02-19 at 09 57 41" src="https://user-images.githubusercontent.com/1136160/154802529-2398d049-feb9-41fb-bfd7-18356b47161e.png">

T

[2022-02-19 20:05] carinapilar opened #5606 "Stewart: Archive Page Isn't Filtering By Tag/Category"
### Quick summary

The archive page on the Stewart theme is showing all posts, not filtering by tag/category.

### Steps to reproduce

1. Activate the Stewart on a site with a couple posts, in different tags or categories
2. Check an archive page - a tag or category page

### What you expected to happen

The archive page should show posts only from the specific category/tag.

### What actually hap

[2022-02-20 04:44] syedshaon commented on #5274
Another issue: zd#4795194, Apostrophe 2 theme

[2022-02-20 05:43] formosattic commented on #5567
Thanks @hacchism!

Transferring to Themes repo.

[2022-02-20 16:43] philnick206 opened #5607 "Cubic theme: Category not showing on post"
### Quick summary

There seems to be inconsistent behavior of categories displaying (or not displaying) on posts on Cubic.

For example, when I have just the Uncategorized category set, no category is shown:
![CleanShot 2022-02-20 at 16 39 12](https://user-images.githubusercontent.com/51966986/154853611-7fc4420d-ea72-4290-8078-30aadf8458c8.png)
![CleanShot 2022-02-20 at 16 39 33](https://user-imag

[2022-02-20 19:43] jordesign commented on #5602
This probably needs to be transferred to the Themes GH repo - but I'm just pinging for a gut check.
p1645386161641019-slack-C029FM1EH

[2022-02-20 21:24] ktyfuller604 opened #5583 "[Rowling] Tag Cloud: Rowling Default Settings not a Cloud"
### Quick summary

The tag cloud block does not show as a word cloud on the Rowling theme. It applies the Outline style instead.

### Steps to reproduce

1. Activate the Rowling theme on a Simple Site
2. Add a Tag Cloud block to the widget area
3. Review live site

### What you expected to happen

A tag cloud where different tags are different sizes based on the number of times the tags are used.

[2022-02-21 10:46] MaggieCabrera commented on #5566
https://github.com/WordPress/gutenberg/pull/38947 should fix it

[2022-02-21 15:21] jffng commented on #5566
It did, thank you!

[2022-02-21 15:52] MaggieCabrera commented on #5510
I think this one has been covered by the initial commit

[2022-02-21 15:52] #5510 closed, assigned to nobody

[2022-02-21 15:53] MaggieCabrera commented on #5509
We need to pay particular attention to the button settings and styles (including the search block and comments button too). See Archeo for reference on the styles that we may need

[2022-02-21 19:30] jffng commented on #5488
Thanks for reporting, I'm unable to replicate this issue. Adding a Blog Posts block inside a group on TT1 gives me the following:

https://user-images.githubusercontent.com/5375500/155016135-0326e133-4dc7-4ecc-a3bb-e8291d463e0b.mp4

If the issue persists, the workaround you suggested to remove this from a group block seems sufficient. Closing this one for now.

[2022-02-21 19:30] #5488 closed, assigned to nobody

[2022-02-21 20:17] #5515 closed, assigned to matiasbenedetto

[2022-02-21 20:35] #5512 closed, assigned to matiasbenedetto

[2022-02-21 20:49] #5505 closed, assigned to matiasbenedetto

[2022-02-21 20:51] #5428 closed, assigned to nobody

[2022-02-21 20:51] #5484 closed, assigned to kjellr

[2022-02-21 21:09] pbking commented on #5016
Closing this now as I don't believe it to still be a problem.  Please reopen if this needs more attention.

[2022-02-21 21:09] #5016 closed, assigned to nobody

[2022-02-22 16:48] mikachan commented on #5420
All the updated patterns and latest changes are now available on .com, so I've added a couple of patterns to the pages on the [demo site](dIkqP-p2), and made sure the home template is showing correctly.

@beafialho @kjellr (or anyone else who can answer): How do we normally decide on the content for the demo site?

[2022-02-22 18:09] matiasbenedetto commented on #5501
@kjellr @beafialho Looking like this for non-authenticated users:

![image](https://user-images.githubusercontent.com/1310626/155193023-55eb051e-94f7-4242-8e00-6597b296acd3.png)

[2022-02-22 20:43] rachelwinspear opened #5619 "Dara: WordAds not resizing on mobile version"
### Quick summary

WordAds not resizing correctly on mobile version. Able to replicate on Android.

### Steps to reproduce

1. Enable the theme Dara on a site with WordAds
2. You will see the horizontal adds running off the screen

### What you expected to happen

I would expect the ad to be resized to fit the screen

### What actually happened

WordAd advert is not resized and runs off the screen

[2022-02-22 21:22] CodeAllNightNDay commented on #4639
I had this issue happen today with the Hever theme. 4803421-zen If I select one of the pre-existing colors, the overlay color will not change on the live page but looks okay in the editor. If it is changed to any other color, the overlay will show on the live site. Is there any other way to address this issue for the user?

[2022-02-22 23:44] jeyip opened #5734 "Blockbase: Non default font families don't update text styling properly in Button block"
## Description
**This appears to be a conflict with button block styling specificity, and not the webfonts API.**

When a font is registered with the new webfonts API, the button block doesn't respect font selection.

![2022-02-22 14 51 10](https://user-images.githubusercontent.com/5414230/155233014-d2e6c751-ddfd-4f85-a446-3eab907f2fd4.gif)

### Steps to reproduce

1. Set up the new webfonts API a

[2022-02-23 04:12] KokkieH opened #5591 "Scratchpad: Gallery post format not working with tiled gallery or slideshow block"
### Quick summary

Scratchpad's gallery post format doesn't work with the tiled gallery or slideshow blocks, only with the core gallery block. The post format does work with tiled galleries and slideshows added in a classic block.

### Steps to reproduce

1. Create a post and add the Tiled Gallery or Slideshow block with a few images
2. Set the post format to gallery
3. Publish the post and view t

[2022-02-23 05:34] mriyazuddin opened #5701 "Blank Canvas: Setting the homepage to show latest posts, shows only the latest post on the homepage"
### Quick summary

Using Blank Canvas theme, if you set the homepage to set the latest posts, the homepage shows only latest post and not all posts. Changing the number of posts to be displayed in settings doesn't help either. Switching to another theme displays all posts on the homepage.

https://user-images.githubusercontent.com/49064126/155266572-4a9d7960-7173-463c-a667-d45f69fd2739.mp4

### St

[2022-02-23 05:39] danielk-am commented on #5602
Also encountered on 4786473-zen (Personal).

Suggested to the user to activate the main Twenty Twenty-Two theme, as the "Pink" version defaults to duotone on all images.

[2022-02-23 05:44] devNigel opened #5585 "Multiple Themes: Tertiary color backgrounds are not visible on the site."
### Quick summary

On theme Stow, when Tertiary color is set as the background color, the background color is not working. I was able to reproduce this on Simple and AT sites.

I shared a workaround and let the user know that we will update them once it is fixed.

### Steps to reproduce

1. Activate Stow theme.
2. On the page editor, add a paragraph block.
3. Apply the same color set as Tertiary c

[2022-02-23 07:32] mriyazuddin commented on #5701
#4802954-zd

[2022-02-23 10:10] beafialho commented on #5420
Thanks @mikachan! Typically we add the content that's mocked up in Figma comps, if there isn't any we add it directly to the demo site. Should we start adding it?

[2022-02-23 10:14] mikachan commented on #5420
Ah OK, thanks! Yeah, I think now is a good time to add some content if possible.

[2022-02-23 11:44] iamtakashi commented on #5566
I still see this issue in Site Editor. I've noticed it while I was playing with Livro that shows full content on the index. If this is better to be reported in https://github.com/WordPress/gutenberg/pull/38947, Let me know.

<img width="1680" alt="Screenshot 2022-02-23 at 12 24 00" src="https://user-images.githubusercontent.com/908665/155313033-49c9fc60-6d47-4edb-af51-9ef41b2ee32e.png">

[2022-02-23 11:59] beafialho commented on #5501
Sorry it's taken us this long to reply. I've added a mockup [here](https://www.figma.com/file/S382KokJxg0G043wsNoFQj/Remote?node-id=1291%3A114) with visual changes that apply to both forms:

<img width="852" alt="Captura de ecrã 2022-02-23, às 11 58 38" src="https://user-images.githubusercontent.com/65220155/155315179-2678c860-9c8f-4071-b627-5d7202b8b4ce.png">

[2022-02-23 15:13] nagpai commented on #5701
ref - p1645623821825529-slack-C03TY6J1A

[2022-02-23 15:21] beafialho commented on #5508
@MaggieCabrera I think we can leave it like that, as users will eventually have access to other header patterns.

[2022-02-23 15:38] benchilcote commented on #4730
Another case here: 34336354-hc - Gave CSS as temporary workaround.

[2022-02-23 15:49] markhowellsmead opened #5578 "Livro: posts block doesn't respect block gap settings"
## Steps to replicate

Spacing units for column sizes and grid gap are hard-coded in the theme.

## Expected

They should respect the `--wp--style--block-gap` CSS property.

[2022-02-23 15:53] tellisbethel commented on #4639
Similar issue here, I believe: 4803627-zd-woothemes
All color options for the Cover block overlay can be selected except the Tertiary color palette option for some reason. When this is selected, the overlay defaults (on the live site, not in the editor) to the Foreground color option.

[2022-02-23 16:50] poeticabdul commented on #5132
Reported here 4791633-zen

[2022-02-23 18:18] scruffian opened #5579 "Remote: Editor issues"
I noticed a couple of issues in the editor:

<img width="713" alt="Screenshot 2022-02-23 at 18 16 34" src="https://user-images.githubusercontent.com/275961/155382032-210fa75b-9570-44c7-bc33-890fadab8d9d.png">

Maybe the focus styles should be excluded from the editor?

[2022-02-23 18:39] scruffian commented on #5579
Fix for the second issue here: https://github.com/WordPress/gutenberg/pull/39034

[2022-02-23 19:21] metabreakr commented on #2327
Re-opening issue: https://wordpress.com/forums/topic/buttons-displaying-as-wrong-colour/?view=all

Setting the color to grey still renders blue buttons on the page.

[2022-02-23 19:56] jffng commented on #5566
Thanks @iamtakashi, looks like there is still an issue with the query / post template. A solution is being explored in https://github.com/WordPress/gutenberg/pull/39014#issuecomment-1049071340.

We can re-open this for the time being.

[2022-02-23 20:35] Robertght commented on #5189
Same with Barnsbury: https://github.com/Automattic/themes/issues/5581

[2022-02-23 20:44] Robertght commented on #5582
I can confirm this happens on AT sites as well.

[2022-02-24 01:12] jordesign commented on #5585
I've found this to be the case on Hever as well. but not for Varia itself - so it seems specific to some child themes.
One thing I noted is that Varia does not include a Tertiary color itself - but the child themes do.

When the color is applied - a class is added to the element:

* `has-tertiary-background-color has-background`, or
* `has-tertiary-color has-text-color`

But then no color declarat

[2022-02-24 05:33] Greatdane commented on #5583
Also seems to affect the Scratchpad theme based on testing.

[2022-02-24 06:26] Greatdane commented on #5584
Not just the alt text field, all fields that you can enter text within the editor. For example Excerpt;

<img width="357" alt="Screenshot 2022-02-24 at 15 25 35" src="https://user-images.githubusercontent.com/5075840/155469840-3ed8bf4c-53b6-40a6-9eff-67f4a7a15dae.png">

(If I do not highlight the text here, it is impossible to see).

[2022-02-24 06:50] Greatdane commented on #5899
@Robertght - do you have any more insight on this, please? Is it just newer, block-based enabled theme that have this function?

[2022-02-24 08:00] fstath opened #5590 "Baskerville 2: Green arrows on social media button"
### Quick summary

Using the Social Icons block, the first icon appears with two green arrows.

### Steps to reproduce

1. Insert the Social Icons block in the widget area
2. Select one of the social icons
3. Save the changes and view the site

### What you expected to happen

The social icon to appear without the two green arrows.

### What actually happened

The social icon has two green arrows.

[2022-02-24 12:04] sharonlaker19 commented on #4578
Another report at 34362075-hc using the Balasana theme.
I've shared the recommended CSS fix from this related ticket 4293033-zen

[2022-02-24 12:24] Nic-Sevic commented on #5585
another instance here: 4805667-zd-woothemes
this time with the columns block

[2022-02-24 13:13] mxhassani opened #5589 "Hever theme Navigation block: Sub menu background transparent when picking a suggested color"
### Quick summary

When using the Navigation block with the hever theme, the background of the submenu appear transparent:

![image](https://user-images.githubusercontent.com/81776920/155529880-c6ec6b88-efbb-43c3-92b5-d82800b5333e.png)

### Steps to reproduce

1. Activate the hever theme
2. From Gutenberg add a Navigation block
3. Add a menu element and a submenu to it
4. From the sidebar select a

[2022-02-24 13:17] mxhassani commented on #5589
Additional: found a report related to the opposite scenario: picking custom colors results in a transparent background. No theme specified. No follow up: https://github.com/Automattic/wp-calypso/issues/44839

[2022-02-24 14:36] Robertght opened #5588 "Twenty Twelve: Buttons block inside widgets is not respecting the custom colors options"
### Quick summary

With Twenty Twelve, when we add a Buttons block and try to change the color options, it doesn't get applied despite having the right classes.

I'm reporting this here as Block widgets appear to be specific to .com.

### Steps to reproduce

1. Activate Twenty Twelve
2. Add a button block
3. Try to change the colors(text/background) of the buttons block

### What you expected to h

[2022-02-24 14:52] Robertght commented on #5589
Adding the case from the above closed issue.

Chat: #23206333-hc
Follow-up Ticket: #3215856-zen

[2022-02-24 15:41] Robertght commented on #5701
Thank you for reporting this @mriyazuddin I noticed there is no query loop block present on the Home template:

![image](https://user-images.githubusercontent.com/6737345/155557105-6f9e56e3-09fc-4a48-94ef-d58f8c859389.png)

Adding one does help and renders the other posts correctly. Could you please give this a try?

[2022-02-24 16:05] AMcGrady commented on #5585
Another instance here: 4809339-zd

Paragraph block background color not working on the Hever theme.

[2022-02-24 17:18] AMcGrady commented on #5585
Reported here: 4809827-zd
Blank Canvas theme

[2022-02-24 20:25] #5497 closed, assigned to matiasbenedetto

[2022-02-24 21:22] KirkwallDay commented on #4833
Another instance here: 33964196-hc
Russell theme.

[2022-02-24 22:13] nicolynramos commented on #3467
Another user report here: 34333705-hc
The header seems to be using the var(--wp--preset--color--foreground-high-contrast) instead.

[2022-02-24 22:22] AMcGrady commented on #5585
Possibly related:
https://github.com/Automattic/themes/issues/4639
?

[2022-02-25 09:02] scruffian commented on #5579
These are now fixed

[2022-02-25 09:02] #5579 closed, assigned to nobody

[2022-02-25 09:33] LauraSWP commented on #3710
Another one 34377315-hc

[2022-02-25 09:45] scruffian commented on #5546
I'm finding this hard to replicate. I can see it on danielwalsh.net but not on my test site with the FSE flag disabled. Are there other steps needed to deactivate FSE?

The root of the problem seems to be that some sites return `twitter` as a service for these links but in other cases we return `twitter-profile`.

[2022-02-25 11:00] mriyazuddin commented on #5701
Hey @Robertght that indeed worked in the editor. However, when I looked at the front-end, there's no change. It still shows the latest post alone.

[2022-02-25 12:40] carinapilar commented on #5602
I don't see any updates on the Slack thread mentioned above, so I'll share another report on 20512734-hc - user activated _Twenty Twenty-Two (Pink)_ and all images on the site turned into black and white. I recommended activating _Twenty Twenty-Two_ instead.

[2022-02-25 13:39] #5509 closed, assigned to matiasbenedetto

[2022-02-25 14:33] MaggieCabrera opened #5595 "Archeo: Submit to dotorg checklist"
The only warnings for Archeo from the theme check plugin are:

[code]

- [x] Fix warnings
- [x] Bump version to 1.0.0 https://github.com/Automattic/themes/pull/5668
- [x] Check changelog
- [x] Patch https://github.com/Automattic/themes/pull/5573
- [x] Ship it! https://themes.trac.wordpress.org/ticket/115279

[2022-02-25 17:33] Jaykame commented on #1294
Reporting similar issue here: 17604936-hc

[2022-02-25 19:03] kjellr commented on #5420
Great, thanks! @beafialho and I will start setting up the demo site next week.

[2022-02-25 19:05] ccwalburn commented on #2367
Another instance of this here: 34370678-hc
The link color change shows on the front end but not in the editor.

[2022-02-25 19:15] #5498 closed, assigned to jffng

[2022-02-27 17:26] kspilarski opened #5620 "Dara: Front page is wider than other pages if there's no sidebar widget"
### Quick summary

Using Dara, if there is no sidebar widget placed, the front page will be wider than the other pages. But if there is a sidebar widget placed, all pages have the same width as the front page.

### Steps to reproduce

1. activate Dara
2. set a static front page
3. do not add sidebar widgets, then save
4. check the front page and other pages.

### What you expected to happen

Even

[2022-02-27 18:06] i11za opened #5621 "Gema: Form Block Button Styles Issue"
### Quick summary

Discrepancy between the style in editor and published form.

### Steps to reproduce

1. Add Form Block
2. Select 'Outline' Style for the button.
3. Check the result in Preview or on published page.

### What you expected to happen

I expect the button to have the same style/outline as in the editor (screenshot below)

<img width="1106" alt="Screenshot 2022-02-27 at 18 59 04" src

[2022-02-28 10:07] poeticabdul commented on #5585
Reported here 33966058-hc for Rockfield theme

[2022-02-28 14:47] kerrynicl commented on #5606
Another report here -  4814713-zen

[2022-03-01 03:38] wprhunt opened #5622 "Quadrat: Post Comments Block not aligning and cutting off footer on AT sites"
### Quick summary

Adding the Post Comments block to the Single Posts template in Full Site Editor when in use with the Quadrat (black) theme, the block does not stay in alignment with the rest of the content (margin missing on both sides regardless of block alignment or if the block is in a group or columns block) and it seems to cause the rest of the page below it to be cut off and you can view

[2022-03-01 09:51] MaggieCabrera commented on #2806
@madhusudhand I see your fix solved the problems when the icons are left aligned, but when centered aI see them like this:
<img width="717" alt="Screenshot 2022-03-01 at 10 50 16" src="https://user-images.githubusercontent.com/3593343/156146224-f9574240-1291-4e70-a135-11e946f97dc6.png">

[2022-03-01 10:06] IoanaAMuresan commented on #4639
Customer here experiencing the same issue: 4805323-zen - asking to be kept in the loop when the issue's been fixed.

[2022-03-01 10:10] madhusudhand commented on #2806
@MaggieCabrera  I have configured different alignments and vertical orientation in sidebar. But I could not replicate the mentioned behavior.

<img width="338" alt="image" src="https://user-images.githubusercontent.com/1935113/156149355-dc20ab17-ac80-42ea-9221-7f15ccccd3d2.png">

Could you please provide me steps?
Also, is this issue in sidebar or other areas?

[2022-03-01 10:11] MaggieCabrera commented on #2806
I tried this inside the actual post content, which, looking at the screenshots on the original issue, is where the user was trying too

[2022-03-01 11:25] tellisbethel commented on #4833
Another report here: 4821628-zd-woothemes
Jackson theme.

[2022-03-01 12:37] madhusudhand commented on #2806
Social icons in a post

<img width="556" alt="image" src="https://user-images.githubusercontent.com/1935113/156170219-af3c66f5-a2a5-45b8-9610-4217dc7f5157.png">

[2022-03-01 16:00] dcoleonline commented on #4639
@IoanaAMuresan I sent a CSS workaround specific to the site for the site in 4805323-zen, but it was sent in 4822606-zen.

The relevant code was:

[code]

[2022-03-01 16:56] CodeAllNightNDay commented on #5589
I have the same thing happening with the Morden theme and can reproduce it on a test site.
Chat: 34314339-hc
Ticket: 4822423-zen

[2022-03-01 19:04] kjellr commented on #5595
The top warning should be addressed in #5598. Unfortunately, `chalk.png` is about as small as it can get while retaining its usage at that large size. So we'll need to just ignore that second warning for now.

[2022-03-01 19:16] kjellr opened #5599 "Archeo: Make header and footer wide-aligned"
Currently, the header and footer are not in alignment with the rest of the default page content. They should both be wide aligned.

Currently:

<img width="1512" alt="Screen Shot 2022-03-01 at 2 12 24 PM" src="https://user-images.githubusercontent.com/1202812/156233911-b5557c88-46bd-49e1-a224-0a24b5391b6f.png">

<img width="1512" alt="Screen Shot 2022-03-01 at 2 13 07 PM" src="https://user-images.

[2022-03-01 19:29] kjellr opened #5600 "Archeo: Jetpack Contact form has inconsistent field styles"
Not sure if this is something the theme needs to update or not, but if you use the Jetpack contact form, the form field styles are inconsistent:

<img width="682" alt="Screen Shot 2022-03-01 at 2 05 25 PM" src="https://user-images.githubusercontent.com/1202812/156234178-78cebd11-22a9-4a0b-a5ff-428659823d26.png">

The style around the "Messages" textarea looks more correct than that text fields.

[2022-03-01 19:39] janmckell opened #5605 "Ixion theme - error upon cropping images from media library"
### Quick summary

User was having an issue
-> "I have been unable to crop images directly in the media gallery. I select an image, go to 'edit image', click 'crop', select aspect ratio 16:9/freeform, press 'done' and get returned to the media gallery with the message 'we were unable to process this media item'.

Even when removing the image from posts and pages, the issue remains the same."

4816

[2022-03-01 20:39] upwardmomentum84 commented on #3438
Ran across this issue today in 4823123-zd-woothemes

Was able to duplicate on my end and came up with the following work-around. The paragraph block needs "size22" set as the class and the code added:

[code]

[2022-03-01 21:31] kimerlin81 commented on #5605
@janmckell  Thanks for submitting this detailed report. This issue has been triaged:

Reproduced on Simple site: https://d.pr/i/3TssQ7
Error also appears when you attempt to rotate or flip an image within the Media Library editor
Tested both methods (Media Library and Upload) on Atomic test site and could not reproduce there.
Workaround - crop images outside of Media Library by using the image blo

[2022-03-02 02:38] formosattic commented on #1829
+1 4823987-zd-woothemes

I checked for a CSS fix, but making it work nicely on mobile devices seems tricky.

I think the better workaround is to use the Latest Posts block (or Query Loop block).

| Latest Posts view  | Blog Posts view |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/156289984-d41160fd-2ce0-4c5c-b239-ec9e2fef6b76.png) | ![image2](ht

[2022-03-02 04:42] ramonjd opened #5608 "Stewart: h3 is larger than h2"
Maybe this is an intentional part of the design, but in Stewart, the h2 font size is smaller than the h3 font size.

In Stewart's [theme.json](https://github.com/Automattic/themes/blob/trunk/stewart/theme.json#L310
), the h3 element's fontSize is defined as the following:

`"fontSize": "var(--wp--preset--font-size--huge)"`

"huge" is `38px`.

The h2 element has a hardcoded fontSize of `32px`.

Sho

[2022-03-02 05:06] thesacredpath commented on #4730
Another report here: 34449061-zen Gave CSS as temp workaround.

Follow up: 4824166-zen

[2022-03-02 06:54] Greatdane commented on #5546
@scruffian - on a self-hosted site as well? I was able to replicate on both (with different results).

[2022-03-02 08:53] #4519 closed, assigned to madhusudhand

[2022-03-02 08:57] MaggieCabrera commented on #5608
@kjellr if you could clarify this? I don't see a typography section on the figma file for the theme

[2022-03-02 09:38] scruffian commented on #5546
I haven't been able to replicate on a self hosted site. Can you run through the steps?

[2022-03-02 12:11] MaggieCabrera commented on #2806
Closed via D75840-code

[2022-03-02 12:11] #2806 closed, assigned to madhusudhand

[2022-03-02 13:50] kjellr commented on #5608
Yeah, I think switching these makes sense. We should just be sure that the post titles stay the same size they are today.

[2022-03-02 17:10] matiasbenedetto commented on #4833
An update after a little research about this issue I can confirm that this is not related to Blockbase theme.

**Currently we are able to embed the Calendly widget in these ways:**

- On **self-hosted WordPress instances (.org)** you can use the Custom HTML block and paste there the Calendly embed code:

https://user-images.githubusercontent.com/1310626/156411638-7c017132-7474-4cdd-8f92-b3aef83bb6

[2022-03-02 19:04] KirkwallDay commented on #4833
Hi @matiasbenedetto, thank you for looking into this!

From your reply, it's not clear to me how this is not blockbase theme-related. Can clarify your thought process so I can determine the best place to direct this bug report?

[2022-03-02 19:35] matiasbenedetto commented on #4833
Hi, @KirkwallDay, this is not Blockbase related because it can be reproduced in other themes (I tested it with TT2  and Stewart, for example). But It is not a theme-related problem either. The problem is produced by how the Custom HTML block contents are saved in dotCom. It seems that for security reasons, the content of this block is escaped to remove all the potentially risky contents, so this H

[2022-03-02 22:06] KirkwallDay commented on #4833
Thanks for the explanation Matias, I really appreciate it. I'm going to submit this to Calypso, I'm wondering if it's FSE related then as the block works fine on non-FSE sites. I'll reply back here with the Github issue. Closing this.

[2022-03-02 22:06] #4833 closed, assigned to nobody

[2022-03-02 22:21] KirkwallDay commented on #4833
Reported here as an FSE issue: Automattic/jetpack#23357

[2022-03-03 05:02] madhusudhand commented on #5599
@kjellr I have done a quick check. Following are the observations.

Header and footer both seems to be aligned good with post except for a minor alignment for post title.

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/1935113/156498343-119e8eaa-fd1f-4a09-b28c-f35c50e86d20.png">

Also aligned with **Selected writings** section

<img width="1190" alt="image" src="https

[2022-03-03 05:15] madhusudhand commented on #5599
Also the footer text is not centre aligned in smaller screens.
<img width="457" alt="image" src="https://user-images.githubusercontent.com/1935113/156500794-58101650-9a49-4d7a-9f2a-020659b04141.png">

[2022-03-03 07:53] madhusudhand commented on #5600
@kjellr I am not able to replicate the issue. Styles seems to be working good.
Do you have a link to replicate this?

<img width="722" alt="image" src="https://user-images.githubusercontent.com/1935113/156520523-ffb652a3-9ea1-4344-91f6-98b8d132e6ac.png">

[2022-03-03 09:57] fresatomica commented on #1780
Another report here: https://wordpress.org/support/topic/undesired-links-appear-over-feature-image-2/

[2022-03-03 12:59] Gustavo-Hilario commented on #5585
Another report here: 4822858-zen

[2022-03-03 16:15] metabreakr commented on #4710
When a separator block is set to dots, the dots aren't aligned in a row:

<img width="1180" alt="Markup 2022-03-03 at 09 13 16" src="https://user-images.githubusercontent.com/39252765/156605249-9f1b083a-311c-4993-82d4-2aa306c411c7.png">

Tested in Blockbase in both simple and atomic.

Re-opening this issue, though let me know if you would prefer a new one opened instead.

[2022-03-03 17:02] boxadesign opened #5615 "package.json not included in zip"
## Steps to replicate

When you download this theme the package.json file is not included. Has to be manually created.
## Result

[What happened.]

## Expected

[What you expected to happen.]

* User report: [shortlink to chat/forum thread/ticket, ie 12345-hc]
* Follow-up ticket: [shortlink to ticket, ie 12345-zen]

[2022-03-03 17:25] iamtakashi opened #5616 "Blockbase: Paragraph block is not respecting Block Spacing setting"
## Steps to replicate

* Add a Group block that contains a block and a paragraph block.
* Set the block spacing to 0 for the Group block.
* See the spacing between the two elements in the Group block.

For example:
[code]

## Result

The top margin for the paragraph is still there on the front end. In the editor, the margin isn't there as expected. The CSS for the Quote block seems to be interferi

[2022-03-03 17:46] metabreakr commented on #5585
Also reported in the forum (Hever theme): https://wordpress.com/forums/topic/%e7%ac%ac%e4%b8%89%e4%b8%bb%e9%a2%98%e8%89%b2%e5%a4%b1%e6%95%88-tertiary-theme-color-doesnt-work-2/?view=all

[2022-03-03 19:39] iamtakashi opened #5617 "Blockbase: Unwanted top margin for paragraph"
## Steps to replicate

* Add a Group block
* Add a Paragraph block inside the Group block
* Add paddings to the Group block
* See it on the front-end

For example:
[code]
## Result

There is an unwanted top margin for the Paragraph block on the front-end. There is no margin in the editor as expected.
This is similar to #5616. The CSS for a Quote block is messing this up.

**Front-end**
<img width=

[2022-03-03 19:50] kjellr opened #5618 "Skatepark: Spacing refinements"
While reviewing the Skatepark demo site, I found a few small spacing issues I'd like for us to refine:

---

- [x] **The spacing below post/page headers is too narrow.**

We should add `calc(var(--wp--custom--gap--vertical)*3)` padding to the bottom of the post header on single posts/pages.

Current|Recommended
---|---
<img width="1505" alt="Screen Shot 2022-03-03 at 2 46 13 PM" src="https://user-

[2022-03-03 21:01] ariel-maidana opened #5625 "Payton: Theme palette reverted after making changes to menus in the Customizer in FSE"
### Quick summary

If you change the palette from global styles in an FSE site with the Payton theme, and then you modify a menu from Appearance ---> Customize ---> Menus, the colors in the theme palette are reverted after you save the changes to the menu.

This doesn't happen if you edit the menu with the Site Editor.

### Steps to reproduce

1. Go to Site ---> Editor.
2. Click on Styles ---> Col

[2022-03-03 23:50] jeyip commented on #5226
@alaczek friendly check-in.

Following up on what @creativecoder suggested, would using the group block be a possible alternative to the cover block in this situation?

[2022-03-04 02:18] Greatdane opened #5624 "Twenty Sixteen: Gallery Block misaligns images"
### Quick summary

On the active theme Twenty Sixteen, the gallery block is misaligned on **posts**.

See:

<img width="1477" alt="Markup 2022-03-04 at 11 13 30" src="https://user-images.githubusercontent.com/5075840/156686442-db383578-1f67-493f-9c82-7db29c807091.png">

### Steps to reproduce

1. Activate the theme: Twenty Sixteen
2. Add a Gallery block. It is easier to see if you have an odd numb

[2022-03-04 03:42] mriyazuddin commented on #5585
Another one here: 4827587-zd

[2022-03-04 05:43] inaikem commented on #3489
Another report here this time using Hever: 4829337-zd-woothemes

I added a class to the pullquote and provided a CSS fix.

[code]

[2022-03-04 05:44] inaikem commented on #3489
@edequalsawesome, pinging you in case you think the above would make a good addition to theme quirks.

[2022-03-04 09:48] Robertght commented on #5620
I know other themes have specific styling for the `.home` page and this might be one of these cases. I'm not sure if this is a bug, but cc'ing @kjellr for second look.

[2022-03-04 10:01] MaxPhilip commented on #5565
Misaligned icons in theme 'Twenty Twenty'  footer widget as well. Reported in 4829367-ZD.

![2022-03-04_10-58-12](https://user-images.githubusercontent.com/56555220/156742074-e7cefc18-dd60-46cc-9f41-1c7f9e5c6641.jpg)

[2022-03-04 10:02] MaggieCabrera commented on #5600
I can reproduce, but only on Safari

[2022-03-04 10:04] Robertght commented on #5622
It looks like we could need more details about this. The screenshot didn't seem to have been saved properly. Could you please re-upload it @wprhunt ?

I can confirm this is an issue only on Atomic sites and affects all Quadrat themes.

[2022-03-04 10:29] MaggieCabrera commented on #5599
@kjellr I'm working on this one, and none of the home page patterns are actually wide aligned, do we want to change that?
The header not aligning to the right text on the first pattern is because of the padding in the pattern. We can remove just that and keep everything aligned full width or we can align everything wide, including the header, but that makes everything look a bit smaller than the d

[2022-03-04 10:33] MaggieCabrera commented on #5599
Nevermind! the padding right is added by the media+text block styles and can only be overridden via CSS, so I'm not sure what to do here, I guess the option is make everything wide aligned then?

[2022-03-04 11:43] madhusudhand commented on #4789
This seems to be working fine except for the following
* Twenty Twenty One
* Twenty Twenty Two

<img width="473" alt="image" src="https://user-images.githubusercontent.com/1935113/156755536-85e16822-d4d9-40d7-a8e1-f193d579ecef.png">

@kspilarski Can you confirm?

[2022-03-04 12:01] MaxPhilip commented on #5549
Also happening with theme 'Twenty Twenty', reported in 4830862-ZD and reproduced

[2022-03-04 12:38] beafialho commented on #5420
Content has been added to the [demo site](https://archeodemo.wordpress.com).

[2022-03-04 13:43] Robertght commented on #5624
I cannot replicate this at all on my end. Could you share a link where this happens @Greatdane ?

[2022-03-04 13:59] Robertght commented on #5625
Hey @ariel-maidana ! Thank you for reporting this!

I tested this on an AT site, but I was not able to replicate the issue. Was a plugin conflict test run in advance?

Finally, could we test this on your website as well?

[2022-03-04 14:54] pbking commented on #5615
If development of the project is desired I think working with the repository and [downloading the zip from here](https://github.com/Automattic/themes/archive/refs/heads/trunk.zip) is the best bet.  I'm not sure that the sass should be included in the zip in the theme repository either.

[2022-03-04 15:46] MaggieCabrera commented on #5595
I want to remember that we had trouble in the past when we had too many images or too big ones on dotcom. Maybe we could make the background of `chahk.png` be the same color as the background of the site and make it a jpg?

[2022-03-04 18:16] matiasbenedetto commented on #5622
Hi, @wprhunt @Robertght, thanks for the bug report.

Currently, I'm not able to reproduce this. I'm getting this:
![image](https://user-images.githubusercontent.com/1310626/156819186-456f25dc-92a0-48a9-90e2-a4093f03b789.png)

:question:  Could you add a screenshot and confirm if this is still a problem, please?

[2022-03-04 20:55] kjellr commented on #5420
This should be all set now, so marking as closed.

[2022-03-04 20:55] #5420 closed, assigned to mikachan

[2022-03-04 20:57] kjellr commented on #5599
Interesting! I'd assumed that the content was all wide-aligned. 🤔 Let me dig into your PR on Monday and we'll sort out a solution here.

[2022-03-04 21:01] kjellr commented on #5620
That's weird. I'm not sure if that as the original design intent (maybe?). But in any case, I don't think we'd want to change it at this point because we wouldn't want to unintentionally change the layout of existing users' sites.

The exception to that would be if this width inconsistency is the result of a recent change to the theme. I'll add this to the dev team's triage board so someone can fo

[2022-03-04 21:07] kjellr commented on #5600
Ah yes. I think it's a Safari-only bug. 🤔

[2022-03-04 21:11] kjellr commented on #5595
I considered that (as well as using PNG-8 with a background-color-hinted border), but if folks change the background of the site it looks very poor immediately. That'll be frustrating for folks, and will also be weird if/when we implement alternate Styles. In any case, I'll take one more pass at exporting it next week just in case I missed an option last time around.

[2022-03-04 22:34] Greatdane commented on #5624
@Robertght  It happened on this ticket: 4830309-zd-woothemes

I was also able to replicate it on my own test site ; pdhtVd-28-p2

[2022-03-04 23:15] ariel-maidana commented on #5625
Hey @Robertght !

I took a screencast from my test site:

https://user-images.githubusercontent.com/4965723/156854539-041ccd60-6d98-498e-9311-1c4562b58fcc.mp4

Didn't run a test, but the only active plugins on my test sites are: akismet, amp, crowdsignal-forms, polldaddy,  gutenberg, jetpack, layout-grid, page-optimize, full-site-editing and wpcomsh-loader.

Yes, of course!

[2022-03-05 02:09] nagpai commented on #4638
The ticket mentioned above is being closed, please reopen once the issue is resolved and follow up with the user.

[2022-03-05 06:02] Robertght commented on #5624
To note: this happens only on posts and doesn't affect self-hosted websites.

[2022-03-05 06:51] Robertght commented on #5625
Thank you! That helps a lot!

I noticed Gutenberg wasn't active when I initially tested, but after activating it, I was able to replicate this issue.

[2022-03-05 07:40] Robertght commented on #5622
Thank you for looking into this @matiasbenedetto !

This is what I see on my end:

![image](https://user-images.githubusercontent.com/6737345/156873716-f2127a56-fc03-43b7-bf88-6c4bd540eca7.png)

[2022-03-06 11:25] kspilarski opened #5636 "Twenty Twenty Two: Cannot change alignment of Image block inside Group"
### Quick summary

In Site editor (Appearance > Editor), if an image block is within a group, the image alignment cannot be set. And if an image block is not within the group, it has no option to change the alignment.

On a regular page editor, if an image block is within a group, the alignment cannot be changed. But if the image block is not within a Group, the alignment works.

### Steps to repr

[2022-03-06 20:15] KirkwallDay commented on #5602
Another report here: 4836332-zen this one is the (Mint) varient.

[2022-03-06 22:53] nicolynramos commented on #5605
Another report 4817151-zen Twenty Sixteen
Also able to replicate on a test simple site but doesn't seem to be specific to Ixion theme. My test site is using the Karuna theme.

[2022-03-07 01:24] kuropixel opened #5646 "Mayland theme not offering theme demo content on simple sites"