[2018-09-25 06:58] KokkieH commented on #268
Done: https://core.trac.wordpress.org/ticket/44989

Noting that I created this issue via the theme info overlay available to superadmins. Should that perhaps be updated for default themes to direct people to the Core Trac instead?

[2018-09-25 21:43] catkit opened #269 "Sela: list bullets are displayed when theme is activated without any menu set to the Social Menu location"
I was able to reproduce it at my test site following these steps

## Steps to replicate

1. Emptied my test site
2. Activated Sela.

## Result
The bullets of an empty list appeared in the footer.

## Expected

No bullets should appear.

## More info
I set an existent menu to the Social Menu location and unset it right away without publishing the changes. This seems to have fixed the bullets.

When

[2018-09-26 01:37] kristarella commented on #236
Another report here: 4931337-hc

[2018-09-26 02:03] gpmw opened #270 "Cubic: Gutenberg Gallery block displays incorrectly on Cubic posts"
## Steps to replicate
- Create a post with Gutenberg active on Cubic theme.
- Add a gallery block with 3 or 4 images and 3 or 4 rows
- Publish

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

Link to screenshot:
http://cld.wthms.co/wcwowr
or
https://wpglenntechthemes.blog/wp-content/uploads/2018/09/gutenberg-gallery-on-cubic.jpg

Browser

[2018-09-26 07:00] kosiew commented on #237
https://woothemes.zendesk.com/agent/tickets/1350387

pinging for update :-)

[2018-09-26 07:04] kosiew commented on #238
https://woothemes.zendesk.com/agent/tickets/1360018

Pinging for update :-)

[2018-09-27 00:30] alaczek commented on #270
The issue is fixed in r50189-wpcom-themes

@gpmw if this was regarding customer on a Business plan, the changes will be visible once the code is deployed (should happen on Friday). Oh, in the future, please include ticket link if possible.

[2018-09-27 00:30] #270 closed

[2018-09-27 00:44] alaczek commented on #269
It looks like the menu in the footer is actually all pages menu - a default fallback for `wp_nav_menu()` function. The whole thing is wrapped in `has_nav_menu ( 'social' )` check, so this should not be happening. In any case, I'm going to set fallback to false and see if that helps.

[2018-09-27 00:48] alaczek commented on #269
Fixed in r50190-wpcom-themes

[2018-09-27 00:48] #269 closed

[2018-09-27 01:08] alaczek commented on #236
Fixed by adding the above CSS in r50191-wpcom-themes

[2018-09-27 01:08] #236 closed

[2018-09-27 02:14] alaczek commented on #231
Fixed in r50194-wpcom-themes. Replied to the forum thread as well.

[2018-09-27 02:14] #231 closed

[2018-09-27 05:11] KokkieH commented on #231
Thank you!

[2018-09-27 13:12] gpmw commented on #270
Hey! Thanks for looking into this and getting a fix for it.
I found this while testing Gutenburg on one of my sites and then I replicated it on one of my test sites.

There was no ticket. :)

[2018-09-27 20:14] scosgro commented on #266
In this particular instance, it's due to Infinite Scroll settings, which is expected behavior.

Disabling Infinite Scroll (Load more posts using the default theme behavior) makes the theme match the number of posts on the homepage to the number displayed in their settings. Can likely be closed, @alaczek?

[2018-09-27 21:08] thesacredpath opened #271 "Independent Publisher 2: Contrast on submenu items when on submenu item page"
With IP2 on test site, add submenu item and then click on that page to visit it and go back to menu and hover over top level item that the current page is on and you will see that the contrast between the background and text is not what it should be.

Screenshot
https://cldup.com/XrmkViHgDJ.png

Can we adjust the contrast on this, please?

hattip to @crunnells for noticing this on another issue I

[2018-09-27 21:23] thesacredpath opened #272 "Independent Publisher 2: Submenu items cut off at right margin"
Not sure if you will choose to address this issue or not after a Slack chat with @crunnells in Themes channel, but thought I would report it just in case. @crunnells mentioned this would require JS to fix.

## Steps to reproduce

1. Set up a submenu item in IP2 and view site
2. Adjust browser window so that menu item is last item on right
3. When you hover the top level menu item so the submenu ap

[2018-10-01 16:31] AtrumGeost opened #273 "Rebalance: The portfolio template is not displaying all the portfolio items"
## Steps to replicate

1. Add portfolio items to your site
2. Set the "Portfolio Page" template to a page
3. Compare the portfolio page template with the portfolio archive page:
For example:

- Portfolio page template: https://rebalancedemo.wordpress.com/portfolio-template/
- Portfolio archive page: https://rebalancedemo.wordpress.com/portfolio/

## Result

You will notice that the archive page ha

[2018-10-01 17:04] allancole commented on #264
Hi @fresatomica, I noticed that the “Show me yours, I'll show you mine.” post has other images in it that would work much better with their longer post title. Would it be possible to have them use one of these other images as their their featured image?

[Image 1](https://juliargallego.files.wordpress.com/2017/11/p1200850.jpg?w=1760)
{Image 2](https://juliargallego.files.wordpress.com/2017/11/p120

[2018-10-01 19:08] allancole commented on #266
Yeah, @scosgro I’m going to go ahead and close this. I tried testing with the Infinite Scroll setting disabled and got the same results as you.

[2018-10-01 19:08] #266 closed

[2018-10-01 20:53] allancole commented on #271
Fixed this issue here: https://github.com/Automattic/themes/commit/89a679f4f6cad8a892eab346d6dcf2acdb6f2443

[2018-10-01 20:53] #271 closed

[2018-10-01 20:56] allancole commented on #272
Yeah, this is a problem in a few themes that have a centered, full-width  menu. It would require some javascript to fix properly. I’ll see if I can sort it out.

[2018-10-01 22:53] Jstachurski commented on #239
There was another report of this here: #1455469-zen

[2018-10-02 01:35] tanjoymor commented on #171
We've got another ticket created from a Live Chat follow-up with what sounds like a similar issue.

* https://woothemes.zendesk.com/agent/tickets/1438152

@senff suggested the following custom css:

[code]

But the user is on a Personal Plan, so can't use custom css. Another HE suggested it might be a theme issue?

A few HEs were able to replicate the issue on the iPad Pro device.

[2018-10-02 20:22] vparkhere opened #274 "Lovecraft: Different title font on Follow Blog Widget"
## Steps to replicate

1) Activate theme.
2) Add Follow Blog widget to sidebar and another one like Categories widget to see comparison.
3) Notice difference in title fonts.

<img width="443" alt="screen shot 2018-10-02 at 4 16 03 pm" src="https://user-images.githubusercontent.com/11635760/46374409-ac047980-c65e-11e8-8200-afd194d2cc5d.png">

## Result
This Follow Blog widget has CSS for `label` th

[2018-10-03 15:27] samiff opened #275 "Publication: Some resolutions hide Simple Payment buttons in widget sidebar"
## Steps to replicate

* Activate Publication theme.
* Add Simple Payment widget to sidebar widget area.

## Result

* On desktop resolutions, the payment button options don't display:

![screen shot 2018-10-03 at 11 15 57 am](https://user-images.githubusercontent.com/15803018/46420727-9e9ecc00-c6fe-11e8-8751-66f4010cccb3.png)

* On mobile resolutions, the payment button options display as expecte

[2018-10-04 19:50] JoshuaGoode commented on #1
Another instance of this came in today.

## Steps to replicate
* Activating Radcliffe 2
* Set footer credit to WordPress.com Logo under Customize > Site Identity

## Results
* The footer credit includes "THÈME : RADCLIFFE 2 PAR ANDERS NORÉN"

## Expected
* The footer credit would hide "THÈME : RADCLIFFE 2 PAR ANDERS NORÉN" and only show the WordPress.com logo

Ticket: 1465354-zen.
Site: quercypier

[2018-10-05 06:50] sjaved87 opened #276 "Independent Publisher 2: Current page drop-down menu items are invisible on mobile"
When visiting a page on mobile, if it is in the menu, its subpages will not be visible.

## Steps to replicate

1. Visit the site demo https://independentpublisher2demo.wordpress.com on a mobile device.

2. Open the Menu; note the items listed (Home, About me, Photography on the top level, with Adventures with an SLR camera as a sub menu of Photography)

3. Click on Photography.

4. Reopen the men

[2018-10-05 08:43] shreeshylahs commented on #276
May i know was the above mentioned css manually added through Dashboard?

[2018-10-05 14:12] Robertght commented on #237
This ticket came in the queue again.

[2018-10-08 12:48] sjaved87 commented on #276
It looks like this one:

[code]

Is coming from theme style.css.

I gave the following to add through dashboard to fix/workaround:

[code]

[2018-10-09 12:42] sjaved87 commented on #276
I see, thank you and I am glad we were able to figure out. 👍

[2018-10-09 13:16] shreeshylahs commented on #276
I think there might be many other places which would need a fix.

[2018-10-10 16:33] dcoleonline commented on #208
User report & Follow-up Ticket: #1467605-zen
User's site: nationaltrustfamily.co.uk

They're noticing this on iOS 12 in Safari that there is a large gap under one of their posts that has a Jetpack gallery in the featured image area.

[2018-10-10 21:09] tmontg1 opened #278 "Isola: Default header colors loading in Customizer but not on live sites"
## Steps to replicate

1) Go to Customizer
2) Click 'Colors & Backgrounds'
3) Make a change to the color palette + publish
4) Change back to "default" + publish

## Result

At that point, the default colors are restored in the customizer but not on the live site.

## Expected

In this case, the default colors should be restored in the customizer as well as on the live site.

* User report: 618190-

[2018-10-11 00:16] laurelfulford commented on #278
Hi @tmontg1! Were you able to recreate this on a test site? It's possible this is a caching issue if it's only happening on this one site.

[2018-10-11 14:10] MindyPostoff commented on #278
@laurelfulford I was able to use the colors just fine on my test site, so I looked more closely into the user's site. The user has added a TON of custom CSS, which is overriding the color functionality of the theme. Removing the custom CSS allows the theme's color scheme to work as expected.

Closing issue.

[2018-10-11 14:10] #278 closed

[2018-10-11 15:08] tmontg1 commented on #278
Thanks @MindyPostoff and @laurelfulford

At the time of testing, I confirmed there was no custom CSS in the user's customizer. They removed it during our chat. It is possible they have added it back since.

When I go to https://goranpehrson.se/ now I see the hamburger menu, site title, and search icon are all black. As you'll see via the demo site (https://isolademo.wordpress.com/) the theme's def

[2018-10-11 15:46] laurelfulford commented on #278
Thanks for digging into this more, @MindyPostoff, and for the extra information, @tmontg1!

Sometimes the custom colours caching gets a bit too aggressive, and the colours get "stuck" (for lack of a better word). We can manually clear these in a couple ways:

1. Append `?clear-colors-cache` at the end of the site's URL will usually do it.
2. If it doesn't, ping someone in the theme team, and we ca

[2018-10-11 15:51] tmontg1 commented on #278
That did the trick! Thanks so much, @laurelfulford! I'll let the user know.

[2018-10-12 06:24] markx2 opened #279 "Apostrophe 2: Invisible text when commenting"
## Steps to replicate
Open https://themusing.in on mobile (I used Firefox on Android)
Open a post, scroll down and start commenting.

## Result

You cannot see your text as you type.

You can only see it when you move to a different field.

## Expected

That I could see my comment as I typed

* User report: 7179510-hc
* Follow-up ticket: Needs doing
* User's site: See above

[2018-10-12 11:38] joshuatf commented on #218
Is there any update on this?  The user has checked back in and the issue appears unresolved.

[2018-10-12 12:47] davidakennedy commented on #218
@jjchrisdiehl reopened this and @joshuatf flagged it so I took another look...

I see on the customer site that the widget area showing up in the Customizer is doing so because of the widget visibility feature in Jetpack.

See: https://cloudup.com/cNRNZKD1n1c

If that is removed, I believe this will be solved for the customer. I don't see any related bugs to this in Jetpack right now. Given that t

[2018-10-12 12:47] #218 closed

[2018-10-12 19:03] supernovia opened #280 "Vigilance: Buggy Infinite Scroll"
## Steps to replicate
- Visit a site with plenty of posts
- Note which dates to expect (not knowing makes it tougher to spot problems)
- Scroll down

## Result
- Swaths of posts are missing. For example, if I go to
https://citizensketcher.com/page/4/

I see a post for June 5, but the next one down is in March, even though there are several posts in between.

## Expected
Given that there aren't sti

[2018-10-12 19:15] supernovia opened #281 "Clean Home: Buggy Infinite Scroll"
## Steps to replicate
Visit a site with plenty of posts
Note which dates to expect (not knowing makes it tougher to spot problems)
Scroll down

## Result
Swaths of posts are missing, sometimes. For example, if I go to
https://shariblaukopf.com/page/4/
I see a post for July 31, but the next one down is in May 1, even though there are several posts in between.

Other times I can see the posts betwee

[2018-10-12 19:16] supernovia commented on #280
Likely related: https://github.com/Automattic/themes/issues/281

[2018-10-12 19:59] eduardozulian opened #282 "AltoFocus: menu overlap on IE 11"
## Steps to replicate

1. Open Internet Explorer 11
2. Visit https://altofocusdemo.wordpress.com/

## Result

Using the AltoFocus theme on IE11, the menu stands over the logo:

<img width="1144" alt="captura de tela 2018-10-12 as 16 56 18" src="https://user-images.githubusercontent.com/1136160/46891305-ccdb8480-ce3f-11e8-9798-4eda83e5c4fb.png">

The same happens in the theme demo page:

<img width

[2018-10-12 20:12] eduardozulian opened #283 "AltoFocus: theme demo page header issues"
## Steps to replicate

1. On a non-logged browser (Safari, Chrome, or FF), visit https://altofocusdemo.wordpress.com/
2. Check the header

## Result

It looks like the `demosite-header` is breaking how the theme header it was supposed to look. Here's how I see it with the header:

<img width="1375" alt="captura de tela 2018-10-12 as 17 09 34" src="https://user-images.githubusercontent.com/1136160/

[2018-10-16 07:42] Robertght commented on #239
A new request from the user in here: #1488276-zen

[2018-10-16 20:21] rclations commented on #108
Is it possible to patch Cubic as well?

User report: C03TY6J1A/p1539719524000100-slack-livechat

[2018-10-16 23:19] lakellie opened #284 "Radcliffe 2: Homepage post titles overlap on mobile when a "large" heading font is selected"
## Steps to replicate

1. Set a simple site to use Radcliffe 2
2. Navigate to Customizer > Homepage Settings > set Homepage to display latest posts
3. Ensure multiple posts with featured images and relatively long post titles are published
4. Navigate to Customizer > Fonts > Headings and choose a larger font, like Playfair Display, and the "Large" font size (or larger)
5. View site on mobile (in m

[2018-10-17 19:11] selectedselections commented on #208
#zen-1427808 came into play for me today. Keeping the ticket on on-hold for now.
Site: https://integration-resources.com

[2018-10-19 16:39] ezebecke commented on #218
Thank you @davidakennedy for taking another look.
Unfortunately, is not a self-hosted site. So the ability to disable widget visibility isn’t possible.
I understand that it might not be worked on since the issue will be resolved when Gutenberg is implemented. I'll be recommending the user another theme.

[2018-10-19 21:16] kathleenjross commented on #108
The user followed up [7335989-hc](7335989).

[2018-10-20 23:05] dkmyta opened #286 "Rowling: Images with Captions Displaced"
## Steps to replicate
The issue occurs in both posts and pages.

Create a new page, embed an image and add a caption to the image.

[Regular Image vs Image with Caption](http://prntscr.com/l8gj8k)

Using the most up to date version of Chrome on a Mac Pro.

## Result

Images with captions added are displaced to the right of the content area and aligned awkwardly with the remaining elements on the p

[2018-10-22 15:29] fresatomica commented on #264
Thanks for checking this @allancole, I will reply to the user and will let you know if they still want us to fix the code.

[2018-10-23 09:04] KokkieH opened #287 "Dyad 2: "Invisible" Jetpack cookie widget messing up footer widget display"
## Steps to replicate

This only happens on the self-hosted version of this theme:

1. Install Dyad 2 and Jetpack on a self-hosted site.
2. Visit the Customizer and add four widgets to the footer - all four widgets should display next to each other on a standard computer screen.
3. Change the visibility settings of one widget to not show on the front page (or just delete one widget) - note the wid

[2018-10-23 11:59] fresatomica commented on #264
Asked the user in #1512640-zd.

[2018-10-23 19:58] kathleenjross opened #288 "Pique: When homepage loads, the main text resizes and moves"
## Steps to replicate

User sent along this video so you can see how the text resizes and moves: http://drops.zencastr.com/a7a3b6229d4e. You are able to see on their site in Chrome, just when you visit it: https://lemonlandpod.com.

## Result

I was also able to see the text size change and move on the theme demo page: https://piquedemo.wordpress.com/

## Expected

* User report: #6878132-hc
* Fol

[2018-10-23 21:06] marcuswisecaesar commented on #151
Similar Issue in: https://mc.a8c.com/support-stats/happychat/transcript.php?id=7489447
Informed the user this is a known issue.
User: rh103@queensu.ca
Site logementsain.ca
![Screenshot](https://i.imgur.com/UtQk3Bf.png)

CSS workaround to provide the user temporarily until bug is fixed.

[2018-10-24 15:44] joendotcom commented on #151
Also appeared in 1515581-zen with language set to German.

[2018-10-24 20:12] ccwalburn commented on #208
#zen-1427808 came back into play for me today. Put ticket on hold again.
Site: https://integration-resources.com

[2018-10-26 01:01] desnum commented on #192
A customer with the Syntax theme is seeing both a perpetual loading wheel in the browser tab, and his menu won't open on Firefox and Safari, though both issues appear to be a non-issue in Chrome and IE. He has a free site with no custom CSS, and no plugins (so no plugin incompatibilities)

Links:

- Ticket: 514487-zen
- Slack chat: p1540500875000100-slack-themes (includes a screenshot)
- Theme: ht

[2018-10-26 17:11] madhattermattic commented on #237
Ticket popped up again, pinging for update. Thanks!

[2018-10-26 17:23] laurelfulford opened #289 "Cubic: Loading issues when ads enabled"
Cubic is exhibiting similar issues as described in #108 -- the theme isn't working as expected when ads are enabled.

* User report: p1539719524000100-slack-livechat
* User followed up  here: 7335989-hc.

Moved from https://github.com/Automattic/themes/issues/108#issuecomment-430386460, for visibility. (hattip @rclations & @kathleenjross).

[2018-10-26 17:29] samiff opened #290 "Ippo: Content not loading with WordAds enabled on mobile devices"
## Steps to replicate

1. Enable theme `Ippo` for a site with blog posts on homepage.
2. Enable WordAds to display ads.

## Result

1. When WordAds are enabled, on mobile devices, the site content below the header doesn't load.
    * On my Android device, when I hit stop loading in the Chrome browser, all the content magically appears.
2. Upon disabling WordAds, observe that site content loads as

[2018-10-29 16:08] nickpagz opened #291 "Dyad 2: Featured Content post title cut-off on some mobile devices"
## Steps to replicate

* Create a post with a longer title.
* Set that post as 'featured content' so it shows up in the slideshow.
* Set the headings font size to **Huge**
* View in Chrome developer tools using **Galaxy S5** view mode. (Also visible on actual mobile devices).

## Result

Title gets cut-off.
https://cld.wthms.co/UUbGaA

## Expected

The title text should resize to fit the view.

*

[2018-10-30 00:55] alaczek commented on #290
Hi! Ippo is a premium theme, so moving this report to Trac: 2514-wpcom-premium-themes
I'd probably check in with Ads team as well, they might have some insight into this issue.

[2018-10-30 00:55] #290 closed

[2018-10-30 22:11] ezebecke opened #294 "Sketch: Blurry Feature GIFs on high res screens"
## Steps to replicate

- Only monitors with high DPI.
- Chrome or Firefox
- Use portfolio feature to show projects on a page. Set the page template to "Portfolio Page Template"
- Add portfolio projects using a GIF as a feature image.

## Result

GIFs load at full resolution then it flashes and the GIF downgrades quality.
You can only see the quality downgrade if you are using a high DPI screen.

#

[2018-10-31 08:24] KokkieH opened #295 "Runo Lite: Cookie widget cannot be dismissed on mobile"
## Steps to replicate

1. Activate theme on site
2. Make sure site is set to public
3. View in a browser on a mobile device (mobile/responsive view in browser dev tools will also work)

## Result

When clicking the Accept button on the cookie banner, the button jumps to the top of the banner and back to it's regular position, without dismissing the banner.

![cookie](https://user-images.githubuser

[2018-10-31 21:55] ccwalburn commented on #208
#zen-1427808 came back into play for me today. Put ticket on hold again.
Site: https://integration-resources.com

[2018-11-01 06:29] KokkieH commented on #295
User has changed to a different theme, but leaving this open for now.

[2018-11-01 13:56] kathrynwp opened #296 "Business: Horizontal scroll at screens wider than 800px"
There is about 10-15px of horizontal scroll at every screen size over 800px wide.

## Steps to replicate

**Browsers tested:** Firefox 63.0 & Chrome 70.0.3538.77

1. Open https://businessthemedemo.wordpress.com/ in Firefox or Chrome
2. Make the browser wider than 800px

**OS** macOS 10.12.6

## Result

You can scroll side-to-side by about 10-15px.

Screencast:

https://cloudup.com/cElE7u9nBGp

##

[2018-11-01 21:06] catrymer commented on #289
Got a user in chat today who was upset about this problem - #7497883-hc

They asked that we contact them directly when the problem is resolved so they know when they can re-enable WordAds safely without it breaking their site on mobile.

[2018-11-02 03:48] arunsathiya commented on #296
Noting that I am not able to reproduce on MacBook Pro (15-inch, 2016) with the same demo site.

- [Video indicating this behaviour with Google Chrome Version 70.0.3538.77 (Official Build) (64-bit)](https://cloudup.com/c7jtFCGjiTA).
- [Video indicating this behaviour with Firefox Quantum 63.0.1 (64-bit)](https://cloudup.com/c8jdsO5Ef20).

In both the cases, the screen was wider than 800px. Both on

[2018-11-03 07:06] Robertght commented on #282
Howdy! I just got this in queue. Can I get someone to look at this? :) Thanks!

[2018-11-03 21:48] scosgro opened #297 "Resonar: Sidebar Toggle Empty with Cookies and Consent Widget"
## Steps to replicate

Theme: Resonar

1. Customize
2. Widgets - +Add a Widget - Cookies and Consent Banner
3. Make sure that the only widget added is the Cookies and Consent Banner widget.
4. Publish changes.
5. Visit site and click on Sidebar toggle (three dots to the right of the menu in the top right corner).

## Result

The sidebar toggle appears because a widget has been added, but since the

[2018-11-03 22:13] jamiepalatnik opened #298 "Business: Mailto links in social icons menu shows link icon, not envelope icon"
## Steps to replicate

1. Create a new menu.
2. Add a custom link menu item with a mailto link in the URL.

## Result

A link icon appears on the site.

## Expected

I would expect an envelope icon similar to what appears on other themes. Is this expected?
Discussed in p1541277861205700-slack-themes

* User report: #1539729-zen
* User's site: https://mancelos.com/

[2018-11-05 23:46] jesscga opened #309 "Small Business: Elements Off-Center in IE 11"
## Steps to replicate
Visit http://conroe748com.wordpress.com/ in Internet Explorer 11

## Result
Logo and Hero Text appear off-center

Screenshot: http://cld.wthms.co/yxJqaT

## Expected
Logo and Hero Text should be centered

Screenshot: http://cld.wthms.co/Oouvpl

* User report: #7729520-hc
* Follow-up ticket: #1545345-zen
* User's site: http://conroe748com.wordpress.com/

[2018-11-05 23:49] jesscga commented on #309
Whoops - moved to https://wpcom-premium-themes.trac.automattic.com/ticket/2520#ticket

[2018-11-05 23:50] #309 closed

[2018-11-06 05:33] arunsathiya opened #310 "Business: Gutenberg: Title and content block on editor not aligned"
## Steps to replicate

- Activate Business theme on a WordPress.com site or install on a local/WordPress.org site
- Open a new post/page editor

## Result

The title and content blocks are not aligned. One can notice that the `Add title` and `Write your story` sections are not aligned.

And, on clicking the content block region makes the alignment appear fine.

<img width="876" alt="screenshot 201

[2018-11-07 03:54] nagpai commented on #225
User reported their header disappearing in the default palette here
6874567-hc

I asked them to change the palette from customizer, however the default palette needs a fix.

[2018-11-07 15:22] SeeRjED commented on #225
Having the same issue with background colour set to white. It hides the menu button for me and I'm pretty sure this wasn't the case a few weeks ago.

[2018-11-07 15:39] kylemcph opened #318 "Intergalactic 2: Menu and Site Identity missing when Header Image is added"
## Steps to replicate

When Homepage Settings are set to display "A Static Post", and the homepage has no feature image, and there is no header image set, the menu and Site Identity are displayed as expected:
http://cld.wthms.co/b1U086

However, when a header image is added, the menu and site identity *disappear*. They don't actually disappear, but they are not visible, as a white bar is created,

[2018-11-07 15:43] laurelfulford commented on #318
Thanks for the report @kylemcph!

I introduced this issue when committing some changes to Intergalactic 2, to add support for Gutenberg styles -- specifically to avoid the little side-scroll you can get with some wide block styles. This should now be fixed!

Original issue was introduced in #316/r51126-wpcom-themes.

[2018-11-07 15:53] senff opened #319 "Photos: site title + description can not be hidden"
## Steps to replicate

1. Add a site title + description in the Customizer
2. Deselect "Display Site Title and Tagline"
3. Publish changes

## Result

Although the Site title and description disappear from the Customizer Preview, they are still visible on the site.

## Expected

Site title and description should be hidden.

* User report: 6587570-hc
* Follow-up ticket: n/a (currently disabled with

[2018-11-07 16:28] laurelfulford commented on #225
@nagpai that looks like a different issue that was introduced yesterday, reported here: #318. The issue has been fixed; I've checked their site and it looks like the header is now working as expected.

[2018-11-07 18:26] juliasydnor opened #321 "Dara: Grid Page Template not shown on Static Front Page"
## Steps to replicate

1. Assign the Grid Page Template to a published page.
2. Assign the published page with the Grid Page Template as the parent page of at least one other published page.
3. Assign the published page with the Grid Page Template as the static front page in the Customizer.

## Result

The published page with the Grid Page Template and child page appears normally, as seen here:

<

[2018-11-07 18:55] laurelfulford opened #322 "Affinity: Theme needs Gutenberg editor colour palette in blocks.css"
Affinity uses Gutenberg's default colour scheme, but because it doesn't include `wp-block-style`, it needs to manually include those colours in the blocks.css to have them applied on the front end.

No user report; noticed on my own that this was an issue when working on another theme.

[2018-11-07 20:46] AtrumGeost opened #323 "Hemingway Rewritten: Hebrew language breaks submenus"
## Steps to replicate

1. Create a menu with submenus on the site.
2. Change the site language to Hebrew

## Result

All the submenus are displayed at the same time:

![screen shot 2018-11-07 at 15 40 29](https://user-images.githubusercontent.com/3696121/48159749-12a33580-e2a4-11e8-81bb-37b8773aea51.png)

## Expected

The menu to work properly as with the English language

* User report: 7880741-h

[2018-11-08 17:17] ashercantrell commented on #1
I just had a very similar issue, but with an EN-GB site. As long as the language is set to EN-GB, the credit says "Proudly Powered by WordPress" and links to https://en-gb.wordpress.org/

Changing the language to just EN fixes the issue.

#1552270-zen

[2018-11-08 18:05] ash1eygrace opened #327 "Lodestar: Customizer Displays Menu Centered / Expected to Align-Left"
## Steps to replicate

1. Install the theme https://wordpress.com/theme/lodestar/
2. Add a menu via the customizer (if you don't have one) and Publish
3. Notice that the menu is centered in the customizer but aligned left on the live site as shown in the screenshots below:
Customizer shows menu centered: https://cloudup.com/i6Vj26PbcWG
Live site shows menu aligned left: https://cloudup.com/c58Lj40

[2018-11-09 00:17] alaczek commented on #298
This is fixed now. Initially we implemented a custom social menu, but it has been switched to Jetpack social menu.

[2018-11-09 00:17] #298 closed

[2018-11-09 16:16] damiannep opened #330 "Independent Publisher: Hebrew Text overlaps in Author Bio"
## Steps to replicate
Create a page in Hebrew with author bio enabled. Then open the page and scroll down to the Author Bio enabled on single posts.

## Result

The text doesn't render properly e.g. https://cld.wthms.co/8eR0eL

## Expected

The text renders correctly in other themes such as Dara: https://cld.wthms.co/CYDLV7

* User report: #7924341-hc
* Follow-up ticket: #1555074-zd
* User's site:

[2018-11-10 00:03] lakellie opened #331 "Business: Social Links Menu - There is no margin or padding around social icons on mobile"
## Steps to replicate

- Install Business theme on a simple site
- Go to Customizer > Menus and create a Social Links Menu
- Add at least 2 social media links to the menu
- Check the "social menu" menu location box
- Visit the site, shrink the browser to less than 815px wide, and scroll to bottom of the homepage to view the social links menu

## Result

When the browser is smaller than 815px wide,

[2018-11-10 06:42] nagpai commented on #330
* The site-posted-on  div seems to remain right floated .. may need to change to left since this is a RTL language

* The Avatar may need to be given a top margin of 20px

Added the following custom CSS

[code]
Trying to submit my first PR for this :)

[2018-11-10 09:19] shoppingandmore2017 opened #333 "Automatik themes"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

## Result

[What happened.]

## Expected

[What you expected to happen.]

* User report: [shortlink to chat/forum thread/ticket, ie #12345-hc]
* Follow-up ticket: [shortlink to ticket, ie #12345-zd]
* User's site: [link to user's site, including the specific page/post

[2018-11-10 09:19] shoppingandmore2017 opened #334 "Automatik themes"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

## Result

[What happened.]

## Expected

[What you expected to happen.]

* User report: [shortlink to chat/forum thread/ticket, ie #12345-hc]
* Follow-up ticket: [shortlink to ticket, ie #12345-zd]
* User's site: [link to user's site, including the specific page/post

[2018-11-10 10:58] nielslange commented on #333
Close issue which looks to be created accidentally.

[2018-11-10 10:58] #333 closed

[2018-11-10 10:58] nielslange commented on #334
Close issue which looks to be created accidentally.

[2018-11-10 10:58] #334 closed

[2018-11-10 14:12] arunsathiya commented on #331
I tested this and can reproduce this issue as well on WordPress.com.

<img width="398" alt="screenshot 2018-11-10 at 19 41 47" src="https://user-images.githubusercontent.com/18581859/48302274-c7498b00-e520-11e8-860a-f0b398c1af0c.png">

On downloading the theme from [this page](https://wordpress.com/theme/business) for my self-hosted WordPress (WordPress.org)/local WordPress site, I am not able to

[2018-11-10 15:10] nagpai commented on #330
I have some new information after my first futile attempt at a PR :-P

**tl;dr -** The issue seems to be with the broken link of the Photon CDN served RTL CSS file

After realizing that the CSS rules in the theme's source code rtl.css are correct, my eyes fell on the inspector output for errors

<img width="1013" alt="screenshot 2018-11-10 at 8 36 34 pm" src="https://user-images.githubusercontent.

[2018-11-10 16:59] nagpai commented on #330
The issue is fixed by the System team. The test site as well as the user's site is now loading the Author Bio box correctly. Closing the issue here.

[2018-11-10 16:59] #330 closed

[2018-11-12 14:19] nagpai commented on #321
Unlike themes that have a "Front Page Template" in the templates dropdown within Page Attributes, Dara seems to apply the front page theme and override any existing template on the page designated as front page. (eg. Default, Full Width or Grid template).

I would place this issue a feature request since as per the theme design we would expect the front page to only show the Dara front page design

[2018-11-12 19:43] laurelfulford commented on #321
Thanks for the report, @juliasydnor!

What @nagpai says is correct, but it's not exclusive to Dara -- it's related to WordPress's core behaviour. When a theme includes a front-page.php, it's always used on the static front page. It's suppose to help with site setup when a theme has a particular front-page design, to save users from having to assign a specific template to the front page to achieve

[2018-11-12 19:43] #321 closed

[2018-11-13 19:01] Jstachurski opened #340 "Publication: Menu won't display unless widgets are active"
## Steps to replicate

The site has a main menu selected and in place. However, it is not visible.

<img width="684" alt="screen shot 2018-11-13 at 1 52 26 pm" src="https://user-images.githubusercontent.com/8549154/48435873-6f429c80-e74b-11e8-84f5-c4e2b510fe57.png">

No steps to replicate. The menu was working, now it's not.

I took a look at recent changes made and it looks like there were some m

[2018-11-13 19:09] #340 closed

[2018-11-13 19:12] laurelfulford commented on #340
This should now be fixed on WP.com in r51346-wpcom-themes! I'll add a comment to follow up on the ZD ticket.

[2018-11-13 19:22] Jstachurski commented on #340
Super fast! Thank you!

[2018-11-13 23:16] jessestu commented on #296
I see these horizontal scroll bars.

On my Mac, in System Preferences → General → Show scroll bars, I have it set to _Always_ after seeing a tip to keep those on from another dev.

@arunsathiya and @kathrynwp, what settings do you have in these tests for your scrollbars?

When the scrollbars are always on, I see this:

![screen shot on 2018-11-13 at 17 09 32](https://user-images.githubusercontent.

[2018-11-14 13:17] arunsathiya commented on #296
@jessestu You are right. I should have checked with the scroll bars visible all the time. 👍🏽

[2018-11-15 08:26] edwinho89 opened #351 "Karuna: Uppercase Text Title and Headings on Gutenberg Editor"
## Steps to replicate

1. Activate Gutenberg Editor on Karuna, and create/edit any posts with Gutenberg editor.

## Result

When editing you can see that "Title" has been transformed as "TITLE" automatically.

https://cloudup.com/cHQw6d0e1_L

Below is the result after setting into each of the heading:

https://cloudup.com/cPS4B8cY7d3

When the post is published, the Title is displaying correct, ho

[2018-11-15 17:37] #351 closed

[2018-11-15 17:40] laurelfulford commented on #351
I have corrected the post title in the theme. It looks like customer is on a business site, so will follow up once the fix has been deployed to their live site.

Looking at their site, I see that they have some Custom CSS to make the headers not use the uppercase styles, which is why the editor looks different than what they see on the front-end. So unfortunately, that will continue to not line up

[2018-11-16 00:40] jordesign commented on #208
#zen-1427808 came back into play for me today. Put ticket on hold again.
Site: https://integration-resources.com

[2018-11-16 03:35] ezraalamsyah opened #354 "Dyad 2: Featured Image in Posts are unstable in Microsoft Edge"
## Steps to replicate

Open one of the posts with Featured Image set with Chrome and Microsoft Edge. For example: https://dyad2demo.wordpress.com/2015/05/19/this-is-a-sticky-post/

## Result

When opened in Chrome, scrolling up and down the post will leave the Featured Image as static. However, when opened in Microsoft Edge, the Featured Image is jumpy and unstable.

## Expected

The Featured Imag

[2018-11-16 06:19] edwinho89 commented on #351
Hi @laurelfulford thank you for your quick and thorough explanation on the case! I just noticed the default styling for Karuna (https://karunademo.wordpress.com/style-guide/) had uppercase by default, my bad. 😄 I've let the user know upfront on what to expect on the next fix.

[2018-11-16 19:48] richardmtl opened #355 "Textbook: Unable to have full-width static homepage"
This came up in chat 5939376-hc

With Textbook, the documentation says "TextBook comes with two widget areas. The right sidebar widget area lives on the right side of all posts, pages, and archives"; however, if I set a Static Homepage, I'm unable to show a full-width version without getting rid of all of my widgets. Based on that text, it feels like there should be a full-width template available

[2018-11-16 20:18] AtrumGeost opened #356 "Orvis: Conflict on portfolio items when aligning images with Gutenberg"
## Steps to replicate

1. Activate the Orvis theme and Gutenberg
2. Create a portfolio item and add images to its content
3. Use the "align center" option:

![screen shot 2018-11-16 at 15 12 12](https://user-images.githubusercontent.com/3696121/48644937-1de81680-e9b2-11e8-9475-c94b771a8281.png)

4. Publish the changes

## Result

The space between images is removed:

![screen shot on 2018-11-16 at

[2018-11-16 21:33] Robertght opened #357 "Radcliffe 2&Gutenberg: Wide width tables is left aligned"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

1. Insert a table on the page/post via Gutenberg
2. Select the wide width option from the alignment bar
3. It gets aligned to the left due to the following CSS rule:
[code]
## Result
![image](https://user-images.githubusercontent.com/6737345/48648386-d3898880-e9f7-11e

[2018-11-16 23:11] laurelfulford commented on #357
This has been fixed with the changes in #359.

I removed the CSS fixing the issue on the user's site, since it paired with the fix caused more issues :)

@Robertght Can you please follow up with the user? I'm not sure if there's an associated ticket, the Slack reference above only includes the time stamp, not the channel, so I can't check the discussion there. Thanks!

[2018-11-16 23:11] #357 closed

[2018-11-18 06:23] sanjeev00733 commented on #284
Another report here:  https://woothemes.zendesk.com/agent/tickets/1569638

I have provided CSS to fix the issue on users site temporarily

[2018-11-18 08:37] torres126 commented on #208
This was also reported in this forum thread: https://en.forums.wordpress.com/topic/gap-before-the-post/

Site: https://frombrushtoheart.org/newsupdates/

[2018-11-18 16:29] torres126 opened #361 "Libre 2: Scrolling Issue with Pages"
## Steps to replicate

1. Activate the theme "Libre 2" on a WordPress.com blog
2. View a page on the website, provided it is not the posts page
3. See issue

## Result

You'll see a scrolling bar at the bottom of the browser. When you scroll down, this bar will disappear, but this only seems to occur on pages which are not the posts page: https://prnt.sc/ljvibc

## Expected

The website shouldn't

[2018-11-19 05:49] KokkieH commented on #361
Thanks for the report.

@laurelfulford, any chance this could be related to the recent changes for Gutenberg support on this theme?

[2018-11-19 14:58] kriskorn opened #363 "Twenty Sixteen: Blog Post Content Image Width with Gutenberg"
## Steps to replicate

1. Go to Blog Posts -> Add.
2. Add some text and image content
3. Go to the blog post on the front-end

## Result

1. Post created with Gutenberg:

![content-width-gutenberg](https://user-images.githubusercontent.com/12064241/48714452-6e15e180-ec1b-11e8-993c-9ff9a50af298.JPG)

2. Post created on a self-hosted site with Classic editor:

![content-width-org](https://user-image

[2018-11-19 17:10] laurelfulford commented on #363
Hey @kriskorn! I'm in the process of testing this and moving it to the WordPress Core Trac, where the default themes live.

In my testing:

1. Large images in the original editors worked (self hosted and on WP.com).
2. Large images in Gutenberg's Classic block worked (when you turn on Gutenberg, existing posts will automagically switch to use the Classic block, but you can also create a new post w

[2018-11-19 17:20] laurelfulford commented on #363
Moved this issue here: https://core.trac.wordpress.org/ticket/45380

[2018-11-19 19:54] laurelfulford commented on #363
I'm going to close this issue in favour of the Core issue above.

[2018-11-19 19:54] #363 closed

[2018-11-19 20:18] laurelfulford commented on #361
@KokkieH Yikes, yes, this change is related to those updates. Thanks for the report, @torres126!

[2018-11-19 20:30] torres126 commented on #361
Thanks! :)

[2018-11-19 21:07] SiobhyB commented on #155
We've had another report of this issue in 1576490-z and I can confirm I was able to replicate by following the steps Tracy laid out.

[2018-11-20 05:21] KokkieH commented on #361
Thanks Laurel.

Congrats on your first PR here, @torres126 :)

[2018-11-20 10:25] gemmagarner opened #368 "Edin: third level menu links cut off on the right"
## Steps to replicate

1. With Edin activate, create a menu with the following structure:

2. Publish the menu and then try to access third level menu items.

## Result

The third level menu background is cut off on the right — shorter links are displayed in full but not those containing longer or multiple words.

![edin-cut-off](https://user-images.githubusercontent.com/11627765/48767262-43289d80

[2018-11-20 14:55] mdrockwell opened #369 "Libretto: Site Logo Link Overlaps Menu Items"
## Steps to replicate

- Change a site's theme to Libretto
- Add a site logo in the Customizer
- Add a handful of links to the menu in the header

## Result

When viewing the site in at a laptop-sized viewport width (I tested at 1440 wide) the link on the site logo overlaps with the menu, making some menu items un-clickable.

Tested in Safari, Chrome, and Firefox on macOS Mojave.

## Expected

The

[2018-11-20 21:25] supernovia opened #371 "Penscratch 2: No-Sidebar layout is off center at 55em"
## Steps to replicate
- Enable theme
- Remove sidebar widgets
- Adjust screen width to about 55em

## Result
![screen shot 2018-11-20 at 2 21 15 pm](https://user-images.githubusercontent.com/3476361/48803587-965f1800-eccf-11e8-9313-57428d78f7fa.png)

## Expected
![screen shot 2018-11-20 at 2 23 48 pm](https://user-images.githubusercontent.com/3476361/48803702-e76f0c00-eccf-11e8-9469-c31949f3094b.p

[2018-11-21 02:51] laurelfulford commented on #351
Thanks @edwinho89!

Just following up after (finally!) confirming these changes are live on business sites.

[2018-11-21 09:45] KokkieH opened #374 "Chateau: Related Posts div overlaps Sharing Buttons, making them unclickable"
It appears under certain circumstances the Related Posts section on a post overlaps the sharing buttons, rendering the sharing buttons unclickable.

## Steps to replicate

1. Use a site with several posts published so that Related Posts will load on single posts.
2. Go to My Site ->Settings ->Traffic and enable Related Posts. It doesn't matter whether they show thumbnail images or not.
3. Go to My

[2018-11-21 18:28] jamiepalatnik opened #376 "Dara: Images centered in Gutenberg display are aligned to the left"
## Steps to replicate

1. Center an image with a caption in Gutenberg.
2. Preview or publish the page.

## Result

When you preview the page, the image appears aligned to the left with a very narrow caption: https://cld.wthms.co/UiQqTv

## Expected

The image should display aligned to center as it appears in the editor.

* User report: #7303077-hc
* Follow-up ticket: #1583213-zen

[2018-11-21 18:43] laurelfulford commented on #376
Thanks for reporting this, @jamiepalatnik!

I can't quite reproduce this issue exactly as described - were you able to? This is what I've done:
1. Create an image block
2. Use a smaller image (which is what appears to be happening in the screenshot).
3. Add a caption.
4. Centre the block.

Both in the preview and in the published page, the image is left aligned (which needs to be fixed) but the ca

[2018-11-21 18:53] laurelfulford commented on #376
I've deployed a fix that addresses the image not being centred in #377, and r51549-wpcom-themes. Once I can reproduce the caption issue, I can take care of that too!

[2018-11-21 19:05] jamiepalatnik commented on #376
I'm still seeing the caption issue when I test. I tried:

1. Create an image block.
2. Use a smaller image.
3. Add a caption.
4. Center the block.

I also tried changing the order:

1. Create an image block.
2. Use a smaller image.
3. Center the block.
4. Add a caption.

In both tries the caption still shows aligned to the left in a narrow column: https://cld.wthms.co/hBO7MT
Test site: https://wpj

[2018-11-21 19:05] torres126 commented on #376
@laurelfulford I think they're related to the images used, I can reproduce the caption issue with some images but not others. From my testing, it seems to only be images which are transparent that cause the issue with the caption, such as [this one](https://backupclubpenguintorres126.files.wordpress.com/2018/11/music_jam_2010_access_login_screen_3.png). :)

[2018-11-21 19:12] laurelfulford commented on #376
Thanks @jamiepalatnik! It was my bad -- it's not happening in Firefox, but once I switch to Chrome, I get it! :) Looking at a fix now!

[2018-11-21 19:39] #376 closed

[2018-11-21 19:55] laurelfulford commented on #376
This should now be fully fixed, and committed in r51550-wpcom-themes! Thanks again for the extra deets, @jamiepalatnik!

[2018-11-21 20:01] jamiepalatnik commented on #376
Awesome, seems to be working for me too. Thanks!

[2018-11-21 22:15] torres126 commented on #376
Automattic/wp-calypso/issues/28756

[2018-11-22 06:41] Robertght commented on #357
Thanks Laurel! Forgot to add it here too. Follow-up: #1578596-zen

[2018-11-22 16:41] laurelfulford commented on #357
Great! Thank you, @Robertght! 😄

[2018-11-22 18:04] AtrumGeost opened #384 "Business: Add a widgets area"
## Steps to replicate

1. Click on **My Site > Customize**

## Result

Couldn't find a Widgets area:

![screen shot 2018-11-22 at 13 04 25](https://user-images.githubusercontent.com/3696121/48917895-27acc680-ee57-11e8-8800-be242a849012.png)

## Expected

To find a widgets area to add widgets like the "Cookie & Privacy Banner Widget"

* User report: 1588127-zen
* User's site: This affects any site

[2018-11-22 20:07] torres126 commented on #208
Also reported in this forum thread: https://en.forums.wordpress.com/topic/homepage-layout-glitch

Site: http://www.acoffeestainednotebook.wordpress.com/

Just noting that the user first saw this issue after backdating a few posts.

[2018-11-25 14:03] gpmw opened #399 "Business: Gutenberg: Cover image goes to the left when making it fullwidth"
Testing in Calypsoified Gutenberg page editor on a Simple site with a Premium plan upgrade with no custom domain using the Business theme.

#### Steps to reproduce
1. In the Calypsoified Gutenberg page editor, add a Cover image block.
2. Add an image
3. Make the image full width
4. The cover image block is pushed to the left.
5. Change image to any other alignment and it works as normal

#### What

[2018-11-26 15:53] lamosty commented on #239
A new request from the user in here: #1597846-zen.

[2018-11-26 16:34] arunsathiya opened #400 "Manifest: Gutenberg: Image caption alignment appears to be off"
## Steps to replicate

- Start with a WordPress.com site and get [Manifest theme](https://wordpress.com/theme/manifest/) on it.
- Use `Add` next to `Blog posts`/`Site pages` and opt-in for the new WordPress Editor
- Add an image block and add a caption to it
- Preview the post/page, or, publish and view the post/page

## Result

- The caption can be seen to be off and not aligned properly, below t

[2018-11-27 00:54] arunsathiya opened #401 "Twenty Fourteen: Gutenberg: Title always appears in uppercase"
#### Steps to reproduce

- Start with a WordPress.com site and install Twenty Fourteen theme from WordPress.com on it
- Click on `Add` next to `Blog posts`/`Site pages` and opt-in for the new WordPress Editor (Gutenberg) editor
- Enter a title for that post/page

#### What is expected

The title appears as it is typed.

#### What happens instead

The title appears in uppercase

<img width="964" al

[2018-11-27 02:41] bornaware opened #402 "Toujours: Image attachment pages do not display image"
## Steps to replicate
1. Upload an image without attaching to a post
-or-
Detach an attached image.

2. View the attachment page.

## Result

No image displayed on the page.

## Expected

Image displayed on the page.

* User report: #8357027-hc
* Follow-up ticket: #1599456-zd
* User's site (**user has changed themes**): https://chloesamericangirl.com/img_3326-595x335-2/

[2018-11-27 06:04] laurelfulford commented on #401
Hi @arunsathiya!

That's actually working as intended: the styles for the new block-based editor mirror what's shown on the front-end. Since the title is displayed in uppercase, it's previewed in uppercase in the editor as well. These styles were recently added to Twenty Fourteen; there's some more information about that here: https://wp.me/p7DVsv-5If

I'm going to close this since it's working as

[2018-11-27 06:04] #401 closed

[2018-11-28 20:47] Lochlaer commented on #169
User is reporting this same issue in #1604482-zen.

[2018-11-29 05:38] Robertght commented on #171
Confirming here on an iPad Pro: #1603245-zen

[2018-11-29 06:01] KokkieH commented on #208
Another report from [the forums](https://en.forums.wordpress.com/topic/baskerville-2-blog-post-excerpts-do-not-load-properly-sometimes/)

Site: https://thatbubbleteablog.wordpress.com/reviews/

[2018-11-29 20:20] spencerberry opened #403 "Baskerville 2: Gutenberg Images blocks can't be centered"
## Steps to replicate

Publish a gutenberg post or page with a centered image block.

## Result
![screen shot 2018-11-29 at 12 13 23 pm](https://user-images.githubusercontent.com/1162736/49249078-343d9b80-f3d0-11e8-8035-a238aad7348e.png)

## Temporary Fix

- use a Classic block

OR

- use this CSS to fix it:
[code]

* User report: #8320024-hc
* Follow-up ticket: #1607315-zen
* User's site: https:/

[2018-11-29 21:59] laurelfulford commented on #403
Hey @spencerberry! This sounds like it might be this issue, which is affecting more than one theme:

https://github.com/Automattic/wp-calypso/issues/28756

I'm going to close this theme-specific issue, but if you have any questions please let me know!

[2018-11-29 22:10] laurelfulford commented on #403
Actually, scratch that, I misspoke -- I think the issues in that other thread are theme-related :|

It looks like it happens when a theme applies the style `display: block` to elements with the class `.aligncenter`. The image block uses `display: table`, so the display block messes that up.

[2018-11-29 22:21] laurelfulford opened #404 "Libre 2: Smaller images in image blocks can't be aligned centre"
Moved from here: https://github.com/Automattic/wp-calypso/issues/28756#issuecomment-441827549

When you centre a small image block, it doesn't actually display as centred on the front-end. The issue looks to be related to these styles here setting the margins to 0, but it needs investigating:

https://github.com/Automattic/themes/blob/master/libre-2/css/blocks.css#L78-L83

## Steps to replicate

1

[2018-11-29 22:25] laurelfulford opened #405 "All Themes: Update block placehold"
Similar to https://core.trac.wordpress.org/ticket/45450, the default block appender selector needs to be updated from `input[type="text"]` to `textarea`, to make sure the placeholder uses the right font. This needs to be done in the 27 free themes in this repo that have block editor styles.

No related issue :)

[2018-12-04 17:30] #405 closed

[2018-12-04 19:03] aisajib commented on #7
I had this case on another site.
Reference: #1343579-hc

[2018-12-05 14:00] torres126 commented on #36
This seems to be happening with another user's site, but I'm not too sure if it's worth creating a new issue over.

## Result

Adverts cover the Featured Content. I'm unable to recreate it on sites with the Rebalance theme without this, and I can't recreate on my test site because I can't currently make adverts appear on it. I can, however, see it on the user's site and so can they.

![screenshot_

[2018-12-06 16:41] laurelfulford opened #410 "Rebalance: Social Media Buttons not showing on first blog post"
Moved over from 5026-wpcom-themes:

A user reported an issue with Rebalance and social media buttons:

On their homepage, they are showing the latest blog posts, at the bottom of each post excerpt the social media buttons are being shown, expert for the first post.

Changing the dates of the posts, so show a different post first, does not make any difference. The most recent post does not show the

[2018-12-06 23:35] rachelwinspear commented on #410
Thanks for moving this over Laurel
Zendesk ticket: #1617555-zen
Happychat: #8528885-hc

[2018-12-07 14:13] catkit opened #412 "Affinity: Long site titles overlaps menu button on mobile devices"
## Steps to replicate
1. Activate theme
2. Set a long site title (more than 24 characters with Raleway font for example)

## Result

![image](https://user-images.githubusercontent.com/3521683/49652054-14355a00-fa18-11e8-93c1-89f90f70b7bd.png)

## Expected

[What you expected to happen.]
![image](https://user-images.githubusercontent.com/3521683/49652304-dbe24b80-fa18-11e8-84c2-87dc5fe90e1b.png)

*

[2018-12-07 14:34] davidakennedy opened #413 "Sketch: Post titles in new editor show as uppercase"
## Steps to replicate

See: https://twitter.com/jarango/status/1070873507754438656

1. Activate Sketch on a site.
2. View a post in the editor.

## Result

Post titles show as uppercase, but those do not match the front end of the site.

## Expected

Post titles should be as the user typed them.

* User report: https://twitter.com/jarango/status/1070873507754438656
* User's site: https://jarango.c

[2018-12-07 14:43] davidakennedy commented on #413
Closing this now, since I see it's the result of customer's custom CSS.

[2018-12-07 14:45] litwlamp commented on #36
@sixhours

I am having the same issue - my blog is the one posted above by @torres126.

I can see that you closed the thread - was your issue eventually resolved? If so, what needs to be done in order to remove the ads?

I'd appreciate your help on this - thank you!

[2018-12-07 15:48] davidakennedy commented on #413
Reopened the issue after some discussion in Slack.

We're going to remove text transform in the editor because it breaks the user experience.

[2018-12-07 16:12] #413 closed

[2018-12-07 17:06] laurelfulford opened #415 "Multiple Themes: All caps in post title in editor can be confusing"
Similar to #413, we have a few themes that display post titles in all caps; in the new block editor, this style is replicated so the front-end and editor match.

Unfortunately, this also means that these styles mess with the user input -- you can't tell what case you're actually typing in, which could result in weirdness in what the title actually is. This would be noticeable in something like Goo

[2018-12-07 20:14] laurelfulford opened #416 "Lodestar: Rotating iPad orientation on portfolio creates varying levels of brokeness"
A user reported that when they viewed their porfolio on an iPad 2, and changed the orientation, the layout got messed up, with projects overlapping.

I was able to replicate this on an iPad 2; going from horizontal to vertical created a lot of overlap. Going from vertical to horizontal just created a lot of gappiness.

@supernovia and I were also both able to recreate in Browserstack and on the iO

[2018-12-07 20:20] laurelfulford commented on #416
Looking at the browser, I can actually recreate this by resizing it down around tablet-size too -- there's something not working quite right with the theme's JavaScript on resize event.

[2018-12-08 22:43] supernovia opened #419 "Apostrophe 2: Heading contrast & Accessibility"
## Steps to replicate
Activate Apostrophe 2 on a site with no Custom Colors upgrades

## Result
In all available color palettes, headings are rendered in #C0C0C0 against #FFFFFF -- a contrast ratio of only [1.82:1](https://webaim.org/resources/contrastchecker/?fcolor=C0C0C0&bcolor=FFFFFF)

## Expected
Availability of a higher contrast palette, or custom color availability

* User report: https://e

[2018-12-09 20:09] katiebethbrown opened #420 "Karuna: When Highlighting Page Content in Safari the Selection Indicator Extends Over Sidebar Widgets"
When selecting text in Safari on Karuna post/pages with a right-hand sidebar, the highlight selector extends outside of the content area and over the sidebar widgets. The sidebar widgets are not actually selected.

## Steps to replicate

1. Open a page in Karuna with a right-hand sidebar in Safari. I used the Post "Open House" in the theme demo to replicate.
2. Highlight the page content, starting

[2018-12-10 05:50] KokkieH opened #421 "Button 2: Fancy class causes invalid block content error"
## Steps to replicate

1. Add an image block and insert an image
2. Edit block in HTML mode, and add class `fancy` to the class attribute for the `img` tag.

## Result

The block shows an invalid content warning which only goes away if the block is converted to an HTML block instead. The styling is replied to the image regardless, though.

![edit_post_ _shift_to_the_left_ _wordpress](https://user-

[2018-12-10 06:39] retnonindya commented on #223
Hi! A user asked about this on #7984393-hc.

And they informed that in the 'Dara' Info page (https://wordpress.com/theme/dara), it's said, "For any of the featured pages selected for the front page, keep in mind that if you choose your posts page, the front page will display the excerpt and featured image of your latest blog post.". Note on "latest blog post". Maybe we can fix the wording on the I

[2018-12-10 17:02] jruud opened #422 "Twenty Twelve: Gutenberg: image blocks do not inherit full-width size"
## Steps to replicate

1. Activate Twenty Twelve
2. Create new page & select Full-Width template
3. Save Draft or Publish
4. Add image block

## Result

The image block inherited a max width of 625px.

## Expected

I expected the image block to span the full width of the page (925px).

* User report: #1632933-zd
* Follow-up ticket: #1632933-zd
* Screenshot from test site using full-width page temp

[2018-12-10 18:01] laurelfulford commented on #422
Thanks for reporting this issue, @jruud!

This doesn't appear to be theme-specific -- I can recreate the same thing using the full-width template in Sketch. The block-based editor appears to use the theme's default `$content_width` to set the default image width, and doesn't adjust it for different templates (even though the theme will change that `$content_width` depending on template).

I'm not

[2018-12-10 19:07] laurelfulford commented on #421
@KokkieH Thanks for the report!

Were you able to recreate just the error with another theme? This doesn't seem like it would be specific to Button 2, since its block editor support is really standard.

[2018-12-10 19:14] mrwweb opened #423 "Relevar: Question on Status"
I'm currently trying to figure out whether Revelar makes sense to use on a project. I came here to see if a Gutenberg update is in the works and was surprised that I couldn't even find the theme at all. Is Revelar still being actively developed? If so, will it be updated for Gutenberg?

[2018-12-10 20:10] jruud commented on #422
@laurelfulford I had tested it on Shoreditch to see if it was theme-specific, and in that theme on Calypso the image is placed at 900px even without the full width template selected:

<img width="1477" alt="screen shot 2018-12-10 at 3 10 01 pm" src="https://user-images.githubusercontent.com/35117248/49758712-ae520800-fc8d-11e8-9310-0cc6ac6ef08a.png">

Since it behaved as expected there, I assumed

[2018-12-10 20:33] laurelfulford commented on #422
Understood! It appears to only be an issue in themes that have different `$content_width` settings in different contexts. Twenty Twelve does this for its full-width template(default is set [here](https://core.trac.wordpress.org/browser/trunk/src/wp-content/themes/twentytwelve/functions.php#L26) and is updated [here](https://core.trac.wordpress.org/browser/trunk/src/wp-content/themes/twentytwelve/f

[2018-12-10 23:53] laurelfulford commented on #422
Just to close the loop, this issue has been moved here: https://github.com/Automattic/wp-calypso/issues/29296

I'm going to close this issue, since it doesn't seem to be theme-specific.

[2018-12-10 23:53] #422 closed

[2018-12-11 04:51] KokkieH commented on #421
Hmm, I didn't think to test, as this class is specifically styled for Button, but you make a good point - someone may well want to add their own classes to blocks to then style with custom CSS, in which case it's causing an error with other themes as well, yes.

Looks like this happens in Core as well, and I've found a possibly related issue in https://github.com/WordPress/gutenberg/issues/11054,

[2018-12-11 11:47] arunsathiya opened #424 "Photos: Hide menu on mobile if there are no menu items"
This is primarily an enhancement issue. It's not a bug report.

#### Steps to reproduce

- Create a menu on the site and do not add any menu items to it
- Assign the menu to the `Primary` menu location
- View site on mobile or tablet

#### What happens

Menu button appears and clicking on it shows a blank, white space

#### What is suggested instead

Hide menu since it contains no menu items

---

[2018-12-11 11:51] arunsathiya commented on #424
On looking again, it appears this is the intended behaviour for most other themes. I tested with [Photo Blog](https://wordpress.com/theme/photo-blog) and [Twenty Seventeen](https://wordpress.com/theme/twentyseventeen). I see the same behaviour.

I am closing this issue.

[2018-12-11 11:51] #424 closed

[2018-12-11 18:37] caimin-j commented on #169
Had a user reporting the same issue.
#1638045-zen

Their screenshot:

![bug](https://user-images.githubusercontent.com/37620825/49821494-dff4cd00-fd7a-11e8-8c4e-9a015a27fe58.png)

Haven't been able to reproduce in Chrome, but it happens in Firefox every time. My screenshot:

<img width="1337" alt="screenshot 2018-12-11 at 19 22 11" src="https://user-images.githubusercontent.com/37620825/49821595-1

[2018-12-11 18:42] laurelfulford commented on #421
Thanks for double-checking, @KokkieH!

I'm going to re-open this one, as it looks like Button 2 still doesn't have styles for the `.fancy` class in the editor -- I think this is a good suggestion to make sure the experience is truly WYSIWYG!

[2018-12-12 05:50] KokkieH commented on #419
Noting this is specifically in the single-post/page view.

Another user has requested this on the same forum thread.

[2018-12-12 15:13] guicmazeredo opened #426 "Rebalance: Embedded videos display uneven spaces in masonry grid"
## Steps to replicate

1. Embed a Youtube video into a post.
2. Publish enough posts in order to display items below the post with the video on a blog page or archive page.
3. Access the blog page or an archive page and check the space below the post with the embedded video.

I used a Chrome Version 70.0.3538.110 (Official Build) (64-bit).

## Result

There is a big blank space below posts with em

[2018-12-12 16:22] selectedselections commented on #404
Hi there! This was reported by another user here zd-1633145
I was also able to reproduce the issue on my own test site.

[2018-12-12 18:53] kathrynwp commented on #426
User came back to confirm that theyve tested with VideoPress embeds and did **not** get the gaps.

[2018-12-12 18:56] kathrynwp commented on #426
Noting that I do not see the issue in Firefox 63.0.3, so the issue seems browser-specific as well.

[2018-12-12 22:08] lakellie commented on #1
Ran into the same issue today, reported in #8772912-hc on an Atomic site.
User's site: https://enigmaias.com/
I provided them with CSS to hide it for now.

[2018-12-12 22:50] sarahfg opened #428 "Independent Publisher 2: Gravatar Date and About Me Spacing"
## Steps to replicate

1. Update your time format in the Writing settings to `F j, Y g:i A`
2. Make sure the Author Bio is set to display under Customize > Content Options.
3. View a single post.

## Result

As a result when you head to a post and check out your Gravatar profile at the bottom you will see the time and About Me overlap with bio like this http://cld.wthms.co/VxuEiQ

## Expected

You

[2018-12-12 23:03] torres126 commented on #399
WordPress/gutenberg#11848

[2018-12-14 07:07] jordesign commented on #208
#zen-1427808 came back into play for me today. Put ticket on hold again.
Site: https://integration-resources.com

[2018-12-14 21:31] kriskorn opened #431 "Ixion: File Block Button Responsiveness Broken"
## Steps to replicate

1. Create new page or post
2. Add File block
3. Add a file to the File block for download
4. Publish page or post
5. Check page or post on a mobile device

## Result

<img width="282" alt="ixion-file-block-mobile" src="https://user-images.githubusercontent.com/12064241/50028323-fcea0400-fff7-11e8-9950-6256e4f470e1.PNG">

## Expected

Expected the button to work responsively

[2018-12-15 04:18] arunsathiya opened #432 "Business: Missing fonts panel on Customizer"
#### Steps to reproduce

- Start with a WordPress.com site or a self-hosted WordPress (WordPress.org) site
- Install Business theme on the site, either using the `Activate theme` button on [this page](https://wordpress.com/theme/business), or download from that page and upload on WordPress.org site
- Visit Customizer at `{example.com}/wp-admin/customize.php`

#### What is expected

The `Fonts` tab

[2018-12-15 04:19] arunsathiya opened #433 "Twenty Nineteen: Missing fonts panel on Customizer"
#### Steps to reproduce

- Start with a WordPress.com site or a self-hosted WordPress (WordPress.org) site
- Install Twenty Nineteen theme on the site, either using the `Activate theme` button on [this page](https://wordpress.com/theme/twentynineteen), or download from that page and upload on WordPress.org site
- Visit Customizer at `{example.com}/wp-admin/customize.php`

#### What is expected

Th

[2018-12-15 04:21] arunsathiya commented on #432
#1646729-zen

[2018-12-15 10:35] ahmadbaig1 opened #434 "All Themes: Button block styles not working in themes with Gutenberg styles & support"
Note: this issue originally specified the Shoreditch theme, but this was overlooked in any theme that we added block styles and supports to.

## Steps to replicate

- Activate the Shoreditch theme on your site.

- Edit a Post in the Gutenberg editor.

- Add a button block, try to select the different button styles using the option in the right sidebar- "outlined" and "squared", and they do not ref

[2018-12-16 10:41] nagpai opened #435 "Radcliffe 2: Dropdown menu for current page (page jumps)"
## Steps to replicate

* Install the Radcliffe 2 theme on any test site
* Create a few pages
* Create a menu and in any one of them add dropdown pages.
* In the dropdown pages. repeat the same page three or four times, or add a custom link with a page jump within any page already in the dropdown. (so that you have atleast three items with the same main URL)
* Publish the changes, and within the dr

[2018-12-17 21:52] alaczek commented on #432
This was a deliberate decision (custom colors are also not available). With Business we focused on full Gutenberg support, and flexibility. The customization tools we have now are not compatible with Gutenberg. This is especially true with custom colors, since Gutenberg already allows to set custom background/text color for blocks. This is why as an experiment we decided to not include support for

[2018-12-17 21:52] #432 closed

[2018-12-18 11:28] juliasydnor opened #436 "Twenty Sixteen: Add Styling for Blog Subscription Widget Title"
## Description

The Blog Subscription widget title appears as a `<label>` without the `widget-title` class, which means all the normal widget title styling doesn't get applied to it. We have to send custom CSS to users to fix this, but that can't be done on the Free or Personal plans.

## Steps to replicate

1. Go to My Site > Customize > Widgets.
2. Add a Blog Subscription widget to any widget ar

[2018-12-18 22:21] laurelfulford commented on #436
Thanks for the report, @juliasydnor! It looks like this was caused by a change to the widget itself that removed the title tags.

I've reported this here: 8124-wpcom.

I'm going to close this ticket, since it's not theme-specific.

[2018-12-18 22:21] #436 closed

[2018-12-18 22:23] laurelfulford commented on #436
Added a comment to the ZD ticket pointing to the new report.

[2018-12-18 22:46] mdrockwell opened #437 "Independent Publisher 2: Category Page Header Does Not Respect Font Selection in Customizer"
## Steps to replicate

1. Change site's theme to Independent Publisher 2.
2. Change heading font setting in Customizer.
3. View category page.

## Result

<img width="1233" alt="screen shot 2018-12-18 at 5 47 50 pm" src="https://user-images.githubusercontent.com/42454301/50187766-2010fe00-02ed-11e9-833a-7a048e522e2e.png">

Category heading does not change with the heading font style setting.

## E

[2018-12-18 22:50] laurelfulford commented on #436
And it turns out this was already fixed :) Will follow up again in the ZD ticket, and remove the Custom CSS fix!

[2018-12-18 23:23] mdrockwell opened #438 "Twenty Nineteen: Automatically Use First Image In Post as Featured Image Option Missing"
<img width="1023" alt="screen shot 2018-12-18 at 6 20 37 pm" src="https://user-images.githubusercontent.com/42454301/50189074-dbd42c80-02f1-11e9-9221-4557c95d7504.png">

Activate Twenty Nineteen theme and Navigate to Customize > Content Options — There's no setting to "Automatically Use First Image In Post" under the Featured Image heading.

* User report: #1653241-zen
* User's site: https://johnj

[2018-12-18 23:36] mdrockwell opened #439 "Twenty Nineteen: No "Read More" Link Text When Using Post Excerpts"
<img width="971" alt="screen shot 2018-12-18 at 6 35 36 pm" src="https://user-images.githubusercontent.com/42454301/50189563-bfd18a80-02f3-11e9-9065-f8f487b12adc.png">

## Steps to replicate

- Set the homepage to display your most recent blog posts.
- Customize > Content Options — set to display post excerpts.

## Result

On the homepage, "[…]" is displayed at the end of the post excerpt.

## Exp

[2018-12-18 23:48] mdrockwell opened #440 "Twenty Nineteen: Inconsistent Spacing Between Footer Widgets"
## Steps to replicate

Add a number of widgets to the theme's footer area.

## Result

<img width="1083" alt="screen shot 2018-12-18 at 6 45 38 pm" src="https://user-images.githubusercontent.com/42454301/50189937-52265e00-02f5-11e9-9a7e-1571d943f970.png">

There is inconsistent vertical space between some widgets.

## Expected

White space between widgets should be collapsed to keep widget spacing

[2018-12-18 23:53] mdrockwell opened #441 "Twenty Nineteen: Top Posts & Pages Widget Has Unexpectedly Large Spacing When Using Image List Option"
## Steps to replicate

- Add Top Posts & Pages widget to footer with the Image List option

## Result

<img width="1093" alt="screen shot 2018-12-18 at 6 49 16 pm" src="https://user-images.githubusercontent.com/42454301/50190133-fd371780-02f5-11e9-9a3f-b341ebc40d5a.png">

## Expected

Tighter spacing between images and text in the widget.

* User report: #1653241-zd
* User's site: https://johnjron

[2018-12-19 00:00] mdrockwell opened #442 "Twenty Nineteen: Option to Display Gravatar in the Author Bio Section"
## Steps to replicate

- Switch to Twenty Nineteen theme
- Navigate to Customize > Content Options
- Make sure Display Author is enabled
- View post page

## Result

<img width="1057" alt="screen shot 2018-12-18 at 6 55 48 pm" src="https://user-images.githubusercontent.com/42454301/50190393-1096b280-02f7-11e9-9e8e-de0093c124fb.png">

Author bio is displayed without Gravatar image.

## Expected

An

[2018-12-19 04:17] sanjeev00733 opened #443 "Business: Classic editor doesn't respect image size and shows images as fullwidth"
Create a post in classic editor and add an image in content and area and resize the image, publish the page and the image would appear fullwidth in frontend.

Editor Screenshot: http://cld.wthms.co/vOOQLO
Frontend: http://cld.wthms.co/6EFpFm

Note: Works fine with the gutenberg editor.

* User report: #8918225-hc
* Follow-up ticket: #1655792-zen
* User's site: https://scottyandaphrodite.wordpress.

[2018-12-19 05:22] Robertght opened #444 "Lodestar: Project type archives not loading the rest of the projects with a grid layout"
## Steps to replicate

1. Add a few projects and assign it to one project type.
2. Reach to the Project type archive in question and click on the "Older Posts" button.
3. The rest of the loaded projects will be loaded but won't respect the grid layout of the ones above.

## Result
The rest of the projects didn't keep the same grid layout
https://monosnap.com/file/7FoikFaolljLtIugadVJ8QRu5de4j2

##

[2018-12-19 17:15] laurelfulford commented on #423
Hi @mrwweb! Right now we're not planning on adding Gutenberg support to all themes on WordPress.com, but are focused on adding support to a select few of our older ones, as well as creating new ones.

Our entire free theme collection (including Revelar) is [stored in SVN](https://wpcom-themes.svn.automattic.com/), and we still offer basic support and maintenance for all themes on WordPress.com.

[2018-12-19 17:15] #423 closed

[2018-12-20 00:46] tavilla61 commented on #431
User came back to check on status. Advised them that there is a bug report filed, but they may need to look at other theme options because we don't know how long it will take to get this fixed.

Zendesk: https://woothemes.zendesk.com/agent/tickets/1644711

[2018-12-20 06:40] pauljacobson opened #445 "Twenty Ninteen: Misaligned text input in Comment reply box"
## Steps to replicate

According to the user who reported this:

## Result

![twentynineteen_theme_issue_comment](https://user-images.githubusercontent.com/2912202/50268077-18a73d00-0432-11e9-9a9b-1b1c65e92af9.jpg)

## Expected

Replies should start at the top of the text input box.

* User report: 1653241-zen
* User's site: https://johnjronline.wordpress.com/2018/12/15/the-prophecy-ii-7-8-movie-c

[2018-12-20 11:17] liviopv commented on #169
Also able to reproduce on Firefox.

Doing anything that forces the slider to become "active" (like manually viewing to another slider image) makes the error go away:

Video: http://cld.wthms.co/Tqdp2J

Pinged https://themedevp2.wordpress.com/2018/12/18/master-thread-theme-maintenance-sprint/ to prioritize since this feels like a pretty big bug

[2018-12-20 12:10] benchilcote opened #446 "TextBook: Header image dissappears when screen is exactly 800px wide"
## Steps to replicate

1. Activate Textbook theme and add a custom header
2. Set the browser width to exactly 800px

## Result

The header image does not show, but the space for the image remains.  At 799px, the header image and space is removed.  At 801px, the header image is displayed.

This was the case on a test site as well as a user site.  I tested the user site on Firefox and Chrome and rec

[2018-12-20 22:12] crunnells commented on #433
I'm re-opening this for now to track requests for this feature.

https://en.blog.wordpress.com/2018/12/19/twenty-nineteen/#comment-410755
https://en.blog.wordpress.com/2018/12/19/twenty-nineteen/#comment-410786

[2018-12-20 23:51] jessestu opened #447 "Rowling: galleries in block editor do not left-align flush with theme's CSS"
## Steps to replicate

1. User the block editor on a site with Rowling theme.
2. Create an image gallery.
3. Publish the page.

## Result

`.post-content ul { margin-left: 1.5em; }` causes the entire gallery to indent. This CSS seems to be in the theme.

Image:
![screen shot 2018-12-20 at 12 01 10](https://user-images.githubusercontent.com/32908730/50317074-4ff00b00-047f-11e9-967d-d4d8c464a6de.png

[2018-12-21 08:06] jordesign commented on #208
#zen-1427808 came back into play for me today. Put ticket on hold again.
Site: https://integration-resources.com

[2018-12-24 11:54] thehenrybyrd commented on #433
Request in #1665910-zen
The ability to change fonts is a pretty common expectation, particularly for WordPress.com Premium plan folks who have "Advanced Customization".

[2018-12-24 13:33] ahmadbaig1 opened #448 "Twenty Nineteen: Inconsistent Spacing between different objects on a page- Posts, Footer, Header"
I'm seeing a lot of empty space which could be compacted and made neat for this theme.

## Steps to replicate

* Apply the theme, add a post, check for the spaces between the Header and Post title, Post end and Footer.

## Result

We can see a lot of and inconsistent spacing (on my test site)-

Between Header and Post title-

<img width="1045" alt="screenshot 2018-12-24 at 6 51 40 pm" src="https:/

[2018-12-27 08:38] edwinho89 opened #449 "Twenty Twelve: Submenu not visible on tablet view"
## Steps to replicate

When viewing Twenty Twelve themed sites on tablet, it displays the primary menu well. However, submenus aren't clearly visible, and can be missed from reader's perspective.

When you view the theme's demo on https://twentytwelvedemo.wordpress.com/ , you'll see that there are submenus under "A Parent Page", however difficult to navigate on tablet.

On mobile view however, sub

[2018-12-27 09:57] torres126 commented on #419
Another request in the same forum thread, hoping for black instead of grey.

[2018-12-27 13:03] pauljacobson opened #451 "Sketch: Adding project tags no longer populates Featured Content slider after WordPress 5.x update"
## Steps to replicate

The user previously added portfolio projects to the featured content slider by tagging portfolio projects with the `featured` tag (much like other themes populate the featured content slider with tagged posts).

![](http://cld.wthms.co/ysKtqQ+)

The user said that this stopped working after the recent WordPress 5.x update (they referred to the "interface" change).

I checked

[2018-12-27 17:35] laurelfulford commented on #127
I'm going to close this issue for now: we just have the one report, the customer who experienced the problem is still using a different theme, and we haven't been able to recreate it.

We can always reopen or create a new issue if this pops up again!

@pauljacobson I'm unable to comment on the ZD ticket, since it's closed. I'm not sure if a follow-up is needed at this point, but could you please f

[2018-12-27 17:35] #127 closed

[2018-12-27 17:38] laurelfulford commented on #143
Hi @galakhyati! Just wanted to follow up on the above.

This seems like something that should be moved to https://core.trac.wordpress.org/, but please let me know if it's only happening on WP.com sites.

[2018-12-27 18:13] laurelfulford commented on #148
Thanks @Robertght -- sorry for my even more delayed reply!

I dug into this a bit -- I could recreate it on the latest portfolio project with Sketch on my AT test site, but not with Lodestar or Snaps (two other themes that support portfolios) on the same project. As described, the buttons worked fine on older projects with Sketch or other themes.

On projects that work, the following JS file is lo

[2018-12-27 18:38] laurelfulford commented on #150
Following up as I've retested this on my AT test site and still can't recreate (I tried in Firefox and Chrome, on the blog homepage and category archives).

@druesome are there any specific steps you had to take to recreate on your test site? Unfortunately it looks like https://childr3noftheat0m.blog/ is no longer available, and I'm a bit stumped. Any additional info would be a big help!

[2018-12-27 18:51] laurelfulford commented on #154
Thanks for the report, @tagvverk!

I've tested with Chrome 71.0.3578.98 in Mac OSX 10.14, both logged in and not, and I can't recreate this issue, but I could be missing some condition that's needed!

![image](https://user-images.githubusercontent.com/177561/50491064-37bf4500-09c5-11e9-9847-f9851f113f84.png)

The gap looks like it's roughly the size of the admin bar that appears when logged in --

[2018-12-27 19:07] laurelfulford commented on #155
I can recreate this on my AT test site as well.

[2018-12-27 19:11] laurelfulford commented on #169
I was able to recreate this on reloading the theme demo's front page in Firefox; I had less luck recreating when visiting the site fresh, in an existing or incognito window.

[2018-12-27 19:38] laurelfulford commented on #192
I'm still unable to recreate this issue, in Firefox, Safari or Chrome, with adblockers disabled.

It looks like the first site reporting has been deleted, and the second is not showing ads for me at all (though it's possible they were turned off as a work-around!).

On a test site, I was able to get ads showing with Syntax, but the menu worked as expected in Safari and Firefox:

https://cloudup.co

[2018-12-27 19:52] laurelfulford commented on #195
Hi @eduardozulian! Thanks for bringing this up!

In this case, I agree with the `wontfix` suggestion made in 4866-wpcom-themes. It's true that the current settings do not show certain content on certain post formats, which isn't "correct", but changing it now could cause pretty big visual changes on existing sites. For example, here's a single image post format now, with just a featured image, no

[2018-12-27 19:52] #195 closed

[2018-12-27 19:55] laurelfulford commented on #197
Thanks for reopening this @KokkieH!

I can recreate this issue.

[2018-12-27 19:57] laurelfulford commented on #209
I'm going to close this, as we can't move it forward without additional information.

@Salamander3 if you're still experiencing this, and can provide some more information based on the above questions, we'd be happy to take a look! In that case, please reopen. Thank you!

[2018-12-27 19:57] #209 closed

[2018-12-27 20:06] laurelfulford commented on #222
Switching from `needs patch` to `needs testing`, because this sounds like it needs more digging (and WP.com updates outside of themes) before this can be moved forward.

[2018-12-27 20:09] danieldudzic commented on #171
Hey @laurelfulford

It seems that you have went through a number of possible solutions in: https://core.trac.wordpress.org/ticket/38395 - and found the device checks to be cumbersome.

I'm comfortable with changing the breakpoint where the styles are being applied :)

[2018-12-27 20:12] laurelfulford commented on #223
Ah, thanks for that, @retnonindya!

Re-adding the `needs patch` label because I still think this looks broken, even if the expected behaviour from the original report isn't the fix we go with.

I think because it's currently showing the latest blog posts, the best option would be to somehow make them look better (either by reducing how much content is shown per post, or paring it down to one post

[2018-12-27 22:30] laurelfulford commented on #268
That's a good question @KokkieH! I think the tricky bit with default themes is that in some cases things need to be reported to Core (if it's something that can be recreated on a self-hosted site), and in other cases, issues are WordPress.com-specific, so they'd need to be reported here (things like .com widgets, or functionality like custom colours and fonts).

There's a section in the Fieldguide

[2018-12-27 22:30] #268 closed

[2018-12-27 22:32] laurelfulford commented on #272
Hey @allancole! Are you still digging into this one?

[2018-12-27 22:35] laurelfulford commented on #273
I can recreate this on my test site.

[2018-12-27 23:49] laurelfulford commented on #275
I can recreate this: when I add the widget to the Sidebar 1 spot, I see the above (the button is only visible on mobile screens, but is missing on desktop).

When I add it to Sidebar 2, the entire widget isn't visible on desktop.

I think it may have to do with Publication moving the widget markup via JavaScript, but not 100% sure.

[2018-12-28 00:10] laurelfulford commented on #279
I haven't been able to recreate this issue -- I think it must be specific a certain browser/OS version. I tried on my iPhone 6, plus the following combos in Browserstack:

Galaxy S5, Firefox
Galaxy S8, Firefox
Pixel 3, Firefox

The page I tried commenting on was: https://themusing.in/2018/11/22/united-nations-security-council/

I also tried one on my own test site, since it looks like the above si

[2018-12-28 00:36] laurelfulford commented on #281
Similar to #280, this is an issue that involves an older theme (retired in 2015), using an older infinite scroll method.

I'm going to leave this one open and mark as `needs testing` for now, to rule out that it's something to do with how older themes implement infinite scroll, and not a wider issue. Unfortunately, most non-security issues that only happen in retired themes are `wontfix`es, but it

[2018-12-28 00:42] laurelfulford commented on #282
Confirm that I can recreate this issue on the theme demo.

Marking as `needs-patch`, but I'm not 100% sure this is fixable -- it needs a bit of investigation. Altofocus uses some newer CSS methods that may not be possible to get working perfectly in IE11, since it was released 5+ years ago. If this comes up again in the queue, it might be good to set some expectations around that.

[2018-12-28 00:50] laurelfulford commented on #283
Fixed via some custom CSS on the demo site.

[2018-12-28 00:50] #283 closed

[2018-12-28 00:50] edwinho89 commented on #449
Hi @laurelfulford !

Good point! Looking at Core Trac - looks like this has been reported already: https://core.trac.wordpress.org/ticket/41822

I'm going to give a go at closing this thread. Feel free to adjust this otherwise. :)

[2018-12-28 00:50] #449 closed

[2018-12-28 01:02] laurelfulford commented on #286
It looks like the culprit is the right and left margins on the `figure` element.

[2018-12-28 01:13] laurelfulford commented on #448
Thanks for the report, @ahmadbaig1!

Since Twenty Nineteen is a default theme, and this issue doesn't have to do with how the theme interacts with WordPress.com functionality specifically, could you please move this report to the WordPress Core Trac here?

http://core.trac.wordpress.org/

I'm going to close this copy of the ticket, since it's not something that would be changed in the WP.com copy

[2018-12-28 01:13] #448 closed

[2018-12-28 12:10] gemmagarner commented on #208
Reported in [this thread](https://en.forums.wordpress.com/topic/gaps-before-blogs-appear/).

[2018-12-28 16:53] laurelfulford commented on #449
Awesome - good find @edwinho89! :) Thanks!

[2018-12-28 16:54] laurelfulford commented on #421
Just adding a note for follow-up:

I've styled the 'fancy' class in the editor when applied to the Image Block, and added an option to the Image Block to apply a block style that looks the same. The docs should probably be updated, at least to reference the latter; leaving this open until that is done.

[2018-12-28 17:14] ktyfuller604 opened #454 "Lodestar: iPhone/Tablet Background does not repeat"
## Steps to replicate

1. Select Lodstar Theme
2. Select a background image in Colors & Backgrounds
3. View site on an iPhone or Apple tablet

## Result

Background image does not repeat. Leaving white space below the image.
Screenshots attached below.

## Expected

The background image should repeat like it does on Android and in the preview tablet/phone mode.

* User report: #8999539-hc
* Follow

[2018-12-28 17:31] laurelfulford commented on #287
I can recreate this on a self-hosted site, and WP.com, too, when I manually add a Cookies & Consent widget (rather than when the banner appears there automatically).

We might need to rework Dyad 2's footer to fix -- right now it counts widgets to figure out whether they should be 100%, 50%, 33% or 25% wide; as is we'd have to somehow get it to exclude the cookie widget (and others, like Mailchimp

[2018-12-28 17:39] laurelfulford commented on #294
Thanks for the report, @ezebecke!

Out of curiosity, could you recreate this issue with another theme? I'm not sure what Sketch would be doing that other themes wouldn't that would cause this (I'm guessing the culprit is scaling the image down, and just the odd quality of gifs).

[2018-12-28 17:45] laurelfulford commented on #296
Assigning to @mendezcode as I believe this will be fixed in other updates he's making in Business (Ernesto, just let me know if this is not the case!).

[2018-12-28 18:06] laurelfulford commented on #295
Thanks @KokkieH!

As you said, given that the theme is retired, and that the site has been switched to a different theme, I'm going to mark this one as `wontfix`.

Looking at the forum thread, I don't think any followup is needed, but please let me know if that's not the case!

[2018-12-28 18:06] #295 closed

[2018-12-28 18:47] AtrumGeost commented on #273
You can directly check that on the demo site:

https://rebalancedemo.wordpress.com/portfolio/

You'll notice that the Portfolio Archive has an "Older projects" button. While the Portfolio Template doesn't:

https://rebalancedemo.wordpress.com/portfolio-template/

[2018-12-28 21:56] laurelfulford commented on #297
Whatever fix we go with here, we should also use for the Mailchimp widget, which would cause the same issue.

[2018-12-28 21:58] laurelfulford commented on #310
@arunsathiya just to double-check, did this come from a support request, or something you noticed on your own? Just want to make sure we follow up if we need to.

Assigning to @mendezcode because I believe this will be fixed with work he's been doing with the Business theme. (Ernesto, just let me know if that's not the case!)

[2018-12-28 21:59] laurelfulford commented on #319
Confirmed I can recreate this on my test site.

[2018-12-28 22:05] laurelfulford commented on #331
I can recreate this issue, too.

Assigning to @mendezcode in case this was tackled in the upcoming bunch of Business updates -- Ernesto, if not, feel free to unassign! :)

[2018-12-28 22:09] laurelfulford commented on #355
Hey @richardmtl! Textbook does not come with a full-width template.

Would widget visibility work for this customer, if they just wanted to hide the widgets on the front page? We can also look into adding a template, but with just the one request, it will be a lower priority.

Also, can you please include the shortform links to anything we need to follow up with here (eg. 12345-zd, or 12345-hc)? T

[2018-12-28 22:16] laurelfulford commented on #356
Orvis's current behaviour on portfolio projects -- using JavaScript to separate text from images into two columns -- doesn't feel like a great fit for the new block-based editor. You can't preview how it looks, and the block based editor makes things like creating columns in the editor itself possible.

Given that there's a work-around in this case (not centring the image), and that trying to get

[2018-12-28 22:16] #356 closed

[2018-12-28 22:58] laurelfulford commented on #355
Hi @musicmegga!

Great! Let's give it a shot and find out :) It's a setting that you can turn on yourself. I'm not sure if you have a WordPress.com site, or a self-hosted site, so I'll run through how to get to it on both:

**WordPress.com**

On WordPress.com, widget visibility is a built-in setting. If you navigate to My Site> Customize > Widgets and add or edit a widget there, you should see a V

[2018-12-28 23:07] laurelfulford commented on #374
Yeah, unfortunately given Chateau's retired status, I'm going to mark as a `wontfix`.

@KokkieH it looks like the user has resolved the issue on their site by removing the related posts; in my testing I found that enabling the Like or Reblog button also does the trick. Not sure if that's worth a follow up in this case, just let me know if it makes sense to follow up with that!

[2018-12-28 23:10] laurelfulford commented on #399
Thanks for the report, @gpmw! Is there a ticket or chat link for follow-up?

I've assigned this to @mendezcode because he's been doing a lot of work on Business, and this may be included in his upcoming fixes; Ernesto, if that's not the case, please feel free to unassign!

[2018-12-28 23:12] gpmw commented on #399
This was on one of my test sites so there is nothing to follow up on. Just with me :)

[2018-12-28 23:35] laurelfulford commented on #420
I think this may have to do with how Karuna sets the width for the content area -- rather than setting it at 60% of the available space, it's 100% of the available space with a negative margin:

[code]

[2018-12-28 23:39] laurelfulford commented on #399
@gpmw Cool, thank you! :)

[2018-12-28 23:40] laurelfulford commented on #171
Cool, thanks for the second set of eyes on this, @danieldudzic! That sounds like the best way to proceed here, then :)

[2018-12-28 23:56] laurelfulford commented on #426
I can recreate this in both the classic editor and classic block; for some reason using an embed block for the YouTube video doesn't cause the same issue.

[2018-12-29 00:01] laurelfulford commented on #434
Unfortunately, I know that we didn't consider the button styles in the other themes we added block editor styles to, either.

I've updated the ticket to be more general.

[2018-12-29 00:04] laurelfulford commented on #431
When we look into this, we should also see if part of this is coming from the core block styles, and file an appropriate issue there, too -- it seems weird to me that you can cause these elements to overlap so badly by styling the button, but I could be missing something!

[2018-12-29 00:33] laurelfulford commented on #441
I can recreate this issue.

This widget is in Jetpack; it looks like all of Twenty Nineteen's Jetpack widget styles are also being managed there: https://github.com/Automattic/jetpack/blob/master/modules/theme-tools/compat/twentynineteen.css

@crunnells normally we'd add the WP.com-specific widget styles to a wpcom-style.css in the theme itself, rather than Jetpack -- is there any reason why they'

[2018-12-29 00:39] laurelfulford commented on #442
Thanks for the report, @mdrockwell!

In Content Options, Display Author refers to the author name shown in the post meta, under the title:

![image](https://user-images.githubusercontent.com/177561/50531448-e2675e80-0abe-11e9-8c3b-2946bff60599.png)

The author bio that displays under the post is functionality baked right in to the Twenty Nineteen theme; because of that, any enhancement requests or

[2018-12-29 00:39] #442 closed

[2018-12-29 00:47] laurelfulford commented on #443
Thanks for the report, @sanjeev00733!

I'm having a hard time recreating this issue. Here are the steps I followed - please let me know if I'm missing something!

1. Add a large image to the Classic editor.
2. Edit the image and pick a smaller size (I picked Thumbnail).
3. Publish the post.

How the image looks in the editor:

![image](https://user-images.githubusercontent.com/177561/50531514-155e

[2018-12-29 00:53] laurelfulford commented on #445
Thanks for the report, @pauljacobson!

I'm not able to recreate this -- I tried in Safari, Chrome and Firefox.

![image](https://user-images.githubusercontent.com/177561/50531574-0cba1b80-0ac1-11e9-9dda-f985a6262d2a.png)

I'm wondering if it was fixed since the original report -- can you still recreate this, and if so, is it in a specific browser?

[2018-12-29 00:58] laurelfulford commented on #446
I can see this too -- it looks like the header image not showing is intentional. However, the theme still shows the "desktop" header styles until a slightly narrower breakpoint, so it's a little disconcerting.

@allancole can you please confirm the above is correct (the header should not show on screens smaller than 800px)? Then we can work on getting the styles lined up to the same breakpoints.

[2018-12-29 01:08] laurelfulford commented on #451
Thanks for reporting this, @pauljacobson!

It seems odd that this stopped working with the upgrade -- and I can't see any tags on the projects when I visit the site's /wp-admin.

When I view a project in the new editor, it doesn't even seem to have the option to add regular tags, just project tags, which makes me think I'm missing something silly :|

Were you able to recreate this? Where did you s

[2018-12-29 01:12] laurelfulford commented on #454
Looking at the site's settings, it looks like the background is not set to repeat under Customize > Colour & Background > Options:

![image](https://user-images.githubusercontent.com/177561/50531695-8c48ea00-0ac3-11e9-8197-caa102f5403a.png)

When I tested this and set the 'Repeat' to repeat, it did repeat the background for me on my iPhone.

I'm going to close this ticket and I'll add a comment to

[2018-12-29 01:41] arunsathiya commented on #310
@laurelfulford This did not come from a support request. I noticed this on one of my test sites.

[2018-12-29 02:45] musicmegga commented on #355
Thanks, Laurel. This worked. It was a little confusing to "access all modules" but Widget Visibility is on and I added the rule to hide sidebar widgets if Page is Front Page.
Self-hosted Site is located at coachapproachtraining.com
Mary Ellen

[2018-12-29 06:08] goodjohnjr commented on #445
Hello Laurelfulford,

You can reproduce this issue by trying to reply to a comment that was already made on a post / page; it does not happen when you are making a new comment, it happens when replying to an already made comment. ;)

Thank you,
-John Jr

[2018-12-29 13:35] arunsathiya opened #455 "Photos: Custom HTML block on WordPress Editor positions itself outside the content region, to the far left"
#### Steps to reproduce

- Start with a WordPress.com site
- Activate `Photos` theme on the site
- Enable WordPress Editor (Gutenberg) if the site does not use WordPress Editor already
- Create a post/page
- Add a `custom HTML` block
- Publish the post/page

<img width="1281" alt="screenshot 2018-12-29 at 19 04 30" src="https://user-images.githubusercontent.com/18581859/50538850-a276a900-0b9c-11e9

[2018-12-29 14:21] torres126 commented on #431
@laurelfulford I looked into this a bit in comparison with other themes and made a PR which proposes a minor addition. I don't think that addition is included in core styles (I checked [here](https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/file/style.scss) - maybe it's the wrong place to be looking?), but it doesn't seem like all themes include it. Dara and Affinity d

[2018-12-29 15:33] zdenys commented on #433
Another user #1675318-zen, in love with Twenty Nineteen, but misses the Font customization.

[2018-12-29 19:45] laurelfulford commented on #310
Thanks for verifying!

[2018-12-29 19:47] laurelfulford commented on #445
D'oh! Thanks @goodjohnjr -- that was in the issue description, too, and I somehow completely missed it.

I can see the issue now - thank you for the reply!

[2018-12-29 19:56] goodjohnjr commented on #445
Great, you are welcome, and thank you Laurelfulford. ;)

-John Jr

[2018-12-29 21:21] torres126 opened #457 "Multiple Themes: Full Width & Wide Video Block - Several Issues"
## Themes

This one's tricky because it seems to affect multiple themes, so I'm not even sure this is the right repo for this issue (let me know if it isn't!). Some themes, such as Sela and Business, don't seem to offer a full width or a wide video alignments at all, so there's no issues.

With Independent Publisher 2, the issue of spacing (see screenshots below) is prevalent in the editor. In the

[2018-12-30 00:25] wpericam opened #458 "Libretto: Unable to Add Text Content After Moving Block to First Position"
## Steps to replicate

Using Safari (Version 12.0.2) and the Libretto theme. Create a paragraph block in the first position in the post or in the second position and try to add content.

## Result

When Paragraph block is moved to the first position, you can no longer add content. User shared a video of the behavior here. https://www.dropbox.com/s/5rkot0o1v5lw6nr/Amy%20Parkes%20-%20Wordpress%20Sup

[2018-12-30 11:15] torres126 commented on #457
Upon further testing with the Photos theme, it seems like adding `!important` as an override fixes the issue with all videos completely. It probably isn't the best solution, but I felt like it was worth noting here. If the styles at the top are unchecked, that fixes the issue with the full width block (but not the wide one) too, but I'm not sure where they're coming from.

![hgfdhfdgdhghfd](https:

[2018-12-30 19:57] #457 closed

[2018-12-30 22:30] laurelfulford commented on #458
I think the issue may be Libretto's fancy first letter/first line styles, like here:

https://github.com/Automattic/themes/blob/master/libretto/css/editor-blocks.css#L445-L460

A good fix might be to override unless on focus (similar to how the block-based editor applies the drop cap styles), or it might need to be removed entirely.

[2018-12-31 06:41] pauljacobson commented on #454
I tested this on an iPhone emulator through Browserstack, using both a Safari and Chrome emulator, and I was able to reproduce the issue there. Here's on Safari:

![lunaseahome_wordpress_com_background_ios11_safari](https://user-images.githubusercontent.com/2912202/50555602-73188700-0cd7-11e9-8c2b-d55952724e17.png)

Here's in Chrome (also on iOS):

![lunaseahome_wordpress_com_background_ios11_chro

[2018-12-31 06:44] goblinartificer opened #459 "All themes: Gutenberg caption color unreadable on dark backgrounds"
## Steps to replicate
1. Set up a theme on a Free or Personal site which has a dark color scheme available. I tested with *Gateway*'s dark gray or *Escutcheon*'s default.
2. Set up two posts, one in Gutenberg and one in the old editor, with images with captions.

## Result
The Gutenberg caption is unreadable and dark gray; the other caption is an expected light color in keeping with the rest of th

[2018-12-31 08:53] pauljacobson opened #460 "Sela: Product images don't display on WooCommerce shop page, only default placeholder images"
## Steps to replicate

The user created a WooCommerce store, and activated the Sela theme. They added product images to each product, and the product images display on single product pages. They don't display on the shop page, though:

![](http://cld.wthms.co/EyJmP6+)

We tested this in Storefront and Dara, and the product images displayed correctly in those themes.

## Result

Product image thumb

[2018-12-31 09:09] torres126 opened #461 "All Themes: Sign-up Prompt Overlaps with Mailchimp on Mobile"
## Steps to replicate

1. Create a WordPress.com site
2. Add a[ Mailchimp pop-up](https://en.support.wordpress.com/mailchimp/)
3. Visit the site in an incognito tab (so that the sign up to WordPress.com prompt appears) on a mobile device, or use Dev Tools to set your screen to that of a smaller device
4. Click "Subscribe"
5. See issue

## Result

![screenshot_20181231-085807](https://user-images.g

[2018-12-31 09:16] torres126 commented on #208
Another report in the thread [above](https://en.forums.wordpress.com/topic/gaps-before-blogs-appear/#post-3242206).

[2018-12-31 09:44] torres126 opened #462 "Photos: All Content Hidden by Dark Background"
## Steps to replicate

1. Create a WordPress.com site with the Photos theme
2. Publish a post which has a title, or some content
3. Go into the Customiser
4. Select "Colours and Backgrounds"
5. Pick a dark background, or choose one of the two darker options
6. See issue

## Result

**Dark background - content isn't readable**

![hfgddgfhdfghfgdh](https://user-images.githubusercontent.com/43215253/

[2018-12-31 19:10] laurelfulford commented on #454
Thanks for double-checking this, @pauljacobson!

I wasn't super clear in my original comment: I _was_ able to recreate the issue on the site above, but thought it was working as expected because the background isn't actually set to repeat. But I didn't think about it much further than that (I blame Friday!).

I took another look; on the user's site, the background is set to fixed; this uses the st

[2018-12-31 19:10] #454 closed

[2018-12-31 19:36] laurelfulford commented on #461
Thanks for reporting this, @torres126!

This looks like something that should be fixed in the widget itself, rather than in individual themes. I've moved this report to an existing ticket: 7862-wpcom.

[2018-12-31 19:36] #461 closed

[2018-12-31 19:39] torres126 commented on #461
Oops, thank you! :)

[2018-12-31 20:02] laurelfulford commented on #355
@musicmegga Great, I'm glad that worked! :) (And that you found the setting -- I know it's pretty buried!)

I'm going to close this ticket for now, but it can be reopened if we get more requests and need to revisit this enhancement.

[2018-12-31 20:02] #355 closed

[2018-12-31 21:02] torres126 commented on #458
Just noting that I can recreate something similar, but not identical, without Safari. Using Chrome (version 49) still causes an issue for me I can imagine it being especially frustrating if you're trying to start a block by using **/** too. I can add text, but it still sort of messes up...this shows it better than I can explain:

![ezgif-2-042f05991cd0](https://user-images.githubusercontent.com/43

[2019-01-01 19:06] laurelfulford commented on #208
I think I have a fix for this; I've deployed it, but would appreciate a second (third, or fourth!) set of eyes to confirm it's behaving better on these sites before following up with folks. It's one of those annoying issues that doesn't happen every time, so I want to make sure it's actually fixed.

/cc @danieldudzic, plus anyone above who may have time to double check!

Fix is in r52696-wpcom-the

[2019-01-01 19:08] laurelfulford commented on #239
I think the fix in #208 should also take care of this, but like the comment there, would appreciate a few sets of eyes on it before following up with users.

It's already deployed, since it's a pretty low key change; I'm just not sure it's taking care of all these odd cases folks are running into!

[2019-01-01 19:15] torres126 commented on #208
Tried about four times on around half a dozen sites and I couldn't recreate this anymore. :tada:

[2019-01-01 20:08] laurelfulford commented on #169
Tested on https://sebagork.com/, and it's not fixing there, so doubling back to check the fix.

[2019-01-01 20:33] laurelfulford commented on #169
Yeesh, 1604482-zen is not an AT site, I don't think I gave it enough time to load the first time 🤦‍♀️

It looks like it's fixed there now, too -- I will add a comment to that ZD ticket as well, and close this out.

[2019-01-01 20:40] laurelfulford commented on #322
This actually looks like it works without the colours. I think the issue in other themes was lack of specificity :)

[2019-01-01 20:40] #322 closed

[2019-01-01 22:31] laurelfulford commented on #431
That patch looks good, @torres126! I think the styles exist in the other themes because they were in the each of their `button` tag styles.

It's been pushed live to WP.com in r52699-wpcom-themes.

It looks like the ticket for the report has been closed, and the user has switched themes -- @kriskorn or @tavilla61, could you please follow up with them if you think it's needed?

[2019-01-01 23:32] #404 closed

[2019-01-01 23:36] laurelfulford commented on #404
This was committed in r52700-wpcom-themes.

[2019-01-01 23:38] laurelfulford commented on #404
Followed up on the forum thread.

@selectedselections it looks like that ZD ticket is now closed, so I can't leave a comment there. Could you please follow up with the user?  Thanks!

[2019-01-02 04:53] formosattic opened #1673 "Most themes: Gutenberg: Image caption styling not applied with Block Editor"
Edit by @arunsathiya: As discussed here p1574159858171000-slack-triage, I am moving the issue from Calypso repository to themes repository. This issue is reproducible with a lot of themes on https://wordpress.com/themes. @thehenrybyrd has a particular helpful comment https://github.com/Automattic/themes/issues/1673#issuecomment-555453912

---

#### Steps to reproduce
Create two posts with an image

[2019-01-02 06:32] kriskorn commented on #431
Thanks, Laurel!

Followed up with the user in #1682400-zen.

[2019-01-02 06:53] KokkieH commented on #192
@laurelfulford not able to replicate on my test site any more either, so looks like whatever was causing this has been fixed.

[2019-01-02 07:12] KokkieH commented on #268
That would be helpful, yes, thank you!

[2019-01-02 07:20] KokkieH commented on #295
Thank you for looking. I agree we don't need further follow-up in this case.

[2019-01-02 10:45] torres126 commented on #431
Thanks @laurelfulford! And oh, that's probably why!

[2019-01-02 12:52] danieldudzic commented on #208
@laurelfulford I was unable to replicate the issue, so I believe the fix worked 😃

[2019-01-02 16:07] torres126 commented on #419
@laurelfulford Thinking about this one again, and out of curiosity, should the colour not be updated to at least #949494 _intentionally_ to affect other sites in order to meet the [3:1 ratio](https://dotcombrand.wordpress.com/colors/)? Or is that less applicable to themes and more to just Calypso?

[2019-01-02 20:23] laurelfulford commented on #208
Thanks @torres126 and @danieldudzic for the tests!

Going back through the tickets, it looks like these are largely older reports, so I can't add a comment to most. I will focus on following up on forum threads.

I've retested all of these sites with an ad blocker off, scrolling up and down frantically, and I can't recreate the issue. However, when following up, I think it'd still be a good idea t

[2019-01-02 20:54] laurelfulford commented on #208
I've added comments to, and signed up for email alerts, for:

* https://en.forums.wordpress.com/topic/half-of-the-page-is-shown-empty/ (https://refugebyreveur.wordpress.com)
* https://en.forums.wordpress.com/topic/gap-before-the-post/ (https://frombrushtoheart.org/newsupdates/)
* https://en.forums.wordpress.com/topic/homepage-layout-glitch (http://www.acoffeestainednotebook.wordpress.com/)
* https

[2019-01-02 20:54] #208 closed

[2019-01-02 21:00] laurelfulford commented on #239
It looks l like the fix for #208 is doing the trick, so I'm also going to consider this one fixed.

It looks like the ZD tickets are all closed, so I can't comment on them.

@galakhyati, can you please follow up on the initial report 1361022-zen?
And @Jstachurski , can you please follow up with the other new report added in 1455469-zen?

Given the inconsistent nature of this issue, in #208 I sugge

[2019-01-02 21:00] #239 closed

[2019-01-02 21:59] laurelfulford commented on #192
Thanks @KokkieH! I'll close this up then - we can always reopen if this mysterious issue returns! :)

[2019-01-02 21:59] #192 closed

[2019-01-03 00:09] laurelfulford commented on #415
Merged #417 which fixes this issue.

[2019-01-03 00:09] #415 closed

[2019-01-03 00:13] laurelfulford commented on #415
Illustratr committed to WP.com in r52732-wpcom-themes.

Intergalactic 2 committed to WP.com in r52733-wpcom-themes.

Lodestar committed to WP.com in r52734-wpcom-themes.

[2019-01-03 00:43] laurelfulford commented on #458
Have a patch in progress in #468; need to circle back tomorrow and make sure it works for the Chrome issue, too, before it's ready!

[2019-01-03 00:45] goblinartificer commented on #208
followed up:

-  1293959-zen (https://jaacsmotors.com/cars/) _in 1684462-zen_
-  1298320-zen (https://cilantroroots.com) _in 1684495-zen_
-  1300124-zen (https://sandeepa.in/) _in 1684500-zen_
-  5404394-hc (https://theatre-immersif.com/) _in 1684508-zen_
-  1319828-zen (sitecorecompetencies.com) _in 1684511-zen_
-  4948082-hc (https://vantagesfromvandalia.com/) _in 1684520-zen_
-  1373459-zen (ht

[2019-01-03 06:55] sanjeev00733 commented on #443
Hi @laurelfulford ,

Thanks for looking into this. I did this in Calypso interface but I tested in wp-admin as well and I am able to replicate the issue.

Looks like you selected the image thumbnail which was already resized. Please try resizing image by dragging it by corners and then save the post.

Also, I further found it only happens when the image is **center aligned** http://cld.wthms.co/UU

[2019-01-03 07:06] KokkieH commented on #268
Thank you!

[2019-01-03 07:14] KokkieH commented on #208
Thank you for the forum follow-ups, @laurelfulford!

[2019-01-03 08:32] KokkieH commented on #208
Several forum users have confirmed it's working for them now.

[2019-01-03 14:56] gracie opened #469 "Nucleare: Standard format post auto-changes to Image post when it's scheduled and does not have a featured image"
## Steps to replicate

1. Create a new post.
2. Ensure it has the standard post format.
3. Add an image to the body of the post - not the featured image area.
4. Schedule it - even if it's for 3 - 4 minutes in the future.

## Result

When published, it changes the format to an Image post, displaying only the title on the main post feed, and not the image in the post body.

## Expected

For it to r

[2019-01-03 18:54] laurelfulford opened #470 "Twenty Nineteen: Inconsistent spacing with infinite scroll"
## Steps to replicate

1. Apply Twenty Nineteen to a WordPress.com site.
2. Turn on infinite scroll, and set to click-to-load more.
3. Load a few pages of posts.

## Result

The very first post in each "page" of posts sits closer to the one before it than the spacing normally is.

In this screenshot, the spacing between Classic Editor Block and the post meta above it is normal; the Alignments post

[2019-01-03 21:12] laurelfulford commented on #415
Thanks @torres126! I totally missed that, because I was searching for `text-transform` in the stylesheets :)

I'll leave it for now for the sake of keeping the right font, but will keep an eye out for any reports of confusion due to it!

[2019-01-03 21:20] #458 closed

[2019-01-03 21:47] laurelfulford commented on #421
I've added a one-liner and screenshot to the theme docs to cover this, so this issue should be good to close!

[2019-01-03 21:47] #421 closed

[2019-01-03 21:53] laurelfulford commented on #451
Thanks @KristinaKay!

I think the issue I was running into was a Calypso/Gutenberg one -- the Tags section was no longer showing up on pages or portfolio projects on themes that added them to featured content:

https://github.com/Automattic/wp-calypso/issues/28975

More info here: p7jreA-20e-p2

This looks like it's now fixed, but I'll leave this ticket open this user confirms it's working for the

[2019-01-03 21:55] laurelfulford commented on #208
Thanks for following up with folks, @goblinartificer!

Yay! :D

[2019-01-03 23:12] #371 closed

[2019-01-03 23:15] laurelfulford commented on #371
Committed to WP.com in r52757-wpcom-themes.

It looks like the original reporter has since switched to Illustratr, but I'll add a follow up comment in the forum thread to let them know it's fixed!

[2019-01-03 23:41] laurelfulford commented on #445
This should be fixed in r52758-wpcom-themes!

[2019-01-03 23:41] #445 closed

[2019-01-04 00:02] laurelfulford commented on #169
Reopening issue because the fix is causing problems with shorter images in the slideshow:

![image](https://user-images.githubusercontent.com/177561/50667973-e8eb4f80-0f70-11e9-814e-072f4de7e660.png)

The CSS is assuming they're going to be 600px tall and it really, really shouldn't.

Report and followup: https://en.forums.wordpress.com/topic/featured-content-slider-arrows-fell-out-of-place/

[2019-01-04 06:33] edwinho89 opened #472 "Rebalance: Embedded videos displays large thumbnails on post page"
User reported video thumbnails on site used to be similar and same sized as the thumbnails on https://www.youtube.com/ , however found out it has been larger recently.

## Steps to replicate

- "Customize > Content Options > Blog Display" set to "Full post"
- Create a new post
- Add a Youtube link at the start of post. (Example: https://www.youtube.com/watch?v=ssfHW5lwFZg)
- Publish and visit post

[2019-01-04 06:36] edwinho89 commented on #472
It seems to have some similarity on #426 , but if you preview http://cld.wthms.co/YFIQKU , the video displays video on smaller thumbnails.

[2019-01-04 16:18] katinthehatsite opened #473 "Affinity: Gallery Gutenberg Block Is Wonky When Images Linked To Media Files"
## Steps to replicate

1. Create a page and add a gallery block through Gutenberg
2. Under Block Settings for gallery, select columns to be 2
3. Under Block Settings choose Link To - Media File and publish the page
<img width="1520" alt="screen shot 2019-01-04 at 11 05 19 am" src="https://user-images.githubusercontent.com/25575134/50697609-b3963e80-1010-11e9-871a-42f6153c3676.png">
4. Make sure th

[2019-01-04 16:46] katinthehatsite commented on #469
Added report here: https://wpcom.trac.automattic.com/ticket/8127

[2019-01-04 18:37] laurelfulford commented on #169
An updated fix has been committed in r52799-wpcom-themes.

It's a bit of a nuclear approach -- I've added JavaScript to trigger resize events when the slideshow is complete, and when the images in the slideshow are done loading, to help make sure Firefox has it at the right size. This does mean there can be some overlap while the slideshow is loading, but it will correct itself once all the images

[2019-01-04 18:37] #169 closed

[2019-01-04 18:39] laurelfulford commented on #169
Followed up in the forum thread!

[2019-01-05 07:12] Robertght opened #474 "Lovecraft: Last gallery item doesn't follow the same styling as the others"
## Steps to replicate

1. Create a gallery and make sure you have at least 4 images.
2. Set it so it shows on 2 columns
3. Publish the post and check the last image in the gallery. It should be slightly larger because of this rule:

.entry-content *:last-child { margin: 0; }

## Result
It should be something like this:
https://monosnap.com/file/PQ2EVIhDqXd8oFOfzuukrq4zhfV2Ui

Workaround I used:

.

[2019-01-05 18:39] achyuthajoy opened #475 "Twenty Seventeen: Menu doesn't stick on scroll"
## Steps to replicate

After activating Twenty Seventeen and setting up the menu, scroll on any page should make the menu sticky. However, if you scroll down a bit and then hit refresh a few times, the sticky menu disappears and doesn't come back on further scrolling.

Tried testing on the self-hosted version of the theme and couldn't replicate.

The problem doesn't appear when Browser Inspect Too

[2019-01-06 00:53] arunsathiya opened #476 "Hemingway Rewritten: Gutenberg: Remove page template for blog posts"
## Steps to replicate

- Start with a WordPress.com site
- Activate `Hemingway Rewritten` theme
- Open https://wordpress.com/page to create a new page. Notice that the `Page attributes` section appears on sidebar
- Open https://wordpress.com/post to create a new post. Notice that the `Page attributes` section does not appear on sidebar
- Opt-in for WordPress Editor/Gutenberg from the WordPress.com

[2019-01-06 08:46] torres126 commented on #476
Automattic/wp-calypso#29788

[2019-01-07 03:40] jessestu opened #477 "Twenty Fifteen: Logo not displaying on Atomic"
## Steps to replicate

I'm using Chrome, 71.0.3578.98.

1. Activate Twenty Fifteen on an Atomic site.
2. Go to Customize → Site Identity, select a logo.

## Result

The logo does not show up in the theme. Screenshot:
![screen shot on 2019-01-06 at 21 33 02](https://user-images.githubusercontent.com/32908730/50747703-f61b6f00-11fa-11e9-90e8-e41d0c2e20d4.png)

## Expected

I expected the logo to sho

[2019-01-07 07:04] KokkieH opened #478 "Intergalactic 2: Embedded video incorrectly cropped"
## Steps to replicate

1. Create a new post in the classic editor
2. Post a Youtube video link on its own line so it auto-embeds, or use the Youtube shortcode
3. Publish and view post.

## Result

The embedded video is cropped to a 4:3 aspect ratio even if the video itself has a different aspect ratio

![youtube_test_ _shift_to_the_left](https://user-images.githubusercontent.com/11873759/50753456-

[2019-01-07 16:32] arunsathiya commented on #476
Thanks for referencing that issue, @torres126. It does seem to be one that affects all themes with page templates and specific to Gutenlypso. Not a theme specific one. I am closing this report in favour of the tracker at https://github.com/Automattic/wp-calypso/issues/29788

[2019-01-07 16:32] #476 closed

[2019-01-07 18:04] laurelfulford commented on #477
Thanks for this report @jessestu -- I think I messed something up when merging the latest changes into the theme late last week. Taking a look at this now!

[2019-01-07 18:38] laurelfulford commented on #477
This should be fixed in r52851-wpcom-themes.

Theme updates are pushed to AT sites twice a week, so this should be fixed on https://salimaskitchen.com/ in a day or two. I'll keep an eye on the site and will follow up when it's fixed there; I'll leave this issue open in the meantime.

[2019-01-07 19:36] laurelfulford commented on #478
So it looks like this change might be the culprit:

https://github.com/Automattic/jetpack/issues/10678

Jetpack now checks whether themes include `add_theme_support( 'responsive-embeds')` before it will apply its own responsive video fix, even if a theme supports it too with `add_theme_support( 'jetpack-responsive-videos')`.

This fixes an issue where the two different responsive embeds behaviours

[2019-01-07 19:58] jessestu commented on #477
Thank you, @laurelfulford! I last let the user know this would be resolved when this bug gets addressed, so all is lined up now for you to send the confirmation when it pushes.

And if you'd rather me do it, ping me and let me know it's done and I'll take it from there!

[2019-01-07 20:14] laurelfulford commented on #478
Nope, looks like the issue is less obvious with themes that don't try to style that class (like Lodestar), but it's noticeable when you view posts from the classic editor or block with a YouTube video on mobile devices.

[2019-01-07 21:36] laurelfulford commented on #478
After some testing, it looks like the issue is less obvious with themes that don't try to style that class (like Lodestar), but it's noticeable when you view posts from the classic editor or block with a YouTube video on mobile devices.

[2019-01-07 23:10] laurelfulford commented on #478
Created an issue for Jetpack here: https://github.com/Automattic/jetpack/issues/11097

I'm also going to investigate if there's something we can do on the theme level to avoid this issue, since I'm not sure it's possible to actually have Gutenberg's and Jetpack's responsive video functionality work nicely together.

[2019-01-07 23:49] laurelfulford commented on #234
Since #208 is fixed, I'm going to close this issue as also fixed. This user is no longer using Baskerville 2, and the issue was likely related to #208 or their using Lazy Loading images.

[2019-01-07 23:49] #234 closed

[2019-01-08 04:53] alaczek commented on #150
This rings a bell, albeit a distant one. Publication initially loads sidebars inside the mobile menu, then the sidebars are moved to the actual sidebar desktop location with JS (js/functions.js L112). Since the mobile menu is initially closed, there might be issues with calculating width/height of the gallery widget (I remember we had similar issues in other themes with hidden sidebar areas). This

[2019-01-08 05:11] alaczek commented on #191
This is a bit of an edge case - the theme does recommend using images 250px high. At it's core, this seems to be a z-index issue - the header has z-index of 100, while the toggle button is 98. If we swap z-index around, things will look a bit off though, with the button overlapping the title. So we'd need to move the site title a bit to make some space.

![image](https://user-images.githubusercont

[2019-01-08 05:47] KokkieH commented on #478
[Another report](https://en.forums.wordpress.com/topic/karuna-theme-displaying-videos-wrong/) of this happening in Karuna.

Site: https://phlevel.wordpress.com/

[2019-01-08 12:59] jacoswan opened #480 "Libretto: Site Title not Hidden on Mobile"
## Steps to replicate
1. Go to Customize > Site Identity add a site title and a tag, and untick `Display Site Title and Tagline`
2. Expected behavior, as shown in Customizer, is that both site title and tagline are hidden.
3. In Customizer, select mobile view to confirm this works as expected.
4. Save and view on the front end. Reduce viewport to less than 640px.
5. Notice that the site title is n

[2019-01-08 20:17] supernovia commented on #478
Just noting the person who had trouble with Karuna reports that the aspect ratio is fine when they use blocks, but not when using the classic editor. :/

[2019-01-08 20:20] supernovia commented on #478
Here you can see the same on Intergalactic:
https://justvelda.wordpress.com/2019/01/08/video-ratio-classic/
https://justvelda.wordpress.com/2019/01/04/video-ratio/

[2019-01-08 20:31] supernovia commented on #478
Here we go: https://github.com/Automattic/jetpack/issues/11097

[2019-01-09 06:15] KokkieH commented on #478
As also mentioned in this issue above:

[2019-01-09 20:09] jamiepalatnik commented on #434
Reported for Gazette theme in 8117471-hc.

[2019-01-10 06:07] arunsathiya opened #482 "Business: Button block's background color not respected, is always set to blue"
## Steps to replicate

- On a Business site, add a button block
- Choose a background color for it

<img width="1424" alt="screenshot 2019-01-10 at 11 37 01" src="https://user-images.githubusercontent.com/18581859/50949414-12a1fa80-14cc-11e9-98ea-6c01ee0e7cd3.png">

## Result

The button's background color appears in blue.

<img width="526" alt="screenshot 2019-01-10 at 11 31 34" src="https://user

[2019-01-10 11:22] mendezcode commented on #331
All good @laurelfulford – I'll take care of this! :-)

[2019-01-10 22:57] jessestu commented on #477
@laurelfulford, in checking over open cases before my weekend, I see the user got further help from another HE and ended up switching themes, so I will go ahead and close this issue as they won't need a followup. Thank you!

[2019-01-10 22:57] #477 closed

[2019-01-11 03:48] htdat opened #484 "Illustratr: Theme for self-hosted site is not up-to-date"
## Issue

From 1708688-zen:

displays multiple unaligned project thumbnails in the same row instead of single
project thumbnails.

brianbrianbrianbrianbrian.com which uses the portfolio shortcode

## Info

I confirm this issue and looks like that

* For WP.com - https://s2.wp.com/wp-content/themes/pub/illustratr/style.css?minify=false is showing **Version: 1.3.6-wpcom**

* For self-hosted site - s

[2019-01-11 04:10] alaczek commented on #484
I just updated the download on .com. Can you check and let me know if that fixes the issue?

[2019-01-11 04:21] htdat commented on #484
Thanks @alaczek. I will close this issue here and update you if the issue is still there.

[2019-01-11 17:57] mzakariya commented on #484
User reports that the issue is persistent, even after updating to latest version.

[2019-01-11 18:51] mendezcode commented on #399
This has been fixed as part of the [editor styles rewrite](https://github.com/Automattic/default-small-business-theme/commit/b39bb05a191fd2177c8e547089843dcf6cd40806).

[2019-01-11 18:51] #399 closed

[2019-01-11 18:53] mendezcode commented on #296
This has been fixed as part of the [editor styles rewrite](https://github.com/Automattic/default-small-business-theme/commit/b39bb05a191fd2177c8e547089843dcf6cd40806).

[2019-01-11 18:53] #296 closed

[2019-01-11 18:56] mendezcode commented on #310
This has been fixed as part of the [editor styles rewrite](https://github.com/Automattic/default-small-business-theme/commit/b39bb05a191fd2177c8e547089843dcf6cd40806).

[2019-01-11 18:56] #310 closed

[2019-01-12 03:57] yashitamittal11 opened #485 "Apostrophe 2: Vimeo video is overlapping the images"
## Steps to replicate

Add a Vimeo video and then some images below it. The images and the video overlap each other.
We have been able to replicate this on Safari browser on iPhone 5.

* Screenshots-
![screenshot 2019-01-12 at 9 08 32 am](https://user-images.githubusercontent.com/21078987/51068834-d8f6fe00-1649-11e9-8048-913adca0682f.png)

![screenshot 2019-01-12 at 9 08 47 am](https://user-images

[2019-01-12 15:58] katinthehatsite opened #486 "Independent Publisher 2: Dark Palettes Affect Visited "Continue Reading" Buttons"
## Steps to replicate

1. Activate "Independent Publisher 2" theme
2. Select in Customize - Colors & Backgrounds - Palettes

<img width="512" alt="screen shot 2019-01-12 at 10 52 28 am" src="https://user-images.githubusercontent.com/25575134/51075353-3d20be80-1658-11e9-8976-d55568ac06fe.png">

3. Choose the first or second dark palette

<img width="382" alt="screen shot 2019-01-12 at 10 53 08 am"

[2019-01-12 20:48] allykmyta opened #487 "Twenty Eleven: Automatic Unwanted GIF Resizing"
## Steps to replicate
1. Create a new post
2. Upload a .gif file into media and embed into post
3. Ensure that the media file settings for the .gif are set to Full Size (this is usually by default):

![Screenshot example](http://cld.wthms.co/acIot4+)

## Result

Once the .gif is embedded, it shows briefly at the correct size and then reduces back to a small thumbnail. Every time the browser refres

[2019-01-14 07:06] donalirl opened #488 "Intergalactic 2: RTL Languages affect footer credit"
## Steps to replicate

1. Activate Intergalactic 2 theme on a simple WordPress.com site
2. Choose any RTL language for the site language in Settings → General (I tested with Arabic, Hebrew, Urdu, and Persian)
3. Observe the footer credit

## Result

Extra text is included in the footer credit that should not be there.

This is Persian:
![image](https://user-images.githubusercontent.com/30727666/51

[2019-01-14 17:21] gemmagarner opened #489 "Orvis: tiled gallery images stacked in portfolio projects (block editor)"
The tiled gallery layout does not work on portfolio projects when the block editor is enabled.

## Steps to replicate

Enable the new editor and the portfolio content type.

1. Go to My Sites > Portfolio > Add
2. Click `+` to add a new block
3. Select Tiled Gallery
4. Select Media Library (or upload) and choose several images
5. Click insert
6. Publish
7. View the project on the front end

## Resu

[2019-01-15 03:35] samiff opened #490 "Blask: Portfolio project first image sized differently"
## Steps to replicate

1. On a simple site, activate Blask theme.
2. Add a new Portfolio project. Add a couple images to the new portfolio project (>880px each)

## Expected

The images will display in the portfolio post without issue.

## Result

* The first image doesn't expand to fill the container.
* The second image gets a `size-big` CSS class which the first doesn't have.

<img width="1432"

[2019-01-15 08:39] pauljacobson commented on #475
Hi there

Our customer followed up on this issue. I explained that we're investigating the issue.

[2019-01-15 10:27] gemmagarner opened #491 "Lodestar: accented characters different sizes in menu"
Certain accented characters are larger in link text added to the menu.

## Steps to replicate

1. Go to My Sites > Customise > Menus
2. Select a menu (e.g. Primary)
3. Click Add Item
4. Select "Custom link"
5. Add `Serviços` as the link text
6. Publish
7. View the menu on the front end of the site

## Result

`ç` is larger than the other characters. The same happened whether the word Serviços was

[2019-01-15 11:40] Robertght commented on #475
The user share more details with us - I hope it will help:

[2019-01-15 13:15] dromero20 opened #492 "Radcliffe 2: Contact info can't be deleted from header or footer"
## Steps to replicate

Only happening on this site https://davidtaborn.com, so I couldn't replicate it in my test one.

- Go to Customizer -> Contact Info
- Delete contact info information and click on Publish (it's deleted on the preview).
- Go to the site (info still in there).
- Reload Customizer, the contact info popped up again.

## Expected

According with my tests, when you remove contact i

[2019-01-15 17:08] laurelfulford opened #493 "Business: Theme has 'featured image' tag"
In the showcase, Business includes support for featured images in the backend (you can assign them to posts), but they don't actually show on the front-end.

It's also tagged for support in the showcase: https://wordpress.com/themes/filter/featured-images

This issue has been moved from 2578-wpcom-premium themes (hat tip @mrfoxtalbot).

[2019-01-15 18:47] laurelfulford commented on #487
Thanks for the report, @allykmyta!

Out of curiosity, did you test this with other themes as well? It seems odd that Twenty Eleven would be doing anything that would affect this, but I've been surprised what themes have effected before :)

If it's only happening with Twenty Eleven, do you know offhand if it can be recreated on a self-hosted site, too? If so, this report should be moved to the Core

[2019-01-15 18:49] laurelfulford commented on #488
Assigning to @mendezcode, as this sounds like an issue we're having with the footer credits, different languages, and the regex used to swap them.

[2019-01-16 00:03] mdawaffe opened #494 "Orvis: portfolio-single.js conflicts with devicepx"
devicepx is a script WordPress.com and Jetpack use to ensure images appear correctly on HiDPI devices; the script changes the image's `src` and `srcset` attributes to (more or less) load the smallest (in bytes) file able to fill the image's boundaries in the browser at the given DPI. (It uses Photon's `?w=` and `zoom=` query string parameters to accomplish this.)

Orvis has a fancy two column disp

[2019-01-16 02:16] laurelfulford commented on #492
This is a weird one, and similar to this issue: p2EDhh-Cj-p2.

I've manually cleared some theme_mods for this site and it looks like it fixed the issue, so I'm going to close it. I'm not sure what the underlying cause is, but we have something similar happen from time to time with color mods.

[2019-01-16 05:17] goblinartificer opened #495 "Libretto: Byline does not display unless site has more than one user"
## Steps to replicate

1. Activate Libretto on a site with no other users.
2. Enable "Display author" in *Customize* > *Content options*

## Result

No byline displays either on specific posts or on the Posts page.

## Expected

As with sites with multiple users, the byline displays on both the Posts page and specific posts.

## Details
* User report: #9458323-hc
* User is going to resolve it by a

[2019-01-16 08:44] coder-karen opened #496 "Apostrophe 2: Button text on Follow Blog widget not readable"
## Steps to replicate

- Add Jetpack Subscription widget to a Jetpack connected site using the WordPress.com Apostrophe 2 theme or add the Follow Blog widget to a WordPress.com site using the same theme.
- The 'Subscribe Now' Text in the button is not readable unless hovering the mouse over the button, using the default styling.

<img width="322" alt="screenshot 2019-01-16 at 08 18 08" src="https:

[2019-01-16 17:44] laurelfulford commented on #495
Thanks for reporting this issue, @goblinartificer!

This is actually working as expected in Libretto -- it was a way, pre-Content Options, that we avoided having an identical byline repeated on every single post on a site. There's code in the theme that checks, and only displays the byline if there is more than one author with a published post.

We don't do this in themes anymore because, with Con

[2019-01-16 17:44] #495 closed

[2019-01-16 18:56] mrwweb opened #498 "Ixion: Header Search Not Keyboard Accessible"
## Steps to replicate

Confirmed in latest Chrome and Firefox on Windows 10 using [Ixion demo](https://ixiondemo.wordpress.com/?demo).

1. Open site using Ixion.
1. Hit `TAB` repeatedly. You should go past the skip link and all social icons.
1. The search form is skipped and focus goes from last social icon to the site logo

## Result

The built-in search form cannot be accessed by anyone using a

[2019-01-16 21:56] gpmw opened #499 "Ixion: Cover Block show half image when full width and fixed background"
- Add a cover block to a page
- Add an image
- Make it full width and fixed background The block only shows half the image.

## Result
The block only shows half the image.
http://cld.wthms.co/6D9hvb

## Expected
Shows correctly in the editor but not in the preview or live page.
http://cld.wthms.co/OQIWNo

* User report: #7971157-hc
* Follow-up ticket: #1723994-zen
* User's site: [#](https://freete

[2019-01-17 02:10] goblinartificer commented on #495
Hey @laurelfulford , thanks for explaining that - it's good to hear why and how things work! The user's just added another admin in order to show the byline, so that works for them :)

[2019-01-17 07:33] a8ck3n commented on #496
User noted they will wait for us to let them know when this is resolved. Ticket is on hold for now.

[2019-01-17 15:34] RealCarFax opened #500 "Ryu: Background color not generating for Flickr-hosted images"
## Steps to replicate

1. Upload an image to Flickr
2. Insert Flickr image into an Image Post
3. Publish the Image Post

## Result

The background color does not generate based on the first image. This is an example of how it looks:
https://blog.jimgrey.net/?p=57461

## Expected

There should be a background color generated from the first image inserted in the post. This is an example of how it lo

[2019-01-17 16:48] laurelfulford commented on #495
Great! :) This is definitely one of those things that caused a lot of confusion -- glad that we've moved away from doing it!

[2019-01-17 19:12] mendezcode commented on #482
This has been fixed as part of the [editor styles rewrite](https://github.com/Automattic/default-small-business-theme/commit/b39bb05a191fd2177c8e547089843dcf6cd40806).

[2019-01-17 19:12] #482 closed

[2019-01-17 20:25] mendezcode commented on #331
Fixed in [Automattic/default-small-business-theme@8b8d902](https://github.com/Automattic/default-small-business-theme/commit/8b8d9020ce949bbd7624445677d5e82f457d87da)

[2019-01-17 20:25] #331 closed

[2019-01-18 14:04] jruud commented on #500
The user came back and reported that the issue has disappeared on their site, and they didn't change anything (to their knowledge).

[2019-01-19 05:30] goblinartificer opened #501 "Resonar: large header image causes inconsistent featured image height"
## Steps to replicate
1. Set up a site with Resonar and a couple of blog posts with large featured images.
2. Add a header image which has more height-to-width than recommended.
3. Skip the cropping stage.

## Result
The posts display either the full-height featured images as expected or narrow bars; reloading the post often changes which result you get.

In the Customizer, if you look at a post a

[2019-01-19 20:09] tmmbecker commented on #484
@alaczek any other thoughts on what might be the cause here?

[2019-01-21 00:16] sarahfg opened #502 "Radcliffe 2: Customize "stuck" on Style Pack"
## Steps to replicate

1. Activate Radcliffe 2 on a WordPress.com Simple Site
2. Select a style pack
3. Head to Colors & Backgrounds and select a custom color

## Result

The customizer shows the style pack still active. The actual site now shows the style pack de-activated. The background or other colors for the style pack are no longer active on the site live, but appear to be on the site in the

[2019-01-21 02:47] thebud15 opened #503 "Illustratr: Overlapping Videos on Portfolio Pages with columns block"
## Steps to replicate

1. Add a new Portfolio project
2. Add a column block
3. Add a YouTube video link to each one (in this specific case, these links were:
https://youtu.be/BNoGUhZcmaY
https://youtu.be/ItMVtMpTScA
4. Publish the page and see the videos overlapping with the footer area of the site, as the below screenshot shows:

![screen shot on 2019-01-16 at 20_24_21](https://user-images.github

[2019-01-21 15:51] GeoJunkie commented on #490
Also reported in 1721269-zen for site https://tracydrakeartdesign.com/portfolio/ui-ux-design/

[2019-01-21 17:42] tanjoymor commented on #282
Another reporting of this issue on this site: https://alixkelinda.com/

7607693-hc

I have warned the user that it may not be fixable.

[2019-01-21 19:16] lakellie opened #504 "Libretto: Dropdown form fields do not display correctly on desktop"
Issue occurs both in forms created using the Calypso classic editor, and Gutenberg form block.

Reported by a user and duplicated on my own test sites.

## Steps to replicate

Classic Editor
1. Add a form to a post or page via Add > Contact Form
2. Add a "dropdown" field to the form

Gutenberg
1. Add a form block
2. Add a "select" field

## Result

The dropdown box does not display in the right lo

[2019-01-22 04:24] thebud15 opened #505 "Afterlight: Simple Payments button quantity toggle not working"
## Steps to replicate

1. Opened a new page on the Afterlight theme
2. Added a Simple Payments button (tested with both the classic and new editors)
3. Include the option to allow buyers to purchase multiple items.
4. Publish and head to that page on the live site.

## Result

The toggle option for quantity of items cannot be selected. Here's a video of this: ![screen capture on 2019-01-21 at 20-1

[2019-01-22 10:18] gemmagarner commented on #489
Another report in [this thread](https://en.forums.wordpress.com/topic/getting-slideshows-to-work-with-orvis-theme/).

[2019-01-22 15:08] htdat commented on #484
I am asking this user to run theme/plugin dance (aka activating only Jetpack and this theme on their site) to see if there is any conflict.

[2019-01-22 15:38] Gilmoursa commented on #412
Mentioned by another user in:
#1737197-zd

[2019-01-22 20:00] suyogyashukla opened #506 "Karuna: Contact form styling breaks for large strings"
## Steps to replicate

- Activate Karuna on a site
- Create a new page and add a Jetpack Contact Form ( I used Gutenberg block )
- Open the contact page on a small screen, for example, iPhone 7.
- In the email field, type in something long, for example -
`wpsupporthelp@wphelpsupport.com`
- Submit the form

## Result

- The email string goes off screen.

## Expected

- The email string should break

[2019-01-23 14:35] #506 closed

[2019-01-23 19:40] torres126 commented on #17
Another user with the Lodestar theme hoping to use a video instead of an image in this thread too: https://en.forums.wordpress.com/topic/video-instead-of-image

[2019-01-23 23:21] hacchism opened #507 "Independent Publisher 2: The extra margins above/below Vimeo video"
## Steps to replicate
1. Activate "Independent Publisher 2"
2. Create a new post or page
3. Embed a Vimeo video with a URL or shortcode
4. Publish the post or the page

Please note that this is with Classic Editor (Not Gutenberg).

## Result

A Vimeo video shows up with unnecessary margins above and below.

![](http://cld.wthms.co/ynKTQK+)

* User report: [#1735249-zen](https://woothemes.zendesk.c

[2019-01-24 02:48] laurelfulford commented on #507
Thanks for this report, @hacchism!

This isn't actually a theme-specific problem, though it's more noticeable in some themes than others -- it can be reproduced very consistently on mobile with any of the themes in this repo.

The issue is that Jetpack currently 'turns off' its own responsive video sizing when a theme support's Gutenberg's responsive embeds, because at the moment, the two clash. T

[2019-01-24 02:48] #507 closed

[2019-01-24 04:18] hacchism commented on #507
Thanks @laurelfulford. It makes sense. The user reported another issue for their Youtube video on this post: https://johnjronline.wordpress.com/2019/01/23/penny-dreadful-seasons-1-3/. And, it looks like the issue is also related to [https://github.com/Automattic/jetpack/issues/11097](https://github.com/Automattic/jetpack/issues/11097).

[2019-01-24 22:05] susanjanec commented on #251
The same steps to replicate, result and expected that were listed above also applies to this user.

A user reported they added the Featured Image on their Blog/News page that is set as their blog page and instead an image from their Header Image is showing.

This is the image on their Blog page:
![screen shot on 2019-01-24 at 16-40-01](https://user-images.githubusercontent.com/16828966/51710831-52

[2019-01-24 23:34] gwwar commented on #434
@laurelfulford is any integration work here needed or do we need theme updates? Asking since, the screenshots appear to be Atomic sites.

[2019-01-24 23:50] laurelfulford commented on #434
@gwwar It's all theme updates :)

In all the themes, we followed the theme's original design for buttons... but should have deferred to Gutenberg's default rounded styles, since most of them aren't. On top of that, in a lot of cases, the theme's CSS is too specific and it's overriding the styles Gutenberg's trying to add on top, so all the options look the same.

[2019-01-24 23:51] gwwar commented on #434
Gotcha, I'll assume you have this covered. Let us know if you need a hand otherwise 👍

[2019-01-25 01:08] donalirl opened #509 "Radcliffe 2: Headstart text should not reference the theme directly"
## Steps to replicate

1. Create a new WordPress.com site that starts out with Radcliffe 2 installed
2. Observe the demo text that is populated, referencing Radcliffe 2 and linking to the theme showcase
3. Switch to any other theme and the Radcliffe 2 text is still there.

## Screenshot

http://cld.wthms.co/VTmjGF

## Expected

Theme headstart text should not be theme-specific. It should apply to

[2019-01-25 10:41] fstath commented on #289
I got a user in Cubic's support forum experiencing the same behavior. They are hosted on WordPress.com and when I turned off the ads the issue was resolved.

Forum thread: https://wordpress.org/support/topic/blank-from-page/

[2019-01-25 11:05] torres126 commented on #509
I recall a few threads of confusion over this in the forums, here's one: https://en.forums.wordpress.com/topic/wrong-theme-13/

[2019-01-25 13:51] catkit opened #510 "Resonar: Images aren't aligned at galleries with size set to full"
## Steps to replicate

- Create a page and add a one column gallery with size set to full in the classic editor, like:

`[gallery columns="1" size="full" ids="5204,2996,5697"]`

## Result

<img width="1280" alt="captura de tela 2019-01-25 as 11 32 13" src="https://user-images.githubusercontent.com/3521683/51749921-cf34b800-2097-11e9-85e9-8e99f328cb95.png">

## Expected

<img width="1280" alt="capt

[2019-01-25 13:53] torres126 commented on #509
I wonder if the link should be updated to https://learn.wordpress.com

**Current:**

**Possible:**

I'm not too sure though, does this repo allow for a copy review?

(cc @michelleweber, @clucasrowlands, @kristastevens)

[2019-01-25 14:53] juliasydnor commented on #327
I had another report of this in #3856494-hc.

The `.has-top-content` class is being added to the body, even when nothing has been added to Customize > Theme Options > Header Top Text.

Because of that, this CSS is being applied, which I believe should only be applied when something has been added to Header Top Text.

[code]

The `.has-top-content` class is not being added in the Customizer, which

[2019-01-25 16:18] michelleweber commented on #509
It's generally fine, though I'd love to tweak it just a little bit:

[2019-01-25 20:15] laurelfulford commented on #509
Thanks @torres126 and @michelleweber!

[2019-01-26 19:06] meegzy commented on #17
I would also like this feature with the Lodestar theme.

[2019-01-27 20:11] kathrynwp opened #518 "Button 2: Infinite Scroll button style not displaying correctly"
## Steps to replicate

- Activate Button 2 on an Atomic site
- In Jetpack > Settings > Writing, in the Infinite Scroll section, select "Load more posts in page with a button" and save changes.
- Publish more than 10 posts

## Result

- Visit blog page and scroll to end of the posts
- Look at the Infinite Scroll button:

![can be bribed with food page 2 a blog about a passion for food and a passion

[2019-01-27 22:12] catkit opened #519 "Professional Business: missing download file at setup page"
## Steps to replicate

Go to the theme setup page and look for the download theme button
https://wordpress.com/theme/professional-business

## Result

Link is broken, 404 page.
Link: https://downloads.wordpress.org/theme/professional-business.zip

* User report: #1753298-zd

[2019-01-28 23:56] lakellie opened #520 "Dyad 2: Double scrollbar sometimes appears on blog posts in Chrome & Safari"
## Steps to replicate

This was user-reported and seems to be a pretty specific issue, but I was finally able to replicate under the following circumstances:

1. Install Dyad 2 on a simple site with the classic editor
2. Navigate to Customize > Content Options and uncheck "display tags" under "Post Details"
3. Add a new post with at least one tag
4. Add a featured image
5. Choose the "Image" post

[2019-01-29 17:01] kathrynwp opened #521 "Radcliffe 2: Headstart message confusing when users switch themes"
## Steps to replicate

1. Activate Radcliffe 2 on a new site.
2. Switch to another theme

## Result

Default text linking to Radcliffe 2 showcase page is still visible:

![hundaholmi](https://user-images.githubusercontent.com/7662449/51925548-54cca680-23bd-11e9-913a-e2fec65784e6.jpg)

## Expected

There should not be Radliffe 2-specific info visible when the active theme is no longer Radcliffe 2.

[2019-01-29 17:11] torres126 commented on #521
Wasn't this fixed in #511? (Duplicate of #509 btw, though that's closed due to #511)

[2019-01-29 17:18] kathrynwp commented on #521
Thanks! I looked for open tickets but missed the closed one. The user in 1758648-zd created their site prior to the Headstart update 4 days ago. Glad to see this has been fixed.

[2019-01-29 17:18] #521 closed

[2019-01-29 17:35] ahmadbaig1 commented on #520
User requested to be informed whenever this issue gets resolved, so request you to send an email to the user (otiliavirnav@gmail.com) when this gets resolved.

[2019-01-29 23:18] darnelldibbles opened #522 "Baskerville 2: Text-Shadow Value Error Found Through W3C Validator"
## Steps to replicate

The user found errors while running their site through the [W3C Validator](https://jigsaw.w3.org/css-validator/validator?uri=www.imageearthtravel.com&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en) for her Baskerville 2 theme:

`Value Error : text-shadow Too many values or values are not recognized `

## Result

I reported it through Kathryn (p1548800215112100

[2019-01-30 10:55] edwinho89 commented on #403
Reported with similar issue: #9967532-hc

To align image captions under the image block, we can apply the following below:

[code]

[2019-01-30 16:51] torres126 commented on #403
From https://github.com/Automattic/wp-calypso/issues/28756#issuecomment-459014528

[2019-01-30 22:43] laurelfulford commented on #519
This has been resolved!

 https://downloads.wordpress.org/theme/professional-business.zip will continue to return a 404 (this is normal for all themes), but the Download button on the showcase now will download a copy of the theme.

[2019-01-30 22:43] #519 closed

[2019-01-31 12:06] KokkieH commented on #433
Request from the [forums](https://en.forums.wordpress.com/topic/fonts-option-not-appearing-in-customizer/)

[2019-01-31 13:21] sedocirp7 opened #523 "P2: Issues with editing more than on post on front-end, Gutenberg styles"
# Issue 1 - Data wipeout on P2 post's edit mode

## Steps to replicate
- Go to any P2 and click on the three dots on a specific P2 Post to edit it.

- Now keep the Editor open in the **First P2 Post** and click the edit icon from the three dots on a **Second P2 Post**. I usually do this to copy paste format or any recurring data.

## Result
- The editor on the **First P2** vanishes as soon as the

[2019-01-31 21:23] AtrumGeost opened #524 "Baskerville 2: Improvement—Add an option to disable the black overlay in the header"
## Steps to replicate

To replicate this please add a header image by clicking on "My Site" > Customize > Header Image.

## Result

You'll notice a black overlay on the image.

## Expected

To see an option to enable/disable the overlay.

* User report: 3023893-hc

[2019-02-01 05:23] yashitamittal11 opened #525 "Lodestar: Images break when displayed in two columns in panel"
When a page with both the text and the images is displayed in two columns, the images breaks between the two columns.

 **Steps to replicate**
1. Go to My Sites >> Site Pages >> Add and create a page
2. Create a paragraph block and add some text to it
3. Create a Gallery block beneath the paragraph block and add 3-4 images to it or you can also add two Gallery blocks consecutively and add two imag

[2019-02-02 01:02] mrfoxtalbot opened #526 "Independent Publisher 2 not showing videopress embeds in the frontend"
Confirmed on latest Chrome & Firefox on MacOS 10.13.6

## Steps to replicate

Embed a WordPress.tv video on a simple site using the "embed" block with "Independent Publisher 2" as its active theme.

You can see an example of this here: https://mrfoxtalbot.wordpress.com/2019/01/30/valentina-thorner-como-trabajar-desde-casa-ser-productiva-y-no-odiar-a-tus-hijos/

Backend view (embed is showing)
![sc

[2019-02-02 01:17] mrfoxtalbot opened #527 "Switching themes discards all custom CSS"
## Steps to replicate

1. Add custom CSS to your current active theme.
2. Switch to another theme.
3. Go back to your previous theme, the one you had added custom CSS to, and look for your the custom CSS that had been added previously.

## Result

All custom CSS gets deleted.

## Expected

I would expect custom CSS to be stored as part of your preferences/settings for that theme, just the way it h

[2019-02-02 20:50] ChrissiePollock commented on #475
@laurelfulford Do you know who we should ping regarding this issue? Or should we report in trac?

[2019-02-03 22:10] alaczek commented on #439
The excerpts are being used on archive pages, so I'm thinking this should be a core ticket, to address this issue consistently across the board.

[2019-02-04 01:02] alaczek commented on #526
Hi!

Thank you for your report.

I tried replicating the issue on my own test site using Independent Publisher 2, and the video was working properly for me. I pasted the video url (https://videopress.com/v/FvsBHfg2) directly to the block editor, and it was visible both in the preview, and on the front-end of the site. Could you give me more details on how you embedded the video? Did you drop the a

[2019-02-04 01:32] alaczek commented on #527
Hi there!

While custom CSS added to previous themes does not load automatically when you switch back to that theme, it is saved in CSS revisions, which you can access via a link above the custom CSS editor in the Customizer.
![image](https://user-images.githubusercontent.com/4550351/52185896-1846f200-2878-11e9-9f89-1d7f168a0765.png)
If you follow that link, you'll find yourself on a page with all

[2019-02-04 01:32] #527 closed

[2019-02-04 03:19] alaczek commented on #493
Unless I'm missing something, there's no way to remove Featured Image option from the back-end, even if the theme does not display them anywhere. Right?

I removed the showcase tag.

[2019-02-04 03:32] alaczek commented on #460
I see the product images showing on the user site now. Can you confirm @pauljacobson ?
We had this issue pop up a couple of times, and it was usually because of Content Options - if featured images were turned off for archive pages, they would not show up on the shop page either, but IU believe that was fixed a while back.

[2019-02-04 13:15] juliasydnor commented on #151
Reported in 1520408-hc on AT site when language is set to German. Sent custom CSS as a temporary solution.

[2019-02-04 16:16] torres126 commented on #493
Featured Images are still used for things like Publicize even if the theme doesn't display them, so probably.

[2019-02-04 17:10] laurelfulford opened #528 "Twenty Nineteen: Archive pages not displaying posts according to customizer 'Content Setting'"
Moved over from: https://core.trac.wordpress.org/ticket/46178

@rantoncuadrado - can you please add short links to the original user report - thank you!

---

Full post option in customizer > Blog Display is not being respected in some archive pages.

Example:

With this option selected, https://YOURWEBSITE/category/X shows excerpts, while

https://YOURWEBSITE/category/X/page/1/ shows, as expected

[2019-02-04 17:37] laurelfulford commented on #526
Thanks for following up on this, @mrfoxtalbot!

Since this sounds like it's resolved, I'm going to close this issue.

[2019-02-04 17:37] #526 closed

[2019-02-04 18:08] nickpagz opened #529 "Lodestar: Theme ignoring button block styling classes"
User reporting that adding rounded corners (or other styling, such as outline) to buttons in the button block still show as squared (and without oultines if added) in preview and when published.

Was able to replicate on a test site with the Lodestar theme.

## Steps to replicate

- Create a new post using the new editor
- Add a button block and create a new button.
- Click on styles, and choose *

[2019-02-04 18:14] laurelfulford commented on #529
Thanks for this report, @nickpagz!

We have a broader issue for this here, since it's pretty wide-spread: #434.

I'm going to close this issue in favour of that one, & will move your report over!

[2019-02-04 18:14] #529 closed

[2019-02-04 18:15] laurelfulford commented on #434
Another report of this, for Lodestar specifically: #1732421-zen

[2019-02-04 18:32] laurelfulford commented on #462
Thanks for this report, @torres126!

This sounds like a broader issue we have reported for custom colours - basically, free plans can use theme's custom palettes or change the background colour; other plans have access to more colour customization. However, the preview for free themes wrongly shows that the text colour will change to contrast against the background, when in reality, it doesn't.

T

[2019-02-04 18:32] #462 closed

[2019-02-04 18:34] laurelfulford opened #530 "Photos: No custom colour palettes"
In testing #462, I noticed Photos doesn't come with its own colour palettes, though it has custom colour support.

The theme should have six colour palettes added, to allow more customization.

## Steps to replicate

1. Navigate to the Customizer > Colours & Background
2. Click palettes.

## Result

Nothing shows.

## Expected

To have six palettes to choose from, like other themes.

[2019-02-04 18:36] laurelfulford commented on #451
It looks like the user has followed up and verified that this is fixed, so I'm going to close this ticket!

[2019-02-04 18:36] #451 closed

[2019-02-04 18:44] laurelfulford commented on #443
Thanks for the extra context, @sanjeev00733!

The centring of the image seems to be the key here -- I could also recreate by using the + and - buttons in Calypso (rather than resizing by dragging a corner), so long as it was centred.

[2019-02-04 18:50] laurelfulford commented on #472
This looks like it's fixed for me now, both on my test site and the user's site -- I think it may have been related to this issue (Jetpack responsive videos disabled for themes with Gutenberg support):

https://github.com/Automattic/jetpack/issues/11097

I'm going to close this issue; @edwinho89 it looks like the original ZD ticket is closed. Can you please follow up with the user letting them kno

[2019-02-04 18:50] #472 closed

[2019-02-04 18:53] laurelfulford commented on #473
Noting that I can recreate this in Chrome, but not Firefox.

[2019-02-04 18:55] laurelfulford commented on #475
Hey @ChrissiePollock! This is the right spot, based on this line in the description:

We'll keep this ticket up-to-date as we have updates!

[2019-02-04 18:55] allancole commented on #525
Yup, I can replicate this one.

![image](https://user-images.githubusercontent.com/709581/52230024-5c3ff400-2884-11e9-8fa6-007a281a9bb7.png)

[2019-02-04 18:58] laurelfulford commented on #475
@achyuthajoy Out of curiosity, have you been able to recreate this on another WP.com site? I can see it on the users site, but so far haven't had luck replicating on my own test site.

[2019-02-04 19:02] allancole commented on #446
@laurelfulford yup, the header image is intentionally removed on small screens, but it seems the breakpoints are off by 1 pixel.

[2019-02-04 19:04] laurelfulford commented on #509
The text still says 'below' which isn't always the right spot for the edit link, so reopening!

[2019-02-04 19:16] torres126 commented on #509
@laurelfulford Happy to propose a PR done for this unless you intend to already, is this just a matter of removing  the word "below"? The Edit button already seems fairly easy to find without that additional guidance.

Nothing that I can't reproduce a scenario without the Edit button being anywhere other than below though.

[2019-02-04 19:33] laurelfulford commented on #475
I think I've figured out the cause of this issue:

Twenty Seventeen will make the menu sticky, unless it spans three rows of menu items -- then it will always stay at the top. This is a failsafe, to make sure a really tall menu isn't allowed to stick, covering most of the content.

The user's site has Custom Fonts, and the current font is a bit smaller than Twenty Seventeen's default. If you refre

[2019-02-04 19:40] laurelfulford commented on #478
Verifying that this is now fixed in Jetpack.

I'll follow up in the two forum threads linked above.

[2019-02-04 19:40] #478 closed

[2019-02-04 19:53] laurelfulford commented on #485
I can't replicate this issue in Safari on my computer or phone (iPhone 6). But I wonder if this was incidentally fixed with this issue:

https://github.com/Automattic/jetpack/issues/11097

@yashitamittal11 can you verify if you're still seeing this issue? Thanks!

[2019-02-04 19:59] laurelfulford commented on #489
Changed the priority, since Orvis doesn't have Gutenberg support built in.

I'm leaning towards `wontfix` for this one -- Orvis changes the layout of portfolio projects with JavaScript, separating the text and images. This kind of really opinionated behaviour in a theme doesn't really work well with Gutenberg.

[2019-02-04 20:11] laurelfulford commented on #490
Another weird problem with this issue is that the Edit link displays in that post meta spot when you're logged in:

![image](https://user-images.githubusercontent.com/177561/52234031-89d17100-2875-11e9-8e06-1f6ace197152.png)

.... so if we did opt to change the image size based on post meta, we'd either need to have it displaying differently when someone is logged in (to keep the space for the edi

[2019-02-04 20:13] crunnells commented on #489
This issue is a likely #wontfix candidate because Orvis _doesn't_ have block editor support, and we have no plans to add it at this time.

[2019-02-04 20:20] laurelfulford commented on #491
Unfortunately, it looks like this is a known issue with the Karla font used in the Lodestar theme:

https://github.com/google/fonts/issues/1232

It's marked as an issue that should be fixed in that repo; in the meantime, the best fix might be testing out one of the custom fonts. Unfortunately it's tough to change the font in the theme's design now without causing issues, but it's a good thing to k

[2019-02-04 20:20] #491 closed

[2019-02-04 20:36] laurelfulford commented on #499
The 'fixed' image option makes the image the same size as the browser window; because Ixion's cover block is shorter, it appears to crop a lot of the image.

Ixion's cover block height is just using the Gutenberg's default, so if we do change it in this theme, we should probably check the others, too.

I would appreciate a second opinion on this one, as this is technically working as expected, but

[2019-02-04 21:00] laurelfulford commented on #502
Thanks for this report, @sarahfg!

I'm unable to recreate this issue in Radcliffe 2 -- I tried:

1. Selecting the 'Upbeat Pop' style pack
2. Picked the Purple & Grey colour palette
3. Saved & Published

Both the Customizer and front-end of site displayed a mix of the two -- the fonts from Upbeat Pop were still used, but with a grey background.

Can you please confirm with Style Pack & Colour you u

[2019-02-04 21:08] laurelfulford commented on #503
I think this might have to do with Illustratr's built-in media resizing on the portfolio pages:

https://github.com/Automattic/themes/blob/master/illustratr/js/portfolio-single.js#L8

[2019-02-04 21:12] laurelfulford commented on #504
Noting that I can see the above in Safari, but in Firefox, the dropdown displays below the label:

![image](https://user-images.githubusercontent.com/177561/52237494-81c9ff00-287e-11e9-8c1e-3b66b67d1fe2.png)

... which also isn't quite right.

[2019-02-04 21:17] torres126 commented on #504
@laurelfulford Oops, the PR I proposed for this in #508 assumes that the dropdown is intentionally meant to be beneath the label on desktop (not mobile) devices. Am I correct in saying that it should be inline with the label, similar to how it displays on mobile?

![screenshot_20190204-211628](https://user-images.githubusercontent.com/43215253/52237700-30436380-28c2-11e9-81c9-9ab6137a68ff.jpg)

(E

[2019-02-04 21:22] laurelfulford commented on #504
Ah good catch! I think it is suppose to be like the other fields, with the label on the left, and the input/select/etc on the right, like in my screenshot above.

[2019-02-04 21:33] laurelfulford commented on #510
This looks like an issue with the theme's JavaScript to make images larger -- in the function `bigImageClass()`it doesn't check if an image is in a gallery, only that it has the `.size-full` class.

[2019-02-04 21:43] laurelfulford commented on #525
Adjusting the priority, since this isn't an issue isn't Gutenberg blocks specifically, but Lodestar's own two column option in the Customizer -- it would break up regular images, too.

[2019-02-04 21:55] torres126 commented on #504
Thanks @laurelfulford! One more question, centre or aligned beneath the box?

![ssdfsdafsdafdfs](https://user-images.githubusercontent.com/43215253/52239911-75b65f80-28c7-11e9-8630-68280b717e91.png)

[2019-02-04 21:58] gpmw commented on #499
Here is the editor view:
http://cld.wthms.co/mLOyKC

Here is the Live view:
http://cld.wthms.co/cZ8Rui

[2019-02-04 21:59] laurelfulford commented on #523
I was able to recreate this issue.

I haven't been able to recreate this one -- I tried both larger and smaller images, centred, with captions, but both seem to display as expected:

![image](https://user-images.githubusercontent.com/177561/52239946-7ed20d00-2884-11e9-80ec-5f1a951c9bf6.png)

We did have a problem with other theme's CSS overriding the image block styles, if they were set to `displa

[2019-02-04 22:06] #374 closed

[2019-02-04 22:09] alaczek commented on #230
Given that this is a retired theme, and the issue seem to be an edge-case, I'm suggesting a `wontfix` on this one.

[2019-02-04 22:12] allancole commented on #525
Ahh, got ya 👍

[2019-02-04 22:23] alaczek commented on #247
Given that this is an old theme, and an issue seems to be an edge-case related to this particular iste/image used, I'm suggesting a `wontfix`.

[2019-02-04 22:31] alaczek commented on #191
Given the age of the theme, and the isolated nature of the issue, I'm suggesting a `wontifix`.

[2019-02-04 23:32] laurelfulford commented on #403
Switching the priority on this one, since Baskerville doesn't have Gutenberg styles in the theme yet.

[2019-02-05 00:04] laurelfulford commented on #191
I agree with @alaczek - given the age of the theme, the fact the original reporter no longer has a site, and that it only happens when the header is taller than recommended, it makes sense to wontfix this one.

[2019-02-05 00:04] #191 closed

[2019-02-05 00:04] laurelfulford commented on #230
Good call, @alaczek -- I agree! Closing as such.

[2019-02-05 00:04] #230 closed

[2019-02-05 00:07] laurelfulford commented on #247
Yeah, wow, this one is quite weird.

I agree that, given the age of the theme and the specific settings required for the background not to work, this makes sense to close as a wontfix.

The original reporting site has also since been deleted.

[2019-02-05 00:07] #247 closed

[2019-02-05 00:08] laurelfulford commented on #281
Given the age of the theme, I think it does make sense to close this one. We haven't had additional reports of infinite scroll issues like this outside of #280.

[2019-02-05 00:08] #281 closed

[2019-02-05 00:21] laurelfulford commented on #434
I've circled through and tested affected themes -- here's the list of the theme's we've added Gutenberg styles to, and the button styles that don't work, for tracking:

* Affinity - not rounded; outline doesn't work
* Altofocus - outline doesn't work
* Apostrophe 2 - not rounded; is outlined by default :|
* Button 2 - not rounded, outline doesn't work
* Canard - not rounded, outline doesn't work
*

[2019-02-05 04:01] alaczek commented on #499
Check out my PR @laurelfulford - I used the same styles as in Business. I also tested a bunch of other blocks that allow for `.allignfull`, and it looks clear to me.

[2019-02-05 04:45] KokkieH commented on #230
Thanks for looking. Not following up as the user also isn't using this theme any more.

[2019-02-05 04:47] KokkieH commented on #478
Thank you!

[2019-02-05 06:41] sjaved87 opened #532 "Snaps: ISSUU embed (iframe) bleeds out of container"
## Steps to replicate

1. Create a post.

2. Add ISSUU embed link in the post either using the classic block or embed block.

3. For example, you can use this link from the user site: https://issuu.com/paolasimoni/docs/pif-antinfortunistica as explained [here](https://en.support.wordpress.com/issuu-embeds/ ).

It works on the page though, where the container width is more than post width. But resp

[2019-02-05 15:06] laurelfulford commented on #532
Thanks for reporting this issue, @sjaved87!

This isn't just an issue with Snaps -- I was able to recreate some display issues with Twenty Sixteen as well -- it's running into the sidebar:

![image](https://user-images.githubusercontent.com/177561/52282099-6a3d5580-2914-11e9-8aba-9e727907b0e1.png)

It sounds like it's related to this issue with the embed itself: 7766-wpcom.

I'm going to move this

[2019-02-05 15:06] #532 closed

[2019-02-05 15:34] rantoncuadrado commented on #528
Sure thing, Laurel, thanks for copying the report here. So, next time... I suppose I'd need to create the issue here? Or should I still post it in the core?

User ticket: #1772649-zen

[2019-02-05 15:41] correliebre opened #533 "Pictorico: Having the search bar as optional"
## Current state

The Pictorico theme currently has a search bar at the top of the header, in between the title and the menu area.
![](http://cld.wthms.co/QIXH5P+)
There's no option in the Customizer to remove that search bar.

## Enhancement request

It would be great if there were an option in the Customizer to either activate or deactivate that search bar. Something like the features we current

[2019-02-05 15:49] laurelfulford commented on #533
Thanks for this enhancement request, @correliebre!

Unfortunately, given that it's been almost five years since Pictorico was launched, it's not a theme that we'll be adding new functionality to.

I'm going to close this as a `wontfix` -- can you please follow up with the user if needed? Also, just let me know if you have any questions about this -- thanks!

[2019-02-05 15:49] #533 closed

[2019-02-05 16:06] laurelfulford commented on #518
Doubling back to this, I'm unable to reproduce this in Button 2 or Natural -- I wonder if it got changed back in Jetpack 7.0?

@kathrynwp can you please double-check, and see if you're still seeing this?

[2019-02-05 18:10] #109 closed

[2019-02-05 18:33] #276 closed

[2019-02-05 18:36] laurelfulford commented on #276
Committed to WP.com in 53224-wpcom-themes.

[2019-02-05 18:46] #412 closed

[2019-02-05 18:51] laurelfulford commented on #412
Merged into WP.com in 53225-wpcom-themes.

@catkit and @Gilmoursa -- it looks like the ZD tickets are now closed, so I can't add a comment to them. Can you please follow up with the users as needed? Thanks!

[2019-02-05 19:04] #327 closed

[2019-02-05 19:07] laurelfulford commented on #327
Committed to WP.com in 53226-wpcom-themes.

@ash1eygrace and @juliasydnor -- can you please follow up with the users reporting these issues? Thanks!

[2019-02-05 20:23] laurelfulford commented on #435
This has been fixed in 53227-wpcom-themes.

[2019-02-05 20:23] #435 closed

[2019-02-05 20:29] Lochlaer opened #536 "Twenty Nineteen: Comma in footer credit won't "hide""
In the Twenty Nineteen theme, the footer credit automatically includes the Site Title in addition to the WPCOM credit, separated from each other with a comma. This in turn affects all the style variations based on this theme (Elegant, Calm, Friendly, Professional, Modern, Sohpisticated).

When a user has a Business plan and activates that theme, and then "hides" the footer credit, the comma doesn'

[2019-02-05 21:07] laurelfulford commented on #496
This should now be fixed in 53228-wpcom-themes.

I added a comment for followup to the ZD ticket, but it looks like the user from the original report has switched themes on both linked sites.

[2019-02-05 21:07] #496 closed

[2019-02-05 21:20] laurelfulford commented on #499
Right! That weird issue in Chrome. This is what I get for using Firefox :)

[2019-02-05 21:23] laurelfulford commented on #499
Looks good, @alaczek!

This was merged into WP.com in 53229-wpcom-themes, and added a comment to the ZD ticket.

[2019-02-05 21:23] #499 closed

[2019-02-05 23:06] alaczek commented on #447
Fixed in r53230-wpcom-themes

[2019-02-05 23:06] #447 closed

[2019-02-05 23:57] alaczek commented on #503
Scratch that, when I created portfolio project on my test site and added two videos in columns, I could see the issue you're describing, but not the one I was seeing on customer site.

[2019-02-06 00:02] alaczek commented on #503
Allrighty, I have a patch ready for testing. It did fix the issue on my site, but didn't on the user site, when I sandboxed it. Maybe I'm sandboxing it wrong? Would appreciate second look cc @laurelfulford

[2019-02-06 01:06] laurelfulford commented on #459
Just circled through to check which themes have this issue - they are:

* Affinity
* Canard
* Gazette
* Independent Publisher 2
* Intergalactic 2
* Photos
* Rebalance

#463 covers a number of these - testing that next!

[2019-02-06 01:08] alaczek commented on #525
I've found a solution and will be committing shortly. The only downside I'm seeing, is it might create unbalanced columns, like these, but I don't think there's much we can do about that:
![image](https://user-images.githubusercontent.com/4550351/52314617-a00f3680-2a07-11e9-9222-331e6a102b68.png)

![image](https://user-images.githubusercontent.com/4550351/52314644-bd440500-2a07-11e9-991e-15ddf3887

[2019-02-06 01:22] #525 closed

[2019-02-06 01:32] laurelfulford commented on #459
Fixes for these themes have been committed to WP.com in:

* Affinity - 53231-wpcom-themes
* Canard - 53232-wpcom-themes
* Gazette - 53233-wpcom-themes
* IP2 - 53235-wpcom-themes
* Intergalactic 2 - 53236-wpcom-themes
* Photos - 53237-wpcom-themes
* Rebalance - 53238-wpcom-themes

... so that's all the themes that have Gutenberg styles built in fixed. Themes without (like     Escutcheon) will conti

[2019-02-06 01:32] #459 closed

[2019-02-06 01:47] yashitamittal11 commented on #485
I am also not able to replicate this issue on my iPhone 6. I asked for help on channels, but it seems nobody has iPhone 5 to test this out. I have followed up with the user to check if this issue is resolved for them. I will update this thread once I receive a reply.

[2019-02-06 04:23] KokkieH opened #540 "Dyad 2: Tagline ignores setting to not display"
## Steps to replicate

1. Have the front page set to display latest posts
2. Make sure there are no featured or sticky posts, so the front page slider does not display
3. Go to Customizer ->Site Identity and set a tagline
4. Uncheck box to hide site title and tagline

## Result

The title disappeared, but the tagline remains displayed as a heading over the custom header image

![shift_to_the_left_

[2019-02-06 06:13] sjaved87 commented on #532
Hi Laurel,

Thanks for triaging the issue. I forgot to mention that, it worked with TwentySeventeen and Baskerville 2 theme.

But thanks again for moving it to the right place.

[2019-02-06 16:13] kathrynwp opened #541 "Revelar: Captioned images are not full-width"
## Steps to replicate

Add a captioned image to a post in the Classic Editor.

## Result
The image does not fill the full width of the column

![test](https://user-images.githubusercontent.com/7662449/52354957-65a19b80-29ff-11e9-907d-252bb8e5f7e3.png)

## Expected

The image should fill the whole width of the column, as it did pre-Gutenberg.

This CSS seems to be the culprit:
[code]

Gave user thi

[2019-02-06 16:13] laurelfulford commented on #536
I made the description more generic since this is an issue with Twenty Nineteen, and so, all the business variations as well.

There's some discussion around it in the comments here, for context: pNEWy-clT-p2

[2019-02-06 16:26] allancole commented on #441
This issue was merged into a future release of Jetpack. Leaving this issue open until the next version is released.

[2019-02-06 18:20] allancole commented on #470
Got a PR submitted for this here: https://github.com/Automattic/jetpack/pull/11293

Leaving this issue open until the code is merged and released in a future version of Jetpack.

[2019-02-06 18:24] laurelfulford commented on #540
Oof, this is a bit of a tough one.

I agree that the behaviour isn't correct, based on the label on the checkbox. But unfortunately this is one of those things that, in changing it, could affect existing sites in unwanted ways.

I'm leaning towards updating the label on the checkbox to be more accurate, rather than changing the theme's behaviour, but I'd appreciate a second opinion!

[2019-02-06 18:33] laurelfulford commented on #541
Thanks for this report @kathrynwp!

I don't think this is Gutenberg-related -- it looks like the max-width that's restricting the captioned image is coming from the theme itself, which doesn't have Gutenberg styles (the classes also don't match anything Gutenberg spits out).

It doesn't look like Revelar's styles have been updated in over a year -- I wonder if this just managed to sneak under the

[2019-02-06 19:53] #504 closed

[2019-02-06 19:59] laurelfulford commented on #504
This has been committed to WP.com in 53244-wpcom-themes.

@lakellie Can you please follow up with the user, if needed? It looks like the form they originally linked to is no longer there, but the styles added also make the form a little narrower than it is normally, I don't want to mess anything up by removing it. Thanks!

[2019-02-06 20:31] #473 closed

[2019-02-06 21:11] allancole commented on #528
This is gonna be a tricky one. The best way to fix this is by making a change to `archives.php`. to allow the Full post (`the_content()`) to display in archives by default instead of excerpts (`the_excerpt()`). This would need to be committed to `/core` but it would definitely cause disruption for wporg users’ archive pages—especially for those they don’t use Jetpack and prefer to have excerpts on

[2019-02-06 21:34] allancole commented on #540
As Laurel suggested, I think we may have to try to alter the label in the Customizer for this one, especially since the theme implements the site-description in an uncommon way. Users can always hide the site-description by removing the text, so maybe we could add a note about that method?

[2019-02-06 22:59] crunnells commented on #455
I'm not sure there's much that can be done here reliably. There's no wrapper, and no code comments around the "block" so that I can at least _isolate_ the code with JS. The _only_ option I can think of is to extend/filter the Custom HTML block and always add a `<div>` around the content, but I'm not sure if that's the role of the theme or not. Otherwise, I'll have to re-write the CSS to use a diff

[2019-02-06 23:18] laurelfulford commented on #455
Thanks for looking into this @crunnells!

Those options sound pretty intense. Personally, I'm leaning towards `wontfix` here -- it sounds like we're possibly looking at some major changes to the theme here, and there is a work around that works for all plans. Also, I feel like the cases where people would be using this block to add an inline or element-free bit of content would be pretty rare. If

[2019-02-07 01:50] crunnells commented on #455
Thanks for the input @laurelfulford! Closing this as a `wontfix` for now.

[2019-02-07 01:50] #455 closed

[2019-02-07 05:14] KokkieH commented on #540
That sounds reasonable, yes.

[2019-02-07 05:55] svnsbck commented on #528
Sorry to snoop in here. I'm the user that ran into/found this bug and naturally have an interest in getting it fixed (considered that I would like to have full posts shown), but the solution simply calling it "Choose between a full post or an excerpt for the blog", wouldn't fix anything in my opinion., Archive pages still would show full-posts after the first page, which also wouldn't be, what the

[2019-02-07 07:26] rantoncuadrado commented on #475
Hi @laurelfulford

The user reports this suggestion doesn't completely fix the issue. Could you please iterate on this?

User answer:

"
... It is possible that it helps a bit (i.e. I get the sticky menu and correct title placement on average more than without it), but it does not totally solve the problem. Pages which load correctly almost always load incorrectly when refreshed, and pages still s

[2019-02-07 10:20] KokkieH opened #558 "Pique: Font Awesome icons no longer work"
## Steps to replicate

1. Visit Font Awesome at https://fontawesome.com/icons?from=io and copy the code for an icon
2. On a post or page, paste that code into an HTML block (if using the classic editor, the code gets stripped out automatically - see https://core.trac.wordpress.org/ticket/28940 for more details and a workaround)
3. Publish and view the post.

## Result

The icon does not appear.

#

[2019-02-07 18:04] laurelfulford commented on #475
Thanks for passing all of that on, @rantoncuadrado!

This is definitely an odd issue. I've been trying to recreate the remaining issues on the user's site (the title placement, and the blank strip between the menu and header), but but so far haven't had any luck.

Have you been able to recreate this? I'm not sure if it's a browser-specific thing, or maybe there's another factor I'm missing.

[2019-02-07 19:34] kathrynwp commented on #541
Maybe, Laurel! The thing is that the user said this just started happening. Is there any way to fix?

[2019-02-07 19:52] laurelfulford commented on #541
Oh, super strange! It should be fixable by changing the max-width in the theme at the breakpoint you have in the Custom CSS. It doesn't seem to serve a purpose on larger screens.

[2019-02-07 20:09] crunnells commented on #100
The "Colors & Backgrounds" tab in the Customizer comes from a WP.com plugin, so the issue is there rather than in Core. I _don't_ think this is theme-specific, because the `background-position: fixed` comes from that plugin and should apply to **all themes**. It seems like we should probably fix it there, rather than try to override on a theme level.

One thought; we can add a media query to the C

[2019-02-07 21:44] allancole commented on #528
Hi @svnsbck, you are right that my second suggestion doesn’t actually fix the issue. The ideal solution is what I suggested first, but that’s not possible at the moment for various reasons.

Instead, I submitted a Pull Request to fix this via Jetpack for WordPress.com: https://github.com/Automattic/jetpack/pull/11305

Leaving this issue open until that PR is merged and included in a future Jetpack

[2019-02-07 22:58] crunnells commented on #536
@Lochlaer I fixed the issue in r53276-wpcom-theme; can you please follow-up with the customer to let them know the problem is resolved? I'll leave a note on the ticket as well.

[2019-02-07 22:58] #536 closed

[2019-02-07 23:50] allancole commented on #235
Having trouble replicating this one and I tried in both Safari and Chrome. If I had to guess those blue borders are probably a browser bug.

![pique-no-blue-border](https://user-images.githubusercontent.com/709581/52450430-f021f200-2b08-11e9-9205-fc601b4d5b28.gif)

Could use a second opinion here: @crunnells @laurelfulford

[2019-02-08 00:00] allancole commented on #147
@jeffikus I tested that last commit you made but I still see the flickering. I see it a bit less, but its still there sometimes.

[2019-02-08 00:02] laurelfulford commented on #434
These should all be fixed 😅

I added a comment to the Lodestar ZD ticket.

@jamiepalatnik - can you please follow up with the person who reported this for Gazette?

@ahmadbaig1 can you please follow up with the person who originally reported this for Shoreditch? It looks like that ticket is closed, so I can't comment on it.

Thanks!

[2019-02-08 00:02] #434 closed

[2019-02-08 00:09] allancole commented on #558
Yup, I can replicate this.

[2019-02-08 00:32] #225 closed

[2019-02-08 00:35] laurelfulford commented on #225
Committed to WP.com in r53280-wpcom-themes.

@GeoJunkie It looks like the original ZD ticket is closed - can you please follow up with the user if needed? If they opt to get rid of the Custom CSS fix, they will need to resave their Colour Settings to make sure the original contrast isn't cached on their site. Just let me know if you have any questions about this!

[2019-02-08 00:40] laurelfulford commented on #369
This has been committed to WP.com in r53281-wpcom-themes.

@mdrockwell It looks like the original ZD ticket is closed, so I can't add a comment there - can you please follow up with the user if needed? Thanks!

[2019-02-08 00:40] #369 closed

[2019-02-08 00:48] laurelfulford commented on #257
I can't actually recreate this one now, though I think I could before. But it looks like Independent Publisher 2 has the correct styles in place -- `word-wrap: break-word` -- to prevent issues with too-long strings.

I'm going to close this for now, but if the issue crops again we can always reopen.

[2019-02-08 00:48] #257 closed

[2019-02-08 00:59] laurelfulford commented on #319
This has been fixed on .com in r53288-wpcom-themes.

@senff Can you please follow up with the user if needed? Thanks!

[2019-02-08 02:02] crunnells commented on #284
I see two possible fixes here:

1. Override the Customizer font sizing for mobile; it's a partial bandaid because long post titles will still cause overlap, but it should happen _less_ often.
2. JS that checks the height of the `.entry-header` and the `.entry-thumbnail` containers, and set the `.hentry` height based on whichever is taller.

The third would be to change the way we display featured

[2019-02-08 08:44] torres126 opened #575 "Apostrophe 2: Follow Blog Widget Unreadable Again"
## Steps to replicate

1. Use the Apostrophe 2 theme and the default colour pack
2. Add a Follow Blog Widget to the Secondary Widget option

## Result

![screenshot_20190208-084113](https://user-images.githubusercontent.com/43215253/52467483-9d365200-2b7d-11e9-9a3d-ebc99959e1a1.jpg)

## Expected

For the "Follow" button to be easier to see in its normal state

* User report: https://en.forums.word

[2019-02-08 08:47] torres126 commented on #575
#496

[2019-02-08 12:38] jeffikus commented on #147
Thanks @allancole Will look at this again.

[2019-02-08 18:01] #575 closed

[2019-02-08 18:03] laurelfulford commented on #575
🤦‍♀️ Gah, thanks for catching this.

A fix has been committed to WP.com in r53319-wpcom-themes; I'll follow up in the forum thread!

[2019-02-08 18:03] laurelfulford commented on #575
Ah, nevermind, already done! 😄

[2019-02-08 18:04] torres126 commented on #575
Oops, already posted in the thread. :sweat_smile:

Thanks for the fix!

[2019-02-08 18:13] #486 closed

[2019-02-08 18:15] laurelfulford commented on #486
This has been committed to WP.com in r53320-wpcom-themes.

It looks like the original ZD ticket has been closed; @katinthehatsite can you please follow up with the user if needed? Thanks!

[2019-02-08 18:21] laurelfulford commented on #493
Removed the tag from style.css in the theme's repo here: https://github.com/Automattic/default-small-business-theme/pull/24

This update was committed to WP.com in r53321-wpcom-themes.

[2019-02-08 18:21] #493 closed

[2019-02-08 18:25] mdrockwell commented on #369
Thanks for the heads up @laurelfulford, I created a follow-up ticket and let them know there.

1787595-zen

[2019-02-08 18:26] laurelfulford commented on #518
I've double-checked again, the button is now displaying as expected on both WordPress.com and self-hosted sites. I've also verified this on the user's site.

I'm going to close this one as it seems to have been resolved in Jetpack, but we can always reopen if the issue reoccurs.

[2019-02-08 18:28] laurelfulford commented on #518
Nope, wait, I am seeing this on AT sites, just not on WP.com sites.

[2019-02-08 18:40] laurelfulford commented on #518
I think the issue may be how the styles are loaded on AT sites.

All of the Jetpack CSS is being concatenated into one file, which is enqueued after the theme's styles:

![image](https://user-images.githubusercontent.com/177561/52498457-b47d3b80-2b8d-11e9-8f08-8ac4201847d9.png)

Whereas on WordPress.com, the CSS is separate, and the infinity.css is enqueued before the theme's CSS:

![image](https:

[2019-02-08 18:52] laurelfulford commented on #518
The former seems to be the norm for self-hosted sites -- I think having `JETPACK_DEV_DEBUG` set to true on my localhost may be overriding it.

[2019-02-08 19:32] katinthehatsite commented on #486
Created and sent a follow-up ticket 1787755-zen

[2019-02-08 19:35] #518 closed

[2019-02-08 19:37] laurelfulford commented on #518
I confirmed that this is not new behaviour (p1549653466261100-slack-jetpack)so likely something that snuck under the radar for a while, since it doesn't affect WP.com simple sites.

I've committed a fix in r53322-wpcom-themes; that should be synced to this site next week.

[2019-02-08 20:49] #273 closed

[2019-02-08 20:51] laurelfulford commented on #273
This should now be committed to WordPress.com in r53323-wpcom-themes.

It looks like the original ZD ticket is closed -- @AtrumGeost, can you please follow up with the original reporter? Thanks!

[2019-02-08 21:18] #287 closed

[2019-02-08 21:24] laurelfulford commented on #287
This was committed to WP.com in r53324-wpcom-themes.

I also re-zipped the theme to make the update available to self-hosted sites, and added a comment to the forum thread to follow up.

[2019-02-08 21:45] #498 closed

[2019-02-08 21:52] laurelfulford commented on #498
This has been committed to WP.com in r53325-wpcom-themes.

Will follow up once it's been resubmitted to WP.org!

[2019-02-08 21:56] laurelfulford commented on #498
Update submitted here: https://themes.trac.wordpress.org/ticket/65393

[2019-02-08 22:03] #282 closed

[2019-02-08 22:05] laurelfulford commented on #282
This update has been committed to WP.com in r53326-wpcom-themes.

It looks like the original ZD ticket has been closed -- @eduardozulian can you please follow up with the original reporter? Thanks!

[2019-02-08 22:06] allancole commented on #147
Re-opening this one. I was testing this latest commit and the change accidentally got included in an unrelated PR that is now closed.

[2019-02-08 22:55] #444 closed

[2019-02-08 22:59] laurelfulford commented on #444
This has been committed to WP.com in r53327-wpcom-themes.

It looks like the related ZD ticket has been closed; @Robertght can you please follow up with the original reporter? Thanks!

[2019-02-08 23:03] #509 closed

[2019-02-08 23:06] laurelfulford commented on #509
I've committed a fix for this on WP.com in r53328-wpcom-themes.

Thanks for offering to look at this one, @torres126! The text isn't an issue when a site is using Radcliffe 2, but the headstart content isn't automatically overwritten when someone switches themes. So the 'below' works with Radcliffe 2 but not necessarily all other themes.

[2019-02-09 00:05] laurelfulford commented on #492
I did a little digging into this issue -- I this this was introduced in r52410-wpcom-themes; those files got a little out of sync with the GitHub repo, so I've committed those changes in #587 to get things back in sync.

It looks like the `theme_mods` were switched to options, with a fallback to the `theme_mod`. I think this causes an issue on sites that were created prior to that switch, if the c

[2019-02-09 00:33] crunnells commented on #502
I tried to reproduce this issue, and was unable to. It's entirely possible it's an issue with the customer site, specifically. I've seen Customizer settings get stuck in the DB. Sometimes re-saving the default setting, then trying the change again works. Otherwise, we'll have to override the setting on the site manually via CLI.

[2019-02-09 07:41] torres126 commented on #287
Noting that it looks like this may have caused some confusion? https://en.forums.wordpress.com/topic/folter-columns/

[2019-02-09 18:35] ashercantrell commented on #287
Yeah, I've got a user in 1789105-zen who is seeing all of their widgets in a single column now, even on desktop. You can take a look at the site here: https://opaskitchen.blog/

[2019-02-09 19:33] jonnyruzek opened #589 "Dyad 2: Footer widgets do not stack"
## Steps to replicate

A user reported that they noticed on February 9 the appearance of their footer widgets changed and are no longer side-by-side; they are stacked.

## Result

The theme demo on WordPress.com (https://dyad2demo.wordpress.com/) is showing the widgets stacking, in full-width:

![screen capture on 2019-02-09 at 12-23-50](https://user-images.githubusercontent.com/39252765/52525393-

[2019-02-09 19:53] laurelfulford commented on #287
Thanks @torres126 & @ashercantrell! Yeah, looks like I got a little too clever with the fix 😬 Apologies! Sorting out in #589, and will add follow ups to those reports!

[2019-02-09 19:53] #589 closed

[2019-02-09 19:54] laurelfulford commented on #589
Apologies, @jonnyruzek! I caused this trying to fix another issues.

Another updated has been committed in r53348-wpcom-themes - I'll add a comment to the Zendesk ticket for follow-up.

[2019-02-11 04:42] yashitamittal11 commented on #485
The video is not overlapping now. But the images are overlapping each other.
The same is happening with the other set of images further down on the page.

![img_8812](https://user-images.githubusercontent.com/21078987/52546442-4df25a80-2de5-11e9-95f3-7a104545dbb5.PNG)

[2019-02-11 08:44] pauljacobson opened #591 "Photos: Custom Header option no longer available"
## Steps to replicate

The Photos theme doesn't appear to have an option to add or edit a Custom Header in the Customizer. The [theme guide](https://wordpress.com/theme/photos) promotes this option with the following:

Despite this, the option isn't available in the Customizer.

## Result

When opening the Customizer, there's no option to add or edit a Custom Header image. These are [the available

[2019-02-11 15:59] eurello commented on #289
Another one of these: https://woothemes.zendesk.com/agent/tickets/1792842

Site looks fine on desktop and possibly Android, but content doesn't load in iPhone/Chrome or iPhone/Safari. I hid the ads and now the site loads fine.

https://prepandperfect.wordpress.com/

[2019-02-11 16:57] laurelfulford commented on #591
I'm betting I caused an issue here, with my fix for #319 -- looking into it!

[2019-02-11 17:24] #591 closed

[2019-02-11 17:29] laurelfulford commented on #591
This should now be fixed on WP.com in r53359-wpcom-themes.

I've added a comment to the ZD ticket for follow up!

[2019-02-11 20:39] crunnells commented on #492
@laurelfulford Could this be related to #502?

[2019-02-12 00:22] samiff commented on #438
Requested for the six child themes as well in 1785776-zen

[2019-02-12 11:31] pauljacobson opened #593 "Twenty Nineteen: Request for a search box in the header"
## Feature request

This theme doesn't have a handy search option. Because the widget areas are only in the footer, there isn't a convenient way to search for posts short of scrolling to the footer in the hope that there's a search option there.

## Suggested solution

I don't know how this could be implemented but I'd love to have an option to add a search bar to the site header from the Customiz

[2019-02-12 16:44] laurelfulford commented on #593
Thanks for this report, @pauljacobson!

Since this isn't specific to the WP.com-version of the theme, it should be reported in Core Trac. I did a quick look, and it looks like this isn't the first time it's been requested :) https://core.trac.wordpress.org/ticket/45917

I'm going to close this issue in favour of that one!

[2019-02-12 16:44] #593 closed

[2019-02-12 16:52] laurelfulford opened #594 "Multiple themes: Double-check quote styles with GB 5.2"
The Quote block is going to get a bit of a style refresh in a future release of Gutenberg (5.2, milestoned for March 4th). If the block's text is either left or right aligned, a border is added to that side of the block:

https://github.com/WordPress/gutenberg/pull/13248

This can potentially cause visual issues if a theme already has a side border defined for this block. So we need to double-chec

[2019-02-12 17:52] laurelfulford commented on #492
@crunnells I don't think so -- only the contact inputs were changes to `option`s, but the style packs are still stored as `theme_mod`s.

We have had some weirdness around style packs that stems from the order different customizations are applied -- and the confusion over what is coming from a style pack, and what is coming from the custom colours. There are a couple other issues logged here: https

[2019-02-12 18:00] #284 closed

[2019-02-12 18:04] laurelfulford commented on #284
This has been committed to WP.com in r53364-wpcom-themes.

It looks like the original two ZD tickets have been closed, so I can't add comments there -- @lakellie and @sanjeev00733, can you each please follow up with your respective users?

The fix is to resize the post height after page load with JavaScript. Due to the nature of the issue and that that height can't be calculated until after everyt