[2021-02-03 18:17] lakellie opened #3170 "Eris: "All" link on project type archive pages not working as expected on Atomic sites"
## Steps to replicate

1. Add portfolio projects with project types
2. Navigate to the archive page for one of those project types, like `domain.com/project-type/example`
3. Click on the "All" link at the top as shown here: https://d.pr/i/2LrzBK

## Result

You are taken to one specific portfolio project (which seems to be random, based on which project type page you are coming from)

## Expected

[2021-02-03 21:01] kjellr commented on #3167
Oh right! I forgot about that link:

![Screen Shot 2021-02-03 at 4 00 27 PM](https://user-images.githubusercontent.com/1202812/106808858-f33d1380-6638-11eb-9ae8-672037259361.png)

Makes sense, especially since both users on .com and .org have edit links available in other UI.

[2021-02-03 21:23] tbradsha opened #3171 "Resonar: featured/sticky posts do not show at top of posts page"
## Steps to replicate

1. Set the homepage to show latest posts.
2. Make a post sticky.

## Result

The post does not show anywhere:

![image](https://user-images.githubusercontent.com/32492176/106801708-50c46680-661f-11eb-86de-c879aef940a0.png)

## Expected

The theme should show the sticky post at the top of the theme in a "featured" format, like this "First Sunday Cooking" post:

![image](https

[2021-02-03 22:15] edequalsawesome opened #3174 "Dyad 2: WooCommerce Cart and Checkout Pages Display Incorrectly on Mobile Displays"
## Steps to replicate

* Activate Dyad 2 on a site that has WooCommerce active
* Add products to your cart on a mobile device
* View the Cart and Checkout pages

## Result

The styling of the Cart and Checkout pages is incorrect, making the elements appear poorly:

![Dyad 2 - WooCommerce Cart Bug - Before](https://user-images.githubusercontent.com/4000628/106816060-cee63480-6642-11eb-9a5e-549ded7e

[2021-02-03 23:24] JessBoctor commented on #2910
If you don't want to install the "Enable jQuery Migrate Helper" plugin, you can also use custom CSS to set the height for the featured images. This will make all of the featured images the same height though, unless you customize it per page/post

[code]

[2021-02-04 01:41] donalirl commented on #2360
This came up just now on the Bromptom theme in #27494766-hc. Using ?clear-colors-cache made the correct colors appear on the site.

[2021-02-04 01:52] Columbo199X commented on #3168
Hello I'm the user mentioned in the OP. I now went through all sites and posts and fixed the Cover Blocks. Everythings looking fine again except that the repeat background option doesn't work.

[2021-02-04 02:21] alaczek opened #3175 "Photo Blocks: Rethink the header block template part structure"
I've been experimenting with Photo Blocks theme, and I noticed a couple issues:
* the slightly over-complicated structure of the header. It basically has two nested Columns blocks, which could probably be replaced with single Columns block.

This is how the header looks like in the Site Editor. Site Logo in empty state is overlapping with the Site Title:
![image](https://user-images.githubusercont

[2021-02-04 03:16] annacmc commented on #2910
Another report of this issue (HC-26517993) CSS workaround above fixed it in the meantime.

[2021-02-04 04:17] retnonindya commented on #3171
Another report: 27443457-hc -- follow up: 3710853-zen

Feature image is missing from every single post and page on the website.

[2021-02-04 06:13] hacchism opened #3176 "Fortune: Custom font size option missing from the Paragraph Block and Heading Block"
## Steps to replicate

1. Activate **Fortune** theme
2. Add a new page or post and add Paragraph Block or Heading Block. In the block settings, click on **Typography** in the block setting.

## Result

The font size menu lists the Default, Small, Medium, Large, and Huge options but does not list the Custom option at the bottom of the list.

![Screen Shot on 2021-02-04 at 15:11:09](https://user-ima

[2021-02-04 06:33] hacchism opened #3177 "Fortune: Font Size can't be changed in Paragraph/Heading Block when Gutenberg plugin is disabled"
## Steps to replicate

1. Activate Fortune theme on Atomic site
2. Make sure to check if Gutenberg plugin is disabled
3. Add a new post or page and add a Paragraph or Heading Block
4. Go to the block setting on the right and click on "Typography" tab
5. Try changing font size from "Font size" option

## Result

Font size doesn't change:

https://user-images.githubusercontent.com/32432463/106853571

[2021-02-04 08:06] fresatomica commented on #2910
Another report here: https://wordpress.com/forums/topic/resonar-featured-images-not-working/.

[2021-02-04 08:45] openfist commented on #2831
#3710131-zen problem with menu still persists

site - janeldasmusic.com

[2021-02-04 09:49] jordesign opened #3178 "Update various themes to make sure Image Captions from Classic Editor/Block and Image Block display consistently"
As it  turns out -  the markup for image captions from Classic Editor and Classic Block (<code>&lt;p class="wp-caption-text"></code>) is different from the Image Block (<code>&lt;figcaption></code>).</p>

This markup difference affects a <em>lot</em> of our themes meaning user's image captions will be displaying inconsistently in their site. Not a big deal - but not the best experience.

It would

[2021-02-04 11:06] #3166 closed, assigned to nobody

[2021-02-04 11:13] scruffian commented on #3154
Yeah this is a bit annoying. The problem is that if we don't show this option until the user enables the header in Content Options then they will need to reload the customizer to see this option too. We added a note about it to the Customizer:

<img width="389" alt="Screenshot 2021-02-04 at 11 11 46" src="https://user-images.githubusercontent.com/275961/106884877-c8ef6280-66d9-11eb-8cfe-5e8b0acff1

[2021-02-04 11:13] #3154 closed, assigned to nobody

[2021-02-04 11:14] scruffian commented on #3165
I can't replicate this. I wonder if it was fixed by https://github.com/Automattic/themes/pull/3173. Please let me know if you can still see it.

[2021-02-04 11:14] #3165 closed, assigned to nobody

[2021-02-04 11:32] MaggieCabrera commented on #3127
Adding here my own experience with Alves:

Editor | Frontend
--- | ---
<img width="823" alt="Screenshot 2021-02-04 at 12 31 12" src="https://user-images.githubusercontent.com/3593343/106887093-f5f54280-66e4-11eb-9c04-96bf16f9af8f.png"> | <img width="808" alt="Screenshot 2021-02-04 at 12 31 16" src="https://user-images.githubusercontent.com/3593343/106887086-f55cac00-66e4-11eb-91d1-2d51f43f25c4.png

[2021-02-04 11:33] scruffian commented on #3127
Looks like it might be an editor styles issue

[2021-02-04 11:55] pauljacobson opened #3179 "Seedlet: English language links on the site despite site and dashboard language set to French"
A customer asked why their site still contains English link text even though they have set their site's language and WordPress.com dashboard language preferences to French?

## Steps to replicate

I confirmed the site's language settings in both WordPress.com, and in WP Admin. Despite this, the site still uses English link text for some links. For example:

<img width="848" alt="Markup 2021-02-04

[2021-02-04 13:26] benchilcote commented on #3171
Another report: #2472781-hc | Follow up: 3711960-zen

[2021-02-04 16:04] ianstewart commented on #3167
I would add it in places like …

https://github.com/Automattic/themes/blob/34522db0dd3d61a5d00d412661e6ae23deec0a1a/blank-canvas/template-parts/content/content-singular.php#L46

… just below "the content".

I think it should be there for consistency on all posts and pages as users will expect it to be just below the content for quick-edits.

(I'd also like to see a better edit button on the front-

[2021-02-04 16:09] kathrynwp commented on #3167
I agree with Ian, could we please be consistent? No other themes on WP.com hide the front-end Edit link, and the parent theme, Seedlet, also doesn't hide the Edit link. When we tested this theme in our team hangout, it was super disconcerting not to have the link. I don't think we should be forcing users to figure out where an alternative link can be found when every other theme has a front-end Ed

[2021-02-04 16:14] ianstewart commented on #3167
It's my understanding most users skip/miss this button.

[2021-02-04 16:35] kathrynwp commented on #3167
Also noting that:

The action bar shown [in this screenshot](https://github.com/Automattic/themes/issues/3167#issuecomment-772819907) is **not** present on Atomic sites, nor is the Edit link in the admin bar:
![Post_16_-_TRFIT_Supplmenentos_and_Slack_____Threads___A8C](https://user-images.githubusercontent.com/7662449/106924333-f8539e80-66dc-11eb-9bec-14cd491aada8.jpg)

The Edit link is already pr

[2021-02-04 16:38] jffng commented on #2548
This would not be solved by the color annotations refactor.

The bug has to do with the fact that the background color preset styles also have a font color selection associated with them, resulting in a higher specificity than the selection:

https://github.com/Automattic/themes/blob/trunk/mayland/style.css#L2521-L2525

[2021-02-04 16:50] edequalsawesome commented on #3165
Yep, looks like that fixed it -- thanks, @scruffian!

[2021-02-04 16:58] scruffian commented on #1763
Should be fixed by #3181

[2021-02-04 17:25] tbradsha opened #3183 "Gateway: Featured images aren't showing on single posts"
## Steps to replicate

1. Create a post with a featured image.
2. Ensure `Display on blog and archives` is enabled in *Design → Customize → Content Options*.

## Result

The featured image on the single post page doesn't load.

## Expected

The featured image on the single post page should load. Possibly similar to #3171, in which featured images aren't showing on single post pages in the Resonar

[2021-02-04 17:47] msilbers commented on #2910
reported in 3829474-hc
provided the CSS workaround for now

[2021-02-04 17:54] kjellr commented on #3167
Oh wow, thanks for the heads up, @kathrynwp. I wish we were consistent about this! 😭

[2021-02-04 18:51] melek commented on #2539
Once again the customer contacted us. The issue is still identical - The site color is correct in the Customizer and the live site, but in the Post editor the default colors are displayed, annoying the user. 27512113-hc.

If this is a caching issue, I would think it is server side - in private windows my first time working with this customer, I'm unable to get a correct editor color.

User is even

[2021-02-04 18:51] pbking commented on #2895
I tried hard but I've been unable to reproduce this (or #3156) using any of the steps provided.  Colors for social icons appear as expected in every scenario I could think to test Mayland in: Customiser, Post Editor, View... all appears as expected with backgrounds (and every other color adjusted) both with pre-defined palettes and custom colors.

![image](https://user-images.githubusercontent.com

[2021-02-04 20:20] ianstewart opened #3186 "Colour Scheme issues with Mayland Theme"
There appears to be some Editor Colour Scheme issues with Cover Blocks and the Mayland Theme.

![image](https://user-images.githubusercontent.com/545779/106950403-f812cd80-66f3-11eb-8848-1a8f578a4156.png)

I'll update the issue as I try and narrow down exactly what's happening. :)

[2021-02-04 20:23] ahmadbaig1 opened #3187 "Seedlet: Global theme colours overriding Group block gradient colours."
## Steps to replicate

Create a group block and select the background settings to be gradient.
Try to change the selected colour of the first style which is a diagonally divided rectangle.

There's no way to select a custom colour for these gradient styles-
<img width="331" alt="Screenshot at Feb 05 01-52-24" src="https://user-images.githubusercontent.com/40609190/106950747-da298500-6754-11eb-941b

[2021-02-04 20:49] ianstewart commented on #3186
The custom colour here doesn't appear to be loading correctly.

![image](https://user-images.githubusercontent.com/545779/106953635-36aa8700-66f8-11eb-88c1-5ebefc91057a.png)

[2021-02-04 20:51] ianstewart commented on #3186
I'm able to update the colour in the editor and get the desired custom colour to appear — but when I reload the post the custom colour will no longer load.

The front-end is not affected.

[2021-02-04 21:36] p-jackson commented on #3186
I'm temporarily hiding the Brice design here Automattic/wp-calypso#49728, so that new users don't get a broken experience for the time being.

[2021-02-04 22:51] arcangelini commented on #2634
This unfortunately is the nature of `the_excerpt()`. This function [displays the excerpt of the current post after applying several filters](https://developer.wordpress.org/reference/functions/the_excerpt/), one of those filters removes HTML tags such as links which would include the more-link `<a>`.

As for the discrepancy between `index.php` and `archive.php` this appears to be by design. The in

[2021-02-04 23:55] mjchamplin commented on #2910
@maniu your js fix worked for me, thanks.

Here's hoping they push out an update soon!

[2021-02-05 00:06] mjchamplin commented on #2910
Seems like it would be fairly easy to update `functions.js` to fix this issue and do a PR, but I don't see the theme in this repository. Is it no longer supported, or just no longer open source?

[2021-02-05 00:16] alaczek commented on #2895
@pbking you can see this issue live on https://balanstarter.wordpress.com/ and https://knappstarter.wordpress.com/

[2021-02-05 07:49] tarunvijwani commented on #2454
Another one reported on 13968364- HC.

Suggested them to use wide-width alignment as a workaround

[2021-02-05 09:44] MaggieCabrera commented on #2328
I believe there's two problems going on here:

* ~~The editor color palette issue: Some of the Varia children themes don't have dynamic colors on the editor color palette (they will always show the default colors no matter what we have selected on the customizer). An example of this is Stow, on the other hand Alves does have the dynamic implementation.~~ Disregard that, those themes with static ed

[2021-02-05 10:15] WunderBart commented on #3187
Looks like this gradient’s dark color is based on the current `--global--color-secondary` CSS variable. The green (#3C8067) color that you see is set by the Seedlet theme, which I suppose is the active theme in this issue. Here's where the color is set: https://github.com/Automattic/themes/blob/trunk/seedlet/classes/class-seedlet-custom-colors.php#L27.

[2021-02-05 10:43] #2568 closed

[2021-02-05 10:44] #2866 closed, assigned to pbking

[2021-02-05 10:49] scruffian commented on #3150
Fixed by https://github.com/Automattic/themes/pull/3185

[2021-02-05 10:49] #3150 closed, assigned to scruffian

[2021-02-05 10:50] scruffian commented on #2844
Fixed by #3185

[2021-02-05 10:50] #2844 closed, assigned to scruffian

[2021-02-05 10:51] scruffian commented on #2548
Fixed by #3185

[2021-02-05 10:51] #2548 closed

[2021-02-05 10:51] scruffian commented on #1763
Fixed by #3185

[2021-02-05 10:51] #1763 closed

[2021-02-05 10:51] philnick206 opened #3190 "Ovation: Cover block background not showing in Editor"
## Steps to replicate

1. Add a Cover block to a page and set a background image
2. Publish page
3. Close Editor and go back to Pages list
4. Reopen page to edit again

## Result

Cover block shows as blank white space/without background image

<img width="1343" alt="Markup 2021-02-05 at 10 49 52" src="https://user-images.githubusercontent.com/51966986/107024457-fbfc2980-679f-11eb-8a1f-93f2a70d1e6

[2021-02-05 12:18] danieldudzic commented on #2910
This has now been fixed in r57711.

[2021-02-05 12:18] #2910 closed, assigned to nobody

[2021-02-05 13:38] rickmgithub opened #3194 "Luxury theme crops dropdown menu"
## Steps to replicate

URL: https://awakenstartups.com/
Theme:  Luxiry

* On the main menu if you click the Freebies menu item, the drop down menu show cropped off the screen
* It does this on Chrome, Firefox and Safari.
* It happens when the word Freebies wraps to the side (position 1) it cuts in half like this - https://d.pr/i/TNcgsX
When it's in position 2 it's fine.
* It does the same on a tes

[2021-02-05 13:47] rinazrina commented on #2360
Another one #3713890-zen
`?clear-colors-cache=1` worked

Theme: Mayland

[2021-02-05 14:15] #2330 closed

[2021-02-05 14:21] simison commented on #2971
@scruffian would there be any estimation on when this could be fixed? It's pretty longstanding bug that forced us to remove one of the designs from wpcom. You can replicate here: https://github.com/Automattic/wp-calypso/pull/49608

[2021-02-05 14:54] MaggieCabrera commented on #2327
I can't reproduce any of these. Hever didn't have color annotations enabled when this issue was reported and since then we've added them with the css variable approach (and maybe other fixes have affected this too).

[2021-02-05 16:19] jffng commented on #2895
Closed by #3189, but will ship with a bundle of updates next week.

[2021-02-05 16:19] #2895 closed, assigned to jffng

[2021-02-05 16:19] jffng commented on #3156
Closed by #3189, but will ship with a bundle of updates next week.

[2021-02-05 16:19] #3156 closed, assigned to nobody

[2021-02-05 16:38] scruffian commented on #2360
Ok, I really think this time it is solved (in D56574-code). Of course reopen if its still broken :)

[2021-02-05 16:38] #2360 closed

[2021-02-05 16:41] #2667 closed

[2021-02-05 16:42] #2832 closed, assigned to MaggieCabrera

[2021-02-05 16:46] scruffian commented on #2896
I think there are two issues here. One is that the colors aren't loading in the editor. I think that one is now fixed. The other is that the colors are bleeding into the editor. I am unable to reproduce this - @ianstewart can you still see it?

[2021-02-05 17:20] scruffian commented on #3146
There's a summary of some ideas here: pNEWy-dBv-p2

Lets close this for now and revisit in the furture.

[2021-02-05 17:20] #3146 closed, assigned to nobody

[2021-02-05 17:22] scruffian commented on #3038
Slight change of plan here - let's just add color annotations using CSS variables for the 5 varia themes that don't have them:

Rockfield, Shawburn, Stratford, Morden and Stow

[2021-02-05 18:41] arcangelini opened #3198 "Blank Canvas: CSS does not load during editing and viewing"
## Steps to replicate

I have noticed this from a few locations and it is often intermittent but recurring. The only place I can get it to consistently happen is in the Customizer by toggling the "Display Site Title" option. The CSS styling for the theme does not load at all it seems.

I was able to replicate this on multiple Simple sites with Blank Canvas and Seedlet, but not Spearhead.

1. Activ

[2021-02-05 18:53] ianstewart commented on #3190
This appears to be the issue described in https://github.com/WordPress/gutenberg/issues/28678 and should be fixed when Gutenberg 9.9 is on WP.com.

[2021-02-05 19:11] pbking commented on #3016
I tested this and the only portions of the Spearhead that I was unable to customize were the BACKGROUND color of Sticky Posts (and other elements referenced in #3105).  I opened #3199 to address that shortfall (#3105 addressed it for the .com color customizer, #3199 should address it for .org)

I evaluated the fix in both LIGHT and DARK mode.

All other aspects of Spearhead color customizations we

[2021-02-05 19:57] ianstewart commented on #2896
@scruffian I can no longer reproduce the colour-bleed in the editor UI. Closing.

[2021-02-05 19:57] #2896 closed, assigned to scruffian

[2021-02-05 20:25] jffng commented on #2976
I verified that the underlying cover block height issue was fixed in Gutenberg and now lives on dotcom. @andrewserong you should be able to reactivate Doyle.

Thanks!

[2021-02-05 20:25] #2976 closed, assigned to jffng

[2021-02-05 20:58] carladoria commented on #3143
@scruffian  can we get the link of where this was moved so HEs can follow progress and notify the user?

[2021-02-06 09:40] scruffian commented on #3143
HEs can't access the Trac that Premium shops use, sorry :(. We're hoping to move to a new system soon.

We will update here when the issue is resolved.

[2021-02-06 10:17] arcangelini commented on #3171
Fixed in r57711

https://github.com/Automattic/themes/issues/2910

[2021-02-06 10:17] #3171 closed, assigned to nobody

[2021-02-06 10:57] arcangelini commented on #2294
I think this may have been a Block related issue that has since been resolved with the "Read more text" option:

[![Screenshot](https://d.pr/i/tFi39y+)](https://d.pr/i/tFi39y)

[![Screenshot](https://d.pr/i/gTFxWF+)](https://d.pr/i/gTFxWF)

[2021-02-06 13:55] arcangelini opened #3201 "Button 2: Mobile menu stopped working when a page is set as static homepage"
## Summary
It looks like the latest update to 5.6 has broken the jQuery on the site. This is causing an error with the navigation js.

## Steps to replicate

1. Activate Button 2 theme
2. Setup primary menu
3. View site from a mobile device (dev console viewer does not replicate this, you need to use BrowserStack or actual mobile phone)
4. Try to open mobile menu.
5. View console

## Result

Nothi

[2021-02-06 18:50] ezebecke opened #3202 "Twenty Twenty-One: No global style option on Atomic Sites"
## Summary

Twenty Twenty-One has no option to change Global Styles. If we have changed the custom font while using a different block based theme, and now we want to change the font to the default theme font we need to change the theme, reset the font to default, and change our theme back to Twenty Twenty-One.

UPDATE: This issue is limited to Atomic Sites.

## Steps to replicate

1- Go to any pag

[2021-02-06 21:28] JoshuaGoode commented on #3148
Reviewed and this doesn't appear to be a bug.

The buttons are hidden behind a share label but the user has removed the text for the label.

![no_label](https://user-images.githubusercontent.com/4887830/107130076-4eb90c80-6898-11eb-84b6-f0c7ce469dec.png)

~This setting appears only accessible via `wp-admin/options-general.php?page=sharing` so might be good to expose that in Calypso.~

Correction,

[2021-02-06 21:31] JoshuaGoode commented on #3148
Also, since this hover feature is special for this theme, it might want to have default icon or option to appear there when no text is entered.

[2021-02-06 21:34] JoshuaGoode commented on #3148
Leaving this issue open for posterity, removing bug label, adding enhancement label to see if something can be adjusted.

[2021-02-07 06:20] goblinartificer opened #3203 "Varia/children: RTL sites have unaligned content aligned left by default"
## Steps to replicate

Hello! This seems to have come up in the last few days all of a sudden, specifically on WordPress.com (which doesn't seem to be using the style-rtl.css files).

1. Start a WordPress.com site with a Varia child theme and set the site language to a RTL language.
2. Add some paragraphs that are not explicitly aligned one way or the other, in any language.

## Result

These bloc

[2021-02-07 14:33] dcoleonline commented on #3194
As a workaround, I applied this CSS to the site for them:

[code]

So now it looks like this:
![image (1)](https://user-images.githubusercontent.com/3505172/107149595-101a6500-691f-11eb-9e1d-e4364da0ecb9.png)

[2021-02-07 20:42] jinnypark commented on #2941
Similar issue found here: #3714793-zd.
This user specified they _did not_ change the language settings, and the site was changed to LTR 4 days ago. Is there an update on this?

[2021-02-07 20:58] jerrysarcastic opened #3204 "Brompton: When set to RTL langauge, mobile menu is still LTR"
When a site using the Brompton theme is set to an RTL language, the desktop menu seems correct.  However when viewed on mobile the the menu displays items in LTR and not RTL as expected

## Steps to replicate

- set theme to RTL language (I tested Hebrew and Arabic) and set a menu to display
- view site on mobile and menu is still LTR

## Result

![Markup 2021-02-07 at 10 56 52](https://user-image

[2021-02-07 21:08] jerrysarcastic opened #3205 "Morden: Blog archive pages are LTR even if site language is set to an RTL language"
## Steps to replicate

- Set site to RTL language
- view any blog archive page (categories, tags, main blog feed) it displays in LTR even though the other elements on the page display (correctly) in RTL
-
## Result

![Markup 2021-02-07 at 11 05 30](https://user-images.githubusercontent.com/1967448/107159523-adcc5f00-6934-11eb-9281-5f8445c406e5.png)

## Expected

Expected all elements to be RTL

*

[2021-02-07 23:50] alaczek commented on #3140
Actually, it would be great to have this universally available in Seedlet and Varia, and added to new themes going forward.

[2021-02-08 02:59] katiebethbrown commented on #3203
Another report in 3717158-zd-woothemes
Theme: Redhill

[2021-02-08 03:18] andrewserong commented on #2976
Thanks @jffng I've opened a revert to reactivate Doyle in https://github.com/Automattic/wp-calypso/pull/49801

[2021-02-08 05:47] retnonindya commented on #3201
The ticket reopened, and I'm curious because I can't replicate the issue on the theme demo site.

I noticed two things:

- For some reason, the menu "Primary" is not assigned on "Header" area on Menu Locations. Not exactly "not assigned," it's assigned, but the checkbox under Menu Location is not clicked. It seems like a stuck (?) condition? 🤔
![image](https://cldup.com/FKWMCWrQVV.png)
*Direct lin

[2021-02-08 09:06] dolgelukkig commented on #2609
Here is another report #3719986-zen

![Markup on 2021-02-08 at 10:04:04](https://user-images.githubusercontent.com/5507879/107198284-3579a280-69f5-11eb-90c8-9c52cb911e59.png)

[2021-02-08 09:11] Nic-Sevic commented on #3203
Another issue here with Maywood
3713375-zen

[2021-02-08 12:24] solstudioim commented on #3187
The user came to chat again asking about the progress of this issue:

User report: 27591708-hc
Follow-up ticket: 3708657-zd

[2021-02-08 13:01] danieldudzic commented on #3085
Hi @annbingle

I'm struggling to reproduce the issue.

It works fine for me with Independent Publisher 2
<img width="1779" alt="independent_publisher_2" src="https://user-images.githubusercontent.com/905781/107222996-ee4fd980-6a15-11eb-8df5-4400771b3ac1.png">

Would you mind sharing the block code?

[2021-02-08 13:36] danieldudzic commented on #2175
This seems to be working fine now:

<img width="1071" alt="Twitch" src="https://user-images.githubusercontent.com/905781/107226734-c616a980-6a1a-11eb-99ef-d3c4beba5374.png">

I'm confused why the Embed block does not support Twitch, but that's a different conversation.

[2021-02-08 13:36] #2175 closed

[2021-02-08 15:33] simison commented on #2970
I'll grab this to Create focus from Theme team, I think it's best to harden the button styles in the banner against themes leaking to it.

[2021-02-08 16:38] jffng commented on #2328
Hi @davipontesblog — I was unable to reproduce this issue. Here are the steps I followed:

- Activated Balasana on a wpcom simple site
- Added a media and text block and a cover block that used background colors from the editor palette.
- Chose new custom colors via the Customizer.
- Refreshed the editor, the custom colors are reflected correctly in the palette and in the blocks.

Is this still an

[2021-02-08 16:43] jffng commented on #1255
Confirmed, Gutenberg allows users to customize the separator color, and I think it is best to avoid adding additional configuration options at the Varia level at this time.

[2021-02-08 16:43] #1255 closed

[2021-02-08 16:49] jffng commented on #2863
I believe this issue has been resolved, see: https://github.com/Automattic/wp-calypso/issues/48773#issuecomment-759732444

I have also tested on an atomic site and verified the labels appear when using a Varia theme.

[2021-02-08 16:49] #2863 closed, assigned to nobody

[2021-02-08 16:53] davipontesblog commented on #2328
Thanks for testing again @jffng ! It may be that now that https://github.com/Automattic/themes/issues/2360 is fixed and closed, this is now fixed as well. I am going to close this for now, we can reopen if more reports come in :)

[2021-02-08 16:53] #2328 closed

[2021-02-08 17:04] ctdealba commented on #3201
User has followed the steps given and the button is still not working.

User is now claiming that the top banner is now lost.

[2021-02-08 17:06] pbking commented on #2994
I was just poking around in #2994 (not enough to know what’s up really) but I noticed that “background” and “foreground” as {background} colors work as expected, however if I use “primary” or “secondary” as {background} those values do NOT work as expected.

[2021-02-08 17:07] pbking commented on #2994
The classes for "primary" and "secondary" aren't present in the view.
(And due to the known bug of the color/background-color ALWAYS being applied as a style all 4 colors work in the editor even without the necessary classes).

[2021-02-08 17:42] Addison-Stavlo commented on #2970
Fix for the launch banner button at D56656-code.

[2021-02-08 17:51] pbking commented on #3001
I wasn't able to reproduce this with the latest; I suspect it has been addressed due to other fixes.

The color picker was working as expected (complete with complimentary colors) and the menu was tracking changes to changing colors.

[2021-02-08 18:13] nerdysandy commented on #3143
Reported on #17400133-hc

[2021-02-08 18:45] mikeicode opened #3210 "Twotone: Form focus text color illegible with custom color palette"
The :focus state text color of form fields changes when you choose a custom color palette in the Customizer. In some cases it becomes very light, but in one case it's completely illegible because it's white text on a white background.

## Steps to replicate

* Add a form to a page
* Set the first custom color palette (image below)
* Type into form fields

## Result

The :focus color on form fields

[2021-02-08 18:53] pbking commented on #2862
Part of this seems to be fixed by https://github.com/Automattic/themes/pull/3209

[2021-02-08 19:09] mikeicode opened #3211 "Lodestar: Missing Wide & Full Width support for blocks"
Multiple blocks now have the option to use Wide or Full width (Cover blocks, Heading blocks, etc). Lodestar shows these options in the editor and they appear to correctly get wider but on the front end these settings don't work (the blocks are no wider than the default setting).

## Steps to replicate

* Add a Cover or Heading block to a page, set to Wide or Full width
* Compare the width in the e

[2021-02-08 20:11] kriskarkoski opened #3212 "Varia: Add Content Option for featured images on pages that defaults to off"
We recently fixed an issue (#3195) where featured images were not displayed on pages on sites using Varia and its child themes. This has caused existing sites to suddenly show featured images where they weren't before with the only options for hiding being CSS (requires the site be on a supported plan) or removing the image, which removes the ability to control the image shared on social media.

W

[2021-02-08 20:16] kjellr commented on #3212
I recommend we revise the approach used in #3195 to something similar to what we did in https://github.com/Automattic/themes/pull/2891, so that this setting is moved into a Content Options customizer setting, and is only active by default for new sites.

[2021-02-08 20:25] khristiansnyder commented on #3212
Ran into this twice today: #27600572-hc and #27583833-hc

Both Varia themes. Used CSS to help hide the featured image in both instances.

I think it would be awesome to use the same featured image options that we see in Twenty Twenty-One's content options:

![Content Options](https://user-images.githubusercontent.com/41035049/107276808-6adbbb80-6a08-11eb-8ac0-867fb2b496dd.png)

[2021-02-08 20:30] katiebethbrown commented on #3212
Another report: 27605013-hc

[2021-02-08 21:03] thesacredpath commented on #3212
Another report here: 27557151-hc / 3722706-zen . Gave the user a CSS solution to fix the issue.

[2021-02-08 22:04] Addison-Stavlo commented on #2970
Fix is live, so it should be back to normal now:

![Screen Shot 2021-02-08 at 4 58 54 PM](https://user-images.githubusercontent.com/28742426/107286729-f8ca9d00-6a2e-11eb-9f0f-4e84fa7ec20f.png)

Noting any styles that are not specifically defined for these buttons (like in this case `outline`) may bleed through from themes defining more global button css.  Most styles should be taken care of, but i

[2021-02-08 22:04] #2970 closed, assigned to Addison-Stavlo

[2021-02-08 23:21] hacchism commented on #3212
Another report: 27608715-hc

Provided the user with CSS solution.

[2021-02-08 23:31] vparkhere commented on #3212
Here too, with Stow theme: 27607962-hc
Provided CSS workaround.

[2021-02-08 23:57] supernovia commented on #3168
Thank you! I did notice if you explicitly set full width they should work. But, I can see it's also causing issues with our page templates, so it's still worth a look, IMO!

[2021-02-09 00:35] happychait commented on #3212
I got a customer in 24237572-hc

As a workaround, gave the custom CSS to hide the featured image on the home page.

[2021-02-09 00:43] hacchism commented on #3212
Another report: 27606652-hc
Provided the user with CSS solution.

[2021-02-09 00:48] alaczek opened #3213 "Spearhead: Add a toggle to disable automatic switching to dark mode"
We've run into some issues with our podcasting patterns and Spearhead running in dark mode. Basically, we have two starter designs [Gilbert](https://gilbertstarter.wordpress.com/) and [Riley](https://rileystarter.wordpress.com/), and they are designed with white (or at least light) background in mind. So when you preview them with dark mode on, they look quite broken. In theory, we could design a

[2021-02-09 00:48] retnonindya commented on #3201
Thank you for the updates, @ctdealba!

Missing top banner is due to "Display Site Title and Tagline" option is inactive. I have activated it from Customize and things should reappear now.

Now, about the mobile menu. After confirmed the issue persists even with everything assigned and saved properly, I cross-checked with my test site and I can replicate it when **static page is set as homepage.**

[2021-02-09 00:59] erricgunawan commented on #3212
25542820-hc with Exford theme.
Provided the CSS to hide the featured images.

[2021-02-09 01:01] alaczek opened #3214 "Seedlet: Launch site button has underline on hover"
It looks like link hover styles are bleeding to the "Launch site" button.

## Steps to replicate
1. Create a new site (don't launch just yet)
2. Activate Seedlet.
3. Go and preview the site. Hover over the "Launch site" button in the launch banner. Note the underline.

## Result

![image](https://user-images.githubusercontent.com/4550351/107300730-303c5680-6ace-11eb-9314-13f65555dbd0.png)

I found

[2021-02-09 01:28] alaczek opened #3215 "Spearhead: Headings font no applied to heading block"
I noticed that Spearhead does not apply heading font (as selected in global styles) to the heading block. In fact the only places where heading font seems to be applied is site title in the header and footer, and post date.

## Steps to replicate
1. On a site with Spearhead active, create a post or a page.
2. Add a title, a paragraph, and a heading block to the content.
3. Navigate to Global style

[2021-02-09 01:51] donalirl commented on #3212
Encountered on Stratford theme in #27586647-hc. Fixed with CSS.

Encountered on Mayland theme in #22061776-hc. No CSS possible.

[2021-02-09 02:01] noteeth commented on #3212
Came up with Maywood here #25298110-hc.  Fixed with CSS.

[2021-02-09 02:26] joweber123 commented on #3212
Fixed with CSS here - 26783591-hc

[2021-02-09 03:29] nagpai commented on #3212
Another issue - #22742011-hc

Suggested CSS.
cc @donalirl

[2021-02-09 06:07] kriskorn commented on #3212
25245270-hc

[2021-02-09 06:29] donalirl commented on #3212
#3713375-zen

[2021-02-09 07:42] nagpai commented on #3212
#27616204-hc

[2021-02-09 08:51] kspilarski opened #3216 "Hever: Cover image Color Overlay not Applied"
## Steps to replicate

1. Activate Hever theme
2. Add a Cover block to a page or post
3. Add color overlay in Cover block
4. Update / Publish
5. Compare page editor with the published page.

## Result

Color overlay set to the cover block is applied only in the editor, but not in the published page:

<img width="1575" alt="Screen Shot 2021-02-09 at 9 41 21 AM" src="https://user-images.githubuserco

[2021-02-09 09:00] felivix commented on #2174
We have exactly the same issue with the **HEVER** Theme. We are missing Hide Homepage Title on a self-hosted site.

Also Colors & Backgrounds is missing amongst the Customizing options.
![Colors](https://user-images.githubusercontent.com/47902312/107340131-b00df500-6abd-11eb-89b3-aed78d2fdbc7.jpg)
![Homepage](https://user-images.githubusercontent.com/47902312/107340134-b0a68b80-6abd-11eb-8fda-d721

[2021-02-09 10:04] carinapilar commented on #3212
Another one on 27607032-hc, fixed with CSS.

[2021-02-09 10:18] allanftd commented on #3203
Adding two more tickets with the same issue:
3721011-zen - Hebrew site (Twenty Twenty theme)
3714714-zen - Arabic site (Brompton theme)

[2021-02-09 10:29] poojashetty18 commented on #3204
Also reported on 3714714-zd

[2021-02-09 10:30] MaggieCabrera commented on #3001
I can't reproduce this either on simple or atomic sites. I'm going to close this, please feel free to reopen if you encounter this again.

[2021-02-09 10:31] poojashetty18 commented on #2941
Another report on #3721011-zen

[2021-02-09 11:15] Sandkorner commented on #3212
One from me as well:
27292158-HC
Gave some CSS to hide it as well.

[2021-02-09 11:35] nicelyj2 commented on #2941
#27620210-hc

[2021-02-09 12:16] scruffian commented on #3001
I can reproduce. Created a PR here: 22-gh-Automattic/custom-colors

[2021-02-09 12:19] scruffian commented on #3016
I think there's still more work needed here. When I load spearhead color settings they are still the Seedlet colors:

<img width="317" alt="Screenshot 2021-02-09 at 12 20 04" src="https://user-images.githubusercontent.com/275961/107362801-26682280-6ad1-11eb-949c-0ed080561986.png">

[2021-02-09 12:25] scruffian commented on #2925
I think this will be fixed. Please reopen if you see this issue again.

[2021-02-09 12:25] #2925 closed, assigned to nobody

[2021-02-09 12:26] scruffian commented on #2539
I think this will now be fixed. Please reopen if you still notice an issue.

[2021-02-09 12:30] scruffian commented on #3153
This should be fixed now. Please reopen if you're still seeing an issue.

[2021-02-09 12:34] scruffian commented on #3152
I think this now fixed. Please reopen if you still notice issues.

[2021-02-09 12:34] #3152 closed, assigned to nobody

[2021-02-09 12:53] mikeicode commented on #3212
This temporary solution should work to hide the featured image while avoiding featured images within Blog Post blocks that may be lower on the page:

[code]

[2021-02-09 13:11] jartes commented on #3212
Another one on 26653392-hc. Fixed with CSS as well.

[2021-02-09 13:12] thehenrybyrd commented on #3212
Another in #27406478-hc. Fixed with @mikeicode's CSS.

[2021-02-09 13:23] nickpagz commented on #3212
Another, used Mike's css to fix it...
#27279649-hc

[2021-02-09 14:10] ivan-ottinger commented on #3187
Just noting here the user came back, asking for an update.
Chat: 27623710-hc
Ticket: 3708657-zd-woothemes

[2021-02-09 14:28] aleone89 commented on #3212
This has also come up in the public forums here: https://wordpress.com/forums/topic/duplicate-main-image/
cc. @fresatomica

[2021-02-09 14:42] jartes commented on #3212
Another one in 27624510-hc. Adding the CSS from @mikeicode fixed it.

[2021-02-09 14:54] benchilcote commented on #3212
Another case: 27624369-hc
Added CSS for the user
Will follow up here: 3725431-zen

[2021-02-09 15:30] #3212 closed, assigned to scruffian

[2021-02-09 15:31] #2971 closed, assigned to nobody

[2021-02-09 15:31] #2994 closed, assigned to jffng

[2021-02-09 15:38] scruffian commented on #2604
I think this was recently fixed in Varia. Please reopen if you still see issues.

[2021-02-09 15:38] #2604 closed

[2021-02-09 15:42] ivan-ottinger commented on #3212
Another report in 17301748-hc. CSS fix helped.

[2021-02-09 15:49] dcoleonline opened #3222 "Intergalactic 2: Follow Blog Widget Color Problem in Footer"
## Steps to replicate
- Add the Follow Blog Widget to the footer
- Fill out the wiget form with an email address to receive the confirmation message on the screen

## Result

- The Contact Us text will be in a white font due to the theme's CSS, but it is on a white background

![image](https://user-images.githubusercontent.com/3505172/107388665-ae433200-6abb-11eb-83cf-96dfc95c31fd.png)

## Expecte

[2021-02-09 16:24] danieldudzic commented on #3203
@goblinartificer @katiebethbrown @Nic-Sevic Thank you for reporting this issue. There was an RTL bug with Gutenberg on WP.com. The fix has been deployed today, so please let me know if the issue persists.

[2021-02-09 16:24] #3203 closed, assigned to danieldudzic

[2021-02-09 16:31] danieldudzic commented on #3205
Hi @jerrysarcastic

Thank you for reporting this issue. There was an RTL bug with Gutenberg on WP.com. The fix has been deployed today, so please let me know if the issue persists.

[2021-02-09 16:31] #3205 closed, assigned to nobody

[2021-02-09 16:36] danieldudzic commented on #3204
Hi @jerrysarcastic @poojashetty18,

Thank you for reporting this issue. There was an RTL bug with Gutenberg on WP.com. The fix has been deployed today, so please let me know if the issue persists.

[2021-02-09 16:54] danieldudzic commented on #2941
Hi @Nic-Sevic @jinnypark @poojashetty18 @nicelyj2

Thank you for reporting this issue. There was an RTL bug with Gutenberg on WP.com. The fix has been deployed today, so please let me know if the issue persists.

[2021-02-09 16:54] #2941 closed, assigned to nobody

[2021-02-09 18:46] scruffian commented on #3127
I think is now fixed. Please reopen if you see more issues like this.

[2021-02-09 19:17] jffng commented on #2279
Hi @ianstewart — I believe this issue has been resolved via other block style improvements and fixes in Varia:

<img width="1904" alt="Screen Shot 2021-02-09 at 2 16 10 PM" src="https://user-images.githubusercontent.com/5375500/107415475-69ca8d00-6ae1-11eb-91ac-b7365bcb785c.png">

Please re-open if I'm mistaken, and we can look into any specific issues that are still there.

[2021-02-09 19:17] #2279 closed

[2021-02-09 19:34] jffng commented on #2942
Tested and confirmed this is closed by 22-gh-Automattic/custom-colors

[2021-02-09 19:34] #2942 closed, assigned to jffng

[2021-02-09 20:49] AtrumGeost commented on #286
Adding report from HC:

pbEMJv-ti-p2

[2021-02-09 20:50] benchilcote commented on #2048
There is another report of this here: 3726283-zen

[2021-02-09 21:05] AtrumGeost opened #3227 "Lovecraft: Header/menu is cropped on mobile when hiding the Site Title and Tagline"
## Steps to replicate

1. Inside the customizer leave the Site Title and Tagline empty or uncheck the "Display Site Title and Tagline" option
2. Visit the site on mobile

## Result

The header/menu section is cropped:

![Screen Shot 2021-02-09 at 16 03 36](https://user-images.githubusercontent.com/3696121/107428277-67236400-6af0-11eb-981f-0c726da3369a.png)

![Screen Shot 2021-02-09 at 16 03 26](ht

[2021-02-09 22:06] AtrumGeost opened #3229 "Author is not displayed inside the Blog Posts block"
## Steps to replicate

1. Add the Blog Posts block to a page
2. Be sure that the Blog Posts block is set to "Show Author"

![Screen Shot on 2021-02-09 at 17:03:40](https://user-images.githubusercontent.com/3696121/107434447-cd13e980-6af8-11eb-955f-a3c4eb2fbe38.png)

## Result

Notice the author is missing from the posts:

![Screen Shot on 2021-02-09 at 17:04:50](https://user-images.githubuserconte

[2021-02-10 00:09] supernovia opened #3230 "Chronicle: PayPal widget card icons get cut off"
## Steps to replicate
- Use this theme
- Add a Pay with Paypal Widget to a sidebar: https://wordpress.com/support/pay-with-paypal/#pay-with-pay-pal-widget

## Result
Card icons on the widget are cut off
![Screen Shot 2021-02-09 at 4 59 42 PM](https://user-images.githubusercontent.com/3476361/107444670-3b0be100-6af8-11eb-9cb2-15c406bc8cde.png)

## Expected
Don't restrict the iframe width that much.

[2021-02-10 01:59] alaczek opened #3231 "Mayland: Color palette in the editor looks broken"
The theme color palette swatches in the editor are all the same.

## Steps to replicate
1. On a site with Mayland theme active, create a post or a page.
2. Add a block with color options, for example, Buttons, Paragraph, or Group.
3. Look at the color settings panel in the sidebar. Note all the color swatches are the same (black).

![image](https://user-images.githubusercontent.com/4550351/1074536

[2021-02-10 08:15] scruffian commented on #1910
Closing in favour of https://github.com/Automattic/themes/issues/3038

[2021-02-10 08:15] #1910 closed

[2021-02-10 09:09] jwktje commented on #1294
Is there any update on this by any chance? Again, I'd love to help out and write a patch. My client is waiting on this fix

[2021-02-10 09:39] MaggieCabrera opened #3232 "Varia / Hever: Button color discrepancies between editor and frontend"
## Steps to replicate

Initially reported [here](https://github.com/Automattic/themes/pull/3223#issuecomment-776111311).

Create a copy of this post (pcrugM-jc-p2) as a reference on your test site.
Compare the contents of the editor and the frontend.

## Result

![107403577-4567b400-6ad3-11eb-83de-c8248a3e6fdb](https://user-images.githubusercontent.com/3593343/107491744-dd28d900-6b8b-11eb-80ce-491

[2021-02-10 12:31] scruffian commented on #2505
This seems to be fixed on the test site you linked. Feel free to reopen this if you can still see issues.

[2021-02-10 12:31] #2505 closed

[2021-02-10 12:59] benchilcote commented on #2048
We came up with a CSS workaround for this.  This requires that the setting in Customize > Featured Content "Do not display tag in post details and tag clouds." is unchecked.

Here is the code for when the featured tag is 'featured'.  If the featured tag is set to something else, the `.tag-featured` will need adjusted.

[code]

[2021-02-10 13:13] carinapilar commented on #2753
Got a user with this issue on 25897298-hc - when using the _"Heading and Three Images"_ pattern. It seemed to be an issue with the Group block, to help the user I removed the blocks inside the Group.

This is how it shows in the editor:

![PatternInEditor](https://user-images.githubusercontent.com/16104522/107514433-6b02c500-6b88-11eb-8d91-6c38c7c67388.png)

And how it shows on the site:

![Patter

[2021-02-10 13:20] danieldudzic commented on #3085
Please re-open the issue if the problem persists.

[2021-02-10 13:20] #3085 closed, assigned to danieldudzic

[2021-02-10 13:27] scruffian commented on #2327
Looks like this can be closed. Feel free to reopen if you notice more issues.

[2021-02-10 14:43] kjellr opened #3234 "Varia: Allow self-hosted sites to hide the site title."
As noted in https://github.com/Automattic/themes/issues/2174#issuecomment-775779517, Varia only allows the site title to be hidden on WordPress.com. This seems arbitrary, so we should consider moving that function and style rule into the main `customizer.php` file instead.

[2021-02-10 14:43] kjellr commented on #2174
@felivix The colors functionality currently relies on infrastructure that's specific to WordPress.com, but hiding the page title is something that could definitely be made available outside of WordPress.com. I've opened an issue here to track that: https://github.com/Automattic/themes/issues/3234

[2021-02-10 14:45] mikeicode opened #3235 "Blank Canvas: Option to set a site background image"
There have been a couple requests to set a background image on the site, perhaps this is a feature to consider.

Something like this CSS (using the same boxed layout as Morden) could be used as a temporary solution:

[code]

![https://d.pr/i/RHszre](https://d.pr/i/RHszre+)

## Reference

One of the requests: 27339343-hc

[2021-02-10 15:00] Thelmachido commented on #3187
Also, just noting that the user came back asking for an update today as well
Chat: 27646507-hc
Ticket: 3708657-zd-woothemes

[2021-02-10 15:05] jffng commented on #2690
Here's what I discovered in my testing using Balasana.

The editor styles are correctly reflecting the color palette selection, as well as the front-end and preview:

<img width="1266" alt="Screen Shot 2021-02-10 at 9 53 21 AM" src="https://user-images.githubusercontent.com/5375500/107526655-12322d00-6b86-11eb-9f20-b7535201b5ac.png">

<img width="1259" alt="Screen Shot 2021-02-10 at 9 59 50 AM" sr

[2021-02-10 15:05] #2690 closed

[2021-02-10 15:07] scruffian commented on #2862
Thanks for reporting. I agree that this is confusing. It's a legacy feature of how these color annotations were set up. The same issue in on other Varia themes too. Changing this is quite a lot of work whichever way we do it, and it will mean making changes to users current sites which they will probably not thank us for.

My suggestion is that we leave things as they are, but make sure that thing

[2021-02-10 15:07] #2862 closed, assigned to pbking

[2021-02-10 15:26] danieldudzic commented on #2780
This seems to be working fine now:

![varia](https://user-images.githubusercontent.com/905781/107530980-adde9000-6bbc-11eb-8a31-63d218c42055.png)

![spearhead](https://user-images.githubusercontent.com/905781/107530999-b20aad80-6bbc-11eb-880e-ecbf98b83dfd.png)

![Maywood](https://user-images.githubusercontent.com/905781/107531006-b46d0780-6bbc-11eb-90d6-ecb65953aa38.png)

[2021-02-10 15:26] #2780 closed, assigned to danieldudzic

[2021-02-10 15:28] scruffian commented on #2599
I think this has been fixed. Please reopen if you see it again.

[2021-02-10 15:28] #2599 closed

[2021-02-10 15:36] scruffian commented on #3231
This is what I see:
<img width="314" alt="Screenshot 2021-02-10 at 15 34 23" src="https://user-images.githubusercontent.com/275961/107532158-80daaf00-6bb5-11eb-8a7d-0eb2b0b2b048.png">

When you change the colors in the customizer then you get more options. What site do you see the above on?

I'm going to close this as a I can't replicate this, but feel free to reopen if its still an issue.

[2021-02-10 16:08] scruffian commented on #3186
I think this is a Gutenberg on WordPress.com issue.

[2021-02-10 16:22] scruffian commented on #3216
This seems to have been a wordpress.com bug that is now fixed. Please reopen if it continues to be a problem.

[2021-02-10 16:22] #3216 closed, assigned to nobody

[2021-02-10 17:03] WunderBart commented on #3186
I'm unable to replicate this. I can set the custom color for the background of the Cover block (Brice SPT on Mayland theme), save, reload the page, and it's still there as expected. I can see that the background color on your [screenshot](https://user-images.githubusercontent.com/545779/106950403-f812cd80-66f3-11eb-8848-1a8f578a4156.png) is black despite the block settings panel indicating differe

[2021-02-10 17:09] ianstewart commented on #3186
I can no longer reproduce it — either. So no console errors to report. I think we can close this out. Perhaps related to Gutenberg updates over the past two weeks as suggested by @scruffian. cc @p-jackson.

[2021-02-10 17:33] pbking commented on #3187
Unfortunately this appears to be a limitation of the Gutenberg Gradient picker as there is no way to assign [gradient stop points](https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient()#composition_of_a_linear_gradient) in the control.

As with ANY gradient assignment, as soon as a user begins making customizations the gradient value is calculated based on the controls (and the pre-def

[2021-02-10 17:37] #3186 closed, assigned to nobody

[2021-02-10 17:41] scruffian commented on #3234
Just noting that these themes aren't on .org, so this is probably a low priority.

[2021-02-10 18:35] danieldudzic commented on #3169
Hi @aaronrobertshaw

Do you think, this issue might be related to: https://github.com/Automattic/jetpack/pull/16802 ?

[2021-02-10 20:53] AtrumGeost commented on #2788
Sharing HC Report: pbEMJv-x1-p2

[2021-02-10 23:35] wpshellbelle opened #3238 "Rowling: product subcategories do not show on category pages"
## Steps to replicate

When using WooCommerce with the theme Rowling, subcategories do not show on product category pages as expected.

1. Activate the theme Rowling
2. Add subcategories to a category in WooCommerce
3. Go to My Site → Design → Customize → WooCommerce → Product Catalog → Select "Show subcategories & products" or "show subcategories" under **Category display**

## Result

Products a

[2021-02-11 00:25] alaczek commented on #3231
This is the site, and it has no color customizations: https://hannahstarter.wordpress.com

I would say your screenshot looks broken as well because I expected each swatch to be a different color. If the default color scheme is black and white, could we have just those two color swatches instead of the four we have now?

[2021-02-11 01:11] alaczek opened #3239 "Spearhead: Find a way to re-create posts page (homepage) in the editor."
In Spearhead the homepage (as presented on the [demo site](https://spearheaddemo.wordpress.com/)) is actually a posts page, so it's automatically generated from blog posts, not created in the editor. We're looking at including Spearhead in signup flow, but we need the homepage to be editable in Gutenberg, because that's where customers are dropped at the end of signup. While it's mostly doable usi

[2021-02-11 01:35] p-jackson commented on #3186
@ianstewart is there a maintenance task to re-enable Brice? Or is @Automattic/view-engineering re-enabling?

[2021-02-11 02:01] aaronrobertshaw commented on #3169
Hi @danieldudzic, this looks to be the same issue, just for the Newspack carousel instead of the Jetpack slideshow block.

From memory, in an update swiper changed the way it displayed the prev/next controls. The quick fix applied in the linked PR removes the pseudo elements content essentially doing the same thing as the custom CSS in the customizer for the https://twintransit.org/ site.

[2021-02-11 05:06] alaczek commented on #3231
There's also weirdness when you click on any of the color swatches, where they all get selected:

![dM44wd7bcZ](https://user-images.githubusercontent.com/4550351/107604078-f3fe2700-6c82-11eb-95ab-c8bd6842d299.gif)

[2021-02-11 09:15] scruffian commented on #3169
cc @Automattic/newspack

[2021-02-11 09:22] simison commented on #3186
@p-jackson @ianstewart PR: https://github.com/Automattic/wp-calypso/pull/49985

[2021-02-11 10:20] Nic-Sevic opened #3240 "Exford: link colors changed automatically"
## Steps to replicate

- User reports that their font colors changed sitewide without them changing anything. The text that changed was all linked and reflecting the link color in the customizer.
- When try to manually change individual link colors in page editor, change is not reflected.

<img width="1107" alt="1" src="https://user-images.githubusercontent.com/47717887/108841789-fcd6ed00-75e0-11e

[2021-02-11 11:50] zdenys commented on #1742
I can reproduce in Chrome too:

![](https://d.pr/i/4fdAW8+)
_Link: https://d.pr/i/4fdAW8_

This was reported by the user in 20036159-hc (3731229-zen).

[2021-02-11 11:57] danieldudzic commented on #1302
This seems to be working fine now:
<img width="1275" alt="iframe" src="https://user-images.githubusercontent.com/905781/107633658-affe2880-6c68-11eb-9d29-264d388ec4a6.png">

[2021-02-11 11:57] #1302 closed

[2021-02-11 12:30] danieldudzic commented on #2004
This seems to be working fine now.

<img width="1559" alt="editor" src="https://user-images.githubusercontent.com/905781/107636664-416f9980-6c6d-11eb-88cd-30304a1f81d9.png">
<img width="1302" alt="front" src="https://user-images.githubusercontent.com/905781/107636673-43d1f380-6c6d-11eb-9b77-7f724bb8edb6.png">

[2021-02-11 12:30] #2004 closed

[2021-02-11 12:40] scruffian commented on #3187
This is technically possible but it's very fiddly:
<img width="1206" alt="Screenshot 2021-02-11 at 12 38 32" src="https://user-images.githubusercontent.com/275961/107637535-2b120f80-6c66-11eb-9069-d0b9e5ba4c9b.png">

Ideally users should be able to edit the colors in Gutenberg rather than starting from scratch. There is a Gutenberg issue for that here: https://github.com/WordPress/gutenberg/issues

[2021-02-11 12:40] #3187 closed, assigned to pbking

[2021-02-11 13:56] liviopv commented on #3240
I don't think that this is happening only on Exford.

I got a slightly different result on Alves, but one where the custom color added in the editor is still not applied:

![Screenshot](https://d.pr/i/0rNM7F+)
Screenshot: https://d.pr/i/0rNM7F

In this case, it seems to be pulling the user-agent link color.

It does the same thing on Seedlet, even when I set a custom link color in the editor:

![S

[2021-02-11 14:10] MaggieCabrera commented on #3231
This only happens to me if I never select a palette from the customizer and go with the default colors, as soon as I pick one and save, the editor palette works correctly.

[2021-02-11 14:12] mikeicode opened #3242 "Stow: Links not visible on primary background color"
Links on top of Group blocks are not visible if the Group block has the primary background color set.

The Stow homepage has a Group block at the bottom of the page with a list. The text within aren’t links:

![https://d.pr/i/Xp56pH](https://d.pr/i/Xp56pH+)

If you link this text it’s not visible until you hover over it:

![https://d.pr/i/PNs2k8](https://d.pr/i/PNs2k8+)

The link below the list “M

[2021-02-11 15:33] mreishus commented on #3213
Beyond the preview, any site created using Gilbert or Riley is illegible when browsing from a browser that follows the `@media (prefers-color-scheme: dark) {` rules.

[2021-02-11 15:55] pbking commented on #3240
The HC seems to suggest that a user customized Exford to color the font links individually.  However, I understood that none of the Varia-based themes were able to do that. (#2566 is open to support that, however because of how some themes work I don't believe that ALL Varia child themes will make that available, Exford likely one that will not).

@liviopv you also seem to suggest the same for Alv

[2021-02-11 17:02] scruffian commented on #3242
@MaggieCabrera this would be good to test on https://github.com/Automattic/themes/pull/3241

[2021-02-11 17:08] simison commented on #3161
@ianstewart @ollierozdarz @kjellr would it be possible to ship at least some of these to all customers? I think they're great and design picker grid is lacking this kind of simple designs.

[2021-02-11 17:09] scruffian opened #3243 "Seedlet: Experimental link color isn't working correctly."
In Seedlet when you select a link color from the palette, it doesn't work:

<img width="1186" alt="Screenshot 2021-02-11 at 17 00 57" src="https://user-images.githubusercontent.com/275961/107671595-e8fbc480-6c8b-11eb-88df-b8a58b0ba605.png">

[2021-02-11 17:15] scruffian commented on #3240
I think there are several different issues colliding here. I don't think this is connected to the `experimental-link-color` feature in Gutenberg, since this has never been available in Varia themes. I think the only way to customize link colors in Exford, Alves and other Varia themes is to use the custom colors in the customizer.

In this user's case I'm not sure why their colors changed, but it m

[2021-02-11 17:15] #3240 closed, assigned to nobody

[2021-02-11 18:08] scruffian commented on #3231
@alaczek how can I create my own site using the Hannah starter template?

[2021-02-11 20:51] mikeicode opened #3245 "Venture: Vimeo video height issues"
Vimeo videos added to a Vimeo block not set to "Resize for smaller devices" results in extra whitespace, the iframe is too tall.

Related, Vimeo video added by the default embed method are also too tall.

## Steps to replicate

* Add Vimeo videos blocks and unselect "Resize for smaller devices":

![https://d.pr/i/t2KIm9](https://d.pr/i/t2KIm9+)

* Or add the videos like this:

![https://d.pr/i/R65

[2021-02-11 22:56] alaczek commented on #3231
It's not in signup flow just yet, but you could go to the source site and copy the whole homepage content and paste on your site. But the content of that site is not relevant to the issue AFAIK. Just create a new site using Mayand design in signup, and you should be able to see it. The key seems to be that it has to be a new site, or at least one where Customizer color settings haven't been touche

[2021-02-11 23:59] danieldudzic commented on #2836
This has been now addressed by:

- https://github.com/Automattic/themes/pull/3195
- https://github.com/Automattic/themes/pull/3220

[2021-02-11 23:59] #2836 closed, assigned to nobody

[2021-02-12 00:21] danieldudzic commented on #2755
This seems to be working fine now.

![Contact_–_This_is_a_site_title_super_long](https://user-images.githubusercontent.com/905781/107715936-94c70380-6cd0-11eb-8143-b33f4868a631.png)

[2021-02-12 00:35] jamiepalatnik opened #3246 "Stratford: Long submenu titles get cut off on the left when a menu has many items"
## Steps to replicate

1) Activate Stratford on a site with enough menu items that the menu appears on more than one line
2) Add a submenu to one of the menu items that appears near the left side of the screen
3) Hover over the submenu

## Result

Part of the menu item gets cut off on the left.

Screenshot:

![image](https://user-images.githubusercontent.com/30788962/107716793-6a088b00-6c8f-11eb-8

[2021-02-12 01:16] scosgro opened #3247 "Veni: Green color set via !important with no way to change it"
## Steps to replicate

There is a green color applied almost everywhere on Veni that cannot be changed, and it's set using !important CSS. If that green doesn't work for a user's site/color palette, a very large chunk of CSS using !important is required to override it.

It's not a very user friendly setting.

To view it, activate Veni, and add something like a Blog Posts Block, with "Show "Load mo

[2021-02-12 01:54] alaczek opened #3248 "Mayland: Separator block not stretching full-width"
Currently there's no way to insert a horizontal line (via the separator block) that stretches full-width of the site, or container block. The separator block has three styles: Default (a 96px wide line), Wide Line (a 750px wide on screens 1024px wide and up), and Dots.  Additionally, the block has alignment settings: centre, wide width, and full width. Those settings currently have no effect - the

[2021-02-12 03:20] katiebethbrown opened #3249 "SOHO: Featured images will not load on Atomic Sites"
## Steps to replicate

Create a new page, and add a featured image.

## Result

No image is displayed, and there is a jQuery error in the console

[code]

![image](https://user-images.githubusercontent.com/42279181/107726532-7c41f380-6ca6-11eb-8761-0ee0da7becd0.png)

I tested and the issue does not occur on simple sites, though I can replicate on Atomic sites, even with all plugins deactivated.

I

[2021-02-12 03:46] kristarella opened #3250 "Varia + children: Links and Outline Buttons same color as primary background"
## Steps to replicate

1. Varia or a child theme active
2. In post or page, add a block with background color set to primary color (e.g. cover, group, or media & text block)
2. Inside block add a regular link, or a button with outline (otherwise default colors)

## Result

The link and button are invisible because they are also showing the primary color.

Screenshot with Barnsbury:

![barnsbury-bu

[2021-02-12 08:02] scruffian commented on #3231
I created scruffianmayland.wordpress.com using the /new flow and I don't see it there. What flow are you using?

[2021-02-12 08:04] scruffian commented on #3038
Still todo: Stratford, Shawburn and Morden

[2021-02-12 08:06] scruffian commented on #3250
May be fixed by #3236

[2021-02-12 08:32] alaczek commented on #3231
I just created a new site starting at https://wordpress.com/new?ref=calypso-selector
I picked Mayland in the signup, and the color palette on this fresh site does look different, but still, I'm seeing 3 swatches of black in there:
![image](https://user-images.githubusercontent.com/4550351/107745698-cc818a00-6d68-11eb-850b-c4f010840a41.png)

While on this site: https://onepagetest391584497.wordpres

[2021-02-12 11:44] MaggieCabrera commented on #3242
Like @kjellr [said](https://github.com/Automattic/themes/pull/3241#issuecomment-777453669), this is already an issue with the default palette, we should fix it separately but have in mind the color annotations too, yes

[2021-02-12 11:50] MaggieCabrera commented on #3239
Hi @alaczek. What you are seeing on the demo site is [a sticky post](https://wordpress.org/support/article/sticky-posts/). I don't know much about the signup flow process, but what Spearhead is doing is it's adding the `sticky` class to the article and the `has-sticky-post` class to the body to achieve this.

[2021-02-12 13:51] danieldudzic commented on #2294
@arcangelini the setting does allow to overwrite the default 'buggy' behavior, but the issue should be fixed nevertheless.

I have reported it now, in the Gutenberg repo: https://github.com/WordPress/gutenberg/issues/28969

[2021-02-12 13:51] #2294 closed

[2021-02-12 16:35] ersatzpenguin opened #3255 "Colinear: Option to Hide Featured Images on Single Posts Also Hides Featured Images in Blog Posts Block Added to Posts"
## Steps to replicate

1. Activate Colinear, and set up a few posts with featured images.
2. Add a blog posts block to one of your posts set to display featured images.
3. Turn off the "Display on single posts" option in the **Featured Images** section of the Content Options in Customizer.
4. Try to see the featured image in your blog posts block on the post you added it to.

## Result

Pulled fro

[2021-02-12 17:42] rachelwinspear opened #3257 "Hever: AMP Standard view missing 'Post Comment' button when logged out"
## Steps to replicate

I have tested on Hever, Alves and Balasana with Business plan (Atomic site)

1. Set site to AMP > Standard View
2. Go to mobile view when logged out of WordPress.com
3. Try to add a comment to a blog post, the 'Post Comment' button and the checkboxes are missing

![Screenshot](https://d.pr/i/zKVgFt+)
*If you are unable to see this image, please click [here](https://d.pr/i/zK

[2021-02-12 18:45] carinapilar commented on #3250
Got one today on 3732807-zd-woothemes with Barnsbury too. I have white as the background color in the Customizer, and setting a Buttons block with a white background doesn't work:

![Screen Shot 2021-02-12 at 15 44 04](https://user-images.githubusercontent.com/16104522/107808945-283c1b00-6d49-11eb-83cb-e8d76976b1f2.png)

Editor shows white background and green letters, but the site shows the above

[2021-02-12 19:05] benchilcote opened #3258 "Twenty Seventeen: Menu code exposed to Google and displayed in search results"
## Steps to replicate

- Find an existing WordPress.com website built on the Twenty Seventeen theme
- The website must have sub menu items
- Search for the website in Google and view search engine results

## Result

Google displays elements that should not be displayed including:
- Expand child menu
- Collapse child menu

## Expected

I would expect these elements to not be indexed and displayed

[2021-02-12 20:53] pbking opened #3259 "Make Spearhead 'Disable Dark Mode' available on .org"
Continue efforts of #3244 to allow 'Dark Mode' to be disabled when using the .org color customizer.

[2021-02-12 22:32] scruffian commented on #2566
This isn't simple. However the current experience is already pretty broken when you select a color palette. This is Alves...

Editor:
<img width="382" alt="Screenshot 2021-02-12 at 22 30 55" src="https://user-images.githubusercontent.com/275961/107829668-20e53380-6d82-11eb-9e5a-558e648c9565.png">

Frontend:
<img width="334" alt="Screenshot 2021-02-12 at 22 30 46" src="https://user-images.githubuse

[2021-02-13 11:01] davoraltman commented on #3201
I had a similar case in 27645172-hc for the AT site https://eleonmonastery.com/. After disabling the Page Optimize plugin, the menu worked when checking on a mobile device.

I then tested this on my test AT site and I couldn't replicate (with and without a static homepage) with the Page Optimize plugin active.

[2021-02-14 05:25] hacchism opened #3262 "Ixion: No borders around cells in Table Block"
## Steps to replicate

1. Activate "Ixion" theme
2. Open a page or post
3. Add Table Block and set up a table(regardless of the number of Column and Row)
4. Choose **Default** in **Styles**
5. Preview the page or post

## Result

The table created doesn't have borders around cells:

<img width="763" alt="Screen Shot 2021-02-14 at 14 23 01" src="https://user-images.githubusercontent.com/32432463/10

[2021-02-15 00:51] alaczek opened #3263 "Multiple themes: Social icons background color not working"
Core recently introduced [color options for Social Icons block](https://github.com/WordPress/gutenberg/issues/21605), but they don't seem to be working in a few themes I tested.

## Steps to replicate
1. On a site with Blank Canvas active, create a post or a page.
2. Add social icons block and a few links.
3. Go to Social icons block settings and select any color for the background (I tried both f

[2021-02-15 02:02] NoHopeRadio opened #3264 "WooCommerce Order Overview - Awkward Layout in Mobile View"
## Steps to replicate

Complete an order on a site running WooCommerce and a Varia child theme, then view the confirmation page in mobile view.

## Result

The columns are vertical, making the fields awkward and difficult to read.

See: https://d.pr/i/rST9mM

## Expected

The table should have horizontal rows. I believe this could be achieved with one line of code in the CSS stylesheet around line

[2021-02-15 02:14] kathrynwp commented on #3250
Ran into this issue today with Morden, in chat 27743107-hc

![8_Steps_to_Making_Redundancies_–_186hr](https://user-images.githubusercontent.com/7662449/107898343-7ef05300-6f09-11eb-9c54-f939cd4021f5.jpg)

I provided this custom CSS as a workaround to make the links visible again:

[code]

[2021-02-15 02:38] alaczek commented on #3161
Sure thing! We'll go over those with @ianstewart and I'll get on adding them to the pattern site.

[2021-02-15 04:35] swoodipto opened #3265 "Argent: Blog Posts Block category alignment issue in Grid view"
## Steps to replicate

1. Apply Argent theme
2. Create a new post with a featured image
3. Add a Blog Posts Block
4. Set view to Grid, enable Featured Image
5. Enable "Show category"

| **Result**  | **Expected** |
| ------------- | ------------- |
| Squeezes the category to the right of featured image: | Should display category below the featured image: |
| ![Markup on 2021-02-15 at 09:58:33](htt

[2021-02-15 07:53] poojashetty18 opened #3266 "Cubic: Extra <p> is added when using HTML code in the Classic block"
## Steps to replicate

1. Add a Classic block and select `Edit as HTML`
2. User shared the below code they tried:

[code]

## Result

Adds an additional space after the image

![Annotation on 2021-02-15 at 13-21-58](https://user-images.githubusercontent.com/44837596/107919126-d4237780-6f90-11eb-90c9-da951af94b9b.png)

## Expected

No spaces should be present. I could also recreate this on my test

[2021-02-15 12:01] Robertght commented on #3143
I landed on one of the tickets linked here.

@scruffian Is there any update on this one? If not, should we keep the issue close and monitor here until we get an answer? Thanks!

**LE: The user in #3697422-zen can see the projects in the backend but not in the frontend. I tested this on my end and the proejcts showed up without a problem, but the issue remains on their site.**

[2021-02-15 12:35] danieldudzic commented on #3113
This seems to be a bug in the Actionbar. I have now reported the issue: https://github.com/Automattic/actionbar/issues/1

[2021-02-15 12:35] #3113 closed, assigned to danieldudzic

[2021-02-15 13:32] scruffian commented on #3143
Update from the theme shop:

[2021-02-15 13:38] azollafox commented on #1639
Another report 3741535-zen

[2021-02-15 14:46] JoshuaGoode opened #3269 "Morden: New Content Options for Featured Images not working, not displaying Featured Image"
Displaying Featured Images, and a related Content Options control, was added to Varia themes via https://github.com/Automattic/themes/pull/3195

However, it appears that this is not working as expected on Morden. No Featured Image appears when this new option is enabled.

## Steps to replicate

1. Activate Morden
2. Activate `Show the featured image on pages` under Customize > Content Options
3. C

[2021-02-15 14:59] danieldudzic commented on #2741
Hi @sourourn,

I'm struggling to reproduce the problem:

![can_t_reproduce](https://user-images.githubusercontent.com/905781/107961702-8e71a980-6fa6-11eb-88bf-b75e01519a46.png)

Would you mind checking, if it persists? If it does, feel free to re-open this issue.

[2021-02-15 14:59] #2741 closed

[2021-02-15 15:14] azollafox commented on #1639
Another report 3739131-zen

[2021-02-15 15:56] susanjanec opened #3270 "Ovation: Carousel Block doesn't show other images in carousel on mobile"
## Steps to replicate

1. On an Atomic site, add a Carousel block to a page and add some images
2. Set the page to the Front Page via Customizer

## Result

On mobile, only one image shows and doesn't provide the option to scroll to see the other images added.

## Expected

The images on mobile show as set within the block settings with the option to scroll to see the other images added

* User re

[2021-02-15 16:05] #3231 closed, assigned to pbking

[2021-02-15 16:06] #3213 closed, assigned to pbking

[2021-02-15 16:06] #3232 closed, assigned to scruffian

[2021-02-15 16:10] #3016 closed, assigned to nobody

[2021-02-15 16:10] scruffian commented on #3038
Done!

[2021-02-15 16:10] #3038 closed, assigned to MaggieCabrera

[2021-02-15 16:41] supernovia opened #3273 "Shawburn: Color problems in page template previews"
## Steps to replicate
- Activate Shawburn with a normal color scheme
- Go to https://wordpress.com/page to add a new page

## Result
- Note the previews on the left have no contrast between background and text
- Click one to open on the right and it'll work fine
![Screen Shot 2021-02-12 at 3 11 35 PM](https://user-images.githubusercontent.com/3476361/107972933-cca0a600-6f71-11eb-9003-7a67acd51b4d.

[2021-02-15 16:44] pbking commented on #3243
Fixed in #3271 and refactored for Gutenberg 9.9 in #3274

[2021-02-15 17:34] vajrasar commented on #3069
I'm sorry @danieldudzic I missed the ping on this one. IIRC when the user was setting the Featured Image on the Page (set as HomePage) using TwentyEleven themes - the already assigned header image used to hide.

Testing this on my own installation I find that if a header image is already assigned, and then if I go ahead with a featured image on the page (set as homepage) - the featured image repla

[2021-02-15 17:59] tavilla61 opened #3276 "Blank Canvas Theme - comments enabled but not working"
## Steps to replicate

- Checked all comment related settings under Settings > Discussion, nothing should be preventing comments on the site
- Screenshot of user's Discussion settings: https://d.pr/i/fB0se6
- Allow Comments is checked on their post (post is published)
- Site is currently set to Private, but the user made it Public while we were testing and it still didn't allow comments.

[Please

[2021-02-15 20:17] supernovia opened #3277 "Lovecraft: No "Continue Reading" button after excerpts"
## Steps to replicate
- Activate Lovecraft with front page set to latest posts
- Write a post. Add a custom excerpt and more text.
![Screen Shot 2021-02-15 at 1 14 26 PM](https://user-images.githubusercontent.com/3476361/107989617-e224c880-6f8f-11eb-9209-8f1eb0eb1afb.png)

## Result
When I publish, the front page shows the excerpt but no "Continue Reading" option.   If I do not include a custom ex

[2021-02-15 20:21] supernovia opened #3278 "Lovecraft: Manual "Read More" is ignored by theme"
In trying to find a workaround for [this issue](https://github.com/Automattic/themes/issues/3277), I found another:

## Steps to replicate
- Activate Lovecraft
- Publish a new post with a little bit of text and a "Read More" link, followed by more text

![Screen Shot 2021-02-15 at 1 20 27 PM](https://user-images.githubusercontent.com/3476361/107989962-a3434280-6f90-11eb-9aad-16d870472e84.png)

##

[2021-02-15 20:52] Addison-Stavlo commented on #1816
Testing now this **seems** to be fixed.  I cannot get the grid to flow off the screen no matter how i set it up or select it.

Will close, but please feel free to test as well and re-open if there is still an issue.

[2021-02-15 20:52] #1816 closed

[2021-02-15 20:53] kjellr commented on #3276
@tavilla61 in order to retain its blank slate by default, Blank Canvas requires users to opt-in to comments via the "Enable Comments" checkbox in `Customizer > Content Options`.

![wordpress com_customize_kjellreigstad wordpress com_](https://user-images.githubusercontent.com/1202812/107992103-fa9fdd80-6fa5-11eb-8306-0f82edd1ab20.png)

https://wordpress.com/theme/blank-canvas#expand

[2021-02-15 20:59] kspilarski opened #3279 "Baskerville 2: Read More: Missing / Incorrect Location"
## Steps to replicate

- Activate Baskerville 2 and set Homepage settings to latest posts.
- (Create 3 posts to compare): In Post 1 editor, add texts and insert More block. Then after More block, add texts.
- In Post 2 editor, add texts and insert More block. Then after More block, add texts, and add an excerpt.
- In Post 3 editor, add texts and insert More block. Then after More block, add image

[2021-02-15 21:24] kjellr opened #3280 "Multiple Themes: Editor font styles not loading in Gutenberg v9.9.3"
## Steps to replicate

Many of our older themes target a classname that doesn't appear to exist anymore in the editor, which results in their font styles not being applied. Here's an example from AltoFocus:

https://github.com/Automattic/themes/blob/3fa9d68c06fb4d174aebe58f58952061839efbb2/altofocus/assets/stylesheets/editor-blocks.css#L22-L28

This targets `editor-block-list__block`, which no lon

[2021-02-15 23:05] alaczek opened #3281 "Mayland: Social icons have square background"
Social icons have a square background in the editor only, affecting all block styles.

## Steps to replicate
1. On a site with Mayland active, create a post or a page.
2. Add social icons block, and add a few icons.
3. Note the black, rounded background for each icon.
![image](https://user-images.githubusercontent.com/4550351/108000517-3f775300-703e-11eb-9418-8ebb4f3d3ad1.png)
4. Take a look at th

[2021-02-15 23:29] alaczek commented on #3239
We can add a CSS class `sticky` to the first block on the homepage, but no way to manipulate body classes. Sticky posts is somewhat obscure functionality, and we don't want customers coming through the Anchor signup flow to have to figure this out to set up the site. Ideally, we want them to be able to set up the homepage without leaving the editor.

[2021-02-16 01:02] alaczek commented on #3161
When will those be available on .com (I mean in the theme)?

Edit: NVM, I see they are under a separate category "Link in bio", not under "Blank Canvas" (which is slightly confusing because they do come from Blank Canvas theme).

I might be overthinking this, but if we ever create a "Link in bio" category for our stand-alone patterns, would that cause conflict with a pattern category registered by

[2021-02-16 03:39] alaczek opened #3282 "Blank Canvas: Issues with the Split Screen pattern"
The Split Screen block pattern included in Blank Canvas has a thin grey border around the cover block. This is visible in the inserter, and once the pattern is selected in the editor, but not in the preview. I also tried switching to a different theme (Mayland) after I created a page with this pattern, and the border was still there in the editor.

## Steps to replicate
1. On a site with Blank Can

[2021-02-16 14:01] kjellr commented on #3161
We plan to spin these patterns out into their own separate "Link in Bio" theme in the showcase, so that's why they're separated out for now. It'll be essentially a duplicate of Blank Canvas, but with one of those patterns defined as the homepage by default so that users can easily see it and switch to it.

I haven't tested this, but I _think_ they'll just be merged into the same category (If they

[2021-02-16 14:03] simison commented on #3161
Does it have to be a separate theme, or should it be just same theme surfaced twice, with different template?

[2021-02-16 14:11] kjellr commented on #3282
I noticed this too — I think it's a Gutenberg UI issue, since I can reproduce in other themes:

1. Add a Cover block
2. Give it a white background (or another very-light color)
3. Notice the gray outline around it in the editor.

 @jasmussen or @jameskoster are you aware of any new efforts to add UI borders around bocks? I'm not sure if this is intentional or not.

[2021-02-16 14:17] kjellr commented on #3161
TBD — @jeffikus and team are sorting out the solution.

[2021-02-16 15:29] ianstewart commented on #3161
— Ola

— Kjell

+1 to this. cc @andrewserong. We should expect themes to be able to register any number of categories that may or may not duplicate any number of categories with our WPcom patterns. So our patterns toolkit should be able to adapt to that. And, in the editor, perhaps merge these categories. I think I might expect theme patterns with the same category name to appear as if they're pre

[2021-02-16 17:05] katiebethbrown commented on #2073
Another report 3743644-zd-woothemes

[2021-02-16 18:09] MaggieCabrera opened #3286 "Mayland Blocks: Add Navigation Links Block"
Add Post Navigation Links block to the theme's single pages once this issue in Gutenberg has been addressed: https://github.com/WordPress/gutenberg/issues/29032

[2021-02-16 20:57] sourourn commented on #2741
Yes it appears to be fixed on my end as well. 👍

[2021-02-16 21:49] tbradsha opened #3288 "Maisha: issues with second panel on mobile"
## Steps to replicate

1. Set a page to be used as the second panel on the homepage.
2. Edit that page, and add a Heading block with a background **AND** a large custom font size (e.g. `50px`).
3. View homepage on a small screen.

## Result
Viewing the panel page directly works fine, but when included on the homepage, there are some padding/overflow issues.

![image](https://user-images.githubuser

[2021-02-16 23:07] yukikatayama opened #3749 "Varia theme (and child themes): product titles issue with All Products block"
Reported on 27795731-hc. Created Follow up ticket at 3746098-zen

### Steps to reproduce the behavior

1.  Install Varia theme and WooCommerce
2. Create 4-5 products
3. On a new page, add `All Products` block to list all products created
4. Change the layout settings > columns to more than 3
5. On front end, notice that the product title size doe not change. Even with more columns added, it does n

[2021-02-16 23:57] alaczek commented on #3213
Do you have any idea when this will be deployed to .com?

[2021-02-17 07:32] kosiew opened #3289 "Twenty Twenty One: Pinterest icon not showing"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

This was fixed in [PR 681](https://github.com/Automattic/themes/pull/681) but I just encountered another case for https://www.pinterest.es/mariadejuan1

![Screenshot](https://d.pr/i/qJMHQu+)
*if image does not load, please click on this link  : https://d.pr/i/qJMHQu*

[2021-02-17 08:23] kylemcph commented on #3276
Hi @kjellr! I can confirm that both on the user's site, as well as my test site, comments still do not appear even when the Enable comments box is checked.

Are you able to repo as well, or do you see comments displayed on pages?

[2021-02-17 08:41] kdevnel opened #3290 "Venture: Full Width block creating horizontal scrollbars"
## Steps to replicate

With Venture active on a simple or atomic site, ensure there are no widgets in the sidebar so you get the full-width layout. Create a page and you can choose any page template including the default template.

Add a block such as a cover block and set its alignment to full width.

## Result

When you view the published page it will have a horizontal scrollbar:

![Markup on 20

[2021-02-17 13:49] pbking commented on #3213
I believe it has already been deployed to .com @alaczek
I see it there now.

[2021-02-17 14:28] jameskoster commented on #3282
I can't think of anything we've changed that would cause this. Any changes we've made to block outline treatments have been restricted to the Site Editor anyway, and I notice this is happening in the post editor as well.

It's a strange one, the "style" seems to be applied to `img.wp-block-cover__image-background`... when I remove that element the phantom border also vanishes. But I can't see wher

[2021-02-17 14:42] ivan-ottinger opened #3291 "Twenty Seventeen: Buttons block colors don't apply properly in front-end (seems to affect black and white only)"
## Steps to replicate

1. Make sure the _Twenty Seventeen_ theme is activated.
2. Add Buttons block to a page.
3. Set the text color to black and background color to white.
4. Review the page in the front-end.

![Markup on 2021-02-17 at 15:36:33](https://user-images.githubusercontent.com/25105483/108219721-471a2300-7136-11eb-8733-640957ad55bd.png)

## Result

The set colors are ignored in the fron

[2021-02-17 15:54] kjellr commented on #3282
Cool, thanks. I've opened https://github.com/WordPress/gutenberg/issues/29082 to track this issue, and will close this bug in the meantime.

[2021-02-17 15:54] #3282 closed, assigned to nobody

[2021-02-17 16:28] Thelmachido opened #3292 "Theme Traveler is showing it's default colors in the editor"
## Steps to replicate

- Visit lalehchini.com
- Open any page as if you want to edit it, quick link - https://wordpress.com/page/lalehchini.com/2
- The page will have a `Black Background` with a `Blue` text
- On the front, the page has a `Greyish background` with `Blue` text

## In Editor

![Screenshot on 2021-02-17 at 15_55_23](https://user-images.githubusercontent.com/41231764/108233840-d3374500

[2021-02-17 17:26] ianstewart commented on #3239
@MaggieCabrera the signup flow is a bit of red herring. What we're looking to make possible is the ability to set up a homepage of a Spearhead-site using just gutenberg. So that someone wouldn't need to have their homepage …

1. List only blog posts
2. And have one post set up as a sticky post

… in order to make their homepage look like the demo.

Basically, some way to *also* get a grey header o

[2021-02-17 18:21] scosgro opened #3293 "Olsen: Posts getting lost on Category pages."
## Steps to replicate

Can be replicated on the theme demo, so from there, looking at the Fashion Category:

https://olsenthemedemo.wordpress.com/category/fashion/
https://olsenthemedemo.wordpress.com/wp-admin/edit.php?category_name=fashion

Go to Settings - Reading, and set the Blog Pages Show At Most option to 3 posts, and save your changes.

https://olsenthemedemo.wordpress.com/wp-admin/options

[2021-02-17 19:47] jamiepalatnik opened #3294 "Ixion: Cover block overlay not applied"
## Steps to replicate

1. Add Cover block with overlay
2. Check editor view of page vs. published page.

## Result

The image appears without an overlay: https://d.pr/i/KxmVXM

## Expected

I would expect to see the overlay, matching the appearance in the editor: https://d.pr/i/NfWGCb

* User report: 27725007-hc

[2021-02-17 19:53] xpurichan commented on #3280
Experienced this in the Veni theme on a customer's website in 27820699-hc. I wanted to note that this issue is present in the customizer (not only in the block editor).

We can even see some oddities when we go to edit the Veni theme demo site in the customizer (not the different fonts used for the "featured pages" description texts:
![Screen Shot 2021-02-17 at 2 50 59 PM](https://user-images.gith

[2021-02-18 00:15] donalirl commented on #3280
This may be affecting WordPress.com/support as well. In the editor, we noticed the font now shows in a serif font, when it used to be sans-serif.

[2021-02-18 01:11] donalirl opened #3297 "Spearhead, Seedlet, Blank Canvas: Add Global Styles Tag to Themes in the Theme Showcase"
Themes using Global Styles are missing from the theme showcase filter:

https://wordpress.com/themes/filter/global-styles

The themes are Spearhead, Seedlet, and Blank Canvas.

[2021-02-18 01:16] alaczek commented on #3213
Where is that? :) I'm looking in Customizer > Colors & Background and no toggle there.

[2021-02-18 02:09] pbking commented on #3213
Do you see the "dark mode" comment at all?  That is what changed to a check box.
If you don't see either then likely you have made modifications to the colors via the customizer and the control will not show (and dark mode should be effectively disabled anyway).  Return all color selections to default via the [ Default ] button.  You may need to Save and reload the Customizer for the control to ap

[2021-02-18 02:59] alaczek commented on #3213
I had the default colors on the site, but I still had to select "Default", Save, and refresh to see the setting. It's working now.

I also just created a new site using Spearhead, to be sure I didn't touch the color settings, and the toggle is still not visible.

[2021-02-18 04:54] worldomonation opened #3298 "Aperitive: add menu item page refreshes on its own upon load"
## Steps to replicate

1. create a new site.
2. go to My Site > Customize > Themes.
3. apply the Aperitive theme.
4. return to My Site.
5. go to My Site > Site > Food Menus.
6. click on `Add Menu Item`.
7. in the `Add Menu Item` page, wait a few seconds.

## Result

Page refreshes on its own.

## Expected

Page says put.

https://user-images.githubusercontent.com/6549265/108307120-57e08e00-7162-11

[2021-02-18 05:56] retnonindya commented on #3280
A user reached out on chat about this too on theme **Button 2**. They are curious why the font size on editor suddenly got smaller.

[2021-02-18 07:32] pauljacobson opened #3299 "Intergalactic 2: Image captions are left aligned in published posts, but centered in the editor"
Image captions are left aligned in Preview or published versions of posts where they should be centered as represented in the editor.

## Steps to replicate

### In the editor

<img width="825" alt="Markup 2021-02-18 at 09 28 13" src="https://user-images.githubusercontent.com/2912202/108320762-e9381a80-71cb-11eb-905b-a6c74ff9c54d.png">

### Published post

<img width="756" alt="Markup 2021-02-18 a

[2021-02-18 07:42] pauljacobson commented on #3299
On what may be a related issue, our customer also pointed out that the editor view doesn't use the same dark mode that the theme does.

[2021-02-18 08:19] fresatomica commented on #3280
There are a few reports on the WordPress.com forums: [here](https://wordpress.com/forums/topic/font-in-editor-suddenly-got-smaller/), and [here](https://wordpress.com/forums/topic/how-to-change-font-displayed-in-copy-editor/).

[2021-02-18 08:54] fresatomica opened #3300 "Mayland: Long Tagline won't jump into the next line on small screens"
## Steps to replicate

1. Add a long tagline.
<img width="470" alt="Screen Shot on 2021-02-18 at 09-47-30" src="https://user-images.githubusercontent.com/40177971/108330964-8b590200-71ce-11eb-8f86-47fd74b597e3.png">
2. Check the site on a mobile device (Android, iPhone, you can even observe it changing device on desktop).

## Result

Instead of creating two lines of text on small screens, it wraps

[2021-02-18 10:39] vinnykaur opened #3302 "Dalston: Background color doesn't change in Media and Text block"
## Steps to replicate

 Unable to change the background color of the media & text block on Dalston theme.

I was able to replicate it with the same theme but not on other themes.

## Result

When the background color for a media & text block is changed, it's not reflected on the live site and appears to remain black.

Screen Record: https://d.pr/v/9MSke4
Test page: http://my658.food.blog/about/

#

[2021-02-18 10:59] fstath commented on #2454
I got another report.
https://wordpress.com/forums/topic/why-are-my-embedded-youtube-videos-not-shown-properly/

[2021-02-18 11:04] carinapilar opened #3303 "Inconsistency on Translations"
I noticed that some options in the Customizer aren't being translated on some themes, while on others it shows translated.

Here's an example for PT-BR, on Site Identity on Seedlet:

![TranslationsSeedletCustomizer1](https://user-images.githubusercontent.com/16104522/108347593-72952000-71bf-11eb-8838-de495f82d75e.png)

The _"Display Site Title & Tagline"_ option shows translated on Twenty Twenty-O

[2021-02-18 11:32] Nic-Sevic opened #3304 "Scratchpad: RTL alignment inconsistent"
## Steps to replicate

1. Create site and set to RTL language
2. Apply Scratchpad theme
3. Create new post and start any block with text (paragraph, table, etc)
4. See that the default alignment is LTR not RTL

* also happens with Twenty Twenty One  and button2 themes; Maybe it's a core issue instead?

## Result
- User is having to manually change alignment to RTL to get to show properly in editor

[2021-02-18 12:54] scruffian opened #3306 "Canard: Button is invisible until hover"
## Steps to replicate

Buttons in Canard aren't visible until hover:

<img width="907" alt="Screenshot 2021-02-18 at 12 52 48" src="https://user-images.githubusercontent.com/275961/108359794-56f23f80-71e8-11eb-9b27-57596e547f76.png">

<img width="914" alt="Screenshot 2021-02-18 at 12 52 43" src="https://user-images.githubusercontent.com/275961/108359805-59ed3000-71e8-11eb-9397-b765fe33ab69.png">

[2021-02-18 13:40] kjellr commented on #3161
It looks like the **Jetpack Subscribe + Links** pattern may be unblocked now. I'll take a look at implementing that soon.

_Edit: The fix in the linked issue still needs to be deployed to WP.com — will try again next week._

[2021-02-18 14:47] #2526 closed

[2021-02-18 15:09] dcoleonline commented on #3222
I added this CSS to the customer's site as a workaround for now:

[code]

[2021-02-18 15:25] georgestephanis commented on #3134
Also noting here that for overriding the colors in a child theme, I did so like so:

[code]

[2021-02-18 15:59] danieldudzic commented on #3183
Hi @tbradsha,

Gateway does not support displaying the Featured Image on the post itself.

If you want to show the image in the post, you should add the Image again to the content of the post, as a regular image.

[2021-02-18 15:59] #3183 closed, assigned to danieldudzic

[2021-02-18 16:11] mikeicode commented on #2154
Reported (Illustratr): 27843924-hc

[2021-02-18 16:26] mikeicode commented on #3201
Another on a Simple site: 26941292-hc

One possible temporary solution is to hide the mobile toggle with CSS:

[code]

Then you can add a menu widget to the footer widget area. Not ideal, but worth suggesting.

Also there is another issue for this here:

https://github.com/Automattic/themes/issues/2831

[2021-02-18 17:04] carinapilar commented on #772
Another report on 26941292-hc

[2021-02-18 17:30] AtrumGeost opened #3311 "Improvement: Option to Hide the Archive Title Prefix on Category Pages"
## What

Users tend to ask for a way to hide the Archive Title Prefix on Category Pages. Here are a couple of examples:

- https://redhillthemedemo.wordpress.com/category/mindfulness/
- https://independentpublisher2demo.wordpress.com/category/artwork/

![Screen Shot on 2021-02-18 at 12:23:42](https://user-images.githubusercontent.com/3696121/108395782-27413880-71e4-11eb-8bf0-50d7c37268c0.png)

##

[2021-02-18 17:55] tbradsha commented on #3183
Ah, it looks like I misunderstood the feature. Thanks!

[2021-02-18 18:51] pbking opened #3312 "Show "Disable Dark Mode" when palette has never been modified."
## Steps to replicate
See: https://github.com/Automattic/themes/issues/3213#issuecomment-781008574

With the recent change in #3213 there is a new checkbox that disables dark mode that is only shown when the "default palette" is used.

## Result

This message is not showing up if the palette has never been modified.  A user needs to change the palette and return it to default in order to see the c

[2021-02-18 21:00] bozzmedia opened #3313 "Varia theme fatal syntax error"
## Steps to replicate

Install the varia-wpcom theme for .org sites, activate it.

## Result

Fatal error

[proxy_fcgi:error] AH01071: Got error 'PHP message: PHP Parse error:  syntax error, unexpected ')' in /home/redacted.redacted.com/redacted/public_html/wp-content/themes/varia-wpcom/functions.php on line 206\n'

## Expected

The theme to work without error upon activation.

## Fix

Fix syntax

[2021-02-18 21:50] danieldudzic commented on #3092
Hi @mfncooper,

I have now re-generated the .zip file for Rockfield and it's the latest version.

[2021-02-18 22:42] andrewserong commented on #3161
Thanks for the ping @ianstewart! Yes, when we register patterns and categories pulled from the patterns toolkit, the categories get merged. Pattern registration matches against a category slug, so theme patterns and dotcompatterns patterns with the same category will all get included together. I'm not 100% sure of the sort order of patterns within the category, it'd likely depend on which pattern

[2021-02-18 23:48] alaczek commented on #3161
We started porting some of the block patterns from Blank Canvas to our pattern source site so that they are available to everyone. BUT won't that mean that on sites running Blank Canvas, we'll get duplicated patterns in the same category (for example Link in Bio)?

[2021-02-19 02:24] marcuswisecaesar commented on #3299
The user shared an example of the Post Titles not centering as they do in the Theme example:

Users Example:
![screenshot](https://woothemes.zendesk.com/attachments/token/w7hMy8QHckqWjnAUrQtL5ZMmB/?name=Screen+Shot+2021-02-18+at+11.27.25+AM.png+)
[Direct Link](https://woothemes.zendesk.com/attachments/token/w7hMy8QHckqWjnAUrQtL5ZMmB/?name=Screen+Shot+2021-02-18+at+11.27.25+AM.png)

Theme Example:

[2021-02-19 02:30] mfncooper commented on #3092
Hi @danieldudzic

Thanks for the updated versions, but this has **_not_** solved the problem. I have just upgraded to Varia 1.6.4 and Rockfield 1.4.5. There is still no "Hide Homepage Title" available to check, as there is on wordpress.com and as is stated in the documentation. There are now checkboxes for "Hide the Site Header" and "Hide the Site  Footer & Menu Widgets", but those are different f

[2021-02-19 08:18] paulostp commented on #1833
3751777-zd-woothemes. Personal plan, suggested placing the form outside the Cover block as a workaround.

[2021-02-19 12:04] danieldudzic commented on #3092
Hi @mfncooper,

Thanks for providing more details regarding this. There's already an existing issue for this: https://github.com/Automattic/themes/issues/3234

If/Once Varia gets this setting, Rockfield will receive it too

[2021-02-19 12:53] Robertght commented on #3276
The user reached us again today and they aren't happy using another theme for now. I can see there's a Pull done by @danieldudzic so I'm wondering if we can set some expectations around it? Thanks!

[2021-02-19 13:11] kjellr commented on #3161
Each pattern has its own unique slug — I wonder if we can filter out duplicates with that?

[2021-02-19 15:50] #3276 closed, assigned to danieldudzic

[2021-02-19 16:07] jffng opened #3316 "Blank Canvas: custom color palettes not reflected in the editor"
The editor does not reflect a custom color palette selection on wpcom:

<img width="2559" alt="Screen Shot 2021-02-19 at 11 06 21 AM" src="https://user-images.githubusercontent.com/5375500/108529632-aa28c880-72a2-11eb-93b4-28486da938ce.png">

Fixed:
- [x] Simple https://github.com/Automattic/themes/issues/3316#issuecomment-797467104
- [ ] Atomic

[2021-02-19 16:27] jffng commented on #3276
This fix was deployed.

[2021-02-19 17:10] akmyta commented on #3160
Another report has been made here: #3730331-zd

[2021-02-20 00:03] jamiepalatnik commented on #3280
Reported in 17960158-hc too.

[2021-02-20 01:26] danieldudzic commented on #3289
Hi @kosiew,

This should now be fixed on WP.com (r57780).

[2021-02-20 01:26] #3289 closed, assigned to danieldudzic

[2021-02-20 01:39] dcoleonline commented on #3276
I've notified the customer in 3742086-zen and can confirm that the comments field appears on a page and post on their site.

[2021-02-20 01:44] danieldudzic commented on #2901
Hi!

This has been fixed on WordPress.com with the Resonar 1.0.9 update.

Unfortunately, at the moment there's no easy & quick way to push this fix to the WordPress.org theme repo.

For now, please use @Gilmoursa 's suggested fix or you can also download the WP.com version of Resonar, here: https://wordpress.com/theme/resonar

[2021-02-20 01:44] #2901 closed, assigned to danieldudzic

[2021-02-20 02:03] danieldudzic commented on #3169
Would you mind shedding some light on this, @laurelfulford ? :)

[2021-02-20 18:30] scruffian commented on #3169
@jeffersonrabb might be able to help too

[2021-02-20 22:50] noteeth commented on #3280
Additional report regarding Independent Publisher 2 in  3752006-zen

[2021-02-20 23:28] wpshellbelle opened #3317 "Twotone: site-wide audio player's menu not working"
## Steps to replicate

1. Go to https://twotonedemo.wordpress.com/ (or any site with the theme Twotone activated and with playlist set up at Customize → Theme Options → General)
2. Click on audio player: ![](https://d.pr/i/luteLZ+)
Direct link to image: https://d.pr/i/luteLZ

## Result

You will find that the playlist menu does not display - playlist menu is not working as expected

## Expected

!

[2021-02-21 10:54] ahmadbaig1 commented on #2367
I have noticed this issue of block setting colour selectors getting mapped with the wrong colour, hence, ending up showing a different colour on preview and on the live site. Happens with the Barnsbury theme.
Related tickets-
3740688-zen
3727884-zen

Here's a video for the same- https://drive.google.com/file/d/1V30kmwP2y_c4yX2nRndVTkWT-3noWXO8/view?usp=sharing

Not sure if this is related to the t

[2021-02-21 12:35] rickmgithub opened #3318 "Goodz Magazine shows username not display name"
## Steps to replicate

Look at a post on a site with Goodz magazine theme.

The author of the post is shown as the username and not the display name of the author.

I could replicate this on a test site.

## Expected

The "display name" to appear ie the name the user wants people to see.

* 26686379-hc
* Follow-up ticket: 3760443-zen

[2021-02-21 19:15] brookewp opened #3319 "Varia: Primary background color set on classic block toolbar"
## Steps to replicate

1. Switch theme to a Varia theme (I tested Shawburn, Stow, Hever)
2. Add Classic block
3. See background color on toolbar

<img width="798" alt="Screen Shot 2021-02-21 at 11 04 57 AM" src="https://user-images.githubusercontent.com/35543432/108635608-15a29f80-7435-11eb-8bf3-b554bae48474.png">

## Result

The primary background color is on the toolbar buttons. This makes them

[2021-02-21 21:18] wpshellbelle opened #3320 "Venture: Update theme setup guide - Document sidebar label"
## Steps to replicate

1. Go to https://wordpress.com/theme/venture/setup
2. Try to follow steps under **Setting Up the Static Front Page**
3. Edit homepage as mentioned in setup guide and try to set a page template

## Result

**Documents** tab can not be found. Instead, user will see the label **Page**

![](https://d.pr/i/htnVTo+)

Direct link to image: https://d.pr/i/htnVTo

## Expected

User e

[2021-02-21 22:27] katiebethbrown commented on #3262
Another report in 3758766-zd-woothemes

[2021-02-21 22:52] alaczek commented on #3161
Maybe... I'm not sure what makes a slug for the universal patterns we're creating. If it's the post slug from the source site it might be tricky to match the theme as we can't have duplicates. I'd love to hear from people with more knowledge of the inner workings tho :)

[2021-02-21 23:53] katiebethbrown opened #3321 "Ixion: Customizer Settings Not Reflected In Editor"
## Steps to replicate

1. Navigate to `Customize > Fonts`
2. Select a non-default font and save changes.
3. Open the editor and type or check existing content.

## Result

Content is statically styled without regard to the customizer selections, showing the Archivo Narrow font for headings and Noto Serif for body text.

The live site shows the custom font.

## Expected

User report: User expected

[2021-02-22 06:51] joweber123 opened #3322 "Dyad 2: File Block Button Colors"
## Steps to replicate

Add a File Block to any page/post.

## Result

The button will not change color according to the theme colors selected in the Customizer.  Since this block does not have any color options for the buttons, there is no way for the user to adjust this color without custom CSS.

## Expected
Buttons would follow colors set in the Customizer.

![Markup on 2021-02-22 at 15:49:58](h

[2021-02-22 09:03] jeffikus commented on #3317
Has this been sent to the theme author in Trac yet?

[2021-02-22 09:11] fstath commented on #2048
I got another report in the WordPress.com forums.

https://wordpress.com/forums/topic/homepage-107/

[2021-02-22 15:26] fresatomica opened #3324 "Orvis: Blog Posts Block not taking the whole width"
## Steps to replicate

Add a Blog Posts block and set it to display a particular post.
Set the image to be displayed as the background for that post.

## Result

The post area doesn't have the same width as the image:

<img width="997" alt="Screen Shot on 2021-02-22 at 16-20-08" src="https://user-images.githubusercontent.com/40177971/108728418-dd30bd80-7529-11eb-8be9-3f13bd9114eb.png">

## Expecte

[2021-02-22 18:46] azollafox opened #3328 "Metadata Font Set to 0px in Anemone Theme for Newspack Post Carosel Block"
## Steps to replicate

1. Activate Anemone
2. Add a Post Carousel Block

## Result

Post Metadata won't show, even if the option is checked in the customizer. The font size is set to 0 by the theme in this area.

![Markup on 2021-02-22 at 13:41:43](https://user-images.githubusercontent.com/7907292/108754559-12caac00-7514-11eb-806a-666554907f02.png)

## Expected

I would expect the metadata to show

[2021-02-22 19:00] azollafox opened #3329 "Cover Block in Zuki Overlay Color Theme Default Not Showing"
## Steps to replicate

1. Activate Zuki Theme
2. Add a Cover Block
3. Select the theme color grey
![Markup on 2021-02-22 at 13:53:55](https://user-images.githubusercontent.com/7907292/108755599-7b665880-7515-11eb-89a3-8e12edfeb771.png)

## Result

When the content is published it shows a white background instead. Because the text is also white that makes the content impossible to see.
<img width="

[2021-02-22 19:06] kathrynwp commented on #3319
I encountered a Quick Start customer today with a similar issue, but on **every** block, not just the Classic one. They are using Stow.

![Zoom_Meeting](https://user-images.githubusercontent.com/7662449/108756878-1b70b180-7517-11eb-81ba-01d85a9058b4.jpg)

3764195-zen

User said the issue just started recently. Happens in Chrome & Firefox, user said it does not happen in Safari.

[2021-02-22 19:11] kathrynwp commented on #3319
Note that the buttons in the editor interface also has rounded edges in the screenshots above. They should have straight edges, like this:

![Edit_Page_‹_STOW_—_WordPress](https://user-images.githubusercontent.com/7662449/108757368-c08b8a00-7517-11eb-8fa7-73b33436fb2a.jpg)

[2021-02-22 20:04] kjellr opened #3330 "Seedlet: Comment author/edit links need an underline on hover"
In Seedlet, the comment action links currently do not have a visible indication that they've been hovered:

![Seedlet-Comments-Hover](https://user-images.githubusercontent.com/1202812/108763152-07c94900-751f-11eb-9c57-7f006e2f3bf7.gif)

These should use the same `border-bottom` border treatment we use for other links throughout the theme:

![Screen Shot 2021-02-22 at 3 03 43 PM](https://user-image

[2021-02-22 20:08] kjellr opened #3331 "Seedlet: Console + accessibility focus error when using mobile navigation"
This was reported [in the theme review for Blank Canvas](https://themes.trac.wordpress.org/ticket/94482#comment:14), but it's about Seedlet's menu:

there is a JS error, but this is from the parent theme:

[code]

the last menu item, the focus seems to be on the content below the menu.

[2021-02-22 20:20] kjellr opened #3332 "Blank Canvas: Block patterns code cleanup"
The [theme review for Blank Canvas](https://themes.trac.wordpress.org/ticket/94482#comment:14) noted a few things that need tidying up in the block patterns:

- [ ] The text strings are currently translatable, but they need to be escaped too. `esc__attr()` for the attributes, and probably `esc__html()` for the text.
- [ ] We use `get_stylesheet_directory_uri()` to pull in the images. Those URLs ne

[2021-02-22 20:27] kjellr opened #3334 "Blank Canvas: .pot file needs to be updated"
As noted [in the theme review](https://themes.trac.wordpress.org/ticket/94482#comment:14), the .pot translation file in Blank Canvas needs to be updated to include strings for the latest block patterns.

[2021-02-23 00:03] danieldudzic commented on #3250
@scruffian I have done some investigating and it seems that this is the commit that broke links: d50b3b6132bd56d9c8d77f491e6c26f04d90f502

[2021-02-23 00:14] sourourn opened #3335 "Eris: list block font size not changeable"
## Steps to replicate

1. In a page / post, add a list block
2. Add some list items
3. Change the font size of the list in the block's settings

## Result

Font size of list items doesn't change.

## Expected

Font size of list items changes

* User report: [#27930845-hc]
* Follow-up ticket: [#3763982-zen]

<img width="1344" alt="Screenshot" src="https://user-images.githubusercontent.com/39188945/

[2021-02-23 00:22] goblinartificer commented on #2609
Similar but not the same in #27215715-hc

![](https://d.pr/i/kCv13w+)

My fix for this was this:

[code]

The problem comes in two parts:

**heading width**

Intergalactic 2 has set widths for `.singular .entry-title`, at either 1000px or 1400px depending on screen size.

**vertical alignment**

Similarly, `.single-thumbnail .entry-title` has a transform that moves titles up by 50%.

Neither of th

[2021-02-23 10:39] rickmgithub opened #3337 "Extra line being added by "more block" on Natural theme"
URL: https://perfectchaos.org
Plan: Prem
Theme: Natural

PROBLEM:
* On this post there is a read more block-
https://wordpress.com/post/perfectchaos.org/17063
* Now go to https://perfectchaos.org/posts/
* Scroll down (a fair way) to a post that has a read more block
* In the posts page there is a <BR> that is added into the page here (screenshot) - https://d.pr/i/PQpqrR

WHAT I FOUND:
* There is n

[2021-02-23 14:59] #3319 closed, assigned to nobody

[2021-02-23 16:46] azollafox opened #3340 "Ovation: Buttons can't be styled with default color"
## Steps to replicate

1. Activate Ovation
2. Add a Buttons Block
3. Add a new button in the block
4. Select the yellow color option offered for background
5. Publish the content
![Markup on 2021-02-23 at 11:44:41](https://user-images.githubusercontent.com/7907292/108876774-91832000-75cc-11eb-8555-c43980a8a76f.png)

## Result

1. Button will still show the theme default grey color
![Markup on 2021

[2021-02-23 16:48] azollafox commented on #3340
This seems very similar to this issue with Zuki's cover block overy color selection https://github.com/Automattic/themes/issues/3329

[2021-02-23 16:57] tanjoymor opened #3341 "Twenty Twenty-One - Blog Posts block media behind setting produces grey sections"
## Steps to replicate

Create some posts and assign them with featured images that have a horizontal orientation.
Add the Blog Posts block to display posts.
Assign the "Use media behind option".
None of the other settings for the block matter.

## Result

The images display with grey sections in the images: https://d.pr/i/yUjHzD
It doesn't matter what other settings are applied to the block, the g

[2021-02-23 17:55] sbathompson-he opened #3342 "Bug Report - Franklin Theme"
## Steps to replicate

A user came in and reported an issue with the form block they had on their page. The Button was appearing correctly in the editor but in the preview and final live version, the button appeared bottom justified with no border. Also, the Phone outline of the form block has extra weight to it via the preview and live versions. I was able to replicate this on my test page using

[2021-02-23 22:07] akmyta opened #3347 "Varia-Based Themes: All Products Block - "Align Last Block" Feature Overridden"
## Steps to replicate

1. Activate any Varia theme on a site that has WooCommerce and products.
2. Create a new page and add the "All Products" block.
3. For easier visibility of this issue, ensure demo product images are of different dimensions.
4. Toggle on the "Align Last Block" feature
5. Update

## Result

All buttons align down at the bottom of its individual block in the editor but on the f

[2021-02-24 02:29] danieldudzic commented on #3300
The customer set the `line-height` to `0` for the `Paragraph` block which broke the `word-wrap`.

[2021-02-24 02:29] #3300 closed, assigned to nobody

[2021-02-24 04:22] samvaidya opened #3349 "Prosperity: Breadcrumbs for category pages not working"
## Steps to Reproduce

**1.** Activate the Prosperity theme
**2.** Go to **Customize > Theme Options > General Options** and enable the "**Show breadcrumb navigation**" option. Save changes.
**3.** If you have some pages added, go to a page and you'll notice that breadcrumbs are working for pages:

![Breadcrumbs for pages](https://cdn-std.droplr.net/files/acc_653271/YRpJqJ)

**4.** Add a few posts

[2021-02-24 08:36] ivan-ottinger commented on #3263
I have encountered the same issue with the Ovation theme: 3768890-zd-woothemes

Also could reproduce with Exford, TheFour and Radcliffe 2 for example.

[2021-02-24 11:02] MaggieCabrera opened #3350 "Theam Demo site: update all the Gutenberg block views"
The [Theam demo site](https://theamdemo.wordpress.com/) is currently outdated. Some new blocks are missing and some others (like the button block) are using old versions or missing new features that have been implemented over time. This issue intends to track the progress of the pages that have been updated for each of the Gutenberg blocks.

This is a list of all Gutenberg blocks:

- [x] [archives

[2021-02-24 14:49] #3331 closed, assigned to nobody

[2021-02-24 15:17] aleone89 commented on #3280
Another report here: https://wordpress.com/forums/topic/font-size-in-blocks-editor/#post-3639659

[2021-02-24 17:38] #3332 closed, assigned to nobody

[2021-02-24 17:48] ezebecke opened #3351 "Ippo theme: Homepage category filter not working with Arabic language categories."
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

1. Make sure that you have "Enable posts category filter on blog" active on theme options.
2. Publish a new post and assign it a category with non-latin characters (I only tested with Arabic).
![Markup 2021-02-24 at 11 43 47](https://user-images.githubusercontent.com/

[2021-02-24 17:50] #3330 closed, assigned to danieldudzic

[2021-02-24 18:28] #3334 closed, assigned to danieldudzic

[2021-02-25 01:05] danieldudzic commented on #2056
Hi @rezzap!

Toujours does not support displaying Featured Images on pages.

If you want to display the image on the page, you should add the image again to the content, as a regular image.

[2021-02-25 01:05] #2056 closed

[2021-02-25 01:53] danieldudzic commented on #3281
It seems to be working fine in my sandbox:

![social_icons](https://user-images.githubusercontent.com/905781/109091181-95ba5500-7714-11eb-9c3f-e3794d220649.png)

[2021-02-25 02:15] danieldudzic commented on #3214
https://github.com/Automattic/themes/blob/82fefdc90c3310432ef5aaf5995c7b414e9fb23f/seedlet/assets/sass/base/_base.scss#L2 does seem to be overly broad.

I wonder if we can just add a more specific selector for it.

I tried `.site` but that altered the styling of links.

[2021-02-25 08:37] #3269 closed, assigned to danieldudzic

[2021-02-25 08:42] #3313 closed, assigned to danieldudzic

[2021-02-25 09:13] #3250 closed, assigned to nobody

[2021-02-25 14:15] kjellr opened #3358 "Seedlet: Customizer error message"
[As reported here](https://themes.trac.wordpress.org/ticket/94482#comment:20), when using Seedlet with WordPress 5.7-RC1, the customizer will throw the following error:

This comes from here:

https://github.com/Automattic/themes/blob/a291b61325683dfa07f0f69ec130963f9ab89885/seedlet/classes/class-seedlet-custom-colors.php#L310-L311

More information: https://core.trac.wordpress.org/ticket/52534

[2021-02-25 16:18] desnum opened #3362 "Duplicate Excerpts with More block in Shawburn theme"
## Steps to replicate
1. Add a "More block" to a post after the first paragraph
2. Publish it

## Result
- the excerpt will show up multiple times on the Posts Page.

<img width="1194" alt="Shawburn duplicate content" src="https://user-images.githubusercontent.com/43796228/109180434-e18eed80-7758-11eb-9203-230204782f85.png">

## Expected
- excerpt should only be there once

## Tried
- checked the

[2021-02-25 19:27] #3358 closed, assigned to nobody

[2021-02-26 00:08] alaczek opened #3363 "Seedlet Blocks: Add support for Navigation block's justification options"
I noticed that Seedlet Block does not offer justification options in the Navigation block (while they are available in TT1 Blocks). This issue is blocking us from creating header patterns.

These are the Navigation block options I'm seeing with TT1 Blocks active:
![image](https://user-images.githubusercontent.com/4550351/109235674-3f3b3c80-7822-11eb-8b9f-ae5a90a506a4.png)

Navigation block with Se

[2021-02-26 00:08] donalirl commented on #2964
Came up again in #17013378-hc. It seemed to add the Hever demo content!

@ramonjd Is this something you can take a look at?

[2021-02-26 00:33] alaczek opened #3364 "Seedlet Blocks: Layout Grid block not working properly"
## Steps to replicate
1. Set up local WP install with Gutenberg plugin, Seeldet Blocks, and Layout Grid plugin (or set up a new site on WP.com using FSE test environment)
2. Open site editor, and add layout grid block to the Post Content.
3. Set up the layout grid block to full-width, 1 column, offset 0, span 8. Insert an image inside, and set it to full-width as well.
4. The layout grid should lo

[2021-02-26 00:52] brookewp opened #3365 "Varia: Issues with button colors"
## Steps to replicate

If you activate Stratford and choose to use the theme's homepage, the issue seen in the screenshot below will be replicated.

Some button colors aren't showing properly on Stratford. They look fine in the editor, but not on the live site.

This issue can be seen on our current Stratford theme demo: https://stratforddemo.wordpress.com/
<img width="1585" alt="Screen Shot 2021-

[2021-02-26 01:35] ramonjd commented on #2964
It looks like there's no headstart annotation file in `premium/fortune/inc/`

I've done this for free but not premium themes. Not sure if there's a different process.

According to PNEWy-5u2-p2 we have to lodge a ticket in the tracs repo. I tried to but I don't have access :(

cc @Automattic/theam for tips/tricks/chips/dips/code/whips

[2021-02-26 01:46] ramonjd commented on #2964
Just for fun I tried to generate the annotation myself according to these instructions PNEWy-7BG-p2 but received a ton of errors, and the process failed. Mainly `Convert the content to block editor format.` 🤷 So we might have to lean on the themes dev crew for this one.

[2021-02-26 02:20] thesacredpath opened #3366 "Radcliffe 2: Cover block child blocks extend beyond top and bottom of block with multiple taller blocks"
User added heading, paragraph, image block (portrait image) and then a contact form to a cover block and due to the combined height of the blocks, they extended above and below the cover block top and bottom edges.

**User screenshot**: https://d.pr/i/HGhsPg/TOOvxXGUwJ

**Test page created by user for us to see**: https://onemoto.in/test-page-for-wp-team/

I gave user the following CSS to fix the

[2021-02-26 03:36] nagpai commented on #3365
Another issue here
#28023027-hc

Workaround given is to choose the `Custom color` option and change the shade slightly by one digit/ alphabet.

[2021-02-26 03:39] nagpai commented on #3365
Maybe related
https://github.com/Automattic/themes/pull/3338

[2021-02-26 04:33] noteeth opened #3367 "Radiate: featured slider hides mobile menu when site title is hidden"
## Steps to replicate

1. Go to Customizer -> Site Identity and un-check "Display Site Title and Tagline" and save changes.
2. Set at least one post to display in featured post slider
3. View site on mobile device
4. Mobile menu obscured by featured slider

## Result

The mobile menu is hidden, no way to navigate site.

## Expected

Expected space for menu, even if site title set to not display.

[2021-02-26 08:23] nagpai opened #3368 "Carbon: Follow blog widget having invisible text field to add email"
## Steps to replicate

* On a test site install Carbon theme
* Add a follow blog widget from `My Site(s) >> Design >> Customize >> widgets`
* Check the front end in incognito window

## Result
* there is no text box visible to add email address to subscribe(White on White Bg), and clicking the button gives an error stating invalid email address.
* You will find the text box if you keep clicking ar

[2021-02-26 08:30] nagpai commented on #3368
CSS Workaround

[code]

[2021-02-26 09:45] scruffian commented on #2964
This is a premium theme so we should ask the Theme Shop to do it

[2021-02-26 14:32] kjellr opened #3369 "Blank Canvas: Use the YouTube video pattern on .com, but remove it for .org."
In #3323, we removed the YouTube video from the "Musician" pattern in Blank Canvas.

Before|After
---|---
![Screen Shot 2021-02-22 at 2 32 01 PM](https://user-images.githubusercontent.com/1202812/108759796-d5b5e800-751a-11eb-984d-9d155e63f6f3.png)|![Screen Shot 2021-02-22 at 2 32 38 PM](https://user-images.githubusercontent.com/1202812/108759801-d6e71500-751a-11eb-8f06-3088404a09e8.png)

We'd like

[2021-02-26 16:43] jinnypark opened #3370 "Twenty Twenty: Jetpack Video block with Portrait-oriented Video is superimposed"
## Steps to replicate
1. In a self-hosted WordPress site with Premium Jetpack subscription, (via Pressable) activate Twenty Twenty theme.
2. Create a new post and add Jetpack Video, including at least one portrait-oriented video.
3. Find overlapping layout of theme around the portrait-oriented video(see screenshot)

## Result

Portrait-oriented Jetpack Video block overlaps with existing content, s

[2021-02-26 17:22] melchoyce opened #3371 "Blank: Cover Block Content Position"
If you change the alignment of the Cover Block inner contents using the content position picker to anything but center, the width of the content is limited to about half of the Cover Block width, even if your content is set to full-width.

## Steps to replicate

1. Add a new cover block
2. Add some full-width content to it, like a columns block
3. Change the content position to anything other than

[2021-02-26 17:32] tanjoymor commented on #679
Another report here: #27883919-hc

[2021-02-26 18:28] noteeth opened #3372 "Stratford: Site Tagline not displayed when selected via customizer"
When the Site Title and Tagline fields are filled out in the customizer -> site identity tab, and the check box "Display Site Title and Tagline" is checked, only the Site Title displays.

<img width="1021" alt="Screen Shot 2021-02-26 at 10 19 29 AM" src="https://user-images.githubusercontent.com/16570939/109339483-93dbb900-781c-11eb-9e32-b9c116aa8596.png">
## Result

## Expected

As is the case wi

[2021-02-26 22:30] jeyip opened #3373 "Seedlet-Blocks: Navigation block in Header Template Part is hard to recognize"
## Steps to replicate

There was some site editor feedback regarding the navigation block in Seedlet-Blocks.

When I first played with Seedlet-Blocks, I found this to be a problem for me as well. I wonder if other newer users might also be confused. In TT1-Blocks, the navigation block is more obvious because we provide other nav links, like "Blog", or "Contact". Maybe it's worthwhile to add simila

[2021-02-26 23:09] serabi commented on #3266
Provided the user with this CSS as a temporary fix:

[code]

[2021-02-27 01:39] Addison-Stavlo opened #3374 "Seedlet Blocks - Font Family Support"
Similar to how tt1-blocks supports a Font Family setting:

![Screen Shot 2021-02-26 at 8 37 45 PM](https://user-images.githubusercontent.com/28742426/109371355-7cc7b600-7872-11eb-83fa-02a374a4a392.png)

Seedlet blocks does not give us this option:

![Screen Shot 2021-02-26 at 8 38 11 PM](https://user-images.githubusercontent.com/28742426/109371373-936e0d00-7872-11eb-95a2-2c2ba77d5507.png)

We shou

[2021-02-27 11:47] annbingle opened #3375 "Button 2 - Video Not Displaying on Live Site"
## Steps to replicate

1. Go to My Site > Site > Pages > Add New > Blank Layout ( to test on page). Go to My Site > Site > Posts > Add New (to test on post)
2. Click on + then search for Video and insert the a video of any format. For this test, I used a .mov file.
3. The video renders just fine on Editor.
<img width="963" alt="Screen Shot on 2021-02-27 at 19-25-18" src="https://user-images.github

[2021-02-27 19:55] mikeicode commented on #3299
Reported 3778929-zd-woothemes this was Intergalactic (not 2), but same issue. I used this to resolve:

[code]

[2021-02-27 20:32] stokesman opened #3376 "Twenty Seventeen: consider style updates for box-shadow on linked images"
## Origin
User report: https://github.com/WordPress/gutenberg/issues/22187

That report was only about the Media & Text block specifically but looking into I recognized it as a general issue with the styles from Twenty Seventeen and applicable to other blocks.

## Steps to replicate

1. Add any block that supports inner blocks and background colors (Group, Columns)
2. Add a background color to the

[2021-02-28 15:46] AtrumGeost opened #3377 "Karuna: Post Carousel Block on Atomic Sites — Scrolling returns blank image when Lazy Loading for Images is enabled"
## Steps to replicate on an AT site

1. Create a new page with the full-width template
2. Add the Posts Carousel
3. Be sure that Lazy Loading is enabled on /wp-admin/admin.php?page=jetpack#/performance
4. Scroll through the posts

## Result

As you continue scrolling the fourth image gets blank:

![Screen Capture on 2021-02-28 at 10-45-16](https://user-images.githubusercontent.com/3696121/10942457

[2021-02-28 19:18] lakellie commented on #2539
Reopening, as I had another user report this in Rivington in #3779409-zen. I showed them how to disable the theme appearance in the editor as a workaround for now.

[2021-02-28 22:36] happychait commented on #1759
Another report in 779577-zen

[2021-02-28 22:37] jerrysarcastic opened #3378 "Libre 2: Syntax Highlighter block should use monospace font"
On all other themes that I have tested, I see that the Syntax Highlighter block uses a monospace font, but on The Libre theme, when editing in Gutenberg the Syntax Highlighter block uses the theme font (Libre Baskerville) instead, which makes it difficult line up indented code, and generally is an usual appearance for any code snippet.

Note:  A monospace font is displayed for code blocks on the t

[2021-02-28 23:12] alaczek commented on #3281
Oh, then it was probably ironed out in the interim :)

[2021-02-28 23:12] #3281 closed, assigned to nobody

[2021-03-01 02:59] alaczek commented on #3364
The same thing is happening in Mayland Blocks.

[2021-03-01 05:05] alaczek opened #3379 "Mayland Blocks: Issues with the footer"
I found a couple of issues with the footer in Mayland blocks:
1. There is no WordPress.com credit (screenshot from a simple site)
2. I noticed the stats smiley face at the bottom.
3. Under the post/page content sharing buttons are being displayed (these are not visible in the editor).

<img width="465" alt="mayland_footer" src="https://user-images.githubusercontent.com/4550351/109454210-d5cc5f80-7

[2021-03-01 17:28] kisabelle commented on #1673
I'm noticing today that on the Gutenberg editor the Gallery block caption appears to receive completely different styles than on the front end.

**Gutenberg editor:**

![Screen Shot 2021-03-01 at 9 27 56 AM](https://user-images.githubusercontent.com/1544652/109534731-7e5ecd00-7a70-11eb-93b3-84ed42ea7928.png)

![Screen Shot 2021-03-01 at 9 27 02 AM](https://user-images.githubusercontent.com/1544652

[2021-03-01 17:35] simison commented on #3892
@jeffikus hi! this seems like a theme issue, could you help triage this?

[2021-03-01 19:43] supernovia commented on #3178
Noting a user request here:
https://wordpress.com/forums/topic/cannot-put-image-captioning-in-center-alignment/#post-3641116

They'd gone through several themes before finding one that centered captions as expected.

[2021-03-01 20:05] carinapilar opened #3380 "Didi: Can't Center Align Video Embeds"
## Steps to replicate
With the Didi theme, create a new page using the _"Front Template"_, add a Vimeo or Youtube block, and select the center alignment option.

## Expected
To have the videos center-aligned.

## Result

Even though it has `aligncenter` in the code, it keeps the videos left-aligned, like this:

![VimeoYoutubeCenterAlignmentIssue](https://user-images.githubusercontent.com/16104522/

[2021-03-01 21:22] Gilmoursa commented on #2362
Another user report:
#28106991-hc

[2021-03-01 21:37] brookewp commented on #3365
Edited title from 'Stratford' to 'Varia', as I saw this same issue on Rockfield hc-28098711

[2021-03-02 00:16] alaczek commented on #3373
There are a few issues arguing for the opposite - removing those "dead" links in TT1 blocks.
See https://github.com/WordPress/gutenberg/issues/28711 and https://github.com/WordPress/theme-experiments/issues/214
Between those issues, an idea was floated to use the placeholder state of the Navigation block instead, which allows users to pick from existing menus, or create a menu from all existing pa

[2021-03-02 00:20] alaczek commented on #3363
My bad, I was using the vertical variation which does not support left/right alignment

[2021-03-02 00:20] #3363 closed, assigned to nobody

[2021-03-02 00:48] alaczek opened #3381 "Seedlet Blocks: Posts not displayed in a grid (Query block)"
When Query block is set to display posts in a grid, the grid is not rendered in the preview.
This issue also affects Mayland Blocks.

## Steps to replicate
1. Set up a site with Full Site Editing enabled, and activate Seedlet Blocks.
2. Enter the site editor and add a Query block to the post content.
3. Pick the grid display option.
4. The posts are displayed in a grid in the editor.
5. Save and p

[2021-03-02 02:50] alaczek opened #3382 "Mayland Blocks: Distorted images"
Images inserted via Image block and Media & Text are distorted in preview (but appear correctly in the editor).

## Steps to replicate
1. Create a site with Full Site Editing and Mayland Blocks active.
2. Open the site editor and add an Image block into the post content (upload new, select from the media library, or from Pexels).
3. Save and preview the site in a new tab. Note the image is distort

[2021-03-02 05:23] ollierozdarz opened #3383 "Shoreditch styles breaking"
## Steps to replicate

1. Create a new WordPress website - www.wordpress.com/new
2. Click 'Edit homepage' from My Home
3. Exit the Editor and navigate to the Themes page
4. Select the Shoreditch theme
5. Click 'Edit homepage' from My Home

## Result

Swapping from a starter design to Shoreditch leads to breaking styles: https://d.pr/v/kwrxEy

## Expected

Styles to retain styling.

[2021-03-02 12:56] aleone89 opened #3384 "Stratford: Social media menu footer moved to the right"
## Steps to replicate

Visit: https://stratforddemo.wordpress.com/?demo > scroll to the bottom of the theme.

## Result

https://d.pr/i/9Ny0Lw

## Expected

https://d.pr/i/f47xp5

* User report: https://wordpress.com/forums/topic/social-media-icons-shifted/
Also discussed here: https://a8c.slack.com/archives/C029FM1EH/p1614677787424400

[2021-03-02 13:42] Robertght commented on #779
Another case in 11758745-hc

[2021-03-02 14:38] rickmgithub opened #3386 "Rebalance: Quote block showing incorrectly in Gutenberg"
## Steps to replicate

URL: myexcerpts.com
Plan: Prem
Theme: Rebalance.

PROBLEM:
- When the user converts a paragraph block to a quote it moves the text to the left in the editor like this
 (screenshot) - https://d.pr/i/zke8CI
- The post they use as an example is - https://wordpress.com/post/myexcerpts.com/1350

WHAT I FOUND:
* It occurs on my test site too
* It seems to be only connected with Re

[2021-03-02 15:47] pbking commented on #3365
This doesn't appear to be breakage caused by #3251 (and related changes to other Varia children) which was my original guess as it is also happening prior to that change.  It reproduces all the way back to last year so it doesn't appear to be a recent change (at least for Stratford).

[2021-03-02 15:55] #3312 closed, assigned to nobody

[2021-03-02 15:58] scruffian commented on #3213
This should now be fixed.

[2021-03-03 01:23] jordesign opened #3388 "Rockfield theme has Javascript errors when 'Hide Site Header' option is selected in the Customizer"
## Steps to replicate

1. Activate the Rockfield theme
2. Set up a static front page (optionally including a Blog Posts block)
3. In the Customizer > Home Page Settings - turn on the 'Hide Site Header' option

## Result

When loading the home page - there are console errors:

[code]

Any content which loads dynamically (like the 'More posts' button on a Blog Posts block) will not load.

## Expecte

[2021-03-03 04:55] alaczek opened #3389 "Mayland Blocks: Broken button styles"
The default button style is missing padding.

## Steps to replicate
1. On a site with Mayland Blocks active, open the site editor and add a Buttons block to the post content.
2. Add two buttons, one of them using the default Fill style, the other using the Outline style.
3. Save and preview the site. Note the button using the Fill style lacks padding.

Editor view:
![image](https://user-images.git

[2021-03-03 05:20] alaczek opened #3390 "Seedlet Blocks: Contact form missing styling"
I wasn't sure if this is a Contact block issue, if so I'm happy to move the ticket.

## Steps to replicate
1. On a site with Mayland Blocks active, open the site editor and add a Contact form block to the post content.
2. Add Name, Email, Select or Radio, and Message type fields.
3. Note how the form looks like in the editor (grey background in text fields, numbered list for Select / Radio, Messag

[2021-03-03 08:45] fstath opened #3391 "Penscratch 2: Classic block's toolbar doesn't stick when scrolling"
## Steps to replicate

Insert a Classic block and paste some long text.

## Result

When scrolling the toolbar scrolls with the text and disappears.

Screenshot:
![image](https://user-images.githubusercontent.com/32326882/109778305-55c00a00-7c0d-11eb-92c5-bee8c5f296a6.png)

## Expected

The toolbar to remain fixed while scrolling down.

Screenshot:
![image](https://user-images.githubusercontent.co

[2021-03-03 08:50] Robertght opened #3392 "Luxury: "Load more posts in page with a button" doens't work for products"
## Steps to replicate

1. Create several products
2. Set the Infinite scroll method to be as `Load more posts in page with a button`.
3. Make sure you are loading less products than total amount of products so the "More products" button is visible.
4. Clicking on it, will only result in a loop spinning icon and some JS errors.

## Result

Before I press the button there are 2 JS errors related to

[2021-03-03 18:56] msilbers opened #3393 "Support Site Theme: Jetpack Search Overlay formatting"
## Steps to replicate

Jetpack search was recently updated, and the update makes the formatting on the support site's search look visually odd. The overlay used to cover the full window and no longer does, and could use some touching up, especially for the text on the left sitting up against the edge of the overlay and the search field.

https://wordpress.com/support/

<img width="830" alt="Screen

[2021-03-03 20:25] mattwiebe opened #3395 "Seedlet Blocks: Navigation Block font size does not change"
## Steps to replicate

1. Have or [create](https://horizon.wordpress.com/new?flags=gutenboarding/site-editor) a new site with Seedlet Blocks and FSE active
2. Add a Navigation block (or select one if it's active)
3. Try to change the font size

https://user-images.githubusercontent.com/195089/109867365-03daac80-7c2c-11eb-95f4-1123646fe306.mov

This is true in both the Site Editor and on the fronte

[2021-03-03 20:30] msilbers commented on #3393
There's also some messy overlapping text when no results are found:

<img width="657" alt="Screen Shot 2021-03-03 at 3 29 07 PM" src="https://user-images.githubusercontent.com/31680407/109868129-45bc2080-7c35-11eb-89b3-e0b372025a27.png">

[2021-03-03 22:55] alaczek commented on #3364
This might not be a theme issue after all: https://github.com/Automattic/block-experiments/issues/170

[2021-03-03 22:55] RealCarFax commented on #3347
I ran into this same issue via a user report in chat: 28164171-hc pushed to ticket #3791305-zen)
We should be able to give them some CSS for a workaround I would think...

[2021-03-04 03:45] alaczek opened #3397 "Mayland Blocks: Cover block styles not working"
The Bottom Wave and Top Wave styles of the Cover block are not displaying properly both in style preview and in the editor.

## Steps to replicate
1. On a site with Mayland Blocks active, open the site editor and add a Cover block to the post content.
2. Look at the block settings - notice the style preview does not show a wave.
3. Select Top or Bottom Wave style - note the wave is not visible in

[2021-03-04 10:54] zdenys opened #3398 "Blask: Slideshow block shakes/vibrates/flickers"
## Steps to replicate

1. On a Simple site, add a [Slideshow Block](https://wordpress.com/support/wordpress-editor/blocks/slideshow-block/) with a few images to a Page.
2. Preview the page on the front end

https://user-images.githubusercontent.com/39308239/109952086-1fef5400-7ce7-11eb-9367-e97cd2a3722d.mov

## Result

Slideshow block shakes/vibrates/flickers.

## Expected

See no vibration/shakin

[2021-03-04 10:54] zdenys opened #3754 "Slideshow block: The block shakes/vibrates/flickers"
## Steps to replicate

1. On a Simple site, add a [Slideshow Block](https://wordpress.com/support/wordpress-editor/blocks/slideshow-block/) with a few images to a Page.
2. Preview the page on the front end

https://user-images.githubusercontent.com/39308239/109952086-1fef5400-7ce7-11eb-9367-e97cd2a3722d.mov

## Result

Slideshow block shakes/vibrates/flickers.

## Expected

See no vibration/shakin

[2021-03-04 15:37] jartes opened #3399 "Patch: Spotify playlists not displayed when embedding"
## Steps to replicate

1. Create a post on a Simple Site with the **Patch** theme.
2. Add a Spotify playlist by adding the link into the editor. I tried [this one](https://open.spotify.com/playlist/37i9dQZF1DWWEJlAGA9gs0?si=Cw4UEYH4QcCZs2lOSCytew).

## Result

This is how the playlist looks in the published post:

![Markup on 2021-03-04 at 16:32:44](https://user-images.githubusercontent.com/104694

[2021-03-04 18:25] ryelle commented on #3376
Hi @stokesman, this repo is for themes created by Automattic - issues with core bundled themes (the Twenty-'s) should be reported on [the WordPress core trac](https://core.trac.wordpress.org/newticket). Could you move this over to there? When you create the ticket, use the component "Bundled Themes".

[2021-03-04 18:40] automattic-ian commented on #3754
Since this is impacting multiple themes transferring to calypso repo.

so far it impacts Pique, Blask, and Appetite. Does not seem to impact Default theme Twenty Twenty One.

[2021-03-04 18:50] automattic-ian commented on #3754
I have one user report of additional image blocks being impacted, including the regular gallery block but so far have been unable to reproduce.

[2021-03-04 19:33] shabnam611 opened #3403 "Intergalactic 2: Title position incorrect inside Blog posts block"
## Steps to replicate

1. Please activate the Intergalactic 2 theme and then create a page.
2. Inside the page take a "blog posts" block and Post type will be posts only. I have also tried to add excerpt:

![image](https://user-images.githubusercontent.com/5788402/110024099-2538b700-7d58-11eb-8472-49108b384c81.png)

3. Select the grid view for the "blog posts" block:

![image](https://user-images.

[2021-03-04 21:13] stokesman commented on #3376
https://core.trac.wordpress.org/ticket/52716
☝️ as requested by @ryelle. Thank you for the pointer on the proper component. My excuse for filing here is that I noticed that this repo has [quite a few issues for the Twenty-'s](https://github.com/Automattic/themes/issues?q=is%3Aissue+is%3Aopen+Twenty). Also months ago, when I first attempted to on Trac, I'd failed to find the "new ticket" button (I

[2021-03-05 10:43] edwinho89 commented on #3754
From this [forum topic](https://ja.wordpress.org/support/topic/%E7%B7%A8%E9%9B%86%E7%94%BB%E9%9D%A2%E3%81%AE%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF%E3%82%A8%E3%83%AA%E3%82%A2%E3%81%8C%E6%8F%BA%E3%82%8C%E3%82%8B/), there was a suggestion to add the following code into theme's functions.php

[code]

(ran a test AT site with Pique theme on the above, still flickers for me)

[2021-03-05 15:11] selectedselections commented on #1826
Another report in hc-28203568

[2021-03-05 21:15] akmyta opened #3405 "Luxury: Menu Items Below Submenu Overlap"
## Steps to replicate

1. Go to Customizer > Menus > Right or Left Menu
2. Add a parent menu item with a submenu item.
3. Add another submenu item below the first submenu item.

![Screenshot](https://d.pr/i/Z2e4GB/p4XFhqj3Kz+)
Original screenshot link: https://d.pr/i/Z2e4GB/p4XFhqj3Kz

## Result

It overlaps cutting off the parent item of the submenu item:
![Screenshot](https://d.pr/i/TVDh6C/948vz

[2021-03-05 22:19] selectedselections opened #3406 "Goodz Magazine: Button block styling is off center"
## Steps to replicate

1. Open up a new page with the Goodz Magazine theme active
2. Add a button block and set up the button
3. Make sure the button style is set to Outline

![https://d.pr/i/ilNbBj+](https://d.pr/i/ilNbBj+)
Direct Link: https://d.pr/i/ilNbBj

Chrome 88 on macOS 11.2

## Result

Button link text is off center and requires CSS to center properly:

![https://d.pr/i/HLFbvp+](https://

[2021-03-06 01:20] supernovia opened #3407 "Argent: Wide image overhang doesn't work"
## Steps to replicate
1 - Create a post in the block editor OR classic editor
2 - Add an image that is wider than 780 pixels, along with some paragraph text around it.
3 - Publish and view the post

## Result
The image stays in the column with the text instead of hanging into the margins.

## Expected
The theme docs say "Images that are wider than 780px also overhang the column. Show off your imag

[2021-03-07 15:56] susanjanec opened #3408 "Hever - Sub Sub Menu doesn't indent"
## Steps to replicate

Go to Design > Customize > Menu > Primary and create a menu with a 2 level sub menu.

<img width="296" alt="Markup 2021-03-07 at 10 53 03" src="https://user-images.githubusercontent.com/16828966/110245947-7f41a400-7f33-11eb-8863-036b288099f4.png">

## Result

When creating a sub sub menu (2 level submenu) the menu items don't seem to indent and are showing as a sub menu item

[2021-03-07 20:52] carladoria opened #3409 "Pennscratch 2: Comment box input fields not ligned up correctly on Mobile"
## Steps to replicate

On Mobile view:
- Go to any site with Pennscratch 2 theme:
-  Go to a post or page where the comment box is enabled,like https://penscratch2demo.wordpress.com/a-parent-page/ for example-
- Locate the Comment box at the bottom and the label text for each input box is misaligned:

![IMG_EEEFCF239BA6-1](https://user-images.githubusercontent.com/23703267/110254401-605c0580-7f65-

[2021-03-08 03:15] kristarella commented on #3337
The user was following up again, so I gave this CSS for the mean time:

[code]

[2021-03-08 10:38] MaggieCabrera opened #3410 "Spearhead: Dark mode. Editor palette colors shows the wrong colors."
## Steps to replicate

- Activate Spearhead
- Have Dark mode on your system active
- Create a cover block and check background color (the color you are selecting shows as a white circle)
- Check the frontend

## Result

Editor:
<img width="1389" alt="Screenshot 2021-03-08 at 11 26 31" src="https://user-images.githubusercontent.com/3593343/110310163-7f5ca500-8002-11eb-8e8c-7505200377b7.png">

Front

[2021-03-08 14:43] daria2303 opened #3411 "Hemingway Rewritten, Mobile, Safari, embed, content overlapping"
## Steps to replicate

![image1](https://user-images.githubusercontent.com/11535091/110335439-20a82300-8024-11eb-99c9-eb00ae690437.png)

1. Install Hemingway Rewritten
2. Grid > Column > Embed 2 items
3. Open Safari > Mobile view

## Result

Additional content from the embedded site, overlapping with existing one.

## Expected

No additional content added. (Android, Samsung works fine)

* User rep

[2021-03-08 16:24] jffng opened #3412 "Rename Ponyville to Blank Canvas Blocks"

[2021-03-08 16:54] pbking opened #3413 "[Blank Canvas Blocks] Evaluate Blocks"
Ready the following blocks for Blank Canvas Blocks (A Ponyfill theme)

For each of the following blocks:

Evaluate "Blank Canvas Blocks" against "Blank Canvas"

If something can be achieved with Gutenberg theme.json styling for that block then leverage that first.

If something is expected to be achievable in Gutenberg, adjust the theme.json's "custom" block to express that opinion and add custom

[2021-03-08 17:04] jffng opened #3414 "[Blank Canvas Blocks] Implement color variable system"
Add custom color variables via theme.json to be used throughout the blocks.

A theme will supply the 'descriptive color' values in the palette.

The ponyfill leverages "custom" css color variables and expects the following CSS color values to always be available and used when styling elements (all of them are in the form --wp--custom--color--SLUG)
"foreground, background, primary, secondary, terti

[2021-03-08 17:05] jffng opened #3415 "[Blank Canvas Blocks] Add block patterns"
Evaluate each of the block patterns available in Blank Canvas and determine which can be made available in Blank Canvas Blocks without adding any additional custom CSS to the theme.

[2021-03-08 17:40] pbking commented on #3414
This should be ready to review; accomplished when refactoring from ponyville to blank-canvas-blocks and can be reviewed on https://github.com/Automattic/themes/pull/3417

[2021-03-08 17:50] pbking opened #3418 "[Blank Canvas Blocks] Configure Base Typography"
Configure the HEADER and BODY typefaces for Blank Canvas Blocks including loading them via function.php and configuring them via theme.json

They should match Blank Canvas ([example](https://theamdemo.wordpress.com/2019/06/24/gutenberg-paragraph/?theme=pub/blank-canvas)).

[2021-03-08 17:56] pbking opened #3419 "[Blank Canvas Blocks] Configure Alignment & evaluate alignment polyfill"
Ensure that the alignment ponyfill that exists is appropriate and correct.

Ensure that the "full/wide" values in the theme.json match the opinion of blank-canvas.

[2021-03-08 18:04] pbking opened #3420 "[Blank Canvas Blocks] Evaluate 'base' CSS variable generation"
Blank Canvas Blocks has expectations of the availability of particular CSS variables generated from the "custom" block of theme.json.  If those variables aren't defined and available then the page won't be correct.

Until we have "theme.json castcading" any theme that leverages Blank Canvas Blocks as a parent will either:
* BE REQUIRED to express all variables in the parent theme.json (including a

[2021-03-08 18:40] jffng commented on #3413
Should we consider certain FSE blocks too e.g. site title & tagline, post meta, tag cloud.

[2021-03-08 19:10] pbking commented on #3413
I think we should.

Do we have representation of that in Theamdemo?  That would be a healthy addition if not.

[2021-03-08 20:15] jffng commented on #3418
We should probably get this in place first so that we don't end up having to configure font-family unnecessarily for many blocks, like I'm doing here: https://github.com/Automattic/themes/pull/3421/files#diff-6b32b96741b2b4b9e621f53f3709cb5e5dcbb41c0467f83a2f30c99577f724b8R184-R186

[2021-03-08 22:38] ccwalburn opened #3423 "Veni: Post Featured Image displays small when a YouTube video embed block is on the post"
The post featured image displays small next to the title when a YouTube video embed block is added to the post instead of displaying full size with the title below.

## Steps to replicate
1. Create a post on a site with the Veni theme activated
2. Add a paragraph block followed by a YouTube embed block
3. Add a featured image
4. Publish and view the post

## Result
The featured image displays smal

[2021-03-08 23:15] Corinneba commented on #1294
Hello I have the same problem! any updates on solutions?

[2021-03-09 00:33] katiebethbrown commented on #3365
Another report in 28140925-hc
Theme: Barnsbury

Button in the editor:
<img src="https://user-images.githubusercontent.com/42279181/110400135-581ecb80-8034-11eb-8892-fdb325a523b8.png" width=250px>

Button on the site:
<img src="https://user-images.githubusercontent.com/42279181/110400154-60770680-8034-11eb-894d-587f5554a784.png" width=250px>

Color on the site seems to be coming from this:
![image]

[2021-03-09 01:33] alaczek opened #3424 "Mayland Blocks: Add support for spacing overrides"
Similar to https://github.com/Automattic/themes/issues/2191, could we bring the spacing override CSS classes available in Varia:
* margin/padding-top/bottom/left/right-none
* margin/padding-top/bottom/left/right-half
* margin/padding-top/bottom/left/right-default

[2021-03-09 04:42] happychait opened #3425 "Button 2: On mobile, Grouped Layout Grid block text is too close to the left margin."
## Steps to replicate

1. Activate Buttons 2 theme.
2. Add any page layout that has a grouped Layout Grid block in it, for example, Services layout.
3. Check the page on the mobile.

## Result

The text is too close to the left margin as shown in this screenshot:  ![](https://d.pr/i/YHQCH1+)

_Direct link to screenshot:_ https://d.pr/i/YHQCH1

## Expected

Some left margin.

## Workaround

Ungroup

[2021-03-09 10:28] jwktje commented on #1294
@Corinneba I have no update sadly. 2 months ago I first mentioned that I'd happily help fix this. I can understand if they have this theme in an internal repo that they don't wanna share. But the theme is years old and a bunch of other themes are in this repo already. It would be less work for them if they allowed the community to patch issues like this. Sorry for being a bit salty but it's frustr

[2021-03-09 10:59] Corinneba commented on #1294
@jwktje Couldn't agree more. It's very frustrating especially for people who are now choosing this template and who barely understand code, not knowing that it doesn't work with Gutenberg. Wordpress shouldn't recommend it anymore!! I spent hours to fix small things here and there.

[2021-03-09 11:02] scruffian commented on #3418
In the end we didn't need to queue any fonts in functions.php since Blank Canvas doesn't use custom fonts. I feel like we should add that scaffolding in though to make it easier for child themes to override. We should also look at https://github.com/Automattic/themes/pull/3309

[2021-03-09 11:27] MaggieCabrera commented on #3413
I think we should totally add them to Theamdemo. I did add the "Archives" block to it because I needed it for another issue, so having the rest will be very helpful. This is a list of all the blocks on Theamdemo that need updating: https://github.com/Automattic/themes/issues/3350

[2021-03-09 12:45] scruffian commented on #3414
I thought the plan was to remove semantic colors from the color definitions until Gutenberg supports them - I still seem them in #3417

[2021-03-09 12:46] scruffian commented on #3243
This was fixed in #3325

[2021-03-09 12:46] #3243 closed, assigned to scruffian

[2021-03-09 12:54] pbking commented on #3414
I understood the plan was to move them from the "root" configuration and back to "custom" because doing so made the Global Styles Editor work in a way that it wasn't intended (even if it was cool).

I don't think we should remove them completely.  Even if they work differently "semantic color configuration" is something I expect Gutenberg to eventually do so is something relevant for the ponyfill.

[2021-03-09 13:05] MaggieCabrera commented on #3414
From my understanding of https://github.com/WordPress/gutenberg/issues/29568 I expect to have something relatively similar to what Jason implemented in the custom block. My comment on our call was about the bit that was initially on root, since that wasn't doing it the correct way with the current implementation. The idea is to have this custom implementation and then refactor when the editor is u

[2021-03-09 13:14] pbking commented on #3418
What do you mean by that scaffolding?  Is that something that can be successfully derived exclusively from theme.json?  Will that be some boilerplate in the function.php to get that kicked off?

----

In the change we also eliminated the header font configuration.  The 'body' font looks to the --font-base variable but not the --font-headings for headers.

If that font selection tool won't be used

[2021-03-09 13:21] pbking commented on #3412
Complete in #3417

[2021-03-09 13:21] #3412 closed, assigned to nobody

[2021-03-09 14:15] aleone89 opened #3426 "Orvis: Media and text block out of alignment"
## Steps to replicate

Add a media and text block (https://wordpress.com/support/wordpress-editor/blocks/media-text-block/) to a page and add apply an image and content.

## Result

<img src="https://i.snipboard.io/Ka2v5C.jpg" />

## Expected

<img src="https://cdn-std.droplr.net/files/acc_662189/7BPv9Q" />

* User report: https://wordpress.com/forums/topic/feature-image-re-sizing/

[2021-03-09 14:51] pbking commented on #3413
While evaluating the buttons block I discovered this error which will be a blocker: https://github.com/WordPress/gutenberg/issues/29675

[2021-03-09 15:50] scruffian commented on #3418
I'm thinking about the boilerplate code we need to load the font files themselves, which is in functions.php

[2021-03-09 15:59] MaggieCabrera commented on #3418
Things like this are why BC needs to be a parent theme and not a plugin. It's very hard to have it be **just** CSS.

[2021-03-09 21:02] pbking commented on #3414
Root color variables have been removed via #3433.

The branch matches the description now, closing this.

[2021-03-09 21:02] #3414 closed, assigned to pbking

[2021-03-09 21:23] ianstewart commented on #3153
Appears to still be an issue.

![image](https://user-images.githubusercontent.com/545779/110539896-70055680-80eb-11eb-8413-a081eb0e1f2d.png)

![image](https://user-images.githubusercontent.com/545779/110540377-0cc7f400-80ec-11eb-805a-7a14c4c008fb.png)

[2021-03-09 21:25] ezebecke opened #3438 "Stow Theme: Custom font size "22px" not getting applied"
## Steps to replicate

1. Edit or create a new post or page
2. Add a paragraph or Heading block.
3. Type anything and try to set the font size to 22px.
4. Publish it and check that the resultant font size will revert to 18px.

## Result

The block identifies the 22px as the Normal font size and therefore it doesn't add the font-size property to the HTML tag on the Paragraph.

![font-test-1](https:

[2021-03-09 23:46] alaczek opened #3440 "Blank Canvas: Issues with button hover color when using custom colors"
I came across this issue while working on [Pollard starter design](https://pollardstarter.wordpress.com/) which I'm switching over to Blank Canvas. I noticed with custom Background and Secondary color the buttons can become transparent on hover.

## Steps to replicate
1. On a site running Blank Canvas add the code below to a post or a page.
2. Open up the Customizer > Colors & Backgrounds. Change

[2021-03-09 23:57] alaczek opened #3441 "Blank Canvas: Custom text & background color not reflected in the Editor"
This looks like the same issue as #3135

### Steps to replicate
1. Activate Blank Canvas and open the Customizer.
2. Go to Colors & Backgrounds tab and set custom colors. My settings here were:
- Background: `#fad2c4`
- Secondary: `#000000`
3. Open up the Editor and add the code below. Note that the background and button color is not being applied.
4. Preview the site. Note that the custom colors

[2021-03-10 00:35] donalirl opened #3442 "Carmack: Jetpack Related Posts Show Bullet Points in AMP"
## Steps to replicate

1. Activate the Carmack theme on a site that will show related posts (i.e. the site is public, has at least 10 posts, with at least 500 bytes per post).
2. Set AMP mode to standard or transitional (not reader)
3. Observe that the related posts appear with bullet points as shown in the screenshot below.

I used a WordPress.com atomic site to replicate this issue, as it has re

[2021-03-10 05:58] thesacredpath opened #3443 "Redhill: Inconsistent spacing and areas of whitespace in the editor"
On services page, user has inserted columns blocks. In first columns block, the image in the center column is displaying lower than the right and left images. In the columns block below the one at the top, this is not an issue and the images are aligned properly on the top edge.

Screenshot first columns block: https://d.pr/i/4nEc2S
Screenshot second columns block: https://d.pr/i/QTD0Ke

When you

[2021-03-10 09:18] simison commented on #3153
cc @jeffikus @scruffian would it be possible to prioritize a fix for this?

[2021-03-10 15:11] kjellr commented on #3161
Just noting that the **Subscription Form and Links** pattern was almost ready to go, but during testing we uncovered another Jetpack bug that made it rough to use (https://github.com/Automattic/jetpack/issues/19113). The pattern has been temporarily disabled in #3445, and I've unchecked it in the issue above.

[2021-03-10 17:56] scruffian commented on #3418
I made a suggestion for how to achieve this here: https://github.com/Automattic/themes/pull/3447

[2021-03-11 00:11] katiebethbrown commented on #3365
Another report: 28326147-hc

[2021-03-11 02:00] scosgro opened #3452 "Customizer Fonts Stopped Appearing in Editor"
## Steps to replicate

1. Activate a non-global styles theme, like Dyad 2.
2. Set some custom fonts in the Customizer. Per the user's report, a serif font.
3. Save your changes. Go to the editor for a post/page. A default sans-serif font will appear in the editor (though the correct styling does appear on the site itself.
4. User report says that this just changed today, and their custom fonts use

[2021-03-11 02:19] thesacredpath commented on #3452
Let user know in the ticket that this was filed and we are looking into it.

[2021-03-11 05:03] alaczek commented on #3382
This can be seen on https://maylandblockstarter.wordpress.com/
I also noticed this does not happen when the images are linked, not uploaded to the site.

[2021-03-11 08:46] simison commented on #3316
@jffng @jeffikus any ETA for the fix? This is affecting .com flows quite a bit.

Customers see this in signup:

<img width="300" alt="Screenshot 2021-03-11 at 10 43 19" src="https://user-images.githubusercontent.com/87168/110759866-c216bb00-8256-11eb-864f-77ea6029e9a1.png">

<img width="600" alt="Screenshot 2021-03-11 at 10 43 41" src="https://user-images.githubusercontent.com/87168/110759880-c6db

[2021-03-11 09:52] simison commented on #3153
Blank Canvas theme issue: https://github.com/Automattic/themes/issues/3316

[2021-03-11 09:56] simison commented on #3153
Same with Fredrickson

<img width="600" alt="Screenshot 2021-03-11 at 11 55 25" src="https://user-images.githubusercontent.com/87168/110769356-c34ce580-8260-11eb-9a73-406419d0501c.png">

<img width="600" alt="Screenshot 2021-03-11 at 11 55 45" src="https://user-images.githubusercontent.com/87168/110769355-c2b44f00-8260-11eb-92da-d3d526a411e4.png">

Something is broken with button spacing here too,

[2021-03-11 14:40] ianstewart commented on #3153
I don't. But let's make that a separate issue for tracking. :)

[2021-03-11 15:09] simison opened #3453 "Blank canvas: Buttons block big gaps in editor"
## Steps to replicate

- Use Blank canvas theme
- Insert Buttons blocks:
[code]

## Result / expected

Left: editor
Right: frontend of the site

<img width="846" alt="Screenshot 2021-03-11 at 17 04 07" src="https://user-images.githubusercontent.com/87168/110808142-649d6100-828c-11eb-9e58-456f8647f3ab.png">

The same gap is there with Twenty Twenty One theme as well, but it's not as significant as

[2021-03-11 15:09] simison commented on #3153
Roger 👍  https://github.com/Automattic/themes/issues/3453 😃

[2021-03-11 15:17] jffng commented on #3316
@simison thanks for the heads up, looking into this today.

[2021-03-11 19:29] jffng commented on #3316
It looks like this is broken for all themes because of an issue in the colors plugin itself. The editor style handle (`wp-editor-font`) that we attach the custom color variables has changed or been removed. Not sure why we were attaching it to an unrelated style handle in the first place, but there's a patch here:

D58563-code (h/t @jeffikus for the suggestion!)

Should also address https://github

[2021-03-11 21:09] alaczek commented on #3453
I reported this one in Gutenberg: https://github.com/WordPress/gutenberg/issues/28647

[2021-03-11 21:10] alaczek commented on #3441
Look like this is a duplicate of #3316. Closing.

[2021-03-11 21:10] #3441 closed, assigned to nobody

[2021-03-12 01:30] thesacredpath opened #3455 "Dyad 2: submenus longer than window height do not scroll when window width is 1400px or wider"
If a submenu is longer than the height of the browser window, and if window width is 1399px or narrower, the submenu, will scroll with the screen and you can reach all the menu items.

If the window width is 1401px or wider, the submenu will not scroll with the page and the menu items off the bottom of the screen cannot be accessed. It appears this may be a CSS issue, but we were not able to deter

[2021-03-12 02:28] #3388 closed, assigned to nobody

[2021-03-12 06:44] Thelmachido opened #3457 "Dynamic News: not showing sharing buttons on the front page of simple sites"
## Steps to replicate

This site [lsionionnison.com](https://lsionionnison.com/) is using the [Dynamic News theme](https://wordpress.com/theme/dynamic-news), we have made sure that sharing buttons are set to show on posts and the front page of the site in Tools > Marketing > Sharing Buttons.
![Screenshot on 2021-03-12 at 08_15_01](https://user-images.githubusercontent.com/41231764/110901525-2005da

[2021-03-12 08:33] vinnykaur commented on #3280
Another one here: hc-25451080

[2021-03-12 08:34] jeffikus commented on #3382
I'll add this to our board for next week, thanks @alaczek !

[2021-03-12 12:43] scruffian commented on #3316
I merged this on .com.

It's more difficult on atomic because the plugin code is out of sync :(

[2021-03-12 14:57] nerdysandy commented on #2451
Hi! I thought it would be best to update the current issue itself. The Read More button no longer shows whether or not there is Post Excerpt added. Reported on #3815036-zen

[2021-03-12 15:17] pbking commented on #3419
This was (at least partially) addressed in #3449.  Editor styles still do not reflect the view and to finalize that work will need to be accomplished.

There was still some [ongoing discussion](https://github.com/Automattic/themes/pull/3449#discussion_r591921696) of "default block alignment in wide/full group blocks we may need to revisit.

Not closing this until we understand both the timeline an

[2021-03-12 15:33] pbking commented on #3419
A few notes about an experiment combining BCB with "Rething FSE alignments"

[2021-03-12 15:35] jffng commented on #3382
Images are missing reset styles, like this: https://github.com/Automattic/themes/pull/3450

[2021-03-12 16:36] synora commented on #3399
@MaggieCabrera this Spotify issue seems to be occurring with the Patch theme. Can your team take a look into this?

[2021-03-13 16:01] msilbers commented on #2451
I stumbled upon #3815036-zen and the Read More buttons do work without an excerpt, so the issue is just that they don't show with one set specifically.

[2021-03-13 19:29] scosgro opened #3461 "Sketch: Navigation Block gets oddly aligned square points next to nav items."
## Steps to replicate

1. Activate Sketch
2. Start a new page, and build it like you're manually creating a homepage/header. Add a logo at the top, then add a Navigation Block underneath it.
3. Publish the page, and view the Navigation Block

## Result
The Navigation Block comes with some heavily indented square points next to each item, coming from the ul ul list styling.
![image](https://user-im

[2021-03-13 19:51] msilbers opened #3462 "Spatial: Unexpected Behavior with Content Options and Posts Carousel block"
## Steps to replicate

1. Set Spatial theme on site
2. Add Posts Carousel block to homepage
3. Uncheck the Content Options box for displaying Featured Images on Pages
4. The Posts Carousel block will show in the Editor but not in Preview or on the live site

## Result

Instead of displaying the Posts Carousel, you see only the Pause or Play button.

<img width="695" alt="Screen Shot 2021-03-13 at

[2021-03-13 20:37] RealCarFax opened #3463 "Fortune Theme: Site Title font style inconsistent"
## Steps to replicate

On the homepage, the site title is using the **Heading** font style.
Screenshot: https://d.pr/i/Un1ywi/WcV4DZuY5m

On the other pages, the site title is using the **Base** font style.
Screenshot: https://d.pr/i/nGk9fy/1u9AqYDwDF

## Result

The site title font is not consistent throughout the site.

## Expected

The site title font should be consistent throughout the site, i

[2021-03-13 20:48] carinapilar commented on #2389
Also got a report on 9295643-hc.

[2021-03-13 20:59] scosgro opened #3483 "Multiple Themes: Cover Block with White Background defaults to White Font, text goes "missing""
### Steps to reproduce the behavior

1. Go to Site - Pages and create a page.
2. Add a Cover Block to it, and make the Cover Block have a white background.
3. Add some text on top of that Cover Block.

#### What I expected to happen
The font color to be black, or some other contrasting color that would be visible on the Cover Block.

#### What actually happened
The font color automatically default

[2021-03-14 06:19] hacchism opened #3464 "Pena: Content overlap with the combination of Full-Width template/Columns/Media & Text Block"
## Steps to replicate

1. Activate the Pena theme: https://wordpress.com/theme/pena/
2. Create a new page
3. Set page template to "Full Width, No Sidebar" (or "Grid")
4. Add a Layout Grid Block (or a Column block)
5. Add Media & Text blocks to the columns
6. Publish & go to the page

## Result

Media & Text blocks are stacking over each other:

![fzgvks0a2izr947](https://user-images.githubusercont

[2021-03-14 17:12] chad1008 opened #3465 "Obsidian: Buttons Block invisible on lighter colored backgrounds"
## Steps to replicate

1. Create a new post or page
2. Add a Buttons block with at least one button. Leave color settings at default values.
3. In the Customizer, change the background color of the site to white
4. View the page you created in steps 1 & 2

## Result

The button is transparent until hovered over:

![Screen Capture on 2021-03-14 at 12-51-00](https://user-images.githubusercontent.com

[2021-03-14 20:05] sourourn opened #3466 "Blink: posts feed settings not working on atomic sites"
## Steps to replicate

1. Select to display latest posts on homepage
2. Go to Settings > Writing > Change number of posts to display under blog posts and feed settings:

<img width="948" alt="Screen Shot 2021-03-14 at 15 56 17" src="https://user-images.githubusercontent.com/39188945/111082307-ef28cf00-84dd-11eb-8de5-c31d714fe38b.png">

3. Check the homepage

## Result

Number of posts displayed on

[2021-03-15 04:39] kaitohm opened #3467 "Rockfield: Color in Customizer and frontend are different"
## Steps to replicate

* Apply theme Rockfield
* Chance the second color swatch in `Customizer > Colors & Background' to any custom color
* Confirm the header shows the selected in the Customizer preview

![Customizer-preview](https://user-images.githubusercontent.com/49054298/111103858-b72f9380-8592-11eb-9a70-772c350d169d.png)

## Result

* The color of the header bar is incorrect on the live sit

[2021-03-15 11:19] aisajib commented on #679
Just ahead of this bug's two-year anniversary tomorrow, I just got a report in #19684679-hc :(

[2021-03-15 16:02] scruffian opened #3468 "Seedlet Blocks: Figure out a way to enable/disable fonts on a block theme"
From https://github.com/Automattic/themes/pull/3447

We need a way to enable/disable fonts on a block theme depending on the user's language.

[2021-03-15 16:20] scruffian commented on #3418
Closed by #3447

[2021-03-15 16:20] #3418 closed, assigned to jffng

[2021-03-15 17:58] azollafox opened #3472 "Shawburn: LaTeX shortcodes poorly displayed"
## Steps to replicate

1. Activate Shawburn
2. Add LaTeX shortcode to a page or post
3. Publish

## Result

The image results of the shortcode are too large and thus look bad
![latex](https://user-images.githubusercontent.com/7907292/111198606-1d69e580-8596-11eb-8287-5d52cfb7e56b.png)

## Expected

I would expect the results to look more like what we see in Twenty Twenty-One
![2021 latex](https://

[2021-03-15 18:16] chad1008 opened #3473 "Dicot: Post thumbnail width is limited in Blog Post Blocks"
## Steps to replicate

1. Create a new post with a Blog Posts block
2. Set the block to display three columns
3. Set the block to  show the featured images of posts (make sure your posts have featured images assigned)
4. Notice the thumbnails fill the columns in the editor
5. View the front end of the site

## Result
The thumbnails only fill about half of the column, which differs from the editor

[2021-03-16 02:49] alaczek opened #3475 "Alves: "Launch your site" banner obscures mobile menu"
## Steps to replicate
1. Using a mobile device create a new site and select Doyle starter design during signup. Do not launch the site.
2. Preview the site and click on the "Menu" button to open the mobile nav menu.
3. Note that the menu is hidden below the "Launch your site banner". To view the menu (and close it) the banner needs to be dismissed first.

**Expected behavior:**
I think in this ins

[2021-03-16 09:49] thabotswana commented on #2814
Another report here: 3824752-zen

[2021-03-16 15:50] cathymcbride commented on #3483
@ianstewart is this is theme issue? Since it doesn't repro on seedlet?

[2021-03-16 18:53] azollafox commented on #2394
This came up again in 28451778-hc.

I had to add this CSS to the customizer to correct it. The work around above did not work.

[code]

[2021-03-16 20:37] ianstewart commented on #3483
@jeffikus this one looks like a theme issue. Extends beyond the Varia child themes listed above to Twenty Twenty but not all themes, as noted with Seedlet above, or in Twenty Nineteen in my own test.

[2021-03-16 23:38] deancroyal commented on #3114
A user in WP.com forums brought it to our attention today: https://wordpress.com/forums/topic/stratford-theme-heading-stuck-under-menu-on-mobile/

Here is a screenshot of their site on iPhone X using iOS (Safari) 14.4. Notice how the `Menu` button overlaps the last two letters "ne" in the site title, "Innovation in Migraine".

<img src="https://user-images.githubusercontent.com/13387217/111393102-

[2021-03-17 06:33] edwinho89 opened #3479 "Dyad 2: Site Header Overlapped Site Content with Low Padding-top"
## Steps to replicate

When viewing a post or category page, the site header overlapped site content due to smaller padding on top.

## Result

![image link 2](https://cldup.com/93fpec07DX.png)
image link: https://cloudup.com/ckdloG_VMf9

## Expected

By refreshing or resizing screen of the page, the page now loads correctly with the assigned padding.

![image link 3](https://cldup.com/65RPTAEtrZ.

[2021-03-17 08:24] Robertght opened #3480 "Hemingway Rewritten - Contact form text area not visible when out of focus"
## Steps to replicate

1. Create a contact form
2. Make sure that from Colors&Background, the background color is a dark one.
3. Try to write some text on the Message(textarea) field and click outside the form.

## Result

The text will become white, with a white background.

![image](https://d.pr/i/HGKi68+)

Link to GIF: https://d.pr/i/HGKi68

## Expected

To see the text with the same color as w

[2021-03-17 12:33] zdenys opened #3481 "Passenger: Footer credit not changing or hiding"
## Steps to replicate

1. Activate Passenger theme on WoA (Atomic) Site
2. Go to WordPress.com > My Sites > Design > Customize > Site Identity > Footer Credit
3. Choose any option in the list, including `Hide`

## Result

The footer credit does not change or hide

https://user-images.githubusercontent.com/39308239/111467754-7cae2e00-872d-11eb-93fe-0d310436ff84.mov

## Expected

See the footer chan

[2021-03-17 12:34] zdenys commented on #3481
User report: 28428005-hc

[2021-03-17 14:51] zdenys opened #3484 "Twenty Twenty: Quote Block is left-aligned in the backend (editor) but is centered on the frontend"
## Steps to replicate

Add a [Quote Block](https://wordpress.com/support/wordpress-editor/blocks/quote-block/) into a Page or Post

## Result

Quote Block is left aligned

![](https://d.pr/i/u23Hor+)
_Link: https://d.pr/i/u23Hor_

## Expected

Quote Block should be centered, just like it's appearing on the front-end:

![](https://d.pr/i/2naj3U+)
_Link: https://d.pr/i/2naj3U_

#dogfooding

[2021-03-17 16:44] sbathompson-he commented on #2963
8674520-hc Reported this as well.

[2021-03-17 18:16] pbking opened #3486 "Evaluate what shims can be removed from BCB"
There is a [change coming in Gutenberg](https://github.com/WordPress/gutenberg/pull/29941) which will allow for the configuration of any style that has been [registered here](https://github.com/WordPress/gutenberg/blob/trunk/lib/class-wp-theme-json.php#L259).

Those attributes include:
[code]

Any block that has custom styles that targets any of the above attributes MIGHT be ripe to refactor.  It'

[2021-03-17 20:57] thesacredpath opened #3488 "Apostrophe 2 (AT): duplicate featured images on blog page"
User just switched to Business (AT) without theme change and the blog page, set as the main page, was showing duplicate featured images. They have content options set to pull first image in post as featured image. In following screenshot, the post showing only one image has a featured image set in the post editor. The other two do not have a featured image set.

Screenshot with lazy images on:
htt

[2021-03-18 08:22] edwinho89 commented on #3480
Adding a note that this CSS code may have caused the textarea in white.

[code]

It is `textarea:focus` that made the text visible while typing.

![image link 2](https://cldup.com/4VzUw1mJQl.png)
image link: https://cloudup.com/cxa1XreGxFl

[2021-03-18 10:50] devNigel opened #3489 "Shawburn: Not able to change Main Color in Pullquote block"
## Steps to replicate

1. Activate Shawburn theme on Simple site. ( Not able to reproduce on AT ).
2. Add Pullquote block to a page or post
3. You will notice it is not possible to change Main Color of the Pullquote block from the editor. Instead, Pullquote takes the Foreground color set in Customizer > Colors & Backgrounds as the background color.

## Result

The Main Color selection for Pullquot

[2021-03-18 13:13] aleone89 commented on #3280
This has been reported on Twitter here: https://twitter.com/SifaPoulton/status/1372516404700790785 the theme in use is Independent Publisher 2

[2021-03-18 15:09] aleone89 commented on #3280
This has been reported in the forums here: https://wordpress.com/forums/topic/editor-font-randomly-changes/ the theme in use is Sela

[2021-03-18 16:28] ianstewart commented on #3369
In the meantime, is it possible to do it manually when merging the theme to WP.com? It can look broken in the Editor.

[2021-03-18 16:59] kjellr commented on #3316
I'm still seeing this issue on Simple Sites when testing Blank Canvas patterns. I've selected one of the pre-made palettes in the Customizer, and it's not reflected at all in the editor.

Editor:

<img width="1163" alt="Screen Shot 2021-03-18 at 12 58 00 PM" src="https://user-images.githubusercontent.com/1202812/111665960-a0cf4500-87e9-11eb-9db7-9259d5c2cf71.png">

Front End:

<img width="1126" al

[2021-03-19 00:37] alaczek opened #3490 "Blank Canvas: A couple patterns look off with custom color palette"
## Steps to replicate
1. Activate Blank Canvas theme.
2. Go to Customizer > Colors & Backgrounds, and pick the color palette with dark background:
![image](https://user-images.githubusercontent.com/4550351/111714990-ff0e2d80-88a6-11eb-9939-0ea693dc06c2.png)
3. Open the editor, and click on the "+" button in the top right corner to open pattern inserter.
4. Select "Link in bio" category and scroll

[2021-03-19 01:09] erricgunawan commented on #3280
Reported on 28246108-hc and followed up on 3835024-zen

It happens on multiple sites with multiple retired themes (i.e. Chateau, Panel)

[2021-03-19 04:03] danieldudzic commented on #2361
Hi @davipontesblog!

Thanks for the report, and thank you @arcangelini for the PR.

I have spent some time, digging into this issue, and unfortunately, I don't see an easy, correct fix.

The problem is not Varia specific but affects all Gutenberg themes, including Seedlet, Twenty Twenty One and even Storefront - so a fix should be applied on a higher level to avoid patching up all themes individua

[2021-03-19 08:50] simranvijwani opened #3491 "Afterlight: Quote block does not display the left border in the editor"
## Steps to replicate

1. Add a Quote block
2. Add some text to the block

## Result

The left border does not show up in the block in the page/post editor.

![Xnip2021-03-19_14-10-48](https://user-images.githubusercontent.com/34896144/111753501-f163a280-88bc-11eb-9a55-474a52d267e8.jpg)

It does show up when we preview the page/post or publish it.

## Expected

The left border shows up in the bloc

[2021-03-19 08:56] aleone89 commented on #3280
This has been reported in the forums here: https://wordpress.com/forums/topic/why-cant-i-choose-classical-editor-in-my-wordpress-dashboard-anymore/ the theme in use is Lodestar

[2021-03-19 12:18] ralucaStan commented on #2361
Hi @danieldudzic! We were not aware of this issue.
From what I've tested it doesn't look like it's theme-specific so maybe the ticket is more appropriate for WC core.

One thing I noticed during my testing is that I can however get to show the `[woocommerce_cart]` on the page. Did you try testing with other shortcodes?

Hope this helps.

[2021-03-19 12:28] kjellr commented on #3369
We _could_ do that: Basically: create a commit to handle it on .com-only (not here on GitHub), and try to remember to keep it unchanged even if we make further edits to that file. 😅

cc @jeffikus in case you have any other ideas.

[2021-03-19 15:46] zdenys opened #3492 "Nikau: Some colors set for links and headings are not rendered as expected, but as a different shade"
## Steps to replicate

1. Activate https://wordpress.com/theme/nikau on Simple or WoA site
2. Go to WordPress.com > My Sites > Design > Customize > Colors & Backgrounds
3. Set the color `#fcd21c` for the Links or the Headings (or try some other colors from `pick your own color` link)

## Result

On the front-end, the color is completely different (e.g. for `#fcd21c` set, the color rendered is actu

[2021-03-19 15:57] aleone89 opened #3493 "Cerauno: Collapsible Content (accordion effect) missing arrow icon"
## Steps to replicate

1. Activate Cerauno > Add new page or post.
2. Add HTML block
3. Add the following:

`<details>
  <summary>What can you use WordPress.com for?</summary>
    <ul>
     <li>To blog!</li>
     <li>To showcase my professional work.</li>
     <li>To create an online presence for my business.</li>
   </ul>
</details>`

As per: https://wordpress.com/support/advanced-html/#collapsib

[2021-03-19 17:26] AtrumGeost commented on #2919
Got another report here:

28520626-hc

[2021-03-19 18:47] simison commented on #3280
another in p1616175586038800-slack-gutenberg-on-dotcom

Gutenberg: v10.2.1
https://wordpress.com/theme/nucleare

[2021-03-20 21:14] arcangelini commented on #2361
Thanks @danieldudzic

Is this something I should submit to WC core? I would be happy to write this up in the necessary channel. I think with the Product Blocks this may not be an issue. However, maybe the shortcode is something that is worth submitting? Let me know your thoughts.

[2021-03-20 21:23] jordesign commented on #3280
Another report in #3839734-zen
Gutenberg: v10.2.1
Theme: Baskerville 2

[2021-03-21 11:15] rickmgithub opened #3496 "Google Apps shortcode not aligning in 2021"
PROBLEM:
The Custom HTML block on sDW2C-test-p2 shows Google Apps aligned to the left. It only happens on the 2021 theme

WHAT I FOUND:
* They are using a GoogleApps shortcode in a custom HTML block like this - https://wordpress.com/support/google-docs/

WHAT I DID:
* On a test site I tried 2021 with the same embed code and it also goes directly to the left of the page - (screenshot) https://d.pr/

[2021-03-21 13:42] mrfoxtalbot opened #3497 "Varia Themes: Custom Excerpts show on archives (category, date, search and author) but NOT on home or blog pages."
## Steps to replicate

1. Create a new post
2. Give it a custom excerpt
3. Set a Varia Child theme
4. Head to a listing/archive where this post should show

<img width="955" alt="Screen Shot 2021-03-21 at 14 27 17" src="https://user-images.githubusercontent.com/4452464/111906837-e6db1180-8a52-11eb-9450-93bb1deceb0a.png">

I was able to reproduce this with all the Varia Child themes I tried.

## Re

[2021-03-21 13:59] mrfoxtalbot opened #3498 "Spearhead: Custom excerpts are not being shown"
1.Create a new post
2.Give it a custom excerpt
3. Activate Spearhead
4. Head to a listing/archive where this post should show

![Screen Shot on 2021-03-21 at 14:57:58](https://user-images.githubusercontent.com/4452464/111907492-e001ce00-8a55-11eb-8b83-9e4239e27df2.png)

I noticed that custom excerpts do NOT show anywhere

Home/Blog
![Screen Shot on 2021-03-21 at 14:45:12](https://user-images.githu

[2021-03-21 14:04] mrfoxtalbot opened #3499 "Seedlet: Custom excerpts are not being shown"
1. Create a new post
2. Give it a custom excerpt
3. Activate Seedlet
4. Head to a listing/archive where this post should show

![Screen Shot on 2021-03-21 at 15:03:32](https://user-images.githubusercontent.com/4452464/111907659-9cf42a80-8a56-11eb-8a41-ac7bdb87845b.png)

I noticed that custom excerpts do NOT show anywhere:

Home/Blog
![Screen Shot on 2021-03-21 at 15:03:01](https://user-images.gith

[2021-03-21 16:03] lakellie commented on #3280
Another report in #3840473-zen
Theme: Baskerville 2

[2021-03-22 03:20] danieldudzic commented on #2361
@arcangelini I have now opened an issue for this in the WooCommerce repo: https://github.com/woocommerce/woocommerce/issues/29456

[2021-03-22 03:20] #2361 closed

[2021-03-22 08:48] kspilarski commented on #3279
Same case as these themes (Read More is not getting applied):

- Twenty Twenty One
- Dara
- Seedlet

[2021-03-22 09:59] Nic-Sevic commented on #1922
Saw similar issue here: 3840248-zen

user added a latest posts block and the featured images took over entire page and hide all content except cover block
<img width="1253" alt="Markup 2021-03-22 at 11 57 51" src="https://user-images.githubusercontent.com/47717887/111972285-f9625300-8b05-11eb-92d4-bb04a64f1bc6.png">

[2021-03-22 10:13] Thelmachido opened #3500 "illustratr theme: Sections on the home page overlapping"
## Steps to replicate

1. If you add the [ILLUSTRATR theme](https://illustratrdemo.wordpress.com/)  to your site, some of the sections on the home page will be cutoff/overlapping - https://d.pr/i/APQo8v.

<img width="1540" alt="Screen Shot on 2021-03-20 at 14-58-26" src="https://user-images.githubusercontent.com/41231764/174938250-e6d41b0f-e162-42ea-b80b-bb14c12b910d.png">

## Expected

Expected c

[2021-03-22 12:09] WunderBart commented on #3280
👋 This is now (hot)fixed via D59109-code on Simple sites (v10.2.1). Atomic sites should receive the fix with the v10.3.0 upgrade. cc @simison

[2021-03-22 14:26] jffng commented on #3419
Closed by #3459 mostly.

[2021-03-22 14:26] #3419 closed, assigned to nobody

[2021-03-22 14:52] scruffian opened #3502 "Blank Canvas Blocks: Use Gutenberg's media queries"
To make it easier for themes to match the editor we should reuse the media queries from Gutenberg.

[2021-03-22 15:07] simison commented on #3316
@scruffian any news on the Atomic plugin version for this?

[2021-03-22 16:43] scruffian commented on #3316
I guess we should try to get a fix for the simple sites version before we look at Atomic.

[2021-03-22 16:47] simison commented on #3316
Oh, I thought the simple sites were fixed when you said "I merged this on .com." in https://github.com/Automattic/themes/issues/3316#issuecomment-797467104 , assuming "this" was D58563-code.

[2021-03-22 16:51] scruffian commented on #3316
Yeah that's what I thought at the time but then @kjellr found the issue above so there still seems to be an issue there. It's on our list to look at but it's a long list :)

[2021-03-22 18:03] mikeicode opened #3507 "Melody: Quote blocks are wider than the content area"
The theme has CSS which makes blockquotes wider than 100% width, which causes the Quote block to be wider than the content.

[code]

The theme has this CSS which sets the width to 100% over 1023px:

[code]

If you view the content right below that width it will overflow:

![https://d.pr/i/0hMHzp](https://d.pr/i/0hMHzp+)

If you deactivate the sidebar via the `Customizer > Theme Options > Post side

[2021-03-22 18:36] pbking commented on #3486
This was accomplished in #3487 and can be closed.  (Evaluation will be ongoing as Gutenberg progresses however.)

[2021-03-22 18:36] #3486 closed, assigned to nobody

[2021-03-22 19:03] liviopv opened #3508 "Natural: padding-top for the Embed Block creates unwanted white space"
## Steps to replicate

1. Activate the Natural theme
2. Add an Embed Block such as Twitter or Facebook into a page
3. There will be a big white space before the block

## Result

![Screenshot](https://d.pr/i/vidxLL+)
Screenshot: https://d.pr/i/vidxLL

## Expected

The Block shouldn't have such a huge padding.

## More

Adding the CSS below fixes the issue:

[code]

* User report: 10339045-hc

[2021-03-22 19:42] jordesign opened #3509 "Photographer theme: 'Footer Text' setting in Customizer not rendered in theme"
## Steps to replicate

* Activate 'Photographer' theme
* Open the Customize > Footer and add a value to the 'Footer Text' option

## Result

No change to the footer of the site

<img width="1689" alt="Screen Shot 2021-03-23 at 6 26 40 am" src="https://user-images.githubusercontent.com/1842363/112048598-b0aca780-8ba2-11eb-8ce9-c0429b92a852.png">

## Expected

Text entered into the option to be disp

[2021-03-22 19:51] jordesign commented on #3509
Interestingly - when I tried checking the WPCOM version of the theme on Jurassic Ninja (https://mc.a8c.com/themes/downloads/) I don't get the Footer Text option at all - just the generic theme footer.

<img width="1666" alt="Screen Shot 2021-03-23 at 6 48 22 am" src="https://user-images.githubusercontent.com/1842363/112049595-f453e100-8ba3-11eb-9d93-ea70ffcdfbe0.png">

[2021-03-22 22:07] danieldudzic commented on #2427
This should be now fixed via r58006

[2021-03-22 22:07] #2427 closed

[2021-03-22 22:07] danieldudzic commented on #2814
This should be now fixed via r58006

[2021-03-22 22:07] #2814 closed, assigned to danieldudzic

[2021-03-23 13:42] mikeicode opened #3512 "Luxury: WooCommerce cart causes menu misalignment"
If you activate WooCommerce a cart is added to the right menu but is below the other menu items, it should be inline.

## Steps to replicate

* Activate WooCommerce on a site with the Luxury theme
* Add a menu to the right menu location in the Customizer
* View Menu

## Result

WooCommerce cart is below the other menu items, pushing the main menu too high.

![https://d.pr/i/0NVA8k](https://d.pr/i/

[2021-03-23 15:03] pbking commented on #3502
Closed by #3505

[2021-03-23 15:03] #3502 closed, assigned to nobody

[2021-03-23 15:32] pbking commented on #3413
Core blocks evaluated, styled and ponyfilled where necessary.

Closing this up; additional singular changes can be opened as needed.

[2021-03-23 15:32] #3413 closed, assigned to nobody

[2021-03-23 15:36] aleone89 commented on #3280
This has been reported here: https://wordpress.com/forums/topic/post-editor-formatting-suddenly-stopped-matching-blog-format/

[2021-03-23 16:20] pbking commented on #3420
The BESTEST solution seems to be represented here: WordPress/gutenberg#30147

I'm going to close this in lieu of that proven solution.

[2021-03-23 16:21] #3420 closed, assigned to nobody

[2021-03-23 16:36] msilbers opened #3515 "Multiple themes: Quote blocks indistinguishable from paragraph blocks"
This is specific to the editor view and not published or preview views.

## Steps to replicate

1. Open a site with Nucleare theme
2. Add a post or page with paragraphs and quotes
3. Stay in the editor

## Result

You can't distinguish paragraph and quotes from each other.

<img width="555" alt="Screen Shot 2021-03-23 at 12 31 43 PM" src="https://user-images.githubusercontent.com/31680407/11218296

[2021-03-23 17:15] ianstewart opened #3516 "Storefront:"
Storefront is our recommended and premier WooCommerce Theme. Its Theme Showcase page could use a little love. :)

![image](https://user-images.githubusercontent.com/545779/112188752-43fcd180-8bd1-11eb-85f2-de9d592e642d.png)

[2021-03-23 18:44] nickpagz commented on #2525
FWIW, this also happened on Twenty Twenty-One.
#28584796-hc
The css fix above worked here as well.

Reported here:
https://github.com/Automattic/themes/issues/3517

[2021-03-23 18:50] nickpagz opened #3517 "Distorted Featured Images on Pages with Blog Posts block"
## Steps to replicate

Add a blog posts block to a page on a site with the Twenty Twenty-One theme active.
Set it to show featured images and titles and excerpts.

## Result

The featured images appear on the live site, and they are distorted (tall and narrow instead of landscape).

## Expected

The blog posts block to display similarly to how it looks in the editor.

The CSS code from [this GH is

[2021-03-23 21:44] #3384 closed, assigned to danieldudzic, jeffikus

[2021-03-23 22:54] selectedselections opened #3518 "Restaurant: Make fourth featured page click-able"
## Steps to replicate

Chrome 89/OS X 11.2.3

1. Visit https://restaurantthemedemo.wordpress.com/
2. The fourth featured page (titled ["Featured Page Bottom" in customize tool](https://d.pr/i/IOujqU)) [shown here](https://d.pr/i/asM8S9) cannot be visited when selected

## Result

Nothing happens when you click on the page title

## Expected

All of the featured pages are accessible from the home p

[2021-03-23 23:16] tanjoymor opened #3521 "TheFour: Button block settings not holding for live site"
### Steps to reproduce the behavior

1. Add a button block
2. Change the settings: Outline, Text color, Background color
3. See error

#### What I expected to happen

I expected the site to reflect the button settings I applied: https://d.pr/i/qEQlpC

#### What actually happened

The settings were ignored: https://d.pr/i/ug7gNL

Reported here: 28601731-hc
Reproduced in my own test site.

[2021-03-24 00:10] tanjoymor commented on #3521
In addition to the above, the customer site where it was reported, did have CSS for the following selectors that is no longer working:

[code]

The selectors for the same button seem to be different now:

[code]

[2021-03-24 07:20] Robertght opened #3519 "Rowling: Tag Cloud Looks Different and is no longer a cloud on Atomic"
Same as in #2132

### Steps to replicate

1. Activate a theme that has widget locations on a Simple Business Plan site (Rowling discovered/thoroughly tested).
2. Create a number of posts and add tags to them.
3. Add a Tag Cloud widget.
4. Look at the Tag Cloud widget. It should have varying font sizes.
5. Go Atomic.
6.
Refresh the page and look at the Tag Cloud widget. It now has uniform font size

[2021-03-24 07:38] rinazrina commented on #3280
Another report #3848009-zen
Theme: Lovecraft

[2021-03-24 09:12] kylemcph commented on #3069
There was a [user in the forums that pointed this out as well](https://wordpress.com/forums/topic/new-problems-in-twenty-eleven/). @danieldudzic it is explained better there how to reproduce this issue.

Here’s how it worked in 2013: https://web.archive.org/web/20131209175521/https://twentyelevendemo.wordpress.com/2011/05/04/featured-posts-in-twenty-eleven/

vs. now: https://twentyelevendemo.wordp

[2021-03-24 13:44] mikeicode opened #3520 "Varia children, Blank Canvas, Seedlet, Spearhead - Mobile menu same page jump links don't work"
Certain themes have a mobile menu that overlays the content of the page. Page jumps to anchor links on the same page don’t work within the mobile menu. The URL changes in the browser bar but the menu doesn’t close and the page doesn’t scroll down.

## Steps to replicate

* Activate Hever on a test site
* Add a heading lower on a page with an anchor link.
* Create a custom link in the menu to this

[2021-03-24 13:44] kjellr commented on #3415
I took a look at the existing Blank Canvas patterns, and they're looking way off at this point:

A few obvious bugs:

- Full-width doesn't go full width, there are other content-width errors throughout.
- The page title is present. (Should I be switching to a different template here? Not sure how that is supposed to work)
- The theme colors used in the original theme don't match up with those in B

[2021-03-24 17:24] melchoyce opened #3523 "Blank Canvas: Add "Coming Soon" Patterns"
I've designed a number of "Coming Soon" patterns for Blank Canvas:

![image](https://user-images.githubusercontent.com/2846578/112354786-66f7b600-8ca3-11eb-9c0c-c049bbadcc8c.png)

[code]

I need to turn this into a PR.

[2021-03-25 05:37] thesacredpath opened #3524 "Sobe: Menu hover only working on some menu items"
On the user's home page, if you hover over Letters, Stuff We Like, the hover color flashes for a moment and then gone. If you slowly move the mouse up and down, you can get another flash of the hover color. On last two menu items, Our Story and Write to Us, the menu item hover color change works as expected. If you go to a different page and hover over Welcome, it flashes the hover color and then

[2021-03-25 08:56] Nic-Sevic opened #3525 "Orvis: Blog post block displays featured images incorrectly"
## Steps to replicate

1. Create a page with the blog posts block and set the post type to projects
2. Display in grid mode with any number of columns
3. Created portfolio posts with featured images
4. Check difference between editor and preview/live page

Editor
<img width="1256" alt="Markup 2021-03-25 at 10 50 58" src="https://user-images.githubusercontent.com/47717887/112446097-843a8c00-8d58-11

[2021-03-25 10:46] daria2303 opened #3526 "Barnsbury: cursor changes to pointer without the links on Homepage"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]
1. Install Barsbury (Premium plan)
2. Visit home page (other pages are ok)

## Result

Cursor is pointer everywhere below the first block is used.

## Expected

Cursor only changing to pointer on the links.

* User report: https://mc.a8c.com:443/support-stats/happychat

[2021-03-25 11:08] silvio-meter commented on #3500
The issue seems to affect only Columns Blocks with Wide Width alignment:

![Optional alternative text if image doesn't load](https://groovytestingsite.files.wordpress.com/2021/03/screenshot-on-2021-03-25-at-12-05-13.png)
--

Changing the alignment to Full Width works as a temporary fix.

[2021-03-25 11:23] ivan-ottinger opened #3527 "Rosalie: Buttons block color settings are being overridden (front-end only)"
## Steps to replicate

1. Add Buttons block to a page.
2. Change its color settings.
3. Save the changs and review the page in the front-end.

Editor:
![Markup on 2021-03-25 at 12:20:15](https://user-images.githubusercontent.com/25105483/112465236-c8cc2480-8d64-11eb-887c-9941037f9b73.png)

Front-end:
![Markup on 2021-03-25 at 12:20:37](https://user-images.githubusercontent.com/25105483/112465250-c

[2021-03-25 12:29] kathrynwp commented on #3519
This is an issue in other themes as well, and seems to be be a problem in the widget itself.

I found at least one ticket (4933) in the old themes Trac reporting this with Lovecraft, 3 years ago, which included this:

[2021-03-25 22:11] scosgro opened #3529 "Button 2 - Excerpt settings don't work in the Customizer"
## Steps to replicate

1. Have a site with multiple posts on it. Some of them longer.
2. Activate Button 2.
3. Make sure that Infinite Scroll is turned off.
4. Set the posts per page to something small (like 3) under Settings - Writing - Content Types.
5. Open the Customizer. Set Your Latest Posts as the homepage.
6. Under Content Options, set Post Excerpt.
7. Save your changes, view your new home

[2021-03-26 00:40] alaczek commented on #3379
I'm also seeing a broken image icon in the footer on sites using Mayland Blocks:
![image](https://user-images.githubusercontent.com/4550351/112560741-eca46e80-8e27-11eb-9ee3-4f57f3989311.png)

[2021-03-26 00:43] alaczek commented on #3389
This one seems to be resolved now, closing!

[2021-03-26 00:43] #3389 closed, assigned to nobody

[2021-03-26 01:44] alaczek opened #3530 "Mayland Blocks: Links not visible on primary background color"
This feels similar to #3242

## Steps to replicate (On a site with full site editing enabled and Mayland Blocks active)
1. Create a post or a page, and add a group block. Set background color to black, text, and link color to white.
2. Inside the group block add two paragraphs. Turn one of them into a link.
3. Note that both the regular paragraph and link are white in the editor.
4. Save and previ

[2021-03-26 01:55] alaczek commented on #3424
Closing, see PR discussion for details.

[2021-03-26 01:55] #3424 closed, assigned to nobody

[2021-03-26 01:59] alaczek commented on #3530
Similar thing happens with social icons placed in a group block with black background. Here I have text and link colors set on both the group block (same as above), and social icons block.

Editor view:
![image](https://user-images.githubusercontent.com/4550351/112566365-eebffa80-8e32-11eb-94bb-16f7f8ecee52.png)

Preview:
![image](https://user-images.githubusercontent.com/4550351/112566424-1283408

[2021-03-26 03:56] rosepajaroja opened #3531 "Argent: Guide for Project Gallery Carousel Needs Updating"
Line to be updated:

[code]

The guide seems to work for Classic Editor. While we found a workaround to use a Classic Block - it would also be helpful for users if it's clear that the Gallery must be added in a Classic Block (or have the theme updated for Gallery Block instead). It also seems like the feature only works for "Tiled Mosaic" if used on Classic Block.

## Steps to replicate

![Alt tex