[2021-06-04 07:20] noteeth opened #4003 "Melody: Captions do not display for gallery added to classic block"
## Steps to replicate

1. Select 'add media' option in classic block toolbar and select images to add to gallery
2. add captions to gallery images
3. update page and view page on live site

Video demoing caption issue
https://d.pr/v/LeBoFn/8PhipGVpJN

## Result

Captions do not display on hover

## Expected

Captions should display on hover over images as they do on other themes

* User report: 29

[2021-06-04 09:47] jeffikus commented on #1502
Tested, and works.

[2021-06-04 09:47] #1502 closed

[2021-06-04 09:52] jeffikus commented on #1846
Tested with Varia + children, and Twenty Twenty, this seems to be fixed in https://github.com/Automattic/wp-calypso/pull/39702 above.

[2021-06-04 09:52] #1846 closed

[2021-06-04 10:45] MaggieCabrera commented on #3995
Good question! as @pbking explained, we have a few commands ready to make the process easier, but still you can absolutely ignore the sass files and work directly on ponyfill.css and theme.json for configuration and/or styling as you see fit, and forget about the sass files completely if you don't want to use them and want to avoid using the build commands. Thanks for bringing this up, it's good t

[2021-06-04 16:49] ianstewart opened #4004 "Coutoire: columns and menus respond unexpectedly at small screen sizes"
**Columns**

![image](https://user-images.githubusercontent.com/545779/120835922-97bd5c80-c52a-11eb-9cbd-e8aa8c0972e3.png)

**Menus**

![image](https://user-images.githubusercontent.com/545779/120836202-ebc84100-c52a-11eb-8367-09664a7ecec5.png)

[2021-06-04 17:08] ericamQA commented on #4002
Duplicate of #53422

[2021-06-04 17:08] #4002 closed, assigned to nobody

[2021-06-04 17:10] ericamQA commented on #4002
Closed in favor of https://github.com/Automattic/wp-calypso/issues/53422

[2021-06-04 17:48] RafaelFunchal opened #4006 "Healthy Living: WordAds ads don't resize on mobile (iOS)"
## Steps to replicate

Visit heapofspice.com or another site using the theme Healthy Living and running WordAds on either iOS or Safari, emulating iOS

## Result

The site width is huge due to how big WordAds ads are.

![Image from iOS](https://user-images.githubusercontent.com/1847217/120841434-db6f9080-c541-11eb-9c30-afe99f671403.png)

## Expected

We expect WordAds ads to resize automatically b

[2021-06-04 20:46] danieldudzic commented on #3619
This has been now reviewed and deployed

[2021-06-04 20:46] #3619 closed, assigned to danieldudzic

[2021-06-04 22:21] danieldudzic commented on #756
I'm still getting the following, after applying the patch:
![after_applying_the_patch](https://user-images.githubusercontent.com/905781/120868240-e521e400-c593-11eb-928b-0c7fe4ffde56.png)

[2021-06-04 23:10] danieldudzic commented on #1413
Works fine for me 👌

[2021-06-05 00:01] danieldudzic commented on #1995
I'm closing this in favor of: #1919

[2021-06-05 00:01] #1995 closed

[2021-06-05 19:39] RavanH opened #4008 "Seedlet-blocks: Screen shot ignored"
## Steps to replicate

Install Seedlet (Blocks) and visit the Themes admin page.

## Result

The theme does not have a screenshot.

## Expected

The included file Screenshot.png should be visible.

[2021-06-05 19:41] RavanH commented on #4008
Proposed pull #4007 should fix this

[2021-06-05 19:56] RavanH opened #4009 "Mayland-blocks: Author, category, tag and date images not showing"
## Steps to replicate

On a fresh WordPress, install and activate Mayland (Blocks) then visit the Hello World post.

## Result

The author and publication date show below the title and below the post content but without the intended SVG images.

## Expected

The included SVG images in the /assets/svg/ folder should show before the post author, pubdate and taxonomies.

[2021-06-05 20:14] RavanH commented on #4009
Pull request #4010 should fix this

[2021-06-06 01:42] Columbo199X commented on #3168
Hey just wanted to let you know that the problem has come back. All Cover blocks show up squished when I open a post or page in the editor eventhough their alignment is still set to full width.

[2021-06-06 06:07] carolinan opened #4011 "Blockbase: add_theme_support( 'align-wide' ); is not needed"
Hi
Because the theme.json has
[code]
the `add_theme_support( 'align-wide' );` in functions.php is not needed.

[2021-06-06 11:03] henziger commented on #2454
I have the same issue. Any idea when the fix in #2662 is expected to find its way into production?

[2021-06-06 12:19] liviopv opened #4016 "Gemma: Numbered List Block starts with "0" instead of "1" in Safari"
### Steps to reproduce the behavior

1. Open a new page or post
2. Add a numbered list using the List Block
3. Publish the post/page
4. Open the post/page in Safari

#### What I expected to happen

The numbered list should start at "1" like on any other browser

#### What actually happened

The numbered list started at "0" in Safari

### Context

#### Browser / OS version

Mac 11.3.1 / Safari 14.1

[2021-06-06 12:22] liviopv commented on #4016
Using the block options to offset the number sequence doesn't work at all on Gema. Here's a backend/frontend comparison:

![Screenshot](https://d.pr/i/euc5cD+)
Screenshot: https://d.pr/i/euc5cD

[2021-06-06 15:17] philnick206 opened #4012 "Edin: Category archive page shows Edit link"
## Steps to replicate

Open a product category page with products while logged in as an admin on a site

## Result

The Edit link shows at the bottom of the page
The Edit link goes to the following location `/wp-admin/edit.php`

## Expected

No Edit link would be shown

Screenshot:
<img width="1330" alt="Markup 2021-06-06 at 15 46 05" src="https://user-images.githubusercontent.com/51966986/1209298

[2021-06-06 16:28] aisajib commented on #2044
This was reported in 4045047-zen too. I provided the following:

[code]

with complimentary custom design upgrade.

[2021-06-06 18:40] chad1008 opened #4014 "Penscratch 2: Image captions don't respect alignment set in editor"
## Steps to replicate

Create an image block with a caption in the Block Editor, and set the caption to be center aligned. Publish/update the post

## Result

On the frontend, the caption will be left aligned because of this CSS:

[code]
In addition, the user-set alignment on the caption doesn't show up anywhere in the markup (at least not that I could see)

## Expected
The caption alignment shoul

[2021-06-06 18:53] sourourn commented on #2054
Another report: #18867569-hc

[2021-06-06 19:34] azollafox opened #4015 "SOHO: Hiding Title Hides Mobile Menu"
## Steps to replicate

1. Activate Soho
2. Set view in customizer to moible
2. Remove title and description from site in the customizer OR click the hide title+ description option

## Result

![Screen Capture on 2021-06-06 at 13-18-27](https://user-images.githubusercontent.com/7907292/120937599-64223400-c6dc-11eb-9208-ce86502b2c8b.gif)

## Expected

I expected the mobile menu would so no matter wh

[2021-06-07 07:18] inaikem opened #4017 "Rebalance: Footer credit/widget alignment is broken"
The Footer Credit appears floated to the left of the footer area, with widgets taking the equivalent "middle" and "right" columns.

Screenshot:

<img width="1186" alt="Markup 2021-06-07 at 15 11 58" src="https://user-images.githubusercontent.com/66711744/120974470-c5143f80-c7a2-11eb-9ab3-eac0b90062a7.png">

## Steps to replicate

1. Install and activate the Rebalance theme on a Simple site.
2. Add

[2021-06-07 12:16] kspilarski opened #4018 "Hemingway Rewritten: Cover block image height / overflow issue"
## Steps to replicate

- in a page or post, insert Cover block and add texts below it
- preview or publish

## Result

The texts below the cover block are hidden behind the image.

Editor:
<img width="1122" alt="Screen Shot 2021-06-07 at 2 09 39 PM" src="https://user-images.githubusercontent.com/36863633/121014315-21bf2c80-c79a-11eb-9bea-4a3b5209b7d2.png">

Page:
<img width="866" alt="Screen Shot

[2021-06-07 12:31] danieldudzic commented on #1797
Since this isn't a theme issue, I'm happy to close.

[2021-06-07 12:31] #1797 closed

[2021-06-07 13:38] mikeicode opened #4019 "Sapor: Buttons block padding issue"
The theme has CSS padding set for links within the content area, which affects the default button style within the Buttons block, resulting in incorrect padding on the button.

## Steps to replicate

* Add a Buttons block to the page
* Compare the default button style in the editor vs the published page

## Result

Published (incorrect):

![https://d.pr/i/z7XONQ](https://d.pr/i/z7XONQ+)

## Expect

[2021-06-07 14:06] RafaelFunchal commented on #4018
Adding my two cents here.

It seems the issue is caused by the `height: auto;` role added to the [theme style.css file](https://opengrok.a8c.com/source/xref/pub/hemingway-rewritten/style.css?r=58960#1259):

[code]

**`height: auto;` ON**

<img width="717" alt="height-auto-ON" src="https://user-images.githubusercontent.com/1847217/121030714-1ced7f00-c780-11eb-93c1-73180095e528.png">

**`height: aut

[2021-06-07 14:25] mikeicode commented on #2791
Ran into this on 14562619-hc

The issue is the following CSS:

[code]

Which overrides this:

[code]

A temporary solution would be the following:

[code]

[2021-06-07 17:44] the-misha commented on #3754
I have a similar report in 4045623-zd-woothemes. The site is using the Goodz Magazine theme. I was unable to reproduce this in Chrome or Safari.

[2021-06-07 19:31] thesacredpath opened #4021 "Statford: Custom logo showing off to the left instead of centered in header area"
User reported that their logo was off to the left and not centered in the header area. Found this in the existing CSS, which is missing a `margin-left: auto;`.

`#masthead .site-header-wrapper .site-branding {
    -webkit-transition: margin-top .25s ease-in-out;
    -moz-transition: margin-top .25s ease-in-out;
    transition: margin-top .25s ease-in-out;
    margin-right: auto;
}`

You can view t

[2021-06-07 22:03] supernovia opened #4022 "Coutoire: Option to unstick menu"
Just noting requests we've seen from folks who love Coutoire but want an option for the menu to scroll off page. We currently encourage them to switch themes, and keep the front page layout if they like that.

* User report: https://wordpress.com/forums/topic/how-to-do-changes-in-theme-options/

[2021-06-07 22:05] supernovia commented on #4022
Another: https://wordpress.com/forums/topic/help-how-to-turn-off-sticky-header-in-coutoire-theme/

[2021-06-07 22:05] supernovia commented on #4022
https://wordpress.com/forums/topic/menu-288/

[2021-06-07 22:05] supernovia commented on #4022
https://wordpress.com/forums/topic/removing-sticky-title-and-menu/

[2021-06-07 22:05] supernovia commented on #4022
https://wordpress.com/forums/topic/menu-locked-in-place/

[2021-06-07 22:07] supernovia commented on #4022
https://wordpress.com/forums/topic/hi-there-32/

[2021-06-07 22:35] danieldudzic commented on #2449
This doesn't seem to belong in the Maintenance queue. I'm removing it for now.

[2021-06-08 10:33] scruffian commented on #3341
I believe this should be fixed in the block: https://github.com/Automattic/newspack-blocks/pull/768

[2021-06-08 13:09] #3733 closed, assigned to pbking

[2021-06-08 13:46] scruffian commented on #3625
I can't replicate this. Are you seeing it on wordpress.com or Jetpack?

[2021-06-08 13:55] AtrumGeost commented on #3625
Hey @scruffian ! This was happening on WordPress.com.

I wasn't able to replicate the issue anymore. cc @katiebethbrown  in case I missed something during my tests on simple and AT sites.

[2021-06-08 13:58] scruffian commented on #2111
This should now be fixed.

[2021-06-08 13:58] #2111 closed

[2021-06-08 15:13] mikeicode opened #4025 "Olsen: WooCommerce shop product grid layout issue"
Olsen uses floats for the WooCommerce shop landing page:

[code]

 If all products don't have the same amount of content the height of the products is different and the grid is not correct (the floats are not cleared). It would be ideal to use Flexbox instead of floats for this.

## Steps to replicate

* Add multiple WooCommerce products, one with a longer title
* View the shop landing page

## Re

[2021-06-08 15:17] scruffian commented on #3625
I'm going to close this. Feel free to reopen if you see the issue again.

[2021-06-08 15:18] katiebethbrown commented on #3625
I can no longer replicate the original duplication issue with the settings set to:
- excerpt settings: summary
- content options: full text

However, if I set them to:
- excerpt settings: summary
- content options: excerpt OR default

the likes/sharing show in the customizer but don't show at all on the archive pages on the live site, which feels a bit like the inverse of the original issue.

@scr

[2021-06-08 15:23] scruffian commented on #3625
Did you also enable them on archive pages?
<img width="470" alt="Screenshot 2021-06-08 at 16 23 33" src="https://user-images.githubusercontent.com/275961/121213122-e134e100-c875-11eb-8ffa-2439033a0f7b.png">

[2021-06-08 15:24] danieldudzic commented on #3625
I wasn't able to replicate the original issue today, either.

Those settings are duplicates of each other - shouldn't we just disable one (if the other one is present)?

[2021-06-08 16:38] katiebethbrown commented on #3625
Yes.

Agree - the duplication is a bit confusing.

[2021-06-08 17:09] JoshuaGoode opened #4026 "Soho: Logo no longer displaying"
Logos are no longer appearing for sites with the Soho theme. Including the WordPress.com demo.

Does not currently impact WordPress.com on Atomic sites, just Simple.

## Steps to replicate

1. Activate Soho on a Simple site or visit one with it already active.
2. Access Site Identity and set a logo.

## Result

No logo.

![image](https://user-images.githubusercontent.com/4887830/121228155-64483e00

[2021-06-08 17:57] JoshuaGoode commented on #4026
After discussing internally, p1623172456449300-slack-C029FM1EH , appears to be due to recent v10.7.4 Gutenberg patch release.

r226861-wpcom
D62435-code

Started another internal discussion:
p1623174912090300-slack-CBTN58FTJ

[2021-06-08 18:00] danieldudzic commented on #4026
Closing this, as the issue was caused by a Gutenberg update on dotcom.

[2021-06-08 18:00] #4026 closed, assigned to nobody

[2021-06-09 05:43] nagpai opened #4027 "Beacon : WooCommerce Archive pages appear squished."
## Steps to replicate

Install Woocommerce with a few demo products. Check any category or archive page.

## Result
Content column is squished to left
It looks like the whole store is squeezed into the narrow summary column.

![Screen Shot on 2021-06-09 at 11:07:40](https://user-images.githubusercontent.com/4162931/121299378-f14ece00-c912-11eb-96bb-e54e77307484.png)

## Expected

![Screen Shot on

[2021-06-09 09:33] Aljullu commented on #3975
I opened an issue in Gutenberg about this: https://github.com/WordPress/gutenberg/issues/32539.

[2021-06-09 09:33] #3975 closed, assigned to nobody

[2021-06-09 09:50] rezzap opened #4028 "Photographer: Column Block in Editor shows white on white"
## Steps to replicate

1. Create a new post or page and add the Column Block
2. Try to select one column to insert the new block inside the column
3. Similar issue happens with 2 or 3 columns.

## Result

You won't see it in place you'll need to hover to see the + and no borders show making it very difficult to find where content needs to be added.

![Screen Recording 2021-06-09 at 10 42 06 am](ht

[2021-06-09 13:08] marutim opened #4030 "Independent Publisher 2: Form block fields issues in safari"
## Steps to replicate

- Create a form using the form block.
- Open it on the front page in the Safari browser and type in the fields, you will not see the text. This issue can only be replicated with the Safari browser

Issue with the Safari browser:
<img width="1415" alt="Markup 2021-06-09 at 18 29 50" src="https://user-images.githubusercontent.com/3498917/121359195-dbf89480-c950-11eb-8d0b-93f56

[2021-06-09 13:46] danieldudzic commented on #1765
Fix: D62531-code

[2021-06-09 14:12] scruffian commented on #1919
This is happening because TwentyTwenty applies `height: auto` to all object elements. I don't think we should remove that code because it might be doing other things. I also don't think themes should have to make exceptions to rules like this to fix other features. The features should have the rules they need to overcome rules in themes. The best way to fix this IMO is to explicitly set the height

[2021-06-09 14:19] pbking commented on #756
I'm not sure I understand this comment: D62215-code#1280125

The screenshot noted looks appropriate to me.

[2021-06-09 14:35] scruffian commented on #756
The screenshot is how it looks before this change :)

[2021-06-09 14:52] pbking commented on #756
Ah, Ok.
Makes sense.  My method of testing that scenario was giving me a false positive.  TY

![image](https://user-images.githubusercontent.com/146530/121377879-b51a6e00-c910-11eb-9e98-36b0c6b64960.png)

[2021-06-09 15:18] scruffian commented on #756
You should be able to copy my approach here: https://github.com/Automattic/themes/pull/4020

[2021-06-09 16:34] pbking commented on #756
The change works for .org and .com now.

D62215-code

However, the change also introduces quite a lot of changes that should have been on the style-rtl.css already.  Considering the amount a carefull 👀 would be appreciated to ensure it's correct.

[2021-06-09 19:22] #4009 closed, assigned to nobody

[2021-06-09 21:05] kwight commented on #3520
Fixed by @blackjackkent in D62296-code

[2021-06-09 21:32] kwight commented on #3593
Fixed by @DanielSmithMichigan in D62228-code.

[2021-06-09 21:32] #3593 closed, assigned to DanielSmithMichigan

[2021-06-10 04:03] KokkieH commented on #3593
Thank you! I've followed up with the users who reported the issue to let them know.

[2021-06-10 08:31] #3895 closed, assigned to nobody

[2021-06-10 14:28] kwight opened #4036 "Blank Canvas: Improve user experience when adding logo if headers are disabled"
It's possible to see the logo UI and add a logo when the "show header" setting is false (the default). The logo should only be available if a user turns on headers.

See: p58i-aJq-p2

[2021-06-10 16:03] bobmatyas opened #4040 "Intergalactic 2: Image Caption in Block Editor is Too Light to See"
https://wordpress.com/support/wordpress-editor/blocks/image-block/

- Cannot easily add caption on Intergalactic 2 theme
- CSS in block editor is making it too white and it doesn't show in editor

## Steps to replicate

* Add a new image block using Intergalactic 2 theme

## Result

* Once added the caption isn't visible in the editor

In this screenshot you can see that the caption text is displa

[2021-06-10 16:17] bobmatyas commented on #4040
The text rendered by a caption that is inputed via the Media Gallery also renders as white in the editor.

[2021-06-10 16:18] #756 closed

[2021-06-10 16:52] scruffian commented on #1919
This is now deployed

[2021-06-10 16:52] #1919 closed

[2021-06-10 18:06] kathrynwp commented on #4040
Dupe of https://github.com/Automattic/wp-calypso/issues/53422

[2021-06-10 18:06] #4040 closed, assigned to nobody

[2021-06-10 18:22] kathrynwp commented on #4003
Closed in favor of https://github.com/Automattic/wp-calypso/issues/53422

[2021-06-10 18:23] kathrynwp commented on #4003
Reopening as I think it's actually a different issue

[2021-06-10 19:21] Aurorum commented on #1901
PR for this issue in #4041 - it seeks to implement @ianstewart's recommendations above. :)

[2021-06-10 19:21] Aurorum commented on #1838
PR for this issue in #4041. :)

[2021-06-10 19:21] Aurorum commented on #2072
PR for this issue in #4041. :)

[2021-06-10 19:21] Aurorum commented on #4022
PR for this issue in #4041. :)

[2021-06-10 22:38] ianstewart commented on #3140
I haven't tested it yet but should we be expanding this to our two big parent themes?

- Varia
- Seedlet

So all their child themes inherit this?

[2021-06-10 22:44] ianstewart commented on #3140
… and I just noticed @alaczek thought the same thing. I'll update the title. :)

[2021-06-10 23:44] supernovia opened #4042 "Sobe: Blog posts block images are rounded"
## Steps to replicate
Add a blog posts block with these steps:
https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/

If needed, filter for posts that have featured images.

Compare the result in the editor to the result on the site itself.

## Result
Images get a border radius. It's kinda cute really, unless you use the image-behind post option, but still unexpected:
![sobe roun

[2021-06-10 23:56] goblinartificer commented on #4324
Another report of this on Apostrophe 2 in 14192101-hc , following up 4060178-zen ⁠— it looks like the images aren't showing up in the HTML of the rendered block at all

[2021-06-11 06:39] Robertght opened #4043 "Veni: Outdated Featured slider option in the Customizer"
This is showing up in the setup guide:

https://theme.files.wordpress.com/2017/05/sf-slider5.jpg

But it has moved to the Featured Content section.

![image](https://user-images.githubusercontent.com/6737345/121642210-e02fc980-ca98-11eb-895e-37247ca4cced.png)

User report: 4059993-zen

[2021-06-11 10:35] carinapilar opened #4044 "Ocean Mist: Custom Header Image not Available"
## Summary
Although this theme was retired in 2013, it seems it's not letting you set a custom header image from the Customizer anymore. If you go to Customize > Header Image, and try to choose an image from the media library, when trying to save it shows _"Looks like something’s gone wrong. Wait a couple seconds, and then try again."_, it only lets you select the suggested images.

* User report:

[2021-06-11 12:15] scruffian opened #4046 "Quadrat: Update comment styles on WPCOM"
## Steps to replicate

Comment styles on WPCOM need some love
![image-1](https://user-images.githubusercontent.com/275961/121684762-0fedca00-cab7-11eb-9c87-8f4ce0e635bd.png)

From pNEWy-dYW-p2#comment-53274

[2021-06-11 12:16] jeffikus opened #4047 "Quadrat: Add support for Footer Credits"
## Steps to replicate

Reference site for all the screenshot below: https://iantesting609008735.wordpress.com/

Footer credits not showing as expected on WordPress.com

## Result

![footer-credits](https://user-images.githubusercontent.com/937325/121684873-927a8780-cabf-11eb-8035-84e510d7d8e3.png)

## Expected

See any of the Varia themes for working version.

[2021-06-11 12:17] scruffian opened #4048 "Quadrat: Inconsistency in blocks - frontend and editor:"
## Steps to replicate

There are some minor style issues with some blocks in the front-end and in the Editor.
![image-2](https://user-images.githubusercontent.com/275961/121685059-6529db80-cab7-11eb-88d2-5f47f93726b7.png)
![image-3](https://user-images.githubusercontent.com/275961/121685067-665b0880-cab7-11eb-923a-cb36844aa13c.png)
![image-4](https://user-images.githubusercontent.com/275961/121685

[2021-06-11 12:20] jeffikus opened #4049 "Quadrat: Contact styles mismatch between Frontend and Editor"
## Steps to replicate

From a quick glance at the demo site, it seems the Contact textarea does not have the same styles in editor and front-end. Additionally, the submit button is not styled either.

## Result

Editor:

![contact-editor](https://user-images.githubusercontent.com/937325/121685202-ee451080-cabf-11eb-911a-7bdea89d3f96.png)

Frontend:

![contact-front-end](https://user-images.githubu

[2021-06-11 12:57] fresatomica opened #4050 "Intergalactic 2: Galleries inside Classic Block are not aligned with the rest of the content"
## Steps to replicate

When adding a gallery to a Classic Block, the gallery will not be aligned with the rest of the content.

Instead, it will be sticking out to the left, as seen on the screenshot:

<img width="1123" alt="Screen Shot 2021-06-11 at 14 54 28" src="https://user-images.githubusercontent.com/40177971/121689604-14b97a80-cac5-11eb-8f60-776c1a05b257.png">

* User report: https://wordpr

[2021-06-11 15:48] scruffian opened #4051 "Quadrat: Font customizations"
We should look for a way to allow users to modify fonts in Global Styles.

See: pNEWy-dYW-p2#comment-53274

[2021-06-11 16:12] pbking opened #4052 "Sync changes with wp-core default themes"
Sync changes from core themes to .com public themes.

PNEWy-cvG-p2

Theme | Diff | Change Approved | Change Deployed
-------|------|-----|-------
TwentyTwentyOne | D62690-code |
TwentyTwenty  | D62708-code |
TwentyNineteen | D62715-code |
TwentySeventeen | D62693-code |
TwentySixteen | D62694-code |
TwentyFifteen | D62696-code |
TwentyFourteen | D62698-code |
TwentyThirteen | D62701-code |
TwentyT

[2021-06-11 18:58] pbking commented on #4052
A number of the above changes are resulting in an error when applying the patch seemingly related to the addition of images.  More details can be found on the TwentyTwelve patch: D62705-code

[2021-06-11 19:02] supernovia commented on #4050
Noting you can see this on the theme demo too:
![Screen Shot 2021-06-11 at 12 51 29 PM](https://user-images.githubusercontent.com/3476361/121735952-13338680-cab4-11eb-8aee-889a8718c975.png)

But only sometimes! If I resize my window, it corrects itself.  Wild, right?

[2021-06-11 19:23] metabreakr commented on #3201
4061073-zen

[2021-06-11 21:23] sajmes opened #4055 "Barnsbury: Cover block color overwritten when it matches custom color used in theme palette"
### Steps to reproduce the behavior

1. In customizer > colors and backgrounds, set 'link color' to a custom color (in this case #5b0727) and save
2. On any page add a new cover block and choose the color from step 1 as the background color for the cover block by using the color palette on the block or in the additional block settings (or adding custom color using same hex).
3. Preview the page or

[2021-06-12 01:30] danieldudzic commented on #1936
Fixed via #3986

[2021-06-12 01:30] #1936 closed

[2021-06-12 22:31] hacchism opened #4053 "Luxury: Gallery widget with "Thumbnail Grid" type doesn't work"
## Steps to replicate

1. Activate "Luxury" theme
2. Go to "Appearance > Customize > Widgets > Default Sidebar"
3. Add Gallery widget
4. Use "Thumbnail Grid" type

## Result

The gallery shows up in the wrong position and overlaps with a different widget.

![Screen Shot on 2021-06-13 at 07:27:48](https://user-images.githubusercontent.com/32432463/121790309-0d0aea80-cc19-11eb-9160-044d9a19e235.png)

[2021-06-13 07:06] sophiegyo commented on #4050
I've encountered a slightly different version of this - tiled galleries within the Classic block inside the editor look OK, but on the published page they skew to the left, because of an inline content width set on the tiled gallery rows. On the site I'm looking at, the tiled galleries are reliably limited to 660px width.

1. This is specific to Intergalactic 2, I can't replicate it when testing a

[2021-06-13 12:51] kspilarski opened #4054 "Hever: Voice over - Safari and Chrome"
## Steps to replicate & result

User report:

Using Voice over and safari on IOS, the primary menu in its initial state (without expanding it announces as:
'Menu + Expanded collapsed, pop up button - main navigation, navigation
landmark, menu pop-up'
When you flick right (which should theoretically take me out of the menu I get one of the first four words per flick, so):
Menu
+
Expanded
Collapsed

[2021-06-13 18:59] happychait commented on #3723
4040231-zen

[2021-06-14 05:00] kaitohm commented on #3201
I'm adding details I found testing 4061073-zd-woothemes

When switching the homepage from a static page to showing latest posts, and then back again, the menu started to work if I had loaded the page once while showing the static posts. The browser seems to have cached something, so the mobile menu would work when switching back to showing a static front page.

However, if I were to open the site

[2021-06-14 10:57] #2560 closed

[2021-06-14 12:50] MaggieCabrera commented on #3884
Closed via https://github.com/Automattic/themes/pull/3956

[2021-06-14 12:50] #3884 closed, assigned to nobody

[2021-06-14 12:52] MaggieCabrera commented on #3694
I'm going to close this as the last point should be an ongoing thing

[2021-06-14 12:52] #3694 closed, assigned to nobody

[2021-06-14 13:04] #3341 closed, assigned to danieldudzic

[2021-06-14 14:30] scruffian commented on #3833
Also note that on Quadrat this creates an unfortunate space:
<img width="1440" alt="Screenshot 2021-06-14 at 15 30 02" src="https://user-images.githubusercontent.com/275961/121908982-65c7a980-cd25-11eb-8e18-5a0dfd14adea.png">

[2021-06-14 16:24] scruffian commented on #4052
Were there no changes for twenty eighteen?

[2021-06-14 16:27] MaggieCabrera commented on #4052
2018 has no default theme :D

[2021-06-14 16:28] scruffian commented on #4052
😱

[2021-06-14 16:46] kriskarkoski commented on #3754
4067609-zen returned to ask about the status of this

[2021-06-14 16:49] the-misha commented on #3754
Coincidentally, 4045623-zd-woothemes also just emailed to request a status update, too.

[2021-06-14 17:05] scruffian commented on #4052
I have reviewed all of these. most are ready to be deployed.

[2021-06-15 05:55] alaczek opened #4057 "Blank Canvas: Continue reading link shown even when read more text is not customized"
## Steps to replicate

1. On a site using Blank Canvas theme add a Query block to a post or a page.
2. Add Post Excerpt block inside the Query block.
3. Note the "Add "read more" link text" at the bottom of the excerpt, but do not customize it.
4. Save and preview. Note that Continue reading link is displayed on the front, even though it shouldn't be.
5. Go back and customize the read more link te

[2021-06-15 08:02] Nic-Sevic opened #4071 "Traveler: font color in editor not consistent"
### Steps to reproduce the behavior

1. Activate Traveler theme
2. create a page/post with paragraph blocks
3. try changing the block color via the sidebar color control
4. try changing individual text with the toolbar color control

#### What I expected to happen
the sidebar and toolbar colors should sync or should clear each others settings
the last color selection should always appear in the ed

[2021-06-15 09:30] beafialho opened #4059 "Quadrat: Make tagline visible"
When I write a tagline in the Customizer it isn't visible neither on the editor or in front end.

<img width="1508" alt="Captura de ecrã 2021-06-14, às 12 36 28" src="https://user-images.githubusercontent.com/65220155/121887104-38bbcc80-cd0e-11eb-8234-b530acdb0e3a.png">

It should look like this in 15px size:
<img width="1235" alt="Captura de ecrã 2021-06-14, às 12 47 41" src="https://user-images.

[2021-06-15 09:38] beafialho opened #4060 "Quadrat: Query Block not working"
While trying to replicate the post cards design as shown below, the query block isn't showing up.

<img width="826" alt="Captura de ecrã 2021-06-15, às 10 32 37" src="https://user-images.githubusercontent.com/65220155/122029791-18027e00-cdc5-11eb-981a-30da8338fba3.png">

Weirdly, this is what shows up instead:
<img width="1526" alt="Captura de ecrã 2021-06-15, às 10 36 20" src="https://user-images

[2021-06-15 11:55] mikeicode commented on #1645
Another #4059366-zen was able to use CSS to resolve the issue. It took a few tries and we had to disable the sticky header once the items ran out of room horizontally and the menu items began to wrap onto 2 lines (which make the header taller, so the top margin needs to be different). This resulted in multiple support requests and P2 posts.

[2021-06-15 14:44] beafialho opened #4062 "Quadrat: Featured Image not showing up in pages"
When I add a featured image, it doesn't show up on the front end, neither does the page name.

Editor | Frontend
------------ | -------------
<img width="1533" alt="Captura de ecrã 2021-06-15, às 15 41 02" src="https://user-images.githubusercontent.com/65220155/122073578-6d07b980-cdf0-11eb-9d34-4470315ed2c5.png"> | <img width="1533" alt="Captura de ecrã 2021-06-15, às 15 41 11" src="https://user-i

[2021-06-15 15:09] scruffian commented on #3653
Removing this from TODO as it blocked.

[2021-06-15 15:21] beafialho opened #4063 "Quadrat: Make posts featured images content width"
Currently, we have featured images on posts looking like this:

![Frame 10](https://user-images.githubusercontent.com/65220155/122079006-ec978780-cdf4-11eb-964d-4ee7ae8eb49c.png)

The problem is that squared images like the one above get so big that we have to scroll a lot to get to content, which is not cool.

I had checked with @kjellr that we'd established having images be full width, but the s

[2021-06-15 15:29] beafialho opened #4064 "Quadrat: Make Site Title all caps by default"
Site title should be all caps by default.

**Currently**
<img width="466" alt="Captura de ecrã 2021-06-15, às 16 26 08" src="https://user-images.githubusercontent.com/65220155/122080757-709e3f00-cdf6-11eb-8284-122b4d2c051c.png">

**All Caps**
<img width="372" alt="Captura de ecrã 2021-06-15, às 16 27 01" src="https://user-images.githubusercontent.com/65220155/122080985-9e838380-cdf6-11eb-852a-0ebf

[2021-06-15 15:36] csonnek commented on #4050
Adding that the user in the OP forums thread also said: "FYI this bug also seems to be affecting single images, if they are resized."

[2021-06-15 16:02] jeffikus commented on #1765
@danieldudzic are there any blockers to this being deployed?

[2021-06-15 16:14] DanielSmithMichigan commented on #4036
Posing a question to the team, how should this problem be solved ideally?

Discussion is here: pd2qbF-7C-p2

[2021-06-15 16:15] kjellr commented on #4063
That sounds good to me. 👍

[2021-06-15 19:01] ckmccoy2 commented on #680
#4069696-zen

I came across what appears to be the same issue using a portfolio on this theme, but with the Media & text block. Similar to the original issue, I provided the following code as a workaround and that did the trick:

@media screen and (min-width: 1220px) {
  .portfolio-entry .size-full.image-big {
    margin-left: 0;
    max-width: 100%;
  }
}

[2021-06-15 19:41] Robertght opened #4066 "Ippo: Embed videos not aligning full width"
## Steps to replicate

1. Insert a Vimeo, YouTube or Dailymotion video inside a page
2. Use the full-width alignment
3. Check the results

## Result

![image](https://user-images.githubusercontent.com/6737345/122113310-9c3b1c80-ce2a-11eb-960b-53d8868eff91.png)

## Expected

To have the videos go full width.

* User report: 4065466-zen

The workaround I used in my example:

[code]

[2021-06-15 23:19] supernovia commented on #4022
Woohoo! Thank you!

[2021-06-15 23:57] JessBoctor opened #4067 "Intergalatic 2: Embed blocks have no height set on desktop view"
### Steps to reproduce the behavior

1. Create a simple site with the Intergalactic 2 theme activated
2. Go to My Site > Pages > Add New
3. Paste a YouTube Video share link so it embeds
4. Add text underneath it
5. Publish the page and view it on a screen width wider than 1000px
6. On the front end of the site, the embed covers the blocks underneath it

Screenshots:
- https://d.pr/i/5Rp7Z3
- https

[2021-06-16 11:58] beafialho opened #4068 "Quadrat: Polygon looking weird in Footer"
Here's how the polygon shape is looking in the Footer.

<img width="1530" alt="Captura de ecrã 2021-06-16, às 12 52 56" src="https://user-images.githubusercontent.com/65220155/122214510-12c73100-cea2-11eb-8c3c-826d55d4606c.png">

Is it possible to have it going until the end of the screen, without that bar at the bottom?

<img width="1346" alt="Captura de ecrã 2021-06-16, às 12 55 35" src="https:/

[2021-06-16 13:31] ivan-ottinger commented on #1829
Another report: 30170192-hc

[2021-06-16 22:57] DanielSmithMichigan commented on #4036
Created a diff: D62950-code

[2021-06-17 00:29] alaczek opened #4069 "Blank Canvas: Form inputs have transparent background in preview"
I noticed that whenever a Form or Subscription block is in a container with set background color, the background of the input fields is transparent (or maybe that's when it really becomes apparent).

## Steps to replicate
1. On a site using Blank Canvas theme create a post.
2. Add a group block and set the background color.
3. Inside the group block add Form or Subscription block.
4. Note the diff

[2021-06-17 12:35] sophiegyo commented on #630
I experienced this in 30188421-hc.

I found this GH issue, and tested un-setting, then re-setting the static front page. This resolved the issue and now when I click on featured menu sections on the front page, they load correctly.

[2021-06-17 15:30] andres-blanco commented on #3483
There are 2 ways to take on this issue that I can think of.

## Simplest way
Add a stroke to the text inside the cover block. This is something that's normally done for subtitles, given that they need to be displayed over constantly changing backgrounds. The result would look like this:

https://user-images.githubusercontent.com/375980/122425302-c513fc80-cf65-11eb-8713-ff9c436fe667.mov

*PROS*
* S

[2021-06-17 15:34] nicolynramos commented on #4055
4073084-zen

[2021-06-17 18:15] andres-blanco commented on #3483
On themes that work OK there are two guardrails for avoiding this behaviour.
1. By default the text color inside a block contrasts with the background
2. If you force the text color to be the same as the cover bg you get this message in the color settings for the paragraph:
![image](https://user-images.githubusercontent.com/375980/122565182-9016b100-d01c-11eb-89db-c04a7fe14b75.png)

On themes that

[2021-06-17 20:32] Robertght commented on #4071
I moved this into the Themes repo.

[2021-06-18 09:08] scruffian commented on #4000
This was fixed in #4065

[2021-06-18 09:08] #4000 closed, assigned to nobody

[2021-06-18 10:02] zdenys opened #4130 "Blank Canvas, TwentyTwentyOne, Floral :: Clicking `Crop Image` in `Select logo` - There has been an error cropping your image."
### Steps to reproduce the behavior

1. Go to WordPress.com > My Sites > Appearance > Customize > Site Identity > Logo
2. Click on `Select logo`
3. Click any image in the modal window that opens
4. Click `Edit image` in the right-side panel

#### What I expected to happen
The Edit Media screen with the image to be edited
#### What actually happened
The Edit Media screen loads but not the image its

[2021-06-18 10:25] zdenys opened #4073 "Blank Canvas: No way to set a wide image as logo"
## Steps to replicate

- Prepare an image that is much wider than taller, for example this one
![image](https://user-images.githubusercontent.com/39308239/122546050-3bccfa80-d037-11eb-9553-08971fd31aa1.png)
- Navigate to WordPress.com > My Sites > Appearance > Customize > Site Identity > Logo and click `Select logo` and pick that image and click `Select`

## Result

There is no `Skip cropping` but

[2021-06-18 11:43] scruffian commented on #3614
This should now be fixed on Atomic sites.

[2021-06-18 11:43] #3614 closed, assigned to nobody

[2021-06-18 11:43] scruffian commented on #3316
This should now be fixed on Atomic sites.

[2021-06-18 11:43] #3316 closed, assigned to nobody

[2021-06-18 12:06] tellisbethel commented on #3622
Another report here much like the original issue: 30198127-hc
Wasn't aware of the CSS workaround  and the user had just started work on their site so we switched to another theme (Hever) for now.

[2021-06-18 12:59] zdenys opened #4074 "Twenty Twenty: There are two Social Menu locations and only the bottom one works"
## Steps to replicate

- Navigate to WordPress.com > My Sites > Appearance > Customize > Menus > Menu Locations > View All Locations
- See Social menu at the very top and another Social menu at the very bottom
![](https://d.pr/i/rFIGJw+)
_Link to image: https://d.pr/i/rFIGJw_
- Assign a menu with Custom Links (to Facebook, LinkedIn, etc.) to the top Social Menu location
- (Extra) Assign a menu wit

[2021-06-18 14:57] bawva commented on #4066
In addition to what's mentioned above. Dailymotion videos fail to adjust the media height even after applying the workaround @robertghetau has come up with.

A screenshot of how Dailymotion videos appear ↓

![image](https://user-images.githubusercontent.com/29516830/122580090-3b525500-d073-11eb-93fe-042d3fe337c5.png)

[2021-06-18 17:20] andres-blanco commented on #3483
The themes that work have a css rule that applies directly to covers inner content, for example: [seedlet](https://github.com/Automattic/themes/blob/trunk/seedlet/assets/sass/blocks/cover/_style.scss#L12). That rule makes the text color the same as the one set as foreground in `Customizer > Color & Backgrounds`.

For themes that don't work this rule does not exists, so it defaults to a rule that s

[2021-06-18 18:59] sixhours commented on #3483
@andres-blanco It sounds like the solution used for Blank Canvas, Seedlet, and Spearhead might work for other themes, too. I would test that solution with the themes that don't work and see if it breaks anything visually. If not, it may just be a matter of applying that solution to each theme.

For any of the Twenty- themes, we'd need to open a ticket in core, unless this problem is specific to WP

[2021-06-18 19:07] andres-blanco commented on #3483
Great! I will check all themes in the showcase and apply fixes to each individually.

[2021-06-18 19:52] andres-blanco commented on #3483
Related issues:
* https://github.com/Automattic/themes/issues/3329
* https://github.com/Automattic/themes/issues/1833

[2021-06-19 09:21] zdenys opened #4131 "Live Demo doesn't open via three-dots menus for various themes (Twenty Sixteen, Twenty Fifteen, Hemingway Rewritten, Ryu)"
### Steps to reproduce the behavior

1. Go to https://wordpress.com/themes/
2. Click on '....' text to one of these themes: Twenty Sixteen, Twenty Fifteen, Hemingway Rewritten, Ryu
3. Click Live Demo

#### What I expected to happen
See Live demo modal
#### What actually happened
Nothing
### Context

#### Browser / OS version
Chrome
#### Is this specific to the applied theme? Which one?
Yes. Twenty

[2021-06-19 09:22] zdenys commented on #4131
Encountered in 4079550-zd-woothemes during Quick Start session.

[2021-06-19 15:24] daria2303 commented on #1842
I got a similar issue for Lodestar: 4080065-zd-woothemes
Editor setup: https://d.pr/i/oLC07S
Preview: https://d.pr/i/FyzIpN

[2021-06-19 20:52] scosgro commented on #3991
Another report in 4080292-zd.

In my testing, I could only replicate on AT.

[2021-06-20 21:50] ccwalburn commented on #3467
Another user report: 4082243-zen

[2021-06-21 07:32] edwinho89 commented on #3726
#4082167-zen

[2021-06-21 18:22] supernovia opened #4078 "Sketch: Visited Link color on Featured Slider makes grey on grey text"
## Steps to replicate
- Use a Sketch site with a featured content slider
- Set the background color to white
- Visit a page that's in the content slider
- Go back to the home page and refresh

## Result

Note the slider has grey (hard-to-see) text:

![Screen Shot 2021-06-21 at 12 18 25 PM](https://user-images.githubusercontent.com/3476361/122809028-cce7df80-d28a-11eb-8a9a-cc57f42f9f37.png)

## Exp

[2021-06-21 18:31] supernovia commented on #4078
Fix should probably add :visited to the colors specified for flexslider .entry-title and .entry-meta

[code]

[2021-06-21 19:40] Robertght opened #4079 "Karuna: text color isn't working on the blog posts in the editor"
## Steps to replicate

1. Activate Karuna
2. Create a post and select a bunch of text to change its color
3. Check the results

**This isn't a problem for the pages.**

The CSS isn't appearing to be targeting the blog posts in the editor as it does the pages.

## Result

The text color remains the same in the editor, but it changes in the published version of the post.

## Expected

To see the col

[2021-06-22 02:55] jordesign opened #4080 "Quadrat: Social Menu not appearing when assigned"
### Steps to reproduce the behavior

1. go to the Customizer
2. assign a menu with items to the 'Social' location

#### What I expected to happen

Social menu to appear in some location

#### What actually happened

No menu appearaed

#### Does this happen on simple or atomic sites or both?

Simple

#### Screenshot / Video: If applicable, add screenshots to help explain your problem.

<img width="

[2021-06-22 03:02] jordesign opened #4081 "Quadrat: No Logo or menu shown on single post pages or 404"
### Steps to reproduce the behavior

1. Add a post
2. View the post URL
2b. View a URL that doesn't exist

#### What I expected to happen

Logo and site menu to appear consistently throughout the site

#### What actually happened

No menu or logo appear ons single post pages or 404s

#### Does this happen on simple or atomic sites or both?

Simple

#### Screenshot / Video: If applicable, add scree

[2021-06-22 03:15] druesome opened #4082 "Quadrat: Additional CSS doesn't preview in Customizer"
## Steps to replicate

1. Go to Customizer
2. Add some CSS in Additional CSS ie `h1.wp-block-post-title { color: red;}`

## Result

CSS does not preview in the Customizer, but upon saving changes, it gets applied to the site.

## Expected

CSS to preview in the Customizer

[2021-06-22 05:55] jasmussen opened #4083 "Blockbase: Navigation styles crop submenus, cause scroll, have white backgrounds"
## Steps to replicate

From https://github.com/WordPress/gutenberg/issues/32828:

1. Menu items are white:

<img width="707" alt="Screenshot 2021-06-22 at 07 49 39" src="https://user-images.githubusercontent.com/1204802/122870865-82b83a00-d32e-11eb-8c0d-b4458893fd5a.png">

That appears to be due to a blockbase theme style:

<img width="551" alt="Screenshot 2021-06-22 at 07 49 35" src="https://user

[2021-06-22 06:19] druesome opened #4084 "Quadrat: No title tags"
## Steps to replicate

If site has no site title:

1. Go to Customizer
2. Add a Site Title in Site Identity

## Result

When viewing the live site, the browser tab displays the site URL rather than the Site Title.  Reviewing the source code, there are no <title></title> tags present.

<img src="https://d.pr/i/BJK5Zv+" width="500" />

## Expected

For the site to have title tags and display the Sit

[2021-06-22 13:34] andres-blanco commented on #3483
This is a list of the current status of the "Recommended Themes" in the showcase.

THEME | Status
-- | --
Blank Canvas | WORKING
Twenty Twenty-One | WORKING
Spearhead | WORKING
Seedlet | WORKING
Twenty Twenty | NOT WORKING
Barnsbury | NOT WORKING
Dalston | NOT WORKING
Mayland | NOT WORKING
Rivington | NOT WORKING
Maywood | NOT WORKING
Balasana | NOT WORKING
Shawburn | NOT WORKING
Alves | NOT WORKI

[2021-06-22 13:37] pbking commented on #4052
Moving this back to in-progress until:

* This missing(ish) images issue noted in the 2021 patch (D62705-code) (and happening in all of the diffs with additional images) has been resolved.

* The themes changes coming in CORE for 5.8 have settled so that they might be brought in (as more stable versions).

[2021-06-22 16:52] AtrumGeost opened #4085 "Fortune: Theme style increasing padding in the separator block"
## Steps to replicate

1. Activate the Fortune theme on a simple or AT site
2. Add the Separator block
3. In the Separator block settings set a color

## Result

The padding for the Separator block is increased:

![Screen Shot 2021-06-22 at 11 49 59](https://user-images.githubusercontent.com/3696121/122967346-fc145480-d34f-11eb-80b8-896b0afaa7ba.png)

## Expected

For the padding to remain the sam

[2021-06-23 01:45] formosattic opened #4087 "Perennial: Form block, Phone field styling different."
## Steps to replicate

Add a **Form block**, with the option **Appointment Form**.

## Result

On Simple and Atomic sites, the Phone field is styled differently.
![image](https://user-images.githubusercontent.com/15944096/123021898-7ce25780-d407-11eb-8ec9-2805e4dca724.png)

## Workaround

CSS fix:

[code]

* User report: 30203474-hc

[2021-06-23 06:19] daria2303 commented on #3673
3948055-zd-woothemes

Same issue in Radcliffe 2:
Pallete in customizer - https://d.pr/i/07e8Dm
Pallete in the editor for a paragraph block - https://d.pr/i/1OdyOK

[2021-06-23 08:27] Robertght commented on #2044
This seems to happen because of this particular bit:

[code]

So using the code above would be a good workaround.

My case: 4087354-zen

[2021-06-23 14:36] dolgelukkig commented on #3114
The menu also overlaps the menu button when it it opened.
screenshot: https://d.pr/i/mvOrk7
29741330-hc

[2021-06-23 15:17] andres-blanco commented on #3483
The PR https://github.com/Automattic/themes/pull/4086 (D63216-code) Fixes Varia and its child themes. The problem still persist in:

* Independent Publisher 2
* Twenty Twenty
* Twenty Sixteen
* Twenty Fifteen
* Hemingway Rewritten
* Ryu

I think all of these, except for Independent Publisher 2, are .org themes, so a different approach needs to be taken

[2021-06-23 15:19] sixhours commented on #3483
@andres-blanco Hemingway Rewritten, Independent Publisher 2, and Ryu are all Automattic themes as well. They might not be in the Github repository, though, so you'd only need to apply changes to the themes in SVN.

The Twenty-* themes are .org themes and probably need to be handled in core. :)

[2021-06-23 20:10] JoshuaGoode opened #4091 "Aquene: New padding on .has-background visually breaking Separator blocks."
After a recent update, Aquene now sets padding on any block with .has-background.

This might be impacting more but, so far, I've only encountered it impact Separator blocks.

This makes all new and past separator blocks with `.has-background` appear very large.

This was included in WPCOM premium theme changesets 39418 (39417 included updates on the editor side which don't seem to be causing issu

[2021-06-23 21:09] AtrumGeost commented on #3754
We got another report here:

30295484-hc

The user was on Chrome. I wasn't able to reproduce the issue on my end

[2021-06-23 21:25] happychait opened #4092 "Maxwell: No color palettes in the Customizer > Colors panel of Atomic sites."
### Steps to reproduce the behavior

For the Atomic sites, Maxwell theme doesn't show the color palettes mentioned in the Multiple Color Schemes section of its setup guide at https://wordpress.com/theme/maxwell

1. Activate the Maxwell theme on an Atomic site.
2. Open the Customizer > Colors panel.

#### What I expected to happen

See the six color palettes as mentioned in the theme setup guide.
!

[2021-06-24 00:08] jordesign opened #4093 "Quadrat: Styling of Custom HTML block has low contrast with background"
## Steps to replicate

Insert a Custom HTML block and add content to it.

## Result

Text is Black on Dark Blue - very low contrast

## Expected

The text to be a light color to allow appropriate contrast

[2021-06-24 00:16] jordesign commented on #4093
<img width="1260" alt="screen_shot_2021-06-22_at_12 00 35" src="https://user-images.githubusercontent.com/1842363/123183582-28a5a900-d4d5-11eb-813c-60d6b4e25c90.png">

[2021-06-24 00:23] jordesign opened #4094 "Quadrat: 'Add Image' control for tiled gallery is low contrast"
## Steps to replicate

Insert a tiled gallery.

## Result

The 'Add Image'  control is black on dark blue - so low contrast

## Expected

Control text to be white (or higher contrast)

<img width="777" alt="slack-imgs" src="https://user-images.githubusercontent.com/1842363/123184034-2e4fbe80-d4d6-11eb-810c-c26868793009.png">

[2021-06-24 01:42] #4082 closed, assigned to nobody

[2021-06-24 09:16] gavande1 opened #4095 "Seedlet : Duplicate excerpts with More block when placed inside layout grid"
Multiple excerpts with read More block are displayed on archive page even though added only one More block. It's only happening in Seedlet theme.

## Steps to replicate
1. Create a new page or post using Open block editor
2. Add Layout Grid Block
3. Add multiple paragraphs blocks in the layout grid
4. Add More block after first paragraph

## Result

Now if you look at archive page, you would see m

[2021-06-24 13:19] danieldudzic commented on #4091
This has been now fixed via r39429-wpcom-premium-themes

[2021-06-24 13:19] #4091 closed, assigned to nobody

[2021-06-24 13:31] danieldudzic commented on #4085
This issue has been now fixed via r39430-wpcom-premium-themes

[2021-06-24 13:31] #4085 closed, assigned to danieldudzic

[2021-06-24 14:48] davipontesblog commented on #4085
It doesn't seem like the fix has been applied to atomic sites yet.

[2021-06-24 14:52] davipontesblog commented on #4085
Sent the CSS workaround to the user here while waiting for atomic deploy: 4091590-zd-woothemes

[2021-06-24 17:19] Robertght commented on #4092
+1 in Barnsbury as well.

[2021-06-24 17:21] Robertght commented on #4055
another in 4091963-zen but I can't test properly because the Customize > Colors&Backgrounds section is missing on AT sites. I can confirm the issue on a Simple site though

[2021-06-25 12:28] daria2303 commented on #4043
Another report: 4074778-zd-woothemes

[2021-06-25 12:57] kjellr opened #4099 "Blockbase: p tags inside of a full-width group block don't always need extra padding."
The extra margins for `[data-align="full"] p` that were added in #3978 do not need to apply when a custom layout is active for the group block. The rule will cause paragraphs to be misaligned with other elements on the page. This happens on the frontend too because of the `.alignfull p` rule:

https://github.com/Automattic/themes/blob/c0e9a574ec9cdfcd5733beaae3148567a339f6fb/blockbase/sass/base/_a

[2021-06-25 13:33] kjellr commented on #4099
I dug into this a bit, and We may be able to get around this, but in my testing we don't consistently get a CSS class from Gutenberg when a layout is active, so I'm not sure what to hook into to override this rule.

Are these padding rules in place to prevent paragraphs from bumping up against the edges of a full-width block? If so, the rule also gets weird because it doesn't apply to headings:

<

[2021-06-25 14:46] #3661 closed, assigned to nobody

[2021-06-25 16:00] scruffian opened #4102 "Responsive theme PHP warning"
Warning: Use of undefined constant before - assumed ‘before’ (this will throw an Error in a future version of PHP) in /home/wpcom/public_html/wp-content/themes/pub/responsive/includes/functions.php on line 282 [mcsotos.wordpress.com/2010/07/15/] [/themes/pub/responsive/archive.php:14 responsive_breadcrumb_lists(), wp-includes/template-loader.php:106 include(‘/themes/pub/responsive/archive.php’), w

[2021-06-25 16:29] pbking opened #4103 "Quadrat: Mobile Menu Styles"
With the usage of the new `__unstableLocation` block attribute Quadrat lost mobile navigation block support.

This is because the block attributes expressed on the navigation block in the header.html template file (specifically `"isResponsive":true`) aren't passed to the block renderer when using `__unstableLocation`.

![image](https://user-images.githubusercontent.com/146530/123455849-2e23f180-d5

[2021-06-25 17:06] wynwin commented on #4092
+1 ran into this same issue on Atomic site running "Coutoire" theme

[2021-06-25 17:41] ezebecke commented on #4092
+1 Theme "TheFour"

[2021-06-25 17:57] jp-imagines opened #4121 "Venture: Media & Text block is partially cut off on some screen widths"
### Steps to reproduce the behavior

1. Activate Venture theme
2. Add a Cover block (full-width) without media
3. Add a Media & Text block (wide width, media on the right)
4. Add an image to the Media & Text block
5. Add a heading with text to the Media & Text block
6. Publish the page

#### What I expected to happen

Proper display of the heading next to the image.

#### What actually happened

T

[2021-06-26 00:18] happychait commented on #4092
Closing this in favour of https://github.com/Automattic/wp-calypso/issues/53967

[2021-06-26 00:18] #4092 closed, assigned to nobody

[2021-06-26 20:39] xpurichan commented on #155
30343723-hc
&
23138678-hc

[2021-06-28 07:21] jordesign commented on #2277
Happy to handle this - starting with Varia and Seedlet?

[2021-06-28 15:06] pbking commented on #4103
This is addressed in [this Gutenberg issue](https://github.com/WordPress/gutenberg/pull/33043).

[2021-06-28 15:27] jffng opened #4106 "Quadrat: wpcom comments styles are rough"
## Steps to replicate

This styles for comments in on wpcom are rough:

<img width="2337" alt="screen-shot-2021-06-22-at-12 51 34-pm" src="https://user-images.githubusercontent.com/5375500/123662326-35364400-d7ea-11eb-962f-628c0047fea2.png">

Reported several times from the CFT: pNEWy-dYW-p2

I wanted to reported this separately since wpcom does not use the core comments block, so the styles we ad

[2021-06-28 15:28] jffng commented on #4068
Also when the page is short, the header and footer polygons sometimes overlap.

[2021-06-28 16:18] jffng commented on #4060
👋  @beafialho

We created those post card layouts as media & text block patterns actually. It is not a pattern for the query block yet, we could add consider how to do this but I'm not sure we will get to it for v1.

Are you still seeing the issue where the query block doesn't show up at all though?

[2021-06-28 17:43] jffng commented on #4106
Closing, duplicate.

[2021-06-28 17:43] #4106 closed, assigned to nobody

[2021-06-28 20:53] sbathompson-he opened #4110 "Rebalance: Buttons not taking edits"
## Steps to replicate

https://d.pr/v/Er2Njf

## Result

The buttons could not be updated with color changes. It was replicated on test sites as well.

## Expected

The colors set in the editor should show in the preview or live versions.

* User report: 30371405-hc
* Follow-up ticket: 4101225-zd-woothemes

[2021-06-29 04:23] kavyagokul commented on #4017
The user came back in 30346094-hc to check the status

From what I see, this is intentional, expected behaviour, on screens larger than 881px. See
https://github.com/Automattic/themes/blob/trunk/rebalance/style.css#L3550

[2021-06-29 05:59] galakhyati commented on #3201
Another simple (Personal plan site): 4099521-zd-woothemes

Setting the static page to the latest posts and then back to the static page fixed the issue, though there are still some errors appearing in the site's console.

When checking from another browser, the menu is still stuck.

[2021-06-29 08:40] retnonindya opened #4111 "Quadrat: Colors customization does not carried to the editor"
## Steps to replicate

Make sure Quadrat is active, then go to Customizer > Colors to change the color. I was able to customize the color as I prefer, so this is a 👍  -- Also, I able to confirm the color stays on the live site (the changes are saved properly on Customizer and reflected properly on the live site.)

![Screenshot 2021-06-29 at 4 35 33 PM](https://user-images.githubusercontent.com/447

[2021-06-29 08:43] MaggieCabrera commented on #4111
I could not reproduce this locally but it does happen on dotcom on a simple site

[2021-06-29 08:56] retnonindya opened #4112 "Quadrat: Color palette returns to currently saved palette when switching settings within Customizer"
## Steps to replicate

(I hope the GH title above is clear enough 😶)

Ensure theme Quadrat is active. Open Customizer > Colors, then assign the color palette -- be it from the provided color palette or setting it manually.

Click `<` on Customizer to go back to the main sidebar (still in Customizer) and set another settings. For example, switch the homepage display to static homepage (or latest po

[2021-06-29 09:00] retnonindya commented on #4111
Thanks for the check, @MaggieCabrera! I updated the report above with additional information that the website is a WordPress.com Simple site 🙇

[2021-06-29 09:11] MaggieCabrera opened #4113 "Quadrat: Update the alternative palettes to use the latest colors from figma"
The color palettes showing up on the customizer are not the most recent ones designed by @beafialho. We need to update them with the new values from the [figma file](EDoXTvsZt4lMHItzOczFQw-fi-1764%3A0).

[2021-06-29 10:15] #4113 closed, assigned to MaggieCabrera

[2021-06-29 11:22] jp-imagines opened #4115 "Venture: Media & Text block is partially cut off on some screen widths"
### Steps to reproduce the behavior

1. Activate Venture theme
2. Add a Cover block (full-width) without media
3. Add a Media & Text block (wide width, media on the right)
4. Add an image to the Media & Text block
5. Add a heading with text to the Media & Text block
6. Publish the page

#### What I expected to happen

Proper display of the heading next to the image.

#### What actually happened

T

[2021-06-29 11:25] carinapilar opened #4140 "Scratchpad: Gallery Widget is Being Cropped"
### Steps to reproduce the behavior

1. Activate the Scratchpad theme on your site.
2. Go to the Customizer and add a Gallery widget to the Sidebar area.
3. Select some images for the gallery, and choose the Type "Tiled Mosaic" or "Circles"

#### What I expected to happen
To see the gallery on the sidebar.

#### What actually happened
The gallery is being cropped.

### Context

#### Screenshot
![G

[2021-06-29 12:55] jp-imagines commented on #4121
Here's the HTML I used to replicate the issue on my test site, @mrfoxtalbot.

[code]

[2021-06-29 13:33] pbking commented on #4068
The space at the bottom seems to be [caused by the stats smily](https://github.com/Automattic/themes/issues/3833#issuecomment-860731594).

[2021-06-29 14:05] #4060 closed, assigned to nobody

[2021-06-29 14:20] jffng opened #4119 "Quadrat: Episode block patterns colors are off"
When adding the two "Episode" related block patterns, the background colors and text color is incorrect:

<img width="1227" alt="Screen Shot 2021-06-29 at 10 17 20 AM" src="https://user-images.githubusercontent.com/5375500/123814289-6c6c2a00-d8aa-11eb-8ae6-60895d8c0d45.png">

It should look like this:

<img width="826" alt="Captura de ecrã 2021-06-15, às 10 32 37" src="https://user-images.githubus

[2021-06-29 14:21] jffng commented on #4060
I removed that query block from the demo site because it seemed like it was using an old version of it / the block markup was strange, and added some block patterns instead.

I discovered a new bug related to those patterns, opened an issue here: #4119

[2021-06-29 14:46] rezzap opened #4120 "Independent Publisher 2: Audio Widget Play Button hidden"
## Steps to replicate

Add an audio widget to the sidebar and activate the Independent Publisher 2 theme. I haven't been able to replicate this with any other theme in the meantime.

The button still works, but it is hidden from view.

![Image 2021-06-29 at 3 41 44 pm](https://user-images.githubusercontent.com/10325627/123818160-a6f8b580-d8f0-11eb-9626-ab0d26f6d210.jpg)

## Result

The play button

[2021-06-29 15:00] rezzap commented on #4120
As a temporary workaround, the following CSS seems to work:

[code]

From @sarahfg
p1624977656443300-slack-C4WC5LYM6

[2021-06-29 15:09] beafialho commented on #4060
👋 @jffng I see, I had thought of those three cards as the latest posts, so I'll update those.

No, I just checked and I can now see them!

[2021-06-29 18:12] #4084 closed, assigned to pbking

[2021-06-29 18:15] vajrasar commented on #3201
Another simple (Personal plan) site: 4100719-zd-woothemes

In this case, setting the static page to the latest posts and then back also did not solve the issue.

[2021-06-29 20:12] DanielSmithMichigan opened #4126 "Shawburn: Colors & Backgrounds Options don't seem useful."
The issue presents itself in two different ways.

On simple sites, your pages are basically always red. "Colors & Backgrounds options" basically don't work.
UPDATE: I returned to my simple site 20 minutes later and the colors updated.

On atomic sites, "Colors & Backgrounds Options" work, but you won't see your changes until you refresh the page.

## Steps to replicate, simple sites

1. On a simpl

[2021-06-29 20:37] DanielSmithMichigan opened #4127 "Rockfield: Colors & Backgrounds Options don't update immediately."
## Steps to replicate

1. Create a new site.
2. Once you finish site creation, switch to Rockfield theme.
3. Go to customizer. Customize your menu. Add your "About Me" page to the menu. (The "about me" page should have been created automatically, but you can use any page as long as there's a reasonable expectation to see the color and background options on that page)
4. Go to the "About Me" page i

[2021-06-30 02:13] donalirl opened #4128 "Blank Canvas: Add One-Page Filter"
Blank Canvas is by far the best theme for creating a one-page site or landing page, but it does not appear in the "one page" filtered theme search results:

https://wordpress.com/themes/filter/one-page

Can it be added?

[2021-06-30 03:26] adelineyaw commented on #4030
Another user report: 30396473-hc / 4104970-zen - I want to add for this case, the issue can also be replicated on an iPhone as seen here:
![Image from iOS](https://user-images.githubusercontent.com/7424885/123897465-c225fc80-d9a6-11eb-95f7-e94bc61551b2.png)

[2021-06-30 05:02] galakhyati commented on #520
Another case with Personal plan: 15704196-hc
Couldn't provide the workaround.

[2021-06-30 07:20] arunsathiya opened #4129 "Dalston: Flickr embeds have a large white space just above it"
## Steps to replicate

- Start with a WordPress.com site.
- Activate Dalston theme on it - https://wordpress.com/theme/dalston (free theme)
- Create a post or a page and add the Flickr block on it.
- Add a Flickr photo/video to it. Example: https://www.flickr.com/photos/imagik1/51268636945/

## Result

We see a large white space just above the Flickr embed. It is not expected.

## Expected

The wh

[2021-06-30 08:24] kosiew commented on #4130
Thanks @zdenys for reporting this.

I tested and reproduced a different error on Blank Canvas, TwentyTwentyOne.

At Select Logo, I could select an Image and then reached the next screen to Crop the logo.

But Crop Logo fails with an error.

![Markup on 2021-06-30 at 16:21:00](https://user-images.githubusercontent.com/29057562/123927376-5f8d2a80-d9bf-11eb-9e98-efbec490801f.png)

I tested the same o

[2021-06-30 08:48] kosiew commented on #4131
Thanks @zdenys  for the report.

I tested and see the same issue.
Moving to the themes repo.

[2021-06-30 10:13] liviopv commented on #3201
Another in #30401625-zen

Changing Homepage Settings back and forth fixed the issue. I also got it working when I created a second menu and assigned it to the Primary menu area.

[2021-06-30 11:22] MaggieCabrera commented on #4080
@kjellr @beafialho I only see the social links designed on the figma for mobile:

<img width="493" alt="Screenshot 2021-06-30 at 13 20 30" src="https://user-images.githubusercontent.com/3593343/123952256-0a90ea80-d9a6-11eb-83f3-ef78862923db.png">

I'm also not sure how much we can do at the moment with the navigation block to make the mobile menu look like that.

Where should we have the social li

[2021-06-30 12:15] kjellr commented on #4080
I suggest we "start small" and not include a social links navigation at all for now.

When folks use this as a block-based theme, there will be lots of opportunities to add one in ([and we can leverage patterns to make that easier](https://themeshaper.com/2021/06/25/theme-patterns-for-the-site-editor/)). But in the meantime, I think implementing it will be more trouble than it's worth.

If users w

[2021-06-30 12:30] kjellr opened #4133 "Quadrat: Submenu items appear to be the wrong color"
## Steps to replicate

- Populate Quadrat's navigation block (I did so while using it as a block-based theme)
- Ensure there are submenu items.
- View on desktop — see that the items appear as black on white.
- View on mobile — see that the items appear black against the dark purple background.

## Result

Desktop|Mobile
---|---
<img width="303" alt="Screen Shot 2021-06-30 at 8 18 44 AM" src="http

[2021-06-30 13:03] #4064 closed, assigned to nobody

[2021-06-30 13:11] pbking commented on #4080
Per @kjellr 's comments I've removed the social menu location so there isn't confusion as to why it isn't showing up anywhere.

[2021-06-30 13:16] pbking commented on #4133
That mobile design isn't what was expected at all.  The mobile menu should (and does for me) look more like this:
<img src="https://user-images.githubusercontent.com/146530/123966462-72820980-d983-11eb-9d26-fb0b49b567a0.png" width=300>
<img src="https://user-images.githubusercontent.com/146530/123966939-ddcbdb80-d983-11eb-9ccd-59e5372ea7af.png" width=500>

I wasn't able to reproduce the above test

[2021-06-30 14:38] pbking commented on #4049
Page in question is here: Pd4MHQ-14-p2

[2021-06-30 14:58] kjellr commented on #4133
@pbking I just tried again on a fresh site and got the same result. Here's how I did it:

https://user-images.githubusercontent.com/1202812/123983425-da3f5100-d991-11eb-82cf-8196a48a062b.mp4

1. Start a fresh WP site, install the Gutenberg plugin.
2. Go to the Pages section of your new site, add some pages and subpages.
3. Add an `index.html` so the theme loads in FSE mode.
4. Upload the theme, ac

[2021-06-30 15:00] kjellr commented on #4133
(Either way, I'd like for us to update the submenu border in your screenshots so it is `var(--wp--custom--color--secondary)` instead of the pink)

[2021-06-30 15:07] #4062 closed, assigned to jffng

[2021-06-30 15:07] #4063 closed, assigned to jffng

[2021-06-30 15:28] pbking commented on #4081
This is some really strange behavior!
I see that the relevant template parts ARE being used, but the `` block isn't being rendered at all.  Other elements (added for testing) in that template part are showing up as expected... just not the navigation block.

The behavior isn't present testing locally, only (so far) on a .com simple site.

I'm at a loss as to how to debug...

[EDIT] Actually furthe

[2021-06-30 16:14] TeniCola opened #4270 "Blank-Canvas Themes: Content Options are disabled by default, hiding standard site content"
This is more of an enhancement or feature request and part of our team's CFT -- features in the Content Options are not enabled for the Generated Themes.

#### What I expected to happen
For certain content areas of the website to be visible when publishing them, or when adding them to the Customizer.

#### What actually happened
Areas like the menu locations, footer, widgets, and the page titles w

[2021-06-30 16:40] scruffian commented on #4049
Fix here: https://github.com/Automattic/jetpack/pull/20234

[2021-06-30 16:46] #4080 closed, assigned to nobody

[2021-06-30 17:20] danieldudzic commented on #4068
This will be fixed by #4137

[2021-06-30 17:20] #4068 closed, assigned to nobody

[2021-06-30 18:17] #3833 closed, assigned to nobody

[2021-06-30 18:26] pbking commented on #4048
The HTML block editor should be taken care of by #4117.

[2021-06-30 19:21] pbking commented on #4048
The Table styles are taken care of in #4139

[2021-06-30 19:34] pbking commented on #4048
(FWIW the Facebook URL used in the above example is [this one](https://www.facebook.com/CDC/photos/a.184668026025/10158548370376026).)

Considering that the Facebook widget create an iframe I'm not sure what can be done regarding the darker hard-to-read text shown in the view.

[2021-06-30 19:47] synora commented on #4140
Triaged. Can replicate. Moving to Themes repo.

[2021-06-30 20:18] #4119 closed, assigned to jffng

[2021-06-30 21:04] Nic-Sevic commented on #3657
another instance here: 4107214-zen

happens on AT and simple sites

[2021-06-30 21:21] scruffian commented on #4081
I agree this seems to be a dotcom issue...

[2021-06-30 22:59] #4093 closed, assigned to pbking

[2021-06-30 23:01] scruffian commented on #4103
The Gutenberg issue is merged so we can close this

[2021-06-30 23:01] #4103 closed, assigned to pbking

[2021-07-01 02:24] arunsathiya opened #4144 "Independent Publisher 2: Flickr embeds have a large white space just above it"
## Steps to replicate

- Start with a WordPress.com site.
- Activate Independent Publisher 2 theme on it - https://wordpress.com/theme/independent-publisher-2 (free theme)
- Create a post or a page and add the Flickr block on it.
- Add a Flickr photo/video to it. Example: https://www.flickr.com/photos/imagik1/51268636945/

## Result

We see a large white space just above the Flickr embed. It is no

[2021-07-01 02:25] arunsathiya commented on #4144
Since this happens for Independent Publisher 2 and Dalston, it is possible that more themes are affected too. Theme wranglers, do you have a way to bulk-test against our themes?

[2021-07-01 02:26] arunsathiya commented on #4129
I have asked if there is a way to bulk-test against all themes: https://github.com/Automattic/themes/issues/4144#issuecomment-871862404

[2021-07-01 08:58] MaggieCabrera opened #4146 "Seedlet + Mayland Blocks: Add FSE tag for dotorg"
I was navigating the [theme directory for FSE themes](https://wordpress.org/themes/tags/full-site-editing/) and only saw Blockbase. Seedlet Blocks and Mayland Blocks should have the tag too.

[2021-07-01 09:01] #3964 closed, assigned to mikachan

[2021-07-01 09:14] #3960 closed, assigned to scruffian

[2021-07-01 10:09] #4047 closed, assigned to nobody

[2021-07-01 11:42] #4049 closed, assigned to nobody

[2021-07-01 12:40] swoodipto opened #4148 "Quadrat Paragraph Block: Link color not working when custom text color is set"
## Steps to replicate

* Activate Quadrat theme
* Create a new post or page and add some text with links
* Set link color, check preview [this should work]
* Now set text color, check preview [the link color option stops working]

## Result

| Live Site | Editor |
| ------------- | ------------- |
| **In the live site**, the links show default theme link color if a custom text color is set.  | **I

[2021-07-01 12:41] MaggieCabrera opened #4149 "All themes: supporting block templates on 5.8"
Coming 5.8 a new featured is going to be introduced: [block templates](https://make.wordpress.org/core/2021/06/16/introducing-the-template-editor-in-wordpress-5-8/). With this feature, classic themes can provide the user with the opportunity to create their own block-based template for any new pages that use them.

Initially just adding `add_theme_support( 'block-templates' );` should be enough to

[2021-07-01 12:46] khristiansnyder commented on #3194
Had a report of this in #30421770-hc.

Used CSS to fix:

[code]

[2021-07-01 13:02] #3615 closed, assigned to mikachan

[2021-07-01 13:58] liviopv commented on #4025
Another case: 4108567-zen

[2021-07-01 14:49] pbking commented on #4133
Update:
Debugging [here](https://rear-six.jurassic.ninja/) I found that the submenu container is styled with `class="submenu-container"` while locally it's using `wp-block-navigation-link__container`.

It shouldn't be a matter of how the navigation block is constructed (with __unstableLocation or building it out via FSE) as in both scenarios the Navigation block is doing the rendering...  So I'm n

[2021-07-01 15:06] pbking commented on #4133
Ah HAH!  The difference is that the situation in question was using the `page-list` block which (unfortunately) creates different markup than if you added `page-link` blocks individually.

I can address this with a slight CSS change, however I believe that the correct fix lies in the block.  I'll look into both.

[2021-07-01 15:07] kjellr commented on #4133
Thanks for tracking that down!

[2021-07-01 15:59] pbking commented on #4133
[This item in Gutenberg](https://github.com/WordPress/gutenberg/issues/31879), once resolved, will eliminate the need for multiple classes.

[2021-07-01 19:29] scruffian commented on #3373
We now use a location attribute, so I think we can close this.

[2021-07-01 19:29] #3373 closed, assigned to nobody

[2021-07-01 20:06] #3546 closed, assigned to pbking

[2021-07-01 20:06] #4046 closed, assigned to pbking

[2021-07-02 07:17] scruffian commented on #4048
This was fixed by #4139 and #4117.

[2021-07-02 07:17] #4048 closed, assigned to nobody

[2021-07-02 07:25] #4133 closed, assigned to pbking

[2021-07-02 12:54] scruffian opened #4155 "Quadrat: Footer shape not showing in Site Editor"
## Steps to replicate

The footer shape doesn't appear in the Site Editor.
Frontend:
<img width="1440" alt="Screenshot 2021-07-02 at 13 52 33" src="https://user-images.githubusercontent.com/275961/124277420-ec112780-db3c-11eb-9c8c-b141d3e9b66c.png">

Site Editor:
<img width="1440" alt="Screenshot 2021-07-02 at 13 52 13" src="https://user-images.githubusercontent.com/275961/124277443-f3383580-db3c-

[2021-07-02 13:04] scruffian opened #4156 "Quadrat: Remove footer credit option from customizer in WPCOM"
## Steps to replicate

On WordPress.com we show this section in the customizer, but it doesn't work:

<img width="394" alt="Screenshot 2021-07-02 at 14 03 30" src="https://user-images.githubusercontent.com/275961/124278538-49f23f00-db3e-11eb-90fd-e872df11d328.png">

## Expected

We should remove this section for block themes for now.

cc @ramonjd @ianstewart

[2021-07-02 13:13] scruffian opened #4157 "Quadrat: Header block padding"
## Steps to replicate

Add background color to a header block:
<img width="694" alt="Screenshot 2021-07-02 at 14 12 07" src="https://user-images.githubusercontent.com/275961/124279505-7e1a2f80-db3f-11eb-992d-d154e6cfbde5.png">

I think this is probably too much padding. The padding comes from Gutenberg so I expect the fix should be there too.

Originally reported here: pNEWy-dYW-p2#comment-53296

[2021-07-02 13:58] scruffian opened #4158 "Quadrat: Image alignments in Layout Grid block"
## Steps to replicate

- Add a layout grid block
- Add an image to the block
- Align the image to the right

## Result

- The image appears on the left
<img width="1064" alt="Screenshot 2021-07-02 at 14 58 45" src="https://user-images.githubusercontent.com/275961/124285649-04d20b00-db46-11eb-9d0a-48776a2b3382.png">

## Expected

- The image should appear on the right

Reported in pNEWy-dYW-p2#comm

[2021-07-02 14:02] pbking commented on #4148
I was not able to reproduce this.  Links and other text were all the colors I expected.  Tried custom colors as well as using presets (and combinations of the two).
![image](https://user-images.githubusercontent.com/146530/124286141-a47aa380-db1c-11eb-9c12-e03914d74565.png)

[2021-07-02 14:20] katiebethbrown commented on #2940
Another report in 30439881-hc

EDITING TO ADD:

- This DOES work if you add a Classic Block, and then create a gallery inside of that.
- It DOES NOT work if the gallery in the post is a block-based gallery.

[2021-07-02 18:23] kcswong commented on #3201
Report in 26748133-hc, Atomic site

Changed homepage to latest posts, and sent steps for making sticky posts so they could have some static content at the top of the feed as an alternative to static homepage

[2021-07-02 22:06] ktyfuller604 commented on #2389
Another report here: 4112150-zen

[2021-07-03 11:11] swoodipto commented on #4148
@pbking I am still able to replicate this issue. Here's the screen recording: https://d.pr/v/mUzYtD/5JmaPaWg9y

Not sure how specific to the browser this is, FWIW I tested this on:

* Vivaldi 4.0 (based on Chromium 91.0)
* Firefox 89.0.2

And the issue persists on both browsers.

[2021-07-03 21:02] gabrielbonifacio opened #4159 "Independent Publisher 2: Audio player with broken style"
## Steps to replicate

1. Create or edit a page using the Classic Editor.
2. Insert an audio file using the `[audio]` shortcode:

![Audio file](https://i.imgur.com/oWiaDif.png)

3. Save the page.
4. Active the "Independent Publisher 2" theme.

## Result

The styles of the play and volume buttons are broken:

![](https://i.imgur.com/2aJE62u.png)

## Expected

It's expected that the audio player sho

[2021-07-04 19:02] Robertght commented on #3340
Another case in 4110494-zen

[2021-07-04 23:43] donalirl opened #4161 "Blank Canvas: Don't Show Site Title in Footer When 'Display Site Title & Tagline' is unchecked"
## Steps to replicate

1. Set a site title
2. Under Customize → Site Identity, uncheck 'Display Site Title & Tagline' and click Save Changes
2. View site's footer, where the site title appears

## Result

The site title appears in the footer, even with 'Display Site Title & Tagline' unchecked.

## Expected

I did not expect the site title to appear, as this is a blank canvas theme that I expected

[2021-07-04 23:53] donalirl commented on #4161
In the meantime, this CSS will hide it:

[code]

[2021-07-05 00:14] jordesign commented on #2277
I've issued a PR - which _seems_ to add the control for Varia. Wanted to get it checked before I move on to Seedlet.
#4160

[2021-07-05 00:49] kaitohm commented on #1765
@danieldudzic Just checking... Has this been deployed now?

[2021-07-05 01:55] ramonjd commented on #4156
Thanks for the ping!

Could you expand on this a little just to make sure we're experiencing the same issue?

For block themes, the Customizer controls the content of the footer credit **only where no footer credit and link to Wordpress.(com|org) exist**.

I just tested this by creating a new block theme site on WPCOM (TT1 blocks).
<img width="376" alt="Screen Shot 2021-07-05 at 11 38 27 am" src="

[2021-07-05 03:19] alaczek opened #4162 "Blank Canvas: Linked Featured Images are underlined"
It looks like styling from regular links is bleeding into images, adding an underline to linked featured images. I noticed this while testing the Featured Image block inside the Query block.

## Steps to replicate
1. Test site setup: Blank Canvas.
2. Create a post or a page and add a Query block. Pick layout with a Featured Image.
3. Select the Featured Image block and select the option to link to

[2021-07-05 05:45] alaczek opened #4163 "Blank Canvas: Spacing between blocks inside Query doesn't match between the editor and preview."
I'm not 100% sure if this is an editor or a theme issue, but I noticed the spacing between blocks inside a Query block differs significantly between the editor and the preview.

## Step-by-step reproduction instructions
1. Create a new page (on a site with a couple of existing posts ).
2. Add a Query block to the page.
3. Take note of the spacing between elements.
4. Save and then preview the page

[2021-07-05 08:29] scruffian commented on #4156
Yes this is the problem I noticed too.

I think that make sense, for now, until we have a better way for them to control it.

Quadrat is being built as a universal theme. It should be possible to switch the Site Editor on and off with this PR: https://github.com/Automattic/themes/pull/4154

[2021-07-05 12:07] #4146 closed, assigned to nobody

[2021-07-05 12:49] MaggieCabrera commented on #3395
I could not reproduce this (either locally or on dotcom). On an existing site:

FSE:

<img width="1709" alt="Screenshot 2021-07-05 at 14 44 53" src="https://user-images.githubusercontent.com/3593343/124473535-bddf5200-dd9f-11eb-92de-93f4a60e6345.png">

Frontend:

<img width="1748" alt="Screenshot 2021-07-05 at 14 45 33" src="https://user-images.githubusercontent.com/3593343/124473537-bf107f00-dd9f

[2021-07-05 13:36] MaggieCabrera commented on #3644
I'm very keen on getting this in for Quadrat. I think this should be a Query block block style + Block pattern so it's easier for users to insert and reuse:

<img width="1145" alt="Screenshot 2021-07-05 at 15 32 54" src="https://user-images.githubusercontent.com/3593343/124479285-67c1dd00-dda6-11eb-89f3-a20047301d27.png">

We could have the 3 squares styles repeat every 3 other posts in the cases

[2021-07-05 15:13] #4099 closed, assigned to pbking

[2021-07-05 15:26] MaggieCabrera commented on #4148
This is a dotcom only issue, you can check it [here](https://theamdemo.wordpress.com/2019/06/24/gutenberg-paragraph/)

[2021-07-05 15:50] metabreakr commented on #2261
User in 29472688-hc is having similar issues, however within the editor. The linked caption is dark grey:

<img width="683" alt="Markup 2021-07-05 at 09 50 25" src="https://user-images.githubusercontent.com/39252765/124496285-798b8c00-dd76-11eb-9051-f4e5b502d2a4.png">

[2021-07-05 15:51] MaggieCabrera commented on #4148
Same issue as https://github.com/Automattic/wp-calypso/issues/45456

[2021-07-06 05:56] poojashetty18 commented on #3892
Another report here where the Verse block is breaking the first letter in browsers 4118581-zen

[2021-07-06 09:23] kspilarski opened #4167 "Venture: No Space after WooCommerce Susbcriptions product price and texts"
## Steps to replicate

- activate Venture theme
- activate WooCommerce and WooCommerce Subscriptions plugins
- set up product > go to product page > product data > set price and expiration (after X month)

## Result

A product's subscription price and frequency won't have space.

**Product data (every month) appears on the site as  `£25.00for 1 month`:**

<img width="214" alt="Screen Shot 2021-07-

[2021-07-06 09:27] kosiew commented on #4130
Encountered the same in Floral theme too during an Empathy Flow test.

[2021-07-06 10:16] yashitamittal11 commented on #3117
I can reproduce the issue on my test site using the Heading block on the Twenty Twenty One theme during Empathy Testing. The inline-image is working fine on other themes.

Screencast below-

https://user-images.githubusercontent.com/21078987/124583571-d1a6b900-de70-11eb-83ae-50cc9a4e5aa3.mp4

[2021-07-06 12:28] lizswafford commented on #4159
21997652-hc
This error affects all previous audio shortcode entries.
Audio Block works correctly.

[2021-07-06 14:55] scruffian commented on #3653
Another attempt: https://github.com/WordPress/gutenberg/pull/33217

[2021-07-06 15:03] MaggieCabrera opened #4169 "Quadrat: Latest posts block color text"
The Latest posts block is not very legible with the default colors of the theme:

<img width="700" alt="Screenshot 2021-07-06 at 17 02 22" src="https://user-images.githubusercontent.com/3593343/124623229-171cb380-de7c-11eb-8899-0107fa2816a2.png">

[2021-07-06 15:09] kjellr commented on #3644
I'm interested in @beafialho's input too, but my initial thought is:

- A query block pattern makes sense.
- This should be on hover only, and only on desktop (since there's no hover on mobile).
- I'd love some sort of light spin + fade-in when it appears.

[2021-07-06 16:09] katiebethbrown opened #4170 "Featured Images Smaller Than the Recommended Size Don't Show On Live Site"
## Steps to replicate

1. Add a featured image to a page.

## Expected

I expected to see the image display behind the page title in the header.

## Result

If the image is smaller than the recommended size in the theme docs (1100px) the header area is just a sold color and no image background is used. There's no indication of an issue in the editor either, so it appears to the user to be broken,

[2021-07-06 16:09] katiebethbrown opened #4177 "Appetite: Featured Images Smaller Than the Recommended Size Don't Show On Live Site"
## Steps to replicate

1. Add a featured image to a page.

## Expected

I expected to see the image display behind the page title in the header.

## Result

If the image is smaller than the recommended size in the theme docs (1100px) the header area is just a sold color and no image background is used. There's no indication of an issue in the editor either, so it appears to the user to be broken,

[2021-07-06 16:29] jffng commented on #3818
We are implementing the site padding using [responsive values](https://github.com/Automattic/themes/blob/9e67e3d9180827638489b218749ee3d5c510fe0f/quadrat/child-theme.json#L183-L186) already. Unless there is a specific area where we need the spacing to be different or something specific, I think this issue can be closed.

[2021-07-06 17:03] scruffian opened #4173 "Blockbase: Color customizations caching"
## Steps to replicate
In Blockbase, change colors in the customizer, and reload the front end. Notice that it takes some time for the new colors to show. I think this is a caching issue.

[2021-07-06 19:12] pbking commented on #3818
I agree that we have some pretty good examples of responsively spacing and second closing this item.

[2021-07-07 01:23] ramonjd commented on #4156
Thanks for the clarification and quick feedback.

Looked straightforward so I threw this up: D63768-code

[2021-07-07 01:43] jordesign commented on #4159
Another instance of this - I've confirmed this is a WPCOM only issue - as the audio player renders correctly in a Jurassic Ninja site:
https://nuclear-booby.jurassic.ninja/2021/07/06/testing-audio/

#30488109-hc

[2021-07-07 03:17] joweber123 commented on #4030
Another report of this here - 4121057-zen

CSS workaround provided above works for this Premium site user.

[2021-07-07 03:35] happychait commented on #1601
I have had a user report this in 30507431-hc.

[2021-07-07 03:35] happychait commented on #1328
I have had a user report this in 30507431-hc

[2021-07-07 10:22] druesome commented on #2788
@AtrumGeost yup! I'll go ahead and close this.

[2021-07-07 10:22] #2788 closed, assigned to nobody

[2021-07-07 13:07] carinapilar opened #6508 "Twenty Twelve: Inconsistency with Button Colors"
### Steps to reproduce the behavior

1. Create a new page, on a site with the Twenty Twelve theme
2. Add a Button block on the page
3. Change the Button's background and text color, in the block's settings

#### What I expected to happen
For the Button to show with the colors set in the settings, either on the editor, and on the site.

#### What actually happened
If you set a background Solid colo

[2021-07-07 13:47] pbking commented on #4173
The same is true for Global Styles panel in the FSE.  It starts with the default colors for a few seconds before switching to the customized colors. This was before I saw the content render. This was especially noticeable on my sandbox but also noticed locally.

[2021-07-07 13:54] pbking commented on #4148
Closing as a duplicate.

[2021-07-07 13:54] #4148 closed, assigned to nobody

[2021-07-07 13:55] #3644 closed, assigned to nobody

[2021-07-07 14:13] #3818 closed, assigned to jffng

[2021-07-07 14:20] #4059 closed, assigned to nobody

[2021-07-07 14:50] #4169 closed, assigned to jffng

[2021-07-07 14:53] MaggieCabrera commented on #3364
Can confirm that https://github.com/Automattic/block-experiments/pull/177 fixes this issue. Closing.

[2021-07-07 14:53] #3364 closed, assigned to nobody

[2021-07-07 15:11] kjellr opened #4178 "Quadrat: Sync up first post title position between archive and single pages"
On the default index template, the first post's meta should line up with where the meta would appear on a single post page. I recall this being the case at some point, but it's no longer in sync.

Fixing this will require:

- **Index template:** Adding additional spacing before the first post. Leaving mobile as it is today.
- **Single Template:** Adding additional spacing before the first post on

[2021-07-07 15:37] #4112 closed, assigned to scruffian

[2021-07-07 15:38] mikeicode opened #4179 "Varia: Buttons block custom color hover issue"
Buttons which have custom colors set using the preset colors (the circles) don't correctly use the same custom text color on hover. This can result in the text not being visible on hover (or just the wrong text color even if it is visible). I've tested this on top of Cover blocks and outside the Cover blocks and the issue happens in both cases.

## Steps to replicate

Add a Buttons block to a page

[2021-07-07 16:05] scruffian commented on #4111
I believe that now Quadrat has an index.html file this no longer happens.

[2021-07-07 16:05] #4111 closed, assigned to scruffian

[2021-07-07 16:06] MaggieCabrera commented on #2881
I think this one is a duplicate of https://github.com/Automattic/themes/issues/3364

[2021-07-07 16:06] #2881 closed, assigned to nobody

[2021-07-07 20:07] nickpagz commented on #3677
User report here as well:
#27820715-hc
Provided the css with adjustment for the user's featured image size.

[2021-07-07 21:24] ramonjd commented on #4156
Fixed in r228343-wpcom

[2021-07-07 21:24] #4156 closed, assigned to nobody

[2021-07-07 23:13] scruffian commented on #4149
We already have a PR that does this!
https://github.com/Automattic/themes/pull/4141/files

[2021-07-08 00:46] jordesign opened #4182 "Review Theme Taxonomies"
It's been a while since we reviewed the current taxonomies for themes - I think it's time to do so again as there are some taxonomies and values which are no longer relevant.

[2021-07-08 01:46] jordesign commented on #4182
A bunch of discussion on what terms and taxonomies to keep in pd2qbF-az-p2#comment-220

[2021-07-08 06:59] scruffian commented on #4149
Do we need to add this to block themes? It seems to already be there in Blockbase:
<img width="353" alt="Screenshot 2021-07-08 at 07 58 53" src="https://user-images.githubusercontent.com/275961/124876818-59e8a380-dfc2-11eb-92bc-fb9e9518a1ee.png">

[2021-07-08 10:59] scruffian commented on #3395
I also can't replicate this. Please reopen if you still have issues.

[2021-07-08 10:59] #3395 closed, assigned to nobody

[2021-07-08 11:46] kjellr opened #4188 "Quadrat: Some widget blocks use dark gray text"
The following widget blocks display their secondary content using a dark gray text. This is difficult to read against the theme's gray background, and I recommend we change it to the default text color instead.

## Latest Posts (with Author Name and Post Date turned on)

<img width="207" alt="Screen Shot 2021-07-08 at 7 41 25 AM" src="https://user-images.githubusercontent.com/1202812/124915981-273

[2021-07-08 12:17] mikeicode opened #4189 "Varia: Text color on "Image showcase portfolio layout" pre-defined layout doesn't match editor"
The text color in the first section of the "Image showcase portfolio layout" pre-defined layout shows white text in the editor but it's dark on the published page.

## Steps to replicate

Add the "Image showcase portfolio layout" pre-defined layout:

![Screen Shot on 2021-07-08 at 08:08:14](https://user-images.githubusercontent.com/10353785/124918997-b00a1680-dfc3-11eb-8821-f2a839ac45fa.png)

View

[2021-07-08 12:57] scruffian commented on #4188
Fix for the tag cloud portion of this here: https://github.com/WordPress/gutenberg/pull/33289

[2021-07-08 13:41] scruffian commented on #4188
I can't replicate the issue with Latest Posts:
<img width="173" alt="Screenshot 2021-07-08 at 14 41 20" src="https://user-images.githubusercontent.com/275961/124931981-9afcaa00-dffa-11eb-9d18-c348cd1bfaeb.png">

[2021-07-08 14:43] scruffian commented on #4188
The RSS change is here: https://github.com/WordPress/gutenberg/pull/33294

[2021-07-08 14:51] melchoyce opened #4191 "Blank Canvas: Link underlines break on multiple lines"
## Steps to replicate

1. Create some text that goes onto a second line
2. Turn that text into a link

## Result

Because the CSS uses a border for link styling, the border only appears on the bottom row of text:

<img width="500" src="https://user-images.githubusercontent.com/2846578/124942809-f4a0ac80-dfd9-11eb-86c7-44ff4ee91eaf.png" />

## Expected

I expect the link underline to work on both l

[2021-07-08 15:26] kwight commented on #3140
@andres-blanco I'm having a hard time finding it, did you have a PR or diff for this?

[2021-07-08 16:25] pbking opened #4193 "Blockbase Font Customization Error"
## Steps to replicate

* Activate Quadrat
* Make sure you're starting with an "un-customized" theme environment (Using Global Styles Panel in FSE 'Rest to Defaults')
* Open Customizer and Customize the Fonts
* Set 'Body Font' to 'Domine' and Publish
* Refresh the Customizer.
[code]
Note the brokenness.

If that doesn't break it then also:
* Activate Blockbase
* Activate Quadrat
* Load Customizer
*

[2021-07-08 17:01] jp-imagines commented on #3127
I had a report of this issue with the Morden theme in 29312266-hc.

User sees this in the editor (red and blue are the default colors):
<img width="480" alt="Markup 2021-07-08 at 13 00 38" src="https://user-images.githubusercontent.com/5630717/124962369-874a4700-dfec-11eb-8e7b-aa961cedae36.png">

But this on the live site (green palette was selected by the user):
<img width="382" alt="Markup 2021-

[2021-07-08 17:59] #4083 closed, assigned to nobody

[2021-07-08 19:56] metabreakr commented on #4030
For 4104970-zen (reported above), I comp'd the user custom design to use the CSS workaround.

[2021-07-08 20:30] kwight commented on #3483
@andres-blanco Is anything else needed to close this out?

[2021-07-09 09:44] #4193 closed, assigned to nobody

[2021-07-09 09:48] #4157 closed, assigned to pbking

[2021-07-09 10:39] scruffian commented on #4188
Latest posts fix here: https://github.com/WordPress/gutenberg/pull/33325#issuecomment-877074816

[2021-07-09 13:51] scruffian commented on #4155
This should happen in Gutenberg, I'm going to move it to blocked.

[2021-07-09 14:34] scruffian commented on #3660
I created new cards for the remaining tasks here, so closing this.

[2021-07-09 14:34] #3660 closed, assigned to nobody

[2021-07-09 14:53] scruffian commented on #4158
This is tracked in Gutenberg now: https://github.com/WordPress/gutenberg/issues/33332

[2021-07-09 14:53] #4158 closed, assigned to mikachan

[2021-07-09 15:11] sajmes opened #4196 "Nikau: Tag Cloud Widget font size small in sidebar compared to other widgets/site fonts"
A user reported that they found the font size when adding a Tag Cloud widget to the sidebar in Nikau to be disproportionately small compared to the other font sizes in the theme.

It looks like the font currently displays as 8px, while other widgets such as Categories added in the same place have a larger font.

![nikau](https://user-images.githubusercontent.com/76757079/125099487-0e0f2a80-e0a6-11

[2021-07-09 16:02] jffng opened #4197 "Blockbase (+ Quadrat) color changes made via Customizer do not reflect on wpcom"
## Steps to replicate

1. Go to the site editor on wpcom
2. Change some colors in the palette
3. Verify they show up in the front-end
4. Go to the customizer (/wp-admin/customize.php) and change some colors or select a palette other than the default.
5. Save and refresh, or view the front-end

## Result

The colors return to the default palette

## Expected

The color changes from the Customizer t

[2021-07-09 16:07] scruffian opened #4198 "Blockbase: Fonts"
The font weights/styles in [this file](https://github.com/Automattic/themes/blob/486aa30fbea19f695faae18460747b6b5041ace9/blockbase/inc/wp-customize-fonts.php) are probably not the best options. We should replace them with a normal, bold and italic option.

cc @kjellr

[2021-07-09 16:20] scruffian opened #4199 "Blockbase: Customizer refactor"
The code in [this file](https://github.com/Automattic/themes/blob/486aa30fbea19f695faae18460747b6b5041ace9/blockbase/inc/wp-customize-fonts.php) has way too much repetition (check the multiple `property_exsists` calls) - we should write a function which allows you to create an object if it exists or modify it if it does not.

[2021-07-09 16:30] melchoyce commented on #4191
Looks like this is a problem in Seedlet, too:

![image](https://user-images.githubusercontent.com/2846578/125109484-6b5ca900-e0b1-11eb-964e-860adf1d9468.png)

[2021-07-09 16:55] melchoyce opened #4200 "Spearhead: Linked images shouldn't be underlined"
## Steps to replicate

1. Add an image to a post or page
2. Add a link location to that image

## Result

See that there is an underline beneath the image:

![image](https://user-images.githubusercontent.com/2846578/125112221-e07dad80-e0b4-11eb-8c91-6bc3f1bb3979.png)

## Expected

There should not be an underline.

[2021-07-09 17:00] melchoyce opened #4201 "Spearhead: Lists have huge left padding"
## Steps to replicate

Add any block that uses `ol` or `ul`, such as the Recent Comments or Archive blocks.

## Result

See there is a very large padding on the left side of the list:

<img width="500" src="https://user-images.githubusercontent.com/2846578/125112657-76193d00-e0b5-11eb-9917-d8ff47edcbd6.png" />

## Expected

That spacing could easily be halved. @kjellr any thoughts on a specific wi

[2021-07-09 17:27] scosgro commented on #3321
Also: https://github.com/Automattic/themes/issues/3452

[2021-07-09 17:28] scosgro commented on #3452
Another report using Fortune in 4128131-zd

[2021-07-09 18:17] kjellr commented on #4201
I think we could remove the left margin entirely and see how that feels.

[2021-07-09 18:23] kjellr opened #4202 "Blockbase/Quadrat: image-no-margin utility class does not work if the image has a hyperlink"
Blockbase includes a utility class to remove margin from an image. This allows us to create the "Latest Episodes" pattern in Quadrat:

<img width="1178" alt="Screen Shot 2021-07-09 at 2 23 01 PM" src="https://user-images.githubusercontent.com/1202812/125120926-2c365400-e0c1-11eb-8d6a-2be598806119.png">

This pattern leaves a gap below the image if the image has a hyperlink however:

<img width="11

[2021-07-09 18:46] #4178 closed, assigned to mikachan

[2021-07-09 23:42] kaitohm opened #4233 "Broadsheet theme: theme overwrites heading font size set in block settings"
### Steps to reproduce the behavior

1. Apply Broadsheet to site
2. Add a Heading Block to any page or post
3. Adjust the font size setting in the right-panel block settings
4. Notice font size changes in editor, but not on the front-end of the site

#### What I expected to happen

Font sizes will change accordingly

#### What actually happened

Font size remains the same regardless of block setti

[2021-07-10 20:16] dcoleonline commented on #4159
Another report in 4129795-zd
I applied the CSS below, which came from 4112809-zd:

[code]

This seems to allow the audio to play, but the play button doesn't turn into a pause button, so it isn't a complete fix.
We should also notify the customer once we know more about a permanent fix.

[2021-07-11 00:40] joweber123 commented on #3527
Another instance here - 4130153-zen

[2021-07-11 09:57] formosattic opened #4203 "Verity: Featured image on front page pops up on left side of content"
When a featured image is set on the page set as the front page pops, the featured image will appear in square on the left side.

## Steps to replicate

1. Create a page
2. Add a featured image (to control thumbnail image when sharing on social media)
3. Set page as front page

## Result vs Expected

| **Result**| **Expected** |
| ------------- | ------------- |
| ![Screen Shot 2021-07-11 at 17 43

[2021-07-11 14:08] aisajib opened #4204 "Opti: Header Color changes are not saved"
This was first reported in the forums: https://wordpress.com/forums/topic/header-background-not-changing-colour/

However, I wasn't able to replicate it on test sites. The issue is apparently reproducible on that have had the Opti theme active for a while. Both the user's site and the theme demo site (that have had the theme active for some time) showed the issues.

## Steps to replicate
1. Open a

[2021-07-11 14:46] sajmes commented on #2753
Another report: 4130544-zd-woothemes.

Happens in both the following cases:

- A full width column block containing no other blocks with full width settings (resolves when setting column to wide width)
- Column block containing a wide width group block (resolves when setting group to wide width)

[2021-07-11 20:27] kathrynwp commented on #810
Dupe of #1417

[2021-07-11 20:27] kathrynwp commented on #1417
Dupe of #810

[2021-07-12 08:22] inaikem commented on #6508
Tested and confirmed the above on a Simple sites. My atomic test site was not affected.

[2021-07-12 09:25] scruffian commented on #4173
i can no longer replicate this either. Closing for now.

[2021-07-12 09:25] #4173 closed, assigned to nobody

[2021-07-12 09:39] edwinho89 opened #4205 "Photographer: Allow Selecting Number of Posts using Portfolio Page Template"
## Steps to replicate

When using Portfolio Page Template on a page using [Photographer](https://wordpress.com/theme/photographer/setup) theme, it displays up to 12 posts at a time, however no option to change how many posts to display before toggling into next page.

## Result

The Portfolio Page Template displays up to 12 posts at a time.

## Expected

It'd be great if the Portfolio Page Templat

[2021-07-12 11:56] jordesign commented on #2277
I'll confess I haven't been able to get this working.

`add_theme_support( 'experimental-custom-spacing' );` seems to have no effect - and `add_theme_support( 'custom-spacing' );` still uses the original style.

@iamtakashi  does this padding option/property seem like something that is still possible?

[2021-07-12 12:47] kjellr commented on #4198
Can you clarify this a little further? I recall mentioning that we should probably go through and verify that we're using correct "normal", "bold" weights for each of these fonts — is that what this issue is tracking?

[2021-07-12 12:54] scruffian commented on #4198
Yes exactly, that was never done :)

[2021-07-12 13:30] kjellr commented on #4198
Cool thanks. I'll assign myself and take care of this (hopefully) this week.

[2021-07-12 14:55] kjellr opened #4207 "Seedlet: Blocks within the Query Loop block do not inherit correct front-end margins"
When using the Query Loop block, the child block margins don't match between the front-end and the editor. The editor appears more like I'd expect.

This happens with Seedlet and its child themes.

## Steps to replicate

1. Add a Query Loop block with an assortment of children.
2. Save your post or page, view it on the front end.

## Screenshots

Editor|Front-end
---|---
<img width="658" alt="Scre

[2021-07-12 14:57] kjellr opened #4208 "Seedlet: Post excerpt block does not include the correct line height"
The post excerpt block has incorrect line height in the editor.

## Steps to replicate

1. Add a "Post Excerpt" block.
2. Save your post or page, view it on the front end.

## Screenshots

Editor|Front-end
---|---
<img width="631" alt="Screen Shot 2021-07-12 at 10 53 48 AM" src="https://user-images.githubusercontent.com/1202812/125309568-de5b5f00-e2ff-11eb-95e8-27ea806c61c7.png">|<img width="641"

[2021-07-12 15:55] andres-blanco commented on #3140
This was my bad, I self assigned this and then I got caught up by something else.

I started testing this issue, but adding the theme.json in the theme root dir broke the visualization of the block editor.

I will unassign myself because I think this sprint there are more relevant things to take care of.

[2021-07-12 16:06] MaggieCabrera commented on #3140
Yes, we've been there too :D Adding theme.json enables the new layout container and changes how alignments work for the theme and that's a whole other can of worms so we ended up removing theme.json files from all our classic themes for the moment.

[2021-07-12 17:04] kjellr opened #4211 "Quadrat: Add example illustrations to the media library as starter content"
As noted in [Quadrat's theme description](https://github.com/Automattic/themes/issues/3660#issuecomment-844228407), we intended for the theme to ship with the following illustrations added to he media library along with its starter content:

<img width="855" alt="Screen Shot 2021-07-12 at 1 01 36 PM" src="https://user-images.githubusercontent.com/1202812/125327606-4bc3bb80-e311-11eb-8653-4bd4318a5

[2021-07-12 17:49] andres-blanco commented on #3483
There's still the .org fixes that I didn't get around to push forward since the process is more convoluted.

I will unassign myself since I don't think I will be able to tackle this in the current sprint.

[2021-07-12 21:13] kwight commented on #3483
The default themes have been left in the care of the Theme Team: pNEWy-e5R-p2

@andres-blanco will finish up Hemingway Rewritten, Independent Publisher 2, and Ryu to close out our pod work.

[2021-07-12 21:38] kwight commented on #2277
@jordesign It looks like it should be `add_theme_support('custom-spacing')`: https://github.com/WordPress/gutenberg/pull/27045

What do you mean by "still uses the original style"?

[2021-07-12 22:40] alaczek commented on #4018
I think this is being worked on in #3483

[2021-07-12 22:42] alaczek commented on #3483
This issue is also present in Baskerville 2 - maybe it could be squeezed in?
https://github.com/Automattic/themes/issues/3739

[2021-07-13 01:48] jordesign commented on #2277
`add_theme_support('custom-spacing')` is already in place in Varia at the moment - and the result is this padding control:

<img width="1103" alt="Screen Shot 2021-07-13 at 11 47 24 am" src="https://user-images.githubusercontent.com/1842363/125377318-21850300-e3d0-11eb-8132-a1850ae3e43e.png">

But I haven't been able to enable the controls shown in https://github.com/WordPress/gutenberg/pull/21492

[2021-07-13 08:30] MaggieCabrera commented on #3932
Hi @Aljullu is this still happening to you? I think this might have happened at some point during development but I'm not sure it's the case anymore. I have https://theamshopdemo.wpcomstaging.com/ setup with Blockbase and tested it with Quadrat too and styles are loading fine.

[2021-07-13 09:29] beafialho commented on #3644
Thanks for dedicating some time to this! While I understand the light spin idea, I think a smooth fade-in works better.

Another detail is the post titles would be underlined on hover, like we have on ["Blog" posts](https://quadratdemo.wordpress.com/category/blog-posts/), the reverse of what's currently happening.

https://user-images.githubusercontent.com/65220155/125426676-1cea5c4d-f8c5-4822-8be

[2021-07-13 10:09] mikachan commented on #3932
Hey @Aljullu. I've also just tried this out with a new business site using Blockbase, and I couldn't replicate the issue. The styles loaded fine for me and my test page looked the same both before and after installing the Woocommerce plugin and the Yoast SEO plugin.

I agree with @MaggieCabrera, this probably happened sometime during development but it's fine now.

[2021-07-13 10:10] MaggieCabrera commented on #3932
I'm closing this, thanks @mikachan for testing. If it happens again, please let us know!

[2021-07-13 10:10] #3932 closed, assigned to nobody

[2021-07-13 11:07] MaggieCabrera opened #4215 "Quadrat: Clip-path polygons are bleeding weirdly on wide screens on Firefox"
## Steps to replicate

On a very wide screen, on Firefox the polygons on the header and the footer are acting strangely:

<img width="2494" alt="Screenshot 2021-07-13 at 13 06 16" src="https://user-images.githubusercontent.com/3593343/125441701-7a2831a5-1a9a-4239-8c0d-43fe56ff03f1.png">

[2021-07-13 13:08] andres-blanco commented on #3483
Hemingway Rewritten, Ryu & Baskerville 2 fix: D63997-code

[2021-07-13 13:52] beafialho commented on #4188
I noticed this happening in the Subscription Form block as well.

<img width="563" alt="Captura de ecrã 2021-07-13, às 14 51 05" src="https://user-images.githubusercontent.com/65220155/125463745-71579814-d306-434e-8e4d-7af0de1d98fb.png">

[2021-07-13 14:29] scruffian commented on #4188
Thanks, we are tracking that here: https://github.com/Automattic/jetpack/issues/17590

[2021-07-13 14:29] #4188 closed, assigned to nobody

[2021-07-13 14:46] MaggieCabrera opened #4218 "Quadrat: Add a main element to wrap the template content"
Before we submit to dotorg we need to make sure that we have [a main element on each of the templates](https://github.com/Automattic/themes/issues/3981) in the same way [we did for Blockbase](https://github.com/Automattic/themes/pull/3987)

[2021-07-13 14:50] kwight commented on #3483
@andres-blanco I think you missed Independent Publisher 2 from the original list too. 👍

[2021-07-13 14:53] andres-blanco commented on #3483
@kwight I submitted a fix in this PR https://github.com/Automattic/themes/pull/4217. It's a separate PR/Changeset because the fix is different and IP2 is the only one that's also in the git repo

[2021-07-13 14:56] andres-blanco commented on #3483
@alaczek I submitted a fix for Baskerville 2 because it was exhibiting the same bug as described in this issue. I don't know if this will fix the issue you referred to #3739

[2021-07-13 15:46] kjellr opened #4220 "Blockbase: Opt-in to support for border controls"
Blockbase should opt-in to custom border controls, as per [the notes in this comment](https://github.com/WordPress/gutenberg/issues/21540#issuecomment-829928480):

[code]

[2021-07-13 18:27] kjellr commented on #4198
In general, these should all be changed to:

400 (Normal)
700 (Bold)

And we should load the italic variant of each of those weights. Libre Baskerville does not include a bold italic weight (unfortunately), so we shouldn't look for one in that case.

If we tie into these appearance options, we'd want to pull in a more full set of weight variations:

<img width="277" alt="Screen Shot 2021-07-13 at

[2021-07-13 19:07] #4202 closed, assigned to mikachan

[2021-07-13 20:02] scruffian commented on #4198
I think so yes, if those options are surfaced in the editor.

[2021-07-13 23:40] thesacredpath opened #4221 "Radcliffe 2: menu misalignment when menu items to go additional rows"
## Steps to replicate

On Radcliffe 2 (at-site) when user has enough menu items to go to second row, the alignment is off and when it goes to more than two lines, it gets really strange. See the following screencast for the behavior.

## Result

Screencast: https://d.pr/v/EeAzLg

## Expected

Menu items to gently and orderly move to additional lines.

I have added this custom CSS to fix the issue

[2021-07-14 07:32] MaggieCabrera commented on #4220
Yeah, I thought I remembered adding these controls. The thing is not all blocks surface them the same way but these settings [are already on Blockbase](https://github.com/Automattic/themes/blob/8630adc945503f187dae4b66aadf47e25069f4a2/blockbase/theme.json#L35). You can test them on the Group block:

<img width="283" alt="Screenshot 2021-07-14 at 09 30 44" src="https://user-images.githubusercontent

[2021-07-14 08:24] MaggieCabrera commented on #4149
Happiness have been asking if this feature will be rolled out to all of our themes, I said we are targeting our most popular themes first but once we do, we should P2 about it and tag them so they are on the loop.

[2021-07-14 08:25] inaikem commented on #4149
I'd like to ask if adding block support to classic themes is going to extend to Newspack and its child themes, too.

[2021-07-14 11:46] MaggieCabrera commented on #4215
I narrowed it down to a [FF bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1707154) on screens that are doing some scaling. I think we should close this since hopefully it will be fixed on the browser and it's an edge case that will affect very few users.

[2021-07-14 12:27] andres-blanco commented on #3483
The changes on Independent Publisher 2, Baskerville 2, Ryu and Hemingway Rewritten are now deployed. Now, all its left is to fix Twenty Twenty, Twenty Sixteen and Twenty Fifteen to cover our "Recommended" themes.

[2021-07-14 13:45] dcoleonline commented on #1421
Another report in 4136047-zd

[2021-07-14 15:14] pbking commented on #4220
Indeed, just tested in Quadrat too and it's working nicely as expected.  Interestingly I see a slightly different panel layout that pictured above but it works smashingly.  I didn't even know it was there. :P

I believe that the blocks will pick up the controls as support is expressed for them.  I don't believe there's anything more to do here.  It's already awesome!

Closing this as done.  Please

[2021-07-14 15:14] #4220 closed, assigned to nobody

[2021-07-14 15:20] pbking commented on #4215
I went very very wide (spanning both pretty-wide monitors) and couldn't reproduce.
Regardless of reproducibility I 2nd closing it.

[2021-07-14 15:24] MaggieCabrera commented on #4215
Yeah, it's not just the wide screen but you need to have the resolution scaled down. In my case I see it because I'm using a very wide monitor and I'm using Mac OS auto scaling, that's why I think it's a very edge case. It was important to confirm that it wasn't our code at fault. Closing then!

[2021-07-14 15:24] #4215 closed, assigned to nobody

[2021-07-14 15:25] #4199 closed, assigned to nobody

[2021-07-14 15:50] MaggieCabrera opened #4226 "Blockbase + Children: Marketing bar"
## Steps to replicate

On your sandbox, comment line 22 of `wp-content/blog-plugins/marketing-bar.php` to show the marketing bar on any site. Check Blockbase and its children.

## Result

The marketing bar covers the menu.

<img width="1021" alt="Screenshot 2021-07-14 at 17 47 44" src="https://user-images.githubusercontent.com/3593343/125652070-80e2132c-b4cf-444b-9666-9e9ef2c9dca8.png">

## Expect

[2021-07-14 18:50] #4218 closed, assigned to nobody

[2021-07-14 19:56] #4198 closed, assigned to scruffian

[2021-07-14 20:13] jffng opened #4229 "Cannot activate Mayland blocks via theme showcase on wpcom"
## Steps to replicate

1. Go to the theme showcase and filter by the Block Templates feature e.g. https://wordpress.com/themes/filter/block-templates/jffngsimple.wordpress.com
2. Try to activate Mayland blocks
3. Verify that you get an error

## Result

Inspecting the error returned from the API, I see a 500 error: `theme_php_incompatible`.

## Expected

I expect to be able to switch to Mayland bl

[2021-07-14 20:16] jffng commented on #4229
I poked around a bit and if I set [this variable](https://opengrok.a8c.com/source/xref/trunk/wp-includes/theme.php?r=227606#917) `$compatible_php` to `true` instead of checking the requirements, I am able to activate Mayland blocks.

[2021-07-14 21:07] kwight commented on #2277
@jordesign Hm, this may have been removed since it was merged; for example, `gutenberg_extend_settings_custom_spacing` is a function introduced in https://github.com/WordPress/gutenberg/pull/21492, which is no longer present in the `client-assets.php` [file](https://github.com/WordPress/gutenberg/blob/trunk/lib/client-assets.php). (I also confirmed it's not in the plugin version we have running on

[2021-07-14 21:29] JessBoctor commented on #4120
Had a report of this in #30638810-HC

The button styling has now changed to look like different buttons entirely.

<img width="807" alt="Screen Shot 2021-07-14 at 2 19 36 PM" src="https://user-images.githubusercontent.com/12505355/125694526-886f90e5-fc27-472d-a1db-251298a1e15c.png">

Here is the CSS I used as a workaround I used:

[code]

[2021-07-14 21:38] DanielSmithMichigan opened #4231 "Stratford/Varia: First color change from default colors produces unexpected results"
### Recreation steps

1. Create a new site with stratford as the theme
1. Go to the customizer
1. Go to "Colors & Backgrounds"
1. Note that the site title and menu are blue
1. Change the "secondary color" from blue to red
1. Note that the site title and menu are dark gray now

### Example 1: Site title

![image](https://user-images.githubusercontent.com/10274366/125695890-7ab98d93-9a97-4e37-a38e-9

[2021-07-15 05:55] jordesign commented on #2277
It looks like it may have been removed in https://github.com/WordPress/gutenberg/pull/25141 in order to have support added as part of theme.json.

[2021-07-15 06:58] kosiew commented on #4233
Hi @bsanevans ,

Thanks for reporting this and the detailed steps.

[2021-07-15 07:22] jordesign commented on #2277
Alrighty -  @MaggieCabrera was super helpful with some advice here:

I'd tend to agree with that - but happy for @ianstewart and @kwight to weigh in?

[2021-07-15 07:49] MaggieCabrera commented on #4211
Closed via https://github.com/Automattic/themes/pull/4213

[2021-07-15 07:49] #4211 closed, assigned to jffng

[2021-07-15 09:16] beafialho opened #4235 "Quadrat: Menu looking off on Mobile"
When checking out the demo site on mobile, I noticed that the menu is stacking weirdly under the site title. Can we get it looking like the mockup?

Currently | Mockup
------------ | -------------
<img width="375" alt="Mobile Menu2" src="https://user-images.githubusercontent.com/65220155/125760768-551af88f-34e4-46b7-9327-a654e08d0f2c.png"> | <img width="414" alt="Mobile Menu" src="https://user-ima

[2021-07-15 10:29] #4226 closed, assigned to nobody

[2021-07-15 12:05] pbking commented on #4229
This is addressed in #4232.

[2021-07-15 12:05] #4229 closed, assigned to nobody

[2021-07-15 12:13] scruffian commented on #4197
This is now working for me, but I do see a delay in them being changed - I guess if we add that caching PR that might solve the delay, but I'd like someone else to try as I couldn't replicate the problem before :)

[2021-07-15 12:20] pbking commented on #4235
This is working as expected for me.  Not sure if recent Gutenberg or theme changes corrected but I'm unable to reproduce locally or on https://quadratdemo.wordpress.com/

![image](https://user-images.githubusercontent.com/146530/125786972-08745d71-8b59-4f82-9f4a-4b4b8747eabf.png)

[2021-07-15 14:15] beafialho commented on #4235
It is now working fine to me as well 👍

[2021-07-15 14:50] pbking commented on #4197
This was still broken for me. The behavior was unchanged.  Then I used the site editor to "reset to default".  Once done my user JSON was reset.  Once I attempted to persist the color change again things then worked as expected.

Well, with the exception of the cacheing.  This time I DID experience the color cache issue.  It took a couple of minutes and a few refreshes before I saw the color chang

[2021-07-15 14:52] scruffian commented on #4197
@pbking can you test with https://github.com/Automattic/themes/pull/4181 to see if that resolves the caching issue for you?

[2021-07-15 15:03] pbking commented on #4197
I can, and I did, and it does!

[2021-07-15 15:07] scruffian commented on #4197
great, shall we merge it?

[2021-07-15 15:10] kwight commented on #2277
Sure, it sounds like the Theme Team has been down this road before, and our pod is in no better position to start tackling broad `theme.json` support at this point (now that I think about it, this sounds vaguely familiar, Ben may have described that to me somewhere). We'll leave this open as it's still valid, but let's move on to other things @jordesign – thanks for digging in!

[2021-07-15 20:10] ianstewart commented on #4270
This ones tricky because the title option turns on the home page everywhere. Blank Canvas could perhaps instead have a separate homepage setting from it's all page setting for hiding details. Or maybe single-page sites should always have a custom template set in WordPress for the homepage? (With the new 5.8 issue.)

@jeffikus thoughts on turning this into a Blank Canvas feature request? The same i

[2021-07-16 09:41] MaggieCabrera opened #4239 "Blockbase: Full width alignments not working on the frontend"
## Steps to replicate

Create a new page and make a full width cover block. Check the frontend.

## Result

Editor:

<img width="1356" alt="Screenshot 2021-07-16 at 11 40 24" src="https://user-images.githubusercontent.com/3593343/125927728-4337e696-21f9-4732-b470-bf2b0f6cc10f.png">

Frontend:

<img width="1740" alt="Screenshot 2021-07-16 at 11 40 20" src="https://user-images.githubusercontent.com/

[2021-07-16 10:19] scruffian commented on #4197
I think we can close this now, but I'd appreciate another pair of eyes.

[2021-07-16 11:23] MaggieCabrera commented on #4239
This PR requires of this GB fix: https://github.com/WordPress/gutenberg/pull/33501

[2021-07-16 14:02] mikeicode opened #4242 "Resonar: Theme CSS causes issues with Blog Posts block image size"
The theme sets images to a smaller size which incorrectly affects the size of images within the  Blog Posts block.

## Steps to replicate

* Add a Blog Posts block to a page, set to Grid layout
* View the published page

## Result

Images are too small, caused by the theme CSS:

![size](https://user-images.githubusercontent.com/10353785/125959745-32f76b7d-8eca-4429-bdaa-d27d21aac968.png)

## Expec

[2021-07-16 14:22] scruffian commented on #3483
This seems like a core issue

[2021-07-16 14:24] MaggieCabrera opened #4243 "Quadrat: fix images for dotorg"
We got feedback from the [dotorg submission](https://themes.trac.wordpress.org/ticket/102464):

[2021-07-16 14:42] pbking commented on #3656
This has been addressed already.

[2021-07-16 14:42] #3656 closed, assigned to nobody

[2021-07-16 15:29] aleone89 commented on #1994
Another report in hc-30663567
Theme: Exford

[2021-07-16 21:40] jffng opened #4246 "Quadrat: make illustrations easier to access"
We can't bundle all of Quadrat's illustrations via headstart for systems (pbxlJb-gM-p2#comment-310) + UX ( p1626445676107400/1626442192.089100-slack-C029FM1EH) reasons.

Instead, we should make them available in the following ways:

- [x] as a downloadable zip, linked in the theme showcase entry
- [x] as individual patterns

cc @kjellr

[2021-07-18 13:15] rezzap opened #4248 "Twenty Twenty-One: Header display issue with AdWords mobile ads"
## Steps to replicate

1. Navigate to a site with the AdWords mobile ads enabled.
2. On first load the header is set at the top.
3. Scroll down to reveal the pop-up ad.
4. Scroll back up and see the issue.

https://user-images.githubusercontent.com/10325627/126068285-a38fa6bf-8fef-47d6-8dff-83880baeb46f.MP4

## Result

The navigation stays behind the ad while the site title gets pushed down.

## E

[2021-07-19 05:54] Robertght commented on #3365
Another case in 4156695-zen

The buttons become visible only on hover because the same color from the Customizer > Colors is being used to target the background of the same section: https://d.pr/i/J2hMaK

[2021-07-19 11:04] scruffian commented on #3483
Fix here: https://github.com/WordPress/gutenberg/pull/33541

[2021-07-19 14:32] scruffian commented on #760
These fixes should probably be in the block

[2021-07-19 14:32] scruffian commented on #222
This sounds like a Jetpack issue.

[2021-07-19 15:03] #4243 closed, assigned to jffng

[2021-07-19 15:36] MaggieCabrera commented on #4149
Blockbase doesn't need it because block themes have it on by default.

[2021-07-19 18:41] pbking commented on #4197
This is currently working as expected for me on .com.  I'm closing this now; we'll reopen if it happens again.

[2021-07-20 02:01] katiebethbrown commented on #4248
I had the user in chat in 30718083-hc.

I did some testing, and what I found is that after SiteKit loads the anchor ad at the top, it listens for a scroll-up behavior. When it picks up a scroll back up, it's adds inline styles to the body tag that add 124px of padding to the top of the body.

What ends up making this look unexpected on the mobile version of Twenty Twenty One is that the menu butto

[2021-07-20 16:22] sbathompson-he commented on #3145
Reported here as well on the Luxury Theme: 30698777-hc

[2021-07-20 17:33] jffng commented on #4246
Closed by #4247

[2021-07-20 17:33] #4246 closed, assigned to nobody

[2021-07-20 19:30] Robertght opened #4256 "Lovecraft: Duplicate second sticky post on load"
### Steps to reproduce the behavior

1. Activate Lovecraft
2. Add several posts
3. Make the first 2 sticky
4. Make sure the infinite scroll is the loading method(if you're on an AT site)
5. Check the blog post archive

#### What I expected to happen

To see the sticky posts only on the first page

#### What actually happened

The second sticky one loaded on the next page

### Context

#### Browser

[2021-07-20 21:10] supernovia opened #4257 "Affinity: WP.com Ad bar covers menu"
## Steps to replicate
- Enable Affinity on a free site
- Create and enable a menu for the Top menu location
- (here's where it gets tricky) View the page with a WordPress.com bar ad at the top

## Result
Menu gets covered up by the ad

<img width="1360" alt="Screen Shot 2021-07-20 at 2 59 52 PM" src="https://user-images.githubusercontent.com/3476361/126395539-1654a970-7844-4782-8ee5-59dfcf9e73a1.p

[2021-07-20 21:11] sourourn opened #4258 "Aperitive: mobile menu drop down does not close once expanded"
This is not a bug but a recommendation to improve the UX.  On the mobile menu, if you expand the drop down menu, it's not possible to close it back by clicking on the arrow. The submenu does close when you click anywhere else however, but the arrow not working makes it confusing.

<img width="411" alt="Screen Shot 2021-07-20 at 17 05 22" src="https://user-images.githubusercontent.com/39188945/1263

[2021-07-21 03:23] ogodoabiola commented on #2753
Also reported here: 4161887-zd-woothemes

[2021-07-21 08:04] #4235 closed, assigned to nobody

[2021-07-21 08:06] #4051 closed, assigned to nobody

[2021-07-21 08:12] scruffian opened #4259 "Quadrat: List of blog posts pattern missing"
## Steps to replicate

On WordPress.com the "List of blog posts" pattern doesn't show. This seems to relate to the "blockType" setting, as when that is removed it works. Since this is only on WordPress.com I think this must be an issue relating to that environment. I'm just logging this issue to keep track of it. Hopefully when Gutenberg/Wordpress is next updated it's fixed :)

[2021-07-21 11:42] MaggieCabrera opened #4260 "Blockbase + Co: Default block template could be improved"
When we are creating a new block template, the default one has a header that is not consistent with the rest of the site, and the content has no layout. We should define a better default template ourselves like we are doing for our classic themes by just using the single.html template as a base. I wonder if defining this on Blockbase will be enough for the child themes too.

<img width="1355" alt=

[2021-07-21 13:31] Nic-Sevic commented on #3942
another instance of this here: 4164193-zen

Fixed with this css:
`#contact-form-3 .wp-block-jetpack-button button{
	padding: 5px 20px 5px 20px;
}`

[2021-07-21 13:51] #4239 closed, assigned to MaggieCabrera

[2021-07-21 14:10] MaggieCabrera commented on #4208
This is only happening on dotcom. On my local install with the latest GB from trunk and WP 5.8 I see it correctly. There's a missing p tag wrapping the excerpt text.

Dotcom | Local
--- | ---
<img width="749" alt="Screenshot 2021-07-21 at 16 08 33" src="https://user-images.githubusercontent.com/3593343/126502906-c9040724-7120-4f99-b724-33a03f14c1d0.png"> | <img width="1400" alt="Screenshot 2021-07

[2021-07-21 14:23] MaggieCabrera commented on #4208
Looking at the code of the block, I don't see that the p tag is being added at all in the editor, while it is present explicitly on the frontend. I'm going to put this one on hold until dotcom has the latest version of the editor and then go back to this, but if it's still happening, the fix belongs on the editor, not the theme.

[2021-07-21 15:48] rossanafmenezes opened #4266 "Libre2 Theme - Caption is merged with post body"
## Steps to replicate

- Activate the Libre2 theme
- Set the Content options to show post excerpt only
- Create a blog post
- add an image block with a caption
- add some text to your post

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

## Result

<img width="845" alt="Screen Shot 2021-07-21 at 11 27 43" src="https://user-images.githubu

[2021-07-21 17:37] AtrumGeost commented on #3211
Got another report here:

30744828-hc

Block Patterns are not properly displayed due to alignment issues

[2021-07-22 06:00] sophiegyo opened #4267 "Varia and child themes: mobile menu button hover color [may not need fixing]"
Summary: This may not need fixing, as I don't think it's an issue which necessarily affects users, but it's worth reporting just in case. The menu button colour can be changed in the Customizer, but doing that does not change the **hover** colour of the button.

This does not appear to affect actual mobile button behaviour on mobile per my own test, but I'm logging it as a possible enhancement req

[2021-07-22 11:55] kjellr opened #4268 "Quadrat: Hide query pagination divider if there's no pagination"
If there's no pagination available, we should not display the horizontal divider line for the Query Pagination:

<img width="1247" alt="Screen Shot 2021-07-22 at 7 52 50 AM" src="https://user-images.githubusercontent.com/1202812/126635129-ab40d3f9-7bb4-4c83-89e9-79430b2765ff.png">

<img width="1247" alt="Screen Shot 2021-07-22 at 7 52 47 AM" src="https://user-images.githubusercontent.com/1202812/1

[2021-07-22 15:35] jffng commented on #4268
I wonder if this should ultimately be addressed in the block.

That is, if there is no pagination, an empty div should not be rendered. I will take a look at fixing it there.

[2021-07-22 16:53] kjellr commented on #4268
@jffng I'm not 100% sure, but I believe this happens with many other blocks too — for example, if there's no post title, an empty div for post title still shows up on the front end.

[2021-07-22 17:16] kwight commented on #4231
@DanielSmithMichigan Can this be closed now?

[2021-07-22 17:16] #4231 closed, assigned to nobody

[2021-07-22 17:22] ClassicRKR27 opened #4271 "Seedlet Theme - Misalignment and cut off text in mobile"
## Steps to replicate
User has set up posts to appear on the home page with the Block Posts Block

[Screenshot](https://d.pr/i/joaQua)

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

## Result

On both my phone and the preview mode, the excerpts are getting cut off and the alignment isn't centered.

[What happened.]

## Expected

Text s

[2021-07-23 00:37] sbathompson-he opened #4273 "White Sidebar Items"
## Steps to replicate

https://user-images.githubusercontent.com/77308634/126725179-daec8d49-8caa-44a0-bcea-a59113dfdc48.mp4

## Result

The sidebar was all white making it impossible for the user to see the items

## Expected

Not to be invisible

* User report: 30767612-hc
* Follow-up ticket: 4168092-zd-woothemes

[2021-07-23 15:12] scruffian commented on #4163
This is a duplicate of #4207

[2021-07-23 15:12] #4163 closed, assigned to nobody

[2021-07-23 15:27] scruffian opened #4275 "title"

[2021-07-23 15:27] #4275 closed, assigned to nobody

[2021-07-23 16:07] scruffian opened #4276 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:07] #4276 closed, assigned to nobody

[2021-07-23 16:19] scruffian opened #4277 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:21] scruffian opened #4278 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:21] scruffian opened #4279 "Skatepark: Core block settings (if needed)"

[2021-07-23 16:21] scruffian opened #4280 "Skatepark: Comment form styles (dotcom and dotorg) (if needed)"

[2021-07-23 16:21] scruffian opened #4281 "Skatepark: theme.json: Margin/spacing settings"

[2021-07-23 16:21] scruffian opened #4282 "Skatepark: Create a demo site on dotcom"

[2021-07-23 16:21] scruffian opened #4283 "Skatepark: Templates:Header template part (including mobile)"

[2021-07-23 16:21] scruffian opened #4284 "Skatepark: theme.json: Alternative color palettes"

[2021-07-23 16:21] scruffian opened #4285 "Skatepark: Block patterns (if needed)"

[2021-07-23 16:21] scruffian opened #4286 "Skatepark: theme.json: Typography settings"

[2021-07-23 16:21] scruffian opened #4287 "Skatepark: Navigation (if needed)"

[2021-07-23 16:21] scruffian opened #4288 "Skatepark: theme.json: Color palette"

[2021-07-23 16:21] scruffian opened #4289 "Skatepark: Third party block settings (Jetpack, Woo, etc.) (if needed)"

[2021-07-23 16:21] scruffian opened #4290 "Skatepark: Templates:Footer template part (including mobile)"

[2021-07-23 16:21] scruffian opened #4291 "Skatepark: Templates:Page templates (one task per template, search, 404 etc.)"

[2021-07-23 16:21] scruffian opened #4292 "Skatepark: Block styles (if needed)"

[2021-07-23 16:21] #4278 closed, assigned to nobody

[2021-07-23 16:21] #4279 closed, assigned to nobody

[2021-07-23 16:21] #4280 closed, assigned to nobody

[2021-07-23 16:21] #4281 closed, assigned to nobody

[2021-07-23 16:21] #4282 closed, assigned to nobody

[2021-07-23 16:21] #4283 closed, assigned to nobody

[2021-07-23 16:21] #4284 closed, assigned to nobody

[2021-07-23 16:21] #4285 closed, assigned to nobody

[2021-07-23 16:21] #4286 closed, assigned to nobody

[2021-07-23 16:21] #4287 closed, assigned to nobody

[2021-07-23 16:21] #4288 closed, assigned to nobody

[2021-07-23 16:21] #4289 closed, assigned to nobody

[2021-07-23 16:21] #4290 closed, assigned to nobody

[2021-07-23 16:21] #4291 closed, assigned to nobody

[2021-07-23 16:21] #4292 closed, assigned to nobody

[2021-07-23 16:28] scruffian opened #4293 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:29] #4277 closed, assigned to nobody

[2021-07-23 16:29] #4293 closed, assigned to nobody

[2021-07-23 16:29] scruffian opened #4294 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:30] #4294 closed, assigned to nobody

[2021-07-23 16:30] scruffian opened #4295 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:32] #4295 closed, assigned to nobody

[2021-07-23 16:32] scruffian opened #4296 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:33] #4296 closed, assigned to nobody

[2021-07-23 16:35] scruffian opened #4297 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:35] #4297 closed, assigned to nobody

[2021-07-23 16:35] scruffian opened #4298 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:37] #4298 closed, assigned to nobody

[2021-07-23 16:37] scruffian opened #4299 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:38] #4299 closed, assigned to nobody

[2021-07-23 16:38] scruffian opened #4300 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:40] #4300 closed, assigned to nobody

[2021-07-23 16:41] scruffian opened #4301 "Skatepark: Create base theme from boilerplate"

[2021-07-23 16:55] #4301 closed, assigned to nobody

[2021-07-23 16:56] scruffian opened #4303 "Skatepark: Create base theme from boilerplate"

[2021-07-23 17:00] #4303 closed, assigned to nobody

[2021-07-23 17:00] scruffian opened #4304 "Skatepark: Create base theme from boilerplate"

[2021-07-23 17:01] #4304 closed, assigned to nobody

[2021-07-23 17:02] scruffian opened #4305 "Skatepark: Create base theme from boilerplate"

[2021-07-23 17:02] #4305 closed, assigned to nobody

[2021-07-23 17:03] scruffian opened #4306 "Skatepark: Page templates: index"
![Home](https://user-images.githubusercontent.com/3593343/126954326-067a5971-585f-4225-9e3a-e61fc4bbe6f4.jpg)

[2021-07-23 17:03] scruffian opened #4307 "Skatepark: Create base theme from boilerplate"

[2021-07-23 17:03] scruffian opened #4308 "Skatepark: Block patterns"
Skatepark should ship with the following block patterns:

- [x] Full-width image with aside caption https://github.com/Automattic/themes/pull/4396
<img width="598" alt="Screenshot 2021-07-26 at 09 42 11" src="https://user-images.githubusercontent.com/3593343/126951747-ce4bca0b-7ff1-4112-83c9-03573079cb36.png">

- [x] Text list with button https://github.com/Automattic/themes/pull/4390
<img width="

[2021-07-23 17:03] scruffian opened #4309 "Skatepark: theme.json: Color palette"
Add the main color palette to the theme:

<img width="432" alt="Screenshot 2021-07-27 at 13 02 44" src="https://user-images.githubusercontent.com/3593343/127143660-870376e2-6913-4263-89ca-469b0ef659a4.png">

[2021-07-23 17:03] scruffian opened #4310 "Skatepark: Block styles (if needed)"

[2021-07-23 17:03] scruffian opened #4311 "Skatepark: Third party block settings (Jetpack, Woo, etc.) (if needed)"
Once the main theme styles are in place, review with the designers in case any third party block need adjusting specific to Skatepark

[2021-07-23 17:03] scruffian opened #4312 "Skatepark: Templates: Footer template part (including mobile)"
Desktop:

<img width="1053" alt="Screenshot 2021-07-23 at 16 19 50" src="https://user-images.githubusercontent.com/3593343/126817105-75a2f843-d0a7-45ec-b1aa-560cfaa3548d.png">

Mobile:

<img width="335" alt="Screenshot 2021-07-26 at 09 59 56" src="https://user-images.githubusercontent.com/3593343/126954226-01f63593-ff29-4ef9-9291-254d83aade8d.png">

[2021-07-23 17:03] scruffian opened #4313 "Skatepark: Templates:Header template part (including mobile)"
**Desktop:**
<img width="1051" alt="Screenshot 2021-07-23 at 16 19 41" src="https://user-images.githubusercontent.com/3593343/126817182-07f93890-3541-4222-8c12-068a785a2ccc.png">

**Mobile:**
<img width="687" alt="Screenshot 2021-07-23 at 16 20 25" src="https://user-images.githubusercontent.com/3593343/126817174-f5b46c00-a5f1-4695-a0c1-008fef6900c8.png">

[2021-07-23 17:03] scruffian opened #4314 "Skatepark: theme.json: Alternative color palettes"

[2021-07-23 17:03] scruffian opened #4315 "Skatepark: theme.json: Alternative color palettes"
Add the alternative color palettes to theme.json for Skatepark:

<img width="1073" alt="Screenshot 2021-07-27 at 13 03 01" src="https://user-images.githubusercontent.com/3593343/127143597-245e8a6e-91be-409e-bee5-648213d8fe52.png">

[2021-07-23 17:03] scruffian opened #4316 "Skatepark: theme.json: Margin/spacing settings + content layout"
Add Skatepark default spacing settings and content layout values:

<img width="908" alt="Screenshot 2021-07-27 at 13 05 21" src="https://user-images.githubusercontent.com/3593343/127143825-b76f9f38-2f1e-4dc1-94f8-51708cda0ae6.png">

[2021-07-23 17:03] scruffian opened #4317 "Skatepark: Comment form styles (dotcom and dotorg) (if needed)"
**Dotorg comments:**

<img width="624" alt="Screenshot 2021-07-23 at 19 10 57" src="https://user-images.githubusercontent.com/3593343/126817563-69cf8e5e-ff55-4e3e-ae9a-a59060da3716.png">

[2021-07-23 17:03] scruffian opened #4318 "Skatepark: theme.json: Typography settings"
Define the typography default settings for Skatepark on theme.json

Desktop:

![Styles](https://user-images.githubusercontent.com/3593343/127142866-2d6c01af-964e-4a36-b7da-b08d3906bab7.png)

Mobile:

![Styles – Mobile](https://user-images.githubusercontent.com/3593343/127142861-320a4415-ccf5-4c0a-9bb8-fa212289820d.png)

[2021-07-23 17:03] scruffian opened #4319 "Skatepark: Navigation (if needed)"

[2021-07-23 17:03] scruffian opened #4320 "Skatepark: Create a demo site on dotcom"
Deploy the theme on dotcom and create a demo site that uses Skatepark.

Set [Theamdemo](https://theamdemo.wordpress.com/) to use Skatepark too for block testing.

[2021-07-23 17:03] scruffian opened #4321 "Skatepark: Core block settings (if needed)"
Once the main theme styles are in place, review with the designers in case any core block need adjusting specific to Skatepark

[2021-07-23 17:09] MaggieCabrera commented on #4313
@melchoyce the mobile version of the theme wasn't on the _Small theme_ page in figma, I grabbed this from _Page Mockups_ Let us know if that design is not up to date.

[2021-07-23 17:11] MaggieCabrera commented on #4317
@melchoyce this one is also coming from _Blog Mockups_.

[2021-07-23 17:36] melchoyce commented on #4313
Good catch, thanks!

[2021-07-23 17:42] melchoyce commented on #4313
Moved the mobile mocks over to the Small Theme page and double-checked all the spacing

[2021-07-23 18:11] scruffian opened #4322 "Skatepark: Templates:Page templates: search"
There's no Search page designed so we will default to inherit Blockbase's. Leaving the issue open so that designers can review if they want to make any tweaks to it for Skatepark.
/cc @melchoyce

[2021-07-23 18:11] scruffian opened #4323 "Skatepark: Templates: Page templates: 404"
There's no 404 page designed so we will default to inherit Blockbase's. Leaving the issue open so that designers can review if they want to make any tweaks to it for Skatepark.
/cc @melchoyce

[2021-07-23 18:29] mikeicode commented on #1915
I've had multiple requests for the sub-sub menus, it'd be nice to improve how this works. Themes like Dara, Didi, Twenty Twenty have actual sub-sub menus.

30778340-hc

[2021-07-23 19:11] JoshuaGoode commented on #1748
Encountered on 30768287-hc

As this theme doesn't have customizer colors and this issue has been open for quite a while, I've recommended the user explore other themes.

[2021-07-25 00:42] hacchism opened #4330 "Atomic: Custom Color option for buttons interfering with button color for Editor"
When a theme has Custom Color option for buttons, the color set interferes with the color for all buttons in Editor.

### Steps to reproduce the behavior

1. Make sure to use Atomic site
2. Activate a theme that has Custom Color option for buttons (i.e. **Independent Publisher 2**)
3. Go to "Appearance > Customize > Colors & Backgrounds"
4. Change button color to black for example and save the cha

[2021-07-25 08:41] Nic-Sevic opened #4328 "Floral theme: strange characters with Alegreya font family"
### Steps to reproduce the behavior

1. Set floral theme and in fonts set headers to Alegreya
2. View site on Windows device
3. Compare to Mac

#### What I expected to happen
font should render the same with any theme and both devices

#### What actually happened
font on mobile with floral theme renders with some chars having outline
renders fine on mac

### Context
4170243-zen

#### Browser / OS

[2021-07-25 10:19] Nic-Sevic commented on #4273
When I check this for the user everything appears normal. Maybe it was a client-side stylesheet?

[2021-07-26 05:40] kosiew commented on #4030
Another report - #4160410-zen

[2021-07-26 07:24] MaggieCabrera commented on #4314
Duplicated

[2021-07-26 07:24] #4314 closed, assigned to nobody

[2021-07-26 10:07] MaggieCabrera commented on #4309
@melchoyce from what I see on figma Skatepark has only 2 colors: background and body text. We need a color for when text is selected, ideally a different shade of the background color. We will need that for all of the alternative palettes as well

[2021-07-26 13:25] azollafox opened #4327 "Hemingway Rewritten: Cover Block Image Unresponsive on Mobile"
## Steps to replicate

1. Add a cover block to your site with plenty of content within it and an image
2. View on a mobile device

## Result

Images do not stretch to continue to be a background for the block's contents they way it does on other themes.

<img width="375" alt="hemingway rewritten cover block issue" src="https://user-images.githubusercontent.com/7907292/126996114-1054c591-57be-4f94-

[2021-07-26 13:56] MaggieCabrera opened #4329 "Skatepark: Duotone theme-level configuration"
Skatepark includes in its design the application of duotone filter on the images it provides. The theme should apply this filter to all relevant blocks by default.

This will require https://github.com/WordPress/gutenberg/issues/33642 to be addressed, which will allow us to set a filter as default (and we should consider changing the default filter when the user changes the theme color as well).

[2021-07-26 14:07] synora commented on #4330
Triaged. I'm able to replicate this on Independent Publisher 2. I tested on other themes that allow for "Custom Colors" like Ryu and Tonal but I'm unable to replicate this.

[2021-07-26 14:09] synora commented on #4330
I can replicate this on Independent Publisher 2, but not on other themes such as Ryu or Tonal.

[2021-07-26 15:07] melchoyce commented on #4309
Are we shooting for AA contrast? cc @kjellr

[2021-07-26 15:11] MaggieCabrera commented on #4309
For reference, in Quadrat we are using the darker blue for that.

[2021-07-26 16:12] jffng commented on #4197
Re-opening, and revising the title as this is will ultimately be resolved in blockbase.

[2021-07-26 16:20] kjellr commented on #4309
I don't think we need that for text selection.

[2021-07-26 16:35] melchoyce commented on #4309
Could we reverse the background and foreground for the text highlight?

![image](https://user-images.githubusercontent.com/2846578/127025749-f775fb22-5e33-4134-a1d0-fc60eedfe53e.png)

[2021-07-26 16:38] jffng commented on #4197
I did some light debugging, and it looks like the `settings.color.palettes.user` of the theme.json is getting wiped out.

When I select a palette, it looks like that data is saved (note the selected border state), however the colors themselves are not:

<img width="289" alt="Screen Shot 2021-07-26 at 12 37 05 PM" src="https://user-images.githubusercontent.com/5375500/127026057-80b738dd-6435-41ae-8

[2021-07-26 16:44] sbathompson-he commented on #4324
Reported here. 29657106-hc
I didn't realize it was a Bug until it was mentioned to me in CSS Requests

[2021-07-26 16:45] MaggieCabrera commented on #4309
Yeah, we can do that, thanks @melchoyce !

[2021-07-26 17:18] kjellr commented on #4309
I worry it may end up being too prominent in practice, but let's give it a try.

[2021-07-26 20:22] #4307 closed, assigned to MaggieCabrera

[2021-07-27 00:55] gwensmithx commented on #4159
Another report here: #4175021-zd

Site is AT. Shared the above CSS with the customer as that does work.

[2021-07-27 05:10] pbking commented on #4197
I've been unable to reproduce this on wpcom.  Attempted with all Blockbase themes.

The behavior you describe is what was happening to me when it was happening to me (the radio button selection was stored in theme_mod but the JSON was nulled out).  I was unable to store color OR font information.

But it's been behaving for me now and I cannot reproduce.

[2021-07-27 12:39] tinjure20 opened #4334 "Quadrant and Blockbase - Fonts section does not work"
I have been playing around Quadrat and Blockbase themes for possible use in my personal site. With 5.8 updates, the `blockbase_fonts_url` function seems to have broken. Fonts section in Blockbase as well as its child themes does not work, now. The `clamp()` function was working before but with 5.8 update it doesn’t work either. Thank you

[2021-07-27 13:43] pbking commented on #4334
I might need some more information about this.  I'm unable to reproduce (fonts are working for me with both Blockbase and Quadrat).  I'm running WordPress 5.8 and Gutenberg 11.1.0.

What version of Gutenberg are you running?
Do color customizations continue to work?
Do the font change preview (but not persist?)

[2021-07-27 14:22] #4309 closed, assigned to nobody

[2021-07-27 17:24] tinjure20 commented on #4334
@pbking Thank you. My test environment:

- WordPress version: 5.8
- Guttenberg: 11.1.0
- Blockbase: 1.1.0
- Quadrat: 1.1.0
- Local WordPress setup: Flywheel Local

I have been primarily testing with VSC editor using Firefox browser. I have tested this issue in Chrome as well. To avoid cache issue, I frequently clear browser cache as well.

Yes, color, font-size customization work just fine fine, a

[2021-07-27 22:40] gwensmithx commented on #2054
This seems to be intentional as mentioned previously but also reported here: #4169065-zd

Related: https://github.com/Automattic/themes/issues/21

[2021-07-27 23:10] hacchism commented on #3518
Another report: 30841977-hc

[2021-07-28 10:07] #4207 closed, assigned to MaggieCabrera

[2021-07-28 13:15] pbking commented on #4334
Since yesterday I have found this issue happening in another environment but have been unable to reproduce locally.  I'm experiencing exactly what you describe there though, and knowing that colors are persisting is very helpful and ensures I'm working on the same problem.  [This](https://github.com/Automattic/themes/pull/4336) seemed related but fixing it seems to have more easily uncovered this

[2021-07-28 13:23] pbking commented on #4334
Note, you MAY also be experiencing [this issue](https://github.com/WordPress/gutenberg/issues/33681) which has a [temporary work-around](https://github.com/WordPress/gutenberg/issues/33681#issuecomment-887441698).

[2021-07-28 13:57] pbking commented on #4334
Further research points to this being a problem with the User Theme JSON being sanitized of any data not fitting the theme JSON schema.  This seems to strip both the `settings.typography.fontFamilies` but also the entirety of `settings.custom` values.  The Font Customization is dependent on the user controlling these values.

I'm unsure which combination of versions and environment conditions caus

[2021-07-28 13:58] pbking commented on #4197
I BELIEVE that this was part of the problem, but also related is [this issue ](https://github.com/Automattic/themes/issues/4334)which will fix the font-related aspect.

[2021-07-28 14:34] azollafox opened #4339 "Baskerville 2: Simple Sites Comment Form Doesn't Use Jetpack on Mobile"
## Steps to replicate

1. Activate Baskerville 2 on a simple site with a post and comments enabled
2. Look at your post on a mobile device, not the mobile view of a desktop browser

Tested in Safari on iOS and Firefox on Android 11

## Result
The Jetpack comment box does not show and instead the default comment box shows.

![bakserville 2 mobile comments](https://user-images.githubusercontent.com/

[2021-07-28 17:17] tinjure20 commented on #4334
Hmmm, I wonder why it can't be replicated. I am using MacOS machine, Local version 6.0.0. Gutenberg plugin is active and enable site editor OFF.

Font display in [this Maggie's demo Quadrat site](https://wp-themes.com/quadrat/) looks similar in my browser (browser default ) not `theme.json` defined `dm-sans`.

Because this is my learning project only, I would wait for a permanent fix from you guys

[2021-07-28 17:22] MaggieCabrera commented on #4334
The frontend issue seems to be related to the [GB issue](https://github.com/WordPress/gutenberg/issues/33681) that Jason pointed, since other themes are affected as well that don't provide any customizer options at all (I had it happen on emptytheme too). The workaround works on my current environment for that if you want to keep testing. Hopefully the GB issue will get a fix soon.

[2021-07-28 17:39] #4318 closed, assigned to MaggieCabrera

[2021-07-28 18:42] tinjure20 commented on #4334
Thank you @MaggieCabrera and @pbking. The simple [temp-workaround](https://github.com/WordPress/gutenberg/issues/33681#issuecomment-887441698) works like a charm!

[2021-07-29 00:17] kaitohm commented on #3877
Another report: 28479525-hc

Workaround is to add this code:

[code]

[2021-07-29 01:16] tinjure20 commented on #4334
One other issue I had noted together with FontFamily was use of [clamp()](https://developer.mozilla.org/en-US/docs/Web/CSS/clamp()) function defining custom layout `contentWidth` and fontSize in `theme.json`.

While playing with Quadrat v1.1.0 and Blockbase v1.1.0, I was using `clamp()` defining custom layout `contentWidth` (inspired by this [post](https://piccalil.li/quick-tip/use-css-clamp-to-cr

[2021-07-29 03:23] pbking commented on #4334
Cool, since the temp-workaround fixed what ailed you I'm going to close this as a dupe of [33681](https://github.com/WordPress/gutenberg/issues/33681). Hopefully that doesn't take long to fix.

Thanks for the heads up about the troubles with `clamp()`.  We haven't used it in Blockbase themes yet but it's something to be considered.  And I hadn't considered using it for values of layout!  That's a

[2021-07-29 03:23] #4334 closed, assigned to nobody

[2021-07-29 10:15] fstath opened #4342 "Resized GIFs are static"
If you insert in a portfolio project a GIF image that's equal to or larger than 512x512 pixels, then the image is not animating when you're viewing the portfolio page.

Any other GIF image is animating as long as it's not scaled down to fit the 256x256 pixels block that the portfolio page displays the posts in.

* User report: https://wordpress.org/support/topic/gifs-in-portfolio-items-broken/
* S

[2021-07-29 14:00] pbking commented on #4197
Part of the problem was happening because (for reasons unknown) the User Theme JSON was getting wiped out and losing some metadata.  [This PR](https://github.com/Automattic/themes/pull/4336) has addressed that.
That has now revealed another related issue where the values to customize the fonts are not being persisted in the User Theme JSON.  [This issue](https://github.com/WordPress/gutenberg/issu

[2021-07-29 17:20] Thelmachido opened #4344 "Argent theme: Media & Text block overlapping"
## Steps to replicate

- Add [Argent theme](https://argentdemo.wordpress.com/) to a site, on any page or post add the [Media & Text Block](https://wordpress.com/support/wordpress-editor/blocks/columns-block/).

- Add two columns to the block, within each column add the [Media & Text block](https://wordpress.com/support/wordpress-editor/blocks/media-text-block/).

- Set the Media & Text Block to di

[2021-07-29 18:46] Robertght opened #4345 "Perle: Sharing buttons showing up on top of the content of the pages"
### Steps to reproduce the behavior

1. Go to Tools > Marketing and make sure Pages is selected. Have the "Icon & Text" seelected.
2. Have a few sharing buttons added.
3. Have content added on the page. I used a two-column layout with an image on the right one to make them.
4. See error

![image](https://user-images.githubusercontent.com/6737345/127547127-d8bf0980-a5e2-4c4d-a67c-5602b9078890.png)

[2021-07-30 08:26] MaggieCabrera opened #4346 "Skatepark: Hover states"
@melchoyce how should links and buttons behave on their hover states? Are there any exceptions (like links on the header/site title, post title block, etc)?

Button Style 1 | Button Style 2 | Links
--- | --- | ---
<img width="315" alt="Screenshot 2021-07-30 at 10 23 43" src="https://user-images.githubusercontent.com/3593343/127624313-13e4ff68-e33e-4831-bbe8-972830f8b334.png"> | <img width="309" al

[2021-07-30 09:31] MaggieCabrera commented on #4346
Another question related to links: the underline of the links seems to be 2px wide, this can be achieved with `text-decoration-thickness` but the mockups show a separation between the text and the underline that cannot be controlled when using text-decoration. Should we use borders instead of text-decoration or should we leave the underline sitting a little closer to the text @melchoyce ?

[2021-07-30 14:47] #4316 closed, assigned to mikachan

[2021-07-30 14:54] melchoyce commented on #4346
Let's use `text-underline-offset` for the spacing and let it progressively degrade on browsers that don't support the property.

I'll get you a chart for link/button styles!

[2021-07-30 15:43] melchoyce commented on #4346
Does this work?

![image](https://user-images.githubusercontent.com/2846578/127677822-cf0ea03b-5077-47ff-8291-77470d95fbbd.png)
https://www.figma.com/file/CA8Gb16mt9yYNWOiVLAWak/Skatepark?node-id=1851%3A2101

[2021-07-30 15:48] MaggieCabrera commented on #4346
Yeah, that's great, thanks @melchoyce. So I'm thinking this would be like Quadrat, where we only underlined links that are inside the post content and for the post titles inside the query loop we had them behave the opposite way (underlined only on hover). Check https://quadratdemo.wordpress.com/blog/ to see those.

Things like navigation menu links and the header site title link would have no und

[2021-07-30 15:58] melchoyce commented on #4346
Yeah, exactly like Quadrat.

👍👍

[2021-07-30 21:36] melek opened #4347 "Mayland: Blurry WooCommerce thumbnails"
## Steps to replicate

* Activate WooCommerce & Mayland Theme
* Create or import some demo products with product images  (Demo image size below is 800 x 800)
* View Shop Page; Thumbnails are blurry.
* Try to regenerate thumbnails; images still blurry.

## Result
Thumbnails on Product Archive pages (Shop page) are blurry, regardless of Customizer settings:
![image](https://user-images.githubusercon

[2021-07-31 21:15] nickpagz opened #4348 "Nikau: More Button in Share this Module does not work on Atomic sites."
## Steps to replicate

On an Atomic site, in **Tools > Marketing > Sharing Buttons**, ensure a **More** button is added and has at least one additional button added to it.

On a live post, mouse over the **More** button.

## Result

Nothing. Nothing happened. Nothing happened at all.

## Expected

For additional sharing options to pop-up, the same way it does on every other theme.

* User report:

[2021-08-01 13:22] susanjanec opened #4349 "Canard - Darker background color causes issues when using HTML block & URL slug"
## Steps to replicate

User reported when using a dark background color for the theme Canard when using a HTML block the background color causes the text within the HTML block to be hard to read. This issue is also appearing in the URL slug.

## Result

Here's a screenshot from my test site - I set the background to black within the Customize settings -
<img width="1527" alt="Screenshot on 2021-08

[2021-08-02 16:03] pbking opened #4351 "wpcom footer credits for block-based themes"
The wpcom footer credits plugin doesn't correctly manage the content of the footer block.  It needs to be changed to:

* run in more situations (to either replace [free sites] or remove [business sites])
* MODIFY the footer block content with a user's credit selection (if valid credit content is found in the footer).  This modification might be to REMOVE the existing credit value.
* APPEND TO the

[2021-08-02 16:05] eduardozulian opened #4352 "Exhibit: Project Type pages are misaligned"
Internal project pages have a float option that apparently should be only applied to other post types.

## Steps to replicate
1. Visit P6ywLi-hw-p2
2. Click on one of the filters. For example, https://exhibitdemo.wordpress.com/project-type/space-travel/
3. Check the page

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

## Result

Content

[2021-08-02 16:39] pbking commented on #4351
WIP: D65052-code
So far this change executes the REPLACEMENT of content of the credits.  The regex used might be too brittle but this demonstrates the concept I was going for.

To evaluate :
* Load up a CLASSIC theme sandboxed on a simple site.
* Change the footer credits to something memorable using the customizer.
* Switch theme to Blockbase.
* Observe that the footer credits aren't the original

[2021-08-02 18:11] #4315 closed, assigned to mikachan

[2021-08-02 18:37] MaggieCabrera commented on #4351
I'm commenting here because it's easier than on phabricator :D

This looks fine ~~though I was expecting that the customizer options would show up on the block themes too, is that intended by the plugin or just missing functionality?~~ (apparently I forgot how to read!) It's a great start anyway.

I have tested all block themes and all look fine except Seedlet blocks. Apparently the markup is very

[2021-08-02 19:47] pbking commented on #4351
Thank you @MaggieCabrera I would indeed prefer to continue discussions here. :)

I think that what you found justifies changing the default seedlet footer credits.  The plugin is (currently) looking for a `<p>` tag with an `<a>` tag that links to WordPress dot something so we just need to change it to something like that.  Thank you for pointing that out.

[2021-08-02 19:50] pbking commented on #4351
Additional progress on D65052-code.

With this change the content is better replaced allowing the font decisions expressed in the theme footer template part to remain.  (The html contents of a `<p>` tag with a wordpress anchor are replaced.

Additionally the logic runs with fewer "should there be content" checks in `should_show_footer_credits`, since this will ALWAYS need to be ran: for sites that

[2021-08-03 05:01] KokkieH opened #4355 "Varia, Seedlet and children: Add support for Tiktok in social menu"
## Steps to replicate

1. Open the Customizer and create a social menu
2. Add a TikTok link to the menu

## Result

A generic link icon appears in the menu instead of the TikTok logo

## Expected

For the TikTok logo to appear - support for that logo was added to Jetpack social menus in Automattic/jetpack#18563, and it works as expected in TwentyTwenty, for example. But according to the comment in

[2021-08-03 05:03] KokkieH opened #4356 "Obsidian: Add support for TikTok logo in social menu"
## Steps to replicate

1. Open the Customizer and create a social menu
2. Add a TikTok link to the menu

## Result

A generic link icon appears in the menu instead of the TikTok logo

## Expected

For the TikTok logo to appear - support for that logo was added to Jetpack social menus in Automattic/jetpack#18563, and it works as expected in TwentyTwenty, for example. But according to the comment in

[2021-08-03 08:57] edwinho89 opened #4357 "Blask Theme: Cropped Large Landscape Images add Bottom Margin in Gallery Block"
## Steps to replicate

* Create a new page or post
* Insert a gallery block with a couple of large landscape images
* Enable "Crop Image"

## Result

On Editor, it looks great on its own:

![image](https://user-images.githubusercontent.com/34882260/127987564-4b0d840d-0d4d-41a6-b437-0f106f06ff0f.png)

When Published, an additional `margin-bottom: 1.5em;` was added from CSS code below:

[code]

## E

[2021-08-03 09:29] formosattic opened #4358 "Huntt: Form block button styling different"
## Steps to replicate

Add a Button block.

Add a Form block.

## Result

Styling of the Form block button is off.

![image](https://user-images.githubusercontent.com/15944096/127992152-7f6cc643-6d93-44c5-808a-d457ac4227da.png)

## Expected

Form block button should have the same default styling (text site, font) as the Button block

---
### Temporary CSS fix

Add an [Additional CSS Class](https:/

[2021-08-03 10:28] MaggieCabrera commented on #4320
- [x] Created demo site: PdgTYS-2-p2
- [x] Set Theam demo to use skatepark for testing
- [ ] Add content to demo site

[2021-08-03 10:36] MaggieCabrera commented on #4317
The dotcom comments look like this, I think they are mostly fine (besides the button styles, those need fixing overall for the whole theme):

Logged out | Logged in
--- | ---
<img width="783" alt="Screenshot 2021-08-03 at 12 34 08" src="https://user-images.githubusercontent.com/3593343/128001816-f083811a-8864-486d-b7cd-a1b51bdf2645.png"> | <img width="741" alt="Screenshot 2021-08-03 at 12 33 48" s

[2021-08-03 13:41] ersatzpenguin commented on #4358
I was able to provide a better workaround by simply reusing the existing default button styles with a slightly more specific selector for the JPOP form. Here's what I provided to the user:

[code]

Some of this is duplicative of existing applied styles, but I provided the full list of properties just to cover all bases.

[2021-08-03 16:39] sixhours commented on #4330
Looks like Independent Publisher, Independent Publisher 2, and Franklin themes all have very broad button selectors in their stylesheets and color annotations which is causing these styles to bleed into the editor:

[code]

It appears Simple sites don't enqueue custom color styles when viewing the editor, but Atomic sites do (they show up as `#custom-colors-editor-css-inline-css` in the header)

I

[2021-08-03 17:07] sixhours commented on #4330
I'm seeing stuff in `/wp-content/mu-plugins/colors/colors.php` (like ` print_block_editor_css()`) that suggests we do want to enqueue custom color styles in the editor so I'm going to figure out how to make the selectors behave in these themes.

[2021-08-03 19:00] sixhours commented on #4330
`button:not(.menu-toggle)` is the troublemaker; it's targeting allllll the buttons because they don't have `.menu-toggle` as a class and overriding more specific selectors like `.components-button`. I think I can tweak that rule in IP2 without breaking users' existing annotations. Franklin does not appear to be affected because it's using a more specific variation of `button:not(.menu-toggle)`

[2021-08-03 19:14] sixhours commented on #4330
Started a diff in D65100-code for the WP.com side -- I can't seem to push a branch to this repo, I'll try resetting everything locally.

[2021-08-03 19:56] sixhours commented on #4345
I can reproduce this, but there's not an easy fix. Perle is an older theme and doesn't support full-width or wide-width blocks. The theme is designed to show post and page content in multiple columns, which puts the sharing buttons in areas where wide or full width blocks may overlap:

<img width="1224" alt="Screen Shot 2021-08-03 at 3 50 49 PM" src="https://user-images.githubusercontent.com/21249

[2021-08-03 19:56] #4345 closed, assigned to sixhours

[2021-08-03 19:59] pbking commented on #4351
Finalized the first pass for footer credits refactor: D65052-code

With this last change I think it's ready for an external review.

[2021-08-03 20:06] pbking commented on #4351
@ramonjd I noticed that you were the originator of this plugin and hope to spare some of your time to review this change.

[2021-08-03 20:57] ianstewart commented on #4036
Looks like we missed closing this one!

[2021-08-03 20:57] #4036 closed, assigned to DanielSmithMichigan

[2021-08-03 22:52] NoHopeRadio opened #4363 "Lodestar: Verse Block is always in Italics"
## Steps to replicate

 On the Lodestar theme, create a post with a verse block and add text.

<img width="673" alt="Screenshot on 2021-08-03 at 18-37-25" src="https://user-images.githubusercontent.com/71042895/128095227-41eef32e-6bf4-418d-8e23-cf08291ebf79.png">

## Result

It will be in italics. There seems to be styling in the theme's CSS to make the verse block always italic:

[code]
## Expect

[2021-08-04 02:26] ramonjd commented on #4351
Thanks for working on this!

It not an easy one, especially to balance the flexibility that comes with the Site Editor and also current Customizer behaviour.

I tested according to the test description in the diff using Blockbase and TT1, and things work as described. 👍

I think it's great that we removed all the complex exceptions, and are aligning things with Simple sites in terms of the upgrade

[2021-08-04 07:48] MaggieCabrera commented on #4351
To this I just want to add that I tested on all block themes and they worked fine in terms of appearance except when choosing the logo option:

<img width="1532" alt="Screenshot 2021-08-04 at 09 46 54" src="https://user-images.githubusercontent.com/3593343/128142579-4c1f511d-81f4-44ca-8773-55cb62c8f25e.png">

[2021-08-04 08:40] Sandkorner commented on #3850
Same issue.

User Report: 4190078-zen
Theme: Hemingway Rewritten

Would have offer custom CSS solution to (text-align: center; ), but Personal plan.

[2021-08-04 13:38] pbking commented on #4351
The limitation for eligible accounts is that if they intend to link to wordpress.com in the footer that it be one of the selections from the customizer. I can see this restriction, and even the way in which this is managed will change in the coming months.  A credit block would probably (mostly?) replace this plugin and offer better control, but for the moment I do think it's a reasonable expectat

[2021-08-04 14:28] csonnek opened #4365 "Snaps: Site logo shrinks to 50% original size"
In the Snaps theme:

1. Set a site logo in the Customizer - it doesn't matter if you crop it or not.
2. Loading the site on the front end, upon page load the logo is displayed at the correct size, then resizes to 50% of the image size.

![Screen Capture on 2021-08-04 at 08-59-56](https://user-images.githubusercontent.com/2814452/128198363-781e118f-fb54-4fc5-a5f3-ce294764c6a8.gif)

User is using lo

[2021-08-04 16:18] MaggieCabrera opened #4366 "Blockbase + children: Alignments options are not present on posts or pages"
## Steps to replicate

Create a new post or page on Blockbase (and children) and insert an image block.
Check the alignment options and you will only see left, center, or right options.

## Result

If we insert patterns that have these options on their markup they will look correct on the frontend, but the user can't apply them on the blocks options. Apparently, this is caused by the post content

[2021-08-04 17:36] #4346 closed, assigned to MaggieCabrera

[2021-08-04 22:16] TeniCola commented on #3612
Another potential case in 4198467-zen

I advised the user to try making the navigation block top-level items. I also shared the CSS code in case it works for their  theme (I would think it should since it's block specific CSS, but it's a follow-up ticket after the user ghosted, so the result is pending)

[2021-08-05 14:38] #4330 closed, assigned to sixhours

[2021-08-05 14:42] MaggieCabrera commented on #4366
Must have been a bug that was already fixed, this doesn't happen on GB trunk anymore.

[2021-08-05 14:42] #4366 closed, assigned to nobody

[2021-08-05 14:56] MaggieCabrera commented on #4329
Duotone apparently doesn't support css variables, so I'm looking into it to see if I can submit a patch for it

[2021-08-05 15:41] MaggieCabrera commented on #4329
Apparently it's not trivial to make the duotone filters dynamic, so I opened an [issue](https://github.com/WordPress/gutenberg/issues/33905) about it on GB and contacted the devs on top of duotone so that this is on their radar as an enhancement.

[2021-08-05 22:37] ccwalburn opened #6533 "Varia Themes: Request to Not Display Submenus of Submenus Unless Hovering or Clicking on the Parent Submenu"
### What

Only display Submenus of Submenus when hovering or clicking on the parent submenu

### Why

If there are nested submenus, the Varia themes display all submenus and their submenus under the main heading.

This is how the Varia themes look:

![screenshot](https://d.pr/i/EdSlwL+)
Image URL: https://d.pr/i/EdSlwL

This is how it looks with Independent Publisher:

![screenshot](https://d.pr/i

[2021-08-06 01:35] mxhassani opened #4370 "Premium Theme TheFour - Portfolio Types With Non-Latin Characters Break the Type Filter"
### Steps to Reproduce

1. With a Premium plan site
2. Activate TheFour theme
3. Go to writing settings and activate Portfolio
4. Add two types, with at least one containing on its title one of these characters: § | 문 | ى
5. Populate these types with some projects (Add featured images)
6. Go to yourdomain.com/portfolio
7. Try to filter by type

### What I expected to happen

Clicking any type will

[2021-08-06 11:07] philnick206 opened #4371 "Stratford: Full width blocks show outside editor window (negative margins)"
### Steps to Reproduce

1. Create a new page
2. Add one of the predefined page layouts under Home

### What I expected to happen

The blocks should be visible and show up properly in the editor window

### What actually happened

The blocks are partially off the screen in the editor

![Uploading Markup 2021-08-06 at 12.02.52.png…]()

### Context

Testing during quick start prep.

### Operating Sys

[2021-08-06 13:12] alshakero commented on #4328
It seems that Floral theme has its headings weight set to 700, and Jetpack custom fonts only loads Alegreya:400. This causes this issue on Windows as it tries to interpolate the weight of some characters.

We might need to either change the theme to use 400. Or load Alegreya:700. Both seem to fix the issue.

cc @Automattic/theam

[2021-08-06 18:52] KirkwallDay opened #4392 "Veni theme header on latest posts page doesn't scale properly on iPad in landscape view."
### Steps to Reproduce

Veni Theme header doesn't scale properly when you have an iPad on landscape view.

1. Have a site on Veni Theme with the latest posts page up.
2. View the site on an iPad in landscape view.
3. The header doesn't scale properly.

### What I expected to happen

The header should scale properly to try and show more of the image. Here's what the test site looks like on portrait

[2021-08-07 08:54] rezzap opened #4393 "Shoreditch Theme: Line Height in Editor no longer being applied correctly"
### Steps to Reproduce

1. Start by activating the Shoreditch theme and create a new post with two three paragraph blocks.
2. Notice the line height between the paragraphs.
3. Activate a different theme like Blank Canvas and notice the difference in line height.

### What I expected to happen

I expected that the line height would be the same between themes, or at least be visually easy to read.

[2021-08-07 23:09] eduardozulian commented on #3440
I've been using the following CSS code as a workaround:

[code]

[2021-08-08 09:54] Nic-Sevic opened #4394 "Hive: Latest posts on homepage display wrong direction when set to RTL"
### Steps to Reproduce

1. Set site to RTL
2. Set homepage settings to display latest posts
3. see that only posts block displays LTR still

### What I expected to happen

whole site should display RTL unless direction was manually overridden

### What actually happened

the posts pulled into the built in posts section had their direction overwritten

### Context

4205795-zen

### Operating System

[2021-08-08 14:23] ersatzpenguin opened #4395 "Luxury: Align wide blocks have larger width on mobile than viewport"
### Steps to Reproduce

1. Activate Luxury.
2. Set up a page (without a sidebar).
3. Add an align wide block (ex: group block) with content.
4. View the block on mobile/smaller tablet.

### What I expected to happen

The contents of the align wide block should remain in the viewport.

### What actually happened

The contents of the align wide block are cut off on the left and right.

Ex:
![Annotat

[2021-08-08 20:30] jp-imagines commented on #4349
Just noticed that several other areas in the editor seem to be affected as well. Hovering over any of the collapsible menus in the settings panel shows the Customizer-set background color as well:

<img width="360" alt="Markup 2021-08-08 at 16 28 10" src="https://user-images.githubusercontent.com/5630717/128644776-232510b0-c975-4e8a-81fc-c40e7cca3a4e.png">

These colors also apply to the hovering

[2021-08-09 14:44] mikeicode opened #4423 "Goodz Magazine: Mobile menu hamburg toggle display issue"
### Steps to Reproduce

1. View mobile menu toggle on mobile
2. View the thickness of the center line

### What I expected to happen

The 3 horizontal lines of the menu should be the same thickness

### What actually happened

The middle line is too thick, on the initial header and the sticky header.

![hamburg](https://user-images.githubusercontent.com/10353785/128724826-b4514262-ebb4-41c0-aeac-d

[2021-08-09 16:52] eduardozulian opened #4373 "Blank Canvas: Double underline when Related Posts are hovered"
## Steps to replicate

1. Make sure that Jetpack Related Posts are active on a [self-hosted](https://jetpack.com/support/related-posts/) or a [WordPress.com site](https://en.support.wordpress.com/related-posts/)
2. Visit a post with related posts
3. Hover over a link

## Result
1. As opposed to what happens on posts, the default underline in Blank Canvas doesn't disappear when link is hovered
2. W

[2021-08-09 17:04] eduardozulian opened #4374 "Blank Canvas: Related Posts are left aligned"
## Steps to replicate

1. Make sure that Jetpack Related Posts are active on a [self-hosted](https://jetpack.com/support/related-posts/) or a [WordPress.com site](https://en.support.wordpress.com/related-posts/)
2. Visit a post with related posts

## Result
The Related Posts section doesn't respect the theme's width and is aligned to the left:

![Screen Shot on 2021-08-09 at 14:02:19](https://user

[2021-08-09 17:40] #4312 closed, assigned to MaggieCabrera

[2021-08-09 19:23] ccwalburn commented on #3854
This issue is also happening with the Alves theme, but only for H2 headings.

H1, H3, H4, H5, and H6 work as expected.

31045872-hc

[2021-08-10 01:58] formosattic opened #4729 "Block Widgets: Customize edit buttons not working"
After widgets are added, the helper edit buttons in Customize aren't working.

Expected: Helper edit buttons should navigate to the Widget section in Customize.

![troubleshooting](https://user-images.githubusercontent.com/15944096/128796569-4a337318-916d-43b0-9c48-324a49d0caf4.gif)

User report: 4210568-zd-woothemes

[2021-08-10 14:09] mikeicode opened #4424 "Venture: Group block Wide width issues"
### Steps to Reproduce

The default Wide width setting for Group blocks no longer makes the inner content wider by default.

1. Add a Group block set to Wide width
2. Compare with a Group block set to default width

### What I expected to happen

The content of the Wide width block should be wider.

It appears this feature is now used:

<img width="1423" alt="Screen Shot 2021-08-10 at 09 56 13" sr

[2021-08-10 14:52] MaggieCabrera opened #4378 "Skatepark: Social Menu is not universally customizable"
<img width="793" alt="Screenshot 2021-08-10 at 16 50 42" src="https://user-images.githubusercontent.com/3593343/128888979-6c5a9665-cb3a-4f69-bf83-55d171cb27bf.png">

The Social menu is a block and can't be edited via the customizer right now like the menu can. We should either remove it from the time being or make a render callback function that lets us add items to the block from what's being edi

[2021-08-10 20:35] pbking commented on #4351
No longer a WIP I humbly submit the patch for a final review.

Unit tests were changed pretty substantially but were super important to make sure that the regex that was replaced is indeed doing what I thought it was supposed to (it wasn't quite).

🤞

[2021-08-10 22:43] ChrissiePollock opened #4425 "Obsidian: Checkbox in the Form Alignment off (extra box showing)"
### Steps to Reproduce

* Set the theme to Obsidian.
* Create a post or page.
* Add the Form Block.
* Add a Checkbox Block.
* Add Items.
* Preview or publish.
* Notice and extra checkbox appears, and the other checkbox alignment is off.
* Change the theme to another (I used TwentyTwenty).
* Note that without touching the page in the editor (same exact code), the form looks correct.

### What I exp

[2021-08-11 02:23] donalirl commented on #4424
Another case of a site affected by this in #4213324-zen, also running the Venture theme

[2021-08-11 08:32] MaggieCabrera opened #4387 "Skatepark: Page template - singular"
![Screenshot 2021-08-11 at 10-27-07 Gutenberg Group – free](https://user-images.githubusercontent.com/3593343/128996396-d1258a7e-4b96-4e27-bb94-0739bbd777c6.png)

This is what it looks like right now on trunk. @melchoyce do you think we should change something about this template for Skatepark? Right now it's inheriting Blockbase's singular template.

[2021-08-11 08:33] MaggieCabrera commented on #4323
![Screenshot 2021-08-11 at 10-27-29 Page not found – free](https://user-images.githubusercontent.com/3593343/128996885-8a8dd9d3-3491-4693-bb08-041528bc11c0.png)

This is the current state of the 404 page, that's being inherited from Blockbase (the header part is coming from Blockbase too because the Skatepark one has not been merged yet, that will update once it lands). @melchoyce do you think we

[2021-08-11 08:35] MaggieCabrera commented on #4322
![Screenshot 2021-08-11 at 10-28-02 Search Results for “test” – free](https://user-images.githubusercontent.com/3593343/128997061-8db92059-664d-4f1e-8d4c-0593a0854bbf.png)

This is the current state of the Search page, that's being inherited from Blockbase (the header part is coming from Blockbase too because the Skatepark one has not been merged yet, that will update once it lands). @melchoyce I

[2021-08-11 08:37] MaggieCabrera commented on #4306
The design from figma shows an index template that is loading a page with all the block patterns but we should also consider the possibility of an index template that shows the list of posts. I don't see that on the figma designs and this is how it looks like right now:

![Screenshot 2021-08-11 at 10-25-46 free – Just another WordPress site](https://user-images.githubusercontent.com/3593343/128997

[2021-08-11 09:39] inaikem commented on #4392
This is and interesting one and most likely directly related to this issue: https://github.com/Automattic/wp-calypso/issues/35800.

Safari on iOS doesn’t support the `background-attachment: fixed` property that the theme uses in this position.

When loaded on wider iPad screens, the image might appear to be loaded as intended, but will not scroll. Could you please test and confirm if this is the c

[2021-08-11 10:00] jeffikus commented on #4329
@MaggieCabrera and I spoke about this, and we're going to pause on this, as it's non blocking. For v1, the customer can make changes in the editor, but changing the global colors won't apply to all instances of the block. We can overcome this initially with head start and patterns, and this can be improved in the block in future.

[2021-08-11 12:08] mikeicode opened #4429 "Multiple themes: Customizer Colors & Backgrounds layout issue"
### Steps to Reproduce

1. View the Customize > Colors & Backgrounds
2. Look at the layout of the color circles

### What I expected to happen

Should look like other themes:

![Screen Capture on 2021-08-11 at 08-01-52](https://user-images.githubusercontent.com/10353785/129025928-73f758f7-3d7e-4178-be2b-ff20b81cb412.gif)

### What actually happened

Looks like this:

![Screen Shot on 2021-08-11 at

[2021-08-11 12:43] zdenys commented on #2777
Found another case in 31075712-hc. Link to theme Natural is external http://www.organicthemes.com/theme/natural-theme/ instead it should be to https://wordpress.com/theme/natural/

![](https://d.pr/i/VhjcfR+)
_Link to image: https://d.pr/i/VhjcfR_

[2021-08-11 13:22] davipontesblog commented on #2777
@kwight would this be better placed in wp-calypso repo?

[2021-08-11 14:02] #4313 closed, assigned to jffng

[2021-08-11 14:02] #4319 closed, assigned to nobody

[2021-08-11 14:18] MaggieCabrera commented on #4351
This is still happening to me with the current patch

[2021-08-11 15:58] MaggieCabrera commented on #4351
The logo works great now, thank you @pbking !

[2021-08-11 20:37] AtrumGeost opened #4391 "Maxwell: Buttons inside the Donations block are not properly displayed"
## Steps to replicate

1. Add the Donations block to a page or post
2. Publish the page and see the results

## Result

![Screen Shot on 2021-08-11 at 15:36:23](https://user-images.githubusercontent.com/3696121/129099587-806a2816-71f3-43ff-bf44-59a4d2cb151c.png)

The button styles make it look like the button is disabled or not working.

## Expected

For the styles of the button to remain the same

[2021-08-12 06:10] kosiew commented on #4392
Further testing:

On Samsung S21  Chrome:

![image](https://user-images.githubusercontent.com/29057562/129146615-4b5b677b-ba6d-4363-b1e8-fad117f5645c.png)

On iPad 12 Pro Chrome:

![image](https://user-images.githubusercontent.com/29057562/129146636-85574898-0598-4b60-b2c6-05c0d63bfa49.png)

[2021-08-12 06:33] kriskorn commented on #679
Another report: #4215746-zen

[2021-08-12 06:45] zdenys commented on #2173
Another report in 4211652-zd-woothemes

[2021-08-12 06:46] kosiew commented on #4393
Hi @rezzap ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-08-12 07:03] kosiew commented on #4394
Hi @Nic-Sevic ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

Triaging for developers' further investigation.

[2021-08-12 07:08] kosiew commented on #4395
Hi @ersatzpenguin ,

Thanks for reporting this and the detailed steps.

Triaging for developers' further investigation.

[2021-08-12 15:12] melchoyce commented on #4322
That is weird 😕 If we can do h2 for the page title and h3 for the result titles, I think that'd work well. Could we also throw a search block at the top of the page? Can mock up if you'd like.

[2021-08-12 15:13] melchoyce commented on #4323
I think left-align the heading and add some additional padding to the bottom of the page content and we're golden. Maybe 150px total between the search form and the footer?

[2021-08-12 15:23] melchoyce commented on #4306
I was originally thinking a masonry grid might be cool here:

![image](https://user-images.githubusercontent.com/2846578/129222492-aeb95363-fba4-4c4b-9d2d-ef645edcd8ec.png)

Maybe set up like this using the query block:

[code]

[2021-08-12 15:28] MaggieCabrera commented on #4306
that looks really cool! But the query pagination block would need some design too, since it's not a "load more posts" button but a next/prev page and page number links.

[2021-08-12 15:55] melchoyce commented on #4306
Based on the editor preview I think the pagination block looks mostly okay as-is, just maybe some additional spacing around the numbers:

![image](https://user-images.githubusercontent.com/2846578/129228580-311d3241-8b1c-47fa-8161-8565c2e6d4c2.png)

(I just threw on 10px of padding and removed the margin in inspector to demo)

[2021-08-12 16:10] melchoyce opened #4398 "Skatepark: % option missing from columns"
## Steps to replicate

Add a columns block, and then try to update the width of a column.

## Result

% is missing:

![image](https://user-images.githubusercontent.com/2846578/129230728-bd056a96-a669-4f4c-9dea-64f3b9e8cb63.png)

## Expected

% would be present. Unsure if this is a Skatepark or Gutenberg issue, so I figured I'd start here.

[2021-08-12 16:16] melchoyce opened #4399 "Skatepark: Button text should be uppercase"
## Steps to replicate

Add a button to a post or page.

## Result

The button isn't uppercase:

![image](https://user-images.githubusercontent.com/2846578/129231595-9558ec42-7108-4a01-b261-a0ba90df6dcd.png)

## Expected

The button should use `text-transform: uppercase;`

![image](https://user-images.githubusercontent.com/2846578/129231471-eb3b00cc-cb11-49c9-88ff-b9aa2bfc25d5.png)

[2021-08-12 16:24] #4398 closed, assigned to nobody

[2021-08-12 16:27] MaggieCabrera commented on #4308
@melchoyce looking at the patterns that we still need to work on I see that:
- **Columns in container** needs both real copy and an alt text for the image
- **Mixed media in container** also needs copy and alt text
- **Paragraph with quote** needs real text

[2021-08-12 16:36] #4323 closed, assigned to nobody

[2021-08-12 16:40] #4399 closed, assigned to nobody

[2021-08-12 16:49] pbking commented on #4197
I believe all aspects of this have been addressed and this can now be closed.

When the user theme JSON is unfortunate to enter a "null" state #4336 allows customizations to continue.
Somewhat related font customization problems were addressed in #4389

[2021-08-12 16:49] #4197 closed, assigned to nobody

[2021-08-12 17:37] melchoyce commented on #4308
![image](https://user-images.githubusercontent.com/2846578/129242606-1ce1ea0a-f4ac-449e-84c7-0af6b96338b7.png)

Copy:

[code]

Alt:

[code]

[2021-08-12 17:48] melchoyce commented on #4308
![image](https://user-images.githubusercontent.com/2846578/129244227-c910a7a8-ea75-4152-bd64-d638f68af2ec.png)

Copy:

[code]

Alt:
[code]

[2021-08-12 19:08] RealCarFax commented on #4030
Another report: #31099287-hc
Gave them the CSS workaround and that has helped.

[2021-08-12 19:16] melchoyce commented on #4308
![image](https://user-images.githubusercontent.com/2846578/129255444-c51b95b2-5a3d-4341-bac5-ad1d79c29d4a.png)

Copy:

[code]

[2021-08-12 19:18] melchoyce commented on #4308
![image](https://user-images.githubusercontent.com/2846578/129255818-2cbf2c92-1076-4d7c-9cb5-376058830341.png)

Copy:
[code]

[2021-08-12 19:22] melchoyce commented on #4308
Let me know if this fake copy works!

[2021-08-13 01:18] tanjoymor opened #4433 "Melody: Two dates on posts on AT sites"
### Steps to Reproduce

1. Activate the Melody theme on an AT site
2. Set the Homepage to display latest posts
3. Make sure you have a Published post that's also be edited and Updated with a different date

### What I expected to happen

Just the Publish date to display on posts the way it does on Simple sites, like the theme demo site.

On Simple sites it works like this: https://d.pr/i/lbJ76n an

[2021-08-13 06:55] jerrysarcastic opened #4404 "Orvis: On free sites the Marketing Bar covers the site menu"
## Steps to replicate

On a free site without upgrades, activate the Orvis theme

## Result

The marketing bar coves the site navigation.  See screenshot:

<img width="1439" alt="Markup 2021-08-12 at 23 53 44" src="https://user-images.githubusercontent.com/1967448/129316986-1e96e4bb-82f1-4752-9760-61736b3c40db.png">

## Expected

For the menu to be visible

* User report: https://wordpress.com/for

[2021-08-13 08:04] #4317 closed, assigned to mikachan

[2021-08-13 08:43] scruffian commented on #4351
This has been fixed.

[2021-08-13 08:43] #4351 closed, assigned to ramonjd

[2021-08-13 09:11] scruffian commented on #4310
I think this can be closed. Any block styles we need are being added with patterns.

[2021-08-13 09:12] MaggieCabrera commented on #4310
I agree, I don't think we need a separate issue for this

[2021-08-13 09:12] #4310 closed, assigned to nobody

[2021-08-13 13:18] MaggieCabrera commented on #4387
@melchoyce is this what we are aiming for?

![Blog_ Post with less content](https://user-images.githubusercontent.com/3593343/129362879-7ad4d851-ef7c-4549-bcf9-3adeab170db0.jpg)

[2021-08-13 15:09] melchoyce commented on #4387
Talked briefly about this on Slack; we should use this design for posts, and for pages, remove all the meta/commenting blocks.

[2021-08-13 15:47] melchoyce opened #4407 "Skatepark: Header should max out at the wide-width value"
## Steps to replicate

Look at this beautiful header:

![image](https://user-images.githubusercontent.com/2846578/129384640-d3072546-1534-4bc6-a590-d4da8204f415.png)

## Result

It is nice, but very wide.

## Expected

It should max out at the wide-width value. So, a max of 1194px on desktop, with no margin added:

![image](https://user-images.githubusercontent.com/2846578/129384961-b682fa4f-ff5e-

[2021-08-13 15:51] #4306 closed, assigned to MaggieCabrera

[2021-08-13 16:59] Thelmachido commented on #2437
Today I had a chat with a user who had a similar issue. When the gallery block is set to 2 columns the images are stacked. As a workaround, I provided the CSS code provided on this thread earlier on: https://github.com/Automattic/themes/issues/2437#issuecomment-691669662 it worked.

The user's site is Atomic and they’re using the [Anemone theme](https://anemonedemo.wordpress.com/)
The user reporte

[2021-08-13 18:05] melek opened #4409 "Radcliffe 2: WooCommerce Shop page fail to paginate"
## Steps to replicate

- Install Radcliffe 2 and WooCommerce
- Import demo store content
- In the Customizer → WooCommerce → Product Catalog, set:
  - 'Products per Row' to '3'
  - 'Rows per Page' to '1'
- Notice that in the customizer, only 3 products display but no pagination appears.
- Visit Shop page. See error: All products display and no pagination appears.

Example on my WP.Com test site: h

[2021-08-15 16:07] msilbers opened #4432 "Perennial: Accordion block arrows do not display"
### Steps to Reproduce

1. On a WOA site, add an Accordion block on any page
2. Switch to the Perennial Premium theme
3. View the page with the Accordion block (a Coblocks block, available only on Atomic sites)

### What I expected to happen

There should be an arrow indicating you can click for more details, which does show on other themes

### What actually happened

No arrow displays

The block

[2021-08-15 16:35] msilbers commented on #4432
I provided this CSS as a workaround:

[code]
Also of note, the HTML for accordions/details and summary does not show arrows in this theme either, indicating the issue may not be with the block, but the actual HTML. I have added that to my test page as well: https://writemiss.wpcomstaging.com/1172-2/

[2021-08-16 01:43] katiebethbrown opened #4431 "The Four: Clicking the Hanburger Menu on Mobile Opens the Menu, But Clicking It Again Does Not Close the Menu"
### Steps to Reproduce

1. Open a site with The Four theme ([theme demo](P85sMh-5-p2))
2. View it in a mobile viewport (device or using dev tools)
3. Click on the hamburger icon to open the menu
4. Click on the hamburger icon again (ostensibly to try and close the menu)

### What I expected to happen

The mobile menu to close.

### What actually happened

Nothing at all. The only way to close the

[2021-08-16 15:08] kjellr opened #4411 "Skatepark: Apply duotone effect to Featured Images by default"
_Related to #4329 and #4406, but specifically for featured images._

---

Skatepark's featured images should all have the duotone feature applied by default:

<img width="428" alt="Screen Shot 2021-08-16 at 11 06 11 AM" src="https://user-images.githubusercontent.com/1202812/129585696-757a6416-6d16-4a3b-a7d5-23c231791fda.png">

For FSE users should be able to turn this on and off by editing a templ

[2021-08-16 15:48] melchoyce opened #4412 "Skatepark: Group with border missing spacing on front-end"
## Steps to replicate

Paste this into your editor:

[code]

## Result

Back-end:

![image](https://user-images.githubusercontent.com/2846578/129591103-e81e769f-eb25-4612-92bf-8f0bc055aede.png)

Front-end:

![image](https://user-images.githubusercontent.com/2846578/129591158-cabf590f-2a3b-447a-be78-b35d8c22cce4.png)

## Expected

Spacing should be consistent between the back- and front-end of the

[2021-08-16 15:55] melchoyce opened #4413 "Skatepark: Adjust spacing in cover blocks"
## Steps to replicate

Copy this into your editor:

[code]

## Result

![image](https://user-images.githubusercontent.com/2846578/129592191-10dc3773-1677-4cfd-8b27-37d92faa23d9.png)

## Expected

The spacing to be similar to this:

![image](https://user-images.githubusercontent.com/2846578/129592496-d295da15-0841-49fe-984c-306233851b0e.png)

Can we somehow limit that inner content to be constraine

[2021-08-16 16:36] jffng opened #4415 "Blockbase: sanitization of fonts and color customization"
Upon submitting Blockbase 1.2.0 to the dotorg theme repo, the results from the theme check provided these errors:

[code]

Note this does not prevent the update from being pushed live, because the theme is already live.

[2021-08-16 16:49] melchoyce opened #4416 "Skatepark: Page/post titles should be wide-width"
## Steps to replicate

Look at a published post or page

## Result

The title is the content width

![image](https://user-images.githubusercontent.com/2846578/129599943-942d5a6c-0414-4de0-9530-999a38bbcc3c.png)

## Expected

The title should be wide-width

![image](https://user-images.githubusercontent.com/2846578/129599974-36fcf055-267a-4eed-b691-7d12dc79c1bf.png)

[2021-08-16 16:51] melchoyce opened #4417 "Skatepark: Page/post headings without featured images should have a divider"
## Steps to replicate

Go to a page or post that **doesn't** include a featured image

## Result

There isn't anything between the page/post title and the content:

![image](https://user-images.githubusercontent.com/2846578/129599943-942d5a6c-0414-4de0-9530-999a38bbcc3c.png)

## Expected

A dividing line between the title and content:

![image](https://user-images.githubusercontent.com/2846578/129

[2021-08-16 19:10] kjellr opened #4419 "Skatepark: Site logo appears misaligned"
When you add a site logo, the left side of the menu appears very misaligned with the right:

<img width="1485" alt="Screen Shot 2021-08-16 at 3 09 19 PM" src="https://user-images.githubusercontent.com/1202812/129616941-792f87bd-beb0-4b4f-b081-29a15b2c759c.png">

@melchoyce do we have a design for how this is supposed to look?

[2021-08-16 19:36] melchoyce opened #4420 "Skatepark: Update names in two patterns"
In the Text List with Button and Two Columns of Text patterns, @kjellr noted that we're using real names and uh that's probably not okay. 😂 Can we replace with these fake names instead?

[2021-08-16 19:58] melchoyce commented on #4419
Apparently I started thinking about this previously but didn't go anywhere with it:

![image](https://user-images.githubusercontent.com/2846578/129622265-0e25bb7e-35d3-4c71-b437-f3454a7c00af.png)

https://www.figma.com/file/CA8Gb16mt9yYNWOiVLAWak/Skatepark?node-id=2021%3A2233

How does something like this feel instead?

[2021-08-16 20:48] nickpagz opened #4421 "TheFour: Heading Block Font Colors not respected"
## Steps to replicate

On a simple site:

* Add a new Heading block and some text.
* Change the background color of the block to a darker color.
* Change the font color to white.
* Preview the page.

## Result

Font color shows as black.

## Expected

Font color to show as white.

* User report: #31161505-hc
* Follow-up ticket: None.

Tested on a Premium/simple site and was able to replicate this.

[2021-08-17 04:59] formosattic opened #4422 "Broadsheet – Categories labels not all showing"
Posts with multiple categories will only show one in the area at the top of the post.

Can see that from the demo site, [see page](p4n54z-dO-p2):
![Screen Shot 2021-08-17 at 12 50 43-fullpage](https://user-images.githubusercontent.com/15944096/129666083-7b4345df-9369-45dd-9339-de6b3e2411a8.png)

* User report: 4227199-zd-woothemes