[2021-03-26 06:12] thesacredpath commented on #3531
This is the follow-up ticket with the user. I have let them know to use the classic block for now. I would vote for an update to the theme to make the gallery blocks work and display the slider rather than updating the docs to indicate using classic block.

I don't know though how near retirement this theme is, so up to theme developers on which way to go.

Follow-up ticket: 3852319-zen

[2021-03-26 09:45] simison commented on #3382
If I understood the issue right, it might get sorted by upstream fix in https://github.com/WordPress/gutenberg/pull/30092

[2021-03-26 10:29] liviopv opened #3532 "Opti: Images are not visible on the Pay with PayPal Block"
## Steps to replicate

1. Insert a [Pay with PayPal Block](https://wordpress.com/support/pay-with-paypal/) on a regular page
2. Add an image to the block
3. Preview/open the page

## Result

The image for the block is visible in the editor, but not in the frontend.

![Screenshot](https://d.pr/i/zGdptV+)
Screenshot: https://d.pr/i/zGdptV

## Expected

The image should be visible on the frontend.

#

[2021-03-26 10:48] liviopv commented on #3532
Possible CSS workaround:

[code]

[2021-03-26 11:46] liviopv opened #3533 "Nikau: changing the Links color affect certain elements unexpectedly"
## Steps to replicate

1. Add a Follow Blog widget
2. Go to Customizer > Colors & Backgrounds > Palettes
3. Define a custom links color
4. Other colors on the site will change to create contrast, but the opposite will happen

## Result

![Screenshot](https://d.pr/i/OWLHAm+)
Screenshot: https://d.pr/i/OWLHAm

## Expected

Changing the link color shouldn't create other contrast problems in the site

[2021-03-26 12:32] liviopv opened #3534 "Nikau: Follow Blog widget button misaligned on larger screens"
## Steps to replicate

1. Add the Follow Blog widget to the sidebar
2. Open the site on a screen larger than 1420px

## Result

![Screenshot](https://d.pr/i/ERhiRn+)
Screenshot: https://d.pr/i/ERhiRn

## Expected

The button should be correctly aligned with the email input box

* User report: 3850921-zen

[2021-03-26 13:06] #3382 closed, assigned to nobody

[2021-03-26 13:30] MaggieCabrera commented on #3415
Closed via #3514

[2021-03-26 13:30] #3415 closed, assigned to MaggieCabrera

[2021-03-26 14:57] kjellr opened #3538 "Blank Canvas Blocks: Remove hover states for outlined buttons with a custom color"
The original version of Blank Canvas (and Seedlet) removes the hover treatment for outlined buttons when they have a custom color assigned.

We need to replicate that for Blank Canvas Blocks in order to prevent broken-looking button hovers.

Blank Canvas|Blank Canvas Blocks
---|---
![hover-bc](https://user-images.githubusercontent.com/1202812/112650506-d4315580-8e21-11eb-94a6-04cc18c0b152.gif)|![h

[2021-03-26 15:51] zdenys opened #3540 "Twenty Twenty-One: Post Carousel Block not rendered on front-end if the respective checkboxes in Customizer > Content Options > Featured Images are not checked"
## Steps to replicate

1. Add [Post Carousel Block](https://wordpress.com/support/wordpress-editor/blocks/posts-carousel-block/) to a Page and see it fine in the Editor
2. Go to WordPress.com > My Sites > Appearance > Customize > Content Options > Featured Images and uncheck the box `Display on pages`
![](https://d.pr/i/9hqRVO+)
_Link: https://d.pr/i/9hqRVO_
3. Preview the page from step 1

## Res

[2021-03-26 23:15] jamiepalatnik opened #3542 "Natural: PDF embeds are cut off"
## Steps to replicate

1. Add a link to a PDF file to a Paragraph block on any post or page of a site with Natural theme activated.

## Result

The PDF is embedded, but it has a very short height. It looks cut off instead of displaying the full PDF. It's only possible to view the full PDF if you scroll.

Screenshot: https://d.pr/i/Ct1UZE

## Expected

I would expect the PDF embed to display at a l

[2021-03-27 00:28] hacchism opened #3543 "Multiple Themes: Issue with Author Name meta option for Blog Posts Block"
## Steps to replicate

1. Activate "Nucleare" theme
2. Create a page and add a Blog Posts Block
3. Enable "Show Author" in "Post Meta Settings"
4. Publish the page

## Result

Author name doesn't show up on each post within the block.

## Additional info

I found this issue with Nucleare theme first but I could reproduce the issue on some other themes:

- Lodestar
- Ixion

And I guess there are mo

[2021-03-28 08:14] mrfoxtalbot opened #3544 "Varia themes: Add option to also hide automatic featured images on posts"
Currently, Varia child themes have an option to show/hide featured images on single pages:
![Screen Shot on 2021-03-28 at 10:08:37](https://user-images.githubusercontent.com/4452464/112746176-982afb80-8fad-11eb-9bfc-fa9ee60c8871.png)

It would be handy to have a similar option to allow users to prevent featured images from automatically showing at the top of single posts. Currently, the only way t

[2021-03-28 12:58] lulalala commented on #1802
@cathymcbride @nielslange
Instead, could this theme be licensed to MIT/GPL so we can fork it? Thanks.

[2021-03-29 09:11] daria2303 opened #3545 "Didi: Bold text displays normal in Chrome"
## Steps to replicate

Install Theme Didi
Create a Page
Set text to Bold https://d.pr/i/otYCLk

## Result

Texts set up to bold in Chrome display as normal, in Safari correctly as Bold
https://d.pr/i/F5znxS

## Expected

Bold text displays as bold in Chrome

* User report: https://mc.a8c.com/support-stats/happychat/transcript.php?id=28698493
* Follow-up ticket: https://woothemes.zendesk.com/agent/

[2021-03-29 15:24] MaggieCabrera opened #3546 "Blockbase: Add default styles for comments block."
We need to add default styles for the Post comments and Post comments form blocks for BCB and children:

Logged in:

<img width="729" alt="Screenshot 2021-03-29 at 17 23 05" src="https://user-images.githubusercontent.com/3593343/112859851-86338080-90b3-11eb-903c-a267f72a246d.png">

Logged out:

<img width="725" alt="Screenshot 2021-03-29 at 17 24 26" src="https://user-images.githubusercontent.com/

[2021-03-29 16:25] MaggieCabrera opened #3550 "Mayland Blocks: Remove alignments css"
The alignment.css file is no longer needed, we need to handle this now via the parent theme.

[2021-03-29 16:27] MaggieCabrera opened #3551 "Mayland Blocks: Add entry meta to posts"
Bring the change from this PR to Mayland Blocks: https://github.com/Automattic/themes/pull/3541/commits/ce552f25374fd4ecefe2eae67c5d4505f0ed479d since the design is almost the same

[2021-03-29 16:28] pbking opened #3552 "Setup Seedlet-Blocks development server"
Auto push changes to make/seedlet-blocks-bcb to a development server at seedlet-blocks-bcb.mystagingwebsite.com

Leverage content from https://seedletdemo.wordpress.com/. and mirror design.

May be a nice-to-have to also have content from theamdemo as well if it doesn't get in the way.

[2021-03-29 18:57] pbking commented on #3552
This has been[ setup here](https://seedlet-blocks-bcb.mystagingwebsite.com/).
The action has already been brought into the make/seedlet-blocks-bcb branch and should be triggered by any change to that branch.

[2021-03-29 19:04] #3552 closed, assigned to nobody

[2021-03-29 19:32] jffng opened #3554 "BCB: duplicate font size presets in generated child theme.json"
This might happen in more places but I encountered in generating the child experimental-theme.json for Mayland Blocks:

<img width="272" alt="Screen Shot 2021-03-29 at 3 30 32 PM" src="https://user-images.githubusercontent.com/5375500/112889518-95520880-908a-11eb-8f4c-ba0fd8b175cd.png"> | <img width="240" alt="Screen Shot 2021-03-29 at 3 33 08 PM" src="https://user-images.githubusercontent.com/537

[2021-03-29 23:02] hanananah opened #3557 "Venture: Password protected portfolio project thumbnail not clickable on “All Projects - Post Type Archive” page"
## Steps to replicate

1. Open any WordPress.com blog and activate the Venture theme
2. Create and publish several Portfolio projects
3. Update visibility settings of at least one project to be password protected
4. Add the “All Projects - Post Type Archive” page to site menu in the Customizer
5. View “All Projects” page on the front end
6. Click on the password protected project

## Result

Proje

[2021-03-30 01:36] edwinho89 commented on #1742
Another report in 7003188-hc

[2021-03-30 07:20] fresatomica commented on #2919
The same happens when adding images to Columns Block:

![Screen Shot on 2021-03-30 at 09-18-46](https://user-images.githubusercontent.com/40177971/112948956-f6d0b080-9138-11eb-8555-3b2aedfa0424.png)

Instead of:

![Screen Shot on 2021-03-30 at 09-19-45](https://user-images.githubusercontent.com/40177971/112949065-18ca3300-9139-11eb-8702-d5e3537945cc.png)

Reported in: https://wordpress.com/forums/

[2021-03-30 10:03] kriskorn commented on #3340
Another case: 28720967-hc

[2021-03-30 10:47] MaggieCabrera commented on #3530
This seems to be working with this PR: https://github.com/Automattic/themes/pull/3549 I will close this when that one is merged:

<img width="1125" alt="Screenshot 2021-03-30 at 12 46 52" src="https://user-images.githubusercontent.com/3593343/112977386-4671a500-9156-11eb-8ab1-581745807df9.png">

[2021-03-30 13:08] jffng commented on #3538
Closed by #3556

[2021-03-30 13:08] #3538 closed, assigned to danieldudzic

[2021-03-30 14:27] MaggieCabrera commented on #3550
Closed via #3558

[2021-03-30 14:27] #3550 closed, assigned to nobody

[2021-03-30 14:29] MaggieCabrera opened #3569 "Mayland Blocks: Refactor spacer blocks"
Try to remove spacer blocks and refactor them into margins/paddings whenever possible.

The possibility of https://github.com/WordPress/gutenberg/pull/30371 being merged could affect this too.

[2021-03-30 16:21] MaggieCabrera opened #3574 "Blank Canvas Blocks: Remove accesibility css"
The [css for the accesibility classes on BCB](https://github.com/Automattic/themes/blob/trunk/blank-canvas-blocks/sass/base/_accessibility.scss) is a legacy from seedlet and we don't need it anymore since we are not using that class anymore in our templates. We can safely remove this file.

[2021-03-30 17:42] sbathompson-he opened #3577 "Carmack: Featured Posts Bug"
## Steps to replicate

- It seems that the themes featured posts are not showing correctly
- Although the featured post is set with a tag, it is pulling randomly from that tag: https://d.pr/i/UoQ3E2
- Will not change when changing the tag in the customizer
- Another HE had to delete all tags just to get it to work
- We are not sure if what it means by "older content", but something here is broken:

[2021-03-30 17:56] #3554 closed, assigned to nobody

[2021-03-30 18:40] jsnmoon commented on #3393
@msilbers: This should be fixed with our upcoming changes for Jetpack 9.6!

[2021-03-30 19:40] pbking opened #3581 "Post-meta template-part doesn't work in index.html block template."
The template part `post-meta.html` isn't working when you load a page with index.html.

Change the theme to 'Seedlet Blocks (BCB)' and set the homepage to be "your latest posts" so that index.html is used for the home page.

Note that `Template part has been deleted or is unavailable: post-meta` is shown (however the template part is defined in the template).

[2021-03-30 20:19] pbking opened #3582 "Seedlet Blocks: Style Comment Block"
I don't believe this was ever done for BCB.

Current:
![image](https://user-images.githubusercontent.com/146530/113051130-a32f8880-9173-11eb-840b-f748836eda1c.png)

Target:
![image](https://user-images.githubusercontent.com/146530/113051164-ab87c380-9173-11eb-8325-b8a9dbf96cf2.png)

[2021-03-30 20:24] pbking opened #3583 "Site Logo is not centered"
If you go to the Site Editor and assign the site logo it will be correctly rendered in the Site Editor.

However when rendering the page the logo is aligned left.

Current:
![image](https://user-images.githubusercontent.com/146530/113051642-35d02780-9174-11eb-8b03-e4d59bbae75a.png)

Site Editor:
![image](https://user-images.githubusercontent.com/146530/113051704-47193400-9174-11eb-9ee3-e9e83008550

[2021-03-30 22:23] danieldudzic commented on #3582
We should probably style this, accounting for the following PR getting merged, right: https://github.com/WordPress/gutenberg/pull/30382 ?

[2021-03-31 01:09] p-jackson opened #3588 "Global Styles not being applied correctly on front end"
## Steps to replicate

- Install and activate Seedlet Blocks on a standalone site, install GB
- Open site editor and change the text colour using Global Styles and save the change
- Notice that the text in the editor changes
- Refresh the page, notice the text colour change has been saved ![editor](https://user-images.githubusercontent.com/1500769/113075821-36c39080-922a-11eb-9ea4-0ad3b24b5268.jpg

[2021-03-31 04:06] rinazrina opened #3589 "Twenty Twenty: Selecting Font Style for Base Fonts Changes Headings"
## Steps to replicate

1. On a site with Twenty Twenty theme active, go to Customize > Fonts
2. Select a custom font for Base Font
3. Let the Headings remain using default theme font

## Result
The Base Font turns the page title, site title, and widget title. Not just the main body text.

<img width="1393" alt="Markup 2021-03-31 at 11 54 01" src="https://user-images.githubusercontent.com/33721365/

[2021-03-31 07:39] poojashetty18 commented on #1976
A similar issue on #3867334-zd(Redhill theme)

[2021-03-31 09:05] MaggieCabrera opened #3590 "Mayland Blocks: Style comments blocks"
The end result should look like this:

<img width="843" alt="Screenshot 2021-03-31 at 11 04 07" src="https://user-images.githubusercontent.com/3593343/113119607-ec81e580-9210-11eb-817f-c5b1105ccc73.png">

[2021-03-31 09:09] MaggieCabrera opened #3591 "Mayland Blocks: Adjust custom theme.json variables"
We need to review the custom variables on the theme.json and extend when needed from BCB's defaults. Some are off. An example of this are the spacing values:

Mayland | Mayland Blocks
--- | ---
<img width="800" alt="Screenshot 2021-03-31 at 11 07 45" src="https://user-images.githubusercontent.com/3593343/113120086-80ec4800-9211-11eb-8f30-fc3802bc9a6f.png"> | <img width="811" alt="Screenshot 2021-0

[2021-03-31 10:49] susanjanec commented on #3545
I landed on this ticket and when viewing the page, the text mentioned in Safari does appear to show bold - https://d.pr/i/RSqQyf

Wanted to confirm before replying to the user to see if this is indeed a bug in Safari.

[2021-03-31 11:55] fstath opened #3593 "Twenty Twenty-one free banner hides mobile menu"
## Steps to replicate

Load on a mobile device a free WordPress.com site with the Twenty Twenty-one theme that has a menu.

## Result

The mobile menu button is not shown because of the top banner that's displayed on free WordPress.com sites.

## Expected

For the mobile menu to be displayed.

* User report: https://wordpress.com/forums/topic/mobile-view-23/

[2021-03-31 15:38] jffng commented on #3582
PR for BCB here: https://github.com/Automattic/themes/pull/3553, but I think Seedlet Blocks needs more specific comment form CSS.

[2021-03-31 15:42] pbking opened #3595 "Style Latest-Post block"
Target:
![image](https://user-images.githubusercontent.com/146530/113172090-1984c700-9216-11eb-8cbb-902d4caedf4f.png)

Current:
![image](https://user-images.githubusercontent.com/146530/113172197-328d7800-9216-11eb-9e41-855fbfda1e27.png)

[2021-03-31 16:10] jffng commented on #3595
In Seedlet, we create this using a [block style variation](https://github.com/Automattic/themes/blob/4e17dacd511ef01cc4a87f508c7bfbb615733026/seedlet/assets/sass/blocks/latest-posts/_style.scss#L98-L132).

Is a block style variation still the way to go?

Two alternatives would be creating a block pattern or making it the default style for the latest posts block.

[2021-03-31 20:37] jffng commented on #3316
I looked into this more closely and opened a fix for simple sites here: D59587-code

[2021-04-01 00:47] kristarella commented on #3545
I can't replicate. Safari and Chrome look the same to me. The difference between bold and normal text is present in both.

Letter spacing is a bit different in Safari, but bold seems the same https://d.pr/i/LVhK21

[2021-04-01 08:27] ivan-ottinger opened #3599 "Hever: Extra white space / margin in the Block editor"
## Steps to replicate

1. Activate Hever on a Simple site
2. Open any page for editing and observe

## Result

<img width="1701" alt="Markup 2021-04-01 at 09 41 45" src="https://user-images.githubusercontent.com/25105483/113265504-7fd01f00-92d4-11eb-9d1f-015be9d5ecf5.png">

## Expected

The editor is loaded correctly.

---

It looks like the issue could have been triggered by the recent Gutenberg

[2021-04-01 08:51] kavyagokul commented on #3599
Another report in 28760447-hc

Apart from the layout, the width and alignment options are also gone.

[2021-04-01 09:14] Sandkorner commented on #3599
I had a user with the Balasana theme. Everything was pushed to the left in the editor. On live the site looked fine.
Might be connected. (3872248-zen)

[2021-04-01 09:34] pauljacobson opened #3600 "Apostrophe 2: Default category pages omit correctly categorized posts"
A customer reported that an automatically generated category page omits posts that are correctly categorized, and should otherwise be included in the list of posts on the page.

## Steps to replicate

The posts that are omitted are the following:

<img width="1705" alt="Markup 2021-04-01 at 12 01 58" src="https://user-images.githubusercontent.com/2912202/113273770-a5b1ef80-92e5-11eb-97d5-1bdcc3b66

[2021-04-01 10:13] galakhyati commented on #3599
Similar issue with a site on Hever theme and using Columns block where the Columns block was missing the alignment option. (28761314-hc)

[2021-04-01 10:18] #3551 closed, assigned to MaggieCabrera

[2021-04-01 11:38] Robertght opened #3601 "Pique: Front Panel Featured Images zoomed on iPad/desktop browser"
## Steps to replicate

1. Set up a similar theme as in the theme demo and make sure you have the featured images added.

## Result

The featured images appeared super zoomed in:

![image](https://user-images.githubusercontent.com/6737345/113288416-9dfb4680-92f7-11eb-97b2-4b4e4681b47e.png)

## Expected

To have them showing up correctly which does happen if we request the mobile

* User report: 216

[2021-04-01 12:03] Nic-Sevic commented on #3452
Also happening in Sela here: 28681526-hc

[2021-04-01 12:11] WunderBart commented on #3599
Gutenberg on Simple sites has been reverted to v10.2.0 because of this issue. Please follow p1617267873288500-slack-C7YPUHBB2 for more info.

[2021-04-01 13:50] swoodipto commented on #3280
Another report: 28681526-hc / 3872799-zen
Theme: Sela (retired)

[2021-04-01 13:55] kathrynwp commented on #3601
Maybe related: #704

[2021-04-01 15:43] lakellie commented on #286
Another report: 3872281-zen

[2021-04-01 16:36] edequalsawesome opened #3606 "Arcane: Image Block with Center Alignment Margin Bug"
## Steps to replicate

1. Create a new post or page
2. Add an Image block that is set to center alignment
3. Publish the post or page

## Result

The Image block is shown without a bottom margin

![Arcane - Image with Center Alignment Bug - Before CSS](https://user-images.githubusercontent.com/4000628/113325666-bb73e480-92e6-11eb-8d48-24f08f7d0027.png)

## Expected

The center-aligned image would

[2021-04-01 17:48] jamiepalatnik opened #3607 "Colinear: Black bars added to vertical video on mobile"
## Steps to replicate

1. Activate Colinear theme.
2. Add a narrow vertical video to a Video block on a page.
3. Check page on mobile.

## Result

Wide black bars appear above and below video. Screenshot: https://d.pr/i/34fgrq

## Expected

I would not expect to see black bars on vertical video. I would expect the same behavior as on newer themes.

* User report: 28768449-hc

[2021-04-01 19:39] pbking commented on #3595
Block Style created, and a Block Pattern with that style also added.  I think all the bases are covered.

[2021-04-01 19:39] #3595 closed, assigned to pbking

[2021-04-01 22:01] lettergrade opened #3609 "Floral: featured images not visible in Blog Posts block or Post Carousel block on published posts or pages"
## Steps to replicate

1. Activate Floral theme.
2. Add a Blog Posts block or Post Carousel block to post or page edit screen
3.  For Blog Posts block, enable 'Show Featured Image' setting. (Featured image is default behaviour for Post Carousel, so no need.)
4. See your featured images show up in both blocks in the edit screen: [screen1](https://snipboard.io/I1ZzP5.jpg) and [screen2](https://snipb

[2021-04-01 22:09] lettergrade commented on #3609
Just wanted to note that it was mentioned in p1617314904228300-Slack-themes

[2021-04-01 22:28] sbathompson-he commented on #2644
16005107-hc reported this today.

[2021-04-02 01:14] fullofcaffeine commented on #3599
This was fixed in D59674-code + the release of GB 10.3.1 in WPCOM simple sites.

[2021-04-02 01:14] #3599 closed, assigned to nobody

[2021-04-02 04:20] edwinho89 commented on #3557
Shared with user the following CSS code as workaround.

[code]

[2021-04-02 05:43] Robertght opened #3610 "Adventure: Post Carousel block - hovering the arrows changes their position"
## Steps to replicate

1. Create a Posts carousel block
2. Check how it looks on the frontend.

## Result

![https://d.pr/i/12KDQa+](https://d.pr/i/12KDQa)
Direct Link: https://d.pr/i/12KDQa (GIF)

Also, this is what I see in the code:

![image](https://user-images.githubusercontent.com/6737345/113384555-f6315780-938e-11eb-81a7-82a3109a4913.png)

Temp workaround:

[code]

* User report: 3870875-ze

[2021-04-02 07:58] daria2303 commented on #3545
I think the issue may be in the display - in Chrome the bold is hardly visible in relation to Safari.
Maybe I didn't get that - sorry for bothering if that's the case.
User got help in another chat and ticket is closed, so I am closing here too.

[2021-04-02 07:58] #3545 closed, assigned to daria2303

[2021-04-02 08:03] daria2303 commented on #3545
It looks like there is an issue actually with bold in Chrome on Mac: https://stackoverflow.com/questions/37793086/why-is-the-font-style-bold-not-correctly-applied-in-chrome-on-this-website/60799683#60799683

[2021-04-02 11:42] syds87 commented on #3131
Similar case reported in 28772916-HC. They set up a header image.
This is shown on every page, except for the homepage.

[2021-04-02 16:37] liviopv opened #3612 "Profile: the position of the submenu items on the Navigation Block makes them impossible to click"
## Steps to replicate

1. Create a menu with submenu items
2. Add a horizontal Navigation Block to a post or page
3. Select the menu created on step 1.

## Result

Video: https://d.pr/v/VKK5Co

## Expected

The submenu should stay open to allow the items to be clickable.

## Workaround

Adjusting the position of the submenu via CSS so it is stay close to the parent item fixes the issue.

What work

[2021-04-02 17:27] liviopv opened #3613 "Nikau: Twitter Timeline disappears on Atomic sites after scrolling"
## Steps to replicate

1. Add a Twitter Timeline widget to the Sidebar - setup: https://d.pr/i/HY4MH0
2. Scroll the page

## Result

Video: https://d.pr/v/xkCg1i

## Expected

The widget should remain visible after scrolling.

* User report: #973515-hc

[2021-04-02 20:26] ersatzpenguin opened #3614 "Blank Canvas - Customizer Colors Not Applying Correctly"
## Steps to replicate

1. Activate Blank Canvas on a site (simple or atomic—it seems to affect both).
2. Set as custom color in Customizer—particularly, the custom secondary color.
3. Set some text in the editor to have this secondary color.
4. View the front-end version of the page.

## Result

The secondary color set in the customizer is overridden by the theme's default secondary color. Apparen

[2021-04-03 06:00] sophiegyo commented on #1943
EDIT: This is definitely a theme issue, not a block issue - I didn't even notice but this report concerns the Latest Posts block instead. When I realised, I tested the Blog Posts block instead - same result.

Here's another report in 3875159-zen

Block in the editor: https://d.pr/i/ezXPrg
Block on the front page with Apostrophe 2 active (notice the missing image in the HTML): https://d.pr/i/NDGODJ

[2021-04-05 08:35] fstath commented on #3593
Another report here: https://wordpress.com/forums/topic/wordpress-advertisement-is-blocking-my-menu-2/

[2021-04-05 10:18] MaggieCabrera opened #3615 "Mayland Blocks + Seedlet Blocks + BCB: Change meta icons to use mask"
We can use [this approach](https://codepen.io/joen/pen/poRwpPj?editors=1100) (thanks @jasmussen! ) to be able to change the color of the icons based on the corresponding css variable

[2021-04-05 15:19] ianstewart commented on #2964
I'm not sure if they have access to the same scripts as Automatticians. If so, they'd be unable to do this.

I'd wager that what's missing is clicking "convert to blocks" on posts and pages in the theme demo.

[2021-04-05 15:49] ezebecke opened #3616 "Dara: alt text on header image"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]
1- Activate Dara.
2- Upload an image and add alternative text to image settings.
2- Add the image as a header image from Customizer → Header Image

## Result

Alt tag on the header image is empty.

## Expected

To see the alt text on the source code.

* User report: 55

[2021-04-05 16:15] jffng commented on #3614
Hi @ersatzpenguin — we just deployed a fix for this on simple sites D59701-code, would you mind verifying if it addressed this issue? Thank you!

[2021-04-06 02:53] happychait opened #3617 "Rebalance: In the editor only, SyntaxHighlighter Code Block shows white text on the white background, making the code invisible."
## Steps to replicate

Add a new page or post, add a SyntaxHighlighter Code Block and add any code to the block.

## Result

The code is shown in white text on the white background, making it invisible until highlighted with the mouse as shown in this video: https://d.pr/v/KaxQMl

Happening only in the editor. Code looks good in the Preview and on the actual page.

Happening only in the Rebalance

[2021-04-06 14:25] danmaze opened #3618 "Blocks aligned right in editor but are properly aligned when pages are previewed"
## Steps to replicate

Once the theme is installed on a test site:

- Go to My Sites > Pages > Home to edit the demo Home page.
- Scroll down to the section for scheduling a consultation or the testimonials section.

See screenshots below:

![schedule-session-editor](https://user-images.githubusercontent.com/50293775/113725392-2cead300-96eb-11eb-86f9-4d5c1a0deea1.JPG)

![testimonials-editor](https

[2021-04-06 14:44] azollafox opened #3619 "Twenty Twenty-One: Headings unreadable on mobile"
## Steps to replicate

1. Open https://twentytwentyonedemo.wordpress.com/ on an mobile device
2. Scroll down a bit to try to read all the Heading text

## Result

Long words get cut off
![](https://blogmcblogghome.files.wordpress.com/2021/04/wp-1617720149585.png)
(Image link: https://blogmcblogghome.files.wordpress.com/2021/04/wp-1617720149585.png )

## Expected

I expected our theme demo content

[2021-04-06 15:37] Columbo199X commented on #3168
Hey the previous issue with this block got fixed but about a week ago it came back. When I open a page or post in the block editor it's all squished together. Looking through it, it seems it's still the Cover Block that's causing the issue. If you place another Block on it like a Picture or Layout it is centered to the right regardles of what alignment you select.

[2021-04-06 15:49] #3583 closed, assigned to nobody

[2021-04-06 15:54] jffng commented on #3583
Fixed in https://github.com/Automattic/themes/pull/3608

[2021-04-06 21:19] ccwalburn opened #3622 "Natural: Latest Posts Block Grid doesn't display properly"
## Steps to replicate

1. Add a Latest Posts block to a page
2. Set it to Grid View
3. Show Post Content - Excerpt
4. Set Number of Items and Columns to 3

## Result

The public view wrapped the third column to the next line:

![screenshot](https://d.pr/i/B6a4co+)
Image URL: https://d.pr/i/B6a4co

## Expected

I expected the third column to stay on the same line as the first two:

![screenshot](ht

[2021-04-06 21:34] kathrynwp opened #3623 "Blank Canvas: Remove underline on footer-credit logo"
## Steps to replicate

Under Appearance > Customize > Site Identity, choose the WordPress.com logo option in the Footer Credit section

![Customize__Global_Styles_Demo_–_An_awesome_tagline](https://user-images.githubusercontent.com/7662449/113781228-5b25de00-96fe-11eb-8e26-33b7f58011d3.jpg)

## Result

The logo is underlined on the front end.

Examples:

![Covid-19_Guidelines](https://user-images.

[2021-04-06 23:07] jamiepalatnik commented on #3403
Another report, looks like there is an issue with post title color and position in list view as well: #28858137-hc

[2021-04-07 05:02] katiebethbrown opened #3625 "Twenty Twenty One: When Content Settings are set to Full and Excerpt Settings are Seet to Summary, Sharing and Likes are Duplicated"
## Steps to replicate

1. Enable likes and sharing

2. Set Excerpt Settings to Summary
<img width="150" alt="Screen Shot 2021-04-06 at 11 01 10 PM" src="https://user-images.githubusercontent.com/42279181/113812841-0305d080-972c-11eb-926a-ce0a6978a2c2.png">

3. Set Content Options to Show Full Text
<img width="150" alt="yD0ZeB" src="https://user-images.githubusercontent.com/42279181/113812710-c8039

[2021-04-07 05:03] katiebethbrown commented on #1761
I had a similar issue with the Twenty Twenty One theme:
https://github.com/Automattic/themes/issues/3625

[2021-04-07 10:41] danmaze commented on #3618
**Update:**

Initially replicated the issue with the Brompton theme but the user says they're experiencing this on all the themes they've tried. Confirmed that this is also the case with the Alves theme. So, it appears to be a broader issue, perhaps with the editor itself.

[2021-04-07 10:48] rachelwinspear opened #3626 "Maywood: Cover Block aligns text right in editor"
## Steps to replicate

1. Activate the theme Maywood, add home layout for Maywood
2. Cover Block content appears to the right in the editor, but does show correctly in page preview and front end.

Editor:
![Screenshot](https://d.pr/i/qtA80l+)

Frontend:
![Screenshot](https://d.pr/i/zWXAcM+)

## Result

Content within the editor can not be moved to the left in the Cover Block.

## Expected

I expec

[2021-04-07 10:51] fresatomica commented on #3618
@danmaze were they/you testing the same Brompton's demo page on another theme, rather than creating a brand new one?

[2021-04-07 12:17] danmaze commented on #3618
@fresatomica It looks like they were testing the same demo page on another theme. I, on the other hand, tested Alves' demo home page (a different demo page on another theme). Same thing.

[2021-04-07 13:50] rachelwinspear commented on #3626
Another report of text in Cover Block loading to the right in Editor, this time in theme Barnsbury: #3883437-zen

[2021-04-07 14:12] danmaze commented on #3626
@rachelwinspear I opened a similar issue yesterday: #3618, User report: #3883570-zen. I'm thinking we should reconcile these issues and perhaps, merge them into one.

[2021-04-07 16:28] zdenys opened #3627 "Twenty Twenty: Blog Post Block `Keep reading` link font is wrong in the Editor vs frontend"
## Steps to replicate

1. Add [Blog Posts Block](https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/) to a post/page
2. Activate `Add a "Read More" link` in the block settings
3. See the font of the `Keep reading` link compared to the base text font
4. Preview the post/page

## Result

- On the backend (editor), the font of `Keep reading` link doesn't match the base text font !

[2021-04-07 17:02] zdenys opened #3628 "Twenty Twenty: Pullquote Block has wrong font family, weight, and size in the Editor vs frontend"
## Steps to replicate

1. Add a [Pullquote Block](https://wordpress.com/support/wordpress-editor/blocks/pullquote-block/) to a post/page
2. Preview the post/page
3. (Optional/additional) Set the Pullquote block width to `Wide width` or `Full width`

## Result

The font family, weight, and size on the frontend is different from the one in the backend (editor)

Backend | Frontend
--- | ---
![](https

[2021-04-07 19:41] eoinsav opened #3629 "Site Tagline and Footer Credit unreadable on Shawburn theme for certain colors"
## Steps to replicate

1. Activate Shawburn on your site.
2. Add a Tagline to your site.
3. Change the "Foreground Color" in the Customizer to `#e46c92` or something similar.
4. View the live site and you will see that the tagline and footer credit are not visible.

<img width="1218" alt="Markup 2021-04-07 at 12 34 58" src="https://user-images.githubusercontent.com/35590156/113924268-75af9400-979e

[2021-04-08 00:48] devNigel opened #3631 "Twenty Twenty-One: Mobile menu transition is not smooth"
## Steps to replicate

1. Switch to Twenty Twenty-One theme or access the theme demo https://twentytwentyonedemo.wordpress.com/ on mobile view.
2. Open and close the mobile menu by clicking on the hamburger icon.

Screen recording: https://d.pr/i/RNhn4v

## Result

The mobile menu looks glitchy upon closing.

## Expected

The transition should be smooth when closing the mobile menu.

* User report

[2021-04-08 00:52] devNigel commented on #3631
User asked to be informed once the issue is fixed.

[2021-04-08 11:47] danieldudzic commented on #3609
@lettergrade Thanks for reporting!

I can't replicate the Blog Posts block issue:
<img width="1780" alt="blog_posts" src="https://user-images.githubusercontent.com/905781/114020494-f12d4600-986f-11eb-9034-24809c015c7d.png">

I was able to replicate the Post Carousel issue - but it also occurs for me with Twenty Twenty One - there seems to be a JS error:
<img width="1774" alt="carousel" src="https:

[2021-04-08 17:55] KirkwallDay opened #3633 "Twenty Thirteen Theme: Layout Block unresponsive and renders improperly."
In the Twenty Thirteen theme, the layout grid block doesn't expand to fill the entire page in the editor.
In preview, seems to stretch out to fill the entire page anyway.

### Steps to reproduce the behavior

1. Put the Twenty Theirteen theme on a website
2. Put a layout grid on a page, and some content into the grid.
3. Try to adjust the size of the grid.
4. Preview the page.

#### What I expecte

[2021-04-08 18:48] jffng commented on #3581
Related — https://github.com/WordPress/gutenberg/issues/28814 and https://github.com/WordPress/gutenberg/pull/30416

[2021-04-08 19:19] ktyfuller604 commented on #1294
Another report here: 3891744-zen

[2021-04-09 01:44] alaczek opened #3635 "Mayland Blocks: Distorted images"
The issue previously reported in #3382 has resurfaced again. This might be related to making it a child theme of Blank Canvas Blocks.

**Steps to replicate**

1. Create a site with Full Site Editing and Mayland Blocks active.
2. Open the site editor and add an Image block into the post content (upload new, select from the media library, or from Pexels).
3. Save and preview the site in a new tab. N

[2021-04-09 03:07] jffng commented on #3635
I just tried to replicate by creating a new site, and the images appear correctly with the reset styles (which [were not removed in the recent update](https://github.com/Automattic/themes/blob/trunk/mayland-blocks/style.css#L60-L63
)).

Site Editor | Front end
------- | -------
<img width="1556" alt="Screen Shot 2021-04-08 at 11 00 32 PM" src="https://user-images.githubusercontent.com/5375500/1141

[2021-04-09 04:00] darcie commented on #3593
This is also reported here: https://github.com/Automattic/wp-calypso/issues/51060

[2021-04-09 12:05] rosepajaroja commented on #2054
I have another one here hc-28905275

It happens both on the site title and tagline, and on tablet and mobile view.

[2021-04-09 13:26] jffng commented on #3635
The issue has resolved on the starter site, so going to close this. Please re-open if it comes up again!

<img width="1392" alt="Screen Shot 2021-04-09 at 9 25 27 AM" src="https://user-images.githubusercontent.com/5375500/114187077-74947900-98fc-11eb-9ea1-5228f5d9d43e.png">

[2021-04-09 14:17] daria2303 opened #3636 "Colinear: contact form emails land in Feedback > Trash, email is not sent to receiver"
## Steps to replicate
- install Colinear theme
- In contact page there is a form done in Classic Block
- add receiver email
- Fill the form on the live page (tested with non-test copy to avoid spam filters)

## Result
- messages that are sent do not arrive to the email and they land in the Feedback >Trash - for the user
- in my test page they land in Feedback, not Trash, but I do not receive email

[2021-04-09 15:31] msilbers commented on #3616
For a decorative image, an empty alt text is expected/intentional for accessibility

[2021-04-09 15:39] jffng commented on #3546
Partially addressed in #3553, also depends on https://github.com/WordPress/gutenberg/pull/30382

[2021-04-09 18:38] sajmes commented on #3069
Confirming that this issue is still occurring based on user follow up (see 3849049-zen).

[2021-04-09 22:05] gwensmithx commented on #3262
Another report here: #28917581-hc

[2021-04-09 22:24] supernovia opened #3637 "Varia: add Content Option checkbox to show/hide featured images on posts"
Could users have a Content Option to hide featured images on posts, much like the option to hide or [show featured images on pages](https://github.com/Automattic/themes/pull/3220)? I would recommend defaulting to "on" since that's the current behavior.

We're often asked us how to either hide or resize post featured images using CSS. Support and volunteers have always just given the users the CSS

[2021-04-10 16:36] zdenys commented on #2174
This is still an issue 😞 Found in 28934146-hc with theme version `1.7`

[2021-04-10 16:43] zdenys commented on #2174
@kjellr can you confirm if this is the case already? If not, how to ensure that it will be. Thank you!

[2021-04-11 01:05] kelasante commented on #2330
Another report in 3880840-zen. Since this has been closed, does this mean the issue is fixed?

[2021-04-11 06:21] poojashetty18 commented on #2224
Another report: 28942666-hc

[2021-04-11 14:13] kathrynwp commented on #3496
User also reported in Core Trac: https://core.trac.wordpress.org/ticket/52828

[2021-04-11 19:37] thesacredpath opened #3638 "Independent Publisher 2: Premium Content Block buttons center alignment"
## Steps to replicate

1. Add Premium Content block, set buttons section to be center aligned.
2. In editor, they are shown as center aligned.
3. Publish post and then visit it in incognito window and buttons are not left aligned (logged out view).

Screenshot editor: https://d.pr/i/x3p85T

## Result

Buttons show as left-aligned.

Screenshot incognito: https://d.pr/i/gUnf58

Screenshot:

## Expec

[2021-04-11 22:31] goblinartificer commented on #3520
3897030-zen as well, using Barnsbury

[2021-04-11 23:40] alaczek commented on #3635
I just switched themes to Blank Canvas Blocks and back to Mayland Blocks again. That seems to have cleared up the distorted images issue. But I noticed something else - there is no spacing added when content is wrapped in a group block with background set. Was that something special added in Varia themes?

[2021-04-11 23:44] alaczek commented on #3635
🤦‍♀️ I forgot we have padding controls for that now :)

[2021-04-12 14:37] ryanr14 opened #3639 "Orvis: WooCommerce product page missing details"
## Steps to replicate

Using Orvis and WooCommerce together seems to cause an issue where important parts of the WooCommerce product are not shown or hidden.

## Result

https://michaellinesdesign.com/product/nuts/

The above is a variable product where you'd expect to see the variation drop down, price, add to cart button, etc...

When I switched to Twenty Twenty-one things were as expected. http

[2021-04-12 14:48] rachelwinspear commented on #3520
Another report #3901556-zen - Hever theme

[2021-04-12 15:41] jffng opened #3640 "Quadrat: Implement typography & color"
Design here: https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/?node-id=50%3A766

Final color, typography and button styles: https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/Quadrat?node-id=760%3A112

- [x] Headings
- [x] Paragraphs
- [x] Blockquotes
- [x] Lists
- [x] Tables
- [x] Code
- [x] Buttons

[2021-04-12 15:45] jffng opened #3641 "Quadrat: Post Header"
The post header should look like this

No Featured Image | Incl featured image
--------- | -----------
<img width="395" alt="Screen Shot 2021-04-12 at 11 44 30 AM" src="https://user-images.githubusercontent.com/5375500/114422647-51bbcc00-9b6b-11eb-91f6-eefca7f27058.png"> | <img width="516" alt="Screen Shot 2021-04-12 at 11 43 09 AM" src="https://user-images.githubusercontent.com/5375500/114422512-

[2021-04-12 16:36] MaggieCabrera commented on #2174
Can confirm this is still happening only on atomic (v1.7)

[2021-04-12 16:37] jffng opened #3642 "Quadrat: Block Patterns"
Quadrat should ship with the following block patterns:

- [x] [Illustrated Promo](https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/?node-id=50%3A11) https://github.com/Automattic/themes/pull/3662/
![image](https://user-images.githubusercontent.com/5375500/114431592-82543380-9b74-11eb-8313-fe6f67f0f6d8.png)

- [x] [CTA](https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/?node-id=50%3A11) https://gi

[2021-04-12 16:38] jffng commented on #3642
@beafialho did you imagine any other aspects of the theme to be bundled as a block pattern?

[2021-04-12 16:42] jffng opened #3643 "Quadrat: templates"
The following templates should be available in Quadrat:

- [x] post
<img width="334" alt="Screen Shot 2021-04-12 at 12 39 20 PM" src="https://user-images.githubusercontent.com/5375500/114430428-44a2db00-9b73-11eb-8b56-6e20fc38a58c.png">

- [x] page
<img width="506" alt="Screen Shot 2021-04-12 at 12 42 27 PM" src="https://user-images.githubusercontent.com/5375500/114430561-68feb780-9b73-11eb-99d1-b

[2021-04-12 16:45] jffng opened #3644 "Quadrat: Hover effect"
The theme has a neat effect when hovering over post links. A slightly rotated block appears behind it:

<img width="310" alt="Screen Shot 2021-04-12 at 12 43 50 PM" src="https://user-images.githubusercontent.com/5375500/114430808-aa8f6280-9b73-11eb-87e9-8607c66e4297.png">

We should determine a good approach for when and how this effect is applied.

[2021-04-12 16:49] MaggieCabrera commented on #3644
This could be a neat effect for the query block. I did something like this using block styles for blue note here (in that case the block styled was "latest posts"): https://github.com/Automattic/gutenberg-block-styles/tree/blue-note-posts

[2021-04-12 16:53] kjellr commented on #2174
Thanks for testing @MaggieCabrera! That's too bad it's still happening. I've added it to the Theme Team's backlog.

[2021-04-13 08:01] Nic-Sevic opened #3645 "Twenty Fourteen: full width pages not taking up full width"
## Steps to replicate

Add the Twenty Fourteen theme to any site
See that extra space appears on right side and remaining content no longer full width

## Result
ends up with extra space on right

![does](https://user-images.githubusercontent.com/47717887/114517563-20183300-9c47-11eb-99d6-3efcfad6886c.jpeg)

## Expected

Should look like this:

![should](https://user-images.githubusercontent.com/4

[2021-04-13 09:39] beafialho commented on #3642
I think these are all the block patterns we had thought for the theme. We could probably remove the one with Photography in "Text + Image Cover CTA" and leave only the one with Illustration, what do you think @kjellr?

[2021-04-13 10:33] zdenys opened #3646 "Twenty Twenty: Separator Block toolbar goes off screen if Style is set to Wide Line"
## Steps to replicate

1. Add a [Separator Block](https://wordpress.com/support/wordpress-editor/blocks/separator-block/)
2. Set its Style to `Wide Line` in the block settings

## Result

See the block toolbar go off-screen to the left.

## Expected

See the block toolbar normally above the block

## Video

https://user-images.githubusercontent.com/39308239/114539069-c28ee100-9c5c-11eb-9fdb-c06cad

[2021-04-13 12:09] kriskarkoski opened #3647 "Obsidian: Add a Page template selector font small with Obsidian active"
## Steps to replicate

The Add a Page template selector shows small fonts in the left sidebar with Obsidian active.

## Result

With Obsidian

![Screen Shot 2021-04-13 at 7 55 31 AM](https://user-images.githubusercontent.com/1900444/114549728-5d70c680-9c2f-11eb-9ce7-ed0373b771ff.png)

## Expected

With Twenty Twenty One

![Screen Shot 2021-04-13 at 8 07 09 AM](https://user-images.githubusercontent

[2021-04-13 12:35] kjellr commented on #3642
Yeah, I agree, we should just the one with the illustration there.

I think the audio player one might not be possible yet, but we can give it a try.

[2021-04-13 12:49] aleone89 commented on #3280
Another report here: https://wordpress.com/forums/topic/%d7%91%d7%93%d7%a1%d7%a7%d7%98%d7%95%d7%a4-%d7%94%d7%aa%d7%a6%d7%95%d7%92%d7%94-%d7%a9%d7%9c-%d7%a2%d7%a8%d7%99%d7%9b%d7%aa-%d7%94%d7%a4%d7%95%d7%a1%d7%98%d7%99%d7%9d-%d7%94%d7%a9%d7%aa%d7%a0%d7%aa/?view=all#post-3663810
Theme: Cerauno

[2021-04-13 14:45] ktyfuller604 opened #3753 "Image Block: Image size does not change if block is left or right aligned"
This issue occurs in the Twenty Twenty and Twenty Twenty-One themes. It does not occur in the Maywood theme.

### Steps to reproduce the behavior

1. Go to the Block Editor
2. Add an image block and a paragraph block
3. Left (or Right) align the image block
4. Resize the image to any size using any resize option; dragging the handles, setting a percentage, setting by pixels or using the drop-down.

[2021-04-13 15:05] MaggieCabrera commented on #3530
This seems to be a wpcom issue. I tested the same code on mayland (regular version) and it was picking up a blue link color. Apparently the frontend markup of the group block is missing this: `style="--wp--style--color--link:#ffffff;`. On local, with the latest version of the editor, it was working fine. This is either the GB version of wpcom or some weird interaction that is removing that bit of

[2021-04-13 15:11] MaggieCabrera commented on #3397
This has been solved with the latest changes to both themes

[2021-04-13 15:11] #3397 closed, assigned to nobody

[2021-04-13 20:53] aetta commented on #2753
Also reported here: 3904434-zd-woothemes

[2021-04-14 00:20] bluefuton commented on #3393
Both of the issues above now appear to be resolved 👍

[2021-04-14 00:20] #3393 closed, assigned to jsnmoon

[2021-04-14 09:17] zdenys opened #3650 "Spearhead: when activating the theme homepage content is not added from demo site but from Hever theme"
## Steps to replicate

1. Choose `Activate`
2. Select `Use Spearhead's homepage content and make my existing homepage a draft.`
![](https://d.pr/i/CbfBMQ+)
_Link: https://d.pr/i/CbfBMQ_
3. Click `Activate Spearhead`
4. Click `Edit homepage`
![](https://d.pr/i/tsFqej+)
_Link: https://d.pr/i/tsFqej_

## Result

Homepage content is actually from Hever theme

![](https://d.pr/i/Q96iUz+)
_Link: https:/

[2021-04-14 10:46] zdenys opened #3652 "Hammer: Tagline not visible"
## Steps to replicate

Visit the demo site P7AHsG-e-p2 or apply this theme on your site and set a tagline

## Result

See no tagline despite it being set in the Customizer

![](https://d.pr/i/KgyrYc+)
_Link: https://d.pr/i/KgyrYc_

## Expected

See the tagline

## Context

Initially reported here: pbEMJv-Fg-p2
User report: 3901314-zd-woothemes

## Solution

So far I came up with this CSS code:

[c

[2021-04-14 11:46] kjellr commented on #3643
Just a heads up that while it's fine to implement these if you'd like, they are not all the required templates for a MVP launch. [Please refer to the "Small Theme" section of the file](https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/Quadrat?node-id=443%3A4), which includes the only required page template:

![Page Layout](https://user-images.githubusercontent.com/1202812/114705005-3ed50300-9cf5-1

[2021-04-14 11:47] kjellr commented on #3641
[As noted here](https://github.com/Automattic/themes/issues/3643#issuecomment-819455713), the header treatments here are not required from a design perspective.

[2021-04-14 13:18] jffng commented on #3643
Thanks @kjellr!

From a design perspective that makes sense. But since this won't be a Seedlet child theme I was thinking that we still need to add them — then they can be duplicated across our "small themes".

I think we can nix the search template. So that leaves the following:

- index
- page
- post (supports featured image + pagination + comments)
- archive
- 404

Thoughts?

[2021-04-14 13:42] kjellr commented on #3643
That sounds about right to me. Once you build them once, you likely won't need to make many adjustments to them — they should be more or less the same across all of the small themes.

[2021-04-14 13:45] jffng opened #3653 "Quadrat: translation"
There are a few strings in the theme's block templates that we should figure out what to do with:

- [x] 404.html
- [x] footer.html
- [x] query.html (query navigation labels)
- [x] search.html

[2021-04-14 14:26] jffng commented on #3641
Sounds good, what do you think about just showing the featured image (no special treatment) if there is one?

[2021-04-14 15:58] kjellr commented on #3641
Yeah, we should do that. You can place it full-width + just under the post title, like we do in Seedlet:

![Screen Shot 2021-04-15 at 11 57 33](https://user-images.githubusercontent.com/1202812/114741334-a8b2d400-9d18-11eb-89fd-3d228511820c.png)

[2021-04-14 16:20] pbking opened #3656 ".org Package Script excludes *theme.json"
If you run the package-dotorg.sh script against a theme that leverages *theme.json it is excluded from the packaged zip.

The script should be altered so that this file isn't excluded (while other .json files it appears to be targeting are).

[2021-04-14 19:18] Thelmachido opened #3657 "Radiate: Navigation Block not showing submenu items"
## Steps to replicate

1. Add [Radiate theme](https://radiatedemo.wordpress.com/) to a site
2. Create a menu with sub-menu items
3. Add a navigation block to any post/page, select the above menu

## Result

The block won't display submenu items as [shown on this page](https://testthisup438737764.wpcomstaging.com/about/) screenshot - https://d.pr/v/ClZ6rZ

## Expected

I expected the site to view s

[2021-04-14 20:30] csonnek commented on #3403
Another report in the forums: https://wordpress.com/forums/topic/intergalactic-2-text-alignment-overflow-issues/

The Blog Posts block is off just like the OP, and for this user, they have the Post Carousel Block and it's also broken layout-wise - I can recreate both problems on my own test site.

![intergalactic2](https://user-images.githubusercontent.com/2814452/114775334-cc851280-9d36-11eb-8a48

[2021-04-15 07:09] Robertght opened #3659 "Apostrophe 2: Display author with the blog posts block"
This is a feature request to display the authors on the site while using the Blog posts block.

* Follow-up ticket: 3908976-zen

[2021-04-15 09:43] jartes commented on #1997
Another report on 29027828-hc. As a workaround, we deactivated Jetpack Lazyload on their homepage (https://developer.jetpack.com/hooks/lazyload_is_enabled/#comment-13438)

[2021-04-15 14:49] jffng opened #3660 "Quadrat: launch stuff"
There are a few launch related tasks we need to do for all new theme launches:

- [x] Update theme screenshot
- [x] Create a theme demo site
- [ ] Create a theme showcase entry
- [x] Draft a call for testing
- [ ] Generate a headstart annotation PCYsg-7cr-p2

~It may be pre-mature to do most of these.~  It is no longer pre-mature to these :)

cc @kjellr @jeffikus in case you can think of any other

[2021-04-15 14:54] jffng opened #3661 "Quadrat: customize the theme colors"
We should identify what options are available to users of Quadrat via the Customizer, bearing in mind these will likely be carried through to other small themes.

I'm not suggesting we add support for all (or any!) of these, but I want to at least have the discussion.

- Colors
- Excerpt settings
- Hide the page title on the home page

Do you have thoughts about these options? Can you think of any

[2021-04-15 15:42] MaggieCabrera commented on #3644
After talking with @beafialho and @kjellr this is not part of the small theme version of the design and we are leaving them out initially. We can still create the block style as an option but I'd leave it to last then.

[2021-04-15 15:44] MaggieCabrera commented on #3640
We may want to wait https://github.com/WordPress/gutenberg/pull/30791 out (I'm not sure if it's going to be ready soon or not) for the tables.

[2021-04-15 15:53] kjellr commented on #3661
In addition to that list, we should also include the option to hide the header and footer on the homepage, like we do in all the Varia + Seedlet themes.

[2021-04-15 15:54] kjellr commented on #3660
We'll need to write a theme description and probably a launch post, though I agree it's too early to worry about those things.

Although this is a "small" theme, it's our first small theme of this type, so I'm not sure the launch process is going to be much more streamlined than usual.

[2021-04-15 16:59] beafialho commented on #3661
I agree with the customisation options you both mentioned.

I was wondering if it's possible to give users the option to choose which meta they wish to display. Like this:
<img width="287" alt="Captura de ecrã 2021-04-15, às 17 59 00" src="https://user-images.githubusercontent.com/65220155/114908742-4808c180-9e14-11eb-87ee-e69b4d3c565a.png">

One other thing is to have an option of choosing the bl

[2021-04-16 06:44] nagpai opened #3664 "Edin - Portfolio archives page does not show thumbnails"
## Steps to replicate

Create a site and install edin theme
Create a few portfolio items with description and featured items
browse to the all portfolio page which would be /portfolio

## Result

Featured image thumbnails not visible

## Expected

Featured image thumbnails to be visible

* User report: [shortlink to chat/forum thread/ticket, ie 12345-hc]  #13174499-hc

[2021-04-16 14:21] darnelldibbles-zz opened #3666 "Coutoire: Links Are Disabled When Parallel With the Navigation Menu"
## Steps to replicate
1. Hover over a link on the page to see it responds
2. Scroll the page to where the link is parallel to the navigation menu
3. Try clicking the link again to see if it still responds

![alt text](https://cdn-std.droplr.net/files/acc_894591/XG5d2Q)

## What I Expected to Happen

I expected the link to both to be responsive when you hover it as well as clickable.

## What Did H

[2021-04-16 16:07] jffng opened #3668 "Quadrat: styles are being overridden by Gutenberg"
Gutenberg's default block styles are overriding BCB's, for example in the button:

<img width="1277" alt="Screen Shot 2021-04-16 at 11 25 52 AM" src="https://user-images.githubusercontent.com/5375500/115052444-cdcb5200-9e92-11eb-8536-1aadd1e73c84.png">

This started after #3667

[2021-04-16 16:16] MaggieCabrera commented on #3668
This looks like a GB issue:

Block-based template | PHP template
--- | ---
<img width="522" alt="Screenshot 2021-04-16 at 18 13 38" src="https://user-images.githubusercontent.com/3593343/115053592-946d0380-9edf-11eb-91df-c1a24b24a3d7.png"> | <img width="530" alt="Screenshot 2021-04-16 at 18 13 45" src="https://user-images.githubusercontent.com/3593343/115053589-933bd680-9edf-11eb-8eff-15fb3b7b3f62

[2021-04-16 17:42] ersatzpenguin opened #3669 "Penscratch 2 - Separator Block results in two lines, instead of one"
## Steps to replicate

1. Activate Penscratch 2 on a site.
2. Add a separator block using either the "Default" or "Wide" line options.
3. View page/post in the preview, or live on the site.

## Result

Two lines are displayed instead of one. See screenshot:

![issue](https://user-images.githubusercontent.com/10101587/115063119-c61aa600-9eb0-11eb-9426-4e8ee8be1de4.png)

## Expected

I expected the

[2021-04-17 11:17] daria2303 opened #4324 "[Apostrophe & Button 2] Blog Posts Block: not showing featured image in preview and published page"
### Steps to reproduce the behavior

1. Premium site
2. Create posts with featured images
2. Create page with Blog Posts Block
3. Show featured image option enabled

#### What I expected to happen

Featured images are visible like in the editor: https://d.pr/i/7m1rwG

#### What actually happened

In the preview and published page images do not display: https://d.pr/i/ipx00v

### Context

#### Brow

[2021-04-19 17:16] AtrumGeost opened #3673 "Some Classic themes do not show "Colors & Backgrounds" palette in the editor's color picker"
## Steps to replicate

1. Set custom colors in "Customize" > Colors & Backgrounds, and save the changes
2. Create a post or page and notice the color settings

## Result

The colors saved in the customizer are not reflected in the color settings for the editor:

Customizer:

![Screen Shot 2021-04-19 at 12 14 59](https://user-images.githubusercontent.com/3696121/115276660-e9d82900-a108-11eb-8e86-7d

[2021-04-19 19:28] kjellr opened #3674 "Blank Canvas Blocks: Missing WordPress.com-only block patterns"
The original Blank Canvas theme includes a handful of [WordPress.com-only patterns](https://github.com/Automattic/themes/blob/a2bed96c957d0d964e40088c8574322aa0f1264f/blank-canvas/inc/wpcom.php#L26-L271), but these are missing from Blank Canvas blocks.

(A part of the fix here could also be migrating these so that they live in the main `block-patterns.php` files, but are conditionally available de

[2021-04-19 19:34] jffng commented on #3668
Thanks @MaggieCabrera that helps, I dug into this further. The styles loading in the wrong order seems to be specific to the `locate_template` filter we introduced, not that it's a php template nor a child theme of a block theme.

I tried to recreate the bug unsuccessfully by doing the following:

- Activate emptytheme
- Add an `index.php` which loads the `index.html` (renamed to something else li

[2021-04-19 21:31] AtrumGeost opened #3677 "Organization: Blank space appears as soon as the (Atomic) site loads"
## Steps to replicate

1. Install the Organization theme on an Atomic site
2. Set the Home page (using the Home page template)
3. Display featured posts in the home slider

The issue only happens on:

- Chrome Version 89.0.4389.128 (Official Build) (x86_64)
- Safari Version 14.0.3 (16610.4.3.1.7)

(Firefox worked fine)

## Result

Notice as soon as the site loads there's an empty blank space right

[2021-04-20 02:29] jerrysarcastic opened #3678 "Varia/Seedlet themes: Missing paragraph breaks in Latest Posts Block when set to 'full post'"
When the Latest Posts block is added to a Varia or Seedlet theme, and the block is set to show Post content: Full post the paragraph breaks are shown correctly in Gutenberg, but are not styled correctly on the live site

## Steps to replicate
- Start with test site with several blog posts
- Add latest posts block to test page.
- set block to show "post content" and show "full content"
- Publish an

[2021-04-20 07:36] MaggieCabrera commented on #3668
This would be solved by fixing the template inheritance in GB. I will try and look into it as well, see if we can solve it there.

[2021-04-20 07:58] Nic-Sevic commented on #3622
Another report here: 3919643-zen

Only a max of 5 columns are displaying and the alignment of the items is inconsistent. It looks like it's always showing 1 less column than what is marked

![2021-04-20 at 10 57](https://user-images.githubusercontent.com/47717887/115359410-5285db00-a1c7-11eb-8f4a-d36d266d4726.jpg)

[2021-04-20 10:51] simison commented on #3316
@jffng can this now be closed? I saw D59701-code is deployed

[2021-04-20 14:14] jffng commented on #3316
We ended up needing to revert that last week because it created undesirable behavior in older themes. @MaggieCabrera and company are working on a revised approach, and we will keep this issue up-to-date.

[2021-04-20 14:35] MaggieCabrera commented on #3316
Yep, the new diff is D59960-code and it's being reviewed by @scruffian to see if it's a good candidate for a fix, else we still have this on our radar though

[2021-04-20 16:42] eduardozulian commented on #3215
Encountered this during an empathy flow testing: p7DVsv-baQ-p2

[2021-04-20 17:08] metabreakr opened #3680 "Hive: Setting the "Hide Homepage Title" on the customizer -> homepage settings hides posts titles on Latest posts mode"
The setting "Hide Homepage Title" should be used to hide the statis homepage title.

However, if the site is set to show the Latest posts on the homepage, the post titles should be visible.

This CSS rule is hiding them though:

[code]

How to replicate:

- Activate Hive theme on a site
- Set the site to show the latest posts
- Check the option Hide Homepage Title
- Open the home page and note tha

[2021-04-20 20:32] kwight commented on #3754
@edwinho89 From what I can tell, that code would only apply to the editor, and this issue is about display on the site's front-end (I can't replicate it in the editor myself).

This seems to be a rendering issue with the width of the slideshow being determined by a parent element using floating-point percentages for width. For instance, Blask has a content width at its widest of 72.72% – adjusting

[2021-04-20 23:24] tanjoymor commented on #3669
Another report here: #27371879-hc

[2021-04-21 03:59] devNigel commented on #3375
Ran into the same issue on a Simple site.

User report: 7039839-hc

I provided the following CSS code as a workaround:

[code]

[2021-04-21 08:02] inaikem opened #3681 "TT1 + Rebalance: Subscription block not displaying full width"
## Steps to replicate

1. Create a post with a Subscription Block
2. Activate the Twenty Twenty One or Rebalance theme (there may be other affected, these are the only two I tested)
3. Preview or save/view the page on the frontend.
4. The form's text field is restricted to appx 210px wide.

**Subscription Block TT1 Frontend**
![Subscription Block TT1 Frontend](https://user-images.githubusercontent

[2021-04-21 13:12] #3523 closed, assigned to melchoyce

[2021-04-21 14:28] nellofn opened #3683 "Maxwell: Comments box notify options text color on white background issue"
## Steps to replicate

- Install Maxwell theme on any site and keep or set the default background color to white.
- Create a post and enable comments.

## Result

- Both "notify me" options text color is also white and can't be seen below the comments box.

![Screen Shot 2021-04-21 at 10 16 02](https://user-images.githubusercontent.com/17755234/115570212-efaa4780-a28b-11eb-8583-90e68408416c.png)

[2021-04-21 21:06] eduardozulian commented on #3395
Also experience this during an Empathy Flow testing p9b1hy-1Fq-p2

[2021-04-21 21:16] eduardozulian opened #3684 "Seedlet: Navigation Block layout is different on editor and front-end"
## Steps to replicate

1. Activate Seedlet
2. Add a Navigation block
3. Change the background color
4. See the result

## Result

1. In the editor, the background is only applied to the items not the whole menu
2. With a dark background, it's not possible to see/read the **Add a link** button
3. With the same background, hovering over also doesn't let you read the menu items

Editor | Front-end
--

[2021-04-21 21:31] eduardozulian opened #3685 "Spearhead: Navigation Block background style is different on editor and front-end"
## Steps to replicate

1. Activate the theme
2. Add the Navigation Block
3. Change the background color

## Result

In the editor, the background is only applied to the items, not the whole menu.

Editor | Front-end
--- | ---
<img width="883" alt="Screen Shot 2021-04-20 at 13 37 53" src="https://user-images.githubusercontent.com/1136160/115622918-e0002280-a2ce-11eb-8f99-f012b21ea7f4.png"> | <img w

[2021-04-21 21:34] eduardozulian opened #3686 "Spearhead Navigation Block: Text/link color does not change"
## Steps to replicate

1. Activate the theme
2. Add the Navigation Block
3. Change the text color in the block settings

## Result

Text Color option does not work on both editor and front-end. It only changes non-link elements like the sub-menu icon:

<img width="865" alt="Screen Shot 2021-04-20 at 13 47 23" src="https://user-images.githubusercontent.com/1136160/115623763-02467000-a2d0-11eb-9711-

[2021-04-21 21:37] eduardozulian opened #3687 "Spearhead Navigation Block: Underline in links in 100% wide"
## Steps to replicate

1. Activate the theme
2. Add the Navigation Block
3. Make sure you have a menu with sub-menus

## Result

Links underlined are 100% wide and it feels broken

<img width="870" alt="Screen Shot 2021-04-20 at 13 44 06" src="https://user-images.githubusercontent.com/1136160/115624092-826cd580-a2d0-11eb-8cb3-1cef12321b13.png">

## Expected

To see underlines only for the text its

[2021-04-22 01:58] happychait commented on #1997
Similar spacing issue reported in 3927378-zen even with Lazy Loading disabled.

[2021-04-22 05:58] alaczek commented on #3381
I've been doing some testing, and it seems this has been fixed somewhere along the way. Closing.

[2021-04-22 05:58] #3381 closed, assigned to nobody

[2021-04-22 06:57] kosiew opened #3710 "Rockfield: Image looks zoomed in on iPad"
### Steps to reproduce the behavior

On iPad
1. Go to PbcDtQ-7-p2?demo

#### What I expected to happen
Image to look like this

![Screenshot](https://d.pr/i/WOjb0c+)
*if image does not load, please click on this link  : https://d.pr/i/WOjb0c*

#### What actually happened

![Screenshot](https://d.pr/i/UMivRy+)
*if image does not load, please click on this link  : https://d.pr/i/UMivRy*

### Context

[2021-04-22 13:01] pbking commented on #3395
The theme's parent (BCB) implements a lot of styles for the navigation in the "custom" space instead of the "style" space.  We should see how much of that should be refactored out to better support this.

[2021-04-22 16:01] soderlind commented on #1901
@scruffian is it still on the list? .. or is a fix soon available (on worpress.com)?

[2021-04-22 17:56] jffng commented on #3614
https://href.li/?D59960-code is being proposed as a potential fix for this cc @MaggieCabrera

[2021-04-22 18:00] jffng commented on #3614
D59960-code is being proposed as a potential fix for this cc @MaggieCabrera

[2021-04-22 18:02] jffng commented on #3316
It looks like this issue is resolved on simple sites:

<img width="1279" alt="Screen Shot 2021-04-22 at 2 01 34 PM" src="https://user-images.githubusercontent.com/5375500/115764193-2189df80-a35a-11eb-9b70-90829664d0ed.png">

Atomic still does not reflect custom colors in the editor.

The issue of the editor color palette not reflecting the custom is separate and reported in https://github.com/Auto

[2021-04-22 20:23] jerrysarcastic opened #3690 "Orvis: VR embeds on portfolio CPT block page content."
When a [360º VR embed](https://wordpress.com/support/embedding-360-photos-and-virtual-reality-vr-content/) is added to the portfolio CPT on Orvis, the embedded image is shown full width (instead of contained within the content area) and hides the page contents behind it.

## Steps to replicate

- Create portfolio project entry on test site with Orvis theme active
- To the project add sample text (

[2021-04-23 00:52] scosgro opened #3712 "Olsen: Blog Posts Block - Read More button has alignment issues."
### Steps to reproduce the behavior

1. Activate Olsen. Make sure the site has multiple blog posts with content (featured images, some lorem ipsum, etc).
2. Create a new page, and add a Blog Posts Block to it. For best visibility of the bug, set it to 2 columns, 5+ posts, show featured image, show excerpt. Make sure "Add a Read More Link" is enabled, and the button says Keep Reading (default).
3.

[2021-04-23 01:44] alaczek opened #3691 "Mayland Blocks: Padding around post content"
I was working with FSE and using Mayland blocks, and I noticed I was not able to make the content full width - the Post Content block seems to have left/right padding, which is not set in the editor AFAIK. This might not be a theme issue, but I'd appreciate help with troubleshooting.

## Steps to replicate
1. Create a site via the FSE flow, select Mayland in the design step.
2. Remove everything i

[2021-04-23 01:56] alaczek opened #3692 "Mayland Blocks: No wide width block setting"
I was working with FSE and Mayland Blocks, and I noticed that there is no support for wide/full-width block settings, and all the blocks including Paragraph and Heading are using full-width by default.

## Steps to replicate
1. Create a site via the FSE flow, select Mayland in the design step.
2. Remove everything inside the Post Content block.
3. Add a Heading, a Paragraph, and Cover block.
4. No

[2021-04-23 02:19] donalirl commented on #3403
Also encountered with #27199877-hc

[2021-04-23 04:06] alaczek commented on #3692
Ok, so I figured that setting Post Content to Inherit default layout mostly fixes the above issues.
![image](https://user-images.githubusercontent.com/4550351/115816734-b7963680-a43c-11eb-9c79-2c2f19a11d55.png)

One thing I need help troubleshooting is the width of text (Paragraph, Heading) inserted into the Cover block. It's stretching the full-width even with Inherit default layout selected.

![

[2021-04-23 04:54] alaczek commented on #3692
I also noticed something that might be related - Columns block, when placed inside Cover or Group block does not have the wide / full-width  settings.

Columns block on its own:
![image](https://user-images.githubusercontent.com/4550351/115820088-7d7c6300-a443-11eb-9b70-7f9bd85d9658.png)

Columns block inside Group block:
![image](https://user-images.githubusercontent.com/4550351/115820212-b74d698

[2021-04-23 05:09] alaczek commented on #3691
Ok, so I figured that setting Post Content to Inherit default layout fixes the above issue.

[2021-04-23 05:09] #3691 closed, assigned to nobody

[2021-04-23 07:06] MaggieCabrera commented on #3692
I think maybe we should have the inherit layout by default. We hadn't because the home page was designed to be full width, but I think we can refactor the actual content to be full width and the rest of the layout to just inherit. I'm not sure what's causing the cover issue or if it's related to that, we'd have to investigate. Thanks for reporting this.

[2021-04-23 08:08] MaggieCabrera commented on #3614
@jffng after talking to @scruffian we thought that that Diff is not worth pursuing and we should focus on just a fix for BC/Seedlet/Varia

[2021-04-23 13:42] jffng opened #3694 "Quadrat: code quality"
This issue is to capture a few code quality to-dos:

- [x] Break block patterns into separate PHP files
- [x] Refactor to use `gutenberg_block_template_part`
- [x] Refactor theme.json files to have variables on alphabetical order
- [ ] Identify areas that can be migrated to BCB eventually and add comments

[2021-04-23 13:43] scruffian commented on #3316
There's a fix for Atomic sites here: 24-gh-Automattic/custom-colors/files

[2021-04-23 13:44] MaggieCabrera commented on #3694
The utility classes can be moved to BCB when we refactor the block patterns.

[2021-04-23 14:03] jffng opened #3696 "Quadrat: Navigation"
We need a way to render the menu in a classic theme so there is a sensible upgrade path to FSE while still allowing users to edit their menu in the customizer.

We have three approaches so far:

- Change the way the nav block works to consume a classic menu by specifying a "location" attribute: https://github.com/WordPress/gutenberg/pull/30852
- Render using `wp_nav_menu` + `add_theme_support( 'bl

[2021-04-23 14:06] jffng commented on #3644
Let's remove this from the milestone since it's not a part of the small theme version.

[2021-04-23 14:08] jffng commented on #3668
@MaggieCabrera opened a fix in Gutenberg https://github.com/WordPress/gutenberg/pull/31123

[2021-04-23 15:58] ianstewart opened #3697 "Mayland Blocks: Update description tags in style.css"
These tags appear out of date for a Block Theme.

![image](https://user-images.githubusercontent.com/545779/115897851-7e50cd00-a422-11eb-8bb5-53e409eb2a87.png)

Particularly the translation-ready and maybe the custom- tags? (The custom- tags I recall being related to non-Editor features.)

Missing full-site-editing?

Expected: something more like TT1.

![image](https://user-images.githubuserconten

[2021-04-23 16:01] ianstewart opened #3698 "Mayland Blocks: Pre-activation Live Preview causes Fatal Error"
This may be related to my testing environment but live preview pre-activation with Mayland Blocks causes a fatal error. This does not happen with Classic Themes in the same environment.

![image](https://user-images.githubusercontent.com/545779/115898526-45652800-a423-11eb-8090-b566eb3ad0ee.png)

[2021-04-23 16:02] ianstewart commented on #3698
Closing this issue because the error is PEBKAC. :)

[2021-04-23 16:08] MaggieCabrera commented on #3697
Isn't full-site-editing the tag for the wpcom FSE that's being deprecated? Also sadly this is not translation ready because block themes are not translation ready :DDDD

[2021-04-23 16:09] ianstewart opened #3699 "Mayland Blocks: No left-margin/padding on header"
![image](https://user-images.githubusercontent.com/545779/115899350-4185d580-a424-11eb-932a-e5a7a748e436.png)

![image](https://user-images.githubusercontent.com/545779/115899591-89a4f800-a424-11eb-838b-14e674da6383.png)

Expected: left margin/padding on site title.

[2021-04-23 16:10] scruffian commented on #3698
I think this is a genuine issue

[2021-04-23 16:19] ianstewart opened #3700 "Mayland Blocks: Comments are not styled"
Comments are not styled in Mayland Blocks.

![image](https://user-images.githubusercontent.com/545779/115900532-aa218200-a425-11eb-99f8-24f96c2f4deb.png)

![image](https://user-images.githubusercontent.com/545779/115900801-f8cf1c00-a425-11eb-9d21-fea1cacec89d.png)

**Expected:**

- No visible ordered list styles.
- Styles for threading.
- Styled comment form.

[2021-04-23 16:29] ianstewart opened #3701 "Mayland Blocks: Theme palette produces strange effect with Navigation Block"
## Steps to replicate

1. Insert nav block into header with Site Editor.
2. Change background colour of nav block to Black using Theme palette.
3. Change text colour to White using Theme palette.

## Result

![image](https://user-images.githubusercontent.com/545779/115901636-0fc23e00-a427-11eb-8292-9406909cb601.png)

## Expected

Something more like this effect produced with custom colours.

![ima

[2021-04-23 16:31] ianstewart opened #3702 "Mayland Blocks: Site Title not updating with Global Styles Colour change"
![image](https://user-images.githubusercontent.com/545779/115901913-6c255d80-a427-11eb-9c4d-4e8cfe7e8be7.png)

Expected: site title would update to match other styles.

[2021-04-23 16:56] jffng commented on #3698
Yeah we could provide a check here to ensure the class we're calling exists:

https://github.com/Automattic/themes/blob/trunk/blank-canvas-blocks/functions.php#L63

[2021-04-23 18:38] mikeicode opened #3703 "Blank Canvas: Option to skip logo cropping for horizontal logos"
The theme crops logos to 240px X 240px. This isn’t ideal since most logos are horizontal. Ideally there would be an option to skip cropping which would then set the logo to 240px high with unlimited width.

## Steps to replicate

Upload a horizontal logo

![https://d.pr/i/iULoL8](https://d.pr/i/iULoL8+)

## Result

Image is cropped horizontally, there is no option to skip cropping.

![https://d.pr

[2021-04-23 20:40] desnum opened #3707 "Hemingway Rewritten: Post title sits below like button when there is only an image"
## Steps to replicate

1. Start on an older site (from before the block editor was default)
2. Create a post with only an image in it (either image block, or classic block with image, but no text).
3. Activate the Hemingway Rewritten theme
4. Check the preview or published post page

## Result

Notice the title sits below the Like button

<img width="1162" alt="Screen Shot 2021-04-23 at 4 37 01 PM

[2021-04-24 00:51] ericamQA commented on #3280
Another instance in 29132404-hc

Theme: TwoTone

Editor is using a monospaced font for paragraphs which is neither displayed on their site or the [theme demo](https://twotonedemo.wordpress.com/)

[2021-04-24 13:27] lizswafford commented on #3520
Another report #3934935-zen, using Barnsbury

[2021-04-25 07:47] Nic-Sevic opened #3711 "Obsidian : Jetpack sharing email captcha"
### Steps to reproduce the behavior

1. Select Obsidian theme
2. Display email icon in sharing and enable sharing buttons on page
3. View site in mobile mode and select email icon

#### What I expected to happen
The captcha should display left aligned 0px to not get cut off

#### What actually happened
the captcha displays left aligned 331px

### Context
3934693-zen
I offered them a CSS fix for no

[2021-04-25 16:33] chad1008 opened #3709 "Gema: Yelp links are not recognized in Social Links menu"
## Steps to replicate

1. Activate Gema
2. My Site > Appearance > Customize > Menus > Social Links Menu
3. Add a Custom Link to the menu. Navigation Label can be anything.
4. Set the URL to your favorite business' Yelp page, like so: https://yelp.com/sdfafdsafdsfs ("yelp.com" appears to be the important part)
5. Observe the social menu link updates to the default "link" icon for the theme, and not

[2021-04-25 18:47] metabreakr commented on #3508
29222165-hc

[2021-04-26 02:13] pauloeaquino opened #3750 "Publication theme: Cover block full-width w/fixed background shows grey box over image"
### Steps to reproduce the behavior

1. Activate "Publication theme"
2. Add new page/post
3. Add cover block -> set alignment to "Full width" -> under Media Settings, toggle "Fixed background
4. Preview (or publish)

#### What I expected to happen
I expected to see the cover block display full width with a fixed background

#### What actually happened
A grey box appears over half the image

### Co

[2021-04-26 02:23] pauloeaquino commented on #3750
Just noting here that it looks like the same issue was reported here for the Apostrophe 2 theme: https://github.com/Automattic/themes/issues/1979

[2021-04-26 06:09] kaitohm commented on #1699
Another case here: 3936994-zd-woothemes
The user went ahead and added css themselves to fix it.

[2021-04-26 13:28] scruffian commented on #3614
I believe this is fixed on Simple sites. There is a fix for Atomic sites here: 24-gh-Automattic/custom-colors

[2021-04-26 15:03] scruffian commented on #1901
It's still on the list (it's a long list!) I hope we'll get to it soon.

[2021-04-26 15:16] MaggieCabrera commented on #3642
For the Alternating Promos block pattern:

We can't make it a Query Block pattern because:

- Alternating layouts… this is currently possible by using multiple query blocks with offsets. I guess we can do this, but it’s a little weird.
- Those “Learn more” buttons. I guess those are technically “Read more” links, but they appear as buttons.

They can be made using Latest Posts / Jetpack Blog Posts

[2021-04-26 15:56] pbking commented on #3588
This doesn't seem to be happening on the latest build of Seedlet-blocks.  Can you re-evaluate?

[2021-04-26 16:53] pbking commented on #3364
Indeed this is fixed [here](https://github.com/Automattic/block-experiments/pull/177) and will address the issue in all of the block-based themes.

[2021-04-26 16:56] pbking commented on #3581
This has indeed been addressed (presumably by [30416](https://github.com/WordPress/gutenberg/pull/30416))

[2021-04-26 16:56] #3581 closed, assigned to nobody

[2021-04-26 19:20] TeniCola commented on #2755
Re-opening this issue as it seems to still be present in the Balasana theme. I had a user request help for this same issue today in 3940271-zen, additional links can be found in the notes.

The user is on the personal plan, but their Form block is not usable on this theme with this behavior. I'm going to help them with a CSS workaround + add Custom Design as courtesy until this can be resolved.

[2021-04-26 20:19] AtrumGeost commented on #3625
Got another report here 28796436-hc

[2021-04-26 23:17] p-jackson commented on #3588
Is there somewhere I can download the latest "blessed" builds? When I build them myself from `trunk` I'm getting errors so can't verify.

[2021-04-27 09:10] Nic-Sevic opened #3722 "Blank Canvas: Title display in editor doesn't match live/preview"
#### Steps to reproduce

1. On post/page with Blank canvas theme add title
2. compare alignment to preview/live page

#### What I expected
editor should display correct alignment

#### What happened instead
alignments don't match

#### Browser / OS version

#### Screenshot / Video
Preview:
<img width="1744" alt="Markup 2021-04-27 at 11 58 52" src="https://user-images.githubusercontent.com/47717887

[2021-04-27 13:20] pbking commented on #3588
There shouldn't be a need to build any of the themes on the trunk branch unless you make changes.

I'm also not experiencing any issues building any of the themes.  I am happy to help you with the build if you're having issues though.

The version of seedlet-blocks that's installed on wp.com for testing should be fine to validate that the issue is no longer occurring.

[2021-04-27 14:04] #3574 closed, assigned to nobody

[2021-04-27 14:22] #3698 closed, assigned to nobody

[2021-04-27 16:06] zdenys commented on #3201
29262053-hc: simple site with a static homepage.

[2021-04-27 18:19] sourourn commented on #2831
Another report: #20940197-hc

[2021-04-27 21:21] p-jackson commented on #3588
Unfortunately Automattic/wp-calypso#50358 means I can't test on wp.com 😅

I tried testing again on my standalone WP install, and for some reason I didn't get errors this time. Not sure what I was doing wrong last time, but no errors when I grabbed the latest theme folder from trunk.

Yep, this issue appears to be fixed in v2 of the theme! Thanks :)

[2021-04-27 21:21] #3588 closed, assigned to nobody

[2021-04-28 08:00] pauljacobson opened #3718 "Lodestar: non-compliant AMP header syntax"
Our customer reported that they saw this error for both of their sites that run on Lodestar in Google Search Console:

## Steps to replicate

I ran both sites through the AMP Validator [here](https://validator.ampproject.org/#url=https%3A%2F%2Ftraceyrimell.com) and [here](https://validator.ampproject.org/#url=https%3A%2F%2Fbreakthatmould.com).

## Result

- In both instances, validation failed, an

[2021-04-28 09:53] inaikem commented on #1601
Another user report here that's related to the Classic Editor Tiled Gallery set to a circular crop: 3941754-zd-woothemes.

I confirmed the clipping issue appears on both Classic and Block editor pages. The main content area has 72px padding to its left and right, which pushes the galleries to the right causing the clipping.

Clearing those paddings works but has unintended effects on smaller scree

[2021-04-28 11:24] carinapilar commented on #733
Another report for WordPress.com Simple sites on 3941894-zd-woothemes.

[2021-04-28 12:02] fresatomica commented on #3593
Another report here: https://wordpress.com/forums/topic/i-cannot-see-the-primary-navigation-menu-on-mobile-view-on-my-phone/.

The issue seems to be isolated to browsers based on Chromium.
I can't reproduce this on Firefox.

[2021-04-28 16:09] jffng opened #3720 "Quadrat: navigation submenu being cutoff"
When you hover over a menu that contains a sub-menu, the list is cutoff:

<img width="708" alt="Screen Shot 2021-04-28 at 12 07 36 PM" src="https://user-images.githubusercontent.com/5375500/116436635-710c5780-a801-11eb-9fa2-c45432c800b1.png">

[2021-04-28 16:58] NoHopeRadio commented on #3619
Another report in this ticket: 3944592-zen

[2021-04-28 20:48] mikeicode commented on #3709
It appears this theme has issues with other social icons also. It doesn't support [all the icons listed here](https://wordpress.com/support/menus/social-links-menu/#supported-icons), the theme states the supported icons here under [Social Icons](https://wordpress.com/theme/gema/setup).

However it really should be updated to support all the latest social media icons.

I ran into an issue with all

[2021-04-29 08:17] daria2303 opened #3723 "Twenty Twenty-One: "Proudly powered by" text in footer cannot be hidden (all sites) and is not being translated (AT sites)"
## Steps to replicate

I was not able to replicate it on my site, but if I change theme on user's site (corneliahuerzeler.ch) it's solved.
On users:
- Change type of footer credit in Customizer > Site Identity

## Result

- no change neither in Preview, nor in live site

## Expected

Expect to be able to set another type of footer e.g. logo and that it's linked to WP.com

* Follow-up ticket: 39436

[2021-04-29 13:07] daria2303 commented on #3614
I got a case where palette update is not visible is not reflected in the editor (it's old one, not black)
29302961-hc
3948055-zd-woothemes

[2021-04-29 15:21] MaggieCabrera commented on #3694
Refactor theme.json files to have variables on alphabetical order

[2021-04-29 16:07] jffng commented on #3668
Closed by https://github.com/WordPress/gutenberg/pull/31309

[2021-04-29 16:07] #3668 closed, assigned to nobody

[2021-04-30 03:13] happychait commented on #2582
Noting down @nagpai 's brilliant workaround from https://github.com/Automattic/themes/issues/3365#issuecomment-786388571

User report: 3949807-zen

[2021-04-30 03:26] alaczek commented on #3699
I was wondering if this was a theme issue as well, then I noticed Header has padding controls. In that case, do you still feel it's a theme issue?

[2021-04-30 03:30] alaczek commented on #3701
Yep, I encountered the same thing in Mayland Blocks and Seedlet Blocks (but not in TT1 Blocks).

With Seedlet I also noticed weird styling on the Site Title:

Editor:
![image](https://user-images.githubusercontent.com/4550351/116644941-07827980-a9b8-11eb-9d16-71ab07477178.png)

Preview:
![image](https://user-images.githubusercontent.com/4550351/116644969-1b2de000-a9b8-11eb-853c-d963b387c736.png)

[2021-04-30 04:01] alaczek commented on #3701
Also, for the record, I was able to replicate the issue with both colors from the theme color palette, and random colors selected with the color picker.

[2021-04-30 05:47] hacchism opened #3726 "Venture: Front Page template: Alignment issue with List Block"
## Steps to replicate

1. Pick any WordPress.com site and activate the Venture theme
2. Create a new page and choose "Front Page" template in "Page Attributes" module
3. Add List Block
4. Publish a page

## Result

List items get centered and there are gaps between each item and each bullet point.

![Screen Shot on 2021-04-30 at 14:33:55](https://user-images.githubusercontent.com/32432463/11665300

[2021-04-30 07:24] MaggieCabrera commented on #3699
yes it's a theme issue, the original design had the padding, so the block should have it. Luckily now the user can also fix it within the editor too. We'll get to it and fix it, thanks for reporting!

[2021-04-30 13:51] #3702 closed, assigned to nobody

[2021-04-30 14:40] #3699 closed, assigned to nobody

[2021-04-30 14:41] #3692 closed, assigned to nobody

[2021-04-30 15:02] #3701 closed, assigned to nobody

[2021-04-30 15:28] kjellr opened #3733 "Varia + children: Text inside wide columns blocks extends to the edge of the screen on mobile"
## Description

When there's text inside of a wide or full column block, the test bumps up against the edges of the screen on mobile. There are a couple things happening here:

- Seedlet (and its children) and Twenty Twenty-One, do not push wide-width blocks to the screen edges on small screens. Varia does.
- Varia also does not provide a fallback for text inside of columns, so that they don't bum

[2021-04-30 17:05] jffng commented on #3696
We merged https://github.com/Automattic/themes/pull/3714 while we push for a solution in Gutenberg / the navigation block.

[2021-04-30 17:30] jffng commented on #3640
I think just the button styles need to be audited and then we can close this?

[2021-05-02 21:12] ccwalburn opened #3736 "Restaurant: CO Blocks fonts don't work for Featured Pages on Home page"
CO Blocks adds a typography option to the paragraph block. The page displays the font change as expected, but if the page is used as a featured page on the Restaurant home page, the selected font doesn't display correctly.

It seems that a few of the fonts work, but most don't.

## Steps to replicate
1. Add a Paragraph block
2. Select the Inconsolata font like this:

![screenshot](https://d.pr/i/o

[2021-05-03 13:49] jffng commented on #3720
Closed by #3732

[2021-05-03 13:49] #3720 closed, assigned to nobody

[2021-05-03 14:50] jffng opened #3737 "Quadrat: comments"
Does Quadrat support post comments? If so, how should those look?

We could style the comments more specifically in BCB also.

[2021-05-03 16:10] kjellr opened #3738 "Quadrat: "Cover Block with Heading" pattern bugs"
Followup to #3676. Two small observations on the Cover Block with Heading pattern:

1. To match the comps, the default background color should be "Blue" instead of "Dark Blue".
2. I'm seeing some weirdness on select in the editor: The square gets darker, and the text color is different. See the GIF below:

![test](https://user-images.githubusercontent.com/1202812/116901655-30994900-ac08-11eb-807b-

[2021-05-03 16:18] MaggieCabrera commented on #3738
Note to future self: this is most probably the opacity options of the block

[2021-05-03 16:58] azollafox opened #3739 "Baskerville 2: Text doesn't show on Cover Blocks"
## Steps to replicate

1. Activate Baskerville 2 on your site
2. Add a cover block with a paragraph or header block inside it

## Result
In the editor
![In editor](https://user-images.githubusercontent.com/7907292/116906895-da7bd400-ac0e-11eb-9803-de3b81236fc0.jpeg)

On the published site
![published page](https://user-images.githubusercontent.com/7907292/116906906-e071b500-ac0e-11eb-9cb2-28638250

[2021-05-03 17:26] aisajib commented on #779
Another case was reported here: #29367322-hc

I found out that changing the infinite scroll setting to "theme default behavior" brings back the button, but with its own problems on mobile devices.

<img width="341" alt="Screen Shot 2021-05-03 at 11 25 40 PM" src="https://user-images.githubusercontent.com/2541844/116910063-e1363580-ac66-11eb-84ab-717dced920ce.png">

I sent a temporary fix to the us

[2021-05-03 19:25] jffng commented on #3643
Having merged #3721, these templates are in place and should load correctly. There are plenty of adjustments to be made but I think we should close this issue and open up more detailed follow up issues, e.g. #3737

[2021-05-03 19:25] #3643 closed, assigned to nobody

[2021-05-03 19:27] jffng commented on #3737
We should also identify what a fallback would be since post comment-related blocks will not make it in 5.8.

[2021-05-03 21:58] ianstewart commented on #3280
@WunderBart just following up on this issue. It sounds like there was a fix put in place but with the ongoing reports it looks like it's not working? Is that correct?

[2021-05-04 01:42] reginabally commented on #286
Another report: 3953341-zd-woothemes. The site is on a WordPress.com Personal plan so unable to apply the CSS workaround.

[2021-05-04 07:41] devNigel opened #3797 "Obsidian: Button Blocks color settings are not reflected on live page."
Button block color settings are not reflected on the live page with the Obsidian theme both on Simple and AT site. Was not able to reproduce the issue with other themes.

### Steps to reproduce the behavior

1. Open a page or post in the editor.
2. Add buttons block.
3. Customize the color and background settings of the button.
4. On the live page, the color updates are not reflected.

#### What I

[2021-05-04 09:53] beafialho commented on #3737
Yes @jffng, here's what I thought for post comments.

**Desktop**
<img width="1049" alt="Captura de ecrã 2021-05-04, às 10 46 50" src="https://user-images.githubusercontent.com/65220155/116987283-c5fb1280-acc6-11eb-9129-847b9edfb200.png">
https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/Quadrat?node-id=177%3A2

**Mobile**
<img width="289" alt="Captura de ecrã 2021-05-04, às 10 51 33" src="https:/

[2021-05-04 11:29] simison commented on #3280
Hm, anything relevant in themes that might be overlaying the original issue? @jeffikus @scruffian

Upstream fix was in https://github.com/WordPress/gutenberg/pull/30080 and from what I can tell it wasn't reverted.

[2021-05-04 11:57] beafialho opened #3743 "Quadrat: Adjust pullquote text size and line height"
The pullquote text currently doesn't feel balanced. Citation text size is ok as it is but here's what I think can be adjusted:

1. Change font to Medium instead of Regular Italic for the quote.
2. Change text size to 50pt and line height to 1,3.
3. Change Regular Italic to Regular in citation.
4. Remove the divider line at the bottom, leave only the one at the top.

How it looks:
<img width="734"

[2021-05-04 14:21] scruffian commented on #3280
There's another fix that's needed in Gutenberg: https://github.com/WordPress/gutenberg/pull/30205

[2021-05-04 14:41] beafialho opened #3747 "Quadrat: Column Block Margins"
When I set an Image block to full width, it's ok that it touches the edges of the screen:

<img width="1536" alt="Captura de ecrã 2021-05-04, às 15 20 36" src="https://user-images.githubusercontent.com/65220155/117018662-9eb73c00-acec-11eb-9045-e086ad1e1a52.png">

However, when it's a Column Block, it has no margins, which is visually unpolished and gets misaligned with the navigation on top. This

[2021-05-04 16:12] WunderBart commented on #3280
@fullofcaffeine, @simison - something we might consider hotfixing on Simple sites?

[2021-05-04 16:15] Gilmoursa opened #3748 "Twitter Embeds Cause Blog Posts to Overlap Each other"
## Steps to replicate

Create some posts, add a twitter embed to each of them.

## Result

Observe the homepage or a page with multiple posts on it from a mobile device.

The posts will load correctly initially, then load the Twitter embeds, then the posts' text will overlap each other because the Twitter embeds now make the post longer than when they initially loaded.

Screenshot - https://d.pr/i

[2021-05-04 16:41] fullofcaffeine commented on #3280
@WunderBart Thanks for the ping. I looked at the PR, and I'm wary of hotfixing it on WPCOM before it gets accepted, see: https://github.com/WordPress/gutenberg/pull/30205#issuecomment-822415983.

[2021-05-04 17:11] ianstewart commented on #3750
Moving this one to the Themes repo. Thanks for the report!

[2021-05-04 20:51] ianstewart commented on #3754
Moving this back to the Themes repo.

[2021-05-04 21:06] ianstewart commented on #3755
This sounds like a theme issue so moving it over there for now checking in on.

[2021-05-04 21:06] joweber123 opened #3755 "Gallery Block: Caption is centered in editor but not live site"
#### Steps to reproduce

1. Add a new Gallery Block
2. Add a caption under the block

#### What I expected
I expected that as the editor displays this as centered it would appear centered in my theme as well.

#### What happened instead
The caption is aligned left in the theme.   I have tested this in twenty-twenty as well as the Varia child themes.

#### Browser / OS version
Firefox/Mac Catalina

[2021-05-04 21:20] ianstewart commented on #7174
@davipontesblog is this still reproducible and if so should it be moved to the Themes repo for maintenance?

[2021-05-05 03:41] kosiew opened #3798 "Edin: Third consecutive separator block displays with double line"
### Steps to reproduce the behavior

On a site with Edin theme

1. Create new post
2. Click on + at the top left corner
3. Double-click on Separator block
4. On the third, it displays with 2 close thin lines

#### What I expected to happen
All separators have the same display

#### Screenshot

![Screenshot](https://d.pr/i/jtN3Vp+)
*if image does not load, please click on this link  : https://d.pr/

[2021-05-05 07:49] pauljacobson commented on #3739
To add to this report, the text is clearly present in the block's HTML, although it's not being rendered on top of the block. Take a look here:

<img width="1532" alt="Markup 2021-05-05 at 10 45 40" src="https://user-images.githubusercontent.com/2912202/117110904-81877980-ad8f-11eb-836b-954e0e69077c.png">

And here:

![20210505_104525_screenshot](https://user-images.githubusercontent.com/2912202/1

[2021-05-05 07:53] pauljacobson commented on #3739
It also seems that if we add this Custom CSS, it may resolve the issue:

[code]

[2021-05-05 10:31] davipontesblog commented on #7174
I just tested this on a site with the Hever theme (Varia child theme) and it is happening in the Editor, but not on the front end:

https://user-images.githubusercontent.com/31009008/117127887-12039100-ad73-11eb-9119-9886137eaa8a.mov

It happens with the Columns block here, in both Wide and Full-Width alignments.

[2021-05-05 13:07] MaggieCabrera commented on #3696
We need to think about the responsive version of the navigation in particular, if the theme launches on dotcom before https://github.com/WordPress/gutenberg/pull/30047 lands

[2021-05-05 13:45] azollafox opened #3757 "Romero: Ads in Footer too long"
## Steps to replicate

1. Activate Romero on your site
2. Activate Ads on your site

## Result

Ads are exceptionally long and overflow the footer

![long ads](https://user-images.githubusercontent.com/7907292/117150742-6d8b4a00-ad86-11eb-979d-2c2596e3484a.png)

## Expected

I expected the ads in the footer to be formatted like footer ads, or to stay within the boundaries of the footer

* User rep

[2021-05-05 14:04] zdenys opened #3758 "Seedlet Blocks: Selection color almost invisible"
## Steps to replicate

Select any text within Site Title or Tagline, or any other block

## Result

The selection color is too white and almost unnoticeable. So it's not clear if any part of the text is selected.

This CSS is responsible `--wp--preset--color--almost-white: #FAFAFA;`

## Expected

See a darker selection color

## Video

https://user-images.githubusercontent.com/39308239/117153053-4

[2021-05-05 14:22] pbking commented on #3696
The ponyfill in BCB gets the current navigation solution (#3714) (or, the [location-on-block solution](https://github.com/WordPress/gutenberg/pull/30852)) close-ish as-is for mobile.  I think some adjustments either in BCB or Quadrat will get us to useable until that Gutenberg issue lands.

![image](https://user-images.githubusercontent.com/146530/117156596-dc1ed680-ad8b-11eb-9b39-12cd495a75f3.png

[2021-05-05 14:30] jffng opened #3759 "Update the shape of theme.json"
We should update the theme.json to reflect the new shape: https://github.com/WordPress/gutenberg/pull/30541

[2021-05-05 14:48] jffng commented on #3759
While we are here, I believe the updates broke our logic to load fonts from google:

https://github.com/Automattic/themes/blob/trunk/blank-canvas-blocks/functions.php#L60-L80

[2021-05-05 14:55] MaggieCabrera commented on #3696
Oh I forgot about that! cool then, thanks Jason!

[2021-05-05 15:46] JoshuaGoode opened #3760 "Blank Canvas: Bottom border issues impacting text and image links."
## Steps to replicate

1. Activate Blank Canvas
2. Add an image block to a page or post and set an image on it.
3. See link border under or cutting through image.

## Result

Link borders cutting through image.

![image](https://user-images.githubusercontent.com/4887830/117169676-4c7f2500-ad97-11eb-87e5-d656afbd35ad.png)

## Expected

No borders on linked images.

* User report: 20728066-hc

----

[2021-05-05 17:22] azollafox opened #3764 "Intergalactic 2: Woo Archive Pages Header Format Trouble"
## Steps to replicate

1. Activate Intergalactic 2
2. Add a header image
3. Activate WooCommerce, importing demo content
4. Look at an archive page, like a product category page

## Result

A duplicate header image is repeated below the header area, cutting off any content, like a logo, that overflows from the header.

<img width="791" alt="image" src="https://user-images.githubusercontent.com/790

[2021-05-05 17:51] #3759 closed, assigned to nobody

[2021-05-06 06:30] yashitamittal11 commented on #3375
Another one - #3967464-zen

[2021-05-06 07:48] pauljacobson commented on #3797
In the meantime, I shared the following Custom CSS with the user:

[code]

[2021-05-06 09:12] scruffian commented on #3640
This is now done.

[2021-05-06 09:12] #3640 closed, assigned to jffng

[2021-05-06 09:13] scruffian commented on #3641
This was closed by #3741

[2021-05-06 09:13] #3641 closed, assigned to nobody

[2021-05-06 11:35] scruffian commented on #3661
My concern about adding these options is that they won't carry over into the site editor. So any customizations I add here will be lost once the version of WordPress is updated

[2021-05-06 13:12] kjellr commented on #3661
I agree with that concern. The same goes for the other way around: any adjustments you make in the site editor won't carry through if you were to (somehow) revert back to the customizer.

Even so, I do think that the color control at least is very necessary — especially since the theme has such an opinionated purple + pink palette by default. Maybe we can start with that?

[2021-05-06 13:22] scruffian commented on #3661
I think going in the reverse direction is less of a concern - that will only happen through user intervention, whereas with auto updates, most users will end up in the Site Editor without doing anything.

I think colors is a good idea. @pbking do you think we can use some of your prior art to hook into theme.json?

[2021-05-06 13:24] beafialho commented on #3661
Good points. I agree, color control is necessary here.

[2021-05-06 14:17] pauljacobson opened #3864 "Coherent: Displaced blue lines related to links on the page"
Our customer reported that they saw blue lines on their pages, typically in the middle of page elements, that disappeared when they hovered their mouse over the elements.

### Steps to reproduce the behavior

1. Go to https://bigcasephoto.com/галерея/
2. You'd see blue lines across the images in the Tiled Gallery Block
3. When you move your mouse over the images, the lines disappear

Here's a demo

[2021-05-06 15:45] pbking commented on #3661
I have SO MUCH prior art for that!
Yes, I can build a thing...

[2021-05-06 16:17] scruffian commented on #3642
These are all done, I think we can close this one.

[2021-05-06 16:17] #3642 closed, assigned to nobody

[2021-05-06 16:19] scruffian commented on #3660
@kjellr @beafialho are these things you'd be able to help us with?

[2021-05-06 18:34] kjellr commented on #3660
Yes definitely. We'll work on the theme description next week. Do we have have a launch (or call for testing) date in mind?

[2021-05-06 19:07] Robertght opened #3777 "Boardwalk: Side scrolling using the trackpad is glitchy"
## Steps to replicate

1. Open the theme demo website or create a new one locally: https://boardwalkdemo.wordpress.com
2. Scroll up and down and observe the results
3. Scroll sideways and observe the result

## Result

The side-scrolling is glitchy and doesn't work as the up and down one.

## Expected

To have it working as the up and down scrolling

Video uploaded here:

https://d.pr/v/fTjnQL

No

[2021-05-06 20:17] scruffian commented on #3660
I'm hopeful we can post a call for testing early next week.

[2021-05-07 07:32] daria2303 opened #3778 "Illustratr: Masonry block is properly calculated only after window resize or not shown at all"
## Steps to replicate

1. Install Illustratr
2. Create Masonry block, uploads images
3. Publish
4. Enter the site

## Result

In the user's report images are loaded with spaces, only after we resize the window JS runs: https://d.pr/v/bULjPP

https://user-images.githubusercontent.com/6737345/144395111-dc80a081-8b58-4437-8cf2-b3140543fa28.mp4

On my test site Masonry Block did't load at all.

## Exp

[2021-05-07 08:26] poojashetty18 opened #3779 "Appetite: Color Palette Not Applying Correctly after theme switch"
## Steps to replicate

1. Switch to the Appetite theme on a site
2. Set as custom pallete in Customizer.
4. View the front-end version of the page.

## Result

The last theme hover colors are reflected in the links and in the footer social icons

<img width="298" alt="Screenshot on 2021-05-07 at 12-13-21" src="https://user-images.githubusercontent.com/44837596/117420263-728afd80-af2e-11eb-95e1-db3

[2021-05-07 13:12] MaggieCabrera commented on #3700
Closing this one in favor of https://github.com/Automattic/themes/issues/3590

[2021-05-07 13:12] #3700 closed, assigned to nobody

[2021-05-07 13:13] MaggieCabrera commented on #3590
@ianstewart tagging you for followup notifs :D

[2021-05-07 17:03] kjellr opened #3782 "Quadrat: Reconsider the text hover effects"
I think the background color hover effect we're using ends up being a little too prominent for my taste when it's applied to large headings:

<img width="656" alt="Screen Shot 2021-05-07 at 12 51 29 PM" src="https://user-images.githubusercontent.com/1202812/117483135-52117200-af33-11eb-90eb-cb5a83e474f7.png">

Also, I think it's a little weird that we have a different hover state for one portion o

[2021-05-07 17:06] kjellr opened #3783 "Quadrat: Post navigation arrows need padding"
Post navigation arrows currently bump up right against the text. This is most clear when hovering:

<img width="486" alt="Screen Shot 2021-05-07 at 1 06 40 PM" src="https://user-images.githubusercontent.com/1202812/117484437-11b2f380-af35-11eb-9aa8-5fd62f9668a6.png">

They need just a little bit of margin/padding to offset that:

Before:

<img width="1188" alt="Screen Shot 2021-05-07 at 1 04 22 PM

[2021-05-07 17:19] kjellr opened #3784 "Quadrat: Post header details are not in sync with the mockups"
We need to take another pass at this.

- The vertical spacing is pretty far off.
- The title should be wide-width.
- The post categories are not shown alongside the date.
- The post title font size isn't in sync with that of the comps.
- The font weight of the post date should be normal (400), not 300.

Mockup|Development
---|---
![one](https://user-images.githubusercontent.com/1202812/117485512-7

[2021-05-07 17:26] kjellr opened #3785 "Quadrat: Body text size is incorrect."
As per the figma file, the default body size should be 18px, with a line height of 1.6. Instead, the current font size is 20px, with a line height of 1.7.

Comps|Development
---|---
![Frame 2](https://user-images.githubusercontent.com/1202812/117486390-91da5880-af37-11eb-80ae-edcb67b858b5.png)|![current](https://user-images.githubusercontent.com/1202812/117486396-930b8580-af37-11eb-9566-b73f79ea18

[2021-05-07 17:32] kjellr opened #3786 "Quadrat: Default font weight is incorrect."
Most of the site's text is currently set to a 300 weight, but it should be Normal/400 to match the Figma file.

- Navigation
- Body text
- Post pagination
- Page footer
- etc.

Current Dev|Comps
---|---
<img width="313" alt="Screen Shot 2021-05-07 at 1 31 07 PM" src="https://user-images.githubusercontent.com/1202812/117487145-b3880f80-af38-11eb-8aed-0f9491b3cdc5.png">|<img width="309" alt="Screen

[2021-05-07 17:39] kjellr opened #3787 "Quadrat: Post editor title does not match the front end"
Currently, the text is bold, left-aligned, and the same width as the text column itself. To match the comps, it should be a 400 weight, centered, wide-width, and have a 1.2 line height.

We should tackle https://github.com/Automattic/themes/issues/3784 first though, and then try to sync up with that.

Editor|Front End
---|---
<img width="1249" alt="Screen Shot 2021-05-07 at 1 37 14 PM" src="https:

[2021-05-07 17:45] kjellr opened #3788 "Quadrat: Incorrect spacing below posts."
To match the comps, we should have 150px of spacing below the post content and the post pagination, and then again before the page footer.

Current Dev|Recommended
---|---
<img width="1265" alt="Screen Shot 2021-05-07 at 1 42 46 PM" src="https://user-images.githubusercontent.com/1202812/117488481-77ee4500-af3a-11eb-9027-a6da87ced008.png">|<img width="1265" alt="Screen Shot 2021-05-07 at 1 44 15 PM

[2021-05-07 17:58] kjellr opened #3789 "Quadrat: Mobile menu is unpolished"
These should be pretty obvious, but I didn't see them filed anywhere so I'm recording them here.

The mobile menu has a lot of pretty obvious bugs. For example:

- Menu icon isn't properly right-aligned
- Close icon isn't in the same position as the menu icon
- Menu items are not properly centered

For the icons, please use the ones from Seedlet. We should also update the font size to our Extra La

[2021-05-10 04:40] KokkieH commented on #3593
Another report in https://wordpress.com/forums/topic/marketing-bar-prevents-use-of-hamburger-menu-on-mobiles/

[2021-05-10 10:16] beafialho commented on #3782
Thanks @kjellr, I share the same thoughts on hover being too prominent in large titles. I think we can use underlines everywhere and remove the background-color entirely.

[2021-05-10 10:19] beafialho commented on #3785
I think a body size of 18px and a line height of 1.7 feels the most comfortable.

[2021-05-10 12:03] fresatomica opened #3799 "Twenty Fourteen: Post Carousel Block author and date impossible to read"
## Steps to replicate

1. Add Post Carousel Block
2. Toggle on Show author and Show Date options

## Result

On the published site, the post metadata is white on white background and so impossible to read:
<img width="605" alt="Screen Shot on 2021-05-10 at 13-51-26" src="https://user-images.githubusercontent.com/40177971/117656156-483c7880-b198-11eb-817a-c55afa96a94f.png">

## Expected

Author and

[2021-05-10 14:58] mikeicode opened #3802 "Dara: Top level menu items in the mobile menu require 2 clicks"
Sub-menus in the Dara theme are expanded on mobile. The sub-menu items correctly open the page when clicked once. The top level item requires 2 clicks to open the page however. Since the sub-menu is expanded there is no need for the first click to open the menu, it should instead open the page.

## Steps to replicate

* Create a sub-menu
* Click a top level menu item

## Result

First click does n

[2021-05-10 16:19] kjellr opened #3804 "Quadrat: Post list cleanup"
I have a few suggestions for more closely aligning the list of posts in Quadrat with the full post view:

- Move the date up to the top, center-align the text.
- Move the title below that, center-align the text.
- The spacing below the post title is currently 30px. Let's increase that to 45px.
- Increase the spacer block underneath each post from 30px to 60px to allow for more whitespace in betwee

[2021-05-10 16:33] kjellr opened #3805 "Quadrat: Featured Image doesn't extend full-width if the image is small"
When you insert a full-width image into a post, it extends to the edge of the screen all the time, even if the image needs to be scaled up to do so.

This isn't the case with our full-width featured images though. They max-out at their intrinsic width, and appear left-aligned:

<img width="2228" alt="Screen Shot 2021-05-10 at 12 28 38 PM" src="https://user-images.githubusercontent.com/1202812/1176

[2021-05-10 16:40] kjellr opened #3806 "Quadrat: Outline buttons have no visible border in the editor"
Editor|Front-end
---|---
<img width="486" alt="Screen Shot 2021-05-10 at 12 39 38 PM" src="https://user-images.githubusercontent.com/1202812/117694198-d90d5700-b18c-11eb-8743-7f8b1f463284.png">|<img width="466" alt="Screen Shot 2021-05-10 at 12 39 45 PM" src="https://user-images.githubusercontent.com/1202812/117694199-d90d5700-b18c-11eb-9151-f0fe75ee98d3.png">

[2021-05-10 16:41] kjellr commented on #3806
Note that the solid button also has no outline on hover, though it's supposed to:

![hovers](https://user-images.githubusercontent.com/1202812/117694353-0e19a980-b18d-11eb-8fcd-92571ecf327a.gif)

[2021-05-10 16:42] kjellr commented on #3806
(Whoops, closed by mistake)

[2021-05-10 16:44] kjellr opened #3807 "Quadrat: index/archive template is missing pagination"

[2021-05-10 16:52] kathrynwp commented on #2831
See also #3201

[2021-05-10 16:56] marutim opened #3808 "Canard: Allow sub menu items to appear with one tap in mobile devices"
## Steps to replicate

- Create a menu with submenu items.
- Open the site on a mobile device. Try and tap on the submenu items. You will have to tap on the sub menu twice to display the submenu items.

## Result

You need to tap twice to display the submenu items, at least for the first time and after that the sub menu items display after the first click

## Expected

- The submenu items should a

[2021-05-10 16:57] kjellr opened #3809 "Quadrat: Calendar block is unreadable by default"
<img width="688" alt="Screen Shot 2021-05-10 at 12 52 33 PM" src="https://user-images.githubusercontent.com/1202812/117696124-f8a57f00-b18e-11eb-9bec-acfa1e380547.png">

We should change the grays text colors here to pink, and change the gray background and borders to match the transparent black color we used when building the cover block variation in #3676.

[2021-05-10 16:59] kjellr opened #3810 "Quadrat: Form dropdowns are unreadable by default"
To demonstrate, here's the archives block, with the "Show as dropdown" option active:

<img width="355" alt="Screen Shot 2021-05-10 at 12 53 11 PM" src="https://user-images.githubusercontent.com/1202812/117696543-6baef580-b18f-11eb-8b0a-939eb2d21b21.png">

@beafialho do you have a design for how these should look?

[2021-05-10 17:04] kjellr opened #3811 "Quadrat: File block button doesn't match other default button styles"
The File block's button appears as rounded:

<img width="354" alt="Screen Shot 2021-05-10 at 12 53 45 PM" src="https://user-images.githubusercontent.com/1202812/117696783-b3ce1800-b18f-11eb-84c3-f39b356c13cb.png">

This should be squared off to match the theme's default button styles.

[2021-05-10 17:12] kjellr opened #3812 "Quadrat: Large quote needs a line height adjustment"
Large quote line height should be 1.4

Before|After
---|---
<img width="769" alt="117698034-37d4cf80-b191-11eb-96b2-c9fe17ac8d92" src="https://user-images.githubusercontent.com/1202812/117710624-5393a200-b1a0-11eb-91db-bb6d8854a633.png">|<img width="740" alt="117698037-386d6600-b191-11eb-8ceb-3a0c4f9364f2" src="https://user-images.githubusercontent.com/1202812/117710625-5393a200-b1a0-11eb-8d3d-2b2

[2021-05-10 17:25] bobmatyas opened #3813 "Independent Publisher 2: Drop Shadow Issue"
## Steps to replicate

1. Open theme - https://independentpublisher2demo.wordpress.com/
2. Open page in latest version of Firefox, Chrome, or Safari on MacOS
3. Mouseover photo at the top of page

## Result

* Drop shadow is off

See screenshot:
https://d.pr/i/JFyZvk

## Expected

* Drop shadow should display properly

* User report: 3974643-zen

[2021-05-10 18:40] beafialho commented on #3812
I also mentioned pullquote adjustments in #3743

[2021-05-10 18:41] beafialho commented on #3810
Yes, here's how it should look:

<img width="580" alt="Captura de ecrã 2021-05-10, às 19 40 49" src="https://user-images.githubusercontent.com/65220155/117708401-ac2a6580-b1c7-11eb-8bd7-fd0c7410a935.png">

[2021-05-10 18:41] beafialho commented on #3810
Can be found in Figma [here](https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/Quadrat?node-id=760%3A112)

[2021-05-10 18:58] kjellr commented on #3812
Oh great, I missed that! I'll remove the pull quote stuff from this issue, so it focuses on just the Quote block instead.

[2021-05-10 19:15] kjellr opened #3814 "Quadrat: Theme has no auto-text color adjustments for the background color presets"
In our traditional themes, we automatically ensure that the font color is readable if someone were to choose one of the theme presets for a background color. This isn't the case in this theme:

<img width="685" alt="Screen Shot 2021-05-10 at 3 10 19 PM" src="https://user-images.githubusercontent.com/1202812/117712369-39f35a00-b1a2-11eb-9d8f-cc8dcfff9cdc.png">

I'm not sure if this is something we'

[2021-05-10 19:18] kjellr opened #3815 "Quadrat: Consider renaming the default "Blue" colors"
I think the last two colors in our palette are solidly in the "Purple" range. I was just a little confused to see them labeled "Blue" and "Dark Blue". @melchoyce, @beafialho what do you think?

<img width="222" alt="Screen Shot 2021-05-10 at 3 16 01 PM" src="https://user-images.githubusercontent.com/1202812/117712686-a2dad200-b1a2-11eb-85e6-92f9b6502950.png">

[2021-05-10 21:04] jffng opened #3818 "Quadrat: spacing"
In working on the custom logo + header spacing, I was struggling to implement the padding around the heading.

Currently we have two variables — `custom.margin.horizontal` and `custom.margin.vertical` — to use throughout theme.json and CSS. These spacing variables are [baked pixel values](https://github.com/Automattic/themes/blob/trunk/quadrat/child-experimental-theme.json#L80-L83).

A fixed value

[2021-05-10 21:05] melchoyce commented on #3815
IMO, it is leaning more towards blue than purple. Maybe indigo?

<img src="https://user-images.githubusercontent.com/2846578/117724483-d1ac7480-b1b1-11eb-8d2e-2a58866e8d5f.png" width="300" /><img src="https://user-images.githubusercontent.com/2846578/117724501-da04af80-b1b1-11eb-9403-fff8db507056.png" width="300" />

[2021-05-11 05:41] KokkieH commented on #3593
Another in https://wordpress.com/forums/topic/wordpress-twenty-twenty-one-theme-cover-block-mobile-issue/

[2021-05-11 08:55] beafialho commented on #3815
I also think both of these both fall more in the "Blues" range than the "Purples". I searched for similar tones in a [named colors list](https://htmlcolorcodes.com/color-names/) and Indigo is closer to purple:

<img width="1405" alt="Captura de ecrã 2021-05-11, às 09 51 02" src="https://user-images.githubusercontent.com/65220155/117787938-d5d2a380-b23e-11eb-8cd3-d1b8bbe80596.png">
<img width="1304

[2021-05-11 09:38] MaggieCabrera commented on #3818
I definitely see the value of having media queries. One clear example that comes to mind is changing the order of items with flexbox or grid-template-areas for mobile. But I think those are very specific cases and I'm not sure what the best way to surface those in the editor is. I'm worried about the state of the mobile experience using the editor and at the same time, I can see how complex it can

[2021-05-11 09:42] MaggieCabrera commented on #3786
This will be fixed with #3824

[2021-05-11 12:30] kjellr commented on #3815
👍 We can leave as-is then. Thanks for the second opinions!

[2021-05-11 12:30] #3815 closed, assigned to nobody

[2021-05-11 14:31] jffng commented on #3818
So for something like `custom.margin.horizontal` — do you think we should update this value based on a media query?

[2021-05-11 14:37] MaggieCabrera commented on #3818
If it's going to be always the same value throughout the site with very few exceptions, it makes sense to have a mobile custom variable in theme.json. If we are only targetting specific cases, I'd use CSS for those (such as the logo issue) and not surface that to the json file. The thing is, if it's always going to be the same value most of the time, then it's easier and cleaner to use min() max()

[2021-05-11 14:43] #3788 closed, assigned to nobody

[2021-05-11 15:13] MaggieCabrera commented on #3694
I'm going to remove this one from the v1 milestone. I already moved the utility classes to BCB but I don't know if there's anything else we potentially want to move to BCB so that's why I'm not closing this.

[2021-05-11 15:20] MaggieCabrera commented on #3696
I think we can close this one since we already have an issue for the mobile menu (https://github.com/Automattic/themes/issues/3789). We can revisit this if/when the GB PR for the navigation block lands.

[2021-05-11 15:20] #3696 closed, assigned to nobody

[2021-05-11 15:24] MaggieCabrera commented on #3807
I think this is worth doing in BCB too

[2021-05-11 15:25] #3785 closed, assigned to nobody

[2021-05-11 15:31] scruffian commented on #3818
I think there's some value in thinking about percentage units.

[2021-05-11 16:15] #3738 closed, assigned to MaggieCabrera, jffng

[2021-05-11 16:31] mikeicode opened #3829 "Blank Canvas: VideoPress shortcodes left align video incorrectly"
Adding a video using the VideoPress shortcode results in the video being aligned to the left of the browser window.

## Steps to replicate

* Add a VideoPress shortcode to a page
* View page

## Result

Left aligned:

![https://d.pr/i/b75Fnh](https://d.pr/i/b75Fnh+)

## Expected

![https://d.pr/i/6nYjjW](https://d.pr/i/6nYjjW+)

Should be correctly aligned, we used this to resolve.

[code]

* User

[2021-05-11 16:48] #540 closed, assigned to nobody

[2021-05-11 17:01] #695 closed

[2021-05-11 18:29] mikeicode opened #3831 "Purpose: WooCommerce single product page layout issue"
The Purpose theme aligns the image column to the right and the text column to the left:

![https://d.pr/i/BNRtzp](https://d.pr/i/BNRtzp+)

This CSS is used for this:

[code]

If the short description text is more than one line the text column goes below the image column. The right margin appears to be the issue.

![https://d.pr/i/XzH1lS](https://d.pr/i/XzH1lS+)

## Steps to replicate

* Add more t

[2021-05-11 18:43] #3784 closed, assigned to nobody

[2021-05-11 18:43] #3786 closed, assigned to nobody

[2021-05-11 18:43] #3787 closed, assigned to nobody

[2021-05-11 18:47] #3783 closed, assigned to nobody

[2021-05-11 18:51] #724 closed

[2021-05-11 18:55] #1053 closed

[2021-05-11 19:27] kjellr opened #3832 "Quadrat: Refine header spacing on mobile"
Followup from #3824. On mobile, the new spacing is pretty tall. We should figure out a way to decrease that on smaller screens, OR (even better) to have the header area [take up a minimum of 100% of the viewport on mobile screens](https://cloudup.com/c_5mhzCPzoK) as in @beafialho's [original comps](https://www.figma.com/file/EDoXTvsZt4lMHItzOczFQw/Quadrat?node-id=50%3A157), rather than rely on sta

[2021-05-11 19:29] ianstewart opened #3833 "Blockbase: Style position of Dotcom Stats Smiley"
This stats smiley could perhaps be centered?

![image](https://user-images.githubusercontent.com/545779/117873312-3ffe3f00-b265-11eb-88e9-708b8420205a.png)

[2021-05-11 21:24] AtrumGeost commented on #2817
Got another report here:

29533062-hc

The same element selectors override the font size that the user sets for paragraph blocks inside a cover block:

[code]

[2021-05-11 22:46] #3812 closed, assigned to pbking

[2021-05-12 01:37] kristarella opened #3846 "Canard: First featured post position"
## Steps to replicate

- Canard theme with Featured posts on home page
- Screenshot https://d.pr/i/WDhOdu
- issue visible in theme demo: https://canarddemo.wordpress.com/

## Result

- First featured post is sitting too high, menu overlapping over the top
- Post is not clickable
- First regular post is too close to border

## Expected

- see [theme page screenshot](https://i2.wp.com/theme.files.wo

[2021-05-12 04:36] KokkieH commented on #3846
I have another report of this in https://wordpress.com/forums/topic/links-on-home-page-to-latest-post-suddenly-dont-work-other-post-links-work-fine/

Noting this happens also if no featured posts are set - in that case the featured image, title, and Continue Reading link of the first regular post are all unclickable.

Changing the negative z-index value on `.blog .hentry:first-of-type` to 0 or a p

[2021-05-12 05:25] stefancln commented on #3846
Hi

There is another report of this in 3982197-zen
Impacted site: taaldacht.nl

Thanks

[2021-05-12 06:49] sanjeev00733 commented on #3846
Another report in #25978597-hc

I have shared the following CSS to fix it in the meantime:

[code]

[2021-05-12 08:01] paulostp commented on #3846
Another report: #3982300-zen

[2021-05-12 08:02] nagpai commented on #3846
I have another issue where the title of the first post and `Continue reading` link does not work.

#3982966-zen

Likely caused unintentionally by this recent PR https://github.com/Automattic/themes/pull/716/files/473dbbbae48742202d667a4179c49f57f54f546f

[2021-05-12 08:06] nagpai commented on #3846
Tweaked @sanjeev00733 's workaround a bit to make sure dropdown menus work

[code]

[2021-05-12 09:02] paulostp commented on #3846
One more: #3982485-zen

[2021-05-12 10:12] KokkieH commented on #3846
Two more reports in https://wordpress.com/forums/topic/decalage-de-la-photo-mise-en-avant/

[2021-05-12 10:58] Robertght commented on #3520
Another one in #21701497-hc using Hever

[2021-05-12 12:04] RafaelFunchal commented on #2633
Another case was reported on #3982385-zen (pt-BR Ticket).

As a workaround, I removed the Video Block and added the videos with VideoPress shortcodes.

[2021-05-12 12:15] RafaelFunchal commented on #3846
When working on #3982785-zen, I noticed the theme's CSS adds `bottom: 60px;` to `.blog .hentry:first-of-type`. This made the trick:

[code]

[2021-05-12 13:00] marutim commented on #3846
A couple more reports here:

- 3983136-zen
- 3983610-zen

[2021-05-12 13:04] kathrynwp commented on #3496
Closing, as this is being handled in Core Trac.

[2021-05-12 13:04] #3496 closed, assigned to nobody

[2021-05-12 13:15] kathrynwp commented on #3631
@devNigel Have you tested to see if this can be replicated on a self-hosted site? If so, this issue should be reported in [Core Trac](https://core.trac.wordpress.org/query?status=!closed&component=Bundled+Theme) if it hasn't been already, as that's where the development of core themes like Twenty Twenty One happens. Use the Component "Bundled Theme."

[2021-05-12 13:21] kathrynwp commented on #3645
The narrow appearance of this core bundled theme is by design, and not a bug.

[2021-05-12 13:46] sixhours commented on #3846
Hooboy, sorry about that, folks! Reverted the broken changeset in r58808-wpcom-themes and I'll work on a new workaround for the menu overlapping bug.

[2021-05-12 13:49] #3846 closed, assigned to nobody

[2021-05-12 14:03] sixhours commented on #682
#716 was reverted due to reports in #3846, this needs a new solution.

[2021-05-12 15:34] JoshuaGoode commented on #3846
@sixhours has the revert been pushed out to Atomic yet?

Still getting reports of similar issues on WoA sites.

[2021-05-12 15:38] sixhours commented on #3846
I'm not sure how our themes are synced to Atomic sites, but if the breaking change was automatically deployed to Atomic yesterday, I presume it will be synced to Atomic at some point today. /cc @jeffikus do you know?

[2021-05-12 15:57] mikeicode commented on #653
Another 3982815-zd-woothemes used CSS to resolve

[2021-05-12 16:26] jeffikus commented on #3846
It should happen automatically - I'm not sure about the time period - otherwise ping in #atomic and they can manually sync.

[2021-05-12 16:56] jamiepalatnik opened #3849 "Spatial: Captions very narrow when image is aligned to the left or right"
## Steps to replicate

1. Add an image with a caption and align it to the right or left

## Result

The caption appears in a very narrow column. Screenshot: https://d.pr/i/MVgRBs

## Expected

I expected the caption to display as it does in the editor.

* User report: 22976500-hc

[2021-05-12 19:47] #682 closed

[2021-05-12 21:11] kathrynwp commented on #3813
Posting GIF directly instead of to Droplr (removes the need for a click to see it, also preserves it here in case your Droplr account can't be accessed)

![Screen Capture on 2021-05-10 at 13-23-04](https://user-images.githubusercontent.com/7662449/118044719-043aa680-b345-11eb-9dcc-1d4ff5d508a1.gif)

[2021-05-12 22:29] villanovachile opened #3850 "Natural: Fig Captions are aligned left when image block is set to Centered"
## Steps to replicate
1. Create Image block
2. Enter fig caption
3. Align as Centered

The current workaround seems to be to deselect center/left/right alignment, and fig caption defaults to center alignment.

![](https://d.pr/i/SpLLKF+)
Image Link: https://d.pr/i/SpLLKF

## Result

The result was a left aligned fig caption

![](https://d.pr/i/bNiQaT+)
Image Link: https://d.pr/i/bNiQaT

## Expecte

[2021-05-13 13:26] mikeicode opened #3851 "Ixion: Pullquote block custom border colors don’t work"
The Pullquote block has a setting for custom colors, which should change the border color. It does in the editor, but doesn’t on the live page.

## Steps to replicate

* Add a Pullquote block to a page
* Add a custom color for the border
* View published page

## Result

Page:

![https://d.pr/i/kMrZru](https://d.pr/i/kMrZru+)

## Expected

Editor:

![https://d.pr/i/cm381x](https://d.pr/i/cm381x+)

[2021-05-13 14:06] mikeicode opened #3852 "Eris: Inline CSS causes top content spacing issues when resizing"
When you resize your browser width inline CSS is added to the content area, resulting in too much top space.

## Steps to replicate

Resize browser smaller and then larger.

## Result

![https://d.pr/i/GaiYkP](https://d.pr/i/GaiYkP+)

This extra inline padding that is added when you resize causes the issue:

![https://d.pr/i/XPlOdp](https://d.pr/i/XPlOdp+)

## Expected

Should be able to resize th

[2021-05-13 15:35] druesome opened #3853 "Lodestar: Carousel block doesn't behave as expected if inserted on a page assigned to a panel"
When a Carousel block is inserted into a page, and that page is assigned to any panel in the Theme Options, the block does not behave as expected.

## Steps to replicate

1. Insert Carousel block to a page
2. Go to the Customizer > Theme Options
3. Click Panel 1 and assign page to it
4. Click Save Changes
5. View homepagee

## Result

Carousel block displays only first image, with no arrows to mov

[2021-05-13 16:39] #628 closed

[2021-05-13 18:49] mikeicode opened #3854 "Exford, Maywood, Rivington: Heading block custom font size issue on Cover blocks"
Font sizes set for Heading blocks that are on top of Cover blocks with **Typography > Font size**, such as “Small, Normal, Large, Huge” look correct in the editor but are incorrect on the front-end.

## Steps to replicate

* Activate Exford
* Add a Heading block on a Cover block
* Set the size to “Small”
* View published page

## Result

All sizes are the same.

![https://d.pr/i/lnAoky](https://d.

[2021-05-13 19:12] JoshuaGoode commented on #3760
The theme sets a pretty overbearing border on all links as well.

[code]

Encountered another situation where we needed to remove that altogether.  29572029-hc

[2021-05-13 20:29] kathrynwp commented on #2412
I don't think Argent is a WooCommerce-compatible theme; it doesn't have the Store tag so it's expected that it might have glitches if someone tries to use WC with it, as it's never been tested with it. Normally I'd recommend that the user select a WC-compatible theme.

Will leave for the theme team to determine if this is a valid issue, though.

[2021-05-13 22:20] ianstewart commented on #3650
Closing this one in favour of https://github.com/Automattic/wp-calypso/issues/52799

[2021-05-13 22:20] #3650 closed, assigned to nobody

[2021-05-14 02:50] happychait opened #3855 "Natural: Twitter tweet embeds are cut off"
### Steps to reproduce the behavior

1. Activate the Natural theme on a Simple or Atomic site.
2. Go to post or page editor.
2. Paste a Tweet link in a Paragraph block on any post or page.

#### What I expected to happen

Tweet embeds correctly and the full tweet is shown.

#### What actually happened

1. Lot of white space at the top.
2. Tweet is truncated.

#### Is this specific to the applied t

[2021-05-14 03:28] happychait commented on #3855
Similar to https://github.com/Automattic/themes/issues/3542

Worked around with this custom CSS:

[code]

[2021-05-14 11:46] mikeicode commented on #2582
Ran into this on Maywood. I found that the button with the default settings is visible. As soon as I set a custom text color:

![https://d.pr/i/BQSFVD](https://d.pr/i/BQSFVD+)

The button is then not visible on the page:
![https://d.pr/i/g7LlLu](https://d.pr/i/g7LlLu+)

In this case the issue is this CSS:

[code]

3987930-zd-woothemes

[2021-05-14 17:38] #3737 closed, assigned to nobody

[2021-05-14 17:49] jffng commented on #3743
Closed by #3780

[2021-05-14 17:49] #3743 closed, assigned to nobody

[2021-05-14 19:00] #3809 closed, assigned to pbking

[2021-05-14 21:28] JenSwish opened #3858 "Barnsbury: Primary Menu Bleeds Off Screen"
## Steps to replicate

User reached out via app support due to an issue with the `Barnsbury` theme. On tablet and desktop devices, the items in their last parent menu item bleed off the screen.

![ Image Link: https://d.pr/i/68Np6j](https://d.pr/i/68Np6j+)
Image Link: https://d.pr/i/68Np6j

## Result

Added lots of menu items to the top and the last dropdown on the page bleeds off screen. This hap

[2021-05-15 10:59] devNigel commented on #3631
Hi @kathrynwp , I tested it on self-hosted site and I notice it also has this "issue". The menu items seem to stay a fraction of a second longer after it closes.

But I feel we are nitpicking on this. I guess we could close this.

[2021-05-15 15:37] ktyfuller604 commented on #679
Another report of this issue here #3987263-zen

[2021-05-15 20:17] supernovia commented on #2336
Related: this is how it's displaying currently if the user "centers" the icons:
![Screen Shot 2021-05-15 at 2 15 53 PM](https://user-images.githubusercontent.com/3476361/118376923-1f492880-b588-11eb-993d-bd8e43649e1a.png)

If they allow them to be left-aligned they look okay.

https://wordpress.com/forums/topic/social-links-block-doesnt-center/

[2021-05-16 01:34] joweber123 opened #3862 "Additional ad placements not available on all themes"
### Steps to reproduce the behavior

1. Activate any Varia child theme.  Hever is an example.
2. Go to My Sites > Tools > Earn > View ad dashboard > Settings
3. Even though the Varia child themes do not support the 'Top of each page' ad setting, users can still toggle this option.
4.  Toggling this on will not add an ad to the top of each page for the user.

#### What I expected to happen
I expect

[2021-05-16 19:37] jerrysarcastic opened #3859 "Baskerville 2: Social media block not displayed correctly when aligncenter is chosen"
## Steps to replicate

- Add social media block to page (on site using Baskerville theme)
- Set block to center alignment

## Result
Buttons are shown in a full width list instead

![Screen Shot 2021-05-16 at 9 35 58 AM](https://user-images.githubusercontent.com/1967448/118410236-258fe100-b62a-11eb-97f9-4d0dd19d5298.png)

It appears the theme is missing the correct CSS, but adding the following se

[2021-05-16 22:32] kathrynwp commented on #3859
duplicate of #2336

[2021-05-16 22:32] #3859 closed, assigned to nobody

[2021-05-17 01:05] adelineyaw opened #3860 "Luxury: Social links menu doesn't show icon image for Snapchat or TikTok"
## Steps to replicate

Add a custom link to a social links menu

## Result

Image icons for Snapchat and TikTok are not appearing and instead the default icons are used.
Screenshot: https://d.pr/i/lcZOLV
Site: https://jordanfeldstein.com/

## Expected

When adding Snapchat and TikTok links to the Karuna theme, it appears as expected:
Screenshot: https://d.pr/i/64t5wS

* User report: 29604894-hc
*

[2021-05-17 02:08] kaitohm opened #3863 "Intergalactic 2 Post Carousel title alignment off"
### Steps to reproduce the behavior

1. Activate theme **Intergalactic 2**
2. Add a Post Carousel block
3. See alignment issue on post titles in published page/post

#### What I expected to happen

Titles should be left aligned

#### What actually happened

There is a huge space on the left, making titles run off the right-side of the block

### Context

3991957-zd-woothemes

Similar issue with an

[2021-05-17 03:47] alaczek commented on #3483
I just encountered this in FSE with Blank Canvas Blocks and Myland Blocks.

This makes creating some of the Blank Canvas patterns as starter designs problematic because they use Cover block extensively (seems like this issue does not affect the Blank Canvas theme).

[2021-05-17 07:09] hacchism opened #3861 "Soho: Image display issue with Full-width alignment"
## Steps to replicate

1. Activate "Soho" theme
2. Create post or page
3. Add Image Block
4. Modify its alignment setting and set it to "Full-width"

## Result

![Screen Shot on 2021-05-17 at 15:55:54](https://user-images.githubusercontent.com/32432463/118444648-63732f00-b728-11eb-8a25-3f23c1065491.png)

## Expected

![Screen Shot on 2021-05-17 at 15:54:01](https://user-images.githubusercontent.co

[2021-05-17 08:50] kosiew commented on #3864
Managed to reproduce on Pd4q6L-g-p2
after setting background color:

![Screenshot](https://d.pr/i/4erEku+)
*if image does not load, please click on this link  : https://d.pr/i/4erEku*

[2021-05-17 12:13] MaggieCabrera commented on #3810
I've been at this and sadly there's no easy solution that will cover all the posibilities for these for multiple reasons. On one hand, each browser has a different appearance for the dropdowns, in particular the main problems are the arrows and Safari adding a glossy gradient on top of the select that is very visible if we remove the background-color. When removing the browser specific styles via

[2021-05-17 12:54] kjellr commented on #3810
Let's go with option 1 for now — that will start us out with working dropdowns by default, and we can customize further in the future if we'd like to.

[2021-05-17 14:09] kjellr opened #3867 "Quadrat: Try changing the font from Poppins to DM Sans"
I know we're a little late in the process for this, but @beafialho and I have been chatting about updating the default font here from Poppins to DM Sans. It has a similar feel, but is more refined overall. I'll open a PR to give this a try before we make a final decision.

Poppins|DM Sans
---|---
<img width="1440" alt="Poppins" src="https://user-images.githubusercontent.com/1202812/118502617-db753

[2021-05-17 14:24] beafialho opened #3868 "Quadrat: Change Links Focus States"
Might be related to #3782, currently the focus state for links looks like this:

<img width="931" alt="Captura de ecrã 2021-05-17, às 13 10 46" src="https://user-images.githubusercontent.com/65220155/118486386-71698580-b711-11eb-942a-f2322d4699fb.png">

Here's how it should look with a dotted border:

<img width="796" alt="Captura de ecrã 2021-05-17, às 15 21 27" src="https://user-images.githubuse

[2021-05-17 15:45] kathrynwp commented on #3860
This is not actually a bug; Luxury uses its own social menu (rather than the Jetpack social menu, which Karuna and other newer themes use) which does not support those two services; you can see they're not in the list of supported icons here:

https://wordpress.com/theme/luxury/setup

Adding them in would be an enhancement to this older theme.

[2021-05-17 15:49] kathrynwp commented on #3860
As a workaround, user could add a Social Icons widget in the footer. That widget supports both TikTok and Snapchat.

![Notification_Center](https://user-images.githubusercontent.com/7662449/118518257-f058c100-b705-11eb-8265-b51a9dd794b1.jpg)

[2021-05-17 15:59] #3810 closed, assigned to nobody

[2021-05-17 16:06] #3867 closed, assigned to kjellr

[2021-05-17 16:09] jffng commented on #3868
What is the default state of a link that appears inside the body / post content?

[2021-05-17 16:24] beafialho commented on #3868
On post content, I imagine the reverse would happen: a link is underlined and the underline disappears on hover. Focus state is the same as described above.

[2021-05-17 16:37] kwight commented on #2964
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52757

[2021-05-17 16:37] #2964 closed, assigned to nobody

[2021-05-17 19:47] adelineyaw commented on #3860
I was looking at this support page https://wordpress.com/support/menus/social-links-menu/#supported-icons - but yes, I should've looked at the theme specific supported icons. Thank you @kathrynwp - I will follow up with the user.

[2021-05-17 20:57] #3806 closed, assigned to nobody

[2021-05-18 04:19] adelineyaw commented on #3473
I can replicate the issue from my test site as well. Changing the thumbnail image type (within the Blog Posts Block), doesn't get reflected on the front-end.

29618428-hc
3997908-zen

[2021-05-18 05:13] jordesign opened #3874 "Seedlet: Improve copy/text shown when user is 'Showing Latest Posts' on front page but has no public posts to show."
As part of the effort in https://github.com/Automattic/wp-calypso/issues/52806 to improve the default state for WPCOM sites when user has 'Showing Latest Posts' on front page but has no public posts.

### Steps to reproduce the behavior

1. Make sure your site has no public posts (no posts, or all posts set to be drafts)
2. Set Customizer > Home Page Settings to 'Show Latest Posts'

### What I exp

[2021-05-18 07:33] kspilarski opened #3876 "Editor: Different Font Loads At First"
## Steps to replicate

- Activate Editor theme
- visit your site

Screen recording: https://d.pr/i/WfkH3Z

![font](https://d.pr/i/WfkH3Z+)

## Result

- a different font will appear first, before displaying the actual site font.

## Expected

Site will load with the font set, instead of another font.

* User report: [3998084-zd] and self-testing.
* Follow-up ticket: [3998084-zd]

[2021-05-18 13:18] ghost opened #3877 "Lodestar: Opacity added to first panel"
## Steps to replicate
1. Activate Lodestar theme
2. Add homepage content
3. Set a background color
4. Observe opacity change on homepage content

![Screenshot](https://d.pr/i/xrEUS0+)
![Screenshot](https://d.pr/i/ECbTIk+)

## Result
When the background color was changed, the opacity of the homepage changed, almost like an overlay was applied to the page.
This CSS code is also added when you change

[2021-05-18 15:12] #3807 closed, assigned to nobody

[2021-05-18 15:13] MaggieCabrera opened #3878 "Quadrat: margins on mobile"
It looks like on mobile all the content goes straight to the edge of the viewport:

<img width="389" alt="Screenshot 2021-05-18 at 17 12 38" src="https://user-images.githubusercontent.com/3593343/118677202-5b84bf00-b7fc-11eb-9fae-301ab9dfe8c9.png">

[2021-05-18 16:18] kathrynwp commented on #3876
Hi there - this is not theme-specific, but instead a phenomenon called FOUT - Flash of Unstyled Text.

There are a few potential CSS workarounds for this, such as:

[code]

Closing as this is not a theme issue.

[2021-05-18 16:18] #3876 closed, assigned to nobody

[2021-05-18 17:52] ianstewart opened #3880 "Spearhead: Menu doesn't respond as expected to small viewport"
![image](https://user-images.githubusercontent.com/545779/118700008-c7a0fc00-b7d7-11eb-9615-39d6629f97ae.png)

Assumed the menu would be in the top right of the header.

Note: the theme might be leaking CSS in the toolbar as well (note my avatar in the screenshot) or there could be something else going on.

[2021-05-18 18:44] Robertght opened #3882 "Janice: Buttons block color settings not reflected in the frontend"
## Steps to replicate

1. Create a new page/post
2. Add a buttons block and change its colors

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

## Result

The colors remain as-is and they seem to be coming preset from the theme:

![image](https://user-images.githubusercontent.com/6737345/118706202-c2689f00-b821-11eb-8a91-ac47feb6af5f.png)

[2021-05-18 20:01] kwight commented on #3162
Closing in favour of https://github.com/Automattic/wp-calypso/issues/52757

[2021-05-18 20:01] #3162 closed, assigned to nobody

[2021-05-18 20:04] kwight commented on #2831
Possibly related: https://github.com/Automattic/themes/issues/3201

[2021-05-18 21:50] blackjackkent commented on #1977
I looked some into this today and tried to generate a new annotation for Dyad based on the demo site. It crashed with a bunch of errors (mostly relating to none of the demo site's posts having block editor content and most of the images being too big). I'm assuming this means this will entail a more manual approach so I will take a look into that tomorrow.

[2021-05-19 07:30] donalirl commented on #3201
Another report in #3993647-zen. Switching from static homepage to latest posts, then back to static homepage again seemed to solve it.

[2021-05-19 11:56] fstath commented on #3593
Another report in #4001599-zen

[2021-05-19 13:26] sixhours commented on #3162
I think this might have been fixed already, because the images loaded properly for me when I ran Headstart for Twenty Twenty One:

Demo site:
![tt1demo](https://user-images.githubusercontent.com/2124984/118820320-2a4fd180-b884-11eb-9ed7-93e63bf27c42.png)

My Headstarted sandbox:
![tt1sandbox](https://user-images.githubusercontent.com/2124984/118820355-30de4900-b884-11eb-9d1b-e99361ced8e4.png)

[2021-05-19 13:42] jffng opened #3884 "Remove `experimental` prefix from `theme.json`"
We can now remove the `experimental` prefix from `theme.json`.

See https://github.com/WordPress/gutenberg/pull/29981

[2021-05-19 15:30] kwight commented on #1977
@blackjackkent Connect with @sixhours too if you're getting blocked at all, she has experience with annotations.

[2021-05-19 15:39] sixhours commented on #1977
I've run into this, too. I skipped the preflight checks with `--skip-preflight-check` when generating new annotations because I'm not planning to import the huge images or do a complete 1:1 copy of the demo, I just cherry pick the elements I want to add to the existing annotation from the generated file.

[2021-05-19 15:43] beafialho commented on #3660
Worked on the theme description:

_Quadrat is a simple, versatile WordPress theme, designed for blogs and podcasts. Inspired by squared shapes and colourful, minimalist flat illustrations, Quadrat bundles a set of images you can use on your site with the theme’s default color palette. Quadrat’s default styles are bold and playful, relying on a simple sans-serif font and a strong color scheme that

[2021-05-19 16:44] jp-imagines commented on #3317
Another report in 29678192-hc.

[2021-05-19 16:53] scruffian commented on #3546
This is unblocked now

[2021-05-19 17:10] isocialtish commented on #3520
Another user report using Hever 29678721-hc

[2021-05-19 21:42] blackjackkent commented on #1977
Thank you for the help, @sixhours !

Diff open at D61635-code for this update.

[2021-05-20 00:26] supernovia commented on #3637
Another request here, for Hever:
https://wordpress.com/forums/topic/remove-featured-image-3/

[2021-05-20 00:45] jordesign opened #3887 "All Themes: Update text and link when there are no published posts"
### Steps to reproduce the behavior

1. Make sure your site has no public posts (no posts, or all posts set to be drafts)
2. Set Customizer > Home Page Settings to 'Show Latest Posts'

#### What I expected to happen

As a user I would expect to see any posts I've written (even if drafts) or *some* kind of content.

#### What actually happened

While in the Customizer I see some example content - I

[2021-05-20 00:46] supernovia opened #3888 "Gridiculous Pro: Separate Sidebars layout is broken"
## Steps to replicate
- Activate Gridiculous Pro
- Go to Customize; add widgets in the left and right sidebars & save
- Go to Customize > Layout, and choose the option with a sidebar on the left and right.

## Result
Note the widgets will overlap now:

![Screen Shot 2021-05-19 at 6 45 05 PM](https://user-images.githubusercontent.com/3476361/118902173-5a25c600-b8d2-11eb-8a7a-f9451182cde4.png)

## E

[2021-05-20 00:47] jordesign commented on #3887
This is also being discussed as part of the 'Design Selection' pod in this issue:
https://github.com/Automattic/wp-calypso/issues/52806

And I have a proof of concept (starting with Seedlet) for issue #3874 in this PR: #3875

[2021-05-20 12:17] jeffikus commented on #3892
@simison if this is a theme issue, can you please report it in https://github.com/Automattic/themes/issues/new

[2021-05-20 13:34] xpurichan opened #3892 "Verse block: theme compatibility issue - text cut off"
#### Summary
Adding "long" lines text inside of the Verse block can cause the text to run off of the block and it won't be shown. This seems to be based on the theme and how much width it allows for the main content column.

In this example we can see text being cut off in a Verse block within a page of the photo-blog theme:

![Screen Shot 2019-08-20 at 5 15 06 PM](https://user-images.githubuserco

[2021-05-20 14:05] AtrumGeost opened #3893 "Morden: On AT site, cannot change colors if the site is in Coming Soon mode"
## Steps to replicate

1. Activate the Morden theme
2. Be sure that the site is in Coming Soon mode on an AT site
3. Head over to "My Site" > Appearance > Customize > Colors & Backgrounds

## Result

When selecting colors nothing happens

## Expected

To be able to change colors while in Coming Soon mode

## Video

https://user-images.githubusercontent.com/3696121/118992632-6e0d0e80-b94a-11eb-93b6

[2021-05-20 14:09] jffng opened #3894 "Quadrat: fonts not loading on staging"
quadrat.mystagingwebsite.com does not load the custom fonts.

[2021-05-20 14:23] lulalala commented on #1802
@cathymcbride @nielslange
Instead, could this theme be licensed to MIT/GPL so we can fork it? Thanks.

[2021-05-20 14:55] #3832 closed, assigned to nobody

[2021-05-20 14:57] kjellr opened #3895 "Blank Canvas Blocks: Turn into a more generic "starting point" theme"
👋 I took a look at Blank Canvas Blocks with the idea of turning it into a more generic starting point for a block-based/universal theme. Here are the steps I think we should take to get there:

- [x] **Header/Navigation Template Parts:** Replace with the slim ones used in Quadrat.
- [x] **Index template:** Left-align all post titles, add a featured image block below the title.
- [x] **Current Sing

[2021-05-20 15:57] jffng commented on #3894
There is still some weirdness with the deploy to pressable, but at least this issue was fixed by a manual theme upload.

[2021-05-20 15:57] #3894 closed, assigned to nobody

[2021-05-20 16:37] jffng commented on #3661
I've updated this issue to reflect the primary concern for customization — being able to change theme colors via the customizer or FSE.

[2021-05-20 17:43] kjellr opened #3897 "Quadrat: Update Meta/Title spacing on small screens"
Really minor, but can we trim `20px` from the vertical spacing between the post meta and the title on mobile views? They feel a little far apart to me there. It can stay as is on larger screens.

Before|After
---|---
<img width="376" alt="Screen Shot 2021-05-20 at 1 41 08 PM" src="https://user-images.githubusercontent.com/1202812/119024530-28b00780-b971-11eb-9e16-514ade0c0861.png">|<img width="372

[2021-05-20 18:11] kjellr opened #3898 "Quadrat: Tidy up comment styles"
- Change comment content's font size to `var(--wp--preset--font-size--normal)` to mirror the article text size.
- Adjust space above + below comment content to `20px`.
- Add `30px` of vertical spacing in between comments.
- Add `60px` spacing between the last comment and the "Leave a Reply" header.

Before|After
---|---
<img width="828" alt="Screen Shot 2021-05-20 at 1 59 24 PM" src="https://user-

[2021-05-20 18:13] #3782 closed, assigned to nobody

[2021-05-20 19:49] Thelmachido opened #3900 "Eris: Columns block overlapping"
## Steps to replicate

- Add [Eris theme](https://erisdemo.wordpress.com/) to a simple site, on any page or post add the [Columns Block](https://wordpress.com/support/wordpress-editor/blocks/columns-block/).

- Add two columns to the block, within each column add the [Media & Text block](https://wordpress.com/support/wordpress-editor/blocks/media-text-block/).

- Set the Media & Text Block to disp

[2021-05-20 20:43] #3868 closed, assigned to nobody

[2021-05-20 21:48] jffng commented on #3805
This should be addressed by https://github.com/WordPress/gutenberg/pull/32070

[2021-05-20 22:31] sajmes commented on #3520
Another report here for Hever 29698414-hc (same user as [this comment above](https://github.com/Automattic/themes/issues/3520#issuecomment-844301943)).

Was able to offer a workaround by unchecking 'display mobile menu on the side' in customizer > menus > mobile settings. Menu is now functioning as expected on mobile for user and when I test on Safari on iOS.

[2021-05-21 06:03] mattreub opened #3901 "Maywood Custom Colours & Fonts"
## Steps to replicate

I am trying to use Gutenberg block editor, and I am using Maywood.

I would like to set a palette of colours to select from as I edit, along with changing and setting the default fonts for H1 H2 etc

It looks like there should be a way to do this inside Wordpress but I can't see how to do it without editing the CSS.

Is there a way of setting my own custom palette and defini

[2021-05-21 06:23] druesome opened #3902 "Illustratr: Can't Set Portfolio Page Template in Block Ediitor"
As per these [instructions](https://wordpress.com/theme/illustratr), to setup the Illustratr theme, we need to set the template of the homepage to the Portfolio Page Template.  However, this option is missing in the block editor.  There is only an option to set the Parent Page and Order.  The option is present if the page is edited in the Classic Editor, but most of our users no longer have this o

[2021-05-21 07:19] MaggieCabrera opened #3903 "Quadrat: Comments form on top of footer polygon"
Right now the header and footer polygons are visible on every page, this causes some overlap on single pages when the comment form is visible and I think it makes the textarea not very accesible. We could hide the footer polygon on single pages or make changes to the form so that it stands out more. @beafialho @kjellr I'd love your input on this issue, thank you!

<img width="1246" alt="Screenshot

[2021-05-21 08:57] MaggieCabrera commented on #3898
@kjellr the Reply button font-size is using em values and it's set at 13px. When I change the base font-size of the block, that makes the buttons bigger. I haven't seen them on the design. How do you want them to be related to the rest of the font sizes of the block? This is what it looks like after I use `var(--wp--preset--font-size--normal)` on the block:

<img width="817" alt="Screenshot 2021-0

[2021-05-21 09:39] #3902 closed, assigned to nobody

[2021-05-21 10:12] druesome commented on #2788
@ajaykj @susanjanec @AtrumGeost this is likely due to the Featured Images > Display on pages option being unchecked in the Customizer > Content Options.  Checking the box will resolve the issue.

[2021-05-21 11:44] #3582 closed, assigned to danieldudzic

[2021-05-21 11:53] beafialho commented on #3903
I think we can remove the shape in the footer, as it also simplifies it for pages where there's little content.

[2021-05-21 11:55] MaggieCabrera commented on #3903
Should we leave it only on the home page then?

[2021-05-21 12:05] #3591 closed, assigned to nobody

[2021-05-21 12:20] #3811 closed, assigned to nobody

[2021-05-21 13:27] carinapilar opened #3907 "Gema: Gallery display issue with Full-width alignment"
## Steps to replicate

- Activate "Gema" theme
- Create post or page
- Add the Galley Block and select some images
- Modify its alignment setting and set it to "Full-width"

## Result

Full-width isn't being applied to Gallery blocks.

## Expected

To have the Full-width alignment, as it does with other blocks.

## Screenshot

![FullWidthIssue](https://user-images.githubusercontent.com/16104522/11

[2021-05-21 13:42] jffng commented on #3898
Since Kjell is AFK maybe @beafialho can weigh in here.

[2021-05-21 14:06] beafialho commented on #3903
Yes, let's leave the polygon in the footer only in the home page and keep the polygon in the header on all pages.

[2021-05-21 14:38] beafialho commented on #3898
Looking at what @kjellr had in the screenshots above, I think the buttons text can be set at 15pt (same size of the comment text) with the following dimensions:

<img width="693" alt="Captura de ecrã 2021-05-21, às 15 30 05" src="https://user-images.githubusercontent.com/65220155/119154266-e7d7f180-ba49-11eb-85cd-452e658877f2.png">

I suggest we change these buttons to be with a border instead of

[2021-05-21 18:30] sajmes opened #3910 "Twenty Twenty: Fonts chosen in Customizer not being applied to Form Block labels"
## Steps to Replicate

1. Go to customize > fonts and select custom fonts for Headings and Base Font. (in this case headings = overpass and base font = open sans)
2. Add a form block to a page on the site.
3. Preview page.

## Result

The font used on the form labels appears correct while editing but does not match custom font when previewing. The font reverts to the form default of Hoefler Text o

[2021-05-21 21:40] #3814 closed, assigned to nobody

[2021-05-22 13:09] ktyfuller604 opened #3912 "Profile: Social Template Content in Blocks Off-Screen"
## Steps to replicate

* Create a page and add full-width blocks to the page
* Note on preview and publish, the blocks look correct
* Change the Page Template to "Social Page"
** This also happens with the "Three Column" template, but none of the others (default, home, and full width)
* Note the full-width blocks align to the left, slightly off-screen.

This could be this same issue that was resol

[2021-05-22 15:22] AtrumGeost commented on #2788
That's a cool TIL. Thank you @druesome ! Should we close this issue?

[2021-05-23 04:21] jordesign opened #3913 "Varia: Update text and link when there are no published posts"
As per #3887 - can we please update the content that is shown when a user has 'Latest Posts' selected for the Front Page, but no published posts.

### Steps to reproduce the behavior

1. Make sure your site has no public posts (no posts, or all posts set to be drafts)
1. Set Customizer > Home Page Settings to 'Show Latest Posts'

When previewing the front end of the site - text is shown which is a

[2021-05-23 04:25] jordesign commented on #3913
I have a PR prepared for this in #3914

[2021-05-23 12:56] AtrumGeost opened #3915 "Blank Canvas: Not reflecting background color in the editor"
## Steps to replicate

1. In the Customizer set background color, for instance, black
2. Notice in the editor the background color is still white

## Result

The background color in the editor is still the same independent of the settings in the Customizer

## Expected

For the background color to change for a better WYSIWYG experience like on the Rivington theme

* User report: 29476467-hc

[2021-05-23 21:55] katiebethbrown commented on #3723
Another report in 4012291-zd-woothemes.

Hiding the credit removes "WordPress.com" but leaves the `Funciona gracias a`  text. (Spanish language site).

I shared CSS to hide the remaining portion of the credit.

[code]

[2021-05-24 06:56] kristarella opened #3916 "Barnsbury: mobile menu hierarchy doesn't display in Firefox"
## Steps to replicate

- View site with submenus in Chrome and Firefox

## Result

- In Chrome there are dashes to indicate menu hierarchy
- In Firefox there are not

### Chrome
<img width="423" alt="Screen Shot 2021-05-24 at 16 48 26" src="https://user-images.githubusercontent.com/2031017/119308360-4a322b80-bcb0-11eb-81d0-c3fca2448a83.png">

### Firefox
<img width="373" alt="Screen Shot 2021-05-2

[2021-05-24 08:18] pauljacobson commented on #3754
We have a similar report in 3944450-zen where the user tested this on an iOS device, both in Safari and Chrome. Clearing the browser cache didn't help with this. The user is using the Appetite theme.

I wasn't able to reproduce this in Chrome or Firefox on my Android 10 device.

https://user-images.githubusercontent.com/2912202/119318022-7bdfce00-bc81-11eb-859a-a248ef026a45.MP4

[2021-05-24 12:02] #3897 closed, assigned to nobody

[2021-05-24 15:47] jffng commented on #3895
4/5 items addressed by #3908.

Do we need this one or is it be covered by the template creation feature?

[2021-05-24 15:59] KirkwallDay opened #3942 "Buttons and Combo Boxes do not Render Properly in Forms Block on Olsen Theme"
Combo boxes and buttons are not rendering properly when using the Contact Form block with Olsen Theme on simple sites

### Steps to reproduce the behavior

1. Have a site with the Olsen theme on a simple site.
2. Add the contact form block to any page, choose "Registration" as that one contains both elements that are affected.
3. The block will look OK in the editor. Preview or publish the page.
4

[2021-05-24 17:28] aleone89 commented on #2326
Hello, I enchanted this issue here: hc-26424663
In this instance a header block was being added to the content and being centred, but this centralisation was not reflecting on the homepage.

[2021-05-24 20:10] #3903 closed, assigned to nobody

[2021-05-24 20:15] #3898 closed, assigned to nobody

[2021-05-25 04:14] #727 closed

[2021-05-25 04:24] Robertght commented on #1639
Same issue on #4010792-zen - the workaround doesn't seem to work anymore for the portfolio panels.

[2021-05-25 08:41] Aljullu opened #3932 "Blockbase: styles are not loaded correctly in Atomic sites"
## Steps to replicate

1. Create a Business site in .com.
2. Create a page with an HTML block like these and verify it looks correct (see screenshot below):
[code]
3. Once the site is created, install an extension. I tried with WooCommerce and Yoast SEO.
4. It will tell you the domain will change from `wordpress.com` to `wpcomstaging.com`.
5. Refresh the page you created in step 2 and notice style

[2021-05-25 10:05] liviopv opened #3941 "Business: "Hide Homepage Title" hides posts titles when using the Blog Posts Block"
## Steps to replicate

1. Add a Blog Posts Block to the front page
2. Go to Customize > Homepage Settings
3. Select "Hide Homepage Title"

## Result

The homepage title will be hidden, but the titles of the posts called by the Blog Post Block will be hidden as well.

![Screenshot](https://d.pr/i/C8dswO+)
Screenshot: https://d.pr/i/C8dswO

## Expected

Only the page title should be hidden

* User r

[2021-05-25 12:01] kjellr commented on #3805
👍 Thanks, I'll close for now.

[2021-05-25 12:01] #3805 closed, assigned to nobody

[2021-05-25 12:41] kjellr commented on #3895
I think it's covered by the template creation feature, though I haven't personally tested that in a block-based theme. Will it produce a totally blank template there?

[2021-05-25 12:52] poojashetty18 commented on #3365
Another report: 29782261-hc
Theme: Barnsbury having the same button color issue as reported earlier

[2021-05-25 13:06] bobmatyas opened #3946 "Eris: Link Buttons Added in 3 Columns Don't Work Properly"
## Steps to replicate

Using the code at the bottom of this page (copied from source, it was added to page using Block Editor). Buttons don't work properly. In the 3 column layout, only two of the buttons are clickable.

Using the theme Eris, buttons do not work properly (screencast):

https://d.pr/v/jl2gmb

In other themes (for example Seedlet), the link buttons work properly as shown in this scr

[2021-05-25 13:52] jffng commented on #3895
Tested with blockbase just now. It looks like creating a new template from a post / page will produce a template that pulls in the header, separator, post title, and post content (no footer, which is weird):

<img width="1282" alt="Screen Shot 2021-05-25 at 9 49 19 AM" src="https://user-images.githubusercontent.com/5375500/119509619-a5523580-bd25-11eb-92f7-9ddb5a610b86.png">

You can delete the bl

[2021-05-25 14:40] kjellr commented on #3895
Yeah, that's weird. Might be worth an issue? I think a blank template option is warranted in this case.

Also, I added a new checklist item here to provide a new theme screenshot. I'll work on that later today.

[2021-05-25 14:49] #3789 closed, assigned to pbking

[2021-05-25 16:20] jffng commented on #3895
https://github.com/WordPress/gutenberg/issues/32211

[2021-05-26 01:40] ericamQA commented on #3518
Another instance of this in 4012751-zen

Also restaurant theme, unlickable featured pages

[2021-05-26 13:02] kjellr opened #3951 "Blockbase: More block appears out of alignment"
On the front end, the more block appears out of alignment with there rest of the text:

<img width="1637" alt="Screen Shot 2021-05-26 at 9 01 04 AM" src="https://user-images.githubusercontent.com/1202812/119664107-026ee980-be01-11eb-8951-f4a8439063d3.png">

[2021-05-26 13:31] kjellr opened #3952 "Blockbase: Replace theme screenshot"
A subset of #3895.

We have a few options for replacing this image, and I'd like to get some thoughts from @melchoyce and @beafialho. Since the theme is meant to be as barebones as possible, it is not shipping with any block patterns at all. What do you think of these options? Any other recommendations? I kind of lean towards the simplicity of that last one, though I worry it may lead folks to bel

[2021-05-26 14:38] metabreakr commented on #3362
3995054-zen using the `button-2` theme.

Also saw this reported with Storefront: https://wordpress.org/support/topic/using-a-read-more-block-causes-the-excerpt-link-to-be-shown-twice/

Update: User in 3995054-zen was able to resolve the issue by removing and then re-adding back the more block.

[2021-05-26 14:48] jffng commented on #3653
After discussing with the team, I don't think this within the realm of the theme to solve, especially not for v1.

Gutenberg needs to eventually expose a mechanism to translate strings inside block templates, strings + labels that are rendered by FSE blocks, etc. ~This is a known and tracked stream of work.~

_Edit_
I'm not sure where i18n of FSE is on the roadmap or but here are a couple related

[2021-05-26 15:05] danieldudzic commented on #3910
This has been now fixed via r58997

[2021-05-26 15:05] #3910 closed, assigned to nobody

[2021-05-26 15:25] danieldudzic commented on #3833
@ianstewart Is there a deeper reason for this alignment preference?

I have checked Twenty Twenty One and Twenty Twenty and the Smiley is left aligned. In Varia it's hidden.

[2021-05-26 15:33] beafialho commented on #3952
The most inviting would be Option 3 but like you said and well, it can look like a portfolio, so perhaps something in between like Option 2 but with an appealing image, with more color. Maybe even in a blue like the accent color, could look good:

<img width="952" alt="Captura de ecrã 2021-05-26, às 16 32 27" src="https://user-images.githubusercontent.com/65220155/119688623-0d953a00-be40-11eb-8d23

[2021-05-26 15:56] kjellr commented on #3952
Yeah, now that you mention it, the image is definitely not appealing. 😄 I'll do some more digging.

[2021-05-26 17:01] melchoyce commented on #3952
A simple, colorful image seems like a good direction to help it stand out — especially when looking at https://wordpress.org/themes/, where a lot of the top themes use muddier or more complicated images. Having a clear focal point could also help, I think.

Some other ideas:

- https://stocksnap.io/photo/maldives-couple-Z2FVSJZAEN
- https://stocksnap.io/photo/husky-animal-LN2XAPQLBI
- https://stoc

[2021-05-26 18:53] danieldudzic commented on #3799
Fixed via r58998

[2021-05-26 18:53] #3799 closed, assigned to nobody

[2021-05-26 19:35] sixhours commented on #1977
Annotations were deployed in D61635-code

[2021-05-26 19:35] #1977 closed

[2021-05-26 20:29] melchoyce commented on #3952
Chatted a bit with @kjellr and @beafialho about this, and we decided to use public domain artwork instead of photography. Here are two options:

[The Water Fan](https://www.rawpixel.com/image/3044775/free-illustration-image-ship-water-man) | [Mount Fuji From Mizukubo](https://www.rawpixel.com/image/3064491/free-illustration-image-japanese-japanese-art-japan)
------------ | -------------
![image](h

[2021-05-27 00:45] danieldudzic commented on #3628
This has been now fixed via r58999

[2021-05-27 00:45] #3628 closed, assigned to nobody

[2021-05-27 02:54] happychait opened #3957 "Ixion: No padding in the Group block"
### Steps to reproduce the behavior

1. Activate Ixion theme.
2. Add a page
3. Choose a page template that has a Group block. Or Group some blocks and set the background color.
4. Publish the page.

#### What I expected to happen

Some padding between the borders of the Group block and content.

#### What actually happened

Content sticks to the border of the Group block.

#### Screenshot / Video:

[2021-05-27 08:27] beafialho commented on #3952
I love that we're using artwork here, IMO "The Water Fan" seems to blend better with the accent color.

[2021-05-27 12:01] kjellr commented on #3952
Great, thanks! Let's use the Winslow Homer one. I'll open a PR shortly.

[2021-05-27 12:02] #3747 closed, assigned to nobody

[2021-05-27 12:05] #3952 closed, assigned to kjellr

[2021-05-27 12:12] kjellr opened #3960 "Quadrat: Add license information for bundled images and illustrations"
These should be described as created specifically for the Quadrat theme, attributed to Automattic + @beafialho, and listed as CC0.

[2021-05-27 12:38] pauljacobson opened #4005 "Post publication dates: Dates incorrectly formatted in the editor"
One of our customers reached out to us about their posts that seem to be published a day later than their intended publication date. During the course of troubleshooting this issue with the customer, they pointed out a weird formatting issue affecting the publication dates for their posts.

### Steps to reproduce the behavior

1. Go to _Posts_
2. Click on a post to open it in the editor
3. Take a

[2021-05-27 12:41] #3804 closed, assigned to nobody

[2021-05-27 15:34] jffng commented on #3951
I just tried to recreate, but it seems to be fixed:

<img width="786" alt="Screen Shot 2021-05-27 at 11 32 41 AM" src="https://user-images.githubusercontent.com/5375500/119854733-2c3e1400-bec6-11eb-819b-eee7a977a08a.png">

 I think this was resolved by recent alignment refactors in Gutenberg + blockbase.

Closing but please re-open if it's still an issue.

[2021-05-27 15:34] #3951 closed, assigned to nobody

[2021-05-27 15:36] jffng commented on #3546
Is there a design target for this now that the above PRs were merged? cc @kjellr

Current state:
<img width="729" alt="Screen Shot 2021-05-27 at 11 35 30 AM" src="https://user-images.githubusercontent.com/5375500/119855332-a9698900-bec6-11eb-9219-e9031cb45fbe.png">

[2021-05-27 15:37] kjellr opened #3963 "Blockbase: Left and right mobile padding is incorrect"
We should have `20px` of padding on the left and right of the header, post titles, featured image, and post content.

Current|Proposed
---|---
<img width="375" alt="Screen Shot 2021-05-27 at 11 34 54 AM" src="https://user-images.githubusercontent.com/1202812/119855234-bcd51e00-bedf-11eb-897f-84e71697a945.png">|<img width="375" alt="Screen Shot 2021-05-27 at 11 35 44 AM" src="https://user-images.gi

[2021-05-27 15:43] kjellr commented on #3546
Not yet. In general, I think the sorts of font size changes we made in Quadrat should be moved back here, but I'll take a closer look.

[2021-05-27 15:51] kjellr opened #3964 "Blockbase: Add additional vertical padding between header and post titles"
I recommend `40px` of additional padding. Please ensure that the post title position is identical when navigating between the topmost post on an archive page and the single post page.

Before|After
---|---
<img width="1310" alt="Screen Shot 2021-05-27 at 11 46 49 AM" src="https://user-images.githubusercontent.com/1202812/119857689-c5c6ef00-bee1-11eb-8200-b70355f833d8.png"><img width="1310" alt="Sc

[2021-05-27 16:00] kjellr commented on #3964
Actually well we're at it, let's add that same additional `40px` of padding in between each post in the query list too:

Before|After
---|---
<img width="822" alt="Screen Shot 2021-05-27 at 11 59 32 AM" src="https://user-images.githubusercontent.com/1202812/119859121-15f28100-bee3-11eb-8c75-c213f8801215.png">|<img width="822" alt="Screen Shot 2021-05-27 at 12 00 02 PM" src="https://user-images.git

[2021-05-27 16:11] kjellr opened #3965 "Blockbase: Change navigation font size to 18px"
Let's update the navigation font size be 18px, to match the site title and default text size throughout the site. (It is currently set to 16px).

Before:

<img width="630" alt="Screen Shot 2021-05-27 at 12 10 34 PM" src="https://user-images.githubusercontent.com/1202812/119860660-8ea60d00-bee4-11eb-87c8-47fc0328ecbd.png">

After:

<img width="629" alt="Screen Shot 2021-05-27 at 12 10 27 PM" src="h

[2021-05-27 16:17] kjellr opened #3966 "Blockbase: Default outline button color is black instead of blue"
When you switch the button style from default to outlined, the button appears black instead of blue. I expected it to remain blue, but have that color apply to the outline and text by default:

Current|Expected
---|---
<img width="379" alt="Screen Shot 2021-05-27 at 12 13 29 PM" src="https://user-images.githubusercontent.com/1202812/119861418-5eab3980-bee5-11eb-88e8-6942a933ee22.png">|<img width="

[2021-05-27 16:23] #833 closed

[2021-05-27 16:23] #834 closed

[2021-05-27 16:27] #835 closed

[2021-05-27 16:28] #836 closed

[2021-05-27 16:43] kjellr opened #3967 "Blockbase: Missing pagination for the query template."
Blockbase's main `index` query template is missing pagination.

[2021-05-27 16:44] #912 closed

[2021-05-27 16:45] #918 closed

[2021-05-27 16:47] kjellr opened #3969 "Blockbase: Quote has too much margin on top of the paragraph"
The first paragraph inside of the quote block should have no top margin. This is only an issue on the frontend, but it effects both the default and "Large" variants of the quote block.

Current|Recommended
---|---
<img width="675" alt="Screen Shot 2021-05-27 at 12 45 37 PM" src="https://user-images.githubusercontent.com/1202812/119865304-8bf9e680-bee9-11eb-9e42-acada2331efc.png">|<img width="654"

[2021-05-27 16:48] #919 closed

[2021-05-27 16:48] #920 closed

[2021-05-27 16:50] #921 closed

[2021-05-27 16:59] #847 closed

[2021-05-27 16:59] #848 closed

[2021-05-27 16:59] #849 closed

[2021-05-27 16:59] #850 closed

[2021-05-27 16:59] #851 closed

[2021-05-27 16:59] #852 closed

[2021-05-27 17:36] #1676 closed

[2021-05-27 21:30] scruffian commented on #3878
This was fixed by #3961

[2021-05-27 21:30] #3878 closed, assigned to nobody

[2021-05-27 21:45] deancroyal commented on #3467
A user came to us in the WordPress.com support forums to share this same experience: https://wordpress.com/forums/topic/colors-change-from-what-i-have-selected/

Here's an example gif of how this is currently working.

<img src="https://user-images.githubusercontent.com/13387217/119900092-dfbffc00-bef8-11eb-879f-d5d41e2231ae.gif" width="600">

**I expected** the orange color I set to display as he

[2021-05-27 21:51] #3965 closed, assigned to pbking

[2021-05-28 08:18] Aljullu commented on #3932
Heads-up that I was able to reproduce as well with Seedlet Blocks, so this might not be related to the theme but to the process of converting the site to Atomic?

| Before installing a plugin | After installing a plugin |
| --- | --- |
| ![imatge](https://user-images.githubusercontent.com/3616980/119953266-1c91fe80-bf9e-11eb-8d4a-3706911b21cc.png) | ![imatge](https://user-images.githubusercontent.

[2021-05-28 09:01] Aljullu opened #3975 "Blank Canvas Block: Navigation block collapses to the left when selected"
## Steps to replicate

Reported in pca54o-1mt-p2#comment-1886.

I was able to reproduce this as well:

_Navigation block unselected:_
![](https://user-images.githubusercontent.com/3616980/119958701-9082d580-bfa3-11eb-8c3f-dbd245534b62.png)

_Navigation block selected:_
![](https://user-images.githubusercontent.com/3616980/119958750-9d9fc480-bfa3-11eb-912c-4333acc249c8.png)

## Expected

I expected

[2021-05-28 09:04] #1854 closed

[2021-05-28 10:25] #2133 closed

[2021-05-28 11:15] donalirl opened #3976 "Canape: Post Carousel Block Display Issue"
## Steps to replicate

1. Insert a [Post Carousel block](https://wordpress.com/support/wordpress-editor/blocks/posts-carousel-block/) onto any page or post.
2. View the page with the Canape theme active.

## Result

Display issues include:
* The post meta (author, date, and category) elements pushed outside of the block
* The `swiper-container` container element height collapses

![image](https://

[2021-05-28 11:28] vinnykaur opened #3977 "Baskerville 2: Image compare block is distorted"
## Steps to replicate

1. Create a page or post.
2. Add the [image compare block](https://wordpress.com/support/wordpress-editor/blocks/image-compare-block/)

## Result

The arrows on the comparer are messed up. One is inside the circle, the other is floating up in the middle of the images.
Screenshot:
![](https://d.pr/i/EWSELC+)

_If the image doesn't load, please click here:_ https://d.pr/i/EWSE

[2021-05-28 11:34] vinnykaur commented on #2072
One more here 29760388-hc

[2021-05-28 13:19] #3966 closed, assigned to pbking

[2021-05-28 13:26] #3967 closed, assigned to nobody

[2021-05-28 13:29] #3969 closed, assigned to pbking

[2021-05-28 18:38] #3963 closed, assigned to nobody

[2021-05-29 12:21] zdenys opened #3979 "Twenty Twenty: Heading block apparent size in the Editor is inconsistent"
## Steps to replicate

- Add a [Heading Block](https://wordpress.com/support/wordpress-editor/blocks/heading-block/) which will be of H2 size by default
- Transform the block into a [Group Block](https://wordpress.com/support/wordpress-editor/blocks/group-block/) or drag the block into another block such as [Media & Text Block](https://wordpress.com/support/wordpress-editor/blocks/media-text-block

[2021-05-29 18:03] ChrissiePollock opened #6092 "Coraline theme has a donation button conflict"
This issue was reported on #28430086-hc and I was able to replicate on a test site.

### Steps to reproduce the behavior

1. Go to a site on the Business or eCommerce plan.
2. Set the theme to one that has a right sidebar on the front page. I personally used Simple Writer and also tested with Highstarter.
3. Notice that the widgets show on the homepage. The homepage was set for posts to show.
4. A

[2021-05-30 08:44] ivan-ottinger commented on #2539
Another report: 4027769-zd-woothemes

[2021-05-31 08:16] formosattic opened #3980 "Stow - Foreground color can make text invisible in the editor"
## Steps to replicate

1. Select the default color palette with a white Foreground Color.
2. Open a new editor and type (title, content)
![Markup on 2021-05-31 at 16:11:58](https://user-images.githubusercontent.com/15944096/120162421-f1700f00-c22a-11eb-92fb-7cbabb77788b.png)

## Result

Text is white so will look invisible.
![troubleshooting](https://user-images.githubusercontent.com/15944096/1201

[2021-05-31 09:10] MaggieCabrera opened #3981 "Blockbase: Add a main element to wrap the template content"
As a part of the [requirements for .org submission](https://themes.trac.wordpress.org/ticket/100060#comment:2), Blockbase needs to have a skip link. Luckily this [is done automatically](https://github.com/WordPress/gutenberg/pull/30336) for block themes, we just need a `main` element in the markup for the link to point to that is wrapping the content.

[2021-05-31 09:20] MaggieCabrera commented on #1502
This should have been fixed by https://github.com/Automattic/themes/pull/1609. Needs testing.

[2021-05-31 09:54] pauljacobson commented on #3666
I have received a report of what seems to be a related issue in 4024371-zen. In this report, the user added a Tiled Gallery Block below the site menu, and while the images are hyperlinked, they don't respond when clicked normally.

Interestingly, you can right click on an image, and open it in a new tab. Here's a demo of my attempts to click on the images, and surrounding links:

https://user-imag

[2021-05-31 10:54] liviopv opened #3983 "Ippo: Video Post Format is not compatible with Vimeo and Youtube Blocks"
## Steps to replicate

1. Add a Vimeo or Youtube Block at the top of a post
2. Switch the Post Format to "Video"

## Result

The video will not be showing in post list:

![Screenshot](https://d.pr/i/Vp4FHr+)
Screenshot: https://d.pr/i/Vp4FHr

Or on the post itself:

![Screenshot](https://d.pr/i/8hH9No+)
Screenshot: https://d.pr/i/8hH9No

## Expected

It should behave like the Video Post on the dem

[2021-05-31 11:05] poojashetty18 opened #3984 "Rosalie: Reading Time Calculation"
## What happened:

A user came on chat mentioning that the Reading time calculated on their posts are not accurate and it seems to display more time as compared to the Reading time on LinkedIn for the same posts.

## Expected

On checking the theme code, it looks like the $words variable actually splits more stuff up than words in the code and counts all white space as well (/\s+/)

* User report:

[2021-05-31 16:07] danieldudzic commented on #3517
I'm seeing issues when setting the Blog Posts block to Wide or Full-width.

![Notification_Center](https://user-images.githubusercontent.com/905781/120218938-be357c00-c23a-11eb-9fb1-b828e9262348.png)

The above CSS fix doesn't resolve the issue for me, as it seems to be related to the incorrect cropping of the image coming from the block: https://x.files.wordpress.com/2021/01/visit_opening_hours_1

[2021-05-31 16:43] MaggieCabrera commented on #3517
I have tried this with very vertical and very horizontal images and they all get cropped to the same ratio. This seems to be the intended effect from the block but it causes some images to expand too much if their original ratio is too different from the cropped one, even more so on full or wide width where the image will be stretched even further. Having an option to change the ratio would help w

[2021-05-31 20:55] danieldudzic commented on #3517
Thanks @MaggieCabrera,

I'm closing this in favor of: https://github.com/Automattic/newspack-blocks/issues/711

[2021-05-31 20:55] #3517 closed, assigned to nobody

[2021-05-31 22:03] danieldudzic commented on #3370
I definitely see the issue on the staging site, but I'm also clueless as to what's causing it.

An hour of trying to debug this yielded no results.

@jeffikus ?

[2021-05-31 22:59] danieldudzic commented on #3625
I was able to observe the issue in the Customizer.

Can you please confirm that this is also happening in the front end?

[2021-06-01 02:59] danieldudzic commented on #3723
This is the good ol' Footer credits issue: pNEWy-cyw-p2

[2021-06-01 03:56] danieldudzic commented on #3619
I have added a fix via r59017

Review request: @MaggieCabrera @jeffikus

[2021-06-01 08:59] zdenys commented on #2100
I had a user in 26355222-hc who is still experiencing the issue on Redhill theme, even on the demo site Pb8PuN-9-p2

[2021-06-01 10:40] danieldudzic commented on #3833
Perhaps we could just hide it like in Varia / Seedlet.

[code]

[2021-06-01 10:49] danieldudzic commented on #3631
Proposed fix via r59021

Review request: @jeffikus @MaggieCabrera

A further improvement would be to hide the stats smiley, which now will be visible during the transition (https://github.com/Automattic/themes/issues/3833#issuecomment-852020843)

[2021-06-01 14:52] andres-blanco commented on #3125
@kwight @ianstewart I've made some progress on this. I took the functionality mostly from seedlet, but there's something to be aware of, the title in the "Homepage" (the one marked in /pages)[ is not being rendered](https://themes.trac.wordpress.org/browser/twentytwentyone/1.1/template-parts/content/content-page.php#L16), so when you toggle the checkbox in the customizer it does nothing visible. Y

[2021-06-01 15:45] jeffikus commented on #1502
I can test this first thing tomorrow.

[2021-06-01 17:03] DanielSmithMichigan commented on #3593
The banner at the top is called the "marketing bar."

It looks like when the marketing bar is loaded, some CSS files are loaded with it. Those CSS files [give the root 'HTML' element a margin](https://user-images.githubusercontent.com/10274366/120362267-e2479a80-c2d8-11eb-91f1-4c50b5a2e079.png). This margin isn't respected by the menu, because it is positioned absolutely:

[code]

The issue might

[2021-06-01 17:24] sixhours commented on #3913
It looks like the corresponding PR was merged, so I'm going to close it out. Nice work @jordesign !

[2021-06-01 17:24] #3913 closed, assigned to jordesign

[2021-06-01 17:30] csonnek commented on #1664
User in https://wordpress.com/forums/topic/gallery-tiles-stretched/ has the same issue that @liviopv reported:

![tiled](https://user-images.githubusercontent.com/2814452/120366287-17ea8480-c2d5-11eb-8514-8257bfd8f282.jpg)

[2021-06-01 18:11] danieldudzic commented on #3370
Together with @jeffikus, we were able to pinpoint the culprit - and it seems to be a bug in Jetpack.

Closing in favor of: https://github.com/Automattic/jetpack/issues/20001

[2021-06-01 18:11] #3370 closed, assigned to nobody

[2021-06-01 18:16] jffng commented on #2043
Thanks @itowhid06! Based on the discussion in the core ticket you linked above, it's not clear to me that `<strong>` needs to be used here for screen readers.

So, I don't think introducing the comment walker here is worth the effort to refactor the styling and test across all Varia + child themes.

That said, we should remove the comment walker class from Varia as it is not used.

[2021-06-01 18:16] #2043 closed

[2021-06-01 18:21] jffng commented on #2172
Going to close this one since block based theming has matured and we want to invest more time / documentation efforts there.

[2021-06-01 18:21] #2172 closed

[2021-06-01 18:24] jffng commented on #2097
Fixed in Gutenberg, just tested and verified with IP2.

[2021-06-01 18:24] #2097 closed

[2021-06-01 18:29] jffng commented on #1984
Tested and verified the font sizes when set via presets now match in the editor and front.

[2021-06-01 18:29] #1984 closed

[2021-06-01 19:04] jffng commented on #3198
Hey @arcangelini thanks for reporting — I tried to replicate on my simple site with Blank Canvas and Seedlet, but could not.

Also the screenshots in the issue are broken links. Going to close this but please re-open if it persists.

[2021-06-01 19:04] #3198 closed, assigned to nobody

[2021-06-02 06:28] Robertght opened #3990 "[Barnsbury] Last menu item containing a submenu will partially render outside the screen"
## Steps to replicate

1. Create a menu and make sure the last one has a submenu with a longer title.
2. Check the results

## Result

![image](https://user-images.githubusercontent.com/6737345/120433563-0c09cb80-c384-11eb-9bea-0ee9f9bb917a.png)

The menu item is outside the screen.

## Expected

To have it within the screen.

* User report: 29884215-hc
* Follow-up ticket: 4036633-zen

The workaro

[2021-06-02 09:51] jeffikus commented on #1919
Confirmed that I experienced this but I want to test this further to make sure it's not a UX issue.

[2021-06-02 12:45] nielslange commented on #3984
Hello @poojashetty18 👋 As the Rosalie theme is a premium theme from a 3rd party developer, I moved your report to https://wpcom-premium-themes.trac.automattic.com/ticket/3356.

[2021-06-02 12:45] #3984 closed, assigned to nobody

[2021-06-02 13:54] pbking commented on #802
I was not able to reproduce this. Captions appear centered in both the editor and the view for this theme. Alignment is correctly being applied by the block.  Likely this has been addressed in Gutenberg since this was reported.

![image](https://user-images.githubusercontent.com/146530/120492837-6ad14400-c388-11eb-940f-6829181abd21.png)

Closing this item.  Though if the problem persists then plea

[2021-06-02 13:54] #802 closed

[2021-06-02 14:06] #3981 closed, assigned to nobody

[2021-06-02 14:44] pbking commented on #1797
This was an issue in the block and has been addressed via [this PR](https://github.com/Automattic/newspack-blocks/pull/766) in that project.

[2021-06-02 14:45] mikeicode opened #3991 "Varia: Related posts alignment issue"
Some Varia themes (Exford and Hever have been tested) show the Related posts aligned to the left, not centered.

## Steps to replicate

* Activate Related posts on a site using Exford or Hever
* View alignment on post

## Result

![https://d.pr/i/mk1oxK](https://d.pr/i/mk1oxK+)

## Expected

Should be centered, used this to resolve:

[code]

* User report: Hever: 29475004-hc
* User report: Exford:

[2021-06-02 14:58] pbking commented on #1413
This is fixed in this change: c-D62193

Before:
![image](https://user-images.githubusercontent.com/146530/120503614-74ab7500-c391-11eb-8966-217325c52e58.png)

After:
![image](https://user-images.githubusercontent.com/146530/120503546-65c4c280-c391-11eb-9d20-100b763da65c.png)

[2021-06-02 15:16] danieldudzic commented on #3341
@MaggieCabrera was able to locate the cause of this issue.

It's the inline image styles, that Twenty Twenty One injects in images via:
[code]

I'm not 100% sure why it's being done in the first place, but a hacky fix would be to include a filter in the wpcom.php file and strip those inline image styles. An alternative solution would be to try and reset them using CSS like:
[code]

That said, I'm

[2021-06-02 15:58] andres-blanco commented on #3125
So after going over this with @blackjackkent we figured that applying this fix would be detrimental to the user experience. The theme is designed specifically to not show the home page title, so if you show the title it will look strange.

Without title (default behaviour, checkbox checked):
![image](https://user-images.githubusercontent.com/375980/120512735-fefbd500-c3a1-11eb-98d9-4dd7f45ca98c.pn

[2021-06-02 17:37] sixhours commented on #286
Diff at D62202-code

[2021-06-02 18:25] sixhours commented on #3125
@andres-blanco Following up on my review, I agree; I think this is a wontfix.

[2021-06-02 18:27] tellisbethel opened #3993 "Themes with Author Bio Content Option: Greek letters/language not displayed"
## Steps to replicate

1. Go to https://wordpress.com/me
2. Add the following to the About me section: H Έλλη Γλύτσου είναι μουσικός, επιχειρηματίας τα τελευταία 20 χρόνια, και εκπαιδευμένη στο referral marketing από τον Αμερικανό Guru του σύγχρονου networking, Dr Ivan Misner. Εκπροσωπεί τον παγκόσμιο Οργανισμό ΒΝΙ στην Ελλάδα. Στόχος της είναι να βοηθήσει τις μικρομεσαίες επιχειρήσεις της Ελληνικ

[2021-06-02 18:32] #3125 closed, assigned to andres-blanco

[2021-06-02 18:59] pbking commented on #756
Fix can be found here: c-D62215

Note that in the above change there appear to be additional changes in style-rtl.css which (from what I can tell) are simply because changes to the .scss were not compiled into that file before.

Before:
![image](https://user-images.githubusercontent.com/146530/120537171-fb247e80-c3b2-11eb-94c8-67ebd4e7552b.png)

After:
![image](https://user-images.githubuserconten

[2021-06-02 20:09] sixhours commented on #286
Fixed in r59029-wpcom-themes

[2021-06-02 20:09] #286 closed

[2021-06-02 21:05] ianstewart commented on #3833
If hiding it doesn't affect the performance of the stats smiley then hiding it works for me. (I don't know if hiding it affects it.)

Subjective aesthetic reasons: It looks strange. :)

[2021-06-02 22:26] danieldudzic commented on #1849
I have now committed a fix: r59030 & r59031

Review request: @jeffikus

[2021-06-02 22:38] DanielSmithMichigan commented on #3593
I found a better place for the code change, which is in the core-themes-compat code in wpcom.

I created differential D62228-code to show the change that I'm thinking about. Some details may change, such as the selector or the styling, but I will probably put the change into this file.

[2021-06-02 23:28] danieldudzic commented on #2355
I'm closing this in favor of: https://github.com/Automattic/themes/issues/1919

[2021-06-02 23:28] #2355 closed

[2021-06-03 01:23] maharzan opened #3995 "Blockbase: Do we still need sass?"
## Steps to replicate

I am trying to set this up but cannot figure this out. Sorry if its a newbie post. I was trying to complie ponyfill.scss to see if these files are used now as it doesn't seem to be. The settings seems to be coming from theme.json and css internally from wordpress?

## Result

While compiling I got this error:
Error: Can't find stylesheet to import.
 @import '~@wordpress/base

[2021-06-03 01:37] maharzan commented on #3975
I can confirm this to Blockbase too

[2021-06-03 02:24] maharzan commented on #3975
It looks like this is a gutenberg issue and when the + sign appears, the justify-content: space-between; property automatically puts equal spaces around the previous element thus it looks like its pushed to the left. I tried this css in the theme and it seems to fix it but I think it won't be a solution that fixes all..

    .block-editor-block-list__block .block-list-appender {
	margin: 0;
    }

[2021-06-03 12:39] jordesign commented on #3887
Resolved for:

* Seedlet in https://github.com/Automattic/themes/pull/3875
* Varia in https://github.com/Automattic/themes/pull/3914

[2021-06-03 12:40] jordesign commented on #3874
Closing this as it is resolved in https://github.com/Automattic/themes/pull/3875

[2021-06-03 12:40] #3874 closed, assigned to jordesign

[2021-06-03 13:18] pbking commented on #3995
Hi maharzan.  Sass is most definitely used to compile the CSS that blockbase uses.

Setting that up should only involve running `npm install` from the `/blockbase` directory.  That is supposed to include the `@wordpress/base-styles` package used for the standardized Gutenberg breakpoints that you reference.  Confirm installation by observing a `/blockbase/node_modules/@wordpress/base-styles` folde

[2021-06-03 13:24] pbking commented on #3975
This seems to happen in all themes and is an issue on the Navigation Block and should be [reported there](https://github.com/WordPress/gutenberg/labels/%5BBlock%5D%20Navigation) instead.

[2021-06-03 15:23] pbking commented on #3631
This change has been deployed.  If further changes are necessary please reopen this issue.

[2021-06-03 15:23] #3631 closed, assigned to danieldudzic

[2021-06-03 15:25] pbking commented on #3619
This change has been deployed.  Further changes are needed to also include HUGE font size.  (Update forthcoming here.)

[2021-06-03 15:34] pbking commented on #3619
A further change including "HUGE" font size can be found here: D62262-code using the size:
`'min(max(38px, 6vw), 96px)',`

Before:
![image](https://user-images.githubusercontent.com/146530/120671662-9bd07800-c45f-11eb-99bb-03742dcdee1b.png)
![image](https://user-images.githubusercontent.com/146530/120671780-b73b8300-c45f-11eb-9b96-1c82dfd14182.png)

After:
![image](https://user-images.githubuserco

[2021-06-03 15:37] pbking commented on #3619
A design eye would be appreciated with these font size changes: @kjellr

[2021-06-03 16:07] pbking commented on #1849
Confirmed that the fix addresses the issue.  Wasn't able to find anything negative caused by the change.  As the change has already been committed and deployed closing this issue.

[2021-06-03 16:07] #1849 closed

[2021-06-03 16:16] eduardozulian opened #3996 "Lens: dropdown menus getting cut off"
## Steps to replicate

1. Activate the theme
2. Add a menu
3. For the latest menu item, add some sub-menu items
4. Check the

## Result

Dropdown menus do not appear if the sub-menu is on the latest menu positions:

![Screen Shot on 2021-06-03 at 13:15:19](https://user-images.githubusercontent.com/1136160/120677747-caede600-c46d-11eb-9a06-0f657a806c64.png)

## Expected

To see all the items on the

[2021-06-03 18:19] pbking commented on #2111
I BELIEVE that this behavior will be addressed to what is explained as expected above by [this change](https://github.com/Automattic/themes/pull/3994).

In that change Varia & Children now introduce padding in top-level full-width groups (with or without a background color) which I believe addresses the original concern.

[2021-06-03 18:20] kjellr opened #3999 "Blockbase "Getting started" suggestions"
Hi folks! I spent a little bit of time this evening testing out Blockbase as a child theme, and I struggled a little bit during setup. Here are some issues that I ran into while trying it out:

- A command line tool for generating a child theme would be wonderful. Today, our instructions require you to do some copy/paste from existing themes.
- Currently, we say the theme requires "package.json, s

[2021-06-03 18:23] kjellr commented on #3619
This seems fine — you should consider sharing this change upstream to the main theme.

[2021-06-03 18:23] pbking commented on #3999
I think a generator script would be a super idea and would really cover all of the things you mention; positioning the parent/child correctly, ensuing all of the files are in place for an initial build out-of-the-box.  The generator script in theme-experiments copying emptytheme is something I used VERY heavily for a while so there's great advantage to that.

[2021-06-03 19:28] bobbingwide opened #4000 "Quadrat - description in style.css seems to have been copied from Mayland / Mayland blocks"
## Steps to replicate

style.css contains
[code]

## Result

The description wasn't as useful as I'd have hoped.

## Expected

A clearer explanation of the Quadrat theme.

Does it really work with WordPress 4.9.6 ?
And are the Tags valid?

* User report: [shortlink to chat/forum thread/ticket, ie 12345-hc]
* Follow-up ticket: [shortlink to ticket, ie 12345-zen]

[2021-06-03 19:57] pbking commented on #3619
Good that you mentioned that @kjellr.  We had that exact conversation while we were doing the work...

Thank you for the eyes on it.

[2021-06-03 20:46] JessBoctor commented on #1827
I am closing this since we will not be supporting IE 11 much longer anyways.

[2021-06-03 20:46] #1827 closed

[2021-06-03 20:48] pbking commented on #1798
Took another look at this today.  Still appears to be a problem despite the items noted above being merged already.  Doesn't appear to be theme-specific though and I would recommend against trying to overcome it in any of the themes.  Seems to be specific to the block and should be reported there instead.

[2021-06-03 22:07] blackjackkent commented on #3520
Opened a diff to fix this at D62296-code.

[2021-06-04 03:21] maharzan commented on #3995
@jffng Thank you for the detailed reply. I am actually trying to duplicate Blockbase and making few changes through block editor to make a new theme. Thus, I wanted to know where to add some custom css that the editor doesn't support. I wish things were made simpler without having to do all those command lines. :)

[2021-06-04 03:38] kosiew commented on #2633
Another case - #4039244-zen

@RafaelFunchal 's [workaround above](https://github.com/Automattic/themes/issues/2633#issuecomment-839715810) works.

[2021-06-04 05:42] formosattic opened #4002 "Intergalactic 2: Image Captions in editor are invisible/white"
In the editor (live page is ok), image captions are white, as if invisible, looks like the .is-dark-theme is applied when it shouldn't:

[code]

![image](https://user-images.githubusercontent.com/15944096/120751464-9bf17600-c53a-11eb-8efb-796143126054.png)

* Follow-up ticket: 4042339-zd-woothemes

[2021-06-04 06:48] jasmussen commented on #1798
We're releasing a new version of Layout Grid soon, so I wanted to see if I could bundle a fix. But from what I can tell, it appears to be both an editor issue, and to a smaller extent, a theme issue (more like a consequence of the editor):

![currently](https://user-images.githubusercontent.com/1204802/120757229-8e26fb00-c510-11eb-92eb-8b935db61901.gif)

Notice how the group has padding + backgrou