[2021-10-20 13:15] chad1008 commented on #3280
Thanks for the ping @davipontesblog. There was a similar report related to the recent Gutenberg release: https://github.com/Automattic/wp-calypso/issues/57043 (which I now see above, as _this_ issue was just mentioned _there_ yesterday ♾️

I was able to reproduce that issue in core, and reported it in https://github.com/WordPress/gutenberg/issues/35730

Where this issue has been quiet since May, I

[2021-10-20 13:35] pbking commented on #4860
Comments [here](https://github.com/WordPress/gutenberg/issues/35742#issuecomment-946744435) as to how to create this layout as-is leveraging nested rows.

2022 does the same and this looks like the best way to address this.

[2021-10-20 14:27] mikachan commented on #4651
Re-opened this to work on the following from @beafialho:

![image](https://user-images.githubusercontent.com/1645628/138112425-a95a8598-b696-4579-9ef2-2c77d3a653bd.png)

<img src="https://user-images.githubusercontent.com/1645628/138112476-69073aa6-5f6b-4e8a-b392-adfe1419458f.png" width="300"/>

[2021-10-20 15:31] apload-gmbh opened #4880 "Hever conflict with Code Snippet Plugin?"
## Steps to replicate
Our customer uses the Word Press theme hever: www.mvn-info.ch and we should implement some script for a cookie consent tool. To implement we use the WP Plugin Code Snippet https://wordpress.org/plugins/code-snippets/,
![grafik](https://user-images.githubusercontent.com/80830352/138123090-167d477f-e971-4461-9684-c9fbff3ad407.png)

## Result

but the script of the cookie consen

[2021-10-20 16:09] kathrynwp commented on #4850
![Mistura_de_Letras_–_contos__ensaios__críticas_ou_até_mesmo_incríveis_historinhas_infantis](https://user-images.githubusercontent.com/7662449/138130216-5b16e77d-e284-4abd-bb2e-22c88e382a1c.jpg)

Ran across another example of a poor-looking form in Sketch. In addition to the issues mentioned above, in this example, the input field text is in the wrong font as well, it shouldn't be that serif fo

[2021-10-20 17:16] pbking opened #4881 "Change Blockbase Header Design Target"
The design target for "Stock" Blockbase Headers has two different layouts for Desktop vs Mobile.

Desktop:
![image](https://user-images.githubusercontent.com/146530/138140081-62c785b5-c4d3-469c-ba2d-ce09b9384427.png)

Mobile:
<img src="https://user-images.githubusercontent.com/146530/138140203-d9c2f518-127a-4d40-80dc-2b69a8834437.png" width="300">

This has always been tricky but is getting increa

[2021-10-20 17:30] scruffian commented on #4881
FWIW I much prefer the stacked site title and site tagline, and I think we should do that on all our themes, except maybe Videomaker.

[2021-10-20 18:03] jp-imagines commented on #4567
Had another user report this in 32307498-hc.

[2021-10-20 19:22] #4651 closed, assigned to mikachan

[2021-10-20 19:23] #4589 closed, assigned to nobody

[2021-10-20 19:40] scruffian commented on #4647
I think this is done.

[2021-10-20 19:40] #4647 closed, assigned to nobody

[2021-10-20 19:44] scruffian opened #4882 "Videomaker: Trailing slash when no category set"
## Steps to replicate

When posts don't have a category, the slash between category and date looks kind of weird:
<img width="552" alt="Screenshot 2021-10-20 at 20 41 29" src="https://user-images.githubusercontent.com/275961/138161217-658a4007-138c-4e31-a8f8-76c4f444704b.png">

Any thoughts on this one @beafialho

[2021-10-20 19:47] scruffian opened #4883 "Videomaker: Demo videos not loading"
## Steps to replicate
A couple of the demo videos for Videomaker, which are used in patterns, aren't loading:
<img width="610" alt="Screenshot 2021-10-20 at 20 45 01" src="https://user-images.githubusercontent.com/275961/138161362-3045e6ec-0641-4c27-aaee-4170639298ab.png">
<img width="634" alt="Screenshot 2021-10-20 at 20 44 56" src="https://user-images.githubusercontent.com/275961/138161364-7531b

[2021-10-20 19:49] scruffian opened #4884 "Videomaker: Playback button"
## Steps to replicate

On this (pdmazJ-O-p2) demo site the playback button is big:
<img width="541" alt="Screenshot 2021-10-20 at 20 47 49" src="https://user-images.githubusercontent.com/275961/138161795-a2fc0cb8-db8a-4cd8-88c7-300a2ba9ee94.png">

However on WordPress.com it looks like this:
<img width="744" alt="Screenshot 2021-10-20 at 20 49 07" src="https://user-images.githubusercontent.com/275

[2021-10-20 19:52] scruffian opened #4885 "Videomaker: Block template preview broken on WordPress.com"
## Steps to replicate
When you add a pattern that contains a block template block, the preview in the editor looks like this:
<img width="460" alt="Screenshot 2021-10-20 at 20 41 15" src="https://user-images.githubusercontent.com/275961/138162178-1ffb7703-761a-4d90-a7fc-fb6073d53b7c.png">

However it does work in the front end:
<img width="552" alt="Screenshot 2021-10-20 at 20 41 29" src="https://

[2021-10-20 23:05] scruffian commented on #3484
I bet that's because core has already fixed it, so we should change our fix to align with theirs and also consider updating the theme from core.

[2021-10-21 02:13] alaczek opened #4886 "Quadrat: Blog page pagination display issue"
## Steps to replicate
1. Set a blog page under Settings > Reading.
2. Change the "Blog pages show at most" setting to trigger pagination.
3. Visit the page set Posts page.
4. Note the pagination is there at the bottom, but it's not laid out properly:

![image](https://user-images.githubusercontent.com/4550351/138199208-a9bc1862-2ec6-4012-b41f-06fc7fc10437.png)

Found through my own testing.

[2021-10-21 07:24] #4268 closed, assigned to jffng

[2021-10-21 07:24] #4886 closed, assigned to nobody

[2021-10-21 07:29] MaggieCabrera commented on #4881
I kind of agree here. I also think it would be useful if Blockbase did like TT2 and had a couple of different options of headers that child themes can choose from, but we are writing way too much CSS to modify the mobile headers at the moment, the baseline one should be simpler.
@kjellr I'd love your opinion on this

[2021-10-21 07:36] jasmussen commented on #4881
Happy to help here if I can. In cases like these, I'd agree you should ideally only need to write code to customize superficial stuff. As soon as structural stuff is changed, it increases the chance of drift.

[2021-10-21 07:39] MaggieCabrera commented on #4881
Yeah, we are moving stuff everywhere on mobile as you can see in the screenshots, but it all started out when the navigation block was much more barebones and the responsive version needed a lot of CSS anyway, I think now it's in a good place to simplify that a bit

[2021-10-21 07:51] jasmussen commented on #4881
It does definitely seem like you could get a fair bit of the way with a few carefully put together Row blocks, and yes, the navigation has been in a bad place. TT1 is still a bit hobbled by the old CSS it carries around to style the past version of it.

That said, some of the improvements needed will likely go beyond the navigation block itself. I wonder if an interesting PR could be to implement

[2021-10-21 08:07] MaggieCabrera commented on #4881
I wonder how those would be implemented though, in a manner that is flexible enough to allow for different layouts and it's not forcing you to stick to a particular one.

Also, https://github.com/WordPress/gutenberg/pull/35820 would help a lot too

[2021-10-21 08:15] #4741 closed, assigned to MaggieCabrera

[2021-10-21 08:16] jasmussen commented on #4881
I didn't assign you as reviewer to not risk distracting from other items, but you're free to give a green check if you like ;)

Yes, it needs thought. The north star dream is to make it work so there's no user surfaced UI at all — "Stack on mobile" toggles have not been good solutions. But I do wonder if that one doesn't require at least a "mobile" breakpoitn query. I wonder if such a query could

[2021-10-21 08:19] beafialho commented on #4882
If only the post date is showing, the slash shouldn't be there.

[2021-10-21 08:22] MaggieCabrera commented on #4881
Yeah, headers are complicated enough that one simple solution won't cover all bases. I was looking at [Blockbase's CSS](https://github.com/Automattic/themes/blob/trunk/blockbase/sass/base/_header.scss) and it's not so terrible in terms of the breakpoints it needs.

And feel free to tag me as reviewer anywhere, if I have time, I'll have a look for sure. Any of us for that matter, actually, we are a

[2021-10-21 08:49] erricgunawan commented on #151
Another report in 4393923-zen

Atomic site.
Language: French
Theme: Edin.

Provided a slight different CSS:

[code]

[2021-10-21 09:51] beafialho opened #4888 "Videomaker: Tags should go after Featured Image"
| Currently      | Intended |
| ----------- | ----------- |
| <img width="1527" alt="Captura de ecrã 2021-10-21, às 10 37 14" src="https://user-images.githubusercontent.com/65220155/138252344-5b2fe98f-6866-49fb-b2d5-c9188042d66c.png">     |  <img width="946" alt="Captura de ecrã 2021-10-21, às 10 38 48" src="https://user-images.githubusercontent.com/65220155/138252260-5a1520f9-2812-49be-8e18-3fe

[2021-10-21 11:39] kjellr commented on #4881
I agree. For what it's worth, the only reason Twenty Twenty-Two behaves the way it does is that we can't achieve something like what Blockbase does without a ton of extra CSS. So anything we can do in Gutenberg to make that sort of thing more possible is my preferred solution.

[2021-10-21 11:41] mikachan opened #4890 "Videomaker: Post tags vertically overlap"
## Steps to replicate

When a post has enough tags to wrap onto multiple lines, they overlap vertically:

![image](https://user-images.githubusercontent.com/1645628/138269732-63ae02fe-3bf8-4fe5-85f0-4b1929c27ede.png)

[2021-10-21 15:17] beafialho opened #4892 "Videomaker: Should grid block patterns be Query Loops?"
While setting up the [demo site](https://videomakerdemo.wordpress.com), I noticed that the grid block patterns aren't query loops. If they were, they'd only show post featured images, because having featured videos — as mentioned in [this](https://github.com/WordPress/gutenberg/issues/27617#issuecomment-918205913) Gutenberg issue — is not possible yet.

<img width="1093" alt="Captura de ecrã 2021

[2021-10-21 16:02] beafialho opened #4893 "Videomaker: Add arrows to Post Navigation"
Can we add arrows to the post navigation, as shown in the example below?

**Demo Site**
<img width="188" alt="Captura de ecrã 2021-10-21, às 15 31 29" src="https://user-images.githubusercontent.com/65220155/138314790-f9603171-11e5-4029-8820-cb862e08fa5e.png">

**Figma**
<img width="583" alt="Captura de ecrã 2021-10-21, às 15 31 15" src="https://user-images.githubusercontent.com/65220155/138314

[2021-10-21 16:07] MaggieCabrera commented on #4892
mmh, I remember solving this for Spearhead, there may be a way to hack a "featured video" for the featured image block but we'd have to evaluate how that would transfer if/when the GB issue is resolved. Maybe if the "hack" is good enough we wouldn't change anything even then. I'm going to try and think about this.

[2021-10-21 16:35] kjellr commented on #4892
Yeah, I'm torn about it. We could hack something in here, but really we should hold off until there's a solution to https://github.com/WordPress/gutenberg/issues/27617#issuecomment-918205913. In the days of classic themes, we could've probably managed it, but I think we'll run into some weird issues for block themes (for example, even if we can hack it into the front end, what would the editor sho

[2021-10-21 17:07] beafialho commented on #4892
I get your point with that solution @kjellr.

However, if I were a user and I was using this theme because it's a video theme, I'd expect it to be easy to upload a featured video, instead of having to add it manually, just as it is when you upload a featured image and get your latest posts automatically.

Is waiting and launching the theme only when we have that functionality an option? Or getting

[2021-10-21 18:38] #4718 closed, assigned to nobody

[2021-10-21 22:42] scruffian commented on #4656
This will be fixed by https://github.com/Automattic/themes/pull/4832

[2021-10-21 22:43] cuemarie commented on #3280
Another report: 4378950-zd-woothemes

Theme: Rowling

[2021-10-21 23:41] jordesign commented on #3280
I'm closing this (again) in favor of https://github.com/Automattic/wp-calypso/issues/57043 so we can track instances all in one location. It looks like the fix is being worked on in https://github.com/WordPress/gutenberg/issues/35730

please feel free to re-open if I've done this in error.

[2021-10-21 23:42] #3280 closed, assigned to scruffian

[2021-10-22 07:27] edwinho89 opened #4941 "Adjust Page Widths from Customizer"
### What

An option to adjust widths of whole site

### Why

Aside from adjusting [Templates](https://wordpress.com/support/templates/), it'd be neat to allow users to define page widths of their preference.

### How

Example sites from Squarespace having such settings there:

https://support.squarespace.com/hc/en-us/articles/205825988#toc-info-page-styles
https://support.squarespace.com/hc/en-us/

[2021-10-22 07:34] edwinho89 commented on #4941
32280344-hc

[2021-10-22 09:18] #4882 closed, assigned to nobody

[2021-10-22 13:08] jeffikus commented on #3484
We need to update the theme to be in line with core.

[2021-10-22 16:42] livinginbauty commented on #4393
We also are having this problem. It makes it difficult to write for hours since the lines are so cramped in the editor. Any chance this can be solved soon?  Thanks!

[2021-10-22 21:08] jshwlkr commented on #4875
I, seemingly, fixed this issue by bumping node-sass to 6 in the generated child theme package.json.

[2021-10-22 22:20] thekingsprojects commented on #2963
Another case here: 32347604-hc

[2021-10-23 07:03] formosattic commented on #3991
+1 with Exford, 32304036-hc
The CSS fix worked.

Similar reports for:

* Goodz Magazine, https://github.com/Automattic/themes/issues/2937
* Blank Canvas, https://github.com/Automattic/themes/issues/4374

Also, this is possibly related to AMP? See https://github.com/Automattic/newspack-theme/issues/1290

[2021-10-23 16:46] mikeicode commented on #4828
Requested: 4399026-zd-woothemes

[2021-10-23 19:45] mikeicode commented on #4018
32359325-hc

[2021-10-24 01:59] arunsathiya opened #4942 "Multiple Themes: Tag archive doesn't show pages that are tagged, posts are fine"
## Steps to replicate

- Activate Shoreditch theme on a simple site or an Atomic (WordPress.com site with third-party theme or plugins installed) site.
- Create page.
- Set a tag to it.
- Visit that tag archive.

## Result

The page is missing on that archive.

<img width="1837" alt="image" src="https://user-images.githubusercontent.com/18581859/138576921-026cea88-d8f7-4fef-8bfe-10a54a3762c3.png">

[2021-10-24 02:05] kuropixel commented on #4942
4400370-zd / 32362163-hc
User reporting this error with Shoreditch theme. Some tags work when clicking "View" link in Pages > Tags, dashboard, but others do not, and result in an error page.

[2021-10-24 04:16] kuropixel commented on #4942
I've checked some other themes that support Page tags, and they also have the same behavior: Canard, lxion, Editor, and Dara.

[2021-10-24 14:59] bph opened #4898 "Geologist (Blockbase) conflicts with Yoast SEO in GB 11.8 RC 2 in single post view"
After I created a post and publish it I ran into the error message (see below)

I am not certain if that needs to be fixed

- [ ] by Yoast ([Issue submitted](https://github.com/Yoast/wordpress-seo/issues/17550)) or
- [ ] for the Blockbase theme, or
- [ ] in the Gutenberg plugin.[Issue submitted}(https://github.com/WordPress/gutenberg/issues/35903)

The conflict also shows itself with the parent th

[2021-10-25 10:39] scruffian commented on #4860
This is fixed in https://github.com/WordPress/gutenberg/pull/35913

[2021-10-25 10:39] #4860 closed, assigned to nobody

[2021-10-25 12:01] kjellr commented on #4884
This is a VideoPress bug. It was addressed once, but could still be refined: https://github.com/Automattic/videopress/pull/389

[2021-10-25 12:23] scruffian commented on #4884
Actually there's something else going on here...

The patterns use core video blocks, so they don't display these blocks because they aren't VideoPress videos.

I can see several options here:
1. Just use the core video block and accept that we won't see the big playback button
2. Use VideoPress videos, which means that we have to reference the hosted video files in the patterns we submit to dotor

[2021-10-25 12:44] kjellr commented on #4884
This theme will be positioned (on WP.com at least) as a pair to VideoPress, so I think it makes sense to use VideoPress embeds there at the very least.

I don't think it's necessarily an issue to link to the external VideoPress files, since they're basically just embeds. The videos in here are not promotional in nature, so I don't think they'd run afoul to the theme review guidelines.

[2021-10-25 16:46] danieldudzic commented on #3484
Sync update: D68971-code

[2021-10-25 23:11] adelineyaw opened #4902 "Lodestar: Style consistency Navigation Block and Navigation Menu Widget"
## Steps to replicate

A style request/update (if possible). When comparing the Navigation Menu Widget style and Navigation Block, there are multiple lines (when the menu is set to appear vertically).

## Result

<img width="668" alt="Markup 2021-10-26 at 09 57 29" src="https://user-images.githubusercontent.com/7424885/138782725-08b7410c-0c3f-4d0c-a728-d9b20817290c.png">

## Expected

I would expe

[2021-10-25 23:35] supernovia opened #4903 "Hemingway Rewritten: Site font isn't displayed in the editor"
## Steps to replicate
1) Activate this theme. Note the sans-serif body font (at least on my system)

2) Go to wordpress.com/post; note the block editor shows a serif font.

## Result
The block editor displays a different font.

## Expected
I know newer themes show the right font in the block editor. I'm not sure whether this one is supposed to, but figured I'd file this request.

* User report: ht

[2021-10-26 08:59] erricgunawan opened #4904 "Intergalactic 2: Blog Posts Block - Featured Images has 0px wide (so not visible) on Published Page"
## Steps to replicate

1. Activate Intergalactic 2 theme
2. Create posts with featured images
3. Create page with Blog Posts Block
4. Show featured image option enabled
5. Choose "Show media on left" or "Show media on right"

## Result

Featured Images got "squished" to 0 px wide.

![Intergalactic2BlogPostsBlockFeaturedImages](https://user-images.githubusercontent.com/1813857/138843200-6868ec25-50

[2021-10-26 09:01] erricgunawan commented on #4324
Just noting that this might be related to:

https://github.com/Automattic/newspack-blocks/issues/399

If the "Display on pages" option in the Customizer > Content Options are enabled, the images will be displayed.

[2021-10-26 09:01] erricgunawan commented on #3609
Just noting that this might be related to:

https://github.com/Automattic/newspack-blocks/issues/399

If the "Display on pages" option in the Customizer > Content Options are enabled, the images will be displayed.

[2021-10-26 09:15] KokkieH commented on #1601
Another in https://wordpress.com/forums/topic/wordpress-cubic-galleries-not-working/?view=all

[2021-10-26 09:40] danieldudzic opened #4905 "Sync default themes on dotcom with dotorg"
- [x] twentytwentyone
- [x] twentytwenty
- [x] twentynineteen
- [x] twentyseventeen
- [x] twentysixteen
- [x] twentyfifteen
- [x] twentyfourteen
- [x] twentythirteen
- [x] twentytwelve
- [x] twentyeleven
- [x] twentyten

[2021-10-26 10:40] jbonlinea opened #4906 "Blockbase : block-template width isn't savez"
## Steps to replicate

Hi there,
I've create a blockbase child theme folowing the instructions provided on the theme page, and so far so good.
I can edit child-theme.json or add scss nicely. That's sweet, but this is mentionned to support that the child theme is well set, and I've then removed any custom code before opening this issue to have a "fresh start" for debuging.

In the theme editor, whe

[2021-10-26 11:04] #4884 closed, assigned to scruffian

[2021-10-26 12:46] jbonlinea commented on #4906
Hi,

Small update on this

as mentionned above clicking save won't save the template.

BUT

I can still edit the template part... on once I do a simple edit, the "save button" is back active.

In practice,  if I do a "layout edit" for instance add a paragraph block (to the index template, or the footer template), and then save, both changes are applied, the width is then saved and tacken into acco

[2021-10-26 13:04] mikeicode commented on #3235
1748720-hc

[2021-10-26 13:57] #4650 closed, assigned to nobody

[2021-10-26 14:24] pbking commented on #4881
Recent changes to Gutenberg have made our existing design target work again.  Since nothing is currently broken I'm moving this out of "in progress" and while I think maybe we could/should close it I'll defer that decision for now.  I do still prefer the design noted in the description, but there's no longer a pressing reason to implement it.

[2021-10-26 14:30] pbking commented on #4883
Not sure what to review here...

These are showing up in the pattern browser:
<img src="https://user-images.githubusercontent.com/146530/138900370-6bb5e3b6-9f9b-4e56-bebf-1608db1bc4e7.png" width=300>

and also look fine on the demo site (referenced in description).

[2021-10-26 14:48] scruffian commented on #4883
Thanks, this was closed by https://github.com/Automattic/themes/pull/4901

[2021-10-26 14:48] #4883 closed, assigned to scruffian

[2021-10-26 16:03] #4890 closed, assigned to danieldudzic

[2021-10-26 16:59] mikeicode opened #4934 "Canard, Twenty Sixteen, Boardwalk: Padding issue on <mark> element when using inline colors"
### Quick summary

Inline colors use the `<mark>` HTML element (a recent Gutenberg change). Some themes have CSS to add padding to this element but that results in spaces between text.

### Steps to reproduce

1. Create a line of text with no spaces
2. Add inline colors to the text
3. View published page

### What you expected to happen

The published page should have no spaces, like the editor vi

[2021-10-27 02:05] jordesign commented on #4914
Confirmed this behaviour - here's a test page to look at:
P14ISG-4Z-p2

I'll also move this over to the Themes Repo

[2021-10-27 02:17] jordesign commented on #4915
Scrubbed and confirmed. It looks like the classes are being included in the HTML - but there are no styles applied to the buttons in that area.

`<a class="wp-block-button__link has-white-color has-bright-red-background-color has-text-color has-background">Button 1</a>`

Shifting over to the themes repo

[2021-10-27 07:14] hideandgeek404 opened #4945 "Twenty Twenty-One Preview Changes Background Colour To Default"
### Quick summary

When using Twenty Twenty-One (have only tested on this theme), if you select a different background colour for the site in Customizer > Colors & Backgrounds the page is the correct colour in normal view preview but reverts to the default colour when previewed in Tablet or Mobile views.

### Steps to reproduce

1. Change to Twenty Twenty-One theme
2. Go to Appearance > Colors & B

[2021-10-27 08:43] scruffian commented on #3484
This has been fixed

[2021-10-27 08:43] #3484 closed, assigned to danieldudzic

[2021-10-27 08:53] arunsathiya opened #4957 "Seedlet: Layout grid block adds an incorrect padding by default"
### Quick summary

Adding a Layout grid block on a page adds some padding to the content inside of it. This is unexpected because there is no such padding setting on the block settings.

### Steps to reproduce

- Setup Seedlet theme on a WordPress.com site.
- Add a Layout Grid block and some some content inside of that block.

### What you expected to happen

The content inside of that Layout grid

[2021-10-27 10:06] MaggieCabrera commented on #4653
I wonder if we should add any comment in the description regarding the use of the Videopress plugin. People who download this theme from dotorg are going to need the plugin for the theme to work as intended

[2021-10-27 10:08] MaggieCabrera commented on #4648
@beafialho I don't see a screenshot of the theme on figma, do you have one you want us to use?

[2021-10-27 10:21] #4655 closed, assigned to nobody

[2021-10-27 10:25] mikachan commented on #4590
I think this is fixed again, but I'd appreciate if someone else could check as well in case I'm doing something wrong.. This is what I can see currently on trunk:

![image](https://user-images.githubusercontent.com/1645628/139048327-02f23dc1-2d9d-4ec9-91e9-331adad68b77.png)

[2021-10-27 10:37] beafialho commented on #4648
Yes, we usually create theme screenshots [in this file](https://www.figma.com/file/J5n3eQdcJsPsjLJtsDUjYM/?node-id=0%3A1). Let's use this one:

![videomaker_screenshot](https://user-images.githubusercontent.com/65220155/139049936-5e8940f9-3f07-4eba-bb65-5020c8cd9a23.jpg)

[2021-10-27 10:38] beafialho commented on #4653
That's a good point, @kjellr what do you think?

[2021-10-27 10:47] MaggieCabrera commented on #4648
mmh, I think that screenshot works for the dotcom showcase but this issue is about the theme screenshot that goes under appearance/themes when you install it and those are usually different:
<img width="713" alt="Screenshot 2021-10-27 at 12 47 06" src="https://user-images.githubusercontent.com/3593343/139051631-a85c8197-620e-459e-9511-7a155fb755bc.png">

[2021-10-27 10:47] devNigel commented on #3739
I found out that this happens Cover block is set to align center.

Another workaround is to change the alignment settings for Cover block.

A related issue, but for button links: 4399968-zen

I also shared another CSS work around since the above CSS was affecting the height of the cover block.

[code]

[2021-10-27 10:59] #4851 closed, assigned to nobody

[2021-10-27 11:30] kjellr commented on #4653
Would one of you mind double checking the theme directory rules for that? I know themes aren't supposed to _require_ a plugin, and there are strict rules about promoting one. But there may be an acceptable way for us to mention it.

[2021-10-27 11:36] beafialho commented on #4648
That's right. I think this one will do then:

![videomaker_screenshot](https://user-images.githubusercontent.com/65220155/139057950-e58a4b05-6124-415d-8cb2-e6614b7a8094.jpg)

[2021-10-27 11:40] kjellr commented on #4653
Ah ok, that's not bad! Then sure, might as well mention that the theme is designed to work alongside the VideoPress plugin. 👍

[2021-10-27 11:40] MaggieCabrera commented on #4653
We do this on Mayland blocks, it requires a plugin for the gallery block on the homepage. We didn't get any warnings for that, but we didn't mention it on the description. I think it's a good idea to give a heads up to the user before install, but I couldn't find a mention to that in the handbook

[2021-10-27 11:40] MaggieCabrera commented on #4648
Thank you!

[2021-10-27 11:44] kjellr commented on #4653
Is there any way we can build a fallback? So like: If the VideoPress block exists, use these videos, if not, use a standard video block?

[2021-10-27 11:49] jbonlinea opened #4923 "Can't compile chilt theme after last bolckbase update"
## Steps to replicate

update from blockbase 1.2.17 to 1.2.19
try to compile child theme from child theme folder with `npm run build`

## Result
[code]

## Expected

compile success

nota that rebuilding theme from scratch, with git-pull this repo,  works, and child theme compile

[2021-10-27 11:59] beafialho commented on #4590
I see the same as @mikachan, it looks as intended.

[2021-10-27 12:22] #4590 closed, assigned to nobody

[2021-10-27 12:59] jartes commented on #3007
Reopening this one as it seems that is happening again when using the Twenty Theme Theme.

New user report: 32424667-hc
Follow-up 4408601-zd-woothemes

I was able to reproduce on a simple site:

![Markup on 2021-10-27 at 14:52:04](https://user-images.githubusercontent.com/1046943/139069205-fb08a5a6-fe64-4f2f-9c8a-eb3369262fa5.png)

From what I see, in this case the `<div>` with the class `wp-block

[2021-10-27 15:35] danieldudzic opened #4925 "Videomaker: Post Terms icons not visible on the page"
Works fine in Blockbase, but in Videomaker the icons aren't showing:

<img width="1710" alt="tags-2" src="https://user-images.githubusercontent.com/905781/139097383-fb4aeac0-1a16-452c-82fe-dc6d678e4265.png">

[2021-10-27 15:38] danieldudzic commented on #4893
@scruffian Should I just use https://github.com/Automattic/themes/pull/4909/files here?

[2021-10-27 15:42] MaggieCabrera commented on #4925
I don't think Videomaker uses icons at all, looking at the figma I don't see any: XnDSyzD9cBG5kbDaVZn9yG-fi-68%3A968

[2021-10-27 15:44] scruffian commented on #4893
I don't think it will work - we need this issue to be fixed first: https://github.com/WordPress/gutenberg/issues/35954

I think we should move this to blocked for now.

[2021-10-27 18:31] scruffian commented on #4653
I think that's how the video block works. The problem we have is that when the block is converted to a videopress block the markup changes, so in the patterns we need to have one or the other.

We could use different patterns when Videopress is enabled and not.

[2021-10-27 18:35] kjellr commented on #4653
Might be worth it? While VideoPress makes a ton of sense for dotcom, maybe not for dotorg. It's not a great experience if someone installs the theme and the patterns don't work without installing a plugin. 😕

[2021-10-27 21:00] cuemarie commented on #2437
Ran into this similar issue here: 32435222-hc | Follow up: 4410159-zd-woothemes
User is on Premium Plan and Retired theme [Arcane](https://designorbital.com/arcane/)

Providing user with CSS workaround and noting that this likely won't be fixed in their theme, and we might not be able to provide such support in the future.

[2021-10-27 21:48] bph commented on #4898
It seems to be a WordPress core bug, already patched [Trac issue #54323](https://core.trac.wordpress.org/ticket/54323). It will be fixed upstream
I close this issue for now.

[2021-10-27 21:48] #4898 closed, assigned to nobody

[2021-10-28 08:21] #4888 closed, assigned to nobody

[2021-10-28 08:26] scruffian commented on #4648
For future reference I think it should be 1200x900

[2021-10-28 09:25] scruffian commented on #4925
Yeah this is deliberate :)

[2021-10-28 09:25] #4925 closed, assigned to nobody

[2021-10-28 09:54] beafialho commented on #4648
Thanks, I'll save that for future reference and resized it to those dimensions.

![videomaker_screenshot_1200x900](https://user-images.githubusercontent.com/65220155/139232983-e2b393cc-9c5d-43a2-811c-d2cca3a26947.jpg)

[2021-10-28 11:17] scruffian commented on #3007
Added to our planning board

[2021-10-28 11:27] #4648 closed, assigned to nobody

[2021-10-28 11:34] #4871 closed, assigned to mikachan

[2021-10-28 12:27] Nic-Sevic commented on #779
another here: 32446675-hc

[2021-10-28 12:39] scruffian commented on #4653
The patterns would work, since the videos point to the files hosted on VideoPress. The only difference would be that if they update the files the previews would no longer have the large play button.

[2021-10-28 12:48] kjellr commented on #4653
Ah ok, I think that's acceptable.

[2021-10-28 13:01] Robertght commented on #4934
I've seen this in a few cases recently as well.  Can this be looked into in the near future?

cc @jeffikus / @scruffian

[2021-10-28 13:11] jeffikus commented on #4934
@Robertght thanks for reporting. I'll triage this tomorrow and add to the board if we have capacity next week.

[2021-10-28 13:14] jeffikus commented on #4653
Does VideoPress filter the video block somehow? I mean, if it doesn't then we should do the check for the presence of VideoPress for the patterns. Otherwise I agree with @kjellr

[2021-10-28 14:47] beafialho opened #4938 "Videomaker: "Wide" width should align with the header edges"
Right now, when we set content to be wide, it has a set width limit. Can we change that to make it as the example shown?

Currently:

<img width="1520" alt="Captura de ecrã 2021-10-28, às 15 33 09" src="https://user-images.githubusercontent.com/65220155/139278989-3e7001fe-4627-4f63-ac63-9ffb48f758e0.png">

Intended:

<img width="772" alt="Captura de ecrã 2021-10-28, às 15 40 49" src="https://use

[2021-10-28 14:57] pbking commented on #4938
That looks like "full width, but with margins".  I'm not sure that we would want to either "have full width have margins" or "have wide with be full width not be a static width value".

That design target could be achieved by putting the content into a full-width group, would that suffice for pattens and such?

![image](https://user-images.githubusercontent.com/146530/139282194-3a8dd52f-9874-4eb4-

[2021-10-28 15:13] pbking commented on #4938
That said...
Setting the theme.json value of `wideWidth` to `100%` does achieve exactly what you're looking for.  I'll leave it to others to determine if we should...

[2021-10-28 15:15] MaggieCabrera commented on #4938
mmh, is this not a problem of the header being full width instead of wide here? maybe I'm misunderstanding. I think Bea means this should be like Skatepark's header:

<img width="1553" alt="Screenshot 2021-10-28 at 17 15 32" src="https://user-images.githubusercontent.com/3593343/139285460-4aebf5e3-92a4-41c9-98ce-295149196766.png">

[2021-10-28 15:16] beafialho commented on #4938
Thanks @pbking, the group set to full-width solution achieves the intended effect indeed. I applied it to the demo site. Though, I wonder if we want to leave that as an option for users or set it as the theme's layout. Would like to know @kjellr's thoughts.

[2021-10-28 15:17] beafialho commented on #4938
@MaggieCabrera the header in Videomaker is perfect as it is 👌

[2021-10-28 15:18] MaggieCabrera commented on #4938
I misunderstood then!

[2021-10-28 16:00] kjellr commented on #4938
The header + top image on the demo site looks good. That should be the default used in the pattern on the homepage. Since we can already create this effect, I don't think https://github.com/Automattic/themes/pull/4939 is necessary.

I think that the content below that (the grid of 4 videos) should remain the width it was previously. I think it gets a little difficult to parse the grid when it's fu

[2021-10-28 19:01] jordesign commented on #4941
Thanks for the suggestion @edwinho89. As this would be something which is handled on a theme basis - I'll move this over to the themes repo for them to consider.

[2021-10-28 19:23] jordesign commented on #4942
Confirmed this behaviour and moving over to the Themes repo.

[2021-10-28 23:17] csmcneill opened #4944 "Quadrat theme does not display WooCommerce Payments credit card fields."
## Steps to replicate

1. Install and activate WooCommerce.
2. Install and activate WooCommerce Payments.
3. Install and activate Gutenberg.
4. Install and activate Quadrat theme.
5. Create a WooCommerce virtual product.
6. Attempt to purchase the product created in step 5.
7. Attempt to enter new card information; the form is not visible.

## Result

Safari:
![Markup on 2021-10-28 at 18:12:13](ht

[2021-10-29 01:48] jordesign commented on #4945
I've confirmed this behaviour and it seems to be WPCOM specific. I can't recreate on a default WordPress installation.

Shifting this to the Themes repo.

[2021-10-29 06:39] KokkieH commented on #4050
Another in https://wordpress.com/forums/topic/how-to-make-a-series-of-photos-align-center/?view=all

I see the theme is now retired, so told them it will likely not be fixed.

[2021-10-29 07:21] #4885 closed, assigned to scruffian

[2021-10-29 07:31] #4411 closed, assigned to nobody

[2021-10-29 07:45] MaggieCabrera commented on #4434
This one isn't actually closed

[2021-10-29 08:04] #4653 closed, assigned to scruffian

[2021-10-29 08:04] #4689 closed, assigned to nobody

[2021-10-29 08:05] #4881 closed, assigned to scruffian

[2021-10-29 12:45] IoanaAMuresan opened #5450 "Hever: Text color different in mobile and tablet view"
### Quick summary

Customer signalled that color of text they add when working on the desktop preview in the editor (pink) is different from the color displayed on the mobile and tablet preview (orange).

### Steps to reproduce

I could not reproduce it on another site (Hever, Business), but on the customer's site here:

1. Go to homepage
2. Check the 2nd para text - pink (see image attached)
3. S

[2021-10-29 17:39] MaxPhilip commented on #5450
Another report in 4414091-ZD.

Theme Stow. I was able to replicate on macOS with Firefox 93 and theme Stow.

Provided workaround by using custom color instead of palette color.

[2021-10-29 17:46] #4859 closed, assigned to nobody

[2021-10-29 18:24] sajmes commented on #2751
I ran into a user report of this today: 4415113-zd-woothemes

Worked around it with user by disabling all options under 'article meta settings' in the Post Carousel block settings.

I was able to replicate on my test site.

<img width="1002" alt="Screenshot on 2021-10-29 at 14-23-20" src="https://user-images.githubusercontent.com/76757079/139483953-79018ce8-1c19-4302-9a32-2c11c00c5a07.png">

[2021-10-29 18:37] kjellr opened #4950 "Videomaker: Tighten up space between the H4 and paragraph on the homepage pattern."
In the block pattern used on the homepage, we should tighten up the space between the video titles and the date below them:

Before|After
---|---
![current](https://user-images.githubusercontent.com/1202812/139485282-796c34f2-60ce-4a74-95bb-2f13b82c9b44.png)|![intended](https://user-images.githubusercontent.com/1202812/139485281-133af50c-ba84-4d98-87fd-548d08fc041e.png)

`calc(0.5 * var(--wp--styl

[2021-10-29 18:41] kjellr opened #4951 "Videomaker: Top navigation menu is misaligned, Site tagline should be 16px"
<img width="1251" alt="Screen Shot 2021-10-29 at 2 38 11 PM" src="https://user-images.githubusercontent.com/1202812/139485717-50af3618-c687-4dec-ab62-693a0ff4c291.png">

Also, I took a look at the comps, and it appears that all the text up here is supposed to be `20px`, not `18px`. @beafialho can you confirm?

[2021-10-29 19:08] kjellr commented on #4938
I was looking through the original comps again, and I wonder if we're actually approaching this the wrong way. In the original mockups, the width of the top item was the same as the width of the bottom items. But we've broken that now.

[This mockup (set to "Scale down to fit width")](https://www.figma.com/proto/XnDSyzD9cBG5kbDaVZn9yG/Videomaker?page-id=68%3A968&node-id=68%3A1068&viewport=241%2C48

[2021-10-29 19:25] kjellr opened #4952 "Videomaker: Post pagination is incorrect width and is missing arrows"
The post pagination as originally designed is the just slightly wider than the post content:

![Single Post](https://user-images.githubusercontent.com/1202812/139490814-167ed88c-08af-4ae6-8523-34e9d8cca4b8.jpg)

As currently developed, it it significantly wider than this:

<img width="1909" alt="Screen Shot 2021-10-29 at 3 23 26 PM" src="https://user-images.githubusercontent.com/1202812/139490891-

[2021-10-29 19:27] kjellr opened #4953 "Videomaker: Try allowing more flexibility in the laurel patterns"
<img width="1327" alt="Screen Shot 2021-10-29 at 3 26 08 PM" src="https://user-images.githubusercontent.com/1202812/139491210-6edfdb88-e30f-4272-803d-5ab6419897b3.png">

Let's explore to see if we can we create these patterns in a way that lets users insert their own image or text in between the laurels?

[2021-10-29 19:57] mikeicode commented on #4828
Another 31818301-hc

[2021-10-29 20:20] Robertght opened #4954 "Twenty Nineteen(& child themes): Post carousel block not rendering the post images"
### Quick summary

The Post Carousel block does not render the featured images of the posts.

I tested this with the Newspack plugin on a self-hosted site and the images show up.

### Steps to reproduce

1. Activate Twenty Nineteen or a child theme like Calm Business
2. Insert the block into a page
3. Make sure the posts have the featured images added

### What you expected to happen

To show the

[2021-10-29 20:49] scruffian commented on #4938
So you mean set the header to be wide width?

[2021-10-29 20:55] scruffian commented on #4938
Like this? https://github.com/Automattic/themes/pull/4956

[2021-10-30 14:05] KokkieH commented on #4934
Another report for Twenty-Sixteen: https://wordpress.com/forums/topic/changing-font-color-causes-text-to-shift-to-right/?view=all

[2021-10-31 09:26] formosattic commented on #4957
I tested with Twenty Twenty One, Maywood, and indeed, the `padding-left` and `padding-right` aren't overridden.

Moving this to the theme repo.

### Seedlet
![image1](https://user-images.githubusercontent.com/15944096/139576008-f626055e-6743-4349-a495-7817b0222195.png)

### Twenty Twenty One, Maywood
![image2](https://user-images.githubusercontent.com/15944096/139576048-4984bb4a-9247-45ae-a68d-a56

[2021-10-31 15:59] rickmgithub commented on #4579
Same here - 4417112-zd

[2021-11-01 09:51] beafialho commented on #4951
That's right @kjellr, I totally missed the misalignment, I kept in mind that the hamburger icon would eventually replace the menu items.

The Site Title is supposed to be `20px` and links `18px`. Now that I look at this again, I think the tagline could be `16px`. It looks good to me, but is it weird having different sizes for all elements?

<img width="1338" alt="Captura de ecrã 2021-11-01, às 0

[2021-11-01 09:53] beafialho commented on #4952
Agree 👍

[2021-11-01 10:01] beafialho commented on #4938
This solution looks good to me 👍

[2021-11-01 10:16] beafialho commented on #4953
I managed to do this with the Cover block and having either text or an image in it:

<img width="886" alt="Captura de ecrã 2021-11-01, às 10 14 52" src="https://user-images.githubusercontent.com/65220155/139656483-8431e4ae-0f2a-40a8-bfc8-3125146ae3f4.png">

The text option would look better with different font sizes, but that doesn't work very well because of the line height.

[2021-11-01 12:43] kjellr commented on #4951
Yeah, that's too many sizes for one small area. It doesn't look like we use 20px text elsewhere either. So I suggest we do:

**Site title:** 18px (This is already the case)
**Site tagline:** 16px
**Nav:** 18px (This is already the case)

I'll update the issue description to make note of this.

[2021-11-01 12:44] kjellr commented on #4953
Why can't we adjust the line height in there?

[2021-11-01 13:59] hngdny commented on #4811
Reported by a user on a Personal plan: 4420643-zd

[2021-11-01 17:12] #4938 closed, assigned to nobody

[2021-11-02 05:50] #4813 closed, assigned to nobody

[2021-11-02 06:25] Greatdane commented on #5450
See: 4414091-zd-woothemes
GIF (too large to upload); https://d.pr/i/ED7miI

Unable to reproduce, but does seem to be an issue with the new preview options. One report is Atomic, one report is Simple.

EDIT: Could reproduce on a simple site with Hever theme. It seems like choosing a color that's part of the color palette (that I chose via customizer) causes the issue;

![Screen Capture on 2021-11-0

[2021-11-02 09:44] beafialho commented on #4951
That looks good to me!

[2021-11-02 10:06] beafialho commented on #4953
Nevermind, I realized my concern wasn't a problem. I thought adjusting the line height if we want to have **"Best Film"** bigger than the word **"winner"**, like the original ones, could make text overlap badly. It seems like that doesn't happen in smaller sizes. Here's how it behaves across sizes:

https://user-images.githubusercontent.com/65220155/139826786-2827cb5b-6c23-48e5-a7c5-efef69fc4fe1.m

[2021-11-02 11:55] kjellr commented on #4953
Cool, that's not too bad. During development we might be able to provide some CSS to override the clipping there. Mind posting the markup here? Then we can move onto development. 👍

Thank you!

[2021-11-02 14:07] kjellr opened #4959 "Videomaker: Navigation is missing underlines on hover, is unreadable in its active state"
These links should be underlined on hover, and their active states should have black text against the white background.

![active-states](https://user-images.githubusercontent.com/1202812/139862513-66954c1b-d8c8-43b0-8941-38d8381c8410.gif)

(Also, this menu should use the hamburger on desktop. It didn't look like there's another issue for that?)

cc @beafialho

[2021-11-02 15:25] beafialho commented on #4950
I agree @kjellr, tightening up spacing here is necessary

[2021-11-02 15:33] beafialho commented on #4953
Great! Here's the markup:

[code]

[2021-11-02 15:40] beafialho opened #4960 "Videomaker: Footer should be wide width"
Currently, the footer is sticked to the edges of the screen, but it should behave similarly to the header and be wide width too.

<img width="1530" alt="Captura de ecrã 2021-11-02, às 15 38 39" src="https://user-images.githubusercontent.com/65220155/139879666-276e6bce-cd17-4fe4-a910-d6890da08f23.png">

[2021-11-02 15:49] beafialho opened #4961 "Videomaker: Adjust footer links spacing + make them uppercase"
Let's decrease the spacing between the footer links and make them uppercase by default, to make them look like the designs.

| Currently      | Intended |
| ----------- | ----------- |
|  <img width="206" alt="Captura de ecrã 2021-11-02, às 15 47 46" src="https://user-images.githubusercontent.com/65220155/139882383-f0fc77e8-1e95-440a-91d9-6c9b93d6af3e.png"> |      <img width="172" alt="Captura d

[2021-11-02 15:58] beafialho opened #4962 "Videomaker: Remove period and align footer credit to links"
The footer credit seems to be misaligned to the footer links.

<img width="1348" alt="Captura de ecrã 2021-11-02, às 15 54 44" src="https://user-images.githubusercontent.com/65220155/139887361-abf02c7c-ca69-4253-a52c-400004fcb78d.png">

Let's also remove the period and replace "Blog" by "Website".

<img width="242" alt="Captura de ecrã 2021-11-02, às 15 50 36" src="https://user-images.githubus

[2021-11-02 19:29] kjellr commented on #4591
This is still an issue — the spacing below the tagline is incorrect even when the social menu is inactive:

Current|Design Comp
---|---
<img width="373" alt="Screen Shot 2021-11-02 at 3 24 37 PM" src="https://user-images.githubusercontent.com/1202812/139935371-f53a8e33-ac44-4966-826d-0c93a946d86e.png">|![iPhone 8 - 22](https://user-images.githubusercontent.com/1202812/139937498-2a4bc33f-9bcf-4a88-

[2021-11-02 19:31] kjellr opened #4963 "Skatepark: Spacing between menu items is incorrect"
Current Dev|Mockup
---|---
<img width="387" alt="Screen Shot 2021-11-02 at 3 15 33 PM" src="https://user-images.githubusercontent.com/1202812/139938699-01f50d48-d6ed-4bcd-8cb0-d8e33f192613.png">|<img width="259" alt="Screen Shot 2021-11-02 at 3 30 37 PM" src="https://user-images.githubusercontent.com/1202812/139938375-287a4faf-f7cd-4802-bc5d-32de01c893f4.png">

[2021-11-02 19:35] kjellr opened #4964 "Skatepark: Vertical interior spacing in the header is incorrect"
I feel like we've already fixed this once or twice. There should be more spacing between the site title and tagline, and also between the menu and the social nav on desktop.

Please reference the design comps, as those have extensive mockups for how the header should appear.

Current Dev|Mockup
---|---
<img width="1287" alt="Screen Shot 2021-11-02 at 3 33 12 PM" src="https://user-images.githubuser

[2021-11-02 19:39] kjellr opened #4965 "Skatepark: Missing space between the social nav and the menu on mobile"
~40px is fine.

Current|Mockup
---|---
<img width="319" alt="Screen Shot 2021-11-02 at 3 35 46 PM" src="https://user-images.githubusercontent.com/1202812/139940741-6abab1ff-b922-42bd-b6a5-6247f6c3dd9e.png">|<img width="319" alt="Screen Shot 2021-11-02 at 3 37 25 PM" src="https://user-images.githubusercontent.com/1202812/139940743-8c4fe8b6-0223-431e-9a23-9951d25315ba.png">

[2021-11-02 19:42] kjellr commented on #4963
Also since we're here: is it possible to underline the current item, as designed?

[2021-11-02 19:47] scruffian commented on #4963
I believe @mikachan just got a Gutenberg PR merged which now makes this possible!

[2021-11-02 20:03] danieldudzic commented on #4952
I think it would make sense for the post pagination to be matching, style-wise, the query pagination:
https://github.com/Automattic/themes/pull/4933 - it also should probably use the same, core arrows.

Unfortunately, it does seem that the `paginationArrow` attribute is only supported by the Query Pagination - @scruffian do you think it's worth opening a Gutenberg issue for this? (or am I mistaken

[2021-11-02 23:31] scruffian commented on #4952
There's already a GB issue: https://github.com/WordPress/gutenberg/issues/35954

[2021-11-02 23:45] mikachan commented on #4959
It looks like the menu will change to use the hamburger on desktop when #4832 can be merged.

[2021-11-03 01:04] helenaartmann commented on #4789
32391243-hc, Hemingway Rewritten theme.

[2021-11-03 11:30] MaggieCabrera opened #4970 "Blockbase: warnings when saving color or font changes"
## Steps to replicate

I've seen this on trunk, using skatepark and changing the color palette, on my PHP error_log file I see warnings like this:

<img width="1972" alt="Screenshot 2021-11-03 at 12 28 01" src="https://user-images.githubusercontent.com/3593343/140052591-0c91a94f-1618-41ef-82f1-0652afb4956b.png">

/cc @scruffian

[2021-11-03 11:33] MaggieCabrera commented on #4970
It's also happening when I do font changes.

[2021-11-03 12:10] scruffian commented on #4970
Oh funny I think i've just been working on a fix for this. I'll create a PR.

[2021-11-03 12:14] scruffian commented on #4970
Try https://github.com/Automattic/themes/pull/4972

[2021-11-03 13:26] fstath commented on #1765
I got another report.

https://wordpress.com/forums/topic/my-profile-no-appears-on-my-sites-front-page/

[2021-11-03 15:24] supernovia opened #4975 "Hever: "Get Away" button on demo content doesn't go anywhere"
## Steps to replicate
View the demo or any new Hever site. Click "Get Away"

## Result
Nothing

## Expected
A new user would expect _something_ to happen when a button is pressed, and may click it and figure the site already isn't working.

The old Hever setups had links to learn.wordpress.com -- that's actually outdated, and the blue links weren't very visible against the blue mountain backdrop.

[2021-11-03 15:30] supernovia commented on #4975
I wasn't sure whether this would count as a bug (since expected behavior is for a button to do something) or an enhancement, since the button would link to a getting started doc. So I added both tags.

[2021-11-03 16:06] #4970 closed, assigned to nobody

[2021-11-03 17:18] beafialho opened #4976 "Skatepark: Add more spacing between featured image and post content"
There should be more spacing between the featured image and the post content. According to the [Figma file](https://www.figma.com/file/CA8Gb16mt9yYNWOiVLAWak/Skatepark?node-id=2691%3A2220), the first paragraphs on posts should also have `184px` indentation. Here's how it should look:

| Currently      | Mockups |
| ----------- | ----------- |
| <img width="1533" alt="Captura de ecrã 2021-11-03, às

[2021-11-03 17:24] beafialho opened #4977 "Skatepark: Add "Next Post" and "Previous Post" to post navigation"
Currently the post navigation is looking like this:

<img width="1529" alt="Captura de ecrã 2021-11-03, às 17 09 27" src="https://user-images.githubusercontent.com/65220155/140148035-627388bd-4e95-4efb-bb39-91e80688f1f4.png">

It should look as shown in the [Figma comp](https://www.figma.com/file/CA8Gb16mt9yYNWOiVLAWak/Skatepark?node-id=258%3A2085). Post navigation terms should be `H6` and post

[2021-11-03 17:28] supernovia opened #4978 "Hever: Full-width layout block overlaps featured image"
## Steps to replicate
Create a new post
Add a featured image
Add a Layout Grid block - keep it on full alignment
Put content in each column
Save and view the post on its own (not in a list of posts)

## Result
The layout block gets a -64px margin, only on .single, and only when the layout is full (which is default).

On pages, it looks awkward. On posts, the first line is unreadable if the post ha

[2021-11-03 17:29] beafialho opened #4979 "Skatepark: Tags broken when they are too many"
When we use a lot of tags, here's how they behave:
<img width="1524" alt="Captura de ecrã 2021-11-03, às 17 10 45" src="https://user-images.githubusercontent.com/65220155/140154029-a10ea560-f38f-4122-9b77-78dfa3dd7313.png">

It would be great if we could have them line up horizontally, as shown below:
<img width="1500" alt="Captura de ecrã 2021-11-03, às 17 11 32" src="https://user-images.gith

[2021-11-03 17:31] supernovia commented on #4978
[Here's the offending CSS:](https://github.com/Automattic/themes/blob/trunk/hever/style.css)

`@media only screen and (min-width: 560px) {
	.singular .hentry .entry-content > *:first-child.alignfull {
		margin-top: -64px;
	}
}`

If there's a way to say it doesn't apply to layout blocks, that'd do. :)

[2021-11-03 17:48] beafialho opened #4981 "Skatepark: Social links misaligned in footer pattern"
<img width="741" alt="Captura de ecrã 2021-11-03, às 17 46 21" src="https://user-images.githubusercontent.com/65220155/140164358-f13416b5-1f03-4424-aa75-99faf2d2e12a.png">

[2021-11-03 18:15] tavilla61 commented on #4782
Another example in this ticket: #4426895-zen.
CSS fix was sent to the user.

[2021-11-03 22:06] alaczek opened #4982 "Quadrat, Zoologist, Geologist: Header elements misaligned."
## Steps to replicate
1. Go to the demo site of Quadrat, Zoologist, or Geologist (so far any Blockbase child that has site title, description, and nav in one row).
2. Note title + description and navigation are slightly misaligned:

![image](https://user-images.githubusercontent.com/4550351/140199575-f81d729d-aa74-44a4-a6c7-2ed7febd0831.png)

![image](https://user-images.githubusercontent.com/4550

[2021-11-04 00:52] Columbo199X commented on #3168
@supernovia Sorry for reporting back late. The previous issue was fixed. However since today there seems to be a different bug with the Cover block.
The transperency option doesn't seem to be working. Doesn't matter which value I set it to it still shows as 0%
[Screenshot](https://imgur.com/E2vu8vg)

[2021-11-04 02:46] jordesign commented on #653
Confirmed this behavior is still in place - here's a screenshot for added clarity
<img width="1202" alt="Screen Shot 2021-11-04 at 1 43 19 pm" src="https://user-images.githubusercontent.com/1842363/140249086-4bc6d136-61fb-48bc-a28f-dea90b15ed86.png">

Ixion is currently active on  190,318 sites

[2021-11-04 02:59] jordesign commented on #733
I'm currently unable to reproduce this in testing - but it *does* make sense that the build-in Masonry system might have troubles when not all images are loaded (due to Lazy Loading).

For impact - Orvis is installed on 193,576 sites.

[2021-11-04 03:08] jordesign commented on #1601
This seems like a relatively high priority fix - Cubic is active on 1,475,553 sites.

[2021-11-04 03:13] jordesign commented on #1720
Triaging old issues - and owndering how relevant this issue still is with current browser share for Safari 9 and lower (and older Chrome)?

[2021-11-04 03:22] jordesign commented on #1833
Confirmed this behaviour is still in place if the cover block has a dark overlay.

Dyad is active on 582,558 sites

[2021-11-04 03:24] jordesign commented on #1833
Looks like there was the start of a solution in https://github.com/Automattic/themes/pull/2778 - but it stalled.

[2021-11-04 03:28] jordesign commented on #1851
Can confirm this behavior is still in place. Perhaps a solution would be to have the section set to `visibility:hidden` and then change it to visible once content is loaded? At least it would avoid the jumpy-feel.

Gazette is active on 212,758 sites

[2021-11-04 03:38] jordesign commented on #2073
Scrubbed and confirmed - Radcliffe 2 is very widely installed (1,972,319 sites) so I'd say this is a higher priority fix to add proper support for the Blog Posts block.

[2021-11-04 03:44] jordesign commented on #2320
I can still recreate this - and it seems like a stylistic choice by the theme. With no further reports in 12 months, and the fact Wilson is only installed on ~73k sites - I'm going to close this for now.

[2021-11-04 03:44] #2320 closed

[2021-11-04 05:04] jordesign commented on #2320
Added this CSS solution to Theme Quirks:
p5nmAP-1b2-p2

[2021-11-04 05:12] jordesign commented on #2336
Recreated this - With 644,313 sites having Baskerville active - this seems a good one to get fixed.

[2021-11-04 05:22] jordesign commented on #4975
I've gone ahead and updated the demo site so the button points to the 'About' page. It seems like an improvement.

If we want to go ahead with that - I can get someone to regenerate the Headstart annotation.

[2021-11-04 12:10] beafialho opened #4986 "Videomaker: Post title links hover state"
Currently, the post title links are underlined by default and the underline is removed on hover. It should happen the other way round, as specified in the styles in Figma.

Currently:
<img width="1002" alt="Captura de ecrã 2021-11-04, às 12 08 35" src="https://user-images.githubusercontent.com/65220155/140310951-de331dad-5ba1-4557-8d74-b67ce77e9d91.png">

Intended:
<img width="631" alt="Captura

[2021-11-04 13:15] MaggieCabrera commented on #4977
We didn't do this originally because the block didn't allow it, I think that has changed so we can revisit this

[2021-11-04 13:55] scruffian opened #4987 "Block Patterns: Move to the top of the list"
## Steps to replicate
It would be good to move theme patterns to the top of the list. This is made more complex as things work differently in WordPress.com

See pNEWy-es0-p2#comment-53839

[2021-11-04 14:21] scruffian opened #4989 "Videomaker: Post titles too close to content in editor"
In the editor, the post titles are too close to the content:
<img width="855" alt="Screenshot 2021-11-04 at 14 20 02" src="https://user-images.githubusercontent.com/275961/140330710-6a5a448e-1a38-4e7b-9192-ab29bedd5647.png">

[2021-11-04 14:28] scruffian opened #4990 "Videomaker: Full width homepage pattern preview broken in editor"
## Steps to replicate

Add the "full width homepage" pattern from Videomaker to a post. In the editor it looks like this:
<img width="1127" alt="Screenshot 2021-11-04 at 14 26 27" src="https://user-images.githubusercontent.com/275961/140331952-3e37fbf8-ff27-4716-8343-775b97bf1f2b.png">

It's fine in the frontend.

This only happens on WordPress.com

[2021-11-04 15:12] scruffian opened #4991 "Videomaker: When adding the patterns, videos fail on their first attempt"
## Steps to replicate
When you add a pattern with videos in it seems to fail and require the user to click "try again" on the embed blocks.

This seems to only happen on WordPress.com. This is probably not a theme bug.

See pNEWy-es0-p2#comment-53845

[2021-11-04 15:56] beafialho opened #4992 "Videomaker: Grid patterns adjustment"
For all the Videomaker patterns that currently look like a grid of posts with video featured images, we should replace the date for the short descriptions I added [here](https://www.figma.com/file/XnDSyzD9cBG5kbDaVZn9yG/Videomaker?node-id=501%3A681).

<img width="804" alt="Captura de ecrã 2021-11-04, às 15 55 44" src="https://user-images.githubusercontent.com/65220155/140373845-780fcb69-a91b-4a3

[2021-11-04 16:30] AtrumGeost opened #4993 "Varia themes: Default text Color inside the Cover Block is not the same in the editor and the front-end"
## Steps to replicate

1. Activate the Hever theme and select the option to replace the Home page
2. Open the new Home page in the editor
3. Notice the color of the text inside the Cover block (white)
4. Notice the color on the actual site (black)

## Result

![Screen Shot on 2021-11-04 at 11-29-21](https://user-images.githubusercontent.com/3696121/140379726-8d0e405b-aed4-4bf5-b336-623847b2608b.pn

[2021-11-04 17:33] renata-franco commented on #4579
Issue here: 4429771-zd

[2021-11-04 18:15] dcoleonline commented on #4993
Also in 4424948-zen

We should update them once this is resolved. For now, I've manually set the color option in the editor to override this issue.

[2021-11-04 21:55] scruffian opened #4996 "Blockbase: Color previews in customizer are broken"
## Steps to replicate
1. Switch to Blockbase
2. Open the customizer
2. Try changing primary color
3. Notice that the preview updates the first time
4. Try changing the background color
5. Notice that the preview no longer updates

[2021-11-05 01:17] jordesign commented on #5002
@daria2303  That's definitely very strange - are you able to share your test site with me so I can take a look?

[2021-11-05 01:52] jordesign commented on #4903
Hey @supernovia  - I'm unable to recreate this on the user's test site.
it *may* have been related to an earlier issue with GB where certain themes weren't using the Theme's styles in the editor.

If you're able to confirm this is resolved with the user - I think we can close this.

[2021-11-05 09:51] MaggieCabrera opened #4998 "Blockbase: update theme.json to v2"
In preparation for 5.9, we could update Blockbase + kids to use the new syntax: https://github.com/WordPress/gutenberg/pull/36182

[2021-11-05 12:25] Robertght opened #5000 "Hyalite: the header image isn't showing up full screen"
### Quick summary

The full screen header image is only showing up correctly when we're proxied.

### Steps to reproduce

1. Start at https://israelpintor.com/collage/
2. Access the page with and without proxy

### What you expected to happen

To see the header image in full size

### What actually happened

The image showed up like this:

![image](https://user-images.githubusercontent.com/6737345

[2021-11-05 12:27] Robertght commented on #5000
I think I've seen another case in the recent past where the non-proxied showed a different result.

In this case, I can see there's some inline min-heigh that's not being applied to the header area.

[2021-11-05 14:40] dpasque commented on #5450
Tagging @Automattic/flow-patrol-create based on issue content

[2021-11-05 19:13] mikeicode opened #5017 "Lodestar: Issues with header on scroll"
### Quick summary

Lodestar adds the classes `site-header-hidden` and `site-header-fixed` when scrolling the site. This feature can be buggy, sometimes the  `site-header-hidden` class isn't removed on scroll up.

Although this works fine on the default site setup we've run into issues with this on multiple sites, for example after adding CSS to hide the header image.

### Steps to reproduce

1. Ad

[2021-11-05 19:49] sublimese opened #5001 "Blockbase: Color schemes in customizer are broken"
### Steps to replicate

1. Switch to Blockbase
2. Open the customizer
3. Select one of the non-default color schemes
4. Press publish
5. Notice an error message appears:  Looks like something’s gone wrong. Wait a couple seconds, and then try again.

## Result

Error message on screen:
Looks like something’s gone wrong. Wait a couple seconds, and then try again.

Error message in logs:
PHP Fatal er

[2021-11-06 05:58] rachelwinspear commented on #3996
New case here: #4431916-zen
Theme Mayland, I have also been able to replicate the issue on a test site.

<img width="391" alt="Screenshot on 2021-11-06 at 06-54-36" src="https://user-images.githubusercontent.com/44442769/140599654-26111afd-59fc-4dce-a650-ecf0c13dedf6.png">

[2021-11-06 14:10] kspilarski opened #5171 "Blockbase child themes: Color & Font Customizations"
### What

Show a preview of how the colors look like in the customizer.

### Why

It'll save time and it'll be handy to see how the color and color combinations will look like on the site while changing them in the Customizer instead of saving the changes first, then refreshing to see how the final outcome looks.

### How

Changing primary, secondary, foreground, background, tertiary and color sch

[2021-11-06 14:22] jartes commented on #3178
Had a user in chat with this issue on: 32263418-hc

They wanted to have the captions centered and they are using the Hemingway Rewritten theme.

Adding custom CSS was not possible as they had a Personal plan. However, adding the CSS class `aligncenter` to each Image Block did the trick.

[2021-11-06 15:51] kspilarski opened #5170 "Canard: Red border color is automatically added to a button in Poll Block"
### Quick summary

Submit button in a poll block gets a red border color as soon as Canard theme is activated.

### Steps to reproduce

1. activate Twenty Twenty or any theme
2. in a page or post, create a poll block and notice how the Submit button looks like.
3. save
4. change theme to Canard
5. go back to the page or post with poll block and Submit button border color will be red.

### What you

[2021-11-06 15:53] kspilarski commented on #5170
User report in: 4433429-zd

And related issue: https://github.com/Automattic/themes/pull/548

[2021-11-06 16:34] daria2303 commented on #5002
@jordesign sure: https://darusjapers.blog/ it is in home

[2021-11-06 19:41] jordesign commented on #5002
Hmmm - I can see it in that instance as well - but not in any other testing of Seedlet on Simple SItes. I'll pop this over to the Themes repo to see if they can diagnose anything in these specific instances:

* https://darusjapers.blog/
* http://flauwekult.nl/

[2021-11-07 09:24] formosattic commented on #1905
Should this get improved along with the text color?

I feel that a reason the links are hard to read is also because of the light grey text. It makes it hard to read for users, 4434674-zd-woothemes

A temporary workaround is to turn off theme styles.
![image1](https://user-images.githubusercontent.com/15944096/140637795-3aade3f8-62fc-4211-9513-0c115ab445d7.png)

[2021-11-07 09:32] formosattic opened #5003 "Penscratch 2: In editor, improve text color visibility"
### What

In the editor, the theme styles apply a light grey color to the text, it's hard to read.

Kind of related to https://github.com/Automattic/themes/issues/1905

Ticket: 4434674-zd-woothemes

### Why

Editor is hard to read.

![image1](https://user-images.githubusercontent.com/15944096/140638035-16172e21-3055-4226-a8ac-893f72db6d99.png)

### How

A temporary workaround is to turn off theme

[2021-11-07 10:42] Nic-Sevic commented on #3365
another case here with Barnsbury: 4435312-zd-woothemes
Seems also related this this issue which is marked closed?: https://github.com/Automattic/themes/issues/3250

[2021-11-07 15:36] ChrissiePollock opened #5048 "Gateway Theme Doesn't Offer Home Page Setting in Page Attributes"
### Quick summary

In the [theme setup](https://wordpress.com/theme/gateway/) it says:

1. Create a new Page, and assign it the “Home Page” template under Page Attributes. The title and content of this page will be displayed beneath the header, like this: (then shows how to add it).

But there is no option for that.

### Steps to reproduce

Start on your test site.
Make Gateway the theme.
Create a

[2021-11-07 23:33] jordesign commented on #2295
Unable to recreate any more - it appears this has been resolved.

[2021-11-07 23:33] #2295 closed

[2021-11-07 23:36] jordesign commented on #1994
Unable to recreate this in the Exford or Hever theme demos

[2021-11-07 23:36] #1994 closed

[2021-11-07 23:38] jordesign commented on #1863
Can no longer recreate this error - Call to action buttons now correctly update to the new URL

[2021-11-07 23:38] #1863 closed

[2021-11-07 23:41] jordesign commented on #1857
As we've since had a new version of the AMP plugin, and multiple updates to the Hever and Varia themes - I'm going to close this single instance issue. If we get more reports of something similar we can re-evaluate.

[2021-11-07 23:41] #1857 closed

[2021-11-07 23:47] jordesign commented on #1912
Can no longer recreate this behaviour - so closing this issue

[2021-11-07 23:47] #1912 closed

[2021-11-07 23:55] jordesign commented on #4159
Can no longer recreate this issue - and it is low priority as it is Classic Editor/Block specific. Closing for now but we can re-open if we get further reports.

[2021-11-07 23:56] #4159 closed, assigned to nobody

[2021-11-08 03:46] arinoch opened #5019 "Storefront: Add the option to enable post excerpts in the theme's customizer."
### What

On the page that shows a user's blog posts, give the option in the customizer to have that page show excerpts.

### Why

Currently, this is provided by a [plugin](https://wordpress.org/plugins/storefront-blog-excerpt/). I see no reason why it shouldn't be a native option with the theme. Product gap located by assisting in 32613713-hc, where the user was explicitly looking for this featur

[2021-11-08 09:30] jordesign commented on #437
Confirmed this behaviour is still present - the automatic 'Category' title does not respect the custom font setting.

[2021-11-08 09:36] jordesign commented on #272
Confirmed this behavior is still in place.

[2021-11-08 09:49] jordesign commented on #157
Testing this and it is slightly better. Icon is rounded now - but still centered instead of out of the way.
Open to discussion on how high a priority this would be.

<img width="659" alt="Screen Shot 2021-11-08 at 8 47 54 pm" src="https://user-images.githubusercontent.com/1842363/140720205-0d1ec5bc-361a-44e4-9509-10a9a3f130d1.png">

[2021-11-08 09:51] jordesign commented on #2119
Closing this a single instance > 12 months ago without further reports

[2021-11-08 09:51] #2119 closed

[2021-11-08 10:02] jordesign commented on #2157
Confirmed this behaviour is still in place.

This specifically related to CoBlocks + JP Lazy load - and there's no additional reports in > 12 months.
Questioning if it is worth keeping open.

[2021-11-08 10:09] jordesign commented on #2256
No longer able to recreate this in AT or Simple sites. The new 'highlight' tool in GB works correctly.

[2021-11-08 10:09] #2256 closed

[2021-11-08 10:14] jordesign commented on #2322
Closing this as no longer relevant with the new Block Widget editor - unable to insert the HTML widget or recreate.

[2021-11-08 10:14] #2322 closed

[2021-11-08 10:21] jordesign commented on #2454
Let's prioritise this one as it looks like we have an open PR ready to go!

[2021-11-08 10:31] jordesign commented on #2911
No longer able to recreate this.

[2021-11-08 10:31] #2911 closed, assigned to nobody

[2021-11-08 11:04] devNigel opened #5018 "Twenty Seventeen: Borders are showing for linked transparent images"
### Quick summary

Bottom borders are showing up for linked transparent images in Simple sites. Previously, that was not the case.

### Steps to reproduce

1. With Twenty Seventeen theme active, upload an image with a transparent margin on all sides. Sample image is uploaded here:
![image](https://user-images.githubusercontent.com/33957570/140730152-41810de0-a734-44ff-a3b7-ff09618b9c0e.png)
2. Add

[2021-11-08 17:37] edequalsawesome opened #5049 "Lodestar: Embed in front page two-column panel not appearing correctly in Chrome"
### Quick summary

When using the Lodestar theme, the Google Map that is shown on the theme demo doesn't appear in Chrome correctly on larger screens -- when the screen is less than 960px and appearing with the content in a column, the Google Maps embed appears correctly.

I've also tested this with a YouTube embed, and the same thing happens with that as well.

### Steps to reproduce

1. Set your

[2021-11-08 20:29] pauloeaquino commented on #3703
Encountered in 32632261-hc

[2021-11-09 00:38] jerrysarcastic opened #5005 "Blank Canvas: Underline shown on images that are hyperlinked and use rounded style"
Similar to #4162 when a hyperlink is added to an image that uses the rounded image style, styling from regular links is bleeding over and adding an underline to the images.

## Steps to replicate

1. test site with Blank Canvas active
2. set up new page with image block
3. apply hyperlink to image, and select the rounded image style

As shown in screenshot, a blue underline is shown, similar to fo

[2021-11-09 00:40] jerrysarcastic commented on #4162
I think it is happening, but is not visible since it is hidden behind the image.
<img width="837" alt="Markup 2021-11-08 at 16 37 56" src="https://user-images.githubusercontent.com/1967448/140840537-2158133e-7d6e-4f6f-8bb1-700251ee3455.png">

Link styling is visible on rounded images however, as noted in #5005

[2021-11-09 09:25] rw-ye commented on #5171
32634956-hc
4440225-zd-woothemes

Had a customer report of this in chat today for the Quadrat theme.

There is no Color preview for other themes as well:

- Russell
- Quadrat
- Geologist

[2021-11-09 15:34] ianstewart opened #5007 "Zoologist: Preview not working correctly with Blank Template on Dotcom"
## Steps to replicate

1. Create a new site on Dotcom
2. Publish a new blank page
3. Switch to zoologist
4. Edit page to use Blank Template
5. Update
6. Add a pattern
7. Click preview in new tab
8. Bug? Do not see the correct preview in the new tab, still appears blank

![image](https://user-images.githubusercontent.com/545779/140954218-e8e5cf91-a8a3-40eb-a665-c142877cb612.png)

[2021-11-09 18:07] tellisbethel commented on #2751
Encountered the same issue here: 31340801-hc
Looking into the above workaround, but so far it's not doing the trick. Will follow up with user via ticket to recommend other themes.

[2021-11-09 18:46] ianstewart opened #5008 "Zoologist: Footer credit not appearing when using a blank template"
This is a screenshot of Zoologist using the Blank page template. There's no footer credit appearing. This may affect other universal themes that have Blank page templates.

![image](https://user-images.githubusercontent.com/545779/140985569-dcc1eab1-43e5-468d-be29-577179886fb7.png)

[2021-11-09 19:58] carinapilar opened #5051 "Varia Themes: Doesn't Adjust Color Based on Cover block Background"
### Quick summary

Barnsbury doesn't adjust the text color when you have a dark/light background, as other themes do.

### Steps to reproduce

1. Activate Barnsbury
2. Create a new page, add a Cover block with text inside it
3. Choose a dark color on the Custom Color option as the Cover block background

### What you expected to happen

For the text inside the Cover block to be readable, as it pro

[2021-11-10 07:20] sophiegyo commented on #2154
I think this is related, although it doesn't look the same. Report: 4423014-zen

Issue: at the bottom of the portfolio projects in Illustratr, on the portfolio layout page, the images don't quite align. I realise Illustratr is primarily a masonry layout but since the other projects on the site all line up nicely in a grid, it seems odd that only the last ones would be misaligned. Judging from how

[2021-11-10 15:05] jeffikus opened #5009 "Blockbase: Update navigation to use Navigation Areas"
We should update Blockbase to use navigation area blocks in order to preserve menus across block themes.

See https://github.com/WordPress/gutenberg/pull/36178

[2021-11-10 15:24] cskelton86 opened #5010 "Blockbase: child theme creation failed"
## Steps to replicate

As per the Blockbase instructions, I ran the following command:

christian@christians-imac blockbase % npm run create:child em-core-theme

## Result

npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/

[2021-11-10 15:31] MaggieCabrera commented on #5010
Yes, thanks for reporting this! We recently changed Blockbase because the build process is no longer needed to generate a theme.json on the child theme that inherits from the parent (see https://github.com/Automattic/themes/pull/4861) and that affected the create child script. We need to update it to no longer use the build.js file anymore.

[2021-11-10 15:32] MaggieCabrera commented on #5010
Meanwhile, I suggest you try https://github.com/Automattic/create-blockbase-theme, a plugin we are working on for the same purpose. It's still In really early stages though! But it will work better than this script does at the moment.

[2021-11-10 15:43] cskelton86 commented on #5010
Perfect, thank you very much.

[2021-11-10 15:51] MaggieCabrera commented on #5010
I'll keep this open to either fix the script or remove it entirely though.

[2021-11-10 16:07] AtrumGeost opened #5011 "Bradford: Cover block displaying black background"
## Steps to replicate

1. Activate the Bradford theme and replace the Homepage
2. Open the Bradford theme homepage in the editor
3. Notice the black background

Not sure if this could be related to the background image that has a transparent background.

## Result

![Screen Shot 2021-11-10 at 11 03 25](https://user-images.githubusercontent.com/3696121/141148501-c23059c5-8210-4f80-a06d-0546ceeeaaff

[2021-11-10 16:51] #4951 closed, assigned to nobody

[2021-11-10 16:56] radtechgh commented on #5049
Issue reported on this ticket: #4432538-zen

[2021-11-10 17:03] #4959 closed, assigned to nobody

[2021-11-10 17:04] #4963 closed, assigned to nobody

[2021-11-10 17:06] #4992 closed, assigned to nobody

[2021-11-10 18:03] pbking opened #5013 "Automate Deployment of .org themes"
## What to Do

Now that the [.org deployment script](https://github.com/Automattic/themes/pull/4926) has been shown to work it needs to be automated.

A GitHub action should be created to trigger that action on any commit to trunk.

[2021-11-10 19:12] Gustavo-Hilario commented on #3372
The same issue was reported here: 4445284-zd-woothemes

Shared a CSS code as a workaround for now.

[2021-11-10 20:23] pbking commented on #5001
I was not able to reproduce this issue (on /trunk as of today) in either .com or .org environment.  However while testing I did find and fix [something similar](https://github.com/Automattic/themes/pull/5014).  Not likely related but maybe worth mentioning.

[2021-11-10 20:28] sublimese commented on #5001
I am happy to test something out if you would like.  Can also do screen grabs of each step that I am doing to get the issue.

[2021-11-10 20:45] pbking commented on #4977
While we can add labels via block attribute since block-templates aren't yet localizable the content "PREVIOUS POST" and "NEXT POST" would instead need to leverage something like the [pattern block](https://github.com/WordPress/gutenberg/pull/33217).

[2021-11-10 21:36] pbking commented on #4996
This seems to be what #5014 fixed.

[2021-11-10 21:40] pbking commented on #4703
Child themes have been simplified (child-theme.json files removed, etc)

Scripts creating new themes can be tracked in #5010 or in the new [Create Blockbase Child](https://github.com/Automattic/create-blockbase-theme) project.

This tracking issue can be closed.

[2021-11-10 21:40] #4703 closed, assigned to nobody

[2021-11-11 00:14] benchilcote opened #5016 "Twenty Twenty-one theme paragraph block link text color not displaying"
### Quick summary

On the Twenty Twenty-one theme, In a paragraph block, changing the link color does not affect the actual color in the editor or on the live page.

Page editor:
<img width="1321" alt="Screen Shot 2021-11-10 at 19 03 27" src="https://user-images.githubusercontent.com/11636210/141213708-15451431-2d2f-4718-99f9-e87b035a3362.png">

Live page:
<img width="1298" alt="Screen Shot 2021-1

[2021-11-11 05:04] Greatdane commented on #5171
Not quite the same, but it is possible to save a draft, its kind of like a preview;

<img width="992" alt="Markup 2021-11-11 at 14 01 32" src="https://user-images.githubusercontent.com/5075840/141240332-0e90cf85-ba1e-4fc2-a23f-eb53b9624827.png">

But yea, it would make sense to have consistency across themes with the colors applying right away in customizer!

[2021-11-11 05:27] Greatdane commented on #5016
Confirmed, link color does not change.

[2021-11-11 05:58] Greatdane commented on #5018
Reproduced. Unsure of what element is causing the black underline.

[2021-11-11 06:40] Greatdane commented on #5170
@kspilarski I am not sure if this is a bug, `#d11415` seems to be the Canard Theme color, it is everywhere on the [Canard demo site](6dC7B-p2).

I tried a few themes, for example, Russell > Canard and then back to Russell, and the buttons changed back to their original state once the theme had been changed back.

I guess the issue is that in the poll block, you cant change the button border, so it

[2021-11-11 12:03] MaggieCabrera opened #5020 "Blockbase refactor 404 page to use pattern block"
Now that the pattern block is in Gutenberg, we should refactor de 404 page to use it instead of being a PHP template

[2021-11-11 12:51] pbking commented on #5011
I believe I saw this same behavior on a Blockbase site as well.  Seems to be related to Gutenberg (11.8?) rather than the theme.

[2021-11-11 14:04] jeffikus commented on #4989
@matiasbenedetto can you take a look at this issue please?

[2021-11-11 15:15] pbking commented on #4906
Thank you @jbonlinea for the report.  I've found this to be an issue with Gutenberg and have opened an issue reporting that [here](https://github.com/WordPress/gutenberg/issues/36409).

[2021-11-11 15:15] #4906 closed, assigned to nobody

[2021-11-11 17:34] pbking commented on #4950
#5012 addresses the spacing issue you raised @kjellr, however it isn't clear what the content should be regarding your comment:

It is set that way in the pattern.  What value should it be if not the post date?  (Which I agree doesn't make much sense...)

[2021-11-11 17:50] RafaelFunchal opened #5022 "Varia is incompatible with PHP 8.0"
## Steps to replicate

1. Activate Varia or one of its child themes (i.e., Rivington) on an Atomic Site.
2. Go to My Site > Settings > Hosting Configuration.
3. Change the PHP version to 8.0.

## Result

A Fatal Error is generated, making the site inaccessible:

Switching PHP back to `7.4 (recommended)` fixes the issue.

* User report: [31905274-hc](31905274-hc)
* Follow-up ticket: [4438928-zen](4

[2021-11-11 18:27] jbonlinea commented on #4906
Ok, great to see you nailed the source !
thank's

[2021-11-11 18:46] matiasbenedetto commented on #4989
Hi :wave: , I did some debugging around the problem featured in this issue and I found that:

- The issue is only reproducible on "Tablet" and "Mobile" editor preview modes.
- This is not a Videomaker theme specific problem
- The issue is also reproducible in Blockbase theme

The same issue using Blockbase:
![image](https://user-images.githubusercontent.com/1310626/141352086-514e42a9-8e38-4e55-956

[2021-11-11 20:13] jordesign commented on #2754
Testing this - and it seems IP2 no longer includes the 'Crop' parameter on Podcast image URLs!
https://jordesign.wordpress.com/category/podcast/feed/

Closing this issue now

[2021-11-11 20:15] jordesign commented on #705
@Robertght Are you able to check this again when you have a moment? I'd be interested to know if it is still relevant

[2021-11-11 20:22] jordesign commented on #2754
Actually - in the reight circumstances I _can_ recreate this. Re-opening

[2021-11-11 20:30] jordesign commented on #3019
Confirmed this behaviour is still present

[2021-11-11 21:01] jordesign commented on #3638
I'm seeing Premium Content buttons as properly center aligned in testing now. Closing this issue.
<img width="660" alt="Screen Shot 2021-11-12 at 8 00 32 am" src="https://user-images.githubusercontent.com/1842363/141368401-b77c576f-0c9f-4737-a8cd-0dabe608e0e1.png">

[2021-11-11 21:01] #3638 closed, assigned to nobody

[2021-11-11 21:02] jordesign commented on #3813
Confirmed this behaviour still in place - the drop shadow on the Gravatar image when hovered is definitely out of place.

[2021-11-11 21:06] Gustavo-Hilario commented on #2252
Issue reported here: 4448278-zd-woothemes

I was able to replicate it on a test site so I'm reopening this issue for now.

[2021-11-12 00:19] CodeAllNightNDay commented on #3127
Just had an issue related to this with the Alves theme
32168718-hc

The user made no changes to the colors in the customizer but lost all the white text. It shows correctly in the editor but is a dark blue on the front end. If you try to change the color in Colors & Background that is supposed to change the text color, it changes the entire color of the Cover Block.

The user can go in and change

[2021-11-12 09:43] MaggieCabrera commented on #4989
I can't reproduce this in Videomaker with the latest from GB trunk:

<img width="1637" alt="Screenshot 2021-11-12 at 10 42 47" src="https://user-images.githubusercontent.com/3593343/141446040-38b43ff8-b4c2-4879-8a28-acd88aab91ba.png">

<img width="1636" alt="Screenshot 2021-11-12 at 10 42 59" src="https://user-images.githubusercontent.com/3593343/141446033-b82d93e6-aeee-4b6a-bf58-3cef9900b1b3.png"

[2021-11-12 10:29] MaggieCabrera commented on #4643
@beafialho is the demo site finished or is there something left to do?

[2021-11-12 12:16] beafialho commented on #4643
I think the [demo site](https://videomakerdemo.wordpress.com) is at a good point in terms of content. What do you think @kjellr?

[2021-11-12 12:24] MaggieCabrera opened #5024 "Videomaker: Full width not working on post template"
Looks like alignments are not working properly on the post template. Tested with the content from pcrugM-lB-p2

![Screenshot 2021-11-12 at 13-23-11 Alignments – Skatepark](https://user-images.githubusercontent.com/3593343/141466665-e2ba62c6-c01e-4997-b49b-63d046956d12.jpg)

[2021-11-12 12:57] kjellr opened #5025 "Consider adding a search icon to the Geologist + Zoologist footers"
Let's try adding a search to the footer of Geologist + Zoologist. It should:

- Use `var(--wp--custom--font-sizes--tiny)` text (We might need a block style to accomplish this, since we don't want that to apply to all search blocks).
- Have half of the normal `var(--wp--custom--form--padding)` around the input field.
- Be the width of the content column.
- Only be available on the archive pages, on

[2021-11-12 13:10] MaggieCabrera commented on #5025
I think we could consider making a block style on Blockbase for a small version of the search block, since we usually have a big one on the search page/404 and having a smaller one on the header/footer is common too.

It's important to consider that the search block font size rules [changed recently](https://github.com/WordPress/gutenberg/pull/35723) (they weren't working on theme.json correctly b

[2021-11-12 13:25] kjellr commented on #4892
We chatted about this elsewhere, but I realized we never migrated this recommendation over here.

We shouldn't treat this like a blocker at all, since we can adjust the design to make it work today. I recommend that we redesign the content so that these seem less like posts and more like a grid of individual videos.

I think the dates are the element that _really_ make these seem like a grid of po

[2021-11-12 13:26] kjellr commented on #4643
I think we have just a couple tasks for the demo site still:

- The homepage template needs to have [these dates changed or removed](https://cloudup.com/cF_yEDL9zSm) so that the videos don't resemble posts. Users need to see that area and know that it's just a manually-created grid of four videos, not a list of posts. ([More details here](https://github.com/Automattic/themes/issues/4892#issuecomme

[2021-11-12 13:28] kjellr commented on #4950
We're addressing that in https://github.com/Automattic/themes/issues/4892#issuecomment-967116923.

[2021-11-12 13:31] kjellr commented on #4656
I don't think the mockups above are relevant any longer, but I do think we need to make some adjustments to the way the navigation appears on desktop. Currently, the menu items are small and way over on the left edge of the page. This is easy to miss on medium-to-large screens.

![menu](https://user-images.githubusercontent.com/1202812/141474872-97ab8696-c4c9-4c1c-8700-175eabb0e1e2.gif)

The theme

[2021-11-12 13:41] #4950 closed, assigned to nobody

[2021-11-12 13:43] #4979 closed, assigned to mikachan

[2021-11-12 13:44] #4977 closed, assigned to nobody

[2021-11-12 13:44] #4996 closed, assigned to nobody

[2021-11-12 14:37] matiasbenedetto commented on #4989
@MaggieCabrera this can't be reproduced with the paragraph like the first element of the page because the paragraph has `margin-top:
![image](https://user-images.githubusercontent.com/1310626/141476082-88a9db94-0dfe-48c6-aef0-a10d04f5d39b.png)

[2021-11-12 14:37] matiasbenedetto commented on #4989
After confirming with @MaggieCabrera and @pbking (thanks both!) that this is a Gutenberg issue I'm creating a [new issue](https://github.com/WordPress/gutenberg/issues/36450) in the Gutenberg repository and closing this one.

[2021-11-12 14:37] #4989 closed, assigned to scruffian, matiasbenedetto

[2021-11-12 14:39] beafialho commented on #4892
Yes, we have updated the text in the pattern to have a brief description. I can't find that PR, but I remember approving it.

[2021-11-12 14:45] beafialho commented on #4643
Do I need to change it manually in the demo site?

I was thinking of adding the laurel pattern to each project page. It might make more sense to make them about each specific project:
<img width="1044" alt="Captura de ecrã 2021-11-12, às 14 45 08" src="https://user-images.githubusercontent.com/65220155/141485261-c4068b6b-1abb-4900-9503-ff26006be46a.png">

[2021-11-12 14:48] beafialho commented on #4656
Definitely, this looks more obvious 👍

[2021-11-12 16:11] kjellr commented on #4643
Yeah, I think so. After a pattern's been inserted it won't keep in sync with any updates to the pattern.

That sounds good to me!

[2021-11-12 17:00] bobmatyas opened #5026 "Exford: Columns Break on Frontend when using Donation & Subscription Blocks"
## Steps to replicate

1. Create a Columns block.
2. Insert Donations block into the first column
3. Insert Subscription block into the second column
4. Preview page

## Result

Columns do not display properly on frontend of the site:

<img width="1777" alt="Screenshot on 2021-11-12 at 11-54-48" src="https://user-images.githubusercontent.com/45246438/141504777-5c415b25-6c68-4855-9034-e3ebaa58dbbb.

[2021-11-13 01:51] kosiew commented on #3127
Reproduced this.

[2021-11-13 03:33] vinnykaur commented on #4730
The user followed up about the progress again. For now, I have shared the below CSS with them after adding a Custom Design subscription as a one-time exception:

[code]

[2021-11-13 10:54] Robertght commented on #705
Thank you for the ping @jordesign ! I can't replicate this anymore.

Closing.

[2021-11-13 10:54] #705 closed

[2021-11-13 11:25] kavyagokul commented on #2252
It's possible this is actually this issue instead
https://github.com/Automattic/wp-calypso/issues/57711

[2021-11-13 14:45] AtrumGeost commented on #4993
Another report here:

4452487-zd-woothemes

[2021-11-13 15:20] kspilarski commented on #2252
4448278-zd - I had the same user in chat.

I gave CSS as a workaround to set text color to the color they want.

[2021-11-13 23:48] donalirl opened #5027 "Varia: Invisible Text of Active Tab of Donations Block"
## Steps to replicate

1. On Varia or any Varia child theme, add a Donations block
2. Ensure that at least one of these settings is enabled in the block settings: 'show monthly donations' and 'show annual donations'
2. Preview the page

![image](https://user-images.githubusercontent.com/30727666/141662220-08d3b54d-1ee1-4f86-b3c4-f00c65d15c1e.png)

## Result

The active tab does not show because th

[2021-11-14 09:15] Nic-Sevic commented on #3877
another instance here: 4453533-zd-woothemes
User on Personal plan but background is white so I think they're okay without setting color

[2021-11-14 18:03] rachelwinspear opened #5050 "Image Block inserts Black Background when converted to Cover Block"
### Quick summary

When text is added to the Image Block with the button `Add text over image` the block is converted into a Cover Block, however, the original image is changed to a black background, and the image has to be inserted again.

<img width="509" alt="Screenshot on 2021-11-14 at 18-56-08" src="https://user-images.githubusercontent.com/44442769/141692620-ed386e99-01a5-49b4-8678-602c7fb13

[2021-11-14 18:06] rachelwinspear commented on #5011
Could be related to: https://github.com/Automattic/wp-calypso/issues/58033

[2021-11-14 20:29] happychait commented on #1997
Another report in 4454861-zen

Worked around by disabling Asset CDN in Jetpack Performance settings.

[2021-11-15 10:00] MaggieCabrera opened #5028 "Blockbase: fatal when Gutenberg is inactive"
If the Gutenberg plugin is inactive, we get the following fatals:

![](https://cloudup.com/ccwN0OtaYXO+)

I tried a solution at https://github.com/Automattic/themes/pull/4983 but that won't work on dotcom simple sites because Gutenberg is loaded differently. This needs a different solution.

[2021-11-15 10:42] scruffian opened #5029 "Blockbase: Add settings > appearance > true"
Since https://github.com/WordPress/gutenberg/pull/36246 merged we can simplify the theme.json in Blockbase.

[2021-11-15 19:14] metabreakr commented on #4914
32669626-hc / 4457594-zen

[2021-11-15 21:02] mikachan commented on #4962
As far as I know, the footer credit text automatically has a period at the end, and the content can only be one of these options from the Customizer:

![image](https://user-images.githubusercontent.com/1645628/141847858-f4cd0755-ac64-4e59-beee-45459c937844.png)

I've changed the demo site so it uses, "Website Built with WordPress.com". It was set to 'default' previously.

I've opened up a PR for t

[2021-11-15 22:29] supernovia opened #5036 "Varia: Markdown + half-adopted editor styles = invisible markdown editing"
## Steps to replicate
- Use a site that has a Varia theme
- Set the background color to something dark, and the text to something light.
- Start a new post or page
- Type /markdown to start a new Markdown block
- Add a little sample markdown, like this:

`# Hello World!

Programmed to work and not to feel
Not even sure that this is real
- Louie Zong`

So far I've confirmed this in Hever and Varia

[2021-11-16 06:39] KokkieH commented on #5036
The user has created a forum thread in https://wordpress.com/forums/topic/nearly-no-contrast-for-background-and-font-in-the-markdown-editor-hever-theme/

[2021-11-16 09:56] Thelmachido opened #5037 "Button 2: Blog Post Block not displaying featured image thumbnails on frontend"
## Steps to replicate

1. Add the [Button 2](https://wordpress.com/theme/button-2) theme to a simple site.
2. On any page add the [Blog Posts Block](https://wordpress.com/support/wordpress-editor/blocks/blog-posts-block/) to display a few posts.

## Result

The posts displayed will show featured image thumbnails in the editor and not the frontend.

**_Screenshot of the Blog Posts Block in the edit

[2021-11-16 13:35] eduardozulian commented on #2252
Bumping the priority of this one since Automattic/wp-calypso#57711 is affecting several users.

[2021-11-16 16:39] beafialho opened #5041 "Videomaker: Increase tags border radius"
I noticed that the tags border radius is currently set to `20 px`. Can we increase it so it looks completely rounded as shown in the example below?

https://user-images.githubusercontent.com/65220155/142027033-c3d81476-5738-42e3-b871-8f8a04c075b5.mp4

[2021-11-16 17:31] NoHopeRadio opened #5060 "Twenty Twenty: Separator Line Wide Width has set Width"
### Quick summary

Here's some code in the style-sheet, lines 4718-4721:

[code]
When a separator block is in a column, it overflows:

<img width="1882" alt="Screenshot on 2021-11-16 at 12-26-34" src="https://user-images.githubusercontent.com/71042895/142035430-ad1ebd54-2746-4242-938b-0af17abe78b6.png">

### Steps to reproduce

1. In Twenty Twenty theme, add columns.
2. Add separator blocks in col

[2021-11-16 18:12] beafialho opened #5042 "Videomaker: Remove tags and increase spacing in Blog"
In the default template let's adjust two things, as [shown](https://www.figma.com/file/XnDSyzD9cBG5kbDaVZn9yG/Videomaker?node-id=68%3A1223) in the Figma file:
- Omit tags and only show them in the posts
- Increase spacing between post title, featured image and excerpt to match the mockups (perhaps `45 px`)

Currently:
<img width="504" alt="Captura de ecrã 2021-11-16, às 17 07 37" src="https://us

[2021-11-16 19:24] supernovia commented on #4903
Thanks! And sorry I missed this ping. Last week was something else. I'll let you know what I find.

[2021-11-16 19:26] supernovia commented on #3168
@Columbo199X  let's get the details ironed out in a support request so we can figure out whether we need to make a new issue here. Thanks in advance!

[2021-11-16 20:06] jordesign commented on #4993
With some testing I've been able to narrow down this issue a little more. It appears to happen in the Varia parent theme and all child themes. (all I tested anyway).

The issue is that the default text color for content within Cover blocks (and others as well like Form blocks) isn't matching between editor and front-end preview.

Case (you can check Pdw1nU-d-p2 for testing):

Editor (default text

[2021-11-16 20:07] jordesign commented on #4993
As this appears to be affecting all Varia themes - I'm raising it as high priority.

[2021-11-16 20:17] jordesign commented on #4993
Could this be related to the introduction of Opacity for background colors in Gutenberg 11.8?
https://github.com/WordPress/gutenberg/pull/35065

[2021-11-16 22:29] ccwalburn commented on #5037
This was reported here: https://github.com/Automattic/newspack-blocks/issues/399

[2021-11-16 23:43] jordesign commented on #4568
My expectation around the behavior of 'Read more' links is that they are set by the theme itself - and therefore it can be *expected* to be inconsistent depending on the implementation.

I'll check with the themes team for more info

[2021-11-17 00:00] jordesign commented on #4580
Triaging this and it seems apparent this is effecting multiple themes and should be considered more holistically. At this stage reports are for:

* Canard
* Maxwell
* TwentySixteen

The bug effects any buttons which are included in a widget area (including those automatically included as part of widgets like the 'Follow' widget). This may have come into place when the Block Widget Editor was relea

[2021-11-17 00:01] jordesign commented on #4915
Closing in favour of https://github.com/Automattic/themes/issues/4580 where things are being tracked together

[2021-11-17 00:02] jordesign commented on #4782
Closing in favour of https://github.com/Automattic/themes/issues/4580 where things are being tracked centrally

[2021-11-17 00:02] #4782 closed, assigned to nobody

[2021-11-17 00:02] #4915 closed, assigned to nobody

[2021-11-17 00:06] jordesign commented on #4580
To elaborate - it _looks_ like the styles which would be expected to work when classes like `has-white-color` and `has-bright-red-background-color` are not targetting the element when it is in a widget area?

Raising this as higher priority for another look as it appears to be effecting multiple themes.

[2021-11-17 00:09] jordesign commented on #2066
Confirming this should be prioritised if possible. Even with FSE arriving soon - we'll have lots of users still using Varia themes and running into this issue.

[2021-11-17 00:14] jordesign commented on #4579
Scrubbed and confirmed

[2021-11-17 00:25] jordesign commented on #4430
Confirmed that there is no :link or :active style applied by the theme to differentiate it from regular text. This is due to the default/starter color annotation in the theme having *very* similar colors for 'Foreground' and 'Primary' color (which are used for text and link colors respectively).

As such - this is working as designed - but the actual color annotations are making it hard to see.

'

[2021-11-17 00:33] jordesign commented on #5036
Scrubbed and confirmed this taking place in Stow as well - seems to affect all Varia themes

[2021-11-17 00:53] jordesign commented on #5011
This seems related to the default theme background color not being applied properly. When I look at the cover block in the editor - there is no Background color applied. So it is defaulting to black.

<img width="1726" alt="Screen Shot 2021-11-17 at 11 46 58 am" src="https://user-images.githubusercontent.com/1842363/142089039-1a36c1b8-937b-41dd-8f73-e8fcf744d7c3.png">

By comparison - Blockbase (w

[2021-11-17 00:54] jordesign commented on #5050
@rachelwinspear Are you able to tell me what theme this was in? Just trying to narrow things down.

[2021-11-17 11:48] Thelmachido commented on #5037
Thank Catherine, closing this one.

[2021-11-17 11:48] #5037 closed, assigned to Thelmachido

[2021-11-17 12:02] devNigel opened #5112 "Penscratch 2: The code for SVG icons are loaded even if they are not being used anywhere"
### Quick summary

The user was trying to remove any unnecessary HTML codes loaded on their website. They noticed over 15 lines of definitions for SVG icons were loaded on the site despite not using them anywhere.

The SVG definitions are loaded only on Atomic sites.

![image](https://user-images.githubusercontent.com/33957570/142197266-be198aad-1750-4b8f-944c-b71739bf4a29.png)

### Steps to repro

[2021-11-17 12:05] mrsjaved commented on #4993
Another report here 18999453-hc
Follow-up ticket: 4462522-zd-woothemes user wants to receive an update when the issue is resolved.

[2021-11-17 13:27] jeffikus commented on #5028
@MaggieCabrera is the constant check here - https://github.com/Automattic/themes/pull/4983/files#diff-c1ec8d6a5b44921aad8992feffbff8a51d7a2ce7c5a3ab8cafebd09b535fcfceR240 - finding it or is that not even present?

[2021-11-17 13:45] Robertght commented on #5050
I tried to replicate this with Alves(the theme from the original request) but I had no luck on my test sites. It's like the opacity setting of the Cover block is remembered from previous use and stuck to 100% when an image is converted to the Cover block.

[2021-11-17 16:12] edequalsawesome commented on #5048
This is a change to how the page templates are set -- there's a Template panel now where that resides, instead of being part of the Page Attributes panel.

<img width="284" alt="Template Panel" src="https://user-images.githubusercontent.com/4000628/142237035-7cd5798e-07d4-4fa0-9d2a-36b7f4f3ca3b.png">

This would need to be updated in the theme documentation, which needs to be done by the Themes Te

[2021-11-17 16:33] jamiepalatnik opened #5052 "Varia Themes: Color palette missing on atomic sites"
### Quick summary

Atomic sites are missing color palette option in Customizer > Colors & Backgrounds for themes that have this option.

### Steps to reproduce

1. Activate a theme that has a color palette, like Maywood.
2. Go to Customizer > Colors & Backgrounds.

### What you expected to happen

I expected to see palettes like a simple site.

### What actually happened

There is a More button th

[2021-11-17 16:49] #4962 closed, assigned to nobody

[2021-11-17 16:53] edequalsawesome commented on #5051
I was able to duplicate -- I think it might be related to https://github.com/Automattic/themes/issues/3483, but will transfer to the Themes repo for further review!

[2021-11-17 20:21] AtrumGeost commented on #4993
Another report here: 4463353-zd-woothemes

[2021-11-17 21:57] dpasque commented on #5171
Hmm, I wonder if there's some kind of bug going on here... I thought the customizer was supposed to show the color changes in real time, and when I just tested this out with the Zoologist theme on my simple site, it was updating in real time in the preview without having to save.

@kspilarski Do you have a few more details on the site that was seeing this bug? Was it atomic? Was there anything you

[2021-11-18 07:09] #4986 closed, assigned to jeffikus

[2021-11-18 09:29] #4981 closed, assigned to danieldudzic

[2021-11-18 09:30] #5041 closed, assigned to danieldudzic

[2021-11-18 09:40] jeffikus commented on #4952
Closing in favour of duplicate #4893

[2021-11-18 09:40] #4952 closed, assigned to nobody

[2021-11-18 10:30] MaggieCabrera opened #5055 "Skatepark: implement pre footer inside the footer template"
Now that we have the pattern block we can insert this inside the footer template too

[2021-11-18 11:45] mrsjaved commented on #4993
Another report here: 4063903-hc

[2021-11-18 12:32] beafialho opened #5058 "Videomaker: Update grid block patterns copy"
Related to #4892

We have updated the `Pattern: Grid` pattern:

![Two Column Grid](https://user-images.githubusercontent.com/65220155/142414987-52b03b01-03ea-49d3-9396-4ba3a42f2b2f.png)

However, these grid patterns also need to updated.

**Pattern: Offset Grid**
- Replace post date and categories for these [brief descriptions](https://www.figma.com/file/XnDSyzD9cBG5kbDaVZn9yG/Videomaker?node-id=5

[2021-11-18 13:42] kimerlin81 commented on #5060
Thank you for submitting this report! I was able to reproduce this on both simple and atomic sites. Only the wide width setting breaks the column width that's set. Transferring this issue to the Themes repo for a fix.
![Screenshot on 2021-11-18 at 08-32-33 (1)](https://user-images.githubusercontent.com/83732167/142426219-11b02721-7556-4279-ab47-2f791a6a2ca5.png)

[2021-11-18 14:03] #4953 closed, assigned to MaggieCabrera, beafialho

[2021-11-18 14:04] #4961 closed, assigned to nobody

[2021-11-18 14:21] danieldudzic commented on #4976
<img width="1360" alt="140137982-83842df5-5599-41d3-a871-41c03df93a64" src="https://user-images.githubusercontent.com/905781/142429558-3d97b98f-913e-4475-a0cb-ed78c49c88e6.png">

I understand that the above indentation is a design choice, but it seems excessive to me. I believe users will flag it as a bug.

Additionally, I don't believe Gutenberg provides a way to change the default indentation ju

[2021-11-18 14:28] MaggieCabrera commented on #4976
The indentation was something we tried and discarded, this issue should be just about the vertical space between the text and the image

[2021-11-18 14:57] beafialho commented on #4976
Sounds good 👍 I wasn't aware of previous discussions around indentation.

[2021-11-18 15:30] scruffian commented on #4892
Closing this in favour of https://github.com/Automattic/themes/issues/5058

[2021-11-18 15:30] #4892 closed, assigned to nobody

[2021-11-18 18:00] scruffian commented on #4990
This happens in all themes, so I moved it here: https://github.com/Automattic/wp-calypso/issues/58245

[2021-11-18 18:00] #4990 closed, assigned to nobody

[2021-11-18 18:02] scruffian commented on #4991
I can't replicate this anymore. Please can someone else check - if you can't replicate either then we can close!

[2021-11-18 18:18] scruffian commented on #5001
Yes please!

[2021-11-18 18:20] scruffian commented on #4905
@danieldudzic how are you getting on with this?

[2021-11-19 04:41] jordesign commented on #5026
This look slike it isn't theme specific - but is instead being caused by a known error with the Donations Block. Closing this in favour of https://github.com/Automattic/jetpack/issues/20309

[2021-11-19 04:41] #5026 closed, assigned to nobody

[2021-11-19 04:48] jordesign commented on #5018
This is happening when the image is linked due to these styles:

[code]

[2021-11-19 09:15] #4592 closed, assigned to nobody

[2021-11-19 09:59] #5028 closed, assigned to nobody

[2021-11-19 09:59] scruffian commented on #3483
This was closed by: WordPress/gutenberg#33541

[2021-11-19 09:59] #3483 closed, assigned to scruffian

[2021-11-19 10:03] jeffikus commented on #4704
Closing this, can we separate out the tasks into individual issues?

[2021-11-19 10:03] #4704 closed, assigned to nobody

[2021-11-19 10:08] #5009 closed, assigned to nobody

[2021-11-19 10:09] #5010 closed, assigned to nobody

[2021-11-19 11:10] mikachan commented on #4991
I've just tried adding the 'Header, Description and Grid of Projects' and 'Grid' patterns both locally and on my sandbox, and the videos loaded fine. I'm pretty sure I can't replicate this either!

[2021-11-19 11:22] jartes commented on #4993
Another one on 30758439-hc

Did some CSS for them to fix colors manually.

[2021-11-19 12:12] #4991 closed, assigned to nobody

[2021-11-19 13:23] mikeicode opened #5097 "Multiple themes: Image blocks are centered by default, not left aligned"
### Quick summary

I would assume that Image blocks are supposed to be left aligned (not floated left however) when you don't set specific alignment. Testing multiple Varia and Blockbase themes they are centered by default. There is no way to set them to regular left alignment without the "Align Left" setting, which results in text wrapping.

### Steps to reproduce

* Activate Maywood
* Add an Ima

[2021-11-19 14:13] mikachan opened #5066 "Blockbase: Editor alignment styles do not apply to site header"
## Steps to replicate

- Activate Blockbase
- Edit the header block in the Editor by aligning the items to the right or center
- The items do not change alignment

https://user-images.githubusercontent.com/1645628/142636423-30240657-eb7c-4e8e-b519-5c951cf07409.mov

It looks like this is because of two styles in _header.scss:

`justify-content: start;` ([here](https://github.com/Automattic/themes/b

[2021-11-19 14:52] mikachan commented on #5042
Closed with #5057

[2021-11-19 14:52] #5042 closed, assigned to scruffian

[2021-11-19 15:33] ccwalburn commented on #4993
Another report here: 32814121-hc
Had them manually set the color in the editor

[2021-11-19 16:30] #5058 closed, assigned to nobody

[2021-11-19 20:54] sublimese commented on #5001
WP Version:
![Screen Shot 2021-11-19 at 1 40 36 PM](https://user-images.githubusercontent.com/47400870/142689707-f473c671-9804-432a-bd06-77de6d91faa7.png)

Blockbase Version:
![Screen Shot 2021-11-19 at 1 40 48 PM](https://user-images.githubusercontent.com/47400870/142689743-c9272c12-b1d7-4860-9081-c8ea8a838de2.png)

Gutenberg (And all plugins)
![Screen Shot 2021-11-19 at 1 41 01 PM](https://user-

[2021-11-19 22:22] danieldudzic commented on #4905
@scruffian It was on the back burner, but picking it up again

[2021-11-20 05:12] vinnykaur commented on #4993
One more - 4531506-zd
Had to set the color manually from the block settings.

[2021-11-20 05:32] vinnykaur commented on #4993
4462244-zd
Had them set the color manually from the block settings.

[2021-11-20 11:11] kspilarski commented on #5171
Hi @dpasque Both the user's and my site for testing are simple sites. I didn't do any changes before going to the customizer.

I tested Zoologist theme again in my simple and AT sites, and changing colors show the preview in the customizer without having to save them first.

[2021-11-20 21:40] ClassicRKR27 commented on #4716
Hi @danieldudzic - I'm so sorry for just now getting back to this, I was going through my GH reports and realized that I didn't get to this one.

What you're saying makes sense and was pretty much what I suspected. The user claimed that their name did not get separated across three lines before - that being said, they could provide no evidence of this ever being the case, they just stated that the

[2021-11-21 18:05] tinjure20 commented on #5066
I could also see similar misaligned header navigation in Blockbase and it's child Quadrat.

Blockbase:
![blockbase-header](https://user-images.githubusercontent.com/59660253/142773655-7cb6810b-b9b1-4123-afba-7471051b4a55.png)
Quadrat:
<img width="1034" alt="quadrat-header" src="https://user-images.githubusercontent.com/59660253/142773672-5d58867e-a64b-4e17-99f2-d93c9a300b7a.png">

Local testing en

[2021-11-22 13:21] #5020 closed, assigned to nobody

[2021-11-22 13:37] mikachan commented on #4982
I think this should be fixed by #5038, where we removed the top margin on the nav menu [here](https://github.com/Automattic/themes/pull/5038/files#diff-7f1b848395a59a5b8c1b0ab7f66d7b20acfc11e75bf27a681898cd60715695cfR8). But let us know if you still see the issue!

[2021-11-22 13:37] #4982 closed, assigned to nobody

[2021-11-22 15:22] scruffian opened #5067 "Blockbase: Preload fonts"
TT2 preloads fonts like this: https://github.com/WordPress/twentytwentytwo/pull/240/files

We should do the same for Blockbase.

[2021-11-22 18:24] csonnek commented on #4993
Also in https://wordpress.com/forums/topic/letters-turned-from-white-to-black-on-my-theme/

[2021-11-22 20:12] kjellr opened #5069 "Videomaker: Adjust active states for pagination and tags"
I'm opening these as a single issue since they're pretty small.

1. The active state for pagination is too prominent. If we can't make the white background happen _only_ behind the text, let's lose it entirely:
![active-state](https://user-images.githubusercontent.com/1202812/142928369-e7d70aa7-dc57-4112-bcb8-502da84b8268.gif)

2. The active state for tags leads to unreadable text. Can we turn the

[2021-11-22 21:00] kjellr opened #5070 "Videomaker: Patterns issues"
## Background Video

I recommend we replace this with standard text instead, just like we did with the grid patterns. I think we can simplify it too, so it's more of a general-use pattern and less of a site-building one.

- Change Post Title block to a H2 that says "Plenty of Fish In The Sea".
- Change date and categories to static text that reads "A film about finding what you’re looking for."
-

[2021-11-22 21:05] kjellr opened #5071 "Videomaker: Add image + video source information"
https://github.com/Automattic/themes/blob/8cfaa36188533c67167689d158e2a8865f12bf3a/videomaker/readme.txt#L39-L44

cc @beafialho can you pull these links together?

[2021-11-22 22:44] alaczek opened #5073 "Arbutus: Linked featured image width capped"
The Arbutus theme uses a static page with the Query block as the homepage. The featured images inside the Query block are supposed to be full-width (with the default horizontal gap on either side), like so:

![image](https://user-images.githubusercontent.com/4550351/142945677-978a6d00-0b8d-4eee-8919-f2fd5687e66f.png)

BUT when I enable "Link to post" option on the featured image, the image width i

[2021-11-22 22:56] danieldudzic commented on #4905
PR to review: twentytwentyone - D70474-code

[2021-11-23 01:35] danieldudzic commented on #4905
PR to review: twentynineteen - D70478-code

[2021-11-23 05:16] formosattic commented on #3201
+1 4537979-zd-woothemes

Things I tried that didn't work:
* Create a new menu
* Switch back between Latest Posts and Static Homepage

[2021-11-23 08:27] Robertght opened #5074 "Illustratr: Mobile menu not working with AMP Standard mode(or Reader in some cases)"
## Steps to replicate

You'll need a site with AMP installed(Atomic in this case).

The mobile menu is not clickable once we set Standard or Reader mode.

## Result

The menu doesn't open.

## Expected

For the menu to open.

* User report: 32778379 -hc

NOTE: in the users's case the Reader mode didn't work either, but only Standard remained a problem in my testing.

Workaround: to have the mode i

[2021-11-23 09:14] MaggieCabrera opened #5075 "Blockbase: Post meta Notice"
I'm getting the following notice while running Seedlet Blocks. I see them when I load the site editor:

[code]

[2021-11-23 09:18] MaggieCabrera opened #5076 "Seedlet Blocks: Social Navigation misaligned"
While running Seedlet blocks the social navigation is aligned to the left on the frontend. The site editor shows it correctly centered:

<img width="1560" alt="Screenshot 2021-11-23 at 10 17 05" src="https://user-images.githubusercontent.com/3593343/142998314-cfc3ee91-b0db-4284-b192-0b4230116fc0.png">

[2021-11-23 11:25] MaggieCabrera opened #5077 "Blockbase: rename user and core to custom and default"
For 5.9 (12.1) there's been a change that updates the core and user instances of theme.json data to custom and default. We need to update our scripts accordingly.

https://github.com/WordPress/gutenberg/pull/36748
https://github.com/WordPress/gutenberg/pull/36645

[2021-11-23 14:14] vindl opened #5078 "Quadrat: changing justify settings in Header -> Row block has no effect"
## Steps to replicate

1. Activate the Quadrat theme on your test site.
2. Activate Gutenberg plugin to enable the Site Editor.
3. Open the Site Editor and select `Header` -> `Row` block on the homepage.
4. Toggle the justify settings (left, center, right, space between).

## Result

Nothing happened.

## Expected

Nested Row items to move to the designated position.

[2021-11-23 15:34] beafialho commented on #5071
Yes! Here are the links to the videos used in the patterns:

- https://www.pexels.com/video/video-of-school-of-fish-854012/
- https://www.pexels.com/video/watercrafts-docked-853917/
- https://www.pexels.com/video/boats-floating-at-the-sea-853856/
- https://www.pexels.com/video/man-working-during-dawn-854069/
- https://www.pexels.com/video/mixing-cocktail-drinks-854128/

We'll have to replace these

[2021-11-23 15:44] beafialho commented on #5070
Yes, like I have suggested in #5071, here's a video we can swap for this one:
- https://www.pexels.com/video/black-and-white-video-of-busy-street-854141/

[2021-11-23 16:16] AtrumGeost commented on #4993
Another report here 4534534-zd-woothemes

[2021-11-23 17:48] sharonlaker19 commented on #3201
+1 31233839-hc
They're hesitant to switch to latest posts on the homepage.
Would like an update on the bug when it's available. Thanks!

[2021-11-23 19:38] radtechgh commented on #3201
Reported here: 4539263-zen

Site will work with Latest posts as homepage.
Tried switch to Latest posts, then back to static, did not work.

[2021-11-23 19:40] matiasbenedetto commented on #5001
I was able to reproduce this error running **PHP 8**, it works ok with **PHP 7.4**

<img width="1920" alt="image" src="https://user-images.githubusercontent.com/1310626/143091871-b3f3c6fb-f00c-4a0c-a1cb-d42ab3947fe5.png">

[code]

[2021-11-24 05:56] jordesign commented on #5052
Confirmed this takes place in Varia and child themes. Suggesting this is high priority.

[2021-11-24 06:08] jordesign commented on #4978
Confirmed this is still reproducible on Hever.

[2021-11-24 06:11] jordesign commented on #4975
Pinged in Slack for a new headstart annotation to be generated.
p1637734252059900-slack-C029FM1EH

[2021-11-24 06:18] jordesign commented on #4355
Flagging this for consideration - Varia Child themes and Blockbase Child themes _could_ do with the TikTok logo being supported in Social Menus (Jetpack has added support for the Social Icons).

For FSE in the future - I expect we'll be encouraging the use of Social Icons block - so this functionality will become redundant. But is it worth thinking about including in Varia - to then flow down to t

[2021-11-24 06:21] jordesign commented on #4880
Hi @apload-gmbh
I don't expect the theme in use would effect whether or not a Code Snippet would be added to the site. Are you able to test some further scenarios to see if the problem arises in other cases?

* Can you include *other* code snippets (like the demo snippets from the plugin)
* Does the issue with the Cookies snippet happen with other themes active?

I'm going to close this issue (for

[2021-11-24 06:26] jordesign commented on #3862
Confirmed this behaviour - normal priority for now.

[2021-11-24 06:30] #4880 closed, assigned to nobody

[2021-11-24 06:34] jordesign commented on #3408
Closing this as no longer reproducible.

Sub menu items are now shown with additional hyphens at the beginning:
<img width="296" alt="Screen Shot 2021-11-24 at 5 32 49 pm" src="https://user-images.githubusercontent.com/1842363/143186943-6ec1560c-4e2f-42a5-8fdf-cd9c58ecf3d2.png">

[2021-11-24 06:34] #3408 closed, assigned to nobody

[2021-11-24 06:44] jordesign commented on #3202
Re-testing this in triage and can confirm that Global Styles are available on Simple Sites, but not Atomic sites. Would be great to prioritise this.

[2021-11-24 07:06] kosiew commented on #5112
Hi @devNigel ,

Thanks for reporting this and the detailed steps.

I checked this for you and the SVG icons are used for social links.

![image](https://user-images.githubusercontent.com/29057562/143190880-521f1560-698a-4aa2-b5d2-dc2054da2588.png)

Closing this. Please reopen if you have additional context to add.

[2021-11-24 08:23] KokkieH opened #5124 "Textbook theme: table styling not applied to tables in widget area"
### Quick summary

When adding a table to the widget area in this theme, the styling the theme uses for tables in the content area is not applied, even though the widget preview shows the table correctly styled.

### Steps to reproduce

1. Add a table with a few rows of content to a post or page using the Default style. Also toggle the header and footer row settings on.
2. Add a table to the sideb

[2021-11-24 08:33] KokkieH commented on #5124
There's actually a simpler workaround: Simply add the `entry-content` class to Additional CSS Classes under the Advanced tab for the block settings.

[2021-11-24 09:03] devNigel commented on #5112
Hi @kosiew, the bug / enhacement report was that those SVG codes need not be loaded if they are not being used on the site.

[2021-11-24 09:26] jordesign commented on #3201
Button2 is in use on ~300k sites -  we're still getting very regular reports of this issue.

I've been unable to recreate this in my testing (on iOS with Mobile Safari and Chrome) on my own sites - and had mixed results checking user reports from above.

[2021-11-24 09:47] jordesign commented on #3754
Triaging this to bring some clarity - and summarise the previous comments. This is an issue that effects multiple themes based on the way they handle the width of content areas:

- @kwight

----

As this effects multiple themes - we may need to prioritize based on theme usage:

o Pique (2,083,646)
o Baskerville 2 (645,326)
o Blask (219,750)
o Goodz Magazine (retired)
o Appetite (retired)

[2021-11-24 09:54] jordesign commented on #2716
Sattelite is currently installed on 32,347 sites - pretty low priority in the scheme of things.

[2021-11-24 09:56] jordesign commented on #2831
Closing in favour of #3201

[2021-11-24 09:56] #2831 closed, assigned to nobody

[2021-11-24 09:59] jordesign commented on #3201
Additional interactions:

* #20940197-hc
* #3710131-zen
* #3709265-zen
* #3664428-zen
* #3664428-zen
* #3500752-zen

Total of 20 reports so far

[2021-11-24 10:05] jordesign commented on #3168
It sounds as though this issue is resolved - user is now being effected by https://github.com/Automattic/wp-calypso/issues/57884

Closing this ticket for now.

[2021-11-24 10:05] #3168 closed, assigned to nobody

[2021-11-24 11:11] MaggieCabrera opened #5084 "Blockbase: Footer has no margin"
At some point the footer of Blockbase lost it's padding/margin rules and now is stuck at the bottom of the page:

<img width="1553" alt="Screenshot 2021-11-24 at 12 10 20" src="https://user-images.githubusercontent.com/3593343/143227838-bb66c54e-2e9f-460a-8e79-27d8d557679e.png">

[2021-11-24 11:40] MaggieCabrera opened #5086 "Blockbase: Menu won't work in FSE if no menu assigned to primary location"
I found this when I started testing on a fresh site with no content at all. To reproduce:

- Make sure you have no menus defined for the site in the customizer
- Go to the Site Editor, click on the header and add a few links to the navigation block
- Check the frontend: no menu shows up

<img width="304" alt="Screenshot 2021-11-24 at 12 37 02" src="https://user-images.githubusercontent.com/3593343

[2021-11-24 11:40] jordesign opened #5087 "Blockbase: Add alternative Header template parts which span full width"
## Steps to replicate

When editing a site with Blockbase - set a background color on the Header template part

## Result

The Header is not full width within the page - so the background remains contained with the content width.

![image (2)](https://user-images.githubusercontent.com/1842363/143231365-b85e3b71-9001-4f3e-bb9b-475e66cf6c59.png)

## Expected

I hoped/expected to be able to place a b

[2021-11-24 12:17] scruffian commented on #5001
This should be fixed by #5082

[2021-11-24 12:17] #5001 closed, assigned to matiasbenedetto

[2021-11-24 12:25] #4976 closed, assigned to nobody

[2021-11-24 12:36] danieldudzic commented on #4905
PR to review: twentyseventeen - D70572-code

[2021-11-24 13:17] filipanoscampos commented on #6508
I believe I have run into another case of a related bug on this ticket 4540236-zd-woothemes.

When buttons have outlines added to them, it shows on the editor, but not the frontend.

Both I and the HC that worked on the ticket could confirm this on our test sites.

Here is how a button looks with the Twenty Twenty theme on the editor of  my Premium plan test site:
![ScreenshotOutlineEditor](https:

[2021-11-24 13:58] kosiew commented on #5112
@devNigel ,
Got it. Thanks for the additional information.

In this case, it is not a bug.
It is a feature request for [lazy loading of assets](https://wordpress.stackexchange.com/questions/391862/how-to-support-lazy-loading-assets-in-a-wordpress-theme).
Lazy loading is justified if the assets are "heavy".

In this case, the svgs are not heavy.

![image](https://user-images.githubusercontent.com/2

[2021-11-24 14:05] danieldudzic commented on #4905
PR to review: twentysixteen - D70587-code

[2021-11-24 14:50] #5070 closed, assigned to nobody

[2021-11-24 15:00] kjellr commented on #5071
Here's a full list of the ones we're using:

Videos (All CC0)
https://www.pexels.com/video/video-of-school-of-fish-854012/
https://www.pexels.com/video/watercrafts-docked-853917/
https://www.pexels.com/video/boats-floating-at-the-sea-853856/
https://www.pexels.com/video/man-working-during-dawn-854069/
https://www.pexels.com/video/mixing-cocktail-drinks-854128/
https://www.pexels.com/video/black-an

[2021-11-24 17:28] matiasbenedetto commented on #4800
Adding "On Hold" label: waiting for https://github.com/WordPress/gutenberg/pull/36681

[2021-11-24 18:17] matiasbenedetto commented on #5078
[#5093](https://github.com/Automattic/themes/pull/5093) should fix this issue

[2021-11-24 19:02] matiasbenedetto commented on #5066
#5093 should fix this issue

[2021-11-24 19:20] seanbelly commented on #3201
Another one here: #625646-hc
I couldn't replicate on test site but saw the problem on iphone 12.

[2021-11-24 20:45] #4656 closed, assigned to scruffian

[2021-11-24 20:53] jp-imagines opened #5125 "Balasana: aria-expanded accessibility property does not work on mobile or desktop menu"
### Quick summary

`aria-expanded` is used to indicate the state of an expandable element. In the _Balasana_ theme, this option remains `false`, even when a parent menu item is expanded (with a keyboard or screen reader).

### Steps to reproduce

1. Activate the Balasana theme.
2. Ensure you have at least one "parent" menu item with submenu "child" items.
3. Visit your site, and use the browser in

[2021-11-24 21:45] metabreakr commented on #4073
While I think the crop bug was reported elsewhere (I think you need to resize your browser to see the controls), it's true that you can only set a square logo in Blank Canvas.

Here's a CSS workaround to that:

[code]

32885021-hc

[2021-11-24 21:47] metabreakr commented on #3703
Here's a CSS workaround to that which I shared in https://github.com/Automattic/themes/issues/4073:

[code]

The user will have to still upload a square logo regardless.

32885021-hc

[2021-11-24 22:08] hacchism opened #5126 "Blank Canvas: Theme colors in Block setting don't match the ones set in Customizer"
### Quick summary

Theme colors in Block setting don't match the ones set in Customizer.the

### Steps to reproduce

1. Activate Blank Canvas theme.
2. Create a new page and add a Paragraph Block.
3. Open the Color tab for the Paragraph Block and check the THEME color.
4. Go to `Customizer > Colors & Backgrounds` and change one of the colors that appear in the color palette and hit "Save Changes".

[2021-11-24 23:02] jordesign commented on #5087
Pinging @kjellr  and @beafialho based on discussion in Slack.

[2021-11-25 01:14] kosiew commented on #5112
@devNigel ,

To elaborate further,  adding code to implement lazy loading may add more weight to the theme than the SVG themselves.
In addition, we can also prioritise our efforts to move to block based themes, instead of adding feature to older themes.

What do you think?

[2021-11-25 01:48] kosiew commented on #5097
Hi @mikeicode ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

Transferring to themes repo for developers' further investigation.

[2021-11-25 03:33] danieldudzic commented on #4905
PR to review: twentyfifteen - D70629-code

[2021-11-25 04:01] danieldudzic commented on #4905
PR to review: twentyfourteen - D70631-code

[2021-11-25 04:47] danieldudzic commented on #4905
PR to review: twentythirteen - D70633-code

[2021-11-25 05:43] danieldudzic commented on #4905
PR to review: twentytwelve - D70634-code

[2021-11-25 05:47] devNigel commented on #5112
@kosiew

I think you misunderstood. I am not referring to the SVG assets ( files with .svg extension ), but the SVG definition codes in the HTML ( see the screenshot of page source ) of the theme for the icons supported by the theme. Lazy loading does not apply to HTML codes.

To clarify further, the SVG definition is actual code for those icons. Those SVG definitions are not related to any `.svg`

[2021-11-25 06:21] danieldudzic commented on #4905
PR to review: twentyeleven - D70635-code

[2021-11-25 06:50] danieldudzic commented on #4905
PR to review: twentyten - D70636-code

[2021-11-25 09:56] kosiew commented on #5112
@devNigel ,

I tested this on an AT site, there were at most 25 svg lines.

Details of test:
Activated Penscratch 2 on AT site - https://wpstore101.wpcomstaging.com/
View page source
Did a count of replacements of svg with SVG.
Count returned 50 - <svg .... </svg>
Since each pair is a line, there are at most 25 lines.

Can you share on the steps to reproduce the 200 lines?

[2021-11-25 10:15] #5071 closed, assigned to nobody

[2021-11-25 13:47] rinazrina commented on #3201
Another one: #4544354-zen

[2021-11-25 21:11] metabreakr opened #5133 "Rockfield theme: rounded buttons have square borders"
### Quick summary

With the Rockfield theme, buttons are styled to as to appear having an inner and outer border. This works great, so long as the button remains square:

<img width="757" alt="Screenshot on 2021-11-25 at 14-03-55" src="https://user-images.githubusercontent.com/39252765/143499770-fa2e098b-4c46-4bc1-8199-9a4be422a3b9.png">

However, when a border-radius is applied in the block edito

[2021-11-26 10:16] devNigel commented on #5112
I can see it on this site too: https://wpstore101.wpcomstaging.com/

![image](https://user-images.githubusercontent.com/33957570/143564698-313f2eaa-c739-4477-9dc1-ff54d0e98f40.png)

![image](https://user-images.githubusercontent.com/33957570/143564789-03c9779e-a87a-45c0-af46-9618e3aec477.png)

That's 164 lines of code.

[2021-11-26 12:23] scruffian opened #5105 "Blockbase: Update template directories"
## Steps to replicate
The template directory names for block themes have changed: https://github.com/WordPress/gutenberg/pull/36647

block-templates -> templates
block-template-parts -> parts

We should make this change in Blockbase and children.

[2021-11-26 12:48] scruffian commented on #5086
This is fixed by https://github.com/WordPress/gutenberg/pull/36863

[2021-11-26 12:48] #5086 closed, assigned to nobody

[2021-11-26 12:49] scruffian opened #5106 "Blockbase children: Add a fallback for the navigation block"
Since https://github.com/WordPress/gutenberg/pull/36863 has merged, we can set child blocks inside our navigation blocks, which gives users a better initial experience.

[2021-11-26 13:17] #5055 closed, assigned to nobody

[2021-11-26 13:17] #4602 closed, assigned to matiasbenedetto

[2021-11-26 13:17] #5069 closed, assigned to MaggieCabrera

[2021-11-26 13:39] scruffian commented on #4643
@kjellr are you happy with the demo site? Is there anything left to do here?

[2021-11-26 14:15] getdave commented on #5106
Any also note that we have a improved default fallback on the front end of the site now as well https://github.com/WordPress/gutenberg/issues/36721

[2021-11-26 16:55] mikachan commented on #4905
These should all be reviewed now.

[2021-11-27 13:55] ChrissiePollock commented on #3201
Another on #4548816-zen. Site has Premium plan.

[2021-11-28 15:58] Columbo199X opened #5110 "Twenty Twenty: Button Block Outline missing"
## Steps to replicate

- Enable Twenty Twenty Theme
- Create a post or Site which includes a Button Block
- Set the style to outline
- Publish the post or site or just preview it
## Result
The outline is seen in the editor but is missing when published.

Published:
![Button Block bug](https://user-images.githubusercontent.com/67553546/143775566-c3c879ec-c450-41f8-b11c-22b349a4d13e.png)

In the edi

[2021-11-28 20:50] jerrysarcastic opened #5134 "Libretto: Sub menus are cut off at the right side of the screen when long page titles are present"
### Quick summary

When a sub-menu is added to Libretto, and has page titles that are long, the text of the title is cut off, and the sub menu itself is uncomfortably close to the right side of the viewport.

<img width="420" alt="Screenshot on 2021-11-28 at 12-45-43" src="https://user-images.githubusercontent.com/1967448/143785361-03cbbc85-8e36-4d15-a21c-d07d0e535901.png">

### Steps to reproduce

[2021-11-29 03:59] samvaidya commented on #1645
Another case:  4552663-zen

CSS fix worked.

[2021-11-29 07:54] kriskorn commented on #4993
Another report here: 28882174-hc
Had them manually set the color in the editor.

[2021-11-29 12:34] mikeicode commented on #3703
@metabreakr Here's a way to use non-square logos:

[code]

[2021-11-29 12:46] scruffian opened #5111 "Blockbase + family: Add an archive.html"
## Steps to replicate

In TT2 we have an archive.html template, which means we don't need the archive title block. We should do the same thing in Blockbase and its children.

[2021-11-29 13:24] kosiew commented on #5112
@devNigel ,

Thanks for the clarificaiton.

Triaging for developers' further investigation.

[2021-11-29 13:38] MaggieCabrera opened #5113 "Block themes: remove styles from template parts"
After https://github.com/WordPress/gutenberg/pull/36571 was merged, template parts no longer support spacing, layout and color options. We should refactor our themes in the same way TT2 is doing https://github.com/WordPress/twentytwentytwo/pull/262

[2021-11-29 13:43] kjellr commented on #5087
As noted on slack, we should aim to build these header template parts in such a way that if the user applied a background, it'll "just work" and be full width.

[2021-11-29 13:49] kjellr commented on #4643
The demo site is all set. 👍

[2021-11-29 14:18] #4643 closed, assigned to nobody

[2021-11-29 16:12] metabreakr commented on #3703
Ah, that's another way to do it. Thanks @mikeicode !

[2021-11-29 19:05] Addison-Stavlo opened #5118 "Blockbase & related Universal Themes: Site Logo block does not resize in the header."
I originally encountered this on Geologist, but was able to reproduce on Blockbase as well.

When running the theme in FSE mode (Toggle "Appearance" -> "Site Editor" to ON in your local wordpress install), the site logo block is not resizable when it is inside the row block inside the header.  This seems like it may be the result of over-restrictive CSS that does not play well with user controls a

[2021-11-29 20:43] ClassicRKR27 commented on #3201
Another report here: [26965677-hc](https://hud.happychat.io/chat/26965677)

[2021-11-29 21:33] ktyfuller604 commented on #3201
Another report: #10375964-hc

Issue also occurred on Android until AMP was turned off.

Ultimately switched to Shawburn.

[2021-11-29 23:29] supernovia commented on #5087
Can we do the same with cover blocks? I can't think of many cases where people want cover blocks (whether in the template or not) to leave margins when they're full width.

[2021-11-30 12:06] Addison-Stavlo opened #5119 "Blockbase & Related universal themes: Header is not full width / alignment unchangeable"
In Blockbase and related child themes the header does not fill the width of the screen in-editor nor in the rendered front end.
 MORE IMPORTANTLY, this style seems hardcoded and can not be edited by the user in the block editor.  This can easily be seen if we customize our header with a background color (or similarly with the recent removal of block specific styles for the template part; the backg

[2021-11-30 12:08] MaggieCabrera commented on #5119
Related to https://github.com/Automattic/themes/issues/5087 and https://github.com/Automattic/themes/issues/5078

[2021-11-30 12:23] Addison-Stavlo commented on #5119
Thanks @MaggieCabrera !
To elaborate a bit:

I think this problem is less about adding more template parts, and more about using blocks and block settings to achieve the initial styles we want where appropriate over any hard coded CSS (I believe [this issue](https://github.com/Automattic/themes/issues/5118) may have a similar cause as well).  This alignment issue should be resolvable for everyones

[2021-11-30 13:43] MaggieCabrera commented on #5087
Cover blocks that are set to full width are supposed to go all the way to the edges of the viewport: pcrugM-lB-p2

[2021-11-30 15:05] matiasbenedetto commented on #5119
A potential fix for the width issue: https://github.com/Automattic/themes/pull/5121

[2021-11-30 15:07] matiasbenedetto commented on #5119
A potential fix for the justification issue: https://github.com/Automattic/themes/pull/5120

[2021-11-30 15:51] supernovia commented on #5087
Oh, you're right -- it is just when the cover block is in the header or footer that it's stuck with funny margins.

[2021-11-30 17:03] danieldudzic commented on #4905
Deployed

[2021-11-30 17:03] #4905 closed, assigned to nobody

[2021-11-30 18:48] dcoleonline commented on #1421
4554952-zen
I recommended that they switch to a newer theme

I was able to replicate this on a 7th gen iPad with iPad iOS 14.8

This happened both on the demo site and the customer's site

[2021-11-30 21:06] jp-imagines opened #5162 "Zoologist: Accented/special characters and emojis are broken in site menus"
### Quick summary

_No response_

### Steps to reproduce

1. Activate the Zoologist theme
2. Edit an existing menu item with an accented character (such as é) or an emoji (such as 🙂 ).
3. _Alternatively_, add a special character/emoji to a page's title and then add that page to your site's menu.

### What you expected to happen

Accented characters and emojis should display as entered:
![Screen Sh

[2021-11-30 23:04] worldomonation opened #5123 "Twenty Seventeen: image thumbnail disappears when using slideshow fade effect"
## Steps to replicate

1. start a new post.
2. insert a gallery block.
3. upload at least two images.
4. if necessary, open the Block settings sidebar (on the right).
5. under **Effects**, select **Fade**.
6. click on the left or right arrow.

## Result

Image preview disappears, being replaced with a white image.

## Expected

Fade transition is applied to the animation.

## Context

When writing

[2021-12-01 06:21] kosiew commented on #5124
Hi @KokkieH ,

Thanks for reporting this and the detailed steps and the workaround!

I could not reproduce this on a Simple site with a different theme - TwentyFifteen.

Transferring this to the themes repo for developer's investigation.

[2021-12-01 06:47] kosiew commented on #5125
Hi @jp-imagines ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

Transferring to themes repo for developers' further investigation.

[2021-12-01 06:55] kosiew commented on #5126
Hi @hacchism ,

Thanks for reporting this and the detailed steps.

Transferring to themes.

[2021-12-01 09:48] arcangelini commented on #3201
I am looking into this today and am struggling to find any sites that are experiencing the issue still. I have been testing in BrowserStack with my own sites as well as the user-reported sites, but every user site has either changed themes or is no longer experiencing it. Is there anyone who has a site or a configuration that I can use to troubleshoot this?

[2021-12-01 17:16] jp-imagines opened #5167 "Featured content slideshow images set to zero width until refreshed"
### Quick summary

It appears that some unknown JS script is forcing the width of "featured content" slideshows to 0, which then resets to its expected value after the content is forced to refresh somehow.

### Steps to reproduce

Note: _I wasn't actually able to reproduce this on a test site using the same theme. I do not know exactly what is causing this._

1. Activate the _Toujours_ theme on yo

[2021-12-01 17:50] tinjure20 opened #5130 "Blockbase: Fatal error with WP5.9 beta-1"
While I was exploring [WP 5.9 Beta-1](https://wordpress.org/news/2021/11/wordpress-5-9-beta-1/) and testing Blockbase 2.0.0, I detected fatal error. Thought to share with team.
## How I Tested

- Installed fresh WordPress site  with WP 5.9 beta 1
- Installed and activated Blockbase 2.0.0

## Result

- Blockbase installation and activation showed no error.
- Front end (Chrome, Firefox) shows the fo

[2021-12-01 17:58] #5084 closed, assigned to nobody

[2021-12-01 22:45] bph opened #5131 "WP Admin > Appearance shows Editor (Beta) link twice."
## Steps to replicate
Howdy, I just noticed on my test site, that when Geologist theme is installed and the Gutenberg plugin is active on a WordPress 5.9 beta site, the Appearance menu has the Editor (beta) link twice.

## Result

<img width="178" alt="Screen Shot 2021-12-01 at 5 36 52 PM" src="https://user-images.githubusercontent.com/39980/144326315-c7257d51-b640-46b4-b0fa-945fc9ff5b5a.png">

##

[2021-12-02 00:54] pauloeaquino commented on #3201
Encountered in #7478991-hc

[2021-12-02 01:01] supernovia commented on #5087
Would we also consider allowing the header to be wide width, while we're at it? Just in case someone needs that for their design.

[2021-12-02 01:03] supernovia commented on #5087
(I've tried adding items to columns or groups and setting wide width on that, but can't)

[2021-12-02 01:48] jordesign commented on #3201
@arcangelini looks like you can try out http://thelittlepilgrim.com on a mobile device

[2021-12-02 01:48] thekingsprojects commented on #5162
Just a note about a (very awkward) workaround: I noticed when I played into this ticket and did a brief test that you can use HTML entities in the menu to get something that works on the live site. For example, entering

`R&eacute;sum&eacute;`

into the menu editor will give you a functioning

`Résumé`

on the actual site once you save the changes. This is a very fragile workaround, as once you sa

[2021-12-02 02:17] annbingle commented on #4833
Another report from here 33007379-hc

[2021-12-02 03:08] supernovia opened #5132 "Barnsbury: Widgets in footer appear in a single left-aligned column."
## Steps to replicate
1 - Activate Barnsbury
2 - Add a few widgets

## Result
The widgets are all lined up on the left side of the screen at 50% width

## Expected
Given that they are only 50% of the screen width, it looks like they were supposed to either sit in the center, or be arranged in some sort columns.
<img width="1061" alt="Screen Shot 2021-12-01 at 8 07 42 PM" src="https://user-images.g

[2021-12-02 06:19] kosiew commented on #5133
Hi @metabreakr ,

Thanks for reporting this and the detailed steps.

Transferring to themes repo for developers' attention.

[2021-12-02 07:01] kosiew commented on #5134
Hi @jerrysarcastic ,

Thanks for reporting this, the detailed steps and the workaround.
Transferring to themes repo for developers' action.

[2021-12-02 15:13] danieldudzic commented on #5075
Seems like Post Meta is missing from: https://github.com/WordPress/gutenberg/blob/8eb1f341285362f6a131fcba81a8d054b6b5b5c5/lib/compat/wordpress-5.9/block-template-utils.php#L59

I'm assuming this is not something that we want to add using the `default_wp_template_part_areas` filter, and rather add support for it in the core?

[2021-12-02 16:03] jamiepalatnik commented on #4189
It looks like this is a larger issue with all Cover blocks on Varia themes. I can recreate this.

Screenshot of editor view:
<img width="1327" alt="Editor view Varia color bug" src="https://user-images.githubusercontent.com/30788962/144457998-75f12ffe-7662-4b23-a822-0b2d994ffa5e.png">

Screenshot of live view:
<img width="1337" alt="live view Varia color bug" src="https://user-images.githubusercon

[2021-12-02 17:46] Robertght opened #5168 "Button 2: Pay with PayPal block doesn't work on mobile(iOS)"
### Quick summary

The PayPal button doesn't work with iOS devices using the Button 2 theme.

### Steps to reproduce

1. Activate the Button 2 theme
2. Create a page and add the Pay with PayPal block
3. Check from an iOS device(iPad, iPhone)

### What you expected to happen

For the block to show the pop-up once pressed

### What actually happened

A new page briefly opens up and then closes itsel

[2021-12-02 20:01] brookewp commented on #3262
Another report 31545171-hc

[2021-12-02 20:17] brittanygray902 opened #5135 "Blockbase Theme: Homepage content is cut off screen on all devices"
## Steps the user worked through

-had user turn off AMP settings
-had user remove CSS that was center aligning everything
-user had to change font, since the CSS that was removed somehow changed it
-user had to create a new homepage to replace the old, seems like the template the user was using for the homepage created a conflict
## Result
-user was able to create a new page as their homepage wit

[2021-12-02 20:40] brookewp opened #5136 "Rowling: Latest Instagram Posts block columns don't work when block is center aligned"
## Summary

Instagram columns don't work in Rowling when center alignment is set.

## Steps to replicate

1. Activate Rowling theme
2. Add Latest Instagram Posts block
3. Set columns
4. Center align block

When 3 columns of posts are center aligned:
<img width="423" alt="Screen Shot 2021-12-02 at 12 21 35 PM" src="https://user-images.githubusercontent.com/35543432/144497544-97ffd115-d6bc-4960-8e2c

[2021-12-02 20:45] radtechgh commented on #3201
4562338-zen is for the site http://thelittlepilgrim.com/

[2021-12-02 21:30] eoinsav opened #5392 "Blank Canvas: Marketing banner prevents closing Navigation Block on mobile"
### Quick summary

The marketing banner on free sites is preventing the Navigation Block from closing on mobile (site in screenshot using "Blank Canvas" theme):

<img width="400" alt="Screen Shot 2021-12-02 at 1 27 16 PM" src="https://user-images.githubusercontent.com/35590156/144505765-5b3312c1-d194-4b53-8644-d5bd9371f97f.png">

### Steps to reproduce

1. Add a Navigation Block to the top of a fr

[2021-12-02 21:31] eoinsav commented on #5392
Similar to this issue: https://github.com/Automattic/wp-calypso/issues/47827

[2021-12-03 02:15] creativecoder opened #5137 "Arbutus: Home page not as expected after switching to theme"
## Steps to replicate

Activate theme and choose "Replace my homepage content"

<img width="400" alt="Screen Shot 2021-12-02 at 19 56 13" src="https://user-images.githubusercontent.com/1699996/144533035-3c8f9ffb-184e-48eb-8c1d-47541b5d1d59.png">

Preview your homepage

## Result

<img width="400" alt="Screen Shot 2021-12-02 at 19 56 46" src="https://user-images.githubusercontent.com/1699996/144533

[2021-12-03 02:35] jordesign commented on #5136
Confirmed this behaviour.

It looks like this theme CSS is overriding the styles for the Latest Instagram block

[code]
Rowling has 418,766 installs

[2021-12-03 02:40] jordesign commented on #5134
Confirmed again this is happening.

Libretto has 453,435 installs.

[2021-12-03 02:47] creativecoder commented on #5137
Related:

- https://github.com/Automattic/wp-calypso/issues/57133
- https://github.com/Automattic/wp-calypso/issues/57670

[2021-12-03 02:51] jordesign commented on #5124
Confirmed in testing with the 'Textbook' theme.
<img width="970" alt="Screen Shot 2021-12-03 at 1 50 45 pm" src="https://user-images.githubusercontent.com/1842363/144536702-3bc31c31-a2d7-461e-a5c2-473ae6c1a01a.png">

Textbook has low installs (61,669)

[2021-12-03 02:54] jordesign commented on #5097
Confirmed this - setting as high priority for an answer on if this expected behavior or not?

[2021-12-03 03:04] jordesign commented on #4903
Hey @supernovia  - just wanted to check in to see if you've been able to recreate this again?
I see we haven't heard back from the user again in 2 weeks - so I'm going to close this for now.

We can always open it again if we need.

[2021-12-03 03:04] #4903 closed, assigned to nobody

[2021-12-03 03:08] jordesign commented on #4831
High usage theme here - placing as high priority.

[2021-12-03 03:17] jordesign commented on #4829
Confirmed this looks ok until 420px wide - at which point the vimeo embed stops resizing.

Being caused by this CSS - which is appearing in addition to padding on the content.

[code]

[2021-12-03 03:19] jordesign commented on #4790
Closing this as a known decision which will be kept.

[2021-12-03 03:19] #4790 closed, assigned to nobody

[2021-12-03 03:27] jordesign commented on #4825
Confirmed this is happening in Varia - so suspect it affects all Varia themes.

[2021-12-03 03:30] jordesign commented on #4829
On further research - this CSS seems to be coming from Gutenberg core - and the issue is related to the Embed being nested inside the Cover block. The issue does not occur when the Embed is *not* inside a Cover block.

As Sigler may be getting phased out soon - I'm closing this issue. We can re-open it if we need.

[2021-12-03 03:30] #4829 closed, assigned to nobody

[2021-12-03 03:32] jordesign commented on #4827
Have confirmed this behavior in Varia - so it seems it effects all Varia themes.

[2021-12-03 03:42] jordesign commented on #4789
Confirming this behaviour - but unsure if this is an opinionated preference that is up to each theme? Flagging it for discussion - and if it is something that is prioritised - we may need issues for each of the themes we can change it for.

[2021-12-03 05:23] rinazrina commented on #3201
Run into another report here: #4556644-zen

I can reproduce the issue when accessing [the site](http://thelittleglutenfreebakingblog.com/) by typing the address from Google app. However, when I type the site address directly on mobile browser bar, the menu button is working fine. I'm on Android 11.

As a workaround, I suggested the user enable the mobile theme mode via /wp-admin/themes.php?page=mo

[2021-12-03 09:02] MaggieCabrera commented on #5097
This is what Gutenberg does on a theme with no CSS whatsoever:

<img width="923" alt="Screenshot 2021-12-03 at 09 56 23" src="https://user-images.githubusercontent.com/3593343/144574358-f57ca637-ebc3-4de9-b721-40065fef1e2c.png">

There are related issues in GB:
https://github.com/WordPress/gutenberg/issues/31011

and a possible solution:
https://github.com/WordPress/gutenberg/pull/35787

I think G

[2021-12-03 13:11] kjellr commented on #4960
The footer still shows up as full-width in my testing.

Here's the demo:
<img width="1218" alt="Screen Shot 2021-12-03 at 8 11 30 AM" src="https://user-images.githubusercontent.com/1202812/144608100-7ed4a059-4775-4fc4-88ab-bc0e28538201.png">

And a fresh site:

<img width="1218" alt="Screen Shot 2021-12-03 at 8 09 45 AM" src="https://user-images.githubusercontent.com/1202812/144608042-75ea065b-92f

[2021-12-03 14:58] pbking opened #5140 "Move Payton and Kerr from /pub to /premium"
## Tracking notes for the task.

For the themes Payton & Kerr...
* Remove from SVN /pub
 Remove Payton from /pub: D71006-code
 Relmove Kerr from /pub: D71010-code

* Add to SVN /premium
Add Payton to /premium: D71005-code
Add Kerr to /premium: D71011-code

* Remove from GITHUB
https://github.com/Automattic/themes/pull/5142

[2021-12-03 15:21] pbking commented on #5140
Note that I have REMOVED the scss files used to build the `theme.css` files.  Those resources are quite small in both themes and my understanding is that they are intended to be changed manually as-needed.  The presence of the /scss files likely just complicated things unnecessarily in this case.  If they should be returned please let me know and I'll get them into the /premium repository.

[2021-12-03 16:09] #4960 closed, assigned to nobody

[2021-12-03 21:54] simison opened #5146 "Blank canvas: post comment block alignment issue"
## Steps to replicate

- Blank canvas theme
- Add Comments block in page content, publish
- Look at the site's frontend

## Result

Alignment is broken, see demo site https://nyiriland.wordpress.com/

<img width="1067" alt="Screenshot 2021-12-03 at 23 51 12" src="https://user-images.githubusercontent.com/87168/144677597-680a370a-15d0-4c98-b192-28584986fc0f.png">

## Expected

Comments should look

[2021-12-03 22:06] #5111 closed, assigned to nobody

[2021-12-03 22:07] cbravobernal commented on #5146
Hi there!

It seems that we have a couple of styles on the Editor that is interfering. As they add a previous class, inheritance is taking the editor as the main one.

https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-comments/style.scss#L32

https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/post-comments/style.scss#L50

Attach a screensho

[2021-12-04 15:29] tijosh commented on #1119
Report in 33049624-hc

Workaround is this CSS:

[2021-12-04 20:41] jordesign commented on #5097
Thanks @MaggieCabrera  I'll note this as waiting a fix from https://github.com/WordPress/gutenberg/issues/31011

Flagged for Bug Herders to keep an eye on

[2021-12-05 01:29] supernovia commented on #4903
Sorry! I was AFK 1.5 days. It looks OK now. :) Thank you!

[2021-12-05 23:46] alaczek commented on #5140
I'm having trouble testing the patches on my sandbox, so I wasn't able to test-drive this. Removing the scss files makes sense to me, but I think there's one more change needed - the `Template` in style.css needs to be `pub/blockbase`, not `blockbase`.

[2021-12-06 02:10] goblinartificer opened #5181 "Varia Themes: Cover block - text changes color upon editing anything on the same page"
### Quick summary

Multiple users have reported that on live sites using the Cover block, the text has previously been white, and has since changed to grey or black (an unreadable color) after another unrelated element is edited.

- No change in the HTML of the block in Gutenberg seems to exist.
- The block looks the same with white text in the editor, it's the live view that has a different color

[2021-12-06 02:24] retnonindya commented on #5181
This happens on the wpcourses.com website too. Editing any elements _but_ Cover block on the page causes the text color on the Cover block to change too.

Site: Atomic
Theme: Stratford (I think this happens on Varia child themes?)

[2021-12-06 02:39] formosattic commented on #5181
For reference, a few other bugs related to Cover Block and color being off:

* https://github.com/Automattic/wp-calypso/issues/57711
* https://github.com/Automattic/themes/issues/5011
* https://github.com/Automattic/themes/issues/5051
* https://github.com/Automattic/themes/issues/4055
* https://github.com/Automattic/themes/issues/5287
* https://github.com/Automattic/themes/issues/3410
* https://gi

[2021-12-06 04:58] KokkieH commented on #1792
Related report in https://wordpress.com/forums/topic/orvis-theme-homepage-not-display-properly-every-first-vist-follow-up

Occasionally on initial load the images also overlap, and a refresh is required for the layout to show correctly.

[2021-12-06 09:43] Nic-Sevic opened #5150 "Installing Russell doesn't install blockbase (parent theme)"
## Steps to replicate

1. open cli in AT site
2. run `theme install russell` > see that fails
3. install/activate russell from UI
4. check `theme list` in cli and see that russell missing
5. try to make change to menu > see crit error and forced switch to default theme
6. manually install blockbase
7. verify that menu changes now fine

## Result

when Russell is installed the parent theme is not w

[2021-12-06 10:18] Nic-Sevic commented on #5150
Tested with other child themes:
kerr - can't install from cli and doesn't show when search UI; also doesn't appear in .org listing
payton - can't install from cli and doesn't show when search UI; also doesn't appear in .org listing
skatepark - can't install from cli and doesn't show when search UI; also doesn't appear in .org listing

russell - appears in calypso UI but not in .org and can't insta

[2021-12-06 12:37] poojashetty18 commented on #1601
Another report on 29214250-hc followed up on 4572463-zen.
The user has used the Classic Editor Tiled Mosaic Gallery on a Personal plan so cannot share a CSS fix.

**Update**: Explained to this user that this could take some time. We should follow-up with the user when this issue is resolved.

[2021-12-06 13:43] pbking commented on #5140
@alaczek my understanding was that these themes couldn't be activated and evaluated until they are deployed at least once, so I was unable to test-drive that either; at least until the themes are transitioned.  I'm specifically concerned with the `Template` value as well but expected that any changes to make that work with the parent theme being in another folder could happen after the changes are

[2021-12-06 15:20] #5113 closed, assigned to nobody

[2021-12-06 23:46] alaczek commented on #5140
I deployed the changes to Payton and updated the path to template. It looks clear, so I'll do the same with Kerr now.

[2021-12-07 00:14] alaczek commented on #5140
Kerr is now moved as well. This is good to close.

[2021-12-07 00:14] #5140 closed, assigned to nobody

[2021-12-07 08:07] Nic-Sevic commented on #5150
Also ran into a ping about a similar case here with hever and varia: p1638842868169600-slack-C03TY6J1A

They were able to activate hever from calypso but it didn't show in cli listing and varia wasn't installed as the parent

[2021-12-07 11:29] scruffian opened #5154 "Jetpack Global Styles breaking Block Themes"
## Steps to replicate

1. Install a theme that has Jetpack Global Styles enabled
2. Select some fonts
3. Switch to a block theme
4. Notice that the fonts are broken

Found on PdkxO7-6-p2

[2021-12-07 14:53] kjellr opened #5155 "Videomaker: Create color variation theme"
We should create one "White" color variation of the Videomaker Theme.

## Differences:

Color:

- Foreground: `#000000`
- Background: `#FFFFFF`
- Primary: `#000000`
- Tertiary: `#D7D7D7`

## Theme Screenshot

![screenshot](https://user-images.githubusercontent.com/1202812/145051296-90c1c0eb-1fe9-4f45-b09c-00a4f6eccd77.jpg)

[2021-12-07 15:11] davipontesblog commented on #1377
Another instance affecting the user, I sent CSS to fix:

4557567-zd-woothemes

[code]

[2021-12-07 15:24] kjellr opened #5156 "Geologist: Create color variation themes"
We should create four color & font variations of the Geologist Theme. (We already have one White color variant, which is named Zoologist)

## Yellow

Color:

- Primary: `#000000`
- Secondary: `#333333`
- Background: `#FFF975`
- Tertiary: `#FFFFFF`

Font:

- "Helvetica Neue", "Helvetica", "Arial", Sans-serif

Other Settings

- Heading, Post Title blocks:
    - Font Weight: Bold (700)

Screenshot:

[2021-12-07 15:28] msilbers commented on #3201
reported in 4574078-zen

Switching the front page to the posts page and back did not resolve it

[2021-12-07 17:49] #5077 closed, assigned to nobody

[2021-12-07 17:52] pbking opened #5157 "All blockbase children should use single/page.html rather than singular.html"
Seedlet uses a `singlular.html` block template, however -  because of how child themes operate - a single/page.html template is always available from blockbase so no blockbase child will ever be able to use a singular.html template.

The only difference I can see between blockbase's `single.html` and `page.html` is the presence of the `post-meta-icons` template part and the comments block.  That m

[2021-12-07 18:12] arcangelini commented on #3201
Thanks @jordesign and @rinazrina I was able to replicate it using http://thelittleglutenfreebakingblog.com/ but not http://thelittlepilgrim.com/ here is an updated screenshot.

<img width="1198" alt="Markup 2021-12-07 at 10 56 23" src="https://user-images.githubusercontent.com/33258733/145072605-4b79598a-486e-4d55-b798-8cd33a3d1a4d.png">

It have made a PR to address this and it just needs to be r

[2021-12-07 18:40] ghost commented on #4993
Another report here: 4575897-zd-woothemes
Asked them to manually set the color in the editor
Stow theme

[2021-12-07 19:26] kjellr opened #5159 "Quadrat: Create color variation themes"
We should create five color & font variations of the Quadrat Theme. Each one should include its own set of alternate images, as linked below.

## Yellow

Colors:
- Primary: `#0e2b3b`
- Tertiary: `#fbead2`
- Background: `#fff4e3`

Alternate Images:

https://cloudup.com/caokHeEI1Oe

Screenshot:

![yellow](https://user-images.githubusercontent.com/1202812/145082738-b78d47e4-1bad-4100-86b3-38493ae9b63

[2021-12-07 19:31] kjellr opened #5160 "Twenty Twenty-Two: Create color variation themes"
Twenty Twenty-Two has had 5 color and font variants created for it [over in this PR](https://href.li?https://github.com/WordPress/theme-experiments/pull/292). These can be brought over to WordPress.com and launched as color variation themes.

<img width="1231" alt="144467775-6cee1d9f-de8a-4358-a6d9-3bcea44ec9c0" src="https://user-images.githubusercontent.com/1202812/145093728-fed38606-ee3f-45ba-9a

[2021-12-07 19:35] kjellr commented on #5157
I think in general, we should probably move away from using `singular.html` templates — it doesn't make sense to include (for example) post date, categories, or tags blocks on a template used for pages.

[2021-12-07 20:19] AtrumGeost opened #5169 "Independent Publisher 2: Footer credit is always displayed on AT sites with infinite scroll"
### Quick summary

The option to hide the footer credit is not respected on AT sites with infinite scroll enabled.

### Steps to reproduce

1. On an AT site activate the Independent Publisher 2 theme
2. Make sure Infinite Scroll is enabled
3. Go to **My Site > Appearance > Customize > Site Identity** and set the Footer Credit to Hide
4. Notice the footer credit is still displayed:

![Screen Shot o

[2021-12-07 20:29] pbking commented on #5157
Groovy.  Sounds good, thanks for confirming @kjellr.  That makes sense to me too.  I've already changed Seedlet in [another issue](https://github.com/Automattic/themes/pull/5145) so if that lands we can close this.

[2021-12-07 20:40] jordesign commented on #3201
That's so awesome- thanks Tony!

[2021-12-07 20:51] jackiejade commented on #4993
Another report: 30891016-hc

Manually switching the color in the editor fixed the issue.

[2021-12-07 23:16] paxblueribbon opened #5161 "Alto Focus theme has full-width template tag in error"
## Steps to replicate
Open Alto Focus theme page ( https://wordpress.com/theme/altofocus/mariaianne.com ).  Scroll to the bottom and see Full Width Template listed under features.

Install and activate Alto Focus.  Go to a page and try to change the template to full-width.

## Result

No templates exist.

## Expected

Templates should exist, in particular the full width.

* User report: hc-3310359

[2021-12-08 05:33] Greatdane commented on #5162
Confirmed. For some reason just the Zoologist theme..

[2021-12-08 05:38] Greatdane commented on #5162
Update; It actually seems to be related to the newer themes, not sure if they are all a child.
They did not render on; **Zoologist, Russell, Quadrat, Geologist**

[2021-12-08 09:33] Robertght commented on #5181
Hey!

I tried to replicate this using Hever, Maywood and Geologist on my end, but I had no luck.

Could you give it a second shot and if it still happens could you share a screen capture?

[2021-12-08 11:58] scruffian commented on #5087
Closing in favour of https://github.com/Automattic/themes/issues/5119

[2021-12-08 11:58] #5087 closed, assigned to matiasbenedetto

[2021-12-08 11:58] scruffian commented on #5066
Closing in favour of https://github.com/Automattic/themes/issues/5119

[2021-12-08 11:58] #5066 closed, assigned to MaggieCabrera

[2021-12-08 12:35] chad1008 commented on #5181
I'm able to reproduce in Hever:

1. Create a new post.
2. Add a cover block using an image from media library.
3. Note the placeholder text color - it was a light grey in my test, almost white.
4. Add some text to the cover block and note the color - it was white in my test.
5. Publish the post and view your block on the front end, noting the color - it was _black_ in my test.

I was also able to

[2021-12-08 16:19] kjellr opened #5166 "[Videomaker] Menu close button is in a slightly different position than the menu button is."
These appear to be in slightly different positions. The X button is farther up and to the right, and it looks like a bug. Can we add some CSS to correct that?

![close-position](https://user-images.githubusercontent.com/1202812/145243765-7fdac7bb-e08e-4dae-a0ae-10e58a8559f4.gif)

[2021-12-08 16:51] Robertght commented on #5181
Thank you for testing this @chad1008 !

After a few runs on my end as well, this appears to be theme-specific(especially Varia based).

@jeffikus should we add this to the theme's repo?

[2021-12-08 17:10] mikeicode opened #5172 "Blockbase & Child themes - WooCommerce badge size issue"
### Quick summary

The badges over WooCommerce products should be perfect circles but they currently aren't.

### Steps to reproduce

Look at a product with a "Sale" badge.

### What you expected to happen

Should be a perfect circle, like this Varia theme example:

<img width="727" alt="Screen Shot 2021-12-08 at 11 37 36" src="https://user-images.githubusercontent.com/10353785/145251388-91105052-

[2021-12-08 17:17] mikeicode opened #5761 "Blockbase & Child themes - WooCommerce quantity field is too small"
### Quick summary

The quantity field isn't long enough to be visible/usable.

### Steps to reproduce

Look at the quantity field on the following:

* single product page
* cart
* cart on mobile

### What you expected to happen

The quantity field should be long enough to display the numbers, like this Varia example:

<img width="854" alt="Screen Shot 2021-12-08 at 11 42 11" src="https://user-imag

[2021-12-08 17:21] jp-imagines opened #5184 "Textbook: Tag Cloud widget has no colored backgrounds if nested in a Group block"
### Quick summary

On the Textbook theme, the Tag Cloud widget displays each tag with a colored background based on frequency. When the Tag Cloud widget is inside a Group block, this formatting completely disappears.

### Steps to reproduce

1. Activate the _Textbook_ theme on your site.
2. Add a Tag Cloud widget _into the Sidebar widget area_ from either Appearance > Widgets or in the Customizer.

[2021-12-08 17:39] mikeicode opened #5173 "Blockbase & Child themes - WooCommerce coupon field is too small"
### Quick summary

The coupon field in the cart is too small.

### Steps to reproduce

* Add a product to the cart
* View the cart

### What you expected to happen

The coupon field should be large enough to read the text and match the theme styling, Varia example:

<img width="910" alt="Screen Shot 2021-12-08 at 11 57 23" src="https://user-images.githubusercontent.com/10353785/145256473-f1bf2ecf-

[2021-12-08 17:46] mikeicode opened #5174 "Blockbase & Child themes - WooCommerce thumbnail size in cart affected by title length"
### Quick summary

The size of the image thumbnail in the WooCommerce cart is affected by the length of the product title, so if you use a long product title the image is too small.

### Steps to reproduce

* Add a product with a short title and another product with a long title to the cart
* View cart
* View size of thumbnail image
* Remove long titled product from cart
* Compare the image size

[2021-12-08 19:22] pbking commented on #5166
It depends... are we OK if the Hamburger Menu is top-aligned when the view is "responsive"?

It's an easy enough change to make the responsive menu's outer border match the theme's to ensure that distance is the same.

If it's OK to adjust both of those then there's [a fix](https://github.com/Automattic/themes/pull/5145/commits/07a99b9d8f8587d7e15a6dd90bca7775311a3181) in #5145 that does exactly t

[2021-12-08 20:36] kjellr commented on #5166
Hmm ok I see how this gets complicated now. Currently we can't predict the position of the menu button because it gets center-aligned vertically depending on the height of the site title, tagline. And that height can vary depending on how how many lines each of those go onto. 😅

I don't think aligning this to the top makes sense, since it's going to be hacky to then get it lined up nicely with the

[2021-12-09 00:32] jerrysarcastic commented on #5110
Also reported in https://wordpress.com/forums/topic/buttons-27

For now as a workaround buttons can be set to `filled` instead of `outline` to restore the appearance that they are buttons, not simple links.

Screenshot showing published view on left, versus view in the editor (which appears to be correct) on the right, from my test site:

<img width="1310" alt="Screenshot on 2021-12-08 at 16-27-23

[2021-12-09 02:04] essleeung commented on #967
Another simple site that can't set the background- 4580933-zd-woothemes / 32992069-hc

[2021-12-09 04:54] Greatdane commented on #5167
Moving to Themes as `featured content` seems to be specific to Toujours.

[2021-12-09 05:14] jordesign commented on #5161
Good catch @paxblueribbon !

I've changed this so the 'Full-Width Template' tag no longer shows

[2021-12-09 05:14] #5161 closed, assigned to jordesign

[2021-12-09 05:17] Greatdane commented on #5169
Confirmed, moved to themes repo. Note, this is not an Automattic theme.

[2021-12-09 05:31] jordesign commented on #5132
Scrubbed and confirmed this behavior. Seems specific to Barnsbury (not present in Varia parent theme).

Barnsbury has 272,974 installs.

[2021-12-09 05:42] Greatdane commented on #5184
@jp-imagines Are the colored backgrounds added elsewhere? I changed to the textbook theme, but even out of a group block I see no colored background?

<img width="425" alt="Markup 2021-12-09 at 14 40 47" src="https://user-images.githubusercontent.com/5075840/145340900-22b34fb4-ce6f-4368-9eaf-9f4711d0a018.png">

[2021-12-09 05:42] jordesign commented on #4786
Scrubbed and confirmed. Twenty Sixteen is active on 6,146,263 sites

[2021-12-09 06:13] Greatdane commented on #4830
Just a note, can confirm;

https://user-images.githubusercontent.com/5075840/145343853-49663721-22c2-4b67-8a41-6431f2b09eef.mp4

[2021-12-09 06:13] jordesign commented on #4830
Thanks to @Greatdane this is scrubbed and confirmed.

[2021-12-09 09:02] kdevnel commented on #1639
Another report: 4580793-zd-woothemes
Temp fix provided

[2021-12-09 09:26] Robertght commented on #5170
I have moved this to Themes so we can get a second opinion.

cc @jeffikus @jordesign

[2021-12-09 09:30] Robertght commented on #5171
I moved it to Themes now for a second look. cc @jeffikus @jordesign

[2021-12-09 09:41] Robertght commented on #1417
I'm closing this in favor of https://github.com/Automattic/themes/issues/810 as they seem to share the same behavior.

[2021-12-09 09:41] #1417 closed

[2021-12-09 09:54] daria2303 commented on #5162
This is a case with Russel theme 4580608-zd-woothemes

[2021-12-09 10:19] poeticabdul commented on #3201
User came back in chat 32879604-hc to check on status of this bug

[2021-12-09 10:23] scruffian commented on #5166
Should this be a Gutenberg PR rather than a videomaker one?

[2021-12-09 13:25] kjellr commented on #5166
I don't think so — Gutenberg has no control over where the button is placed on the screen, so I don't think it would be able to make this work. In our case, we have a general sense of where it might be based on the theme defaults, and we're just optimizing for that.

[2021-12-09 14:01] jp-imagines commented on #5184
@Greatdane It appears on the theme demo site as well: https://textbookdemo.wordpress.com/

And I found the corresponding styling for the colored backgrounds in the theme's CSS:

[code]

Based on that, it looks like it only applies in the sidebar widget area (`#secondary`). The footer widget area doesn't get the same treatment. I've added that into the original report.

[2021-12-09 14:04] pbking commented on #5166
One thing to note: The padding around the navigation modal as well as position of the X is hard-coded.  (At least I think so) and isn't guaranteed to have the same space as the site.  I believe that this aspect SHOULD be a Gutenberg change as otherwise the alignment of those buttons couldn't happen without tweaking that.

[2021-12-09 14:23] kjellr commented on #5166
So basically: You're suggesting that themes should be able to customize the padding there w/theme.json like they can with other blocks that support padding? I agree that it makes sense, but I also think that might get complicated... maybe CSS is the right answer.

[2021-12-09 14:25] pbking commented on #5166
Yes, customized padding makes the most sense to me.  I don't see that coming until well after "responsive options" are a thing (since it's not "padding" on the "navigation block" and there isn't an "element" we can target) and I wouldn't expect that any time soon.

I think CSS is the right answer for the time being.

[2021-12-09 14:49] scruffian commented on #5166
The block could do a couple of things that it doesn't do at the moment:
- Adjust for the admin menu
- Use the site padding setting

[2021-12-09 17:00] scruffian commented on #5166
@kjellr the updated header is now on wordpress.com. How does this version look for you?

[2021-12-09 17:01] scruffian commented on #5119
This was closed by #5145

[2021-12-09 17:01] #5119 closed, assigned to matiasbenedetto

[2021-12-09 17:01] #5160 closed, assigned to scruffian

[2021-12-09 18:21] cuemarie commented on #3201
33115256-hc

Switching the homepage to latest posts then back to static had no effect on the issue

[2021-12-09 18:41] kjellr commented on #5166
Yeah, the placement looks right to me. Will close this one out. Thanks!

[2021-12-09 18:41] #5166 closed, assigned to nobody

[2021-12-09 18:51] supernovia opened #5176 "Hever: Comment-Author name collapses into a column"
## Steps to replicate
- Activate Hever
- Make a comment as a new/unknown user (You can use an incognito window and a different address for this)

## Result
- Note the comment-author field in the "Comment Moderation" box is collapsing funny

## Expected
I would expect the comments moderation field to be smaller instead so that there's room for a normal-ish username (some wrapping is OK)

* User rep

[2021-12-09 19:31] creativecoder commented on #4559
I'd recommend filing an issue at https://github.com/WordPress/gutenberg/issues/new/choose

This doesn't look to be theme specific.

[2021-12-09 19:39] creativecoder opened #5177 "Blockbase: initial menu state confusing"
## Steps to replicate

- Activate Blockbase or one of it's children
- Open the Site editor

## Result

The menu has placeholders rather than pages.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/1699996/145463434-003f05bd-467c-4468-9a19-5bcd3284e20c.png">

Clicking into the block offers these choices, which were confusing in user testing

<img width="300" alt="image"

[2021-12-09 19:51] jordesign commented on #5171
I'm unable to recreate this either at this time either - so we'll need to try and narrow down when it is happening.

@kspilarski - would you mind adding me as a user to your test sites (and pinging me) so I can take a look at it in action?

[2021-12-09 19:56] jordesign commented on #5170
This definitely seems related to the Button styling of the theme being applied to other button elements from blocks. One solution could be to define the button styles so they are limited to only certain blocks - but I'm not sure if that is sensible.

Canard is installed on 196,907 sites currently.

[2021-12-09 20:05] jordesign commented on #4754
With the new 'highlight' tool active in Gutenberg I can no longer recreate this - closing as resolved.
<img width="447" alt="Screen Shot 2021-12-10 at 7 04 23 am" src="https://user-images.githubusercontent.com/1842363/145467826-da0c089a-03c0-4ed2-9990-84b1fcc67c61.png">

[2021-12-09 20:05] #4754 closed, assigned to nobody

[2021-12-09 21:10] creativecoder opened #5180 "Blockbase: Full width template parts"
## Steps to replicate

- Activate Blockbase and open the theme in the Site editor
- Select the header or footer
- Try setting a background color

## Result

- First, there are no background color options in for the template parts
- Second, there's padding on `.wp-site-blocks` that prevents the background color from being full width (https://github.com/Automattic/themes/blob/8cfaa36188533c67167689d

[2021-12-09 22:19] upwardmomentum84 commented on #5181
This also happened on an AT site running the theme Appetite in 33137529-hc.

[2021-12-09 23:32] jordesign commented on #4189
Closing this issue - as this particular pattern is no longer in use in the page layput selector. Definitely worth following along with https://github.com/Automattic/wp-calypso/issues/58846 for related cover block issues

[2021-12-09 23:32] #4189 closed, assigned to nobody

[2021-12-09 23:37] jordesign commented on #5181
Doing some further testing on this - and shifting over to the themes repo as this seems related to Varia themes handling of colors in Cover blocks

[2021-12-09 23:50] jordesign commented on #4639
I'n no longer able to recreate this behaviour with the newest version of the Cover block in GB. Custom color or setting to White overlay both work - even when Coutoire has a custom secondary color.
Test page - PdA28y-b-p2

Closing this issue as non-reproducible.

[2021-12-09 23:52] jordesign commented on #5051
Closing this issue in favour of https://github.com/Automattic/wp-calypso/issues/58846 where I will gather all issues related to Varia themes and Cover blocks.

[2021-12-10 00:09] jordesign commented on #5181
This issue is sounding *really* similar to https://github.com/Automattic/themes/issues/4993 - which is caused by the default text color for elements within Cover Blocks not matching within the editor and the front-end. It is as though the default text color for all blocks is changed to dark grrey.

 In _that_ issue the problem is seen when first editing content in pages (compared to updating pages

[2021-12-10 00:21] jordesign commented on #5050
I'm still unable to recreate this - I suspect recent GB updates have stopped it from being an issue. Closing as non-reproducible.

[2021-12-10 00:21] #5050 closed, assigned to nobody

[2021-12-10 00:25] jordesign commented on #2252
Closing this once again - as the original issue is different to the one being reported now (text color VS background color. Closing in favour of https://github.com/Automattic/wp-calypso/issues/57711

[2021-12-10 00:25] #2252 closed

[2021-12-10 00:52] jordesign commented on #4055
Scrubbed and confirmed this seems limited to the Barnsbury theme

[2021-12-10 00:59] jordesign commented on #3475
Closing this as no longer reproducible with the new 'Coming Soon' banner

[2021-12-10 00:59] #3475 closed, assigned to nobody

[2021-12-10 01:16] jordesign commented on #5051
I've noticed it _also_ doesn't change based on the opacity of the background (which some other themes do).

[2021-12-10 01:21] jordesign opened #5182 "Varia Themes: Multuple issues with handling of Cover Block colors"
This is an umbrella issue to gather multiple open issues related to the current handling of Cover blocks by Varia.

1. At some point it appears that the default text color display of Varia themes became different between the editor (where it appears white) and the front end (where it appears dark grey). The symptoms of this are reported in 2 different issues:

o https://github.com/Automattic/theme

[2021-12-10 01:42] jordesign commented on #5182
I've got a test page/site up specifically for this if it helps
PdA1qf-f-p2

[2021-12-10 01:57] jordesign commented on #4559
+1 to @creativecoder's suggestion. I'll close this issue here.

[2021-12-10 01:57] #4559 closed, assigned to nobody

[2021-12-10 01:59] jordesign commented on #4678
Edin is active on 3,272,954 sites

[2021-12-10 02:22] jordesign commented on #4729
Confirmed the behaviour of helper icons not showing.

'Plane' is active on 115,556 sites

[2021-12-10 02:33] jordesign commented on #4391
Maxwell is now retired - but have confirmed this behaviour.

[2021-12-10 02:36] jordesign commented on #4022
Flagging this as high priority seeing as there is a PR in place for it already.

[2021-12-10 03:04] jordesign commented on #3001
I could no longer recreate this - so closing.

[2021-12-10 03:04] #3001 closed, assigned to nobody

[2021-12-10 11:35] hideandgeek404 opened #5183 "Dynamic News: functions.php has code outside PHP tags"
## Steps to replicate

- Download the files from Theme Download section (all versions have this issue including 1.0.3)
- Install to a site and activate

## Result

The following code is now present on every page as in functions.php the PHP closing tag is on line 389 but this PHP code is on line 391-393

[code]

![image](https://user-images.githubusercontent.com/81396999/145568228-da5c694e-c511-45a

[2021-12-10 13:53] scruffian commented on #5156
@kjellr these variations don't have foreground colors and I think they need them. I've added #FFFFFF for now.

[2021-12-10 14:21] JoshuaGoode commented on #5183
This issue doesn't appear to be present in the most recent version we should symlink, 1.1.3

It appears that an older version 1.0.3 was installed.

HEs should use the special symlink command to ensure the proper version gets installed and symlinked.

* p9F6qB-7Os-p2#comment-44178

[2021-12-10 14:39] kjellr commented on #5156
Oh that's weird. For all of these, `Primary` should be the same as `Foreground`.

FWIW, I defined the colors based on the palette names I saw here. Geologist doesn't have a Foreground color listed:

<img width="300" alt="Screen Shot 2021-12-10 at 9 39 10 AM" src="https://user-images.githubusercontent.com/1202812/145591296-91ffa017-0461-4152-9008-b36d3cb7a128.png">

[2021-12-10 15:13] #3201 closed, assigned to nobody

[2021-12-10 15:48] pbking commented on #5156
`foreground` is just mapped to `primary` in geologist's theme.json file.  But so is `secondary` which means that secondary is never used in Geologist.  Which seems wrong.  If that's the intent of Geologist then we should just remove secondary.  Otherwise we should fix that mapping.  The Geologist children should be fine to have those same colors.

[2021-12-10 15:49] kjellr commented on #5156
Some of the children may use Secondary, so I wouldn't remove it entirely.

[2021-12-10 16:00] pbking commented on #5156
In the variations change secondary is now appropriately mapped (in Geologist and thus all of the variations) and 'foreground' takes the 'primary' color so those variations also don't list a "foreground" color.

[2021-12-10 20:02] pbking commented on #5078
I believe this should be appropriately addressed in https://github.com/Automattic/themes/pull/5145 and can be retested.

[2021-12-10 20:04] pbking commented on #5118
I believe this has been address by https://github.com/Automattic/themes/pull/5145 and can be retested.

[2021-12-11 04:48] formosattic commented on #3703
+1 4604246-zd-woothemes

[2021-12-11 06:07] devNigel commented on #5150
Another case here: 4604100-zen

[2021-12-11 07:32] formosattic commented on #4852
+1 for Russell, 4604186-zd-woothemes

CSS fix:

[code]

[2021-12-11 08:15] kspilarski commented on #5171
Hi @jordesign ! In my previous comment above, I re-tested Zoologist theme and when customizing colors, it already shows in the preview. Color customization works fine. (In the past, color preview is not shown unless you save it first. Saving is no longer required before being able to see the colors selected.) Color customization and preview work as expected.

[2021-12-12 12:41] arunsathiya opened #5202 "Varia and Blockbase: Configured background color removes hover effect on button block, default color fine"
### Quick summary

On certain themes, configuring a background color on the button block removes the hover effect that's visible by default. Removing the color brings back the hover effect.

### Steps to reproduce

- Start with a WordPress.com site
- Add a button block to a page.
- Use theme Morden, Blank Canvas or Zoologist (tested 3 so far)
- On the button block, hover over it and you can notice

[2021-12-12 16:44] kspilarski opened #5204 "Theme: Twenty Twelve, Thirteen and Fourteen show hyphens on justified texts"
### Quick summary

Using Twenty Twelve, Thirteen and Fourteen themes, justified texts show hyphens on the live page but not in the editor.

### Steps to reproduce

1. activate Twenty Twelve, Thirteen or Fourteen theme
2. in a page or post, justify texts and Update or Publish
3. compare page editor and live page display

### What you expected to happen

Justified texts won't show hyphens in both ed

[2021-12-12 20:48] jerrysarcastic opened #5205 "Twenty Twentyone: custom font size settings in Table Block are ignored"
### Quick summary

When adding a table block to a page or post using the Twenty Twentyone theme, it is possible to set a custom font size for text in the table, and this is shown correctly in the editor view.

However, on the live site this setting is ignored and text is shown in the default font size instead.

### Steps to reproduce

- Start with test site using Twenty Twentyone theme
- create te

[2021-12-12 22:42] jordesign commented on #3201
@arcangelini !!!! Thank You!

[2021-12-12 22:54] sophiegyo opened #5188 "Twenty Eleven: gallery post format won't show featured image on archive page"
## Summary

Posts with gallery posts format in the Twenty Eleven theme has a thumbnail displayed in the post excerpt on post category pages. The post thumbnail is consistently pulled when Classic editor is used to adding images to post.

## Steps to replicate

* Activate Twenty Eleven theme.
*  Create a post and add images to the post using Image or Gallery blocks.
* Set Gallery post format and pu

[2021-12-12 23:06] sophiegyo opened #5189 "Exford - Quote block: typography font size (Gutenberg) not respected."
## Summary

Typography settings (added in by Gutenberg) are not respected in Exford in the Quote block.
Side note: this seems to tie in with the other Quote block reports for Exford: #2626 and #2797

## Steps to replicate

1. Active the Exford theme
2. Create/edit a post;
3. Add a Quote block;
4. Add some dummy quote/caption;
5. Change the font-size to Small, large, huge or custom:
![image](https:

[2021-12-12 23:37] happychait commented on #1664
Another in 4607665-zen

[2021-12-13 00:09] jerrysarcastic opened #5206 "Twenty Fourteen: Like and Reblog buttons missing on posts that use a post format other than "standard""
### Quick summary

On standard blog posts, like buttons/reblog are displayed as expected.
Ex from demo site: p1C2ZN-14-p2

However, if any other post type is selected, reblog and like buttons are not shown.  Examples from demo site:
- p1C2ZN-3y-p2
- p1C2ZN-3h-p2
- p1C2ZN-3d-p2
- p1C2ZN-6F-p2
- p1C2ZN-3m-p2
- p1C2ZN-3k-p2

### Steps to reproduce

Issue can be seen in demo site but if you need to re

[2021-12-13 02:38] jordesign commented on #3201
Hi everyone 👋 Just a quick note to let you all know @Automattic/bug-herders have finished following up with affected users reported in this thread (all those who reported in June or more recently). We've deliberately not contacted users from older reports than that.

Thanks for the reports, please let us know here if you see any future recurrence of the issue.

[2021-12-13 08:59] rw-ye commented on #3850
Another report here: 32773571-hc

Theme: Hemingway Rewritten

Provided a CSS workaround:

[code]

[2021-12-13 09:51] scruffian commented on #5078
Confirmed

[2021-12-13 09:51] #5078 closed, assigned to nobody

[2021-12-13 09:52] scruffian commented on #5118
Confirmed.

[2021-12-13 09:52] #5118 closed, assigned to nobody

[2021-12-13 10:00] scruffian commented on #3202
I just tested on my Atomic site https://scruffianbusiness.wpcomstaging.com/ and it seems to be there:
<img width="1440" alt="Screenshot 2021-12-13 at 09 59 09" src="https://user-images.githubusercontent.com/275961/145791429-7634444c-9e4e-4b5d-817c-9f23f3b02211.png">

[2021-12-13 10:52] kriskorn commented on #3202
@scruffian The only difference I saw ( which could make any difference ) on your test site and on my test site - https://123kristraining456.wpcomstaging.com/ that you have something called `editing-toolkit` active, which Atomic sites do not normally have. I have `full-site-editing` active, but that does not make a difference.

<img width="1719" alt="Screenshot 2021-12-13 at 12 52 05" src="https://

[2021-12-13 11:14] scruffian commented on #3202
Do you see global styles on other themes on test sites that do not have the editing toolkit active?

[2021-12-13 12:00] kdevnel opened #5207 "Alves Theme: White text colour causes issues with date picker in contact forms"
### Quick summary

When you choose a white theme font under Customize > Colors and Backgrounds this causes some issues with date pickers in the contact forms.

The month and day uses the body text colour but the actual date picker background stays white too instead of using the theme background colour which is likely to be dark.

### Steps to reproduce

1. Choose Alves theme
2. Under Customize > C

[2021-12-13 12:00] jartes commented on #4993
Another one on: 33146819-hc

Indicated to set the color manually.

[2021-12-13 12:56] base-creme opened #5191 "blockbase - child theme issue "Template part has been deleted or is unavailable""
## Steps to replicate

1/ I installed the Blockbase Theme
2/ I create one new template "front-page" with a new header "header-front-page"
3/ I create a child theme with the "Create Blockbase Theme plugin".
4/ I installed my child theme

## Result

I have several issues in front :

* Template part has been deleted or is unavailable: header
* Template part has been deleted or is unavailable: footer

[2021-12-13 13:24] kriskorn commented on #3202
It did not show for Quadrat, but showed for Seedlet and Maywood.

[2021-12-13 13:50] pbking commented on #4852
The logo can be resized in the Site Editor.  If resizing is needed but the Site Editor is not available then the CSS workaround noted above would be the only option.  This isn't something we are able to allow customizations for in a Blockbase/Universal theme.

[2021-12-13 13:50] #4852 closed, assigned to nobody

[2021-12-13 13:51] pbking commented on #5171
Looks like this is working as expected.  Closing.

[2021-12-13 16:53] #5156 closed, assigned to pbking

[2021-12-13 17:34] scruffian commented on #3202
Is that on the same site? The behaviour I am seeing is the same for all themes:
- If the editor toolkit plugin is enabled then Jetpack Global Styles shows
- If the editor toolkit plugin is disabled then Jetpack Global Styles does not show

[2021-12-13 17:58] kriskorn commented on #3202
Yes, that is on the same site. I think the issue here is that `editing-toolkit` is not a plugin that is installed on Atomic by default. However, `full-site-editing` is. If `editing-toolkit` is a plugin that is needed on Atomic for Global Styles to work, though I got mixed results, then this would have to be added to the plugin list that needs to be installed and activated on all Atomic sites by de

[2021-12-13 18:32] danieldudzic commented on #1765
Apologies for this taking so long. It has been deployed now.

[2021-12-13 18:32] #1765 closed

[2021-12-13 20:16] scruffian commented on #3202
@Automattic/cylon Do you know anything about this?

[2021-12-13 20:30] pbking commented on #4208
Tested this again, it's still happening exclusively on .com.  The appropriate elements are rendered using any version of the plugin locally.  I haven't been able to determine what about that installation is causing it but again confirming that it's something specific there.

[2021-12-14 08:09] happychait commented on #1890
Another report in #4610505-zen

Worked around with the custom CSS in the **Expected** section of this bug description above.

[2021-12-14 09:16] kdevnel commented on #2066
Adding this case being affected by this - 4567802-zd-woothemes

No CSS option available to help this specific user either. Solution is upgrade, fix the issue or rebuild the site header in another blockbase theme instead.

[2021-12-14 11:33] #5159 closed, assigned to nobody

[2021-12-14 11:37] mikachan commented on #3684
I've tested this with Gutenberg 12.1.0 and WordPress 5.8.2 locally, and I'm now seeing the same in the editor and the front end, where the background is applied to the whole menu.

| Editor | Front end |
| ------ | --------- |
| ![image](https://user-images.githubusercontent.com/1645628/145986005-6e47854f-b2d0-40b9-911a-f009325d2a53.png)     |  ![image](https://user-images.githubusercontent.com/16

[2021-12-14 11:37] #5155 closed, assigned to nobody

[2021-12-14 14:58] kdevnel commented on #2066
@mrfoxtalbot sadly this is the core issue for that user. For 3 weeks we've tried to make that solution work but the logo ends up blurry when resized to about 100px high. Details are in the referenced link above.

[2021-12-14 16:24] #5162 closed, assigned to nobody

[2021-12-15 02:14] ai2n commented on #4993
I think another related one in: 4613234-zen

It seems they somehow were able to solve it in between the time I pushed to ticket and followed up with them, but I suggested a manual workaround just in case.

[2021-12-15 03:08] rw-ye opened #5198 "Baskerville 2: Noto Sans KR font not showing in Customiser on AT sites"
## Steps to replicate

- Open/create an atomic site.
- **Settings > General**: Change language to **Korean**
- Change the theme to **Baskerville 2**
- **Appearance > Customize > Fonts**: Can't find **Noto Sans KR** from the list.

## Result

- The font  **Noto Sans KR** is not available/does not show in the list.

## Expected

- For the font **Noto Sans KR** to display in the list. It is currently

[2021-12-15 11:06] danieldudzic commented on #4786
This one is an odd bug.

The culprit is located in Jetpack: `modules/theme-tools/site-logo/inc/functions.php`

In the absence of a logo, inside the `jetpack_the_site_logo` a `bool(false)` value gets passed as `$logo_id` into the `wp_get_attachment_image()` - (which isn't a valid value by the way, as the function expects an `int - Image attachment ID`) - this in turn results in the function outputt

[2021-12-15 16:45] DavidSaladu commented on #2225
Ran into chat and later on 4615224-zd-woothemes. The issue affects other areas of the editor (an example is the options that appear upon creating a link). @mrfoxtalbot  found that **resetting the default values on the customizer solves it**, however, just changing the color doesn't. In case it helps someone else.
![image](https://user-images.githubusercontent.com/79575219/146228395-f136172f-ff2b-4

[2021-12-15 17:35] mikachan commented on #4208
I don't know if I'm over-simplifying this, but it seems this could be because the post excerpt isn't rendered as a paragraph in the editor (it's a div instead), whereas on the front end it is. I've opened a GB PR for this: https://github.com/WordPress/gutenberg/pull/37412

[2021-12-15 21:29] matiasbenedetto commented on #1712
I'm not able to reproduce the original problem described by this issue:

https://user-images.githubusercontent.com/1310626/146267682-6f00c1a7-089d-41d3-b748-b8826172d9da.mp4

[2021-12-15 23:17] csmcneill opened #5203 "Blockbase: Cannot Purchase Variable Products Using the Russell Theme"
### Quick summary

When purchasing a variable product on a WPCOM site and the [Russell theme](https://wordpress.com/theme/russell) is active, it generates an error reading `Please choose product options by visiting [product title]`.

### Steps to reproduce

1. Activate the Russell theme.
2. Activate WooCommerce.
3. Create a variable product.
4. Attempt to purchase that variable product.
5. Note th

[2021-12-15 23:26] csmcneill commented on #5203
I tested this on my own site and can replicate the issue:

![https://d.pr/i/jAIHYN](https://d.pr/i/jAIHYN+)
Full Size: https://d.pr/i/jAIHYN

[2021-12-16 00:19] hacchism opened #5201 "Dynamic News: Email icon for Social Links Menu doesn't work"
### Quick summary

Email icon for Social Links Menu doesn't work on Dynamic News theme.

### Steps to reproduce

1. Activate "Dynamic News" theme.
2. Go to Customize → Theme and make sure to check off "Display Social Icons on header area".
3. Go to Customize → Menus and set up Social Links Menu.
4. Add a new custom link menu and put "mailto:YOUR_EMAIL" to the URL field and put "Email" to the Label

[2021-12-16 05:26] kosiew commented on #5201
Hi @hacchism ,

Thanks for reporting this and the detailed steps.

I could reproduce this on a Simple site.

Triaging for developers' further investigation.

[2021-12-16 05:27] kosiew commented on #5201
In addition, I also tested it on TwentyFifteen and the email icon displayed.
Moving to Themes repo.

[2021-12-16 05:45] Greatdane commented on #5202
Confirmed, also happens if you simply change the text color;

https://user-images.githubusercontent.com/5075840/146314869-8e6a5903-0706-48f6-9562-d8e473571262.mov

Also happens on Arbutus, Quadrat and Russell. Perhaps all Blockbase child themes?

[2021-12-16 05:53] kosiew commented on #5203
Hi @csmcneill ,

Thanks for reporting this and the detailed steps.

I could reproduce the same.

Moving to Themes repo for developer action.

[2021-12-16 06:04] nagpai commented on #4789
One more case - Barnsbury - 33220379-hc

[2021-12-16 06:12] Greatdane commented on #5204
Looks like its being pulled from here on these themes;

[code]

[2021-12-16 06:22] Greatdane commented on #5205
The custom sizes work, but not the default predefined sizes;

<img width="315" alt="Markup 2021-12-16 at 15 21 50" src="https://user-images.githubusercontent.com/5075840/146318993-fbfb43a3-6d36-4cb6-a5a8-bb8c2446313b.png">

[2021-12-16 06:58] Greatdane commented on #5207
Moved to themes, but this looks to be an issue on ALL themes if you add a dark background.

Alves;
<img width="913" alt="Markup 2021-12-16 at 15 53 36" src="https://user-images.githubusercontent.com/5075840/146323073-1a923c57-e3b3-4ffe-88ee-5e9dfafb84f9.png">

Twenty Twenty One suffers as well;
<img width="986" alt="Markup 2021-12-16 at 15 58 03" src="https://user-images.githubusercontent.com/5075

[2021-12-16 08:53] Robertght commented on #4607
another one in #4616950-zen

[2021-12-16 09:01] MaggieCabrera commented on #1712
I think this one was fixed when https://github.com/Automattic/themes/issues/2814 was fixed. I'm closing this but please feel free to reopen if this issue persists

[2021-12-16 09:01] #1712 closed

[2021-12-16 13:10] scruffian opened #5209 "Blockbase + family: Update font size names"
Gutenberg has update the font size names: https://github.com/WordPress/gutenberg/pull/37381/files

We should follow suit in Blockbase

[2021-12-16 13:53] scruffian commented on #5182
I think we can fix this by removing the extra code that is targeting cover blocks as part of color annotations. The problem is that it will change the frontend for some users, so I'm not sure if its a good idea...

[2021-12-16 14:16] pbking opened #5211 "Handle `Template:` discrepancy for premium themes"
Any theme in this repository that will be deployed as a 'premium' theme needs to have an absolute reference to their parent theme.  However while in THIS repository they have to be references relative.

For example Videomaker in this repo should be:
`Template: blockbase`
while in the /premium repo should be:
`Template: pub/blockbase`

How should this be handled?  Can/should it be automated?  Shoul