[2022-03-07 02:18] jffng commented on #5566
We should verify this is fixed since https://github.com/WordPress/gutenberg/pull/39164 was merged.

[2022-03-07 10:28] MaggieCabrera commented on #5566
This looks ok to me, let's reopen if we find any alignments issues again.

Blockbase:

![Screenshot 2022-03-07 at 11-25-17 Alignments – Skatepark](https://user-images.githubusercontent.com/3593343/157013935-11ba8349-9ea9-45b5-bb3e-7f75b31fc592.jpg)

Livro:

![Screenshot 2022-03-07 at 11-26-56 Skatepark – Tagline](https://user-images.githubusercontent.com/3593343/157013958-4ad7e347-2499-4ff2-a331-4

[2022-03-07 10:28] #5566 closed, assigned to nobody

[2022-03-07 10:36] MaggieCabrera commented on #5622
@matiasbenedetto if you are looking a sandboxed site then it's a simple site. You need to test it on atomic, which is a bit trickier. [This](https://www.loom.com/share/f6e9efb5232d4931b8f5c7966e3b244b) is how you make a simple site atomic.

[2022-03-07 12:44] syds87 commented on #5585
Another one here (Blank Canvas theme): 4836622-zen

[2022-03-07 13:49] as-esu commented on #3178
4824904-zen
The user is experiencing an inconsistent display of image captions. Some captions are centre aligned and some are not.
Provided CSS as a workaround.

[2022-03-07 15:03] jffng opened #5628 "Universal themes: menu editing confusion"
Reported from Happiness:

"Universal themes, such as Russell, don't have "Menus" under "Appearance" - however - they do have "Menus" under the "Customizer". While you can create and work with the Navigation block in the Site Editor on these ones - if you do, it doesn't update the corresponding menu in the customizer - which is fine, so long as the customer doesn't ever go to the Customizer to work

[2022-03-07 15:26] ccwalburn commented on #5585
Another one here: 4838881-zen
Theme: Stratford
I gave this user some CSS as a workaround:

[code]

[2022-03-07 20:46] kjellr opened #5631 "[Archeo] Small screen fixes"
Archeo has a few areas of its mobile templates that need adjustment:

---

- [x] `home.html` top area https://github.com/Automattic/themes/pull/5645:

The two areas indicated in pink should use the equivalent of 48px of padding.

<img width="372" alt="Screen Shot 2022-03-07 at 3 32 36 PM" src="https://user-images.githubusercontent.com/1202812/157113858-56fdfbfc-1404-445b-a632-31dda07193d7.png">

-

[2022-03-07 20:57] kjellr commented on #5595
Update: I got a little closer towards reducing the file size by refining the cutout edges. I'm going to continue working on it tomorrow. 👍

[2022-03-08 08:28] MaggieCabrera opened #5632 "Archeo: Navigation block blockgap not working"
While working on remote I was going over the Archeo block navigation markup and I think that it is wrong and it's not being applied.

[2022-03-08 09:50] #5618 closed, assigned to MaggieCabrera

[2022-03-08 09:53] MaggieCabrera commented on #5595
Awesome @kjellr ! Just a heads up because I'm building the headstart for skatepark and I encountered this. The limit for theme images on dotcom:

[2022-03-08 11:17] Robertght commented on #5552
This is key. After adding the block and setting the block to show up the context/featured image, the related posts section shows up as expected.

![image](https://user-images.githubusercontent.com/6737345/157227706-d1b103b4-79aa-4eac-887b-13a667af9488.png)

Finally, I think we should make this clearer within our docs: https://wordpress.com/support/related-posts/

@donalirl would it be ok to add a

[2022-03-08 13:39] kjellr commented on #5595
I've pushed https://github.com/Automattic/themes/pull/5635 to update this one. I don't think we will need to actually adhere to the 350kb limit for the Chahk image on WP.com because it is in the template itself — it won't need to be pulled in via headstart.

[2022-03-08 13:55] Robertght commented on #5636
Thank you for reporting this @kspilarski !

This appears to be .com specific as I can not replicate it on a self-hosted environment. The rule that affects this can be seen below:

![image](https://user-images.githubusercontent.com/6737345/157251670-995868fd-8c0e-4596-b617-c0df92fca133.png)

[2022-03-08 15:51] MaggieCabrera commented on #5595
Very true!

[2022-03-08 20:36] mxhassani commented on #5244
Similar issue in 34534144-hc
Theme: Lovecraft by Anders Noren

[2022-03-08 21:13] powerfulxbeauty opened #5639 "hi"

[2022-03-08 22:54] supernovia commented on #4604
Older versions of Safari, like the ones folks might be using on older phones or iPads, do not support flexbox gaps.

https://github.com/Automattic/themes/issues/5353

[2022-03-09 05:14] madhusudhand commented on #5639
use the platform to create issues.

[2022-03-09 05:14] #5639 closed, assigned to nobody

[2022-03-09 10:26] MaggieCabrera opened #5641 "Sempress: Fatal errors"
There's been fatal errors related to this theme today:

p1646820303924869-slack-C4N88L95W

[code]

[2022-03-09 12:22] iamtakashi commented on #5617
I saw a PR #5637 that fixes one of the cases with a Group block, but the issue seems to happen with many other blocks such as Columns, Media & Text, Cover, Layout Grid, etc. Can we also fix it with other blocks?

[2022-03-09 13:41] #5565 closed, assigned to madhusudhand

[2022-03-09 13:42] #5448 closed, assigned to nobody

[2022-03-09 13:57] #5411 closed, assigned to matiasbenedetto

[2022-03-09 13:59] #5501 closed, assigned to matiasbenedetto

[2022-03-09 14:10] #5608 closed, assigned to matiasbenedetto

[2022-03-09 14:56] jffng commented on #5641
Patch here: D76365-code

[2022-03-09 15:20] iamtakashi opened #5642 "Blockbase: There is no default vertical padding for a Group block with a background colour"
## Steps to replicate

* Add a Group block with a background colour
* Add an image and a paragraph

Example:
[code]
## Result

There is no default vertical padding in the Group block, so the image and the paragraph bump the Group block.

**Editor:**
<img width="718" alt="Screenshot 2022-03-09 at 15 08 44" src="https://user-images.githubusercontent.com/908665/157469649-c7646d74-22fe-4bdd-b3aa-4ee13

[2022-03-09 15:59] iamtakashi opened #5643 "Blockbase: Inconsistent vertical margin for group block"
## Steps to replicate

* Add a few group blocks
* Add some paragraphs inside the group blocks
* Bonus: Add a border to each group block to help to see the issue
* Copy all the group blocks and put them in a column block

[code]

## Result

The group blocks inside a column block don't have any gap between them. This is seen in both the editor and the front of the site.

![screencapture-iamtakashi-w

[2022-03-09 17:01] Sandkorner commented on #5552
Hey.

Not sure if I should post it here, as this is something different, but I guess Kel forgot to mention that there was another issue with comment being left aligned, so that you cannot see them correctly.

For example the same post: https://ericarobbin.com/roasted-tomato-and-garlic-soup/

<img width="1540" alt="Screenshot 2022-03-09 at 19 00 16" src="https://user-images.githubusercontent.com/71

[2022-03-09 17:32] jeherve commented on #5552
@Sandkorner That is different indeed, it may be worth opening a new issue for this. Thank you!

[2022-03-09 17:36] pbking commented on #5642
Interestingly, I have found that with TwentyTwentyTwo activated a group block with a background has padding added via styles provided by Gutenberg:
[code]

However, this is not true of Blockbase.  I can't find a setting or anything that should cause that CSS to be added for TTT but not Blockbase (nor the inverse of finding anything in Blockbase that should cause that to be excluded), nor why the v

[2022-03-09 17:49] pbking commented on #5628
I'm not sure why the "Appearance">"Menus" isn't available.  I just tried using it with Blockbase and it worked exactly as expected.  I suggest that so long as Blockbase supports managing menus via the Customizer that we get that engaged as well.

Ideally the customizer would be able to discern that the menu target has been modified and is no longer viable and the option would be hidden.  Once you

[2022-03-09 20:04] jffng commented on #5628
In general I think we should facilitate users to edit and manage their navigation via the site editor (if the option is available to them) OR the customizer — not both at the same time.

Same. I can see Appearance > Menus when I use Blockbase or Russell on a self-hosted site, but not on a wpcom simple site. It appears to be removed from the menu there:

<img width="1903" alt="Screen Shot 2022-03-0

[2022-03-10 05:07] Greatdane commented on #5646
This seems to affect multiple Varia child themes, including Leven, Stratford, Balasana, Dalston, Ixion, Karuna, Shoreditch, Sequential, and the Varia itself!

[2022-03-10 06:39] Robertght opened #5647 "Lovecraft: Query block displays the featured images blurry"
### Quick summary

_No response_

### Steps to reproduce

1. Create a new page
2. Add the Query block
3. Make sure you have the post template in it to have the posts displayed

### What you expected to happen

To have the featured images display correctly.displayed

### What actually happened

The images were blurry instead.

### Context

4845280-zen

![image](https://user-images.githubusercontent

[2022-03-10 10:30] matiasbenedetto opened #5649 "Remote: Tag cloud looks wrong on dotCom"
## Steps to replicate
Add a tag cloud block to a site and look at how it is rendered on dotCom.

## Result
![image](https://user-images.githubusercontent.com/1310626/157643295-c382d5f6-8213-40d7-a525-e5f8e269f474.png)

## Expected
![image](https://user-images.githubusercontent.com/1310626/157643314-4fff9e57-69f2-42e1-baa9-94d6fc230306.png)

It should look like the expected image.

[2022-03-10 13:41] matiasbenedetto commented on #5649
Potential fix: D76470-code

[2022-03-10 14:10] pbking commented on #5643
I see that the `margin-top: var( --wp--style--block-gap );` that should be present for children of the column is missing.  It seems to be applied to the `wp-block-columns` element (the parent containing the columns) but not the `wp-block-column` elements themselves.

This is a gap in the Gutenberg plugin (pun intended) and should be addressed there.

[2022-03-10 14:19] sajmes opened #5650 "Twenty Sixteen - Button block color get overridden by the Link color from the Customizer"
### Quick summary

Using Twenty Sixteen, when a solid background color is set, the live site does not match editor. Live site shows the color set in customizer.

### Steps to reproduce

1. Add a button to a page.
2. Set a solid background color
**3. Set a different color to the link color option inside Customize > Colors & Backgrounds**

### What you expected to happen

The background color shown

[2022-03-10 14:42] iamtakashi commented on #5643
@pbking Thanks for confirming! I'll report this there.

[2022-03-10 14:57] iamtakashi commented on #5616
Hi @MaggieCabrera! This is me trying to get attention to this :) Is this also a side effect of [this change](https://github.com/Automattic/themes/pull/5104)?

[2022-03-10 15:00] mikachan commented on #5632
I think `blockGap` is being applied correctly, although the value is about to be changed in this PR: https://github.com/Automattic/themes/pull/5640

Was it just `blockGap` that didn't seem to be working, or was there anything else?

[2022-03-10 15:17] MaggieCabrera commented on #5632
just blockgap, I changed the value while pairing with Matias and nothing seemed to be happening

[2022-03-10 15:19] MaggieCabrera commented on #5616
Possibly! I'll add this to our board, I don't like these rules, but we can't break people's sites so we need to see how we can fix both this and the original issue.

[2022-03-10 15:21] mikachan commented on #5632
Oh! It seems to be working now, or at least it is for me 😅

[2022-03-10 15:52] Robertght commented on #5650
Thank you for this report @sajmes !

It appears this happens if there's another color than the default one set inside the Customizer > Link color:

![image](https://user-images.githubusercontent.com/6737345/157700012-493d74f6-1111-48a5-ab85-44352c9713fb.png)

This will override the block background color setting.

cc @mikachan for a second look

[2022-03-10 16:38] Robertght commented on #5552
@Sandkorner this one might be similar: https://github.com/Automattic/themes/issues/5622 but I can see that site uses Byrne.

[2022-03-10 16:41] pbking commented on #5632
Blockgap is working as expected for me.  Adjusting the blockGap value on navigation block in the `header.html` template part changes the rendering of the desktop menu items.

Closing.  Please reopen if this persists after #5640 lands.

[2022-03-10 16:41] #5632 closed, assigned to nobody

[2022-03-10 16:46] rachelwinspear opened #5702 "Blockbase: Duplicate Title tag on all blockbase & blockbase-premium themes"
### Quick summary

Any new site created has duplicate `<title>` tags, regardless of plan. Only happens on child themes of blockbase or blockbase-premium.

### Steps to reproduce

1. Create a new Simple site (Free or Pro Plan)
2. Pick any theme (Free or Premium)
3. Check the page source. You will see two `<title>` tags.

### What you expected to happen

I would expect the `<title>` to be shown once

[2022-03-10 17:31] iamtakashi opened #5651 "Blockbase: Border for Select block is different from other blocks for Form block."
## Steps to replicate

* Add a Form block.
* Also add a Select block in there
* See the border style

## Result
The border style for the Select block is different from other blocks and it looked strange.

## Expected
The border style is expected to be the same as others

**Editor**
<img width="725" alt="Screenshot 2022-03-10 at 17 28 55" src="https://user-images.githubusercontent.com/908665/157720

[2022-03-10 17:57] mikachan commented on #5600
It looks like this is because Safari only applies a border to textareas by default and not inputs. It can be fixed by applying `border-width: 1px; border-style: solid;` on all inputs with CSS. This sounds like it should live in Jetpack I think? I can go ahead and create an issue there.

[2022-03-10 18:36] aleone89 commented on #5011
Another report on zen-4849690

[2022-03-10 19:06] ha-un commented on #5011
Report on zen-4849690

Created workaround CSS:

[code]

[2022-03-10 19:54] macmanx2 opened #5652 "Stewart: Images and Other Media Bleed Over Edge"
## Steps to replicate

View any post with an image or embedded video on a mobile device or simulated mobile device via browser inspector.

## Result

The image and/or embedded video will bleed off the edge to the right, requiring horizontal scroll. You can see this in action on the theme's demo at https://wp-themes.com/stewart/?p=19

## Expected

Images and embedded media should be scaled to fit t

[2022-03-10 20:29] kimerlin81 commented on #5702
Thanks @rachelwinspear! This issue has been triaged as I was able to reproduce this on an Atomic test site with the Premium theme: Baxter. I was also able to reproduce this on an Atomic site with the free [New Themes: Attar, Hari, Marl, Winkel, and Dorna](p7DVsv-dVu-p2)

[2022-03-10 21:46] jp-imagines commented on #5605
I believe this is a duplicate of https://github.com/Automattic/wp-calypso/issues/61297(not theme-specific). Closing this for now (and adding these reports there).

[2022-03-10 21:46] #5605 closed, assigned to nobody

[2022-03-11 02:01] hacchism commented on #4030
Another report: 34492918-hc

[2022-03-11 02:53] laurelfulford opened #5653 "Blockbase: fatal error on self-hosted site not running Gutenberg plugin"
## Steps to replicate

I ran into an issue on a self-hosted test site running the Gutenberg plugin:

1. I started with a non-FSE theme with a 'social' menu location, and a menu assigned to it.
2. I switch the site to use Blockbase, and the social menu was carried over.
3. I then deactivated Gutenberg.

## Result

I got the following fatal error:

`Fatal error: Uncaught Error: Class 'WP_Theme_JSON_

[2022-03-11 03:40] devNigel commented on #5702
I think creating a child theme to customize header.php as suggested in the ticket is not possible for Block themes. Block themes do not have PHP files.

@kimerlin81  Are there any other workarounds at the moment?

[2022-03-11 06:18] Robertght commented on #5702
Asking here: p1646979508429909-slack-C029FM1EH

[2022-03-11 06:41] devNigel commented on #5702
@Robertght  the link appears to be incorrect.

[2022-03-11 07:39] KokkieH opened #5655 "Lovecraft: Post titles changing color if visited"
### Quick summary

With a custom accent color set, post titles display in the accent color instead of black once a post has been visited.

### Steps to reproduce

1. Open the Customizer ->Colors and background
2. Set a custom accent color
3. View the blog feed page, and note the titles for unvisited posts are black, and not changing color on hover
4. Click through to a post, then return to the pos

[2022-03-11 07:44] Greatdane commented on #5655
Moved to themes, but I am not sure if this is something we can fix - it is not made by us (old free theme?).

It is, however, still an active theme!.

[2022-03-11 08:27] #5653 closed, assigned to nobody

[2022-03-11 08:56] madhusudhand commented on #4710
@metabreakr
Issue is with `width` and `letter-spacing`.
Block takes default width for Dots style and it is too less for the content with given letter-spacing. Hence they split into multiple lines.

It is worth creating a new issue to track the changes.

[2022-03-11 10:29] #5641 closed, assigned to jffng

[2022-03-11 13:14] fresatomica opened #5657 "Edda: Author's info not displayed on Posts"
## Steps to replicate

Go to Appearance>Customize>Content Options and enable the option Display Author.
Publish a post and view it on the site.

## Result

The Author info does not appear in the bottom of the post:
<img width="685" alt="Screen Shot on 2022-03-11 at 14-11-48" src="https://user-images.githubusercontent.com/40177971/157872950-67d5a373-40e7-469c-a04d-a43702bad32c.png">

## Expected

A

[2022-03-11 15:54] metabreakr commented on #4710
Thanks @madhusudhand , I'll create a new issue.

[2022-03-11 15:54] #4710 closed, assigned to danieldudzic

[2022-03-11 17:19] sharonlaker19 opened #5667 "TextBook Theme: Log in button disappearing on the Premium Content Block within the editor"
### Quick summary

In the `TextBook` theme, while customizing the `Premium Content Block` guest view, the log in button disappears within the editor when you update the color to one of the predefined ones.

![loginbutton](https://user-images.githubusercontent.com/71630911/157914186-2e256815-7ca4-4371-8ecf-49cc32ef3e48.jpg)

### Steps to reproduce

1. Activate the TextBook theme on your site
2. Cre

[2022-03-11 17:32] metabreakr commented on #5602
This also affects Skatepark, reported here: https://wordpress.com/forums/topic/image-green-filter/?view=all

[2022-03-11 19:41] kjellr commented on #5652
This appears to be the same issue noted here: https://github.com/WordPress/gutenberg/issues/38384

I'm not sure if that the fix has made it to the theme demo there, but we should check if we can reproduce running the latest Gutenberg version.

[2022-03-11 19:50] kjellr opened #5658 "Barnett, Jackson, Bantry: Mobile Issues"
I noticed a few mobile issues with some of the generated themes. Most of these might be bugs with the patterns themselves, but it's possible there's a theme bug in here somewhere too.

Screenshot|Notes
---|---
![barnett](https://user-images.githubusercontent.com/1202812/157947594-98f56f08-b5fb-4a56-ace5-2589f70a8aba.jpg)|**Barnett**: Buttons don't appear at the correct width. Spacing between the b

[2022-03-11 20:03] macmanx2 commented on #5652
Hm, it sounds similar, but in my own testing, this was not limited to the Classic editor. It affected image and Youtube blocks as well.

I'm AFK, so I'm unable to get a test site spun up to see if the latest Gutenberg plugin fixes it.

[2022-03-11 20:19] kjellr commented on #5652
Ok, thanks. I was unable to reproduce locally or on WP.com, but I'll tag this for the dev team to investigate as well.

[2022-03-12 10:23] druesome opened #5836 "Social Menu: Amazon and Goodreads social icons don't work (several themes)"
### Quick summary

When adding links to Amazon or Goodreads to a social menu, they do not display their icons.  Instead, we see the default link icon for unsupported sites.

<img src="https://d.pr/i/fndsEq+" width="500" />

### Steps to reproduce

1. Activate a theme that supports social menus (ie Twenty Seventeen)
2. Go to Customizer > Menus
3. Create a new menu and assign it to Social Menu locat

[2022-03-12 19:44] supernovia commented on #5546
I'm able to pretty consistently replicate it, even with a brand new site, so long as I don't choose FSE.

- Create a new site. Choose to write a post.
- Use /wp-admin/nav-menus.php to create a social menu and set its location to social. Save changes.
- View the site. Notice the links look like this:

<img width="170" alt="Screen Shot 2022-03-12 at 12 41 05 PM" src="https://user-images.githubuserco

[2022-03-12 20:07] supernovia commented on #5546
Also, I want to note this user ([AP link](https://app.agorapulse.com/inbox/twitter/95251?oldestFirst=true&item=1502690523110387712)) already has FSE active, so that isn't a workaround in this case. But their templates and template parts are all in the default state. If we click Edit Site, I see this, as though the navigation doesn't actually exist yet:

<img width="371" alt="Screen Shot 2022-03-12

[2022-03-12 20:14] supernovia commented on #5602
Noting re: Skatepark that even changing the site's default colors to something else keeps the duotone going in bright green.

[2022-03-12 20:25] macmanx2 commented on #5652
Well, I did some more digging, and I guess we'll have to call it closed. I'm not sure what was going on (cache, maybe?) but it's fixed now.

Here's a screenshot of https://macmanx.com/2020/08/21/rewatch-highlander-the-series/ pre-fix that shows the issue on an iPhone 13 running iOS 15.3.1:

![IMG_7334](https://user-images.githubusercontent.com/4856235/158033700-d52f8798-cde1-4fdd-bb68-7d7002a0913e

[2022-03-12 20:25] #5652 closed, assigned to nobody

[2022-03-12 23:07] supernovia commented on #5602
We have another case in Twenty Twenty Two Mint: https://wordpress.com/forums/topic/customisation-16/

[2022-03-13 00:53] formosattic opened #5663 "Blank Canvas: template parts, blocks set in FSE disappear when WooCommerce is activated"
### Quick summary

With Blank Canvas, when WooCommerce is activated, the templates will be lost.
This bug likely needs to be moved to the Themes repo.

Slack convo (cc @jamiepalatnik ): p1647106924327449-slack-C01UW7SB411

### Steps to reproduce

1. Setup a front page (set in Customize) with some demo content (can use Patterns)
2. Take a look at the front page
3. Activate WooCommerce, and check th

[2022-03-13 01:07] SamuelMiller opened #5659 "Blockbase theme: body text does not scale to browser default settings"
In Chrome, under Appearance in Settings, change the font size to large or very large. Body text (text in the main section of the webpage) does not scale when the default font size in the browser is changed, which is poor for accessibility.

I can correct it by adding "body {font-size:100%;}" in the Blockbase's ponyfil.css file.  Alternatively, defining the body element as font-size:1.2rem, for exa

[2022-03-13 07:23] jromales commented on #5673
another report at [4854863](4854863-zd-woothemes/)

They have a Premium subscription, and I tried switching the theme to a non-FSE one and it doesn't help

[2022-03-13 08:34] formosattic opened #5843 "Some FSE themes: Image block doesn't wrap around text"
### Quick summary

_No response_

### Steps to reproduce

1. Add text
2. Add Image, set it to align left or right

### What you expected to happen

To look like this, image wraps around the text:
![image1](https://user-images.githubusercontent.com/15944096/158051566-cc6a26d9-429f-4632-b65d-d693920fe12d.png)

### What actually happened

Image doesn't wrap, is just on the side of the text:

Tested w

[2022-03-13 10:37] mxhassani commented on #5546
Similar case in 4855269-zen

Was able to replicate on a simple site but not on an AT site

Customizer in simple sites shows the "Social menu" location on simple sites:

![image](https://user-images.githubusercontent.com/81776920/158055355-7fa467fc-99fc-420a-af9b-0b9b9aaca955.png)

It doesn't show it on AT site:

![image](https://user-images.githubusercontent.com/81776920/158055491-558af369-1508-40

[2022-03-13 10:45] mxhassani commented on #6077
AFAIK Blockbase isn't supposed to have a social menu: d9BE8-p2

This could be linked: 5546-gh-Automattic/themes

[2022-03-13 19:12] ai2n commented on #5622
Just a note for others, this workaround fixed things for me when there were both comments and pingbacks involved, it also uses max-width instead of width to be responsive-friendly.

[code]

[2022-03-14 07:08] Robertght commented on #5585
In my case(#4843484-zen) I used replaced C5C5C5 with c5c5c5 and it worked.

[2022-03-14 09:06] kspilarski opened #5669 "Baskerville 2: In the Customizer, Older Posts with Excerpts show the Full Content"
### Quick summary

In the Customizer, older posts with excerpts show the full content.

### Steps to reproduce

1. Activate Baskerville 2 theme.
2. In Settings > Writing, set to display 3 posts (or any amount of posts).
3. Deactivate Infinite Scroll.
4. Add excerpts in 3 of your new posts and in your older posts too.
5. Go to the Customizer > set front page display to latest posts
6. And check "sh

[2022-03-14 09:29] scruffian commented on #5546
Are you able to share some example sites where this is a problem? Thanks!

[2022-03-14 10:21] madhusudhand commented on #4710
Thanks @metabreakr. Closing this issue.

[2022-03-14 10:31] mxhassani commented on #5546
@scruffian My test sites are here:

* [AT](mxhtestwoo.wpcomstaging.com) (Was using Skatepark theme then switched back to Blockbase)
* [Simple](mxhpremium.wordpress.com)

[2022-03-14 11:20] KarenNebule commented on #2327
I'm also having issues with the Hever theme and custom colours on buttons.
In the editor I have my button text changed to black but on the front end it is appearing as white.

Button in Editor
![image](https://user-images.githubusercontent.com/66369534/158161756-da86d6f9-7d69-401c-9664-82776397b0ec.png)

Button on Frontend
![image](https://user-images.githubusercontent.com/66369534/158161875-e77ee

[2022-03-14 12:32] scruffian commented on #5546
On https://mxhpremium.wordpress.com/, the links aren't social links - they don't go to well know social networks - they are in fact internal links, so I wouldn't expect the icons to work.

On https://mxhtestwoo.wpcomstaging.com/ I am seeing the correct icons at the moment
<img width="121" alt="Screenshot 2022-03-14 at 12 25 13" src="https://user-images.githubusercontent.com/275961/158171619-b1e97b

[2022-03-14 13:57] jffng commented on #5646
Thanks for the report. I believe this should be reported in Calypso. All of the reported themes have headstart content, and themes do not have control over whether to display that option.

[2022-03-14 15:58] jffng commented on #5649
Landed the above fix.

[2022-03-14 15:58] #5649 closed, assigned to matiasbenedetto

[2022-03-14 17:09] metabreakr commented on #6077
This might be related: https://github.com/Automattic/themes/issues/5546

[2022-03-14 17:33] mxhassani commented on #5249
Similar issue here: 4855115-zen
### ! but with the theme Gazette

New report created as per: p1647279201159139/1647276915.815749-slack-C01UW7SB411

Here: 61923-gh-Automattic/wp-calypso

[2022-03-14 17:47] mxhassani opened #5724 "Gazette: Can't disable "Continue reading" link in the Blog Posts block"
### Quick summary

When using the Gazette theme, the Blog Posts block shows the "Continue reading"  link even when "Read More" setting has been disabled.

The link doesn't show in the Editor but you can see it in the front end.

![image](https://user-images.githubusercontent.com/81776920/158230765-6f1bce07-d147-4687-81a6-cf4b38a556d7.png)

### Steps to reproduce

1. Activate the Gazette theme.
2.

[2022-03-14 18:04] supernovia commented on #6077
Are these disappearing or displaying the wrong icons, like so?

<img width="170" alt="Screen Shot 2022-03-12 at 12 41 05 PM" src="https://user-images.githubusercontent.com/3476361/158233725-70de678b-78a1-4c3a-a9ec-cd4480512459.png">

[2022-03-14 18:21] metabreakr commented on #6077
@supernovia In https://github.com/Automattic/themes/issues/5546 the social icons appear to turn into what you have in your screenshot with FSE off, while they completely disappear with FSE when a template is edited as I detailed here: https://github.com/Automattic/wp-calypso/issues/61384

IMO, these icons should be social icons blocks. I'm not sure why you'd want to turn off FSE for a block-based

[2022-03-14 19:00] mxhassani commented on #5546
@scruffian The links may have changed during testing but the issue is still there.
[Simple](PdgIMe-qy-p2) site setting:
![image](https://user-images.githubusercontent.com/81776920/158240675-5f3ef49d-dbba-4f09-9233-8af62f4ff741.png)

[AT](https://mxhtestwoo.wpcomstaging.com/) settings:
![image](https://user-images.githubusercontent.com/81776920/158241155-7ff5ce9b-ce1d-4be5-a96a-7aeb9222cffc.png)

!

[2022-03-15 01:48] Greatdane commented on #5646
Thanks, moved back to Calypso!

[2022-03-15 04:30] onetrev opened #5661 "Videomaker: locally-hosted font path is wrong"
## Steps to replicate

Activate Videomarker (on a WP.org / self-hosted version of WordPress). Check Dev Tools. Failure to load font error will display. :)

## Result

You should see this error:

_"Downloadable font: download failed (font-family: "Inter" style:normal weight:100..900 stretch:100 src index:0): status=2147746065 source: https://devsite.xyz/assets/fonts/Inter-roman.var.woff2/"_

## Exp

[2022-03-15 05:12] formosattic commented on #3686
Ran into a similar case (4859659-zd-woothemes) with the Heading, Paragraph block.

Colors & Backgrounds are set and might be overwriting the custom settings in the editor, similar to https://github.com/Automattic/themes/issues/5567

Workarounds:

* Text color: use Highlight
* Text background: use Group block with custom background color

[2022-03-15 06:13] jordesign commented on #5836
I've tried testing this and it appears to work ok in Varia themes. But is definitely an issue in:

* TwentySeventeen
*  Russel when using Classic Menus

[2022-03-15 07:22] KokkieH opened #5726 "Editor theme: Marketing banner obscures theme elements"
### Quick summary

The marketing banner shown on free WordPress.com sites obscures some elements of the theme, namely the menu, featured content and widget controls.

### Steps to reproduce

1. Enable Editor on a completely free site that has never been upgraded
2. Make sure site is launched and set to public
3. View the site (the marketing banner doesn't always show while logged in, so try loggin

[2022-03-15 09:15] formosattic commented on #5582
Was able to reproduce it with Geologist, Quadrat.

It's also happening on self-hosted, I tested with:
* Blockbase: https://pcm.wordpress.org/themes/blockbase/
* Quadrat: https://pcm.wordpress.org/themes/quadrat/

Other reports listed at https://github.com/Automattic/wp-calypso/issues/61853

cc @mikeicode  @metabreak

[2022-03-15 09:19] MaggieCabrera commented on #5582
This is a blockbase issue with the separator width CSS

[2022-03-15 09:35] Robertght opened #5662 "Winkel: Customizer primary colors make the text white when chosen from the editor"
### Quick summary

If you have the same primary color set in Customizer > Colors > Primary colors and try to make a piece of text or heading use that color, it'll turn it to white.

### Steps to reproduce

1. Activate Winkel
2. Go into Customize > Colors and set a color.
3. Create a new page and try to use that same color when highlighting(or use the sidebar color settings) a text or on a heading

[2022-03-15 10:01] formosattic commented on #5663
Issue also happening on self-hosted, but behavior is slightly different, instead of nothing showing, the front page loads the page content only.

| Expected (Quadrat) - FSE template is applied  | What happened (Blank Canvas) - Only page content is showing |
| ------------- | ------------- |
| ![image1](https://user-images.githubusercontent.com/15944096/158353466-875bbe2d-2d44-42ff-87a0-00b35c13e38

[2022-03-15 10:45] mikachan commented on #5600
I've opened an issue for this in Jetpack: https://github.com/Automattic/jetpack/issues/23440

After some more testing, I now believe these styles are the default for Safari, and other browsers use more consistent borders between input elements and textareas. I think if we want to fix this for Archeo, we would need to add some CSS.

I'll close this issue for now, but will reopen if we want to fix t

[2022-03-15 10:45] #5600 closed, assigned to nobody

[2022-03-15 11:18] Robertght commented on #5667
I can confirm the issue is happening, however, one thing that struck me is that you'll need to add the Premium content after you've changed the theme because somehow you won't see the issue.

Also, I'm not sure if [this](https://github.com/Automattic/themes/issues/5662) is related in any way, but it's a similar behavoiur.

[2022-03-15 11:43] Robertght commented on #5663
Currently asking [here](p1647344541881399/1647106924.327449-slack-C01UW7SB411) as I'm a bit confused of the issue and how to replicate it properly.

[2022-03-15 12:24] mikeicode commented on #5582
It'd be nice to fix this since it apparently affects all Blockbase child themes. I run into it when I try to use Russell on DIFM-L sites as reported here:

https://github.com/Automattic/wp-calypso/issues/61853#issuecomment-1067116249

[2022-03-15 14:25] #5599 closed, assigned to nobody

[2022-03-15 14:38] iamtakashi commented on #5643
After reporting [this in the Gutenberg repo](https://github.com/WordPress/gutenberg/issues/39355), it turned out an issue with Blockbase and Twenty Twenty-Two. I can confirm the issue is not happening with Twenty Twenty-one.

<img width="1480" alt="Screenshot 2022-03-15 at 14 42 14" src="https://user-images.githubusercontent.com/908665/158403113-9f772ea9-af3a-409e-9f81-16a787b110ce.png">

I'll rep

[2022-03-15 15:02] iamtakashi commented on #5643
Spoke too soon. I can't now reproduce the issue with TT2 or Blockbase. I'm not entirely sure what has happened but it's all good now :)

[2022-03-15 15:02] #5643 closed, assigned to nobody

[2022-03-15 19:17] supernovia commented on #6077
Thanks @metabreakr, I modified that title slightly since it's showing the incorrect icons, rather than not displaying any. Hopefully that'll help.

Re: FSE being off, I've seen this on themes where FSE has not been used yet, and the workaround is to turn it on and edit the theme vs just having existing social menus work out of the box.

[2022-03-15 19:59] kimerlin81 commented on #5669
Thanks for submitting this detailed bug report @kspilarski ! I was able to reproduce on my simple test site and I notice that the excerpt is being appended to the bottom of the full post for older posts that are loaded when the "Older Posts" button is clicked.

https://user-images.githubusercontent.com/83732167/158460133-e006a8aa-69e1-422e-80e3-dd4bb4f2686c.mp4

Results are the same on Atomic site

[2022-03-15 20:31] mxhassani commented on #5602
Similar case here: 4863474-zen

Workaround provided:

[code]

[2022-03-16 04:16] jordesign opened #5670 "Blockbase: Navigation block shows underlines on links in Site Editor, but not on live site"
## Steps to replicate

* Activate Blockbase or a child theme
* In the Site Editor - add a menu to the Navigation block in the header. Confirm it shows underlines on the links/items.
*  View the live site.
<img width="1190" alt="Screen Shot 2022-03-16 at 3 13 40 pm" src="https://user-images.githubusercontent.com/1842363/158515717-ff479b9e-53c6-44d4-9dda-91dd62f7209c.png">

## Result

Links show wit

[2022-03-16 05:53] devNigel opened #5736 "Byrne: Post comment button is not visible"
### Quick summary

On mobile, the "Post comment" button is not visible. You have to hover or press over it to appear. I was able to reproduce it on Simple sites.

On Atomic sites, the comment form in mobile are different than the come in simple sites.

### Steps to reproduce

1. Activate Byrne theme on a simple site.
2. Visit a post or page with comments enabled on a mobile device.
3. You will not

[2022-03-16 06:10] galakhyati commented on #6508
Another case of set button colors not being respected. The user is on Personal plan so cannot provide CSS support too.

4864597-zd-woothemes

[2022-03-16 09:55] rw-ye opened #5672 "Attar, Hari, Marl - Download link on theme showcase page returns 404 File not found"
### Quick summary

31428428-hc User is trying to download the [Marl](https://wordpress.com/theme/marl/) theme. However, the Download button on the theme showcase page links to a `404 File not found` page.

Download link: https://downloads.wordpress.org/theme/marl.zip

<img width="1787" alt="Markup 2022-03-16 at 13 59 01" src="https://user-images.githubusercontent.com/21261509/158561935-320c613c-ef

[2022-03-16 14:15] dcoleonline commented on #4833
adding 4865992-zen just for tracking purposes

I've also sent the workaround as suggested in https://github.com/Automattic/jetpack/issues/23357

[2022-03-16 15:38] kimerlin81 commented on #5672
@rw-ye, thanks for reporting this bug! Triaged as I was able to reproduce this. Three of the new free product-oriented themes: Attar, Hari, Marl, do not have valid download links on the theme showcase overview page. Transferring to themes repo. Workaround - none found as these themes are also not listed on [WordPress.org Themes](https://wordpress.org/themes/)

[2022-03-16 15:57] kimerlin81 commented on #5673
Thanks @jromales! I was able to reproduce this on an Atomic test site (Barnett theme)

https://user-images.githubusercontent.com/83732167/158632719-7510038e-b05c-4e6b-b5e3-1c7997e459fe.mp4

And, also on Simple site (Premium plan, Marl theme)

![Screenshot on 2022-03-16 at 11-56-29](https://user-images.githubusercontent.com/83732167/158632801-efa3bf46-c7f0-460b-a589-c57182095ac6.png)

[2022-03-16 16:10] kimerlin81 commented on #5673
Only seems to be reproducible on FSE themes that have a Menu option in the customizer and require you to select Social Nav Menu location:
![Screenshot on 2022-03-16 at 12-04-14](https://user-images.githubusercontent.com/83732167/158634463-21f31fc1-b869-4206-9a06-334c2fb57aeb.png)

Examples: Bennett, Barnett, Marl
Themes like: Skatepark and Stewart are not affected

[2022-03-16 16:47] pbking opened #5674 "Pendant: Templates: 404"
<img width="649" alt="image" src="https://user-images.githubusercontent.com/146530/159967648-9fb324fd-1468-4c82-bfff-d50278a44708.png">

Modify 404 template to match the above.

Make the "There's nothing here" a variable sized font (not a registered size) so that it scales to small screens well.

This should also resolve any changes needed to the Search Block.

No need to make this a pattern (yet)

[2022-03-16 16:47] pbking opened #5675 "Pendant: Block patterns"

[2022-03-16 16:47] pbking opened #5676 "Pendant: Global Styles: Typography"
The [figma](JdntsOfLqo8Vy0d5uTWHTI-fi-650%3A2) is the source of truth.

Headings use [Literata](https://fonts.google.com/specimen/Literata) 400
With the exception of H6 which uses [Jost](https://fonts.google.com/specimen/Jost) 500

<img width="300" alt="image" src="https://user-images.githubusercontent.com/146530/158661287-66bfad2f-3210-4037-a37c-eb95080a5258.png">

Body uses [Jost](https://fonts.

[2022-03-16 16:47] pbking opened #5677 "Pendant: Comment form styles (dotcom and dotorg)"
<img width="663" alt="image" src="https://user-images.githubusercontent.com/146530/159978517-9452822f-30e3-481b-898f-18e1f327c483.png">
This one cannot be done in the FSE at all I'm afraid.

Use some CSS-fu to make the comments block look like what we want.

[2022-03-16 16:47] pbking opened #5678 "Pendant: Pre-launch: readme.txt"
Verify and include the correct version of WordPress required for this theme.  Also include any requirements of the Gutenberg plugin.
(These values should also be updated in style.css if they need to change).

Remove any changelog values that may have been inserted during development and include simply:
[code]

Include links to any 3rd party resources for attribution.

[2022-03-16 16:47] pbking opened #5679 "Pendant: Template Parts: Header"
<img width="731" alt="image" src="https://user-images.githubusercontent.com/146530/159581625-97d20c27-a1b2-43f7-8b17-6906c843b848.png">

<img width="216" alt="image" src="https://user-images.githubusercontent.com/146530/159581663-bafae8e0-26ee-4bd2-8b47-ca279dd9aea4.png">

[2022-03-16 16:47] pbking opened #5680 "Pendant: Template Parts: Footer"
<img width="625" alt="image" src="https://user-images.githubusercontent.com/146530/159971017-6eb15809-b9a7-4a22-b7b7-bbcf1c301d6b.png">

<img width="202" alt="image" src="https://user-images.githubusercontent.com/146530/161808918-a974307f-53ea-4149-9c76-301e31742ab5.png">

[2022-03-16 16:47] pbking opened #5681 "Pendant: Templates: Index"
<img width="459" alt="image" src="https://user-images.githubusercontent.com/146530/159974644-cf4cc20a-8e42-44ad-ac84-c97751fe9fce.png">

No need to make any patterns yet, just adjust index template to match the above.

[2022-03-16 16:47] pbking opened #5682 "Pendant: Mobile Navigation Styling"
<img width="275" alt="image" src="https://user-images.githubusercontent.com/146530/159975116-5b1abf25-2920-440b-b0cf-281c4048af1c.png">

I expect some CSS will be needed to achieve this but snap a screenshot at how close we can get without using only what's available in the FSE.  For science.

[2022-03-16 16:47] pbking opened #5683 "Pendant: Create base theme"
We will leverage Create Block Theme plugin to generate a base theme to use for the development of Pendant.

[2022-03-16 16:47] pbking opened #5684 "Pendant: Pre-launch: screenshot.png"

[2022-03-16 16:47] pbking opened #5685 "Pendant: Global Styles: Margin/spacing/layout"
From [figma](JdntsOfLqo8Vy0d5uTWHTI-fi-650%3A2):

Content width: 820
Wide width: ?? (unable to determine)

Block gap appears to be about 30px (29?)

Page horizontal gap seems to be 100px on desktop and 20px on mobile (so should leverage a dynamic value)

[2022-03-16 16:47] pbking opened #5686 "Pendant: Global Styles: Core block settings"
Quote Block (as seen on About Page)

<img width="560" alt="image" src="https://user-images.githubusercontent.com/146530/159978068-2a922c43-5d87-4258-a6a5-89a5cb60fbe0.png">

Hrm... or this one?

<img width="335" alt="image" src="https://user-images.githubusercontent.com/146530/161334772-a7311a5a-aff5-4a5d-a686-40f1fe3c4137.png">

[2022-03-16 16:47] pbking opened #5687 "Pendant: Templates: Archive"
<img width="478" alt="image" src="https://user-images.githubusercontent.com/146530/162047742-25f78571-d8f3-43d4-a89e-780096491859.png">

[2022-03-16 16:47] pbking opened #5688 "Pendant: Global Styles: Color palette"
From [figma](JdntsOfLqo8Vy0d5uTWHTI-fi-650%3A2):
<img width="691" alt="image" src="https://user-images.githubusercontent.com/146530/158662741-a1d60e78-930c-48e8-9614-f11c75cdfe5c.png">

[2022-03-16 16:47] pbking opened #5689 "Pendant: Pre-launch: style.css tags"

[2022-03-16 16:47] pbking opened #5690 "Pendant: Create a demo site on dotcom"
Site created here: https://pendantdemo.wordpress.com/

Content has been added according to figma design.

[2022-03-16 16:47] pbking opened #5691 "Pendant: Templates: Search"
<img width="478" alt="image" src="https://user-images.githubusercontent.com/146530/162047626-2f8e044c-515a-4fe9-b8b0-307a8fd830a0.png">

[2022-03-16 16:47] pbking opened #5692 "Pendant: Variations"
<img width="574" alt="image" src="https://user-images.githubusercontent.com/146530/162965967-0d8708e2-7f25-44b1-af84-1034862b408f.png">

[2022-03-16 17:04] markhowellsmead opened #5693 "Livro: button color impossible to override"
## Steps to replicate

- Use the color palette settings in FSE to change the default text color of all button blocks.
- The CSS is applied and the button looks correct in the editor and in the customizer preview. But the text remains black on the frontend of the website.
- Overriding the color on each individual block works correctly.

I suspect that a CSS rule elsewhere in the cascade is overridi

[2022-03-16 17:09] MaggieCabrera commented on #5693
There's no CSS for the button block besides for a hover effect on Livro, so I suspect that this would be a Gutenberg issue instead https://github.com/Automattic/themes/blob/trunk/livro/style.css

[2022-03-16 17:11] Addison-Stavlo commented on #5180
@Automattic/theam - any thoughts regarding this?

[2022-03-16 17:15] MaggieCabrera commented on #5180
This should have been solved by https://github.com/Automattic/themes/pull/5238

I can do it now like this:
<img width="2073" alt="Screenshot 2022-03-16 at 18 14 46" src="https://user-images.githubusercontent.com/3593343/158648851-22d6cd86-0191-4677-8ab1-dbcff99bb534.png">

[2022-03-16 20:18] manuelrebollo-a11y commented on #5286
Found an occurrence of the problem in the Twenty Twenty-Two theme.
4866632-zd-woothemes

[2022-03-16 20:43] mxhassani opened #5698 "Theme Dalston (Varia) Column block now has spacing and dosn't offer block spacing setting"
### Quick summary

It appears that a gap was added to the column block preventing the Dalston theme to be used as advertised on the theme info page (https://wordpress.com/theme/dalston/).
The issue seems to have affected the Dalston demo site too.
The same gap is visible on the parent theme, Varia.

### Steps to reproduce

1. Create a new site
2. Activate Dalston theme
3. Click edit home page

OR

[2022-03-16 23:45] alliebbush2 commented on #5546
This is also occurring for this user in this ticket: 4866649

[2022-03-17 00:32] separatelyunited commented on #5589
Adding an additional report of this happening on https://learn.a8c.com which uses Rockfield as its theme.

When any of the theme colors are chosen (or no color is chosen) submenu backgrounds are transparent. We have used the workaround mentioned above to use a custom color for now.

[2022-03-17 00:33] separatelyunited commented on #5589
Adding an additional report of this happening on Learnomattic which uses Rockfield as its theme.

When any of the theme colors are chosen (or no color is chosen) submenu backgrounds are transparent.

Styling shows correctly in the page editor, but not on the live site.

We have used the workaround mentioned above to use a custom color for now.

[2022-03-17 08:52] MaggieCabrera commented on #5659
This is a good point, I think we should consider this

[2022-03-17 08:54] MaggieCabrera commented on #4604
This is a core issue not specific to this theme. The block supports only gap without a fallback. Any patches to bring compatibility should be done in Gutenberg, not on the themes

[2022-03-17 09:53] scruffian commented on #5546
This seems to be an issue on dotcom, where the navigation items aren't being detected at social profile links. I can't work out to replicate it.

[2022-03-17 10:23] #5508 closed, assigned to MaggieCabrera

[2022-03-17 13:04] #5683 closed, assigned to nobody

[2022-03-17 13:04] #5688 closed, assigned to nobody

[2022-03-17 16:05] beafialho commented on #5511
Here's the Remote description:

_Remote is a dark, minimal block theme ideal for bloggers. Its default styles - a sans-serif font and dark background - contribute for a comfortable, immersive reading experience. It features a set of bold block patterns such as a large posts list and bordered categories and tags._

[2022-03-17 16:14] beafialho commented on #5502
Here's the screenshot for Remote. I believe these are the correct dimensions of the image, let me know if they're not.

![remote_screenshot](https://user-images.githubusercontent.com/65220155/158844665-acf87424-05a0-4d1d-ab9a-9b65da9263d2.png)

[2022-03-17 16:17] mikeicode commented on #6077
I ran into this again building a DIFM-L site using Alonso. Why don't FSE themes have social icon blocks in the headers by default like previous themes had the social menus?

Here's the process I need to go through to add a standard layout with social icons to the right of the menu.

Starting layout:

![Screen Shot on 2022-03-17 at 11:41:13](https://user-images.githubusercontent.com/10353785/158842

[2022-03-17 16:19] metabreakr commented on #6077
@mikeicode Adding the navigation and social icons blocks in a row block has been my workaround as well.

[2022-03-17 17:51] zachspears opened #5699 "Apostrophe 2: Post Carousel Block showing blank featured image when clicking through posts."
## Steps to replicate

1. Activate Apostrophe 2 theme.
2. Create at least two posts with header images.
3. On a static page, add a Post Carousel Block.
4. Preview page and click through Post Carousel

## Result

You will see the following while clicking through the carousel where the featured image does not display:
![Post Carousel not displaying correctly](https://d.pr/i/9NLncQ+)

## Expected

Th

[2022-03-17 19:40] Robertght commented on #5701
Doing a quick recap of what I chatted with @mriyazuddin:

- The Make a title link isn't turned on by default:
![image](https://user-images.githubusercontent.com/6737345/158882044-b3d18ce7-0d0e-439a-8b62-8579de3ed3bb.png)

Is this expected?

- Somehow the Query block isn't present in the Home template so somehow only the latest post is being displayed.

How much of this behavior of influenced by th

[2022-03-18 07:22] devNigel opened #5738 "Independent Publisher 2: Button has Blue color when Black is set in the editor."
### Quick summary

With Independent Publisher 2 theme, if we set button background color to black, it will have blue color.

Tried adjusting Colors in the Customizer, but it was still showing blue color.the the

### Steps to reproduce

1. On a Simple or AT site, activate Independent Publisher 2.
2. Create a page or post and add button with black background `#000000`.
3. Check the post or the page

[2022-03-18 07:36] inaikem commented on #5702
The issue was still present when a different SEO plugin was active. Updated the linked thread (it's working ok here, @devNigel!) and asked the customer to confirm the name and version number to help testing.

[2022-03-18 08:49] kylemcph commented on #5702
Customer came back with the following information:

[code]

[2022-03-18 10:13] markhowellsmead opened #5704 "Livro: FATAL error in WP-Admin"
## Steps to replicate

Line 63 in functions.php causes a fatal error because the function `livro_editor_styles` isn't defined

## Result

Fatal error when trying to load WP admin.

## Expected

No fatal error :)

[2022-03-18 10:30] markhowellsmead opened #5705 "Livro: Newsreader font is no longer loaded"
## Steps to replicate

The Newsreader font is still defined in CSS but the font file/s are no longer loaded.

## Result

The website typography appears in the standard browser fallback serif font.

## Expected

The Newsreader fonts in the assets folder should be loaded by the theme.

[2022-03-18 10:34] KokkieH commented on #5704
Noting via https://wordpress.org/support/topic/fatal-error-in-wordpress-admin-2/ this appears to happen as soon as v1.0.8 of the themes is activated.

v1.0.7, available via the wpcom theme showcase/Jetpack, does not cause any errors.

[2022-03-18 10:35] markhowellsmead commented on #5693
Thanks for the feedback. The issue is with the use of `color: initial`, in particular on the `:visited` state. This makes the text black whenever the button appears in any other state apart from unvisited. I believe that this is an error: if a specific color has been selected, then this should be respected across all states and overrule the default value in the theme.

[2022-03-18 10:41] MaggieCabrera commented on #5693
This should be fixed for Remote, Stewart, Livro and Archeo. I believe they all share the same CSS.

[2022-03-18 10:46] LauraSWP opened #5706 "Dyad 2 / Dyad: Social Icons block | Icon styles are swapped"
## Steps to replicate

1. Activate the Dyad 2 theme
2. Add a Social Icons block to a widget area
3. Add an icon to the block
4. Try changing between the “default” and “pill shape” styles

## Result

The “pill shape” setting makes the icon “round” (aka “default”). Also, comparing the block behavior in the Editor and the Customizer, the pill shapes are different (one is vertical, the other horizonta

[2022-03-18 11:46] base-creme commented on #5252
Hello @MaggieCabrera !

I can't access to the theme.json file anymore because I'm not the owner of the hosting for the site (it's live).
I tried via the back-office in the "edit theme files" section but the theme.json file is not displayed.
I keep in mind your return and will test it asap :)

Best.

[2022-03-18 13:27] Robertght commented on #5843
Thank you for reporting this @formosattic ! I tested this further and noticed that the wrapping works ok in a page or a post, but not in the editor:

![image](https://user-images.githubusercontent.com/6737345/159011119-6debf159-d2b7-444b-bc5f-5a1b00cc311d.png)

Also, I've tested this with the Post content block inside and outside the group block and the text wrap around the image:

![image](https:

[2022-03-18 14:02] Robertght commented on #5673
It looks like there might be a connection to [this](https://github.com/Automattic/themes/issues/5546) so I've flagged it for the team in Slack as well: p1647610665942449-slack-C029FM1EH

[2022-03-18 14:33] pbking commented on #5252
Retested and fonts can be added "the blockbase way" as Maggie pointed out above or "the gutenberg way" based on the webfonts API that was linked to.  Both are achievable via a child's theme.json.

Closing this item.  I don't believe we intend to add additional fonts to Blockbase at this time.

[2022-03-18 14:33] #5252 closed, assigned to nobody

[2022-03-18 14:42] pbking commented on #5704
I didn't get the fatal error myself, however I see that it's referencing a function previously removed.  The hook has been removed.

[2022-03-18 15:41] csonnek opened #5709 "Pique Theme - Text color chosen in editor not reflected on the front end"
## Steps to replicate

To replicate, set your theme to Pique and type any text in a paragraph block, and set the text color to black (`#000000`).

## Result

On the published post, see the text isn't black. Inspecting the HTML shows the class `has-black-color has-text-color` applied, but in the CSS panel in dev tools in Firefox, under Computed, it appears no stylesheet is being loaded that include

[2022-03-18 15:46] jffng commented on #5705
Thanks for the report, we just made the switch to [load the fonts via theme.json](https://github.com/Automattic/themes/pull/5609) since Gutenberg was upgraded, my guess is this is an artifact of some caching.

Newsreader is loading on the demo site, so I'm going to close this:

<img width="1904" alt="Screen Shot 2022-03-18 at 11 44 57 AM" src="https://user-images.githubusercontent.com/5375500/1590

[2022-03-18 15:46] #5705 closed, assigned to nobody

[2022-03-18 16:23] #5704 closed, assigned to nobody

[2022-03-18 16:29] Piyopiyo-Kitsune commented on #5704
The Admin is not fatal-erroring, but I still see `( ! ) Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'livro_editor_styles' not found or invalid function name in /Users/X/Local Sites/X/app/public/wp-includes/class-wp-hook.php on line 307` in the admin.

[2022-03-18 17:04] #5546 closed, assigned to scruffian

[2022-03-18 17:05] jffng commented on #5546
This should be fixed + deployed by D77088-code.

[2022-03-18 17:50] NoHopeRadio commented on #5567
Another case in 34745397-hc. I solved it by very slightly changing the colors from the default values in the customizer. I don't know if this issue is related, but it seemed similar to the workaround I've used for the color issue here, but from the other direction: https://github.com/Automattic/wp-calypso/issues/56781

[2022-03-18 18:21] kelasante commented on #5022
A similar report in 33871432-hc. The user gets a critical error on the Livro theme. Switching to PHP 7.4 from 8.1 in Hosting Configuration fixes it.

[2022-03-19 05:24] Robertght commented on #5843
I found a case in #4833757-zen where the gallery block needed to be a Group block. The site is using Blank Cavnas.

[2022-03-19 06:21] KokkieH commented on #5704
I don't see any errors any more if I activate v1.0.9 of the theme. Thanks for the quick fix!

[2022-03-19 12:52] sophiegyo commented on #2938
We had another report in 4874308-zen (site was Simple, using Hemingway Rewritten)

I wasn't able to use the remove-alignment workaround, it had no effect.

I suggested making a caption-like paragraph block using superscript to make the letters smaller and raised.

[2022-03-19 12:52] #2938 closed, assigned to nobody

[2022-03-19 15:14] benchilcote opened #5787 "Zoologist: Secondary color not being applied to header or paragraph block"
### Quick summary

When applying the secondary theme color to a paragraph or header block, the color change is not visible either in the editor, in a draft preview, or on a published page.

### Steps to reproduce

1. Activate the Zoologist theme
2. Set a custom secondary color from Customize > Colors
3. Create a new post or page and add a paragraph or header block with text
4. Change the text colo

[2022-03-20 08:35] jromales commented on #4789
Another report in 4876576-zd-woothemes where I suggested using a "Read more" plugin as workaround.  They are using the `Geologist` theme.

[2022-03-20 16:07] PeterNdomano commented on #5709
Hello there...

I had a look at the mentioned theme's code (pique) and didn't find anything that would cause the above issue. So I decided to replicate the issue on my 3 sandboxes (one on a local server, another on wordpress.com free hosted site and the other on my online server).

**The results show that this issue happens only on free sites hosted at wordpress.com because on the other hosts this

[2022-03-20 17:45] sanjeev00733 commented on #1504
Another report in #4876840-zen

[2022-03-20 17:58] GilbertoBotaro commented on #1504
Try this... with or not !important..

/* Adjust big image width | 9422963-hc EH */
@media screen and (min-width: 768px) {
  .wp-caption.caption-big, .image-big {
      width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

[2022-03-21 09:55] markhowellsmead commented on #5705
@jffng Font still not loading even with caching disabled on the site and it's running the latest version of the theme (1.0.9). There is no reference in the source code to the WOFF files. If I look at the documentation for theme.json, there is no reference that the src attribute is supported for `fontFamilies`.

[2022-03-21 10:26] Robertght commented on #5663
I'm not successful in replicating this behavior and based on this(p1647545710834279-slack-C01DF571R5Y) the templates and template-parts should be theme specific:

I'm going to close this for now, but if there are any further cases, please re-open.

[2022-03-21 10:26] #5663 closed, assigned to nobody

[2022-03-21 11:31] formosattic commented on #5843
@Robertght, issue happens in the editor **and** the live view, though upon testing it again, for the live view, it seems to be impacted by the `Inherit default layout` setting of the Post Content block, whether it's in a Group block or not may not matter?

Example with Twenty Twenty-Two.

### FSE - Single Post template setup
![image1](https://user-images.githubusercontent.com/15944096/159250711-7e

[2022-03-21 12:38] MaggieCabrera commented on #5499
I think this has been covered by previous PRs, I'll close this and if any changes need to happèn they will be done on a coming issue for a global design pass.

[2022-03-21 12:38] #5499 closed, assigned to nobody

[2022-03-21 13:36] jffng commented on #5705
The Webfonts API was recently added https://github.com/WordPress/gutenberg/pull/37140, and the theme.json documentation needs to be updated accordingly. This feature is not in core yet, are you running the Gutenberg plugin?

[2022-03-21 14:50] mikeicode commented on #5740
@Greatdane I'm going to reopen this, I ran into it working on an AT site, and just tested on a Simple site and see the same thing. I have access to Customizer on both, should I not be able to? If not how would custom CSS be added?

Create custom color:

![Screen Shot on 2022-03-21 at 10:45:36](https://user-images.githubusercontent.com/10353785/159286587-103b86d3-ce2d-4c27-8bb2-fc7c429d4dc4.png)

A

[2022-03-21 15:20] jp-imagines commented on #5602
Another case in 4876729-zd-woothemes (using Twenty Twenty-Two (Pink)). Only seems to have affected the logo, so I provided this:

[code]

[2022-03-21 15:44] markhowellsmead commented on #5705
No, I'm using the Theme directly from https://wordpress.org/themes/livro/. The Gutenberg plugin is highly unstable and often breaks functionality, so it's not possible to use it on a production site. I'm guessing that this issue is happening for the 200+ other non-WordPress.com users too, unless they're using the plugin.

[2022-03-21 15:49] #5676 closed, assigned to nobody

[2022-03-21 16:26] bjr70 commented on #5670
We have this same issue. Looking for a solution.

[2022-03-21 16:51] Marcia-HC commented on #3723
Another report in 4878168-zd

[2022-03-21 17:13] #5502 closed, assigned to nobody

[2022-03-21 17:34] mikeicode commented on #5582
Looks like this will work as a temporary solution.

[code]

Animation showing before & after:

![Screen Capture on 2022-03-21 at 13-28-55](https://user-images.githubusercontent.com/10353785/159331043-0ac67c78-b426-47e4-a454-85be1e928c87.gif)

[2022-03-21 18:17] wiesenhauss commented on #5602
4880218-zen

Same issue on Twenty Twenty-Two (Swiss). The workaround provided by _tvolpert_ works there as well.

[2022-03-21 20:16] the-misha commented on #5549
Another user report, Baskerville 2: 15081824-hc / 4880670-zd-woothemes

Possibly related to [this issue](https://github.com/Automattic/themes/issues/5286)?

[2022-03-21 20:17] the-misha commented on #5286
Another user report, Baskerville 2: 15081824-hc / 4880670-zd-woothemes

Possibly related to [this issue](https://github.com/Automattic/themes/issues/5549)?

[2022-03-21 22:20] noteeth commented on #3365
Another report with Barnsbury #4881009-zen

[2022-03-22 06:02] xue28 commented on #5602
4881833-zen

Another ticket here: Twenty Twenty-Two (Pink)

[2022-03-22 07:47] cintacks commented on #3723
+1 for @Marcia-HC's post above (4878168-zd-woothemes)  I can effectively reproduce when site language is set to French. The issue is resolved when switched to English but this is obviously not a fix.

There's currently nothing we can do for users who don't have Additional CSS capability (due to plan type).

[2022-03-22 11:29] madhusudhand commented on #4789
I believe the way read more block works with Gutenberg is slightly different.
For more context please refer the below comment.

https://github.com/WordPress/gutenberg/issues/27214#issuecomment-822410291

[2022-03-22 12:47] Columbo199X commented on #3168
Hello. A few days ago this issue came back allthough now it's not just the cover block but the Layout/Columns Block are affected too.
Editor:
![Editor](https://user-images.githubusercontent.com/67553546/159485140-906e1203-52ee-49cd-9641-12d97b08a573.png)
Published:
![Screenshot 2022-03-22 at 13-42-54 Shonen Sonntag](https://user-images.githubusercontent.com/67553546/159485262-7c7dbde6-265b-40f3-90

[2022-03-22 12:48] KokkieH commented on #5709
Thanks for testing and the thorough notes, @PeterNdomano. Hopefully it will help our developers get to the bottom of this when they get to this thread :)

[2022-03-22 14:40] jp-imagines commented on #5585
Another report in 4879648-zd-woothemes
Theme: Hever

This CSS should fix it:
[code]

...but this user is on a Personal plan. Showed them how to switch to a similar color (#C4C4C4) instead. (Robert's suggestion of `#c5c5c5` instead of `#C5C5C5` didn't work for me.)

[2022-03-22 17:23] davipontesblog opened #5723 "Varia Themes: Group Block background color #000000 not visible on live site"
### Quick summary

Using the theme "Stratford", the user had Group blocks with a background color set in the block editor in Black. This does not show on the site. See screenshots below:

- Editor:

![X3yKgZ](https://user-images.githubusercontent.com/31009008/159536599-22e2287e-4966-4a8a-83bf-59ea3404f861.jpeg)

-  Live:

![P8vVC6](https://user-images.githubusercontent.com/31009008/159536649-f8920

[2022-03-22 17:26] davipontesblog commented on #5723
user report 4883684-zd-woothemes

[2022-03-22 18:20] kjellr commented on #5631
I'm re-opening this one because that second one appears to be broken again:

Current|Recommended
---|---
<img width="415" alt="Screen Shot 2022-03-22 at 2 14 46 PM" src="https://user-images.githubusercontent.com/1202812/159548361-a7ef838a-3aae-452b-a858-0db0094f3cfc.png">|<img width="420" alt="Screen Shot 2022-03-22 at 2 12 43 PM" src="https://user-images.githubusercontent.com/1202812/159548381-32

[2022-03-22 19:54] edequalsawesome commented on #3990
Same issue in 33747251-hc, provided the CSS which fixed the issue!

[2022-03-22 20:19] kimerlin81 commented on #5724
Thanks @mxhassani for submitting this detailed bug report.
I was able to reproduce this behavior on a simple site using the TT1, Barnsbury and Gazette themes :

![Screen Capture on 2022-03-22 at 16-04-52](https://user-images.githubusercontent.com/83732167/159567155-c2e5ee47-9f9d-4ad8-aa28-529331ca67ac.gif)

On Atomic sites, I was able to reproduce this behavior with the same themes activated. A si

[2022-03-22 20:52] kimerlin81 commented on #5726
Thanks @KokkieH for submitting this bug report.

I was only able to reproduce the Marketing banner while logged out, so I was unable to see it in action while in editor view.

![Screenshot on 2022-03-22 at 16-46-10 (1)](https://user-images.githubusercontent.com/83732167/159573421-aa494054-33ee-49ed-a91b-4ca7292d919b.png)

When logged in, I'm unable to get the banner to display:

![Screenshot on 20

[2022-03-23 00:12] jamiepalatnik commented on #5672
We let this user know that we would notify them when there is a fix: 4864703-zd-woothemes

[2022-03-23 04:05] KokkieH commented on #5726
The marketing banner is never visible in the editor, so not sure why you tried checking there :)

I specifically mentioned this in my instructions to reproduce:

The bug report doesn't have anything to do with whether or not the banner appears - the banner doesn't appear all the time for all users, and that is by design.

The issue is that _when_ it appears, it's obscuring elements of the theme wh

[2022-03-23 05:44] kimerlin81 commented on #5726
@KokkieH Thanks for clarifying. This issue has been triaged. Have a great day!

[2022-03-23 05:46] KokkieH commented on #3168
Discussing the Layout grid block issue in https://wordpress.com/forums/topic/twenty-twenty-alignment-of-blocks-reset-in-editor

[2022-03-23 05:47] KokkieH commented on #5726
Thank you :)

[2022-03-23 06:34] ai2n opened #5727 "Wide line separator invisible on the Payton theme."
## Steps to replicate

1) Activate Payton theme on any site.
2) Add a wide line separator to a page.
3) Save the page.
4) Check the public-facing page, the separator is invisible.

## Result

When using a Separator block set to the Wide Line style, it disappears.

## Expected

When using a Separator block set to the Wide Line style, it displays as a wide line style.

* User report: #34808353-hc
*

[2022-03-23 06:59] khristiansnyder commented on #5602
Any updates? Have another user with the same issue on Twenty Twenty-Two (swiss). #34637558-hc
User would like an update if that does get resolved.

[2022-03-23 07:54] madhusudhand commented on #5602
@kjellr Following themes has duotone filter applied to all images. figma designs also has duotone images for these.
Can you suggest on this design change.

* twentytwentytwo-swiss
* twentytwentytwo-mint
* twentytwentytwo-pink

[2022-03-23 08:22] MaggieCabrera commented on #5602
This is not a bug on the theme, this filter is intended for those variations. The existing bugs are on Gutenberg so that users will be able to disable the filter if they want to:

- https://github.com/WordPress/gutenberg/issues/38504
- https://github.com/WordPress/gutenberg/issues/34122

We can leave this issue open if it's helpful for HEs, but the themes are working as intended, if users don't wa

[2022-03-23 08:47] MaggieCabrera opened #5728 "Implement new separator options"
Since https://github.com/WordPress/gutenberg/pull/38428 has been merged, we should review how we handle the separator block in themes like Remote and Skatepark and apply the new changes

[2022-03-23 08:55] MaggieCabrera commented on #5504
@kjellr @beafialho I think Remote is in a good place for a design review now. All templates and patterns are done and merged and the next steps are launch tasks only.

[2022-03-23 09:06] MaggieCabrera commented on #5496
I added some content, but I think it needs another pass @kjellr @beafialho
Since we are still using headstarts, maybe we should reduce the number of posts to 3? Or maybe we can just cut the amount of posts from the headstart file itself, your call!

[2022-03-23 11:28] mriyazuddin opened #5739 "Blog Posts Block: Load More Posts button doesn't have the same styling as seen in editor"
### Quick summary

The Load More Posts button on the Blog Posts Block seems to appear fine in the editor but on the front end it appears like the old school push button.

### Steps to reproduce

1. Create a page and add Blog Posts Block.
2. Enable Load More posts button using the settings sidebar of the Blog Posts Block.
3. The button appears fine in the editor but not on the front end.

### What

[2022-03-23 11:29] mriyazuddin commented on #5739
A similar but not exact same issue was reported here: https://github.com/Automattic/newspack-blocks/issues/357

[2022-03-23 11:57] KokkieH commented on #5585
Another report for this in Hever, though with the Text Color set to the tertiary color, in a table block.

https://wordpress.com/forums/topic/word-color-from-white-turn-black/?view=all

[2022-03-23 12:00] mikachan commented on #5595
Archeo is now available here! https://wordpress.org/themes/archeo/

[2022-03-23 12:00] #5595 closed, assigned to nobody

[2022-03-23 13:38] kjellr commented on #5602
That's correct, this is intended, and is shown on the theme demos and in the preview. For example:

https://twentytwentytwomintdemo.wordpress.com
https://twentytwentytwoswissdemo.wordpress.com

As Maggie noted we're waiting for Gutenberg functionality that will allow folks to turn that off globally. And also there's a very confusing bug (https://github.com/WordPress/gutenberg/issues/35331) that do

[2022-03-23 14:17] mikachan commented on #5631
Ah good spot, looks like it's been accidentally overwritten. I've brought that change back in here: https://github.com/Automattic/themes/pull/5731

[2022-03-23 16:20] pbking commented on #5685
These bits seem to be addressed while working on the [header](https://github.com/Automattic/themes/pull/5725).

We should be able to evaluate details once that lands.

[2022-03-23 16:40] #5661 closed, assigned to matiasbenedetto

[2022-03-23 16:43] #5631 closed, assigned to mikachan

[2022-03-23 16:47] Addison-Stavlo commented on #5734
Nothing this may be a blockbase / universal-theme issue.

[2022-03-23 19:40] tvolpert opened #5737 "Apostrophe 2: VideoPress videos don't display if set to alignwide or alignfull"
### Quick summary

When adding a video from the site's media library to any page or post, using the Apostrophe 2 theme, that video will work fine in the editor, but won't display on the live or preview version of the page if its alignment is set to either "Wide" or "Full"

### Steps to reproduce

1. Start with a site with the Apostrophe 2 theme active
2. create a new page or post, or edit an exist

[2022-03-23 19:47] edequalsawesome commented on #5737
I was able to duplicate this, so I'm transferring it to the Themes repo

[2022-03-23 19:55] Robertght commented on #5738
The odd bit is that it happens only with the #000000 background-color.

[2022-03-23 20:12] NoHopeRadio commented on #5699
I'm pretty sure that this is an interaction with Jetpack's Lazy Images module; turning that off seems to solve the issue.

[2022-03-23 20:13] arinoch commented on #5699
@NoHopeRadio - Can you confirm you mean lazy load? If so I can suggest this to the user as I'm currently looking at that ticket.

[2022-03-23 20:14] NoHopeRadio commented on #5699
I'm looking at that ticket! That's how I got here. I was about to send a reply.

Anyway, it's a Jetpack module, the settings for it will be in the "performance" tab of the Jetpack settings.

[2022-03-23 20:19] arinoch commented on #5699
Tell you what. You go ahead and send the reply. I don't need the interaction that bad. :) @NoHopeRadio

[2022-03-23 20:21] edequalsawesome commented on #5739
@mriyazuddin That actually is the same issue -- a number of our current themes (Blockbase and its related child themes, Twenty Twenty Two) don't include styles for the `button` HTML tag, whereas our older themes (Radcliffe 2, Dara, Varia and its related child themes) do. Since the only style that's loaded for the Blog Posts Block button is the margin, it would rely on the theme to provide styles f

[2022-03-23 20:41] edequalsawesome commented on #5740
I tested this with Twenty Twenty-Two on a simple and self-hosted site, and wasn't able to duplicate with those themes, but *was* able to duplicate with Blockbase, so I think this is an issue with the universal themes and how they save information -- transferring to the Themes repo!

[2022-03-24 09:22] KokkieH commented on #5602
Noting https://wordpress.org/support/topic/disable-duotone-on-images/ (Skatepark) for follow-up once the issues in GB are fixed.

[2022-03-24 11:41] mikeicode commented on #5740
I should have mentioned, it was a Blockbase child theme I was using, so that makes sense ^.

[2022-03-24 11:48] pbking commented on #5740
This was intentional but perhaps not the best. Blockbase used to store user customized theme colors in the "custom color" space. When it was refactored it started clearing the user color space on save so that the theme-stored values would be used. Rather than clearing them all this should probably instead only clear those "custom" values that are meant to be stored at the theme level.

[2022-03-24 11:55] kjellr commented on #5496
I think trimming the amount of posts from the headstart file would be good if that's not too much of a hassle. Since the post list is such a prominent feature, it benefits from having a bunch in the demo. We'll give the demo a review soon!

[2022-03-24 11:56] kjellr commented on #5504
Wonderful, thank you! We'll review alongside the demo site.

[2022-03-24 15:28] filipanoscampos commented on #4639
Another case here 34858171-hc.
Shared CSS workaround.

[2022-03-24 16:15] jorpdesigns commented on #5051
Reported here: 33915790-hc

Noticed the "has-white-color" CSS class didn't have any CSS rule and this was affecting other aspects of the site (e.g. the footer). Provided custom CSS that added the "color: #FFF;" declaration.

[2022-03-24 17:02] mikachan opened #5743 "Archeo: incorrect positioning of featured images with short post titles"
## Steps to replicate

Add a featured image to a post on the homepage template. Make sure the post title is quite short, e.g. "Fossils"

## Result

If the title is short enough, the featured image will sit in line with the title rather than underneath it:

![image](https://user-images.githubusercontent.com/1645628/159970111-4cffcb94-0dda-4a3c-b1d0-02cce0fae6bb.png)

## Expected

Ideally, all featu

[2022-03-24 17:21] Gustavo-Hilario opened #5788 "Shawburn: Pullquote Block(full-Width): centered text isn't working on small screens"
### Quick summary

If we set a Pullquote block to be full-width with centered text, the content won't be centered on small screens.

### Steps to reproduce

1. Create a new post or page.
2. Add the Pullquote to the page and set it to be full-width. Also, make sure the text is set to be centered.
3. Preview the page. When reducing the window size to mobile sizes, the quote won't be centered.
4. You

[2022-03-24 17:34] pbking opened #5744 "Pendant: Templates: Single Post"
<img width="857" alt="image" src="https://user-images.githubusercontent.com/146530/159976270-0126328e-0e20-42f7-aa12-51383b6c15f2.png">

<img width="230" alt="image" src="https://user-images.githubusercontent.com/146530/159976558-57233ff4-a1c7-48f4-8215-23f62876b660.png">

Edit `single.html` to achieve the design.  Ensure it works both with/out featured images.

[2022-03-24 17:41] pbking opened #5745 "Pendant: Templates: About Page"
This page will consist of four patterns:

<img width="326" alt="image" src="https://user-images.githubusercontent.com/146530/159976951-969ed660-84f0-499e-9a9a-d86142954d7c.png">

* Media & Text
* Image and Quote
* Team

Once the design of the page and contained blocks is approved we'll extract the patterns from it.

[2022-03-24 17:59] #5679 closed, assigned to pbking

[2022-03-24 18:03] pbking opened #5746 "Pendant: Button and Link State"
Button (regular: Link, Hover, Click, Focus)
<img width="130" alt="image" src="https://user-images.githubusercontent.com/146530/159980659-15a630af-3e6b-4615-ad81-5f5602615abf.png">

Button (outline: Link, Hover, Click, Focus)
<img width="130" alt="image" src="https://user-images.githubusercontent.com/146530/159980766-adc65d99-4622-427d-85a8-c03c24882877.png">

Anchors OUT OF CONTENT
<img width="63"

[2022-03-24 18:06] pbking commented on #5692
@beafialho do you expect these Color Studies to resolve in alternate color palettes for Pendant?

<img width="623" alt="image" src="https://user-images.githubusercontent.com/146530/159981736-c3370a97-4241-4225-8f9c-5ff1e680f9d2.png">

[2022-03-24 18:10] beafialho commented on #5692
@pbking no, everything under "Drafts" is old explorations. I'm going to work on some alternate color palettes for Pendant and will let you know.

[2022-03-24 18:13] pbking commented on #5692
Coolio, thank you.

[2022-03-24 18:48] pbking commented on #5685
The latest has landed and I think we look good for:
* Content width (800)
* wide width (1000px)
* the horizontal gap along the edge (dynamic clamp() value, discussed working on the header) for full-width
* The global block-gap value (also dynamic, with a maximum of 30px scaling down to 5vw ~ 18px @ iphone size)"
* Line height of body text (1.6)

Wide view:
<img width="1592" alt="image" src="https:

[2022-03-24 18:59] ai2n commented on #5727
Closing in favor of:
https://github.com/Automattic/wp-calypso/issues/60108

[2022-03-24 18:59] #5727 closed, assigned to nobody

[2022-03-24 22:37] kgeorgee opened #5750 "Snaps: Hamburger menu icon not functioning on mobile devices"
## Steps to replicate

1. Open site on either desktop or mobile browser. Used Chrome and Safari to troubleshoot the issue.
2. When opened on a desktop browser, resize the browser to the size of a mobile device.
3. Tap or click the hamburger menu icon.
https://snipboard.io/TNdBLz.jpg]

## Result
The hamburger is unresponsive. Nothing happens when it is clicked.

## Expected
The hamburger icon is su

[2022-03-25 12:47] mrfoxtalbot opened #5753 "[Theme: Archeo] Missing term descriptions in category archives"
### Quick summary

In its category & tag archives, Theme Archeo **does not show term descriptions** by default:

![Screen Shot on 2022-03-25 at 13:42:29](https://user-images.githubusercontent.com/4452464/160122951-32d8921c-cfd9-47cd-b04d-a77e026ad133.png)

![Screen Shot on 2022-03-25 at 13:42:08](https://user-images.githubusercontent.com/4452464/160122967-acbf63fd-b1ad-4d45-b246-4ea2a8c3eb65.png)

[2022-03-25 16:32] beafialho commented on #5685
Thanks @pbking, overall this looks good to me.

Just to note that some elements should look completely full-width, such as quotes. Would that be possible with the current settings?

<img width="882" alt="Captura de ecrã 2022-03-25, às 16 30 22" src="https://user-images.githubusercontent.com/65220155/160162146-562164b7-bf7e-4c9e-89c6-c6be8fbbbec7.png">

[2022-03-25 16:59] pbking commented on #5685
Thanks for looking it over.  I'll close this and we can iterate on anything related that may creep up.

I don't think that we could "full width" them by default.  It should be relatively easy to configure them such that in their default state when they are setup to be full width in the content it looks like the above.

And probably more specifically to your point full-widthing something with a bac

[2022-03-25 17:00] #5685 closed, assigned to nobody

[2022-03-25 21:21] WeCreos commented on #5678
I don't understand the problem here.

[2022-03-25 23:41] ai2n commented on #5169
#34885778-hc same thing happened with an Automattic theme: `Publication`

[2022-03-26 00:47] jamiepalatnik commented on #5761
Another report in 4892935-zd-woothemes, Geologist theme.

I shared CSS as a workaround.

[2022-03-26 06:53] stefancln commented on #5620
Another report here 4894909-HC

[2022-03-26 14:25] Gustavo-Hilario opened #5756 "Twenty Twenty Two: Missing font options"
## Steps to replicate

1. Activate the `Twenty Twenty Two` theme.
2. Go to the Site Editor.
3. Got to the Styles options in the top-right corner.
4. Select `Typography` > `Text`.
5. You will see no options to change the site font.

If you go to the Customizer, you won't see any options there too.

<img width="355" alt="Markup 2022-03-26 at 09 23 24" src="https://user-images.githubusercontent.com/5

[2022-03-26 15:30] zdenys commented on #5702
@Automattic/serenity is this something that can be added to your board (as per p1647611540333819/1646979508.429909-slack-C029FM1EH)?

[2022-03-26 16:31] smithkyle45 commented on #4242
I came across the same issue described in the comment above, showing the issue in a post carousel block while Resonar is the active theme. 4895268-zen.

I provided the following CSS as a workaround:

[code]

[2022-03-26 22:21] pendantry opened #7100 "[Bug]: Event Countdown block rendering problem after milestone is hit"
### Quick summary

![image](https://user-images.githubusercontent.com/77969662/160258806-b262962b-dd4f-41c0-8875-1d89e2249464.png)

Platform: Windows 8.1/ Firefox 98.0.2 (64-bit) / Twenty Ten theme (yes, I know it's a 'retired' theme)
(That's the only configuration I tried it on. Life is too short. Way too short.)

Example available at https://pendantry.wordpress.com/2022/03/22/using-leaf-appropri

[2022-03-27 14:08] sharonlaker19 commented on #3302
I have a similar issue at 4888461-zen. They're using images with transparent backgrounds but these are being automatically set to black and there's no option to manage that specific color. I can replicate on my test site with the Dalston theme too.

![dalston](https://user-images.githubusercontent.com/71630911/160285436-02c82676-6584-4dab-b6d0-eff3f2a14f88.jpeg)

[2022-03-27 14:22] philnick206 opened #5844 "Twenty Seventeen: Custom header image blurry on small screens"
### Quick summary

When viewing a site with a custom header image on Twenty Seventeen, the image is noticeably blurry.

### Steps to reproduce

1. Add a custom header image via the Customizer on Twenty Seventeen
2. View the site on desktop
3. View the site on mobile/use responsive design mode to see image on a smaller screen

### What you expected to happen

The header image should still look cris

[2022-03-27 14:55] eduardozulian commented on #1467
@MaggieCabrera, I'm reopening as this is still an issue on 4897250-zen . Can we confirm if the fix is also being applied to Atomic sites?

For now, I share the same CSS workaround.

[2022-03-27 15:07] philnick206 commented on #5287
Another report 4888447-zen

[2022-03-27 18:28] supernovia commented on #5602
Noting this one for follow-up as well:
https://wordpress.com/forums/topic/twenty-twenty-two-theme/

[2022-03-27 19:09] ghost opened #5760 "Blockbase theme generates a warning in console"

[2022-03-28 01:17] Greatdane commented on #4730
4877496-zd-woothemes

[2022-03-28 05:37] inaikem commented on #5761
Hi @alshakero 👋 Any idea when the PR above is going to be merged? anything we can do to help move things along?

[2022-03-28 08:22] rickmgithub opened #5826 "Barnsbury drop down menu colors"
### Quick summary

Drop down menu color changes to white on green after a right click

### Steps to reproduce

PROBLEM:
* Go to the main menu on - ontarioltc101.ca
* Click on an item to open a submenu.
You see the black text and grey back
* Now "right" click on one of the the top level main menu items without opening a new page
* Click again on the page somewhere without it reloading to click the

[2022-03-28 10:40] #5585 closed, assigned to madhusudhand

[2022-03-28 12:54] pbking commented on #5760
The error is because the CSS is build from SASS and has the following in the ponyfill.css: `/*# sourceMappingURL=ponyfill.css.map */` signifying that there is a map file to see how the styles originated before compilation.  However our build process removes "unnecessary" resources when building the zip (and the .map files are considered unnecessary).

Fixing the problem would require that we EITHE

[2022-03-28 12:57] syds87 commented on #4678
Another report in #4888891-zen. This is a Personal plan, so unfortunately we can't suggest the CSS workaround.

[2022-03-28 13:47] kjellr opened #5773 "[Remote] Post title does not need to be a link on single/page templates"
On the `single.html` and `page.html` templates, the post title is a link. We can remove this, since those links just reload the page.

https://user-images.githubusercontent.com/1202812/160411937-68780f17-f4ec-401b-aa65-49b91221cf21.mp4

[2022-03-28 13:50] kjellr opened #5774 "[Remote] Post list titles need line height defined"
The line height for post titles in lists need to have their height defined:

Current|Recommended
---|---
<img width="1136" alt="Screen Shot 2022-03-28 at 9 36 57 AM" src="https://user-images.githubusercontent.com/1202812/160412272-725cfd77-e39c-47dc-aa91-6d07a100e260.png">|<img width="1103" alt="Screen Shot 2022-03-28 at 9 36 50 AM" src="https://user-images.githubusercontent.com/1202812/160412283-

[2022-03-28 13:53] rickmgithub opened #5791 "Twenty Twenty background colors not showing"
### Quick summary

The background color set in the editor is not showing on the published site.

### Steps to reproduce

* The user has set the column background color to white
<img width="1685" alt="Markup 2022-03-28 at 14 41 36" src="https://user-images.githubusercontent.com/13706336/160412835-5a9ae9cd-82f0-4b72-b49c-b9b95f4009cf.png">

* But on the public site it doesn't work -
<img width="1478

[2022-03-28 13:57] kjellr opened #5775 "[Remote] Font size in post lists does not match intro font size."
The font size used in post lists does not match the font size used for the intro text:

<img width="1250" alt="Screen Shot 2022-03-28 at 9 55 05 AM" src="https://user-images.githubusercontent.com/1202812/160413669-ce5ad5db-fc23-493e-8671-24fc6c7e5e16.png">

This difference is more noticeable on mobile:

<img width="372" alt="Screen Shot 2022-03-28 at 9 55 13 AM" src="https://user-images.githubuser

[2022-03-28 14:00] kjellr opened #5776 "[Remote] Contact form button hover state increases the button's size"
Not sure if this is a theme issue or not, but when you hover over the Contact form's button, it increases its size, pushing other items on the team down the page:

![hover](https://user-images.githubusercontent.com/1202812/160414670-bcb13141-fc92-42cb-90e2-dd7fb72303d2.gif)

This is visible in the theme demo: https://remotedemo.wordpress.com/about/

[2022-03-28 14:19] kjellr opened #5777 "[Remote] Contact form field text size is very small"
Like #5776, I'm not sure if this is something we'll sort out on the theme's end or not. But logging it just in case.

The text size for single-line form fields is really small:

<img width="693" alt="Screen Shot 2022-03-28 at 10 17 59 AM" src="https://user-images.githubusercontent.com/1202812/160418262-024bf137-1d48-43ef-a8da-322af21f3be1.png">

[2022-03-28 14:21] kjellr commented on #5496
I created a bunch of small issues, but the demo site itself is all set. So marking this as closed for now. 👍

Related:

- https://github.com/Automattic/themes/issues/5777
- https://github.com/Automattic/themes/issues/5776
- https://github.com/Automattic/themes/issues/5775
-  https://github.com/Automattic/themes/issues/5774
- https://github.com/Automattic/themes/issues/5773

[2022-03-28 14:21] #5496 closed, assigned to nobody

[2022-03-28 14:52] kjellr opened #5778 "[Remote] Image with text pattern has a broken image"
The image for the "Image with text" pattern appears to be broken. When inserted, it shows just an image block placeholder.

<img width="340" alt="Screen Shot 2022-03-28 at 10 51 17 AM" src="https://user-images.githubusercontent.com/1202812/160425487-2b1d5bf5-1b0d-4545-9e98-7cff77827a67.png">

(As seen while creating the demo site on WP.com)

[2022-03-28 14:57] kjellr opened #5779 "[Remote] Small quote pattern has a blurry image"
<img width="714" alt="Screen Shot 2022-03-28 at 10 53 46 AM" src="https://user-images.githubusercontent.com/1202812/160426492-c4620df5-df57-432c-a9e2-c8041dff3ab5.png">

Let's give this version of the image a try instead:

https://cloudup.com/ctaOKYOCmso

[2022-03-28 15:02] kjellr opened #5780 "[Remote] Subscription form pattern style issues"
The Subscription form pattern has a couple small visual issues:

First, the border color for the button should be yellow, not white:

<img width="693" alt="Screen Shot 2022-03-28 at 10 57 51 AM" src="https://user-images.githubusercontent.com/1202812/160427132-dedc419c-3996-4ed7-b2e4-0e9bbf62706d.png">

Secondly, the form field needs a little of extra top margin so it equals the spacing between the

[2022-03-28 15:04] kjellr commented on #5504
I opened some related issues with these patterns. Since those are logged elsewhere, I think it's fine to close this issue for now:

- https://github.com/Automattic/themes/issues/5774
- https://github.com/Automattic/themes/issues/5775
- https://github.com/Automattic/themes/issues/5778
- https://github.com/Automattic/themes/issues/5779
- https://github.com/Automattic/themes/issues/5780

[2022-03-28 15:04] #5504 closed, assigned to nobody

[2022-03-28 17:18] jffng commented on #5776
It looks like Jetpack CSS sets a `border: inherit;` on the `wp-block-jetpack-button-button` class which is of higher specificity than `wp-block-button` (because it loads after global styles) but lower than the hover state, so it causes the border width to change across states.

[2022-03-28 19:14] #5778 closed, assigned to jffng

[2022-03-28 19:15] #5773 closed, assigned to nobody

[2022-03-28 19:15] #5774 closed, assigned to jffng

[2022-03-28 19:15] #5775 closed, assigned to nobody

[2022-03-28 19:15] #5779 closed, assigned to nobody

[2022-03-29 06:24] zdenys commented on #1294
4900881-zen

[2022-03-29 07:50] zdenys commented on #5791
4899339-zd-woothemes

[2022-03-29 07:50] zdenys commented on #3979
4899339-zd-woothemes

[2022-03-29 09:07] kylemcph opened #5790 "Full-width Video distorted and condensed Karuna, Ixion, Dyad 2, Lodestar"
### Quick summary

When making a video full-width (and wide-width) with the Karuna theme it displays distorted. Specifically, the height is very thin.

### Steps to reproduce

1. Start a WordPress.com site
2. Ensure Karuna theme is active
3. Ensure no widgets are added to the sidebar so no sidebar displays
4. Create a new page and add a video block to the page, set as full-width

### What you expe

[2022-03-29 09:33] csabarakasz commented on #4678
Another report of this here: 4900768-zd-woothemes

[2022-03-29 10:17] alshakero commented on #5761
Hi @inaikem! Long time 👋🏼

IDK tbh! I'll mention @Automattic/theam hoping they'd pick it up. I don't mind merging, it's a tiny tiny PR, but I have no idea how to deploy.

[2022-03-29 10:21] MaggieCabrera commented on #5761
Hi! thanks for the PR, I think we missed it. I added it to our board for review. Once it's approved, the instructions to deploy are on the readme file on this repo, let us know if you have any issues with it! Not everyone has permissions to deploy on the themes repo on dotcom but our deploy tools should do 95% of the work for you and give you a diff patch for us to deploy

[2022-03-29 10:32] Robertght commented on #5756
Thank you for reporting this @Gustavo-Hilario and @edequalsawesome for the ping!

I've looked into this and at the moment the behavior is consistent regardless of the hosted site.

Upon further investigation, with some help from @MaggieCabrera, it appears this will be an[ option available](https://github.com/Automattic/jetpack/pull/23045) in a future release of Jetpack(10.8). Will this be implemen

[2022-03-29 10:37] jeherve commented on #5756
@creativecoder would know more, but I believe that before we enable it for everyone on WordPress.com, we'll need to address some potential performance issues.

[2022-03-29 12:21] Robertght commented on #5787
I can confirm I can replicate this with Zoologist, however, Blockbase doesn't seem to rely on the Secondary color, but on the Foreground one.

Kerr seems to have the Foreground option as well.

[2022-03-29 12:53] Robertght commented on #5788
The other Varia child don't seem to share this pattern, including Varia.

[2022-03-29 16:03] mikachan commented on #5777
I think this would be a fix in Jetpack rather than the theme.

At the moment, the `textarea` font size is set to `inherit` (via `.contact-form textarea` [here](https://github.com/Automattic/jetpack/blob/master/projects/plugins/jetpack/modules/contact-form/css/grunion.css#L38)). There doesn't seem to be any similar overrides for the `input` boxes. If I set `inherit` on the inputs as well, the font

[2022-03-29 19:20] Robertght commented on #5844
I'm not able to replicate this just yet @philnick206.

What size was the image? I can see it was a cropped version, but not sure what was the actual size.

[2022-03-30 04:30] Robertght commented on #5790
Possibly related: https://github.com/Automattic/jetpack/issues/17714

https://github.com/Automattic/jetpack/issues/17170

[2022-03-30 05:17] Robertght commented on #5706
Thank you for reporting this @LauraSWP ! Please use Bugomattic to report further theme issues as it'll help us triage them faster.

[2022-03-30 05:24] Robertght commented on #5699
Similar issue: https://github.com/Automattic/themes/issues/3377

[2022-03-30 05:41] Robertght commented on #5271
Closing in favor of https://github.com/Automattic/themes/issues/5589

[2022-03-30 05:41] #5271 closed, assigned to nobody

[2022-03-30 06:16] mikachan commented on #5642
I think I've managed to track this down to Blockbase not supporting default block styles, which TwentyTwentyTwo does (and a couple of our other themes).

With `wp-block-styles` enabled, that `.wp-block-group.has-background` padding CSS is included (more info on what's included [here](https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#default-block-styles)).

I've open

[2022-03-30 07:43] druesome commented on #4030
4903906-zen

[2022-03-30 08:49] cintacks commented on #2468
I can confirm that this is still a bug in Stow. Steps to reproduce:

- Apply a bg color to pullquote block
- Save page
- See default background color is still applied, not the color applied in the editor

Screencast: https://d.pr/v/ctSeWv
4865987-zd-woothemes

I provided a custom CSS workaround in the meantime:

[code]

[2022-03-30 10:38] KokkieH commented on #5591
This also appears to affect Altofocus and Baskerville-2, as per p8HJWS-Ys-p2

[2022-03-30 11:59] #5659 closed, assigned to madhusudhand

[2022-03-30 15:14] jamiepalatnik opened #5830 "Eventbrite Multi Event: Not showing retired theme message on theme guide"
### Quick summary

The theme Eventbrite Multi Event is retired, but if you go to the theme guide on a site where the theme is active, it does not show that the theme is retired as expected.

### Steps to reproduce

1. Activate Eventbrite Multi Event on a site (eventbrite-venue via Blog RC)
2. Check the theme guide: https://wordpress.com/theme/eventbrite-venue/

### What you expected to happen

I e

[2022-03-30 17:34] CodeAllNightNDay commented on #5636
Ran into the same issue here: [34982195-hc](https://hud.happychat.io/chat/34982195)
Also using Twenty Twenty-Two theme.

[2022-03-31 02:42] xue28 commented on #5602
4908220-zen

Another ticket here: Twenty Twenty-Two (Pink)

[2022-03-31 06:07] xue28 commented on #5602
4908224-zen

Another ticket here: Skatepark

[2022-03-31 06:11] philnick206 commented on #1859
Another report #4905982-zen

[2022-03-31 08:34] Robertght commented on #5552
I have made a request to update the Related posts doc so I'm going to close this one for now.

[2022-03-31 08:34] #5552 closed, assigned to nobody

[2022-03-31 08:43] madhusudhand opened #5794 "Pendant: use rem unit for fonts instead of px for better a11y"
For better a11y, use `rem` units for fonts in `theme.json`.

Steps:
* In browser settings update font size to small or large
* observe that page content doesn't get effected with this setting when `px` units used.

[2022-03-31 08:45] MaggieCabrera commented on #5794
We could probably do this for Archeo, Livro, Stewart and Remote too.

[2022-03-31 09:03] MaggieCabrera commented on #5780
@kjellr I just copied that code and it's the same that's on the pattern

[2022-03-31 09:34] MaggieCabrera commented on #5780
Nevermind that, I copied what you changed on the theme, I suppose that's what you wanted it to look like!

[2022-03-31 10:36] Robertght opened #5796 "Hive: Image post format could break the homepage layout"
### Quick summary

_No response_

### Steps to reproduce

1. Make sure you have several posts
2. Create a post where you set a Slideshow block as the first element and publish it(do not set a featured image)
4. Check if the layout is being affected after the load of that particular post on the homepage

Note: Have the homepage display the latest posts.

### What you expected to happen

To follow t

[2022-03-31 10:51] kimerlin81 opened #5797 "Affinity: Marketing banner covers navigation menu"
### Quick summary

On free sites where the Affinity theme is active, the marketing banner displays whether the user is logged in or out. This banner is covering the navigation menu on tablet/desktop screen sizes.

### Steps to reproduce

1. Create a free site
2. Activate the Affinity theme
3. Notice the banner as shown below:

https://user-images.githubusercontent.com/83732167/161037760-a4c72a66-e

[2022-03-31 11:38] #5670 closed, assigned to madhusudhand

[2022-03-31 12:19] MaggieCabrera commented on #5511
I reviewed the file and I think it's good as it stands

[2022-03-31 12:19] #5511 closed, assigned to nobody

[2022-03-31 12:35] rickmgithub commented on #679
#4909768-zen

[2022-03-31 12:41] ccwalburn commented on #155
Another report here: 34996016-hc
I didn't see this bug while chatting so I used a CSS workaround:

[code]

[2022-03-31 13:21] pbking commented on #5746
Some associated work has been merged that may close this issue, however waiting for final design feedback before marking as done.

[2022-03-31 13:35] pbking commented on #5794
Thank you @madhusudhand good call.

This was addressed with other changes to font sizes [here](https://github.com/Automattic/themes/commit/7aaeda4aafa2d326067548e9597529f0dbb4734b).

[2022-03-31 13:35] #5794 closed, assigned to nobody

[2022-03-31 14:42] MaggieCabrera commented on #5776
After discussing this with @kjellr, let's fix this one on the theme since we are providing hover effects for the button

[2022-03-31 14:56] MaggieCabrera commented on #5777
Closing this in favor of https://github.com/Automattic/jetpack/issues/23729

[2022-03-31 14:56] #5777 closed, assigned to nobody

[2022-03-31 16:09] pbking commented on #5744
Keeping this open until design can give a 👍

[2022-03-31 16:32] kjellr commented on #5780
Great, thank you!

[2022-03-31 17:08] jffng commented on #5776
After looking into this more, I think we should remove the CSS in Jetpack that is overriding Core + theme's default button styles: https://github.com/Automattic/jetpack/pull/23734

[2022-03-31 19:54] Robertght commented on #5264
This seems to be the same as: https://github.com/Automattic/themes/issues/5552

Closing.

[2022-03-31 19:54] #5264 closed, assigned to nobody

[2022-03-31 21:25] metabreakr commented on #1601
https://wordpress.com/forums/topic/slide-show-feature/?view=all

[2022-04-01 04:23] #5674 closed, assigned to madhusudhand

[2022-04-01 06:02] madhusudhand commented on #5794
Created https://github.com/Automattic/themes/pull/5801 for other themes.

[2022-04-01 10:15] mikachan opened #5802 "Livro: update Gutenberg Dependency Check to latest version"
We should update the Gutenberg Dependency Check in line with the changes from https://github.com/Automattic/themes/pull/5735, so that any child themes have the same Gutenberg requirement messaging.

[2022-04-01 10:21] #5740 closed, assigned to pbking

[2022-04-01 10:22] #5780 closed, assigned to MaggieCabrera

[2022-04-01 10:23] #5651 closed, assigned to mikachan

[2022-04-01 10:31] mikachan opened #5803 "Multiple themes: update how patterns are loaded"
We should update how all patterns are included in our block themes, to allow them to be automatically loaded from Gutenberg, as we did with Archeo here: https://github.com/Automattic/themes/pull/5715

- [x] Remote https://github.com/Automattic/themes/pull/5829
- [x] Livro https://github.com/Automattic/themes/pull/5879
- [x] Stewart https://github.com/Automattic/themes/pull/5854
- [x] Skatepark htt

[2022-04-01 13:08] #5514 closed, assigned to nobody

[2022-04-01 18:36] scruffian commented on #5642
I wonder if a better solution would be to move these group block styles from the theme.css to the style.css so they ship for all group blocks?

[2022-04-01 19:15] pbking commented on #5642
At least that explains the difference!  Thanks for tracking that down @mikachan

That (a different padding value when there is a background color) feels like opinion to me, which is what you're asking for with `wp-block-styles`.

Adding that opinion to Blockbase wouldn't be hard, and if that is the only opinionated styles we want from `wp-block-styles` then perhaps we should consider just adding t

[2022-04-01 19:22] #5677 closed, assigned to jffng

[2022-04-01 19:23] pbking commented on #5681
Closing, will seek design review stage instead of approval.

[2022-04-01 19:23] #5681 closed, assigned to MaggieCabrera

[2022-04-01 19:25] pbking commented on #5746
Closing, will seek design review stage instead of approval.

[2022-04-01 19:25] #5746 closed, assigned to pbking

[2022-04-01 19:26] pbking commented on #5744
Closing, will seek design review stage instead of approval.

[2022-04-01 19:26] #5744 closed, assigned to nobody

[2022-04-01 19:38] pbking commented on #5802
Does it make sense to try to engineer something like that in core?  A way for a theme to depend on a particular plugin being activated or the error?

[2022-04-01 19:50] pbking opened #5807 "Pendant: Front Page Template"
## Task

Create the design expressed in the figma file in the `front-page.html` template.

<img width="253" alt="image" src="https://user-images.githubusercontent.com/146530/161331518-6700d476-440e-4d6f-894a-9a790dbedd37.png">

<img width="158" alt="image" src="https://user-images.githubusercontent.com/146530/162015224-952cf4ca-4436-4937-8499-b6f6dee6df2f.png">

<img width="126" alt="image" src="h

[2022-04-01 19:53] pbking commented on #5675
All of the patterns are represented in other issues: namely #5745 #5807 #5744

Closing this in lieu of those.

[2022-04-01 19:53] #5675 closed, assigned to nobody

[2022-04-03 16:47] philnick206 commented on #5844
Hi @Robertght I was using an image that was 2000 ✕ 1200. But it is reproducible by skipping the crop as well. Here is a link to the image I used in the example: https://philnicktestahome.files.wordpress.com/2019/09/cropped-pexels-photo-2745258.jpeg

[2022-04-04 09:01] MaggieCabrera opened #5809 "Zoologist headstart bug"
It looks like Zoologist headstart is carrying a bug that was already fixed on the code of the theme. Mainly the extra div around the query pagination that was removed by https://github.com/Automattic/themes/pull/4805 but the headstart was never updated with this change.

To reproduce this I created a new site, starting with Zoologist as default theme and no other content than the default hello wor

[2022-04-04 16:20] iamtakashi commented on #5617
Any update on this issue, by any chance? Some patterns like this look bad with Blockbase for some time. Twenty Twenty Two doesn't seem to share this issue. Can we find some solution from the theme?

<img width="1230" alt="Screenshot 2022-04-04 at 17 14 12" src="https://user-images.githubusercontent.com/908665/161588064-7d10db68-49a7-4798-b092-7f574837d97d.png">

[2022-04-04 18:46] pbking commented on #5622
This doesn't seem to be limited to Quadrat but instead seems to be true of every Blockbase theme.

<img width="854" alt="image" src="https://user-images.githubusercontent.com/146530/161610729-2817cc73-67b8-4344-b58e-1b80d429a544.png">

This is due to some grid code used to style "unauthenticated users" form:
<img width="715" alt="image" src="https://user-images.githubusercontent.com/146530/1616108

[2022-04-04 20:00] jffng commented on #5628
I looked into this more, and it's intentionally hidden. Which I think makes sense, since we want to direct folks to a single source of truth for editing their menus. See https://github.com/Automattic/wp-calypso/pull/61040

Thinking / tinkering on this today, I opened this issue because I think it needs to be addressed upstream (i.e. the theme shouldn't be altering what menus and links appear in th

[2022-04-05 02:16] jamiepalatnik commented on #5602
Another report: 4920631-zd-woothemes
Theme: Twenty Twenty-Two (Pink)

[2022-04-05 08:51] mikachan opened #5814 "Cubic: spacing missing between gallery blocks"
## Steps to replicate

Since https://github.com/WordPress/gutenberg/pull/38164 has merged, there will now be no default margin set between gallery blocks. This will affect themes that were relying on the margin on the gallery images to provide a gap between galleries, rather than actually setting a top margin to separate the blocks. As GB has switched from using margin to gap to separate the image

[2022-04-05 09:14] MaggieCabrera commented on #5723
Looks like the same issue as https://github.com/Automattic/themes/issues/3291 and this is not theme specific, but an editor issue instead. I could reproduce with Twenty Thirteen. Any theme that doesn't define one of core's palette colors will fail to render the color in the frontend.

[2022-04-05 09:21] MaggieCabrera commented on #5723
https://github.com/WordPress/gutenberg/issues/40043 I opened a GB issue for this

[2022-04-05 09:55] mikachan commented on #5802
Yeah I think that's a great idea, especially for the Gutenberg plugin. Maybe the dependency on a particular Gutenberg version should be handled in the same way as the minimum required WordPress version for a theme, especially whilst the latest Gutenberg is not part of core. I'm not sure how this currently works, but happy to look into it!

[2022-04-05 10:19] pauljacobson opened #5827 "Apostrophe 2: Theme not selecting first image as featured image when this feature is enabled in Customizer"
### Quick summary

Our user has reported that Apostrophe 2 is no longer selecting the first image in their posts as the featured image, despite it having done so until recently.

This is problematic for the user for two reasons:

- the incorrect featured image can affect click throughs to the posts; and
- the user has a backlog of posts that don't have manual feature image selections, so needing t

[2022-04-05 11:29] beafialho commented on #5745
@pbking I also added a mobile [mockup](https://www.figma.com/file/JdntsOfLqo8Vy0d5uTWHTI/Pendant?node-id=1597%3A216) for the About page.

[2022-04-05 12:31] annbingle opened #5824 "Maywood Theme - Editor Background Color has changed from customized to white."
### Quick summary

The user has been seeing their Page and Post Editor with Black Background but they mentioned that after enabling SFTP in Hosting Configuration, the Editor is now in White Background.

However, the Live Site Background remains black which follows the Background color set in the theme.

HC - 35046621

### Steps to reproduce

1. Site: downtowncowtown.com
2. Theme: Maywood
3. On the

[2022-04-05 13:06] sajmes opened #5831 "Payton: Pingback alignment issue"
### Quick summary

When a pingback is added to a post on Payton, the pingback does not horizontally align properly with other comments.

The whole comment is slightly more left aligned than regular comments as there is no gravatar but the main issue is that `comment-meta` sits outside the column for comments entirely.

### Steps to reproduce

1. Set theme to Payton
2. Add and approve a pingback to

[2022-04-05 13:10] MaggieCabrera commented on #5628
+1, this should be solved via the issue you opened up on calypso

[2022-04-05 13:14] MaggieCabrera opened #5815 "Remote: pre launch tasks"
Tasks left to do to launch Remote on dotcom:

- [x] Headstart annotation D78187-code
- [x] Submit the annotation to linguine after deploy
- [x] Glotpress project D78189-code
- [x] Showcase page

[2022-04-05 13:36] MaggieCabrera commented on #5815
@kjellr @beafialho I created the showcase page but we are missing the images for it, as well as any tags you all want associated with the theme, if you could review it when you can it would be ace

[2022-04-05 13:50] kjellr commented on #5815
I'll pull together the images today. 👍

[2022-04-05 14:31] kjellr commented on #5815
Images should be all set. I took a look at the tags, and I think they're fine too. Should be all set!

[2022-04-05 14:33] MaggieCabrera commented on #5815
Thank you @kjellr !

[2022-04-05 15:34] pbking opened #5818 "Style Desktop Version of Navigation Overlay"
<img width="867" alt="image" src="https://user-images.githubusercontent.com/146530/161790872-d083b999-3728-40c4-905a-495ab8c772e5.png">

or

<img width="841" alt="image" src="https://user-images.githubusercontent.com/146530/161790907-f4a57905-d420-4ded-90ec-2b99453e65a6.png">

Make sure the [mobile navigation](https://github.com/Automattic/themes/pull/5800) design stays put.

[2022-04-05 15:39] pbking commented on #5616
This would be addressed if we bring in #5811

[2022-04-05 15:53] beafialho commented on #5818
Just to clarify, the second mockup is an example of what the menu would look like without subitems, and it should be vertically centered.

[2022-04-05 16:34] #5745 closed, assigned to nobody

[2022-04-05 19:35] Robertght commented on #5824
I can confirm this is an issue with Varia as well, but not all of them are affected.

Hever doesn't seem to be affected. On AT sites this is missing:

`#editor .editor-styles-wrapper, #editor .editor-styles-wrapper .fse-template-part .main-navigation > div > ul > li > .sub-menu ` and I can see it's from `custom-colors-editor-css-inline-css`

[2022-04-05 19:41] #5642 closed, assigned to nobody

[2022-04-05 19:44] pbking commented on #5616
This should be addressed now.  @iamtakashi are you able to confirm?

[2022-04-05 19:48] pbking commented on #5617
This should be addressed now in #5811. @iamtakashi are you able to confirm?

[2022-04-05 20:47] CodeAllNightNDay opened #5828 "Twenty Twenty-Two (Swiss): Contact Form Block within Cover Block width issues"

[2022-04-05 20:58] marcuswisecaesar commented on #5636
Ran into a similar issue here: 35054132-hc

Using the Dorna theme.

[2022-04-05 21:02] connorhipps commented on #3365
Another report (?) with Exford: 4923221-zd-woothemes

[2022-04-05 21:17] kathrynwp commented on #4728
Possibly related in 35058856-hc - when Full Width was set on a Group block, it overflowed the edges of the screen. Switching the Wide solved the issue.

[2022-04-06 10:51] #5815 closed, assigned to MaggieCabrera

[2022-04-06 14:22] beafialho commented on #5807
For the "Instagram" block, I redid it in the editor with columns and images. here's how it turned out:

<img width="1278" alt="Captura de ecrã 2022-04-06, às 15 13 47" src="https://user-images.githubusercontent.com/65220155/161996512-05719661-1122-4784-9d61-c9ced5efaed0.png">

Markup:

[code]

[2022-04-06 14:54] iamtakashi commented on #5616
Yes, I can confirm the issue has been fixed. Thank you all so much!!

[2022-04-06 14:54] #5616 closed, assigned to nobody

[2022-04-06 14:56] iamtakashi commented on #5617
Yes, I can confirm the issue is no longer seen. Thank you all so much!!

[2022-04-06 14:56] #5617 closed, assigned to nobody

[2022-04-06 15:59] zyousafi commented on #2437
Ran into a similar issue here: #4912843-zen
It's an Atomic Site and the user is currently using the `dyad-2` theme

Tweaked the CSS shared above, confirmed that it worked on the user's site, and shared the following with them:

[code]

[2022-04-06 18:47] #5680 closed, assigned to nobody

[2022-04-06 18:49] #5682 closed, assigned to nobody

[2022-04-06 19:28] Robertght commented on #5826
It appears to affect Varia themes, but I can't replicate with Blockbase/Blockbase child themes.

[2022-04-06 20:10] Robertght commented on #5828
I can confirm it's an issue with Twenty Twenty Two as well so it's not a child theme particularity.

[2022-04-06 20:17] Robertght commented on #5828
It looks like it may be a more general issue as I can replicate it with Blockbase as well.

@jeherve is this something more between the Form block and FSE?

cc @jeffikus

[2022-04-07 00:53] jamiepalatnik commented on #4789
This user returned in 35073195-hc to report that the More tag is still causing formatting issues. Recommended removing More tag to resolve and suggested using excerpts instead. User requested an email when this is fixed, since they have a lot of posts on their site and this bug is causing issues.

[2022-04-07 05:59] jeherve commented on #5828
It may be, yes. It would seem the contact form CSS is not properly enqueued on WordPress.com Simple when using Full Site Editing versus. adding the block to a post.

I'll transfer this to the Jetpack repo

[2022-04-07 10:07] MaggieCabrera commented on #5803
I added a list of themes so we can use this as an overview issue. Should we do this to Blockbase themes too?

[2022-04-07 11:43] mikachan commented on #5693
It looks like it's only Livro that overrides the button link color with `initial`, so I don't think we need to make the same changes to Archeo, Remote and Stewart. We do style the button states in these themes, and we're more opinionated about the colors that are used in each state. For example we usually force at least a `background-color` using a preset like `var(--wp--preset--color--primary)`.

[2022-04-07 12:11] Robertght commented on #5831
Thank you for reporting this! I think this may be related to this one: https://github.com/Automattic/themes/issues/5622

@pbking is this related or should we keep them separate?

[2022-04-07 15:50] KirkwallDay commented on #5202
Another case here: 35080608-hc

Weirdly some of their old buttons show this issue, the newer ones don't dim the backgorund color but make it black instead.

[2022-04-07 16:34] mikachan commented on #5803
I guess if we include Blockbase themes then we'd maybe need to bump the required WP version for Blockbase to 6.0, as it looks like this is being backported to 6.0 (https://github.com/WordPress/wordpress-develop/pull/2488). We've only just updated the required WP version here https://github.com/Automattic/themes/pull/5823 to 5.8.

Hmm, so I think we're better leaving Blockbase as it is for now, but

[2022-04-07 21:23] cuemarie commented on #2486
This same issue was reported here: 35072346-hc // follow up: 4929261-zd-woothemes

I can confirm, when I view the user's site on an iPhone -> Safari, the slider does not advance forward.

Providing this user with the CSS workaround that was provided in the chat above.

[2022-04-07 23:58] donalirl commented on #3131
#28366622-hc

[2022-04-08 04:46] Robertght commented on #2486
Thank you!

This appears to be a core theme issue and I've reported it here: https://core.trac.wordpress.org/ticket/55545#ticket

[2022-04-08 05:27] yashitamittal11 commented on #5602
Another report- #4931315-zen
Theme: Skatepark

[2022-04-08 09:23] KokkieH commented on #5399
I've just run into the same error when activating Russell on a self-hosted site

It also appears to break the Jetpack connection/XML-RPC.

[2022-04-08 09:46] MaggieCabrera commented on #5743
I don't think this is a theme issue, more a matter of how the user has modified the home template. The theme by default doesn't include the featured image on the home page for the query block so we can't really fix this in the theme, merely give this user the correct code to use on their site.

In this case this would be the query block for that specific user:

[code]

[2022-04-08 09:48] annbingle opened #5846 "Argent: Gallery Block Images doesn't render as a gallery in projects"
### Quick summary

In the Projects page, when images are added in the content area using Gallery Block, the images are displayed on top of the portfolio page as well when published.

It is only observed with Theme Argent in AT site, non-AT site and Pro sites.

The issue are not observed using other themes.

### Steps to reproduce

1. Go to Appearance > Themes.  Activate Argent.
2. Go to Portfolio

[2022-04-08 10:31] MaggieCabrera commented on #5399
Looks like the theme downloads script is failing and we are not generating the correct zips for the themes on Jetpack.

Might be related: https://github.com/Automattic/themes/issues/5150

[2022-04-08 10:59] MaggieCabrera commented on #5399
Running `php bin/themes/theme-downloads/build-theme-zip.php --stylesheet=pub/russell --themeversion=0.0.18` in my sandbox seemed to be generating the zips correctly but the manual tool is not working. The original problem with the PHP error is persisting on a Pressable site.

[2022-04-08 11:07] MaggieCabrera commented on #5399
Steps to reproduce this:

- Create a jurassic ninja site
- Link your WordPress.com account with Jetpack for the site
- on WordPress.com select the Russell theme for the jurassic ninja site

This shows up on the frontend:
<img width="1155" alt="Screenshot 2022-04-08 at 13 05 47" src="https://user-images.githubusercontent.com/3593343/162424033-32d2a6d2-2876-4112-8839-57143d121ab4.png">

[2022-04-08 11:12] MaggieCabrera opened #5832 "Jetpack theme downloads not working"
Looks like our internal tool for Jetpack theme downloads broke at some point after D58979-code

It looks like only the script is updating the zips but the tool doesn't work manually. Running the command `php bin/themes/theme-downloads/build-theme-zip.php --stylesheet=pub/twentyfifteen --themeversion=<version>` does work and updates the showcase zip files for the theme.

As a result, most of our th

[2022-04-08 11:14] MaggieCabrera commented on #5399
Opened https://github.com/Automattic/themes/issues/5832 to sort the problem with the zip creation tool separately.

[2022-04-08 11:27] MaggieCabrera commented on #5399
ok I found out more! looks like lib/theme-downloads.php on dotcom is adding this include to the functions.php files of themes, but russell doesn't have a functions.php file so instead of simply adding the lines to the end of the file, it needs to open the PHP tags as well for the include to work and not just be printed to the frontend

[2022-04-08 11:53] MaggieCabrera commented on #5399
D78439-code might solve this

[2022-04-08 12:19] mikachan commented on #5743
Thanks @MaggieCabrera, that makes sense!

I'll close this for now, but happy to re-open if this doesn't fix the issue.

[2022-04-08 12:19] #5743 closed, assigned to nobody

[2022-04-08 14:23] MaggieCabrera opened #5833 "Blockbase + block themes: comments block"
The new comments block is already in GB, we should start a PR to implement it on Blockbase and see how much CSS we can remove from it. The block will make it to 6.0 so we should update the required version accordingly.

https://github.com/WordPress/gutenberg/pull/40186

This goes for any of the block themes that may have extra CSS just for the comment block too

[2022-04-08 14:34] jffng commented on #5620
Thanks for the report, I looked at the [history of Dara's stylesheet](https://github.com/Automattic/themes/commits/trunk/dara/style.css) and these styles have not been updated in 4 years. Since the workaround is simple enough, I agree with @kjellr's suggestion that we shouldn't change it at this point because it could break the layout of many existing sites.

Going to close this one.

[2022-04-08 14:34] #5620 closed, assigned to nobody

[2022-04-08 14:37] jffng commented on #5628
Going to remove this from our board since it's reported upstream and there isn't anything actionable here for the moment.

[2022-04-08 14:57] jffng commented on #3686
Hi there, thanks for the report and follow up.

I tested this locally and on dotcom with Spearhead and am able to change the navigation block's text color, so it looks like the original issue has been resolved.

I looked at the happychat report which is quite the same issue, and verified that I can set custom colors via the customizer with Spearhead. While the palette shown in the editor does not

[2022-04-08 14:57] #3686 closed, assigned to nobody

[2022-04-08 17:29] mikachan commented on #5693
Here's a related GB issue for styling the button states instead of always falling back to white: https://github.com/WordPress/gutenberg/issues/34448

[2022-04-08 18:16] nerdysandy commented on #5602
Reported on 35093764-hc

Theme: Twenty Twenty-Two (Swiss)

[2022-04-09 00:41] jamiepalatnik commented on #5790
Another report: 4930846-zd-woothemes

Suggested using a full width YouTube block or the Align center alignment option as a workaround.

[2022-04-09 06:59] paulostp commented on #2384
Another report here: 4933261-zen.

This issue will also happen with Column blocks (one column with text, the other with a large image). Recommended changing to Media & Text block, and setting image size to Medium.

[2022-04-09 08:05] jromales opened #5835 "Argent: Contact Form button text isn't aligned"
### Quick summary

When creating a Contact Form in a Simple site and using Argent theme, the Send or Submit button's text is not centered properly. I've reproduced the issue using my test site and using the same theme.

### Steps to reproduce

1. Create a site and use Argent theme
2. Create a page with a simple Contact Form with the default settings
3.  Preview the page

### What you expected to h

[2022-04-09 08:24] as-esu commented on #3980
4933758-zen the user is stating that the issue does not appear on iPad WordPress.com App.
As a workaround suggested setting the same background colour in Editor as in Customizer.

[2022-04-09 14:55] nagpai commented on #5702
I am able to replicate this issue on a self-hosted ( TasteWP instance ) with Blockbase theme. So it looks like the issue is rooted in Blockbase

[2022-04-09 14:57] nagpai commented on #5702
Should we change the priority to high, since this will affect SEO of a very large number of websites?

[2022-04-09 23:04] happychait commented on #3311
I had a user ask for this in 35105720-hc

I also see a core request at: https://github.com/WordPress/gutenberg/issues/30519

[2022-04-10 07:19] nagpai commented on #5702
I compared the [functions.php of TwentyTwentyTwo](https://github.com/WordPress/twentytwentytwo/blob/27054dbcb95f5d72cd943a0f3318c3ad97599f85/functions.php#L22) with that of Blockbase.

I see that [Blockbase seems to have a line](https://github.com/Automattic/themes/blob/e05d9bd73507f1c3d5a360ca1f72fbf8d88e67e2/blockbase/functions.php#L20) with the template tag `add_theme_support( 'title-tag' );`

[2022-04-10 07:22] pauljacobson opened #5848 "Baskerville 2: Dot separators in Separator Block not rendering in Chromium browsers"
### Quick summary

Our user reported that the dot separators in the Separator Block don't display on their site for them. they mentioned that they are using Chrome. They do see at least one other separator style, though. The user is using the Baskerville 2 theme.

If I test a different theme, such as Blank Canvas, the dot separator loads in Chrome. This appears to be an issue with the theme in Chr

[2022-04-10 08:30] nagpai commented on #5702
Workaround - I tested this code snippet, that seems to do the job for now ( designed to work only with Blockbase child themes )

[code]

[2022-04-10 11:30] inaikem commented on #5836
Tested and replicated in a number of Varia themes. Switching to a non-Varia theme like TT1 resolved the issue.

Incidentally, switching to a retired premium theme like Ovation showed an Amazon link as expected, but _not_ the Goodreads link.

Transferring to the themes repo.

[2022-04-10 21:33] happychait commented on #3311
Another report in 35114903-hc

[2022-04-11 14:33] sstabrizi commented on #5189
Another report for the Morden theme: 34865907-hc

[2022-04-11 15:55] #5807 closed, assigned to nobody

[2022-04-11 16:57] #5686 closed, assigned to nobody

[2022-04-11 17:42] the-misha commented on #5132
User report: 2201689-hc

User requests follow-up when issue is resolved: 4939615-zd-woothemes

[2022-04-11 17:48] #5687 closed, assigned to matiasbenedetto

[2022-04-11 17:48] #5691 closed, assigned to matiasbenedetto

[2022-04-12 02:06] devNigel commented on #3877
Another report: 4933072-zd-woothemes

[2022-04-12 05:46] rw-ye commented on #3980
Another report here: 4940568-zd-woothemes

As a workaround, I recommended the user set a dark 'Foreground Color' in the Customizer setting and then add the following CSS:

[code]

[2022-04-12 06:36] danielk-am commented on #5602
Another one 35043875-hc
Theme: Skatepark

Provided the "filter: none" CSS workaround to remove the tint.

[2022-04-12 07:34] MaggieCabrera commented on #4639
We have tried reproducing this both in Hever and Coutoire, but weren't successful. Can you please provide with steps to reproduce this on simple sites?

[2022-04-12 07:58] Robertght commented on #5843
I'm not 100% sure how much is the theme influencing this, but I'm moving it to the Themes repo for now for more eyes on it.

cc @jeffikus or @MaggieCabrera if we can get more eyes on this. Thanks!

[2022-04-12 08:01] MaggieCabrera commented on #5843
I'm pretty sure that was a change in Gutenberg: https://github.com/WordPress/gutenberg/pull/38613

[2022-04-12 08:33] Robertght commented on #5844
Thank you for sharing @philnick206 ! This appears to be a core thing and I've reported it here: https://core.trac.wordpress.org/ticket/55561#ticket

[2022-04-12 08:56] Robertght commented on #5846
I can replicate this as well with the Gallery block, but not with the Tiled Gallery block.

Please recommend the [Tiled Gallery](https://wordpress.com/en/support/wordpress-editor/blocks/tiled-gallery-block/) block as a workaround.

[2022-04-12 09:07] MaggieCabrera opened #5847 "Blockbase: audit ponyfill for 6.0"
Now that 6.0 is near, we should review Blockbase's CSS and see if we can remove more stuff (and bump the WP required version as we do so).

- Comments block https://github.com/Automattic/themes/issues/5833
- Separator block changes https://github.com/Automattic/themes/pull/5834
- We could add variations that mirror the palettes we are providing in the customizer options. This will show theme devel

[2022-04-12 10:18] MaggieCabrera commented on #5445
I can't reproduce this anymore and I don't see the ads on the user site

[2022-04-12 10:29] druesome opened #5907 "Resonar: Blog Posts Block Appears Cut Off"
### Quick summary

When adding the Blog Posts block to a page, and then selecting the "Show media behind" option, the posts in the block appear cut off on a site using the Resonar theme.

<img src="https://d.pr/i/HZTj2E+" width="500" />

Ticket: 4940822-zen

### Steps to reproduce

1. Activate Resonar theme
2. Insert Blog Posts block into a page
3. Select the "Show media behind" option in the tool

[2022-04-12 10:40] druesome commented on #5907
Just to add to this, I just discoverd selecting the "Show media on top" option does not result in the images showing on top, but rather, on the right:

<img width="500" alt="Blog_Posts_block_–_My_Travel_Blog" src="https://user-images.githubusercontent.com/98869/162942536-91bb5ee6-8cf4-45c5-b533-871427416d95.png">

[2022-04-12 11:44] beafialho commented on #5692
@pbking since we will be no longer limited to color variations in themes, I added a few Style Variations to [the Figma file](https://www.figma.com/file/JdntsOfLqo8Vy0d5uTWHTI/?node-id=1729%3A50) that are fewer but accomplish totally different design moods.

[2022-04-12 13:30] MaggieCabrera opened #5850 "Tools: Stale issues action"
To help prune the repo of stale issues we should consider implementing an action the same way Gutenberg does for this type of thing:

https://github.com/WordPress/gutenberg/blob/trunk/.github/workflows/stale-issue-mark-stale.yml

There are a few things to consider:
- Should we close stale issues automatically?
- If so, how long do they need to be inactive for the action to close them?

[2022-04-12 14:06] MaggieCabrera opened #5851 "Tools: Action for hot issues"
We were discussing that one of the ways of knowing that an issue needs our attention over others is the amount activity and reports on an issue.

Maybe we can have an action that adds some kind of "Hot issue" label to issues that have a certain amount of comments.

[2022-04-12 15:11] MaggieCabrera commented on #5702
The title-tag support was added [here](https://github.com/Automattic/themes/pull/4118). It probably needed it back then and core caught up with that and now it's redundant. I vote to remove.

[2022-04-12 15:15] mikachan commented on #5702
I've just been testing Blockbase with and without the title-tag support and I saw no differences - the title tag still rendered correctly either way. I also tested with Yoast and I can see that removing the title-tag support fixes the duplication issue, so I think removing this sounds good to me too.

[2022-04-12 15:28] #5622 closed, assigned to nobody

[2022-04-12 15:48] pbking commented on #5399
D78439-code has been deployed.

[2022-04-12 15:48] #5399 closed, assigned to nobody

[2022-04-12 15:58] matiasbenedetto commented on #5803
Adding a PR for Stewart https://github.com/Automattic/themes/pull/5854

[2022-04-12 19:13] Robertght commented on #5843
As I'm not sure where should this be handled, as we had a recent similar case with Cubic: p1649072900167279-slack-C029FM1EH

cc @jasmussen

[2022-04-12 22:07] iamtakashi opened #5856 "Blockbase: Button block does not respect paddings defined in Global Styles"
## Steps to replicate

* Add a button on a page.
* Go to Global Styles and open the layout panel for Button block
* Change the paddings
* See the button not changing its size

## Result

The button stays the default style. The border-radius setting work as expected, but not the paddings. If I edit the paddings on the button individually, it works but not with Global Styles.

<img width="1437" alt=

[2022-04-12 22:29] happychait commented on #5846
Just had a customer report this bug in 4942320-zen in the Argent theme too.

Suggested using Tiled Gallery or other gallery blocks in the meanwhile.

[2022-04-13 00:59] happychait commented on #3311
Another report in 35137930-hc

[2022-04-13 04:05] jamiepalatnik commented on #3980
Another report: 29532609-hc
Suggested updating foreground color in Customizer and using CSS as a workaround.

[2022-04-13 04:20] mdtanjid0 commented on #3980
One more report: 29532609-hc

[2022-04-13 05:54] pauljacobson opened #5857 "Rebalance theme: Theme not setting first image in a post as the featured image"

[2022-04-13 05:54] pauljacobson opened #6000 "Customizer not always displaying first image in the post as the featured image, multiple themes"
### Quick summary

Our user reported that their site is not setting the first image in a post as the featured image, despite enabling this feature in the Customizer, in _Content Options_. The user reported that this has been working for several years, and this behavior has now changed.

This issue seems to be related to this issue for the Apostrophe 2 theme: [Apostrophe 2: Theme not selecting firs

[2022-04-13 07:25] jasmussen commented on #5843
@youknowriad I think this is behaving as intended for block themes, right? The aligment to center columns requires another group, right?

[2022-04-13 07:26] MaggieCabrera commented on #5227
I'm closing this one since we already included multiple footers and headers for Blockbase

[2022-04-13 07:26] #5227 closed, assigned to nobody

[2022-04-13 07:26] #4538 closed, assigned to nobody

[2022-04-13 07:36] MaggieCabrera commented on #4789
This is not a bug, simply the way the block works, as @madhusudhand mentioned. I'm closing this one as there's nothing we can do from a theme perspective

[2022-04-13 07:36] #4789 closed, assigned to nobody

[2022-04-13 07:37] MaggieCabrera commented on #5445
I'm closing this one for now, if this surfaces again on a site we can reproduce this bug on please feel free to reopen

[2022-04-13 07:37] #5445 closed, assigned to nobody

[2022-04-13 07:39] MaggieCabrera commented on #5723
I'm closing this one since it's a bug in the editor, please refer to the GB issue for a solution to this

[2022-04-13 07:39] #5723 closed, assigned to nobody

[2022-04-13 07:44] MaggieCabrera commented on #5776
Closing since this was resolved upstream

[2022-04-13 07:44] #5776 closed, assigned to jffng

[2022-04-13 07:45] #5760 closed, assigned to nobody

[2022-04-13 07:52] MaggieCabrera commented on #5761
This was fixed via https://github.com/Automattic/themes/pull/5354

[2022-04-13 07:54] #4812 closed, assigned to nobody

[2022-04-13 09:36] cecilearkay commented on #3080
I think it goes beyond that, there must be some setting somewhere that's preventing the meta elements to be hidden. In my case, the user's front page is set to latest blog posts, like in the demo, as opposed to your case where you add the _Blog Posts_ block to a page.

If you look in the CSS any post is set to have `display:none` on several on the entry meta:

**Sticky posts:**
<img width="378" al

[2022-04-13 13:26] #5850 closed, assigned to nobody

[2022-04-13 13:40] #5818 closed, assigned to nobody

[2022-04-13 17:03] pbking opened #5860 "Pendant: Correct Pattern Categories"
None of the patterns seem to be put into the correct categories.  And there is currently no category creation logic to support that (such as [this](https://github.com/Automattic/themes/blob/trunk/archeo/functions.php#L70) in Archeo)

[2022-04-13 20:03] jp-imagines commented on #4730
Another report in 35151362-hc. Gave user the [CSS workaround](https://github.com/Automattic/themes/issues/4730#issuecomment-967772245).

[2022-04-13 20:48] blackjackkent commented on #5702
Delayed reaction, but yes, Serenity can pull this in on our next sprint. 😄

[2022-04-14 03:31] KokkieH commented on #5410
A user report in https://wordpress.com/forums/topic/blockbase-theme-defaults-to-404-template/?view=all, using Blockbase

[2022-04-14 05:56] madhusudhand commented on #5814
Parent theme `boardwalk` also impacted.

[2022-04-14 08:21] beafialho commented on #5684
Here's the Pendant screenshot:

![Pendant Screenshot](https://user-images.githubusercontent.com/65220155/163344501-2f90098b-c91d-4e2a-b754-257bdc37d6e2.png)

[2022-04-14 08:38] beafialho opened #5863 "Pendant: "Our Picks" pattern adjustment to align with page's content"
_Related to #5690_

In the demo site, I noticed this pattern wasn't vertically aligned with the rest of the content, as it is on Figma.

To achieve that, I used the columns block instead of the row block but I'm not sure that's a good alternative because it doesn't scale very well. Could someone look into what the best alternative is to achieve the design?

<img width="1531" alt="Captura de ecrã 2

[2022-04-14 08:55] beafialho opened #5864 "Pendant: Buttons visual refinements"
The buttons `font-size` should be **15px** (I think now it's **16px**) and it should have a bit more padding.

| Currently      | Intended |
| ----------- | ----------- |
|  <img width="190" alt="Captura de ecrã 2022-04-14, às 09 43 46" src="https://user-images.githubusercontent.com/65220155/163349479-8b32b82f-23e6-48d3-8a06-dce0f700e45e.png"> |    <img width="362" alt="Captura de ecrã 2022-04-

[2022-04-14 09:09] beafialho opened #5865 "Pendant: Adjust spacing and alignment in desktop menu"
The desktop menu should be horizontally centered and the space between items should be tighter.

| Currently      | Intended |
| ----------- | ----------- |
|  <img width="1529" alt="Captura de ecrã 2022-04-14, às 09 56 35" src="https://user-images.githubusercontent.com/65220155/163350944-8bee5d62-ea3c-4a16-8073-0384f29a7884.png">   |    <img width="1105" alt="Captura de ecrã 2022-04-14, às 09

[2022-04-14 09:49] beafialho opened #5866 "Pendant: Standardise Category terms styles"
I'm currently seeing different treatments for the Category terms:

<img width="395" alt="Captura de ecrã 2022-04-14, às 10 44 24" src="https://user-images.githubusercontent.com/65220155/163359672-2d4d8d77-9e1a-4e33-9909-39970a46ada7.png">

<img width="337" alt="Captura de ecrã 2022-04-14, às 10 44 43" src="https://user-images.githubusercontent.com/65220155/163359673-f3d601ea-bef7-400d-8adc-2a2

[2022-04-14 10:15] beafialho opened #5867 "Pendant: Post template refinements"
**1. Add padding to post category.** Here I added 15px padding.

https://user-images.githubusercontent.com/65220155/163361830-98558826-489d-4896-9b53-68c09e165216.mp4

**2. Adjust post titles, H1, H2 and H3's line heights to 1.2**

| 1.5      | 1.2 |
| ----------- | ----------- |
|   <img width="1246" alt="Captura de ecrã 2022-04-14, às 10 51 25" src="https://user-images.githubusercontent.com/65

[2022-04-14 10:17] beafialho opened #5868 "Pendant: Make Site Title a clickable link to Home"
Right now, Site Title is not a link.

https://user-images.githubusercontent.com/65220155/163365200-50585612-c76b-4e40-8ed5-7104de1d7084.mp4

[2022-04-14 12:08] #5615 closed, assigned to nobody

[2022-04-14 12:12] pbking commented on #5863
@beafialho I worked on that very problem for a while. :(

I was able to achieve the desired desktop design using `justify: space between`.  However as you have noted the smaller screen doesn't work out.

using `justify: center` makes the layout work on smaller screens but (as you have noted) doesn't align as desired on the desktop.

If both can be achieved (without custom CSS and breakpoints) I've

[2022-04-14 15:32] vajrasar commented on #3263
I checked this report [here](https://github.com/Automattic/wp-calypso/issues/50171#issuecomment-1099305423) and could not replicate it on any theme.

[2022-04-14 15:47] ivan-ottinger commented on #3080
That's a good find!

I looked into the Canard theme `style.css` CSS and there's this section (reflecting the same CSS class visible in one of your screenshots):

[code]

That's probably the root cause hiding the byline section from the places where it shouldn't be applied.

[2022-04-14 15:49] mikachan commented on #3263
Thanks for checking and confirming @vajrasar. I'll close this issue then, but please feel free to open again if needed.

[2022-04-14 15:49] #3263 closed, assigned to nobody

[2022-04-14 15:51] beafialho opened #5872 "Pendant: Display only the first category"
Maybe omitting categories isn't a good practice, but I'd like to know your opinion: is it possible to avoid this visually when there are plenty of categories? Perhaps showing only the first or main category. Or having "Antique & Vintage Jewellery _and More_"

<img width="1489" alt="Captura de ecrã 2022-04-14, às 16 45 30" src="https://user-images.githubusercontent.com/65220155/163426393-97df9163

[2022-04-14 16:22] CodeAllNightNDay opened #5875 "Illustratr: Duplicate Gallery Block at top of post"
### Quick summary

I had a user who now has a duplicate Gallery showing at the top of a post. The gallery appears to be a duplicate of another gallery lower down the page. There is nothing in the editor to indicate the gallery should show at the top but it shows on the [live page.](https://lucanellacucina.com/2022/01/10/palermo-the-path-of-food-knowledge-and-people/)
4947736-zen

### Steps to repr

[2022-04-14 16:59] pbking commented on #5872
I'm not sure that this is a thing that can be accomplished with the block... I think I COULD do some CSS trickery to make anything after the first be `display:none` but that seems dangerous in practice since then there wouldn't be an option for a user to leverage multiple should they want to.

A better solution, I think, is to just add a single category to the post giving that control to the user

[2022-04-14 17:50] pbking commented on #5867
Interestingly I'm unable to reproduce the H5/H6 weight issue noted above.  What is rendering for me is clearly darker than the screenshots you've created though.   If it remains a problem perhaps we can open a separate issue to get to the bottom of it.

<img width="341" alt="image" src="https://user-images.githubusercontent.com/146530/163448514-44da7904-5927-4bcf-b5cf-819361909bf2.png">
<img width

[2022-04-14 18:14] Robertght commented on #5875
This is caused by the Gallery post format. We can use this CSS as a workaround:

[code]

[2022-04-14 18:18] CodeAllNightNDay commented on #5875
Thank you @Robertght I'm going to share this CSS with them as an update to what I previously shared.

[2022-04-15 08:40] Robertght commented on #4131
This appears to be no longer valid.

[2022-04-15 08:40] #4131 closed, assigned to nobody

[2022-04-15 08:51] Robertght commented on #1673
I'm no longer able to replicate this issue with the themes mentioned as we have styling options for the captions:

![image](https://user-images.githubusercontent.com/6737345/163549073-27be155d-9fba-4419-8415-40f464a109b1.png)

![image](https://user-images.githubusercontent.com/6737345/163549106-baa2eff1-1578-4eef-861c-4e78e1a9e338.png)

I'm going to close this one for now, but please open it in ca

[2022-04-15 08:51] #1673 closed

[2022-04-15 08:59] Robertght commented on #2100
I'm unable to replicate the logo blurriness anymore at this point and what remains a noticeable problem is this: https://github.com/Automattic/themes/issues/2066

[2022-04-15 08:59] #2100 closed

[2022-04-15 13:44] #5868 closed, assigned to nobody

[2022-04-15 13:44] #5684 closed, assigned to nobody

[2022-04-15 13:45] #5866 closed, assigned to nobody

[2022-04-15 13:49] pbking commented on #5814
I see the potential fix can be found here: D78763-code

Looks like a situation isn't covered by that fix (yet) though. (`.wp-block-gallery:not(.has-nested-images`) and needs another look-see.  Moving back to in-progress for some more tweaking.

[2022-04-15 14:02] #5864 closed, assigned to pbking

[2022-04-15 15:10] pbking commented on #5856
This was on purpose.  Button padding control is leveraged differently in Blockbase in order to apply the opinion to buttons that aren't button blocks (form buttons, etc).  Padding is actually controled via [custom properties](https://github.com/Automattic/themes/blob/trunk/blockbase/theme.json#L120).

A better Blockbase solution would probably be to disable the user-controlled padding customizatio

[2022-04-15 17:54] eduardozulian commented on #679
Still happening. The workaround is to disable lazy load.

Report: 4948397-hc

[2022-04-15 18:43] Robertght commented on #3722
I think this is a general issue and I believe it's not as specific to only the title, but mostly to the general layout.

Is this still a valid concern @jeffikus ?

[2022-04-15 18:48] Robertght commented on #3678
As a workaround, I used SHIFT+RETURN to mimic the formatting of the post.

[2022-04-15 19:08] Robertght commented on #3753
It looks like this is a theme thing on ORG as well so I reported it here: https://core.trac.wordpress.org/ticket/55581#ticket

Workaround:

[code]

[2022-04-16 00:17] Gustavo-Hilario opened #5891 "Coherent: Header Image is not working"
### Quick summary

When setting a `header image`, the header image isn't showing up either on the site's customizer and home page.

### Steps to reproduce

1. Activate the `Coherent` theme.
2. Go to WordPress.com > My Sites > Appearance > Customize > Header Image.
3. Upload an image or try to use one of the suggested images.

No header image will appear there.

### What you expected to happen

The

[2022-04-16 02:37] jamiepalatnik commented on #5052
Another report: 35175401-hc

[2022-04-16 03:26] jromales commented on #5602
Another one here: 4951832-zd-woothemes

Theme: Twenty Twenty-Two (Pink)

I shared CSS snippet as workaround fix

[2022-04-16 15:05] ariel-maidana opened #5892 "Twenty Sixteen: changing the fonts in the Customizer doesn't impact the live site (Atomic)"
### Quick summary

Changing both the **Headings** and the **Base Font** in the Customizer shows in the preview, but doesn't impact the live site when using the Twenty Sixteen theme. This only affects Atomic sites.

### Steps to reproduce

1. On an Atomic site, activate the Twenty Sixteen theme.
2. Go to Appearance ---> Customize ---> Fonts.
3. Change the **Headings** and **Base** fonts.
4. Save th

[2022-04-16 17:05] supernovia commented on #2642
👋  Could this feature be added to our .org version of Spearhead? See this thread:
https://wordpress.org/support/topic/disable-light-mode/

[2022-04-16 17:37] ariel-maidana commented on #5892
**Update:*** The issue was solved by deactivating AMP in 4952555-zd-woothemes and the test sites.

[2022-04-16 21:24] supernovia commented on #5602
Since we aren't supposed to glomb onto Gutenberg github issues, we have another case here:
https://wordpress.com/forums/topic/duotone-remove-from-my-blog/

The CSS snippet won't work on free sites. Noting this case for followup.

[2022-04-17 12:52] aetta commented on #2871
+1 for images not overhanging.

zd-#4953944

[2022-04-17 19:25] supernovia opened #5893 "Rebalance Theme: .author positioning breaks in post carousel block"
### Quick summary

When using Rebalance with Post Carousel, the author meta doesn't appear properly.

### Steps to reproduce

1. Use Rebalance
2. Set up a post carousel block
3. Make sure to toggle the option to display author
4. View the carousel

### What you expected to happen

I would expect to see the author name in the carousel block by the other meta.

### What actually happened

The author

[2022-04-17 19:51] the-misha commented on #5875
Hi! User reports this CSS code isn't working on [their reviews category page](https://lucanellacucina.com/category/reviews/). I can get it to work by removing `.single-format-gallery`, but that will hit every `.entry-gallery` on their site. Suggestions?

[2022-04-18 02:26] supernovia opened #5894 "Dorna, Hari, etc: Comment form labels overlap on mobile"
### Quick summary

The labels in the Leave a Reply area overlap on mobile devices.
<img width="338" alt="Screen Shot 2022-04-17 at 8 14 58 PM" src="https://user-images.githubusercontent.com/3476361/163743947-7fef14ef-2106-4d12-8ef9-20e6a45c17d5.png">

### Steps to reproduce

1. Start with a site that has posts.
2. Enable Dorna.
3. Use a mobile phone to find a post, then scroll down and look at the

[2022-04-18 09:09] beafialho commented on #5872
Giving users control also seems like the best approach to me. I'm not sure I get your solution though, do you mean leaving it as it is?

[2022-04-18 09:22] beafialho commented on #5863
I see. I think by removing the Row block I managed to get it scaling down a little better:

https://user-images.githubusercontent.com/65220155/163787201-331c10d9-814a-4cda-968a-f5b64e77f111.mp4

The only thing that bugs me is the heading not being centered on mobile. Is that something we can adjust with CSS?

[2022-04-18 10:11] MaggieCabrera commented on #5500
@beafialho do you think we should add some style variations to Remote for 6.0? We have a few color variations on Figma

[2022-04-18 10:19] MaggieCabrera commented on #2454
We should confirm if this one was fixed by https://github.com/Automattic/themes/pull/2662

[2022-04-18 10:23] MaggieCabrera commented on #5171
That link isn't showing me the zendesk ticket and I can't reproduce this with Quadrat Black, can you please share the steps you are following to see this issue?

[2022-04-18 10:24] MaggieCabrera commented on #1852
Is this still happening?

[2022-04-18 10:28] MaggieCabrera commented on #927
I've deleted branches on merged PRs, I think we should close this one

[2022-04-18 10:35] #4149 closed, assigned to nobody

[2022-04-18 10:43] beafialho commented on #5500
I don't see why not, we're also working on some for Pendant. I'll iterate on it 👍

[2022-04-18 10:45] rachelwinspear opened #5895 "Boardwalk: Column margin issue"
### Quick summary

Theme Boardwalk shows additional margin-bottom after Column Block.

### Steps to reproduce

1. Activate Boardwalk theme
2. Go to a post or page
3. Add a Paragraph Block
4. Below add a Column Block and add content
5. Add a new Paragraph Block below

You will see the space above and below the Column Block is different, whereas it should be consistent throughout the site.

Screensh

[2022-04-18 10:46] madhusudhand commented on #5753
None of the block themes have `term-description` block and introducing the new block might confuse existing users. discussion ref: https://github.com/Automattic/themes/pull/5838#issuecomment-1095069014

users can add `term-description` block in the `archive` page template using FSE.
We would consider adding this block selectively in the future themes by default and closing this.

[2022-04-18 10:46] #5753 closed, assigned to madhusudhand

[2022-04-18 15:02] #927 closed

[2022-04-18 15:28] pbking commented on #5872
Yea, that what I mean; just leaving it as-is and if the user only wants to show one category they just assign one category to the post.

Going to close this with that in mind, but if you have other thoughts on the matter please open it back up.

[2022-04-18 15:28] #5872 closed, assigned to nobody

[2022-04-18 15:29] MaggieCabrera commented on #5689
Test to see if the Stale label goes away

[2022-04-18 16:15] jffng opened #5880 "Block themes: update templates to use Comments Query Loop"
Now that the Comments Query Loop has mostly landed in Gutenberg, I think we should update our block themes' templates to use this block + the Post Comments Form block, instead of the deprecated Post Comments block.

- [ ] Blockbase
- [ ] Archeo
- [ ] Skatepark
- [ ] Quadrat
- [ ] Videomaker
- [ ] Stewart
- [ ] Zoologist
- [ ] Livro
- [ ] Pendant

[2022-04-18 17:18] pbking opened #5881 "Pendant Variation Improvements: Electric Blue"
Continues Progress of #5692

This variation should have Bold H1's, but Regular in other headings and post titles. The other font, IBM Plex Mono should use Regular instead of Light and it should use Bold on buttons.

![](https://user-images.githubusercontent.com/65220155/163799791-08047f92-2fc0-4733-985b-095dfa94a12e.png)

![](https://user-images.githubusercontent.com/65220155/163799814-adb37234-18

[2022-04-18 17:19] pbking opened #5882 "Pendant Variation Improvements: Dark Navy"
Continues Progress of https://github.com/Automattic/themes/issues/5692

Headings and post titles should be Light but paragraphs should be Regular. Also, there are some that should use Bold. These are H4 from what I see in the editor?

![](https://user-images.githubusercontent.com/65220155/163800361-7a2fdcd5-460b-41f0-aee5-c5df2c837726.png)

![](https://user-images.githubusercontent.com/65220155/16

[2022-04-18 19:22] upwardmomentum84 opened #5896 "Skatepark: Duotone still applying to images even after clearing duotone setting"
### Quick summary

Using Skatepark theme. When you set the duotone filter on images to "clear", they do not reflect the change on the live site. The editor does show the images as expected (with the duotone filter removed).

### Steps to reproduce

1. Install and activate Skatepark.
2. Edit site with Site Editor.
3. Insert various blocks with images such as a Cover block, Post Featured Image block

[2022-04-19 02:32] supernovia commented on #2871
So, I went to add screenshots to this today, and lo and behold, my images overhang now if I enter them using the classic block. Even if the rest of the post is in normal blocks. Add a classic block, add an image, and done. @chiape do you want to pass that along to your customer?

Quotes don't overhang as they do in the demo though, _regardless_ of whether I'm using the block editor or classic. We

[2022-04-19 08:57] KokkieH opened #5890 "Skatepark: Archive Page Isn't Filtering By Tag/Category"
### Quick summary

Appears to be identical to https://github.com/Automattic/themes/issues/5606 - on category and tag pages, posts aren't actually being filtered by tag/category. When editing the archive template in the site editor, the Query Loop block has the option, `Inherit query from template` switched off by default, but that needs to be enabled for category/tag pages to work correctly.

###

[2022-04-19 09:19] beafialho opened #5883 "Pendant: Post navigation not looking like mockup on smaller screens"
| Demo Site      | Mockup |
| ----------- | ----------- |
|  <img width="350" alt="Captura de ecrã 2022-04-19, às 10 15 31" src="https://user-images.githubusercontent.com/65220155/163972076-e2c00445-5742-4f83-8973-b6d05071df2e.png">    |   <img width="271" alt="Captura de ecrã 2022-04-19, às 10 15 13" src="https://user-images.githubusercontent.com/65220155/163972045-27bd97c0-1ee9-4325-baa2-83e

[2022-04-19 09:33] beafialho commented on #5867
Thought I'd reopen this because the post date is currently looking a bit too tight compared to the intended.

| Current      | Intended |
| ----------- | ----------- |
|  <img width="1126" alt="Captura de ecrã 2022-04-19, às 10 21 53" src="https://user-images.githubusercontent.com/65220155/163973303-5a4aca6e-0838-4a76-8cd0-23f07bff202d.png">    |      <img width="1103" alt="Captura de ecrã 2022

[2022-04-19 10:12] beafialho opened #5884 "Pendant: Block Patterns"
The patterns showing up for me aren't the same ones specified on [Figma](https://www.figma.com/file/JdntsOfLqo8Vy0d5uTWHTI/Pendant?node-id=661%3A149). Here are the ones showing up:

<img width="1101" alt="Captura de ecrã 2022-04-19, às 11 04 56" src="https://user-images.githubusercontent.com/65220155/163981027-8a3c964d-c097-4f45-acfe-dc0c8f5bf854.png">

<img width="1093" alt="Captura de ecrã 20

[2022-04-19 10:25] KokkieH commented on #5602
Another in https://wordpress.com/forums/topic/images-are-greyscale/ using Twenty Twenty-Two(Swiss)

Recommended they use Twenty Twenty-Two for now.

[2022-04-19 11:00] Robertght commented on #5875
@the-misha

This would do:

[code]

[2022-04-19 11:30] beafialho opened #5885 "Pendant: Link colors"
When working on the demo site, I added a link to the "October Picks" heading in the banner and the link's default color is Black. When trying to set it to White, all other links in the page turned white, which just inverted the problem.

<img width="1250" alt="Captura de ecrã 2022-04-19, às 12 28 27" src="https://user-images.githubusercontent.com/65220155/163993943-0a15d961-d787-463a-b0cf-726fc5

[2022-04-19 13:20] pbking commented on #5689
It has not yet gone away... perhaps because of the limited number of items the action works on?  And since we started at the bottom and worked our way back up?

[2022-04-19 14:08] iamtakashi commented on #5856
@pbking, thanks for the info.

Twenty Twenty-Two seems to allow the padding specified in Global Styles to be also applied to a button in the comment form, for example, though? There is a difference in line-height, but both the buttons have the same custom style specified in Global Styles. What am I missing? Why can't Blockbase do the same thing as TT2 does?

<img width="713" alt="Screenshot 2022-0

[2022-04-19 14:45] beafialho commented on #4201
`40px` sounds reasonable for the blocks mentioned above.

<img width="1001" alt="Captura de ecrã 2022-04-19, às 15 43 03" src="https://user-images.githubusercontent.com/65220155/164030937-e2ca4641-f0b2-49fa-95b1-11b13f3b0413.png">

[2022-04-19 16:14] Robertght commented on #5891
It looks like this may be a thing specific for the posts page, but I'm not 100% sure;

https://wordpress.com/theme/coherent/

[2022-04-19 16:19] kerrynicl commented on #5891
I checked here and i'm not able to see the header on the site or customizer either
<img width="957" alt="Markup 2022-04-19 at 11 16 45" src="https://user-images.githubusercontent.com/83325600/164049614-81aae16b-9964-40b2-b084-dd1630b351d8.png">

[2022-04-19 16:23] Robertght commented on #5892
Just to add. I don't see a Fonts option on the self-hosted site and it appears to be related to the Jetpack Fonts.

[2022-04-19 16:26] Gustavo-Hilario commented on #5891
Yep. I noticed that from the theme doc. However, the header image is still not showing up on the `blog page`. It's not working either on the customizer or published page.

[2022-04-19 16:39] Robertght commented on #5894
Thank you @supernovia ! I believe this may be somewhat related:

https://github.com/Automattic/themes/issues/5880

cc @jffng for a second look

[2022-04-19 16:51] Robertght commented on #5896
The code that affects this is:

[code]

Similar case: https://github.com/Automattic/themes/issues/5602

[2022-04-19 16:55] Robertght commented on #5891
The Header image appears to work only if the homepage is set to display the Latest Posts.

[2022-04-19 16:58] Gustavo-Hilario commented on #5891
Yes! I can confirm that. Maybe this is a `bug` per si, but we should at least clarify that on the theme docs. It would be even better if we had a notice on Customizer when this happens.

[2022-04-19 18:55] radtechgh commented on #5286
Another instance, 4956238-zen. 2022 theme, Personal plan, Form block.
Also tried on Premium test site, Form block, 2022 theme, same issue.

[2022-04-19 19:55] kathrynwp opened #5897 "Hari, Marl: Form fields extremely hard to see"
### Quick summary

The default form field borders are too light, and there is no background colour on the form fields themselves, making it extremely hard to see the fields

With default colour scheme:

![Contact_–_Global_Styles_Demo](https://user-images.githubusercontent.com/7662449/164084622-bc462b18-8d4d-43b1-b387-8449933c4a11.jpg)

With a different background colour chosen by user:
![Point_Gre

[2022-04-19 20:00] pbking commented on #5863
Yes.  I can apply a special class to the pattern.  The pattern will only be aligned as expected when used in Pendant though; That is the only issue, though I consider it a biggish one.

If the pattern requires Pendant be activated to look as intended then it probably shouldn't be in the pattern registry.  And if that's the case then perhaps it shouldn't be a pattern. And if it isn't available as a

[2022-04-19 20:55] pbking commented on #5863
And I have failed again.

I can make it look good on mobile or desktop but not both.  I advocate against custom CSS for a pattern so perhaps we could try something else?

Would a design something like this work out OK @beafialho?

Desktop:
<img width="600" alt="image" src="https://user-images.githubusercontent.com/146530/164093976-ddc30687-391e-4a68-af20-1ba9b5b98546.png">

Mobile:
<img width="300

[2022-04-19 21:15] pbking commented on #5856
Things have progressed since Blockbase was born; it was very much a bridge to cover the things that we weren't able to do otherwise.  However, that did set us down a rather specific path.  Blockbase is quite opinionated in implementation with the facade of openness.  Additionally Blockbase allows for more options for button states (hover most specifically) that TwentyTwentyTwo doesn't cover.

I th

[2022-04-20 05:15] Robertght commented on #5897
I can confirm this is happening also with Marl.

[2022-04-20 07:47] madhusudhand opened #5898 "Pendant: with many popular topics, Latest Interviews section has huge blank space"
## Steps to replicate

when there are topics > 10, observe that page creates blank space.

## Result

![pendant-fullpage](https://user-images.githubusercontent.com/1935113/164177286-80998cbc-b487-498d-864f-ef5623a2e60e.png)

## Expected

Topics should be limited.

[2022-04-20 09:44] #5803 closed, assigned to nobody

[2022-04-20 11:04] beafialho commented on #5863
Yes @pbking always centered seems like the best way. Thanks!

[2022-04-20 11:06] beafialho commented on #5898
Good catch @madhusudhand! What do you suggest to limit the categories? Something like a "See All" button?

[2022-04-20 17:01] iamtakashi commented on #5856
@pbking, thank you for the detailed answer. Much appreciated.

Do you know any Gutenberg ticket to tackle the state style control? That seems to be something we need to raise if there isn't one yet.

[2022-04-20 18:21] #5883 closed, assigned to pbking

[2022-04-20 18:21] #5885 closed, assigned to pbking

[2022-04-20 18:21] #5867 closed, assigned to pbking

[2022-04-21 08:06] madhusudhand commented on #5856
@pbking I have created a PR for this. Do you think it is the right direction?

[2022-04-21 08:31] madhusudhand commented on #5856
@pbking I created a small PR related to this. I guess it can be part of target GB version 6.0.
I would also need to test child themes. Can you help me understand impact areas around this?

Related issues: #5847

[2022-04-21 08:52] Robertght commented on #760
Based on this https://github.com/Automattic/themes/pull/791, it appears it's related to the retired themes.

Closing

[2022-04-21 08:52] #760 closed

[2022-04-21 09:10] Robertght commented on #211
I cannot replicate this with the classic or the block editor at the moment, but I can still see this is an issue on this post: https://bigadventure.blog/2018/07/21/florida-part-3-just-the-tip/

[2022-04-21 09:15] Robertght commented on #155
I can confirm this is still an issue.

[2022-04-21 10:10] KokkieH commented on #5896
It's the same case, i.e. it's the same core bug affecting both themes. There are already several reports of Skatepark in that issue, so we can likely close this one as a duplicate - that other issue is just for collecting reports for follow-up, and sticking to one keeps all of those in the same place :)

[2022-04-21 10:11] KokkieH commented on #5602
https://wordpress.com/forums/topic/my-pictures-turn-black-and-white/ using Skatepark

[2022-04-21 11:19] Robertght commented on #5896
Closing as a dupe of https://github.com/Automattic/themes/issues/5602

Confirmed in slack: p1650539465316439-slack-C029FM1EH

[2022-04-21 11:19] #5896 closed, assigned to nobody

[2022-04-21 11:42] mikachan opened #5902 "Multiple Themes: update changelogs"
We've recently [merged a change](https://github.com/Automattic/themes/pull/5889) that will help keep our theme changelogs up to date going forwards, however, a lot of themes are still missing historical changes from their changelogs.

Should we update all/most/some of our theme changelogs?

My thinking at the moment is that at the very least we should probably update the changelogs for our most re

[2022-04-21 12:33] pbking commented on #5902
Hrm.  This got me thinking and tinkering and I might have a small change to the work you did in theme-utils.mjs that would allow us to create these missing changelogs.  Or at least get them mostly created and make the process a bit faster...

[2022-04-21 13:22] mikachan commented on #5902
That sounds amazing!

[2022-04-21 14:23] #5902 closed, assigned to nobody

[2022-04-21 15:48] pbking commented on #5856
@madhusudhand I left comments on that branch #5901

[2022-04-22 04:44] madhusudhand commented on #5898
Yes. We can limit the categories to a maximum of 10-12 (that fits in the given height) and add "See All" button.

[2022-04-22 07:50] MaggieCabrera commented on #5689
Looking at the actions it seems like it's always processing the same batch of issues, so I'm going to see what's going on with that

[2022-04-22 08:40] MaggieCabrera commented on #5880
Also https://github.com/Automattic/themes/issues/5833

Please note that the Comments form block is not going to make it to 6.0, but it's good that we start opening the PRs in any case

[2022-04-22 08:51] kingsleyinfo commented on #1377
An HC reported this here 4952315-zd-woothemes

They suggested a block paragraph, as the user is on the Personal plan and cannot use custom CSS.

[2022-04-22 13:47] jffng commented on #5880
Oops, I should have checked for an existing issue first. Closing this one so we track using one issue.

[2022-04-22 13:47] #5880 closed, assigned to nobody

[2022-04-22 17:29] jeffikus commented on #4792
@zdenys - this seems to be a very old issue which I tested now and it works for me; screenshots below:

**Editor - size set to small 18px**
<img width="898" alt="Screenshot 2022-04-22 at 13 27 31" src="https://user-images.githubusercontent.com/937325/164764763-36c41a20-02f2-4cde-a2c5-11221ea8ce36.png">

**Frontend - computes to 18px**
<img width="643" alt="Screenshot 2022-04-22 at 13 27 54" src="h

[2022-04-22 17:29] #4792 closed, assigned to nobody

[2022-04-22 17:38] jeffikus commented on #5802
I'd like to dig into this in our Monday meeting. Will add it to the agenda.

[2022-04-22 17:40] jeffikus commented on #5809
Sounds like a small change. Let's keep this on the board. @pbking and I are going to work on the headstart for Pendant next week so I could perhaps look at this at the same time.

[2022-04-22 17:42] jeffikus commented on #5833
@MaggieCabrera would we need to wait for 6.0 to ship first before shipping updates to the themes, or can we ship in preparation for this?

[2022-04-22 17:45] jeffikus commented on #5847
Nice work creating this 'overview' issue.

[2022-04-22 17:50] jeffikus commented on #5851
@MaggieCabrera perhaps we could use some of this https://github.com/marketplace/actions/activity-report ?

[2022-04-22 17:51] jeffikus commented on #2454
@MaggieCabrera I'll test this on Monday.

[2022-04-22 22:30] darnelldibbles commented on #5602
Another user from the thread above using Skatepark as well: https://wordpress.com/forums/topic/my-pictures-turn-black-and-white/?view=all#post-3816111

[2022-04-24 09:16] csabarakasz commented on #3277
Same issue but with Seedlet theme: 35263894-hc

[2022-04-24 10:03] pauljacobson commented on #5827
We have another instance of this in 5163454-zen

[2022-04-24 20:21] thesacredpath commented on #5663
Another report of this here, but WooCommerce was not installed. Theme switch was prior to them going AT.

 What triggered the issue according to the user, was going from Simple Pro to AT Pro. Currently only one non-WP.com plugin installed, for custom facebook feed.

5162993-zen

[2022-04-25 02:14] xue28 commented on #5602
Another ticket using Twenty Twenty-Two (Pink): 5164444-zen

I provided the CSS workaround

[2022-04-25 05:35] madhusudhand commented on #5890
This is also an issue with Archeo and Mayland-blocks

[2022-04-25 10:12] MaggieCabrera commented on #2454
Looks like this one has been fixed, closing.

[2022-04-25 10:12] #2454 closed

[2022-04-25 10:15] MaggieCabrera commented on #5833
We've discussed about breaking changes on Blockbase that require Gutenberg and decided against them for the parent theme (but they are ok for child themes). We want to keep Blockbase working without the plugin, since it's been used as a parent theme for production sites outside our own child themes.

[2022-04-25 10:16] MaggieCabrera commented on #5833
Please note that the Comments form block is not going to make it to 6.0, but it's good that we start opening the PRs in any case.

[2022-04-25 10:42] MaggieCabrera opened #5915 "Tools: Stale action improvements"
After having the action run for a few days I think we need to update it. It looks like I misunderstood how the action works and it always starts from the first (or last, depending on the `ascending` setting) up until it reaches the limit for the action ([operations-per-run](https://github.com/actions/stale#operations-per-run)). But it doesn't pick up were it stopped don't the next run, it just sta

[2022-04-25 11:31] MaggieCabrera commented on #5833
More on this: https://github.com/WordPress/gutenberg/issues/40521

[2022-04-25 11:31] MaggieCabrera commented on #5847
tagging @beafialho for opinion on adding variations to some of our other themes (maybe livro, archeo, stewart?)

[2022-04-25 16:52] jffng opened #5916 "Cult: Create Base Theme"
Create a starting point for the theme that gives us a place to iterate from.

[2022-04-25 16:52] jffng opened #5917 "Cult: Styles: Layout"
A few tasks related to the global layout of the theme:

- [ ] Update the wide and default widths
- [ ] Update the padding variables
- [ ] Update block gap value (if necessary)

[2022-04-25 16:52] jffng opened #5918 "Curator: Styles: Comments"
<img width="428" alt="Screen Shot 2022-05-23 at 11 03 48 AM" src="https://user-images.githubusercontent.com/5375500/169849339-ebfd30e8-c7a5-465b-a66a-4bf7553e45a0.png">

[2022-04-25 16:52] jffng opened #5919 "Curator: Styles: Buttons"
Add default button styles for the theme and ensure they are applied correctly:

- [x] Button block
- [x] Search (in this case, I don't think we want the default button styles to apply to the search button)

[2022-04-25 16:52] jffng opened #5920 "Curator: Styles: Typography — Sizes & Line Height"
Update the font sizes and line heights for headings and paragraphs.

[2022-04-25 16:52] jffng opened #5921 "Curator: Templates: Index"
![image](https://user-images.githubusercontent.com/1935113/172149994-459e2650-4250-4a15-a3f3-9007c5080c07.png)

[2022-04-25 16:52] jffng opened #5922 "Curator: Templates: 404"

[2022-04-25 16:52] jffng opened #5923 "Cult: Styles: Typography — Fonts & Weights"
Load all fonts and weights used in the theme:

- Work Sans
- Petrona

[2022-04-25 16:52] jffng opened #5924 "Curator: Styles: Links"
Add styles for default, hover, focus, and active states for standard and navigation links.

[2022-04-25 16:52] jffng opened #5925 "Curator: Templates: Header template part"
Revise the header template part, verify it matches the design.

[2022-04-25 16:52] jffng opened #5926 "Curator: Styles: Navigation"

[2022-04-25 16:52] jffng opened #5927 "Vivre: Pre-launch: Showcase Entry"

[2022-04-25 16:52] jffng opened #5928 "Vivre: Pre-launch: Demo Site"
Create the demo site on wordpress.com.

[2022-04-25 16:52] jffng opened #5929 "Cult: Styles: Colors"
Add the color palette to theme.json. Assign or verify they are applied the correct areas of the base styles:

- [x] Background
- [x] Text
- [x] Links

[2022-04-25 16:52] jffng opened #5930 "Curator: Pre-launch: Screenshot, readme.txt & description"
@beafialho would you be able to provide the screenshot and description?

[2022-04-25 16:52] jffng opened #5931 "Curator: Templates: Single"
**With featured image**

![Single Post](https://user-images.githubusercontent.com/5375500/166974415-b5dd8216-90b2-4a35-bee3-0a2fe1ade1b7.png)

**Without a featured image**

![image](https://user-images.githubusercontent.com/1935113/167620717-855a3dac-0bdd-4e43-90f2-1f00dfba5ca0.png)

[2022-04-25 16:52] jffng opened #5932 "Curator: Templates: Archive"
<img width="722" alt="Screen Shot 2022-05-02 at 9 41 50 AM" src="https://user-images.githubusercontent.com/5375500/166243696-f7a418d7-dd10-4553-9a28-97cf39954362.png">

[2022-04-25 16:52] jffng opened #5933 "Vivre: Pre-launch: Headstart Annotation"

[2022-04-25 16:52] jffng opened #5934 "Curator: Templates: Page"
![image](https://user-images.githubusercontent.com/1935113/172337303-7f78e0c2-6c8f-4f5c-8fd2-7e26a9b1f79f.png)

[2022-04-25 16:52] jffng opened #5935 "Curator: Block Patterns"
- [x] post grid https://github.com/Automattic/themes/pull/5994

<img width="300" src="https://user-images.githubusercontent.com/1935113/167798775-94b55a6a-8938-4796-885c-ec9aec1cb945.png" />

- [x] Hero selection https://github.com/Automattic/themes/pull/6061

<img width="300" src="https://user-images.githubusercontent.com/1935113/167799129-58f4e0cb-9a1c-4ce5-8fb6-5e9579d81f44.png" />

- [x] Recen

[2022-04-25 17:37] jamiepalatnik commented on #5894
Another report: 22366560-hc

Winkel theme. I can recreate on a test site.

[2022-04-25 22:55] hacchism commented on #5602
Another report using Twenty Twenty-Two (Swiss) - 35165819-hc

I provided the CSS workaround.

[2022-04-26 06:10] madhusudhand commented on #5814
Changes deployed and verified.

[2022-04-26 06:10] #5814 closed, assigned to madhusudhand

[2022-04-26 06:48] KokkieH commented on #5602
https://wordpress.com/forums/topic/disabling-colours-on-images/?view=all - Skatepark

[2022-04-26 07:37] MaggieCabrera commented on #5915
I've slept on this and I think we could have two actions working on the daily, one starts from the newest issues, takes care that those are updated, marks them as stale or removes the stale label if the issue gets more traction, but doesn't close anything. The other one starts from the oldest issues, marks them with some kind of other label (old issue? something like that that doesn't just mean st

[2022-04-26 07:54] edwinho89 commented on #5378
I experienced the same thing in editor, as well as not able to remove the triangle background other than switching to different themes.

[2022-04-26 08:52] beafialho commented on #5847
@MaggieCabrera this makes sense to me. I'm curious to know your thoughts on adding style variations to all themes from now on, similarly to what we did with patterns? Would like to know @mtias thoughts too.

[2022-04-26 08:57] MaggieCabrera commented on #5847
yes, I think style variations are a great idea, we can add them to the theme as part of the release or afterward like we are doing for other themes like remote, I don't have a preference.

[2022-04-26 10:46] beafialho commented on #5847
I'll add it to my list to create some style variations for Livro, Archeo and Stewart :+1:

[2022-04-26 13:17] jorpdesigns commented on #151
Reported in 35288284-hc:

* Footer credit not hidden.
* Site language set to French.
* Theme: Intergalactic 2
* Shared custom CSS as aworkaround.

[2022-04-26 14:52] #5882 closed, assigned to nobody

[2022-04-26 15:06] pbking commented on #5915
Would it be possible to instead create a VERY long-running action so as to not exceed the rate limit, but also not start over every time?  Introduce some `sleep()` between checks so that the action can get through the entire list every day, but not necessarily over the course of an hour?

I do think your "burning it from both ends" idea is good though, I like tackling the "top and bottom 100 issue

[2022-04-26 15:06] #5863 closed, assigned to pbking

[2022-04-26 15:09] MaggieCabrera commented on #5915
I guess we'd have to adapt the code of the action then, could be a nice little project

[2022-04-26 15:19] pbking commented on #5915
Oh.. right.  I forgot for a brief moment that this action wasn't ours.

[2022-04-26 15:56] #5916 closed, assigned to nobody

[2022-04-26 16:50] sharonlaker19 commented on #5216
Hey @kjellr or @scruffian is it intentional for the Twenty Twenty-Two theme to not have drop caps? I'm working on a site in 5167660-zen that doesn't have this option under Typography and I am able to replicate on my test site as well. Should I file a new bug report?

[2022-04-26 17:26] scruffian commented on #5216
It looks like it was a deliberate decision

[2022-04-26 17:31] pbking commented on #5678
@beafialho where did the pictures for the design/patterns originate so that we might attribute the source?

[2022-04-26 17:32] #5881 closed, assigned to nobody

[2022-04-26 17:35] pbking commented on #5898
I don't believe we should limit what categories are included.  It would be confusing to find that some of your categories are missing.  Adding "see all" is outside of the scope of what we can offer as a pattern.

This feels like a situation where the user could make necessary changes within the bounds of the theme to support a situation like this.  It may be that the content alongside this block i

[2022-04-26 17:35] #5898 closed, assigned to nobody

[2022-04-26 17:36] pbking commented on #5692
I believe all of the variations have been completed.  Closing this.

Any further variation changes that are needed should be opened as new items.

[2022-04-26 17:36] #5692 closed, assigned to pbking

[2022-04-26 19:00] pbking commented on #5865
@beafialho I wasn't able to reproduce the color inversion you provided a screenshot of.  Is that still reproducing for you?

[2022-04-27 02:22] ha-un opened #5947 "Blank Canvas: Posts page only showing one post without title"
### Quick summary

When using the Blank Canvas theme, the **Posts** page only displays the content of one post, without titles.

<img width="1536" alt="Screenshot on 2022-04-26 at 19-02-58" src="https://user-images.githubusercontent.com/96960321/165425793-95b8b925-57a0-4ff9-b291-97d61dab8e0b.png">

When the site is first created, the homepage displays the latest posts correctly. However, when a ne

[2022-04-27 04:54] #5890 closed, assigned to madhusudhand

[2022-04-27 04:59] KokkieH commented on #5890
Thanks for the fix!

I've followed up with the user.

[2022-04-27 05:53] KokkieH commented on #5602
https://wordpress.com/forums/topic/black-and-white/ - Twenty Twenty-Two (Pink)

[2022-04-27 08:24] beafialho commented on #5678
I'll gather all the pictures links and post them here @pbking

[2022-04-27 09:06] beafialho commented on #5678
I believe these are all:

Gallery Pattern
https://stocksnap.io/photo/people-girl-TDP31WN0WB
https://stocksnap.io/photo/mystery-woman-5G7JGBR9E0
https://stocksnap.io/photo/I08C8XDJ6J
https://stocksnap.io/photo/people-girl-O6MBP1UB5X
https://pxhere.com/en/photo/775017

Our Picks
https://www.metmuseum.org/art/collection/search/248813
https://www.metmuseum.org/art/collection/search/452273?ft=ring&amp;

[2022-04-27 10:57] Robertght commented on #5947
Thank you for reporting this @haeunp ! I was able to replicate this.

It appears this is the default behavior if there's no customization done on the "Home" template so it'll automatically render the post content by default. I believe this is not intended, so I'm flagging for extra visibility.

cc @jeffikus

[2022-04-27 11:50] Robertght commented on #219
I can confirm this is still an issue. As a workaround:

[code]

[2022-04-27 14:53] beafialho commented on #5865
No, not anymore. It's looking accurately now!

[2022-04-27 14:53] #5865 closed, assigned to nobody

[2022-04-27 15:10] #5689 closed, assigned to nobody

[2022-04-27 15:21] cintacks opened #5989 "Dara: Exclude featured images from lazy loading"
### What

In the Dara Theme, the slideshow powered by featured images should not be lazy loaded by Jetpack.

Example:

![image](https://user-images.githubusercontent.com/6737345/167682276-67a9cde4-21fd-4cd5-a8b7-15819dabd2fb.png)

### Why

Lazy loading the featured image slideshow creates a dark image flash/blank image (on slower connections) when first loading the site. This was easily replicable

[2022-04-27 15:44] matiasbenedetto commented on #5728
Two PRs to address these changes: https://github.com/Automattic/themes/pull/5938 and https://github.com/Automattic/themes/pull/5940

[2022-04-27 15:47] beafialho opened #5951 "Pendant: Site title & categories font weight"
I'm still seeing the site title and the categories in a different font weight than the mockup. It might be just me but I wanted to check: can you replicate?

| Test site | Figma |
| ----- | ----- |
| <img width="536" alt="Captura de ecrã 2022-04-27, às 16 45 05" src="https://user-images.githubusercontent.com/65220155/165558674-1ecd31b2-0783-4c44-988a-2326d81adce7.png"> | <img width="614" alt="Capt

[2022-04-27 16:59] bobmatyas commented on #5826
I took a look at this and it seems to be an issue in Barnsbury.

I'm new to the Automattic/themes repo, but this appears to be related to a customizer that isn't available in WP core. I can fix it with this code on WPCOM, but I don't know if it would make sense to include it in the code:

[code]

This code removes the green when a custom theme is chosen.

I'm not sure if `.customizer-styles-applie

[2022-04-27 17:55] #5923 closed, assigned to MaggieCabrera

[2022-04-27 21:37] kfitz opened #5954 "Seedlet Blocks: fonts not loading"
## Steps to replicate

I’ve got a site on which I’ve been using the Seedlet theme, which uses the Playfair Display and Fira Sans Google fonts. I’d like to switch over to using Seedlet Blocks. The style editor lists those fonts.

## Result

The fonts do not actually load, and the site fails over to system fonts. See [dev.kfitz.info](https://dev.kfitz.info).

## Expected results

The Seedlet site, w

[2022-04-27 23:08] colinduwe opened #5956 "Blockbase: allow child theme headers to override parent headers"
## Steps to replicate

Copy header-default.html from Blockbase to a child theme and edit copied header file.

## Result

The theme continued to display the version of header-default.html from Blockbase

## Expected

The child theme version of the file should be displayed.

Here's a fix: https://github.com/Automattic/themes/pull/5955

[2022-04-28 05:50] rw-ye commented on #5846
Another report here: 5171425-zd-woothemes

Suggested the Tiled Gallery workaround.

[2022-04-28 08:42] madhusudhand commented on #5951
Created a PR for the site-title font style.

And for the categories, there seems to be an issue with Gutenberg (loading only first entry from defined fontfaces) and is fixed in **v13.1.0**

<img width="390" alt="image" src="https://user-images.githubusercontent.com/1935113/165713625-3b8427af-b103-4d59-a5b2-f86211f24518.png">

[2022-04-28 12:01] beafialho commented on #5500
@MaggieCabrera @madhusudhand I've worked on some style variations for Remote and I'm feeling pretty good about them. Added them [here](https://www.figma.com/file/S382KokJxg0G043wsNoFQj/?node-id=1623%3A342).

<img width="1021" alt="Captura de ecrã 2022-04-28, às 12 59 55" src="https://user-images.githubusercontent.com/65220155/165747415-806590b2-8866-4fcd-ac07-1b4b16c901e8.png">

[2022-04-28 12:53] pbking commented on #5951
Indeed both fonts look correct with the fix in place.  As you rightly point out though @madhusudhand the original design uses Playfair in that space.  I have asked a question of the designer to see if it should be changed or if we can leave it as-is and just wait for the fix to land.

I think we have decided not to release Pendant to wporg until that version of Gutenberg has been released and wpco

[2022-04-28 13:00] rinazrina commented on #482
Reopening this as I got a similar report, and I can reproduce this on my test site.

Choosing any other default theme color is not respected. The button background color is always set to blue/purple-ish and the text color is white. The color is changed on the editor, but not on the published version.

The workaround is to set a custom color and choose a slightly different hex code.

User report: #

[2022-04-28 13:34] #5860 closed, assigned to nobody

[2022-04-28 13:34] #5884 closed, assigned to nobody

[2022-04-28 13:39] beafialho commented on #5951
As commented in #5957 Playfair was there by mistake. If this happens again (sometimes I forget to change every bit of text for the final iteration) please double check the theme's [styles](https://www.figma.com/file/JdntsOfLqo8Vy0d5uTWHTI/Pendant?node-id=674%3A104) which should mention every font the theme uses. If that's still unclear in styles though, ask me 🙂

[2022-04-28 13:47] jffng commented on #5920
I think sizes were taken care of in #5946 , but we should verify the line heights are okay as well.

[2022-04-28 14:48] jamiepalatnik commented on #4798
This seems to happen on Hever theme too: 29055326-hc

Suggested to switch button to Outline instead of Fill as a workaround.

[2022-04-28 16:17] pbking commented on #5951
This turns out to just be caused by the bug in Gutenberg.  All will be right when 13.1 lands.

Closing. :)

[2022-04-28 16:17] #5951 closed, assigned to madhusudhand

[2022-04-28 16:24] pbking commented on #5678
Fixed in #5950

[2022-04-28 16:24] #5678 closed, assigned to nobody

[2022-04-28 18:29] Robertght commented on #5830
This is still an issue and I wasn't able to remove it. Slack: p1649331027535749-slack-C029FM1EH

Can we get a hand with this @jeffikus  ?

[2022-04-29 03:16] xue28 commented on #5602
Another ticket using Skatepark: 4963423-zen

[2022-04-29 08:21] Robertght commented on #2760
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:21] #2760 closed

[2022-04-29 08:22] Robertght commented on #1453
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:22] #1453 closed

[2022-04-29 08:22] Robertght commented on #219
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:22] #219 closed

[2022-04-29 08:24] Robertght commented on #1643
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:24] #1643 closed

[2022-04-29 08:25] Robertght commented on #2321
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:25] #2321 closed

[2022-04-29 08:26] Robertght commented on #2068
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:26] #2068 closed

[2022-04-29 08:27] Robertght commented on #2157
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:27] #2157 closed

[2022-04-29 08:28] Robertght commented on #2432
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:28] #2432 closed

[2022-04-29 08:29] Robertght commented on #2824
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:29] #2824 closed, assigned to nobody

[2022-04-29 08:30] Robertght commented on #2829
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:30] #2829 closed, assigned to nobody

[2022-04-29 08:31] Robertght commented on #2864
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:31] #2864 closed, assigned to nobody

[2022-04-29 08:32] Robertght commented on #1811
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:33] Robertght commented on #1855
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:33] #1855 closed

[2022-04-29 08:34] Robertght commented on #2428
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:34] #2428 closed

[2022-04-29 08:42] Robertght commented on #4432
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:42] #4432 closed, assigned to nobody

[2022-04-29 08:49] Robertght commented on #3626
I'm not able to replicate this anymore.

[2022-04-29 08:49] #3626 closed, assigned to nobody

[2022-04-29 08:50] Robertght commented on #3618
I'm not able to replicate this anymore. Closing.

[2022-04-29 08:50] #3618 closed, assigned to nobody

[2022-04-29 08:52] Robertght commented on #3299
~I'm not going to close this yet as we're waiting for a review on https://github.com/Automattic/themes/pull/5953~

Waiting for a review on https://github.com/Automattic/themes/pull/5953

cc @jeffikus @MaggieCabrera

[2022-04-29 08:54] Robertght commented on #1973
Going to close this for now as CoBlocks isn't an option anymore on our sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:54] #1973 closed

[2022-04-29 08:55] Robertght commented on #1664
Going to close this for now as CoBlocks isn't an option anymore on the newer sites.

Slack ref: p1651059474355319-slack-C029FM1EH

cc @jeffikus

[2022-04-29 08:55] #1664 closed

[2022-04-29 09:44] wojtekn commented on #5589
I have the same issue as reported under https://github.com/Automattic/themes/issues/5271

Ticket: 5176150-zen

[2022-04-29 09:53] madhusudhand commented on #5500
@beafialho updated the PR with typography changes and other design adjustments. Can you review.

@MaggieCabrera Observed some of the font sizes for headings are not set properly (h1 is set 42px instead of 72px sometimes because incorrect min,max computation). Updated them to right values.

[2022-04-29 09:53] zdenys opened #5962 "Varia: Color selection has visual glitches"
## Steps to replicate

On an AT site, navigate to My Site → Appearance → Customize → Colors and Backgrounds and try clicking any of the circles.

## Result

One circle is misaligned. The text label overlays the color circles.

![image](https://user-images.githubusercontent.com/39308239/165922659-5496ab15-b848-49af-af36-4c221beceb08.png)

![image](https://user-images.githubusercontent.com/39308239/

[2022-04-29 09:55] MaggieCabrera commented on #5962
I can't reproduce this on the demo site, can you give me more info so that I can replicate?

[2022-04-29 10:01] zdenys commented on #5962
This was reproduced by me and @sophiegyo on separate AT sites with the theme Barnsbury. Then I tested it with the Varia theme and could still replicate it. I have now indicated that it's on AT sites specifically. By demo, did you mean PbjMrq-7-p2 or some other site?

[2022-04-29 10:02] zdenys commented on #5962
Discovered while assisting the user in 5177631-zd-woothemes

[2022-04-29 14:24] syds87 commented on #3481
Another case reported in 5177846-zd with Resonar on AT site.

[2022-04-29 18:14] matiasbenedetto commented on #5582
Potential fix: https://github.com/Automattic/themes/pull/5964

[2022-04-29 22:48] Gustavo-Hilario commented on #4747
Issue reported there too: 35327451-hc

Theme: **Pique**.

This is only happening on the home page when enabling the option `Front Page, Archive Pages, and Search Results`.

The user here was also displaying their latest blog posts on their home page.

[2022-04-30 07:33] zdenys commented on #5545
This is affecting multiple themes (hence I updated the title of the bug report).

From my tests, it happens with Universal themes, Blank canvas, Bantry, Bradford, Calvin, Remote, Skatepark, Zoologist.

Does not happen with Varia, Twenty Twenty, TT1, TT2.

[2022-04-30 07:33] zdenys commented on #5545
5176833-zd-woothemes with Zoologist

[2022-04-30 15:26] zdenys commented on #5545
5180224-zd-woothemes with theme Pique

[2022-05-01 14:16] KirkwallDay commented on #5602
Another instance here with Skatepark: 5182227-zen

[2022-05-01 14:50] eduardozulian commented on #5602
Another in #5182227-zen. Filters are also affecting images under other blocks, like carousel, so I focused on the `img` tag instead:

[code]

But heads-up that this will affect all img tags on their site.

[2022-05-02 05:37] madhusudhand commented on #5919
@beafialho

![image](https://user-images.githubusercontent.com/1935113/166188609-91009792-a56c-4399-9c19-3eeac63278d1.png)

Buttons doesn't have a background in figma. It isn't going well for blocks such as `search`
Can you add more details.

![image](https://user-images.githubusercontent.com/1935113/166189028-2df6eb1c-a07f-4833-b0f3-b054fa5a8962.png)

[2022-05-02 05:43] #5929 closed, assigned to jffng

[2022-05-02 08:58] beafialho commented on #5919
We should use a solid background for Search buttons:

<img width="1478" alt="Captura de ecrã 2022-05-02, às 09 58 25" src="https://user-images.githubusercontent.com/65220155/166209991-966258c4-961d-42af-8309-edf23f07f9aa.png">

[2022-05-02 15:44] ghost opened #5968 "Cols Theme: Menu order in Front End shows inverted from Customizer"
### Quick summary

[Cols](https://wordpress.com/theme/cols) a free theme on WordPress.com, has a menu issue where it reverses the order items on front end. So the order shown is the reverse of what one adds in the Customizer.

Also can be seen in the theme demo: 5dIoH-p2

Screenshots:

| Front End  | Customizer |
| ------------- | ------------- |
| <img width="247" alt="Markup 2022-05-02 at 21 11

[2022-05-02 18:36] #5917 closed, assigned to jffng

[2022-05-02 20:09] aisajib commented on #5702
Just wanted to add that this issue popped up on another blockbase child theme "[Russel](https://wordpress.com/theme/russell)" here: 5164173-zd-woothemes

I provided @nagpai 's code snippet above as a temporary workaround which seemed to remove the duplicate `<title>` tag.

[2022-05-03 06:09] ghost commented on #5602
Using Twenty Twenty-Two (Mint) theme user in hc-33386606 had the same issue.

Sent CSS workaround.

[2022-05-03 09:34] formosattic commented on #5968
I was able to reproduce with the Cols theme:

![image1](https://user-images.githubusercontent.com/15944096/166431791-ef86b1e3-51dc-44a2-baad-43d6fe89f047.png)

Updated the initial reports with the relevant user interaction link and internal discussion with Themes.

Transferring this to Themes repo.

[2022-05-03 09:46] beafialho opened #5969 "Pendant header menu pattern expected behaviour"
I should have foreseen this, and it may not be a huge issue given that you can change everything in the editor. But when a user adds more social links to the header, the Site Title will move to the center of the row block, which is the natural behaviour.

However, if the intention is for the Site Title to continue in the middle, that doesn't happen. I think that as a user I'd expect that if I adde

[2022-05-03 14:52] kathrynwp commented on #5110
Ran into this again in 32682399-hc

Cannot give user custom CSS workaround as they are on a Personal plan

[2022-05-03 17:05] davipontesblog commented on #1711
Similar report here: 35318972-hc

[2022-05-03 20:14] mattgawarecki opened #5971 "Incorrect theme URIs create invalid links in Calypso Activity Log"
## Steps to replicate

Several public themes have a theme URI of the form `https://github.com/Automattic/themes/tree/master/<name>`, which is no longer valid since the default branch name was changed to `trunk`. The correct URI would be `https://github.com/Automattic/themes/tree/trunk/<name>`.

Affected themes are as follows (repo maintainers, message me directly if you'd like to learn how I found

[2022-05-04 01:10] danielk-am commented on #5602
One here 35360092-hc (Skatepark). Provided the CSS workaround. The user said that it was complicated. Suggested switching to another theme that does not have the duotone applied to images by default. The user decided to cancel the subscription and refund.

[2022-05-04 06:18] rw-ye commented on #1859
Another report here: 5188152-zd-woothemes

[2022-05-04 08:30] rickmgithub opened #5990 "Varia(& the child themes): distorted editor when grouping a slideshow block inside a Layout Grid block"
### Quick summary

- The editor glitches and creates a huge slideshow block if grouped within a Layout Grid block

### Steps to reproduce

1. Create a new page
2. Add a Layout Grid block with a 2 columns layout
3. Add text on the left and a tiled gallery on the right (_if you skip this, the slideshow will only have a very big width_)
4. Add a Slideshow block on the right and Group that one.

The e

[2022-05-04 13:25] mikeicode opened #5991 "Twenty Nineteen: Editor overflow issue with Full width blocks"
### Quick summary

Content within the WordPress editor flows off the screen when using Twenty Nineteen. Appears to be related to Full width blocks.

### Steps to reproduce

1. Activate Twenty Nineteen
2. Add a pattern, with blocks set to Full width
3. View overflow issue

### What you expected to happen

Other themes display it correctly:

![Screen Shot on 2022-05-04 at 09:16:26](https://user-imag

[2022-05-04 14:02] mikeicode opened #6014 "Twenty Nineteen: Full width Cover block H2 Heading alignment issue"
### Quick summary

A Cover block set to Full width has an issue with centering H2 Heading blocks. Other headings can correctly be centered, there is CSS affecting H2 headings.

### Steps to reproduce

- Add a Cover block to a page set to Full width
- Add Heading blocks to the Cover block.
- Try H1 and H2 headings, set to regular, wide, full widths. Set all to center align.
- View published page.

[2022-05-04 14:02] cintacks commented on #4066
I know this old but I'm adding this example here as I ran into this. It was intermittent:

- Single page with other Vimeo embeds
- One of them doesn't display at full width, can't figure out why: https://shottr.cc/s/7cqS/SCR-20220504-kurp.png
- Theme: Snaps
- Request: 5189331-zd-woothemes

## Workaround
Vimeo shortcode works perfectly: https://wordpress.com/support/videos/vimeo/#embed-using-shortc

[2022-05-04 14:06] CodeAllNightNDay commented on #5857
Hello there. The follow-up ticket opened up and wanted to check in if we have any updates yet. Thanks!
4961419-zen

[2022-05-04 14:06] CodeAllNightNDay commented on #6000
Hello there. The follow-up ticket opened up and wanted to check in if we have any updates yet. Thanks!
4961419-zen

[2022-05-04 14:13] Gustavo-Hilario commented on #5761
We got another report here: 5170209-zen. I could reproduce it on a test site.

**Theme: Kerr (blockbase child theme)**

I'm reopening this issue. Hopefully, someone can take another look into this.

[2022-05-04 14:16] mikeicode opened #6016 "Twenty Nineteen: Change alignment of Paragraph blocks within Full/Wide width Group blocks"
### What

Heading blocks can be centered in the middle of the page by setting them to Wide or Full width. Since Paragraph blocks don't have these settings there isn't a way to center a paragraph on the page. If we group the block and set the Group block to Wide or Full width I would expect the Paragraph block to then be centered.

**_I'd like to report this as a bug but I'm not 100% sure if this i

[2022-05-04 16:42] PeterNdomano commented on #5931
Is there a design concept for this template file?

[2022-05-05 01:43] donalirl commented on #5602
In #5191080-zen using Skatepark theme, the Duotone filter cannot be removed as the Customizer setting is missing.

[2022-05-05 12:53] beafialho commented on #5690
This task is [done](https://pendantdemo.wordpress.com) so I'm closing this issue.

[2022-05-05 12:53] #5690 closed, assigned to nobody

[2022-05-05 13:41] daria2303 opened #6017 "Apostrophe 2: latest comments - comments widget which appears broken (a couple of letters each line) in Pages"
### Quick summary

Comments widget which appears broken (a couple of letters each line) in Pages but in Post its ok.

### Steps to reproduce

Only on users site, I was not able to reproduce on my test site but a strange CSS is applied:

Uploading Screen Capture on 2022-05-05 at 15-26-15.mp4…

### What you expected to happen

Comments look like in posts - no float and width: 100%

### What actually