[2022-05-05 14:58] #5728 closed, assigned to matiasbenedetto

[2022-05-05 17:01] jffng commented on #5931
@PeterNdomano just updated the issue with a screenshot for the design here 🙂

[2022-05-05 17:15] #5582 closed, assigned to matiasbenedetto

[2022-05-05 22:15] iamtakashi opened #5975 "Blockbase: Jumping Close Navigation Button"
In Blockbase, [a part of the ponyfill CSS](https://github.com/Automattic/themes/blob/4ba24db18ee43ec5554fdd4cfb50ce3b380205b2/blockbase/assets/ponyfill.css#L490-L493) changes the position of the close navigation button. That seems to be making the button jump.

![Screen Recording 5-5-2022 at 10 58 PM](https://user-images.githubusercontent.com/908665/167033122-b2cb03ef-d3fa-473e-9f3f-6e68a2723fe2.g

[2022-05-06 05:59] zachspears commented on #5989
Tested and was able to reproduce the issue. Set Priority to Low as it has low user impact.

[2022-05-06 06:19] #5919 closed, assigned to madhusudhand

[2022-05-06 15:05] arunsathiya opened #6015 ""Media & Text" block inside a Columns block does not appear as designed on Storefront"
### Quick summary

On the Storefront theme, `Media & Text` block inside a `Columns` block does not appear as designed on the editor:

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18581859/167159658-903c74b7-b850-491e-be84-73b43d0ecb3c.png">

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/18581859/167159673-d9550a30-3cbf-4c02-8b44-a72c73

[2022-05-06 15:05] arunsathiya commented on #6015
5188336-zen.

[2022-05-06 15:18] jeffikus opened #5977 "Pendant: Pre-launch: Headstart Annotation"

[2022-05-06 15:24] jeffikus opened #5978 "Pendant: Pre-launch: Showcase Entry"

[2022-05-09 04:45] alaczek commented on #5672
I manually added the download theme section to Hari, Attar, Marl, Dorna, and Winkel. The issue now though, is that we have two download links on the showcase page, only one of which is working. So we still need a fix for the theme showcase. @MaggieCabrera is this something that would be handled by the theme team or should it be reported in Calypso?

<img width="712" alt="image" src="https://user-i

[2022-05-09 07:32] MaggieCabrera commented on #5672
I think this is a Calypso thing. I tried to find out where this was coming from and I wasn't successful!

[2022-05-09 12:19] mtias commented on #5847
What are these variations about?

[2022-05-09 13:09] mikeicode opened #6025 "Varia & Child themes: Map block close button is too large"
### Quick summary

The Map block has a close button on the marker popup box. Varia and child themes cause this button to be too large.

### Steps to reproduce

1. Activate Varia
2. Add a marker to a Map box, add a long Marker Title
3. View published page, hover over the close button

### What you expected to happen

Button should be small, like it is when using Skatepark:

![Screen Shot on 2022-05

[2022-05-09 14:09] MaggieCabrera commented on #5723
I can't reproduce this one anymore on 2013 and Stratford so I think this might have been fixed.

[2022-05-09 16:27] bobmatyas commented on #4798
I tested this on Stow and couldn't reproduce:

https://user-images.githubusercontent.com/45246438/167454626-0ab3e8fc-99c1-40f7-825f-477e90e0e6b6.mp4

I also couldn't reproduce on Hever.

[2022-05-09 17:46] mikeicode opened #6026 "Varia & Child themes: Separator block Dots style colors incorrect"
### Quick summary

There are 4 preset colors for the Separator block. 2 of these colors don’t work when using the Dots style separator.

### Steps to reproduce

1. Activate Varia
2. Add 4 Separator blocks, one for each preset color.
3. View published page.

![Screen Shot on 2022-05-09 at 13:29:17](https://user-images.githubusercontent.com/10353785/167466251-ca997834-3663-4990-b9ce-5de41cf2e8ec.png

[2022-05-10 01:04] PeterNdomano commented on #5931
@jffng Would you please review my PR on this here #5987
Thanks.

[2022-05-10 11:41] beafialho commented on #5847
@mtias these are [style variations](https://github.com/WordPress/gutenberg/issues/39700), as in the TT2 theme.

[2022-05-10 13:58] #5922 closed, assigned to madhusudhand

[2022-05-10 13:58] #5924 closed, assigned to madhusudhand

[2022-05-10 13:58] #5926 closed, assigned to madhusudhand

[2022-05-10 14:05] #5920 closed, assigned to mikachan

[2022-05-10 17:27] Robertght commented on #5990
I have tested this with Varia, Exford and Alves and they all behave the same.

I could not replicate this with Blockbase, Blank Canvas or other themes.

[2022-05-10 17:43] Robertght commented on #5991
I've tested this on a self-hosted site and I can confirm it's the same, however, it looks like this will be shipped with WordPress 6.0: https://core.trac.wordpress.org/ticket/54169

I'm going to close this for now, but reopen it if anyone finds other cases after the 6.0 release.

[2022-05-11 07:03] KokkieH commented on #5846
Another in https://wordpress.com/forums/topic/portfolio-pages-layout-issue-with-argent-theme/?view=all

[2022-05-11 09:37] csabarakasz opened #5995 "Feature Request: Add product thumbnails to the mobile view of Kerr theme's Cart page."
## Steps to replicate

Cart page on Kerr premium theme does not include product thumbnails:

Desktop view:
![CleanShot 2022-05-11 at 11 00 10](https://user-images.githubusercontent.com/84539773/167818681-018e3886-61d0-4ad8-8fe3-4e05f8dee883.jpeg)

Mobile view:
![CleanShot 2022-05-11 at 11 00 40](https://user-images.githubusercontent.com/84539773/167818738-77dc1c28-4b70-4dd0-9849-165a2e6aedf7.jpeg)

[2022-05-11 10:56] beafialho opened #5996 "Curator: Button States"
I gave it a closer look and concluded that burgundy background color doesn't work well for the buttons. Can we make these changes, please?

<img width="1444" alt="Captura de ecrã 2022-05-11, às 11 55 07" src="https://user-images.githubusercontent.com/65220155/167833525-360d12bb-cdf2-4bb1-b667-45663ba9f64c.png">

Currently, the buttons have a dashed underline/outline that doesn't look like the mo

[2022-05-11 12:12] rickmgithub opened #6034 "Photos: not showing blog posts block on home page"
### Quick summary

When you use a blog posts block on the home page of the Photos theme, the feature images do not show.

### Steps to reproduce

1. Set a blog posts block on the home page and set it to show featured images
2. Set the home page as a static page in the customizer on the Photos theme
3. Check the home page. No featured images are displayed

### What you expected to happen

The stati

[2022-05-11 17:13] wpshellbelle commented on #5011
Another report at 17641760-hc

[2022-05-11 20:47] ClassicRKR27 opened #6035 "Karuna: Group block Dimension settings are missing"
### Quick summary

I'm not sure if this is a bug or expected because this is an older theme, but on sites using the `Karuna` theme the `Group` block Dimension settings are completely missing. I couldn't find anything on it so figured it'd be best to report it here.

### Steps to reproduce

1. Select the `Karuna` theme
2. Add a `Group` block to any page
3. You'll see that the Dimension settings are

[2022-05-11 21:29] csabarakasz opened #6018 "Kerr: Add product thumbnails to the mobile view - Woo Cart page #5995"
### What

## Steps to replicate

Cart page on Kerr premium theme does not include product thumbnails:

Desktop view:
![CleanShot 2022-05-11 at 11 00 10](https://user-images.githubusercontent.com/84539773/167818681-018e3886-61d0-4ad8-8fe3-4e05f8dee883.jpeg)

Mobile view:
![CleanShot 2022-05-11 at 11 00 40](https://user-images.githubusercontent.com/84539773/167818738-77dc1c28-4b70-4dd0-9849-165a2e6a

[2022-05-11 22:46] nicolynramos commented on #3520
I'm seeing this same behavior again- 5204564-zd
Able to reproduce on all FSE themes with overlay menu enabled, no change on mobile vs desktop

[2022-05-11 23:00] nicolynramos commented on #3520
Noticed it's only on FSE/Blockbase themes, closing this report out and will create new one.

[2022-05-11 23:00] #3520 closed, assigned to blackjackkent

[2022-05-11 23:37] cuemarie commented on #5857
I tried some testing on this bug to see if I could help here.

I was able to recreate the issue in **Rebalance**.  See the detailed steps below.

However, I then switched to [Baskerville 2](https://d.pr/i/bfOJpP), [Gazette](https://d.pr/i/2jF9IT), and [Apostrophe 2](https://d.pr/i/5zTek0), and the same error occurred across all these themes.

### Steps to recreate

1. Publish several posts, all wi

[2022-05-11 23:37] cuemarie commented on #6000
I tried some testing on this bug to see if I could help here. I was able to recreate the issue in **Rebalance** on a **Simple** site.  See the detailed steps below.

However, I then switched to [Baskerville 2](https://d.pr/i/bfOJpP), [Gazette](https://d.pr/i/2jF9IT), and [Apostrophe 2](https://d.pr/i/5zTek0), and the same error occurred across all these themes.

### Steps to recreate

1. Publish s

[2022-05-11 23:43] cuemarie commented on #6000
This issue is reported for Apostrophe 2 here: https://github.com/Automattic/themes/issues/5827

[2022-05-11 23:52] cuemarie commented on #6000
User from OP would like an update when this is resolved. Tickets from that user include:

- 4940725-zd-woothemes
- 4961419-zd-woothemes

[2022-05-12 01:20] thekingsprojects commented on #3365
Another possible case here: 5202545-zen

[2022-05-12 08:51] devNigel opened #6036 "Blask: "Older Projects" button disappears after first click."
### Quick summary

In Blask theme, the "Older Projects" button disappears unexpectedly after the first click even though there are more projects in that category.

### Steps to reproduce

1. Add the theme Blask on a simple site.
2. Use BRC to headstart the site.
3. Create a category in Portfolio > Project Types.
4. Assign that category to 3 or more porjects.
5. Go to Settings > Writing and change

[2022-05-12 16:10] jp-imagines opened #6004 "Seedlet: Links are missing underline in Safari"
### Quick summary

I believe this came from https://github.com/Automattic/themes/pull/5195, where link underlines were updated from borders to text-decoration.

Per @edequalsawesome: the Seedlet theme currently sets this style all in one line:
<img width="266" alt="Markup 2022-05-12 at 11 05 27" src="https://user-images.githubusercontent.com/5630717/168119126-39390187-f62e-4a30-9bb9-6b6cf6da6435.p

[2022-05-12 20:38] metabreakr commented on #5567
I might have a similar issues in 239331-hc where text within a cover block uses the theme's default white color, rather than the custom colors set in the Customizer. Advised the user to set their font color in the editor.

[2022-05-13 07:50] essleeung commented on #5602
5211150-zd-woothemes
Another one here using Skatepark theme, can't remove Duotone filter and also can't give user CSS workaround as they are on a Personal plan.

[2022-05-13 08:59] a4jp-com commented on #5602
I had the same problem. Is this a theme bug or WordPress bug? I also have the same problem with lots of other themes as well.

[2022-05-13 09:01] a4jp-com commented on #5602
In the Skatepark theme you can clear the color but it doesn't save or change the CSS properly.

[2022-05-13 10:42] #2220 closed

[2022-05-13 13:37] cecilearkay opened #6005 "Canard: wrong height for featured content thumbnails"
## Steps to replicate

1 - Add Canard to your site
2 - Create a handful of blog posts, make sure they have a featured image and the `featured` tag
3 - Add `featured` tag to Customizer > Featured Content

## Result

4 - Visit site and noticed thick black line at the bottom of the thumbnails, due to a height issue:

<img width="1289" alt="Screenshot 2022-05-13 at 15 31 11" src="https://user-images.g

[2022-05-13 13:40] MaggieCabrera commented on #6005
yeah, this looks like a regression after https://github.com/Automattic/themes/pull/5986, I think we need to be more specific with the class we are targeting for the posts block fix

[2022-05-13 13:40] MaggieCabrera commented on #6005
/cc @bobmatyas

[2022-05-13 13:41] cecilearkay commented on #6005
Thanks @MaggieCabrera! I set the priority to High because it's affecting all sites, including the demo which the screenshot is from.

[2022-05-13 16:18] #6005 closed, assigned to nobody

[2022-05-13 16:25] mikachan commented on #4934
Fixed by https://github.com/Automattic/themes/pull/5997

[2022-05-13 16:25] #4934 closed, assigned to nobody

[2022-05-13 16:27] mikachan commented on #4730
Fixed by https://github.com/Automattic/themes/pull/5986

[2022-05-13 16:27] #4730 closed, assigned to nobody

[2022-05-13 16:28] mikachan commented on #3080
Fixed by https://github.com/Automattic/themes/pull/5981

[2022-05-13 16:28] #3080 closed, assigned to nobody

[2022-05-13 18:51] ai2n commented on #5602
25243874-hc (Skatepark), used a CSS workaround

[2022-05-13 18:51] ai2n commented on #5602
@a4jp-com see this comment, it's a Gutenberg bug: https://github.com/Automattic/themes/issues/5602#issuecomment-1076072599

[2022-05-13 23:38] JessBoctor opened #6037 "Twenty-Twenty(RTL): `.has-text-align-right` set to Left"
### Quick summary

Customer reported that when they had their paragraph block set to `Align Right`, the text acutally aligns left.

### Steps to reproduce

1. Activate Twenty-Twenty on your site
2. Change the site language to a RTL language like Hebrew
3. Create a new page or post
4. Add a parapgraph block with text, set the alignment to 'Right'
5.  View the page or post, the theme CSS sets the te

[2022-05-14 00:37] formosattic commented on #5602
+1 35486212-hc, CSS workaround worked.

[2022-05-14 08:36] arunsathiya commented on #4730
I have followed up with all customers.

[2022-05-14 10:19] syhussaini commented on #5990
Do we have any updates on this one?

[2022-05-16 08:39] mriyazuddin commented on #2856
Hey @scruffian looks like this issue is back. This time though it reflects the background color change for the menu only and not for entire page. I'm able to replicate this issue on a test site as well. Here's a video showing this:

https://user-images.githubusercontent.com/49064126/168553013-d1a1ed50-02a0-44ea-b8f9-0d2be62913fb.mp4

User reported the issue here: #5216743-zd

[2022-05-16 08:46] mriyazuddin commented on #2856
I was able to replicate this issue on both simple and AT sites.

[2022-05-16 10:08] csabarakasz opened #6024 "Blask: Blog Post Block Post Date shows incorrectly"
### Quick summary

When using the Blog Post Block in a static home page, within a column; the date shows up well in Editor but not in live view

Personal plancolumn

### Steps to reproduce

1. Create a new page for a static home page
2. Add a 50:50 Colum
3. insert the Blog Post block into the column on the right.
4. Publish the page.
5. Check live view.
6. Post date and Post author shows up like i

[2022-05-16 12:27] mikeicode commented on #3703
Ran into this using Seedlet building a DIFM-L site.

![Screen Shot on 2022-05-16 at 08:26:38](https://user-images.githubusercontent.com/10353785/168592241-e9991bdd-5740-4de0-9064-6cc2641ab55e.png)

[2022-05-16 13:42] mikeicode opened #6047 "Seedlet: Missing posts text incorrectly says posts page is homepage"
### Quick summary

Seedlet shows a message on the posts page when there are no posts:

This message displays on the posts page even when the page is an interior page, so this message is incorrect in those cases.

The message should be more general such as:

### Steps to reproduce

1. Set the posts page as an interior page on a site with no posts
2. View error message

### What you expected to happ

[2022-05-17 02:54] annbingle opened #6048 "Twenty Twenty Two: Text Font Family is not applying to Heading Block"
### Quick summary

When font is selected in Typography > Text > Font Family it doesn't apply to Heading block. However, it applies to Paragraph blocks.

<img width="1368" alt="Screen Shot 2022-05-17 at 10 41 12" src="https://user-images.githubusercontent.com/40605613/168717758-4ae9759f-15b3-45bd-8997-cab9d79d4f13.png">
<img width="1388" alt="Screen Shot 2022-05-17 at 10 41 38" src="https://user-im

[2022-05-17 13:55] markbiek commented on #5702
Worth mentioning that I'm seeing duplicate title tags even without Yoast.

I also see it on a Simple site with the Pro Plan and I see it on a Simple Free site. Doesn't seem to matter which theme.

![image](https://user-images.githubusercontent.com/917632/168827896-fa4f691a-81c6-47d1-ae41-cfd864accbf2.png)

I'm also still seeing the duplicate title tags even with `add_theme_support( 'title-tag' );`

[2022-05-17 16:15] bobmatyas opened #6009 "Attar: Error after activation on self-hosted site"
## Steps to replicate

1. Download Blockbase from WPCOM: https://wordpress.com/theme/blockbase
2. Download Attar from WPCOM: https://wordpress.com/theme/attar
3. Install plugins
4. Activate Attar

## Result

Error on activation: `// updater for WordPress.com themes if ( is_admin() ) include dirname( __FILE__ ) . '/inc/updater.php'; `

Shows in frontend and backend:

<img width="1000" alt="Screensh

[2022-05-17 16:36] anomiex commented on #6009
It's not exactly an error, it's just output.

What's going on is that the theme downloader is producing a `functions.php` without any opening `<?php`, so the content of the file gets served to the browser as text.

This looks like the same thing as #5399; possibly the theme zip file hasn't been updated since that was fixed?

[2022-05-17 16:43] mikachan commented on #6009
Yeah, you're right @anomiex, the theme zip hasn't had an update since the problem with the missing opening `<?php` tag was fixed. I've just regenerated the zip file, so this should be working now (the working version of the zip should be 0.0.4).

[2022-05-18 12:48] Gustavo-Hilario commented on #5180
User on 5223232-zen also reported this issue with their footer template part. There is no option to make it full width. Suggested workaround adding the `alignfull` CSS class to their footer.

*Theme: Kerr (blockbase)*. I can also see this issue when checking the Site Editor for the theme demo: https://kerrdemo.wordpress.com/

[2022-05-18 15:42] TPilgs commented on #5739
Another instance here #35163695-hc

[2022-05-18 16:54] kerrynicl commented on #6014
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
Able to replicate on my test site -
<img width="1269" alt="Markup 2022-05-18 at 11 42 01" src="https://user-images.githubusercontent.com/83325600/169096843-9b1d9c79-6753-4e3d-a02b-b1cd7b

[2022-05-18 21:08] kerrynicl commented on #6015
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No
- Updated main description of report - No

📌 SCRUBBING
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I was able to replicate this on my testing site with the Storefront theme -
<img width="987" alt="Markup 2022-05-18 at 16 02 17" src="https://user-images.githubusercontent.com/83325600/169155694-860dbe10-03b

[2022-05-19 05:40] Greatdane commented on #6016
I think this is intentional to the theme.

The center position works the same outside and inside a group block;

<img width="1629" alt="Screenshot 2022-05-19 at 14 34 29" src="https://user-images.githubusercontent.com/5075840/169217715-1560c621-0a94-4156-aa71-29b878c0a351.png">

The demo site seems to confirm it is intentional to have the more left-aligned text;
P1C32M-1w-p2F

(for some reason, pu

[2022-05-19 06:25] Greatdane commented on #6017
The issue is with this theme CSS;

[code]

The `.blog article` CSS is being applied to the sidebar on the homepage;

![Annotation on 2022-05-19 at 15-23-32](https://user-images.githubusercontent.com/5075840/169224482-e6b58ea0-0049-42ff-9684-d548e10b6423.png)

A workaround should be to set the homepage as a static page and use the blog post block instead.

[2022-05-19 06:33] druesome commented on #6048
Also reported in 5219657-zen

[2022-05-19 11:55] mikeicode commented on #6016
I'd expect that when you set a Group block to Full width it breaks the inner Paragraph outside out of the default smaller width, similar to what the Cover block does:

![Screen Shot on 2022-05-19 at 07:49:56](https://user-images.githubusercontent.com/10353785/169287035-75e1c287-23c8-4b75-ab49-203e25fce885.png)

[2022-05-19 15:00] csabarakasz opened #6023 "Twenty Seventeen: Button text word break does not apply correctly"
### Quick summary

On the 2017 theme, when using a button block with long text, the word break doesn't apply on small screens or mobile devices.

A user reported, and I was able to replicate it on my test site. Plan Pro.

https://user-images.githubusercontent.com/84539773/169327515-c700bedc-bc64-4fe9-97d4-660fc6ede20a.mp4

### Steps to reproduce

1. theme: 2017 (Turn off AMP)
2. Create a new page

[2022-05-19 16:28] Gustavo-Hilario commented on #6023
The CSS property `white-space` is causing the issue here. This CSS tweak would fix that:

[code]

[2022-05-19 21:17] macmanx2 commented on #5846
Another at https://wordpress.org/support/topic/portfolio-gallery-images-duplicated/

[2022-05-19 23:59] arunsathiya commented on #2888
I see that we are still showing the old Button block, instead of the newer Buttons block, on theme-generated homepage. Is there still something to update on the dev side of things? Would you know, @ianstewart?

If we do update something on this front, does this retroactively update all affected sites' content with the newer Buttons block, or should HEs work with customers to switch them manually?

[2022-05-20 05:06] arunsathiya opened #6021 "Several themes: Query Loop pattern shows "No results found" when on Carousel view, but does on Grid view"
### Quick summary

I am seeing different behaviors on different sites, but the general issue is that the `Query loop` block does not show any patterns on the `Carousel view` **for WordPress.com sites**. I cannot reproduce on a WordPress.org site. All with Gutenberg 13.2.1 or higher.

### Steps to reproduce

- Start with the Twenty Twenty-Two theme on a WordPress.com site. It can be a normal site,

[2022-05-20 05:12] arunsathiya commented on #6021
I tested a few more themes.

Kerr:

<img width="1430" alt="image" src="https://user-images.githubusercontent.com/18581859/169454806-2fe2cc70-f941-4ec4-b199-e7efaf29bb37.png">

Skatepark:

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/18581859/169454907-f72cdc75-017f-4988-82c3-11ad168afe9d.png">

Marl:

<img width="1412" alt="image" src="https://user-images.githubuser

[2022-05-20 05:17] arunsathiya commented on #6021
So this is happening only if the site doesn't have any posts. However, it's interesting to note that Carousel View shows that behavior while Grid View shows the actual design examples.

On a site with published posts, Carousel view is fine:

<img width="1582" alt="image" src="https://user-images.githubusercontent.com/18581859/169455680-9533acb4-ec82-4f8e-90aa-e426e1c9c214.png">

[2022-05-20 05:26] arunsathiya commented on #6021
Disregard, I misunderstood two things here:

- First, the arrows at the bottom left are to be used to navigate to each pattern design on the Carousel view.
- `No results found` is the post content [when there are no posts](https://github.com/Automattic/themes/issues/6021#issuecomment-1132483035).

Closing. There is no issue here.

[2022-05-20 05:26] #6021 closed, assigned to nobody

[2022-05-20 05:27] arunsathiya commented on #6021
A WordPress.org site has the same behavior:

<img width="1635" alt="image" src="https://user-images.githubusercontent.com/18581859/169456934-1b178a89-3f4e-4dc5-b5be-e914d20282c7.png">

<img width="1479" alt="image" src="https://user-images.githubusercontent.com/18581859/169456950-3d805e30-4c70-423a-9ca7-31b41bef13c0.png">

<img width="1469" alt="image" src="https://user-images.githubusercontent.co

[2022-05-20 10:11] Robertght opened #6022 "Twenty Eleven: Background patterns are not showing up on AT sites"
### Quick summary

Background patterns are not showing up on AT sites

Atomic vs Simple site comparison

![image](https://user-images.githubusercontent.com/6737345/169506691-60df7f3a-a0cd-45b5-9c05-4133c2d2e461.png)

### Steps to reproduce

1. On an AT site go to Appearance > Customize > Colors & Background section.
2. Try to pick a background pattern

### What you expected to happen

To see them

[2022-05-20 10:12] Robertght commented on #6022
Previous report: https://github.com/Automattic/themes/issues/686

[2022-05-20 10:50] kavyagokul commented on #6022
Additional information on this — Clicking the More button under palettes makes the More button disappear as well. Tested and verified on a test site.

[2022-05-20 11:24] Robertght commented on #6023
Thank you! I have escalated this in Trac as it appears to happen outside WordPres.com: https://core.trac.wordpress.org/ticket/55783#ticket

[2022-05-20 13:39] sharonlaker19 commented on #5739
+1 at 35559561-hc, shared the CSS workaround.

[2022-05-21 01:04] freelylovinglife commented on #2791
Another report here: ZD-5231508

[2022-05-21 13:39] mtias commented on #5847
Ah, I misread it as block style variations!

[2022-05-21 18:21] vparkhere opened #6027 "Baskerville 2 (and several other older themes): Zero bottom margin on Gallery blocks"
## Steps to replicate
1) Add Gallery block to page.
2) Add another block beneath it, like a YouTube embed.
3) View published page.

Looks like this in the editor:
<img width="926" alt="Screen Shot 2022-05-21 at 11 13 41 AM" src="https://user-images.githubusercontent.com/11635760/169664231-c5472a86-dbb3-4e84-8fc6-007e7651957c.png">

## Result
There is zero spacing between the Gallery block and the

[2022-05-21 19:38] arunsathiya opened #6049 "WooCommerce and Twenty Twenty-Two: Password reset field doesn't align with reset button"
### Quick summary

Password reset field doesn't align with reset button on a WooCommerce-installed site with Twenty Twenty-Two theme.

<img width="1117" alt="image" src="https://user-images.githubusercontent.com/18581859/169666688-91ffd983-96ed-4386-95f8-929c7d8f77d3.png">

### Steps to reproduce

- Start with a WordPress website, can be WordPress.com or WordPress.org
- Install WooCommerce and Twe

[2022-05-21 19:38] arunsathiya commented on #6049
I am not sure if this belongs on Twenty Twenty-Two Trac or on `woocommerce/woocommerce`.

[2022-05-21 19:57] vparkhere commented on #5110
Reported in 5232032-zen
Can't provide CSS due to Personal Plan

[2022-05-22 02:07] supernovia commented on #3365
I have a case here:
https://wordpress.com/forums/topic/text-on-buttons-not-showing/

[2022-05-22 02:25] supernovia commented on #3365
It seems to be this from _style.scss

[code]

combined with this from _config-child-theme-deep.scss

-- this is setting the text-hover to be the same color as the background.

[code]

[2022-05-22 04:13] hacchism commented on #5345
Another report here: 34947824-hc
Theme: Twenty Seventeen
Used the workaround CSS.

[2022-05-23 15:05] jffng commented on #5918
Should be solved by #5987

[2022-05-23 16:00] #5702 closed, assigned to markbiek

[2022-05-23 18:32] CodeAllNightNDay opened #6053 "Videomaker theme: Single page template intermittently showing homepage content"

[2022-05-23 18:42] eduardozulian commented on #155
@Automattic/dotcom-pa-group, opening this again as the priority is still set as high. Would it make sense to lower the priority given it's one of our old themes?

[2022-05-23 21:56] jerrysarcastic commented on #5894
Also reported in https://wordpress.com/forums/topic/overlapping-text-at-comment-section

View when logged in as site admin:

![screenshot_20220523-220631](https://user-images.githubusercontent.com/1967448/169911989-25fc821c-95b2-4c99-8603-d2b9d0e99c21.png)

When viewed by logged-out site visitor
![Image from iOS (27) (1)](https://user-images.githubusercontent.com/1967448/169912011-2ef3e3e3-3171-46

[2022-05-23 22:14] mxhassani opened #6054 "Twenty Twelve submenu hidden under slideshow block"
### Quick summary

On a site that has submenu elements, if the first element of the page is a slideshow, it may hide the submenu elements

### Steps to reproduce

1. Activate the theme Twenty Twelve
2. Add 3 elements to the same submenu on the site
3. Add a slideshow at the start of a page

### What you expected to happen

Moving the mouse over the submenu will show the menu elements over the slid

[2022-05-24 00:48] Gustavo-Hilario commented on #5589
I have been checking this. It looks like the code below is causing this issue:

[code]

Here is a screencast:

https://user-images.githubusercontent.com/50875131/169926464-332db229-3b8d-41b7-a3f4-fa8542f9040c.mp4

It looks like it affects `Varia child themes`, but I still don't know how to fix that. The CSS code causing this issue comes from a minified CSS file. I'm subscribing to this issue to le

[2022-05-24 13:42] zdenys commented on #3880
Encountered in 5232581-zd-woothemes (where the user shared a video recording) with the side effect of the menu not responding to multiple clicks correctly on mobile device

![image](https://user-images.githubusercontent.com/39308239/170049839-836738ad-31d4-4966-8af9-a8fc312b21da.png)

[2022-05-24 14:27] madhusudhand commented on #5969
I did a quick css change, updating parent styles to `grid` with columns `repeat(3, 1fr)`, set third child justification to `flex-end`
It works well. I guess we need to use a custom class for this.
Any other thoughts?

[2022-05-24 17:27] #2073 closed

[2022-05-24 17:28] #5524 closed, assigned to nobody

[2022-05-24 17:28] #5132 closed, assigned to nobody

[2022-05-24 18:19] Robertght commented on #155
Apostrophe 2 is currently active on at least 263,488 sites.

I'm setting this to Normal for now. cc @jeffikus

[2022-05-24 21:42] KirkwallDay opened #6065 "Twenty Twenty: Video blocks overlap footer in certain situations."
### Quick summary

On the Twenty Twenty, if you insert a few video blocks and align them left or right with no other content, the blocks will overlap onto the footer:
<img width="1437" alt="Screen Shot 2022-05-24 at 3 32 47 PM" src="https://user-images.githubusercontent.com/49131029/170136561-a7a47cf2-65c9-4ccd-8b6c-b451abcb552c.png">

### Steps to reproduce

1. Have a site with the Twenty Twenty

[2022-05-25 05:43] Greatdane commented on #6034
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed on theme.

📌 ACTIONS
- Transferred to theme repo.

[2022-05-25 06:31] fstath commented on #5011
Got another report in the forums.
https://wordpress.com/forums/topic/bradford-cover-blackout-issue/?view=all

[2022-05-25 11:30] Robertght commented on #6036
I can confirm this happens. On my end the theme shows the next 2 projects, but not the 5th one. I can also see this error:

![image](https://user-images.githubusercontent.com/6737345/170252327-96a2ccb4-3113-4df3-beee-d92c085ef0fa.png)

[2022-05-25 11:51] Robertght commented on #6037
Thank you for reporting this @JessBoctor! I have reported this here: https://core.trac.wordpress.org/ticket/55825#ticket

[2022-05-25 13:05] connorhipps commented on #5990
Are there any additional updates on this issue?

[2022-05-25 15:42] Robertght commented on #5990
@connorhipps @syhussaini thank you for checking! At the moment there are no updates, however, if you have any cases, please share them here.

cc @jeffikus if we can look into this soon

[2022-05-25 17:19] Robertght commented on #6037
Update: correct core ticket: https://core.trac.wordpress.org/ticket/49447 It appears it'll be included in WordPress 6.1

[2022-05-26 04:12] edwinho89 opened #6057 "Isola: Image figcaption left aligned on centered image"
### Quick summary

Image figcaption appears left-aligned when image are centered.

Looks to be similar issue as https://github.com/Automattic/themes/issues/3850 on a different theme

### Steps to reproduce

1. Activate Isola theme
2. Add an image block with caption

### What you expected to happen

Image captions are aligned center below image, similar as the how editor looks.

<img width="1680" a

[2022-05-26 08:37] Robertght commented on #4639
I can confirm this is not reproducible anymore. Closing.

Potentially related: https://github.com/Automattic/wp-calypso/issues/57711

[2022-05-26 08:37] #4639 closed, assigned to nobody

[2022-05-26 11:59] fetenlakhal commented on #5706
I think the same thing is happening with Dara theme.

[2022-05-26 18:47] csonnek commented on #3211
Full width and wide width settings missing on this .org install: https://wordpress.org/support/topic/wordpress-cover-block-2/

[2022-05-26 18:50] cuemarie commented on #6000
Reported here as well, on **Dyad 2** theme: https://github.com/Automattic/wp-calypso/issues/63632

[2022-05-26 18:53] cuemarie commented on #6000
Reported on **Karuna** theme here a few months ago: https://github.com/Automattic/wp-calypso/issues/57524

Ticket: 4422201-zd-woothemes
Chat: 30909191-hc

[2022-05-26 19:15] omgmajk commented on #5018
This is happening for me as well.
![2022-05-26 21_14_49-AFFRA se – HARDWARE IN THE LOOP ENGINEERING](https://user-images.githubusercontent.com/10681392/170560561-cf6c1915-64a4-40dc-989b-14ef21f7df4d.png)

[2022-05-26 19:27] DrDRRobinson22 commented on #170
I have been trying to remove the featured/sticky designation or move it to another article in Apoistrophe 2

[2022-05-27 15:03] pbking commented on #5969
I definitely agree that it's a problem.

My 'druthers would be to accomplish this without custom CSS if possible.  I don't believe that this header will find its way into the pattern directory, but using custom CSS would definitely eliminate the possibility.

I do like the grid CSS proposed though, it's a nice way to do that with CSS I think if CSS must be used.

We may also achieve this layout wi

[2022-05-27 15:08] beafialho commented on #5969
Why not?

We could give that a try.

[2022-05-27 16:54] PeterNdomano commented on #5934
Hi @jffng
I wonder if there's a design concept for this

[2022-05-27 20:02] Robertght commented on #6048
I can see the same behavior on a self-hosted site. I'm not sure if that's expected or not.

cc @jeffikus  @jffng  for a second opinion

[2022-05-27 20:08] Robertght commented on #6049
On self-hosted, the same result shows up.

cc @jeffikus or @jffng for a second opinion on how should we handle this.

[2022-05-28 02:17] edwinho89 commented on #5761
35639630-hc

Theme: Payton

The issue can be reproduced easily on desktop view, while on mobile it looks as expected.

[2022-05-28 05:06] formosattic commented on #5990
Nothing that user from initial report wants to be notified once this is fixed.

[2022-05-29 14:53] poeticabdul commented on #5750
Had a similar report here 5240082-zd-woothemes for the site `thewhimsicalpaintbrushstudio.wordpress.com`.

On testing further, I was able to get the menu showing on mobile for my issue and the main issue. Pics attached. It seems, the site needs to load fully for the menu to work.

Main issue:

![Screenshot_20220529-144705_Samsung Internet](https://user-images.githubusercontent.com/4719037/17087578

[2022-05-29 15:38] xue28 commented on #5602
Another ticket using Skatepark: 5253740-zen. Free plan.

[2022-05-29 23:43] dcoleonline commented on #155
#5254229-zen I turned off Lazy Load as a workaround for them

[2022-05-30 01:36] dcoleonline opened #6066 "Blockbase/Attar: Hide Footer Credit Leaves a Visible Empty Group Block Below Footer"
### Quick summary

The Hide Footer Credit feature in the customizer does not remove the space that the footer credit occupies.

This is what it looks like with the default footer credit. The grey area is the footer element:

<img width="332" alt="image" src="https://user-images.githubusercontent.com/3505172/170900654-007a3307-9a5c-4b1b-9e5d-589301cd25c0.png">

The group block appears below the foo

[2022-05-30 10:20] KokkieH commented on #5602
https://wordpress.com/forums/topic/twenty-twenty-two-image-colours/?view=all

[2022-05-30 17:35] Jaykame commented on #5894
5250435-zd

User on this site also reported this happening on their form comment labels.

[2022-05-30 20:43] KirkwallDay commented on #5894
In this instance, the bug is due to the Post Comments block in FSE, and seems to only occur on AMP pages, which means the CSS fix above wouldn't work here. I did advise them to try replacing it with the more updated Comments block as the Post Comments block is depreciated. I'll reply back here when they do this if it helps or not.

[2022-05-31 03:26] Jaykame commented on #2437
5257135-zd

Applied custom CSS. Theme: Arcane Child.

[code]

[2022-05-31 10:30] rickmgithub opened #6081 "Meraki: Slideshow block not working"
### Quick summary

Slideshow block does not work when set in this particular combination on the site editor.

### Steps to reproduce

1. Create site on Free plan
2. Add the Meraki theme
3. Go to Site Editor and adjust the content in the "index" template to show a slider.
4. Then go to customizer (which only appears to show on a free plan site, not a pro plan site)
5. Select "latest posts" for the

[2022-05-31 17:22] syds87 commented on #5602
Reported here as well: https://wordpress.com/it/forums/topic/immagini-12/?view=all

TwentyTwentytwo Pink - Free plan.

[2022-05-31 19:51] tavilla61 commented on #3342
I had another issue like this, where the button appears rounded in the Editor, but is displayed different when previewing and viewing the site live.

https://d.pr/i/9DkrcZ

Ticket: #5260128-zen

[2022-06-01 00:20] Gustavo-Hilario commented on #2906
Another instance of this issue here: 5259908-zen

[2022-06-01 05:11] Robertght opened #6052 "Karuna: YouTube embed doesn't render the video in category pages"
### Quick summary

In category archive pages we'll only see the video link instead of the embed.

### Steps to reproduce

1. Create a post and assign it to a category
2. Add a YouTube video and publish it
3.  Check the category page

### What you expected to happen

To see the YouTube video.

### What actually happened

We only saw the YouTube link.

![image](https://user-images.githubusercontent.

[2022-06-01 07:18] madhusudhand commented on #5969
Removed the custom class and updated to column layout. Following is the final result

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/1935113/171349179-3df147a1-2bb2-46e9-8fd6-93264518cbbb.png">

[2022-06-01 09:38] beafialho commented on #5969
Thanks @madhusudhand! What does it look like if you add more social links to the right? That was what was causing the misalignment of the Site title in the first place.

[2022-06-01 10:48] Robertght commented on #6054
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2  -
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to replicate this on a self-hosted site so I moved it to core.

📌 ACTIONS

- Transferred to XYZ external repo: https://core.trac.wordpress.org/ticket/55892#ticket

[2022-06-01 11:41] madhusudhand commented on #5969
Yes. It works with more social icons too.

Single icon
<img width="1372" alt="image" src="https://user-images.githubusercontent.com/1935113/171394454-2fbe33e8-98d7-4373-9467-169ccd941f04.png">
Multiple icons
<img width="1372" alt="image" src="https://user-images.githubusercontent.com/1935113/171395985-df637053-e016-4c93-9ef5-0789f41e0e53.png">

When there are more icons, they wrap in mobile view

[2022-06-01 12:52] #5737 closed, assigned to nobody

[2022-06-01 13:05] #5996 closed, assigned to mikachan

[2022-06-01 13:09] #5969 closed, assigned to madhusudhand

[2022-06-01 14:11] beafialho commented on #5969
Awesome, thanks everyone!

[2022-06-01 15:10] pbking commented on #5969
I thought that was a decision we made earlier in development and I don't remember why.  Something when we were defining which patterns would be shown, etc. It might have been because the original design required a fair bit of custom CSS. Maybe?  I don't actually recall. :)

[2022-06-01 15:19] beafialho commented on #5969
Ah, you're right. I also vaguely remember now we discussed which patterns would go and which wouldn't.

[2022-06-02 01:38] donalirl commented on #5624
Encountered in #35022909-hc

[2022-06-02 01:51] hacchism commented on #6066
Another report: 399646-hc
Theme: Russell

[2022-06-02 09:56] csabarakasz opened #6085 "Blockbase child themes: Links missing the underlining in live view on List/ Table blocks"
### Quick summary

The underlining of links is showing in Editor, but not showing (everywhere) on the Live site:
Theme: Zoologist and Geologist for sure

In the Editor:
<img width="759" alt="CleanShot 2022-06-02 at 11 30 26@2x" src="https://user-images.githubusercontent.com/84539773/171602178-4dfb0b24-577d-4569-b26c-8cad98b4fa41.png">

Live view:
![CleanShot 2022-06-02 at 11 30 51@2x](https://user

[2022-06-02 12:55] ccwalburn commented on #5602
35690837-hc (Skatepark), used a CSS workaround

[2022-06-03 11:35] Robertght commented on #6057
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context. I can replicate this.

📌 ACTIONS
- Transferred to Themes

[2022-06-03 12:45] mxhassani opened #6067 "Baskerville 2 footer credits visible on Blog page with no widgets (atomic only)"
### Quick summary

Hiding footer credits works on all pages except the default blog page on Baskerville 2 when there are no Widgets installed

### Steps to reproduce

1. Activate Baskerville 2
2. Make sure no widgets are active
3. Select Hiden under Appearance → Customize → Site Identity → Footer Credit
4. Make sure there are enough posts so to need to scroll down

### What you expected to happen

[2022-06-03 13:32] madhusudhand opened #6059 "Curator: Add pagination in Archive and Search templates"
![image](https://user-images.githubusercontent.com/1935113/171864202-69b35e88-ff49-4513-a2be-b0152578470b.png)

[2022-06-03 13:34] #5932 closed, assigned to madhusudhand

[2022-06-03 13:54] madhusudhand opened #6060 "Curator: Templates: Home page"
![image](https://user-images.githubusercontent.com/1935113/171867879-db61d490-2c85-4a72-a371-804b149a644a.png)

[2022-06-03 15:54] pbking opened #6062 "Blockbase: Update name of template directories"
Templates are expected to be in /templates (rather than /block-templates) and template parts should be in /parts (rather than /block-template-parts).

Not completely necessary to work as expected (both directories are checked) but the more current and expected location should be used.

[2022-06-03 18:07] nerdysandy opened #6063 "Marketplace: When searching for a plugin, it says 4 Results found but doesn't show any plugin to select from."
## Steps to replicate

 - Click on Plugins. ->Add new
 - Search for "Xendit" plugin

## Result

It says " 4 Results found" but doesn't have any list of plugins to select from. It's a blank page.

<img width="1800" alt="Screenshot 2022-06-03 at 2 04 03 PM" src="https://user-images.githubusercontent.com/16509219/171921251-feefc58a-0c9b-48d6-8d7f-1c00a2b95cc8.png">

## Expected

It should either say

[2022-06-04 08:50] rinazrina opened #6068 "Twenty Twenty-Two: Fill style shows outline/border on the Form block button"
### Quick summary

On Twenty Twenty-Two theme, the button on Form block keeps showing an outline/border even though the **Fill** style is chosen under the Button Block setting.

This only happened to the button on the Form block. A standalone Buttons block works as expected.

### Steps to reproduce

1. Activate Twenty Twenty-Two theme, and open a page editor.
2. Add a Form block on the page.
3. Ma

[2022-06-04 19:36] bobmatyas commented on #5893
Closed via https://github.com/Automattic/themes/pull/5974

[2022-06-04 19:36] #5893 closed, assigned to nobody

[2022-06-04 19:37] bobmatyas commented on #3299
Closed via https://github.com/Automattic/themes/pull/5953

[2022-06-04 19:37] #3299 closed, assigned to nobody

[2022-06-05 10:47] Robertght commented on #6065
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context: the Video block is from Jetpack, however, this is affected by the theme itself.

📌 ACTIONS
- Transferred to https://core.trac.wordpress.org/ticket/55925#ticket

[2022-06-05 10:56] Robertght commented on #6066
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context: to confirm, this happens on AT sites with the **Blockbase** theme as well.

📌 ACTIONS

- Transferred to the themes repo.

[2022-06-05 11:42] Robertght commented on #6068
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Context. I can replicate this as well on a self-hosted site, however, there is a discrepancy between the editor and the frontend.

In terms of design, should the frontend follow the editor design or vice versa?

Not sure if t

[2022-06-05 20:50] jp-imagines opened #6089 "Illustratr: Classic editor/classic block galleries aren't rendered with Gallery post format"
### Quick summary

If you insert a gallery using either the classic editor or the Classic Block in the block editor, and set the post format to "Gallery," the gallery images do not display on the live post.

### Steps to reproduce

1. Activate the _Illustratr_ theme.
2. Create a new post in the Classic Editor.
3. Insert a gallery (Add Media > Create gallery > select images > Create a new gallery >

[2022-06-06 08:59] madhusudhand opened #6069 "Curator: Styles: Footer"
**Large:**

<img width="763" alt="image" src="https://user-images.githubusercontent.com/1935113/172130055-2a91d9e8-8ae3-4e60-87ba-13b09940e0af.png">

**Small:**

<img width="304" alt="image" src="https://user-images.githubusercontent.com/1935113/172129831-b1e5a417-4732-4572-8814-e777b914b221.png">

[2022-06-06 12:02] jeherve commented on #6068
These styles seem to come from the browser itself. Jetpack

This is because Blank Canvas' parent theme, Seedlet, includes styles that reset some of the typical browser defaults such as the button styles that are problematic for us here:
https://github.com/Automattic/themes/blob/8ee1e83a2c45625a9dc775e7aa8325ca0a5ff1ad/seedlet/style.css#L584-L600

Twenty Twenty Two does not include such reset style

[2022-06-06 15:46] #5788 closed, assigned to nobody

[2022-06-06 15:53] #2906 closed, assigned to nobody

[2022-06-06 15:57] #6047 closed, assigned to nobody

[2022-06-07 00:50] deancroyal opened #6074 "Archeo: Small screen submenu alignment on Android"
## Steps to replicate

Using a site with FSE...

1. Add a navigation block in the header with a few main menu items.
2. Add a submenu to one of the main menu items.
3. Within the submenu, add a few menu items.
4. Make one of the submenu items several words long.
5. Save.
6. View the site on Android using Galaxy S20 in Chrome web browser.
7. Tap the hamburger menu.
8. Tap the menu item with the sub

[2022-06-08 02:37] supernovia commented on #6077
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No; the social menu didn't work there at all. I'm guessing that's related, but if you want a separate bug report for that, let us know.

📌 SCRUBBING
- Tested on P2: _n/a_
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm that editing the header _at all_ gets rid of the social m

[2022-06-08 11:33] mikeicode commented on #6077
Thanks @supernovia

I ran into this again yesterday building a DIFM-L site using Russell.

[2022-06-08 13:04] mikeicode commented on #6025
Ran into it with Hever:

![Screen Shot on 2022-06-08 at 09:04:10](https://user-images.githubusercontent.com/10353785/172623536-6a3552b1-f6b6-4d8c-9747-3ef6a6305d0e.png)

[2022-06-08 15:30] jp-imagines commented on #5833
Just noting that this came up in 5279831-zd-woothemes, as the depreciated _Post Comments_ block's "notify by email" checkboxes overlap, and switching to the _Comments_ block resolves that. Informed the user how to update to the newer _Comments_ block, as an eventual switch here won't have affected them since they already made edits to their _Single Post_ template (per p1654700804534859-slack-C029F

[2022-06-08 15:51] mikeicode commented on #5739
Ran into this using the theme Meraki, used CSS to resolve. pdEkSe-xG-p2

[2022-06-08 16:35] pbking commented on #5833
Considering that the comments block isn't in 6.0, and that our aim for Blockbase is to be limited to what features are available in core-sans-gutenberg this change isn't likely there yet.

Do we know when we can expect this comments block to head into Core?

Is there something we can/should to with CSS to address that overlap in the meantime?

That said, I don't think we need to hold any of the ch

[2022-06-08 16:41] MaggieCabrera commented on #5833
I think the query loop made it, just not the forms block, and we can keep using the legacy one for that. So told me the frontity people during WC, which are the ones leading the Comments block effort

[2022-06-08 17:23] sguzovskaia commented on #5739
Another case: 35462717-hc/5281306-zen, shared the CSS workaround.

[2022-06-08 18:08] pbking commented on #6077
The specifics as to why this is happening is because Blockbase uses an unsanctioned block attribute `_unstableSocialLinks` that is removed any time the header is saved.

Ideally we would like to transition users to use the FSE for all of their navigation needs now that 1) the FSE is more mature and B) it is available to everyone.

However making that change would effect existing installs so a brid

[2022-06-08 23:02] hacchism commented on #4018
Another case: 35750633-hc

One additional point is that this happens only when `Fix background` is off under **Media Setting**:
<img width="418" alt="Screen Shot 2022-06-09 at 07 49 45" src="https://user-images.githubusercontent.com/32432463/172731597-6c62dc4f-f9d4-4365-916a-f9ccd2110825.png">

[2022-06-09 09:06] IoanaAMuresan commented on #5739
Another instance 5277070-zen - free site so no CSS workaround for them.

[2022-06-09 16:00] pbking commented on #5739
Rather this seems to be in issue with the 'Block Posts' block which leverages a `<button>` element rather than a `Button Block` which would be styled as expected.  Otherwise changes to button styles via Global Styles wouldn't be picked up by this button.

I believe this should be closed and the [newspack block item mentioned above](https://github.com/Automattic/newspack-blocks/issues/357) re-opene

[2022-06-10 01:46] xue28 commented on #5602
Another ticket using Skatepark: 5285243-zen. Starter plan.

[2022-06-10 05:32] #5500 closed, assigned to madhusudhand

[2022-06-10 14:09] Gustavo-Hilario commented on #5739
Another report here: 5286779-zen

[2022-06-10 14:14] arunsathiya commented on #6081
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on P2 - Did not test
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- I can reproduce on simple, Atomic and WordPress.org.
- Needed to install Blockbase first before installing Meraki on WordPress.org
- Needed Jetpack on WordPress.org as this block is from Jetpa

[2022-06-10 15:05] pbking commented on #5739
Closing this as it needs to be fixed in the [`Blog Post` block](https://github.com/Automattic/newspack-blocks/issues/357).

[2022-06-10 15:05] #5739 closed, assigned to nobody

[2022-06-10 15:17] masperber opened #6083 "Dynamic News: Missing Label for Header Search Button(Accessibility)"
### Quick summary

In the Dynamic News theme, the Header Search Button is missing a label. Though this theme is retired, this bug should still be fixed for accessibility reasons.

### Steps to reproduce

1. Install Dynamic News on a site.
2. Enable Header Search from Customize > Theme
3. Inspect element on the Search button.

### What you expected to happen

The element

[code]

Should have a <lab

[2022-06-10 15:53] mikachan commented on #5975
I'm not sure why we added this originally, my guess is that it could've been to fix the position of the close button when the admin-bar is visible. I've opened up a Gutenberg PR to fix this: https://github.com/WordPress/gutenberg/pull/41664

Removing these styles in Blockbase seems to work fine. Opened up a PR for this too: https://github.com/Automattic/themes/pull/6082

[2022-06-10 16:15] kelasante commented on #679
Another report in 35760048-hc. Disabling Lazy load fixed the issue.

[2022-06-10 16:36] jp-imagines commented on #5897
I'm seeing the same issue on _Barnett_:
![Markup on 2022-06-10 at 12:35:15](https://user-images.githubusercontent.com/5630717/173111664-04589b90-0b5d-4b54-bd00-d36c5341f731.png)

- [ ] Context: 5284163-zd-woothemes

[2022-06-11 20:00] tvolpert opened #6084 "Karuna: post author not shown if only one"
### Quick summary

In the `Karuna` theme, when there's only one author for your published posts, the author name will not be displayed on blog index pages, even when the box is checked in the customizer. Changing any published post to have a different author will cause them to be displayed, even if that particular post doesn't appear in the list (IE it's too old)

### Steps to reproduce

1. activa

[2022-06-12 10:57] Robertght commented on #6081
Thank you @arunsathiya !

Based on the last screenshot, I believe this is a situation where the slideshow just has more width than it's needed. Similar case:

https://github.com/Automattic/themes/issues/5990#issuecomment-1137213988

Also, reported something similar here: https://github.com/Automattic/jetpack/pull/24343#issuecomment-1142462864

I'm not 100% familiar with it, however, I'm wondering

[2022-06-12 12:06] Robertght commented on #6085
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- To clarify, the underline doesn't remain consistent between the editor and the live preview of that page/post. @csabarakasz  can you confirm this is the issue we're looking at?  Regarding the list or table block, I can see the behaviors are consistent

[2022-06-12 23:31] cuemarie commented on #3178
User on **Colinear** theme reported that their captions under Image Blocks exactly matched the theme's paragraph blocks, which was pretty confusing. I think this feature request may have helped this user as well, so wanted to share the report.
5289870-zd-woothemes // ended up providing them the same CSS workaround that was noted in the previous comment.

[2022-06-13 13:11] jeherve commented on #6081
The slideshow block doesn't perfectly work with Full Site Editing. I believe you may be running into something similar to https://github.com/Automattic/jetpack/issues/22834

[2022-06-13 15:48] #5931 closed, assigned to PeterNdomano

[2022-06-14 01:06] freelylovinglife opened #6086 "Heiwa List Block Indent Creates Excess Space"
## Steps to replicate

Use the List Block on a page or post using the Heiwa theme.  Make the list bulleted, and indent one of the items in the list.  You will notice the indent creates excess space and moves the listed item more to the right than it should be.   The indented bulleted list should be shifted more to the left.

**Image of the Issue:**
<img width="623" alt="Screen Shot 2022-06-13 at 8

[2022-06-14 03:36] xue28 commented on #5602
Another ticket using Skatepark: 5294772-zen. Personal plan.

[2022-06-14 11:09] Addison-Stavlo commented on #5226
I think this is an unfortunate piece of starter content. Everything seems to work as expected from the technical end, but from the user end the entire page is populated by this cover block that has its own backgrounds set, making Global Styles not seem to work and be very misleading.

We need this starter content revised to work with global styles, otherwise upcoming tools like the Help Center Tut

[2022-06-14 11:17] Addison-Stavlo commented on #5734
cc @jeffikus to get this on your radar, some restricting font styles settings in blockbase break this functionality.

[2022-06-14 14:38] sajmes commented on #5894
5289121-zd-woothemes

Replacing Post Comments block with Comments block appears to have resolved it when I tested.

[2022-06-14 15:43] tvolpert commented on #5602
Another case from 2022 Mint: 35726031-hc (and 35800836-hc, they got disconnected in between). In this case, we had already given them a CSS fix, and it stopped working (presumably after a theme update). The filter was now being applied to the `figure` and other parent elements of images, rather than the `img` itself. I initially provided the Snippet suggested by @mxhassani above, but apparently th

[2022-06-14 17:44] pbking commented on #5734
This might be happening because we have a separate variable for buttons fonts in Blockbase (and children).  This was primarily because many non-button-block buttons still needed to be styled with the same settings we were applying to button blocks.

We're trying to transition out of needing to do that, however we might not have everything in place to accomplish this in WP 6 (sans-Gutenberg).

[2022-06-14 18:20] cuemarie commented on #419
Ran into this again today here: 35802305-hc

Headings, Page Titles, and Contact Form all show up in light grey by default

Working on putting together CSS for the user as a workaround

-- Adding `color: inherit` via CSS for any headings or content that's showing up light grey resets it to a much easier to read dark grey. My user wanted black, so not needed here, but wanted to add this note; hattip

[2022-06-14 18:52] pbking commented on #5734
I tested with the [Fonts management change to Blockbase](https://github.com/Automattic/themes/pull/6010) (which should be landing soon-ish).  Changing the global button font-family worked as expected, but the per-block of the same wasn't working as expected.

[2022-06-15 02:53] Thelmachido commented on #5956
Closing this issue in favor of [#5955](https://github.com/Automattic/themes/pull/5955) since the issue is being discussed there at the moment.

[2022-06-15 02:53] #5956 closed, assigned to nobody

[2022-06-15 03:31] Thelmachido commented on #5750
Hi, @kgeorgee and @poeticabdul closing this issue since it turned out to be something being caused by AMP plugin. There is an ongoing thread about that [here](https://github.com/Automattic/wp-calypso/issues/57369)

Feel free to add your interaction on that thread.

[2022-06-15 03:31] #5750 closed, assigned to nobody

[2022-06-15 09:37] Thelmachido commented on #5313
I can reproduce this issue on my test site, I will add screenshots for future reference.

When the site is on the Twenty-Twenty One theme, add [bbpress plugin](https://wordpress.org/plugins/buddypress/) and create a test forum. The forum page can be seen as shown below.
<img width="1585" alt="Screenshot 2022-06-15 at 12 31 50" src="https://user-images.githubusercontent.com/41231764/173795487-ae478

[2022-06-15 09:43] MaggieCabrera commented on #5313
TT1 is a classic theme, while Blockbase and TT2 are block themes. This is probably the plugin not supporting block themes or some underlying issue with the editor.

[2022-06-15 09:51] edwinho89 commented on #5602
5295918-zd-woothemes applied this workaround provided in the earlier comments.

[code]

[2022-06-15 10:08] Thelmachido commented on #5379
Pulling more information from pd4QKa-r4-p2  to here for context

**Summary**
The new 404 page that’s displayed when no posts are published on the site says that the home page is configured to display the latest posts. This is not necessarily true, as the issue can also occur on pages that are not set as the home page, like the posts page.

**Steps to reproduce**
1. On a site that doesn't have any

[2022-06-15 11:16] arunsathiya commented on #6089
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- I can reproduce only on Illustratr. A few other gallery post-supported themes that I tried, Sketch and Snaps, do not show this behavior.
- Cannot reproduce with Illustratr (downloaded from Illustratr WordPress.com theme page

[2022-06-15 13:23] Addison-Stavlo commented on #5226
Also cc-ing @ianstewart @onuro @that-mike-bal @alaczek for visibility.  While [this issue](https://github.com/Automattic/themes/issues/5226#issuecomment-1155041326) is specifically about Kingsley, this may be the case with some other themes and something that we need to consider regarding starter content.

[2022-06-15 15:58] that-mike-bal commented on #5226
At this point, we're using group blocks to break up sections and patterns and shouldn't see this moving forward. I'm not sure if there are other themes historically that may have done this but I think we can recreate starter content "the right way" relatively quickly with blocks that won't disrupt or hide the FSE features.

[2022-06-15 16:17] Addison-Stavlo commented on #6077
Thanks for working on this!

Im going to remove it from Cylon backlog, and it looks like its tracked with the Blockbase 3.0 milestone now. 🎉

[2022-06-15 16:46] jffng commented on #5918
Closed by #5987

[2022-06-15 16:46] #5918 closed, assigned to nobody

[2022-06-15 18:22] khristiansnyder commented on #5602
Came up again in Skatepark. User couldn't set their own duotone filters despite the preview looking okay.
35812565-hc

Gave CSS to fix:

[code]

[2022-06-15 21:57] jerrysarcastic commented on #5602
Also reported in https://wordpress.com/forums/topic/color-16

Theme: Skatepark

Also gave CSS to fix

[2022-06-16 00:18] alaczek commented on #5226
For some background, this particular design is using Cover block because it allows you to position the text at the bottom without an extra spacer block, and you can set it to the screen's full height (100vh). But I agree that the color issues are just too confusing. I'll experiment with a different setup and update headstart annotations.

[2022-06-16 01:35] Jaykame commented on #5602
Reported in 35539001-hc

Theme: Skatepark

Applied a CSS for workaround.

[2022-06-16 13:53] rosepajaroja opened #6093 "Skatepark: Duotone doesn't update on live page"
Color change on Duotone works while working on the editor, but the changes don't show on preview.

## Steps to replicate

1 - Activate "Skatepark" theme.
2 - Add/Edit a page/post.
3 - Add image block.
4 - Apply Duotone filter.
5 - Change the colors.
6 - Preview.

## Result

The color remains green.

## Expected

The new color will display on the preview.

*Sample on my test site - https://happines

[2022-06-16 15:08] pbking commented on #5734
So the problem is a little deeper than just Blockbase.

Setting the font-family attribute for the Button Block via theme.json or the Global Styles FSE form applies that font via the selector: `.wp-block-button__link`.  However when assigning the font-family via the block it is applied via the class `.has-FONTFAMILY-font-family` on the `wp-block-button` element (which is the parent of the `.wp-bloc

[2022-06-16 15:22] scruffian commented on #5226
We could use the site background color as a variable in the cover block, so that when the user changes their background color it will also update the cover block pattern.

[2022-06-16 15:23] #5925 closed, assigned to jffng

[2022-06-16 15:39] Addison-Stavlo commented on #5226
Would that also mean that a more savvy that wants their cover block to end up a different color than the overall GS background and goes through the 'proper' approach of changing colors on the cover block (at the block setting level), will see those not take effect correctly? 🤔

[2022-06-16 15:45] jffng opened #6095 "Curator: mobile menu styling"
## Description

The mobile menu needs to be styled:

Current | Target
--- | ---
<img width="384" alt="Screen Shot 2022-06-16 at 11 44 47 AM" src="https://user-images.githubusercontent.com/5375500/174111386-73757521-355d-48ab-a06b-8f6bed8d6557.png"> | <img width="334" alt="Screen Shot 2022-06-16 at 11 45 35 AM" src="https://user-images.githubusercontent.com/5375500/174111496-7a8403f2-89b7-4488-bb0b

[2022-06-16 15:46] Addison-Stavlo commented on #5734
Oo good find! I can repro as well on TT2 as well this way:

* Go to Global Styles -> Blocks -> Button -> Typography. Set a font family.
* Go to an individual button block and try to set a different font family.
* See that it does not update and uses the block level global styles setting.

Where we would expect individual block level settings to override the Global Styles block type setting.

[2022-06-16 15:58] scruffian commented on #5226
No that should continue to work as expected.

[2022-06-16 21:43] jerrysarcastic commented on #2716
Also reported in https://wordpress.com/forums/topic/three-line-button-to-open-slide-out-menu-flickering-once-site-is-made-public

Since this is not likely to get fixed in the near-term, I added custom design and CSS to correct it.

[2022-06-17 07:08] #5975 closed, assigned to mikachan

[2022-06-17 07:09] #3880 closed, assigned to madhusudhand

[2022-06-17 07:39] nagpai commented on #5180
35826380-hc

Gave CSS override.

[2022-06-17 07:51] MaggieCabrera commented on #5180
I can't reproduce this on Blockbase:

<img width="1663" alt="Screenshot 2022-06-17 at 09 51 13" src="https://user-images.githubusercontent.com/3593343/174252321-192fb40d-92cf-49ff-9937-4e264abc46d5.png">

[2022-06-17 11:14] #1448 closed

[2022-06-17 11:26] #1518 closed

[2022-06-17 11:42] #1856 closed

[2022-06-17 12:42] #2837 closed, assigned to nobody

[2022-06-17 13:06] #4954 closed, assigned to nobody

[2022-06-17 13:07] #5188 closed, assigned to nobody

[2022-06-17 13:17] #5530 closed, assigned to nobody

[2022-06-17 13:21] Addison-Stavlo commented on #5180
It looks like that last report was on Alonso.

I am not able to repro on blockbase either. Setting colors on direct parent or direct child group blocks fill full width on my end. Perhaps they were using a header pattern that had a block with some odd width setting or something weird? 🤔

[2022-06-17 13:29] #4594 closed, assigned to nobody

[2022-06-17 13:45] hideandgeek404 commented on #4945
That looks to be correct @mrfoxtalbot. The colour never matches what I select in the customizer.

[2022-06-18 05:56] formosattic commented on #3915
+1 5306157-zd-woothemes

[2022-06-19 17:40] jp-imagines commented on #5736
Came across a similar issue. Unsure if it's related – if it's a separate issue, let me know and I'll report it separately. (cc @Robertght)

Also in the _Byrne_ theme, the "Donate" button (on the Donations Form block) has a white background with white text until hovered over. This is particularly troublesome, as the button is inactive (and _can't_ be hovered over) until a donation amount is specifi

[2022-06-20 00:35] rw-ye commented on #5602
User report: 5307216-zd-woothemes

Theme: Skatepark

Personal plan.

[2022-06-20 07:31] kspilarski opened #6097 "Wilson: Excerpts are not displayed"
## Steps to replicate

1. Activate Wilson theme on the site.
2. Add excerpts to your posts.
3. Go to Settings > Reading.
4. In "For each post in a feed, include", select "Excerpt" and save changes.
5. Visit your posts page.

**Excerpt is selected in Settings > Reading:**
<img width="883" alt="Screen Shot 2022-06-20 at 9 23 21 AM" src="https://user-images.githubusercontent.com/36863633/174547844-35

[2022-06-20 12:30] bobmatyas opened #6128 "Argent: Blog Posts Block Excerpt Text Wrapping Exceeds Container Width"
### Quick summary

In the Blog Posts block, excerpts exceed the width of container on live site.

## Screenshot

### Editor
![image-1](https://user-images.githubusercontent.com/45246438/174601563-00e4fd45-dd0a-46d7-bf61-0841e2bc7102.png)

### Live Site

![image-2](https://user-images.githubusercontent.com/45246438/174601603-c4fe989a-b075-4125-8f64-e72788ffc053.png)

### Steps to reproduce

1. Sele

[2022-06-21 07:38] nagpai commented on #5180
Another report on Alonso - 5288411-zd

[2022-06-21 14:17] mikeicode commented on #6025
Shawburn pdEkSe-BK-p2

![Screen Shot on 2022-06-21 at 10:16:30](https://user-images.githubusercontent.com/10353785/174822104-b4d7b370-fa32-4173-942e-dd766749efdd.png)

[2022-06-21 16:29] bobmatyas commented on #3500
I investigated this issue and it seems to now only affect columns within other blocks (i.e. cover or group blocks).

[2022-06-21 21:50] csabarakasz commented on #6085
@Robertght When links are added to the text within Lists or Tables, the underlining does not show up on the Live site, unless hovering over the text exactly. This makes links unidentifiable in Lists or in Tables. I hope that helps!

[2022-06-22 03:55] Thelmachido commented on #5276
Recently checked this on a test site using the Blank Canvas & TT theme with WP 6.0, I couldn't reproduce the issue.

<img width="1372" alt="Screenshot 2022-06-22 at 06 53 07" src="https://user-images.githubusercontent.com/41231764/174940139-fe50c2eb-3340-4fc3-bd38-88a7676caed3.png">

[2022-06-22 04:10] Thelmachido commented on #5405
This could be related to this issue #5622

[pbking](https://github.com/pbking) would this be the same issue worked on #5816

[2022-06-22 04:19] Thelmachido commented on #5191
Thanks for making this report, I cannot reproduce this on the parent site using the Block base theme. I would suggest moving this issue to the plugins Github repository so that the plugin developers can have a look and advise:

https://github.com/WordPress/create-block-theme/issues

[2022-06-22 07:16] MaggieCabrera opened #6108 "Link interactivity (e.g. `:hover`) styles"
In order to test https://github.com/WordPress/gutenberg/pull/41786 and preparing for when that one gets merged we should implement link hover (and probably focus?) styles on our themes. I think we should start with:

- [x] Blockbase https://github.com/Automattic/themes/pull/6156
- [ ] Blank canvas
- [x] Block Canvas https://github.com/Automattic/themes/pull/6486
- [x] Curator https://github.com/Au

[2022-06-22 09:03] KokkieH commented on #5602
https://wordpress.com/forums/topic/image-duatone-filter-not-working/

Skatepark

Free plan

[2022-06-22 09:05] KokkieH commented on #6093
Closing as a duplicate of #5602

@rosepajaroja if your user is on the Pro or legacy Premium/Business Plan, there's a CSS workaround on that issue you can share with them. But this is a bug that needs to be fixed in Core.

[2022-06-22 09:08] #6093 closed, assigned to nobody

[2022-06-22 14:58] getdave commented on #6108
Hope you don't mind I updated the title and desc to include that you might also consider implementing `:focus` just for a11y reasons 🙇

[2022-06-22 15:02] #6069 closed, assigned to madhusudhand

[2022-06-23 05:47] rw-ye commented on #1759
Another report here: 5309992-zd-woothemes

I can reproduce this on BrowserStack via iPad Pro 12  iOS v14.5 with Safari.
<img width="956" alt="Screen Shot 2022-06-23 at 3 40 10 pm" src="https://user-images.githubusercontent.com/21261509/175224308-4b58eee4-54cc-4b2c-9167-cc80c43ff870.png">

[2022-06-23 08:43] #4074 closed, assigned to nobody

[2022-06-23 08:47] #2857 closed, assigned to nobody

[2022-06-23 08:50] #1845 closed

[2022-06-23 08:55] #2508 closed

[2022-06-23 11:53] Addison-Stavlo commented on #5177
Noting that now with placeholder changes the initial state looks like this:
![Screen Shot 2022-06-23 at 7 46 42 AM](https://user-images.githubusercontent.com/28742426/175291563-69325018-580f-4e76-898a-18286f134f8f.png)

Its a bit more clear from the non-selected placeholder side, and the setup interaction seems more friendly.

I think this is fair to close given the above changes, the lack of rece

[2022-06-23 11:53] #5177 closed, assigned to nobody

[2022-06-23 12:09] csabarakasz commented on #3863
Thank you! Same issue. 34304790-hc Used the provided workaround.

[2022-06-23 13:12] devNigel opened #6233 "Edin: Incorrect instructions to use Page Templates"
### Quick summary

The instructions to use Page Templates in incorrect in the getting started guide of theme Edin.

It says:

The Template section is not under Page Attributes.

### Steps to reproduce

1. Go to https://wordpress.com/theme/edin/
2. Check the instructions to set Front Page Template.

![image](https://user-images.githubusercontent.com/33957570/175306842-7bb8c6a2-71d6-4f59-8ebf-e74f33

[2022-06-23 13:50] jorpdesigns commented on #151
Reported in 35883221-hc:

- Site language set to French.
- Theme: Lodestar
- Shared custom CSS as aworkaround.

[2022-06-23 14:55] sajmes opened #6152 "Classic themes: separator block - color changes do not show in editor"
### Quick summary

When the background color for a separator block is changed, that change does not show in the editor. The change is only visible on the live site or when previewing in a new tab.

### Steps to reproduce

1. Add separator block to a new page or post.
2. Change the background color in the block settings.

### What you expected to happen

The separator block appears in the correct c

[2022-06-23 14:56] ClassicRKR27 commented on #5602
- [ ] Another report here: [35883779-hc](https://hud.happychat.io/chat/35883779)

Applied CSS fix to resolve the issue

Skatepark

Pro Plan

[2022-06-23 15:46] #5934 closed, assigned to madhusudhand

[2022-06-23 15:52] #2789 closed, assigned to nobody

[2022-06-23 15:54] ghost opened #6124 "Blockbase (and other FSE themes): New page / new article: Template 404"
## Steps to replicate

choose "new article" or "new page" to open site editor and write new article or new page.
go to sidebar, Template area.

## Result

Sidebar says: "Template: 404".
Clicking on "Modify" sends to 404 template (instead of single or page).

<img width="960" alt="2022-06-23" src="https://user-images.githubusercontent.com/25288484/175341949-8f560afa-5891-4d21-99de-11ae89dbc9cb.png"

[2022-06-23 15:58] #5302 closed, assigned to nobody

[2022-06-23 16:15] #5123 closed, assigned to nobody

[2022-06-23 16:52] bobmatyas commented on #5875
Closed by https://github.com/Automattic/themes/pull/6044

[2022-06-23 16:52] #5875 closed, assigned to nobody

[2022-06-23 17:48] kerrynicl commented on #6233
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 FINDINGS/SCREENSHOTS/VIDEO
Users use to be able to make changes to the Page attribute module before FSE.
Since FSE was launched, this has been updated to the Templates from the Site Editor so this would need to be updated
<img width="829" alt="Markup 2022-06-23 at 12 45 14" src="https://user-images.githubuserconten

[2022-06-23 18:07] kerrynicl commented on #6128
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Updated main description of report - No

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
I was able to replicate this issue The issue seems to occur when the excerpt is added from the blog post excerpt attribute here:
<img width="325" alt="Markup 2022-06-23 at 13 02 35" src="https://user-images.githubusercontent.com/83325600/

[2022-06-23 18:59] gwensmithx commented on #5589
It seems to me we can only use CSS here on a case-by-case basis depending on what theme colour is chosen. I've been trying to figure out a way to apply an overall theme fix with CSS but it looks to me like specific CSS classes are not being added to the submenu element when a theme colour is selected.

As @Gustavo-Hilario mentioned, removing this declaration fixes the issue in the browser:

`.wp-b

[2022-06-23 19:57] #5921 closed, assigned to madhusudhand

[2022-06-24 02:16] happychait commented on #5602
Another report in 5308136-zen

[2022-06-24 06:49] Robertght commented on #3019
#5322137-zen

[2022-06-24 09:42] #1759 closed

[2022-06-24 10:22] #1783 closed

[2022-06-24 10:25] rosepajaroja commented on #6054
Similar issue here: 5321193-zen and I can replicate.

[2022-06-24 10:32] MaggieCabrera commented on #5899
`appearanceTools` is a rule you can only apply on themes with a theme.json file, and I believe the last time we tried to add it to a classic theme it had some consequences, I can't remember which ones now! Right now we are adding that to all of our block themes, but haven't looked again into doing it for classic themes. We'd have to revisit that to see if it's feasible now or not.

[2022-06-24 10:40] #1999 closed

[2022-06-24 10:57] #2174 closed

[2022-06-24 11:10] #2156 closed

[2022-06-24 11:16] #2946 closed, assigned to nobody

[2022-06-24 11:19] #2934 closed, assigned to nobody

[2022-06-24 11:25] #2563 closed

[2022-06-24 11:31] #3646 closed, assigned to nobody

[2022-06-24 14:35] bobmatyas commented on #5738
@Robertght I looked into this one but couldn't reproduce on either a self-hosted or WPCOM site:

<img width="607" alt="Screenshot on 2022-06-24 at 10-32-58" src="https://user-images.githubusercontent.com/45246438/175557819-3099249a-58aa-4f1b-b6ed-7e640eda1982.png">

[2022-06-24 14:46] bobmatyas commented on #3915
I couldn't reproduce this issue. It seems that the background color is working properly.

## Customizer:
<img width="1158" alt="Screenshot on 2022-06-24 at 10-43-43" src="https://user-images.githubusercontent.com/45246438/175559956-2d94e52d-0795-43c0-8288-05137b7beee5.png">

## Post Edit:

<img width="1616" alt="Screenshot on 2022-06-24 at 10-44-10" src="https://user-images.githubusercontent.com/4

[2022-06-24 16:05] liviopv opened #6197 "Classic themes(Publication, Button 2, Cubic): Image Block displayed with no bottom margin"
### Quick summary

It seems that a change in the markup of the Image Block has led to Image Blocks on the Publication theme to be displayed without any bottom margin, so any element without a top margin or padding (such as a Paragraph Block) is displayed directly below the image, with no gap.

Images that were inserted into the post before recent updates are displayed correctly while adding new Im

[2022-06-24 16:23] #3148 closed, assigned to nobody

[2022-06-24 16:54] #1446 closed

[2022-06-24 16:54] #963 closed

[2022-06-24 17:38] Robertght commented on #5738
I can no longer replicate this either. Closing

[2022-06-24 17:38] #5738 closed, assigned to nobody

[2022-06-24 18:06] Robertght commented on #6197
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I cannot replicate this and I noticed the markup follows the first structure mentioned above.

📌 ACTIONS
- Await author feedback

📌 Message to Author
 - @liviopv is this present while using the Class

[2022-06-24 18:13] Robertght commented on #4324
Going to close this in favor of https://github.com/Automattic/newspack-blocks/issues/399

[2022-06-24 18:13] #4324 closed, assigned to daria2303

[2022-06-24 20:22] jeffikus commented on #5977
GlotPress File Diff D83196

[2022-06-24 20:40] lizswafford opened #6149 "Sapor: Like This Button appears twice on front page when Full Post content option is used"
### Quick summary

When the Sapor theme has the front page set to show posts and the content option is Full Post, the "Like this:" button and likes appear twice below each post.

Work around is to set the site to show Post Excerpt in content options.

### Steps to reproduce

1. Activate Sapor theme
2. Set front page to show posts
3. Set content options to Full Page
4. Activate the "like this:" but

[2022-06-25 16:00] devNigel commented on #3540
@mrfoxtalbot Looks like what @zdenys experienced is either slightly different or there is a mistake in his description ( most likely ).

I reviewed his chat: 28613423-hc and the user said:

In my case ( 4286161-zd-woothemes ) and on my testing, I can confirm that the block itself is rendering, but the featured image was missing. I can still reproduce it on Post Carousel Block and Blog Posts Block.

[2022-06-26 16:35] sharonlaker19 commented on #5110
+1 in 5327602-zen. I shared the CSS workaround.

[2022-06-27 01:04] manuelrebollo-a11y opened #6141 "Zoologist, and others: Title sizes, inconsistent between Simple and Atomic sites"
## Steps to replicate

Applying the [Zoologist](https://wordpress.com/theme/zoologist) theme to a Simple site produces a small, all-caps site title and larger post titles:

![simple](https://user-images.githubusercontent.com/92953443/175841959-c7484bfa-9dfa-4ecf-9a5f-fdea2a01b172.png)

Applying the same theme to an Atomic site produces a large site title and smaller post titles:

![atomic](https:/

[2022-06-27 02:36] jeffikus commented on #5856
@pbking after launching Pendant on wpcom this week once we resolve the headstart issues, could you take a look at this please?

[2022-06-27 06:29] #6060 closed, assigned to madhusudhand

[2022-06-27 09:24] beafialho commented on #6059
I think we can apply the same alignment as in the Index template with the page numbers always on the left:

<img width="994" alt="Captura de ecrã 2022-06-27, às 10 23 07" src="https://user-images.githubusercontent.com/65220155/175906710-64667e17-6e0f-4e73-b2ea-f85ac964f9f5.png">

[2022-06-27 13:55] jffng opened #6142 "Vivre: add support for Button elements"
As demonstrated in #6139, can we use the button element API on Curator to get rid of some CSS?

Specifically the search + file block button styles.

[2022-06-27 15:00] beafialho commented on #5930
Here's the description:

_Curator is a bold, opinionated blogging theme, heavily inspired by fashion and lifestyle magazines and websites.
With large heavy sans-serif paired with a light elegant serif font, it sets the tone to a refined reading experience._

And the screenshot:

![Curator Screenshot](https://user-images.githubusercontent.com/65220155/175971783-2b677377-fc1d-4c00-a1ce-46562e1eab40.

[2022-06-27 15:06] KirkwallDay commented on #5274
Looks like it was the same issue as https://github.com/Automattic/wp-calypso/issues/58535 and the fix there has fixed this one too. I can no longer duplicate. Closing this.

[2022-06-27 15:06] #5274 closed, assigned to nobody

[2022-06-27 16:48] liviopv commented on #6197
Sorry, it's 5321946-zd-woothemes and 32693627-hc

This is the user post https://the-right-spirit.com/2019/09/13/nine-ryes-a-wheater-and-a-barely-legal-bourbon-walk-into-a-bar/ there's a good chance it was previously edited in the Classic Editor. If it's not due to a change in the markup, it's likely a bug that always existed in the theme and was never reported, as it was easily reproducible in my

[2022-06-27 19:24] jamiepalatnik opened #6158 "Payton: Global Styles color overriding border color selected in Table block settings"
### Quick summary

It appears that Global Styles color is overriding the color selected for the border color in Table block settings, Payton theme. This does not seem to be the expected behavior. According to [support docs](https://wordpress.com/support/using-styles/#blocks), "The changes you make to blocks using Styles will affect every block of that type that you have added to your site, unless

[2022-06-27 20:55] jffng commented on #5930
Do you think it's okay to still leave Cult in the screenshot even though we renamed the theme?

[2022-06-28 08:44] beafialho commented on #5930
Oh, you're totally right, I missed that.

![Curator Screenshot](https://user-images.githubusercontent.com/65220155/176135529-0f0e9608-145b-489b-8cf3-067c098c4d92.png)

[2022-06-28 15:49] #5930 closed, assigned to nobody

[2022-06-28 15:51] #5935 closed, assigned to nobody

[2022-06-28 23:32] jerrysarcastic opened #6147 "Hemingway Rewritten: missing padding on some buttons"
## Steps to replicate

- Create page on test site using Hemingway Rewritten
- Add button block in Gutenberg, and add one button with solid background (typically this is the default)
- Publish page and observe button has lost the padding shown in the editor view.

Screenshot with "outline button" for comparison.  live view on left, editor view on right
<img width="1899" alt="Screenshot on 2022-06-2

[2022-06-29 00:43] devNigel commented on #5602
Another report: 35931018-hc

Skatepark
Pro plan

Shared CSS fix.

[2022-06-29 06:22] KokkieH commented on #1815
Another report in https://wordpress.com/forums/topic/goodreads-footer-widget-not-showing-text/?view=all

[2022-06-29 06:22] devNigel commented on #6141
Hi @manRebollo  , looks like this bug report is missing some additional required details and it is possible that it was probably missed by bug herders. I have added the missing items.

Please always create bug reports from the button on Bugomattic page.

[2022-06-29 09:43] Thelmachido commented on #6147
Additionally, the issue doesn't occur on a WP.org site seems to only be on WP.com, steps taken:

1. Download Hemmingway Rewritten theme
2. Upload to a WP.org site
3. Add a button to any page
4. The button had the right padding and margins as shown below

<img width="724" alt="Screenshot 2022-06-29 at 11 33 11" src="https://user-images.githubusercontent.com/41231764/176404869-755ea7bf-4654-46bf-988

[2022-06-29 09:49] #6059 closed, assigned to matiasbenedetto

[2022-06-29 10:30] Thelmachido commented on #6124
I wasn't able to reproduce this issue, steps taken:

1. Added Blockbase theme to my site
2. Created a new post, the template didn't show 404 as shown below:

<img width="1710" alt="Screenshot 2022-06-29 at 12 17 57" src="https://user-images.githubusercontent.com/41231764/176415279-e3139132-4460-41dd-b083-51517526d097.png">

Since this was reported here #5410 closing this issue as a duplicate.

[2022-06-29 10:31] #6124 closed, assigned to nobody

[2022-06-29 10:34] Thelmachido commented on #5410
I test this on Blockbase & Twenty Twenty Two theme but I wasn't able to reproduce this with the new release.

<img width="1710" alt="Screenshot 2022-06-29 at 12 17 57" src="https://user-images.githubusercontent.com/41231764/176416154-1307e230-0fd2-40a3-966f-6fcb545c37ce.png">

Closing the issue for now.

[2022-06-29 10:35] #5410 closed, assigned to nobody

[2022-06-29 15:57] jeffikus commented on #5977
Headstart Annotation Diff D83404

[2022-06-29 18:10] csonnek commented on #1997
Another report (Baskerville 2 + Jetpack Lazy Images): https://wordpress.com/forums/topic/weird-spacing-glitch-on-the-baskerville-2-theme/

[2022-06-30 03:14] Greatdane commented on #6149
Thanks for the great step-by-step instructions!

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Confirmed

![Markup on 2022-06-30 at 12:13:59](https://user-images.githubusercontent.com/5075840/176585047-5118ab69-c1d4-40d5-b3f3-f8cf1385c03b.png)

📌 ACTIONS
- Transferred to themes.

[2022-06-30 05:45] KokkieH commented on #5602
https://wordpress.com/forums/topic/black-and-white-images/?view=all

TT2 Mint

Free plan

[2022-06-30 06:14] Robertght commented on #6141
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate the above and the sizes are different with the Blockbase theme as well.

📌 ACTIONS
- I have informed the author about Bugomattic

[2022-06-30 07:55] madhusudhand commented on #6108
In themes like curator, fill button and outline buttons are differently styled in `:hover` and other states. Current implementation takes care of `:hover` for both buttons together. Css styles are still required for outline button to style differently.

|  | Normal state | Hover state |
| --- | --- | --- |
| Fill button | <img width="156" alt="image" src="https://user-images.githubusercontent.com/

[2022-07-01 11:23] Robertght commented on #6152
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate this with all the classic themes I tested this with, but block themes and FSE themes appear to be ok.
- On self-hosted, I could replicate with 2017, but not with Canape for example. Some

[2022-07-01 13:12] jorpdesigns commented on #5549
Reported in 30018635-hc and I provided CSS workaround.

- [ ] Follow-up created in 5341157-zen.

[2022-07-01 14:42] mikachan commented on #5977
Closed with Diff D83404

[2022-07-01 14:42] #5977 closed, assigned to jeffikus

[2022-07-01 14:42] #5978 closed, assigned to mikachan

[2022-07-01 21:42] villanovachile opened #6154 "Barnett: "Your theme needs to be updated before you can customize fonts""
## Steps to replicate

When Barnett is activated, and trying to customize fonts in Appearance > Customize > Fonts, the following message is dispplayed: "Your theme needs to be updated before you can customize fonts"

• Issue occurs on both Simple & Atomic

## Result

![image](https://user-images.githubusercontent.com/65082164/176970935-269134a3-cfd3-44a1-b0d6-709d51974321.png)

## Expected

• I ex

[2022-07-01 22:34] cometgrrl commented on #6141
@Robertght Noticed this is filed in Automattic/themes. Is that correct?  If it's covered by the themes team, we can move it over to the "other" column of the board. Or, we can add a Themes column if that would be useful for tracking?  @vajrasar @inaikem what do you think?

[2022-07-01 23:52] ktyfuller604 opened #6175 "Gazette Theme: Contact Form fields use the site's background color"
### Quick summary

In the Gazette theme, what you select as the Background color in Colors & Backgrounds will apply to form fields as well.

Similar report: https://github.com/Automattic/themes/issues/5397 (this report is for WooCommerce fields)

### Steps to reproduce

1. Activate the Gazette theme
2. Change the background color to black (for example)
3. Add a contact form
4. Apply a background c

[2022-07-02 02:21] pbking commented on #6154
This should be fixed by #6123 when it lands

[2022-07-02 02:30] pbking commented on #6141
While working on #6123 I encountered just this scenario locally.  The Site-Title was the obvious culprit but there may have been other blocks.  This seems to have been caused by querying global styles data too early; before all of the blocks have been registered.  Those un-registered lose any of the block settings defined in the theme's `theme.json` file.

I'm not sure why this might be happening

[2022-07-02 03:03] galakhyati commented on #4155
Another report here: 5339030-zd-woothemes

[2022-07-02 16:48] lizswafford commented on #3991
Similar issue with Morden theme on AT. 5341605-zd.
The CSS fix worked.

[2022-07-03 03:45] yashitamittal11 commented on #5589
I tested this issue and found the issue is present in the base Varia theme. I think the problem is related to the specificity of the CSS styles.

In the Varia theme, the style block  `.wp-block-navigation .wp-block-navigation-item {
    background-color: inherit;
}`  has CSS specificity of 20 and the style block `.has-secondary-background-color` has CSS specificity of 10 so the former style overri

[2022-07-04 04:40] thesacredpath commented on #721
Found another. Pro Plan site and language set to Spanish, so not only pt-br. User has footer credit set to Hide, but only hides one of the duplicates, not both. Gave user CSS to fix the issue for now.

5345795-zd

[2022-07-04 19:38] jamiepalatnik opened #6155 "Older Themes: Buttons block missing Dimensions section"
### Quick summary

The Buttons block seems to be missing Dimensions section when Edin theme is active.

### Steps to reproduce

1. Activate the Edin theme.
2. Add a Button block.
3. Check block settings sidebar.

### What you expected to happen

The Dimensions section should appear as shown in documentation: https://wordpress.com/support/wordpress-editor/blocks/buttons-block/

### What actually ha

[2022-07-04 20:06] Jaykame commented on #5189
I have a customer reporting similar issue on Ixion Theme 35420162-hc where changing the font of their Quote Block is not reflected on their site.

[2022-07-04 21:47] Gustavo-Hilario commented on #6197
I could also replicate this issue with the `Button 2` theme. If we add several single image blocks on top of each other, the images will be glued with no space below each of them.

Customer report: 5348246-zen
Theme: Button 2

Screenshot:

![Markup on 2022-07-04 at 18:47:00](https://user-images.githubusercontent.com/50875131/177219134-95137031-4a5c-4484-902a-9c9a60428134.png)

Workaround: User the

[2022-07-05 11:05] beafialho commented on #6142
I'm not sure if I should open a new issue or if this is related, but the Search and File buttons aren't looking as they should:

- The black outline should be removed
- The hover state shouldn't have an underline in the text

https://user-images.githubusercontent.com/65220155/177313639-d5523e74-084f-4945-b2c9-c1c97e98b05d.mov

https://user-images.githubusercontent.com/65220155/177313629-89c49720-3

[2022-07-05 11:09] beafialho opened #6157 "Curator: Search template should match the Figma mockups"
This is what it looks like now:
<img width="1111" alt="Captura de ecrã 2022-07-05, às 12 00 07" src="https://user-images.githubusercontent.com/65220155/177314149-34814335-99db-4672-b99a-4000788c64fd.png">

This is what it should look like:
<img width="952" alt="Captura de ecrã 2022-07-05, às 12 08 11" src="https://user-images.githubusercontent.com/65220155/177314584-9c368e6e-8e98-40f6-baa3-c81

[2022-07-05 11:39] poeticabdul commented on #5602
In this chat 35986447-hc, I shared this CSS code with them.

[code]

[2022-07-05 15:37] kathrynwp commented on #1739
@mrfoxtalbot I believe the issue is still present. The reason you weren't seeing it on my site is that I had added custom CSS as a workaround. I should have mentioned that in the original ticket, sorry!

Here's what it looks like with my custom CSS removed:

![Cindy’s_Caribbean_Chicken_Curry_–_Kathryn_Presner](https://user-images.githubusercontent.com/7662449/177365404-3a517900-a928-4b65-a12d-2123

[2022-07-05 15:45] kathrynwp commented on #2934
Thanks for testing @mrfoxtalbot - with the advent of block widgets, the Recent Comments widget seems to have been retired, and I couldn't find it under Legacy Widgets, either. Let's keep this one closed.

[2022-07-05 18:43] #6095 closed, assigned to mikachan

[2022-07-05 21:30] wprhunt commented on #3851
Reporting another. On the Stow theme:
hc-28766166

[2022-07-06 00:09] jerrysarcastic opened #6161 "Stewart: Blog post block does not show most recent post when used on a template"
This was reported to us by a user in the wordpress.com forums, and I was able to replicate it on a test site.

Essentially, if you edit the Index template to remove the Query Loop block and replace it with the Blog Posts block (some site owners prefer the appearance of this block) it is somehow set to offset posts by 1, and never shows the most recent post.

Screenshot here shows Index template wi

[2022-07-06 04:45] happychait opened #6162 "The + icon on the Navigation Menu doesn't add menu items in the Blockbase themes"
### Quick summary

In the Site Editor, selecting the Navigation Menu block and clicking the + icon only brings up this toolbar, but we can't create new menus, or add menu items.

![Captured at 06-07-2022 at 16 34 24@2x](https://user-images.githubusercontent.com/1519466/177470774-8e0ebfec-4f1d-404e-bf40-2281bbcfd40b.png)

### Steps to reproduce

1. Open the Site Editor
2. Select the Navigation menu

[2022-07-06 05:15] jordesign commented on #6162
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

On Atomic and Self Hosted - the error was only present with the Gutenberg plugin activated

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to recreate this consistently when Blockbase and the Gutenberg plugin were both active

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Closed as could not replicate (please reopen

[2022-07-06 08:32] zyousafi commented on #3991
Another report here: 5352563-zen (Barnsbury)
The CSS fix worked

[2022-07-06 09:58] getdave commented on #6162
I tested this on Gutenberg Core `trunk` using `Empty Theme` theme and I wasn't able to reproduce.

That said there are a number of bugs with the popover that seem to have been introduced as a result of the upgrade to the core component's underlying library. One of these is that [the block toolbar is appearing over the top of the Nav block](https://github.com/WordPress/gutenberg/issues/41575). You

[2022-07-06 12:27] mikachan opened #6163 "Remove any inner blocks from the `navigation` block"
We should remove the `page-list` block (and any other inner blocks) as an inner block of the `navigation` block, prior to this GB PR being merged: https://github.com/WordPress/gutenberg/pull/42182.

This only applies to block themes that have inner blocks inside the navigation block. These are the ones I can find, but it's worth double-checking:

- [ ] Archeo
- [ ] Livro
- [ ] Remote
- [ ] Skatepa

[2022-07-06 14:15] #6157 closed, assigned to jffng

[2022-07-06 16:22] #1739 closed

[2022-07-06 16:55] upwardmomentum84 opened #6234 "Videomaker White: Group Block Not Showing Correct Color in Editor When Set to Use "Primary" Color"

[2022-07-06 20:38] ClassicRKR27 opened #6193 "Dara Theme: Table Block does not display the border options"
### Quick summary

I was working with a user earlier today who was looking to adjust/remove the borders [as described in the documentation](https://wordpress.com/support/wordpress-editor/blocks/table-block/#border-settings). The settings were not visible to the user, and upon further testing I found that this is only affecting sites with the `Dara` theme from what I have been able to find (I teste

[2022-07-06 20:47] ClassicRKR27 commented on #6193
I went ahead and informed the user of the nature of the bug here: 5354615-zd-woothemes

[2022-07-06 23:20] happychait commented on #6162
@getdave In your video, the `Top toolbar` option is selected in your block editor, and hence the issue can't be reproduced. So that's another workaround as @tanjoymor  helped find it originally.

Edited the issue description and included this second workaround.

[2022-07-07 03:07] kalrus commented on #6154
It looks like Gutenberg was updated today, July 6, but I am still seeing this issue on the Barnett theme.

[2022-07-07 07:51] beafialho opened #6168 "Pendant: Tighten post titles line height"
| Currently | Ideal |
| ---- | ---- |
| <img width="1262" alt="Captura de ecrã 2022-07-07, às 08 49 05" src="https://user-images.githubusercontent.com/65220155/177720720-c78ec6ed-5057-4ec6-9764-4db87c2723c9.png"> |  <img width="1400" alt="Captura de ecrã 2022-07-07, às 08 50 40" src="https://user-images.githubusercontent.com/65220155/177720975-a0050e29-faf5-4eed-8590-d99f741a3f11.png"> |

[2022-07-07 08:24] MaxPhilip commented on #6197
Theme `Cubic` also suddenly has missing bottom-margins for images but only on smaller screens. Margin gets added with screen size `min-width: 768px`

Customer report: 5347881-zen
Theme: Cubic

Screenshot:
![2022-07-07_10-23-28](https://user-images.githubusercontent.com/56555220/177727465-e7ea7eef-33f4-4811-b6d6-2057582f9843.jpg)

[2022-07-07 12:57] matiasbenedetto opened #6170 "Pendant: Implement latest Gutenberg link elements api for theme.json"
## Steps to replicate

- Latest changes to Gutenberg links resulted in links being underlined by default. We need to remove the default underline for titles.
- Apart from that we can remove the CSS related to hover and focus state of links.

## Result

![image](https://user-images.githubusercontent.com/1310626/177778624-d1aadf72-3176-4d18-9648-6312377e5e78.png)

## Expected

![image](https://user-

[2022-07-07 14:38] rachelwinspear opened #6192 "Twenty Twenty Customizer Primary Color"
### Quick summary

It is not possible to set the custom primary color as white/black within the Twenty-Twenty theme customizer settings.

The WordPress.com > My Sites > Appearance > Customize > Colors and Backgrounds settings offer a color slider with no color picker or option to add HEX color code.
The custom primary color slider does not offer the option white or black.

<img width="358" alt="Sc

[2022-07-07 14:48] #6168 closed, assigned to madhusudhand

[2022-07-07 14:56] pbking commented on #6162
I didn't realize this was Blockbase specific.  I thought that this was the behavior of the Navigation Block.  I'll look into this today; thank you for all the details.

[2022-07-07 14:59] pbking opened #6171 "Comunicate Gutenberg Version Requirements"
## What problem does this address?

Some of the newer themes leverage features of Gutenberg that are not yet available in WordPress core.  This isn't communicated in the WordPress.org directory and the theme might seem broken.

## What is your proposed solution?

Those themes should be identified and that dependency communicated, likely in the readme.txt file.  While it's expected that every thing

[2022-07-07 15:28] pbking commented on #6162
I don't believe this is an issue with Blockbase per-se.  It happens with Blockbase but I believe because of the layout of the header.  The navigation is so close to the top that the panel hides the button.  If I introduce space above then everything works as expected.  When Gutenberg is de-activated the panel in question is rendered below the navigation which I expect is the correct behavior for a

[2022-07-07 19:03] tanjoymor commented on #6162
@pbking You are totally right! I just retested on Twenty Twenty-Two and if I move the Navigation block to the very top the same issues occur. As a point of interest, Simple sites (that don't have access to plugins) can't deactivate Gutenberg.

[2022-07-07 20:53] kathrynwp commented on #683
@AMcGrady Hey there - if this is still an issue, could you please replace the expired Droplr screenshot with one uploaded directly to this GitHub issue? Thanks!

[2022-07-07 21:00] jffng commented on #6171
Thanks for the background and context, useful to remind me why we removed the requires Gutenberg programmatic checks.

I think adding a statement to the readme makes sense, though I'm not sure about adding it right in the description.

What do you think about placing it here: https://github.com/Automattic/themes/pull/6164/files#diff-0b916d65cce624bd0913dfdd33184e0c7d447f9ae8cae0a6cb9695680e26e7f5R

[2022-07-07 21:08] kathrynwp commented on #6154
@pbking I noticed that https://github.com/Automattic/themes/pull/6123 is still open, could you please confirm when it will be merged on WordPress.com Simple/Atomic?

Or if it has already been merged, could you please take another peek at this bug report? Thanks!

I'm not entirely clear on whether the PR referenced above is related to a Gutenberg update or not, but for the record, I still see this

[2022-07-07 21:13] kathrynwp commented on #5256
I believe @supernovia is correct. This theme hides the author name on single-author blogs, by design, as you can see in this portion of the theme's CSS:

[code]

Closing as wontfix.

[2022-07-07 21:13] #5256 closed, assigned to nobody

[2022-07-07 21:20] kathrynwp commented on #5130
Hi @tinjure20 - thanks for the report, and apologies for the belated reply.

I tested the latest version of Blockbase, v. 2.0.38 – with WordPress 6.0 and no plugins active.

I spot-checked my test site, but I'm not seeing any fatal errors. Could you please confirm that everything looks OK to you as well?

If you still get a fatal, could you please provide full steps to replicate? I'll be glad to t

[2022-07-07 21:27] kathrynwp commented on #4875
Glad you got it fixed, closing this.

[2022-07-07 21:27] #4875 closed, assigned to nobody

[2022-07-07 22:02] kathrynwp commented on #4873
Seems like this has been fixed.

I added a TikTok link to Morden's social menu on a Simple site, and the TikTok logo appears:

![Global_Styles_Demo_–_An_awesome_tagline](https://user-images.githubusercontent.com/7662449/177878940-f84bf83a-ba56-459b-b019-68f83a5acef2.jpg)

@isocialtish if you still see this issue present, could you please reopen the issue and provide steps to replicate? Thanks!

[2022-07-07 22:12] kathrynwp commented on #4451
I was unable to replicate this issue with Storefront 4.1.1, so it looks like this issue has likely been resolved since the first report. @gwensmithx if you think this is still an issue, please report it in the Storefront repo as @jffng suggested above

[2022-07-07 22:12] #4451 closed, assigned to nobody

[2022-07-07 22:21] kathrynwp commented on #4555
I made this edit. FYI @deancroyal all Happiness Engineers are welcome to make theme-documentation fixes directly, they should have access. :)

It seems to be possibly cached here: https://wordpress.com/theme/singl/

I will close this for now but check it again in a while to make sure it "took."

[2022-07-07 22:21] #4555 closed, assigned to nobody

[2022-07-07 22:24] kathrynwp commented on #4348
As this is a retired theme, it's not a critical bug, and there's been only one report of the issue, I'm closing this as a wontfix.

[2022-07-08 08:08] nagpai commented on #5962
I am unable to reproduce on simple site

I am able to reproduce on Atomic site.

[2022-07-08 09:41] renata-franco commented on #6158
📌 SCRUBBING

- Tested on Simple ✅
- Replicable on Core - No

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was not able to replicate it on a Simple site with Payton theme. For me, it was the whole way around.

I see the colors I selected in the Global Styles in the Block Editor when creating the table.

I can change the colors of the border but these are not displayed in the editor at all.

However, the

[2022-07-08 11:34] donalirl opened #6172 "Twenty Twenty Two: Form Block 50% Field Width Not Recognized"
## Steps to replicate

1. Activate the Twenty Twenty Two theme
2. Create a new page and add a form block to it
3. Click on a form field and set the field width to 50%
4. Preview/ publish the page

## Result

The form fields are displayed vertically, one on top of the other:

![image](https://user-images.githubusercontent.com/30727666/177984337-445e5afc-7326-41cf-873d-45f8b15ccad8.png)

## Expected

[2022-07-08 13:11] pbking commented on #6171
Yea, I can get behind that.  I agree that putting it right in the description is probably more 'in your face' than necessary and would spread that bit of text further than is helpful.  I think that makes the most sense.

[2022-07-08 13:12] pbking commented on #6171
I'm mostly thinking about the elements API and the version requirements around that, but are there other features that we've leaned on Gutenberg for in recent releases that we should also tag in themes?

[2022-07-08 13:16] pbking commented on #5130
Thank you for checking up on this @kathrynwp. We addressed this a bit ago, I believe we can close this.  We are now checking for the activated gutenberg plugin before trying to [manipulate the navigation block](https://github.com/Automattic/themes/blob/trunk/blockbase/functions.php#L156).  I'm going to go ahead and close this one but @tinjure20 please re-open if we've missed something.

[2022-07-08 13:16] #5130 closed, assigned to nobody

[2022-07-08 13:42] pbking commented on #6162
Going to close this considering the above.  Hopefully this gets resolved via[ Gutenberg #41575 soon](https://github.com/WordPress/gutenberg/issues/41575)!  It makes using that nav block extra hard!

[2022-07-08 13:42] #6162 closed, assigned to nobody

[2022-07-08 13:47] jffng commented on #6171
I feel like they are often one-off design tool additions we need to make a specific block look correct without adding CSS, for example:

https://github.com/WordPress/gutenberg/pull/41378

[2022-07-08 18:25] mikeicode commented on #6025
Hever pdEkSe-EW-p2

[2022-07-08 20:19] jeffikus commented on #5933
@jffng it would great to pair on this with @madhusudhand @matiasbenedetto and I.

[2022-07-08 20:24] pbking commented on #6163
Wouldn't doing this mean that any site that has these themes activated, but hasn't defined a custom menu (thus is showing the pages) means that their navigation would be wiped with this change?

Definitely agree no future themes should do this, but are we sure it's the right call to remove these for existing themes?

It's a tough tradeoff 'cause if we don't then activating these themes wouldn't ha

[2022-07-08 21:44] jamiepalatnik commented on #6158
Sure, here is a screen recording:

![Table block](https://user-images.githubusercontent.com/30788962/178074364-03f5aa2f-067e-4d8c-af9a-38c87c2b2e60.gif)

[2022-07-08 23:38] Jaykame commented on #1645
Reported another case here: 35777130-hc
Gave the CSS workaround.

[2022-07-09 02:16] hacchism commented on #730
Another report on the site using Lovecraft: 36021031-hc

The user added the Instagram Embed into the sidebar that is narrower than 326px so they noticed the issue.

@mrfoxtalbot I've removed the theme label and modified the title as it doesn't seem to be specific to Twenty Fifteen.

[2022-07-09 08:05] filipanoscampos opened #6195 "[FSE]: Global Styles link color setting overrides color set for Navigation items"
### Quick summary

On Atomic sites, the color set for Links under the global site styles overrides the color set for the navigation items.
From my tests, this only affected Atomic sites, non-Atomic sites with the same FSE themes did not have this issue and it was possible to set a color for the navigation items.

### Steps to reproduce

1. On an Atomic site with an FSE theme, open the site Editor

[2022-07-09 09:26] devNigel opened #6241 "Text not responsive in FSE themes"
### Quick summary

The text on FSE themes is not responsive. This makes it quite large on mobile screens.

Even if you use `EM` or `REM` unit for the font-size, there is no difference on the rendered font-size with respect to the screen width.

Meanwhile, in Classic themes such as Twenty Twenty, the  `EM` or `REM` unit for the font-size actually reduces font-width with respect to the screen width.

[2022-07-09 14:53] hngdny commented on #6054
- [ ] user in 5321193-zen who asked to follow-up when this is fixed

[2022-07-10 02:39] happychait commented on #5244
Another report in 5360759-zen

Suggested the custom CSS workaround.

[2022-07-10 05:48] rw-ye commented on #6195
5361706-zd-woothemes

Shared the workaround.

[2022-07-10 10:59] tellisbethel commented on #6036
- [ ] Another report here: 5362235-zd-woothemes
This user's Older Projects button disappears as well, ultimately only showing 4/12 projects. Even setting the Portfolio to show 12 projects up front only has it displaying 2/12 by default. Asking user to try another theme.

[2022-07-10 11:40] adamziel opened #6174 "Rainfall: Typography issues"
## Description

These are the typography settings @scruffian and I [created for Rainfall](https://github.com/Automattic/themes/commit/d844263f225b67eeeee6e621576c74aaa369c49d):

<img width="895" alt="CleanShot 2022-07-10 at 13 35 05@2x" src="https://user-images.githubusercontent.com/205419/178143162-a83bfe27-c77e-4c93-b27e-db672df6ff32.png">

Here's the original design for reference:

<img width="

[2022-07-10 12:08] rickmgithub commented on #5947
Same here - 5331485-zd

[2022-07-10 13:08] rickmgithub commented on #3440
Seeing the same thing on Exford.

Site is free site so no CSS workaround

5351140-zd

[2022-07-10 14:17] syds87 commented on #6161
The same issue with Stewart theme was reported here: https://wordpress.com/it/forums/topic/problema-ultimo-articolo-in-home/

[2022-07-10 14:59] masperber opened #6198 "Twenty Twenty theme - Page Optimize "Concatenate Styles" option causes Video Blocks to align left"
### Quick summary

With the Twenty Twenty theme activated, the Page Optimize "Concatenate Styles" option causes Video Blocks to align to the extreme right side of the page. Interestingly, this does not show in the Customizer... only the live site.

### Steps to reproduce

1. Start a site with the Twenty Twenty theme active
2. Install and activate the Page Optimize plugin if not already installed.

[2022-07-10 14:59] ktyfuller604 commented on #6195
5363094-zen

Shared the CSS workaround.

[2022-07-10 14:59] masperber commented on #6198
- [ ] Customer requests followup: 5363372-zen

[2022-07-10 16:10] metabreakr commented on #5606
Another report with the Pendant theme here: https://wordpress.com/forums/topic/pendant-theme-category-pages/

Re-opening this issue.

[2022-07-10 16:35] vparkhere commented on #6089
Ran into the same issue in 5362568-zen, using a Classic block and Gallery post format.  Advised they use Standard post format as a workaround.

[2022-07-10 17:22] aisajib commented on #6175
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - The Colors and Background option doesn't appear for this theme on a self-hosted site.

📌 FINDINGS/SCREENSHOTS/VIDEO

I'm wondering if this isn't the expected result. I tested using a different theme (Canard) and here's what I see with a black background selected in Colors & Background (site-wide) and

[2022-07-10 18:27] aisajib opened #6247 "Libre 2: Full-width, No Sidebar template isn't actually full width with the cover block"
### Quick summary

The Libre 2 theme includes a template called “Full width, no sidebar”. However, that template is not really full-width. Instead, the “Default template” is the one that’s full-width, if there is no sidebar active (no widgets added).

### Steps to reproduce

* Activate the Libre 2 theme: https://wordpress.com/theme/libre-2/
* Open a page in the editor
* Add a cover block, and set

[2022-07-10 20:51] halleshubham commented on #6024
Shall i give a try?

[2022-07-10 23:03] manuelrebollo-a11y opened #6249 "Button block not following Letter Case settings in some themes"
### Quick summary

The text in a Button block will display in all-caps, regarding of the typed text or the setting under Typography > Letter Case, in themes such as Archeo and Skatepark.

### Steps to reproduce

1. Edit a Post or Page.
2. Add a Buttons set with at least one Button block.
3. Type lower case text in the Button.
4. Preview the Page or Post.

### What you expected to happen

If the Bu

[2022-07-11 03:46] happychait commented on #6241
- [ ] to be followed up in 5360883-zen

[2022-07-11 09:06] getdave commented on #6163
Great point.

The front of the site will still render the pages as a fallback. With this change only the _editor_ won't show anything.

However, in the (near) future we're proposing the _Editor_ also automatically shows a list of pages as a fallback. So ultimately it will work out.

Do you think we should try and ship both those things together to avoid the problem you highlight?

[2022-07-11 10:16] ajlende opened #6177 "Rainfall: Search Template"
We created a search template for Rainfall that looks like this. What are your thoughts?

![rainfall search template](https://user-images.githubusercontent.com/5129775/178242565-86d53283-191c-4da9-ad9b-6e62cb2dc005.png)

@beafialho

[2022-07-11 10:24] beafialho commented on #6174
Thanks for working on this!

I wish I'd seen it wasn't open source earlier, that font really made a difference in the theme. But we can keep the **Helvetica Neue Bold** for these. With this change, the buttons and links should also be revisited, I left the correct ones on Figma in the "Styles" page:

<img width="714" alt="Captura de ecrã 2022-07-11, às 11 14 55" src="https://user-images.githubus

[2022-07-11 11:02] beafialho commented on #6177
Thanks @ajlende. A few comments:

- For the query block with the posts, it might be better to switch the order of the images in every template that has this appearance, so that when there's no featured image the list looks more balanced.
- The distance between the separators in the query loop should always be the same.
- I also added an example of how the search bar should look [here](https://www.

[2022-07-11 13:36] matiasbenedetto commented on #6170
I splitted the resolution of this issue into 2 PRs:
PR to disable default text-decoration for links: https://github.com/Automattic/themes/pull/6178
PR to replace CSS for theme.json settings: https://github.com/Automattic/themes/pull/6179

[2022-07-11 14:00] matiasbenedetto opened #6180 "Vivre: Post grid breaks if it only has one post"
## Steps to replicate
- Activate Vivre/Curator theme
- Enter a search term with only one result
- See how the grid looks

## Result

![image](https://user-images.githubusercontent.com/1310626/178281448-2d31e2b7-b2f2-49f3-90f7-7627dd1352b5.png)

## Expected
![image](https://user-images.githubusercontent.com/1310626/178281553-c16cde10-ba59-482d-ab76-7557a0a0c673.png)

[2022-07-11 15:04] scruffian opened #6181 "Rainfall: Comments template"
@beafialho we added a comments template to rainfall, which looks like this:
![localhost_4759__p=373 (1)](https://user-images.githubusercontent.com/275961/178295441-935243b6-384f-48a2-9266-44d5fa758379.png)

How can we improve it?

[2022-07-11 15:28] beafialho commented on #6181
This looks pretty good! I actually made very small adjustments and left them on [Figma](https://www.figma.com/file/oz0a2czNn0UNt9onrh8T5a/Rainfall?node-id=815%3A292):

- Comment author and date not underlined by default
- "Reply" button in All Caps
- The comment fields not filled, with a stroke

<img width="715" alt="Captura de ecrã 2022-07-11, às 16 22 55" src="https://user-images.githubusercon

[2022-07-11 16:02] scruffian commented on #6181
Yeah that's what we've done.

[2022-07-11 16:26] #6142 closed, assigned to matiasbenedetto

[2022-07-11 16:36] #6180 closed, assigned to matiasbenedetto

[2022-07-11 16:42] scruffian commented on #6174
It's the on Paragraph Medium one.

[2022-07-11 17:00] scruffian commented on #6174
Thanks for the feedback. I think we made these changes.  If you spot more issues feel free to raise them :)

[2022-07-11 17:00] #6174 closed, assigned to nobody

[2022-07-11 18:34] bobmatyas commented on #5379
This was fixed on Seedlet: https://github.com/Automattic/themes/blob/4e7b04281c5cffe7c969fea7526621574fd15321/seedlet/template-parts/content/content-none.php#L24

Screenshot:

<img width="974" alt="Screenshot on 2022-07-11 at 14-29-36" src="https://user-images.githubusercontent.com/45246438/178334115-31135dda-e972-4ffd-a917-260d87783f45.png">

[2022-07-11 18:35] tellisbethel commented on #5947
- [ ] Another instance here: 5363479-zd-woothemes
Asked user to change to another FSE theme for now.

[2022-07-12 05:30] kavyagokul commented on #3877
Another one in 36033191-hc

Note that this happens when customizing other colors in the palette as well, and not just the background color.

We also had to add this to fix the issue

`.entry-content h1, .entry-content h2, .panel-content .entry-title, .entry-meta {
  opacity: 1;
}`

[2022-07-12 09:01] mikachan commented on #6181
Thanks @beafialho, these changes are done now.

[2022-07-12 09:01] #6181 closed, assigned to nobody

[2022-07-12 09:12] beafialho commented on #6174
Oh ok, that was intentional. These 3 paragraphs should have the same line height.

<img width="617" alt="Captura de ecrã 2022-07-12, às 10 11 25" src="https://user-images.githubusercontent.com/65220155/178455001-fe933540-1061-478d-8001-fafe33f82015.png">

[2022-07-12 09:21] sharonlaker19 opened #6251 "The Post Comments block being used in the default Single template on some FSE themes is deprecated"
### Quick summary

When editing the Single post template in some FSE themes, you'll see this notice when you click on the Comments group block in the bottom of the template:

`Post Comments (deprecated)
This block is deprecated. Please use the Comments block instead.`

So far I've tested Payton, Byrne, and Quadrat Red and they all had it.

### Steps to reproduce

1. Switch to the Payton, Byrne, or

[2022-07-12 13:27] tellisbethel commented on #6066
- [ ] Another report here on a custom Blockbase child theme: 36046918-hc
Follow up ticket created here: 5367615-zd-woothemes
The user shared that this a very common issue on FSE and would love it could get some more attention. (They have quite a number of sites.)

[2022-07-12 13:55] pbking commented on #6163
No, actually I hadn't realized that the view would continue to render pages as a fallback so that's good enough for me.

Thank you for clarifying!

[2022-07-12 15:01] sophiegyo opened #6194 "Theme: Twenty Twenty-Two, Archeo, Pendant - Simple sites missing Featured Image function"
### Quick summary

Featured Image function is missing in the block editor, for pages, posts and custom post types like Jetpack portfolio.

**NOTE:** I also reliably replicated this with Archeo theme and Pendant theme on a Simple site.
*I don't know if there are other FSE themes which don't include it.*

Affects:

**SIMPLE sites only, with theme Twenty Twenty-Two active.**
*Could not replicate on s

[2022-07-12 15:25] wunc opened #6191 "Shoreditch: PHP 7.4+ Warning: Trying to access array offset on value of type bool"
## Steps to replicate

- Run WordPress on PHP 7.4 or 8.x
- Set `define('WP_DEBUG', true);` in `wp-config.php`
- Don't activate the Jetpack plugin
- Activate shoreditch as the site theme
- Create a page or post _without_ a featured image
- View the page or post

## Result

If viewing a post:

[code]

If viewing a page:

[code]

## Expected

No warning / notice.

Both of those lines are trying to ac

[2022-07-12 15:32] mikeicode commented on #6025
Alves pdEkSe-GR-p2

[2022-07-12 16:00] Joshgrygiel commented on #6192
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the Custom Primary Color selection through Appearance -> Customize -> Colors does not offer the ability to choose black or white as a color option, nor is there any way to specifically choose a HEX/RGB color code:

![twentytwentyp

[2022-07-12 16:17] Joshgrygiel commented on #6193
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm there are no options present within the Table Block settings on Classic themes, such as Dara and Radcliff 2 for modifying the border of the table:

DARA (No Border Option):
![daranotableborder](https://user-images.githubuserconten

[2022-07-12 16:33] Joshgrygiel commented on #6194
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm while having Twenty Twenty-Two, Archeo, or Pendant active on a simple site, there is no option to set a featured image for any taxonomy type:

![tttsimplenofeaturedimage](https://user-images.githubusercontent.com/88345647/178544676

[2022-07-12 17:02] Joshgrygiel commented on #6195
📌 SCRUBBING
- Tested on P2 - N/A
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm only on Atomic sites (Simple/SH work as normal) with the FSE theme Twenty Twenty Two active: the global style overwrites any custom color applied to the navigation block. The change reflects normally in the editor:
![fseeditorheade

[2022-07-12 17:19] cuemarie commented on #6155
📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes, depending on the theme used

📌 FINDINGS/SCREENSHOTS/VIDEO
- Buttons block shows **Dimensions > Padding** in all test environments unless the theme hides it. My tests showed that multiple themes presented this issue; **primarily themes older than Twenty Nineteen**, though not alw

[2022-07-12 18:08] Robertght commented on #6197
Based on the previous reports, it appears Classic themes and using the Classic editor could generate these margin issues.

[2022-07-12 18:56] Robertght commented on #6198
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple - no
- Tested on AT ✅
- Tested on Self-hosted  - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm this is happening, but I cannot replicate the issue with other themes.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to themes

[2022-07-12 19:15] jp-imagines commented on #4830
Another report in 5366888-zen (on retired `Purpose` theme).

Suggested the workaround of disabling the _Top of each page_ ad placement under **Additional ad placements** at _Tools > Earn > View ad dashboard > Settings_.

[2022-07-12 20:03] #6170 closed, assigned to matiasbenedetto

[2022-07-12 20:41] bobmatyas commented on #3877
I looked into this and it only happens on the WPCOM version of the theme due to the code in: `wpcom-colors.php`:

https://github.com/Automattic/themes/blob/f62b5e232b4cf9d2b180ae2fe48425c2d552989d/lodestar/inc/wpcom-colors.php#L381

I'm inclined to think that this was a deliberate design choice and not a bug. We have the CSS fix documented here as well for HEs:

p5nmAP-Lm-p2

[2022-07-13 01:12] crazytonyli commented on #5894
This issue is also reported in 5367819-zd-woothemes. The user is using Russell theme though.

[2022-07-13 05:28] Robertght commented on #6194
I believe this might be a combo between Jetpack's Portfolio post type and the themes, but I cannot pinpoint if that's changed in a recent Jetpack update or not.

cc @jeherve or @karenalma

[2022-07-13 05:47] jordesign commented on #6233
It strikes me that we may have many Classic themes for where this is changed. I'm putting this back in 'To be triaged' Could the next PA please check a range of Classic themes which have Page Templates - to see if the setup instructions are accurate?

[2022-07-13 06:46] sophiegyo commented on #6194
I was wondering if that was the case too, but it doesn't make sense to me that *some* FSE themes don't show the Featured Image function, but others do - I didn't look at all of them but to compare, Meraki, Antonia, and Heiwa are all FSE themes and work just fine.

Could it be that the other two I saw are based off of Twenty Twenty-Two framework (I know they're not child themes, but I assume there

[2022-07-13 06:48] edwinho89 opened #6239 "Ixion: Colors in Links & Buttons does not apply on Buttons blocks"
### Quick summary

"Links & Buttons" under "Customize > Colors & Backgrounds" does not apply to button blocks.

Users are required to manually adjust individual button block background colors.

- [ ] 5365968-zd-woothemes

### Steps to reproduce

1. Insert button blocks on any pages, posts on site
2. Visit  "Customize > Colors & Backgrounds" and change "Links & Buttons" color
3. Save changes on Cus

[2022-07-13 08:20] getdave commented on #6163
And just to be clear, currently only the _front_ of the site will continue to render pages as a fallback. We're yet to add that for the editor but it's a goal.

[2022-07-13 13:33] jffng opened #6201 "Vivre: cite image sources"
In the readme, we need to cite the sources for the images bundled in the theme:

https://github.com/Automattic/themes/tree/trunk/vivre/assets/images

@beafialho would you be able to write those up or point me to where they are from?

[2022-07-13 13:39] jeherve commented on #6194
Interestingly, I cannot seem to reproduce on a simple site with Twenty Twenty Two right now. I do however use the wp-admin editor. I wonder if the problem may be limited to the iFramed editor in Calypso? Do you still miss the Featured Image panel when trying to create a new post in `wp-admin/post-new.php`?

[2022-07-13 14:53] jffng commented on #5928
@beafialho I added you as an admin to vivredemo.wordpress.com and it is ready to be populated :)

[2022-07-13 15:00] beafialho commented on #5928
Thank you! I will start adding content there.

[2022-07-13 16:00] bobmatyas commented on #5404
I couldn't reproduce this on a locally installed WP. It seems specific to WPCOM.

[2022-07-13 16:15] kathrynwp commented on #5345
I was able to replicate this with:

WP 6.0.1 - local install
No plugins active
Twenty Seventeen 3.0

I reported the above in the Gutenberg ticket here:

https://github.com/WordPress/gutenberg/issues/38043

I was **not** able to replicate in Twenty Nineteen 2.3, however:

![Self-hosted_Test_–_not_just_another_fake_company](https://user-images.githubusercontent.com/7662449/178781763-e1c43bd7-1abf-4e

[2022-07-13 16:20] sajmes commented on #6036
5372482-zd-woothemes

I am seeing this on a simple site using Blarsk as well.

Related to this, the at Settings > Writing, the 'display x blog posts per page' setting seems to be currently overriding the 'display y portfolio projects per page' setting on /portfolio.

- If I set 'display portfolio projects per page' to 20, while 'display blog posts per page' is set to 5, I only see 5 projects on /p

[2022-07-13 16:49] Addison-Stavlo commented on #5734
https://github.com/WordPress/gutenberg/issues/42398 - Gutenberg issue to track here

[2022-07-13 18:40] CodeAllNightNDay commented on #6198
Same issue here. Shared workadound 5373397-zen

[2022-07-13 19:30] bobmatyas commented on #5706
I confirmed the same behavior in Dara:

<img width="939" alt="Screenshot on 2022-07-13 at 15-29-04" src="https://user-images.githubusercontent.com/45246438/178815978-577b0790-130b-4ac7-a1d4-7dd197ca9df6.png">

[2022-07-13 20:35] matiasbenedetto opened #6209 "club: Alternative post list pattern"
![image](https://user-images.githubusercontent.com/1310626/181747925-96766eb4-d090-4cd3-9e43-b993c6e9809b.png)

[2022-07-13 20:36] matiasbenedetto opened #6210 "club: Create Base Theme"
Kickstart theme using block-canvas as a base.

[2022-07-13 20:36] matiasbenedetto opened #6211 "club: Styles: Colors"
Implement the color pallette for the theme.

[2022-07-13 20:36] matiasbenedetto opened #6212 "club: Styles: Typography — Fonts & Weights"

[2022-07-13 20:36] matiasbenedetto opened #6213 "club: Styles: Typography — Sizes & Line Height"

[2022-07-13 20:36] matiasbenedetto opened #6214 "club: Styles: Links"
Implement the link styles following the designs:
![image](https://user-images.githubusercontent.com/1310626/178837988-774a568c-36a2-4efc-ab12-d15e2f45ecf0.png)

[2022-07-13 20:36] matiasbenedetto opened #6215 "club: Styles: Buttons"
Implement the button styles following the design:

![image](https://user-images.githubusercontent.com/1310626/178838223-8e394078-93aa-419c-bb95-b666572dfff9.png)

[2022-07-13 20:36] matiasbenedetto opened #6216 "club: Styles: Layout"

[2022-07-13 20:36] matiasbenedetto opened #6217 "club: Styles: Comments"
Style comments and comments form blocks following the mockups:

Mobile:
![image](https://user-images.githubusercontent.com/1310626/178963660-4b83a27a-96fc-4954-9323-15db226c7c66.png)

Desktop:
![image](https://user-images.githubusercontent.com/1310626/178963726-b76ef476-0963-4d63-8b5c-5fe318d29333.png)

[2022-07-13 20:36] matiasbenedetto opened #6218 "club: Styles: Navigation"
Implement navigation following the mockups

![image](https://user-images.githubusercontent.com/1310626/183096706-10618822-9d5b-4c8c-811f-37f085834dc6.png)

![image](https://user-images.githubusercontent.com/1310626/183096917-6ea7b9d9-4830-46e8-9889-f32e4fb6969c.png)

[2022-07-13 20:36] matiasbenedetto opened #6219 "club: Styles: Quote"
![image](https://user-images.githubusercontent.com/1310626/180780042-7ee2ddf9-854e-4cfb-86b2-6ced58f22e4f.png)

[2022-07-13 20:36] matiasbenedetto opened #6220 "Disco: Styles: Variations"

[2022-07-13 20:36] matiasbenedetto opened #6221 "club: Templates: Search, Category, Tag"
Implement Search, Category, Tag pages following the mockups.
![image](https://user-images.githubusercontent.com/1310626/178961134-167bd1ba-c2aa-46dd-b1fb-7ec6286481a7.png)

[2022-07-13 20:36] matiasbenedetto opened #6222 "club: Templates: 404"
Implement 404 template following the mockups

![image](https://user-images.githubusercontent.com/1310626/178990993-699aa6c5-aba3-4e3d-918b-2cc3f08abe68.png)

[2022-07-13 20:36] matiasbenedetto opened #6223 "club: Templates: Single"

[2022-07-13 20:36] matiasbenedetto opened #6224 "club: Templates: Page"
Implement page template

![image](https://user-images.githubusercontent.com/1310626/181748847-4efefba3-e7cd-4cb2-96cb-160153680f37.png)

[2022-07-13 20:36] matiasbenedetto opened #6225 "club: Templates: Index"
Implement the template of the index page following the designs:

![image](https://user-images.githubusercontent.com/1310626/178842732-6e8ff9ff-c847-4298-a4ac-27056ee3302d.png)

[2022-07-13 20:36] matiasbenedetto opened #6226 "club: Templates: Header template part"
![image](https://user-images.githubusercontent.com/1310626/180779786-cd5da156-9450-4fe4-afc6-0b99650a7dcd.png)

[2022-07-13 20:36] matiasbenedetto opened #6227 "club: Templates: Footer template part"
Implement the footer template part based on the designs.

Desktop:
![image](https://user-images.githubusercontent.com/1310626/178837365-8f7b6078-e829-4bdf-b11d-d533b918fddc.png)

Mobile:
![image](https://user-images.githubusercontent.com/1310626/178837484-a04720ba-505e-4a85-9b24-e7246d6b4827.png)

[2022-07-13 20:36] matiasbenedetto opened #6228 "club: Pre-launch: Screenshot, readme.txt & description"

[2022-07-13 21:27] matiasbenedetto opened #6229 "Octokit dependency missing"
## Steps to replicate
1. Try to run the `create-a-theme-checklist.js` script:
`node create-a-theme-checklist.js faketheme`

## Result
You get an error saying the module is not found.
Installing the package globally doesn't work.
![image](https://user-images.githubusercontent.com/1310626/178838809-a6e360a8-e64b-418b-a425-b79e1cfb757f.png)

## Expected
The script should run without problems.

[2022-07-14 04:20] essleeung commented on #155
Another case here- 5373951-zd-woothemes
Disabled lazy loading.

[2022-07-14 05:02] #6229 closed, assigned to matiasbenedetto

[2022-07-14 06:00] Robertght opened #6232 "Classic themes: Padding issue on <mark> element when using inline colors(part 2)"

[2022-07-14 06:00] Robertght opened #7164 "Select Classic Themes: Padding from <mark> element added to text with inline colors (part 2)"
### Quick summary

This is a continuation of this issue: https://github.com/Automattic/themes/issues/4934

### Steps to reproduce

Create a line of text with no spaces
Add inline colors to the text
View published page

### What you expected to happen

To not have the paddding added on the highlighted items

### What actually happened

The highlighted items produce spaces:

![image](https://user-im

[2022-07-14 06:22] Robertght commented on #6233
Now it needs to be done from here:

![image](https://user-images.githubusercontent.com/6737345/178914274-147ccd81-b2a4-4f0e-b938-715e85c66396.png)

One potential way to target them is by using the Full width template and the Classic themes tags:

https://wordpress.com/themes/filter/classic-theme+full-width-template/

[2022-07-14 07:34] #5379 closed, assigned to nobody

[2022-07-14 07:34] #5397 closed, assigned to nobody

[2022-07-14 07:34] #6017 closed, assigned to nobody

[2022-07-14 07:53] Robertght commented on #1645
#5369773-zen

In my case, the CSS code doesn't resolve the issue because of the site logo which doesn't have a fixed height. I've recommended the user to use a fixed height instead in combination with the CSS fix above.

[2022-07-14 08:26] scruffian commented on #6177
This is now done

[2022-07-14 08:26] #6177 closed, assigned to nobody

[2022-07-14 09:16] sophiegyo commented on #6194
Decidedly yes for me with pages:

<img width="1293" alt="image" src="https://user-images.githubusercontent.com/36608681/178948066-ac275320-6fe4-4bea-9c95-830237605844.png">

With posts it's fine:

<img width="1293" alt="image" src="https://user-images.githubusercontent.com/36608681/178948260-fbc6ff6c-6dbd-4ad9-a360-17be279a8630.png">

Edit:

Portfolios also have the same issue for me:

<img width=

[2022-07-14 10:31] matiasbenedetto commented on #6211
Closed by  https://github.com/Automattic/themes/pull/6208

[2022-07-14 10:31] #6211 closed, assigned to matiasbenedetto

[2022-07-14 10:32] matiasbenedetto commented on #6210
Closed by https://github.com/Automattic/themes/pull/6207

[2022-07-14 10:32] #6210 closed, assigned to nobody

[2022-07-14 11:06] yashitamittal11 commented on #2582
I am not able to reproduce this issue. It looks like it is fixed.

[2022-07-14 11:10] beafialho commented on #6201
Sure, here are the sources for those images.

Smoothie: https://www.foodiesfeed.com/free-food-photo/peanut-butter-and-banana-smoothie/
Sundae: https://www.foodiesfeed.com/free-food-photo/coconut-and-dark-chocolate-treat/
Vermicelli: https://www.foodiesfeed.com/free-food-photo/plain-rice-noodles-in-a-black-bowl/
Wine tasting: https://stocksnap.io/photo/pouring-wine-6JMD0WXXTG

[2022-07-14 13:20] pbking commented on #5734
Thank you @Addison-Stavlo! I'm going to close this issue as I don't think that Blockbase could/should do anything about it.  Hoping for a speedy fix!

[2022-07-14 13:20] #5734 closed, assigned to nobody

[2022-07-14 14:32] jamiepalatnik commented on #6234
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate this on simple and AT sites with Videomaker and Videomaker White, and self-hosted with Videomaker (Videomaker White is not an option). I set a custom Primary color in the site editor Styles, but this co

[2022-07-14 15:33] jeherve commented on #6194
Ah, thank you. I can reproduce on the page editor as well. For some reason, on WordPress.com something seems to change the response from the `themes` endpoint to indicate that Twenty Twenty Two only supports `post-thumbnails` for posts:

<img width="922" alt="image" src="https://user-images.githubusercontent.com/426388/178987631-158a2d82-4a87-456e-96c9-6cf2f51b8e40.png">

On self-hosted sites, it

[2022-07-14 15:42] kathrynwp commented on #6014
I put in a core Trac ticket for this since I was able to replicate the issue on a self-hosted site and since Twenty Nineteen is a bundled (default/core) theme:

https://core.trac.wordpress.org/ticket/56220

[2022-07-14 15:43] #6201 closed, assigned to nobody

[2022-07-14 16:08] kathrynwp commented on #6016
@mikeicode  Since Twenty Nineteen is a bundled/default theme, I'm not sure a visual change like this is going to be able to be made in core, as it might affect the display on existing sites, both WP.com and self-hosted. I would lean toward closing this as a wontfix and let you continue using custom CSS to override this behaviour.

If you strongly disagree, let me know. I can open a ticket in Core

[2022-07-14 16:12] mikeicode commented on #6016
@kathrynwp feel free to close it, I agree with your reasoning.

[2022-07-14 16:35] kathrynwp commented on #2190
I'm no longer seeing this issue in Safari 15.3.

Over 2.5 years have gone by since the initial report, and there have been only a handful of reports. A CSS workaround is also available to remove the faux-parallax effect on the homepage panel background images.

For all these reasons, I'm going to go ahead close this issue as a wontfix.

Since this is a bundled/default theme, if anyone feels strong

[2022-07-14 16:35] #2190 closed

[2022-07-14 16:48] #6225 closed, assigned to matiasbenedetto

[2022-07-14 17:16] #6016 closed, assigned to nobody

[2022-07-14 17:21] CodeAllNightNDay opened #6256 "Natural/Aquene: File Button No Longer Appearing"
### Quick summary

_No response_

### Steps to reproduce

1. Install the Natural theme on a simple site from Blog RC (retired theme)
2. Add the FIle Block
3. Select a file
4. Enable the "show download button" option.

### What you expected to happen

To see the "download" text enclosed in a button.

### What actually happened

The button doesn't display, even with the option toggled on
![Screen Sh

[2022-07-14 18:24] Robertght commented on #6239
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can replicate this as well.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to theme

[2022-07-14 18:53] Robertght commented on #6241
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I had a quick convo here(p1657823555188209-slack-C029FM1EH) and it appears to be a thing that'll be merged in Core.

https://github.com/WordPress/gutenberg/pull/39529

📌 ACTIONS
- Marked as Triaged for Qualit

[2022-07-15 03:01] danielk-am commented on #6195
36072801-hc
Bryne theme.

Suggested changing the "Submenu & overlay background" color.

[2022-07-15 06:18] KokkieH commented on #5947
- [ ] Another in https://wordpress.com/forums/topic/blog-post-webpage-isnt-working/?view=all

[2022-07-15 09:36] donalirl commented on #6155
Encountered in #36075099-hc. The buttons had no padding on the front-end, so gave them this CSS workaround:

[code]

[2022-07-15 09:42] madhusudhand opened #6243 "text-decoration shorthand with thickness has no support in WebKit browsers"
## Steps to replicate

Text decoration short hand that has thickness included makes the entire css style invalid in safari.

[code]

<img width="789" alt="image" src="https://user-images.githubusercontent.com/1935113/179197230-1f8f5dac-76a9-4b7b-a7b1-a72e1d68da78.png">

## Browser support

<img width="789" alt="image" src="https://user-images.githubusercontent.com/1935113/179196995-54a14a26-d77c-4

[2022-07-15 09:46] #4567 closed, assigned to nobody

[2022-07-15 09:46] #5133 closed, assigned to nobody

[2022-07-15 09:46] #3863 closed, assigned to nobody

[2022-07-15 09:46] #5706 closed, assigned to bobmatyas

[2022-07-15 09:47] #3851 closed, assigned to nobody

[2022-07-15 10:20] beafialho opened #6245 "Rainfall: Header and Footer improvements"
Here are some comments related with the header and footer.

1. Both the header and footer template parts should be full width, aligning with the post featured images.

<img width="1489" alt="Captura de ecrã 2022-07-15, às 11 06 12" src="https://user-images.githubusercontent.com/65220155/179202398-be36259f-a165-4b68-b147-ebc8fb9071f9.png">
<img width="1358" alt="Captura de ecrã 2022-07-15, às 1

[2022-07-15 10:56] beafialho opened #6246 "Rainfall: Post template spacing & alignments"
1. Post title and date would ideally be full width.

<img width="1535" alt="Captura de ecrã 2022-07-15, às 11 31 41" src="https://user-images.githubusercontent.com/65220155/179207543-2f5c7fb2-fa0a-4915-8329-8621222d3489.png">

2. Spacing between these two sections should be identical. The larger spacing is the correct one. Also, top and bottom padding of post navigation should be identical.

<im

[2022-07-15 10:59] Robertght commented on #6247
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- This is a classic theme which might not work as well with all Full width elements, however, as a workaround you can use the [Layout Grid Block](https://wordpress.com/en/support/wordpress-editor/blocks/layou

[2022-07-15 11:13] madhusudhand opened #6248 "Style variations missing in dotOrg published themes"
## Steps to replicate

Style variations in the published themes [Pendant](https://wordpress.org/themes/pendant/) and [Remote](https://wordpress.org/themes/remote) are missing in dotOrg.
There exists styles directory, but it is empty.

Style variations are available and working fine in dotCom

## Result

Style variations aren't working local installs.

## Expected

dotOrg theme source should includ

[2022-07-15 12:48] pbking commented on #6248
The [assets excluded ](https://github.com/Automattic/themes/blob/blockbase-3/dotorg-exclude.txt#L6)from being packaged in the dotorg zip files include all json files while theme.json is [explicitly included](https://github.com/Automattic/themes/blob/blockbase-3/package-dotorg.sh#L14).

We need to either explicitly allow any *.json file in the /styles folder to be included or remove the *.json excl

[2022-07-15 12:56] pbking commented on #6243
"Safari, the new Internet Explorer"

[2022-07-15 13:14] arunsathiya commented on #6249
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on P2 - no
- Tested on Simple - ✅
- Tested on AT - ✅
- Tested on Self-hosted - ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

- I can reproduce on Archeo and Skatepark. This is both on simple and self-hosted.
- I cannot reproduce on Twenty Twenty-Two.

📌 ACTIONS

- Transferring to themes repository.

📌 Message to Author

-

[2022-07-15 13:30] mikeicode commented on #6025
Balasana pdEkSe-I5-p2

[2022-07-15 13:31] arunsathiya commented on #6251
📌 HOUSEKEEPING

- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING

- Tested on P2 - no
- Tested on Simple - ✅
- Tested on AT - ✅
- Tested on Self-hosted - ✅

📌 FINDINGS/SCREENSHOTS/VIDEO

I tested only with Quadrat because that's available both on WordPress.com and WordPress.org. Payton and Byrne are not. I can see the deprecated block on both WordPress.com and WordPress.org:

<img w

[2022-07-15 14:06] jeffikus commented on #6248
@pbking sounds like quickest path the fixing this is allowing the *.json files in the /styles folder.

[2022-07-17 14:12] syhussaini commented on #6054
I am checking in to see if we have any updates on this request for 5321193-zen.

[2022-07-17 15:52] kspilarski opened #6267 "Cubic theme: A page with blog posts block and featured image will not display the post title and post meta"
### Quick summary

In a post, page or portfolio with a blog posts block, the post title and post meta won't be displayed if you add a featured image.

### Steps to reproduce

1. Activate the Cubic theme
2. In a post, page or portfolio project, add a blog posts block
3. In the blog posts block Post Meta Setting, enable Show Date, Category, etc.
4. Publish the post, page or portfolio project and vie

[2022-07-17 16:54] mxhassani opened #6272 "Add browser theme color support to themes (Theming - iOS 15 Safari bezel color)"
### What

Add the option to select the browser theme color, to be able to do the following:
From:

![image](https://user-images.githubusercontent.com/81776920/179415410-a3ab1606-1e55-4f69-9c1d-943016304dc8.png)

To:

![image](https://user-images.githubusercontent.com/81776920/179415496-7da9d3e7-929c-4263-b31d-fd343d27cffb.png)

### Why

To respect style, branding, and theming guidelines:

https://

[2022-07-17 19:20] jp-imagines commented on #6256
- [ ] Another report in 5398718-zd-woothemes.

This user is on the `Aquene` theme (Atomic site). I'm able to replicate the same on a test site: on some themes, the button has styling, but on `Aquene` all styling is missing (and it's styled as just a plain link instead).

[2022-07-18 07:47] madhusudhand commented on #6248
Once the fix is merged, `Pendant` and `Remote` needs version bump.

[2022-07-18 08:01] sophiegyo commented on #6194
- [ ] Just noting another case from 5349934-zen

This user uses Twenty Twenty Two for almost all of their sites. Please can we update them when this issue is resolved (added by @pauljacobson )

[2022-07-18 09:32] sharonlaker19 commented on #6195
+1 at 35300729-hc, I recommended they choose a different color for the links or background. This worked for them.

[2022-07-18 11:33] arunsathiya opened #6257 "Skatepark: Button to add new social icons not legible"
### Quick summary

The button to add new social icons is not legible on Skatepark theme. I have tested with Twenty Twenty-Two and Archeo, but they seem okay.

### Steps to reproduce

- Activate Skatepark on a simple site or an Atomic site.
- Add the "Social icons" block to the header area.
- Click on that block on the list view. Not the inner social icons.
- See that the "+" button to add more soc

[2022-07-18 11:33] arunsathiya commented on #6257
5364126-zen.

[2022-07-18 11:36] arunsathiya commented on #6257
Hmm, the bot marked it as a blocker because I set "No and the platform is unusable". Technically, it's not a blocker but the "+" button is not legible at all. So, I'll leave "No and the platform is unusable" as such but we could downgrade the priority to "High". I'll let the next PQA do that.

[2022-07-18 14:09] Gustavo-Hilario commented on #6084
I was able to reproduce this. However, isn't this the correct and expected behavior? On the Customizer, it says we can enable post author on the single posts page:

<img width="379" alt="Markup 2022-07-18 at 10 57 11" src="https://user-images.githubusercontent.com/50875131/179529873-88fad59e-88cf-4d91-bf67-cc2d1626dac7.png">

I can see Karuna shows the author on the single posts page ([example](p7

[2022-07-18 14:34] Gustavo-Hilario commented on #5286
From the reported themes, I could only reproduce the issue now on `Baskerville 2` and `Twenty Twenty`. It is replicable for `Form` and `Button` blocks. None of these two themes are on our themes repository. I'm removing Karuna and Twenty Twenty-two labels.

[2022-07-18 15:44] kathrynwp commented on #6084
This is not a bug, but the **intended behaviour** – in fact, it was a common convention in many themes, a number of years ago. The logic was that there's no need to keep repeating the same author's name over and over on a blog that only has one author. You can see that intended behaviour in the CSS in this theme, and others from the same era:

[code]

This behaviour isn't going to be revisited on

[2022-07-18 15:44] #6084 closed, assigned to nobody

[2022-07-18 16:35] jffng commented on #5927
@beafialho would you be able to provide a devices mockup for Vivre for its showcase entry?

[2022-07-18 17:50] mikeicode commented on #6025
Balasana pdEkSe-ID-p2

[2022-07-18 19:25] kathrynwp commented on #1987
Noting that since this issue can't be replicated on a self-hosted site – because the Fonts panel in the Customizer is a WP.com-specific feature – I won't be opening a corresponding issue in Core Trac.

In addition, since the ability to change fonts site-wide in newer themes was moved into Global Styles, since there's only been a single report on this issue, and since the user was provided with a C

[2022-07-18 19:25] #1987 closed

[2022-07-18 19:35] kathrynwp commented on #2214
Looks like this issue was already reported in Core Trac here:

https://core.trac.wordpress.org/ticket/46604

Keeping ticket open and marking as "core fix needed."

[2022-07-18 19:36] kathrynwp commented on #2214
Also noting that I can still replicate this issue with WP 6.0.1 and Twenty Seventeen 3.0

[2022-07-18 19:47] kathrynwp commented on #2453
I can still replicate the issue on a WordPress.com Simple site.

Not moving this issue to Core Trac since the Masonry Gallery block is not in Core.

[2022-07-18 19:59] kathrynwp commented on #3258
I'm no longer seeing this issue on any of the above referenced sites.

![site_https___vmwarecode_com_-_Google_Search](https://user-images.githubusercontent.com/7662449/179606404-7536e771-440d-4e21-a140-70e95e45cd61.jpg)

![site_https___mikhailoparin_blog_-_Google_Search](https://user-images.githubusercontent.com/7662449/179606487-5125cd07-c7fc-4832-b0b4-b32a294d2530.jpg)

![site_https___indayinter

[2022-07-18 19:59] #3258 closed, assigned to nobody

[2022-07-18 20:17] halleshubham commented on #6257
@arunsathiya  But I see no issues, here is screenshot:

<img width="816" alt="Screenshot 2022-07-19 at 1 46 31 AM" src="https://user-images.githubusercontent.com/3984908/179609733-da9adf65-51c0-4eb3-8b6b-991c2effd2d2.png">

[2022-07-18 21:13] #6215 closed, assigned to matiasbenedetto

[2022-07-19 04:36] Robertght commented on #6241
5405287-zen Twenty Twenty Two

[2022-07-19 07:32] Robertght commented on #6256
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Both themes mentioned here are retired ones and classic themes. It doesn't seem to happen with Natural lite at the moment.
- Possibly related: https://github.com/Automattic/wp-calypso/issues/64917 cc @scruffia

[2022-07-19 07:49] Robertght commented on #6267
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm not able to replicate this consistently.
- The blog posts block layout also plays an important role here and the text appears to be either behind he image or on top, but most of the times, the layout

[2022-07-19 08:02] Robertght commented on #6257
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I could replicate this issue on a self-hosted version of Skatepark too.

📌 ACTIONS
- Transferred to https://github.com/Automattic/themes/

[2022-07-19 10:12] kspilarski commented on #6267
Sure!

I also found out that if a post has a featured image, on a page with blog posts block and featured image, the post tittle and meta won't show.

If a post has no featured image and you add it on a page with blog posts block (with or without featured image), the post title and meta will show.

<img width="2248" alt="Screen Shot 2022-07-19 at 12 07 04 PM" src="https://user-images.githubusercon

[2022-07-19 15:02] KirkwallDay opened #7968 "Group Blocks on Dyad 2 have padding issues."
### Quick summary

The group block will have padding on some elements preventing content from aligning correctly inside the block. This is easiest to see with a group block and center-aligned column blocks inside of it.

### Steps to reproduce

1. Have a site with the Dyad 2 theme activated.
2. Create a group block with a columns block inside of it. Add some test content.
3. Set the columns to sho

[2022-07-19 16:37] beafialho commented on #5927
@jffng sorry for the delay, here's the devices screenshot:

![Vivre](https://user-images.githubusercontent.com/65220155/179803365-cd155863-3ee8-4d1b-af3d-553b6c8ea5db.jpg)

[2022-07-19 17:53] kathrynwp commented on #3291
I was not able to replicate this one on a Simple WP.com site, nor on a local install running:

WP 6.0.1
Twenty Seventeen 3.0
No active plugins

![Twenty_Seventeen_Test_Page_–_Self-hosted_Test](https://user-images.githubusercontent.com/7662449/179817135-5e1d0fec-7c89-4a99-bdaf-ac68d30e0ae4.jpg)

Because I can't reproduce, and also since the original user's site is no longer active, and because ther

[2022-07-19 17:53] #3291 closed, assigned to nobody

[2022-07-19 18:04] kathrynwp commented on #4867
For now I'm not moving this one to Core Trac since it's not clear to me whether this is a bug only affecting the Masonry block (as shown in the video) or a core block as well.

@kimerlin81 If you have a moment, it would help for further triage if you could you please **list clear steps to replicate this issue** and clarify whether:
- Does the bug only apply to the Masonry block, or does it affect

[2022-07-19 18:08] kathrynwp commented on #5345
I'm adding "Core fix needed" as this looks like a Gutenberg issue affecting multiple themes, and should ideally be fixed at the block level rather than theme by theme.

[2022-07-19 18:11] kathrynwp commented on #5344
As far as I know, this is not a bug but an intentional design decision for these themes.

If a user prefers another type of display, they can use custom CSS.

Closing as wontfix since the design of these bundled themes is not going to be changed in core at this stage.

[2022-07-19 18:11] #5344 closed, assigned to nobody

[2022-07-19 18:29] kathrynwp commented on #5836
Re: Twenty Seventeen, I think it's probably to be expected that this bundled (aka default/core) theme doesn't necessarily support the same social icons as the ones mentioned in the support document linked to above. As a bundled theme, it's not necessarily going to follow the same standards as Automattic themes, or themes supporting Jetpack's social menu. For that reason, I'm not going to open a ti

[2022-07-20 07:04] devNigel commented on #7968
I tried to reproduce this issue and I noticed that the Group block has a [setting to remove the top and bottom padding](https://d.pr/i/5xpOOM) which worked on Editor view but had no effect on the live page. Was able to confirm with multiple themes like Dyad 2, 2020.

I think that issue is also related to this.

[2022-07-20 14:58] pbking commented on #6248
As mentioned those themes need a version bump.  Done here: https://github.com/Automattic/themes/pull/6259

[2022-07-20 19:56] supernovia commented on #7968
@KirkwallDay would you happen to have a handy screenshot of that?

[2022-07-20 20:35] pbking commented on #6062
Closing: Work merged in #6167

[2022-07-20 20:35] #6062 closed, assigned to nobody

[2022-07-20 20:36] pbking commented on #6077
Closing: Work merged in #6167

[2022-07-20 20:36] #6077 closed, assigned to nobody

[2022-07-20 20:36] #5847 closed, assigned to nobody

[2022-07-20 20:37] pbking commented on #5856
Closing: Work merged in #6167.

[2022-07-20 20:37] #5856 closed, assigned to pbking

[2022-07-20 22:11] thekingsprojects commented on #1639
Another case here: 35681152-hc

Temporary fix worked for them.

[2022-07-21 05:28] carolinan opened #6261 "Blockbase: Can not duplicate query pagination in index template due to invalid nesting"
## Steps to replicate

[Please include screenshots, browser information, and anything else that can help us recreate the problem.]

1. I activated the theme.
2. Opened the site editor, which presented the index template.
3. I expanded the list view and selected the query pagination block.
4. I selected the block toolbar. But I was unable to find an option to duplicate the block.

My goal was to ha

[2022-07-21 07:42] madhusudhand commented on #6248
Themes published to dotOrg now include style variations.

[2022-07-21 07:42] #6248 closed, assigned to nobody

[2022-07-21 08:34] #5550 closed, assigned to nobody

[2022-07-21 10:38] beafialho opened #6264 "Vivre: Blog posts links"
I just noticed this on the demo site.

- The posts shouldn't have an underline by default, but rather on hover. The reverse is currently happening.
- The underline also looks a bit too close to the text, comparing to the mockup.

https://user-images.githubusercontent.com/65220155/180193694-8220f4f7-8b0c-4595-a7c2-bfbf2277cc73.mov

Expected:

<img width="752" alt="Captura de ecrã 2022-07-21, às 1

[2022-07-21 10:42] beafialho opened #6265 "Vivre: Footer misplaced when there's only one post in post navigation"
If I navigate through the posts, and in a page there's only one post, this leaves me with a mostly white page, which is ok. What's weird is that the footer isn't at the bottom of the screen, but in the middle of it. Is there a way we can work this around?

<img width="1505" alt="Captura de ecrã 2022-07-21, às 11 39 13" src="https://user-images.githubusercontent.com/65220155/180195099-001a4386-17

[2022-07-21 11:15] beafialho opened #6266 "Vivre: Fixed background on featured images"
I just noticed this would be a nice touch to add the Post Template by default. Can we apply it to the theme?

https://user-images.githubusercontent.com/65220155/180200821-86598b24-e440-460c-91ed-090a4b332474.mov

[2022-07-21 11:55] Robertght commented on #6158
I cannot replicate this anymore and I've tried this on Simple and AT sites, with the default and a custom palette.

I believe this might've been fixed in the recent updates so I'm going to close it for now, but please reopen if needed.

[2022-07-21 11:55] #6158 closed, assigned to nobody

[2022-07-21 12:29] Robertght commented on #6267
Thank you @kspilarski !

To conclude, this happens if the Post, Page or Featured image has also a featured image together with the posts, posts or projects that are inside the Blog post block. From my findings, what happens is that the Featured image **covers** the title and post meta, making it impossible to see:

![image](https://user-images.githubusercontent.com/6737345/180212615-d20ab4d6-749a-

[2022-07-21 16:49] ghost opened #6270 "Blockbase 3.0 overrides properties in comment-blocks"

[2022-07-21 20:07] jffng commented on #5927
Thank you @beafialho ! This is done.

[2022-07-21 20:07] #5927 closed, assigned to jffng

[2022-07-21 22:43] mxhassani opened #6298 "Twenty Sixteen image overlay on posts without entry meta"
### Quick summary

There is some CSS code on the theme causing images to misalign when the post meta is hidden from the customizer.

### Steps to reproduce

1. Activate Twenty Sixteen theme
2. Deactivate all checkboxes under Customizer > Content Options > Post Details (this will hide post meta)
3. Create a new post (not a page)
4. Add a first block (any block)
5. Add a column block under it and se

[2022-07-22 07:50] #6004 closed, assigned to nobody

[2022-07-22 08:40] Robertght commented on #6272
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I believe this is a cool feature. Thank you for raising it @mxhassani !
-  @jeffikus would this be something doable in the near future or more of a core feature related?

📌 ACTIONS
- Transferred t nhttps://gi

[2022-07-22 10:31] sajmes commented on #4798
Stow: 36133998-hc

Occurs in editor and on live site.

Provided CSS to fix on live site.

[2022-07-22 13:09] mikeicode commented on #6025
Hever pdEkSe-K6-p2

[2022-07-22 14:04] #5833 closed, assigned to MaggieCabrera

[2022-07-22 14:09] pbking commented on #5756
I believe this can be closed now.  The Jetpack item noted above is available to all and I see the font options on TwentyTwentyTwo (and I think all Block themes?)

<img width="337" alt="image" src="https://user-images.githubusercontent.com/146530/180456969-889b14d0-c1f5-4820-8f29-5db55ca81663.png">

If you can confirm this can be closed.

[2022-07-22 14:21] pbking commented on #5894
Closing this as fixed.  Blockbase 3 [ships with the Comments Block ](https://github.com/Automattic/themes/pull/6080)which fixes this problem for Blockbase and all of the child themes.

[2022-07-22 14:21] #5894 closed, assigned to nobody

[2022-07-22 14:58] Gustavo-Hilario commented on #4798
Same as @bobmatyas, I couldn't reproduce this issue. Were you able to replicate this, @sajmes? If yes, would you mind sharing the steps? I tested on Simple and an AT site, but no luck.

[2022-07-22 17:57] matiasbenedetto opened #6274 "Club: work on the line-height of the text elements"
Implement and verify the line height of the typographic elements of the theme.

[2022-07-22 18:06] dcoleonline commented on #5011
Ran into this bug during a DIFM-L build for `pdEkSe-JY-p2`

[2022-07-22 19:32] Gustavo-Hilario commented on #6052
_Quick note: I couldn't replicate this on a local test site. Maybe this is only a bug on WP.com._

[2022-07-22 19:51] Gustavo-Hilario commented on #5756
Yep. Tested this on Simple and AT sites with `Twenty Twenty Two` and other blockbased themes, and this seems to be working again.

[2022-07-22 20:15] #5933 closed, assigned to nobody

[2022-07-22 20:15] #5928 closed, assigned to nobody

[2022-07-22 21:29] #5756 closed, assigned to nobody

[2022-07-22 21:54] jeffikus opened #6276 "Livro: Add white/light style variation"
Livro does not have an option to switch to a "white/light" style. We should add a style variation for this, effectively inverting the colors that are the default.

## Expected

@simison @beafialho can you please help to clarify the design requirements here, if this is a simple matter of switching colors or if there was something else more specific in mind for this?

[2022-07-22 22:20] jeffikus commented on #6272
@Robertght I'm AFK for the next 2 weeks and the team have tight priorities while I'm away. I'll pick this up when I return.

[2022-07-22 22:38] jeffikus commented on #5832
Removing from the board for now. We can relook at this later, for now we can use the script and possibly add to our deploy steps. @pbking thoughts?

[2022-07-22 22:57] vcanales commented on #2123
As mentioned by @mrfoxtalbot, we should consider additionally documenting the process for making the alignment customizable through the editor:

![Kapture 2022-07-22 at 18 52 21](https://user-images.githubusercontent.com/1157901/180578458-7324ecd3-0d9f-4b22-8f9d-3de9fdea7c03.gif)

[2022-07-23 17:14] kspilarski commented on #6267
Thanks @Robertght ! In the browser inspector, I set the featured image to display to none, and the post title and meta are displayed. It appears that the featured image is blocking the post title and meta.

[2022-07-24 04:20] hacchism commented on #3229
Another report on the **Apostrophe 2** theme.

I could replicate the issue with other old themes like **Sapor** and **Hemingway Rewritten**. So I've modified the issue title and removed the theme label.

As a workaround, suggested using Query Loop Block.

[2022-07-25 05:23] rinazrina commented on #6251
Encountered in 35709107-hc

Follow up:

- [ ] 5421099-zd-woothemes

~No need to follow up with the user since the issue has been resolved by replacing the block with the Comments block.~

A follow up would be great since the user is back asking if the issue has been fixed.

[2022-07-25 07:39] MaggieCabrera opened #6280 "Block themes: implement Quote block using nested blocks"
Now that https://github.com/WordPress/gutenberg/pull/25892 has been merged we can implement it in some of our themes that have more opinionated quote block styles.

[2022-07-25 08:08] mtias commented on #6276
We discussed this with @beafialho a few weeks ago. Just a a version that has dark text on a pure white background.

[2022-07-25 09:42] beafialho commented on #6276
That's right, just a change in color. Besides the "White" one, I also created a "Cream" one. Since this theme is suitable for long reads, it could be a nice addition.

They can both be found [here](https://www.figma.com/file/ALdcQWdMu3wmdoNv59VwYl/Livro?node-id=508%3A11).

White:
![White](https://user-images.githubusercontent.com/65220155/180747433-31538ab5-b58b-44c1-9d5a-1a003466efd1.png)

Cream:

[2022-07-25 14:39] tellisbethel commented on #5947
- [ ] Another here: 5416139-zd-woothemes . Asked user to change themes.

[2022-07-25 19:38] kimerlin81 commented on #6198
- another user affected; applied disable concatenate styles workaround

- [ ]  please follow up once fixed: 5422529-zd-woothemes

[2022-07-25 19:59] kathrynwp commented on #935
I can still replicate this on:

- WP.com Simple site
- WP.com Atomic site

The colour palettes feature is specific to WordPress.com, so this issue does not apply to Core and I won't open a ticket in Trac for it.

[2022-07-26 14:15] rickmgithub commented on #6298
A quick note to say the user added that this problem only occurs on posts created in July and so believes this is a recent problem.

[2022-07-26 15:32] kathrynwp commented on #2050
I'm not able to replicate this on a:

- Self-hosted site
- Simple WP.com site - spot-checked with several colour schemes via Appearance > Customize > Colors & Backgrounds
- Atomic WP.com site

Going to close but feel free to comment if anyone is still able to replicate.

[2022-07-26 15:32] #2050 closed

[2022-07-26 15:38] kathrynwp commented on #2178
I am not able to replicate this on:

- self-hosted site
- WordPress.com Atomic site
- WordPress.com Simple site

Lists are correctly aligned in all three:
![Self-hosted_Test_–_not_just_another_fake_company](https://user-images.githubusercontent.com/7662449/181049252-17412b85-9ec5-4b3c-88c5-8ee1a11a71cd.jpg)

Closing this out but if anyone is still able to replicate this, feel free to comment with

[2022-07-26 15:38] #2178 closed

[2022-07-26 15:41] #2498 closed

[2022-07-26 15:47] #4719 closed, assigned to nobody

[2022-07-26 16:35] #5204 closed, assigned to nobody

[2022-07-26 16:42] kathrynwp commented on #6155
It looks like these older themes are missing this line in functions.php

[code]

https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#spacing-control

That line **is** present in Independent Publisher 2, a theme that does include the Dimensions panel on the Buttons block

I can confirm that adding the above function to my test self-hosted site running Twenty Sixteen did

[2022-07-26 16:44] kathrynwp commented on #6155
p.s. As a workaround, on WordPress.com Atomic sites, the above function could be added in a functionality plugin to achieve the same results.

[2022-07-26 18:09] kathrynwp commented on #1903
I was **not** able to replicate this on a Simple site with **Spanish**:

![Category___Tag_Test_–_Global_Styles_Demo](https://user-images.githubusercontent.com/7662449/181079277-ac541d9c-0714-486f-8ade-a88edd2bd513.jpg)

But I **was** able to replicate on a Simple site with **Italian**:

![Category___Tag_Test_–_Global_Styles_Demo](https://user-images.githubusercontent.com/7662449/181079447-661e1221

[2022-07-26 18:19] kathrynwp commented on #1998
Looks like this issue with the Jetpack contact form in Twenty Fifteen is no longer present. I was unable to replicate on a self-hosted site, so going ahead and closing this.

Twenty Fifteen 3.2
WordPress 6.0.1
Jetpack 11.1.2
No other plugins active

Screenshot:
![Self-hosted_Test](https://user-images.githubusercontent.com/7662449/181082078-42e6a81c-6b59-4fb7-ad7c-d1a6da79377d.jpg)

[2022-07-26 18:19] #1998 closed

[2022-07-26 18:32] kathrynwp commented on #2013
I was unable to replicate on a:

- self-hosted site
- WordPress.com Atomic site
- WordPress.com Simple site

The list was correctly aligned in the editor in all three scenarios.

**Simple Site screenshot:**

![Add_New_Post_‹_Global_Styles_Demo_—_WordPress](https://user-images.githubusercontent.com/7662449/181084348-501c17c7-75a2-4909-9550-2f056f627535.jpg)

On self-hosted, tested with:

Twenty Fif

[2022-07-26 18:32] #2013 closed

[2022-07-26 19:23] kathrynwp commented on #2014
Noting that the option to apply colour to text in a Paragraph block has moved under the inverted carat, and is now called Highlight.

I'm not able to replicate this with:

- Self-hosted site (Twenty Fifteen 3.2, WordPress 6.0.1, no plugins active)
- WordPress.com Simple site
- WordPress.com Atomic site

WordPress.com Simple site screenshot:

![Edit_Post_‹_My_Blog_—_WordPress_com](https://user-imag

[2022-07-26 19:23] #2014 closed

[2022-07-26 19:27] dlind1 commented on #1903
The translations for [comma](https://translate.wordpress.com/projects/wpcom/themes/twentyfifteen/-all-translated/196971/) in Twenty Fifteen theme are supposed to have a space after the comma, which was missing in Italian, Greek, Spanish (Chile), Estonian, Gujarati, Slovak, Tamil, Tagalog and Ukrainian.
I've updated the translations to include the space and it should be deployed tonight.

[2022-07-26 19:35] kathrynwp commented on #5394
Confirming that I can still replicate on Simple and Atomic WordPress.com sites.

As the "Coming Soon" feature is specific to WordPress.com, I won't open an issue over in Core Trac.

[2022-07-26 20:00] pbking opened #6288 "Automate Core Theme Update Process"
We need an automated process to update wpcom themes with changes to core themes.

We currently have a different repository with versioning that differentiates our core themes so that we have the option to make changes faster than the core theme pipeline allows, or changes specific to the platform.

We need to bring in the changes to core themes regularly. While this likely can't be fully automated

[2022-07-26 21:55] pbking commented on #6288
~~I haven't figured out how to do this within the structure of the themes git repository.  It may be possible but I haven't figured it out.  In the meantime I've created [this repository](https://github.com/Automattic/core-theme-utilities) which is mostly just a utility script and a place for the checked out resources to live.  It also makes a convenient place to use wp-env to test the themes loca

[2022-07-27 05:23] rw-ye commented on #6195
+1 5427038-zd-woothemes

Recommended they use the Styles tab to change colors for menu links.

[2022-07-27 05:53] #5292 closed, assigned to nobody

[2022-07-27 06:30] kavyagokul opened #6289 "Payton: Font selection doesn't save in global styles > Text"
## Steps to replicate

Start with a site on the Payton theme.

1. Go to Apeparance > Edit
2. On the top right corner, click the global styles button
3. Select the Typography option, and then the *Text* option
4. Set the *Font family* to one of the available options apart from Default
5. Save changes, and reload
6. Go back to global styles > Typography > Text

## Result

The Default option is set u

[2022-07-27 09:45] #3633 closed, assigned to nobody

[2022-07-27 10:03] #4348 closed, assigned to nobody

[2022-07-27 14:40] #3062 closed, assigned to nobody

[2022-07-27 14:42] #2182 closed

[2022-07-27 14:43] #1903 closed

[2022-07-27 16:36] #6222 closed, assigned to madhusudhand

[2022-07-27 17:00] renata-franco commented on #7968
📌 SCRUBBING

- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - Yes

------

📌 FINDINGS/SCREENSHOTS/VIDEO

I was able to replicate this issue on Simple and AT sites, as well as self-hosted.

**AT site, Simple site, and Self-Hosted site:**

<table>
<tr>
	<td> Editor Look
	<td>
<img width="854" alt="imagen" src="https://user-images.githubusercontent.com/81378719/1

[2022-07-27 19:49] pbking commented on #6288
Ok... ignore the above.  I was able to do what I was doing in the separate repository but instead do it in the bounds of the /pub themes project; I'll be closing that other repo down.

You can find the work to improve the core syncing scripts as well as all of the diff created using that process in [this change](https://github.com/Automattic/themes/pull/6292).

[2022-07-28 06:28] scrobbleme opened #6294 "[block-canvas] Publish to WP repository?"
Hello,

I'm currently using Blockbase as a parent theme for all of my new projects, but this still has to much "bload" ;) (template parts, ... I don't need).

Wasn't aware of block-canvas, which is even more basic.

It would be nice to have this in the official repository, so I would get updates automatically.

Thanks

Adrian

[2022-07-28 07:05] devNigel commented on #7968
@renata-franco  Do you have CoBlocks active? Based on [this thread](p1658989696450379/1658988071.088579-slack-C03TY6J1A), it looks like it is a feature from CoBlocks.

[2022-07-28 08:30] arthur791004 opened #6295 "Baskerville 2: The value of the content width is wrong"
### Quick summary

The content width of the Baskerville 2 theme is incorrect so the width of the image is smaller than the content width and the image cannot occupy the entire column which looks weird.

Besides, the customer also mentioned this behavior only happened recently and it works well several days ago.

Related to 5427858-zd-woothemeswhich

### Steps to reproduce

1. Switch to Baskerville

[2022-07-28 08:39] mikachan commented on #6294
Hi Adrian. It's great to hear you've found Blockbase useful, and that you're trying out Block Canvas as well!

The main reason Block Canvas isn't listed in the repository is that it's more of a starter theme and not designed to be user-facing. It's intended as a base theme to start other block themes from, rather than being used as a parent theme. However, it would be great to hear how you use it,

[2022-07-28 09:26] scrobbleme commented on #6294
@mikachan
Personally, I like to work with parent themes (instead of boilerplates), so

- I don't have to take care of "manually tracking and merging" boilerplate themes…
- and have clear separation of what is "standard" and what are my changes
- I also always use the parent theme as reference for how things "currently" work

For block-canvas. Maybe this could just be the "invisible" core parent di

[2022-07-28 10:25] renata-franco commented on #7968
No, I do not have CoBlocks on any of the sites. We stopped having that plugin as default a while ago. Can you try deactivating it on the site where you took the screenshot to see if the option still appears?

[2022-07-28 10:29] mikachan commented on #6294
Thanks for sharing how you use parent themes.

I like this idea! Have you tried the [Create Block Theme](https://wordpress.org/plugins/create-block-theme/) plugin? This has a 'create blank theme' option which creates a theme that is very similar to Block Canvas.

[2022-07-28 10:33] Robertght commented on #6295
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No ( I can only see Baskerville on .org)

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the behavior described happens.

📌 ACTIONS
- Marked as Triaged for Quality Squad review
- Transferred to https://github.com/Automattic/themes/

[2022-07-28 10:42] Robertght commented on #6289
I'm going to close this in favor of https://github.com/Automattic/wp-calypso/issues/66037

[2022-07-28 10:42] #6289 closed, assigned to nobody

[2022-07-28 10:49] Robertght commented on #6195
@mrfoxtalbot if you have some bandwidth, I may need a double check on this issue.

[2022-07-28 11:31] scrobbleme commented on #6294
I will look into the plugin. I'm already using a mixed experience, editing as much as possible with FSE and then using the existing exporter to grab template files ;)

[2022-07-28 11:33] filipanoscampos commented on #6195
Another one, here 36227265-hc

Follow-up here, please:

- [ ] 5430800-zd-woothemes

[2022-07-28 12:23] #3500 closed, assigned to nobody

[2022-07-28 13:14] #6288 closed, assigned to nobody

[2022-07-28 14:14] pbking opened #6296 "Sync TwentyFifteen with core"
[This change](https://github.com/Automattic/themes/pull/6292) introduced the ability to (relatively painlessly) sync core theme changes from wporg to wpcom.

It worked well for all themes except for TwentyFifteen.  When using the utility the logs caused the command to uh... not work.  I wasn't able to discern why or how to get around it (short of not including the logs in the diff).

The highest p

[2022-07-28 14:30] mikeicode commented on #6025
Exford pdEkSe-Om-p2

[2022-07-28 15:42] sajmes commented on #4798
@Gustavo-Hilario - I cannot replicate on my own site.

[2022-07-28 16:13] kathrynwp commented on #6054
Just confirming what @Robertght mentioned above - this needs to be fixed in Core first:

https://core.trac.wordpress.org/ticket/55892

Once it's been fixed there, it can be ported back to WP.com

[2022-07-28 17:42] cuemarie commented on #6298
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- Thank you for the detailed notes!
- I was able to replicate this issue in a **Simple Test Environment** only. AT site did not present the same issue, and Twenty-Sixteen in a self-hosted environment did not offer `Customize > Content Options` .
- Tried a couple other

[2022-07-28 18:40] mikeicode commented on #6025
Another Exford pdEkSe-Op-p2

[2022-07-29 01:27] cuemarie opened #6301 "Cerauno: Heading blocks cannot wrap around images"
### Quick summary

On theme Cerauno, setting an image block to align-left or right to allow text to wrap around the image doesn't work. The Editor shows the wrapped text, but the live site does not.

### Steps to reproduce

1. On a test site, switch to the theme "Cerauno"
2. On a page or post, add an image block
3. After that, add paragraph and heading blocks
4. Set the image block to align-left o

[2022-07-29 02:07] Jaykame opened #6356 "Media & Text block does not apply theme colors on background property in Dalston Theme"
### Quick summary

Media & Text block does not apply theme colors on background property in Dalston Theme.

### Steps to reproduce

1. Have "Dalston Theme" installed.
2. Insert "Media & Text" block in a new or existing page.
3. On block settings, choose a "theme" background color.
4. Background color is changed on the editor.
5. Preview/publish - background color is not set.
6. Insert another "Med

[2022-07-29 10:45] matiasbenedetto commented on #6214
This is being done in https://github.com/Automattic/themes/pull/6262

[2022-07-29 14:26] Robertght commented on #6301
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 ✅
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I can confirm the issue is present, but it's caused by the Headings block. If the text doesn't have any heading blocks around the image, it'll wrap ok. A potential workaround could be to mimic a Headings bloc

[2022-07-29 15:04] Robertght commented on #6356
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes/No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- I'm unable to replicate this on my end. @Jaykame is this happening on a specific browser? Also, is it possible to see a test site where the issue happens?

📌 ACTIONS
- Await author feedback

[2022-07-29 18:24] Babylon1999 commented on #5602
Another case here: 5433083-zd

I provided the CSS workaround.

Note:

I noticed that force switching to the black and white Dune tone in Gutenberg and removing it seems to fix this, I don't know what's triggering the problem thou so I'm not sure it will switch back in the future. Might be useful for non-CSS enabled sites.

[2022-07-29 22:57] cuemarie commented on #6301
The user from this report replied with the same findings - if they remove the Headings block, the text wraps!

I replied to the user to affirm their findings and explain how to workaround this for now

### Workaround 1
Build the heading block above the image instead.

<img width="550" alt="screenshot" src="https://user-images.githubusercontent.com/27249804/181855516-bb94df4f-34bc-4869-bf7f-0887aa4

[2022-07-31 07:02] Jaykame commented on #6356
@Robertght I updated the report (see above) with some gifs showing what is happening. In short, the Media & Text block would not take in theme colors options - be it default theme colors or added by user on theme customizer as theme colors. The background color would update when you pick a custom color instead.

I tried to apply the color added to the theme color in HEX code when using the custom

[2022-07-31 10:40] liviopv opened #6304 "Christopher: no content is displayed when using CoBlocks animate feature"
## Steps to replicate

1. Add a block to a post or page
2. Use the animate feature

## Result

The content of the block will not be displayed on the frontend
[What happened.]

## Expected

The content of the block should be displayed on the frontend.

- [ ] User report: 5437276-zen

[2022-08-01 06:07] kuropixel opened #6320 "Payton: Theme only displays 2 fonts for Global Styles text font choices"

[2022-08-01 09:02] csabarakasz commented on #3371
Same issue here:

- [ ] 5440411-zd-woothemes

[2022-08-01 12:00] syds87 commented on #5602
Another case reported here: 36256873-hc using Twenty Twenty-Two Mint. Solved with CSS workaround

[2022-08-01 16:14] mikeicode commented on #6025
Morden pdEkSe-Ox-p2

[2022-08-01 16:20] matiasbenedetto opened #6306 "Club [Safari Browser]: Button width issue"
## Steps to replicate
- Activate the Club theme
- Navigate the home page
- Check if the button width issue described [here](https://github.com/Automattic/themes/pull/6258#issuecomment-1192960889) persists

## Result
![image](https://user-images.githubusercontent.com/1310626/182195983-6f91017f-21af-4ed7-aca8-c7168defb56e.png)

## Expected
The button width should match how it looks in other browsers

[2022-08-01 16:23] #6221 closed, assigned to matiasbenedetto

[2022-08-01 21:36] Gustavo-Hilario commented on #4120
I tested this issue with a local and on a WordPress.com Simple site, but I couldn't replicate this issue. I think this is fixed now.

[2022-08-02 00:47] thekingsprojects commented on #5110
- [ ] Another case in 5273341-zen. They're on Pro so I didn't share the CSS workaround, but I did let them know about the Filled option.

[2022-08-02 07:10] galakhyati opened #6322 "The links are showing with underline"
### Quick summary

After updating the WordPress.com Editing Toolkit plugin to version 3.37635 the links on the site are showing with an underline.

### Steps to reproduce

1. The menu links and other links on the site should be existing.
2. WordPress.com Editing Toolkit is updated to v3.37635
3. The links will now be showing with an underline.
4. Removing from the Editor isn't affecting on the fro

[2022-08-02 07:39] mriyazuddin opened #6323 "Lodestar theme: List block on homepage appears center aligned by default"
### Quick summary

On home page List block appears center aligned by default when using the Lodestar theme.

### Steps to reproduce

1. On a simple or AT site, activate the Lodestart theme.
2. On the home page, add a list block with a few list items.

### What you expected to happen

The list should have appeared left-aligned.

### What actually happened

The list appears center aligned.

### Cont

[2022-08-02 07:40] mriyazuddin commented on #6323
- [ ] #5440049-zd

[2022-08-02 09:09] MaggieCabrera opened #6308 "Blockbase: remove pagination CSS"
Now that https://github.com/WordPress/gutenberg/pull/42764 has been merged, we can actually remove the heavy handed CSS that lives in Blockbase to fix this problem.

[2022-08-02 13:30] pbking commented on #6308
From what I can tell Blockbase doesn't add any CSS to fix the problem that's there, and the change mentioned doesn't do anything for the layout Blockbase uses there.

<img width="765" alt="image" src="https://user-images.githubusercontent.com/146530/182386763-ecfbe42d-cecf-48d1-bf2d-c0e76a646a42.png">

[2022-08-02 13:47] Gustavo-Hilario commented on #2105
I tested this bug on a local site and on WP.com simple and AT sites. I couldn't reproduce this issue. I think this is already solved, and we can close it now.

[2022-08-02 17:34] tellisbethel commented on #5736
Another instance of this here: 36298657-hc
Follow up ticket: 5445832-zd-woothemes

[2022-08-02 18:29] #2105 closed

[2022-08-02 18:30] #4120 closed, assigned to nobody

[2022-08-03 05:00] #5591 closed, assigned to nobody

[2022-08-03 07:47] pauljacobson opened #6329 "[Baskerville 2] Image Block: slight margin added to Full-Size Image blocks on plugin-enabled sites"
### Quick summary

Our user raised a concern about what seems to be a small amount of padding or margin that is added to an image in an Image Block like this:

https://user-images.githubusercontent.com/2912202/182549496-2c8a9dcd-c133-4551-8c8f-3aedf6d6dfe8.mp4

This doesn't seem to originate in the theme's CSS code, though. There also isn't an option to manage this in the user's post editor. This

[2022-08-03 07:59] #6306 closed, assigned to nobody

[2022-08-03 13:08] wiesenhauss commented on #4903
Another user reported the issue - 5448546-zen
User said the issue appeared "suddenly this week," but Hemingway Rewritten was activated 6 months ago.

Editor view:
<img width="146" alt="Markup 2022-08-03 at 09 33 08" src="https://user-images.githubusercontent.com/99455043/182615713-edbdabea-259a-4f4c-b1d7-21a4424c06a4.png">

Frontend view:
<img width="164" alt="Markup 2022-08-03 at 09 33 29" src="h

[2022-08-03 15:44] #6224 closed, assigned to nobody

[2022-08-03 16:33] pbking opened #6311 "Lock Postcontent Blocks"
Just as [we have done for Blockbase and its kin](https://github.com/Automattic/themes/pull/6299) we should also do for all of our Block Themes.

`"lock":{"move":false,"remove":true}`

Add the block attributes to the post content block so that users cannot remove the block from the template (without first unlocking the block).

[2022-08-04 00:25] tanjoymor commented on #3321
Adding to this report that the same situation happens with the Link Color setting.

1. Navigate to `Customize > Colors & Background`
2. Change the link color and save
3. Open the editor and add a link (color remains as the themes default color)

User report: 27167061-hc (was able to reproduce on a Simple site)

[2022-08-04 06:29] mriyazuddin commented on #6329
User has replied back saying this page is a good example of the space around the image: https://chrisbocay.com/master-the-law-of-attraction/

[2022-08-04 08:00] #6227 closed, assigned to matiasbenedetto

[2022-08-04 08:00] #6223 closed, assigned to matiasbenedetto

[2022-08-04 10:43] janmckell commented on #5110
- [ ] Another case here, although user has Russell theme. 5435226-Zen. Provided CSS workaround.

[2022-08-04 13:50] cintacks commented on #6508
Another instance of button colors not inheriting correctly: 36328844-hc

Provided CSS workaround:
[code]

[2022-08-04 17:09] #6209 closed, assigned to matiasbenedetto

[2022-08-04 17:48] KirkwallDay commented on #2299
Ran into another instance of this here: 36332209-hc

[2022-08-04 20:31] Gustavo-Hilario opened #6351 "Pique: columns(Columns Block) with wide alignment are getting cut off on mobile"
### Quick summary

Column blocks with wide alignment are cut off on mobile. **User should be using a sidebar**.

### Steps to reproduce

1. Activate the `Pique` theme on a test site.
2. On the Customizer, add any block to the `Sidebar` widget, just to make sure your site has a sidebar.
3. Create a new page.
4. Add a `Column` block and add some content like paragraphs and images.
5. Save, publish t

[2022-08-04 22:58] manuelrebollo-a11y commented on #5554
Related issue reported in 5450315-zd-woothemes

[2022-08-05 01:15] jamiepalatnik commented on #6320
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- I was able to recreate this issue on simple and AT test sites. In Global Styles > Typography > Text > Font family, I see only Default, Source Serif Pro, and Overpass in the dropdown.
- I was not able to test on a self-hosted site since I wasn't able to find a version of the Payton theme for self-hosted sites.

📌 ACTI

[2022-08-05 04:33] Robertght commented on #6322
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- It looks like this bit is causing it:
![image](https://user-images.githubusercontent.com/6737345/183001994-2c031a45-ef71-43bf-aa88-ea35597e1230.png)

📌 ACTIONS
- Transferred to XYZ external repo: https:/

[2022-08-05 04:40] Robertght commented on #6320
Moving this to .com as it's a Premium theme.

cc @Automattic/serenity

[2022-08-05 04:44] Robertght commented on #6323
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - No

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted - no

📌 FINDINGS/SCREENSHOTS/VIDEO
- It looks like this bit is causing it:
![image](https://user-images.githubusercontent.com/6737345/183001994-2c031a45-ef71-43bf-aa88-ea35597e1230.png)

📌 ACTIONS
- Transferred to XYZ external repo: https:/

[2022-08-05 06:46] #6311 closed, assigned to madhusudhand

[2022-08-05 09:00] liviopv commented on #6195
- [ ] 5454966-zd-woothemes

My test on the ticket above indicate that is not only font color, but font size as well.

One other thing I noticed, which might be a different issue all together, is that using the "Restore Defaults" option leads to an `The editor has encountered an unexpected error`.

<img width="351" alt="Captura de ecrã 2022-08-05, às 09 56 55" src="https://user-images.githubuserc

[2022-08-05 09:15] #6163 closed, assigned to nobody

[2022-08-05 15:36] mikeicode commented on #6025
Shawburn pdEkSe-Ug-p2

[2022-08-05 15:52] mikachan commented on #6296
TwentyFifteen has now been synced (D85306-code), and the issue with logs vs sync script was fixed here: https://github.com/Automattic/themes/pull/6310 🎉

[2022-08-05 15:52] #6296 closed, assigned to nobody

[2022-08-05 17:54] matiasbenedetto commented on #6214
Implemented in https://github.com/Automattic/themes/pull/6262

[2022-08-05 17:54] #6214 closed, assigned to nobody

[2022-08-05 17:55] matiasbenedetto commented on #6212
Implemented in https://github.com/Automattic/themes/pull/6262

[2022-08-05 17:55] #6212 closed, assigned to madhusudhand

[2022-08-05 17:55] matiasbenedetto commented on #6213
Implemented in https://github.com/Automattic/themes/pull/6262

[2022-08-05 17:55] #6213 closed, assigned to madhusudhand

[2022-08-05 19:19] cuemarie commented on #6329
📌 SCRUBBING
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅
- Replicable on Core - No

📌 FINDINGS/SCREENSHOTS/VIDEO
- ✅ I am able to replicate this issue on **AT** sites, only using **Baskerville 2** theme.
- On **AT**, all image sizes show some kind of slight margin, wheras on **Simple**, only the Large image size shows that slight margin, but Full-Size shows no margin at all.
- ❌

[2022-08-05 19:50] cuemarie commented on #5554
Closing in favor of the multiple theme report here: https://github.com/Automattic/wp-calypso/issues/66233

[2022-08-05 19:55] #5554 closed, assigned to nobody

[2022-08-06 04:45] Robertght opened #6330 "Twenty Fourteen: Sticky posts are not displaying consistently"
### Quick summary

I encountered a case with someone who wanted to display 6 sticky posts as a grid on the homepage, but they could only see 5.

### Steps to reproduce

1. Activate Twenty Fourteen
2. Create several posts. ~10 would be ok
3. Set 6 of them as sticky
4. Make sure the Featured content is set to display a Grid from Customizer
5.. Check the results

### What you expected to happen

From

[2022-08-06 04:51] Robertght commented on #6330
📌 HOUSEKEEPING
- Labels ✅
- Priority ✅
- Replicable on Core - Yes

📌 SCRUBBING
- Tested on P2 - no
- Tested on Simple ✅
- Tested on AT ✅
- Tested on Self-hosted ✅

📌 FINDINGS/SCREENSHOTS/VIDEO
- Created a trac report here: https://core.trac.wordpress.org/ticket/56343#ticket

📌 ACTIONS
- Transferred to themes

[2022-08-06 13:52] yashitamittal11 commented on #3365
I tested the Stratford theme and noticed two issues that are also present in the parent Varia theme.

1. Button text color changes to white on hover
2. If button background color = foreground color or background color and
the user has selected custom text color, then
custom text color does not show.

This is the homepage of the Stratford demo theme-

![stratford](https://user-images.githubusercont

[2022-08-06 13:55] yashitamittal11 commented on #3365
@madhusudhand Can you please share feedback on my approach to solving this issue?

[2022-08-06 17:58] emiliogarza commented on #5971
In looking for Good First Issues, the URL seems to properly redirect now to the default branch which is trunk. https://github.com/Automattic/themes/tree/master/maywood for example, redirects to https://github.com/Automattic/themes/tree/trunk/maywood with a message that says, "Branch not found, redirected to default branch."

[2022-08-08 05:42] madhusudhand commented on #6226
Looking at the following designs, the border bottom seem to be not part of the header template. It is only there when there is posts list.

<img width="404" alt="image" src="https://user-images.githubusercontent.com/1935113/183346943-9bab6173-ba9d-444b-8ed6-7579b4e3d5f1.png">

<img width="387" alt="image" src="https://user-images.githubusercontent.com/1935113/183346980-e461f073-c0fc-4b22-b3db-148c

[2022-08-08 06:56] mdtanjid0 commented on #6066
Another one: 5461208-ZD

Theme: Dorna

[2022-08-08 09:26] #6226 closed, assigned to matiasbenedetto

[2022-08-08 14:23] bobmatyas commented on #2123
Fixed via https://github.com/Automattic/themes/pull/6231

[2022-08-08 14:23] #2123 closed

[2022-08-08 17:47] Gustavo-Hilario opened #6352 "Lodestar: Home page: Full width blocks are not full width"
### Quick summary

A page with full-width blocks won't show up as full-width when set as the home page.

### Steps to reproduce

1. Activate `Lodestar` theme.
2. Create a new page with full-width blocks. It can be a Cover, Group, Columns, or any other.
3. Set this page to be the home page in the site's Customizer.
4. Check the published page.

Home page content won't show up as full width.

### Wh

[2022-08-08 17:51] KirkwallDay opened #6355 "Spearhead: Setting custom primary color results in links turning white on hover."
### Quick summary

Setting a custom primary color on the Spearhead theme results in links turning white on hover.

### Steps to reproduce

1. Have a site with the Spearhead theme.
2. In Customize > Colors and Backgrounds set the primary color to a custom one by hitting "Pick your own custom color."
3. At first things will look fine, save the changes and view a page on the live site.

### What you

[2022-08-08 18:14] pbking commented on #5971
I believe that the proper URI for themes to link to is `https://wordpress.com/theme/SLUG` rather than anything on github (master, trunk or otherwise).  All of the themes noted here have been addressed and I believe this item can be closed now.

[2022-08-08 18:14] #5971 closed, assigned to nobody

[2022-08-08 18:23] bobmatyas opened #6341 "Penscratch 2: Button Borders Don't Look Right on Safari"
## Steps to replicate

1. Switch to Penscratch 2
2. Add button
3. Publish post/page and view on frontend using Safari on macOS.

## Result

<img width="763" alt="Screenshot on 2022-08-08 at 14-20-10" src="https://user-images.githubusercontent.com/45246438/183486758-d6393357-f2ce-4c6a-9ed4-bb9f101fe3a8.png">

## Expected

Button should display with proper borders as it does in other browsers. Examp

[2022-08-08 19:29] jeffikus commented on #6308
Moving this off our board for now as this is labelled an enhancement.

[2022-08-08 19:31] jeffikus commented on #6108
@madhusudhand @mikachan looks like only Blank Canvas is remaining on this list, any others we've missed?

[2022-08-08 20:34] #6219 closed, assigned to nobody

[2022-08-09 06:18] #6025 closed, assigned to nobody

[2022-08-09 06:19] #6341 closed, assigned to nobody

[2022-08-09 07:13] #6270 closed, assigned to nobody

[2022-08-09 07:51] scrobbleme opened #6346 "[Idea] Use "block-canvas" as integrated parent theme"
This is an idea following my comment at: https://github.com/Automattic/themes/issues/6294#issuecomment-1197893642

**Idea**

Integrate an "invisible" parent theme directly into WordPress core, which

- all block based themes automatically inherit from
- provides a bare minimum of functionality, which probably everyone needs
  - One basic header (with a default menu), content, one basic footer
- Se

[2022-08-09 10:00] #6218 closed, assigned to matiasbenedetto

[2022-08-09 11:13] Gustavo-Hilario commented on #5036
I think this is a duplicate: https://github.com/Automattic/jetpack/issues/19285

Another user reported this issue here:

- [ ] 5463824-zen

They are using the block-based theme – `Remote`.

I learned this could be fixed by using a different color other than white.

![Markup on 2022-08-09 at 08:10:44](https://user-images.githubusercontent.com/50875131/183633919-4c26105d-b1a7-4cc8-9858-81c27be5eb53.

[2022-08-09 12:16] #6216 closed, assigned to nobody

[2022-08-09 12:18] matiasbenedetto commented on #6228
@beafialho would you be able to provide the screenshot and description for Club theme?

[2022-08-09 12:33] mikachan commented on #6108
Looking through our other themes, it looks like we may also need to update Livro, Skatepark and Stewart. I'll add them to the above list, they shouldn't take long to update.

[2022-08-09 13:23] #6217 closed, assigned to matiasbenedetto

[2022-08-09 14:26] ChrisBocay commented on #6329
Hello,

I am the original reporter of this phenomenon, which was done in a series of email messages to the Wordpress.com support team.

Unfortunately, not all details of my email messages have been transferred to this forum, so I am taking this opportunity to make this issue somewhat clearer.

THE ISSUE

Wordpress has always, to my knowledge, succeeded in downsizing any image on any post or page t